[2017-08-17 13:41] ccordoba12 commented on #4981
@andfoy, please take a look at this one.

[2017-08-17 13:42] ccordoba12 commented on #4843
No problem, thanks for letting us know about it.

[2017-08-17 13:45] ccordoba12 commented on #4983
How did you install Spyder notebook?

[2017-08-17 13:47] ccordoba12 commented on #4982
I think you can handle this better by using Anaconda Navigator.

@goanpeca?

[2017-08-17 13:48] goanpeca commented on #4982
@rounakskm are you using anaconda and conda I assume? You can easily launch spyder from anaconda navigator, you might want to give it a try. Otherwise you need to activate the specific environment and launch it from the terminal/prompt

[2017-08-17 13:53] ccordoba12 commented on #4980
Sorry but we don't have any influence on Macports. We had a very active maintainer some years ago, but it seems he retired from the project.

[2017-08-17 13:53] #4980 closed

[2017-08-17 13:53] ccordoba12 commented on #4980
*Macports* maintainer, I meant.

[2017-08-17 13:53] rounakskm commented on #4982
Thanks for the help. I'll give it a try

Regards,
Rounak

On Aug 17, 2017 7:18 PM, "Gonzalo Peña-Castellanos" <
notifications@github.com> wrote:

[2017-08-17 13:56] ccordoba12 commented on #4982
Closing because this is not a Spyder bug.

Feel free to keep chatting with @goanpeca here though.

[2017-08-17 13:56] #4982 closed

[2017-08-17 14:05] ccordoba12 commented on #4985
I think

    conda remove pyreadline

should fix your error.

[2017-08-17 14:05] #4985 closed

[2017-08-17 14:06] rlaverde opened #4986 "Improve how spyder manages configuration (CONF)"
Some widgets and plugins import `CONF` directly, It isn't the best design pattern, because It doesn't allow to change the configuration easily (for example for testing)

The solution:

Neither main window, plugins or widgets should access to the CONF directly, the will receive conf as a part of their creation:

[code]

I also found a fixture for configuration, that isn't used in this [file](https:

[2017-08-17 14:07] goanpeca commented on #4986
@rlaverde we needd class PluginWidget(BasePluginWidget):
`    def __init__(self, main=None, configuration=CONF):` otherwise we break plugins for standalone run / test

[2017-08-17 14:19] ccordoba12 commented on #4967
Because it's easier to install and maintain. If you use `pip`, that will the same extra resources with the disadvantage that it's very hard to debug.

Which packages? Please be clear, so we can help you better.

Anaconda doesn't update anything by itself, unless you run `conda update foo`.

Also, please be clear and tell us what these version conflicts are.

Your reported error message

     As re

[2017-08-17 14:23] jnsebgosselin commented on #4067
@ccordoba12 Alright, this definitely sounds interesting :). I will take a look into this soon.

[2017-08-17 14:27] ccordoba12 commented on #4984
Thanks for reporting. We'll take a look at it in 3.2.2.

[2017-08-17 15:52] fanwei918 opened #4988 "issue_170817"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/Users/weif/anaconda/envs/py36/lib/python3.6/site-packages/spyder/widgets/variableexplorer/arrayeditor.py", line 384, in setEditorData
    text = from_qvariant(index.model().data(index, Qt.DisplayRole), str)

[2017-08-17 16:30] ccordoba12 commented on #4988
Please post the code that generated the array you were trying to visualize.

[2017-08-17 18:43] Animadversio opened #4989 "Spyder Issue when using ctrl+P : goto line"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\Program Files\Anaconda3\lib\site-packages\spyder\widgets\fileswitcher.py", line 755, in setup
    self.setup_file_list(filter_text, current_path)
  File "C:\Program Files\Anaconda3\lib\site-packages\spyder\w

[2017-08-17 18:49] ccordoba12 commented on #4989
Thanks for reporting. We'll fix this in our 3.2.2 version.

[2017-08-17 19:27] themanutdmaniac commented on #3730
@ccordoba12
the same issue crops up even though i followed all your steps...:(

[2017-08-17 19:28] themanutdmaniac commented on #3730
[warn] kq_init: detected broken kqueue; not using.: Undefined error: 0
[warn] kq_init: detected broken kqueue; not using.: Undefined error: 0
[warn] kq_init: detected broken kqueue; not using.: Undefined error: 0
[warn] kq_init: detected broken kqueue; not using.: Undefined error: 0
[warn] kq_init: detected broken kqueue; not using.: Undefined error: 0
[warn] kq_init: detected broken kqueue; not u

[2017-08-17 19:55] Peyman87 commented on #3868
I ran this "pip install --upgrade spyder" in "Anaconda prompt" and then used "spyder --show-console" and it worked.

[2017-08-17 21:46] andfoy commented on #4434
I'm afraid I cannot reproduce this one:
![captura de pantalla de 2017-08-17 16-44-38](https://user-images.githubusercontent.com/1878982/29435185-9f15b40a-836b-11e7-9ee0-14cd3bb6e968.png)

[2017-08-17 22:05] andfoy commented on #4932
@ccordoba12 How do I include that modifications on sitecustomize?

[2017-08-17 23:26] #4981 closed

[2017-08-17 23:33] ccordoba12 commented on #4960
What do you mean by a `cmd.exe`? Is there a system terminal left open?

[2017-08-17 23:36] ccordoba12 commented on #4932
I forgot about it, but this is a duplicate of issue #3529.

[2017-08-17 23:36] #4932 closed

[2017-08-17 23:39] andfoy commented on #4051
I think this one was Qt-related @ccordoba12, I couldn't reproduce it

[2017-08-17 23:42] ccordoba12 commented on #4051
Thanks @andfoy. I also think this is Qt issue, so we can't anything about it in Spyder.

[2017-08-17 23:44] ccordoba12 commented on #4989
@dalthviz, please take a look at this one.

[2017-08-18 05:29] Animadversio opened #4994 "Spyder Profiler save data crash"
## Description

**What steps will reproduce the problem?**

1. In Profiler Tab select a script file and run profiler
2. the script has run to its end but there is nothing in profiler window (maybe very slow....)
3. I try to "save data" in profiler tab, And the error pop up

**What is the expected output? What do you see instead?**
I don't know the expected output of "save data" in profiler, for it

[2017-08-18 05:55] tanayz opened #4995 "Automatic crash"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "D:\Anaconda2\lib\site-packages\spyder\widgets\editor.py", line 1694, in focus_changed
    self.refresh()
  File "D:\Anaconda2\lib\site-packages\spyder\widgets\editor.py", line 1807, in refresh
    self.__check_

[2017-08-18 06:39] lihka1 commented on #4983
conda install spyder-notebook -c spyder-ide

[2017-08-18 07:12] Giangblackk opened #4996 "Variable explorer cannot inspect a variable created by rasterio library"
## Description

**What steps will reproduce the problem?**

1. Open raster data: `src1 = rasterio.open('image.tif')`
2. get ColorInterp: `x = src1.colorinterp(1)`
3. Double click to `x` variable in variable explorer panel.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**
Type of `x` variable is None and value is `<ColorInterp.red: 3>`,

[2017-08-18 09:08] xgnata opened #4997 "Add spell checker on comments"
Hi,

Maybe I'm missing something but it looks like spyder3.1.4 installed with winpython3.6.1 does not offer spelcheck of comments (starting with #). It looks like spellcheck of doctrings is also not supported.
Acording the the internal dependencies checker, I have installed all the python modules needed for a fully featured spyder. Nothing about spellchecks.

Xavier

[2017-08-18 09:51] PertuyF opened #4998 "Can't run static code analysis dur to import conflict"
## Description of your problem

**What steps will reproduce the problem?**

1. Create a package with a module named `io`
2. Import something (e.g. `StringIO`) from standard library's `io` in cutom module `io`
3. Try to run static code analysis on custom module `io`
4. Or try to run static code analysis on any other module located in custom `io`'s directory

**What is the expected output? What do y

[2017-08-18 10:47] Peyman87 opened #4999 "Simply scrolling down "df" after creating it through "df = pd.DataFrame""
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\ProgramData\Anaconda3\lib\site-packages\spyder\widgets\variableexplorer\collectionseditor.py", line 250, in fetchMore
    self.rows_loaded + items_to_fetch)
  File "C:\ProgramData\Anaconda3\lib\site-packages

[2017-08-18 12:45] ccordoba12 commented on #4998
This clearly shows you that shouldn't use standard library names in your packages.

I'm closing this because we're not going to invest time in fixing something that is a bad practice.

[2017-08-18 12:45] #4998 closed

[2017-08-18 12:49] ccordoba12 commented on #4997
We have never supported a spell checker in comments nor in docstrings. Besides, we don't have plans to do it in the near future, sorry.

[2017-08-18 12:49] #4997 closed

[2017-08-18 12:53] ccordoba12 commented on #4996
Thanks for reporting. We're going to fix this in a future release.

[2017-08-18 12:57] xgnata commented on #4997
Well, this is bad news as the quality of the comments contribute to the
quality of the code.
This is especially bad for the docstrings as they are often visible in the
end user doc.
As an example, numpy would not look very pro if their documentation was
full of typos.

On Fri, Aug 18, 2017 at 2:49 PM, Carlos Cordoba <notifications@github.com>
wrote:

[2017-08-18 13:27] rlaverde commented on #4995
Maybe there is not file or the path is somehow corrupted
Try executing:
`$ spyder --reset`

Anyway why should catch this possible error better, and avoid the crash.

[2017-08-18 14:36] sefakarabas opened #5000 "Help me Please !"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/home/sefa/.local/lib/python2.7/site-packages/spyder/plugins/editor.py", line 1978, in save
    return editorstack.save(index=index, force=force)
  File "/home/sefa/.local/lib/python2.7/site-packages/spyder/wid

[2017-08-18 14:46] sefakarabas opened #5001 "I can not find the problem"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/home/sefa/.local/lib/python2.7/site-packages/spyder/widgets/explorer.py", line 142, in icon
    if osp.isdir(fname):
  File "/usr/lib/python2.7/genericpath.py", line 49, in isdir
    st = os.stat(s)
UnicodeEnc

[2017-08-18 14:51] ccordoba12 commented on #4997
We'd grateful to receive a contribution for this, but (as I said) we don't have plans for something like this right now.

[2017-08-18 14:53] ccordoba12 commented on #4983
Ok, this is an error with Spyder notebook, so I'm moving this issue to the corresponding repo.

[2017-08-18 14:53] PertuyF commented on #4998
It is acknowledged in [PEP328](https://www.python.org/dev/peps/pep-0328/#rationale-for-absolute-imports) that shadowing standard library modules can happened, and will likely happened as the standard library expends.

Beside, it is why namespaces exist, so that you can use meaningful module names and prevent collision. Doesn't starting Python from within a package goes against the design of that p

[2017-08-18 14:53] ccordoba12 commented on #4983
Issue moved to [spyder-ide/spyder-notebook #112](https://github.com/spyder-ide/spyder-notebook/issues/112) via [**ZenHub**](https://www.zenhub.com/)

[2017-08-18 14:53] #4983 closed

[2017-08-18 14:54] ccordoba12 commented on #4998
You're more than welcome to send us a pull request to fix this. But we have to prioritize things and right now don't have time to focus on something like this, sorry.

[2017-08-18 14:58] #4953 closed

[2017-08-18 15:05] ccordoba12 commented on #4999
Please post the exact code you use to create your Dataframe.

[2017-08-18 15:06] ccordoba12 commented on #4995
@tanayz, what were you doing when this error happened?

[2017-08-18 15:09] ccordoba12 commented on #5001
Closing as a duplicate of issue #5000 because the problem is esentially the same.

[2017-08-18 15:09] #5001 closed

[2017-08-18 15:13] ccordoba12 commented on #5000
My guess is that you're using a Linux distro whose filesystem is not in Unicode. How is that possible? I really don't know, but that's not something we can fix in Spyder because Linux distros switched to use Unicode a long time ago (at least ten years).

My recommendation (in case you can't convert your filesystem to Unicode) is to avoid using file names with non-ascii characters. Or switch to use

[2017-08-18 15:13] #5000 closed

[2017-08-18 16:09] prdas31 commented on #3915
@hanyao8
@Arasaraja

Following your instruction to set PYTHONPATH to
`D:\Anaconda3\envs\tensorflow\Lib\site-packages`
gives me this error:

**import tensorflow as tf**
[code]
Anything I missed here?
Thanks.

[2017-08-18 16:36] kgbaird commented on #4960
Sorry for the confusion. When I launch spyder from the command line, it is initiated as a subprocess of the terminal window I had open. Here is what the process tree looks like after launching spyder using Process Explorer:

![with-spyder-open](https://user-images.githubusercontent.com/7782732/29468012-8fb6bc7a-8410-11e7-9584-6af0c509a84e.PNG)

When spyder is launched, the terminal window spyder w

[2017-08-18 19:34] ccordoba12 commented on #4960
I see, thanks for the detailed explanation. Now I understand what's happening.

We'll try to fix this in a future release.

[2017-08-18 19:45] rlaverde commented on #877
This feature already exist, but It's disabled by default:

Preferences > Editor > Advanced Settings > Automatic insertion of closing quotes

[2017-08-18 19:46] goanpeca commented on #877
so closing @ccordoba12 ?

[2017-08-18 19:48] rlaverde commented on #877
I was about to reimplement it for testing editor extensions (I didn't know that already exists), maybe It should be activated by default

[2017-08-18 19:50] goanpeca commented on #877
O up to you then @rlaverde

[2017-08-18 19:52] rlaverde commented on #877
Several IDEs have this feature by default, I think we could change the preference and then close this issue

[2017-08-18 19:54] rlaverde commented on #1775
This feature already exists:

`Ctrl+Alt+Left Arrow` or `Ctrl+Alt+Right Arrow`

[2017-08-18 20:34] rlaverde commented on #2177
This is somehow duplicated of #4936

[2017-08-18 20:36] alexkopytin opened #5003 "Error when trying to edit elements of a float numpy array in variable explorer"
## Error when trying to edit elements of a float numpy array in variable explorer

**What steps will reproduce the problem?**

1. Doubleclick a float numpy array in variable explorer
2. Try to edit the fractional part of any element

**What is the expected output? What do you see instead?**
The value of the chosen element is expected to be changed, but it is not.

**Please provide any additional i

[2017-08-18 20:42] #4934 closed

[2017-08-18 20:52] ccordoba12 commented on #5003
Thanks for reporting. What command are you using to create the Numpy array you can't modify?

[2017-08-18 21:12] sam22emaye opened #5004 "How do I enable graphs to be interactive?"
The graph that is produced is both low quality and not interactive

**What steps will reproduce the problem?**

import matplotlib.pyplot as plt
import pandas as pd
import pandas_datareader as web
import datetime as dt
from matplotlib import style
style.use('ggplot')
start=dt.datetime(2000,1,1)
end=dt.datetime(2017,1,1)
df=web.DataReader('BRK-A','yahoo',start,end)
print()
df['Close'and'Open'].plot(

[2017-08-18 21:36] ccordoba12 commented on #5004
You need to evaluate `%gui qt5` in the console or go to

    Tools > Preferences > IPython console > Graphics > Graphics backend

and select `Automatic` there.

[2017-08-18 21:36] #5004 closed

[2017-08-18 21:37] ccordoba12 commented on #2177
Closing as duplicate of #4936.

[2017-08-18 21:37] #2177 closed

[2017-08-18 21:39] ccordoba12 commented on #877
Please move it to be an `EditorExtension`.

[2017-08-18 21:44] ccordoba12 commented on #4855
I'm closing this one because we don't a way to reproduce it, sorry.

[2017-08-18 21:44] #4855 closed

[2017-08-18 21:47] ccordoba12 commented on #4984
This is a duplicate of issue #4879.

[2017-08-18 21:48] ccordoba12 commented on #4434
Closing because we're not able to reproduce it, sorry.

[2017-08-18 21:48] #4434 closed

[2017-08-18 22:01] ccordoba12 commented on #4469
I think this issue is a duplicate of issue #4410.

[2017-08-18 22:01] #4469 closed

[2017-08-18 22:07] alexkopytin commented on #5003
I'm using numpy.array() for example.

[2017-08-18 22:07] ccordoba12 commented on #4994
@Animadversio, thanks for reporting. We'll fix this in a future release.

[2017-08-18 22:45] timhoffm opened #5005 "Toggle breakpoints by single click"
The behavior for setting breakpoints by mouse is somewhat unusual compared to other IDEs.

**What is the expected output? What do you see instead?**

**Current behavior:**

- Single-click on line number: Select row
- Single-click on icon area (left of line number): Toggle: Select row
- Double-click on line number or icon area: Toggle breakpoint

**Desired behavior:**

- Single-click on line number

[2017-08-19 02:51] Ramshandilya opened #5006 "Crash/Error on clicking Maximize current pane button"
## Description

**What steps will reproduce the problem?**

1. Click Maximize current pane button in the Toolbar
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/Users/ramshandilya/anaconda/lib/python3.5/site-packages/spyder/app/mainwindow.py", line 2251, in maximize_dockwidget
    self.last_plugin.dockwidget.setWidget(

[2017-08-19 04:59] xuuexu commented on #2696
conda 4.3.17
Python 2.7.13
ipython 5.3.0
on Mac OSX 10.12

p.s.I think this problem encountered by force quit qtconsole without clearing data,
I restart my Terminal.app , type and open '>ipython qtconsole',
Problem is just solved .

[2017-08-19 11:28] boazdori opened #5007 "can't start spyder"
## Description of your problem

**What steps will reproduce the problem?**

1. try starting spyder
2. it stopes the process and dosent come up.
3. the following is the error i printed from the anaconda application louncher

Traceback (most recent call last):
File "C:\Users\user\Anaconda3\lib\site-packages\spyder\app\mainwindow.py", line 3067, in main
mainwindow = run_spyder(app, options, args)
Fil

[2017-08-19 12:47] ccordoba12 commented on #5007
I answer to this in anaconda-issues already.

[2017-08-19 12:47] #5007 closed

[2017-08-19 12:50] ccordoba12 commented on #5006
What you do you have focus on when this happen?

[2017-08-19 13:20] ccordoba12 commented on #4976
This is a duplicate of issue #4001.

[2017-08-19 13:20] #4976 closed

[2017-08-19 13:43] #4001 closed

[2017-08-19 14:06] ccordoba12 commented on #5005
@rlaverde, what do you think?

[2017-08-19 14:13] goanpeca commented on #5005
It is the default behavior on some ides so :+1: although I dont mind either way tbh :-p

[2017-08-19 14:17] ccordoba12 commented on #5005
My opinion is that we should leave this for Spyder 4 with the new *debugging* panel that @rlaverde is going to add to the Editor. That's why I asked him.

[2017-08-19 16:24] rlaverde commented on #5005
I agree with @timhoffm, double click is somehow unnecessary, I'll take this in account when implementing #528

[2017-08-19 17:44] ccordoba12 commented on #5005
Thanks @rlaverde!

[2017-08-19 17:52] #1105 closed

[2017-08-19 17:56] ccordoba12 commented on #4895
@goanpeca, can you reproduce this?

[2017-08-19 18:08] #4989 closed

[2017-08-19 18:23] ccordoba12 commented on #3996
You need to add your projects to our Python path manager for this to work. However, there are some errors with this approach (reported in issue #4410) that will be addressed in our **3.2.2** version.

For for the inconvenience in the meantime.

----

*Note*: You can find our Python path manager in the menu

    Tools > PYTHONPATH manager

[2017-08-19 18:23] #3996 closed

[2017-08-19 18:30] ccordoba12 commented on #4836
@dalthviz, please work on this one.

[2017-08-19 18:31] ccordoba12 commented on #4836
I think the idea is (as a test) make the directory where stderr files are created a non-ascii one and see if IPython consoles can start or not using Python 2 (I think they will fail).

Then you need to fix this error.

[2017-08-19 18:36] goanpeca commented on #4895
I have 10.12.6 and the shortcut seems to be working fine after a reset

[2017-08-19 19:47] ccordoba12 commented on #4882
@dalthviz, please take a look at this one. I think this happens when one of the new plugins (notebook, terminal, etc).

[2017-08-19 21:41] dalthviz commented on #4882
@ccordoba12  testing this in Windows with spyder reports I get:
[code]
It's not the same line but maybe could be related?

[2017-08-19 22:23] ThosV opened #5009 "Spyder3 freezes when Variable Explorer is used"
Spyder3 will freeze any time I try and do anything in the variable explorer window. Just clicking on any variable is sufficient to freeze the whole system. I can't open other windows, click on any icons etc. So far the only thing I've been able to do to fix it is reboot the machine.

**What steps will reproduce the problem?**

1. Create a variable that appears in the Variable Explorer window
2. Cl

[2017-08-19 22:35] aiMojica10 opened #5010 "module 'os' has no attribute ' walk"
## Description of your problem

**What steps will reproduce the problem?**

1.   I tried to execute this code in Ipython console and it fails  with this error

[code]

Traceback (most recent call last):

  File "<ipython-input-45-e8161e31e7e5>", line 3, in <module>
    filename, ext = osp.splitext(file)

AttributeError: module 'os' has no attribute 'splitext'

## Versions and main components

* Sp

[2017-08-20 00:38] dalthviz commented on #4836
@ccordoba12  after testing no error appear for the console. It starts normally.

A screenshot of the path for some of the stderr files of the consoles I created while testing:

![imagen](https://user-images.githubusercontent.com/16781833/29491065-bb6c51c6-8515-11e7-8744-9d76eeec1fb2.png)

[2017-08-20 02:13] ccordoba12 commented on #4836
Ok, then please add a test for this please. For the test, please a non-ascii dir with Chinese and Arabic characters.

[2017-08-20 02:29] ccordoba12 commented on #4882
Are the other plugins ok when maximizing/minimizing them?

[2017-08-20 02:31] ccordoba12 commented on #5010
This error is not related to Spyder, sorry. It's just a programming bug.

[2017-08-20 02:31] #5010 closed

[2017-08-20 02:31] andfoy commented on #4882
I've implemented that method on Spyder-terminal and Spyder-vim, respectively

[2017-08-20 02:34] dalthviz commented on #4882
Yep, it only happened with the reports plugin when testing.

[2017-08-20 02:36] #4829 closed

[2017-08-20 02:37] ccordoba12 commented on #4882
Ok, great. @rlaverde already opened an issue about this problem in `spyder-reports`, so we can safely close this one.

[2017-08-20 02:37] #4882 closed

[2017-08-20 02:40] aiMojica10 commented on #5010
If that’s true, why  in a normal console the  SAME code Works?

Enviado desde Correo<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows 10

De: Carlos Cordoba<mailto:notifications@github.com>
Enviado: sábado, 19 de agosto de 2017 9:31 p. m.
Para: spyder-ide/spyder<mailto:spyder@noreply.github.com>
CC: Anamaria Irmgard Mojica Hanke<mailto:ai.mojica10@uniandes.edu.co>; Author<mailto:author

[2017-08-20 02:44] ccordoba12 commented on #5009
Please update to Spyder 3.2.1 and try again.

[2017-08-20 02:47] #3529 closed

[2017-08-20 02:50] ccordoba12 commented on #4441
Closing this one because it's well referenced in qtconsole.

[2017-08-20 02:50] #4441 closed

[2017-08-20 02:55] ccordoba12 commented on #4921
@dalthviz, please take a look at this one. We have to find a way to prevent saving strings with `%` in our config system (i.e. in `spyder.ini`).

[2017-08-20 02:55] dalthviz commented on #5010
Hi @aiMojica10 could you retry your code?, for me it is working as expected:

![imagen](https://user-images.githubusercontent.com/16781833/29491695-9978f9d0-8528-11e7-9884-7925e25d8a9b.png)

Maybe you run `os.splitext` instead of `osp.splitext` initially?

[2017-08-20 02:57] ccordoba12 commented on #5010
That's my guess.

[2017-08-20 03:09] jitseniesen commented on #4921
I had to add some special code around [spyder/plugins/variableexplorer.py:110](https://github.com/spyder-ide/spyder/blob/46db31fbcbc0f5b1c12f2f7b29520422ff06ec8e/spyder/plugins/variableexplorer.py#L110) to remove the `%` at the start of a format string, so that code can probably be streamlined after this is fixed.

[2017-08-20 03:16] ccordoba12 commented on #4921
Thanks @jitseniesen!

[2017-08-20 03:40] kailaix opened #5012 "Feature Request: Sparse Matrix in Variable Explorer"
Hi,

I think it might be very helpful it the variable explorer can show the sparse matrix. Right now only `ndarray` are supported. Along with it there could be a `spy` option in the menu.

Optional: maybe a `convert to ndarray` and `convert to sparse` can be added in the corresponding variable menu.

Thanks for the consideration.

[2017-08-20 05:09] kailaix commented on #5012
I would like to share my temporary solution. But this should be considered as a "solution" to it.(my spyder version 3.2.1)

1. I cheated spyder by adding a faked supported type in the function `is_supported` of file `widgets/variableexplorer/utils.py`
[code]

2. add two lines to `value_to_display` function in the same file
[code]
and in `get_size`
[code]

3. modify `imshow` method in `namespacebro

[2017-08-20 11:57] jmmease opened #5014 "BUG: Error editing element of numpy array in variable explorer"
## Description

**What steps will reproduce the problem?**
1. Enter the following in the editor
[code]

2. Open `b` in variable explorer

3. Double click on the first element and change it from 0 to 5

4. Click OK

5. Got this error report pop up

  File "/Users/measejm1/anaconda/envs/python3_general/lib/python3.6/site-packages/spyder/widgets/variableexplorer/arrayeditor.py", line 384, in setEdito

[2017-08-20 12:51] Gavinaldi opened #5015 "Error in Variable Explorer when using input"
## Description
I **don't have any questions**. I am merely reporting a bug I encountered.

I entered  the code below.
Then when I executed the program, after entering the second number, it incorrectly identified a larger number as being equal to a smaller number, and then I'd get the pop-up that leads me to gitHub.

I tried restarting the kernel, and that didn't resolve the issue. So I restarted S

[2017-08-20 13:03] ccordoba12 commented on #5015
What kind of object were you trying to see when this error happened?

[2017-08-20 13:05] ccordoba12 commented on #5015
Sorry, what code do you evaluated in the console to get this error?

[2017-08-20 13:39] Gavinaldi commented on #5015
I've updated the OP with the additional info addressing your Q.

[2017-08-20 15:34] dalthviz commented on #5012
Hi @kailaix thanks for sharing your solution!, if you want maybe you could create a PR with this changes and then we could give you some comments on the code. @ccordoba12 @goanpeca @jitseniesen , what do you guys think?

[2017-08-20 15:48] goanpeca commented on #5012
Sure, go for it :-)

[2017-08-20 15:59] ccordoba12 commented on #5012
+1 from me too. @kailaix, please go for it!

Our only requirement is to make this against our master branch because Spyder **3.2** is now in maintenance, so we don't accept new features for it.

[2017-08-20 16:08] ccordoba12 commented on #5015
@Gavinaldi, thanks for updating the OP!

@rlaverde, please take a look at this one.

[2017-08-20 16:09] ccordoba12 commented on #5015
@rlaverde, please notice that this happens on Windows, so you need to use a VM for this.

[2017-08-20 16:25] #4884 closed

[2017-08-20 18:10] EulerFaria opened #5016 "Spyder crashed in middle of a training model process"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/anaconda/lib/python3.6/site-packages/spyder/plugins/workingdirectory.py", line 291, in chdir
    self.set_as_current_console_wd()
  File "/anaconda/lib/python3.6/site-packages/spyder/plugins/workingdirectory.p

[2017-08-20 21:13] timhoffm commented on #5005
Thanks you for your replies. I'm not quite happy to hear that you want to defer this to Spyder 4. 😞  Can you please please motivate, why you want to defer this until Spyder 4. Also, is there an estimate, when Spyder 4 might come out?

[2017-08-20 21:19] ccordoba12 commented on #5005
Because we don't want to keep adding/modifying features in our maintenance branch, else we won't be able to stabilize it.

June 2018.

[2017-08-20 21:21] ccordoba12 commented on #5016
Sorry but this is not a problem in Spyder. It seems your model open too many files in your system, but that's unrelated to Spyder.

[2017-08-20 21:21] #5016 closed

[2017-08-21 00:43] ThosV commented on #5009
Yep, that did the trick. Thanks.

[2017-08-21 00:47] ccordoba12 commented on #5009
Great!

[2017-08-21 00:47] #5009 closed

[2017-08-21 08:08] girardinsamuel opened #5018 "spyder runtime bug caused by htm5lib on Windows"
## Description of your problem
When I upgraded spyder (and its dependencies) then I wasn't able to run Spyder. There was the following error at runtime:
[code]

**What steps will reproduce the problem?**
1. pip install --upgrade spyder
2. spyder &

**What is the expected output? What do you see instead?**
Spyder should start and this error located in beautifulsoup / html5lib package prevents Spyde

[2017-08-21 09:53] ajgpitch commented on #3938
Yes, seems it bit radical to me as well to ditch the Python console just because it has a few bugs. It does have a lot of very nice simple features - like hyperlinking the traceback. I think it would make more sense to keep a (very slightly) buggy Python console and leave to community to fix the bugs if they really bother them.

I use Spyder to develop and test code that I will then run on some cl

[2017-08-21 11:09] 95ellismle opened #5019 "IPython consoles can't start if Spyder temp directory is missing"
## Description

**What steps will reproduce the problem?**

1.  Accidentally ran some peripheral code that was included in the main file and had an import statement that didn't work. This stopped the import statement working in the main code.

2. Tried to restart the ipython console by clicking the cross on the tab (the tab was named 'Console x/A' where x is the console number).

3.  After some ti

[2017-08-21 11:44] rubennj opened #5020 "`%matplotlib` is not showing when pressing tab for autocompletation in IPython terminal"
## Description
`%matplotlib` is not showing when pressing tab for autocompletation in IPython terminal.

**What steps will reproduce the problem?**

1. Typing `%mat`+TAB
2. Nothing is shown
3.

**What is the expected output? What do you see instead?**
Typing `%ma`+TAB shows `%macro %magic %%markdown` but not `%matplotlib`

**Please provide any additional information below**
Running Spyder with IPy

[2017-08-21 15:56] jnsebgosselin commented on #5005
@ccordoba12 I've checked and single-click to add a break point is also the default behaviour in Matlab.

@timhoffm While waiting for Spyder4 to implement this feature, you can patch your local version of Spyder3 to get the behaviour you wish by modifying the [linenumberarea_mousepress_event ](https://github.com/spyder-ide/spyder/blob/3.x/spyder/widgets/sourcecode/codeeditor.py#L1263) method in the

[2017-08-21 15:59] goanpeca commented on #5005
@ccordoba12 this seems like a small enough "feature" to be included in a patch release. I would not mind that.

[2017-08-21 16:23] ccordoba12 commented on #5020
@dalthviz, can you reproduce this on Windows?

[2017-08-21 16:27] ccordoba12 commented on #5018
We fixed this bug in Spyder 3.2.0, please update to that version (you're using 2.3.8, which is very old).

[2017-08-21 16:27] #5018 closed

[2017-08-21 16:37] ccordoba12 commented on #5019
Thanks for reporting. I don't understand very well how you ended up with this error, but we'll add an extra validation to prevent it.

@andfoy, please work on this one. The idea is to verify if the Spyder temp directory exists before trying to open the stderr file associated with a console. If it doesn't exist (for whatever odd reason) we need to create it again.

[2017-08-21 17:16] dalthviz commented on #5020
@ccordoba12 running with IPython 5.3 and 6.1 works for me in Spyder 3.2.1, although I tested this in Python 3.6.1:

![console5](https://user-images.githubusercontent.com/16781833/29530528-df243e30-8669-11e7-8111-761c6e0a50ca.png)
![console](https://user-images.githubusercontent.com/16781833/29530529-df2d0722-8669-11e7-9e1d-f35f09ea5081.png)

[2017-08-21 17:17] ccordoba12 commented on #5020
Please match the exact same environment as @rubennj and try again.

[2017-08-21 17:31] ccordoba12 commented on #5005
Sorry but this implies not only a change in code but also in user experience. And this something *nobody* has complained about in all my years in Spyder (until now :-).

So this is for Spyder 4.

[2017-08-21 17:33] goanpeca commented on #5005
Everyone has complained about the debugger... so it is kinda implied

[2017-08-21 17:35] ccordoba12 commented on #5005
Probably, but nobody has mentioned this particular problem explicitly. However, I've heard multiple complaints about our other problems.

[2017-08-21 17:37] goanpeca commented on #5005
Sure ;-) just my 2 cents

[2017-08-21 17:57] dalthviz commented on #5020
It also worked with Python 3.6.2 and the dependencies listed:

![console2](https://user-images.githubusercontent.com/16781833/29531442-2b0e7550-866e-11e7-9781-26a1b6ceb7f5.png)

[2017-08-21 18:37] ccordoba12 commented on #5020
Thanks @dalthviz!

@rubennj, I'm closing this issue because Spyder doesn't have any influence on code completion in the IPython console.

I guess this is an installation issue.

[2017-08-21 18:37] #5020 closed

[2017-08-21 19:55] SlimeDoudoune opened #5021 "Ipython terminal put exception traceback message in the next In [ ] line."
## Description of your problem

**What steps will reproduce the problem?**

1.   Write into Ipython terminal some function name that is not defined (for example :  seize() )

**What is the expected output? What do you see instead?**

Here is the example and the following message that should appear :

"In [36] : seize()
Traceback (most recent call last):

  File "<ipython-input-35-3b5d5c371295>", l

[2017-08-21 20:42] timhoffm commented on #5005
@jnsebgosselin I like your change. It's the minimal change in user experience for the maximal benefit in user expectations. 😄 (I assume that only few people will currently use single-clicking on the icon area for row selection in Spyder. But people coming from other IDEs will likely expect setting breakpoints by single-click).

I would be happy to see this in 3.x, but just another 2 cents.

[2017-08-21 21:15] abhayap opened #5022 "Spyder error when opening after setting it up as an app in Mac"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/Users/abhaya/miniconda3/lib/python3.6/site-packages/spyder/config/user.py", line 111, in _save
    _write_file(fname)
  File "/Users/abhaya/miniconda3/lib/python3.6/site-packages/spyder/config/user.py", line 1

[2017-08-21 23:55] ccordoba12 commented on #5022
We don't support this method, sorry. Someone else reported this problem a couple of weeks ago, so please search our issues to find the solution (I don't remember what was the issue, sorry again).

[2017-08-21 23:55] #5022 closed

[2017-08-22 00:12] ccordoba12 commented on #4886
Closing because we can't anything about it for now, sorry.

[2017-08-22 00:12] #4886 closed

[2017-08-22 01:29] rishad911 opened #5023 "RecursionError: maximum recursion depth exceeded"
## Description RecursionError: maximum recursion depth exceeded

**What steps will reproduce the problem?**
#gives output error all the time
1. print('dfgsd')
2.
3.
**What is the expected output? What do you see instead?**
expected output: dfgsd
RecursionError: maximum recursion depth exceeded

**Please provide any additional information below**

## Version and main components

* Spyder Version: 3

[2017-08-22 01:32] ccordoba12 commented on #5023
Is that the entire code you want to evaluate in the IPython console?

[2017-08-22 01:34] ccordoba12 commented on #5021
Thanks for reporting. This is a duplicate of #4504 and it'll be fixed in version 3.2.2 (to be released in a couple of weeks).

[2017-08-22 01:34] #5021 closed

[2017-08-22 06:30] RLive opened #5024 "Sudden crash trying to split editor horizontally right after startup"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\Anaconda3\lib\site-packages\spyder\plugins\editor.py", line 1350, in close_file_in_all_editorstacks
    editorstack.close_file(index, force=True)
  File "C:\Anaconda3\lib\site-packages\spyder\widgets\editor.

[2017-08-22 08:03] boazdori opened #5025 "When running code in the editor i am getting the following error in the concole"
When running code in the editor i am getting the following error.
NameError: name 'runfile' is not defined

after running
set SPYDER_DEBUG=3
spyder --show-console

 sys.exit(spyder.app.start.main())
  File "C:\Program Files\Anaconda3\lib\site-packages\spyder\app\start.py", line 141, in main
    mainwindow.main()
  File "C:\Program Files\Anaconda3\lib\site-packages\spyder\app\mainwindow.py", line 3

[2017-08-22 10:54] raphaeldeimel opened #5026 "Increase the limit of DPI setting for IPython inline graphics"
## Description of your problem

**What steps will reproduce the problem?**
1. Run Spyder on a high-DPI Monitor (e..g Laptop with 203 DPI screen). Inline graphics are rendered with unreadable, super-tiny text
2. Go to Tools->Preferences->Ipython Console->Graphics Tab->Inline backend section
3. Try to increase the "Resolution" parameter past 99DPI

**What is the expected output? What do you see inst

[2017-08-22 12:35] ccordoba12 commented on #5024
Thanks for reporting.

@dalthviz, please take a look at this one.

[2017-08-22 12:36] ccordoba12 commented on #5025
`set SPYDER_DEBUG=3` was already fixed and it'll be part of Spyder **3.2.2**.

Sorry for the inconvenience in the meantime.

[2017-08-22 12:36] #5025 closed

[2017-08-22 12:37] ccordoba12 commented on #5026
Thanks for reporting. We'll increase our limit in 3.2.2.

@rlaverde, I think increasing this to 999 should be enough.

[2017-08-22 12:39] #5023 closed

[2017-08-22 12:40] ccordoba12 commented on #5006
This is an error in spyder-reports. It'll be fixed in its next version.

[2017-08-22 12:40] #5006 closed

[2017-08-22 12:41] ccordoba12 commented on #5014
@andfoy, please take a look at this one. I think it only happens with 1D Numpy arrays.

[2017-08-22 12:42] ccordoba12 commented on #4999
Closing because of lack of response.

[2017-08-22 12:42] #4999 closed

[2017-08-22 12:42] ccordoba12 commented on #4995
Closing because of lack of response.

[2017-08-22 12:42] #4995 closed

[2017-08-22 12:43] ccordoba12 commented on #4988
This is a duplicate of issue #5014.

[2017-08-22 12:43] #4988 closed

[2017-08-22 12:43] ccordoba12 commented on #4967
@Mathemilda, did my last instructions work for you?

[2017-08-22 12:44] ccordoba12 commented on #4966
Closing because of lack of response.

[2017-08-22 12:44] #4966 closed

[2017-08-22 12:44] ccordoba12 commented on #4965
Closing because of lack of response.

[2017-08-22 12:44] #4965 closed

[2017-08-22 12:45] ccordoba12 commented on #4895
Closing because we can't reproduce this, sorry.

[2017-08-22 12:45] #4895 closed

[2017-08-22 12:47] ccordoba12 commented on #4781
Closing because we can't reproduce this, sorry.

[2017-08-22 12:47] #4781 closed

[2017-08-22 12:48] ccordoba12 commented on #4741
Closing because we can't do anything about this, sorry.

[2017-08-22 12:48] #4741 closed

[2017-08-22 13:46] boazdori commented on #5025
ran set SPYDER_DEBUG=3 still getting the same error

[2017-08-22 13:49] ccordoba12 commented on #5025
I know, the fix hasn't been released yet to a public version. But this bug was already fixed here, in Github.

[2017-08-22 13:56] rubennj commented on #5020
Is `matplotlib` installed in your tests? I try a new enviroment without it and the autocompletation works, but when `matplotlib` is installed then the issue appears.

[2017-08-22 14:01] ccordoba12 commented on #5020
@dalthviz?

[2017-08-22 14:11] boazdori commented on #5025
sorry thanks

[2017-08-22 19:07] ccordoba12 commented on #2696
There are two reasons for this to happen:

1. if you have complicated objects in the Variable Explorer (e.g. see issue #4221).
2. If you're trying to inspect objects with a very big `repr` (this is a problem introduced by IPython, not by us).

We'll try to fix both issues in **3.2.2**.

[2017-08-22 19:09] dalthviz commented on #5020
Yep I installed matplotlib. This is the list of the packages in the env where I tested, maybe @rubennj could you find something that differs from the env in the one where you are seeing the problem?

[code]

[2017-08-22 19:56] #4504 closed

[2017-08-23 01:15] jnsebgosselin commented on #910
@ccordoba12 Is anyone working on this? I would like to have this feature very much in Spyder. I actually use break points as a way to put bookmarks since I don't use the debugger much...

[2017-08-23 01:17] ccordoba12 commented on #910
Nop, there's none working on it. Would you like to give it a shot?

[2017-08-23 01:40] petersgiles commented on #3730
@goanpeca closed my issue referring me here
 see (https://github.com/ContinuumIO/anaconda-issues/issues/4535) for my System information

---
@themanutdmaniac I am having the same experience.

I typed this in the terminal and it didn't change anything

[code]

also did these based on reading other related issues

[code]

but no change

[2017-08-23 01:43] ccordoba12 commented on #3730
The warning is harmless. Please ignore it.

El 22/08/17 a las 20:40, Pete escribió:

[2017-08-23 01:50] ericdelakwame opened #5029 "error on spyder startup"
## Description
  File "C:\Users\hnic\Anaconda3\lib\site-packages\spyder\widgets\explorer.py", line 154, in icon
    file_type, bin_name = mime_type.split('/')
ValueError: not enough values to unpack (expected 2, got 1)
WARNING:traitlets:kernel died: 6.0134117603302
WARNING:traitlets:kernel died: 6.0070106983184814

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output

[2017-08-23 02:21] ccordoba12 commented on #5029
What were you doing when you got this error?

[2017-08-23 04:59] dalthviz commented on #5024
Hi @RLive could you try to test the error again after updating to Spyder 3.2.1? When testing with 3.2.0 I'm getting a different error but I think that it was fixed for 3.2.1:

[code]

Also, did you try to do something more than split the editor horizontally?. All the info to reproduce the error will be greatly appreciated :).

[2017-08-23 06:26] duytrung opened #5030 "Error starting Spyder, use with conda forge channel"
## Description of your problem

**What steps will reproduce the problem?**

1. Run spyder from command terminal
2. Get the error and Spyder could not start
3.

**What is the expected output? What do you see instead?**
Spyder should run as usual, either as root right or user right.

I have linux machine for learning purpose.
Here are the conda packages:
[code]
I have reset spyder and rerun but not

[2017-08-23 07:33] rubennj commented on #5020
OK, I think I got it, @dalthviz. I had enabled the option _"Automatically load Pylab and NumPy modules"_.

When this option is on, I can't get the autocomplete for `%matplotlib`.

Nevertheless, even if it is not shown, it can be executed and it works.

[2017-08-23 10:35] arman00 opened #5031 "Split screen layout is incorrectly restored"
## Description
Split screen layout is incorrectly restored if there is a vertical split nested in one horizontal split. Each time I restart Spyder I have to close the panels and split them again manually to have the same split layout, which is a bit annoying.

**What steps will reproduce the problem?**

1. Split the editor panel horizontally
2. Split the second panel vertically
3. Close Spyder
4.

[2017-08-23 11:33] lielv opened #5032 "Generic Error on Editor"
## Description

**What steps will reproduce the problem?**

1. Just working on the editor
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "c:\python35\lib\site-packages\spyder\utils\introspection\manager.py", line 214, in get_completions
    info = self._get_code_info('completions', automatic=automatic)
  File "c:\python

[2017-08-23 11:40] lielv opened #5033 "editor issues"
## Description

**What steps will reproduce the problem?**

1. tab or ctrl+i
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "c:\python35\lib\site-packages\spyder\utils\introspection\manager.py", line 214, in get_completions
    info = self._get_code_info('completions', automatic=automatic)
  File "c:\python35\lib\site-p

[2017-08-23 12:14] ccordoba12 commented on #5024
@dalthviz, I think this happens if you close Spyder with the editor in a splitted state and open it again.

[2017-08-23 12:19] ccordoba12 commented on #5030
The message at the end says it all: your /tmp directory is forbidden to wrting.

Please make it writable because Spyder needs to write to it.

[2017-08-23 12:19] #5030 closed

[2017-08-23 12:22] ccordoba12 commented on #5031
Please post screenshots of the expected and actual results.

[2017-08-23 12:24] ccordoba12 commented on #5033
Closing as duplicate of issue #5032.

[2017-08-23 12:24] #5033 closed

[2017-08-23 12:25] ccordoba12 commented on #5032
The error is incomplete, please post the entire error.

[2017-08-23 12:45] ZhiliangWu opened #5034 "Add a space after # for commenting"
## Description of your problem

**What steps will reproduce the problem?**

comment one line of code

**What is the expected output? What do you see instead?**
say the python code is `x = np.zeros((5, 5))`
Now it looks like `#x = np.zeros((5, 5))`, but according to the standard way of commenting, it should looks like `# x = np.zeros((5, 5))`, which has a space after `#`

**Please provide any addit

[2017-08-23 12:50] bensoibj opened #5035 "shortcut Shift+Delete deletes instead of cutting to clipboard"
## Description
The shortcut Shift+Delete used to be an alternative for Ctrl+X, cutting marked text to the clipboard. Since Spyder version 3.2 it only deletes the text, but does not copy it to the clipboard anymore. At least in the editor, in the console it works as expected.

**What steps will reproduce the problem?**

1. Mark some text in the editor
2. Cut the text using the shortcut Shift+Delete

[2017-08-23 12:51] jnsebgosselin commented on #910
Yes, I will do it.

[2017-08-23 12:53] ZhiliangWu opened #5036 "Exploring variables in debugging mode is giving focus to the Editor"
## Description of your problem

**What steps will reproduce the problem?**

1. enter the debug mode
2. go to _variable explorer_
3. double click some variable to see details

**What is the expected output? What do you see instead?**
In debug Mode, the variable explorer will open the variable windows in the background, which means that it **DOES NOT** pop out and keeps staying open in the backgroun

[2017-08-23 13:25] mvbentes opened #5037 "Hit save on "untitled0.py" does not open "save as" dialog if another untitled0 exists on folder"
## Description of your problem
Spyder ovewrites a file on the default save folder if it has the same name as the default new file filename.

I had an `untitled0.py` in my folder out of laziness and hury on a previous session. It was just a draft I was jotting down.
Now on a new session I opened a new file, w

**What steps will reproduce the problem?**

1. Have an `untitled0.py` file on the default

[2017-08-23 13:43] ccordoba12 commented on #5035
Sorry, many users asked for Shift+Del to delete lines in the Editor. This is because many other editors and IDEs have the same behavior.

[2017-08-23 13:43] #5035 closed

[2017-08-23 13:45] ccordoba12 commented on #5034
Thanks for reporting. We're aware of this issue and we're working to fix it in a future release.

[2017-08-23 13:45] #5034 closed

[2017-08-23 13:48] ccordoba12 commented on #5036
This depends on how things are handled by your window manager. For me windows appear on front.

@dalthviz, what's the behavior on Windows?

[2017-08-23 14:09] arman00 commented on #5031
Expected:
![spltscrn_expected](https://user-images.githubusercontent.com/23243866/29620134-5d651daa-881d-11e7-834d-a73f3d80e32e.jpg)

Actual:
![spltscrn_actual](https://user-images.githubusercontent.com/23243866/29620148-676b2c22-881d-11e7-9932-11ba928fb9cd.jpg)

[2017-08-23 14:32] ccordoba12 commented on #5031
Thanks! We'll work on this after **3.2.2**.

[2017-08-23 14:33] ccordoba12 commented on #5037
Thanks for reporting. We'll take a look at this in a future release.

[2017-08-23 15:09] ccordoba12 commented on #5020
You're right, now I can reproduce this bug. A simpler way to do it is by
running

     %pylab

in a console, which is what Spyder does for you when you activate that
option.

However, this is a bug in IPython, not in Spyder, so please report it there:

https://github.com/ipython/ipython

El 23/08/17 a las 02:33, Ruben Nuñez escribió:

[2017-08-23 16:32] ericdelakwame commented on #5029
Thanks.
new to python. wa practicing coding.

On Wed, Aug 23, 2017 at 2:22 AM, Carlos Cordoba <notifications@github.com>
wrote:

[2017-08-23 17:13] depkchowdary opened #5038 "Sparse matrix not assigned to variable X"
## Description of your problem

Below is basic NLP classifier. when trying to create sparse matrix and assign it to variable X. Its not getting created. However, If I change X to any variable such as Inde_X it is displayed in variable explorer.

PFB code I am running.

`import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#import any dataset
dataset = pd.read_csv('Restaurant_Rev

[2017-08-23 17:20] mvbentes opened #5039 "Replace selection adds alien backslash character before dot. foo.bar becomes foo\.bar"
## Description of your problem
The **replace** modal has a problem with the `replace selection` option. Everywhere a dot is suposed to appear, it does so preceded by a backslash.

**What steps will reproduce the problem?**

1. Select some text and hit `ctrl+R`. Example: `foobar`
2. Fill the `replace with` field with something that includes dots. Example: `foo.ba.z .ao aoa . aoouaaoh.`
3. Hit `Repl

[2017-08-23 17:24] depkchowdary commented on #5038
Same goes for X_test and X_train variable

`
#nlp classifier
# Splitting the dataset into the Training set and Test set
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indie_X, y, test_size = 0.20, random_state = 0)
`

[2017-08-23 17:34] mvbentes commented on #3674
Would be nice to have some `Alt+letter` shortcuts to the actions. Replace all, for example, with `Alt+a`.

[2017-08-23 17:35] #5039 closed

[2017-08-23 17:36] mvbentes commented on #5039
Just saw the same issue as closed, so I will wait for that update.

[2017-08-23 17:49] jnsebgosselin opened #5040 "Word operators do not have a color style in the IPython console"
## Description of your problem

**What steps will reproduce the problem?**

1. write in the IPython console: `for operator in [or, and, is, in]`:

![word_operator_not colored](https://user-images.githubusercontent.com/10170372/29630274-a20467c2-8809-11e7-9433-ddbec22be964.png)

**What is the expected output? What do you see instead?**
The word operators `in`, `and`, `is`, `or` should have the same

[2017-08-23 18:01] andfoy commented on #5040
@jnsebgosselin Is it possible to highlight self as well? Or is it already highlighted?

[2017-08-23 18:30] kadhvait opened #5041 "having trouble finding command prompt in spyder, can anyone hele me with this?"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

## Version and main components

* Spyder Version: 3.2.0
* Python Version: 3.6.1
* Qt Versions: 5.6.2, PyQt5 5.6 on Windows

## Dependencies
[code]

[2017-08-23 18:35] jnsebgosselin commented on #5040
@andfoy yes `self` seems to be highlighted correctly

[2017-08-23 19:12] ccordoba12 commented on #5039
Thanks!

[2017-08-23 19:14] ccordoba12 commented on #5038
Variables that start with capital letters are hidden by default. You can show them by going to Variable Explorer options menu (the little cog to its right) and deselecting the option called

    Exclude capitalized references

[2017-08-23 19:14] #5038 closed

[2017-08-23 19:15] ccordoba12 commented on #5041
The command prompt was removed when we removed the Python console. Now you need to install `spyder-terminal`:

https://github.com/spyder-ide/spyder-terminal

which provides the same functionality.

[2017-08-23 19:15] #5041 closed

[2017-08-23 19:16] #5029 closed

[2017-08-23 22:29] Khalilsqu opened #5043 "multiline editing!"
Hi thank you for this great editor, I like it so much and using it for my PhD project.

I would like to ask if multiline editing is possible in spyder? I searched online but could find anything related to the topic

Thanks in advance.

[2017-08-23 22:35] jnsebgosselin commented on #5043
We are currently working on this and this should be available in Sypder 4. Please see https://github.com/spyder-ide/spyder/issues/2112 for more info on this topic.

[2017-08-23 22:35] goanpeca commented on #5043
Closing as duplicate of https://github.com/spyder-ide/spyder/issues/2112

[2017-08-23 22:35] #5043 closed

[2017-08-24 02:15] Rayaray opened #5044 "Spyder has encountered a problem and pop up an error window"
## Description

**What steps will reproduce the problem?**

1. Just open spyder(System info: windows 7 Enterprise service Pack 1)
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\Users\xxxx\Documents\app\WinPython-64bit-3.6.2.0Qt5\python-3.6.2.amd64\lib\site-packages\spyder_terminal\terminalplugin.py", line 156, in __

[2017-08-24 02:48] ccordoba12 commented on #5044
@andfoy, I think this was already fixed, right?

[2017-08-24 02:50] dalthviz commented on #5036
@ccordoba12 the window appears but then the focus changes immediately to the editor so, for example, the dataframe editor stays open behind the mainwindow:

![pop](https://user-images.githubusercontent.com/16781833/29647000-5e92ca36-884c-11e7-95b3-446fc154bb47.gif)

[2017-08-24 03:03] andfoy commented on #5044
Yes, this should be fixed as of spyder-terminal v0.2.1

[2017-08-24 03:03] #5044 closed

[2017-08-24 03:08] dalthviz commented on #5024
@ccordoba12 I tried letting the editor in split state before openning it again but no error appears. From the traceback it seems that @RLive was closing a file(?) Also tried to close files but I'm not being able to reproduce the error.

[2017-08-24 06:54] Ivyw1219 opened #5046 "Forced Termination"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/Applications/anaconda/lib/python2.7/site-packages/spyder/widgets/ipythonconsole/namespacebrowser.py", line 50, in <lambda>
    self.namespacebrowser.process_remote_view(data))
  File "/Applications/anaconda/li

[2017-08-24 08:56] gamselem commented on #4434
I've updated to the latest version and now the profiler works.

[2017-08-24 09:05] rubennj commented on #5020
I will open an issue in IPython then.
Thanks @ccordoba12 and @dalthviz for the effort to catch it.

[2017-08-24 09:11] flyluyun opened #5047 "error after close the current project"
## Description

**What steps will reproduce the problem?**

1. close the current project
2.
3.

**What is the expected output? What do you see instead?**
the expected output is just the normal layout,but  i see "Connecting to kernel" instead.
![2017-08-24 17 09 30](https://user-images.githubusercontent.com/18591534/29658877-15d1a756-88ef-11e7-8eef-fe28d90a7341.png)

**Please provide any additional

[2017-08-24 13:31] ccordoba12 commented on #4434
Great! Thanks for letting us know about it.

[2017-08-24 19:39] ccordoba12 commented on #5047
Thanks for reporting. We'll take a look at this in a future release.

[2017-08-24 19:42] ccordoba12 commented on #5046
What were you doing when you got this error?

[2017-08-24 19:47] ZhiliangWu commented on #5036
Haha, so I am not the only one anymore.

[2017-08-24 19:49] ccordoba12 commented on #5036
Yep, I now know where this problem is coming from: we're giving focus to the Editor automatically after a variable is inspected.

We'll fix after we release 3.2.2.

[2017-08-24 21:38] NelsonUpenn opened #5049 "Spyder complains"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/Users/pcn/anaconda/lib/python3.6/site-packages/spyder/widgets/waitingspinner.py", line 177, in rotate
    def rotate(self):
KeyboardInterrupt

## Version and main components

* Spyder Version: 3.2.1
* Python V

[2017-08-24 21:39] goanpeca commented on #5049
@andfoy could you take a look?

[2017-08-24 21:44] I022044 opened #5050 "Error when trying to open table in variable explorer"
## Description

**What steps will reproduce the problem?**

1.   Open a table in variable explorer
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\Anaconda3\lib\site-packages\spyder\widgets\variableexplorer\dataframeeditor.py", line 262, in get_value
    value = self.df.iloc[row, column]
  File "C:\Anaconda3\lib\site

[2017-08-24 22:11] andfoy commented on #5049
@NelsonUpenn Thanks for the report, where did you escape Ctrl+C when the error ocurred?

[2017-08-24 23:48] ccordoba12 commented on #5050
This is an error in Pandas, not Spyder. Unfortunately the error is not complete, but that seems to be the case, so I'm closing this issue.

[2017-08-24 23:48] #5050 closed

[2017-08-25 06:28] Khris777 opened #5052 "IPython prompt does not return after RecursionError message"
## Description of your problem

After a RecursionError message the IPython prompt does not show up again.

You can still enter stuff into the console, but it won't do anything, I encounter a similar behaviour as described in issue https://github.com/spyder-ide/spyder/issues/2696 .

By repeatedly doing this it's also possible to completely lock up the console so that it has to be killed.

With the

[2017-08-25 07:50] cmyldz opened #5053 "AttributeError: 'NoneType' object has no attribute 'execute'"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\Users\cem\Desktop\WinPython-64bit-3.6.2.0Qt5\python-3.6.2.amd64\lib\site-packages\spyder\plugins\ipythonconsole.py", line 876, in run_script
    self.execute_code(line, current_client, clear_variables)
  Fil

[2017-08-25 07:54] cmyldz opened #5054 "please help me for solving this error"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\Users\cem\Desktop\WinPython-64bit-3.6.2.0Qt5\python-3.6.2.amd64\lib\site-packages\spyder\plugins\ipythonconsole.py", line 876, in run_script
    self.execute_code(line, current_client, clear_variables)
  Fil

[2017-08-25 08:15] gwillig opened #5055 "Spyder doesn't start"
## Description of your problem
Spyder doesn't start
**What steps will reproduce the problem?**

1. Click the spyder.icon (pythonw.exe)

**What is the expected output? What do you see instead?**
Spyder should start

**Please provide any additional information below**
Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

When I type `spyder --show-cons

[2017-08-25 11:09] smqizq opened #5056 "Spyder crashed when i clicked 'SAVE'"
## Description

**What steps will reproduce the problem?**

1. I qouted several lines with ''''''
2. I clicked 'SAVE'
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "d:\ProgramData\Anaconda3\lib\site-packages\spyder\widgets\editor.py", line 1474, in save
    finfo.encoding)
  File "d:\ProgramData\Anaconda3\lib\site-package

[2017-08-25 11:29] smqizq commented on #5056
I found the reason, because the file I am about to save is hidden, After I removed the hidden attribute, It worked well.

[2017-08-25 13:05] arman00 opened #5057 "Fast file switch and fast symbol search do not work properly if the editor is splitted"
## Description
Fast file switch and fast symbol search do not work on the split panels. They only work in the first (main) panel, whether there is a split or not.

**What steps will reproduce the problem?**

Fast file switch:
1. Open two or more files in the editor
2. Split the editor panel
3. Select the split panel (not the first main panel)
4. ctrl+p and select a different file than the current

[2017-08-25 13:19] arman00 opened #5058 "Selection on the outline causes error"
## Description
Spyder shows error when a symbol is selected from the outline view. This happens only for some files in the editor. Also it does not happen always. For instance, as soon as I restarted Spyder, it worked on the same file without an error.

**What steps will reproduce the problem?**

1. Select a symbol in the outline view

**What is the expected output? What do you see instead?**
Expe

[2017-08-25 14:01] Dschoni opened #5059 "Fresh Anaconda Installation won't start Spyder with "No Qt bindings could be found""
I Installed Spyder with different versions of Anaconda, all resulting in the same error, that I can't start Spyder with the Error message: "qtpy.PythonQtError: No Qt bindings could be found"

I manually installed QT5 and pyqt5 bindings, but that didn't solve the problem.

**What steps will reproduce the problem?**

1.  Install Spyder from Anaconda
2. Start Spyder (from terminal)

**What is the exp

[2017-08-25 14:59] ccordoba12 commented on #5052
Thanks for reporting. This is a duplicate of issue #4504 and it's going to be fixed in our 3.2.2 version.

[2017-08-25 14:59] #5052 closed

[2017-08-25 15:00] ccordoba12 commented on #5052
In the meantime, you can press `Ctrl+L` to get a prompt back.

[2017-08-25 15:01] ccordoba12 commented on #5054
Closing as a duplicate of issue #5053.

[2017-08-25 15:01] #5054 closed

[2017-08-25 15:03] ccordoba12 commented on #5055
I think your Anaconda installation is broken. Please uninstall and reinstall it again, or install Spyder in a new conda environment and try to start from there.

[2017-08-25 15:03] #5055 closed

[2017-08-25 15:04] ccordoba12 commented on #5056
Great! Thanks for letting us know about it.

[2017-08-25 15:04] #5056 closed

[2017-08-25 15:06] ccordoba12 commented on #5057
Thanks for reporting this problem. We'll take a look at it in a future release.

[2017-08-25 15:08] ccordoba12 commented on #5058
Does this happen if you have splitted the Editor in some way?

[2017-08-25 15:09] ccordoba12 commented on #5059
Do you have set LD_LIBRARY_PATH?

[2017-08-25 15:11] ccordoba12 commented on #5053
Please post a screenshot of the IPython console when this error pops up.

[2017-08-25 15:18] arman00 commented on #5058
It happened while I was working on splitted Editor. However, then I closed all the split panels but the error was popping up although there was no split anymore. After I restarted Spyder, it worked fine with and without the split panels. Maybe the error was initiated due to the split and then became persistent, but I am not sure. If I can observe some pattern regarding the cause of the error, I ca

[2017-08-25 15:19] ccordoba12 commented on #5058
Ok, thanks.

[2017-08-25 15:40] arman00 commented on #5057
A small note: they working properly in the versions before Spyder 3.2

[2017-08-25 15:51] ccordoba12 opened #5060 "Kernel dies when trying to run PyTorch code on Linux"
Please see this SO question for the details:

https://stackoverflow.com/questions/45875837/spyder-just-kernel-died-restarting-when-i-run-net-forward-in-pytorch

@andfoy, please take a look at this one.

[2017-08-25 16:01] #5026 closed

[2017-08-25 16:19] andfoy commented on #5060
@ccordoba12 Does mixing Spyder versions from PyPi and conda might have some responsibility here? According to the package dump posted by the user, Spyder 3.1.4 and 3.2.1 are both listed:
[code]

[2017-08-25 16:20] ccordoba12 commented on #5060
Probably, but did you try to run the OP code?

[2017-08-25 16:38] anandrathidev opened #5061 "Error when viewing dataframes and arrays in environments without Numpy and Pandas"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "D:\ProgramData\Anaconda3\envs\tensor\lib\site-packages\spyder\widgets\variableexplorer\importwizard.py", line 633, in process
    self.clip_data = self._get_table_data()
  File "D:\ProgramData\Anaconda3\envs\te

[2017-08-25 16:44] andfoy commented on #5060
The code posted by the OP works as expected:
![captura de pantalla de 2017-08-25 11-40-05](https://user-images.githubusercontent.com/1878982/29723493-724979c8-898a-11e7-816c-043104d33109.png)

Actually, it works if I use a deeper model such as the ResNet-101:

![captura de pantalla de 2017-08-25 11-42-42](https://user-images.githubusercontent.com/1878982/29723588-cc982e6a-898a-11e7-959c-69bbcd0e34

[2017-08-25 16:45] andrewd76 opened #5062 "Run in external system terminal doesn't work in macOS"
## Description

**What steps will reproduce the problem?**

1. open python file
2. "run"->"configuration per file.."
3. set "execute in an external system terminal"
4. "run"
5. nothing happens

**What is the expected output? What do you see instead?**

I expected Terminal app appearance, but terminal doesn't load

**Please provide any additional information below**

## Version and main components

[2017-08-25 16:54] ccordoba12 commented on #5061
You don't have Numpy nor Pandas installed in your `tensor` environment.

[2017-08-25 16:59] ccordoba12 commented on #5062
We don't have support for running files in system terminals in macOS, but we'll work to add it in a future release.

[2017-08-25 17:00] andrewd76 commented on #5062
Thank you!

[2017-08-25 17:31] che-burashka opened #5063 "clear screen command does not work in IPython console"
## Description of your problem

**What steps will reproduce the problem?**

1. run some commands
2. hit Ctrl-L
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

## Versions and main components

* Spyder Version:
* Python Version:
* Qt Version:
* PyQt Version:
* Operating system:

## Dependencies

Please go to the menu entry `Help >

[2017-08-25 21:05] ccordoba12 commented on #5063
You need to update to `qtconsole` 4.3.1 to have a fix for this.

You can do that by running

    conda update qtconsole

or

    pip install -U qtconsole

in a system terminal (cmd.exe on Windows or xterm/konsole/gnome-terminal on Linux).

[2017-08-25 21:05] #5063 closed

[2017-08-26 00:34] tribbloid opened #5065 "Error on scrolling to the bottom"
## Description

**What steps will reproduce the problem?**

1. Scroll a python file to the buttom

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/usr/local/lib/python3.5/dist-packages/spyder/widgets/variableexplorer/collectionseditor.py", line 250, in fetchMore
    self.rows_loaded + items_to_fetch)
  File "/usr/local/lib/py

[2017-08-26 02:06] vasselai commented on #2420
Sorry to necro this discussion, but I am not sure whether it makes sense for me to open a new issue about this. I mean, it totally makes sense that if one wants to zoom in for all files, one should just go there and change the font size in the preferences. The problem, however, is that Spyder does not allow anymore one to define different font sizes for Editor and Console. The consequence is that

[2017-08-26 06:16] sf17k opened #5066 "Errors and crashes when editing dicts with non-ASCII keys in variable explorer"
## Description

**What steps will reproduce the problem?**

1. Run `foo = {'\x99': 1}` in console
2. Double click on `foo` in variable explorer, errors will appear
3. Try to use the variable edit popup window to also cause a crash

**Please provide any additional information below**

[code]

[2017-08-26 07:36] lukaskawerau opened #5067 "Last macOS dmg installer is from Nov 21 (3.0.2)"
## Description of your problem

There is no available dmg-installer for macOS for a current version of Spyder.
The last available installer is for version [3.0.2](https://github.com/spyder-ide/spyder/releases/tag/v3.0.2) back from November 21 2016.

[2017-08-26 08:11] MrWanter opened #5068 "ctrl + click not working"
I'm using anaconda with python3 on ubuntu, and created a new env with python2, in the new env, I also installed spyder, but with both spyder in main env and the new env, I can't "go to definition" with ctrl + click shortcut, can anyone help me? Thanks very much!

[2017-08-26 14:07] MrWanter commented on #5068
It turns out that ctrl+click shortcut does not work only for a specific package that I imported of which the path was added in the scripts manually, so spyder cannot find the package path without running it, so just add the path to PYTHONPATH manager in the spyder IDE, then the problem resolved.

[2017-08-26 14:07] #5068 closed

[2017-08-26 17:22] ccordoba12 commented on #5067
Sorry, we don't have plans to update our DMG installer for the time being, sorry. Please use Anaconda instead.

[2017-08-26 17:22] #5067 closed

[2017-08-26 17:24] ccordoba12 commented on #5066
Thanks for reporting. We'll take a look at this in a future release.

[2017-08-26 17:28] ccordoba12 commented on #2420
@goanpeca, what do you think? I don't know what we could do about it from the user experience point of view.

[2017-08-26 17:34] #4277 closed

[2017-08-26 17:36] goanpeca commented on #2420
Hmmm me neither need to think about it

[2017-08-26 17:44] #4921 closed

[2017-08-26 17:47] #5014 closed

[2017-08-26 17:52] ccordoba12 commented on #5065
The error is completely unrelated to scrolling files in the Editor. Are you sure you got this error that way?

[2017-08-26 17:54] lukaskawerau commented on #5067
In that case, the README.md should remove any mention of the DMG installer, no?
It is also confusing that Spyder prompts you to update to the newest version when you open it, redirects you to Github and then you can't update because there's no new DMG installer available.

Why will there be no new DMG installer?

[2017-08-26 18:11] ccordoba12 commented on #5067
Because I don't have time to create new installers. I'll remove the reference in our README, thanks for pointing that out.

[2017-08-26 18:50] ccordoba12 commented on #5024
Closing because we're unable to reproduce this error, sorry.

[2017-08-26 18:50] #5024 closed

[2017-08-26 19:34] jnsebgosselin commented on #2420
I think that could be a good idea to be able to set the font size and family independently for the Editor and the Console. Basically, we could take the same layout as for the font preference in "Genenal" and put it under "Editor" and "IPython console" instead.

Font size in General should not be related  to the font of the Editor and the IPython console in my opinion, but to the font of the UI. It

[2017-08-26 19:41] jnsebgosselin commented on #2420
@vasselai  That being said, one quick solution for this could be to set the font in the preferences so that it looks good in the Editor and Ctrl- in the console to reduce the font of the console.

[2017-08-26 23:41] tjellsworth opened #5070 "Save Button Dormant"
![spyder save error](https://user-images.githubusercontent.com/19624519/29745924-8950bcb0-8b03-11e7-9e05-61fa04b436bb.png)
## Description of your problem
The save button went dormant.
**What steps will reproduce the problem?**

1. Open Sypder
2. Open my file
3. Open the File Explorer to set the working directory
4. I cannot press the save button

**What is the expected output? What do you see inst

[2017-08-27 12:09] jnsebgosselin commented on #5070
Have you done any changes to your file? What happens if you make a change to your file like adding a blank space for example? The save buttons always become inactive when there is nothing to save.

[2017-08-27 18:14] stonebig opened #5071 "remark: autocompletion in spyder-3.2.1 editor is broken under python-3.6.2 by enum34 package"
## Description of your problem

**What steps will reproduce the problem?**

1. on WinPython-64bit-3.6.2.0Qt5, the auto-completion doesn't work in the editor
2. "pip uninstall enum34" resolves it
3. faulty pymc3 wheel caused the no-needed installation of enum34

**What is the expected output? What do you see instead?**
see https://github.com/winpython/winpython/issues/563#issuecomment-325050265

**

[2017-08-27 18:14] #5071 closed

[2017-08-28 00:25] dickhfchan opened #5072 "Error when startup spyder"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/Users/dickhfchan/anaconda/lib/python2.7/site-packages/spyder/otherplugins.py", line 79, in _import_plugin
    module = _import_module_from_path(module_name, plugin_path)
  File "/Users/dickhfchan/anaconda/lib/

[2017-08-28 01:53] selous123 commented on #5060
Thank you very much for your answering.

also i run this code with the same version in my other computer.it works well!!!

I try  to solve the mixing version problem. delete the redundant package 3.1.4.**but still "kernel died,restarting"**

first I doubt whether **Spyder** and pytorch have collision in the kernel.
Obviously,The problem should be in the configuration of my own computer
Sadly,there

[2017-08-28 02:57] LouisAsh commented on #2420
Thanks you all for taking the issue into consideration. I do think that allowing such customizations to be different for the editor and for the console could be pretty helpful. Specially in the age of big resolutions.

@jnsebgosselin That is precisely what I have been doing. Whenever I start Spyder, I go there to the console and Zoom out with Ctrl -. That is exactly what made me come here to talk

[2017-08-28 02:59] vasselai commented on #2420
Thanks you all for taking the issue into consideration. I do think that allowing such customizations to be different for the editor and for the console could be pretty helpful. Specially in the age of big resolutions.

@jnsebgosselin That is precisely what I have been doing. Whenever I start Spyder, I go there to the console and Zoom out with Ctrl -. That is exactly what made me come here to talk

[2017-08-28 03:32] ccordoba12 commented on #5072
Please post the output of

    conda list

[2017-08-28 03:34] ccordoba12 commented on #5060
It seems this is fixed in the latest version of PyTorch:

https://github.com/jupyter/notebook/issues/2784#issuecomment-325230024

[2017-08-28 04:17] dbo0676 commented on #4582
I am thankful for this bug/comment as I am using Spyder 3.2.1 and wanted to use VPython but had the same error that Bruce mentions above.  I see that targeted version for the fix has been pushed back to Spyder 3.2.3.  Is there an estimated date for this release?

[2017-08-28 07:04] selous123 commented on #5060
not only it has errors in the spyder,but also in jupyter and terminal..

[Problem Description](https://github.com/jupyter/notebook/issues/2784#issuecomment-325230024)

[2017-08-28 07:06] Dschoni commented on #5059
Not manually. When searching for my problem, I found your answers regarding this aspect and tried resolving my issue with unsetting any automatically set LD_LIBRARY_PATH (via unset). This didn't help.

I also tried this under different users, installed Anaconda to different locations both with root and as user. I manually installed QT5, tried python 2 and python 3 to no avail.

[2017-08-28 08:04] selous123 commented on #5060
Just now,I update all the packages in anaconda

`conda update --all`

delightedly the code runs well in terminal and jupyter,but the error in the spyder also exists

[2017-08-28 10:52] tjellsworth commented on #5070
Jean-Sébastien,
Thank you. This worked.

Tim Ellsworth
Toyota Motor Manufacturing Mississippi
Model Change Production Engineering Specialist

Worcester Polytechnic Institute Class of 2013
BSME/MSMG

On Sun, Aug 27, 2017 at 9:09 PM, Jean-Sébastien Gosselin <
notifications@github.com> wrote:

[2017-08-28 13:15] jnsebgosselin commented on #5070
This is great. Thank you for testing it.

[2017-08-28 13:15] #5070 closed

[2017-08-28 13:20] jnsebgosselin commented on #2420
I think a new issue should be opened for this since it is a different problem than the one described in the OP.

[2017-08-28 13:23] andfoy commented on #5060
Well, I'm running the latest package versions on my current setup, and it works as expected. Any ideas @ccordoba12 ?

[2017-08-28 13:24] andfoy commented on #5060
Also, the user reports that on a new installation, the package works. @selous123 Have you tried to create a new conda environment on your conflicting PC?

[2017-08-28 14:05] simonzcaiman opened #5073 "Can't open Preferences"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/home/szhang/miniconda3/lib/python3.6/site-packages/spyder/app/mainwindow.py", line 2579, in edit_preferences
    widget.initialize()
  File "/home/szhang/miniconda3/lib/python3.6/site-packages/spyder/plugins/c

[2017-08-28 14:49] ccordoba12 commented on #2420
Yes, @vasselai, please open a new issue for your concern.

[2017-08-28 14:55] ccordoba12 commented on #5073
Please run

     spyder --reset

in a terminal and try again. That should fix your problem.

[2017-08-28 14:55] #5073 closed

[2017-08-28 14:56] ccordoba12 commented on #5032
This seems a setuptools problem, so running

    pip install -U setuptools

should fix it.

[2017-08-28 14:56] #5032 closed

[2017-08-28 14:57] ccordoba12 commented on #4967
Closing because of lack of response. Hopefully, things are well for you now.

[2017-08-28 14:57] #4967 closed

[2017-08-28 15:00] arman00 commented on #5057
I have seen that they also don't work on a second window which is created by the "New window'' selection, as with the split panels.

I believe this is a bug rather than enhancement and it became broken with version 3.2. I was using these fast switching abilities very frequently in the previous versions, they're really very useful features, so it's a bit frustrating for me now. Hope there is a chan

[2017-08-28 15:09] simonzcaiman commented on #5073
Oh... Thanks for that!

[2017-08-28 17:19] bigheadming opened #5074 "Editor - Cannot close a (vertical) split after open"
## Description
In editor, after splitting (vertically), when trying to 'close this panel' in the newly created split panel, an error returns.

**What steps will reproduce the problem?**

1. In editor, open some .py file.
2. Then, at the upper right corner of the editor panel, use the 'wheel' shape drop-down menu to choose 'split vertically'
3. Go to the newly created split panel, click on its 'whe

[2017-08-28 17:35] jnsebgosselin commented on #5058
@ccordoba12 potentially a duplicate of https://github.com/spyder-ide/spyder/issues/3390

[2017-08-28 18:32] rlaverde commented on #5015
I'm not able to reproduce this bug, the variable explorer works well when using input, I tested in Linux and Windows

[2017-08-28 18:54] rlaverde commented on #4156
Any hints of how to reproduce this issue?

[code]
This warning is raised by KDE input/output framework, maybe updating your KDE/Qt installation could fix this error

[2017-08-28 19:01] jnsebgosselin commented on #4705
@ccordoba12 I think I'm able to reproduce this, either by splitting vertically or horizontally, with a project opened or not. Here is the full traceback:

Traceback (most recent call last):
  File "C:\Users\jsgosselin\spyder\spyder\widgets\editor.py", line 2274, in <lambda>
    lambda: self.split(orientation=Qt.Vertical))
  File "C:\Users\jsgosselin\spyder\spyder\widgets\editor.py", line 2335, in

[2017-08-28 19:10] Gh0str1d3r commented on #4156
I'm on Gentoo Linux with all the available updates installed. Specifically, kio is in version 5.37.0 and Qt in version 5.7.1. I believe these are the latest available versions. Please let me know if there is any further information I can provide to track this issue down.

[2017-08-28 19:11] Dulani opened #5075 "PDB variable explorer error?"
## Description

**What steps will reproduce the problem?**

1. Not sure... was in pdb trace, clicked on a dict in variable explorer to see contents and then closed the window.  Then the error came up.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/anaconda/lib/python3.6/site-packages/spyder/widgets/variableexplorer/collecti

[2017-08-28 19:19] zjlal5753 opened #5076 "Error"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/usr/lib/python2.7/site-packages/spyder/plugins/ipythonconsole.py", line 872, in run_script
    self.execute_code(line, current_client, clear_variables)
  File "/usr/lib/python2.7/site-packages/spyder/plugins/i

[2017-08-28 21:31] ccordoba12 commented on #5074
@dalthviz, can you reproduce this?

[2017-08-28 21:35] ccordoba12 commented on #4705
@jnsebgosselin, since you can reproduce it, would you mind to take a look at this one?

[2017-08-28 21:36] ccordoba12 commented on #4156
@rlaverde, that's the same warning I'm seeing and what makes to save files slow. I think we should run a `git bisect` between 3.0 and 3.1 to detect the commit that introduced this problem.

[2017-08-28 21:38] ccordoba12 commented on #5075
Please post a reproducible example so we can test it in our side. Without, it's hard to understand what generated this error.

[2017-08-28 21:39] ccordoba12 commented on #5076
Duplicate of issue #5053.

[2017-08-28 21:39] #5076 closed

[2017-08-28 21:39] rlaverde commented on #4156
Yes, but I can't reproduce it 😞

[2017-08-28 21:40] ccordoba12 commented on #5076
Please post in that issue an screenshot of how your IPython console looks when this error is generated.

[2017-08-28 21:43] bigheadming commented on #5074
Yes,  many times. On Aug 28, 2017 4:31 PM, Carlos Cordoba <notifications@github.com> wrote:@dalthviz, can you reproduce this?

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-08-28 21:43] abhayap opened #5077 "Crash when inspecting variable during debugging"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/Users/abhaya/miniconda3/lib/python3.6/site-packages/spyder/widgets/variableexplorer/collectionseditor.py", line 592, in setEditorData
    editor.setDateTime(QDateTime(value.date(), value.time()))
AttributeErro

[2017-08-28 21:44] ccordoba12 commented on #4156
I can, so I'll perform the bisect ;-)

[2017-08-28 21:45] ccordoba12 commented on #5074
I was asking to @dalthviz.

This was supposed to be fixed in 3.2.1, so I don't understand what happens in your case.

[2017-08-28 21:45] ccordoba12 commented on #5077
Please post the object you were trying to inspect when this error happened.

[2017-08-28 21:47] abhayap commented on #5077
How do I post the object?

[2017-08-28 21:49] ccordoba12 commented on #5077
By posting the code you used to generate that object, e.g.

    import numpy as np
    a = np.array([1, 2, 3])

if it were an array.

[2017-08-28 21:52] abhayap commented on #5077
This is it. It was a call to a rest api.
[code]

[2017-08-28 21:54] #4836 closed

[2017-08-28 21:56] ccordoba12 commented on #5077
The code is not complete, sorry. We need you to give us a code that we can execute in our side.

[2017-08-28 22:02] bigheadming commented on #5074
I am using 3.2.1 but it happened twice to me today. I am away from my deck now.  I can try again later tonight.On Aug 28, 2017 4:45 PM, Carlos Cordoba <notifications@github.com> wrote:I was asking to @dalthviz.
This was supposed to be fixed in 3.2.1, so I don't understand what happens in your case.

—You are receiving this because you authored the thread.Reply to this email directly, view it on Gi

[2017-08-28 22:24] ccordoba12 commented on #5058
You're right.

[2017-08-28 22:24] #5058 closed

[2017-08-28 22:38] ccordoba12 commented on #4681
@rlaverde, please take a look at this one. The code that tries to move automatically to the first breakpoint is here:

https://github.com/spyder-ide/spyder/blob/3.x/spyder/plugins/editor.py#L2406-L2408

We need to check if a breakpoint is placed in the first line that is not a comment or part of a docstring to apply it.

[2017-08-28 22:39] ccordoba12 commented on #4680
@dalthviz, please work on this one.

We need to detect if we are at the end of the file and stop debugging it that's the case.

[2017-08-28 22:46] #5040 closed

[2017-08-28 22:52] yehoshuadimarsky commented on #5072
Not sure if I'm supposed to open a new issue for this, but I'm also having the same problem. When I start it, it shows this:

![image](https://user-images.githubusercontent.com/24758845/29796776-101b7e88-8c21-11e7-8a31-f34c0ac5b71f.png)

I  think this might be because I messed up some packages by using both pip and conda, but not sure.

Specs:
Windows 10
Python 3.6.1

I ran `conda list --export >

[2017-08-28 22:56] bigheadming commented on #5074
Hi, just back home and I am sure I can replicate. Here are the steps: 
1. Launch spyder.2. I have a .py file already opened since my last use. On the editor, click on the 'wheel' menu at the upper right corner. 3. Choose 'split vertically' (I also tried 'split horizontally, same). 4. Now, go to the newly created panel. Click the the 'wheel' menu at the upper right corner, and the error appears. 
N

[2017-08-28 23:32] #877 closed

[2017-08-29 00:23] ccordoba12 commented on #4984
Sorry, this was not a duplicate of that issue, but we'll fix it in 3.2.2

[2017-08-29 00:33] ccordoba12 commented on #4984
Sorry, I forgot that we decided Spyder will always set the CWD after startup at your home directory. If you want to use a particular directory, please use *the following directory* option.

[2017-08-29 00:33] #4984 closed

[2017-08-29 00:39] ccordoba12 commented on #4881
@dalthviz, please take a look at this one.

To have the equivalent of a hanged console, you can run this code on it

[code]

[2017-08-29 02:57] jnsebgosselin commented on #4705
Yes, I'll work on this one and I'll also write a test.

[2017-08-29 02:57] selous123 commented on #5060
everything goes well

when i use **Source installation**  instead of "pip install..." as official website proposal to reinstall my pytorch and it works.

thank you very much

[2017-08-29 02:59] andfoy commented on #5060
@selous123 For future installation, PyTorch developers recommend to install the package using conda:
[code]

[2017-08-29 02:59] #5060 closed

[2017-08-29 03:41] jnsebgosselin commented on #4705
ok, I think the problem comes from [line 1241](https://github.com/spyder-ide/spyder/blob/master/spyder/plugins/editor.py#L1241):

`editorstack.set_outlineexplorer(self.outlineexplorer)`

we should read instead:

`editorstack.set_outlineexplorer(self.outlineexplorer.explorer)`

and the reason is given [here on line 545](https://github.com/spyder-ide/spyder/blob/master/spyder/plugins/editor.py#L545)

[2017-08-29 03:54] jnsebgosselin commented on #4705
I'm now able to correctly split vertically and horizontally the Editor, but if I click on an item in the outline explorer when I'm in the newly created editor panel (not the original one), I get the following traceback:

Traceback (most recent call last):
  File "C:\Users\jsgosselin\spyder\spyder\widgets\editortools.py", line 491, in clicked
    self.activated(item)
  File "C:\Users\jsgosselin\spy

[2017-08-29 06:52] abhinav19792 commented on #3138
Try giving firewall access to python and check environment variables.

[2017-08-29 08:20] osirisjs opened #5080 "ValueError: not enough values to unpack in the File Explorer"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\Users\overt_000\Anaconda3\lib\site-packages\spyder\widgets\explorer.py", line 154, in icon
    file_type, bin_name = mime_type.split('/')
ValueError: not enough values to unpack (expected 2, got 1)

## Versi

[2017-08-29 10:38] bigheadming commented on #5074
I tried again this morning. I found that apart from: 
"Notice that, the first time I tried, it seems working without the error. In this case, try to resize the newly created panel, and click on the 'wheel' menu, the error will appear." 
Sometimes, if clicking the 'wheel' menu of the newly created panel and works without the error, then go ahead to choose 'close the panel'. Then go to the original

[2017-08-29 12:44] pnolte opened #5081 "No such file or directory"
## Description

**What steps will reproduce the problem?**

1. run a script by pressing F5

**What is the expected output? What do you see instead?**
The script runs normaly after it finishes I get an error message from Spyder

**Please provide any additional information below**

  File "c:\python27\lib\site-packages\spyder\plugins\ipythonconsole.py", line 898, in set_working_directory
    refresh

[2017-08-29 12:45] Dschoni commented on #5059
I found, that probably the issue is not spyder exclusive:

When I open a python console and do

`import qtpy`

The same error happens.

[2017-08-29 13:00] Dschoni commented on #5059
One more point: `QT_API` is set to `pyqt`, unsetting or changing leads to a segmentation fault when starting spyder.

[2017-08-29 13:30] Mifdhal opened #5082 "Help"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

    plugin = mod.PLUGIN_CLASS(self)
    stderr=self.server_stderr)
    restore_signals, start_new_session)
    args = list2cmdline(args)
    needquote = (" " in arg) or ("\t" in arg) or not arg
TypeError: argument of t

[2017-08-29 13:50] Dschoni commented on #5059
For now, I deinstalled anaconda3, got anaconda2 (v.4.4.0), did

[code]

and can now use spyder again.

[2017-08-29 13:50] #5059 closed

[2017-08-29 15:03] ccordoba12 commented on #5059
Great! Thanks for letting us know about it.

[2017-08-29 16:43] silentquasar commented on #2359
I'm interested in looking into this at some point soon. Could one of the main devs give a pointer to where and how pep8/pycodestyle is called in the project? I can do the sleuthing myself if necessary though.

[2017-08-29 17:39] rlaverde commented on #2359
Pycodestyle automaticaly detects [config file]( http://pep8.readthedocs.io/en/latest/intro.html#configuration), the problem is that spyder creates a [temporary file](https://github.com/spyder-ide/spyder/blob/3.x/spyder/utils/codeanalysis.py#L138) and call pycodestyle against that file

I think the best solution is to use the API (as @bilderbuchi suggested) http://pep8.readthedocs.io/en/latest/api.

[2017-08-29 18:36] arman00 opened #5084 "Memory leak when there are objects in an imported module"
## Description
Memory is not released for the objects existing in an imported module. After I use %reset -sf, although it clears all the objects in the variable explorer, it does not clear the objects in the imported module.

**What steps will reproduce the problem?**

1. Create dummy_mem.py including below lines:
[code]
2. Create test_mem.py including below line:
[code]
3. Clear memory, for insta

[2017-08-29 18:44] dalthviz commented on #5074
@ccordoba12 testing in Python2 I can reproduce the problem.

[2017-08-29 19:34] yanwu26 commented on #1900
Hello, I know this is an older thread but I have this problem as well. What is a suggested alternative?

[2017-08-29 19:54] mikofski commented on #1900
@yanwu26 use the basic Python console instead of ipython kennel and it should work fine

[2017-08-29 20:15] ccordoba12 commented on #5074
@dalthviz, thanks!

@andfoy, please take a look at this one.

[2017-08-29 22:36] ma-sadeghi opened #5085 "There are two scroll bars in the Editor"
## Description of your problem
There are two scroll bars instead of one in the text editor. Here's how my text editor looks like:
![image](https://user-images.githubusercontent.com/14086031/29847266-bd031684-8ce8-11e7-851d-3d23dbba8973.png)

**What is the expected output? What do you see instead?**
I expect to only see one scroll bar!

## Versions and main components

* Spyder Version: 3.2.1
* Pyt

[2017-08-30 01:50] jnsebgosselin commented on #5085
The "scrollbar" on the left is not actually a scrollbar. This is an indicator that shows the portion of the file that is visible in the Editor, with the actual position of code errors (red lines), code analysis (yellow lines), positions of break points (red lines), etc... This is quite handy to navigate quickly to a given flag in a file.

[2017-08-30 01:58] ma-sadeghi commented on #5085
@jnsebgosselin Maybe, but it's annoying to me. I'd like the editor to be minimal like in Sublime or Atom. Right now Spyder GUI is cluttered IMO. Is there any way to get rid of this so-called "scroll bar". Thanks for your quick reply btw 👍

[2017-08-30 01:59] ma-sadeghi commented on #5085
@jnsebgosselin Also, I understand that the errors/warnings show up in this area, but I'm talking about the grayish box that looks like a scroll bar, not the whole area itself.

[2017-08-30 02:31] jnsebgosselin commented on #5085
Unless I'm mistaken, I do not think there is such an option to do that in the options. @ccordoba12 what do you think?

If you really really want to get rid of the grayish box and quick, you can patch your local copy of Spyder by commenting lines [1487 ](https://github.com/spyder-ide/spyder/blob/3.x/spyder/widgets/sourcecode/codeeditor.py#L1487) to [1493 ](https://github.com/spyder-ide/spyder/blob/

[2017-08-30 03:37] bigheadming opened #5087 "Get 'unable to find vcvarsall.bat when 'import surprise'"
## Description
Get 'unable to find vcvarsall.bat when trying to run 'import surprise'. Package surprise is a python package which was installed successfully by 'pip install numpy' and 'pip install scikit-surprise'. I have tried running 'import surprise' under ipython and jupyter-notebook in the same machine, both run successfully. However, 'import surprise' gives me  'unable to find vcvarsall.bat

[2017-08-30 03:57] AraHaan commented on #5084
This could help if all instances of pythonw.exe was to have the gc module enabled to automatically garbage collect objects that has no references anymore. Although I dont see why they are not automatically collected yet because of python automatically using garbage collection by cgc (Cyclic Garbage Collection) based on reference counting. 🤔

[2017-08-30 04:40] kengEbiz opened #5088 "Spyder Error"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\Anaconda\Anaconda3\lib\site-packages\spyder\widgets\explorer.py", line 154, in icon
    file_type, bin_name = mime_type.split('/')
ValueError: not enough values to unpack (expected 2, got 1)

## Version and

[2017-08-30 06:14] ccordoba12 commented on #5084
Sorry, this is an IPython problem. Please raise this problem with them.

[2017-08-30 06:14] #5084 closed

[2017-08-30 06:20] ccordoba12 commented on #5082
I don't understand what this error is about, sorry.

[2017-08-30 06:20] #5082 closed

[2017-08-30 06:23] ccordoba12 commented on #5087
Did you start Spyder from a system terminal (cmd.exe) before running this?

[2017-08-30 06:24] ccordoba12 commented on #5085
i think we should remove that spurious scrollbar for Spyder 4. @goanpeca?

[2017-08-30 06:25] ccordoba12 commented on #5088
@andfoy, what could be generating this error? it seems related to the new icons added in 3.2

[2017-08-30 06:27] ccordoba12 commented on #5088
Closing as a duplicate of issue #5080.

@andfoy, please answer there.

[2017-08-30 06:27] #5088 closed

[2017-08-30 06:34] #4879 closed

[2017-08-30 06:40] #5019 closed

[2017-08-30 06:45] ccordoba12 commented on #5081
Please run

    spyder --reset

in a system terminal (cmd.exe) and try again.

[2017-08-30 08:23] pnolte commented on #5081
spyder --reset did not help

I narrowred it further down:

What steps will reproduce the problem?

1. I did spyder --reset
2. I started spyder from a terminal in folder A
3. I loaded a script from folder A, I ran it
4. When I was asked for the configuration to run the script I chose:
   Console:
   - Execute in current console

   General settings:
   - noting selected

   Working Directory settin

[2017-08-30 09:12] Prikers commented on #5085
An idea could be to hide the actual scrollar (set its width to 0) and make it possible to use the scrollflag to actually scroll (by grabbing it). It would save some space as it would combine the (very usefull) flag area with the grabbable item.

[2017-08-30 10:28] bigheadming commented on #5087
I started with the icon created by Anaconda when installing it. I am tried to start from a cmd.exe and type in 'spyder' (as you suggested). Then type in 'import surprise'. Both the same error. 

    On Wednesday, August 30, 2017 1:23 AM, Carlos Cordoba <notifications@github.com> wrote:

 Did you start Spyder from a system terminal (cmd.exe) before running this?—
You are receiving this because you

[2017-08-30 11:42] jnsebgosselin commented on #5085
I personally got used to love this slider range indicator, so :-1: to completely remove it. I'll go for an option instead.

Pikers idea is interesting, though this may cause problem for very long files for which the slider range indicator becomes very small.

[2017-08-30 12:08] jnsebgosselin commented on #5085
I'll go with something like this in the Editor preferences, with two checkboxes:

`[x] Show scroll flag area    [ ] Show slider range indicator`

The "show slider range indicator" would be active only when "show scroll flag area" is checked.

[2017-08-30 13:04] Prikers commented on #5085
@jnsebgosselin you're idea seems to be the most reasonable! :+1:
My initial idea was to combine these two "scrollbars" into one. So either:

- Hidding the standard scrollbar (without messing it further than just hidding) and making the scroll flag area act as a scrollbar (draggable and also clickable for long files)
- Or painting all the flags on the standard scrollbar (not sure that's even possib

[2017-08-30 13:10] divenex opened #5090 "Use same IPython console history inside/outside debugging"
## Description

It was great to finally see the important addition of the command line history in the IPhython console during debugging in Spyder 3.2, with the corresponding removal of the buggy Python console!

**What steps will reproduce the problem?**

The current IPhython console debugging history (i) is only limited to the command typed inside the debugging session and has no acess to the oth

[2017-08-30 13:34] jnsebgosselin commented on #5085
@Prikers What I meant is, from a user perspective, I'm not sure it is a good idea to change the behaviour of the scrollbar. I know it is not exactly the same issue, but I remember when they changed the scrollbars in Unity for Ubuntu, there was a lot of rage. They finally added an option to revert back to the standard scrollbar. I think we would have to to the same also if we go this route. Just my

[2017-08-30 13:42] goanpeca commented on #5085
We should probably just show the grayish area on hover and not all the time?

[2017-08-30 14:01] ccordoba12 commented on #5085
I agree with @goanpeca on this one. I wouldn't like to add yet another option to our (already overcrowded) Preferences.

[2017-08-30 14:06] rlaverde commented on #5085
Deactivating/activating it in master is kind of easy, because It's a panel, Maybe we could  add an option for deactivating

I find this scrollbar a little annoying, but at the same time It's kind of useful, maybe we could improve it to be a mini-map (like the one in sublime), that will also show the errors/warnings.

I also agree with this, removing the grayish area It'll not look as an scrollbar,

[2017-08-30 14:20] ccordoba12 commented on #5087
No idea why this is happening, sorry. We'll try to take a look at this in a future release.

[2017-08-30 14:22] ccordoba12 commented on #5081
I have no idea why this is happening, sorry. We'll try to take a look at this in a future release.

[2017-08-30 14:23] ccordoba12 commented on #5075
Closing because of lack of response. Please reopen when you post the code for the dict you were viewing.

[2017-08-30 14:23] #5075 closed

[2017-08-30 14:24] ccordoba12 commented on #5077
Closing because you're code is not complete. Please reopen when you post a complete code.

[2017-08-30 14:24] #5077 closed

[2017-08-30 14:29] ccordoba12 commented on #5046
Closing because of lack of response.

[2017-08-30 14:29] #5046 closed

[2017-08-30 14:30] ccordoba12 commented on #5049
Closing because of lack of response.

[2017-08-30 14:30] #5049 closed

[2017-08-30 14:30] ccordoba12 commented on #5065
Closing because of lack of response.

[2017-08-30 14:30] #5065 closed

[2017-08-30 14:30] FuriouslyCurious opened #5091 "DMG Installers for New Versions"
## Description of your problem
The latest DMG I could find is from Nov 2016.  I don't like to pollute my native OS with packages, so all my Python environment and Anaconda are Dockerized.

Are there any plans to update the DMG?

**What is the expected output? What do you see instead?**

An updated DMG image with each major release would be helpful to many.

[2017-08-30 14:32] ccordoba12 commented on #5091
No, there aren't, sorry.

[2017-08-30 14:32] #5091 closed

[2017-08-30 14:34] jnsebgosselin commented on #5085
I agree with @goanpeca, but I would like to see this visible also when scrolling (with a timer maybe before hiding it). Really, this area is very useful to me, I can't be the only one lol? Moreover, it is going to be even more useful once I add the bookmarks feature.

As for making it like in Sublime, I'm not sure. Presently, the scroll flag area can show with a glance all the flags there is in th

[2017-08-30 14:35] ccordoba12 commented on #5072
According to this StackOverflow post

https://stackoverflow.com/questions/7446187/no-module-named-pkg-resources

this is a problem with `setuptools`, though your `conda list` shows no problem.

Since I really don't know what's happening in your case, my only advice is for you to uninstall and reinstall Anaconda all over again, sorry.

I guess at some point you installed a package with `pip` and th

[2017-08-30 14:35] #5072 closed

[2017-08-30 14:41] rlaverde commented on #5085
Another option is as KWrite does, show all the file and always show the selected area: (It still looks good with a file with + 3000 lines), although kwrite replace the normal scrollbar with the minimap-scrollbar

![spectacle hz8669](https://user-images.githubusercontent.com/2024217/29878003-ee598ec4-8d66-11e7-9fbe-8444863cdfad.png)

[2017-08-30 14:46] ccordoba12 commented on #5090
About your points:

Since `ipdb` can only accept single line commands and you can enter single and multiline commands in the console, there's no way we can merge the two histories.

Yeah, sorry about that. The problem is we're not saving debugging history to a file, just to a Python list for now.

Right now we don't plan to do more improvements because they will require significant changes. Howeve

[2017-08-30 14:52] ccordoba12 commented on #5085
@rlaverde, I'm a big fan of Kwrite/Kate but I really prefer Spyder's simplicity. I'm not opposed to add a minimap to Spyder, but as a third-party plugin, not by default.

[2017-08-30 14:53] ccordoba12 commented on #5085
@goanpeca, @rlaverde, what do you say?

[2017-08-30 14:53] goanpeca commented on #5091
@ccordoba12 since I have a mac, I could potentially do this if needed, but then again, I think having a dmg of spyder defeats the purpose of updating installing new packages etc. Thoughts?

[2017-08-30 15:01] ccordoba12 commented on #5091
I think we should really invest time in `menuinst`. The DMG is convenient for macOS users because it has good integration with the Dock and Finder. But we could add that to `menuinst` and avoid maintaining more stuff that we can process.

My idea is to push for Anaconda as our only supported source of installation, and leave pip and any other method as alternative and for experts only.

[2017-08-30 15:07] ccordoba12 commented on #5091
I mean, that's why RStudio and Matlab are so stable: because they are a unified platform at the bottom. We're never going to achieve that if we try to support every installation method under the sun :-)

[2017-08-30 15:07] goanpeca commented on #5091
Agree, I am working on `menuinst` then ;-)

[2017-08-30 15:08] ccordoba12 commented on #5091
Great! Thanks a lot!!

[2017-08-30 15:10] goanpeca commented on #5085
@rlaverde I think eventually every panel should have an option for enabling disabling, so the question is, this should be probably an option on the panel? so that the config is automatically generated instead of manually adding theses options per panel?

[2017-08-30 15:16] rportron commented on #3602
Hi I have the same issue on Spyder 3.2.1 and Windows 10
If I click on Open or Save As, SPyder3 crashes

[2017-08-30 15:23] sugarujumbo opened #5092 "Spyder 3 not responding"
## Description of your problem

first accidentally installed WinPython 3.5.4.0Qt5-32bit, then tried to uninstall it but couldn't find the option.  Then I installed WinPython 3.6.2.0Qt5-64bit.

**What steps will reproduce the problem?**
Launched Spyder3 and once launched it goes into "Not Responding" mode

One thing i noticed in the task manager is multiple instances of QtWebEngineProcess.exe, pyth

[2017-08-30 15:34] ccordoba12 commented on #5092
Please report this in the WinPython repo:

https://github.com/winpython/winpython/

[2017-08-30 15:34] #5092 closed

[2017-08-30 16:08] jnsebgosselin commented on #5085
Also, maybe toning down a little the _slider range indicator_ would help a long way to make it less annoying?

 In the screenshot below, I changed the color from `white` to `grey`, toned down the alpha from 50% to 35% and removed the edge.

![image](https://user-images.githubusercontent.com/10170372/29882633-a03ea4c6-8d7b-11e7-9dda-268622077aef.png)

[2017-08-30 16:15] divenex commented on #5090
Hi @ccordoba12, thanks for the explanations.

What about having the debugger history only access the subset of single-line commands in the main history? This would not be a major limitation.

[2017-08-30 16:17] goanpeca commented on #5085
Well @ccordoba12, @rlaverde @jnsebgosselin , if we did not have the normal OS scrollbar, we could simply use the flag area? What we can then enable or disable, is if warning are shown or not.

[2017-08-30 17:06] jnsebgosselin commented on #5085
@goanpeca hehe this is what @Prikers suggested in the first place. It won't work for large files, because the slider height will be too small. but we can simply fix a minimum height for this scenario. I'm still not sure I like this approach though...  I've never been a big fan of software with custom scrollbar. I will continue to think about it though.

Personally, I would prefer the option to kee

[2017-08-30 17:26] DidemnumVex commented on #4305
This was working in previous versions of spyder and has stopped working since I updated it recently.  I've seen no other improved functionality and may go back to the previous version.

[2017-08-30 17:41] rlaverde commented on #5085
Yes, It also could be added to editor extensions, although that could be generated based in the name of the panel, or maybe add an attribute with a custom text to be displayed.

[2017-08-30 17:45] goanpeca commented on #5085
@rlaverde plus some option to add it or not to the panel

[2017-08-30 18:16] arman00 commented on #5084
Ok, I raised this issue with IPython.

[2017-08-30 18:49] ccordoba12 commented on #5084
Thanks!

[2017-08-30 20:01] arman00 commented on #5084
https://github.com/ipython/ipython/issues/10764#issuecomment-326094539

[2017-08-30 21:43] BlckKnght opened #5095 "Index Error when copying only the "In [1]: " part of an input line."
## Description

If you try to copy only the prompt (and its trailing space) from an IPython console tab, you get an IndexError. The text does get copied.

**What steps will reproduce the problem?**

1. Run any line of code in an IPython console (it can be a trivial expression, like `42` or `"spam"`).
2. Highlight the "In [1]: " prompt from the previous line with your mouse. Make sure you include t

[2017-08-31 00:36] yangst09 opened #5096 "spyder 3.2.1"
## Description of your problem

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

## Versions and main components

* Spyder Version:
* Python Version:
* Qt Version:
* PyQt Version:
* Operating system:

## Dependencies

Please go to the menu entry `Help > Optional Dependencies` (or
`H

[2017-08-31 00:58] #5096 closed

[2017-08-31 02:12] #4410 closed

[2017-08-31 02:18] #4221 closed

[2017-08-31 07:49] biaojiang opened #5097 "Editor and ipython console tabs have no "close tab" icons"
## No "close tab" icons appear on the tab buttons
**So, it is annoying that it is not convenient to close the files or ipython consoles**

## Versions and main components
* Spyder 3.2.1 or 3.4 by "python bootstrap.py":
* Python 3.6.2:
* PyQt 5.9:
* MacBook Pro with touch bar, Sierra 10.12.6:

**However, spyder on other Macs are OK**
For python 3.6.1, Sierra 10.12.6, on iMac and MacBook Air, the sp

[2017-08-31 08:43] ventilator opened #5098 "Jupyter Notebook fails on Win7,32bit machine with vague error message ("DLL load failed")"
## Description

**What steps will reproduce the problem?**

1. download WinPython-32bit-3.6.2.0Qt5.exe
2. install on a Win7/32bit machine
3.  start spyder.exe
4. some error occurs because jupyter notebook does not work
5. spyder gives errormessage (see below)

**What is the expected output? What do you see instead?**
I guess spyder tries to display some failure message box, but fails to do so.
Jup

[2017-08-31 08:52] bigheadming commented on #5087
Thanks for your reply. Please take a look if possible. It's very annoying that I have to switch to other IDE when using that package (python package called surprise) as I am working on some project that I need to use it very often. This is especially true when Spyder 3.2.1 only supports ipython console now (in the past, I could choose to use python console to avoid this problem.) Thanks.

    On W

[2017-08-31 09:11] kohr-h opened #5099 "Closing last open file while being in non-existing working dir raises exception"
## Description

When closing the last file in the editor while the working directory is non-existing (e.g. after changing git branch) I get this exception:

[code]

The same happens when I immediately try to open a file without changing the working dir.

**Steps to reproduce the problem**

1. Make new directory and make it the working directory. Have a file open.
2. Remove the directory on disk.
3

[2017-08-31 09:30] ceaza commented on #2162
Still not working for me and running from source: https://github.com/spyder-ide/spyder/commit/efbfd54f1 using winpython 3.6.2.

IPython >=4.0    :  6.1.0 (OK)
cython >=0.21    :  0.26 (OK)
jedi >=0.9.0     :  0.10.2 (OK)
nbconvert >=4.0  :  5.2.1 (OK)
numpy >=1.7      :  1.13.1 (OK)
pandas >=0.13.1  :  0.20.3 (OK)
pycodestyle >=2.3:  2.3.1 (OK)
pyflakes >=0.6.0 :  1.6.0 (OK)
pygments >=2.0   :  2.

[2017-08-31 11:02] Scronker opened #5100 "Error message "Unable to find vcvarsall.bat""
## Description
When compiling in command prompt "hello.py" to a Cython module I get a "Unable to find vcvarsall.bat" error message.
I have Visual Studio 2017 installed and anaconda3 running python
python setup.py build_ext --inplace
**What steps will reproduce the problem?**

1. from distutils.core import setup
2. from Cython.Build import cythonize
3. setup(ext_modules=cythonize("hello.pyx"))

**W

[2017-08-31 12:08] rlaverde commented on #5098
The backtrace coming from spyder correspond to this error https://github.com/spyder-ide/spyder-terminal/issues/96 that's already fixed, please update spyder-terminal

The other one looks like a WinPython error.

[2017-08-31 13:11] sebma commented on #4604
Hi,

Can you also add the `.py2` extension ?

[2017-08-31 13:41] jnsebgosselin commented on #5085
@goanpeca and @prikers here is how your idea could look like. I'll work for a while like that and I will comment back later. I must admit I kind of like that after all. The implementation is a little bit hacky, it was only to test how it felt user-wise. You can test it here: https://github.com/jnsebgosselin/spyder/tree/flagarea_as_scrollbar

Some downsides are that we kind of have to lose the up/d

[2017-08-31 14:43] ccordoba12 commented on #5097
It seems a Qt issue. Nothing we can do in our side other than recommending you to use Anaconda instead.

[2017-08-31 14:43] #5097 closed

[2017-08-31 15:18] prospero78 opened #5101 "request "Russia from Lowe""
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "D:\coding\WinPython-64bit-3.5.4.0Qt5\python-3.5.4.amd64\lib\site-packages\spyder\plugins\__init__.py", line 511, in <lambda>
    toggled=lambda checked: self.toggle_view(checked),
  File "D:\coding\WinPython-64

[2017-08-31 16:15] ccordoba12 commented on #5100
I don't understand. Are you running

    python setup.py build_ext --inplace

inside an IPython console?

[2017-08-31 16:16] #5098 closed

[2017-08-31 16:19] ccordoba12 commented on #5101
It seems `localhost` is not available in your PC as an address to connect to. However, this is not a Spyder problem, please report it here:

https://github.com/winpython/winpython/

[2017-08-31 16:19] #5101 closed

[2017-08-31 16:21] ccordoba12 commented on #5099
Thanks for reporting. We'll take a look at this after we release 3.2.2

[2017-08-31 16:22] abk7251 commented on #3740
Hello
i DID everything stated above set  QT_QPA_PLATFORM_PLUGIN_PATH   to  path .\Anaconda3\Library\plugins\platforms.
Now this error is showing.Please help
![image](https://user-images.githubusercontent.com/10489891/29933845-b682bc4c-8e96-11e7-819f-5d56d9732d8e.png)

[2017-08-31 16:25] ccordoba12 commented on #5085
@jnsebgosselin, although these experiments are interesting, I don't think we should remove the OS scrollbar in the Editor.

[2017-08-31 16:28] goanpeca commented on #5085
@ccordoba12 there is duplication and I do feel the concern of the user. Avoiding duplication has 2 roads.
- We implement a custom scroll bar (QScrollBar widget) and add warnings on top of it
- We use the custom widget for the scroll flag area

[2017-08-31 16:31] anisioboreli opened #5102 "After a power failure, cannot launch spyder"
## Description of your problem
After a power failure, I cannot launch spyder anymore. I already tryed **spyder --reset**, uninstalling and installing again. Every time I try to open it, this message appears "
![screenshot 2017-08-31 13 27 17](https://user-images.githubusercontent.com/29805366/29934080-3d9bbb94-8e50-11e7-8204-247c3dcf6825.png)
"

**What steps will reproduce the problem?**

1.
2.
3.

[2017-08-31 16:32] jnsebgosselin commented on #5085
@goanpeca In the proof-of-concept I made above, I did the former, i.e. I implemented a custom QScollBar and added warnings on top of it.

[2017-08-31 16:32] ccordoba12 commented on #5085
Yeah, but Chrome only has one panel/view active all the time, and we have several instead. Having one panel with a custom scrollbar and the others with the OS scrollbar is more confusing, I'd say.

Besides, this is the first complain I've heard about this, so we shouldn't rush to *fix* it.

[2017-08-31 16:34] goanpeca commented on #5085
It is just the same scrollbar, only that it has warnings painted on top of it (like chrome does). I am not sure why @jnsebgosselin POC looks so different if he used the OS Scroll bar.

Not really, some other issues regarding waste of horizontal and vertical space addressed this issue as well. This is definitely not the first time it comes up.

[2017-08-31 16:41] jnsebgosselin commented on #5085
I changed it with setStyleSheet. If I use the default style of the OS, it works, but it doesn't look very good when the OS theme is not a flat one like in Windows 7 for example.

![image](https://user-images.githubusercontent.com/10170372/29934497-705d5f8a-8e49-11e7-9c73-06bbce56dd7b.png)

[2017-08-31 23:34] #4844 closed

[2017-09-01 00:09] ccordoba12 commented on #4681
Reopening because #5086 doesn't address this in all situations.

[2017-09-01 08:31] youtanyouzhen commented on #2970
I get rid of it by pressing F10 (Run→profile) to run the program.

[2017-09-01 12:47] panyulan opened #5103 "Spyder encountered a problem"
## Description

**What steps will reproduce the problem?**

1. open Anaconda
2. ebter activate tensorflow
3. enter Spyder
4.Jump out the Spyder wrong message
![r9 2 j95vxnpls_uj4cld b](https://user-images.githubusercontent.com/22711032/29970450-3306356c-8f57-11e7-99b5-d1f4921148c5.png)

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

[2017-09-01 13:16] mileyhe opened #5104 "SyntaxError: unexpected EOF while parsing"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "D:\Anaconda\Anaconda3\lib\site-packages\qtconsole\base_frontend_mixin.py", line 163, in _dispatch
    handler(msg)
  File "D:\Anaconda\Anaconda3\lib\site-packages\spyder\widgets\ipythonconsole\namespacebrowser.

[2017-09-01 14:16] amehrish commented on #3555
Hi, Can you please confirm if this has now been fixed in the new release 3.2.1? I am currently using 2.3.9 because of the debugger issue.

[2017-09-01 16:47] bcolsen commented on #2992
@ccordoba12 I think that this works now.

![screenshot from 2017-09-01 10-40-42](https://user-images.githubusercontent.com/10513354/29979455-c5d6aafc-8f02-11e7-89d1-0c7839a8b1e3.png)

[2017-09-01 16:48] bcolsen commented on #2162
@ceaza What's not working exactly?  Do you have an example of code that won't complete?

[2017-09-01 16:50] stonebig commented on #2162
is this a possible solution ?
https://github.com/spyder-ide/spyder/issues/5071#issue-253179855

[2017-09-01 16:52] jnsebgosselin commented on #5085
Ok, Here's my feedback after working for a day or two with the POV I've presented above. I agree with @ccordoba12 we should not rush to fix this and at the same time, I agree with @goanpeca there is a duplication that is undesirable here. So let's continue to brainstorm a little bit on this topic while it is still hot :)

So, working with the custom toolbar with the flags painted over it is workin

[2017-09-01 17:26] goanpeca commented on #5085
@jnsebgosselin thanks a lot for working on this POCs :-), I would personally prefer to have a single OS scroll bar with stuff on top of it but the middle ground is probably what you propose so :+1:

[2017-09-01 17:37] malavikasajikumar opened #5105 "spyder opened with large font, cannot seem to reverse to the usual font"
## Description
spyder opened with large font, cannot seem to reverse to the usual font
**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**
This is what I see

![image](https://user-images.githubusercontent.com/31548078/29981141-732542ec-8f01-11e7-8e85-3524b5d3acff.png)

**Please provide any additional information below**

## Version and m

[2017-09-01 17:41] jnsebgosselin commented on #5085
@goanpeca hehe well, there is still room for other ideas :). I'm testing stuff while working, so maybe I'll think of something else.

The thing with drawing flags on the scrollbar is, we won't have control over how it looks like on different OS. I don't know if you agree with me, but for example in Windows 7, it doesn't look very good... Chrome force a flat toolbar, so it looks good even in Window

[2017-09-01 19:43] ccordoba12 commented on #2992
Is it working for Dataframes and dictionaries?

[2017-09-01 19:45] ccordoba12 commented on #5103
The error is not complete. Could you copy and paste the full error from the dialog whose screenshot you posted above?

[2017-09-01 19:47] ccordoba12 commented on #5104
This was fixed in Spyder **3.2.1**. Please update to that version.

[2017-09-01 19:47] #5104 closed

[2017-09-01 19:49] ccordoba12 commented on #5105
Please update to version **3.2.1** and adjust your screen resolution in

    Preferences > General > Screen resolution

[2017-09-01 19:49] #5105 closed

[2017-09-01 20:01] ccordoba12 commented on #5085
From all @jnsebgosselin POCs, I prefer the last one the most.

@goanpeca is working to style the entire application, so (as part of that work) we would be able to define a custom style for scrollbars too.

[2017-09-01 20:06] shashidharsunkari opened #5106 "intellisense not working"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**
Intellisense on winpython is not working

**Please provide any additional information below**

## Version and main components

* Spyder Version: 3.1.4.dev0
* Python Version: 3.5.3
* Qt Versions: 5.8.0, PyQt5 5.8.1 on Windows

## Dependencies
[code]

[2017-09-01 20:12] ccordoba12 commented on #5106
This is a duplicate of issue #4410 and it will be fixed in Spyder 3.2.2

[2017-09-01 20:12] #5106 closed

[2017-09-01 20:21] hollemantv opened #5107 "FileNotFoundError for profiler.results"
## Description

**What steps will reproduce the problem?**

1. Apologies in advance for the inadequecy of my response, but you guys asked me to submit this, so I'm doing so.
2. I have no idea what happened. I hit F9 and a box popped up....no error message in console.  (fwiw i hit F9 to execute a 2-line function i wrote, with a range(3) for loop.
3.

**What is the expected output? What do you see i

[2017-09-01 20:27] ajayrathore opened #5108 "Hide _pycache_ folder in Project and File explorers"
## Description of your problem

**What steps will reproduce the problem?**

1. On loading a package, spyder ide creates a "_pycache_" folder which is very annoying, there should be an option to hide this meta information from the user, it creates unnecessary noise.

**What is the expected output? What do you see instead?**
There should be an option to hide this _pycache_ folder

**Please provide a

[2017-09-01 21:30] ccordoba12 commented on #5107
What happens if you run

    spyder --reset

and try again?

[2017-09-01 21:35] ccordoba12 commented on #1797
Closing because were rewritten in Spyder 3.0, so this no longer applies.

[2017-09-01 21:35] #1797 closed

[2017-09-01 21:40] ccordoba12 commented on #5108
That folder is created by Python, not by Spyder. What we can do is hide it from our File and Project explorer views, but not directly from disk.

[2017-09-01 21:55] ajayrathore commented on #5108
Yes, hiding it from editor view is good enough, don't need to delete from disk

[2017-09-01 23:11] jnsebgosselin commented on #5085
@ccordoba12 yeah me too.

I think I may have found an interesting idea that could make my last approach more interesting. What if  when in the editor, we bind the navigating capability of the `flagscrollarea` with a keyboard modifier key? This would make the `flagscrollarea` even more useful and this would minimise the mouse travel length for navigating within the file. What do you think?

![scrol

[2017-09-01 23:51] Gavinaldi commented on #5015
I wasn't able to reproduce it, either. But to be fair, I wasn't trying to.

But I've found a way to get Spyder int an infinite loop, the likes of which CTR+C can do nothing about. It locks Spyder up and then I have CTRL+ALT+DEL to shut it down.

If you're interested...
![image](https://user-images.githubusercontent.com/31182655/29991021-747933f8-8fb3-11e7-93e3-6676011b5cd4.png)

[2017-09-02 01:46] jitseniesen commented on #5085
I also like what @jnsebgosselin showed  [five posts above](https://github.com/spyder-ide/spyder/issues/5085#issuecomment-326630958). I hope it will look as good in the default light background. I'm a bit less sure about the keyboard modifier idea, but it will not really bother people who won't use it so I'm not against it.

[2017-09-02 08:32] ceaza commented on #2162
@stonebig @bcolsen  removing enum34 did the trick.

[2017-09-02 09:44] anilbhargava opened #5111 "Unable to save file in Python"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\Users\abharg\AppData\Local\Continuum\Anaconda3\lib\site-packages\spyder\widgets\editor.py", line 1474, in save
    finfo.encoding)
  File "C:\Users\abharg\AppData\Local\Continuum\Anaconda3\lib\site-packages\

[2017-09-02 14:32] sprague252 opened #5112 "Spyder-notebook error on startup"
## Description

**What steps will reproduce the problem?**

1. Start spyder with a fresh install of the spader-notebook plugin

**What is the expected output? What do you see instead?**
Error dialog box pops up and the notebook is unusable.

**Please provide any additional information below**

I am not sure if this is going to the right group. I am just submitting as suggested by the dialog box th

[2017-09-02 17:07] dalthviz commented on #5112
Issue moved to [spyder-ide/spyder-notebook #114](https://github.com/spyder-ide/spyder-notebook/issues/114) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-02 17:07] #5112 closed

[2017-09-02 17:53] atulsingh7890 opened #5113 "Couldn't Close the Panel , Opened by Vertical Split"
## Description

**What steps will reproduce the problem?**

1. Open some files
2. Vertical Split to have another Editor below that
3. Reduce the Size of Help and Console Panel to the right,
4. Now Try to close the Extra Edtior Panel , When you click the Gear Icon, a pop dialog appears with exception and a dialog for submitting this to GitHub.

WORKAROUND : After restarting Spyder , this doesnt occ

[2017-09-02 18:17] dalthviz commented on #5113
I think this is a duplicate of #5074 so it will be fixed for Spyder 3.2.2 (to be released soon).

[2017-09-02 18:17] #5113 closed

[2017-09-02 21:44] awsiitchs opened #5114 "KeyboardInterrupt error in waitingspinner"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/Users/Leo/anaconda/lib/python3.6/site-packages/spyder/widgets/waitingspinner.py", line 177, in rotate
    def rotate(self):
KeyboardInterrupt

## Version and main components

* Spyder Version: 3.2.0
* Python V

[2017-09-03 11:54] aliasHH opened #5115 "What steps will reproduce the problem?"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/Applications/anaconda/lib/python3.6/site-packages/spyder/widgets/ipythonconsole/namespacebrowser.py", line 50, in <lambda>
    self.namespacebrowser.process_remote_view(data))
  File "/Applications/anaconda/li

[2017-09-03 13:07] bensoibj commented on #5035
It's a pity that this cannot be configured in Preferences / Keyboard shortcuts, there only Ctrl+D appears as a shortcut to delete lines. Having never used Shift+Del for this, I have not yet adapted to it and still accidently delete lines... :-/

[2017-09-03 15:29] csabella opened #5116 "Internal console error when selecting Source -> Next warning/error (or Previous warning/error)"
## Description of your problem
When running master branch, get the following in the Internal console when selecting Source -> Next warning/error:

  File "/home/cheryl/spyder/spyder/plugins/editor.py", line 2151, in go_to_next_warning
    position = editor.go_to_next_warning()
  File "/home/cheryl/spyder/spyder/widgets/sourcecode/codeeditor.py", line 1433, in go_to_next_warning
    self.__show_cod

[2017-09-03 15:31] csabella commented on #5116
I have researched this issue and found that PR#3463 changed `__show_code_analysis_results` to `show_code_analysis_results`, but didn't update `go_to_next_warning` and `go_to_previous_warning`.

I'm submitting a PR with a fix.

This is for 4.0.0 only.

[2017-09-03 17:39] ccordoba12 commented on #5035
Sorry for the inconvenience. When we were implementing `Shift+Del` we discovered it has to be hard-coded in the application to work correctly, so it can't be reconfigured to something else.

[2017-09-03 18:35] rlaverde commented on #5111
According to the traceback, you don't have enough permitions to edit that file:
`PermissionError: [Errno 13] Permission denied: 'C:\Users\abharg\Dropbox\Python Programming\Session 3. Basic Statistics in Python\3.Basic statistics_V3_bhuvn.py'`

Although there is an error in the handling of the permissions error (introduced in #4870), I'll open a PR with a fix.

[2017-09-03 19:28] ccordoba12 commented on #5114
Thanks for reporting. We'll take a look at this in a future release.

[2017-09-03 19:40] rlaverde commented on #5114
I think this is caused because the waiting spinner is started in the creation of find in files, and never stopped (only the progress bar is hidden/shown) https://github.com/spyder-ide/spyder/blob/3.x/spyder/widgets/findinfiles.py#L784

[2017-09-03 19:52] dalthviz commented on #5115
I think this is a duplicate of #5015

[2017-09-03 19:58] rlaverde commented on #5115
@aliasHH  when this error happened, what code did you run? or what kind of object were you trying to see?

[2017-09-03 22:44] paoloangeles commented on #4154
Has this been fixed? I run my code successfully but I am unable to view any of the variables in the variable explorer afterwards. Why is this? Spyder 3.2.0 with Python 3.5.3.

[2017-09-03 23:21] jcbalmer opened #5119 "WinPython-64bit-3.5.4.0Qt5 Spyder unresponsive at startup"
## Description

**What steps will reproduce the problem?**

1. Opening Spyder.exe
2. Will open to the main screen but will then be unresponsive immediately
3. Open windows task manager and under the Processes tab, find multiple pythonw.exe listed, delete a few of these until Spyder suddenly responds.
4. Sypder then responds but lags significantly.
5. After lagging for 30sec or so the following mes

[2017-09-04 00:32] rlaverde commented on #5119
This is an spyder-terminal error already fixed in 0.2.1 https://github.com/spyder-ide/spyder-terminal/issues/96

Please wait until Winpython make a new release with a recent version of spyder-terminal

[2017-09-04 00:32] #5119 closed

[2017-09-04 00:49] jcbalmer commented on #5119
Thanks, will do

[2017-09-04 02:17] cmhjerry opened #5120 "I dont know why all my Spider windows are disappear"
## Description
I just tried to switch my window layout to Matlab Layout. Then everything disappeared and can't switch back. Could u please let me know how I can solve it? It is urgent. Thank you.

![image](https://user-images.githubusercontent.com/22530674/30009343-a31070d0-90f5-11e7-9e33-06d3b1b54bc0.png)

## Version and main components

* Spyder Version: 3.2.1
* Python Version: 2.7.13
* Qt Versi

[2017-09-04 02:22] #5120 closed

[2017-09-04 04:11] ccordoba12 commented on #5114
Thanks for noticing @rlaverde! Should we stop it then after it's hidden?

[2017-09-04 09:06] skjerns opened #5121 "RuntimeError while importing (path must be None or a list)"
## Description of your problem

**What steps will reproduce the problem?**

1. Install newest version of Anaconda (Python 3.6).
2. `conda update conda` & `conda update spyder`
3. `pip install telegram_send`
4. Start spyder and `import telegram_send`

[code]

This works fine in the regular `python` or `iPython` console.

## Version and main components

* Spyder Version: 3.2.1
* Python Version: 3.6.

[2017-09-04 11:25] talkaminker opened #5123 "switch_to_editor and switch_to_ipytho_console shortcuts don't work if the ipython console is detached"
## Description of your problem
I would like to detach the ipython console and put it on the second screen but detaching it makes the ctrl+shift+e and ctrl+shift+i which switch between them to stop working.
When the console is not detached, the shortcuts work fine
**What steps will reproduce the problem?**

1.  detach the ipython console
2. click on the editor
3. hit ctrl+shift+i

**What is the exp

[2017-09-04 13:26] CharlesVellutini commented on #3555
Hi all,

I just tested it and it works for me. Debugging functionalities back to normal in v3.2.1
Thanks a lot for your great work.
Charles

De : amehrish [mailto:notifications@github.com]
Envoyé : vendredi 1 septembre 2017 16:17
À : spyder-ide/spyder <spyder@noreply.github.com>
Cc : Charles Vellutini <charles.vellutini@ecopa.com>; Mention <mention@noreply.github.com>
Objet : Re: [spyder-ide/spyde

[2017-09-04 13:44] ccordoba12 commented on #3555
@CharlesVellutini, thanks for testing!

[2017-09-04 13:48] #5074 closed

[2017-09-04 13:51] #5111 closed

[2017-09-04 14:33] rlaverde commented on #5114
Yes, start it when progress bar is shown and stop it when progress bar is hidden.

Although if you press Ctrl+C while it's shown and spinning (i.e. searching in files) the error will occur

[2017-09-04 14:35] goanpeca commented on #5114
We should be able to prevent this

[2017-09-04 14:49] ccordoba12 commented on #5123
Thanks for reporting. We're working to solve this in Spyder 4.

[2017-09-04 14:51] ccordoba12 commented on #5121
There's not a single line related to Spyder code in your error report. Sorry, but I fail to see how this can be solved in our side.

[2017-09-04 14:54] #5116 closed

[2017-09-04 14:55] #5121 closed

[2017-09-04 14:59] PertuyF commented on #4998
Just for info, I have been investigating a bit, and the issue does not exist at all with my Windows Anaconda install.

Calling Python or IPython from a directory were a module shadows a name from the standard lib works, although you cannot import the module itself but only the one from stdlib, as expected.

As this is likely the origin of the bug under Linux, does anyone have an idea on how to exp

[2017-09-04 15:12] skjerns commented on #5121
But why does this error only appear when using Spyder and not within a regular iPython console?

[2017-09-04 15:15] #4881 closed

[2017-09-04 15:17] ccordoba12 commented on #5121
I really don't know, but unfortunately we don't have time to help you to debug this.

[2017-09-04 16:52] alistairchua opened #5124 "spyder(runfile, wdir)"
I'm new to python programming so please forgive me for being such a noob. There is no output after I have inputed my code. I inputed my code as below:

**What steps will reproduce the problem?**

1. import numpy as np
import scipy.ndimage
from scipy.misc.pilutil import Image

a = Image.open(C:\Users\Russell\Downloads\laferrari.jpeg).convert("L")

k = np.ones((5,5))/25

b = scipy.ndimage.filters.co

[2017-09-04 17:08] amehrish commented on #3555
Thank you Charles and Carlos! Appreciate it.

[2017-09-04 18:11] ccordoba12 commented on #5124
The result is correct. `runfile` is the command used by Spyder to run your files in our IPython consoles.

[2017-09-04 18:11] #5124 closed

[2017-09-04 18:21] ajayrathore commented on #5108
Can I know when this will be released? Will this be available in next spyder release?

[2017-09-04 18:38] Prikers commented on #1886
I think the solution proposed in #5012 could help closing this issue

[2017-09-04 18:39] ccordoba12 commented on #1886
Ok, I'm closing this one as a duplicate of issue #5012.

[2017-09-04 18:39] #1886 closed

[2017-09-04 18:57] rlaverde commented on #5120
You could execute `spyder --reset` to reset to the default settings

[2017-09-04 19:22] #4851 closed

[2017-09-04 19:52] rlaverde commented on #5114
@goanpeca I'm not sure If that will work, the error occur when trying to kill spyder process (pressing `Ctrl+C` in the terminal that is running spyder).

I don't know if maybe another event raise this error, neither this issue or #5049, have steps to reproduce the error.

[2017-09-04 20:32] goanpeca commented on #5114
ahhh @rlaverde ok I understand. Actually I think that is a spyder bug, we should be able to kill spyder from the console.

[2017-09-04 21:10] varghese-robin commented on #1844
not able to see any "set the working directory" button in Spyder (Python 3.6). I either have to provide the entire file path or I have to use set working director commands.

[2017-09-04 22:15] rlaverde opened #5131 "Sources checkable preferences aren't sync with preferences"
## Description of your problem

- Changing blank spaces, or indent guides from `Source` menu doesn't update preference
- Changing blank spaces, or indent guides in preferences doesn't update preference `Source` menu

**What steps will reproduce the problem?**

1. Activate/deactivate show blank spaces, or show indent guides form source menu
2. Go to Tool>Preferences>Editor
3. The changes aren't ref

[2017-09-05 00:08] #4681 closed

[2017-09-05 00:13] ccordoba12 commented on #5102
Please try to reinstall Spyder. I really don't know what's happening in this case, so that's my only advice, sorry.

[2017-09-05 00:13] #5102 closed

[2017-09-05 00:14] ccordoba12 commented on #5100
Closing because of lack of response.

[2017-09-05 00:14] #5100 closed

[2017-09-05 00:15] ccordoba12 commented on #5103
Closing because of lack of response.

Feel free to reopen this issue when you paste the entire error here.

[2017-09-05 00:15] #5103 closed

[2017-09-05 00:16] ccordoba12 commented on #5095
This is an error in the `qtconsole` package, not in Spyder. So please open it there:

https://github.com/jupyter/qtconsole

[2017-09-05 00:16] #5095 closed

[2017-09-05 00:17] ccordoba12 commented on #5053
@stonebig, are you able to reproduce this one? It looks like a Qt issue to me.

[2017-09-05 00:51] huanchunye2015 opened #5133 "Spyder IPython console freezes on any error"
## Description of your problem
Spyder IPython console freezes on any error

**What steps will reproduce the problem?**
For example just type a non-existent variable, e.g., x[1], and the IPython console will freeze:

Python 3.6.2 |Anaconda custom (64-bit)| (default, Jul 20 2017, 13:51:32)
Type "copyright", "credits" or "license" for more information.

IPython 6.1.0 -- An enhanced Interactive Python

[2017-09-05 02:12] ccordoba12 commented on #5133
Thanks for reporting. This is a duplicate of #4504 and it'll be fixed in 3.2.2

[2017-09-05 02:12] #5133 closed

[2017-09-05 03:02] giampaolo commented on #3066
I am open to reconsider my decision about not adding GPU info in psutil if proven that it's technically viable.

[2017-09-05 03:14] ccordoba12 commented on #3066
Thanks @giampaolo!

[2017-09-05 03:52] gchandra33 commented on #5071
auto completion in spyder-3.2.1 editor is not working under Winpython ver 3.6.2 can you please help

[2017-09-05 04:53] alistairchua opened #5134 "What is unicode error?"
Thanks for your help previously. Now I have a new problem. As I enter my edited code, it return as below:

**What steps will reproduce the problem?**
This is my edited code:
import numpy as np
import scipy.ndimage
from scipy.misc.pilutil import Image
a = Image.open('C:\Users\Russell\Downloads\laferrari.jpeg').convert("L")
k = np.ones((5,5))/25
b = scipy.ndimage.filters.convolve(a, k)
b = scipy.mis

[2017-09-05 05:04] plarles commented on #2350
@Akyshnik I'm new to Linux and programming in general. The python course I'm taking asked me to install anaconda and use spyder as an IDE. I would like to use the dark theme to increase the amount of time I can look at the screen without eye strain becoming a problem, but I'm having some issues getting this to work. I'm running a centos7 virtual machine inside of windows7,  I'm using anaconda 4.4.

[2017-09-05 06:10] bcolsen commented on #2992
The completion here is just string completion that is now in Spyder, as Jedi currently gives no completions in this situation.

For example:
[code]
This gives completions of `that_is_not_a_thing` and `that is a thing` unfortunately.

So better but not as "smart" as one might want.

[2017-09-05 08:17] gchandra33 opened #5135 "After updating spyder to 3.2.1 notebook is not working"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "D:\WinPython-64bit-3.6.2.0Qt5\python-3.6.2.amd64\lib\site-packages\urllib3\connection.py", line 141, in _new_conn
    (self.host, self.port), self.timeout, **extra_kw)
  File "D:\WinPython-64bit-3.6.2.0Qt5\pyth

[2017-09-05 10:34] sugoidesune opened #5136 "Editor removing characters when pressing TAB to indent or enter for linebreaks."
Description of your problem

What steps will reproduce the problem?

its sporadic. but might be because sometimes the only way to remove indents is to use ctrl-backspace
a regular backspace wont do anything. maybe because of the cell creating characters. #%%
restarting spyder didnt change it.
and after when adding indent with tab afterwards, it deletes the first couple characters.
the enter has a

[2017-09-05 14:19] ccordoba12 commented on #5136
@rlaverde, this was fixed already, right?

[2017-09-05 14:24] ccordoba12 commented on #5134
Sorry but this is not a place to ask for Python questions. I'll help you this time, but for the next one please ask somewhere else.

You need to change this line

    a = Image.open('C:\Users\Russell\Downloads\laferrari.jpeg').convert("L")

to

    a = Image.open('C:\\Users\\Russell\\Downloads\\laferrari.jpeg').convert("L")

because Python is taking `\U` as a unicode escape symbol. So using `\\` i

[2017-09-05 14:24] #5134 closed

[2017-09-05 14:26] ccordoba12 commented on #5135
I think this line

    ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it

indicates that your PC is refusing internet connections. So the problem doesn't seem to be with Spyder but probably with your firewall and/or antivirus.

[2017-09-05 14:26] #5135 closed

[2017-09-05 16:02] Diego-MX opened #5137 "View command to open DataFrame in Variable explorer"
## Description

I come from R with RStudio and I'd like to integrate more Python in my workflow.
With Spyder, I have been able to make this easy.  What I've found in Spyder + pandas is really cool and has helped me a bunch.
One feature that I think is very comfortable from my previous workbench is the `View` command, which directly opens a DataFrame in the Variable Explorer.   Thus allowing you to

[2017-09-05 16:03] goanpeca commented on #5137
@Diego-MX could you describe the actual workflow, or how this command works?

[2017-09-05 16:14] ccordoba12 commented on #5137
I think @Diego-MX wants to write something like

    view(df)

in a console and make it display a Dataframe directly, instead of having to double click on the Variable Explorer.

[2017-09-05 16:17] Diego-MX commented on #5137
I have edited my question.  Thank you.

[2017-09-05 16:31] rlaverde commented on #5136
@ccordoba12  Yes, I think this is duplicated of  #4475, already fixed in spyder3.2

@sugoidesune Please update spyder, and test if this error still happen.

[2017-09-05 17:16] anstragal opened #5138 "Spyder has encountered a problem when trying to open Preferences"
## Description

**What steps will reproduce the problem?**

1. Try to open Preferences from Tools/Preferences
2.
3.

**What is the expected output? What do you see instead?**

![screenshot_1](https://user-images.githubusercontent.com/4498367/30073614-1b7a631e-9277-11e7-9776-4385040a2245.png)

**Please provide any additional information below**

  File "C:\ProgramData\Anaconda3\lib\site-packages\sp

[2017-09-05 17:50] goanpeca commented on #5137
@ccordoba12 what do you think? I guess we could have, spyder magics for ipython?

[2017-09-05 19:14] Prikers commented on #2513
This may be a duplicate of #4018 (to be resolved through #3873)

[2017-09-05 19:29] goanpeca commented on #2513
@Prikers correct! closing

[2017-09-05 19:29] #2513 closed

[2017-09-06 01:02] ccordoba12 commented on #5137
We already have one called `%varexp` to create plots from the Variable Explorer. We could extend it to provide something like this.

[2017-09-06 01:31] goanpeca commented on #5137
Sounds good. I think a magic is better suited for this right?

[2017-09-06 01:37] ccordoba12 commented on #5137
Yep, it's the right concept to use.

[2017-09-06 05:52] ChingShan86 opened #5140 ""IndexError: list index out of range" when changing files"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\Users\清山\AppData\Local\conda\conda\envs\opencvtest\lib\site-packages\spyder\widgets\editor.py", line 1677, in current_changed
    self.current_file_changed.emit(self.data[index].filename,
IndexError: list in

[2017-09-06 07:35] thomas2004ch opened #5141 "Can not start the Spyder from Anaconda in the company (maybe firewall?)"
## Description of your problem
I can install the Anaconda 3.4.4 without any problem. But as I start the Spyder, I got error as below:
"This application failed to start because it could not find or load the Qt platform pugin "windows" in "".

Reinstalling the application may fix this problem."

I've reinstalled the Anaconda. It is the same.

But I have no problem at home. I guess it maybe the friew

[2017-09-06 09:29] umitkacar opened #5142 "What steps will reproduce the problem?"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "F:\ProgramData\Anaconda3\lib\site-packages\qtconsole\base_frontend_mixin.py", line 163, in _dispatch
    handler(msg)
  File "F:\ProgramData\Anaconda3\lib\site-packages\spyder\widgets\ipythonconsole\namespacebr

[2017-09-06 09:41] vthuongt opened #5143 "Panes shortcuts not working when undocking panes"
## Description of your problem

**What steps will reproduce the problem?**

1.  in normal view Ctrl+Shift plus either I or E will switch between IPython Console and Editor
2. For the IPython Console click on the icon next to the button to close the pane. This will seperate the Console from the rest. (undock button?!)
3. Now put the cursor in the Editor and press Ctrl+shift+I -> Cursor won't jump t

[2017-09-06 10:17] TWAC opened #5144 "pip created executable name changes between versions"
## Description of your problem
The executable name keeps changing between versions, requiring me to change my shortcut and relearn command line command.

**What steps will reproduce the problem?**
1. pip install spyder==3.2.0
2. find executable in C:\Python36\Scripts\spyder.exe
3. pip install spyder==3.2.1
4. find executable in C:\Python36\Scripts\spyder3.exe
5. pip install spyder==3.2.2
6. find e

[2017-09-06 11:20] ccordoba12 commented on #5144
You're totally right, thanks for pointing it out.

This means we have to stop creating universal wheels.

[2017-09-06 11:21] ccordoba12 commented on #5141
Please use the latest version of Anaconda and try again.

[2017-09-06 11:24] flying-sheep commented on #2350
hi, since the SVG icon issue was closed in favor of this one, here a summary for the IMHO best steps to get SVG icons working painlessly. since you plan to use breeze icons, it should be even easier:

1. we *should* use the [breeze system](http://notmart.org/blog/2016/05/icon-colors/) for icon colors (the implementation is really easy: you simply parse the icon, and replace the contents of the SVG

[2017-09-06 11:28] ccordoba12 commented on #5142
I think this was fixed in Spyder 3.2.1 (although your error is incomplete), so please update.

[2017-09-06 11:28] #5142 closed

[2017-09-06 12:28] ccordoba12 commented on #5143
Thanks for reporting. This is a known issue and we're working to try to fix it in Spyder 4, to be released next year.

[2017-09-06 12:28] #5143 closed

[2017-09-06 12:31] ccordoba12 commented on #5138
We've seen this error before but we don't know how to reproduce it. What was the last change you did in Preferences before this error occurred?

[2017-09-06 13:06] thomas2004ch commented on #5141
My anaconda version is 3-4.4. This must be the latest version from Anaconda's HomePage:
https://www.anaconda.com/download/

[2017-09-06 13:27] rlaverde commented on #5138
I think we could catch that error and print the current variables, so we will have more information the next time it happen.

[2017-09-06 13:32] jennirinker opened #5145 "f2py helloworld not printing in Spyder's iPython console"
## Description of your problem

When I create a simple Fortran helloworld file and compile it using f2py, the output works from python and ipython in the Anaconda Prompt but not the Spyder iPython console.

Here is the Fortran file `helloworld_fortran.f`:
[code]

**What steps will reproduce the problem?**

1. Navigate to directory with Fortran file in Anaconda prompt
2. `f2py -c helloworld_fortran

[2017-09-06 13:33] ccordoba12 commented on #5141
Yes, it is the latest version. Your problem is not caused by Internet access but if you installed Anaconda in a directory with spaces or non-ascii characters.

[2017-09-06 13:34] ccordoba12 commented on #5138
The thing is I really don't understand why `get_option` can return `None` here. There seems to be a problem with how we are saving color schemes.

[2017-09-06 14:51] jpgrivet opened #5146 "graphics window not opening anymore"
## Description of your problem
I just updated spyder to 3.2.2 and I find that programs involving matplotlib
don't display a separate graphics window as they did before (win7,64bits).

**What is the expected output? What do you see instead?**
A simple curve such as sin(x) in a window with menu options
; instead the curve appears in the ipython console and it is impossible
to interact with it.

**Pl

[2017-09-06 15:25] thomas2004ch commented on #5141
My Anaconda is installed under: C:\ProgramData\Anaconda3\. Is this OK?

[2017-09-06 15:31] leihuanyan opened #5147 "spyder problem"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

## Version and main components

* Spyder Version: 3.2.1
* Python Version: 3.6.1
* Qt Versions: 5.6.2, PyQt5 5.6 on Darwin

## Dependencies
[code]

[2017-09-06 16:21] jnsebgosselin commented on #5146
Do you have the IPython console backend option set on `Inline`? If you want the plot to appear in a separate window, you have to set it to `Automatic` or the backend of your choice. A restart of Spyder is required for the change to take effect.

![image](https://user-images.githubusercontent.com/10170372/30122729-82c857a2-92fd-11e7-971f-09080796617b.png)

[2017-09-06 16:35] anstragal commented on #5138
Well, as I can see from my history the last things I searched were the links below. I encountered the errors of every topic. I remember applying the suggestions. I also updated to spyder 6.2.2 from anaconda prompt, uninstall it several times, and reinstall it, and the error still remains.

The link:
https://stackoverflow.com/questions/38250361/spyder-runfile-is-not-defined
https://github.com/spyde

[2017-09-06 16:42] ccordoba12 commented on #5138
So did this error occur for you simply after installing Anaconda and starting Spyder? I mean, did it appear the first time you started Spyder?

[2017-09-06 16:50] jpgrivet commented on #5146
Le 06/09/2017 18:21, Jean-Sébastien Gosselin a écrit :

Right, I had completely forgotten that stting.  Thank you for the tip.

---
L'absence de virus dans ce courrier électronique a été vérifiée par le logiciel antivirus Avast.
https://www.avast.com/antivirus

[2017-09-06 16:52] anstragal commented on #5138
Firstly appeared the errors above, and finally the error with the preferences. However, now after reinstalling that  error appears from the very first time I start Spyder.

[2017-09-06 16:54] #5146 closed

[2017-09-06 16:55] ccordoba12 commented on #5138
Do you have a user name with non-ascii characters? I mean, characters like ñ or á or non-latin ones?

[2017-09-06 16:56] ccordoba12 commented on #5147
There's no problem reported here, closing.

[2017-09-06 16:56] #5147 closed

[2017-09-06 16:59] anstragal commented on #5138
If you referring to my Anaconda username, it has only latin character.

[2017-09-06 17:08] deep-kiran opened #5148 "Import error when i use " import matpotlib ""
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/usr/local/lib/python2.7/dist-packages/spyder/widgets/waitingspinner.py", line 177, in rotate
    def rotate(self):
KeyboardInterrupt
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-pac

[2017-09-06 17:34] anstragal commented on #5138
Wow, I have clicked Tools/Reset Spyder to factory defaults and the error disappeared !

Thanks for your support anyway!

[2017-09-06 18:35] ccordoba12 commented on #5148
Thanks for reporting. This is a duplicate of issue #5114.

[2017-09-06 18:35] #5148 closed

[2017-09-06 21:40] goanpeca commented on #5141
@thomas2004ch looks like you installed for all users. That is not recommended in general (the latest installer warn about this). We advice to use the installation for current user.

[2017-09-07 00:51] #4590 closed

[2017-09-07 01:19] YAdversary opened #5150 "Thought I should submit this..."
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "F:\Apps\Anaconda3\envs\aind\lib\site-packages\qtconsole\base_frontend_mixin.py", line 163, in _dispatch
    handler(msg)
  File "F:\Apps\Anaconda3\envs\aind\lib\site-packages\spyder\widgets\ipythonconsole\shell

[2017-09-07 02:13] Afeihan opened #5151 "print error"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/usr/local/lib/python3.5/dist-packages/spyder/utils/introspection/manager.py", line 228, in show_object_info
    info = self._get_code_info('info', position, auto=auto)
  File "/usr/local/lib/python3.5/dist-pac

[2017-09-07 05:00] jdonahue07 opened #5152 "turtle graphics crash"
## Description

**What steps will reproduce the problem?**

1. run a simple turtle graphics program that ends with "turtle.done(); turtle.bye()"
2. close the turtle window
3.  Note: that has changed in Spyder 3.2.2 from 3.2.1

**What is the expected output? What do you see instead?**
You get a crash

**Please provide any additional information below**

  File "C:\Users\donah_000\Anaconda3\lib\site

[2017-09-07 05:09] thomas2004ch commented on #5141
Sorry for the late reply.

_ deinstall the Anaconda and reinstall it. This time just for me under C:\Users\myid\AppData\Local\Continuum\Anaconda3

But nothing is better. I get the same error as before.

[2017-09-07 06:49] NewConn opened #5153 "AttributeError: 'super' object has no attribute '_handle_error'"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "D:\Anaconda3\lib\site-packages\qtconsole\base_frontend_mixin.py", line 163, in _dispatch
    handler(msg)
  File "D:\Anaconda3\lib\site-packages\spyder\widgets\ipythonconsole\shell.py", line 417, in _handle_err

[2017-09-07 08:26] Lawrenzz opened #5154 ""An error ocurred while starting the kernel" when opening Spyder"
## Description

Spyder crashes when i opened a new ipython console within the software. However it did work when i opened it for the first time.

  File "C:\Users\lawre\Anaconda2\lib\site-packages\spyder\plugins\ipythonconsole.py", line 884, in run_script
    self.execute_code(line, current_client, clear_variables)
  File "C:\Users\lawre\Anaconda2\lib\site-packages\spyder\plugins\ipythonconsole.py

[2017-09-07 08:40] Khris777 commented on #4886
Here's some new info on this issue.

I am on Windows 10 in a company network. Authentification and several security-related settings are managed centrally.

I have Kaspersky Endpoint Security 10 and Baramundi Management Agent running.

The problem I have is actually system-wide one, usually a few times per day my whole system freezes for like 2-3 seconds, that is, the desktop becomes unresponsive

[2017-09-07 10:07] omeras opened #5155 ""name 'locale_encoding' is not defined" ?"
Hey all. Spyder crashes every time I try to run it.
I assume it is related somehow to the fact that I have Hebrew language installed, but I understand absolutely nothing about it. Tried to reset spyder, to no avail. Other applications (firefox \ libreoffice) works flawlessly with Hebrew.

**What is the expected output? What do you see instead?**
Traceback (most recent call last):
  File "/home/ome

[2017-09-07 11:36] Ivanfangsc opened #5156 "Problem encounterd starting spyder 3.2.1"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/home/ivanfang/miniconda3/lib/python3.6/site-packages/spyder/plugins/__init__.py", line 511, in <lambda>
    toggled=lambda checked: self.toggle_view(checked),
  File "/home/ivanfang/miniconda3/lib/python3.6/si

[2017-09-07 13:11] msgnaf opened #5157 "Renaming file containing folders yields IndexError."
## Description

**What steps will reproduce the problem?**

1. Opening some files in Spyder under Windows 7.
2. Trying to rename the folder in which the files are located.
3. Windows will possibly remark that the files are currently open (and it is possible to try again to rename the folder).
4. Restart the python kernel (optionally, only if renaming the folder was not possible).
5. Retry to renam

[2017-09-07 14:30] none2serious commented on #4223
Is there anything wrong with doing something like the following to invoke spyder with a specific environment?
Install spyder in an existing second anaconda env (e.g. an env running Intel Python 3 vs. my vanilla 2.7).
Create an alias to spyder in that env folder.

Call that alias to open spyder in that env.

Type "copyright", "credits" or "license" for more information.

I've been doing this to run

[2017-09-07 14:33] jiangxinjxau opened #5158 "AttributeError: 'super' object has no attribute '_handle_error' in IPython console"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "D:\Anaconda 4.3.0\lib\site-packages\qtconsole\base_frontend_mixin.py", line 163, in _dispatch
    handler(msg)
  File "D:\Anaconda 4.3.0\lib\site-packages\spyder\widgets\ipythonconsole\shell.py", line 417, in _

[2017-09-07 14:52] ccordoba12 commented on #5158
Thanks for reporting. We'll try to fix this error in our 3.2.3 version.

Could you update qtconsole in the meantime, to see it it fixes this error? You can do that by running this command in a system terminal (i.e. `cmd.exe`):

    conda update qtconsole

[2017-09-07 15:00] ccordoba12 commented on #4223
That is ok. In fact, there's a similar mechanism for Windows users provided automatically by Anaconda (i.e. Anaconda creates Start menu entries for each Spyder package in different envs).

We simply want to avoid this process and let users work with a single Spyder version for all their projects.

[2017-09-07 15:17] #5114 closed

[2017-09-07 15:27] #4705 closed

[2017-09-07 15:31] ccordoba12 commented on #5140
Closing as a duplicate of issue #5157.

[2017-09-07 15:31] #5140 closed

[2017-09-07 15:33] ccordoba12 commented on #5157
Thanks for the detailed description of the problem. We'll fix this problem in 3.2.3

@dalthviz, please take a look at this one.

[2017-09-07 15:35] ccordoba12 commented on #5156
This was fixed in Spyder 3.2.2, released a couple of days ago. It could take a couple of days until new packages are available in Anaconda.

[2017-09-07 15:35] #5156 closed

[2017-09-07 15:39] ccordoba12 commented on #5155
Please try to start Spyder with this command

    LC_ALL=C spyder

to see if it works.

[2017-09-07 15:42] ccordoba12 commented on #4886
Yep, it looks like that's the case. Maybe you could ask IT to add a white list rule to Kaspersky so it doesn't interfere with any Python process.

[2017-09-07 15:46] ccordoba12 commented on #5154
Please post a screenshot of how the console looks when this error appears for you.

[2017-09-07 15:48] lgumut opened #5160 "Error Report"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

## Version and main components

* Spyder Version: 3.2.2
* Python Version: 3.6.2
* Qt Versions: 5.6.2, PyQt5 5.6 on Windows

## Dependencies
[code]

[2017-09-07 15:54] ccordoba12 commented on #5153
Closing as a duplicate of #5158.

[2017-09-07 15:54] #5153 closed

[2017-09-07 15:55] ccordoba12 commented on #5152
Thanks for reporting. This is a duplicate of issue #5158.

[2017-09-07 15:55] #5152 closed

[2017-09-07 15:56] #4948 closed

[2017-09-07 15:58] ccordoba12 commented on #5151
Please update `setuptools` for fix this error.

[2017-09-07 15:58] #5151 closed

[2017-09-07 15:58] ccordoba12 commented on #5150
Thanks for reporting. This is a duplicate of issue #5158.

[2017-09-07 15:58] #5150 closed

[2017-09-07 21:05] #5157 closed

[2017-09-07 21:15] #5158 closed

[2017-09-07 21:57] cknoll opened #5165 "'Execute in external system terminal' unwantedly uses python2 on ubuntu16.04"
## Description of your problem

**What steps will reproduce the problem?**

The simple script

    import sys
    print(sys.version)

**What is the expected output? What do you see instead?**

It produces different results, depending on run-configuration
option 1 "Execute in current console" and 2 "... dedicated console" results in output `3.5.2`
case 3 "Excecute in external system terminal" resul

[2017-09-07 22:49] Carreau commented on #5020
That's a side effect of https://github.com/ipython/ipython/pull/10542, basically %pylab injects `matplotlib` into the namespace and thus is not completed as a magic anymore. This was requested in  https://github.com/ipython/ipython/issues/4877, We should probably be less extream and still complete to magics if the text starts with `%`/`%%`.

[2017-09-08 02:03] ccordoba12 commented on #5165
[code]

Your suggestion is the right one, but it should be applied only to Linux.

If you want to see this in our next release, please open a pull request with your suggestion against the `3.x` branch. Else, it's going to take us some time to fix this because it's low priority.

[2017-09-08 03:54] MAFiA303 commented on #2350
Thanks to everyone here. Darkness and eye comfort is very important topic to many. I personally have everything dark on my machine, from browsers to web-pages and even the OS is on accessibility mode.

This fix works, I'm using  Spyder 3.22 on windows 10 @rubslopes
The only issue is grey icons are hardly visible, not sure I'm gonna invest more time on this. I'll wait for t he official dark spyder.

[2017-09-08 04:51] thomas2004ch commented on #5141
No any answer?

[2017-09-08 07:16] jnsebgosselin commented on #5031
@ccordoba12 possible duplicate of Issue #1872

[2017-09-08 07:48] jnsebgosselin opened #5167 "AttributeError when using outline and split code"
## Description of your problem

**What steps will reproduce the problem?**

1.  Open Spyder
2.  Split the Editor through the cog menu [X2 times]
3.  Close the last panel created
4.  Click on the outline editor

**Traceback :**
Traceback (most recent call last):
  File "C:\Users\jsgosselin\spyder\spyder\plugins\editor.py", line 552, in <lambda>
    editorwindow=self))
  File "C:\Users\jsgosselin\sp

[2017-09-08 07:50] jitseniesen commented on #5165
Alternatively, we could use `get_python_executable()` from https://github.com/spyder-ide/spyder/blob/master/spyder/utils/misc.py#L173 , which (I think) uses the same executable that Spyder is run with.

[2017-09-08 10:12] vedaham opened #5168 "error while importing pandas-datareader"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\ProgramData\Anaconda2\lib\site-packages\qtconsole\base_frontend_mixin.py", line 163, in _dispatch
    handler(msg)
  File "C:\ProgramData\Anaconda2\lib\site-packages\spyder\widgets\ipythonconsole\shell.py",

[2017-09-08 12:36] ehsaneshaghi opened #5169 "AttributeError: 'super' object has no attribute '_handle_error'"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/home/ehsan/anaconda3/lib/python3.5/site-packages/qtconsole/base_frontend_mixin.py", line 163, in _dispatch
    handler(msg)
  File "/home/ehsan/anaconda3/lib/python3.5/site-packages/spyder/widgets/ipythonconso

[2017-09-08 14:29] ccordoba12 commented on #5141
Sorry, we're out of ideas here...

[2017-09-08 14:39] gaigekerr opened #5170 "Spyder Issue after upgrade"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/Users/ghkerr/anaconda/lib/python3.6/site-packages/qtconsole/base_frontend_mixin.py", line 163, in _dispatch
    handler(msg)
  File "/Users/ghkerr/anaconda/lib/python3.6/site-packages/spyder/widgets/ipythoncon

[2017-09-08 15:31] ccordoba12 commented on #5031
Thanks @jnsebgosselin!

[2017-09-08 15:31] #5031 closed

[2017-09-08 15:32] obgeneralao opened #5171 "Variable explorer showing different format when using MultiIndex"
## Description of your problem
I was following the tutorial http://pbpython.com/pandas-pivot-table-explained.html

**What is the expected output?
In the part where
`pd.pivot_table(df,index=["Name","Rep","Manager"])`
![image](https://user-images.githubusercontent.com/13013814/30218941-19497c1a-94ed-11e7-9785-5ec4efecca35.png)

What do you see instead?**

![image](https://user-images.githubuserconte

[2017-09-08 15:32] ccordoba12 commented on #5165
Yep, that's a better suggestion. Thanks @jitseniesen!

[2017-09-08 15:48] #3390 closed

[2017-09-08 15:48] #5167 closed

[2017-09-08 15:49] ccordoba12 commented on #5169
Thanks for reporting. This is a duplicate of issue #5158, and it'll be fixed in 3.2.3

[2017-09-08 15:49] #5169 closed

[2017-09-08 15:50] ccordoba12 commented on #5170
This is a duplicate of issue #5158 and it'll be fixed in 3.2.3

[2017-09-08 15:50] #5170 closed

[2017-09-08 15:51] ccordoba12 commented on #5171
Thanks for reporting.

@dalthviz, does your Multiindex work fix this?

[2017-09-08 15:52] ccordoba12 commented on #5168
This is a duplicate of issue #5158 and it'll be fixed in 3.2.3

[2017-09-08 15:52] #5168 closed

[2017-09-08 16:01] talkaminker opened #5172 "spyder has error when ipython throws "NameError"
## Description

**What steps will reproduce the problem?**

1. on a new ipython write "a=  this_name_not_found(3.14)"
2. get error from python
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**
My friend has windows and py3.6 and it works ok. I have linux and py3.5 and I get the error
  File "/home/tal/anaconda3/envs/pic/lib/python3.5

[2017-09-08 17:59] chaseplastic opened #5173 "Running SPyder script throws an error"
## Description

**What steps will reproduce the problem?**

1. Upgrading Spyder to 3.2.2
2. Running a script
3. Expecting an outcome

**What is the expected output? What do you see instead?**
Error message and the outcome :)

**Please provide any additional information below**

  File "/Users/davkenda1/anaconda/lib/python3.5/site-packages/qtconsole/base_frontend_mixin.py", line 163, in _dispatch

[2017-09-08 18:33] rlaverde commented on #5172
Closing as duplicate of #5158

[2017-09-08 18:33] #5172 closed

[2017-09-08 18:34] rlaverde commented on #5173
Closing as duplicate of #5158

[2017-09-08 18:34] #5173 closed

[2017-09-08 19:19] ryarlagadda opened #5174 "Error"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/Users/RaviTeja/anaconda/lib/python2.7/site-packages/spyder/plugins/projects.py", line 233, in _create_project
    self.open_project(path=path)
  File "/Users/RaviTeja/anaconda/lib/python2.7/site-packages/spyde

[2017-09-08 19:58] #5144 closed

[2017-09-08 20:01] ccordoba12 commented on #5174
This was fixed in Spyder 3.2.2, please update.

[2017-09-08 20:01] #5174 closed

[2017-09-08 20:04] #4313 closed

[2017-09-08 21:22] amkrous opened #5175 "AttributeError: 'super' object has no attribute '_handle_error'"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\Users\fersousa\AppData\Local\Continuum\Anaconda_27_07_2017\lib\site-packages\qtconsole\base_frontend_mixin.py", line 163, in _dispatch
    handler(msg)
  File "C:\Users\fersousa\AppData\Local\Continuum\Anaco

[2017-09-08 21:26] rlaverde commented on #5175
Closing as duplicate of #5158

[2017-09-08 21:26] #5175 closed

[2017-09-08 21:41] rlaverde opened #5176 "Unify how extra selection are added to the editor"
The idea is to move how extra selections for cell, lines, search and others that use these functions:
https://github.com/spyder-ide/spyder/blob/master/spyder/widgets/sourcecode/base.py#L319

Move them to use TextDecoration API:
https://github.com/spyder-ide/spyder/blob/master/spyder/widgets/sourcecode/api/decoration.py

This is needed for #4289

[2017-09-08 21:58] rlaverde opened #5177 "Simplify how preferences are sent to the CodeEditor"
Adding new features (and its options) to the CodeEditor is somehow complicated (see #5122 )

I think this could be simplified, and be less error prone

[2017-09-09 02:09] CangHaiQingYue opened #5178 "Can spyder‘s theme be transparent"
## Versions and main components

* Spyder Version:3.X
* Python Version:3.X

[2017-09-09 03:07] dalthviz commented on #5171
@ccordoba12 Maybe I will have to do some adjustments but this is a preview with my local version:

![imagen](https://user-images.githubusercontent.com/16781833/30236566-f6d266ac-94e1-11e7-907c-55c5ee15bd93.png)

[2017-09-09 06:50] mohitvkulkarni opened #5179 "Spyder"

[2017-09-09 06:50] #5179 closed

[2017-09-09 08:40] Ewanlol opened #5180 "Spyder boosting error"
## Description

**What steps will reproduce the problem?**

1.  When boosting spyder
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "D:\engpath\Anaconda\lib\site-packages\qtconsole\base_frontend_mixin.py", line 163, in _dispatch
    handler(msg)
  File "D:\engpath\Anaconda\lib\site-packages\spyder\widgets\ipythonconsole

[2017-09-09 12:03] cknoll commented on #5165
I opened a PR. I would like to see this merged asap, because I will use spyder in a Python-for-engineering-lecture and running scripts in external terminals is necessary for some of the content.
(But of course: The project has its own priorities...  )

[2017-09-09 15:16] MAFiA303 commented on #5141
can you install as admin?

[2017-09-09 15:24] Eastkap opened #5182 "spyder keeps bugging me with this"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/Users/Jacobo/anaconda/lib/python3.6/site-packages/qtconsole/base_frontend_mixin.py", line 163, in _dispatch
    handler(msg)
  File "/Users/Jacobo/anaconda/lib/python3.6/site-packages/spyder/widgets/ipythoncon

[2017-09-09 15:41] ccordoba12 commented on #5178
Thanks for reporting. We consider this request as a duplicate of issue #2350, and we're working to fix it in Spyder 4, to be released next year.

[2017-09-09 15:41] #5178 closed

[2017-09-09 15:42] ccordoba12 commented on #5182
Thanks for reporting. This is a duplicate of issue #5158.

We're working to fix it in Spyder 3.2.3, to be released tomorrow.

[2017-09-09 15:42] #5182 closed

[2017-09-09 15:42] ccordoba12 commented on #5180
Thanks for reporting. This is a duplicate of issue #5158.

[2017-09-09 15:42] #5180 closed

[2017-09-09 16:35] immersinn opened #5183 "Issues with recognizing directory renaming"
## Description

**What steps will reproduce the problem?**

1.Probably a weird corner case that involves me doing things that are very contrary to best practices.  Renaming directories on the fly and then trying to move forward / backward in the File Explorer history caused the error.  Also noticed issues with properly refreshing directory contents, etc.

**What is the expected output? What do you

[2017-09-09 18:42] ajheller opened #5184 "spyder error popup on iPython error"
## Description

**What steps will reproduce the problem?**

1. start spyder
2. do something that generates an error, for example type 1/0 in the iPython console
3.

**What is the expected output? What do you see instead?**

expect an error in iPython console, but window pops up saying Spyder has encountered an error and offers to submit to GitHub (which I am)

**Please provide any additional infor

[2017-09-09 20:06] ccordoba12 commented on #5184
Thanks for reporting. This is a duplicate of issue #5158.

[2017-09-09 20:06] #5184 closed

[2017-09-09 20:12] ccordoba12 commented on #5183
Thanks for reporting. We'll take a look at this after we release 3.2.3

[2017-09-09 20:18] #4680 closed

[2017-09-09 20:35] #313 closed

[2017-09-09 21:13] marcelotduarte commented on #5154
## Description
Creating project do the same.

**Please provide any additional information below**

  File "s:\workspace\venv\spyder\lib\site-packages\spyder\plugins\ipythonconsole.py", line 898, in set_current_client_working_directory
    shellwidget.set_cwd(directory)
  File "s:\workspace\venv\spyder\lib\site-packages\spyder\widgets\ipythonconsole\shell.py", line 112, in set_cwd
    self.silent_e

[2017-09-09 21:33] ajheller commented on #5158
upgrading to  qtconsole 4.3.1-py27_0 fixed it for me.
  conda update qtconsole
Thanks... Aaron

[2017-09-10 03:19] mattandersoninf commented on #2325
How do i disable the UMR? I can;t find the preferences mentioned above

[2017-09-10 03:26] vasselai opened #5185 "Allowing for different initial Font Size (or Zoom level) for Editor and Console"
It totally makes sense that if one wants to zoom in for all files, one should just change the font size in the preferences. The problem, however, is that Spyder does not allow anymore one to define different font sizes for Editor and Console. The consequence is that if one uses Spyder in a big wide monitor and wants to increase the Editor's font accordingly, the font for the console becomes just h

[2017-09-10 06:18] abhinavg267 opened #5186 "Cannot run "%matplotlib inline" in console"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\Users\Abhinav\Anaconda3\lib\site-packages\qtconsole\base_frontend_mixin.py", line 163, in _dispatch
    handler(msg)
  File "C:\Users\Abhinav\Anaconda3\lib\site-packages\spyder\widgets\ipythonconsole\shell.p

[2017-09-10 10:19] thomas2004ch commented on #5141
What do you mean install as admin? I have the local-admin right.

[2017-09-10 10:28] apuayush opened #5187 "python I not working"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/home/apurvnit/anaconda3/lib/python3.5/site-packages/qtconsole/base_frontend_mixin.py", line 163, in _dispatch
    handler(msg)
  File "/home/apurvnit/anaconda3/lib/python3.5/site-packages/spyder/widgets/ipytho

[2017-09-10 10:29] omeras commented on #5155
It works! Thank you very much. I'm new to linux environment, if you can explain what was the issue - I'd be grateful . Thanks again.

[2017-09-10 10:29] #5155 closed

[2017-09-10 13:15] KingGarima opened #5188 "Having problem each and every time after updating spyder"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\ProgramData\Anaconda3\lib\site-packages\qtconsole\base_frontend_mixin.py", line 163, in _dispatch
    handler(msg)
  File "C:\ProgramData\Anaconda3\lib\site-packages\spyder\widgets\ipythonconsole\shell.py",

[2017-09-10 13:18] jnsebgosselin commented on #5185
I propose we remove the font size section in _General_ and put one instead in _Editor_ and _IPython console_. IMO, font size in _General_ should not be related to the  font of the _Editor_ and the _IPython_ console, but to the font of the UI (which could also be a valid option for Spyder).

![font_size](https://user-images.githubusercontent.com/10170372/30249350-cd8f2b9a-9608-11e7-9d5c-caaf2855c3e

[2017-09-10 13:36] goanpeca commented on #5185
@jnsebgosselin we had that some time ago, but we wanted to have a more simple UI. Spyder preferences gives too many options and we did not wanted to have that. We may reevaluate it.

[2017-09-10 13:56] jnsebgosselin commented on #5185
Thank you @goanpeca  for the feedback. I'm by no means an expert in UI designing, so it is just my two cents here.

From a user perspective, I believe that having less preferences is not necessarily related to a simpler or more streamlined UI. Spyder is a IDE, so I think that for that kind of software, there should be plenty of options for users to make their development environment to be as much

[2017-09-10 14:33] rlaverde commented on #5186
Closing as duplicate of #5158 Already  fixed in spyder3.2.3 to be released in a couple of days.

In the meanwhile try updating qtconsole `conda update qtconsole`

[2017-09-10 14:33] #5186 closed

[2017-09-10 14:34] rlaverde commented on #5187
Closing as duplicate of #5158 Already  fixed in spyder3.2.3 to be released in a couple of days.

In the meanwhile try updating qtconsole `conda update qtconsole`

[2017-09-10 14:34] #5187 closed

[2017-09-10 14:35] rlaverde commented on #5188
Closing as duplicate of #5158 Already  fixed in spyder3.2.3 to be released in a couple of days.

In the meanwhile try updating qtconsole `conda update qtconsole`

[2017-09-10 14:35] #5188 closed

[2017-09-10 15:01] Prikers commented on #2510
As `panels `are being [deprecated ](http://pandas.pydata.org/pandas-docs/version/0.20/whatsnew.html#deprecate-panel) from `pandas`, is it worth adding support for them now? Maybe this issue could be closed.

[2017-09-10 15:12] ccordoba12 commented on #2510
We could consider to support `xarray`'s then. What do you say @Prikers?

[2017-09-10 15:37] Prikers commented on #2510
Yes that would make sense!
I can give it a try next week. Should I open a new issue for `xarray` support or we use this one as a reference?

[2017-09-10 15:47] goanpeca commented on #2510
@Prikers awesome, I think its better to open a new issue :-), you can also tag this issue for reference on that new issue.

[2017-09-10 15:48] scls19fr opened #5189 "Add xarray support to Variable Explorer"
Following https://github.com/spyder-ide/spyder/issues/2510#issuecomment-328348281

Spyder Variable Explorer currently doesn't support [xarray](http://xarray.pydata.org/en/stable/)

Adding such a support could be a nice improvement.

[2017-09-10 15:48] #2510 closed

[2017-09-10 15:49] scls19fr commented on #5189
Ping @shoyer

[2017-09-10 17:45] yzh403403 opened #5190 "test"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/usr/local/lib/python3.4/dist-packages/spyder/plugins/editor.py", line 1838, in load
    self.edit_filetypes = get_edit_filetypes()
  File "/usr/local/lib/python3.4/dist-packages/spyder/config/utils.py", line 1

[2017-09-10 17:57] JayyRaaj opened #5191 "Issue during the update"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "K:\Software\anaconda\lib\site-packages\qtconsole\base_frontend_mixin.py", line 163, in _dispatch
    handler(msg)
  File "K:\Software\anaconda\lib\site-packages\spyder\widgets\ipythonconsole\shell.py", line 417

[2017-09-10 19:23] vasselai commented on #5185
Thanks @jnsebgosselin for your insights on this and @goanpeca for your feedback.

Here is my take on this. I am all for clean and minimalist UIs. I always get rid of tool-bars and menus and maximize software as much as possible. I love distraction-free modes. However, zoom level or font size sounds like a pretty fundamental thing. First, as I said, because of the popularization of big wide monitor

[2017-09-10 21:13] impact27 opened #5192 "tab opens the interal console"
## Description

**What steps will reproduce the problem?**

1.  press tab in the editor

**What is the expected output? What do you see instead?**
I would expect to stay in the editor and not go to the internal console

**Please provide any additional information below**

  File "/usr/local/Cellar/python3/3.6.2/Frameworks/Python.framework/Versions/3.6/lib/python3.6/code.py", line 91, in runcode

[2017-09-10 21:15] impact27 commented on #5192
That only happens if the internal console is open. Otherwise I just loose the focus on the editor.

[2017-09-10 21:21] impact27 commented on #5192
The four spaces are correctly added but the focus is lost

[2017-09-10 23:01] rlaverde commented on #5192
I think this is related to #5139 please test if it still occurs with the latest master

[2017-09-10 23:14] Os3r3um opened #5193 "Spyder complains about missing ipykernel module in external interpreters"
While trying to use Spyder with the Python3.6.3 core I get such error; "Your Python environment or installation doesn't have the ipykernel module installed on it. Without this module is not possible for Spyder to create a console for you."

**What steps will reproduce the problem?**

1. Get Python 3.6.2 installed along with 3.5.4
2. Launch Spyder and got to Tools -> Preferences -> Python Interpret

[2017-09-11 00:37] goanpeca commented on #5191
@JayyRaaj could you update to the latest qtconsole and try again?

[2017-09-11 01:03] edwintorresmoya commented on #4083
You must select all what you need and later press f9.

[2017-09-11 02:25] Davo36 opened #5194 "Error Whilst Running Script"
Spyder came up with an error and suggested I share it on GitHub

**What steps will reproduce the problem?**

1. Not sure really, was just running a script.
2. Although had been using the profiler just before that.
3. Also just updated to Spyder 3.2.2

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\Users\David\Anaconda3\lib

[2017-09-11 02:48] ccordoba12 commented on #5190
I think this error is fixed by updating `setuptools` with

    pip install -U setuptools

[2017-09-11 02:48] #5190 closed

[2017-09-11 02:49] ccordoba12 commented on #5194
This is a duplicate of issue #5158 and it'll be fixed in 3.2.3. Thanks for your patience.

[2017-09-11 02:49] #5194 closed

[2017-09-11 02:49] ccordoba12 commented on #5191
This is a duplicate of issue #5158 and it'll be fixed in 3.2.3. Thanks for your patience.

[2017-09-11 02:49] #5191 closed

[2017-09-11 02:51] ccordoba12 commented on #5193
Thanks for reporting. We'll take a look at this in a future release.

[2017-09-11 02:58] #5165 closed

[2017-09-11 03:09] Revivingys opened #5195 "Using spyder in tensorflow env"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "D:\anaconda\envs\tensorflow\lib\site-packages\spyder\plugins\__init__.py", line 511, in <lambda>
    toggled=lambda checked: self.toggle_view(checked),
  File "D:\anaconda\envs\tensorflow\lib\site-packages\spyd

[2017-09-11 06:42] gautham949 opened #5196 "Array builder not working in IPython console of spyder 3"
I try to use the shortcut key to Ctrl + M to enter the array builder in the console but it always shows the following error. What does it mean and how to fix it? Can anyone help me understand the problem

  File "/home/gautham/anaconda3/lib/python3.6/site-packages/spyder/widgets/ipythonconsole/shell.py", line 263, in <lambda>
    array_table = config_shortcut(lambda: self.enter_array_table(),
Attr

[2017-09-11 11:04] impact27 commented on #5192
It looks solved thanks

[2017-09-11 11:21] mamawe2000 commented on #4838
I have the same problem on an unix system (Ubuntu 17.04).
I installed the latest version of spyder using pip install -U spyder (3.2.3), and executing in spyder (does not matter if in current or dedicated console) scripts like import scipy.io (or scipy.stat) causes the same error as mentioned above in the IPython console of Spyder:

Traceback (most recent call last):
  File "<ipython-input-16-e09c0

[2017-09-11 11:23] mamawe2000 commented on #4838
I have the same problem on an unix system (Ubuntu 17.04).
I installed the latest version of spyder using pip install -U spyder (3.2.3), and executing in spyder (does not matter if in current or dedicated console) scripts like import scipy.io (or scipy.stat) causes the same error as mentioned above in the IPython console of Spyder:

Traceback (most recent call last):
  File "<ipython-input-16-e09c0

[2017-09-11 12:50] niallmacq opened #5197 "Ipython console generates this additional error."
Any error message generated in the Ipython console generates this additional error.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\Users\Niall Macquaide\Anaconda2\lib\site-packages\qtconsole\base_frontend_mixin.py", line 163, in _dispatch
    handler(msg)
  File "C:\Users\Niall Macquaide\Anaconda2\lib\site-packages\spyder

[2017-09-11 13:09] cmyldz opened #5198 "error in pyqt5 and opencv2"
![ekran alintisi](https://user-images.githubusercontent.com/31339561/30275858-83bd326a-970b-11e7-86ea-69ee49c51be6.PNG)
 def convert_answer(self):

         cap = cv2.VideoCapture('C:\\Users\\cem\\Pictures\\Camera Roll\\WIN_20160317_205235.mp4')
         framerate = cap.get(cv2.cv.CV_CAP_PROP_FPS)
         framecount = 0

         while(True):

                success, image = cap.read()

[2017-09-11 13:19] ccordoba12 commented on #5197
This is a duplicate of issue #5158 and it was fixed in Spyder **3.2.3**. Please update.

[2017-09-11 13:19] #5197 closed

[2017-09-11 13:19] ccordoba12 commented on #5196
This was fixed in Spyder 3.2.2. Please update to our latest version to get the fix.

[2017-09-11 13:19] #5196 closed

[2017-09-11 13:20] ccordoba12 commented on #5192
Thanks for the confirmation @impact27! Closing then.

[2017-09-11 13:20] #5192 closed

[2017-09-11 13:24] ccordoba12 commented on #5198
It seems your the line that's giving you the error needs to be

    framerate = cap.get(cv2.CV_CAP_PROP_FPS)

But I don't know for sure because I haven't used OpenCV before.

However, this is not a Spyder bug, it seems to be a bug in your code, so I'm closing this issue.

[2017-09-11 13:24] #5198 closed

[2017-09-11 13:26] #3758 closed

[2017-09-11 13:31] #4081 closed

[2017-09-11 15:30] st12iker opened #5199 "Error when trying to view subclass of Dataframe in the Variable Explorer"
## Description of your problem

Spyder was unable to retrieve the value of this variable from the console.

The error mesage was:
AttributeError("Can't get attribute 'DataSetTest' on ",)

**What steps will reproduce the problem?**

1.   Assign variable to a new Pandas DataFrame
2.  Double click on the newly created variable within the "variable explorer"

**What is the expected output? What do you

[2017-09-11 16:33] ewadaniela commented on #2162
Auto-completion in Spyder works correctly if there are No white spaces in the project directory name.

[2017-09-11 16:56] impact27 opened #5200 "pdb.pm() raises an Error"
## Description

**What steps will reproduce the problem?**

1. create an error
2. Try to debug using pdb.pm()

**Please provide any additional information below**

Traceback (most recent call last):

  File "<ipython-input-3-619d77b83f20>", line 1, in <module>
    pdb.pm()

  File "/usr/local/Cellar/python3/3.6.2/Frameworks/Python.framework/Versions/3.6/lib/python3.6/pdb.py", line 1604, in pm

[2017-09-11 17:08] ccordoba12 commented on #5199
What variable? Please post a reproducible example.

[2017-09-11 17:09] ccordoba12 commented on #5200
@dalthviz, please take a look at this one.

[2017-09-11 17:27] st12iker commented on #5199
so I create a custom class that inherits pd.DataFrame. (see below)
then ...

test_df = DataSet()

test_df appears in the "variable explorer" but when I double-click to inspect I get the error aforementions

[code]

[2017-09-11 17:30] ccordoba12 commented on #5199
Thanks for reporting. We'll take a look at this in a future release.

[2017-09-11 17:49] impact27 opened #5201 "Adding, removing, or moving a breakpoint while debugging changes the focus"
## Description

**What steps will reproduce the problem?**

1. Debug
2. Press return in the text editor
3. Watch as the focus goes back to ipython

## Version and main components

* Spyder Version: 3.2.4.dev0 474e59379
* Python Version: 3.6.2
* Qt Versions: 5.9.1, PyQt5 5.9 on Darwin

## Dependencies
[code]

[2017-09-11 17:51] impact27 opened #5202 "In ipdb, the up and down keys have a strange behaviour"
## Description

**What steps will reproduce the problem?**

1. debug
2. press up to access the last thing you typed
3. wonder why you ended up in the middle of the history log

## Version and main components

* Spyder Version: 3.2.4.dev0 474e59379
* Python Version: 3.6.2
* Qt Versions: 5.9.1, PyQt5 5.9 on Darwin

## Dependencies
[code]

[2017-09-11 20:11] rlaverde commented on #5176
This is also causing a little error: Selecting a codefolding arrow will add codefolding extraselection, but editor extraselections will be removed (current line, current cell, highlight words)

[2017-09-11 20:30] ccordoba12 commented on #5202
Yep, I noticed this behavior too. I don't know why it happens though.

[2017-09-11 22:49] impact27 opened #5205 "Improvement: add a shortcut to enter the debugger after an error occurs"
Quite often, when I run a script that crashes, I launch the debugger with:
[code]
It would be useful if there was a keyboard shortcut and a menu item to do that.

Also when the post mortem is launched, the corresponding file is not automatically opened, so I usually do a `u` then `d` and the correct line appears.

[2017-09-12 02:26] #5200 closed

[2017-09-12 03:22] fayeshine commented on #4186
@ccordoba12 3.2.3 is released, this issue still remains

[2017-09-12 06:10] eric0371 opened #5208 "spyder"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "D:\Anaconda3\lib\site-packages\pandas\core\common.py", line 172, in _maybe_box_datetimelike
    value = tslib.Timestamp(value)
  File "pandas\_libs\tslib.pyx", line 402, in pandas._libs.tslib.Timestamp.__new__

[2017-09-12 07:05] gautham949 commented on #5196
Thank you. Updated it to 3.2.2 and it is fixed.

[2017-09-12 07:21] Irfan19-84 opened #5209 "error in saving python file"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\Users\Irfan\Anaconda3\lib\site-packages\spyder\widgets\editor.py", line 1474, in save
    finfo.encoding)
  File "C:\Users\Irfan\Anaconda3\lib\site-packages\spyder\utils\encoding.py", line 227, in write

[2017-09-12 10:41] fchirono opened #5210 "Spyder raising "AttributeError" window at a Python error"
Hi,

I've been using Anaconda/Spyder for a few years by now, and last week this problem showed up seemingly out of nowhere: whenever I make an error in Python - say, calling a variable that doesn't exist - Spyder brings an Error window with the message shown below (in the "additional information" section).

I can confirm this problem repeats itself for AttributeError, TypeError and NameError, alwa

[2017-09-12 11:08] rlaverde commented on #5209
This is duplicated of #5111 and was fixed in Spyder3.2.2. Please update.

[2017-09-12 11:08] #5209 closed

[2017-09-12 11:09] rlaverde commented on #5210
This is a duplicate of issue #5158 and it was fixed in Spyder 3.2.3. Please update.

[2017-09-12 11:09] #5210 closed

[2017-09-12 13:27] Rabia-Noureen opened #5211 "kernal died... restarting and the script stops"
I am using python 2.7 (Anaconda) and windows 10 32 bit OS. I am trying to run a python deep learning script using spyder after some processing it says kernal died... restarting and the script stops. Also when spyder starts this error appears in IPython console.

I am unable to under stand what is the issue? It just started appearing 4 days ago. I am stuck kindly suggest some thing to fix this issu

[2017-09-12 13:36] ccordoba12 commented on #4186
Yeah, sorry about that. We'll take a look at this (for sure) in 3.2.4

[2017-09-12 13:38] ccordoba12 commented on #5208
This looks like a bug in Pandas. Please close Spyder and any other program that's using Python, then run in a system terminal (cmd.exe) this

    conda install -f pandas

That should fix your problem.

[2017-09-12 13:38] #5208 closed

[2017-09-12 13:39] ccordoba12 commented on #5211
Please post the script you're running, or the most simple version of it, so we can debug it in our side.

[2017-09-12 13:45] Rabia-Noureen commented on #5211
The script is :
import cPickle
import numpy as np
from collections import defaultdict, OrderedDict
import theano
import theano.tensor as T
import re
import warnings
import sys
import time
warnings.filterwarnings("ignore")

#different non-linearities
def ReLU(x):
    y = T.maximum(0.0, x)
    return(y)
def Sigmoid(x):
    y = T.nnet.sigmoid(x)
    return(y)
def Tanh(x):
    y = T.tanh(x)
    return

[2017-09-12 13:46] Rabia-Noureen commented on #5211
Sorry for the long one but i am running a CNN script that is already developed.
The error on IPython console is

run conv_net_sentence.py -nonstatic -word2vec
WARNING (theano.sandbox.cuda): The cuda backend is deprecated and will be removed in the next release (v0.10).  Please switch to the gpuarray backend. You can get more information about how to switch at this URL:
 https://github.com/Theano/T

[2017-09-12 14:06] goanpeca commented on #4591
@rlaverde @ccordoba12 how should we handle the preferences "plugin", its not really a plugin at the moment, more of a core feature of spyder, so we need to move it out of plugins folder?

Thoughts?

[2017-09-12 14:19] ccordoba12 commented on #4591
Right, we should move all Python modules related to Preferences (e.g.
configdialog.py, rundialog.py, etc) to a different module called
`preferences`, out of plugins and at the same level of it.

El 12/09/17 a las 09:06, Gonzalo Peña-Castellanos escribió:

[2017-09-12 14:53] nonamedotc opened #5212 "spyder2 crashes upon launch when pygtk2 is installed"
## Description of your problem

I maintain the spyder package for Fedora. This issue is about launching spyder (python 2 version) on Fedora 26.

If I have pygtk2 installed in my system, spyder (python2 version) crashes upon launch. If I remove pygtk2 package, I am able to launch spyder (python 2 version) without any issues.

[code]

**What steps will reproduce the problem?**

1. Install pygtk2 fro

[2017-09-12 15:01] PowerPlum opened #5213 "Error when Selecting Fig from Variable Explorer"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "c:\python36-32\lib\site-packages\spyder\widgets\variableexplorer\collectionseditor.py", line 519, in createEditor
    readonly=readonly)
  File "c:\python36-32\lib\site-packages\spyder\widgets\variableexplorer\

[2017-09-12 15:14] #2406 closed

[2017-09-12 15:54] SagarPohekar commented on #3138
Guys,
I have observed the same problem:
Solution: Uninstall PyQt and then uninstall the SIP package
Reinstall above package but in following sequence:
#1 SIP
#2 PyQt4/5