[2020-07-29 20:51] #13415 closed

[2020-07-29 20:52] OverLordGoldDragon opened #13420 "Linter dies in a file (4.1.4)"
[clip.mp4](https://puu.sh/GcliQ/2e6f178af5.mp4) -- This is a first, resolved with a file reopen (just like #11154). It differs from #11506 as I didn't have to restart LSP. Don't know how to reproduce yet. Note this is a fairly minimal environment (no TF, Keras, etc), even smaller than conda base, using only `conda install`.

[2020-07-29 20:56] #13378 closed

[2020-07-29 20:56] bastianshi829 commented on #13411
Hi Daniel, the issue has been resolved after I reinstall Python on my Laptop.

[2020-07-29 21:04] CAM-Gerlach commented on #3601
Just FYI, there isn't a version 3.7 of Spyder; do you mean Python 3.7? Do you observe the exact same behavior as the OP, or is it different? Any details you can provide us would be really helpful in tracking down what's going and seeing what we do to solve it. Thanks!

[2020-07-29 21:08] CAM-Gerlach commented on #1110
This sounds like a useful feature; can you open a new issue about it? Its not really related to this one, and would likely require substantially more changes than just fixing this issue properly. Thanks!

[2020-07-29 21:41] #13099 closed

[2020-07-29 22:43] sergionovi commented on #3601
Hi @CAM-Gerlach, sorry; my spyder version is 3.3.6 and Python 3.7. I was observing the exact behavior. I updated the Spyder to version 4.1.4., but it started to crash as soon as I started it.
First, there was an error related to matplotlib. This error I could solve. Next, there was another error related to kernels. I tried to solve it, but it did not work. I have used a while ago "pip install' for

[2020-07-30 00:34] OverLordGoldDragon commented on #13420
Possibly identical trigger, `.` (`__getattr__`), was typing fast but linter died shortly after a `.`. Only the offending file is affected.

[2020-07-30 00:54] dalthviz commented on #13411
Awesome @bastianshi829 ! thanks for letting us know :+1:

[2020-07-30 00:54] #13411 closed

[2020-07-30 01:06] medlaw opened #13422 "After new Spyder IDE installation, clicked on popup to read "tutorial""
## Description

### What steps will reproduce the problem?

Clicked on popup: "New to Spyder? Read our tutorial" after initial installation

### Traceback
[code]

## Versions

* Spyder version: 5.0.0.dev0
* Python version: 3.8.4
* Qt version: 5.12.9
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-30 03:04] ccordoba12 commented on #13420
Ok, please let us know if you can reproduce it reliably.

[2020-07-30 03:09] lucasmyers97 opened #13423 "Plot windows with qt4 or qt5 as backend for the IPython console run very slowly."
### Issue Report Checklist

* [ x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not

[2020-07-30 04:16] DanielCKL opened #13424 "Spider Freezes When Creating New Project"
## Description

### What steps will reproduce the problem?

1. Create New project in User/Documents
2. New Project does not appear
3. Try again with exactly the same folder and foldername
4. Wait

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.3
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-30 04:16] #13424 closed

[2020-07-30 06:57] dsmic commented on #12847
For me this does not solve the problem. I prepared a simple demonstration code, which I run in spyder 4.1.4 on anaconda. console info:
Python 3.7.7 (default, May  7 2020, 21:25:33)
Type "copyright", "credits" or "license" for more information.

IPython 7.16.1 -- An enhanced Interactive Python.

[code]

problem is also present without plt.rcParams['figure.dpi'] = 300 (which increases the resolution

[2020-07-30 07:37] juanis2112 opened #13425 "Last item in profiler is hidden behind scrollbar"
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-07-30 08:15] juanis2112 commented on #13363
Thanks for opening this @impact27.
@ccordoba12  is right, apparently when changing the units I messed up the sorting. I opened a PR to fix it, so hopefully it works. I assigned you both @ccordoba12 and @impact27 as reviewers for it.

[2020-07-30 08:30] CAM-Gerlach commented on #3601
@sergionovi Sorry you had problems updating to Spyder 4. We might be able to help with those issues if we had more information; as one possible tip, the version of Spyder-Kernels in any of your environments will need to be updated to version 1.x to work with Spyder 4. However, I think you're quite right in your guess

Because, as you correctly surmise, this can certainly create all kinds of proble

[2020-07-30 09:29] partha1968 opened #13427 "Spyder start problem with error"
## Description

### What steps will reproduce the problem?

installed pandas datareader using pip
changed syntax highliting scheme to Notepad++

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-30 09:29] #13427 closed

[2020-07-30 11:11] vinzk commented on #13423
After I updated yesterday I had the same problem.
I can confirm that after downgrading ipykernel (5.3.3 -> 5.3.2) the plot window works as expected.

[2020-07-30 12:50] duncanmcbryde commented on #13423
Workaround bia downgrade to ipykernel 5.3.2 works on Anaconda Windows 10, with the following printed in the ipython terminal when running matplotlib.
`QSocketNotifier: Multiple socket notifiers for same socket 1888 and type Read`

[2020-07-30 14:42] wendyjboss opened #13428 "can't use spyder due to hover issue"
## Description

### What steps will reproduce the problem?

move the mouse over an open file over text this error occurs

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.6.5
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-30 15:05] dalthviz commented on #13423
Hi @lucasmyers97 @vinzk @duncanmcbryde thanks guys for pointing out the issue and a possible workaround. Checking a little bit seems like this is related with https://github.com/ipython/ipykernel/issues/528 and a release with the fix (`ipykernel 5.3.4`) was done a week ago. Could you guys try to update `ipykernel` to the latest release and check again? Thanks!

[2020-07-30 15:09] lucasmyers97 commented on #13423
@dalthviz I have been using Anaconda as a package manager. When I try `conda update ipykernel`, it tries to update to `ipykernel 5.3.3`. Is there another way I am supposed to be updating it?

[2020-07-30 15:16] dalthviz commented on #13423
Totally right @lucasmyers97 I think `ipykernel 5.3.4` is not yet available in the default conda channel. For now, I suggest to work with the version 5.3.2 (the work around found) and try again to update `ipykernel` when the package is uploaded (probably in a couple of days). Sorry for the inconvenience :/

[2020-07-30 15:16] duncanmcbryde commented on #13423
I'm in the same situation. I can explicitly define
`conda install ipykernel=5.3.4`
but this fails with
`PackagesNotFoundError: The following packages are not available from current channels`

I guess ipykernel has not made it's way itnto the default channel

[2020-07-30 15:37] goanpeca commented on #13422
Will fix @dalthviz

[2020-07-30 15:38] dalthviz commented on #13422
Thanks @goanpeca :+1:

[2020-07-30 15:40] jdaniele71 opened #13429 "Kernel blocks with bad threads code"
## Description

### What steps will reproduce the problem?

I was playing with threads.
I derived a class from threading.Thread.
In the run() method, there was a syntax error.
So the thread was started but as soon it encountered the line with the error, the console didn't print anymore and there was nothing to do to stop the dead thead/kernel.
I tried to close the console but Spider opened a new o

[2020-07-30 15:40] #13429 closed

[2020-07-30 15:46] dalthviz opened #13430 "Running master with bootstrap.py not working?"
Running Spyder from the `bootstrap.py` is not working for me (maybe I need to change something in my setup?). This is the traceback I'm getting:

[code]

Revision:  c00d52dd1

Pinging @ccordoba12 and @goanpeca just in case

[2020-07-30 16:02] goanpeca commented on #13430
Hi @dalthviz,

This usually means some of the compiled cached files in there (from another PR) are interfering with the current branch you have.

Running:
[code]

Should fix it.

[2020-07-30 16:06] dalthviz commented on #13430
Yep that worked, thanks @goanpeca :+1:

[2020-07-30 16:06] #13430 closed

[2020-07-30 16:33] YaoLIII opened #13431 "trying to open void128 type data"
## Description

### What steps will reproduce the problem?

I have a mat who contains void128 type of variable,trying to open it by double click from varible explorer.

### Traceback
[code]

## Versions

* Spyder version: 3.3.6
* Python version: 3.6.9
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Linux 4.15.0-107-generic

### Dependencies

[code]

[2020-07-30 17:14] ccordoba12 commented on #13429
@jdaniele71, please update to our 4.1.4 version by closing Spyder, opening the Anaconda prompt, running there

    conda update anaconda
    conda install spyder=4.1.4

and try again.

[2020-07-30 17:17] ccordoba12 commented on #13423
@anaconda-pkg-build, could you package `ipykernel 5.3.4`? We have received bug reports about this problem in the last weeks, which was solved in that version. Thanks!

[2020-07-30 17:18] medlaw commented on #13422
Thank you for your kind, valuable and expert attention.

The app was installed via pip -- and was run via bootstrap.py

I have noted that if run via an "elevated" command line as python bootstrap.py the app will run apparently flawlessly -- including access to the tutorial via "help" -- AND -- kite completion also will run

I further noted that when a "non-elevated" command line is used, "protecti

[2020-07-30 17:18] ccordoba12 commented on #13428
Hey @wendyjboss, thanks for reporting. This is a duplicate of #13297. For now the only workaround is to uninstall Kite.

Sorry for the inconvenience.

[2020-07-30 17:18] #13428 closed

[2020-07-30 17:40] STEFANIHUNT opened #13432 "i imported arcpy"
## Description

### What steps will reproduce the problem?

import arcpy

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.6.9
* Qt version: 5.12.5
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-30 17:46] seyeeet opened #13433 "Freezing for a few min on starting spyder 1.4.1"
I am using the latest spyder on Ubuntu 16.04. I notice that when I open the spyder it freezes for a few minutes and then works fine.
It is annoying at the beginning when it freezes.
Any suggestions why this happens.

Spyder 4.1.4
Python 3.6.6 64-bit | Qt 5.9.6 | PyQt5 5.9.2 | Linux 4.15.0-112-generic
Using anaconda to install spyder

[2020-07-30 18:21] #13363 closed

[2020-07-30 19:20] ccordoba12 commented on #13427
Sorry, it seems this is still an issue in 4.1.4. We're tracking this problem on #13288.

[2020-07-30 19:27] ccordoba12 commented on #13288
@impact27, despite all your efforts, this problem is still happening for some users in all operating systems (this one is about Linux).

So I think the only solution for it is to drop our comms channel and use instead the control channel, which is created at kernel initialization time (so there's no need for us to do it) and it was added for this kind of job (i.e. to have an extra channel for debu

[2020-07-30 19:34] OverLordGoldDragon opened #13434 "Cannot open project sometimes (4.1.4)"
This is upon `Projects > Open Project` (simply clicking, not even selecting folder). Doesn't help: restarting kernel, opening new console, closing existing project. Did help: restarting Spyder.

Unsure if `pip install tensorflow` is involved (no packages below were updated due to it if I recall), but haven't seen this in 4.1.3.

[code]

[2020-07-30 19:47] #12798 closed

[2020-07-30 19:53] milindsmart opened #13435 "Allow loading of profiler Result file without running script"
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-07-30 21:53] impact27 commented on #13288
This wouldn't work, see https://github.com/ipython/ipykernel/issues/447

[2020-07-31 00:31] #13417 closed

[2020-07-31 01:43] andfoy commented on #13431
Hi @YaoLIII, thanks for opening this issue, it seems that you are using a very old version of Spyder (3.3.6), we recommend you to upgrade to the latest version 4.1.4. You can do it easily by executing  the following commands:

[code]

Please let us know if upgrading solves your issue

[2020-07-31 01:46] andfoy commented on #13432
Hi @STEFANIHUNT, thanks for opening this issue, however it is a duplicate of #13297. Right now, the only workaround is to uninstall Kite. Sorry for the inconvenience.

[2020-07-31 01:46] #13432 closed

[2020-07-31 01:48] andfoy commented on #13434
Hi @OverLordGoldDragon, thanks for opening this issue, however, it is a duplicate of https://github.com/spyder-ide/spyder/issues/13346, so I'm closing this in favor of that one. Thanks!

[2020-07-31 01:48] #13434 closed

[2020-07-31 04:33] juanis2112 commented on #13373
Closing due to no response.

[2020-07-31 04:33] #13373 closed

[2020-07-31 04:34] juanis2112 commented on #13322
Closing due to no response

[2020-07-31 04:34] #13322 closed

[2020-07-31 04:43] darkbotbbl opened #13438 "Can't view a float64 dtype in the variable explorer"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/usr/lib/python3/dist-packages/spyder/widgets/variableexplorer/collectionseditor.py", line 449, in createEditor
    if not editor.setup_and_check(value, title=key, readonly=readonly):
  File "/usr/lib/python3/d

[2020-07-31 04:44] #13438 closed

[2020-07-31 04:59] juanis2112 opened #13439 "Code analysis and profiler don't have shortcuts assigned"
## Problem Description

Code analysis and profiler don't have shortcuts assigned
![Screen Shot 2020-07-30 at 11 57 04 PM](https://user-images.githubusercontent.com/18587879/89001666-7e230700-d2c0-11ea-81f5-5a8f17b9becd.png)

I suggest cmd+shift+R for profiler and cmd+shift+C for code analysis.

[2020-07-31 05:26] #13179 closed

[2020-07-31 07:29] impact27 commented on #13288
Is this issue still present in spyder 4.1.4?

[2020-07-31 07:52] adrianschlatter commented on #13423
Same here: Running Spyder 4.1.4 on a completely new installation of Anaconda3-2020.07 on Windows 10 (new installation due to this problem ...). I can confirm that downgrading ipykernel to 5.3.2 solves the slowness problem. I would like to point out, however, that this workaround has the annoying property of throwing QSocketNotifier messages and that the number of these message is incrementing ever

[2020-07-31 09:46] impact27 commented on #13288
Hi @nerohmot

Could you send the traceback that is present in the console in this case?
I think this should be solved by https://github.com/spyder-ide/spyder/pull/13174
Basically the problem is that sometimes messages are dropped when starting the console.  This should be solved in Spyder 4.1.4

[2020-07-31 09:49] nerohmot commented on #13288
Hi @impact27

Ok, next time I have this situation again I will document it better. (don't have anything anymore from that case)

[2020-07-31 11:01] amitsova commented on #5081
Hello all,

I am not able to open a file :( My Spyder version: Spyder 4.1.3

FileNotFoundError: [Errno 2] No such file or directory: 'devices'

Can somebody please help?

[2020-07-31 14:10] lucasmyers97 commented on #13423
@adrianschlatter mine does not do that. I assume this has something to do with Qt since QSocketNotifier is a class in Qt. I am running Qt version 5.9.6 and PyQt version 5.9.2. Which versions are you running? Might updating (or downgrading) those help?

[2020-07-31 14:39] ccordoba12 commented on #13423
@adrianschlatter, I fixed that problem in ipykernel **5.3.4**.

[2020-07-31 16:12] Acebulf opened #13441 "Error when removing star from improperly starred expression"
## Description

### What steps will reproduce the problem?

"Cant use a starred expression here" error, when going to fix, it threw this error

def f(x,*args):
    a,b = *args

instead of
    a,b = args

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.5
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-31 16:22] jjhelmus commented on #13423
ipykernel 5.3.4 packages are now available in `defaults`

[2020-07-31 17:07] abergerSRS opened #13442 "Removed variables"
## Description

### What steps will reproduce the problem?

I ran a script, which populated the variable explorer with several variables. Upon highlighting and and Removing all variables, Spyder encountered an internal problem

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependenci

[2020-07-31 17:13] ccordoba12 commented on #13423
Thanks a lot for your help @jjhelmus!

[2020-07-31 17:13] #13423 closed

[2020-07-31 17:27] ccordoba12 commented on #13433
Please open a terminal, run

    spyder --reset

and try again.

[2020-07-31 17:30] RolandDeschain1 opened #13443 "Project New Project Failure"
## Description

### What steps will reproduce the problem?

Creating a new project (project menu) did not change the working directory or close the currently open (last opened) project

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-31 17:30] #13443 closed

[2020-07-31 18:33] ccordoba12 commented on #12824
Please update to our 4.1.4 version. That probably solves this problem.

[2020-07-31 18:33] #12824 closed

[2020-07-31 18:34] ccordoba12 commented on #13058
Closing due to lack of response.

[2020-07-31 18:34] #13058 closed

[2020-07-31 18:34] ccordoba12 commented on #13092
Closing due to lack of response.

[2020-07-31 18:34] #13092 closed

[2020-07-31 18:35] ccordoba12 commented on #13352
Closing due to lack of response.

[2020-07-31 18:35] #13352 closed

[2020-07-31 19:12] namanchauhan8998 commented on #10206
mine i stuck at it

[2020-07-31 21:43] juanis2112 commented on #13442
Hi @abergerSRS, I can't reproduce this problem. Can you provide more information on the variables? Perhaps upload the script here (if it is possible for you).  Is there any other thing you did before deleting the variables?

[2020-07-31 21:55] juanis2112 commented on #13441
Hi @Acebulf, thanks for opening this. I'm not sure what are the exact steps that reproduce the problem. What exactly you mean by "going to fix"?

[2020-07-31 21:58] juanis2112 commented on #13439
@dalthviz can you take a look at this one?

[2020-07-31 22:25] jleuschn opened #13444 "Explorer "New" actions should depend on selected files"
### Problem Description

The explorer context menu actions in "New" use the root path of the current directory. Prior to #13032 the directory was depending on the selected file or folder, which IMHO is more convenient.
As an argument why the new behavior is inconvenient, when just entering a file name and clicking save the file would be created outside the current project.

### What steps reproduc

[2020-07-31 23:20] juanis2112 commented on #13444
Hi @jleuschn, thanks for opening this. I think you are right. @steff456 can you take a look at this one?

[2020-07-31 23:26] juanis2112 commented on #13441
I found out that this issue is a duplicate of #13297 and it seems like some issue with Kite.  My suggestion is to uninstall Kite while we figure it out.

[2020-07-31 23:43] juanis2112 commented on #13435
Hi @milindsmart. Thanks for opening this issue. This is a good idea and it is also something that we had thought about. As this is a major change of functionality, we are planning to implement it for Spyder5 to be released next year.

[2020-08-01 00:47] seyeeet commented on #13433
Thanks, I think it helps to solve it, but it also reset everything, all my project history is gone and all my custom settings are gone as well. I have mix of feeling now :|
Is there any other way for the future?

[2020-08-01 01:55] GregOakes opened #13445 "Terminal plugin fails - unable to find 127.0.0.1"
## Description

### What steps will reproduce the problem?

Installed spyder-terminal, via anaconda3 64b, to spyder4, and started spyder. Startup ends with Spyder Terminal Error popup. Followed instruction to debug spyder; got an error file, terminal output in terminal window, and an empty terminal_out.log file.

Terminal Edrror log:

2020-07-31 20:10:55 LAPTOP-VESB5F0J __main__[1366932] INFO Serv

[2020-08-01 01:57] GregOakes commented on #13445
The error log file and terminal I/O:

[spyder_terminal_err.log](https://github.com/spyder-ide/spyder/files/5009673/spyder_terminal_err.log)

[spyder_terminal_output.txt](https://github.com/spyder-ide/spyder/files/5009679/spyder_terminal_output.txt)

[2020-08-01 04:30] ccordoba12 commented on #13433
I'm sorry you lost your settings, but without more details about why you were having this problem, it was really hard for me to offer you other kind of advice.

I hope this problem doesn't happen to you in the future.

[2020-08-01 04:30] #13433 closed

[2020-08-01 05:57] impact27 opened #13446 "Implement Jupyter debugger protocol into spyder"
See: https://github.com/jupyter/enhancement-proposals/blob/master/jupyter-debugger-protocol/jupyter-debugger-protocol.md
This would be a great improvement for Spyder and would get rid of the comms thread

[2020-08-01 07:45] CrimsonNightZero commented on #13368
@ccordoba12 Yes, I create test envs, still has the same problem.
conda create -n test python=3.7.7
conda activate test
pip install spyder
pip install package

[2020-08-01 08:33] hjj1015 opened #13447 "Variable explore cannot seen"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\ProgramData\Anaconda3\lib\site-packages\spyder\widgets\variableexplorer\collectionseditor.py", line 455, in createEditor
    if not editor.setup_and_check(value, title=key, readonly=readonly):
  File "C:\Pro

[2020-08-01 08:34] #13447 closed

[2020-08-01 13:41] jaxankey opened #13448 "Problems on launch"
## Description

### What steps will reproduce the problem?

Fresh install of either Anaconda3.8 or a 3.7 environment. Did spyder --reset, too. This error pops up when I launch it.

Windows 10 32-bit on a 64-bit machine.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[co

[2020-08-01 13:42] ismaelbrowne opened #13449 "Installed Kite through spyder and it doesn't work"
## Problem Description
I installed Kite through spyder and whenever I launch spyder;
Case 1: Sometimes spyder's launcher shows and stays stuck on "Loading code completion client for python" and I need to click on the launcher, later it will say the python isn't answering and it'll ask me if I want to try to restore Python, and if I select that option, spyder will load but Kite won't and at the bot

[2020-08-01 14:10] ccordoba12 commented on #13368
Please see the video. It's title is "Spyder says: Don't mix pip and conda". And that's what you're doing above.

Besides, if you're using Anaconda, you don't need to use pip to install Spyder.

[2020-08-01 15:13] namanchauhan8998 commented on #8669
Traceback (most recent call last):
File "C:\Users\naman\anaconda3\Scripts\spyder-script.py", line 10, in
sys.exit(main())
File "C:\Users\naman\anaconda3\lib\site-packages\spyder\app\start.py", line 205, in main
mainwindow.main()
File "C:\Users\naman\anaconda3\lib\site-packages\spyder\app\mainwindow.py", line 3763, in main
mainwindow = run_spyder(app, options, args)
File "C:\Users\naman\anaconda3\l

[2020-08-01 15:21] CrimsonNightZero commented on #13368
This is not working.
conda create -n test python=3.7.7
conda activate test2
Execute spyder

Finally reinstall conda, LSP Python is work.

[2020-08-01 16:14] ccordoba12 commented on #13368
I'm really glad you finally found a way to solve your problem!

[2020-08-01 16:14] #13368 closed

[2020-08-01 16:16] ccordoba12 commented on #8669
@namanchauhan8998, you probably need to reinstall Anaconda. Please see [our video](https://www.youtube.com/watch?v=Ul79ihg41Rs) on how to solve this kind of problems.

[2020-08-01 16:20] ccordoba12 commented on #13449
Hey @ismaelbrowne, this is clearly a problem with Kite and not with Spyder. Please report it here:

https://github.com/kiteco/issue-tracker

to get appropriate support for it.

Thanks!

[2020-08-01 16:20] #13449 closed

[2020-08-01 16:27] ccordoba12 commented on #13448
Hey @jaxankey, thanks for reporting. We've seen that error reported sometimes in the past but we don't know why it's happening.

Could you post the output of `conda list` here? Thanks!

[2020-08-01 16:48] jaxankey commented on #13448
Sure.

Note that, for this latest case, I first installed Miniconda3.8, then created a py37 environment, then installed spyder etc with:

[code]
I get the same error with a clean Anaconda3.8 base install, too, but may have also done libm2k as well. Next I will try py37 clean with no libm2k.

[code]

[2020-08-01 18:45] OverLordGoldDragon commented on #13336
It... fixed itself? Haven't seen it in past two days despite intensive use, and I haven't installed / uninstalled anything in the env. I'd give it more time to be sure, but still strange.

[2020-08-01 19:55] peterwright95 opened #13450 "configparser.DuplicateOptionError when creating a project"
## Description

### What steps will reproduce the problem?

- Download Github Repository
- Create project

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-01 20:01] peterwright95 opened #13451 "Project Creation from Github Cloned Repository"
## Description

### What steps will reproduce the problem?

- Clone a github repository
- Create a new project on spyder from given folder

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-01 20:33] ccordoba12 commented on #13451
Hey @peterwright95, this is a duplicate of issue #13450, which you reported already. Please don't report the same issue several times, it's a waste of time for us.

[2020-08-01 20:33] #13451 closed

[2020-08-01 20:37] ccordoba12 commented on #13450
Hey @peterwright95, can you give us more details about this error?

[2020-08-01 20:41] jaxankey commented on #13448
I just did a clean conda-only install and I think it's the subsequent pip install that kills it. Unfortunately I really need libm2k. Maybe the order of operations can fix this...

[2020-08-01 20:43] peterwright95 commented on #13450
Yes. I just recently bought a new pc, installed Anaconda and through it the above mentioned version of Spyder. As I lost my Github projects by changing the PC, I cloned the repository utilizing GitHub desktop to my new PC. In order to apply changes I tried to create a new Project on Spyder with an already created directory (the cloned download) and when trying to create come up with this issue

[2020-08-01 20:58] ccordoba12 commented on #13448
Yes, that's what I was thinking too. You could install all these packages using pip:

    numpy scipy imageio matplotlib pyqtgraph pyopengl libm2k

in a separate env and then connect that env with Spyder. Please part 2 of [our video](https://www.youtube.com/watch?v=Ul79ihg41Rs) to learn how to do that.

[2020-08-01 22:33] BCCozad817 opened #13452 "curious upgrade or an intentional malware insertion"
## Description

### What steps will reproduce the problem?

Spyder tutorial. hyper link "chunks of code that are separated by delimiters". My File Explorer is now overriding my search files. What is Downloading: Windows_Server_2016 6.4 GB python.exe downloading from OneDrive? Was code snuck in? Anyway Spyer 4.1.4 fixes it.

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.7
* Qt version:

[2020-08-01 22:43] BCCozad817 commented on #13452
"chunks of code that are separated by delimiters" Spyder tutorial opening subsection "What happen when you execute a program?"
![SpyderCurious](https://user-images.githubusercontent.com/51197455/89111682-ce1bde00-d426-11ea-910b-699f31e26efd.png)

[2020-08-01 23:56] jaxankey commented on #13448
More information:

This time I started by installing

[code]

It worked.

[code]

It worked.

[code]

It worked still! So now I'm guessing it's installing 4.1.4 without a previous version? I'll try that next.

[2020-08-02 03:43] DanielIAvila opened #13453 ""ERROR: execution aborted" after any exception, or line script."
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-08-02 14:56] ericberlow opened #13454 ""Spyder had encountered an internal problem" on first launch opening project."
## Description

### What steps will reproduce the problem?

On first start, every time I try to open a project, I get this error window saying "Spyder had encountered an internal problem".  Then I close it and resart and it works.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 19.6.0

### Dep

[2020-08-02 16:44] jaxankey commented on #13448
Uh oh, sorry for wasting your time! I have reinstalled a few times trying to reproduce it (was driving me nuts) and it turns out I had originally included a *.pth file pointing to another site-packages directory. I don't know why this didn't occur to me.

It is odd, though; since python should default to its own site-packages first. :\ Anyway, not actually an issue.

[2020-08-02 16:44] #13448 closed

[2020-08-02 16:53] ccordoba12 commented on #13448
No problem. Glad you were able to figure this one out.

Could share with us the .pth file you mentioned? That way we could reproduce and fix this error, so other people are not bothered by it.

[2020-08-02 17:41] jsh9 opened #13455 "Cannot see variable explorer window in task bar (Windows 10)"
## Problem Description

### What steps reproduce the problem?

1. Open Spyder 4.1.4
2. Run some test scripts
3. Check the values of a variable (via the variable explorer)
4. Look for the variable explorer window in the Windows 10 task bar --- and you won't find the variable explorer window
5. Use Alt + Tab to switch window --- and you won't find the variable explorer window

### What is the expect

[2020-08-02 19:14] OverLordGoldDragon opened #13456 "Disabling fold coloring"
Folding colors unrelated lines, above and below a fold. Unless it's already a feature, an option to turn off fold coloring or enable customizing it in `Preferences > Appearance` would help.

<img src="https://user-images.githubusercontent.com/16495490/89130351-49f45400-d515-11ea-86c4-9655b8a4d032.png" width="450">

[2020-08-02 19:50] jaxankey commented on #13448
It just referred to a network share on a 64-bit machine, e.g. \\ourdomain\site-packages. This is necessary for us because we constantly update a student lab module and can't realistically run around all the computers and update them every time. Now I just share a folder with those specific modules and the problem is gone (though now we have to install more on the other computers, but that's not te

[2020-08-02 19:52] jaxankey commented on #13448
I still don't see how this would cause an issue, since the local machine's site-packages are the defaults, but perhaps some packages have a flexible import scheme that will do something different depending on what's available?

Anyway, sorry again!

Take care,
Jack
________________________________
From: Jack Sankey <jack.sankey@mcgill.ca>
Sent: Sunday, August 2, 2020 3:50 PM
To: spyder-ide/spyder

[2020-08-02 20:00] joseavegaa commented on #11026
Getting the same issue on Spyder installation through Anaconda.

Spyder 4.1.4
Python 3.7.7

[2020-08-02 20:27] joseavegaa opened #13457 "Completion and linting in the editor for Python files will not work during current session, or stopped working."
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-08-02 21:01] sofiapuvogelvittini opened #13458 "Spyder crashes when "replace in selection""
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-08-03 00:53] L-Castelli-BR opened #13459 "Plot Performance"
## Description

### What steps will reproduce the problem?

After the update the separate window plot got very very slow.
Any kind of plot enerates a delay to visualize, and the new windows is not so much responsive.

Before the lastest update this was not an issue.

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.4
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows

[2020-08-03 04:45] ccordoba12 commented on #13459
Hey @L-Castelli-BR, thanks for reporting. To solve this, please close Spyder, open the Anaconda prompt, run there

    conda install ipykernel=5.3.4

and start Spyder again.

[2020-08-03 04:45] #13459 closed

[2020-08-03 06:34] SomannaKuri opened #13461 "Goto Definition is not working"
## Description

### What steps will reproduce the problem?

After right clicking on the function, its not showing "goto defition option".

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.6
* Qt version: 5.12.5
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-03 09:14] adrianschlatter commented on #13423
Problem solved. Thanks a lot!

[2020-08-03 10:45] frainz-de commented on #11623
In case someone else is looking for a solution, there is a thread in the Manjaro forums: https://forum.manjaro.org/t/spyder-4-x-x-freezes-at-startup/154204

[2020-08-03 11:08] Abu-Kaisar opened #13462 "Console Load Problem"
## Description

### What steps will reproduce the problem?

  File "C:\ProgramData\Anaconda3\lib\site-packages\spyder\plugins\ipythonconsole\plugin.py", line 713, in create_new_client
    self.register_client(client)
  File "C:\ProgramData\Anaconda3\lib\site-packages\spyder\plugins\ipythonconsole\plugin.py", line 935, in register_client
    shellwidget.set_cwd(cwd_path)
  File "C:\ProgramData\Anac

[2020-08-03 11:08] #13462 closed

[2020-08-03 14:41] pchristian4481 commented on #13275
@raphaelquast, nice fix.  Thank you.

[2020-08-03 15:17] raphaelquast commented on #13275
@pchristian4481  thanks, but the credit should really go to @ccordoba12 and the rest since I haven't done a thing except complaining about the issue 😁

[2020-08-03 15:29] rds1712 opened #13463 "What is this error"
## Description

### What steps will reproduce the problem?

I get this error message every time i launch spyder

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 19.6.0

### Dependencies

[code]

[2020-08-03 17:04] pchristian4481 commented on #13275
Very good.

*From:* Raphael Quast <notifications@github.com>
*Sent:* Monday, August 3, 2020 10:18 AM
*To:* spyder-ide/spyder <spyder@noreply.github.com>
*Cc:* pchristian4481 <pchristian@prc-hsv.com>; Mention <
mention@noreply.github.com>
*Subject:* Re: [spyder-ide/spyder] QSocketNotifier: Multiple socket
notifiers for same socket and type Read (#13275)

@pchristian4481 <https://github.com/pchristi

[2020-08-03 18:41] salil91 opened #13464 "Plotnine plots not showing up"
I am running the example code from the plotnine website using a script. The plot shows up with the exact same code in Jupyter, but not in Spyder (neither inline, nor in the Plots window)

[code]

Found a workaround but hoping for a more practical solution. I slightly modify the ggplot code in the script to
`ss=(ggplot(mtcars, aes('wt', 'mpg', color='factor(gear)')))
`
and then type the following i

[2020-08-03 23:56] seyeeet commented on #13433
no worries. Thanks for your help!

[2020-08-04 00:12] CAM-Gerlach opened #13465 "Fix some further issues with the Files pane UX"
## Problem Description

After testing the new changes proposed in #13179 and executed in #13209 as part of reviewing spyder-ide/spyder-docs#146 , I found a few remaining issues that should be resolved. The changes should be simple and the implementation very straightforward, closely following that already reviewed #13209 , so I can have a PR ready as soon as we agree on them, which can hopefully b

[2020-08-04 01:31] blingblingjade opened #13466 "Sypder has encountered an internal problem"
## Description

### What steps will reproduce the problem?

I have updated spyder. when I open it, it will pop up the Spyder has encountered an internal problem! window.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-04 01:32] L-Castelli-BR commented on #13459
@ccordoba12 worked like a charm. Many thanks.

[2020-08-04 02:05] ccordoba12 commented on #13459
No problem, happy Spydering!

[2020-08-04 04:49] saumyaborwankar opened #13467 "Spyder just gives me a warning and stops working"
## Description

### What steps will reproduce the problem?

import spafe
import scipy.io.wavfile
import spafe.utils.vis as vis
from spafe.features.mfcc import mfcc, imfcc

# read wave file
fs, sig = scipy.io.wavfile.read('F:/Downloads/UrbanSound8K/audio/fold1/7061-6-0-0.wav')

# compute mfccs and mfes
mfccs  = mfcc(sig, fs=16000, num_ceps=13)

### Traceback
[code]

## Versions

* Spyder version: 4

[2020-08-04 04:49] #13467 closed

[2020-08-04 06:59] milindsmart commented on #13435
I presume this is a "major change" because of the addition/change of buttons in the GUI pane?

[2020-08-04 08:39] Only-Activity opened #13468 "Cannot open project in Spyder"
**What steps will reproduce the problem?**

Recently updated conda to 4.8.3 and cannot open project in spyder.

**Steps:**
1. Open Spyder
2. Navigate to Projects
3. Select Open Project

**Versions:**

- Spyder version: 4.1.4
- Python version: 3.8.3
- Qt version: 5.9.7
- PyQt5 version: 5.9.2
- Operating System: Windows 10

[2020-08-04 09:44] yeney opened #13469 "pop up every minute"
## Description

### What steps will reproduce the problem?

it automatically pop up and happens every 10 secs.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.6.8
* Qt version: 5.12.4
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-04 09:44] #13469 closed

[2020-08-04 11:26] psrawke opened #13470 "Issue Reporter prompts up when typing `int`"
## Description

### What steps will reproduce the problem?

I am typing `int` in the editor and this keeps popping up.

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-04 11:27] #13470 closed

[2020-08-04 11:31] #13468 closed

[2020-08-04 11:32] Only-Activity commented on #13468
I did `spyder -- reset` and resolved the issue for now.

[2020-08-04 12:14] nerohmot opened #13471 "Recursing problem with new plugin API on master"
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-08-04 14:28] pipetrunks opened #13473 "Problem with copy the Variable with sys.stdout"
## Description

### What steps will reproduce the problem?

import sys

Temp = sys.stdout

I try to copy the variable "Temp"

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-04 15:14] Cacunas1 opened #13474 "App failed at creating new project in Windows 10"
## Description

### What steps will reproduce the problem?

1. Open Spyder
2. Having it setup with a conda virtualenv
3. Try to create a new project

### Traceback
[code]

## Versions

* Spyder version: 4.1.2
* Python version: 3.7.6
* Qt version: 5.12.5
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-04 15:14] #13474 closed

[2020-08-04 15:52] steff456 commented on #13453
Hi @DanielIAvila,
Can you please upload here a gif or screenshot with the behavior that you are getting? As well, if you can share with us some file that you write and is presenting the issue to see if we can reproduce it.
Thanks for reporting!

[2020-08-04 16:16] steff456 commented on #13454
Hi @ericberlow,

This issue is a duplicate of #13346, we are working on this for our next release in a couple of months.

Thanks for reporting!

[2020-08-04 16:16] #13454 closed

[2020-08-04 17:21] #13471 closed

[2020-08-04 17:22] steff456 commented on #13455
Hi @jsh9,

If you want to have the variable explorer in its own window you can undock using the following option
![image](https://user-images.githubusercontent.com/20992645/89324585-203e4880-d64d-11ea-8da5-c2a96d536b13.png)

Please let me know if this works for you

[2020-08-04 17:24] steff456 commented on #13456
Hi @OverLordGoldDragon,

Currently we are working to enhance the syntax highlighting and we definitely will take this into account.

Thanks for reporting!

[2020-08-04 17:32] steff456 commented on #13458
Hi @sofiapuvogelvittini,

I'm not able to reproduce it in a small file, can you please upload a gif with the behavior you are having?

[2020-08-04 17:35] steff456 commented on #13461
Hi @SomannaKuri,
With which function are you trying to use the `goto definition` option?

[2020-08-04 17:38] steff456 commented on #13463
Hi @rds1712,
This error is already fixed in 4.1.4, please upgrade your Spyder version by

[code]

Thanks for reporting!

[2020-08-04 17:38] #13463 closed

[2020-08-04 17:38] DSLituiev commented on #5193
I'm getting this issue 3 years after it's closed. When I follow the instruction with the `conda install spyder‑kernels=0.*` in the environment of the Python executable, I get:

[code]

I cannot find "Reset to Defaults" in "Preferences".  Which tab is it in, @rweigel ?

[2020-08-04 17:49] steff456 commented on #13466
Hi @blingblingjade,

This is a duplicate of #13121, for now please disable in the preferences the use of kite. If you are unable to start spyder please go to `...\.spyder-py3\config` under your user and open the `spyder.ini` file and change the option `enable` under the `[kite]` section

Thanks for reporting!

[2020-08-04 17:49] #13466 closed

[2020-08-04 18:31] tranquility-base opened #13475 ""Internal Problem" after changing font size in full-screen mode."
## Description

### What steps will reproduce the problem?

I don't know if it is reproducible. What I did before the crash:

1) Change Interface theme from dark to light and restarted.
2) Went to Full Screen mode.
3) In "Appearances" dialog, went through all syntax highlightin schemes, applying each one, then went back and forth between a few of them to settle on the one I liked best (Scintilla).

[2020-08-04 19:35] steff456 commented on #13457
Hi @joseavegaa,
Can you please create a new conda environment and run spyder from there? Maybe the `conda update -all` damaged something in your environment.

[code]

Please let me know if that works

[2020-08-04 19:39] SomannaKuri commented on #13461
Hi,

I am using 4.1.4 version.

Thanks,
Somanna

On Tue, 4 Aug 2020, 11:06 pm Stephannie Jimenez Gacha, <
notifications@github.com> wrote:

[2020-08-04 19:48] steff456 commented on #13475
Hi @tranquility-base,

This is a duplicate from #13388, the fix will be available for our next release.

Thanks for reporting!

[2020-08-04 19:48] #13475 closed

[2020-08-04 19:52] steff456 commented on #13461
Can you please let me know which function gives you the error? In this way we can try to reproduce the issue

[2020-08-04 20:05] SomannaKuri commented on #13461
When I right click on the function, which is called from other package or
within same file, and select "go to definition", it's not working.

Thanks & Regards,
Somanna

On Wed, 5 Aug 2020, 1:23 am Stephannie Jimenez Gacha, <
notifications@github.com> wrote:

[2020-08-04 20:07] steff456 commented on #13461
Can you please upload a gif to see the behavior of the error?

[2020-08-04 20:16] steff456 commented on #13452
Hi @BCCozad817,
I'm unable to reproduce your error in Linux, macOS and Windows. Can you please upload a gif with the error you are having?

[2020-08-04 20:43] steff456 commented on #13384
I'm closing this issue because there was not a follow-up response after one week

[2020-08-04 20:43] #13384 closed

[2020-08-04 20:44] steff456 commented on #13404
I'm closing this issue because there was not a follow-up response after one week

[2020-08-04 20:44] #13404 closed

[2020-08-04 22:17] algent-al commented on #13457
I have this exact issue in Solus. Just updated to version 4.1.4. Using python version 3.7.7.

[2020-08-04 22:21] mje-nz commented on #5598
So what's the status of docrepr now, is Spyder still planning to use it?

[2020-08-04 22:43] steff456 commented on #13473
Hi @pipetrunks,

I could reproduce this error as well, thanks for reporting we will work in this for our next release in a couple of months

[2020-08-04 22:45] steff456 commented on #13473
@impact27 can you please help us with this one?

[2020-08-04 22:46] ccordoba12 commented on #5598
Perhaps in Spyder 5, to be released next year.

[2020-08-05 00:04] mrmelchi opened #13476 "Spyder parso verion is different from parso version from anaconda"
## Description

### What steps will reproduce the problem?

# Mandatory:
parso =0.7.0                   :  0.5.1 (NOK)
Spyder parso version 0.5.1 but anaconda version is 0.7.0

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-05 00:05] mje-nz commented on #5598
Fair enough. Would you accept contributions?

[2020-08-05 01:25] ccordoba12 commented on #13464
@salil91, thanks for reporting. You're right: `plotnine` plots are not being shown in Plots nor the console when running cells or files.

Right now, the only solution is to break your file into two cells:

[code]

Then go to `Tools > Preferences > Editor > Run cide` and activate the option called `Copy full cell contents to the console when running code cells`. And finally run both cells with `Shi

[2020-08-05 01:27] ccordoba12 commented on #13464
@impact27, could you take a look at this one? I don't understand why this happens because (as far as I know) `plotnine` is a wrapper around Matplotlib, in a similar way to Seaborn.

[2020-08-05 01:49] CAM-Gerlach commented on #13465
Note, we will either have to special-case the situation of no patterns being entered, since that would mean no files would be displayed (since the patterns show, not hide, files), which is probably optimal for performance and ease of understanding, or have the default value be `*` which includes everything. Alternatively, we could have the filters be a list of file types to exclude; that might be

[2020-08-05 01:53] salil91 commented on #13464
I can confirm that Seaborn plots work fine when I choose "inline" under Preferences > IPython console > Graphics > Graphics backend.

[2020-08-05 03:08] steff456 commented on #13476
Hi @mrmelchi,
I just reviewed the package in conda and found that under the `anaconda` and `conda-forge` channel the version of parso is 0.7.0
For installing that version please use one of the following commands:
[code]
Please let me know if this works for you

[2020-08-05 03:24] jsh9 commented on #13455
Hi @steff456 , I wasn't talking about undocking the whole "variable explorer"

I am talking about these two windows (`data` and `df`) not showing up in the task bar of Windows 10.  See the screen shot below.

![image](https://user-images.githubusercontent.com/25124332/89368390-49cc9380-d690-11ea-965d-62112d20ac35.png)

[2020-08-05 06:48] SomannaKuri commented on #13461
Hi Stephannie,

Thank you so much for your response. After restarting the system its
working fine.
Please find the attached file.

Thank you,
Somanna

On Wed, Aug 5, 2020 at 1:37 AM Stephannie Jimenez Gacha <
notifications@github.com> wrote:

[2020-08-05 07:18] impact27 commented on #13473
We should just add a try except and pass on any error. Should we inform the user that spyder can’t copy this variable? I am not sure what the expected behaviour would be there

[2020-08-05 08:31] impact27 commented on #13464
This doesn't work either:
[code]

So the problem is that this package doesn't plot when called from a function somehow. Is that the case in jupyter?

[2020-08-05 08:34] impact27 commented on #13464
There is the same problem in the jupyter console, so this is not a Spyder issue

[2020-08-05 08:34] #13464 closed

[2020-08-05 12:40] salil91 commented on #13464
I do not face the same problem in Jupyter. The code I included in the original post creates a plot as intended in Jupyter.

[2020-08-05 13:00] SpongeBob-Q opened #13477 "go to definition erros"
<!---   *** BEFORE SUBMITTING: PASTE CLIPBOARD HERE TO COMPLETE YOUR REPORT ***   ---!>

[2020-08-05 14:53] dalthviz commented on #13477
Hi @SpongeBob-Q without more info is quite difficult to us to provide you some help/guidance. If the problem persist, please checkout our [Troubleshooting Guide & FAQ](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ).

[2020-08-05 14:53] #13477 closed

[2020-08-05 15:12] steff456 commented on #13473
I think that we need @ccordoba12 opinion. What I'm wondering is there's a way to actually copy that variable or it is extremely difficult?

[2020-08-05 15:13] steff456 commented on #13461
So your problem is fixed now?

[2020-08-05 15:21] steff456 commented on #13455
Hi @jsh9, do you recall that in previous versions that behavior was happening?

[2020-08-05 15:31] impact27 commented on #13473
Well there is not really a value to be copied. I am not sure what “copy” means in this context.

[2020-08-05 16:20] steff456 commented on #13473
Yes, I think you are right and in this case the stdout is a stream and not a String so I think it we can pass the error and inform the user that Spyder is not able to copy this variable

[2020-08-05 16:30] SomannaKuri commented on #13461
Yes it is fixed now.

Thank you,
Somanna

On Wed, 5 Aug 2020, 8:43 pm Stephannie Jimenez Gacha, <
notifications@github.com> wrote:

[2020-08-05 16:59] MMS413 opened #13478 "NameError"
### What steps reproduce the problem?
These commands:
import pandas
import numpy

data = pandas.read_csv("nesarc_pds.csv", low_memory=False)

print(len(data))
print(len(data.columns))
### What is the expected output? What do you see instead?

### Paste Traceback/Error Below (if applicable)
Produced the following response:
In [2]: print(len(data.columns))
Traceback (most recent call last):

File "<

[2020-08-05 17:08] steff456 commented on #13461
I'm closing this issue since it is fixed, if you encounter another error please open a new issue.

Thanks for reporting!

[2020-08-05 17:08] #13461 closed

[2020-08-05 18:03] mmfink commented on #13457
Hello @steff456
I also have this issue on Windows 10 using spyder 4.1.4 and python 3.7.7

I followed your test-env suggestion and I can confirm that LSP Python works in spyder in the test-env. Of the common packages between the test-env and the environment where it doesn't work, these are the package version differences:

  | test-env | not working env
-- | -- | --
astroid | 2.4.2 | 2.3.3
lazy-obj

[2020-08-05 18:06] steff456 commented on #13457
@mmfink, can you please put in here the `conda list` result in the not working environment?

[2020-08-05 19:01] mmfink commented on #13457
@steff456 - its rather long:
Name | Version | Build Channel
-- | -- | --
_anaconda_depends | 2020.07 | py37_0
_ipyw_jlab_nb_ext_conf | 0.1.0 | py37_0
alabaster | 0.7.12 | py37_0
anaconda | custom | py37_1
anaconda-client | 1.7.2 | py37_0
anaconda-navigator | 1.9.12 | py37_0
anaconda-project | 0.8.4 | py_0
argh | 0.26.2 | py37_0
asn1crypto | 1.3.0 | py37_1
astroid | 2.4.2 | py37_0
astropy | 4.0.1.p

[2020-08-05 19:02] CAM-Gerlach commented on #11538
Hey @BCArg , can you explain exactly what steps you performed to restart the remote kernel that got the variable explorer workingl? Did you run a particular command in Spyder? Ctrl-C the kernel on the remote and start enough one? We had another user who experienced this, who tried

[code]

which restarts the kernel when run locally in Spyder, and instead it just made the console hang. Thanks!

@im

[2020-08-05 20:08] YagoMasip opened #13480 "Error trying to open new project"
## Description

### What steps will reproduce the problem?

Just going to open a new project with the menu and crashed.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-05 20:08] #13480 closed

[2020-08-05 20:43] catcallofcthulhu opened #13481 "Can't open Dict in variable explorer with mixed data types as keys."
## Description

### What steps will reproduce the problem?

1: Create a dictionary with a mixture of strings and numeric values as keys.
eg.
colors = {1: 'red','Y': 'yellow'}

2: Attempt to open the dictionary in the variable explorer.

3: no profit.

EDIT:
Using this function:
[code]
 as a key for the sorted() here:
[code]
fixes the problem, but probably not in the best way.

### Traceback
[code]

[2020-08-05 22:22] bnavigator opened #13483 "Mainwindow tests leak open file descriptors again"
The mainwindow tests leaking open files error from #12328 is back.

Spyder 4.1.4 built fine on openSUSE until some packages got updated a few days ago.

Apply [spyder-fdleaks-debug.patch](https://github.com/spyder-ide/spyder/files/5031196/spyder-fdleaks-debug.patch.txt) and [observe](https://build.opensuse.org/package/show/home:bnavigator:spyder-debug/spyder) that 4 types of files get opened a lot

[2020-08-05 23:03] dalthviz commented on #13483
Hi @bnavigator thanks for the feedback regarding the test execution :+1:

Just in case pinging @ccordoba12 (maybe he has some clues about this one).

I think `ipykernel` was recently updated but I'm unsure if that is related with this (I think 5.3.3 had some problems and 5.3.4 was then quickly released).

[2020-08-05 23:18] dalthviz commented on #13478
Hi @MMS413 how did you run your code? Seems like you are running it line by line (in which case you need to run the previous lines too in order to execute correctly that line or at least have in the namespace of your console the variable `data`).

For a full file run you can use the `F5` shortcut or clicking the ![image](https://user-images.githubusercontent.com/16781833/89472886-1993fc00-d747-11e

[2020-08-05 23:25] bnavigator commented on #13483
Yes `ipykernel` is at 5.3.4, I also just created a project with 5.3.2, which is rebuilding currently, but my earlier tests with 5.3.2 did not make a difference:
https://build.opensuse.org/project/show/home:bnavigator:spyder-debug2

Paging @impact27 too. He wrote #12534 and presumably knows best about the hacky mainwindow fixture.

[2020-08-05 23:31] dalthviz commented on #13481
Hi @catcallofcthulhu thanks for the feedback and thanks for taking the time check for a solution! :tada:

If you want you can help us fixing this I would say that taking a look to our [contributing guide](https://github.com/spyder-ide/spyder/blob/4.x/CONTRIBUTING.md) could help you help us :) (the fix should go to the 4.x branch).

Also, just in case, what do you think about the proposed solution

[2020-08-05 23:40] dalthviz commented on #13220
Closing do to lack of response

[2020-08-05 23:40] #13220 closed

[2020-08-05 23:44] dalthviz commented on #13355
Closing do to lack of response

[2020-08-05 23:44] #13355 closed

[2020-08-05 23:57] ccordoba12 commented on #13464
Yes, please do @impact27. If things doesn't work on Qtconsole, then this is not our fault.

[2020-08-05 23:58] ccordoba12 commented on #13473
Great advice @steff456! I also agree with that solution.

[2020-08-06 00:22] ccordoba12 commented on #13220
Yes, this problem should be fixed in 4.1.4.

[2020-08-06 01:09] ccordoba12 commented on #13481
I think we can catch the error and use `list(data.keys()` in case sorting fails.

[2020-08-06 01:16] ccordoba12 commented on #13483
These two don't seem related to Spyder, so I don't know what to do about them. @bnavigator, any suggestions?

@impact27, could you take a look at this one?

I can take a look at this one.

Most probably something changed between Qt 5.12 and 5.15 that doesn't require that hack now.

[2020-08-06 01:19] ccordoba12 commented on #13483
@bnavigator, another question: do our tests stop leaking with PR #12340?

[2020-08-06 03:20] juanis2112 opened #13484 "Code analysis entries collapsing after clicking one of them"
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-08-06 03:20] juanis2112 commented on #13484
I thought we talked about fixing this but it still remains a bug, not sure if it was addressed before. @ccordoba12

[2020-08-06 03:38] juanis2112 commented on #13465
After our meeting with Isabella and taking into account your suggestions, these are the changes that we propose:

- [ ] Add filter icon as button on toolbar (needs the blue outline pressed state)

- [ ] Add tooltip for new button (maybe “Activate and deactivate filter”)

- [ ] Change hamburger menu description to “Edit filter settings” or something similar (this menu item is now the way to open th

[2020-08-06 06:21] impact27 commented on #13483
Well the goal of #12340 is to prevent regressions, But it is harder than it looks to make the tests pass:/

[2020-08-06 06:27] impact27 commented on #13483
The easy way to make sure what file is leaking is to:
[code]
and to log `files`. This should be placed after the yield in the `main_window` fixture.
I would look for a file with many handles. Do you know what the maximum number of handles is on your os?

[2020-08-06 06:40] arteagac commented on #7196
Hi @bcolsen,
I did some research and I can see why the issue is tricky.
Here are some thoughts about the potential fixes you mentioned:
1. A related Qt bug report says the issue was fixed on Qt v5.2.0 https://bugreports.qt.io/browse/QTBUG-33156. However, perhaps it does not apply to Linux as we are clearly still facing this issue.
2. This seems like a feasible solution. However, you are right abou

[2020-08-06 07:13] BCArg commented on #11538
@CAM-Gerlach it was simply CTRL-C on the terminal where the kernel had been started

[2020-08-06 07:24] JyotirmaySahu commented on #8952
First uninstall uninstall both PyQt5 and pyqtwebengine
**pip uninstall PyQt5
pip uninstall pyqtwebengine_**
then install both
**pip install PyQt5==5.12.1 pyqtwebengine==5.12.1**

[2020-08-06 07:31] JyotirmaySahu commented on #8952
First uninstall both PyQt5 and pyqtwebengine
pip uninstall PyQt5
pip uninstall pyqtwebengine
then install both
pip install PyQt5==5.12.1 pyqtwebengine==5.12.1

[2020-08-06 08:50] 1900011604 opened #13485 "4 Bugs in Spyder for Manjaro"
OS: Manjaro 20.0.3 Lysia
Kernel: x86_64 Linux 5.7.9-1-MANJARO

* Spyder version: 4.1.3 on Manjaro / 4.1.4 on Anaconda
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt version: 5.9.2

0. I am a manjaro user. I have downloaded spyder from pacman (I don't use spyder from anaconda because it cannot open .py files simply by double clicking the file). It is very slow and sometimes stop when clicking "

[2020-08-06 08:50] #13485 closed

[2020-08-06 09:11] 1900011604 commented on #13485
**It doesn't work! Open this issue!**

[2020-08-06 09:13] 1900011604 opened #13486 "4 Bugs in Spyder for Manjaro"
OS: Manjaro 20.0.3 Lysia
Kernel: x86_64 Linux 5.7.9-1-MANJARO

* Spyder version: 4.1.3 on Manjaro / 4.1.4 on Anaconda
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt version: 5.9.2

0. I am a manjaro user. I have downloaded spyder from pacman (I don't use spyder from anaconda because it cannot open .py files simply by double clicking the file). It is very slow and sometimes stop when clicking "

[2020-08-06 09:14] #13486 closed

[2020-08-06 09:20] 1900011604 opened #13487 "Manjaro Spyder Bugs"
OS: Manjaro 20.0.3 Lysia
Kernel: x86_64 Linux 5.7.9-1-MANJARO

* Spyder version: 4.1.3 on Manjaro / 4.1.4 on Anaconda
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt version: 5.9.2

0. I am a manjaro user. I have downloaded spyder from pacman (I don't use spyder from anaconda because it cannot open .py files simply by double clicking the file). It is very slow and sometimes stop when clicking "

[2020-08-06 09:20] jitseniesen commented on #13481
From Python 3.7, the order of a dict is specified by the language, so perhaps we should stop sorting the keys ourselves?

Reference: https://www.blog.pythonlibrary.org/2018/02/27/python-3-7-dictionaries-now-ordered/

[2020-08-06 09:24] 1900011604 opened #13488 "Help! Who packed Spyder for Manjaro?"
I have downloaded spyder from pacman (I don't use spyder from anaconda because it cannot open .py files simply by double clicking the file). But when I set the interpreter as anaconda python and installed ipython-kernel, it says that:

An error ocurred while starting the kernel
The error is:

Traceback (most recent call last):
File "/usr/lib/python3.8/site‑packages/spyder/plugins/ipythonconsole/pl

[2020-08-06 09:24] #13488 closed

[2020-08-06 09:45] jitseniesen commented on #13488
@1900011604 As I understand it, Manjaro uses the package from Arch Linux, so use the information here: https://www.archlinux.org/packages/community/any/spyder/

Alternatively, ask for help at the Manjaro Linux Forum: https://forum.manjaro.org/

None of us here use Manjaro, so I am afraid we cannot help with those issues.

[2020-08-06 13:56] ccordoba12 commented on #13486
Hey @1900011604, please report your problem with the Manjaro developers. This issue was introduced by them, not by us.

[2020-08-06 15:15] 1900011604 commented on #13488
I asked at https://forum.manjaro.org/ but no one replied.

[2020-08-06 15:19] EleanorCoutts opened #13489 "Size of autosave window"
## Description

### What steps will reproduce the problem?

After Spyder crashes the autosave window pops up, but I cannot choose any of the options, as the size of the window is too small, I can only see the table headers, not the options listed below the headers.

I am using an Alienware laptop running Win10, screen res is 3840x2160 (recommended), scale is 250x (recommended).

## Versions

* Spy

[2020-08-06 15:20] bnavigator commented on #13483
The matplotlib file has always the same file descriptor number, so it is probably only open once and cached by matplotlib, so no problem then.

The ipython file might be open due to multiple ipython processes opened?

[2020-08-06 15:21] EleanorCoutts commented on #13489
Example screenshot below

![Autosave_screenshot](https://user-images.githubusercontent.com/64859102/89549841-c1b9cb80-d800-11ea-89be-02525539e8de.png)

I cannot resize the window, and there is only a scroll bar to scrool horizontally, not vertically.

[2020-08-06 16:40] steff456 opened #13490 "Test `test_dbg_input` is failing in Linux fast CI"
This seems related to the last version of IPython 7.17
@impact27 can you help us with this one?

[2020-08-06 16:53] ccordoba12 commented on #13481
@jitseniesen, we still need to sort them to avoid the problem reported on issue #10702.

[2020-08-06 17:03] ccordoba12 commented on #13487
About your issues:

0. We can't help you with that. Please report it to the maintainers of the Spyder package in Manjaro.
1. This is probably the same issue as #4120. Unfortunately, there's no solution at the moment because it'll require a significant effort to compile and upload packages for input method libraries on Linux (such as [fcitx-qt5](https://github.com/fcitx/fcitx-qt5)).
2. Please uploa

[2020-08-06 17:07] ccordoba12 commented on #13487
Also, please be patient for next time instead of opening 3 or 4 issues to report the exact same problem. We volunteer our time to give support to our users and although we try to respond as quickly as we can, sometimes we need sometime to respond or we're simply not available.

[2020-08-06 17:28] steff456 commented on #13457
Hi @mmfink, can you do me another favor? Please start spyder in debug mode with `spyder --debug-info verbose` and in the main menu go to `Tools>LSP` and upload the logs under that option here

[2020-08-06 17:40] MMS413 commented on #13478
Thanks, @dalthviz !

[2020-08-06 17:52] mmfink commented on #13457
Here you go, @steff456
This is the text of the **server_python.log** file. The file clears all contents as soon as the error dialog asking if you want to restart appears, so I would only be uploading empty files to you. At least I get a few seconds to copy/paste the contents. :-)

Nothing appears in the **transport_python.log**

[code]

Also, these lines appear every second or so in the Anaconda c

[2020-08-06 18:09] CAM-Gerlach commented on #11538
Thanks @BCArg And then you started another kernel in the same terminal, reconnected and the Variable Explorer worked? Or are you saying the variable explorer only worked after the kernel was already dead?

[2020-08-06 18:15] dalthviz commented on #13478
Where you able to run your code @MMS413 ?

[2020-08-06 18:32] MMS413 commented on #13478
Yes, thank you @dalthviz

[2020-08-06 18:41] dalthviz commented on #13478
Awesome closing this one then :+1:

[2020-08-06 18:41] #13478 closed

[2020-08-06 18:44] steff456 commented on #13457
It seems that there's a problem in the environment, so to fix it please go to `User\Anaconda\envs\not-working-env\Lib\site-packages` inside that folder please run in cmd `DEL /Q /F /S "*.pyc"`
After that the LSP should be working fine, please let me know if this fixes the issue

[2020-08-06 18:58] MMS413 opened #13491 "Unable to Sort by Numeric Value"
Problem Description
I am unable to sort by Numeric Value.

### What steps reproduce the problem?
import pandas
data = pandas.read_csv('nesarc_pds.csv', low_memory=False)
data["S2AQ8A"] = data["S2AQ8A"].apply(pandas.to_numeric,errors="coerce")
data["S2AQ8B"] = data["S2AQ8B"].apply(pandas.to_numeric,errors="coerce")

print("counts for S2AQ8A - How often drank in last 12 months")
c4 = data["S2AQ8A"].

[2020-08-06 18:58] mmfink commented on #13457
Yes! Working now. Thanks so much!

[2020-08-06 19:09] steff456 commented on #13457
@algent-al as you are working in Linux please go to the site-packages `~/anaconda3/envs/not-working-env/lib/python3.7/site-packages` and inside the folder run `find . -name \*.pyc -delete`
That will also fix your environment :)

[2020-08-06 19:21] steff456 opened #13492 "Add text for LSP errors in issue reporter"
Add some instructions for users that have problems related with LSP to open spyder in debug mode and upload/copy the logs into the issue so we can help them more effectively.

1. Open spyder in debug mode: `spyder --debug-info verbose`
2. Go to `Tools>LSP logs` and copy/upload them

[2020-08-06 19:29] bnavigator commented on #13483
With [PR 12340 applied](https://build.opensuse.org/package/show/home:bnavigator:debug4-patch12340/spyder) the `--run-slow` run freezes: [debug4-pr1340_log.txt](https://github.com/spyder-ide/spyder/files/5037592/debugpr1340_log.txt)

[2020-08-06 19:31] algent-al commented on #13457
Hi @steff456 I have updated spyder using Solus build tools and not by using environments and i have installed it system wide. I don't have anaconda folder. Just need to mention that I am not a spyder3 user, just trying this for curiosity.

[2020-08-06 19:46] steff456 commented on #10849
Hi @ma-sadeghi, I was unable to reproduce your issue in both macOS and Windows,

Please note that the path to the image has to be relative to Spyder's basedir (shown in the top right of the screen)
![image](https://user-images.githubusercontent.com/20992645/89575503-7baa3b00-d7f3-11ea-8222-794290bbdfb2.png)

[2020-08-06 19:51] bnavigator commented on #13483
abuild@greinerT450s:~> ulimit -a
core file size          (blocks, -c) unlimited
data seg size           (kbytes, -d) unlimited
scheduling priority             (-e) 0
file size               (blocks, -f) unlimited
pending signals                 (-i) 79550
max locked memory       (kbytes, -l) 64
max memory size         (kbytes, -m) unlimited
open files                      (-n) 1024
pipe size

[2020-08-06 20:07] bnavigator commented on #13483
[Done here](https://build.opensuse.org/package/live_build_log/home:bnavigator:spyder-debug3/spyder/openSUSE_Tumbleweed/x86_64):

### Code
[Patching in `test_mainwindow.py`](https://build.opensuse.org/package/view_file/home:bnavigator:spyder-debug3/spyder/debug3.patch?expand=1)

[code]

code in `main_window()` after `yield`:
[code]

### Call
[code]

### Buildlog
[debug3_log.txt](https://github.com/

[2020-08-06 21:27] steff456 commented on #13457
@algent-al we recommend using anaconda for Spyder, if you are new to python I will highly recommend to you to start using conda as manager even if you are only using it for curiosity :)

[2020-08-06 23:10] andfoy commented on #13491
Hi @MMS413, thanks for reaching out, according to your issue report, it seems that it is not related to Spyder but instead it is related to Pandas. By inspecting your code it seems that you are using the ``sort=False`` flag on some calls, please make sure you doublecheck against the Pandas API documentation to see if there any directions to follow.

[2020-08-06 23:10] #13491 closed

[2020-08-06 23:22] arteagac commented on #2982
Hello @ccordoba12  and @goanpeca,
I implemented this feature but instead of marking in bold the selected layout, I used a radio button to represent the selection and  keep consistency with similar functionalities in Spyder (e.g. Source > Convert end-of-line characters). See the screenshot below.
![quick_layout_radiobtn](https://user-images.githubusercontent.com/13966395/89591650-97b3d980-d7ff-11ea

[2020-08-07 02:11] zysNLP opened #13493 "Debug switch function, function in the window before the data is gone."
## Problem Description

I am debugging a called function. When I use Ctrl+F11 to jump to the inside of this function to debug, I find that the window in the upper right corner of the spyder loses the variables before entering the function. Is there a way to retrieve these variables?

For example, in the following example, I set a breakpoint on the line y_pred = rnn.forward(X[i]). When I enter the

[2020-08-07 06:47] BCArg commented on #11538
the variable explorer worked after a new kernel was started, but as far as I recall, it was displaying only the variables assigned in the previous session. I am not sure whether the variables assigned in that new session were being displayed on the variable explorer

[2020-08-07 15:23] CAM-Gerlach commented on #11538
Okay, thanks @BCArg . If it was displayed the previous variables, then my guess is most likely it wasn't displaying the new ones since the previous ones wouldn't have existed anymore once the kernel was killed, but I can't be sure. We appreciate your help!

[2020-08-07 16:08] markbrule opened #13494 "pulled down the Projects > Open... menu item"
## Description

### What steps will reproduce the problem?

this pops up when I pull down the Projects > Open... menu item

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-07 16:08] #13494 closed

[2020-08-07 16:17] arita37 opened #13495 "Feature ;Recommendation for spyder 5.0"
Am using over the last 3 years, this is a great IDE, why ?
(am on windows)

   Variable Explorer is perfect for quick coding/data wrangling.
   Embedded Ipython for quick prototyping / debugging.
   Auto-completion is good, not perfect, but doing the job of accelerating typing.
   Can open Jupyter notebook (!!!)
   "Relatively" stable.

Now, am using Spyder 3.0 instead of Spyder 4.0 , why ?

[2020-08-07 16:36] ccordoba12 commented on #13495
Thanks for reporting @arita37. Most of the issues you mentioned have been fixed in our 4.1.4 version, released last month. And we're still working on more fixes for our next version (4.2.0), to be released in a couple of months.

[2020-08-07 16:36] #13495 closed

[2020-08-07 16:45] joseavegaa commented on #13457
Hello @steff456.

I have run the command `find ~/anaconda3/envs/not-working-env/lib/python3.7/site-packages -name "*.pyc" -delete`, restarted Spyder, and still getting the error.

Following that, I have started Spyder with `spyder --debug-info verbose` and got the same output as @mmfink from `server_python.log`, but the last line is this one instead:

`ImportError: cannot import name 'traverse_par

[2020-08-07 17:11] ccordoba12 commented on #10849
@ma-sadeghi, also, this functionality is easier to use if you work with Spyder projects because the basedir is not expected to change.

As a matter of fact, we plan to make this functionality only work with projects in Spyder 5 because it's extremely brittle without them. That's why I'm going to close this issue, so @steff456 can open a new one describing all tasks we need to implement in Spyder 5

[2020-08-07 17:11] #10849 closed

[2020-08-07 17:15] steff456 commented on #13457
Hi @joseavegaa,
That sounds like a nice idea, please let me know if reinstalling Anaconda your problem is fixed

[2020-08-07 18:02] arita37 commented on #13495
This is good work.
However, advice to find a way to do regression testing more deeply...
Spyder 3 is a model of stability

[2020-08-07 18:51] joseavegaa commented on #13457
@steff456 seems that the problem was resolved by a clean installation. Thanks.

[2020-08-07 19:36] arita37 commented on #13495
This is for automatic GUi testing :

https://towardsdatascience.com/automate-ui-testing-with-pyautogui-in-python-4a3762121973

[2020-08-07 20:21] juanis2112 commented on #13489
Hi @EleanorCoutts, thanks for opening this issue. This was fixed in a later version of Spyder. Please update your Spyder by running in your anaconda prompt:

[code]

[2020-08-07 20:23] juanis2112 commented on #13493
@impact27 can you take a look at this one?

[2020-08-08 06:27] impact27 commented on #13493
When you are debugging, the variable explorer only shows the current variables. When you are inside `def forward(self, x):`, `X, Y, rnn, learning_rate, etc.` are not defined so they are not displayed in the variable explorer. If you need to get these values, you should use the pdb `up` command (https://docs.python.org/3/library/pdb.html#pdbcommand-up) to go up on the call stack. You will then have

[2020-08-08 06:27] #13493 closed

[2020-08-08 06:49] srvmig opened #13497 "matplotlib plot is not showing mathematical cherecters"
I tried to plot some data with some mathematical character. But I am not getting the LaTex on the plotted chart.
[code]

![Figure 2020-08-08 124336](https://user-images.githubusercontent.com/45663120/89704440-8ab8f680-d975-11ea-96d7-e0da5cea7a9d.png)

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.7
* Qt version: 5.12.5
* PyQt version: 5.12.3
* Operating System name/version: windows 10

[2020-08-08 09:20] jitseniesen commented on #13497
I don't think this has anything to do with Spyder, so I'm closing this issue.

If you want the symbol for pi (the Greek letter), you need to add a backslash and write `r'$\pi$'` instead of `r'$pi$'`.

[2020-08-08 09:20] #13497 closed

[2020-08-08 10:00] lorenzznerol opened #13498 "plt savefig not working"
I have no time for a thorough and reproducible report, I might improve this in a week. Please just see the link.

https://stackoverflow.com/questions/53217247/stop-showing-plots-in-spyder/53217344#53217344

Essence from the comment below the question:

The plt.ioff() helped me only at first: now a day later, using the exactly same script, I do not get the png saved. The other answer (deactivate gr

[2020-08-08 12:23] EleanorCoutts commented on #13489
Thankyou, I didn't realise it was an older version, will update. Thanks!!

[2020-08-08 15:09] luismiguells opened #13500 "Error with Keras and Spyder in macOS Catalina"
## Problem Description

I try to run a piece of code using Keras and Spyder but when I click start the kernel restart. This is what the console show:

[code]

 I'm using a virtual environment to run Keras and Python 3.6.10. Because in Anaconda the version of Tensorflow is 2.0.0 and that is not supported in Python 3.8. I attached a photo of the problem.
![Captura de Pantalla 2020-08-08 a la(s) 9 53

[2020-08-08 19:31] DataGrl opened #13501 "Restarting Kernel after error message"
## Description

### What steps will reproduce the problem?

I ran this code, received an error message. Spyder stopped running, I clicked on restart kernel and then an error box appeared saying Spyder had an internal error.

# Create a watermark program so Pop can "write" on the digital photos
# Steps:
    # 1. Open a photo he selects
    # 2. Make a copy of that pictures
    # 3. Display the pict

[2020-08-09 06:26] kaleb-keny opened #13502 "Error on Hover"
## Description

### What steps will reproduce the problem?

Not sure what causes the error, the pop up just appeared on it's own to report the issue.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-09 06:26] #13502 closed

[2020-08-09 19:07] ccordoba12 commented on #10584
This has not been reported anymore. Closing then.

[2020-08-09 19:07] #10584 closed

[2020-08-09 19:10] ccordoba12 commented on #11653
Pinging @CAM-Gerlach about this one. Could you help us to take a look at @pradyot-09's work? Thanks!

[2020-08-09 19:14] ccordoba12 commented on #11778
Given the huge rewrite happening in master, this is really feasible. In other words, most merges need to be solved manually.

I don't consider this important enough to invest the time needed to build an action. Also, perhaps it's easier to add to our bot, so it works for the entire organization.

No biggie either.

[2020-08-09 19:14] #11778 closed

[2020-08-09 19:46] seyeeet commented on #13433
@ccordoba12 Unfortunately, the error show up again.

[2020-08-09 20:09] #13490 closed

[2020-08-09 20:26] BarkingDeer opened #13504 "internal problem when processing hover"
## Description

### What steps will reproduce the problem?

I only started spyder up.
I had the same error a few times today while editing.
Before today I never had this error.
Conda installed sphinx this morning.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.5
* Qt version: 5.12.5
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-09 20:27] #13504 closed

[2020-08-09 20:32] ccordoba12 commented on #13501
Hey @DataGrl, thanks for reporting!

This can be fixed in our latest version. Please update by opening the Anaconda Prompt and running there

    conda update anaconda
    conda install spyder=4.1.4

[2020-08-09 20:34] ccordoba12 commented on #13500
Hey @luismiguells, thanks for reporting!

As you can clearly see, that's just a warning. Therefore, please ignore it.

[2020-08-09 20:34] #13500 closed

[2020-08-09 20:35] ccordoba12 commented on #13498
Ok, please let us know when you have one.

[2020-08-09 20:36] ccordoba12 commented on #13457
Closing this one because all people involved were able to solve their problems.

[2020-08-09 20:36] #13457 closed

[2020-08-09 20:42] luismiguells commented on #13500
@ccordoba12 yes it's a warning but I can't run my code. After Catalina updated I've been experiment troubles with Keras and Python, and I can't install the latest version of Keras.

[2020-08-09 20:49] ccordoba12 commented on #13500
Sorry to hear it, but that's not a problem with Spyder.

[2020-08-10 00:34] #13444 closed

[2020-08-10 05:58] bcolsen commented on #7196
I played around with native Gtk save dialogs and they don't add the file extensions either.

I think option 2 is the best way to go currently, and your simple method outlined above is the way to go. I have 3 suggestions:

1. You should only add an extension if the user doesn't have one. I think this is how it works on windows. If the extension is "wrong" and that matters (for saving in the variabl

[2020-08-10 07:26] pagastra opened #13505 "Startup problem"
## Description

### What steps will reproduce the problem?

I have no idea.  I just turned on Spyder and this window pops up.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-10 07:26] #13505 closed

[2020-08-10 07:37] manojbuddha opened #13506 "Tkinter window different format while executing .py file and with spyder"
My Tkinter window is appearing different while I am executing the .py file compared to how it is appearing while executing with spyder. I want my window to look like spyder execution on normal .py file execution. I am not sure what is causing this, i suspect it is something related spyder encoding or something

spyder version: 4.1.3
Python version: 3.7.6 (anaconda installation)

The below image is

[2020-08-10 08:14] SimonDeRidder opened #13507 "No xdg-open on VM instance"
## Description

### What steps will reproduce the problem?

 On a VM instance (e.g. google cloud) without xdg-open, run spyder using ssh -X, then use "Show in external file explorer".

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Linux 5.3.0-1032-gcp

### Dependencies

[code]

[2020-08-10 11:45] shalini-maiti opened #13508 "Debugging graphical icons unresponsive"
## Description

### What steps will reproduce the problem?

1. Run debug mode
2. Press any of the debug buttons.

## Versions

* Spyder version: 4.0.1
* Python version: 3.6.10
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Linux 4.15.0-112-generic

### Dependencies

[code]

[2020-08-10 13:57] lorenzznerol commented on #13498
I have found the files. The files have been saved directly in my user folder `C:\Users\Admin`. Apparently, my working directory was not set correctly. Normally, I would expect Spyder to set the working directory to the directory of the .py file itself. It is possible that I have missed something here, since I have found other pictures saved a month ago, thus I do not make this mistake the first ti

[2020-08-10 14:52] juanis2112 commented on #13489
No problem, let me know if this solves your problem :)

[2020-08-10 14:53] juanis2112 commented on #13442
Closing due to no response.

[2020-08-10 14:53] #13442 closed

[2020-08-10 14:53] #13489 closed

[2020-08-10 14:53] juanis2112 commented on #13441
Closing due to no response.

[2020-08-10 14:53] #13441 closed

[2020-08-10 17:12] ccordoba12 commented on #13107
@juanis2112 let us know that she couldn't reproduce this one on macOS.

@steff456, could you see if you can reproduce this one on a Linux VM?

[2020-08-10 18:35] arteagac commented on #7196
Thanks @bcolsen,
I will go ahead and implement it considering your suggestions.
One quick additional question, the extension that `selfilter` returns is in a text format like  `"Spyder data files (*.spydata)"`. I can extract the extension from this string using a regular expression or somethig similar; however, I am not sure if this is the right approach. Is there a better way to do this or I need

[2020-08-10 19:13] steff456 commented on #13506
Hi @manojbuddha,

I'm not encountering your problem in macOS,
This is the result of your code in spyder:
![image](https://user-images.githubusercontent.com/20992645/89820976-74e13800-db13-11ea-83ca-f7ef30824fd7.png)

This is the result running in the terminal:
![image](https://user-images.githubusercontent.com/20992645/89821053-980be780-db13-11ea-9870-fb556c0d83d3.png)

Are you running the code in

[2020-08-10 19:17] steff456 commented on #13508
Hi @shalini-maiti,

Can you please upload a gif with the behavior you are having?

[2020-08-10 19:23] steff456 commented on #13507
Hi @SimonDeRidder,
We will work in fixing this error in our next release of Spyder! Thanks for reporting :)

[2020-08-10 19:23] steff456 commented on #13507
@juanis2112 can you please take a look at this one?

[2020-08-10 19:50] marcelo-rf opened #13509 "Jupyter notebook"
## Description

### What steps will reproduce the problem?

Issue reporter is pulled up when I try to save any Jupyter notebook using Anaconda 3, Spyder 4, Python 3.7.3, and the Kite plugin

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.3
* Qt version: 5.12.9
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-10 19:57] larajan67 opened #13510 "Spyder will not launch with Python 2.7"
### Issue Report Checklist

* [X] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [X] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [X] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-08-10 20:18] e-python opened #13511 "errors upon start the spyder"
## Description

### What steps will reproduce the problem?

An error message pop up when the Spyder was just started. No symptoms observed yet.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-10 20:18] #13511 closed

[2020-08-10 20:29] e-python opened #13512 "error message upon starting"
## Description

### What steps will reproduce the problem?

    msg_dict, buffer)
TypeError: _handle_remote_call_reply() missing 1 required positional argument: 'load_exception'

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-10 20:29] #13512 closed

[2020-08-10 22:30] muhaco commented on #7185
At first startup I was getting crash error I deleted the aticfx64.dll file. 'attention above is the translation' :)

[2020-08-10 22:43] steff456 commented on #13510
Hi @larajan67,

You have multiple options:
1. Create a conda environment with Spyder 3.3.6, which is the stable version for Spyder 3 that supports Python 2.
2. Create a conda environment with Spyder 4.0.1, which is the last Spyder version that has all packages for Python 2. The downside of this option is that it may include multiple bugs that we have fixed during this year.
3. Create a conda envir

[2020-08-10 22:48] DanielIAvila opened #13513 "Spyder crashing all the time"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-08-10 23:38] steff456 commented on #13513
Hi @DanielIAvila,
It seems this isn't a problem of Spyder rather than from geopandas installation. Please go ahead and see the following video to see if that helps you to fix your environment, https://www.youtube.com/watch?v=Ul79ihg41Rs&t , if that doesn't fix your error please report this issue in geopandas repo, https://github.com/geopandas/geopandas

Thanks for reporting!

[2020-08-10 23:38] #13513 closed

[2020-08-11 00:01] larajan67 commented on #13510
Hi @steff456,
Thanks for the quick response and advice! The last option (3) was only one that did get Spyder working. When I tried to create a new environment with either Spyder 3.3.6 or 4.0.1 it still would not launch and just crash.

My concern now is pip installation of my required python modules are not all working and I am not sure if that is due to working in Python 2.7 or not. I found conda

[2020-08-11 00:36] ccordoba12 commented on #13510
@larajan67, could you give us a step by setp description of the modules you need to install in Python 2? Perhaps we could help you to solve the issues you're having.

[2020-08-11 00:52] larajan67 commented on #13510
@ccordoba12 Thanks for the offer-the 3 main modules (which have many dependencies) are georasters, geopandas and rasterios.  I was actually able to install them via 'pipwin' and pip. I think I had to pull from specific wheels is my guess. However, now that I am trying to import the packages in Spyder, errors keep popping up -'restarting kernel' and then:
[SpyderKernelApp] WARNING | No such comm: b

[2020-08-11 01:30] 5pr opened #13514 "what do I know?"
## Description

### What steps will reproduce the problem?

open Spyder and this error message pops up, I'm using Spyder 3.6 and never did anything very advanced with it

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.6.5
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-11 01:30] #13514 closed

[2020-08-11 04:05] DominiqueMakowski commented on #13041
I do confirm I have this annoying issue as well, are there any ways of preventing these files from being saved (I cannot avoid working in dropbox)?

[2020-08-11 04:29] manojbuddha commented on #13506
@steff456 , yes I am running the code in the same environment for both the cases.

[2020-08-11 10:37] Modamam opened #13515 "TFinstall Fault"
## Description

### What steps will reproduce the problem?

Spyder has encountered an internal problem! What should I do?!

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 7

### Dependencies

[code]

[2020-08-11 11:46] skumarNAP opened #13516 "Spyder loading issue"
## Description

### What steps will reproduce the problem?

problem loading spyder in windows. Restarted computer, updated Anaconda, updated spyder  but still problem remains same.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.4
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-11 11:46] #13516 closed

[2020-08-11 11:50] AlgDevK opened #13517 "Plotting won't work after introducing Fix #525"
### What steps will reproduce the problem?

I experienced the same problem as reported in issue #13275 after installing Spyder 4.1.4. The fix proposed in #525 got rid of the flush of warning in the console, but plotting became very slow (interactive zooming etc. takes forever) and the plot windows mostly stay in the background. I tried differnt things, like changing the backend and reinstalling An

[2020-08-11 12:11] manojbuddha commented on #13506
@steff456 , thanks for the help it was due to an issue with my code, I gave different font weights which was the reason for the issue.

[2020-08-11 12:11] #13506 closed

[2020-08-11 13:28] S-Hauri opened #13518 "Wouldn't it be nice to have a stable build for a change?"
## Description

### What steps will reproduce the problem?

I have no clue, but it sucks that this popup disturbs my workflow every 10 minutes.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-11 13:28] #13518 closed

[2020-08-11 13:40] ccordoba12 commented on #13041
Hey @DominiqueMakowski, there are no ways to avoid this problem right now, sorry.

[2020-08-11 13:59] ccordoba12 commented on #13517
Hey @AlgDevK, please update to ipykernel 5.3.4. This problem is fixed in that version.

[2020-08-11 13:59] #13517 closed

[2020-08-11 15:18] lorenzznerol commented on #13498
I found out at https://stackoverflow.com/questions/38393628/set-working-directory-in-python-spyder-so-that-its-reproducible that this is an old and still open issue, see https://github.com/spyder-ide/spyder/issues/3154. This can be closed.

[2020-08-11 15:18] #13498 closed

[2020-08-11 15:34] steff456 commented on #13506
I'm glad that you fixed your error! Thanks for reporting :)

[2020-08-11 15:38] steff456 commented on #13515
Hi @Modamam,
It seems this isn't a problem of Spyder rather than from traitlets. Did you encountered this problem after installing tensorflow in your environment? And how did you installed it?

[2020-08-11 15:40] steff456 commented on #13452
I'm closing this issue because there wasn't a follow-up response after a week

[2020-08-11 15:40] #13452 closed

[2020-08-11 15:40] steff456 commented on #13453
I'm closing this issue because there wasn't a follow-up response after a week

[2020-08-11 15:40] #13453 closed

[2020-08-11 15:41] steff456 commented on #13458
I'm closing this issue because there wasn't a follow-up response after a week

[2020-08-11 15:41] #13458 closed

[2020-08-11 15:41] steff456 commented on #13476
I'm closing this issue because there wasn't a follow-up response after a week

[2020-08-11 15:41] #13476 closed

[2020-08-11 15:52] bcolsen commented on #7196
Those strings are produced from a dictionary in iofunctions so it should be fine extract the extension from the string. I would just use rfind and some string indexing to get the extension. It should always be of the form `"(*.XXXXXX)"` at the end of the sting.

[2020-08-11 15:59] DanielIAvila commented on #13513
Hey @steff456 ,

I have done all what is described in the video you have shared, without a proper result. I have re-installed Anaconda and Spyder at least 3 times, erasing all directories, folders, and cleaning the registry without a proper solution. Further, `conda install xxx` is not working for several libraries such as `geopandas`, `gdal`, `rasterio`, `libgdal`, `gee`, `shapely`, `fiona`, etc.

[2020-08-11 16:07] ccordoba12 commented on #13498
Glad you figured this one out. I was about to tell you the same. I doubt we'll address because we're clearly displaying what the current directory is at any time and for every console.

[2020-08-11 16:09] steff456 commented on #13513
Hi @DanielIAvila,
I'm seeing the installation notes of geopandas here, https://geopandas.readthedocs.io/en/latest/install.html, it should work with `conda install -c conda-forge geopandas` sometimes resolving environment will take some time. Please try to install the packages you are having trouble in a new environment,

[code]

I'm seeing in Anaconda cloud that all the packages are available thro

[2020-08-11 17:51] Modamam commented on #13515
Hi Stephannie, thanks for your answer.
I faced it after installing hdf5 by adding it to anaconda's environment. I didn't have any clue about hdf5 but I saw an error of hdf5 version when I tried to import newly installed tensorflow .
Then I tried to uninstall installed libraries, but I can't

[2020-08-11 19:53] steff456 commented on #13515
Can you please try to install everything in a new environment to see if it works?

[2020-08-11 20:19] algent-al commented on #13457
@steff456 Solved this issue for Solus, with this spyder installed system wide.
I had some missing dependencies like:
- python-language-server
- python-jsonrpc-server
- python-ujson

spyder didn't report in "Help > Dependecies" that pyls (python-language-server) was missing.

[2020-08-11 20:26] steff456 commented on #13457
@algent-al thanks for the follow-up response, we will be adding these dependencies into the report dialog so it will be easier for us to see installation problems related to the PyLS. I'm glad that you could solve your Spyder :)

[2020-08-11 21:17] isabela-pf commented on #13181
It looks like we’re getting closer! I’m glad to hear 3-3 is working well for so many people.

Since there is agreement that 3-3 is the preferred option, I explored a few ways of refining 3-3’s direction to see if there is something even stronger. Many of these options have overall small changes, but they experiment with giving the logo a different silhouette while keeping the concept.

These first

[2020-08-11 21:20] isabela-pf commented on #13181
I also wanted to address some more specific feedback I’ve gotten away from this issue in case other people have the same questions.

First, why do most options not show the full, symmetrical web? It takes a lot of small pieces to make something look like a spider web, and having a lot of small pieces isn’t ideal for a logo because it takes people longer to recognize it and loses details quickly as

[2020-08-11 23:03] eafpres commented on #12595
I have this same issue with 4.1.4. One env is OK, another fails as above:

(keras-gpu-4) C:\Users\bbate>spyder
Traceback (most recent call last):
  File "C:\Users\bbate\Miniconda3\envs\keras-gpu-4\Scripts\spyder-script.py", line 10, in <module>
    sys.exit(main())
  File "C:\Users\bbate\Miniconda3\envs\keras-gpu-4\lib\site-packages\spyder\app\start.py", line 205, in main
    mainwindow.main()
  F

[2020-08-12 00:25] CAM-Gerlach opened #13519 "Builtins can still be shadowed, causing kernel startup to fail, when a project is open"
## Problem Description

Opened per discussion with @ccordoba12 . In Python 3.7+, the cwd is added to the `PATH` from which modules are imported, such that Python files named the same as standard library ones shadow them, which results in the kernel not being able to start if it requires it. This is a common error for new users and was partially fixed by removing the home directory, but this eviden

[2020-08-12 00:46] CAM-Gerlach commented on #13181
I don't really have super-strong opinions on most of these, but here are my thoughts.

### 3-6

I think I like this rotation better relative to the text, although it looks a touch more generic and for whatever reason it speaks "web" to me a little bit less (perhaps because cobwebs are typically seen in the upper corners of things...but not sure we want to look too much like one). So I _think_ it m

[2020-08-12 01:46] ccordoba12 commented on #12595
self.curr_filenames.pop(index)
IndexError: pop index out of range

@eafpres, to fix this error you need to remove the file

    C:\Users\bbate\.spyder-py3-dev\pylint.results

[13940:21200:0811/165253.834:ERROR:broker_win.cc(59)] Error reading broker pipe: The pipe has been ended. (0x6D)

This one could be caused because you're mixing conda, conda-forge and pip packages. I'd suggest you to use a si

[2020-08-12 02:09] eafpres commented on #12595
I'd suggest you to use a single package manager to install all your dependencies.

I agree. Unfortunately a few things won’t install via conda. It’s a frustrating situation, I much prefer working in conda setup.

[2020-08-12 03:02] BCCozad817 commented on #13452
peace paz

Sent from Outlook<http://aka.ms/weboutlook>
________________________________
From: Stephannie Jimenez Gacha <notifications@github.com>
Sent: Tuesday, August 11, 2020 11:40 AM
To: spyder-ide/spyder <spyder@noreply.github.com>
Cc: BCCozad817 <bccozad817@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [spyder-ide/spyder] curious upgrade or an intentional malware insertion (

[2020-08-12 05:09] Modamam commented on #13515
I did and encountered this problem

"from keras import models
Traceback (most recent call last):

  File "E:\D\PYTHON\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 64, in <module>
    from tensorflow.python._pywrap_tensorflow_internal import *

ImportError: DLL load failed: The specified module could not be found.

During handling of the above exception, another exception occurre

[2020-08-12 05:31] Aishvarya5 opened #13520 "unknown_thisproblem keeps coming"
## Description

### What steps will reproduce the problem?

Everyime I open Spyder, I keep getting this error. I have recently started using Spyder, so can't really understand the reason

### Traceback
[code]

## Versions

* Spyder version: 3.3.6
* Python version: 3.7.0
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 19.0.0

### Dependencies

[code]

[2020-08-12 08:18] asmunds commented on #13342
Same problem: `spyder --reset` worked

[2020-08-12 08:49] yasiin09 commented on #10367
Must try

`conda install -c anaconda jupyter_core`

[2020-08-12 08:58] jitseniesen commented on #13519
I'm not sure this is a bug rather than a (Python) design choice ("we're all adults"). It does break things for users that intentionally shadow the standard library, though this is not a common use case.

I definitely agree that this is confusing for new users. How about instead, we warn the user if they use a file name which shadows a standard library?

Did something change in Python 3.7 that you

[2020-08-12 08:58] mBarreau opened #13521 "Open a folder on a network"
## Description

### What steps will reproduce the problem?

If one write the directory of a network folder in the research bar, it leads to an error.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-12 09:14] AlgDevK commented on #13517
Thanks! I tried to update the ipykernel but it won't work. conda install ipykernel will always install/keep 5.3.2.

[2020-08-12 13:28] ccordoba12 commented on #13517
You need to run

    conda update ipykernel

[2020-08-12 14:32] eafpres commented on #12595
I was able to fix by removing this file:
`C:\Users\bbate\.spyder-py3\pylint.results`

Removing the one in .spyder-py3-dev did not work

[2020-08-12 16:01] steff456 commented on #13515
I will suggest you to follow the official guide of installation of tensorflow, https://www.tensorflow.org/install in a new environment. If you continue to encounter problems, please open an issue in the tensorflow repository https://github.com/tensorflow/tensorflow

We cannot do anything further because this is not a problem related to Spyder, hope you can fix it and thanks for reporting!

[2020-08-12 16:01] #13515 closed

[2020-08-12 16:18] ccordoba12 commented on #12200
@mrclary, we decided to take care of this one because it has several UX/UI issues that we need to carefully design and test. @steff456 and @juanis2112 are going to work on them.

[2020-08-12 22:45] steff456 commented on #13510
Hi @larajan67,
I had a hard time trying to replicate your issue but I could make it work. So I have my development environment in python 3.8, also I created another environment in python 2.7 where I installed the three packages that you mention with spyder-kernels which I found to be the tricky part. So, this is the step-by-step commands that I used and worked without having that error in the IPyt

[2020-08-12 23:20] juanis2112 commented on #12200
Thanks @ccordoba12. Here is the issue where our designer posted the mock up for this https://github.com/spyder-ide/ux-improvements/issues/10

[2020-08-12 23:32] dalthviz commented on #13521
Hi @mBarreau could you try to update to our latest release (4.1.4)?

I think we have done some fixes regarding network paths handling in the latest releases. To update you can run from the Anaconda Prompt something like `conda install spyder=4.1.4`

Let us know if that helps :)

[2020-08-12 23:52] dalthviz commented on #13520
Hi @Aishvarya5 seems like the user that you are using to run Spyder doesn't have access to the file that you are trying to open. Checking a little bit seems like this could be a duplicate of #10406 which seems to be caused by updating of mac OS to Catalina.

This could be helpful in your case: https://www.anaconda.com/blog/how-to-restore-anaconda-after-macos-catalina-update

I'm closing this as a

[2020-08-12 23:52] #13520 closed

[2020-08-13 01:07] Emmanuel11111 opened #13522 "kernel problem"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\Users\user\Anaconda3\lib\site-packages\spyder\app\mainwindow.py", line 2545, in path_manager_callback
    plugin.dockwidget.remove_title_bar()
  File "C:\Users\user\Anaconda3\lib\site-packages\spyder\widgets

[2020-08-13 03:14] dalthviz commented on #13522
Hi @Emmanuel11111 could you try to update to one of our latest releases (Spyder 3.3.6 in the case of Spyde 3 or Spyder 4.1.4 in the case of Spyder 4)?

If you want to keep using the Spyder 3.x you can run from an Anaconda Prompt something like `conda install spyder=3.3.6`. In case you want to checkout Spyder 4.x you can run from an Anaconda Prompt something like `conda install spyder=4.1.4`

Let u

[2020-08-13 05:13] jsh9 opened #13523 "Spyder 4.1.4 autocomplete issue"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-08-13 06:53] Dollarius opened #13524 ""Run in current namespace" missing in Spyder 5.0.0a1"
The Spyder Run options are missing from the latest version of the software.
In particular, it is not possible to set the option for running scripts in "console's current namespace instead of an empty one", as described here: https://github.com/spyder-ide/spyder/pull/10032

Is there a workaround for setting "current_namespace=True" to all runfile calls?
I need to define variables on-the-fly and use

[2020-08-13 07:26] Modamam commented on #13515
OK. Thanks for you explanation

[2020-08-13 08:23] efo42 opened #13525 "Exception when i try to get a variables type (note exception comes when i write type)"
## Description

### What steps will reproduce the problem?

Python 3.7.7 (default, May  6 2020, 11:45:54) [MSC v.1916 64 bit (AMD64)]
Type "copyright", "credits" or "license" for more information.

IPython 7.2.0 -- An enhanced Interactive Python.

a = 1

[SpyderKernelApp] ERROR | Exception in message handler:
Traceback (most recent call last):
  File "C:\Users\ander\anaconda3\lib\site-packages\ipy

[2020-08-13 08:25] efo42 commented on #13525
It's after i have assigned the value to variable "a" that I start to write "type(a)" and then the exception occurs.

[2020-08-13 08:43] impact27 commented on #13464
So the answer is: you need to print the object:

[code]

[2020-08-13 08:50] skjerns commented on #13481
If a new sorting is implemented, it would be quite useful if it used natural sorting for strings (e.g. "Test 3" before "Test 100"). Is there already being worked on? Else this should be quick to implement, I can do that.

[2020-08-13 10:43] RSKothari commented on #13500
I have the exact same problem on my system. My situation has nothing to do with tensorflow or any other library, the kernel just restart with the following cryptic message:
![image](https://user-images.githubusercontent.com/10388010/90125584-455b4700-dd30-11ea-881f-66cdc2b30ee6.png)

[2020-08-13 12:20] OverLordGoldDragon commented on #13336
@ccordoba12 Nevermind, it's been back - on and off, sometimes off for hours straight, otherwise on for hours straight... no clue what the deal is. Not a bother so long as I can keep spawning more console windows though. Reproduced with TF 2.2.0 and 2.3.0.

[2020-08-13 14:18] ccordoba12 commented on #13500
As you can clearly see, it's just warning. So please ignore it.

[2020-08-13 15:35] ccordoba12 commented on #13525
Hey @efo42, thanks for reporting. It seems you installed some packages with pip, which is causing this issue. To fix it, please remove this directory

    C:\Users\ander\AppData\Roaming\Python\

and try again.

[2020-08-13 15:36] ccordoba12 commented on #13524
@goanpeca, please take a look at this one.

[2020-08-13 15:38] ccordoba12 commented on #13524
Sorry, there isn't.

Please go back to 4.1.4. 5.0.0a1 is still very alpha and has several issues we need to fix.

[2020-08-13 15:41] ccordoba12 commented on #12976
It needs to be moved to `spyder/widgets` because it's used by the internal console too.

[2020-08-13 15:41] ccordoba12 commented on #10941
This is very old and probably fixed in the latest Jedi.

[2020-08-13 15:41] #10941 closed

[2020-08-13 15:49] efo42 commented on #13525
Hi thanks for the answer and that fixed the problem

Best Regards
Anders

On Thu, Aug 13, 2020 at 5:35 PM Carlos Cordoba <notifications@github.com>
wrote:

[2020-08-13 15:49] ccordoba12 commented on #13523
@jsh9, thanks for reporting. A lot of things changed in Jedi 0.17, so that's probably why your use case is not working anymore.

[2020-08-13 15:50] ccordoba12 commented on #13523
Note: Perhaps this is solved by setting this option in Jedi's projects:

https://jedi.readthedocs.io/en/latest/docs/api.html#jedi.Project.smart_sys_path

[2020-08-13 15:58] ccordoba12 commented on #13481
@skjerns, I like that idea! I'll fix this bug first, then you can give it a try in a different pull request.

[2020-08-13 15:59] ccordoba12 commented on #13525
Great to know! Happy Spydering @efo42!

[2020-08-13 15:59] #13525 closed

[2020-08-13 16:01] goanpeca commented on #12794
Closing due to lack of response.

[2020-08-13 16:01] #12794 closed

[2020-08-13 16:01] goanpeca commented on #12790
Closing due to lack of response.

[2020-08-13 16:01] #12790 closed

[2020-08-13 16:01] goanpeca commented on #12768
Closing due to lack of response.

[2020-08-13 16:01] #12768 closed

[2020-08-13 16:01] goanpeca commented on #12678
Closing due to lack of response.

[2020-08-13 16:01] #12678 closed

[2020-08-13 16:02] goanpeca commented on #12591
Closing due to lack of response.

[2020-08-13 16:02] #12591 closed

[2020-08-13 16:02] goanpeca commented on #12589
Closing due to lack of response.

[2020-08-13 16:02] #12589 closed

[2020-08-13 16:02] goanpeca commented on #12547
Closing due to lack of response.

[2020-08-13 16:02] #12547 closed

[2020-08-13 16:02] goanpeca commented on #12332
Closing due to lack of response.

[2020-08-13 16:02] #12332 closed

[2020-08-13 16:05] goanpeca commented on #12838
Closing due to lack of response.

[2020-08-13 16:05] #12838 closed

[2020-08-13 16:17] goanpeca commented on #12911
Closing due to lack of response.

[2020-08-13 16:17] #12911 closed

[2020-08-13 16:18] goanpeca commented on #12915
Closing due to lack of response.

[2020-08-13 16:18] #12915 closed

[2020-08-13 16:19] goanpeca commented on #12920
Closing due to lack of response.

[2020-08-13 16:19] #12920 closed

[2020-08-13 16:19] goanpeca commented on #12973
Closing due to lack of response.

[2020-08-13 16:19] #12973 closed

[2020-08-13 17:42] salil91 commented on #13464
This works! Thank you!

[2020-08-13 19:52] kdl0013 opened #13526 "Error when opening spyder"
## Description

### What steps will reproduce the problem?

Open the console and begin typing.  I do not have a line 1050 in any of my files.  The most lines I have is 100.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.6.11
* Qt version: 5.12.5
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-13 19:52] #13526 closed

[2020-08-13 20:01] goanpeca opened #13527 "Pending API work"
The text in parens gives an idea of effort (small, medium, big, etc). Issues related to the issue ara attached as well as PRs (if open already).

## IN PROGRESS

### Find in Files

- [x] **(small)** Fix issues. [Issue 13657](https://github.com/spyder-ide/spyder/issues/13657) ([PR 13675](https://github.com/spyder-ide/spyder/pull/13675))

### Profiler Pane

- [x] **(small)** Fix issues. [Issue 13698

[2020-08-13 21:02] goanpeca commented on #12975
Closing due to lack of response.

[2020-08-13 21:02] #12975 closed

[2020-08-13 21:02] goanpeca commented on #13277
Ok @david-cortes will close for now. Let me know if you see it again, or if you spot what might be causing it. Cheers!

[2020-08-13 21:02] #13277 closed

[2020-08-13 21:13] goanpeca commented on #13137
Closing due to lack of response.

[2020-08-13 21:13] #13137 closed

[2020-08-13 21:14] goanpeca commented on #13270
@ashura1 did you install with admin priviledges?

[2020-08-13 21:14] goanpeca commented on #13261
Closing due to lack of response.

[2020-08-13 21:14] #13261 closed

[2020-08-13 21:14] #13139 closed

[2020-08-13 21:16] goanpeca commented on #13073
Closing due to lack of response.

[2020-08-13 21:16] #13073 closed

[2020-08-13 21:17] goanpeca commented on #13025
Closing due to lack of response.

[2020-08-13 21:17] #13025 closed

[2020-08-13 21:17] #13029 closed

[2020-08-13 21:17] #13072 closed

[2020-08-13 21:21] goanpeca commented on #13131
Closing due to lack of response.

[2020-08-13 21:21] #13131 closed

[2020-08-13 21:21] goanpeca commented on #13128
Closing due to lack of response.

[2020-08-13 21:21] #13128 closed

[2020-08-13 22:24] marynabort commented on #6453
How did you roll back all the packages?

[2020-08-14 00:50] #13524 closed

[2020-08-14 01:15] #13422 closed

[2020-08-14 01:26] goanpeca commented on #12976
Ok.

[2020-08-14 01:46] ammarkaust opened #13530 "Spyder 4.1.4 ERROR: execution aborted"
### Issue Report Checklist

* [ x ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ x ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ x ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if

[2020-08-14 03:03] ccordoba12 commented on #13530
Please update to ipykernel **5.3.4** and try again.

[2020-08-14 03:33] ammarkaust commented on #13530
Thanks ccordoba. I have done a complete uninstallation of Anaconda and then re-installed again. It seems to be working now. I will keep your solution in mind if this problem comes back.

Also a small thing, how do I check the checkboxes when submitting an issue? If you look at my submission I just put x there lol

[2020-08-14 03:35] ccordoba12 commented on #13530
Great to now. Closing this one then.

You need to avoid leaving spaces around them, like this: `[x]`

[2020-08-14 03:35] #13530 closed

[2020-08-14 06:23] juanis2112 opened #13531 "Run configuration per file dialog doesn't display complete"
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-08-14 06:28] juanis2112 commented on #13531
@steff456 can you take a look at this one?

[2020-08-14 06:29] juanis2112 commented on #13507
Will do!

[2020-08-14 07:54] rim0212 opened #13532 "Cannot open dict values"
## Description

### What steps will reproduce the problem?

I can't open the values in dictionary from the Variable explorer

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 19.4.0

### Dependencies

[code]

[2020-08-14 07:55] #13532 closed

[2020-08-14 10:42] twrauber opened #13533 "Internal Python Language Server error"
## Description

### What steps will reproduce the problem?

Just lauching Spyder.

Besides pylint does not work anymore. Worked with previous version(s)

### Traceback
[code]

## Versions

* Spyder version: 5.0.0.dev0 87243f08a
* Python version: 3.8.2
* Qt version: 5.12.8
* PyQt5 version: 5.14.1
* Operating System: Linux 5.4.0-42-generic

### Dependencies

[code]

[2020-08-14 15:15] NitinSaini18 opened #13534 "ValueError: cannot set WRITEABLE flag to True of this array"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\Users\nitin\Anaconda3\lib\site-packages\spyder\widgets\variableexplorer\collectionseditor.py", line 449, in createEditor
    if not editor.setup_and_check(value, title=key, readonly=readonly):
  File "C:\Use

[2020-08-14 15:16] #13534 closed

[2020-08-14 15:28] DEMONCELL1 commented on #3939
![Screenshot (86)](https://user-images.githubusercontent.com/45090961/90265844-c9b4e380-de70-11ea-95c6-3f65a9478f86.png)

i am getting this error please tell me how to solve this error

[2020-08-14 15:54] dalthviz opened #13535 "Code Analysis output button and path handling on Windows"
I found an error regarding the enable/disable behavior of the output button and the handling of the paths on Windows (seems like sometimes backslash and slash are being use for the path) which causes duplicate entries in the path combobox:

![pylint](https://user-images.githubusercontent.com/16781833/90265608-731bbb00-de18-11ea-816b-e4bf53a56152.gif)

Originally posted in https://github.com/spyder

[2020-08-14 16:37] ybagdasa commented on #10649
This would be a great feature. I always have to undock the editor every time I restart Spyder.

[2020-08-14 16:48] t1adl3m0n opened #13536 "argument 1 has unexpected type 'list'"
## Description

### What steps will reproduce the problem?

  File "C:\Users\me1vi\AppData\Local\ESRI\conda\envs\arcgispro-py3-clone\lib\site-packages\spyder\plugins\editor\widgets\codeeditor.py", line 1393, in handle_hover_response
    self._request_hover_clicked)
TypeError: CodeEditor.sig_display_object_info[str, bool].emit(): argument 1 has unexpected type 'list'

During handling of the above e

[2020-08-14 16:49] #13536 closed

[2020-08-14 16:56] ccordoba12 commented on #13507
To clarify what @steff456 meant here: the `xdg-open` executable is part of the `xdg-utils` package on those Linux distros.

[2020-08-14 17:55] ccordoba12 commented on #13531
Thanks @juanis2112 for reporting this. Could you let us know what's your screen size?

Also, I think we should discuss this with Isabella in our next meeting. I don't know if adding a scrollbar is the best option in this case and I'm not sure how to reduce the dialog's height.

What do you think @juanis2112 and @steff456?

[2020-08-14 18:12] stonebig commented on #13523
small request: would it be possible to move Spyder to jedi-0.17.2 ? for Python-3.9 compatibility (see https://github.com/microsoft/vscode-python/commit/f26d2dd22172cf95568b1e72b2b0a34e3df1e47a)

[2020-08-14 20:54] obrienciaran opened #13537 "Issue adding directory to PYTHONPATH Manager"
I am trying to add /usr/local/lib/python3.7/site-packages to the PYTHONPATH Manager. However, I receive an error informing me "This directory cannot be added to PATH. If you want to set a different Python interpreter, please go to Preferences > Main Interpreter".

However, I have already changed my interpreter to point to /usr/bin/python3

At the moment, I am using the rather annoying work around

[2020-08-14 20:59] update-freak opened #13538 "Output of a core.relational.Equality bad to read"
## Problem Description
If the code for Sympy is executed as shown in the following example, the output is difficult to read.
While confirming the code
C:\texlive\2020\bin\win32\latex.exe
and
C:\texlive\2020\bin\win32\dvipng.exe
is executed.

![bild](https://user-images.githubusercontent.com/40196995/90291820-fcff6e80-de80-11ea-9179-c8fb90af8bbc.png)

[code]

### What steps reproduce the problem?
1

[2020-08-14 21:22] andfoy commented on #13533
Hi @twrauber, thanks for opening this issue. It seems that your version of parso is larger than the pinned version python-jsonrpc-server requires. Also, it seems that you are using a pip installation (due to the lack of rtree) which we don't support or recommend, we encourage users to use conda instead.

[2020-08-14 21:22] #13533 closed

[2020-08-14 22:05] ccordoba12 commented on #13523
It will come when we release 4.2 in a couple of months, sorry.

[2020-08-15 00:08] juanis2112 commented on #13538
Hi @update-freak! Thanks for reporting this. I confirmed this behavior, looks like some kind of bug. We will fix it for our next release.

[2020-08-15 01:34] juanis2112 commented on #13537
Hi @obrienciaran. Thanks for reporting this. Did you restart your Spyder for the interpreter change to take effect?
If you did, you are getting that message because Spyder doesn't allow to mix different versions of Python. Is that what you are trying to do? Are you trying to use the packages in your ``/usr/local`` directory along with the ones from Anaconda?

[2020-08-15 05:37] Suriyaprakash45 opened #13539 "Unable to fix this error"
## Description

### What steps will reproduce the problem?

self._request_hover_clicked)
TypeError: CodeEditor.sig_display_object_info[str, bool].emit(): argument 1 has unexpected type 'list'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\jayastore\Anaconda3\lib\logging\__init__.py", line 1025, in emit
    msg = self.format

[2020-08-15 05:37] #13539 closed

[2020-08-15 08:19] obrienciaran commented on #13537
Thanks for the response. Yes that is exactly what I am trying to do.

Ok I wasn't aware of that. The simple solution is to install packages via 'Conda' I guess?

[2020-08-15 13:51] tauseefkhan786 opened #13540 "i cant connect start tensorflow gpu"
## Description

### What steps will reproduce the problem?

i am using spyderv(anaconda3) for deep learning program.
i wanted to run my code in GPU, i have GPu GEFORCE GTX 1060
i have installed conda install -c anaconda tensorflow-gpu
i have installed cudatoolkit
but when i tried to run my code in gpu its not started

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7

[2020-08-15 13:51] #13540 closed

[2020-08-15 16:58] MohammadShehata opened #13543 "Iternal error running timeByFrame.py on a psychopy environment"
## Description

### What steps will reproduce the problem?

I was trying to run timeByFrame.py on a psychopy environment.

conda env create -n psychopy -f psychopy-env.yml

https://github.com/psychopy/psychopy/blob/master/psychopy/demos/coder/timing/timeByFrames.py

error shows before even running my code

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.6.11
* Qt ver

[2020-08-15 16:58] #13543 closed

[2020-08-15 19:35] ccordoba12 commented on #13538
@update-freak, what's your Sympy version?

[2020-08-15 19:43] ccordoba12 commented on #13538
@update-freak, sorry, I think the problem in your case is that didn't initialize the Sympy's printing system before starting to work with it.

In other words, you need to run the following code if you want to see Sympy objects printed correctly:

[code]

Please try that and let us know if it works for you.

[2020-08-15 20:01] andyrevell commented on #11538
I am having this issue too with Spyder 4. When I connect to a remote kernel, the variable explorer is empty. When connected to a local kernel, the variable explorer is fine

Running the same code with access to the same data:
Local
![image](https://user-images.githubusercontent.com/43831513/90320570-6a0e1500-df10-11ea-9ffd-89db12014ed4.png)

Remote
![image](https://user-images.githubusercontent.co

[2020-08-15 20:15] eafpres opened #13544 "Pandas Series index wrong in Variable Explorer"
## Problem Description

When viewing a Series in the variable explorer, sorting the series or the index does not change the index displayed

### What steps reproduce the problem?

1. Double Click a Pandas Series in the Variable Explorer to Open the floating pane
2. Sort the series either up or down on values, or up or down on index
3. Index does not change

### What is the expected output? What do

[2020-08-15 20:51] update-freak commented on #13538
My Sympy version is 1.19.1.

With the following code

`import sympy as sp
sp.init_printing()
y = sp.Function('y')
t = sp.symbols('t')
dgl = sp.Eq(y(t).diff(t), y(t))`

nothing happens after typing dgl in the consol

[2020-08-15 22:05] ccordoba12 commented on #13538
@dalthviz, could you check what happens in this case on Windows?

[2020-08-15 22:15] ccordoba12 commented on #13544
Hey @eafpres, thanks for reporting. I think this an important bug and we'll try to fix it in our next release.

[2020-08-16 01:16] juanis2112 commented on #13537
Yes. That would be the best idea. Let me know if you need help with that.

[2020-08-16 03:27] #13481 closed

[2020-08-16 09:18] Aegis1863 opened #13549 "Error copying variable value 复制变量值出错"
## Description

### What steps will reproduce the problem?

When I right-click in the variable area and select copy function, Spyder reports an error, but the software does not crash or quit. By the way, Spyder language I use is Chinese.

我在变量区右键并选择复制功能时，Spyder报错，但软件并未崩溃退出，我使用的软件语言是中文。

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.7
* Qt version: 5.15.0
* PyQt5

[2020-08-16 12:55] pauelm commented on #8872
The Anaconda installation is notorious at being a hot mess.  Even if you get packages working correctly, it is inevitable that you will run into problems all over again, when you use pip to install new packages, as Anaconda and pip will continue clobbering each other.  Unfortunately, the only way to avoid the broken, corrupt installs / uninstalls is to avoid Anaconda all together, and pip install

[2020-08-16 16:58] ccordoba12 commented on #13549
Hey @LeeSunBowen, thanks for reporting. Please provide us with a step by step description to reproduce your problem.

Otherwise, we won't be able to fix it, sorry.

[2020-08-16 17:00] ccordoba12 commented on #13501
Closing due to lack of response.

[2020-08-16 17:00] #13501 closed

[2020-08-16 17:00] ccordoba12 commented on #13487
Closing due to lack of response.

[2020-08-16 17:00] #13487 closed

[2020-08-16 17:06] ccordoba12 commented on #13450
@peterwright95, please give us a step by step description on how to reproduce this issue. Otherwise we won't be able to fix it.

[2020-08-16 17:53] LeeSunBowen commented on #13549
![image](https://user-images.githubusercontent.com/46989391/90339967-4093dd00-e027-11ea-8b2d-8c861bef25d5.png)
I think it's a rare situation and I've only encountered it once so far.
When I have finished running a program, I'm in variable In the Explorer ribbon, right-click a variable, click Copy (like my screenshot), and Spyder prompts me to submit the error to GitHub. After I submit, spyder does

[2020-08-16 17:58] ccordoba12 commented on #13549
Thanks for your help @LeeSunBowen! Could you share with us the program that you're running in the console, which generates the variables displayed in the Variable Explorer?

[2020-08-16 18:16] eafpres commented on #13544
The problem exists in Pandas Series and Pandas DataFrames in the same form.
The problem does not exist for lists.
There is a variant of the problem for NumPy arrays--they don't sort at all.
Here is a reproducible example:

`
\# -*- coding: utf-8 -*-
"""
Created on Sun Aug 16 12:00:16 2020

@author: Blaine Bateman (eafpres)
"""
\#
\#%% libraries
\#
import pandas as pd
import numpy as np
\#
\#%% cre

[2020-08-16 18:44] LeeSunBowen commented on #13549
**Here is the code, you can run it directly as long as you have Numpy and matplotlib, and that variable is t or y. I've forgotten the exact variable, but it must be t or y.**

[code]

[2020-08-17 03:58] liuchi63 opened #13550 "can not display text on the console."
## Description

### What steps will reproduce the problem?

i am first time user. running a sample program "hello world"

after i start the spyder, console stuck at connecting to kernel.
i start a new console, connecting to kernel disappears
run the sample program "hello world"
i then this error.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9.

[2020-08-17 03:58] #13550 closed

[2020-08-17 10:34] xdliming opened #13551 "problems"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

    plugin = mod.PLUGIN_CLASS(self)
AttributeError: '_ModuleMock' object has no attribute 'PLUGIN_CLASS'

## Version and main components

* Spyder Version: 3.2.6
* Python Version: 3.6.4
* Qt Versions: 5.9.6, PyQt5 5.9.

[2020-08-17 10:34] #13551 closed

[2020-08-17 11:08] iquasere opened #13552 "There was an error in here"
## Description

### What steps will reproduce the problem?

I have no idea. Spyder is forcing me to do this. I do not know what the error was, however, tihs appeared after I submitted stuff with Git. Also, I have to restart Spyder to open a new project.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System:

[2020-08-17 11:09] #13552 closed

[2020-08-17 16:36] andyrevell commented on #1964
On Spyder 4.1.4 - still an issue it seems. I'm new to Sypder and coming from PyCharm. They have a "sync to disk" option when right clicking a folder in their own version of a project explorer. Is there a force refresh button and I'm just missing it somewhere?

[2020-08-17 23:11] CAM-Gerlach commented on #11538
Yep, thanks @andyrevell . As I understand it, we've tracked down the cause and its in the queue to be fixed. @ccordoba12 or @impact27 would know more specifics on that.

[2020-08-18 01:14] luismglvieira opened #13553 "Spyder requesting PySide but unable to install the module."
Hey, recently Spyder stopped working and I tested this issue in two different Manjaro installations. From what I understand, Spyder requests a module named PySide, but this one isn't available with the most recent Python version (atm is 3.8), so it won't install at all.

So I tried to install PySide2, and it did install, but Spyder is still requesting PySide, so it won't start.

I don't understand

[2020-08-18 01:55] pgozz opened #13555 "Command window spams with "QSocketNotifier: Multiple socket notifiers for same socket...""
## Description

### What steps will reproduce the problem?

On my windows machine with Python 3.6, this happens everytime I enter anything in the command window.

## Versions

* Spyder version: 4.1.4
* Python version: 3.6.8
* Qt version: 5.12.9
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-18 03:51] ccordoba12 commented on #13555
Hey @pgozz, thanks for reporting. This error was fixed in one of our dependencies called `ipykernel`. So please update to its latest version (5.3.4) and let us know if it works for you.

[2020-08-18 07:26] harry552 opened #13557 "Date object not editable in variable explorer"
## Description

### What steps will reproduce the problem?

Importing date module to create a date object but not able to change date from variable explorer. If the object is is string i can edit it but not in date object.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[2020-08-18 08:57] Ecarulan commented on #13544
Do you know what is the latest version that does not have this issue?

[2020-08-18 13:52] RuixiangS opened #13560 "When I want to open a project(click the open the project buttom),it caused the error"
## Description

### What steps will reproduce the problem?

When I want to open a project(click the open the project buttom),it caused

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-18 13:53] #13560 closed

[2020-08-18 13:56] RuixiangS opened #13561 "When I want to open a project(click the open the project buttom),it caused the error"
<!---   *** BEFORE SUBMITTING: PASTE CLIPBOARD HERE TO COMPLETE YOUR REPORT ***   ---!>

  File "F:\Miniconda3\lib\site-packages\spyder\plugins\projects\plugin.py", line 98, in <lambda>
    triggered=lambda v: self.open_project())
  File "F:\Miniconda3\lib\site-packages\spyder\plugins\projects\plugin.py", line 288, in open_project
    self.notify_project_open(path)
  File "F:\Miniconda3\lib\site-p

[2020-08-18 13:57] #13561 closed

[2020-08-18 16:17] ccordoba12 commented on #13553
Hey @luismglvieira, thanks for reporting. Please read our

https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ

If you are unable to fix the problem after that, please install Anaconda instead. Unfortunately, we don't have the resources nor the time to help people with custom installations, so it's up to you to figure this one out.

This is because custom installations are for

[2020-08-18 16:17] #13553 closed

[2020-08-18 17:55] BrotherKoW opened #13563 "Spyder Won't Launch post machine reboot, clean install, etc"
### Issue Report Checklist

* [ done] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [done ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ done] Reproduced the issue after updating with ``conda update spyder`` (or ``pip`

[2020-08-18 18:30] steff456 commented on #13557
Hi @harry552,
I can reproduce this error, we will fix in for our next release of Spyder. Thanks for reporting!

[2020-08-18 18:31] steff456 commented on #13557
@andfoy please take a look at this one

[2020-08-18 18:37] eafpres commented on #13544
In 4.1.2, Pandas Series and DataFrames sort correctly.
In 4.1.2, NumPy objects don't sort at all (as in 4.1.4)
In 4.1.2, Python Lists sort erratically:

![image](https://user-images.githubusercontent.com/30508983/90551777-14737b80-e14f-11ea-9bc5-e47ad04b45d0.png)

In the above, the list is 1000 element long. Sorting on the index should put 999 or 0 at the top.
Scrolling down in the list and sortin

[2020-08-18 18:39] steff456 commented on #13563
Hi @BrotherKoW,

Did you install a particular package in your environment or are you trying to start Spyder from a clean one? If not please create a new environment and install only spyder to see if it works with the following commands,

[code]

Please let me know if this works

[2020-08-18 19:16] BrotherKoW commented on #13563
Thanks @steff456
I'm trying to start spyder from a clean one. But I followed your instructions, created activated a test environment and installed only conda into it. Spyder will not launch from the test env. I get only the following output:
(test-env) C:\Users\mike>spyder
(test-env) C:\Users\mike>

[2020-08-18 20:52] i-kalja opened #13564 "Just made Ctrl+V"
## Description

### What steps will reproduce the problem?

""" We build the regression model, and tell it to use the 12 preceding points to fit the regression
"""
regr_model = StandardRegressionModel(train_n_points=12)

""" Our target series is what we want to predict (the actual data)
    It has to have the same time index as the features series:
"""
series_target = series.slice_intersect(model_

[2020-08-18 20:52] #13564 closed

[2020-08-18 21:29] manojbaishya opened #13565 "Crash on startup"
## Description

### What steps will reproduce the problem?

1. Install via Anaconda3-2020.07-Linux-x86_64.sh in ~/.local/apps/anaconda
2. Start spyder from terminal

Error keeps appearing after two fresh reinstalls.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Linux 5.4.0-42-generic

### Dependenc

[2020-08-18 21:43] manojbaishya commented on #13565
Issue persists after creating a new environment and fresh install:
[code]

I am on Linux Mint 20.

[2020-08-18 22:18] athompson673 commented on #13557
It seems this was a bug in the implementation of https://github.com/spyder-ide/spyder/pull/12700

I think maybe moving [this segment ](https://github.com/spyder-ide/spyder/blob/master/spyder/plugins/variableexplorer/widgets/collectionsdelegate.py#L199-L203):
[code]
after you check `isinstance(value, datetime.datetime)` on [line 208](https://github.com/spyder-ide/spyder/blob/master/spyder/plugins/v

[2020-08-19 00:52] HEMPATHAK opened #13566 "Problem of spyder while loading"
## Description

### What steps will reproduce the problem?

 File "C:\Users\Admin\anaconda3\lib\site-packages\spyder\plugins\ipythonconsole\plugin.py", line 557, in set_current_client_working_directory
    shellwidget.set_cwd(directory)
  File "C:\Users\Admin\anaconda3\lib\site-packages\spyder\plugins\ipythonconsole\widgets\shell.py", line 221, in set_cwd
    self.call_kernel(interrupt=True).set_c

[2020-08-19 00:52] #13566 closed

[2020-08-19 05:01] saurishc opened #13567 "internal problem"
## Description

### What steps will reproduce the problem?

Updated Anaconda on Windows as Administrator. After that, everytime Spyder starts there is an "internal problem".

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-19 05:02] #13567 closed

[2020-08-19 06:41] skumarNAP opened #13568 "Issue opening project"
## Description

### What steps will reproduce the problem?

After updating the spyder and anaconda, i am getting issue in opening project

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.4
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-19 06:41] #13568 closed

[2020-08-19 11:20] MegaLoMonkey opened #13569 "Not sure what happened - just launched from the start menu"
## Description

### What steps will reproduce the problem?

I wasn't actually doing anything - just launched the application from the start menu - not the annaconda navigator.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.6.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 7

### Dependencies

[code]

[2020-08-19 11:21] #13569 closed

[2020-08-19 14:02] laurajanem opened #13570 "Spyder crashes with Segmentation fault: 11 when Mac goes to sleep"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-08-19 15:26] mindyKornfeld opened #13571 "Jedi and parso dependencies requirements met, but error still found"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-08-19 15:50] ccordoba12 commented on #13571
Hey @mindyKornfeld, thanks for reporting. You said

This is really bad because it looks like you're using Anaconda and yet you updated those packages with pip. Unfortunately, that that could have broken your installation.

Please [our video](https://www.youtube.com/watch?v=Ul79ihg41Rs) to learn how to fix that. And let us know if it works for you.

[2020-08-19 15:52] ccordoba12 commented on #13565
Please close Spyder, run in a terminal

    spyder --reset

and try again.

[2020-08-19 15:54] ccordoba12 commented on #13563
This seems to indicate a problem with your graphics card. Please update the drivers for it and try again.

[2020-08-19 15:55] ccordoba12 commented on #13549
Thanks @LeeSunBowen! I'll try to reproduce your error this weekend.

[2020-08-19 16:33] mindyKornfeld commented on #13571
Thanks for your help! The video was very clear and informative

[2020-08-19 16:33] #13571 closed

[2020-08-19 17:04] ccordoba12 commented on #13571
I'm glad you were able to solve your problem with it!

[2020-08-19 17:06] luizbalestreri opened #13572 "Error doing nothing"
## Description

### What steps will reproduce the problem?

Just opening the software makes the error occur constantly. Probably a background operation of the Spyder

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.6.8
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-19 17:06] #13572 closed

[2020-08-19 18:34] #13508 closed

[2020-08-19 18:48] dalthviz commented on #13570
Hi @laurajanem thanks for the feedback! Maybe this is related with the Qt/PyQt version that you are using but I'm unsure :/, what do you think @ccordoba12 ? I checked and seems like in the wiki some info exist to [debug segfaults](https://github.com/spyder-ide/spyder/wiki/How-to-debug-PyQt-PySide-internal-crashes-(segfaults)-affecting-Spyder) although it seems kind of outdated. Also, maybe @steff4

[2020-08-19 18:53] dalthviz commented on #13418
Closing do to lack of response

[2020-08-19 19:05] steff456 commented on #13570
@dalthviz it seems that there may be a problem with Qt as seen in https://github.com/spyder-ide/spyder/issues/3732
@laurajanem did you install python apart from the conda installation?

[2020-08-19 19:44] laurajanem commented on #13570
I did use the `pip` install because we don't use `conda` for our virt environments where I work. Is there a specific version of Qt that is known to work with Catalina + Spyder 4?

[2020-08-19 19:52] dalthviz commented on #13570
Thanks @steff456 for the info :+1:

@laurajanem could you try creating an env using PyQt 5.9.2 and Qt 5.9.7 ? Let us know if that helps :)

[2020-08-19 19:54] MMS413 opened #13573 "ValueError: `bins` should be a positive integer"
#13570 Problem Description

Hello, I am using Python 3.7 via Spyder 3.3.6 (as part of the Anaconda suite) as part of a class I'm currently taking. (I'm new to Python, so I apologize in advance if the answer to resolving this error seems obvious.)
How do I move past this error?

### What steps reproduce the problem?

import pandas
import numpy
import seaborn
import matplotlib.pyplot as plt
data = p

[2020-08-19 20:21] manojbaishya commented on #13565
Thank you, that fixed it! Apologies for the laziness, I see it is already mentioned in point 5 in the troubleshooting guide/FAQ.

I was able to retrigger the error and found out that the root cause was setting up the startup directory in the "current working directory" settings to a _symlinked folder_ from ~/ residing on another partition mounted at /media/user/. I also used another symlink to a f

[2020-08-19 20:21] #13565 closed

[2020-08-19 20:52] laurajanem commented on #13570
aaahh when I downgraded to PyQt 5.9.2 all of a sudden my menu bar was not responsive - this menu bar:

<img width="814" alt="Screen Shot 2020-08-19 at 4 06 40 PM" src="https://user-images.githubusercontent.com/17499453/90687760-5c6fcc80-e23b-11ea-9af1-ad071be05ec0.png">

spyder launched fine, and the rest of the UI worked, just not the top menu menu bar.

[2020-08-19 21:17] ccordoba12 commented on #13565
No problem and glad you were able to fix your issue!

[2020-08-19 21:20] ccordoba12 commented on #13570
You need to use `pythow` to start Spyder in order to avoid that. I think that's not the default interpreter used when Spyder is installed with pip, but it certainly is the one used by Anaconda.

[2020-08-19 21:21] ccordoba12 commented on #13570
So you'd said your problem is fixed now?

[2020-08-19 21:22] #13418 closed

[2020-08-19 21:34] Asarmientopatron00 opened #13574 "Eror de sintaxis"
## Description

### What steps will reproduce the problem?

Hello. My code shows "Invalid syntax" to all that I write. For example

a=0

This line appears with Invalid Syntax, why?

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-19 21:46] laurajanem commented on #13570
Yes, the problem with the menu bar being unresponsive is fixed. But I don't think the original issue will be fixed - If downgrading the version of PyQt is the solution, since it seems to cause another problem.
Is there another, maybe later version of PyQT5 that has known compatibility with Catalina? I'm assuming this is somehow OS related, given some other similar issues raised here.

Also - I hav

[2020-08-19 21:54] BrotherKoW commented on #13563
Driver update did not work....switcfhing out the graphics card did. I will put more faith in the event viewer next time. Thanks for the help.

[2020-08-19 21:54] #13563 closed

[2020-08-19 22:11] ccordoba12 commented on #13563
No problem. Glad you were able to solve your problem!

[2020-08-19 22:14] ccordoba12 commented on #13570
Not right now, but we'll try to update our requirements to support PyQt 5.15 for our 4.2 version, to be released in two months.

This is very weird.

[2020-08-19 22:15] ccordoba12 commented on #13570
@laurajanem, since there's nothing else we can do at the moment and you're unable to use Anaconda (which is our recommended installation method), is it ok if we close this issue?

[2020-08-19 22:25] dalthviz commented on #13574
Hi @Asarmientopatron00 could you provide a more detailed explanation of how are you running the code? Could you post here a GIF (to record it you can use something like [LICECap](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwifgdqlp6jrAhXHpFkKHRaEC64QFjAAegQIAxAB&url=https%3A%2F%2Fwww.cockos.com%2Flicecap%2F&usg=AOvVaw3iJnE-5SiSMpdh4O6WWoH-)) of the steps

[2020-08-19 22:29] laurajanem commented on #13570
Sure, that's fine.

On Wed, Aug 19, 2020 at 6:15 PM Carlos Cordoba <notifications@github.com>
wrote:

[2020-08-19 22:52] dalthviz commented on #13573
Hi @MMS413 seems like your error isn't related with Spyder but rater with the code you are trying to run. Seeing your code I don't see where you are defining the `sub2` variable neither you provide the whole traceback of the error.

However, seems like you are passing as the `bins` param  in the `cut` function the value `0` instead of a sequence of scalars (which maybe is what you are trying to do

[2020-08-19 22:52] #13573 closed

[2020-08-19 23:16] artsarno opened #13576 "list object not callabble"
## Description

### What steps will reproduce the problem?

I get "list object is not callable" for these np.array entries
points and p
     my email is artsarno@pacbell.net

import numpy as np

#Knn nearest neighbor locate points closest to target point

points = np.array([[1,1],[1,2],[1,3],[2,1],[2,2],[2,3],[3,1],[3,2],[3,3]])
p=np.array([2.5, 2])
import matplotlib.pyplot as plt
plt.plot(points[

[2020-08-19 23:37] #13297 closed

[2020-08-20 00:27] dalthviz commented on #13576
Hi @artsarno checking the code you provided I was able to run it without any issue:

![image](https://user-images.githubusercontent.com/16781833/90702658-63a1d500-e251-11ea-8684-006114ba313d.png)

At first glance seems like this isn't related with Spyder. Maybe in some place of your code instead of square brackets you are using parenthesis.

I'm closing this one but hope the info above helps :)

[2020-08-20 00:27] #13576 closed

[2020-08-20 01:04] HariGovindSatheesan opened #13577 "Kernel showing as connecting when spyder is launched. Issue gets fixed after closing and re launching it."
Issue is when starting spyder , it is not connecting to kernel at times. Have to re launch spyder. Starting another kernel window or refreshing the kernel is not fixing the issue. Spyder is launched from anaconda.
![image](https://user-images.githubusercontent.com/29809037/90704813-1b190480-e2af-11ea-8e55-77805128382b.png)

[2020-08-20 01:14] artsarno commented on #13576
Thank you i believe it may be a Spyder version issue as the code runs on another IDE

________________________________
From: Daniel Althviz Moré <notifications@github.com>
Sent: Wednesday, August 19, 2020 5:27:54 PM
To: spyder-ide/spyder <spyder@noreply.github.com>
Cc: artsarno <artsarno@pacbell.net>; Mention <mention@noreply.github.com>
Subject: Re: [spyder-ide/spyder] list object not callabble (

[2020-08-20 01:33] #13570 closed

[2020-08-20 01:54] artsarno commented on #13576
Thank you again but I am using Spyder Python 3.8
There is no other code in this program
I really think this is a bug in the release
For numpy arrays

________________________________
From: Art Sarno <artsarno@pacbell.net>
Sent: Wednesday, August 19, 2020 6:13:56 PM
To: spyder-ide/spyder <reply@reply.github.com>; spyder-ide/spyder <spyder@noreply.github.com>
Cc: Mention <mention@noreply.github.com>

[2020-08-20 02:46] peleonard opened #13578 "I do no know what happened!"
## Description

### What steps will reproduce the problem?

It just appears when I use "shift+enter" to run a block.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.0
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 17.7.0

### Dependencies

[code]

[2020-08-20 02:46] #13578 closed

[2020-08-20 03:32] 123385918 opened #13579 "Here is some advice for better UI, in my opinion."
![test](https://user-images.githubusercontent.com/45360163/90713828-c5595200-e2d8-11ea-8bc8-c1f524f24bf1.png)

[2020-08-20 04:07] dalthviz commented on #13576
Could you try to submit a GIF displaying the way you are running your code? You can use for that something like [LICECap](https://www.cockos.com/licecap/) (you probably will need to submit the GIF using Github directly instead of responding by email).

Without more info to replicate the behavior your are experiencing we can't help you.

Also, just in case, bellow is the env used for the test where

[2020-08-20 04:50] dalthviz commented on #13577
Hi @HariGovindSatheesan could you provide more info about your installation (OS, dependencies, Spyder and Python version, etc)? Also, is any traceback being generated (in the internal console) or other place? Please provide as much info as you can since if we can´t reproduce the issue is difficult for us to help you.

Just in case you can check out [Troubleshooting Guide & FAQ](https://github.com/

[2020-08-20 06:46] Akshaykushawaha opened #13580 "Regarding kernel"
## Description

### What steps will reproduce the problem?

in any case whenever i write a program and then run it ,it works just fine but the moment i terminate the program while its taking an input the kernel just hangs and i cannot run the program again and the kernel is stuck at the last line that was displayed before termination and i have to restart the thing again and agian.

## Versions

*

[2020-08-20 08:19] Wusir2018 opened #13581 "conflict with Wing pro 7"
Hello everyone,
There are conflict with Wing pro 7 when I install Spyder-4.1.4 in my envs. My `numpy`, `pandas` and `PyQt5` will broken. If I use Wing pro 7 and Spyder-4.1.4 in different envs, it's OK. How can use them in the same envs?
Could you help me?
Best wishes!

[2020-08-20 08:52] shahnawazm786 commented on #8262
![image](https://user-images.githubusercontent.com/49604292/90748874-5be53d80-e2f0-11ea-8489-b238a8bdadc5.png)
i am not able get the intelli sense  in spyder.
even though the both is ticked.
Thanks

[2020-08-20 08:57] buster47 opened #13582 "Spyder was unable to retrieve the value of this variable from the console"
## Description

### What steps will reproduce the problem?

Error is shown when trying to show or copy variable retrieved from docplex optimization. Sample problem shown below. Plus: loading icon in variable explorer is visible all the time.

[code]
### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.6
* Qt version: 5.12.9
* PyQt5 version: 5.12.3
* Operating System: Wi

[2020-08-20 09:00] shahnawazm786 commented on #8262
same with me. nothing is happening with spyder.

[2020-08-20 11:29] VK2XXY commented on #10522
When qtpy fails to find a Qt binding is defaults to printing that module PySide was not found.

[2020-08-20 14:55] artsarno commented on #13576
Dear Daniel
Thank you so much for your assistance.
This morning I reset% the console and now the code is working!
I Was not aware that by running the program using the ‘Run’ menu option that the console code would have an adverse impact.

Best Regards,
Art Sarno

[2020-08-20 15:13] Naikless opened #13583 "Plot DataFrames from the Variable Explorer context menu"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-08-20 16:37] PraveenTumma commented on #5393
No, this issue still exists in Spyder 4. I just had this issue and when used the fix cited here using Ctrl+Shift+D, the issue is fixed. You need to look into this issue and fix it permanently. Users who do not see this fix will have tough time using Help.

[2020-08-20 16:38] PraveenTumma commented on #5393
No, I have Kite installed but still it did not work. See my earlier comment to fix this issue.

[2020-08-20 16:51] atom-45 opened #13584 "random error pop up"
## Description

### What steps will reproduce the problem?

If I click the close button, the error message pops up

### Traceback
[code]

## Versions

* Spyder version: 4.0.0
* Python version: 3.7.5
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Linux 5.4.0-42-generic

### Dependencies

[code]

[2020-08-20 17:27] ccordoba12 commented on #13582
@impact27, I think we should catch errors like this one when getting a value and simply pass on it. What do you think?

[2020-08-20 17:50] andfoy commented on #13580
Hi @Akshaykushawaha, thanks for opening this issue, could you please add a reproducible case of this error either by a GIF or a source file that presents this issue?

[2020-08-20 17:52] andfoy commented on #13581
Hi @Wusir2018, thanks for opening this issue. Could you please add a detailed description about how you did install Spyder and also the dependencies used?

[2020-08-20 17:55] andfoy commented on #13584
Hi @atom-45, thanks for opening this issue, it seems that you are using an old version of spyder, could you please try to update to 4.1.4 and see if the error have disappeared? You can execute the following commands to update Spyder:

[code]

[2020-08-20 18:01] steff456 opened #13585 "Plain text in help pane has a bug"
## Problem Description
When I open spyder, go to the help pane and in the hamburger menu I activate the option `Plain Text` if the source is in the console I will see,

![image](https://user-images.githubusercontent.com/20992645/90807962-e4f67780-e2e4-11ea-8161-fcf08a75b90b.png)

If the source is editor I will see the pane empty.

Then if I write in a file in the editor `import numpy as np` and `C

[2020-08-20 18:04] ccordoba12 commented on #12165
@UniqASL, @ChemicalSailor, is this still a problem for you in our 4.1.4 version?

[2020-08-20 18:15] ccordoba12 commented on #13585
@steff456, please take a look at this one. It shouldn't be that hard to fix.

[2020-08-20 18:21] ccordoba12 commented on #12956
Closing due to lack of response.

[2020-08-20 18:21] #12956 closed

[2020-08-20 19:23] Crear12 opened #13586 "Switched to Remote Desktop. Spyder said there's a window size change and crashed."
## Description

### What steps will reproduce the problem?

Switched to Remote Desktop. Spyder said there's a window size change and crashed.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-20 19:23] #13586 closed

[2020-08-20 19:49] manas1313 opened #13587 "Dataset not loading"
## Description

### What steps will reproduce the problem?

Import pandas as pd
data = pd.red_csv('traindata.csv')

### Traceback
[code]

## Versions

* Spyder version: 3.3.6
* Python version: 3.7.4
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-20 20:47] #10722 closed

[2020-08-20 20:47] #13096 closed

[2020-08-20 22:04] seyeeet opened #13588 "how to use tab for completion of a variable"
Im using spyder 4.1
right now when I use tab it creates space and does not suggest completion. how can I make to give me suggestion for completion when I use tab.
for example, if write `num` and then press tab, I like it to suggest me NumPy not moving num forward

[2020-08-20 23:06] Avita-jpg opened #13589 "internal problem after Spyder start"
## Description

### What steps will reproduce the problem?

The problem showed directly after Spyder started.
The error says that there was a timeout while waiting for comm port, so I believe the error might be related to my program in which I use the comm port.
I'm using serial.Serial to inicializate the Serial port with the pySerial library. At the end of the program I always close it. When the

[2020-08-20 23:06] #13589 closed

[2020-08-21 01:19] andfoy commented on #13587
Hi @manas1313, it seems that you are using a very old version of Spyder, could you please try to upgrade to the latest version and see if it solves this issue. You can upgrade Spyder by using the following commands:

[code]

[2020-08-21 02:38] pb3enguin opened #13591 "set console directory to network folder"
## Description

### What steps will reproduce the problem?

- set console directory to network folder -> then issue reporter appeared and directory is not changed

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-21 02:41] #13591 closed

[2020-08-21 02:50] fmohaghegh opened #13592 "Opening Problem"
## Description

### What steps will reproduce the problem?

I saw this error once I opened Spyder. It is taking a long time to connect of a Kernel.

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-21 02:50] #13592 closed

[2020-08-21 05:47] Akshaykushawaha commented on #13580
sure i will provide that in some time when i get free time.

On Thu, Aug 20, 2020 at 11:21 PM Edgar Andrés Margffoy Tuay <
notifications@github.com> wrote:

[2020-08-21 06:21] DanielIAvila opened #13593 "Spyder crashing when opening dataframe in object explorer"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-08-21 06:51] impact27 commented on #13582
This looks like an error in the "docplex" package. I am not sure about passing on them silently though. In this situation, I would expect a traceback in the console. What do you think?

[2020-08-21 10:58] Chris6995 opened #13594 "OpenCV ORB problems"
## Description

### What steps will reproduce the problem?

img = cv2.imread('anyImage.jpg')
# Initiate STAR detector
orb = cv2.ORB()

# find the keypoints with ORB
kp = orb.detect(img,None)

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.6
* Qt version: 5.12.8
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-21 12:00] mmagnuski opened #13595 "Editor sluggish in cycles coocurring with audible increased disk usage"
### potentially related issues:
#13020
#13041

## Problem Description

Writing in the editor is slow, but the slowing occurs in cycles - the speed is ok for a while but then is slow (and then ok again).
This is visible even in cursor movement. Pressing left key and keeping it pressed leads to cursor running normally, then experiencing major jumps and hiccups, and then again it runs normally (and s

[2020-08-21 15:00] addarnr opened #13597 "Anaconda 2020.07 Matplotlib not updating"
I just updated my Anaconda (to 2020.07) and Spyder (to 4.1.4)installations. However, the Matplotlib package shows up as version 3.3.0 using pip list and 3.2.2 using conda list commands. Which is correct? Also, how can I install the latest version of Matplotlib package? I followed the following to update my Anaconda and Spyder with the hope that it will upgrade all packages including Matplotlib,

c

[2020-08-21 22:46] jmoreno127 opened #13599 "TimeoutError Timeout while waiting for comm port"
## Description

### What steps will reproduce the problem?

Just when I initiate Spyder. It never connected the kernel.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.3
* Qt version: 5.12.9
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-21 22:47] #13599 closed, assigned to nobody

[2020-08-21 23:01] dtmasetti opened #13601 "Import .spydata file programmatically"
I am interested in a programmatic way to open up a .spydata file containing namespace variables, rather than just the button on the user interface.

Very simple request for a MATLAB-like feature that would increase the power of Spyder-- I have not found any solution on this one, but I have found a previous question related to this topic.

https://stackoverflow.com/questions/45078157/load-spydata-f

[2020-08-22 00:32] rushmore1954 opened #13602 "spyder"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/usr/lib/python3/dist-packages/spyder/widgets/helperwidgets.py", line 127, in paint
    textRect = style.subElementRect(QStyle.SE_ItemViewItemText, options)
TypeError: subElementRect(self, QStyle.SubElement, QS

[2020-08-22 00:32] #13602 closed, assigned to nobody

[2020-08-22 06:47] tarunrkk opened #13603 "I don't know why this error message is popping up every now and then"
## Description

### What steps will reproduce the problem?

As soon as I launch spyder, I see this pop-up which says: Spyder has encountered an internal problem!

I have no idea what that problem is.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.6.5
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-22 06:47] #13603 closed, assigned to nobody

[2020-08-22 07:06] tarunrkk opened #13604 "ModuleNotFoundError"
## Description

### What steps will reproduce the problem?

I am getting this ModuleNotFoundError even though I have installed Anaconda

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.6.5
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-22 07:06] #13604 closed, assigned to nobody

[2020-08-22 20:45] vik748 opened #13605 "Latest version of parso 0.8 crashes Spyder 3.3.1 with python 3.5"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not usi

[2020-08-22 22:19] jsh9 opened #13606 "Keyboard shortcut to switch ipython console tabs (macOS)?"
## Problem Description

There are customizable keyboard shortcuts for "cycle to next file" and "cycle to previous file" in the code editor, for all three operating systems.  But there aren't any corresponding keyboard shortcuts for cycling to the next/previous ipython console.

In Windows and Linux, the default "ctrl + pageUp" "ctrl + pageDown" happen to also work for cycling next/previous ipython

[2020-08-22 22:24] jsh9 opened #13607 "Auto indentation after parentheses"
The current behavior of Spyder's auto indentation, when we hit "Enter" right after typing `(` is like this:
[code]
("`|`" is where the cursor is)

It seems that PyCharm and VSCode are both using this following style:
[code]

If I remember correctly, PyCharm's and VSCode's style is the recommended style in PEP?  Is it possible for you to make a small tweak in Spyder?  Thanks!

[2020-08-23 15:11] SACViper opened #13608 "Automatic error report"
## Problem Description

### What steps will reproduce the problem?

changing theme from spyder to spyder-dark

### Traceback
[code]

## Package Versions

* Spyder 3.2.7 ``
* Python 3.7.8
* Qt 5.14.2
* PyQt5 5.13.1
* FreeBSD 12.1-RELEASE-p8

### Dependencies

[code]

[2020-08-23 16:46] vik748 commented on #13605
@absognety I do use the latest Spyder where possible, but there are projects where I have you use Python 3.5 for legacy reasons and the newer Spyder / ipython-kernels doesn't work with those.
It might be work specifying in the dependencies / compatibility for version 3.3.1 to limit parso to less than 0.8.  This way a conda install of Spyder in python 3.5 environment would automatically install app

[2020-08-23 17:11] absognety commented on #13605
@vik748  what feature of parso from 0.8.0 are you trying to work with that is not already there in parso 0.7.0? clearly solving this version incompatibility is a painful as it is clearly stated in changelog, maybe there is some better way of doing your task using another package that is compatible with your requirments?

[2020-08-23 17:39] shahvi commented on #13605
None. I don't care about parso but looks like Spyder needs it.

[2020-08-23 17:47] absognety commented on #13605
Related  issue: https://github.com/spyder-ide/spyder/issues/13476

[2020-08-23 18:11] maxborn commented on #1917
Hi, I was wondering if you guys have given any more consideration to this. I could really use it. I'm using Colorama to bring my console output to live, and it works fine in most other consoles, like directly in iPhython or on the PyCharm console. Not having this in Spyder is not a dealbreaker, but it will be a nice addition to Spyder. Please, think about it.
Thanks in advance for considering this

[2020-08-23 18:16] Avita-jpg opened #13609 "Again, internal error when Spyder starts"
## Description

### What steps will reproduce the problem?

I simply opened Spyder - again -, and the problem showed. Also, I got a message saying that the feature of autocompleting code is not working and that I could restart Spyder to solve the problem. But I already did that several times before - this is not the first time it happens - and the problem persists

### Traceback
[code]

## Version

[2020-08-23 18:16] #13609 closed

[2020-08-23 18:47] weiying-wang opened #13610 "Spyder internal problem"
## Description

### What steps will reproduce the problem?

- Tried to convert first row as headers of columns
using df.columns = df.iloc[0]
- Didn't get error message but told there is a sypder internal issue

### Traceback
[code]

## Versions

* Spyder version: 4.1.2
* Python version: 3.7.0
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 18.0.0

### Dependencies

[code]

[2020-08-23 19:38] ccordoba12 commented on #1917
@maxborn, we'd need with this because we're busy with other with other things.

If you have time, we can let you know where to start.

[2020-08-23 19:55] Fizz04 opened #13611 "launching correct version of spyder"
Hi all-

I've been using Spyder for a couple years.  I start up Anaconda Navigator, then i change the environment to python 2.7, and then i launch spyder.  The title of the spyder window says "python 2.7".  And all was good for a long time.

However, i did an update recently, and now things aren't working as before.  Now when i try to launch Spyder, it always launches as Python 3.7.  Even when i p

[2020-08-23 20:27] goanpeca commented on #12976
Actually, if that is the case then the internal console can depend on Completions, so it is still much better for organization that the widget belongs to the plugin that provides completions.

This is also needed as currently, the completions widget needs to use the icon of any registered completion provider, which is already handled by the completions manager (in the new plugin API refactor).

[2020-08-24 03:08] MasterKavi-24 opened #13612 "I don't think I have any kinda error or bug in here."
## Description

### What steps will reproduce the problem?

#Seriously I don't think I have any errors here. If it is there...
#I don't know what that is.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.12.9
* PyQt5 version: 5.12.3
* Operating System: Windows 7

### Dependencies

[code]

[2020-08-24 06:27] marcusobrien opened #13613 "Split Horizontal"
## Description

### What steps will reproduce the problem?

Had a project open, editing 6 python files each in own tab. Went to split horizontally the editor view, and it crashed.

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.6.10
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-24 06:35] vighneshrajendrans opened #13614 "IPython console is missing"
## Description

### What steps will reproduce the problem?

Ipython console is missing.Is there any corrections to do so

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-24 09:28] UniqASL commented on #12165
I worked one hour with it and so far the problem seems to have disappeared. Thanks for that!

[2020-08-24 10:25] adriesse commented on #13555
Do you mean version 1.9.3?

[2020-08-24 10:48] PanderMusubi opened #13615 "How to debug Bootstrap-Flask applications"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-08-24 11:04] impact27 commented on #12761
There is two main ways to add code to spyder kernel to interact with a plugin:
 - change the code of spyder-kernels (have spyder-kernels plugins that corresponds to the spyder counterpart)
 - "Inject" code into ipython kernel
I think the injection is not the nicest way to do this and we should probably think about an API to do that.

[2020-08-24 11:05] de2Zotjes opened #13616 "unknown problem"
## Description

### What steps will reproduce the problem?

from scapy import *

read a couple of pcap files

leave system sitting idle

### Traceback
[code]

## Versions

* Spyder version: 4.1.1
* Python version: 3.7.5
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-24 11:05] #13616 closed

[2020-08-24 11:58] rhkarls commented on #13605
@vik748 Isn't the problem here that conda installs parso 0.8 in a 3.5 environment, although 3.5 support was dropped in parso 0.8? So this is a conda issue I think

[2020-08-24 12:00] vik748 commented on #13605
@rhkarls That is a valid point, I will also add an issue in their repo.

[2020-08-24 12:48] goanpeca commented on #12761
## IO Plugins (Variable explorer)
The need from plugins comes specifically for how the variable explorer deals with new types (install networkx on the kernel and be able to have a quick `Plot` when right clicking.

Since this is tied to installing new packages, that is why the "code inject" may fall short, users actually need to install things that will most likely install new dependencies on the

[2020-08-24 13:50] bsierieb1 opened #13617 "spyder quits when replacing text in selection"
hi, very often (almost every time) I click on "replace selection", spyder quits. any suggestions on what might be causing the problem?

[2020-08-24 14:18] VamsidharAmbatipudi opened #13618 "kernel not restarting"
## Description

### What steps will reproduce the problem?

I am running kivy. For that I need to restart my kernel everytime. Now the kernel is showing that it is restarting the kernel but is saying that it has encountered some problem.

### Traceback
[code]

## Versions

* Spyder version: 4.1.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

###

[2020-08-24 14:18] #13618 closed

[2020-08-24 14:18] impact27 commented on #12761
The kernel and spyder might not be on the same machine, so the code should be installed independently. As you note, code injection is quite limited and can not have any dependency.
I think the solution is to split the plugin into two, so you would have to run on your local machine:
`pip install spyder-pluginA`
and on the machine where spyder-kernels is running:
`pip install spyder-kernels-pluginA`

[2020-08-24 14:37] lschneidpro opened #13619 "Confusion about new variable explorer with dataframes"
# Problem Description
Hi there,
I have been using spyder for a while and have been enjoying the variable explorer to check my data frames.
I quickly started a new environment for a project and I am not able to access a table explorer as it was used to be.
Let me know if I am missing anything as I could not find anything in the documentation

Thanks a lot.

![Capture d’écran 2020-08-24 à 16 26 49](

[2020-08-24 14:49] juanis2112 commented on #13594
Sure, no worries. We are glad we can help.

[2020-08-24 14:49] #13594 closed

[2020-08-24 14:49] #13537 closed

[2020-08-24 14:50] goanpeca commented on #12761
Yeah that seems like the cleanest way moving forward. Having two packages is a bit annoying so trying to come up with ideas how this could be simplified.

with pip one could do

To put an example:

`pip install spyder-networkx`
`pip install spyder-networkx[kernel]`

Spyder will always have spyder-kernels installed locally + maybe on another machine, right?

I can think to make just one package, we

[2020-08-24 15:45] yogeshkkolte commented on #4154
I was having same issue with spyder 3.3.6 . I  uninstalled numpy, spyder and reinstalled both then problem has  resolved.

[2020-08-24 16:23] maxborn commented on #1917
Hi Carlos,
If I understand correctly, it means I could try to contribute by implementing this myself? I'm not that good of a programmer, but I could try to involve some of my friends who are. I hope most of the code to display colored text already exists in other packages, like iPhython and that enabling it in the spyder-console could be relatively easy. Is that so?
Thanks for taking the time to l

[2020-08-24 16:50] laurajanem opened #13620 "RecursionError when opening a dataframe with Pandas 1.1.0 in the kernel and 1.0.5 in Spyder"
## Description

### What steps will reproduce the problem?

[code]
Try to open `df` by double clicking on the `DataFrame` in the variable explorer.

This was previously working fine. I believe that a recent install of `spyder-kernels` to my virtual environment caused this problem, but I'm not sure how.

To avoid having to install spyder in every virtual environment I works with, I just install `sp

[2020-08-24 16:58] steff456 commented on #13606
Hi @jsh9,

This is a very good request, we are going to work in unifying our shortcuts for macOS in a future release.

Thanks for reporting!

[2020-08-24 17:01] ccordoba12 commented on #13581
@Wusir2018, as I told you before, if some of the packages you need are not available in conda, you need to install them using pip. However, you need to install Spyder on that environment, only the packages you need to run your code, and then connect that environment to Spyder.

Please see part 2 of  [our video](https://www.youtube.com/watch?v=Ul79ihg41Rs) to learn how to do that.

[2020-08-24 17:03] steff456 commented on #13607
Hi @jsh9,

Both forms are valid in PEP8, we implemented the first one. If more users request the second form for auto indentation we can see if we can add an option to shift between the two forms.

Thanks for reporting!

[2020-08-24 17:03] #13607 closed

[2020-08-24 17:07] steff456 commented on #13608
Hi @SACViper,

This is fixed in version 3.3.1. However, Spyder 4 is available, so if you want to update to Spyder 4 please run the following commands,

[code]

If not, please install Spyder 3.3.1

[2020-08-24 17:07] #13608 closed

[2020-08-24 17:16] ccordoba12 commented on #13605
@vik748, thanks for reporting. @dalthviz will submit a pull request to fix this dependency in Anaconda.

[2020-08-24 17:30] steff456 commented on #13606
Hi @jsh9,

While I'm trying to reproduce your error, I encounter that `pageUp` in mac is `fn+Up` and `pageDown` is `fn+Down`. So if you try in macOS to do `cmd + fun + Up` you will have the same action than `ctrl + PageUp` in Linux and Windows. Right now this shortcut is hard-coded, so it is not configurable but we will work on making this configurable for Spyder 5.

[2020-08-24 17:41] steff456 commented on #13610
Hi @weiying-wang,

This seems a problem related to Pandas rather than a problem with Spyder. I couldn't reproduce it with a sample dataframe of pandas. Can you post here the dataframe which gives you this error to see if we can reproduce it?

[2020-08-24 17:51] steff456 commented on #13611
Hi @Fizz04,

Are you trying to launch Spyder 4.1.4 or Spyder 3.3.3 in a python 2.7 environment?
Please note that we removed support for Python 2.7 a couple of months ago and we recommend to migrate all your code to Python 3 as soon as you can.

[2020-08-24 17:53] ccordoba12 commented on #12761
That won't work because conda packages don't have this functionality.

A much better way to solve this is simply by asking people to add some methods with metadata to their objects, like `__repr_spyder__` to display a representation of the object in the Variable Explorer, or `__plot_spyder__` with the code necessary to generate a plot. So objects will tell Spyder that extra info is available in th

[2020-08-24 17:53] steff456 commented on #13612
Hi @MasterKavi-24,

Can you please tell us what steps are you doing to encounter this error and upload a gif or an image? In this way we can try to reproduce it and see how to fix it.

[2020-08-24 17:56] steff456 commented on #13613
Hi @marcusobrien,

This seems a duplicate of https://github.com/spyder-ide/spyder/issues/13346, right now we are working in fixing this error for our next release.

Thanks for reporting!

[2020-08-24 17:57] ccordoba12 commented on #1917
Yes, that's the idea. Sorry that my previous message was not clear enough about it.

I guess Colorama uses Ansi colors, so you need to see how to extend the code present in this file

https://github.com/jupyter/qtconsole/blob/master/qtconsole/ansi_code_processor.py

to make it our consoles work with it. That's because our IPython console is based on that.

[2020-08-24 18:11] ccordoba12 commented on #13613
That's a different issue @steff456.

@marcusobrien, please upload an animated gif (you can create one with the Licecap program) to see the exact conditions in which this error is generated.

[2020-08-24 18:21] ccordoba12 commented on #13612
@steff456, I think a way to reproduce this is the following:

* Create a new conda environment with Python and spyder-kernels (let's call it `test-env`).
* Change the Python interpreter in Preferences to select that environment.
* Start a new console to check that things are working as expected.
* Remove `test-env` outside Spyder.
* Try to create a new console.

The last step should generate the e

[2020-08-24 18:21] ccordoba12 commented on #13612
@steff456, please try those steps to see if you reproduce this error.

[2020-08-24 18:30] ccordoba12 commented on #13555
Closing due to lack of response.

[2020-08-24 18:30] #13555 closed

[2020-08-24 18:32] ccordoba12 commented on #12165
Great! Thanks @UniqASL for the confirmation!

Closing this one for now then. If more errors appear, please open a new issue for them.

[2020-08-24 18:32] #12165 closed

[2020-08-24 18:54] hsaidc commented on #11767
Same problem here, it behaves like "Always on top" is marked. But it shouldn't be like that. Sorry but, full screen does not work like that @ccordoba12. I should be able to switch other windows in full screen mode.

[2020-08-24 19:04] ccordoba12 commented on #12976
The internal console has nothing to do with Completions. So that would make things really confusing to maintain and for new contributors to understand.

If this necessary only for organization purposes, then I'm strongly -1 on it (you already know my stance on this).

Ok, then the right solution for this is to create a base class for the completion widget in `spyder/widgets`, and inherit and exten

[2020-08-24 19:11] obrienciaran commented on #13537
Thanks Juanis2112, this should be no problem. Thank you!

[2020-08-24 19:13] andfoy commented on #13580
@Akshaykushawaha, I tried to reproduce the error locally, however, when I interrupt the kernel a ``KeyboardInterrupt`` is raised.

![imagen](https://user-images.githubusercontent.com/1878982/91086005-e17c2c80-e613-11ea-8f66-c3a6dcc040ef.png)

@ccordoba12 @dalthviz @impact27, do you know what could be happening in this case?

[2020-08-24 19:25] laurajanem commented on #13620
I believe that I solved this problem:

The problem is that `spyder-kernels` seems to not be compatible with the latest version of `cloudpickle`, which is 1.5.0, released Jul 1, 2020.
I reverted back to the previous version, 1.4.1, and the variable explorer now works as expects.

[2020-08-24 19:26] pgozz commented on #13555
@ccordoba12 thank your fast reply and apologies for my delayed response.  Updating ipykernel does seem to have fixed the issue, so closing was the right thing to do 👍

[2020-08-24 19:43] Fizz04 commented on #13611
Hi steff456-

When i am in Navigator, i set my environment to python 2.7.  I see the Spyder icon which says "Spyder 3.3.3".  But when i click on the launch button, it actually launches 4.1.4.

Unfortunately, the code i am using involves a third party, and modifying it to python 3 is not an option.  So I need to be able to run python 2.7.

How can i run under 2.7?

-Fizz

[2020-08-24 19:55] dalthviz commented on #13580
I was unable to reproduce this either :/ although I checked on Windows 10 instead of Windows 7. Just in case, this is the testing env I used:

<details>

[code]

</details>

[2020-08-24 19:57] laurajanem commented on #13620
I believe that I identified the source of the problem.

I think that the latest version of `spyder-kernels` is not compatible with the latest version of `pandas`. The latest version of pandas is 1.1.1, but I also encounter this error using 1.1.0 - The most up-to-date version of `pandas` that does not cause this problem is 1.0.5.

[2020-08-24 20:05] steff456 commented on #13617
Hi @bsierieb1,

Can you please upload a gif or video where you show us this behavior?

[2020-08-24 20:10] steff456 commented on #13619
Hi @lschneidpro,

Which version of pandas do you have installed in your environment? I couldn't reproduce your error with pandas 1.0.5

[2020-08-24 20:13] steff456 commented on #13620
Hi @laurajanem,

So you could fix your problem by upgrading pandas to `1.1.1`? I'm not encountering this error in `1.0.5`

[2020-08-24 20:15] steff456 commented on #13611
Hi @Fizz04,

In this issue https://github.com/spyder-ide/spyder/issues/13510 we explain how you can run Python 2.7 in Spyder 4.1.4
Please let me know if this works for you

[2020-08-24 20:27] laurajanem commented on #13620
Yes, but the issue is that both the .venv I'm working in, where I have
installed `spyder-kernels` and the base spyder environment have to have
matching `pandas` versions, or at least compatible versions. I did a fresh
install of spyder today, just to see if there was something wrong there,
and it auto-installs with `pandas` 1.0.5.
It's definitely a hazard of trying to get around having to do the f

[2020-08-24 20:33] Fizz04 commented on #13611
Hi steff456

I will check out that link.  But isn't there an issue when Navigator says it's 3.3.3 but it actually launches 4.1.4?

Chris

[2020-08-24 20:39] Fizz04 commented on #13611
Hi steff456

Issue #13510 says i have 3 options.  The first is:
_Create a conda environment with Spyder 3.3.6, which is the stable version for Spyder 3 that supports Python 2._

But i should already have this.  I've been running a Python 2.7 environment for a couple years.  But this update seems to have messed that up.  It's like Anaconda won't "engage" the 2.7 environment anymore.  It says it is,

[2020-08-24 21:26] impact27 commented on #13580
The kernel appears to crash when the Keyboard Interrupt is received. My guess is that it is received as `SIGINT` that is not handled? I am not sure how this is possible. Is this a remote kernel or something?

[2020-08-24 21:52] steff456 commented on #13620
We are currently working on Spyder installers, to avoid this type of errors. As your error is already fixed I will go ahead and close this issue.

Thanks for reporting!

[2020-08-24 21:52] steff456 commented on #13619
Please see https://github.com/spyder-ide/spyder/issues/13620 and tell me if you can fix your problem

[2020-08-24 21:56] steff456 commented on #13611
Can you please try to run spyder from the terminal using the following commands,

[code]

Please note that in that environment you need to have Spyder 3.3.6 installed, you can check by searching the version after typing `conda list`. If you can see closely in the discussion, we recommend you to upgrade to Spyder 4 and change the kernel from the IPython console to use python 2.7. Let me know if tha

[2020-08-24 22:22] steff456 commented on #13615
Hi @PanderMusubi,

Right now, we don't have an option to add environment variables for debugging in Spyder. However I was able to run the debugger in the example that you provided by `FLASK_ENV=development FLASK_DEBUG=True FLASK_APP=path/to/app spyder`. In this way you will have all the environment variables that you need in order to debug the app.

We will work for adding this option in Spyder 5,

[2020-08-24 22:23] Fizz04 commented on #13611
When i run it through the console, i am able to launch Spyder 3.3.3.  I never had to do that before.  Are you saying in order to launch it through Anaconda Navigator now i need 3.3.6?  What changed that 3.3.3 won't launch through Navigator anymore?

I have a second machine which is near-identical. On it i have updated to Spyder.  In Navigator, it says the version is Spyder 4.0.1.  But when i launc

[2020-08-24 22:23] ccordoba12 commented on #13555
Great! Thanks for the confirmation @pgozz!

[2020-08-24 22:26] ccordoba12 commented on #13614
@vighneshrajendrans, thanks for reporting. To try to solve this issue, please close Spyder, open your file explorer on Windows, go to this directory

    C:\Users\Vicky\.spyder-py3

and remove this file

    pdb_history.sqlite

[2020-08-24 22:27] ccordoba12 commented on #13614
@impact27, any ideas on how we could address this error?

[2020-08-24 22:30] ccordoba12 commented on #13620
@laurajanem, thanks for reporting. I think this is a serious issue.

@steff456, even with the installers, people can create a new environment with an unmatching Pandas version and connect Spyder to it. So I think we need to look further at this problem.

Were you able to reproduce it following @laurajanem instructions?

[2020-08-24 22:53] steff456 commented on #13611
You can try to run Spyder 3.3.3 from the console as well, I thought you had installed Spyder 3.3.6.

I think this is an error from Anaconda Navigator rather than Spyder, so please go ahead and open an issue in https://github.com/conda/conda/issues

For you to use Spyder 4 with a Python 2.7 kernel you have to first create an environment of Python 2.7
[code]

Then deactivate this environment and sta

[2020-08-24 23:25] ccordoba12 commented on #13619
@lschneidpro, also, please consider to install Pandas in the same environment you have Spyder (in case you haven't). That could be the root cause of this problem.

[2020-08-24 23:30] Fizz04 commented on #13611
That's what i mean- i can only get Spyder (any other than the base environment version) to work using the console.

Yes, i think so too.  Guess i posted this in the wrong section.  I will post there too.

-Fizz

[2020-08-24 23:44] Fizz04 commented on #13611
Ah, ok, I've actually tried this (though i already had the py27 environment installed).  It gives me a warning that running this version in conjunction with Spyder running 3.7 may cause issues.  So i'd prefer to keep things consistent as before.

Maybe i should go back to the previous version of anaconda.  Is there a way to that?

-Fizz

[2020-08-25 05:35] impact27 commented on #13614
Is there any other program using this file on your computer to your knowledge?
We could catch this error and inform the user to manually remove the file?

[2020-08-25 06:15] thomas-jeffery opened #13622 "saving a file and closing it (ctrl s, ctrl w)"
## Description

### What steps will reproduce the problem?

attempting to save a file throws an error message without any other issues seen.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-25 09:41] lschneidpro commented on #13619
ok super weird.

1) I recreated an environment with python 3.6 and spyder 4.1 and it worked.
2) I recreated an environment (as above) with the latest python, latest spyder, latest pandas and it worked.

I guess the thread can be closed :)

[2020-08-25 09:57] MegaLoMonkey opened #13623 "Unnecessary error when restarting the kernel"
## Description

### What steps will reproduce the problem?

Was not sure that the variables had updated the last time, and if my Python process had hung up.  So wanted to Restart the Kernel

RMB in Console, select "Quit", Then Boom!

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Windows 7

### Depen

[2020-08-25 11:45] #13619 closed

[2020-08-25 14:54] dgreenwald opened #13624 "Internal problem on open"
## Description

### What steps will reproduce the problem?

No steps needed other than opening the Spyder software. It immediately ran into this internal problem without any user input.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Linux 5.8.3-arch1-1

### Dependencies

[code]

[2020-08-25 14:54] #13624 closed

[2020-08-25 15:27] mrclary opened #13625 "Internal Python Language Server error"
## Description

### What steps will reproduce the problem?

Select object in python file and select "Go to definition".

### Traceback
[code]

## Versions

* Spyder version: 4.2.0.dev0 59f8d6bf0
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 19.6.0

### Dependencies

[code]

[2020-08-25 16:39] eendebakpt opened #13626 "Internal problem when typing text in editor"
## Description

### What steps will reproduce the problem?

Type some text in the editor, I will get the message "Spyder has encountered an internal problem!".

### Traceback
[code]

## Versions

* Spyder version: 4.1.2
* Python version: 3.7.7
* Qt version: 5.12.8
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-25 16:40] #13626 closed

[2020-08-25 18:21] #9302 closed

[2020-08-25 18:21] ccordoba12 commented on #9302
This problem was fixed upstream by @steff456 here:

https://github.com/conda-forge/python.app-feedstock/pull/14

Now users need to wait for her fix to be picked up by Anaconda.

[2020-08-25 18:24] ReinierNL opened #13628 "Cannot Open Project"
## Description

### What steps will reproduce the problem?

I started Spyder. It automatically opened the previously loaded project.
I want to open a different project.
So I choose from the menu Projects - Open Project...
Apparently that is when the erro occurs; the Issue reporter appeasr as soon as I press that menu option.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python vers

[2020-08-25 18:24] #13628 closed

[2020-08-25 18:45] steff456 commented on #13622
Hi @thomas-jeffery,
This error is already fixed in 4.1.4, please upgrade your Spyder version by

[code]

Thanks for reporting!

[2020-08-25 18:45] #13622 closed

[2020-08-25 18:51] steff456 commented on #13625
Hi @mrclary,

I cannot reproduce this in actual 4.x branch, can you please provide me a reproducible case or please upload a gif with this behavior.

Thanks for reporting!

[2020-08-25 18:55] steff456 commented on #13611
Please review in the anaconda site if that is possible

[2020-08-25 19:36] steff456 opened #13629 "Layout broken in master branch when using 4.x settings"
## Problem Description

If I don't start Spyder with `safe-mode` in master then I will get the following layout,

![image](https://user-images.githubusercontent.com/20992645/91219346-1c4b9680-e6e0-11ea-873e-bd25a8d1a096.png)

### What steps reproduce the problem?

1. Go to master branch
2. Start spyder without safe mode

### What is the expected output? What do you see instead?

The same layout as

[2020-08-25 22:03] larajan67 commented on #13510
Hi @steff456 ,
I apologize for the delayed response. I am in talks with the code developer to get the code updated in Python 3, which is great news.
I did try your code and it did load all the packages and set up the environment. Yet Spyder still had the same issue as it did before with repeatedly 'restarting kernels' and no code is running.  I did notice when I ran the pip install of spyder-kerne

[2020-08-26 00:45] dalthviz commented on #13557
Note: Related with #8329 and PR #12700

[2020-08-26 03:57] Wusir2018 commented on #13581
@ccordoba12  Thank you for your reply, it helps me a lot. Thank you very much!
Best wishes! 👍

[2020-08-26 04:34] ccordoba12 commented on #13614
This is a good point. Do all Spyder instances use the same `pdb_history.sqlite` to save Pdb command history?

That's a good idea. But why do you think we haven't received an error report like this for IPython consoles before? Is IPython handling differently its own history database?

[2020-08-26 04:36] ccordoba12 commented on #13623
@MegaLoMonkey, thanks for reporting. It seems you were waiting for a value to be retrieved from the kernel when you asked for a restart.

@impact27, do you think we could catch and pass on this error?

[2020-08-26 04:39] ccordoba12 commented on #13601
@CAM-Gerlach, what do you think about adding those functions (with more appropriate names, of course) to the builtins of our kernel?

[2020-08-26 05:26] ccordoba12 commented on #13625
@mrclary, I think the problem is with Jedi 0.17.2. Could you downgrade to 0.17.1 and check again?

[2020-08-26 09:36] Akshaykushawaha commented on #13580
so.. do you think this might be due to some problem with my software ,maybe something wrong with installation or something?

[2020-08-26 09:47] Akshaykushawaha commented on #13580
Thanks for your effort!
i just want to ask you one thing now ,like did u stop the kernel while taking the input or while it was processing because in my system if i stop it while its processing(like if there is an infinite loop or a big calculation) it shows `keyboardinterrupt`  but not while taking an input.

[2020-08-26 10:22] Akshaykushawaha commented on #13580
noo, its not a remote kernel, its a normal console.
i guess as posted by @andfoy , he is using a terminal and i am using a console ,will that make any difference? although i doubt it will.