[2015-03-22 20:47] indranilsinharoy commented on #2250
Also, it seems like there are two issues here ... I manually deleted the files `p_condapackages.py`, `p_condapackages.pyc` and `p_condapackages.pyo` from the `spyderplugins` directory. Now I don't get the error message `ERROR: 3rd party plugin import failed for `p_condapackages``

However, I still get the following error message (in the Spyder's Internal Console)

[code]

[2015-03-22 20:55] stonebig commented on #2250
so now, maybe try in a "normal" console, the
[code]
then if it works, retry in Ipython console.
(I don't clearly guess how your current state sorted itself on my PC, but it did)

[2015-03-23 15:13] indranilsinharoy commented on #2250
@stonebig There is no problem if I type the above code in normal Python console (within Spyder). But the problem exist in the IPython console.

[2015-03-23 16:53] stonebig commented on #2250
You don't have jedi package I hope ? If so, remove it

[2015-03-23 17:01] indranilsinharoy commented on #2250
@stonebig I don't have jedi package.

[2015-03-23 18:49] s0r2637 opened #2261 "In Spyder 2.3.3 on Ubuntu 14.04.2 LTS, the Python console when undocked and used outside the Spyder IDE does not provide the ability for auto-completion"
Hi,

In Spyder 2.3.3 on Ubuntu 14.04.2 LTS, the Python console when undocked and used outside the Spyder IDE does not provide the ability for auto-completion history tracking etc.  Is this intentionally built or is this a bug?  I wish I could undock the Python console from the Spyder IDE and use it in another monitor, but that deprives me of all the cool features I just mentioned above.

Best Rega

[2015-03-23 19:17] dougthor42 opened #2262 "Strange Character in Editor -> Browse Tabs button"
There is a strange character in the Editor -> Browse Tabs button:
![image](https://cloud.githubusercontent.com/assets/5386897/6788279/7c1c6b4e-d155-11e4-8418-73e4f99acc06.png)
It looks to be "Latin Small Letter A With Circumflex" `â` , unicode `0x00E2`, alt-code 0226.

Spyder Version:  2.3.2
Python Version:  2.7.6
Qt Version    :  4.8.4, PyQt4 (API v2) 4.9.6 on Windows
pyflakes >=0.5.0:  0.7.3 (OK

[2015-03-23 20:59] anderwm opened #2263 "Plotting in master branch has issues(2.3 works)"
Plots generated inside a python console cannot be displayed when the code is checked out from Master.  Plotting works as expected in Ipython console, and also works as expected in 2.3.

The plot is generated [matplotlib.lines.Line2D object at 0x7f165e88b110] but can't be .show()  Even with ion() it doesn't display.

[2015-03-23 22:49] ccordoba12 commented on #2262
Thanks for reporting. What Python distribution (if any) are you using on Windows? WinPython or Anaconda?

[2015-03-23 22:59] dougthor42 commented on #2262
WinPython 2.7.6.2

[2015-03-23 23:07] ccordoba12 commented on #2254
Closing because of lack of response. We really can't do anything about this one.

[2015-03-23 23:07] #2254 closed

[2015-03-23 23:09] ccordoba12 commented on #2263
Thanks for reporting, this is a duplicate of issue #2231.

[2015-03-23 23:09] #2263 closed

[2015-03-23 23:12] ccordoba12 commented on #2261
This is a duplicate of issue #1338

[2015-03-23 23:12] #2261 closed

[2015-03-23 23:14] ccordoba12 commented on #2262
@stonebig, can you reproduce this error?

[2015-03-23 23:38] ccordoba12 commented on #2235
Any updates on this one?

[2015-03-23 23:40] ccordoba12 commented on #2209
Good! The problems with the IPython console are known. At least Spyder with Python 2.7 is working well now!

I'm closing this one because I don't think there is anything else to do.

[2015-03-23 23:40] #2209 closed

[2015-03-24 00:45] s0r2637 commented on #2261
I still didnt get it.  How to fix this issue if a fix exists.

Srini
On Mar 23, 2015 6:12 PM, "Carlos Cordoba" <notifications@github.com> wrote:

[2015-03-24 00:49] ccordoba12 commented on #2261
What I meant is that this issue was reported before, in issue #1338. So
it makes no sense to have two open issues that refer to the same problem.

El 23/03/15 a las 19:45, s0r2637 escribió:

[2015-03-24 00:50] s0r2637 commented on #2261
So the problem still exists.  Are u guys still trying to fix the issue?
Thanks in advance.

Srini
On Mar 23, 2015 7:49 PM, "Carlos Cordoba" <notifications@github.com> wrote:

[2015-03-24 00:52] ccordoba12 commented on #2261
Nop, I haven't had time to see what the problem is about it.

El 23/03/15 a las 19:50, s0r2637 escribió:

[2015-03-24 02:38] anderwm commented on #2263
Sorry, I looked for a similar issue... But I guess not hard enough.

On Mar 23, 2015 6:09 PM, "Carlos Cordoba" <notifications@github.com> wrote:

[2015-03-24 02:47] SylvainCorlay commented on #2263
Thanks for reporting anyway.

[2015-03-24 05:20] stonebig commented on #2262
not in the more recent winpythons.... upgrade.

[2015-03-24 11:36] nanders83 commented on #1744
is this fixed yet? I experience the same problem with spyder 2.3.4, ipython 3.0, python 2.7.9 on windows 7 x64. worked before on spyder 2.2.x and ipython < 0.12

[2015-03-24 11:40] thewhitetulip commented on #306
I would like to work on this issue but I don't have any experience working on a GUI application before

[2015-03-24 11:47] jondo opened #2264 ""TODO" should not be labeled with checkmark"
Currently in the editor, lines starting with "TODO" get marked with a checkmark at the left border.

I am associating a checkmark with "done", i.e. the opposite of "todo" ;-)
So I suggest to replace this checkmark, e.g. by a red square.

[2015-03-24 14:53] statmobile commented on #1957
Okay, I'm still having trouble compiling this, but it appears to be a py2app problem with symlinks.  I noticed here in [#2209](https://github.com/spyder-ide/spyder/issues/2209) someone also came across similar issues.  I'm wondering if we can close both of these threads and start an entirely new thread to recruit people to help me figure out an alternative way to build Spyder for OS X since going

[2015-03-24 15:15] allthedata opened #2265 "Add option to set IPython Console completion widget size"
## Description

Would it be possible to have an option to increase the size of the tab completion popup in the IPython console? Because of [this](https://github.com/spyder-ide/spyder/issues/1908) bug that is preventing scrolling using the mouse for me in Windows, and the recent update to IPython that changed tab completion to display fully qualified names (`a.b.c` instead of just `c`), often the l

[2015-03-24 15:59] ccordoba12 commented on #2263
Yes, don't worry about it ;-) Thanks for reporting, this will be fixed
in beta1.

El 23/03/15 a las 21:47, Sylvain Corlay escribió:

[2015-03-24 16:42] ccordoba12 commented on #2264
Probably something for @SylvainCorlay and @goanpeca to be aware of, now that they are working on a new icon set for Spyder.

[2015-03-24 16:57] ccordoba12 commented on #1744
This can be caused by a number of reasons. We're working to improve the situation in our next release.

[2015-03-24 17:16] dougthor42 commented on #2262
Here are the results from the other versions of Spyder/WinPython I have installed:

WinPython 3.4.2.4 has a similar issue, but in this case part of the file path is chopped off:
![image](https://cloud.githubusercontent.com/assets/5386897/6807767/cf1b31be-d20d-11e4-8339-7e128a0e3de2.png)
**Spyder Version:  2.3.2**
Python Version:  3.4.2
Qt Version    :  4.8.6, PyQt4 (API v2) 4.11.3 on Windows
pyfla

[2015-03-24 17:56] stonebig commented on #2262
about the `WinPython version`, I can only reproduce against very recent release of winpython, and your winpython version was too old.
Testing against a my current winpython 3.4 +spyder2.3.4 this morning:
- I didn't have the `â`.
- I didn't have your loss of `path` either.
now checking on a winpython3.4.2.4, for which I have a copy

[2015-03-24 18:15] dougthor42 commented on #2262
Ah I see.

Interesting note about the Qt ``graphic`` bug.

[2015-03-24 18:18] stonebig commented on #2262
I'm on windows 7, on what windows version are you ?

[2015-03-24 18:27] ccordoba12 commented on #306
@thewhitetulip, thanks for your interest in solving this issue. This requires a mix of Python (to grab the list of files and dirs in the current working directory) and Qt (to show the results of that).

A couple of pointers:

1. Terminal is implemented in `spyderlib/widgets/externalshell/systemshell.py`

2. The widget used to emulate the terminal behavior is called `TerminalWidget` and it's define

[2015-03-24 18:30] ccordoba12 commented on #2265
Could you post a screenshot to see what you mean for *fully qualified names* please?

Also, we can't modify this on the Spyder side. But I could create a PR for the IPython project if I understand your problem better.

[2015-03-24 18:35] goanpeca commented on #306
@ccordoba12, maybe we could add a power shell in the case of windows?

[2015-03-24 18:50] ccordoba12 commented on #306
I don't think so. If people wants to use a full-fledged terminal, it's
better for them to open one outside Spyder.

What we provide is just a simple and convenient terminal for small tasks.

El 24/03/15 a las 13:35, Gonzalo Peña-Castellanos escribió:

[2015-03-24 18:51] ccordoba12 commented on #1957
@statmobile, thanks a lot for keep working on this. I have no idea what that error could mean. I haven't encountered so far :-(

[2015-03-24 19:00] dougthor42 commented on #2262
Yeah, Win 7 Pro SP1.

[2015-03-24 19:04] goanpeca commented on #306
fair enough :)

[2015-03-24 19:33] allthedata commented on #2265
Sure, that would be great. I mean that it displays `matplotlib.backends.backend_qt5agg.Figure` instead of `Figure`. Also, the IPython Notebook has a larger completion widget than Spyder does. Though I just realized that for now I can go to Preferences and change the setting to use plain text instead of the completion widget in Spyder.

![picture1](https://cloud.githubusercontent.com/assets/6295582

[2015-03-24 19:51] stonebig commented on #2262
it's a little strange it doesn't react exactly like mine. Qt is not my domain of comfort, so I can't help further on this

[2015-03-24 20:08] ccordoba12 commented on #2262
If @stonebig can't reproduce this problem, it means it's not in our side but something about Qt on Windows.

So I don't know how to proceed from here.

[2015-03-24 20:09] ccordoba12 commented on #2265
Thanks a lot fore the screenshot. @takluyver, is this a known issue? Do you plan to fix it for 3.1?

[2015-03-24 20:25] ccordoba12 opened #2267 "Move Conda Package Manager to its own repo"
Before releasing our first beta, I think we should move the conda plugin to its own repo, under the *spyder-ide* organization of course.

This would have several adantages:

1. The plugin could evolve at its own pace. Right now it hasn't seen more activity after being merged.
2. We would avoid headaches with Linux and MacPorts packagers. They also release packages for our betas, and most probably

[2015-03-24 20:28] goanpeca commented on #2267
@ccordoba12 actually I have always wanted to do this so fine by me.

So.. you create the repo and give me admin rights so I can start uploading it?

Should we make it a namespace package? or a package on its own that adds a hook and registers as a plugin for spyder?

[2015-03-24 20:34] ccordoba12 commented on #2267
Great! I'm really glad you agree with me ;-) I thought you were going to be opposed to the idea because it sounds like we are not giving enough credit to your work.

But as I said before, I think your plugin is really important and it's going to be game changer for Spyder **3.0** (yes, after a lot of thought, I decided to move to 3.0)

So what would you like as the repo name?

----

I think it sho

[2015-03-24 20:39] goanpeca commented on #2267
Hahaha, thankfully I am beyond puberty so the credit issue should not be a problem ;-)

Hmmmm well, actually I dont have a clear idea on the name for the repo, or the package... hmmm
`condamanager` `conda-manager` `conda-installer`, `conda-gui` ?

[2015-03-24 20:41] ccordoba12 commented on #2267
Well, GH is a (powerful) way to get programming jobs by showing off what you can do, so it's better to ask these things with *pies de plomo* ;-)

I think `conda-manager` is fine. We could change it later if you want.

[2015-03-24 20:42] goanpeca commented on #2267
ok `conda-manager

[2015-03-24 20:44] goanpeca commented on #2267
Actually this gives me more freedom to quickly check the problems with qt5 plus some additional functionality...

Side comment, I am having some issues with pyside, because apparently it does not include https support... and fetching the continuum (now) requires https.... any thoughts on that?

[2015-03-24 20:47] ccordoba12 commented on #2267
PySide is not supported by Continuum anymore. Since `conda-manager` is going to live outside Spyder, you can just drop support for PySide.

----

Do you want to give someone else admin access?

[2015-03-24 20:48] goanpeca commented on #2267
@Nodd, (and you of course :p )

[2015-03-24 20:49] goanpeca commented on #2267
Are we dropping support for pyside as well?

[2015-03-24 20:51] ccordoba12 commented on #2267
Ok. No problem for me because I'm the owner of the organization (so I have admin access for all repos under it).

----

Nop, you need to ckeck under `conda-manager` if Spyder is running with PySide, and avoid loading it if Spyder does.

[2015-03-24 20:53] dougthor42 commented on #2262
Not a problem. It's obviously not a critical bug. I was just reporting it so that it's known. If I have the time I might look into it myself, but since it appears that it's fixed on some newer releases, I won't worry too much about it.

[2015-03-24 20:55] goanpeca commented on #2267
Ok, I will still provide pyside support, I will just have to download stuff with urlib2 or requests, instead of Qt, and it should be fine.

[2015-03-24 20:56] statmobile commented on #1957
No problem, I would like to help get this up and running for everyone on OS X.

I am using the MacPorts install of Python and Qt.  Based upon your [OS X notes](https://bitbucket.org/spyder-ide/spyder-mac-app/src/8678bee94f6632753089949f165926164dadc8a0/Howto%20build%20the%20app.md?at=default), you use homebrew Python and direct downloads of Qt 4.  If you notice, this problem in py2app is choking o

[2015-03-24 20:58] ccordoba12 commented on #2267
Ok, the repo is ready! Since we missed beta1 for March 15th, I was thinking to move it to April 15th and reduce our beta count in one.

So please try to move the plugin and make the corresponding PR here as soon as possible ;-)

[2015-03-24 21:00] goanpeca commented on #2267
Ok, I will move it now, so we can get over with this ASAP, and maybe you get some pressure to have the plugins infrastructure ready ;-p

[2015-03-24 21:16] ccordoba12 commented on #1957
Unfortunately `symlink-qt.py` does nothing right now. I manually sim-linked my Qt installation (using the official Qt installers) to the corresponding package directory in Homebrew. The thing is Homebrew installs a different Qt version for each Mac version, so I thought that could break compatibility among Mac versions.

My recommendation is to forget about it for MacPorts. Also forget about those

[2015-03-24 21:40] takluyver commented on #2265
@Carreau thinks it's a known issue, but I can't find an open issue for it. We'd probably accept a fix.

[2015-03-24 22:40] statmobile commented on #1957
Okay, more progress.  Fixing pyqt4 from MacPorts was a bit of a rabbit hole, but that wasn't the issue.  I did however install PySide in MacPorts, because I have a basic script just to prove you can do a web browser in Python Qt, and I was trying to run that in order to confirm the web framework worked.  Well, apparently that helped, and now I'm crashing here:

[code]

Now, one thing I forgot to m

[2015-03-24 23:52] ccordoba12 opened #2268 "Start testing with pytest/pytest-qt and coverage for Spyder"
I've never thought of creating a test suite because Spyder has a lot of moving parts, and it's hard to sit down and provide a test for each of them.

However, I've heard a lot lately that Spyder is considered unstable by several people. So I think we should start (at least) by testing that Spyder starts with the git-master versions of all its optional dependencies, to notice and fix startup crashe

[2015-03-25 00:21] goanpeca commented on #2268
Having a lot of moving parts is no excuse for not having a full test suite ;-)!

I will take a look at the package you mention.

I can make a PR to include the yaml file to start at least basic tests of starting spyder and let it run for some time (a couple of minutes)

[2015-03-25 02:18] statmobile commented on #1957
Better yet, is there a debug option that I'm not aware of when it comes to compiling with py2app?  The struggle here is that I have no Traceback.

[2015-03-25 03:20] thewhitetulip commented on #306
So if I am not wrong, this terminal works best on *nix, right? and what what features should be implemented in the terminal?

[2015-03-25 10:52] thewhitetulip opened #2269 "Open / import project mode"
Should there be an open project mode for opening projects that are already spyder projects and or opening/importing existing projects that are version control projects & converting them to spyder projects?

[2015-03-25 10:58] thewhitetulip opened #2270 "Full screen mode for each subwindow"
Currently we can't do a full screen to editors, we can dock the subwindow out of spyder, it would be great if we could just do a maximize a particular window within spyder itself so while working on the code we can maximize the window & then restore its state while debugging

[2015-03-25 11:14] goanpeca commented on #2269
Hi @thewhitetulip, there is work in progress for completely revamping projects and handling basic version control for git inside spyder.

[2015-03-25 11:20] goanpeca commented on #2270
I do not understand. The editor can be maximized in spyder as any of the other widgets.

Editor can also be opened in a new window in case you work with multiple monitors.

[2015-03-25 12:22] thewhitetulip commented on #2270
I didn't find the option to maximize the editor, I am trying to say we can maximize the editor `inside` spyder's main window, in eclipse we can do a `ctrl+m` and it maximizes the editor.

What I am trying to say is ability to `maximize` or `minimize` any `view`,
![screenshot from 2015-03-25 17 50 12](https://cloud.githubusercontent.com/assets/6261877/6824341/6c585a42-d317-11e4-8b72-70c3af4b5640.pn

[2015-03-25 12:24] thewhitetulip commented on #2269
Okay, I would only like to make a feature request if it wasn't considered earlier, `import/open project` :)

[2015-03-25 12:24] goanpeca commented on #2270
There is a button that says maximize current pane in the toolbar, and it does precisely that

[2015-03-25 12:26] #2270 closed

[2015-03-25 13:13] thewhitetulip commented on #2270
Okay, will it be a good idea to add another button along right next to the two buttons (next to the object inspector text), the close and detach buttons, it would be intuitive for a user to want to do a full screen from that button instead from the main toolbar, what do you think?

[2015-03-25 13:40] goanpeca commented on #2270
Sure, seems reasonable, please open a new issue to start a clean discussion there on an actual issue.

Please use a meaningful title

[2015-03-25 14:28] thewhitetulip commented on #2270
Okay

[2015-03-25 14:34] thewhitetulip opened #2272 "Add a maximize button for each pane"
Currently if we have to maximize a pane then we have to click on the button on the main toolbar
![screenshot from 2015-03-25 20 00 43](https://cloud.githubusercontent.com/assets/6261877/6826753/a322599e-d329-11e4-803f-b8fb8f464209.png)

A new button can be added right next to the two buttons in the screenshot above, and we can provide help text when a user hovers over the buttons

[2015-03-25 15:02] ccordoba12 commented on #2272
@goanpeca, would you like to work on this one?

[2015-03-25 15:06] goanpeca commented on #2272
yep, its mine

[2015-03-25 15:17] ccordoba12 commented on #2272
If you add the button as part of each pane, then sure, we can remove the one from the main toolbar.

[2015-03-25 15:23] ccordoba12 commented on #2268
Yes, I know, but given my limited time too, either I fixed bugs or wrote tests. But now that I have more time, I can consider this possibility ;-)

Yes, please do it ASAP. I think pandas 0.16 broke us again :-(

[2015-03-25 15:29] ccordoba12 commented on #1957
I'm sorry I can't be of more help here. I haven't seen the errors you reported, nor I'm aware of debugging options for py2app.

Once Anaconda 2.2 is released (expected for next week), I'll move the instructions to use it instead of Homebrew. I'll also move the repo from Bitbucket to Github :-)

I think those changes will help you to have a more reliable way to build the app, for PY2 and 3.

[2015-03-25 15:37] ccordoba12 commented on #306
@goanpeca, yes, the terminal is working only on Windows.

@thewhitetulip, we dropped support for Linux a long time ago because people was complaining that we were not supporting this or that (like PS1 or ssh'ing into another machine). So I think either we should leave it like that, or use something like [qbash](https://github.com/olitheolix/qbash).

[2015-03-25 16:03] Jenzzz opened #2273 "About spyder"
## Description

* *What steps will reproduce the problem?*
main menu    Help -> About Spider...

* *What is the expected output? What do you see instead?*
Expected output: I suppose is should be 2010 - 2015
I believe there is a typo in the Copyright year, 2010 - 1015.

* *Please provide any additional information below*

## Version and main components

* Spyder Version:  2.3.3
* Python Version:  3

[2015-03-25 16:47] thewhitetulip commented on #306
@ccordoba12 haha I can imagine people complaining about features!
while I totally agree that we can't possibly provide a complete bash inside to the terminal, but I feel there should be a fully functioning yet crippled terminal emulator at least for small tasks, for eg if someone is programming django then I would need to open another bash just for running the project. I will look into qbash as so

[2015-03-25 16:51] statmobile commented on #1957
I looked it up, and I've been running it with:

    python create_app.py py2app --debug-skip-macholib

That's been bringing me to a pdb prompt, and I came across issues with pylint and pep8 modules not being used appropriately in my MacPorts install.

I am making progress, but are you saying I should table it, and wait for the Anaconda release?

[2015-03-25 18:26] hg2051 commented on #1001
Tools-->Current user environment variables-->OK-->Right click-->Insert-->Key-->en-US-->OK.
Exit, restart.

[2015-03-25 19:20] dhoegh commented on #2268
:100:,  at least some parts have a decent test by `if __name__ == '__main__':` but they do not get executed often and hence do break without anybody noticing.

[2015-03-25 19:38] ccordoba12 commented on #1957
Well, we should be able to build the app with any underlying Python
installation. If you want to continue using MacPorts, I see no problem
with it :-)

I'm just saying that I'll try to use Anaconda instead of Homebrew to
build the app.

El 25/03/15 a las 11:51, statmobile escribió:

[2015-03-25 19:41] Nodd commented on #1715
For information, 1. is now fixed upstream: https://github.com/pickleshare/pickleshare/pull/1

[2015-03-25 20:09] statmobile commented on #1957
I hit a brick wall, unfortunately anyway.  I'll try to keep an eye open for when Anaconda 2.2 is released as well, and pick up from there.  At least we'll both be starting from the same point there, and I've been meaning to try out Anaconda for a while.

[2015-03-25 20:18] Nodd commented on #2267
That's a good idea to separate it from stock spyder:
* it's completely useless if you're not using Anaconda
* it can be run standalone without spyder

It's also a good opportunity to check if a package can be installed as standalone while having a part in a namespace package (just to load the main module). It would be very nice for future plugin devs.

[2015-03-25 20:22] Nodd commented on #2250
There is a switch in spyder's preferences to jump to the internal console in case of errors. It should be disabled by default, but maybe it is checked for you ?
Since the message is only a warning, it wouldn't bother you anymore and we would have more time to fix it properly.

As I understand, the message only warns that the deprecated API may be removed sometime in the future, it should leave us

[2015-03-25 20:26] Nodd commented on #2268
A test suite should run every test everytime, otherwise it's not a testsuite but just help to develop faster.

That said it's hard to do for GUIs, slow and boring ;)

[2015-03-25 20:30] SylvainCorlay commented on #2268
Running the parts that have a `__main__` function in batch as part of the TravisCI script could still be a first step as in checking that things "build".

[2015-03-25 20:37] Nodd commented on #2268
:+1: Didn't think about that.

[2015-03-25 20:47] Nodd commented on #2273
Thanks, it was fixed in a465b2a345484aeb6f09deaf100570b30af8e8f1

[2015-03-25 20:47] #2273 closed

[2015-03-25 20:51] Nodd commented on #2272
:+1:

[2015-03-25 21:15] goanpeca commented on #306
@ccordoba12 qbash is GPL, is that an issue?

[2015-03-25 21:18] goanpeca commented on #2268
I already had started doing this that @SylvainCorlay  mentions (testing the mains inside the widgets). I can get that working for the weekend.

[2015-03-25 21:20] goanpeca commented on #2267
@Nodd I am working on that basically. Basically when you install... the setup.py

[2015-03-25 21:29] Nodd commented on #2235
Yes, super without arguments is not supported in python2. I found no webpage explicitly stating that it has not been implemented in python2, but it can be deduced from these links:
https://docs.python.org/3.0/whatsnew/3.0.html#builtins
https://www.python.org/dev/peps/pep-3135/
https://docs.python.org/3/library/functions.html#super
https://docs.python.org/2.7/library/functions.html#super

Finally,

[2015-03-25 21:34] Nodd commented on #2267
Then you don't need to declare that it's a namespace package ? If not, is there a risk that the previous files in ```spyderplugins``` could be erased when installing conda-manager ?

[2015-03-25 21:37] goanpeca commented on #2267
I will have to test, I would not expect that to happen though

[2015-03-25 21:39] Nodd commented on #2268
Actually the main testing platform are nose and pytest (please don't use unittest!).
tox is used to run these tests under different environments and can run either pytest or nosetests.
I don't know about QTest but I guess it can be integrated into both (to be confirmed).

*nosetest* has the advantage of being used by numpy, which provides testing functions for arrays, but it's not really important

[2015-03-25 21:49] Nodd opened #2274 "Can not start spyder under python2 because guidata doesn't support PyQt5"
Started from bootstrap.py with today's last master:
[code]

[2015-03-25 21:51] Nodd opened #2275 "Can not report issue from dev version"
[code]
It looks like this code is for mercurial and has no been updated for git: https://github.com/spyder-ide/spyder/blob/master/spyderlib/spyder.py#L2270

[2015-03-25 21:56] ccordoba12 commented on #1001
This was asked several times, so we need an option in Preferences to do it.

[2015-03-25 21:59] ccordoba12 commented on #2235
We only have been able to run Spyder with PyQt5 under Python 3, but this should be fixed for beta1.

[2015-03-25 22:01] Nodd commented on #306
Why bash ? I want my [fish shell](http://fishshell.com/) ! I'm joking here (well, fish shell is great !) but it will be hard to meet the standard's linux geek's expectations.

A simpler (?) way to do this would be to grab the window into Qt, if I remember well the class to use is http://doc.qt.io/qt-4.8/qx11embedcontainer.html. It would be for Linux only (maybe mac ?) because it needs X11.

[2015-03-25 22:04] ccordoba12 commented on #2268
I think QTest's can be created with pytest-qt, so I'd propose to use it (if that's the case :-)

@goanpeca, please move the tests out of widget and plugin files and into a `test` directory, placed in the `spyderlib` directory.

[2015-03-25 22:07] ccordoba12 commented on #2275
I'll take a look at it, although I did update the code to work with git.

[2015-03-25 22:10] ccordoba12 commented on #2274
This is not an issue with Spyder but with guidata. It seems it doesn't support Qt5?

Since guitadata is now on Github, please report this issue there https://github.com/PierreRaybaut/guidata/issues

But until @PierreRaybaut fixes this error, we need to fix the crash in our side :-)

[2015-03-25 22:13] ccordoba12 commented on #306
@goanpeca, I opened an issue in their repo to ask for a change in license.

@Nodd, yes, that's a good option but someone would have to do it ;-)

[2015-03-25 22:17] Nodd commented on #2274
Yeah, the doc states that it requires PyQt4, so it's not a bug but a missing feature. The last commit is 2 years old, is it still maintained ?

[2015-03-25 22:22] goanpeca commented on #2268
QTest has a gotcha, it only works with PyQt4/PyQt5, but not PySide... so in that case, pytest and pytest-qt would be the option to take

@ccordoba12 ok, I prefer `tests` ? but `test` is also fine....

[2015-03-25 22:25] Nodd commented on #2275
You at least forgot to update the comment ;)

[2015-03-25 22:25] goanpeca commented on #306
@Nodd, I like the embedding option... would be the simplest!, and for windows we could improve a bit to complete dirs... :)

[2015-03-25 22:27] ccordoba12 commented on #2274
I don't know :-)

[2015-03-25 22:29] ccordoba12 commented on #2268
Oh, sorry. `tests` is fine!

[2015-03-25 22:29] Nodd commented on #306
@ccordoba12 qbash is based on pyte which also is GPL. It lists other terminal emulator libraries, that can be useful.

I remember now when I tried it for another project that I had problems with tabs, the window was not hidden when the corresponding tab was not focused. This was just a quick test however,; it may have been fixed or there are possible workarounds.

[2015-03-25 22:30] ccordoba12 commented on #2268
But should it be inside `spyderlib` so that people can run our test suite when Spyder is installed?

[2015-03-25 22:31] ccordoba12 commented on #2275
Mmmh, I see what's happening now! :-)

[2015-03-25 22:33] ccordoba12 commented on #306
Then it should need to be an external plugin.

[2015-03-25 22:35] goanpeca commented on #2268
tests are not meant for users... are meant for us..., no?

Besides in travis the proces is to clone the repo.. and the do something like

```bash cd tests`

[2015-03-25 22:35] Nodd commented on #2133
Relocated in https://github.com/spyder-ide/conda-manager/issues/1

[2015-03-25 22:35] #2133 closed

[2015-03-25 22:37] Nodd commented on #2132
Relocated to https://github.com/spyder-ide/conda-manager/issues/2

[2015-03-25 22:37] #2132 closed

[2015-03-25 22:38] Nodd commented on #2131
Relocated to https://github.com/spyder-ide/conda-manager/issues/3

[2015-03-25 22:38] #2131 closed

[2015-03-25 22:39] Nodd commented on #2130
Relocated to https://github.com/spyder-ide/conda-manager/issues/4

[2015-03-25 22:39] #2130 closed

[2015-03-25 22:51] Nodd commented on #306
Exactly what I thought, but I forgot to write it...

[2015-03-25 22:56] Nodd commented on #2268
tests are mostly meant for devs, but it would be good if someone reports an issue to ask him to run ```spyder --run-tests``` (or similar) to check if there are any problems here. It's easier than asking them to clone the repo first.

In my project I usually create a ```ŧests``` directory in each module I want to test, so that
* the tests are close to the code they test so it's easier to write
* th

[2015-03-25 23:11] Nodd opened #2276 "Freeze when opening external terminal"
If I try to open an external terminal, spyder freezes and no terminal opens. I have to use ```kill -9``` to terminate it (a simple kill is not enough).

I can launch a script in an external terminal without any problem.

[2015-03-25 23:16] goanpeca commented on #2268
Well I would rather have a single repo wide `tests` folder but that is just me...

[2015-03-25 23:36] ccordoba12 commented on #2276
What do you mean then by

And are you on master or on 2.3.4?

[2015-03-25 23:37] ccordoba12 commented on #2276
Sorry, are you on Windows or Linux?

[2015-03-25 23:41] ccordoba12 commented on #2268
Ok, let's leave it under the root directory for now (i.e. next to `spyderlib` and not inside it)

[2015-03-26 00:25] petebachant commented on #2268
Chiming in here to note that, for example, both Numpy and Pandas include a `tests` package inside their main packages, like @Nodd is describing.

[2015-03-26 01:05] blink1073 commented on #2268
I'm :+1: for `pytest` and `pytest-qt`.  I'd also argue that the tests should be under `spyderlib`.  This can provide invaluable feedback for users to be able to run the tests on their system and provide us with feedback.

[2015-03-26 02:59] thewhitetulip commented on #306
@ccordoba12 I don't understand why there is an issue with license. I also didn't understand why it should be an external plugin, I was thinking we can open a Qtwindow and show the terminal inside of it, won't it work?

[2015-03-26 04:09] Stretch97 commented on #2034
Perhaps I am doing something wrong, but I just tried hitting the "debug" button in v2.3.4, and I still have to hit the "continue" button to actually start debugging, just like in v2.3.3.  In case it matters, I installed Spyder using pip with Enthought Canopy.

[2015-03-26 04:09] indranilsinharoy commented on #2250
@Nodd Thank you very much. I have unchecked it, and I don't experience the "switch". Helps a lot!!!

[2015-03-26 08:05] Nodd commented on #306
The problem with the GML license is that if you include any GPL part, the program as a whole has to be distributed as GPL, while it has currently a more permissive license.
If it is used as an external plugin, only tje plugin has to be distributed as GPL, not the main program.

[2015-03-26 08:05] greenorca opened #2277 ""TypeError: decoding Unicode is not supported" when debugging"
## Description
After updating to Spyder2.3.4, I notice some strange behavior:
* running a script (F5) that loads other modules works fine
* running the same script (F5) with an additional line "pdb.set_trace()" will produce the above error
* the line position of the pdb call doesn't matter
* running the same script in a standalone ipython console works well (including the pdb call)

I haven't seen

[2015-03-26 08:08] Nodd commented on #2276
Oh sorry, I'm on master branch on Linux.
The command is in the menu *Tools > Open a terminal*

[2015-03-26 08:12] goanpeca commented on #2268
Ok so we need to vote here, cause it seems opinions are divided! haha

[2015-03-26 08:12] Nodd commented on #2277
I can't reproduce it with master branch on Arch Linux. I didn't try with 2.3.4

Is there a full stack trace in addition to the line in the title ?

[2015-03-26 08:18] greenorca commented on #2277
I've never seen this issue with previous versions of Spyder (2.2, 2.3.3...)
Is that the stack trace you want:

  File "<ipython-input-13-b9ce967c29ed>", line 1, in <module>
    runfile('/mnt/data/Research/001_Tegut/Python/AgentSystem_003_paper/opti_ants_V2_006_bastel.py', wdir='/mnt/data/Research/001_Tegut/Python/AgentSystem_003_paper')

  File "/usr/local/lib/python2.7/dist-packages/spyderlib/wid

[2015-03-26 08:30] greenorca commented on #2277
Addon: just installed pyflakes, pep8 and pylint using pip.
Odd behavior still the same.
Above used scripts were working well with Spyder 2.3.3

[2015-03-26 08:34] greenorca commented on #2277
Solution: cleared all Spyder breakpoints (many existed in the module that was called). Now script runs fine with the pdb.set_trace() line and new breakpoints set up in the submodules.

Sorry for bothering, thanks a lot!
:-)

[2015-03-26 13:17] thewhitetulip commented on #306
we'll create a plugin then..

[2015-03-26 13:29] Nodd commented on #2268
Well it seems that we all agree about pytest, that's a good start !

As for the position in the repo, here are the votes from the comments:
**/tests**
* @goanpeca
* @ccordoba12

**/spyderlib/tests**
* @blink1073
* @Nodd

Here are my opinions
**/test**
**+** Clearly separated from the code
**-** Not installed with spyder so users can not run tests

**/spyderlib/tests**
**+** Can be run without havi

[2015-03-26 13:32] Nodd commented on #2246
I can't reproduce it under Linux.
Did you change the python interepreter or is it the same as spyder ?

[2015-03-26 14:40] goanpeca commented on #2268
![image](https://cloud.githubusercontent.com/assets/3627835/6848593/6b061fc8-d3ce-11e4-8041-8972d3870bc8.png)

[2015-03-26 14:41] blink1073 commented on #2268
In the end, Carlos has the trump card, so @Nodd  and I just need to work on him.  :smile:

[2015-03-26 14:42] goanpeca commented on #2268
Its ok, lets do it on `spyderlib/tests` I will have nightmares but otherwise I will survive, and no need to tub on @ccordoba12, he originally wanted that as well anyway!

[2015-03-26 14:42] blink1073 commented on #2268
I would also argue that shipping with a test suite sends a strong message as an IDE.

[2015-03-26 14:42] goanpeca commented on #2268
sends a strong message that we should have done this a long time ago ;-)

[2015-03-26 14:43] blink1073 commented on #2268
:tongue:

[2015-03-26 14:44] blink1073 commented on #2268
@goanpeca, I can maintain the `.travis.yml` script.  I have a lot of battle scars from doing so for `scikit-image`

[2015-03-26 15:01] ccordoba12 commented on #2276
Ok, I'll take a look at it for beta1

[2015-03-26 15:03] goanpeca commented on #2268
@blink1073 I have written a yml already using minconda only

You can see [here](https://github.com/goanpeca/QtPy/blob/master/.travis.yml) I know I could have made the file shorter, but assigning the matrix directly gave me the flexibility I needed

[2015-03-26 16:17] ccordoba12 commented on #2277
Grrr, another error that I didn't noticed. It'll be fixed in 3.0 now ;-)

[2015-03-26 16:27] #2277 closed

[2015-03-26 18:10] Graslandpinguin opened #2278 "Git-Bash console"
Hello,

is it possible to open a git-bash console instead of the normal console?(working under windows)

I know, I can simply call `Git\bin\sh.exe --login` but then there is no prompt, syntax highlighting and what else else.

regards

[2015-03-26 18:57] ccordoba12 commented on #2278
Nop, sorry. We don't support Git-bash console, just `cmd`.

[2015-03-26 18:57] #2278 closed

[2015-03-26 21:31] greenorca commented on #2277
Incredible response time :+1:
Anyway, clearing the bulk of breakpoints that were set in the modules with the previous version of Spyder (2.3.3) solved the issue.
Thanks a lot

[2015-03-26 22:05] goanpeca commented on #2268
should we also use www.appveyor.com for windows testing?

[2015-03-26 22:26] kochemir opened #2279 "Can't start spyder"
Spyder suddenly stopped launching. Console message appears for a second, the error message is copied below:

File "C:\Python27\Scripts\spyder-script.py", line 5, in <module>
   from pkg_resources import load_entry_point
 File "build\bdist.win32\egg\pkg_resources\__init__.py", line 3038, in <module

 File "build\bdist.win32\egg\pkg_resources\__init__.py", line 617, in _build_m
ter
 File "build\bdis

[2015-03-26 22:38] blink1073 commented on #2268
I'd say not at first.  Lets get the basics working.

[2015-03-26 23:22] ccordoba12 commented on #2279
Try to open a terminal (`cmd.exe`) and run

    spyder --reset

Other than that, I don't know how to help you because I don't see anythong related to Spyder in the error you pasted.

Please report this problem with PythonXY maintainers to see if they can help you.

[2015-03-26 23:22] #2279 closed

[2015-03-27 08:15] Nodd opened #2280 "Hide Tour widget instead of letting clics pass through"
#2204 was fixed by using ```self.setAttribute(Qt.WA_TransparentForMouseEvents)```. While this fixes the issue, it's not very clean. The correct solution is to use a dummy widget, as can be seen in https://github.com/Nodd/spyder_autopep8/pull/13

[2015-03-27 09:05] goanpeca commented on #2280
Ok  Monsieur "correct solution" :wink:

[2015-03-27 10:11] Nodd commented on #2280
;)
Actually I forgot one thing : there should be either an example or even better a base class for plugins without a dockwidget. The absolute correct solution would be to add this then use it. It will be a common problem for plugin devs.

[2015-03-27 20:34] ccordoba12 commented on #2267
@goanpeca, I saw that you moved the plugin to the conda-manager repo already. Do you want to do a PR to remove it from here? Or do you prefer me to do it?

[2015-03-27 20:37] ccordoba12 commented on #2268
Just a little comment: I also think it's better to have our tests as part of the package rather than without it. That will make beta testers life easier too :-)

[2015-03-27 20:38] ccordoba12 commented on #2265
@takluyver, I can give it a try. Any pointers on where to start looking?

[2015-03-27 21:17] goanpeca commented on #2267
I just copy pasted... not working right now :p, but sure I have all files anyway so feel free to give proper burial to my child ;-)

[2015-03-27 21:19] goanpeca commented on #2268
Ok I wil make the first PR if you are all ok with that?

For now I have these tests running https://travis-ci.org/goanpeca/spyder/builds/56129095

Not much for now, just starting spyder to see if it runs and shut downs with a timer after 30 seconds.

[2015-03-27 21:31] MatthieuDartiailh opened #2282 "Incorrect setting of Qt API n°2"
Even when the API n°2 is selected some Qt objects still use the API n°1. I typically get this type of warning each time I run one of my program (which use the enaml library which sets those to API n°2) :

Warning/PyQt4-Spyder (API 'QDate' has already been set to version 1)
Warning/PyQt4-Spyder (API 'QDateTime' has already been set to version 1)
Warning/PyQt4-Spyder (API 'QTextStream' has already b

[2015-03-27 23:31] Nodd commented on #2282
:+1:

[2015-03-28 00:14] ccordoba12 commented on #2282
Is this happening in 2.3.4 or in master? Qt API 1 won't be supported since Spyder 3.0, and we are not going to release more bug fixes for 2.3.

So my recommendation would be to switch to master, and if you continue to see these errors, then we can see what we can do about them. Else, you should wait unitl 3.0 is released (hopefully in the summer :-)

[2015-03-28 13:59] mayouf opened #2283 "Spyder stops running by creating a simple data frame"
Hi every one,

I got a weird behavior with my spyder.

I got a w7 pc with 16 gb of ram and a 125 gb ssd. I use only python console, no ipython at all.

I 've been testing some stuff with the panel from pandas. And I don't know why, my spyder keeps freezing every time I do this code below :

import pandas as pd
from numpy.random import randn

x=randn(4,6)
x=pd.DataFrame(randn(4,6))

I had to retart

[2015-03-28 14:28] mayouf commented on #2283
It got really crazy for me, no way to use spyder,,,,even if I restart spyder.
So upgraded pandas from 0.14 to 0.16 version with a "pip install --upgrade pandas".
It didn't work again. Then I did a "conda update spyder". I started spyder again....it worked !!!

But i wonder why it had that behavior...

[2015-03-28 14:28] #2283 closed

[2015-03-28 15:05] Stretch97 commented on #2245
Unfortunately, I still am having trouble with this in v2.3.4.  The debugger works properly when I import a module that is in the same directory as my script.  However, I still get

    fname = unicode(fname, "utf-8")
TypeError: decoding Unicode is not supported

when I import a module that is somewhere else on my PYTHONPATH.

[2015-03-28 16:32] myeomans opened #2284 "Very slow boot time on Mac"
Hi, I switched from windows to Mac recently and noticed that Spyder takes a very long time to start up when I try to open the program. I'm talking, like, 30min to maybe an hour or two sometimes. I still use it because it's a phenomenal program, but the long boot time is really annoying. It didn't happen on my old windows machine, so I don't know what the issue is. Any idea what's up? If there's a

[2015-03-29 15:05] MatthieuDartiailh commented on #2282
I can confirm that this still happens into latest master.

[2015-03-29 18:17] ccordoba12 commented on #2283
Yes, this error was fixed in Spyder 2.3.2. By the way, you shouldn't mix conda and pip packages, that could lead you to hard to debug problems.

[2015-03-29 18:28] ccordoba12 commented on #2284
Questions:

1. What Spyder version are you using?
2. What Python version?
3. How did you install Spyder?

We have a menu entry under the `Help` menu called `Report a bug` that will give us all this information (and more) when you report a bug here (since Spyder 2.3.3), so please use it next time that you have troubles.

[2015-03-29 18:31] ccordoba12 commented on #2282
Ok, I don't understand that can be happening in this case. So please give us a simple and reproducible example that we can use to test and fix this problem in our side.

[2015-03-29 19:08] ccordoba12 commented on #2245
I missed that other instance of `fname = unicode...`. The fix is simple and I don't think it requires us to do another release.

Please take a look at issue #2277 to see where the fix needs to be applied.

[2015-03-29 21:56] goanpeca commented on #2272
Ok, so I took a look at this one. There should be a shorter way of doing this, but in Qt if you want a custom look/behaviour/widgets in the title bar of a QDockWidget you need to implement a new TitleBar widget. This is a pre test before I "mess up" the code in the dockwidgets of spyder. With the new icon there should be no awkwardness in the icons (as you can see now).

The good news on top of th

[2015-03-30 02:22] Stretch97 commented on #2245
Good to hear it can get fixed easily and that I won't have to wait for another release!

I am confused by your suggestion to "see where the fix needs to be applied".  As just a user of spyder, I don't know where the fix should be applied.  Did you mean "whether" instead of "where"?   I took a look at #2277, and it looks like @greenorca fixed his/her problem by clearing the breakpoints from importe

[2015-03-30 03:14] Garrett-R opened #2285 "Copying from Spyder and pasting into LibreOffice displays strange comments"
I'm on Ubuntu 14.04 and I just tested this on the latest Spyder (commit 43825ba).

Copy some code from Spyder, then paste it into LibreOffice, and it'll have strange comments.  I believe it should just be copying text to the clipboard.

![screenshot from 2015-03-29 20 14 08](https://cloud.githubusercontent.com/assets/6614695/6889683/3387543e-d650-11e4-8121-4ea72dc2d399.png)

[2015-03-30 03:25] thewhitetulip commented on #2272
Looks great :+1: I didn't understand where is the box around the title bar.

[2015-03-30 08:19] mayouf commented on #2283
Thanks for letting us know about the bug and the tips about conda and pip package.

[2015-03-30 09:24] Nodd commented on #2272
I think that the box depends on your OS/Theme.

[2015-03-30 09:28] Nodd commented on #2282
I have the same problem. With a `grep setapi` I found:

    spyderlib/qt/__init__.py:34:        sip.setapi('QString', 2)
    spyderlib/qt/__init__.py:35:        sip.setapi('QVariant', 2)

There are other apis that are not set to version 2, see http://pyqt.sourceforge.net/Docs/PyQt4/incompatible_apis.html
The fix is very easy, it's only a matter of using `setapi` on missing values.

[2015-03-30 09:35] Nodd commented on #2285
I have the same problem. A workaround is to paste with no formatting, but it should work out of the box.

I think that the problem comes from metadata that is either incorrectly set or incorrectly read.

[2015-03-30 14:23] goanpeca commented on #2272
@ccordoba12 I want to make a PR on this, but before I want to ask, should the new TitleBarWidget be created as a widget in `spyderlib/widgets` directory? or should it go directly in the `spyderlib/plugins/__init__.py`  (where the `SpyderDockWidget` class is located) ?

[2015-03-30 14:40] goanpeca commented on #2272
![image](https://cloud.githubusercontent.com/assets/3627835/6898621/7e25d49c-d6fb-11e4-9e54-8262b5533d12.png)

[2015-03-30 14:49] Stretch97 commented on #2246
Well, I upgraded to 2.3.4 and deleted my ~/.spyder2/ preferences directory.  The problem is gone now.   Sorry for the trouble.

[2015-03-30 14:49] #2246 closed

[2015-03-30 14:57] Nodd commented on #2272
I would put them with `SpyderDockWidget`. Also spyder-wise it's not a widget but more like a component of other widgets.

[2015-03-30 15:03] goanpeca commented on #2272
Good :) that is where I was putting them :p :+1:

[2015-03-30 18:50] quarkup opened #2287 "Cannot use backslash as comment shortcut"
Cannot use Backslash as a shortcut, eg: Ctrl+Backslash (\\) to comment out lines (meta/windows + \ also does not work).

Framework: spyder 2.3.4, python 3.4.3, windows (x64).~

Possibly due to the fact that '\' is a special symbol with programming needs special attention (\ -> \\\\ ?).

Best regards

[2015-03-30 20:46] goanpeca commented on #2272
Ok, now there is an issue... maximized widgets (for some reason) hide the title bar (custom or not) so basically the option to minimize it will be hidden, unless I change this behavior.

Any comments on this @ccordoba12

[2015-03-31 08:37] cbrnr opened #2289 "Disable icons in menus on Mac OS X"
Most OS X apps do not include icons in their menus. It would be nice to have an option to disable icons on Mac OS X (maybe this should even be the default behavior).

[2015-03-31 08:50] goanpeca commented on #2289
Hi @cle1109 can you post a couple of images of how spyder looks in your setup, and how another "normal"applications look? just to get the feeling of the issue?

Cheers

[2015-03-31 09:09] cle1109 commented on #2289
Sure! Here are some Spyder menus:

![spyder-mac-00](https://cloud.githubusercontent.com/assets/4377312/6915623/e0b8aa4a-d795-11e4-9dac-741d4e91bd61.jpg)
![spyder-mac-01](https://cloud.githubusercontent.com/assets/4377312/6915627/ebd0455a-d795-11e4-805a-2f6b0766b0ab.jpg)
![spyder-mac-02](https://cloud.githubusercontent.com/assets/4377312/6915631/f191566e-d795-11e4-89c5-73d79112b4ce.jpg)

Menus of r

[2015-03-31 10:56] goanpeca commented on #2289
Seems reasonable, what do you think @ccordoba12?

[2015-03-31 14:08] ccordoba12 commented on #2245
Sorry for not being clear enough @Stretch97. I meant that you need to look at the *commit* referenced in #2277 and apply it yourself to `sitecustomize.py`. It's just a three line patch.

[2015-03-31 14:12] ccordoba12 commented on #2283
@mayouf, the new pandas version is now available through conda.

Besides, my advise is directed to packages that are directly available through conda and that come with C and/or Fortran extensions. Using `pip` to install Python-only packages is a good strategy :-)

[2015-03-31 14:15] ccordoba12 commented on #2282
Thanks @Nodd for the reference and @MatthieuDartiailh for the PR. That's definitely the way to go as a team!!

[2015-03-31 14:27] ccordoba12 commented on #2289
We just need to disable icons for menus on Mac, period :-) There is no need to add an option for this.

As @cle1109 rightly points out, icons in menus are not part of Mac applications at all, so we need to follow that convention too.

[2015-03-31 14:29] goanpeca commented on #2289
Good!

since I do not work on a Mac (although I could make the PR) I think is better that someone with access to one takes this one, right?

[2015-03-31 16:36] ccordoba12 commented on #2287
We use `Ctrl+1` to comment lines. I don't know if `Ctrl+\` is allowed by Qt or not, but someone else would need to check that and (if possible) implement the necessary changes in our source code :-)

I see this as very low priority right now.

[2015-03-31 16:40] ccordoba12 commented on #2285
Does this happens when copying from the Editor or from our consoles?

I really don't understand why this is happening. We'll need to investigate further to see if we are changing/adding things when copying.

[2015-03-31 17:13] ccordoba12 commented on #2267
Ok, so to remove the plugin I deleted these files so far:

* external-py2/conda_api_q.py
* external-py3/conda_api_q.py
* spyderplugins/p_condapackages.py
* spyderplugins/widgets/condapackagesgui.py
* spyderplugins/data

Is there anything missing @goanpeca?

[2015-03-31 17:18] goanpeca commented on #2267
Yes images inside `images`

[2015-03-31 17:18] ccordoba12 commented on #2267
Which ones?

[2015-03-31 17:19] goanpeca commented on #2267
Anything that starts with `conda_`, should be clear ;-)

[2015-03-31 17:23] goanpeca commented on #2248
Well I think now that conda was removed from the main repo, we can close this?

@Nodd ?

[2015-03-31 17:23] #2267 closed

[2015-03-31 17:42] ccordoba12 commented on #2248
Yes, let's close this one. Just for reference, let's mention here that this was fixed by commit c03f9293b1b79b1d28d30f4e8714401039b7e1c5

[2015-03-31 17:42] #2248 closed

[2015-03-31 18:08] Garrett-R commented on #2285
@ccordoba12, sorry, I forgot to say it happens from the editor, and does not happen when copying from the console.

[2015-03-31 20:33] goanpeca opened #2292 "Change main package inside spyder, from spyderlib to spyder"
Is there any reason to keep the name `spyderlib` as the main package inside spyder?

If no, why not change it to spyder @ccordoba12 ?

[2015-03-31 21:13] ccordoba12 commented on #2292
This is essentially a duplicate of issue #1320. The main purpose of moving the major version to 3.0 is precisely to do this change (and also a bit of reorganization).

[2015-03-31 21:13] #2292 closed

[2015-03-31 21:41] goanpeca commented on #2292
Great :-)

[2015-03-31 21:45] goanpeca commented on #1320
@ccordoba12 is there a layout for the new repo organization, so we can have a talk on that??

Also I would like to move the "third party plugins" to normal spyder plugins (since you say they are part of the core of spyder), which would allow us to remove the spyderplugins folder inside the repo (and avoid in install)

[2015-03-31 23:02] #2250 closed

[2015-04-01 00:03] #2282 closed

[2015-04-01 00:29] ccordoba12 commented on #2276
I can't reproduce this problem.

Could you test again? I merged PR #2247 some days ago that could help to solve this problem.

[2015-04-01 00:54] #2275 closed

[2015-04-01 01:46] ccordoba12 commented on #2274
@Nodd, I can't test this because Ubuntu doesn't have pyqt5 for Python 2.

Please test it in your side and report back if my commit fixes the problem for you.

[2015-04-01 01:54] Stretch97 commented on #2245
I just tried the commit referenced in #2277, and it did not work.  I then changed the commit from

    if sys.version[0] == '2':
        try:
            filename = unicode(filename, "utf-8")
        except TypeError:
            pass
    lineno = frame.f_lineno

to

    if sys.version[0] == '2':
        try:
            fname = unicode(fname, "utf-8")
        except TypeError:
            pass

[2015-04-01 14:30] wigging opened #2294 "Anaconda 2.2 update causes Spyder to crash on KDE based Linux distros"
After installing the latest version of Anaconda 2.2 on a Linux machine, I could not launch Spyder or other python applications that used Qt for the gui.  I received the following error:

![screenshot](https://cloud.githubusercontent.com/assets/6828967/6942748/97b943c8-d857-11e4-925d-f7615fe92ab4.png)

In the `/usr/bin/qtconfig` I had to change the **GUI Style** to anything other than **Oxygen** to

[2015-04-01 15:25] Nodd commented on #2294
I suppose it's linked to this comment: https://github.com/spyder-ide/spyder/pull/2281#issuecomment-88255168

[2015-04-01 15:49] ccordoba12 commented on #2294
This problem is directly related to the Qt version shipped by Anaconda, and it doesn't have anything to do with Spyder per se.

@wigging, it seems that the changing styles option is not enough. So I'm going to compile and provide a new Qt version for Anaconda, tailored specifically to work with KDE based distros.  i'll create a special Binstar channel to upload it, and I'll let you know when it's

[2015-04-01 16:42] #2249 closed

[2015-04-01 17:26] #2231 closed

[2015-04-01 17:36] ccordoba12 commented on #1667
This can easily obtained from `git log`.

[2015-04-01 17:36] #1667 closed

[2015-04-01 17:45] ccordoba12 commented on #2235
@Nodd, can you help me to solve this one? Given that you're able to run Spyder with PyQt5 and Python 2, I'd really appreciate it.

[2015-04-01 17:55] s0r2637 commented on #2231
Hi Carlos,

Is the problem fixed now?  I have another issue with Spider 2.3.3 and
Matplotlib 1.5.1. When I set pde.set_trace (), I am not able to use
Matplotlib within the Python console inside Spyder.  Is it always meant to
be that way?  Fyi, I am using Ubuntu 14.04 LTS and Python 2.7.6

Srini

Srini
On Apr 1, 2015 12:26 PM, "Carlos Cordoba" <notifications@github.com> wrote:

[2015-04-01 17:57] ccordoba12 commented on #2231
Yes, that's an old problem and we haven't found the way to fix it yet.

El 01/04/15 a las 12:55, s0r2637 escribió:

[2015-04-01 18:02] s0r2637 commented on #2231
I am confused.  Which problem are you talking about?  Is it related problem
I mentioned to you in the previous email?

Srini
On Apr 1, 2015 12:58 PM, "Carlos Cordoba" <notifications@github.com> wrote:

[2015-04-01 18:04] ccordoba12 commented on #2231
Not being able to create plots while you're in debugging mode.

El 01/04/15 a las 13:02, s0r2637 escribió:

[2015-04-01 18:06] ccordoba12 commented on #2256
This is working fine for me in master. Could you test again and post an screenshot if the problem persists?

[2015-04-01 19:03] ccordoba12 commented on #2235
@Nodd, I figured it out at the end. You were right, it was easy enough :-)

[2015-04-01 19:06] #2235 closed

[2015-04-01 20:12] Nodd commented on #2235
I'm too late !

[2015-04-02 13:31] dnowacki opened #2296 "Line numbers misaligned when zooming and scrolling"
In the Sypder 2.3.4 editor on OS X (10.10.2), line numbers can become misaligned with the highlighted line of text when scrolling. When scrolling down, they become progressively misaligned. After scrolling so the line is off the page and then scrolling up, they are again properly aligned (until scrolling back down again).

After scrolling down to line 100:
![screen shot 2015-04-02 at 09 26 52](htt

[2015-04-02 14:56] goanpeca commented on #2296
Hi, some questions

Scrolling with mouse? with arrow? with...? Can you test different options and list results on each?

Thanks

[2015-04-02 15:03] Nodd commented on #2274
[code]
I'm at commit 1d40965c917da3490aa01de4154aea1b9548732a so it includes your commit.

The problem is when testing if guidata is installed, so it's the line right before your modifications: https://github.com/spyder-ide/spyder/commit/55b30d8ad2d703f1451db1d2e3d51c13e9449caf#diff-e13742a2ff2d16fb2f96574ff7b24a5cR736

[2015-04-02 15:05] dnowacki commented on #2296
Hi, scrolling with mouse via scrollbar, mouse with wheel, and with arrow key on keyboard all have the same result. After more testing, a better generalization of the issue is: **lines close to the bottom of the editor window are misaligned with their line numbers**.

[2015-04-02 15:07] Nodd commented on #2276
It works on another machine, I'll have to retry on the machine which had a problem.

[2015-04-02 15:09] Nodd commented on #2296
Do you have a retina display ? It may be something like a roundoff error when computing pixel size, or something like that...

[2015-04-02 15:35] dnowacki commented on #2296
Yes, this is on a Retina iMac.

[2015-04-02 15:35] ccordoba12 commented on #2274
Ok, I see. Thanks for reopening.

[2015-04-02 16:17] jihoon90 opened #2297 "Windows Spyder: taskbar duplication error"
## Description

* *What steps will reproduce the problem?*
1. When I execute the spyder, it generates another tab in the taskbar.
2.
3.

* *What is the expected output? What do you see instead?*
They should be on the same icon like the other programs

* *Please provide any additional information below*

## Version and main components

* Spyder Version:  2.3.4
* Python Version:  2.7.8
* Qt Version

[2015-04-02 16:55] myeomans commented on #2284
Thanks for your reply, I submitted my issue using the "report a bug"
feature instead, that will be more helpful I think.

Best,
Mike

On Sun, Mar 29, 2015 at 2:28 PM, Carlos Cordoba <notifications@github.com>
wrote:

[2015-04-02 17:12] ccordoba12 commented on #2297
Thanks for reporting. This is a duplicate of issue #1983, and @cjrh is trying to solve it on pull request #2185.

[2015-04-02 17:12] #2297 closed

[2015-04-02 21:25] ccordoba12 commented on #2168
This is a duplicate of issue #2296

[2015-04-02 21:26] #2168 closed

[2015-04-02 21:30] ccordoba12 commented on #2296
I don't know how we could fix this because no one in the dev team has a Retina display Mac to test and fix this problem.

[2015-04-02 21:34] manipuladordedados commented on #2276
Maybe it's a bug in the script externalconsole.py
@ccordoba12 My fix is for programs.py

[2015-04-03 13:32] goanpeca commented on #1320
@ccordoba12 ?

[2015-04-03 13:40] dnowacki commented on #2296
OK, understood. Please let me know if I can help by running any tests, etc. Also I'll point out that the issue can also cause cell mode dividers to overlap with text.
![screen shot 2015-04-03 at 09 40 19](https://cloud.githubusercontent.com/assets/7505077/6982884/7801e226-d9e5-11e4-9273-6097f84f0bce.png)

[2015-04-03 14:09] fordanic commented on #2272
Not sure if relevant to add this comment here (let me know if I should post it as a separate issue). Will adding the maximize button to the panes/widgets help with the issue to allow panes/widgets to be treated as standard windows when undocked from the main window? For example, in Windows you can use Windows key + arrow keys to move around windows and to allow a window to occupy half the monitor

[2015-04-03 14:12] fordanic commented on #2256
I had an issue with this as well, i.e. the whole cell was highlighted during scrolling in the file instead of just the current line, but is gone after updating to 2.3.4.

[2015-04-03 14:39] goanpeca commented on #2272
@fordanic this will not handle that... are normal floating dockwidgets supposed to do that on windows?

[2015-04-03 14:41] haming opened #2298 "Cannot stop executing when runing a flask app with debug=True"
All the packages are newest, on windows8
![2015-04-03_223419](https://cloud.githubusercontent.com/assets/7751806/6983571/19a7e032-da52-11e4-9863-17f83eb36c3b.png)
Already click the stop button, but it did't stop.
Code to repeat the issue

    from flask import Flask
    app = Flask(__name__)
    app.run(debug=True)

[2015-04-03 15:33] fordanic commented on #2272
Supposed to that, not sure but on the IDEs that I'm used to working in on windows (MATLAB, Visual Studio), as soon as you undock a widget/window you can treat as standard window in terms of using Windows key + Arrow keys for moving it around.

[2015-04-03 16:02] goanpeca commented on #2272
When you float something in matlab, you see this floating windows as separate instances when doing `Alt+Tab`?

[2015-04-03 16:23] goanpeca commented on #2272
I would say that it is not possible in a straightforward way...

[2015-04-03 16:58] ccordoba12 commented on #1320
The layout is shown in the first comment of this issue. That one is what I intend to follow :-)

`spyderplugins` can't be removed (we've been over this point several times already). We need it to install 3rd party plugins with pip (which is one of your demands).

Besides, the plugins that live there (pylint, etc) are examples for other people to understand how to build 3rd party plugins for Spyder

[2015-04-03 17:39] ccordoba12 commented on #2298
This is a bug. I already noticed it but haven't had time to fix it.

[2015-04-03 19:55] fordanic commented on #2272
Yes, when undocked then Alt+Tab is possible.

[2015-04-03 20:07] goanpeca commented on #1320
Of course spyderplugins can be removed (and should :) ), and for people to see how to make a plugin we will make documentation precisely on that.

I will make a PR on this later on, I believe you still do not understand what I mean....

Regarding the layout... this thread is a bit old, maybe it would be wise to ask the others, for sure they might have suggestions on the structure,

@Nodd , @Sylvai

[2015-04-04 02:13] blink1073 commented on #1320
@goanpeca, I'm fine with that layout.

[2015-04-04 16:08] gb119 opened #2299 "IPython preference "Automatically load Pylab and Numpy Modules" not followed"
## Description

* *What steps will reproduce the problem?*

1. Start Spyder, ensure that the option Ipython->Graphics->Automatically load Pylan and NumPy modules is set
2. Attempt to use any of the numpy/pylab functions without manually importing or using %pylab in ipython shell.

* *What is the expected output? What do you see instead?*
Functions should be loaded into current namespace and availa

[2015-04-05 03:54] StonerYan opened #2300 "Unable to start my Spyder"
My Os: Windows 8.1 32bit

C:\Users\Administrator>spyder
Traceback (most recent call last):
  File "D:\Anaconda\Scripts\spyder-script.py", line 1, in <module>
    from spyderlib import start_app
  File "D:\Anaconda\lib\site-packages\spyderlib\start_app.py", line 14, in <modu
le>
    from spyderlib.config import CONF
  File "D:\Anaconda\lib\site-packages\spyderlib\config.py", line 22, in <module>

[2015-04-05 20:17] SylvainCorlay commented on #2230
I am looking into the standard naming conventions from freedesktop, and I think that it is reasonable to use those names in our icon map.

[2015-04-05 21:16] goanpeca commented on #2230
:+1:

[2015-04-05 23:43] ccordoba12 commented on #2299
Thanks a lot for reporting. I'll take a look at it for 3.0beta1.

[2015-04-05 23:48] ccordoba12 commented on #2230
@SylvainCorlay, great! In case you didn't follow the discussion above: I'd like this to be opt-in, i.e. users should select an option to use the KDE/Gnome icons.

I find the KDE icons for IDEs not so beautiful, so if people want to use them it has to be by their choice, not ours.

[2015-04-06 00:26] ccordoba12 commented on #2300
@StonerYan, what's your pandas version?

----

@blink1073, this is killing me! Why on earth pandas is breaking us like that?

Should we surround our importing of pandas in `iofuncs` like this

[code]

to avoid this kind of ugly crashes?

[2015-04-06 00:48] SylvainCorlay commented on #2230
Agreed.
Whether we use QIcon.fromTheme or not we will need a mapping from icon names and using standard ones will make any further change easier.

[2015-04-06 00:51] jreback commented on #2300
you don't have a completed install, prob because it was running when you updated

try

[code]

[2015-04-06 01:00] ccordoba12 commented on #1320
@goanpeca, the new layout just adds a bit more clarity to how Spyder is organized internally, that's all. I don't think we should worry about it too much.

I don't agree with this proposal on (very) pragmatic grounds:

1. Pylint and the other plugins are working perfectly fine. There are very few bugs open about them.
2. Those plugins are not tightly coupled with our other plugins, so I don't see

[2015-04-06 01:38] blink1073 commented on #2300
@ccordoba12, I'd say yes, we don't want an optional feature to bring down the whole IDE.

[2015-04-06 01:57] ccordoba12 commented on #2300
Thanks @jreback. @StonerYan, could you confirm @jreback suggestion?

@blink1073, I'll do the change :-)

[2015-04-06 03:13] Garrett-R opened #2302 "Closing all files in editor shouldn't left it empty"
Open a file in the editor, then click the small Options icon in the top-right and click `Split Horizontally`.  The file should appear on both sides.  Now close the file and this will have the effect of closing the extra panel.  That is, if you were to open a new file, you now only have 1 panel.

I think this is unexpected behavior and not in line with other programs such as my C++ IDE, Qt Creator.

[2015-04-06 03:55] #2300 closed

[2015-04-06 03:57] ccordoba12 commented on #2274
@Nodd, please test again. I think I fixed the error now :-)

[2015-04-06 04:04] ccordoba12 commented on #2302
This is not easy to fix. If there are no files open, I don't know how we could maintain the splitted view.

The only solution I can think of is to forbade closing the last opened file.

[2015-04-06 07:25] Garrett-R commented on #2302
I see.  I think preventing the last open file from closing would be bad...

[2015-04-06 07:27] goanpeca commented on #1320
1. Great!, still it would add clarity to Spyder, so it is on the same line of this issue

1. Is about organization and making sense... with standalone plugins it makes absolutely no sense to have third party (but shipped with spyder) plugins. This will simplify the handling of plugins as it is one aspect to ignore. Spyderplugins folder is not needed inside the spyder repo.

1.  You can call it wha

[2015-04-06 08:25] flying-sheep commented on #2230
great!

[2015-04-06 16:04] ccordoba12 commented on #2302
That would work like in Firefox, i.e. just the last file couldn't be closed.

Another option would be to open a new file when closing the last one.

[2015-04-06 17:06] Garrett-R commented on #2302
My opinion is that both options would be more surprising than the original behavior of closing the panels (which isn't that a huge problem).  I've never seen any IDE that automatically open a new file when the last one got closed.

And Firefox (and Chromium) actually terminates when the last tab is closed, probably because it's a clear indication that the user has finished with the application, bu

[2015-04-06 23:02] #2251 closed

[2015-04-07 07:59] Nodd commented on #1320
I would keep the `spyderplugins` directory, because even if there is a very good documentation, nothing beats a working example.
However it'll have to change a little bit I think, there should be one sub-directory for each plugin, containing ui, widgets, icons... (exactly like future third-party plugins). This was already discussed somewhere for third party plugins and internal plugins will have t

[2015-04-07 08:07] Nodd commented on #2272
That also means that the separate instances can be "lost" behind the main window ? There are many users having problems with matplotlib windows appearing behind spyder, maybe adding this is not a great idea...

[2015-04-07 08:10] Nodd commented on #2296
We need more donations ;)

[2015-04-07 09:00] Nodd commented on #2284
I can't find the new issue ?

Instead of creating a new one, you can just open the page with spyder's menu and copy-paste the content in this one. Either way is fine !

[2015-04-07 09:14] goanpeca commented on #2284
I know this is not related to this issue, but on windows it is also taking forever to start spyder, and most of the time is when loading the qtconsole (What says the splash screen...)

[2015-04-07 13:09] Nodd commented on #2211
Isn't it a pyflakes problem rather than spyder's ?

[2015-04-07 13:10] Nodd commented on #2284
It's a duplicate of #2171, right ?

[2015-04-07 13:21] Nodd commented on #2144
For information I started some time ago a plugin to run nosetests/pytets : https://github.com/Nodd/spyder_unittesting
If correctly configured it should run doctests too (but on a whole project, not on the current file)

[2015-04-07 14:05] myeomans commented on #2284
Not a duplicate, though #2171 sounds very similar to my issue. I checked and can confirm that the % CPU does go to 100% in the activity monitor while I'm waiting (though my computer is multicore so the overall percentage in use is still modest).

The people in the other thread don't have to wait nearly as long to load as I am (10 minutes would be a dream at this point!) Mine is taking more like an

[2015-04-07 17:51] malapradej opened #2303 "Spyder crashes when loading a netcdf dataset using netCDF4 library"
Spyder crashes when loading a netCDF4 dataset. The code below:

    fn = 'myfile.nc'
    import netCDF4 as nc
    dataset = nc.Dataset(fn, 'r')

It seems to hang at the last line. When I run a command line instance of Spyder and close it after the crash the following error is printed to the terminal:

    (process:15767): GLib-CRITICAL **: g_slice_set_config: assertion 'sys_page_size == 0' failed

[2015-04-07 19:45] myeomans commented on #2284
Okay, here's the bug report info:
Spyder Version:  2.3.2
Python Version:  2.7.8
Qt Version    :  4.8.6, PyQt4 (API v2) 4.11.1 on Darwin
pyflakes >=0.5.0:  0.8.1 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=0.13  :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.15.2 (OK)
sphinx >=0.6.6  :  1.2.3 (OK)
psutil >=0.3    :  2.1.3 (OK)
rope >=0.9.2    :  0.1

[2015-04-07 19:56] ccordoba12 commented on #2296
I know! I'll work on setting things through NumFocus after I release beta1 ;-)

[2015-04-07 20:00] ccordoba12 commented on #2284
@myeomans, please update to Spyder 2.3.4. I think I fixed this problem in 2.3.3.

@goanpeca, please open a new issue about your problem. It's not a good practice to report one issue in top of another.

[2015-04-07 20:01] ccordoba12 commented on #2211
Yes, I don't know what we could do (if anything) about it :-)

[2015-04-07 20:34] ccordoba12 commented on #1320
We're not going to continue this discussion forever. As the current maintainer, I won't merge PRs to remove `spyderplugins`, that's all, ok? :-)

I think @Nodd understood my point: a working example is much better than any documentation (which can became outdated quite easily). Besides @goanpeca, you can leave the project at any moment (by getting busy with your PhD, family, etc), and I really don

[2015-04-07 21:06] ccordoba12 commented on #2303
This is a duplicate of issue #1711. Please add more comments there.

Also, please upload `myfile.nc` (or the `nc` file you want) so we can test things in our side.

[2015-04-07 21:06] #2303 closed

[2015-04-07 21:09] ccordoba12 commented on #2274
@Nodd, can you give me confirmation on this issue? I need to be sure my last fix is working for beta1.

[2015-04-08 00:49] remcmurry opened #2304 "execution lag in python console of Spyder environment using windows 7 x64 Anaconda"
This issue seems very similar to the one discussed in issues #1611 and #1714.

i am running a dell with windows 7 AMD64
Anaconda   2.2.0
Python        3.4.3
matplotlib    1.4.3
pandas        0.15.2
statsmodels 0.6.1
numpy         1.9.2

I am mostly running code from cells in the console.  some cells seem to case some amount of lag in execution and I end up having to hit return a few times to see r

[2015-04-08 02:26] kouichi-c-nakamura commented on #2296
I noticed the same issue! Spyder 2.3.4 on Yosemite. It looks to me that the font used for the line numbers does not change according to the Font setting for the Editor. Each font has slightly different height, so this might be related to the issue.

[2015-04-08 08:43] malapradej commented on #1604
Gregoires method above using a class works for me, although some things needed to be changed. The `def init(self,fp):` should be `def __init__(self,fp):` and `self.inputNC = Dataset(fp,('r')` should be `self.inputNC = Dataset(fp,'r')` and adding `d = False` at the end of the script.

[2015-04-08 09:09] goanpeca commented on #2001
Can we close this then?

[2015-04-08 09:16] malapradej commented on #2303
I actually found the same issue here #2303 and amended the solution as it did not work for me.

[2015-04-08 09:27] goanpeca commented on #1805
Well why not activate pep8 then?

[2015-04-08 09:28] goanpeca commented on #1778
Docstringa have a 72 char limit? Why?

[2015-04-08 09:31] goanpeca commented on #1765
What is the use case for this?

[2015-04-08 09:34] goanpeca commented on #1750
So, is this fixed?

[2015-04-08 09:36] goanpeca commented on #1739
Can we close this then? @ccordoba12

[2015-04-08 09:39] Nodd opened #2305 "Profiling error"
## Description

* *What steps will reproduce the problem?*
   1. Run a script with a profiler

* *What is the expected output? What do you see instead?*

I see this in the internal console:
[code]

* *Please provide any additional information below*

## Version and main components

* Spyder Version:  3.0.0dev
* Python Version:  2.7.9
* Qt Version    :  4.8.6, PyQt4 (API v2) 4.11.3 on Linux

## Opt

[2015-04-08 09:39] goanpeca commented on #1730
This is more an issue of having support for different types of files and options for those files that remain so we could set spaces per extension.

[2015-04-08 09:42] goanpeca commented on #1710
@ccordoba12 is this something on the plan?

[2015-04-08 09:55] goanpeca commented on #1535
So the idea is to implement this ad a plugin?

[2015-04-08 10:11] goanpeca commented on #1167
@ccordoba12

We could add a check to see if there is a minimum of space on the hard drive when trying to access the `spyder.ini` file, so that it does not come to a failure, if this check is not passed then a warning popup message could be displayed?

[2015-04-08 10:17] goanpeca commented on #1637
@ccordoba12 can this be closed then?

[2015-04-08 10:20] goanpeca commented on #1705
@ccordoba12 seems like and old bug, is this fixed?

[2015-04-08 10:22] goanpeca commented on #1679
We should change the title of this issue, it is misleading.

More like... **Editor incorrectly adds colon and indentation on inline defs, ifs, and fors**

Should I do this sort of things directly? or you want to be asked first @ccordoba12 ?

[2015-04-08 10:43] goanpeca opened #2306 "Enhancement: Add restart functionality to spyder."
This is somehow related to #1921.

The idea is that it would be great to be able to restart spyder from within spyder so that if a new library has been installed (lets say using conda or pip or apt or whatever package manager) we could offer some way to do this automatically.

I guess somewhere along the lines of http://stackoverflow.com/questions/15221361/how-to-restart-pyqt4-application

This wo

[2015-04-08 11:00] goanpeca commented on #2306
Another way of doing this without changing spyder code too much, would be to have a helper Application that would handle the restart on behalf of Spyder directly and we could add this as a script when installing spyder (spyder_restarter.bat, spyder_restarter.exe) that would get called before closing spyder with a handle to the process ID (of the current spyder being closed), then this helper appli

[2015-04-08 11:02] goanpeca opened #2307 "Enhancement: Add check for updates and allow for autoupdating inside spyder"
It would be very good to have a check for updates button under the `help` menu (i guess).

Also this check could be run on startup so the user gets a notification when an update is available and offer the install update option.

Now to handle the update we could:

1. need a restart method for spyder (#2306),

2. If using conda or anaconda we could run the StandAlone PackageManager with a flag to u

[2015-04-08 11:19] Nodd commented on #1778
It's the pep8 recommendation, it is easier to read for big paragraphs. Personally I use 79 everywhere.

[2015-04-08 11:19] myeomans commented on #2284
Yeah, the update did it! Thanks so much!

[2015-04-08 11:48] goanpeca commented on #1778
Yes me too.... I (79 for everything)

[2015-04-08 11:53] goanpeca commented on #1778
Indeed https://www.python.org/dev/peps/pep-0008/#maximum-line-length, I had missed that completely.

[2015-04-08 12:04] Nodd commented on #1710
You can already use multiple interpreters, but they are not linked to a project.

[2015-04-08 12:06] Nodd commented on #2274
It works now, thanks !

[2015-04-08 12:11] Nodd commented on #2307
Looks interesting. That would help decreasing bug reports from outdated versions of spyder.

[2015-04-08 12:12] Nodd commented on #2306
Good idea. It will help test plugins, too, since spyder has to be restarted quite a lot.

[2015-04-08 12:15] Nodd commented on #1167
Yes, it's better to not update the file rather than creating a corrupted one.

[2015-04-08 12:19] Nodd commented on #1679
This is a multi-duplicate:
https://github.com/spyder-ide/spyder/issues/872
https://github.com/spyder-ide/spyder/issues/1417
https://github.com/spyder-ide/spyder/issues/1448

[2015-04-08 12:19] #1679 closed

[2015-04-08 12:20] Nodd commented on #1448
Duplicate of https://github.com/spyder-ide/spyder/issues/872

[2015-04-08 12:20] #1448 closed

[2015-04-08 12:20] Nodd commented on #1417
Duplicate of https://github.com/spyder-ide/spyder/issues/872

[2015-04-08 12:20] #1417 closed

[2015-04-08 12:24] goanpeca commented on #1710
I can open a Python2 console and a Python3 console inside spyder?

[2015-04-08 12:25] goanpeca commented on #2307
Indeed! one of my major concerns with this

[2015-04-08 12:28] goanpeca commented on #2306
@nodd Which approach do you like best, or you would favor?

[2015-04-08 12:29] #2274 closed

[2015-04-08 12:31] goanpeca commented on #1167
@nodd indeed, but I guess instead of waiting the hard drive to be full as in not enough to write a spyder file, we should have a "reasonable" threshold... so the warning should appear if the hard drive only has X amount of MB left.... 100 MB is reasonable?

[2015-04-08 12:59] Nodd opened #2308 "Python console stops running after first execution"
## Description

* *What steps will reproduce the problem?*

    1. enter anythong that raises an exception in the standard python console, like `1/0`

* *What is the expected output? What do you see instead?*
The python interpreter stops running, I have to chick on the green arrow to restart it.

* *Please provide any additional information below*
Here is what I see in the console once it has stop

[2015-04-08 13:04] Nodd commented on #1167
I think the correct thing to do is write to `spyder.ini.tmp`, delete `spyder.ini` and rename `spyder.ini.tmp` to `spyder.ini`. If no space is left, the first step will fail, and the other will pass without any problem (renaming does not change the file on disk).
50MB is way too much for a .ini file !

[2015-04-08 13:05] Nodd commented on #2274
Oh yeah, forgot to close it...

[2015-04-08 13:07] goanpeca commented on #1167
yes I know.. but the idea is not to have spyder shout at you at the very end.... is like going into a cliff and only before you are about to reach the edge you get some warning saying break!

The idea is to leave some room so the user can take necessary actions with some time in advance not when the harddrive has already collapsed....

[2015-04-08 13:07] Nodd commented on #2306
No idea !

[2015-04-08 13:10] Nodd commented on #1710
I just tried it:
1. Open a console
2. Change the interpreter in the preferences
3. Open another console
4. ???
5. Profit !

I don't know about stability, but this quick test works...

[2015-04-08 13:12] Nodd commented on #1167
Mmmh, I vote to let the user take care of this. Working on a full disk is wrong on many levels !
Btw the same problem arises when saving a file from the editor.

[2015-04-08 13:16] Nodd commented on #2308
Actually, just pressing enter stops the interpreter, no need for an exception.

[2015-04-08 13:25] goanpeca commented on #1167
Yes it is wrong on many levels, but it is easier for us to warn the user to do something about it in advance than us having to handle every corner case that may arise in spyder.

[2015-04-08 13:29] Nodd commented on #1167
Maybe we should just warn the user if the write fails. Or use the mechanism I proposed for every file write, there shouldn't be that many.

[2015-04-08 13:40] goanpeca commented on #1167
Ok then we need to create a util for this (the write you propose) and replace every instance where spyder write to a file.

[2015-04-08 14:46] Nodd commented on #1741
Indeed.

[2015-04-08 14:58] Nodd commented on #2212
I like the idea !
A few things are required I think:
* It should be possible to lock the modifications, so that the file is no modified by accident
* Not all blocs of code appear in the outline, this may lead to strange behavior. Example:
[code]
If I move e between `b()` and`d()`, will it be before or after `c = 2` ?
For the first PR maybe this should be forbidden, until we see what the obvious th

[2015-04-08 15:11] Nodd commented on #2192
For Markdwn precisely, instead of having to run the file by F5 the preview could be shown in "realtime" (either on each file save or after series of keystrokes) in a specific dockwidget. If it's only one file the execution should be really fast.
Still for other languages a custom Run option would be great !

@ufechner7 I would love to use julia, but it uses fftw for its fft functions which is GPL

[2015-04-08 15:11] goanpeca commented on #2212
We could add a modifier to account for the b c d example you talk, drag with Ctrl pressed will place on top of c, and without Ctrl pressed, then below c.

[2015-04-08 15:12] Nodd commented on #2159
sets seems cleaner that hardcoding.

[2015-04-08 15:12] goanpeca commented on #2192
But as a plugin it would be still ok, no?

[2015-04-08 15:16] ccordoba12 commented on #2296
@kouichi-c-nakamura, that's a very good point! I'll see how we define the font for the line number area.

[2015-04-08 15:20] ccordoba12 commented on #2303
Maybe you could upload it to Dropbox and provide a link here.

Another thing is that 2.2.5 is unmaintained now. Please upgrade to 2.3.4

[2015-04-08 15:23] ccordoba12 commented on #2001
@goanpeca, have you tested it yourself? I haven't closed this one because I haven't had time to verify that everything is working as expected.

[2015-04-08 15:23] ccordoba12 commented on #1739
Yeah, sure. Please close it.

[2015-04-08 15:25] ccordoba12 commented on #1637
Nop, we haven't integrated numpydoc as part `sphinxify` and we should to provide better rendering of docstring formatted with that standard :-)

[2015-04-08 15:26] Nodd commented on #2192
Editing markdown is a specific task so I wouldn't care having a specific dockwidget, especially if it's an external plugin. Reusing the object explorer is fine but it would have to get another name !

[2015-04-08 15:26] ccordoba12 commented on #1705
Yeah, please close it.

[2015-04-08 15:27] ccordoba12 commented on #2284
@myeomans, glad to know things are working fine for you again! :-)

[2015-04-08 15:28] goanpeca commented on #2192
Well.. I think @ccordoba12 wanted to make it help center or something

[2015-04-08 15:29] goanpeca commented on #2001
Well the example in the description works fine for me as @blink1073 pointed out (in master)

[2015-04-08 15:30] #1739 closed

[2015-04-08 15:30] #1705 closed

[2015-04-08 15:31] Nodd commented on #2212
Such a feature will never be used by anyone, it's way too obscure !
Sensible defaults could be:
* always on top
* always at bottom
* the nearest place from the previous position

[2015-04-08 15:31] ccordoba12 commented on #2304
This seems more related to issue #1831. Are you generating plots as part of the run you're running?

[2015-04-08 15:34] Nodd commented on #2192
About julia, I was talking about using it at work. This seem a very good language for scientific development but this license is a problem for me.
Intregration in spyder is fine as long as we don't ship the library itself.

[2015-04-08 15:35] Nodd commented on #2001
It work for me on these simple examples but sometimes I still get wrong indentation. I wasn't able to recreate an example though, i'll try to do it next time it happens (it's quite rare).

[2015-04-08 15:36] ccordoba12 commented on #1805
This already solved. You can view blank spaces now by going to the menu

    Source > Show blank spaces

[2015-04-08 15:38] goanpeca commented on #2001
Yes, for me as well sometimes it fails, but when that happens I will open a new issue, for THIS issue which uses the simple example it seems to work, so closing?

[2015-04-08 15:40] Nodd commented on #1805
Showing blank space is not the same as showing trailing blank spaces only. The first one displays little dots everywhere while the second one should display only the one to be removed (and it's harder to do).
Maybe it's easier to highlight them (a simple regexp in the syntax highlighter should do it) with a red background rather than showing a dot ?

[2015-04-08 15:41] ccordoba12 commented on #1765
The `x??` syntax is not supported in our Python consoles. It only works on IPython ones. That's probably the problem here.

In any case, we don't plan to support this syntax enhancement in our Python consoles.

[2015-04-08 15:41] #1765 closed

[2015-04-08 15:41] Nodd commented on #2001
Alright, closing.

[2015-04-08 15:41] #2001 closed

[2015-04-08 15:43] ccordoba12 commented on #1750
Alignment of the next line after a comment is not working as expected. This is a real bug.

[2015-04-08 15:45] ccordoba12 commented on #2305
@dhoegh, you were the last one to touch our profiler. Could you look at this one?

[2015-04-08 15:47] ccordoba12 commented on #1730
This is an enhancement issue, but a very low priority one. Nobody else has asked for this feature except the OP, so we could close it.

[2015-04-08 15:49] ccordoba12 commented on #1535
I haven't used pychecker before, but if it's too similar to pylint, I wouldn't bother to create a new plugin for it :-)

[2015-04-08 15:50] goanpeca commented on #1730
Agree, also I feel uneasy about supporting something so non -standard....

[2015-04-08 15:51] goanpeca commented on #1535
What about a mixed plugin Pylint plus PyChecker @nodd?

[2015-04-08 15:54] ccordoba12 commented on #2307
This is a good idea indeed! Perhaps the simplest thing to do to solve this one would be to use the Github API to check for the latest release and report that in a `QMessageBox` to our users.

The only thing is that I wouldn't like to rely on `requests` for that. So if you could use `urllib` or other standard lib module would be better.

[2015-04-08 15:57] goanpeca commented on #2307
Great :),

Just out of curiosity why not relying on requests?

[2015-04-08 15:59] ccordoba12 commented on #1710
Yes, it's possible but we don't encourage it because pyflakes (in the Editor) runs with the same Python version as Spyder. So pyflakes can flag as errors things that are valid syntax in Python 3 but not in Python 2 (and vice-versa).

[2015-04-08 16:01] goanpeca commented on #1710
Pyflakes has a setting for this? or for py3 and py2 we use different pyflakes?

[2015-04-08 16:02] Nodd commented on #1730
On the other hand it doesn't seem that complicated to do ? I haven't looked at the code but I suppose that it's a matter of changing a variable value ?

[2015-04-08 16:03] ccordoba12 commented on #2306
This is easy to implement when you're a single instance because Spyder's PID is associated with the `spyder.lock` file (present in `~/.spyder`). This file is used to check if there's an open instance so users can't open a new one.

However, we also offer the possibility to run multiple instances, and in that case this restart functionality would be harder to implement.

[2015-04-08 16:03] Nodd commented on #2305
To add more information: the script runs fine and the error appears before displaying the results.

[2015-04-08 16:04] goanpeca commented on #1730
why not 5? 6? that is why I say is related to the extension, for python we should not encourage thje use of spaces different from 2 or 4... (and I would like to eliminate tab.... but that is a whole different story)

[2015-04-08 16:06] Nodd commented on #1730
5 and 6 are not between the options we already provide... I'd just prefer to let it rot as "help wanted" rather than closing it outright. If you really want to I'll let you do it !

[2015-04-08 16:08] malapradej commented on #2303
Does this mean I have to switch to python 3?

[2015-04-08 16:09] Nodd commented on #2307
To not add another dependency I guess. And marking it as optional would defeat the feature which is more oriented towards debutant users.

[2015-04-08 16:10] ccordoba12 commented on #1710
Pyflakes uses a single code base now (I think). It'd be interesting to see if it has an option to switch between PY2 and 3 on the fly.

If it has it, I'd agree on adding it to our Editor context's menu.

[2015-04-08 16:11] ccordoba12 commented on #2307
@Nodd seems to read my mind!! Yeap, that's exactly my thinking on `requests` for this.

[2015-04-08 16:11] goanpeca commented on #2306
Well I dont think it is a problem the way I am doing it (I am doing it now...)

I am storing the PID and the `sys.argv` for the `bootstrap.py` and the `start_app.py` and when clicking the restart option I call an external pythons script stored in scripts... (`python_restart.py`) and pass the PID and the args as a string, so that script monitors the PID, and when closed it launches spyder in the ex

[2015-04-08 16:11] Nodd commented on #1535
The problem with pychecker is that it can be "harmful" since it imports the modules. That means that it will run scripts too. Also when I tried it I had lots of false alarms, but it may have improved.
This could be a third-party plugin (is that what you proposed @goanpeca ?)

[2015-04-08 16:12] Nodd commented on #1710
There is the same problem for pep8 I think ?

[2015-04-08 16:12] ccordoba12 commented on #1535
I wouldn't have an issue if you want to implement it as a third party plugin :-)

[2015-04-08 16:14] ccordoba12 commented on #1805
Ok, you're right. Reopening then ;-)

[2015-04-08 16:15] #1604 closed

[2015-04-08 16:15] ccordoba12 commented on #1604
@malapradej, please update to Spyder 2.3.4. I was unable to reproduce this error in that version.

[2015-04-08 16:16] ccordoba12 commented on #1710
@Nodd, yep, that's another problem.

[2015-04-08 16:18] ccordoba12 commented on #2303
Nop, Spyder supports (and it's going to keep supporting) both Python 2 and 3.

[2015-04-08 16:20] ccordoba12 commented on #2306
Try to keep it simple for starters :-) Make it work for the single instance case and then we can see what we can do with the multiple instances one.

[2015-04-08 16:24] Nodd commented on #2306
Are there (common) cases where spyder is launched from another application via a python call ? Is it the case for the anaconda launcher for example ?

[2015-04-08 16:26] Nodd commented on #1535
I really have to go deeper in this plugin thing...

[2015-04-08 16:28] goanpeca commented on #2306
Well the launcher is not using python anymore so that is not a case

http://continuum.io/blog/new-launcher

[2015-04-08 16:34] Nodd commented on #2307
`import telepathy`, the last version added quite a lot of new features !

[2015-04-08 16:38] Nodd commented on #2306
Dropping a dependency on python for a program about python looks a bit weird :) (don't tell anyone @ccordoba12 !).
To go on with my remark, maybe the restart feature should be disabled if spyder is not launched via `spyder`, `spyder3` or `bootstrap.py`. Or maybe I'm too picky and it's a corner case that we can ignore.

[2015-04-08 16:40] goanpeca commented on #2306
I dont think is a strict problem, because we can check what python spawned the spyder app, and use the exact same one to restart... (I could have run spyder from within spyder.... and it should work...)

[2015-04-08 16:41] goanpeca commented on #2306
And yes you are always too picky (but that is a feature as they say...)

[2015-04-08 17:19] malapradej opened #2310 "Changing to python2.7 interpreter in Spyder3"
I have uninstalled Spyder2 and installed Spyder3. I was told that it would be easy to continue using the python2.7 interpreter in the new Spyder3. I changed the interpreter using Preferences > Console > Advanced settings > Use the following Python interpreter: changing this to /usr/bin/python2.7. It comes up with a warning:

    You selected a Python 2 interpreter for the console but Spyder is run

[2015-04-08 17:47] goanpeca commented on #2306
Ok, so in windows is working :), have to check on linux now

[2015-04-08 19:14] Nodd commented on #2310
Mixing python versions is not really supported, as you saw yourself. I think there is a misconception here: the last version of spyder is 2.3.4, and this version can run on either python 2 or python 3. So you can still use spyder with python2 and get the last improvements and bug fixes. As far as I can see, reinstalling spyder for python2 is more appropriate for you.

For reference or if you want

[2015-04-08 19:31] dougthor42 commented on #2212
#### Non-blocked Code Locations: ####
I agree with @Nodd: having a modifier is too obscure and confusing.

I think that the easiest way to go is to always assume that non-blocked code is placed above the moved block. It's up to the user to move their non-blocked code after the fact. Not that hard with Alt+UpArrow and Alt+DownArrow.

My reasoning for always-above is thus: non-blocked code, such as

[2015-04-08 19:48] Nodd commented on #2212
+1 for multiline comments.

I understand your reasoning about imports, putting blocked code before non-blocked code wouldn't work.
Considering this problem using the nearest place would work too, but it would be too confusing for users. so +1 for putting non-blocked code on top.

[2015-04-08 20:18] remcmurry commented on #2304
Thanks for the update, good luck in finding any solutions. I will follow along in the #1831 thread for future news.

[2015-04-08 20:48] ccordoba12 commented on #2304
Ok, closing this one then.

[2015-04-08 20:48] #2304 closed

[2015-04-08 20:56] remcmurry commented on #2304
that is fine

Cheers

Robert (Robbie) McMurry
Assistant Development Engineer, Western Cooling Efficiency Center
Minister, Davis Bike Collective (Bike Forth)
remcmurry@gmail.com
mobile: (575) 323 4561

On Wed, Apr 8, 2015 at 1:49 PM, Carlos Cordoba <notifications@github.com>
wrote:

[2015-04-09 00:22] sirpercival opened #2311 "Feature request: Kivy syntax highlighting"
Kivy has a pygments-based lexer: https://github.com/kivy/kivy/blob/master/kivy/extras/highlight.py

Can this be included in syntaxhighlighters.py?

[2015-04-09 08:27] malapradej commented on #2310
I have had a an issue with Spyder2 #2303 and was told it is no longer supported and needed to install Spyder3. I was also told that Spyder3 can run with python 2.7. It seems I am in a catch 22, as my script won't run in Spyder2 and this won't be fixed on your side, and I can't get the script to run under Spyder3 using python 2.7 either. I have been quite fond of using Spyder instead of vim for my

[2015-04-09 08:30] goanpeca commented on #2311
Sure it can, want to give it a try ?

You can take a look at:
https://github.com/spyder-ide/spyder/blob/master/spyderlib/widgets/sourcecode/syntaxhighlighters.py

----
@ccordoba12
Was not this  supposed to guess automatically with the work of [PR #97 in bitbucket](https://bitbucket.org/spyder-ide/spyderlib/pull-request/97/issue-1966-add-pygments-fallback-syntax/diff)?

[2015-04-09 08:56] Nodd commented on #2311
I guess that the pygment definitions are not in pygments itself but provided by kivy, so spyder doesn't know abut them.

[2015-04-10 08:24] Nodd opened #2313 "'NoneType' is not iterable in introspection/fallback_plugin.py"
## Description

* *What steps will reproduce the problem?*
1.
2.
3.

* *What is the expected output? What do you see instead?*
[code]
* *Please provide any additional information below*
I was casually editing a python script, the error happened right after a copy-paste.
I just noticed that spyder is not up to date, maybe it has already been corrected.

## Version and main components

* Spyder Vers

[2015-04-10 08:39] Nodd opened #2314 "Cell highlighting not updated after closing the FindReplace widget"
## Description

* *What steps will reproduce the problem?*

1. open a file with cells
2. Open the search (or replace) bar
3. scroll so that the end of the current cell is not visible on screen but the start is
4. close the bar

* *What is the expected output? What do you see instead?*
The lines that where hidden by the bar is not highlighted as the cell should be.

* *Please provide any additional

[2015-04-10 08:41] goanpeca commented on #2306
This addition would eventually allow to run the configuration options of spyder inside spyder... for example

Reset spyder config from the GUI, would first reset spyder and then restart... etc...

[2015-04-10 08:50] CharlesVellutini opened #2315 "Display object name in DataFrame editor"
- View several DataFrames on the Variable Explorer's browser
- Very easy to get confused on which DataFrame is which as their names are not displayed on the browser

--> Need to display respective object names in each browser window

![sans titre](https://cloud.githubusercontent.com/assets/11884206/7084614/5781acea-df6f-11e4-9ac2-1a7818acb564.png)

[2015-04-10 09:07] goanpeca commented on #2315
@CharlesVellutini seems like a good idea.

Want to give it a try?

Take a look here -> https://github.com/spyder-ide/spyder/blob/master/spyderlib/widgets/dataframeeditor.py

[2015-04-10 09:08] goanpeca commented on #2315
@dhoegh, you worked on this right? Maybe you can take a look as well?

[2015-04-10 09:13] CharlesVellutini commented on #2315
Thanks for the feedback. In all honesty, I don't think I have the skills for this, being mostly a modest Spyder user!
Also, my idea was in fact that all objects, not only DataFrames, could benefit from this feature.
Thanks again for all your great work.

[2015-04-10 09:33] goanpeca commented on #2313
Also having this issue... completion in Master seems to be kinda of broken... it takes too long (when it works) @blink1073

[2015-04-10 12:26] Nodd commented on #2306
Good idea. We could catch problems on startup (or while loading the config) and offer to reset them. I always wondered if a basic user knows how to run `spyder --reset ` on windows...

[2015-04-10 13:10] blink1073 commented on #2313
Yikes!  I'm on it.

[2015-04-10 13:45] goanpeca commented on #2306
Well. spyder creates two icons in windows... run Spyder... and the other is reset settings

[2015-04-10 14:35] Nodd commented on #2310
In #2303 @ccordoba12 told you to use spyder *2.3.4*, not spyder *3*. He also specifically told you that spyder still supports python2 and python3. To keep things simple, you need the python3 version of spyder to run python3 scripts, and the python2 version of spyder to run python2 scripts. But the version number of spyder will still be the same. Please reread carefully #2303 and keep having fun (o

[2015-04-10 15:45] ccordoba12 commented on #2310
I agree with @Nodd, this is not an issue. It's just caused by your misunderstanding of how things works.

But I think @Nodd is quite clear now :-) So I'm closing this issue.

[2015-04-10 15:45] #2310 closed

[2015-04-10 16:09] malapradej commented on #2310
Thanks for informing me. I thought Spyder 2.3 was commonly known as Spyder3. Apologies. So you learn. I downloaded the spyder version 2.3.4 and installed from source. Works fine now. Thanks.

[2015-04-10 16:17] ccordoba12 commented on #2310
Just to clarify: are you getting the netcdf errors you reported before in 2.3.4?

[2015-04-10 16:23] ccordoba12 commented on #2294
@wigging, we (i.e. Continuum) updated our Qt and PyQt packages yesterday to solve this problem (without changing styles or using a special Binstar channel).

Just run

    conda update pyqt

and let us know if now things work for you :-)

[2015-04-10 16:52] malapradej commented on #2310
It seems to work without requiring the creation of a separate class as in my previous post #2303.

[2015-04-10 17:29] malapradej commented on #1955
I'm having the same issue. I have just installed spyder 2.3.4 and the Object inspector does not work from the editor. If I try from the console it works.

[2015-04-10 18:20] blink1073 opened #2317 "Object Inspector Text on Mac OS X is Misleading"
On Mac OSX, the object inspector defaults to `Cmd+I`, but the default message still says: `Here you can get help of any object by pressing Ctrl+I in front of it, either on the Editor or the Console.`.  I could not figure out where this text is located.

[2015-04-11 09:30] goanpeca commented on #2306
Implemented by #2312

[2015-04-11 10:53] goanpeca commented on #2173
@dougthor42 not sure which commit it was, but I think @ccordoba12 fixed this here

https://github.com/spyder-ide/spyder/blob/master/spyderlib/spyder.py#L1238

[2015-04-11 10:55] #2173 closed

[2015-04-11 17:36] goanpeca commented on #2307
Ok, so on this one, the github api has some rate limits, right now it is 60... so if someone opens and closes spyder more than 60 times, the api would complain about it.

[2015-04-11 17:46] ccordoba12 commented on #2307
The rate limit restarts every hour. So for this to happen, users should open and close Spyder every minute ;-)

This also means that these checks shouldn't be applied when `DEV == True`.

[2015-04-11 18:09] #2317 closed

[2015-04-11 23:09] goanpeca commented on #2307
Implmeneted in #2321

[2015-04-12 07:59] goanpeca commented on #2308
Indeed I am getting the same on a similar configuration

[2015-04-12 08:25] goanpeca commented on #2169
Seems like not a lot of feedback on this one @ccordoba12

[2015-04-12 08:32] goanpeca commented on #2112
I think with what Qt offers by default there is no way to do this, so I would considered a `wont fix` for this one

[2015-04-12 08:36] goanpeca commented on #2036
I am having the same problem! and it appeared suddenly

[2015-04-12 09:08] goanpeca commented on #2036
Ok, so I made some testing.

On ubuntu I installed a new conda environment for python 3.4, installed pyqt and then executed spyder from latest master in bootstrap mode:

# Case 1: Previous version of pyqt

[code]
**Toolstips seem to work fine**

### Version and main components
* Spyder Version:  3.0.0dev 80b1c8b
* Python Version:  3.4.3
* Qt Version    :  4.8.5, PyQt4 (API v2) 4.10.4 on Linux

###

[2015-04-12 09:17] goanpeca commented on #2024
@ccordoba12, closing?

[2015-04-12 09:18] goanpeca commented on #1988
@ccordoba12, no feedback on this one, closing?

[2015-04-12 09:24] goanpeca commented on #1921
@Nodd

With the restart PR now we can offer this restart button/dialog here.

Also for the dynamic loading of modules, you had in mind something like [this](https://docs.python.org/2/library/functions.html#reload)?

[2015-04-12 09:29] goanpeca commented on #1880
@ccordoba12, is this something to address in zmq, ipython issues?

[2015-04-12 09:38] goanpeca commented on #1840
@ccordoba12 Still a problem, from within the ipython console I type `!pip -h` and I get  `/bin/sh: 1: pip: not found`

## Version and main components

* Spyder Version:  2.3.4
* Python Version:  2.7.9
* Qt Version    :  4.8.6, PyQt4 (API v2) 4.11.3 on Linux

## Optional dependencies

IPython >=1.0   :  3.0.0 (OK)
jedi >=0.8.1    :  None (NOK)
matplotlib >=1.0:  1.4.3 (OK)
pandas >=0.13.1 :  0.15.2

[2015-04-12 09:39] goanpeca commented on #1827
No more feedback on this after a year?, I would say it is closable

[2015-04-12 09:39] #1798 closed

[2015-04-12 09:51] goanpeca commented on #1743
@ccordoba12  It has been a year now... no more feedback on this issue?

[2015-04-12 09:54] goanpeca commented on #1730
What I mean is that although implementing this is in theory not an issue, 3 spaces (in python code at least) is not very standard and providing that option seems like encouraging bad practices somehow...

[2015-04-12 09:58] goanpeca commented on #1711
Duplicate of #1604

[2015-04-12 09:59] #1711 closed

[2015-04-12 10:01] goanpeca commented on #1671
@ccordoba12 this seems like a very old issue, probably already fixed.

What should be the "alive" time for a bug report? a year? two minor releases (2.3.1 -> 2.3.3)?

[2015-04-12 10:03] goanpeca commented on #1656
@ccordoba12, seems like something that can be closed...

[2015-04-12 10:07] goanpeca commented on #1601
@blink1073 is this something you would agree on doing?

[2015-04-12 10:20] goanpeca commented on #1421
@techtonik this sounds very interesting, could you elaborate more on this, a concrete example maybe :smile: ?

[2015-04-12 10:59] jondo commented on #1981
In fact (as I wrote in pull request #2266), a modeless version (one-step undo) would be better UI-wise.

[2015-04-12 15:20] blink1073 commented on #1730
@goanpeca, I disagree.  I say provide a sensible default, but allow the user to choose what they want.  For example, in Sublime Text, you can choose between 1 and 8 spaces for tabs.

[2015-04-12 15:24] blink1073 commented on #1601
Yep, can do.

[2015-04-12 15:55] #1656 closed

[2015-04-12 15:57] ccordoba12 commented on #1671
This a confusing shortcoming that should be fixed. You shouldn't hit `Enter` after selecting a new key in our shortcuts Prefs page.

The problem is I don't know how to do it :-)

[2015-04-12 16:00] #1743 closed

[2015-04-12 16:01] ccordoba12 commented on #1840
Could you look at it? I don't know what could be happening in this case.

[2015-04-12 16:17] ccordoba12 commented on #1880
Not IPython but [pyzmq](https://github.com/zeromq/pyzmq). Using the fantastic Github interface, I submitted a PR with Gavin's suggestion.

Let's see what @minrk thinks about it :-)

[2015-04-12 16:21] ccordoba12 commented on #1880
Thanks a lot noticing @goanpeca!! It went totally unnoticed to me ;-)

[2015-04-12 16:23] ccordoba12 commented on #1988
People reported in the past that using netcdf files crashes Spyder.

Let's leave it open until someone can really confirm that this is not the case anymore.

[2015-04-12 16:24] ccordoba12 commented on #2024
Yep :-)

[2015-04-12 16:24] #2024 closed

[2015-04-12 16:27] ccordoba12 commented on #2169
Yep, closing because of lack of feedback.

[2015-04-12 16:27] #2169 closed

[2015-04-12 16:37] ccordoba12 commented on #2036
I don't how the Unity shell fixes tooltips background color. I mean, in the default installation and without changing a single thing, tooltips are dark brown, and in that case Spyder text on them is white.

But people that report this problem (like yourself :-) show screentshots where that color is light yellow. I see that (besides changing the stock theme), you seem to be using a different wallpa

[2015-04-12 17:20] ccordoba12 commented on #1981
Undo is hard to implement and it could be costly. Think of undoing a 1gb Pandas DataFrame ;-)

[2015-04-12 17:23] ccordoba12 commented on #1827
Yep, let's do it.

[2015-04-12 17:23] #1827 closed

[2015-04-12 17:26] ccordoba12 commented on #2112
Does QtCreator have this functionality? Because if it does, then we should be able to implement it too ;-)

[2015-04-12 17:37] minrk commented on #1880
Does this problem affect any Windows later than XP? If so, what version(s)?

[2015-04-12 17:42] goanpeca commented on #1988
:+1:

[2015-04-12 17:44] goanpeca commented on #2036
I will have a look... but so far I was working on Py3 to avoid it :smile_cat:

[2015-04-12 17:47] goanpeca commented on #1730
@blink1073 ok. This is just a thing to change in preferences an the rest would work, or is there something extra to do?

[2015-04-12 17:50] ccordoba12 commented on #1880
@minrk, according to @gb119 above: Windows Vista, 7, 8, 8.1

[2015-04-12 17:57] goanpeca commented on #2268
Ok, so back to testing. I have a basic thing that tests automatic indentation insertion and autocompletion in the code editor using the tests that were listed in the [documentation at google code](https://code.google.com/p/spyderlib/wiki/AutomaticColonAndQuotesInsertion). I am including all those tests but commenting out the ones that dont work ...while they get implemented :smiley:

## BUT
Testin

[2015-04-12 18:13] minrk commented on #1880
I must have read it backwards, I thought using that range *shouldn't* be a problem on those systems. That's definitely the range where the port should come from on those systems.

[2015-04-12 18:20] minrk commented on #1880
Ah, I believe this is already fixed by zeromq/pyzmq#651, which should be released as pyzmq-14.6 soon.

[2015-04-12 18:22] billtubbs commented on #1329
I have same problem.  Typed the following into the internal console:

wait = input("Program paused. Press enter to continue.")

And it printed the message and then Spyder crashed.  This is my first time using Spyder!  Should I be using the internal console for testing code or one of the others?
![screen shot 2015-04-12 at 12 15 39](https://cloud.githubusercontent.com/assets/7958850/7106896/803bde7

[2015-04-12 18:24] goanpeca commented on #1880
:+1:

[2015-04-12 19:00] blink1073 commented on #1730
In theory everything should use `CodeEditor.indent_chars` which would point to this preference.

[2015-04-12 19:32] jondo commented on #1981
I think the idea would be to just keep the item around invisibly for e.g. 30 seconds (or until some amount of user activity has happened) and delete it only then.

[2015-04-12 21:18] gb119 commented on #1880
Great - if I get a chance I can try it out on my laptop which I know suffers from this problem.

[2015-04-12 21:29] Nodd commented on #1921
`reload()` can have many side-effects, I don't know if it would be reliable enough for plugins. I think I was more thinking at how IEP manages plugins, you can load an unload them dynamically without restarting the UI. I Have no idea how it works behind the scenes.

[2015-04-12 21:43] Nodd commented on #1329
The internal console displays a warning about not using it to run your core. You can use an IPython console or a regular python console to run your code.
Thank your for you feedback about this bug (and save your work often !)

[2015-04-12 21:48] Nodd commented on #1671
There was a proposal to use a more dynamic way of entering shortcuts by entering the shorcut itself, like in most editors/IDEs.

[2015-04-12 21:52] goanpeca commented on #1671
Yes this would make sense

[2015-04-13 02:40] blink1073 commented on #1712
@ccordoba12, I looked at this for a bit.  I get the same stack trace when using the Tkinter backend, and the Qt backend suffers from similar responsive problems.  The Inline works fine with it, and I can manually update plots just fine within Tkinter and Qt backends.  I'd say this is an obscure edge case where you can't always write your code in an IDE.

I vote to close this one as won't fix.

[2015-04-13 12:05] carlosloslas opened #2323 "Spyder not going through all breakpoints"
Hi all,

edit.: After testing more functions and in various ways I have narrowed it down to just the return commands on the functions. Is this a particular option in the preferences?

This may be quite difficult to try and replicate, but I have no idea how this is happening, or how to solve it.

I am running a number of python programes on spyder. In order to try and understand some of the errors

[2015-04-13 13:30] goyou commented on #706
Hello,

Although I don't think having the ability to help in the implementation, having code folding in spyder will be definitely an Other-scientific-IDEs-proprietaryornot-Killer. I mean missing that functionnality is the only point I could switch from using spyder to something else.

I've been following the issue since some time and I just wandered if one day we could 'choose' between the spyder-

[2015-04-13 13:47] goanpeca commented on #706
@goyou, the code folding issue is under work and will be part of spyder's next release (3.0.0)

At the moment or in the near and midterm future there are no plans of including alternative editors. The editor in Spyder is a core component that is deeply connected to the other core plugins.

Cheers

[2015-04-13 14:54] goyou commented on #706
Ok, that is great news... can't wait for next release then !
Deep thanks for your work.

[2015-04-13 15:59] ccordoba12 commented on #1880
Thanks @minrk!! Glad to know you already tackled this problem :-)

[2015-04-13 17:11] wigging commented on #2294
@ccordoba12 The `pyqt` update fixed the problems I was having with Spyder on Linux.  Everything is working now.

[2015-04-13 20:02] #2294 closed

[2015-04-13 23:40] ccordoba12 commented on #2294
Glad it works for you know. It took like three or four days to find the error ;-)

[2015-04-14 00:03] ccordoba12 commented on #1601
@blink1073, nop. Let's merge #2198 first.

I haven't worked on this issue because I think it's not easy to get the UX right. These are my concerns:

1. Should we open a Python/IPython console for she, so she can run it's script, if there's none with her selected interpreter?
2. Should we always evaluate her script on the same interpreter? She could have a set of libraries that are only installed o

[2015-04-14 00:05] ccordoba12 commented on #1601
Besides, this will avoid us to deal with all these complications (which seem to be too much to handle ;-)

[2015-04-14 03:46] blink1073 commented on #1601
So, assuming this is set on a per-project basis (which I agree with):

We would start an IPython kernel (and python console) using the given interpreter when the project is loaded, and all scripts would be run using that interpreter.  This would require them to have IPython installed for that interpreter (or they can fall back on the Python one).

We'd need to have a more visible warning as to why

[2015-04-14 06:15] goanpeca commented on #1601
Looking it from a practical side (what the user explains ...), sometimes you might be working on a "project" plus some non project related things, and these extra things might not be running with the same interpreter (or should not). Having this setting would give flexibility to the user from having to close and reopen projects constantly.

@ccordoba12  your points seems understandable, but why no

[2015-04-14 08:26] Nodd commented on #1601
@goanpeca :+1:
What about people not using projects ? When we talked about projects, we all agreed that using projects would be optional.
For me supporting only "Execute in a new dedicated Python Console" is fine, but UI-wise I would put the option to choose a specific interpreter *between* the radiobuttons (with an indent), and disable it if "Execute in a new dedicated Python Console" is not sele

[2015-04-14 08:55] goanpeca commented on #1601
@Nodd you read my mind!! your powers are increasing!

[2015-04-14 10:17] #2323 closed

[2015-04-14 11:07] gauravkumar37 opened #2324 "When using ipython console, running a file should have an option of specificying "-i" option"
When running a file in ipython's console, the command which currently gets executed is
%run "filename"
This does not preserve the globals() already defined in the interpreter.

Provide an option in the run configuration to preserve the global variables which would in-turn run the command
%run -i "filename"

[2015-04-14 13:22] gsmafra opened #2325 "Spyder 2.3.4: I keep getting a "Reloaded modules:" warning"
Hello

Since I updated Spyder I am getting these messages everytime I try to compile a script with an import a second time.

For example, when running 2x a script that simply imports theano I get this message:

That only happens when using Spyder's runfile. I already tried execfile() and python xxx.py and I get no warnings

So, anyone knows how to suppress it?

Running on:
Python 2.7.8
Anaconda 2.

[2015-04-14 13:32] Nodd commented on #2325
Have a look in the *Console* section of the preferences, in the *Advanced* tab. You can either disable the message or the UMR completely.

[2015-04-14 13:37] gsmafra commented on #2325
Thank you, solved

[2015-04-14 14:14] #2325 closed

[2015-04-14 14:55] Shaunakde opened #2326 "Feature Request / Clarification"
Hello,
Currently in Ubuntu if I drag a file into the console - it produces the following path:
file:///home/shaunak/caffe/data/cifar10/data_batch_1.bin

However this is not directly readable by open. Thus if I take the filename with input and use the drag drop feature, I cant read it.

In Canopy on windows this worked without issue. Perhaps this feature can be implemented?

[2015-04-14 15:58] ccordoba12 commented on #2325
It's better for you to disable the message, the UMR is quite useful to reload your own code.

[2015-04-14 16:01] ccordoba12 commented on #2324
We use our own `runfile` function, not the `%run` magic to run a file in our IPython consoles. How `%run` works is not in our control, but in the hands of IPython devs.

However, I don't think preserving the globals() is a good idea to add for an option to `runfile`. But using `%run -i` is always possible.

[2015-04-14 16:01] #2324 closed

[2015-04-14 16:03] ccordoba12 commented on #2323
I think you need to use the *Step into* button to remain in the loop.

[2015-04-14 16:18] ccordoba12 commented on #1601
@blink1073, when a user is selecting an interpreter for her project, we should check if IPython is installed on it, and if not, warn her about it.

@goanpeca, I see that you'd like more flexibility for power users (like you and me :-). But that could be really, really confusing for regular users (that are 90 or 95% of our users). So, for now, my vote is for letting users set their interpreters onl

[2015-04-14 16:31] goanpeca commented on #680
Is this closer to your area of expertize in spyder @blink1073 ?

[2015-04-14 16:32] goanpeca commented on #580
@ccordoba12 closing?

[2015-04-14 16:37] Nodd commented on #2325
I'd argue that the best way is to always run in a new dedicated console.

[2015-04-14 16:37] carlosloslas commented on #2323
Hola Carlos,

Thanks for the reply even with the issue closed.
I closed it since I found a website with a detailed explanation on the basic commands of the debug method managed to work around the issues.
At the moment everything seems to be working fine, but every now and then it starts being a bit unstable. I will reinstall it in the near future, since I think I have changed things which probably

[2015-04-14 16:48] ccordoba12 commented on #2323
No prob, please let us know if you encounter more problems with our debugging support. We are planning to improve it by the end of the year :-)

Y gracias por usar Spyder!!

[2015-04-14 16:48] ccordoba12 commented on #580
Yes, sure.

[2015-04-14 16:48] #580 closed

[2015-04-14 17:04] goanpeca commented on #1096
@Nodd do you want to make your plugin more like a package? I had already started to do it [here](https://github.com/goanpeca/spyderplugin.autopep8)

@ccordoba12, should we make an additional repo for this plugin inside spyder-ide repo? It could also be useful as an example of how to make such plugins.

[2015-04-14 17:10] goanpeca commented on #1759
Do we want to implement this at some point @ccordoba12?

[2015-04-14 18:53] ccordoba12 commented on #1096
I depends on @Nodd :-)

[2015-04-14 18:54] ccordoba12 commented on #1759
It can really useful! Just leave this open in case someone else wants to implement it.

[2015-04-14 19:01] ccordoba12 commented on #680
This would be cool to have!

[2015-04-14 19:11] ccordoba12 commented on #1712
Yep, let's close this one :-) Thanks for taking a look at it!

[2015-04-14 19:11] #1712 closed

[2015-04-14 19:12] ccordoba12 commented on #2162
@blink1073, have you had time to look at this issue? People continues to ask for it. See for example:

http://stackoverflow.com/questions/28513322/biopython-intellisense-iin-spyder

[2015-04-14 20:26] goanpeca commented on #2326
Which console? python/ipython?

[2015-04-14 20:27] Shaunakde commented on #2326
Python

On Tue, 14 Apr 2015 10:26 pm Gonzalo Peña-Castellanos <
notifications@github.com> wrote:

[2015-04-14 20:38] goanpeca commented on #2326
So it works as you expect in the iptyhon console?

[2015-04-14 20:59] Shaunakde commented on #2326
I will have to try it and get back to you. I don't have a computer near me
for the next 8 hours. I'll email back soon.
On 14 Apr 2015 22:38, "Gonzalo Peña-Castellanos" <notifications@github.com>
wrote:

[2015-04-14 21:53] Nodd commented on #1096
Yes, it should be made as a package, but only when spyder will be able to load plugins from a directory in `spyderplugins`.

[2015-04-15 01:25] blink1073 commented on #680
Agreed.

[2015-04-15 01:26] blink1073 commented on #2162
No, not as of yet...

[2015-04-15 01:34] blink1073 opened #2327 "Add icons to completions"
Add icons to the the completions based on type (a la [pycharm](https://www.jetbrains.com/pycharm/)).

We would return a list of (completion, type) tuples for a completion, and display the icon in the completion list.

[2015-04-15 01:35] blink1073 commented on #2327
I don't mind doing this one, if someone else provides me with the icons to use.

[2015-04-15 01:36] blink1073 commented on #2327
ping @goanpeca, @SylvainCorlay

[2015-04-15 01:54] SylvainCorlay commented on #2327
This is interesting. Regarding the icons to use, if you don't find what you like in font-awesome, I am creating a font with the missing icons for #2260 . (Things like the python logo, debug action icons itc)

![font](https://cloud.githubusercontent.com/assets/2397974/7150907/33e9402a-e2f0-11e4-9d01-fb3028e08cc4.png)

Meanwhile, you can also check out the icons of the outline explorer: (see functio

[2015-04-15 02:29] blink1073 commented on #2327
It looks like we have everything covered except for `attribute`:

- method
- function
- class

[2015-04-15 02:35] SylvainCorlay commented on #2327
I guess that anything in the form of a circled letter should be covered with qtawesome, so don't hesitate to add one if you need it for this feature!

[2015-04-15 06:36] goanpeca commented on #1096
@ccordoba12 have you made any progress in this direction ?

[2015-04-15 06:39] goanpeca commented on #2327
@blink1073 yes I was thinking of using the outline explorer icons in the meantime, we can make one for attributes but should not be an issue.

[2015-04-15 06:42] goanpeca commented on #2327
@blink1073 by completion type you meant python

[2015-04-15 06:43] goanpeca commented on #2327
@blink1073 by completion type you meant python `type`  ? or you meant function, class, method, private, method...

[2015-04-15 06:44] goanpeca commented on #2327
Sorry... wrong button

[2015-04-15 07:52] Nodd commented on #2327
The icons in the completion widget should be the same as the outline explorer anyway, even if we change them later.
The attribute icons could be used in the outline explorer to mark properties (methods with the @property decorator). It's an idea for another PR though.

[2015-04-15 08:28] goanpeca commented on #2327
Yes, I had opened an issue on that ... #1904

[2015-04-15 09:06] kouichi-c-nakamura opened #2329 "Cannot type backslash \ in console or editor in Mac: get ¥ instead"
I could not find any information about this issue in the Internet, so it could possibly be only due to my environment. I'm using Spyder 2.3.4 on Mac OSX 10.10.3, and I can't type backslash sign \ in console or editor. In my environment, Option + ¥ is assigned to backslash and it always works for other applications, but not for Spyder; In Spyder it'll insert ¥ instead. Character code for \ and ¥ is

[2015-04-15 13:25] techtonik opened #2330 "^M in git diff on Ubuntu"
I've edited a file with Spyder and now `git diff` shows red ^M at the end of lines. I am pretty sure that spyderlib/spyder.py has Windows line feeds (why?) and that Spyder shows CRLF mode.

Why the marks? git 1.9.1

[code]

[2015-04-15 13:42] bilderbuchi commented on #2142
Maybe a good approach would be to, instead of winpdb, use the [PyDev debugger](https://github.com/fabioz/PyDev.Debugger)? It is under Eclipse public license, is being maintained, _and_ is used by PyDev and PyCharm already (so maybe it can easily be integrated into still another IDE)

[2015-04-15 13:51] SylvainCorlay commented on #2142
If you have any with developing /  interfacing with the Pydev debugger,it looks like a very good idea. I did not know that it could be taken out of Pydev, and it is definitely very good.

Another thing one could look at is PTVS (Python Tools for Visual Studio) which was released under a rather permissive license.

[2015-04-15 14:53] bilderbuchi commented on #2142
If the missing word is "experience", then sadly, no, I don't have any experience with PyDev debugger beyond using it. I just recently started debugging with Spyder on Windows, shortly after wished that I were still using PyDev and its excellent debugger, and after realizing winpdb is no good with python 3, found this bug report.

[2015-04-15 18:54] ccordoba12 commented on #2327
@Nodd is always reading our minds. That was exactly what I was about to say, that the icons on the Outline Explorer should be the same as those added to the completion widget.

Another thing is that I would prefer using encircled letters for those icons instead of the classic ones (like cubes or things like that). For example

* (M) -> For Method
* (F)  -> For Function
* (C) ->  For Class
* (A) ->

[2015-04-15 18:57] ccordoba12 commented on #2329
This is (most) probably a problem with the graphical library used by Spyder (i.e. with Qt).

I don't know what we could do to help you though :-(

[2015-04-15 19:04] ccordoba12 commented on #2330
Most of us (the core devs) use Spyder to develop Spyder. And Spyder doesn't preserve line endings, it just uses the same ones as those of its host operating system.

Personally I think that `git` trying to correct line endings is too much for a VCS, so I think this is not of crucial importance.

[2015-04-15 19:04] goanpeca commented on #2327
We could also play with colors (or think of something to highlight the privacy of the type in question.... private `_private`, `__more _private` and python special methods... `__init__`, `__repr__`.. etc

[2015-04-15 19:07] ccordoba12 commented on #2327
@goanpeca, that depends on the info exposed by Jedi and Rope.

[2015-04-15 19:17] Nodd commented on #2327
:+1: for letters in icons. Different symbol show the type difference but are bad to give what type it is.

The privacy do no depend on jedi/rope. Since the name is given it is easy to check the number of leading underscores.
On the other hand apart from building a hard-coded list, I don't know how to find all python special methods. The easier way would be to match `__*__`, it would also highight

[2015-04-15 19:21] Nodd commented on #2330
This is of crucial importance when using any VCS, line endings modification is a change like any other character.

What I don't understand is if it's git or spyder's "fault". @techtonik on what platform did you edit the file ?

[2015-04-15 19:28] ccordoba12 commented on #2330
But Spyder only changes line endings of those lines that were modified, not of the entire file :-) Else all our diffs would be completely unreadable!

I think this is Spyder's fauit, but `hg` didn't complain about it.

[2015-04-15 20:35] goanpeca commented on #2330
https://help.github.com/articles/dealing-with-line-endings/

[2015-04-16 00:27] blink1073 commented on #2327
I think the less icons the better, so as not to be confusing.  Also, anyone have a quick way to make a 12x12 "A" icon?

[2015-04-16 00:37] SylvainCorlay commented on #2327
Inkscape? Don't put too much love into it!

[2015-04-16 01:49] kouichi-c-nakamura commented on #2329
Bingo! You're brilliant.

*Backslash is converted to YEN SIGN on Qt for Mac with JIS keyboard.*
https://bugreports.qt.io/browse/QTBUG-10543

I also found a post-hoc workaround for this.

  1. Download **Karabinar** at https://pqrs.org/osx/karabiner/index.html.en. (You need to allow Karabinar to control your computer via **System Preference > Security & Privacy > Privacy> Accessibility**)
  2. Laun

[2015-04-16 01:59] ccordoba12 commented on #2329
Ok, I'm really glad you were able to find a solution for your problem!! Kudos to you ;-)

[2015-04-16 01:59] #2329 closed

[2015-04-16 02:48] blink1073 commented on #2327
I tried and failed.

[2015-04-16 03:28] blink1073 commented on #2327
How's this?

![attribute](https://cloud.githubusercontent.com/assets/2096628/7173538/ccda24c4-e3be-11e4-9893-876bc91e8ce4.png)

[2015-04-16 03:30] blink1073 commented on #2327
Or capitalized:

![attribute_cap](https://cloud.githubusercontent.com/assets/2096628/7173551/070edd10-e3bf-11e4-94c2-ca6ee0599141.png)

[2015-04-16 03:34] SylvainCorlay commented on #2327
By the way, why 12x12?

[2015-04-16 03:35] blink1073 commented on #2327
The other ones in that folder are 12x12.

[2015-04-16 03:43] SylvainCorlay commented on #2327
Ok - thanks. I think it is fine! I would vote for capitalized.

[2015-04-16 07:36] Nodd commented on #2327
When I tried to make an icon for cells in the outline explorer I created a background icon from the other icons. it's https://github.com/spyder-ide/spyder/blob/master/img_src/outline.png
There are other base icons in https://github.com/spyder-ide/spyder/blob/master/img_src/ to create new icons, you could have a look in there.

Now on the icon itself, the black is not very visible, all I see is a c

[2015-04-16 08:15] techtonik commented on #2330
Looks like does ^M stands for CR. I don't know why git highlights ^M only on edited lines. I see that the whole file is in CRLF linefeeds. So it is a bug in git or some desired behaviour? What I am concerned about is that it may be a warning that it will commit something weird as a result.

[2015-04-16 09:51] techtonik opened #2332 "Recipe: Detect Project explorer and query it for active path in search widget"
Need a way to see if project explorer is active and query it for the full active path.

[2015-04-16 14:03] goyou opened #2333 "(new feature request) [Editor] Block-comment entire functions from definition line with a keyboard shortcut"
Hello,

It should be really cool if it would be possible to place the cursor on the line of a 'def' or a 'class' definition then press a shortcut (for example Ctrl + 6) and have all the function block-commented.
That way it would be easy to uncomment using Ctrl + 5.

And if it could go alongside with future code folding (issue #706) that would be great.

I think the same function could be used for

[2015-04-16 16:11] ccordoba12 commented on #2333
Maybe @goanpeca can take a look at it when he implements code folding.

[2015-04-16 16:16] ccordoba12 commented on #2332
@goanpeca is working on revamping our projects support.

However, I don't understand what you mean by this issue.

[2015-04-16 16:17] ccordoba12 commented on #2327
+1 for capitalized too :-)

[2015-04-16 16:20] techtonik commented on #2332
Just a todo item for myself.

[2015-04-16 19:57] masasin opened #2334 "ObjectInspector does not resolve docstrings properly in editor."
Two examples:

[code]

[code]

Neither of these works in the editor, but they work fine in ipython. It does work when inheriting from other objects, or from lists, or other things.

[2015-04-16 20:58] ccordoba12 commented on #2334
@blink1073, could you take a look at this one?

[2015-04-16 21:05] #1876 closed

[2015-04-16 21:09] #2313 closed

[2015-04-16 21:29] ccordoba12 commented on #1601
@blink1073, on a second thought, and following @goanpeca's suggestion, I think we can add the option to select an interpreter to the *Run* dialog (but not in *Run* preferences, right?), under the *Dedicated Python console* section.

That way we would avoid the issue with IPython, and all other things will continue to work as they are working right now :-) Sorry that I've missed the point before ;-

[2015-04-16 21:31] goanpeca commented on #1601
Yeiiiii :+1:

[2015-04-17 00:31] blink1073 commented on #2334
The second one works fine when Jedi is installed.  As for the first, if Jedi and Rope can't find that one, I don't see how we could, either.

[2015-04-17 06:30] techtonik commented on #1421
Example:

1. You click a button
2. Button produces signal
3. The container (dashboard) gets the event that "signal XXX" fired
4. The container draws "signal XXX" on dashboard
5. The signal is passed further to registered slots

The problematic part is intercepting a signal.

[2015-04-17 07:24] goanpeca commented on #1421
Well if we are using custom signals, I think we could override the `Signal` in our qt shim `spyderlib\qt` so that any new created signal would get added to a global signal inventory and attach it to the dashboard you say?

For normal builtin signals I have no clue

[2015-04-17 09:01] techtonik opened #2335 "SNAFUed linefeeds between 2.3 and master"
I tried to transplant some changes from `master` to branch and got nasty linefeed conflict through the whole file. I guess that bd13f67058fa4e247 is the culprit. Carlos, can you clarify what's going on?

In particular:

1. what you was trying to fix?
2. why the file ended up with mixed linefeeds?
3. and why did you choose to have different linefeeds for master and for branch?
4. and why did you ch

[2015-04-17 09:07] goanpeca commented on #2335
I think we have 2 options:

- Make the git global config use a default independent on what spyder does on different OS (devs would need to ensure this setup..)
- Have an option to force spyder use only a fixed line ending version id DEV mode (assuming people are developing spyder using spyder)

It is true that something changed at some point recently...

[2015-04-17 09:12] techtonik commented on #1421
Normal builtin signals probably have no value to us, but it will be interesting to detect them.

In signal override, won't `*arg` and `**kwarg` spoil the type safety checks?

My idea was to somehow override connect method, or better use some Spyder's own connect method explicitly. That will keep us in control over where it is going on.

For "illegally" eavesdropping on already defined signals, it

[2015-04-17 09:40] goanpeca commented on #1421
I do not see a problem... take a look at [this](http://pyqt.sourceforge.net/Docs/PyQt4/new_style_signals_slots.html#defining-new-signals-with-pyqtsignal)

Signal has type (as args) and name (as the only kwarg) so Our `TrackedSignal` os `SpyderSignal` would simply maybe add a couple of keyword args that are useful to us, for instance we could have

[code]

[2015-04-17 09:42] cle1109 commented on #1844
I also noticed that this button does not work. Maybe this bug was introduced with iPython 3? I looked a bit into the code but couldn't figure out the problem. Could it be that the emitted signal `set_current_console_wd.emit(getcwd()` is not connected to a corresponding slot?

[2015-04-17 09:46] goanpeca commented on #1421
I do not see a problem... take a look at [this](http://pyqt.sourceforge.net/Docs/PyQt4/new_style_signals_slots.html#defining-new-signals-with-pyqtsignal)

Signal has type (as args) and name (as the only kwarg) so Our `TrackedSignal` os `SpyderSignal` would simply maybe add a couple of keyword args that are useful to us, we would then pop them out of the kwargs  and pass the rest to `Signal`.

Sign

[2015-04-17 10:11] goanpeca commented on #1421
hmmm ignore the last message, it would be harder than that.. but still doable I guess

[2015-04-17 10:12] goanpeca commented on #1421
http://doc.qt.io/qt-4.8/qmetaobject.html

[2015-04-17 10:18] goanpeca commented on #1421
I forgot they were class variables... so my suggestion would not work.

And overriding the connect method, would imply changing all the places were we use the method... which would seems like a big change

Maybe adding an extra function after the init of an object? that would rebind any signals to track (defined as class variables)

[2015-04-17 10:40] goanpeca commented on #1421
Something like

[code]

[2015-04-17 11:13] goanpeca commented on #1421
Something like this would be the easiest and less invasive...

[2015-04-17 13:29] goanpeca commented on #1421
@techtonik

I was curious so I did something on the lines I described...

[code]

Something like this (though hackish) would be less invasive and we could add any sort of signal... custom or native and have the information of the signal itself plus any arguments it emits.

[2015-04-17 20:10] techtonik opened #2336 "Support EditorConfig"
http://editorconfig.org/

...consistent coding styles between different editors and IDEs... ...file format for defining coding styles...

[2015-04-17 20:11] techtonik commented on #2335
Or support https://github.com/spyder-ide/spyder/issues/2336, require that Spyder files are all LF and add a hook script that checks this.

[2015-04-17 20:53] ccordoba12 commented on #2335
I'm sorry for the troubles @techtonik. I don't know exactly what happened there, I just remember that when I opened that file in Spyder (after the previous changes of @SylvainCorlay), all line endings were fixed by Spyder itself.

Given that I develop Spyder with Spyder, I thought I didn't have other alternative than re-committing the whole file again.

Sorry, I didn't give too much thought about

[2015-04-17 21:17] ccordoba12 commented on #1844
Thanks for noticing it. I'll try to fix it for beta1

[2015-04-18 01:01] techtonik commented on #2335
I am concerned about the merges from stable `2.3` to `master` https://github.com/spyder-ide/spyder/wiki/Dev:-Github-Workflow doesn't describe maintenance of stable branches and sync with new development at all. What is the merge strategy?

[2015-04-18 01:48] blink1073 commented on #1601
Why not in the global config?  I can see users getting frustrated with having to specify it for every file they open.

[2015-04-18 01:55] blink1073 commented on #2327
![attribute3](https://cloud.githubusercontent.com/assets/2096628/7213436/04432af6-e544-11e4-86a9-8d4503e2e840.png)

Better, @Nodd?

[2015-04-18 02:33] blink1073 commented on #2327
How you like me now?

![screen shot 2015-04-17 at 9 32 30 pm](https://cloud.githubusercontent.com/assets/2096628/7213582/5c5c820a-e549-11e4-97a1-fa01be87a109.png)

[2015-04-18 05:55] techtonik commented on #1421
Didn't work for me straight away.

[code]

[2015-04-18 08:12] goanpeca commented on #1421
Try pyqt

[2015-04-18 08:15] goanpeca commented on #2327
Looking great @blink1073

[2015-04-18 13:08] Nodd commented on #2327
One more suggestion (maybe for another PR ?): add parenthesis `()` after function names. Maybe it would make sense only if they are autocompleted too.

[2015-04-18 13:10] Nodd commented on #1601
It already is configurable in the console preferencies.

[2015-04-18 13:15] Nodd commented on #1421
I don't understand what is the use of this ? For debug ?
All I see right now is that it will complicate the code, slow it, and I see no gain...

[2015-04-18 14:27] gauravkumar37 commented on #2324
I noticed that spyder uses `runfile` when running in an IPython console launched by it. However, if we connect to an external IPython console, it uses `%run` method. Is this deviation intended?

[2015-04-18 14:38] goanpeca commented on #1421
@nodd probably, I was curious on how to do it. For debug I guess?

But I also do not see the use case, ask @techtonik

[2015-04-18 14:52] blink1073 commented on #2327
Alternate icons welcome, @Nodd.  :smile:

[2015-04-18 14:58] SylvainCorlay commented on #2327
I don't think it is worth putting too much effort in polishing bitmap icons since it is going to be replaced with glyphs quite soon. Besides the appearance for circled letters will probably be close to

http://fortawesome.github.io/Font-Awesome/icon/question-circle/

[2015-04-18 15:25] SylvainCorlay commented on #2327
Regarding devising icons, I will write a wiki page or so on how to edit and add glyphs in the Spyder font.
Then all Spyder devs should be able to make new ones. Font design is a rabbit hole but making reasonably simple icons is reasonably easy.

[2015-04-18 16:29] age commented on #2287
This was previously reported in #478. Basically, you can manually specify Ctrl+/ in spyder.ini, which breaks the settings menu but Spyder functions, or try using the patch I proveded back at google code. I may eventually file a proper pull request with my patch.

[2015-04-18 20:09] ccordoba12 commented on #1601
Yes, in

    Preferences > Console > Advanced settings > Python executable

to be exact :-)

[2015-04-18 20:10] ccordoba12 commented on #1601
But that affects both Python and IPython consoles, in all configurations (external, dedicated and interactive).

[2015-04-18 20:13] ccordoba12 commented on #2335
There are not going to be more releases of the stable (`2.3`) branch, but the strategy is this:

1. While on maintenance, I develop on the stable branch and merge that branch with master every certain number of commits (between 5 and 10).
2. People is encouraged to make PRs against master and not to the stable branch. If I consider new code is not going to make Spyder unstable, or it's about an im

[2015-04-18 20:23] ccordoba12 commented on #2324
You're right. The problem is that `runfile` is not defined for external kernels because we add that function to the `builtins` of each console with our own `sitecustomize` file.

So we need to rely on `%run` to keep things working for external kernels.

[2015-04-18 20:42] ccordoba12 commented on #2327
@blink1073, really great!! It's so cool ;-)

@Nodd, there's an issue about adding parentheses. I don't remember which one but I think @blink1073 said he'd take a look at it.

@SylvainCorlay, remember that the current icon set is still going to be supported, and updated a bit for 3.0 (by me :-). So @blink1073's effort is not wasted time at all ;-)

[2015-04-18 21:03] ccordoba12 commented on #2287
Thanks, I'll take a look at your patch for beta1.

[2015-04-18 21:03] #2287 closed

[2015-04-18 21:03] ccordoba12 commented on #2287
Sorry for not mentioning it but I'm closing this one as duplicate of issue #478

[2015-04-18 21:26] ccordoba12 commented on #1421
@Nodd, it could be activated only when `DEV` is defined (i.e. for development).

[2015-04-19 06:53] techtonik commented on #2335
I'd vote for sticking to LF and adding editorconfig instead of messing with Git.

What is the current merge process? Do you merge features from stable to master? Does it work ok for you? If not, then I'd again, think about removing those line changing commits from history. Considering that we have 60 forks, I think it should be accompanied by a blog post that clarifies why people should care about

[2015-04-19 07:04] techtonik commented on #1421
This is needed for learning how Spyder works from inside and for researching some ways to keep you afloat. Right now all these signal slot interconnections are seen as a huge unmaintainable mess that could only become worse as more code is added. In ideal world I want to see a nodebox graph of Spyder neural network and how signals are transmitted between it. I'd even willing to work on it full tim

[2015-04-19 12:21] goanpeca commented on #2326
@Shaunakde ???

[2015-04-19 13:25] Shaunakde commented on #2326
Hey, I replied to the earlier post.

So iPython works as expected across platforms. I also did a but of checking
and this seems to be a ubuntu trait. It was not the case on Centos 6.5

Thanks for the time.

On Sun, Apr 19, 2015 at 5:51 PM, Gonzalo Peña-Castellanos <
notifications@github.com> wrote:

--
Shaunak De
http://shaunak.de/

[2015-04-19 13:26] #2326 closed

[2015-04-19 13:30] Shaunakde commented on #2302
@ccordoba12 and @Garrett-R  Perhaps opening a new blank tab is the best solution. It is the default behavior of Notepad++ and is not jarring at all.

[2015-04-19 13:56] goanpeca commented on #2326
:+1:  no prob!

[2015-04-19 17:07] vegaonline opened #2338 "Spyder unable to start as unable to link python kernel"
## Description

* *What steps will reproduce the problem?*
1. Running spyder from terminal.
2.
3.

* *What is the expected output? What do you see instead?*
The spyder UI hangs and then root kernel dies.

* *Please provide any additional information below*
I tried to startup spyder (installed from Anaconda in OpenSUSE13.2 64 bit) from  a terminal. Suddenly it started linking console and then repor

[2015-04-19 17:42] goanpeca commented on #2335
@ccordoba12 I do not know if need to go as far as @techtonik suggests, but it is a concern that needs to be solved ASAP.

I think it would be best to make spyder used a single line feed for development (DEV) and people should be (strongly) encouraged to develop using spyder itself (The latest dev version...). Even if it is a minor annoyance for contributors, they can always rebase to master, and i

[2015-04-19 18:14] ccordoba12 commented on #2335
My thoughts:

I **agree** with encouraging to use only one type of line endings and making that default for `DEV`.  (@goanpeca, could you make a PR for that?). However:
1. We can't force people to develop Spyder with Spyder. For example, @SylvainCorlay uses Vim :-)
2. Github doesn't report if line-endings have changed in PRs, so that would make much harder to check that. And making people to rebas

[2015-04-19 18:32] ccordoba12 commented on #2302
Yes, I think that too!

@blink1073, could you take a look at this one when you have some time?

[2015-04-19 18:40] ccordoba12 commented on #2338
If you installed Anaconda 2.2, please run this command

    conda update pyqt

and try again. That should fix your problem.

[2015-04-19 18:41] Shaunakde commented on #2302
@ccordoba12 I'd like to try and look at this too. Could you tell where to roughly start looking?

[2015-04-19 18:54] goanpeca commented on #2335
:+1:

[2015-04-19 19:01] goanpeca commented on #2335
Will start the PR soon, @SylvainCorlay uses linux most of the time, so that should be fine :-)

[2015-04-19 19:29] blink1073 commented on #2302
It seems like *something* would have to take the closed dock's place, perhaps an empty dock window?

[2015-04-19 20:45] goanpeca commented on #1421
@techtonik , this should work on both pyside and pyqt...

[code]

[2015-04-19 20:45] goanpeca commented on #1421
From this info it would be easy to build a tree widget based on the parents.... I added a counter and timestamps

[2015-04-19 20:57] goanpeca commented on #1421
@ccordoba12 is this something you would like to see as a PR?

[2015-04-20 02:11] ccordoba12 commented on #2302
I think this is simpler:

1. Check how many files are open (on the current Editor Stack) in the `close_file` method of `plugins/editor`
2. If there is only one file open and the user wants to close it, call the `new` method after that to create a new file.

I think that's all :-)

[2015-04-20 02:14] ccordoba12 commented on #1421
Sounds interesting. I only have two suggestions:

1. It should work only on `DEV`
2. If this is going to make Spyder slower, please add a new flag to `bootstrap` to activate it. Default should be to be inactive.

[2015-04-20 02:33] blink1073 commented on #2302
Yeah I'm with you @ccordoba12, this would be akin to emacs opening a new buffer in a split view.

[2015-04-20 02:41] ccordoba12 commented on #2302
@blink1073, oh yeah!! Besides opening a new file, we should split it as before :-)

[2015-04-20 08:24] Nodd commented on #1421
It is really not practical to have to define which signals to track.

Is it possible to do it by reimplementing (monkey_paching) `Signal` from `spyderlib.qt.QtCore` ?

Connections of signals and slots are independent of each other. This is a feature, not a bug. If it's hard to track what is connected to what, we should clean the code, not complexify it.

[2015-04-20 08:31] goanpeca commented on #1421
@Nodd, this was a proof of concept.

When a widget is made for this purposes (if made), there will be no need to define manually as inside the plugin you would list all signals for a given widget in a tree of widgets and select the ones you wished to track.

The nice thing to build here, would be a full tree of spyder widgets starting from the main app and going down all the way to child widgets.

[2015-04-20 08:35] Nodd commented on #2327
Looking at the screenshot: `np.add` is a class ? That's confusing...
[code]

Should we special-case ufuncs ? That could be confusing too.

[2015-04-20 08:38] goanpeca commented on #1421
An issue I would like to raise, should not we always prefix custom signals with `sig_`?

[2015-04-20 08:40] Nodd commented on #1421
That is what I meant by manually. We'd have to maintain a list of all signals for all widgets. Or do you suggest to build this automatically ?

[2015-04-20 08:45] goanpeca commented on #1421
@Nodd, build automatically of course...

[2015-04-20 08:54] goanpeca opened #2339 "Enhancement: Add a 'dev' menu with common actions useful in development"
I know this might not be useful to all contributors/developers out there, but in the specific case of people using Spyder to develop Spyder I suggest we include a new `Development` Menu that includes actions useful when developing Spyder.

Some things that could be included:
- An action to open a signal tracker panel, as discussed in #1421
- Tools for using the translation scripts plus opening PoE

[2015-04-20 09:00] goanpeca commented on #2335
@ccordoba12 would not it be easier if we just add this `.gitattributes` to our repo? It would make git always use a consistent line end per repo and users would not have to change anything.

https://help.github.com/articles/dealing-with-line-endings/#per-repository-settings

[2015-04-20 09:02] goanpeca commented on #2335
+ http://stackoverflow.com/questions/170961/whats-the-best-crlf-carriage-return-line-feed-handling-strategy-with-git

[2015-04-20 09:04] goanpeca commented on #2335
@ccordoba12 What would be the problem with renormalizing the repo with a fixed line ending?

[2015-04-20 09:19] Nodd commented on #2335
`.gitattributes` looks good, but it will require to recommit all files.

[2015-04-20 09:22] carlosloslas commented on #2323
@ccordoba12
Buenos dias!
Update on the issue.
Spyder is skipping breakpoints in reasonably long for or while loops and then gives an ```UnpicklingError: invalid load key, 'C'.```  in the Internal console.

I have seen similar ```UnpicklingError```s in forums but i haven't called or touched anything to do with the Python ```Pickle``` module

Thanks in advance,
Un cordial saludo

[2015-04-20 09:24] goanpeca commented on #2335
It will be once... and it will solve once and for all inconsistencies...

[2015-04-20 09:59] Nodd commented on #2335
Some data (You have to use a shell that support recursive globbing or enable it in bash [it has side-effects]):
[code]
So about half of the lines are have windows style endings, and the other half have linux style endings.

Now by files (remove the grep to see file names):
[code]
That's a lot of files to change ! If we do such a big change, we should also remove trailing whitespace everywhere. But

[2015-04-20 10:03] goanpeca commented on #2335
It is all relative, but is better now than later (or never...).

I would say, yes it is worth it:

**Yes** we also should remove trailing whitespace, **yes** we should make all of spyder code pep8 and **yes** we should change the line ending for good.

---
Travis suggestions seems like a good idea to make sure things are consistent, and sure, we could add line length check, no biggie there

[2015-04-20 10:28] d1manson opened #2340 "SublimeText-like file switching widget"
In Sublime Text, you press Ctrl-P to get an intelligent, fast switching between open files/files in the current folder.  See [here](http://sublime-text-unofficial-documentation.readthedocs.org/en/latest/file_management/file_management.html).

I find myself trying to use this shortcut in Spyder, and then get annoyed when I have to click through little buttons at the top of the editor.

I imagine th

[2015-04-20 10:42] goanpeca commented on #2340
@d1manson sure, something that seems worth implementing. Do you want to give it a try?

Right now it would conflict with the Print command, so I guess some discussion is needed.

@ccordoba12, @blink1073, @Nodd

[2015-04-20 11:01] Nodd commented on #2340
There already is `Ctrl+E` for this, but in master I get in the internal console:
[code]

[2015-04-20 11:04] Nodd commented on #2335
We can not be fully compliant to pep8 because of the names in Qt, but we could follow most of it.

[2015-04-20 11:07] d1manson commented on #2340
Ah thanks, I didn't know about that dialogue - it *does* work for me. Although it's not quite as slick as Sublime's it's a massive improvement over clicking on tabs!  Thanks

[2015-04-20 11:09] Nodd commented on #2339
I'd prefer have a clean set of scripts for this rather than adding a new menu:
* It's better to separate production code and development when possible
* I regularly use the master version for daily use to be able to catch eventual bugs. There are already enough menus and submenus, thanks.

If it is implemented, it could be a new submenu in the help menu, it would be less intrusive this way.

[2015-04-20 11:14] goanpeca commented on #2335
Yes my dear @Nodd... exlcuging that...

[2015-04-20 11:15] goanpeca commented on #2339
Ok it can be hidden in the help menu if it makes you happier, but of course this is not intended for people that feel comfortable on the cmd prompt as @Nodd is.

[2015-04-20 11:17] goanpeca commented on #2335
I have an entry on the wiki for this

https://github.com/spyder-ide/spyder/wiki/Dev%3A-Coding-Style

[2015-04-20 11:18] goanpeca commented on #2340
Me neither... wow.. we really need to document this!

We could make it more slick... want to tackle that @d1manson ?

[2015-04-20 11:24] Nodd commented on #2340
THere should be an entry in the file menu to make it more discoverable. I heard about it by a comment froom @ccordoba12 in an issue quite recentely. And I forgot about it until I saw this !

@d1manson what would make it slicker ?

[2015-04-20 11:38] d1manson commented on #2340
Well, it's already pretty good.  But, for extra slickness (to copy Sublime)...
* I'd like to be able to use up/down keys on the list while the filter box has the focus.
* When filtering, the matched text should be highlighted in the list.
* Whichever item in the list is currently selected should be brought to the front of the editor (but if you Esc out of the dialogue rather than hitting Enter you

[2015-04-20 11:41] goanpeca commented on #2340
@d1manson sounds like you have a plan :-), you should give it a try, we can provide guidance where needed, and we are always looking for new contributors :smile_cat:

[2015-04-20 12:35] Nodd commented on #2339
RIght, I find developing on windows so horrible that I forget other people do it anyway!

Counter-proposal: include this in a new external plugin. This way you're not limited to a menu and you can include any widget. The signal tracker could be either integrated in the plugin or set as another plugin.

Anyway, :+1: for the functionnality.

[2015-04-20 12:47] goanpeca commented on #2339
Until @ccordoba12 rolls ou the new plugin hook interface for spyder, I will not endeavor in making new plugins ;-)

[2015-04-20 13:17] Nodd commented on #2339
Yes, it would be a new-style plugin !

[2015-04-20 13:43] J3ronimo opened #2341 "IPython console: "sre_constants.error: unbalanced parenthesis" while typing"
## Description

**What steps will reproduce the problem?**

In an IPython console in Spyder, write:
[code]
Now try to enter the following line:
[code]

**What is the expected output? What do you see instead?**
In my case, as soon as I type the second '(', the internal console raises an "sre_constants.error: unbalanced parenthesis".

In a standalone IPython Qt console, this works fine and the argum

[2015-04-20 14:35] Nodd commented on #2341
Thanks for your report.
Is it the full text printed on the console, there is no traceback with the line numbers and so on ?

[2015-04-20 14:46] J3ronimo commented on #2341
Hi. Here's the full output it gives me:
[code]

[2015-04-20 15:25] goanpeca commented on #600
I think this is no longer true,

Closing, @ccordoba12 ?

[2015-04-20 15:28] goanpeca commented on #1421
This looks similar to #881, @ccordoba12 ?

[2015-04-20 15:29] goanpeca commented on #790
@blink1073  isnt this already fixed?

[2015-04-20 15:30] Nodd commented on #2341
Thanks, it will be easier to debug !

[2015-04-20 15:33] goanpeca commented on #1001
As soon as the restart PR is merged I can take this one, now it would be friendly to ask for a restart.

[2015-04-20 15:36] goanpeca commented on #932
This seems fixed already.. @ccordoba12?

[2015-04-20 15:38] goanpeca commented on #916
@v3ss0n?

[2015-04-20 15:55] goanpeca commented on #1640
Seems like an old issue, closing @ccordoba12 ?

[2015-04-20 16:22] ccordoba12 commented on #2327
@Nodd has a really good point! I think we should give a special treatment to `ufunc`'s and make the completion widget to declare them as functions instead of classes.

@blink1073, what do you think?

[2015-04-20 16:33] ccordoba12 commented on #2323
Please paste here an example that's giving you that error so we can test it in our side :-)

[2015-04-20 16:36] goanpeca commented on #1838
We should close this one @ccordoba12

[2015-04-20 16:46] ccordoba12 commented on #2335
This seems a bit excessive to me because it'll make impossible to merge the work of the (62) people that have forks at this moment. And as I said before, it will only cover very sporadic cases (like the one mentioned by @techtonik).

I'd like to call for a vote here from all @spyder-ide/core-developers to make a final decision about it.

My vote is -1 on this change.

[2015-04-20 17:11] goanpeca commented on #82
Do you find this useful @spyder-ide/collaborators ?

[2015-04-20 18:37] ccordoba12 commented on #2340
@Nodd, I can reproduce the bug you reported. I'll fix it later today :-)

But let's leave as an enhancement to improve our widget to be closer the SublimeText one

[2015-04-20 18:40] d1manson commented on #2340
I have already started working on this (including bugfix).
https://github.com/d1manson/spyder/blob/file-switcher/spyderlib/widgets/editor.py

I'll submit a pull request later today I think.

[2015-04-20 18:45] ccordoba12 commented on #2340
Great!! A couple of suggestions:

1. I don't mind with changing the shortcut to `Ctrl+P` and making it global. I doubt that shortcut is used quite often right now, so I don't think changing it to another action would cause major headaches.
2. You can take our current widget and modify it as you want.
3. Don't forget fuzzy matching. [Here](https://github.com/seatgeek/fuzzywuzzy) it is a library to

[2015-04-20 18:46] ccordoba12 commented on #2340
But fuzzy matching can come later in another PR, it's just so that you keep it in mind.

[2015-04-20 18:50] goanpeca commented on #2340
:+1:

[2015-04-20 18:56] ccordoba12 commented on #2339
@goanpeca, I do most of the actions you mention on the command line. So the only valuable action I see for this new menu would be the signals explorer.

Besides, since creating new releases or updating translations is not that frequent either, I don't think it's worthy to add them to a new menu.

What I could do is add more scripts to make these processes easier and simpler to do :-)

[2015-04-20 19:13] ccordoba12 commented on #600
Sure. I don't have a way to test this :-)

[2015-04-20 19:13] #600 closed

[2015-04-20 19:16] ccordoba12 commented on #881
Closing as duplicate of #1421

[2015-04-20 19:16] #881 closed

[2015-04-20 19:17] ccordoba12 commented on #1421
I didn't prefixed our signals because it made things easier for me to port.

[2015-04-20 19:19] ccordoba12 commented on #1001
Good! Please add this to

    Preferences > General

[2015-04-20 19:20] ccordoba12 commented on #932
I think. The reported Spyder version is quite old :-)

[2015-04-20 19:20] #932 closed

[2015-04-20 19:20] ccordoba12 commented on #1640
Sure.

[2015-04-20 19:20] #1640 closed

[2015-04-20 19:21] goanpeca commented on #1001
:+1:

[2015-04-20 19:21] ccordoba12 commented on #1838
Yes.

[2015-04-20 19:21] #1838 closed

[2015-04-20 19:37] ccordoba12 commented on #82
This is a duplicate of issue #588. Someone else try to implement it on Bitbucket, so take a look at it first :-)

[2015-04-20 19:37] #82 closed

[2015-04-20 19:38] ccordoba12 commented on #916
He implemented this feature on Bitbucket, but his pull request was a bit messy. We'd need to port it here.

I pretend to do that for beta2.

[2015-04-20 19:41] ccordoba12 commented on #2341
@blink1073 has not worked on this, I've done it, so I'll take a look at this bug :-)

[2015-04-20 19:51] ccordoba12 commented on #790
Yes, this is fixed now.

[2015-04-20 19:51] #790 closed

[2015-04-20 19:57] goanpeca commented on #82
The code snippets stuff?

[2015-04-20 19:57] goanpeca commented on #916
:+1:

[2015-04-20 19:57] ccordoba12 commented on #82
Yep

El 20/04/15 a las 14:57, Gonzalo Peña-Castellanos escribió:

[2015-04-20 19:58] goanpeca commented on #2341
Oops, my bad @blink1073  ;-)

[2015-04-20 20:01] goanpeca commented on #1421
To port? sorry me "no comprender"

[2015-04-20 20:03] SylvainCorlay opened #2342 "qtpy in Spyder org?"
Would it make sense to move qtpy into the Spyder organization?
Spyder could simply have a shim for it. Both qtawesome and conda-manager already depend on it.

[2015-04-20 20:06] ccordoba12 commented on #1421
I meant between the old style signals (which were not prefixed) to the new style.

[2015-04-20 20:09] goanpeca commented on #1421
Ahhh ok, but then you think it is a good/bad indifferent idea to have them prefixed?

[2015-04-20 20:10] ccordoba12 commented on #2342
Yes, I was thinking that too, but it depends on @goanpeca's wishes.

How the shim would work for Spyder?

[2015-04-20 20:14] goanpeca commented on #2342
@ccordoba12 for me its fine, the repo is ready so I can just transfer ownership to spyder-ide.

Not sure what you mean... (How the shim would work for Spyder?)

[2015-04-20 20:15] J3ronimo commented on #2341
Thanks guys.
Was anyone able to reproduce this? I also played around with some other imported functions, but so far didn't find any where this happens in the same way...

[2015-04-20 22:16] Nodd commented on #2327
I think that `gufunc` is a thing too, but I don't know what exactly. Maybe it should be treated the same.

[2015-04-20 22:47] Nodd commented on #2342
@ccordoba12 suggested to change the name, because it's easy to confuse it with pyqt. Some not so good suggestions:
PythonQts ?
QtsPython ?
CutiePy ?
QutiePy ?

[2015-04-20 23:51] SylvainCorlay commented on #2342
SpyQt ? :smile:

[2015-04-21 00:12] ccordoba12 commented on #2308
I can't reproduce this error using the latest Anaconda.

[2015-04-21 00:13] ccordoba12 commented on #2308
@Nodd and @goanpeca, I think you'll have to help me to find its cause :-)

[2015-04-21 00:15] blink1073 commented on #2327
The problem is we don't have enough information to detect if it is a ufunc.  We can't just match on the name of the function, because there could be another function with the same name.

[2015-04-21 01:43] SylvainCorlay commented on #2342
In any case, qtpy already is on pypi and might have other users. We should weight this before renaming it to something else.

[2015-04-21 08:22] bilderbuchi commented on #2335
just in case you want a data point from an outsider, I am part of a team with a big repo with developers of all OSes (and line styles), and we previously ran into the same problem - `.gitattributes` is the way to fix this, as already proposed above.

[2015-04-21 08:29] bilderbuchi commented on #2335
also, @ccordoba12, for the issue of spoiling PRs, the `renormalize` option for [`git merge`](http://git-scm.com/docs/git-merge) helps with that.

[2015-04-21 09:48] goyou opened #2344 "Highlight selected window title (Enhancement for only-keyboard usage)"
Hello,

I am using a lot the Ctrl+E and Ctrl+C shortcuts for switching from editor to console and reversely.
That way I use spyder without the mouse usually and it's working well.
But the only graphical information you have for knowing which of these windows is currently active is the text cursor.

The active window title ('Editor - ...' or 'Console') should be highlighted with darker or colored b

[2015-04-21 10:26] goanpeca commented on #2344
Indeed, it would make it more evident, we will see what we can do about this

[2015-04-21 19:26] ccordoba12 commented on #2335
Well, let's take a decision: @goanpeca, @Nodd, @SylvainCorlay and @blink1073, what do you think about this issue? Should we move to use `.gitattributes`?

[2015-04-21 19:33] goanpeca commented on #2335
I would do it, even if it is messy now, it will save us from trouble in the future... when it might become even messier

[2015-04-21 19:33] goanpeca commented on #2335
;+1:

[2015-04-21 19:36] #2306 closed

[2015-04-21 19:59] ccordoba12 commented on #2342
@goanpeca, it's your choice if you want to leave your current name or pick up another. I need your decision before creating the repo.

My suggestion: `qt4py`: still simple, a bit more compelling, but harder to confuse with `pyqt` :-)

[2015-04-21 20:06] goanpeca commented on #2342
:worried: :sweat_drops: :sweat:

[2015-04-21 20:35] ccordoba12 commented on #2344
After 2.3.3 (I think), this information is visible in

    View > Panes

I think that's enough, don't you think?

[2015-04-21 20:55] goanpeca commented on #2344
The think is that looking at the question, the problem seems to be that besides a blinking cursor on one or the other, there is no direct self evident way (without having to use mouse or keyboard) to know which widget is focused...

Maybe we can change the way the tab that is focused looks. Spyder right now.... Who has focus?

![image](https://cloud.githubusercontent.com/assets/3627835/7262331/053

[2015-04-21 21:07] Nodd commented on #2342
`qt4py` looks like it's for Qt4 only. It's hard to find a good name... `PyCute` ? (PySide and PyQt are both Py-something)

[2015-04-21 21:10] Nodd commented on #2335
After some thoughts about it I'm :+1: on the change, if we normalize many things at the same time (and not line endings only). This could include:
* line endings
* trailing spaces
* line length < 79 (I think we don't have anything to change here actually)
* add all above as pep8 checks to travis
* use .gitattributes

To facilitate the work, we can use tools like autopep8 and/or yapf. yapf is quite

[2015-04-21 21:10] goanpeca commented on #2342
I know!! numbers just add to the confusion... QtPy sounds so lovely :-) and [friendly](http://www.urbandictionary.com/define.php?term=cutie+pie)

[2015-04-21 21:12] Nodd commented on #2340
`Ctrl+P` is often used as *Print*, but a file browser is a more important feature for an IDE.

[2015-04-21 21:13] goanpeca commented on #2340
I agree, we should give priority to the file browser.

[2015-04-21 22:01] SylvainCorlay commented on #2342
@goanpeca did not know this one :)

[2015-04-21 22:06] goanpeca commented on #2342
Well.. that was the whole point of the name.... it had a punch to it

[2015-04-22 01:39] statmobile commented on #1957
Okay, so I installed Anaconda 2.2, which I've been meaning to use for a while now.  After setting up a base anaconda environment on OS X Yosemite, I did the following:

* Pip installs: jedi, py2app, boltons
* conda installs: pyqt, ipython, matplotlib, pygments, jinja2,
                 psutil, sphinx, PIL, pyflakes, rope, nose,
                 sympy, pyzmq, pandas, statsmodels, scikit-learn,

[2015-04-22 06:22] cmeeren opened #2346 "Show warning in editor when nested loops use the same variable names as outer loop"
I would like a yellow exclamation mark on the line of an inner `for` loop if I accidentally iterate using the same variable names as an outer `for` loop. For example:

[code]
Nested iteration using the same variable names might be useful for some purposes, but in my own experience (I'm not primarily a coder, but a physicist) this is simply an error that's difficult to debug. I suggest that this sh

[2015-04-22 08:05] goyou commented on #2344
I've made another image to show how it is in matlab :
![05376476-e879-11e4-983e-cba228d698492](https://cloud.githubusercontent.com/assets/11740865/7269718/79e6d90c-e8d6-11e4-9d4e-7ae84317add7.png)

But maybe it's easier to fix just by bolding the windows title. I think it doesn't break the look and it's evident enough :
![05376476-e879-11e4-983e-cba228d698493](https://cloud.githubusercontent.com/a

[2015-04-22 08:13] goyou commented on #2344
My advice, at first, was just to darker a little the title background :
![05376476-e879-11e4-983e-cba228d698494](https://cloud.githubusercontent.com/assets/11740865/7269896/f75a6358-e8d7-11e4-944c-65b1837b117b.png)
That's the way I think it fits the best.

[2015-04-22 08:13] goanpeca commented on #2344
Yep, definitely doable, and goes in hand with a change on the look of the dockwidget titile bars.

@ccordoba12, the PR #2288 that I closed could also address this issue. Now that some more benefits arise it makes sense to reopen it, and decide what would be the best course of action, we could add a light cerulean blue (or whatever color scheme we choose) to be the background of the title bar.

[2015-04-22 08:42] goyou opened #2347 "Add shortcuts to move to next/previous line in the Editor"
Hello !
There's already the 'next word' and 'previous word' keyboard-shortcuts in Spyder ( Ctrl+Right and Ctrl+Left ).
There should be the same behavior but "vertically".

I think the "horizontal" jump is easily implemented : seek for "space"' character, then jump cursor to the position just after it.
If so, it would be easy to implement vertical jump : just seek for an empty line instead of a "sp

[2015-04-22 09:37] Nodd opened #2348 "Combobox to choose Matplotlib backend"
Currently the matplotlib backend is set via a QLineEdit. Since the possible values are a few and well defined, a combobox is more appropriate.

Bonus points if only the available backends are shown (but it depends on the active interpreter ?).

[2015-04-22 09:38] Nodd commented on #2348
Same for ETS Toolkit, I guess.

[2015-04-22 09:47] Nodd commented on #2346
This kind of things should be integrated to the libraries that spyder uses for checking code correctness. In this case I'd say pylint.

[2015-04-22 10:04] goanpeca commented on #2346
Agree, this is a way too specific change

[2015-04-22 10:12] cmeeren commented on #2346
Ok, I didn't know how this was implemented. I'll try pylint then.

[2015-04-22 11:27] Nodd commented on #2346
For reference, here is the link to the pylint feature request: https://bitbucket.org/logilab/pylint/issue/530/warning-when-nested-loops-use-the-same

[2015-04-22 11:27] #2346 closed

[2015-04-22 14:07] ccordoba12 commented on #2347
I think @blink1073 is working on it along with the Emacs keybindings, right?

[2015-04-22 14:11] ccordoba12 commented on #2344
I find this suggestion of highlighting the active plugin a bit ugly. I'll have to see if it can be done in a more beautiful way :-)

[2015-04-22 14:15] ccordoba12 commented on #1957
I solved this problem. Unfortunately, Qt in Anaconda is not build as a framework, so it can't be used to build the app.

However, a couple of weeks ago I tried to build the app again with Homebrew, and I'm almost sure the problem we're seeing is a bug in py2app. So there is nothing we can do to move things further for now :-(

[2015-04-22 15:20] blink1073 commented on #2347
Yep, I'll make these the non-emacs keybindings.

[2015-04-22 15:30] statmobile commented on #1957
For the kids at home, FYI, I only used boltons for debugging, it wasn't necessary in building Spyder.

I agree, in the deep dungeons of Google I keep finding that py2app is probably the root of the problem, and I even remember seeing someone advising to move away from it, but I can't find that StackExchange thread now.

Should we take these issues upstream to py2app?  Should we start forking for o

[2015-04-22 16:20] goanpeca commented on #2256
It works for me with master

Closing @SylvainCorlay?

[2015-04-22 16:23] goanpeca commented on #2348
Which are the valid options? and how to check from the valid options which ones are enabled?

[2015-04-22 16:29] goanpeca commented on #2302
@Shaunakde if you still want to help on this, you can start taking a look at [this](https://github.com/spyder-ide/spyder/blob/master/spyderlib/plugins/editor.py#L1713) and try  to implement @ccordoba12 suggestions.

[2015-04-22 16:31] Shaunakde commented on #2302
I will take a look as soon as I get home tonight. Thank you!

On Wed, Apr 22, 2015 at 6:29 PM, Gonzalo Peña-Castellanos <
notifications@github.com> wrote:

--
Shaunak De
http://shaunak.de/

[2015-04-22 16:36] goanpeca commented on #2302
:+1: great, remember to drop by [gitter](https://gitter.im/spyder-ide) if you have doubts, cheers

[2015-04-22 19:05] ccordoba12 commented on #2256
Since there are already three confirmations that things are working well, I'm closing this issue.

@SylvainCorlay, please reopen it if the problem appears again :-)

[2015-04-22 19:13] ccordoba12 commented on #2348
@goanpeca, we already have this for the IPython console. Check out its *Graphics/Backend* tab on *Preferences* to see what @Nodd wants. Right now we are only testing for available backends on the same interpreter that Spyder is running on, but that could be improved.

About ETS: I think there are only two possible options: `qt` and `wx`, so I don't think we need a combobox for that ;-)

[2015-04-22 19:13] ccordoba12 commented on #1957
I'd like to create a minimal app with py2app to show the error to its upstream developers, but I haven't had time to do it.

I'd like to try alternatives, but I invested a lot of time with py2app so I'd prefer to help solve py2app problems instead.

But if you want to try another alternatives @statmobile, I'm fine with it :-)

[2015-04-22 19:16] #2327 closed

[2015-04-22 20:53] Nodd commented on #2348
@ccordoba12 Exactly! I didn't notice that it was already used by IPython.

About ETS, having a QLineEdit for 2 options is more silly than having a combobox. :tongue: Other options are a checkbox (which would be confusing) or 2 radio buttons, which would work well too. In any case it's not a big deal, only a minor improvement.

[2015-04-22 20:55] Nodd commented on #2341
After a quick test I can't reproduce (Linux, python3, with jedi, rope and sphinx installed)

[2015-04-22 21:50] #2307 closed

[2015-04-22 21:55] statmobile commented on #1957
Unfortunately, I don't have much experience with GUI development thus far.  I was hoping to learn by compiling Spyder for you, but I don't think I know enough to port this to something like cx_freeze.

[2015-04-23 07:16] bilderbuchi commented on #2341
I can reproduce this (and confirm it works in a standalone ipython console).
WIndows 7, Miniconda, Spyder 2.3.4, Python 3.4.2, rope, jedi, sphinx installed.

[2015-04-23 08:23] Nodd commented on #2341
Uh sorry, I can reproduce the problem.

[2015-04-23 10:07] goanpeca opened #2350 "Add a Spyder dark theme"
I guess this can be achieved bu having custom themes on a OS level, but it would be nice to be able to set Spyder to a dark theme directly in Spyder.

Something like what [Dark style sheet](https://github.com/ColinDuquesnoy/QDarkStyleSheet) provides...

[2015-04-23 10:16] goanpeca commented on #916
What is the plan?

To keep the global Coloring Scheme and for all Consoles (ipython included) add the option to select the coloring scheme with a checkbox, to use the same as the editor? (to avoid repetition?)

[2015-04-23 11:06] goanpeca opened #2351 "Source menu actions remain active with all files closed"
Source menu actions remain active with all files closed, so calling (clicking) any of these actions will result in errors as can be seen in the following image.

![image](https://cloud.githubusercontent.com/assets/3627835/7295735/580717f0-e9b9-11e4-93ca-1f81eb551b1b.png)

Maybe when the last tab (file) is closed a call to disable these actions should be emitted...

[2015-04-23 11:07] goanpeca commented on #2348
Even though I this is not terribly urgent, I do agree with @Nodd that even if only 2 options, we should change them to comboboxes.

[2015-04-23 11:10] goanpeca commented on #404
You opened this @blink1073?

[2015-04-23 11:35] Nodd commented on #2351
If https://github.com/spyder-ide/spyder/issues/2302 is implemented by always having an opened file, it would solve this issue too.

[2015-04-23 11:48] goanpeca commented on #2351
Yep

[2015-04-23 17:10] ccordoba12 opened #2352 "Some issues with code completion in the Editor"
Last night I was testing things after PR #2337 and I found these problems (sorted by importance, from very serious to less so):

1. If you try to get completions of something that can't give none (e.g. `XX<tab>`), the completion machinery **stops** to work, i.e. you can't get completions on the current file, nor on any other (new or already open). This is also true for any file (i.e. be it a Pytho

[2015-04-23 17:12] ccordoba12 commented on #2348
`wx` doesn't work on Python 3, so I don't think we need a combobox for that entry

[2015-04-23 18:01] d1manson opened #2353 "Reduce the "chrome""
This is going to be a bit of a rant, but hopefully I'm not alone in thinking the following...

It would be great to reduce the "chrome" in Spyder, as in [what Google did with the web browser](http://googleblog.blogspot.co.uk/2008/09/fresh-take-on-browser.html).

Compared to a web browser, the need for minimizing chrome is much greater in a complex IDE such as spyder, where you have a whole lot mor

[2015-04-23 19:19] ccordoba12 commented on #2353
@goanpeca, this seems to be for you :-)

[2015-04-23 19:48] Nodd commented on #2353
I have another solution to this problem: I code in a screen rotated by 90°, so I have plenty of vertical space! It's also useful to write reports, I see a full page at once (a bit more more actually).
I also remove the toolbars, I never use them.

Back to the subject, Yes it's possible to gain some space, but be aware that if the information is too condensed, it is harder to distinguish.

There ar

[2015-04-23 19:50] Nodd commented on #2348
In that case this options should be hidden under python3, and use a combobox under python2. :smile:

[2015-04-23 19:56] ccordoba12 commented on #2348
As @goanpeca established: *help-wanted*. I really think the QLineEdit is just fine. Besides, I don't know if ETS is working on Python 3.

[2015-04-23 19:56] Nodd commented on #1860
I think it was said somewhere but I can't find it any more: another idea is to merge the Python console widget and the IPython consoles widget. There would only be one widget with consoles of different types (IPython, standard python, dedicated python).
Even the internal console could be shown here, It would feel more clean but it could be misleading for the unaware user. Maybe set the background

[2015-04-23 19:58] d1manson commented on #2353
@Nodd If I had more horizontal space I'd have another column of widgets, or split my editor horizontally!

Regarding console counts...I'm sure there are a lot of people who use more than one fairly regularly, but it must be rare to have loads open in the way you have loads of editors open.   And the console tabs don't really have names in the same way as editor tabs...my point being that you just

[2015-04-23 19:59] Nodd commented on #2348
:+1:

[2015-04-23 20:04] Nodd commented on #2353
Looking back at your screenshot: you really should shorten you lines of code, you'd have lots of space to add anything you want on the right ! :stuck_out_tongue_winking_eye: (there are so many smileys in github!)

When using dedicated consoles for running scripts, the console titles are set to the name of the corresponding console, so it's still useful.

[2015-04-23 20:25] ccordoba12 commented on #1860
This is not a possibility. The two consoles are very different :-)

[2015-04-23 20:42] Nodd commented on #1860
What is inside the tabs are different, but couldn't they be in the same container (a dockwidget) ?

[2015-04-23 21:51] d1manson commented on #2353
@Nodd short lines =  more lines..which is the same problem!
(Though I accept it's good practice to keep 'em short.)

[2015-04-23 22:08] d1manson commented on #2353
Another potential saving, just for the record...look at all this chrome...

![image](https://cloud.githubusercontent.com/assets/4244876/7308563/86169efa-ea0d-11e4-87c3-07eb576f590f.png)

On the right of the code editor is the issues strip (I don't know what it's called).  In Google Chrome, you get a similar thing when you do Ctrl-F find, but there the find tool shares the scrollbar's section of th

[2015-04-23 22:31] petebachant commented on #564
Adding a +1 to this one!

[2015-04-23 22:37] petebachant opened #2354 "Context menu for tabs in editor should allow "close all but this" and "close all to the right""
Similar to Chrome and Sublime Text, this is very useful after working on many files at the same time and needing to clean house!

[2015-04-23 23:04] ccordoba12 commented on #1860
Please take a look at the code ;-)

`plugins/ipythonconsole` has a lot of supporting code to handle kernels, debugging and preferences.

[2015-04-24 00:09] blink1073 commented on #404
I just tried opening a 32000 line file on Windows 7 64 bit and it works much better.

[2015-04-24 00:09] #404 closed

[2015-04-24 01:01] stuppie opened #2355 "Variable Explorer does not show sets"
IPython >=0.13  :  3.0.0 (OK)
matplotlib >=1.0:  1.3.1 (OK)
pandas >=0.13.1 :  0.13.1 (OK)
pep8 >=0.6      :  1.6.2 (OK)
psutil >=0.3    :  2.2.1 (OK)
pyflakes >=0.6.0:  0.8.1 (OK)
pygments >=1.6  :  2.0.2 (OK)
pylint >=0.25   :  1.4.1 (OK)
rope >=0.9.2    :  0.9.4-1 (OK)
sphinx >=0.6.6  :  1.2.2 (OK)
sympy >=0.7.0   :  0.7.6 (OK)
zmq >=2.1.11    :  14.5.0 (OK)
Spyder 2.3.2
Python 3.4.0 64bits, Qt

[2015-04-24 01:12] ralexx opened #2356 "Block comment incorporating whitespace excludes last line"
## Description

* *What steps will reproduce the problem?*

1. Select lines of code where one or more lines of whitespace are interspersed i.e. neither first nor last
2. First line selected must be the beginning of a contiguous block of code >= 6 lines long
3. The number of lines of code selected and the placement of the whitespace appears significant

* *What is the expected output? What do you s

[2015-04-24 07:14] bilderbuchi commented on #564
another +1, for what it's worth.

[2015-04-24 07:18] ccordoba12 commented on #2355
Thanks for reporting. We'll see what we can do about it.

[2015-04-24 07:47] ccordoba12 commented on #404
@goanpeca, that Steve is not @blink1073, but just a guy that reported a lot of issues a very long time ago and then mentioned that he switched to another IDE.

[2015-04-24 07:50] ccordoba12 commented on #564
@goanpeca, would you mind to take a look at this one?

Pierre mentioned that this would require to rewrite how tabs are handled in the Editor, but I think the main issue is with trying to maintain all editorstacks in sync.

By the way, this is the most popular issue after code folding :-)

[2015-04-24 07:52] bilderbuchi commented on #1537
+1 on this, I also wanted to report this. Maybe bind this to a run-related keyboard short cut (e.g. Shift-F5: run project master file).
For now I use "Ctrl-F6 - re-run last script" to emulate the desired behaviour.

[2015-04-24 08:00] bilderbuchi commented on #1164
It would also be great if not all the projects in a given workspace have to reside in a subfolder of siad workspace, e.g. when you work on two projects which are connected, but reside in different places (like on a network folder, or in a site-packages folder,...)

[2015-04-24 08:03] bilderbuchi commented on #1425
+1 on human-readable workspace and project files. These files seem to change every time spyder is restarted, which is kinda annoying if you use a version control system. At least with human-readable format, I'd get a meaningful diff.

On a related note, maybe the part of the workspace/project definition that changes on every restart (open file count? viewer positions?) could be delegated out into

[2015-04-24 08:09] bilderbuchi opened #2358 "Project explorer context menu misses "Copy..." option"
The context menu for a file in the project explorer has a Delete, Rename, and Move option, but not a Copy option, which seems like an inadvertant omission, and would be good to have.

On Spyder 2.3.4.

[2015-04-24 08:32] bilderbuchi opened #2359 "pep8 ignores config files in project"
The pep8 testing ignores configuration given in config files (`.pep8`, `tox.ini` or `setup.cfg`) in the project (or workspace) folder, when it [should read those files](http://pep8.readthedocs.org/en/latest/intro.html#configuration).

Having a `.pep8`file in the user home works, though, but global options are not always appropriate. Interestingly, `pylintrc`files for configuring the static code an

[2015-04-24 08:36] bilderbuchi commented on #2162
+1 on this!

[2015-04-24 12:16] goanpeca commented on #2353
Ok, so since I will be probably working on this (according to @ccordoba12 .... :smiling_imp:) here are my comments:

1. I will add a hide/close all toolbars in the view menu.
1. I can either add an option in preferences or in view (or both) to hide the status bar, although I must warn that I was thinking of putting there the dialog in charge of handling projects
1. As far as I know, there is nothi

[2015-04-24 12:19] goanpeca commented on #564
@ccordoba12, sure, I already took a quick look at this some time ago... hmmm in theory yes the issue would be keeping stuff synced, but I think we can do it without heavily modifying the code as Pierre suggested.

[2015-04-24 12:26] goanpeca commented on #1860
What I find annoying is having the kernel window inside the console windows... it is messy an ugly ..
 additional to the ipython console.

We should have a Pane for the internal console (as it is), a pane for Python console (and should be named python console and not have any ipython kernels there..) and we should have a Pane for an Ipython Console (how it is now).

Can we go around not having tha

[2015-04-24 12:28] goanpeca commented on #2358
Projects will be revamped completely, but I will take note

[2015-04-24 13:21] d1manson commented on #2353
That all sounds pretty good to me...looking forward to it!

With the warning strip..perhaps you could keep it where it is now but make it really transparent so you can see code beneath it.  The other related thing, which is probably more appealing to you is (to provide the option) to ditch the other warning strip - the one on the left of the line numbers - and instead display the warning indicatio

[2015-04-24 13:48] Nodd commented on #1860
@goanpeca this is the title of the issue :smile:

[2015-04-24 14:19] goanpeca commented on #1860
Oops... true :)

[2015-04-24 14:33] Nodd commented on #2353
@goanpeca I agree with almost everything:
3. You can add a menubar everywhere you want, so to achieve this you'd have to add the menu to the toolbar. (not 100% sure about that)
4. should be an option, because even if I really like it it won't be the case for everyone, especially newbies.

@d1manson The ribbons on the left and right serve different purposes. The left one is for the visible part of

[2015-04-24 14:51] d1manson commented on #2353
@Nodd  - yeah, I get what the two ribbons are for. Personally I don't often look at (or click) the one on the right, but I do refer to the one on the left a lot.  The thing is, if all is well with your code both ribbons are mostly empty so it seems a real waste to have one let alone two taking up all that space. As I say, I think the one on the left is easy to get rid of (just highlight the line n

[2015-04-24 18:26] ccordoba12 commented on #1860
@goanpeca, yes, having kernel widgets inside our Python console is one of the ugliest things in Spyder right now.

Unfortunately, there is no workaround to get rid of that ;-) What we need to do is to talk directly the IPython protocol to connect IPython kernels to the Variable Explorer.

Embedding kernels in the Python console was the easiest and most straightforward way to do that. That's why Pi

[2015-04-24 18:54] d1manson commented on #2353
One final thought for the day!...

I've noticed that most of the time my *variable explorer* is not visible on screen (it's "behind" some other widget tab).   The main reason for this is that its "area-to-usefulness" ratio is not that great...each variable takes up a lot of space vertically and you need to set the width of the widget to be pretty wide in order be able to see the value properly.

I

[2015-04-24 19:36] Nodd opened #2360 "bootstrap.py should always use --new-instance"
Is there any situation where you don't want `-- --new-instance` when using `bootstrap.py` ?
I propose to always activate this option since it makes it way easier to develop spyder using spyder.

If really necessary `bootstrap.py` couls have an option  `--no-new-instance`.

What do you think ?

[2015-04-24 19:57] Nodd opened #2361 "Use spyderlib/utils/external/path.py internally ?"
Should we use path.py given that it's already embedded ? It's really easier to manage paths with it rather than `import os.path as osp`.

This would be for new development only, there is no need to change working code.

[2015-04-24 20:09] ccordoba12 commented on #564
Yes, that's my gut feeling too :-)

[2015-04-24 20:28] ccordoba12 commented on #2361
Yes, we could do that :-)

Could you start by creating a PR to update `path.py`?

[2015-04-24 20:40] Nodd commented on #1096
For information I just started working on `spyderplugins`. I'll soon create a PR to discuss about it.

[2015-04-24 20:46] ccordoba12 commented on #2360
There is one instance, but unfortunately I haven't made it work as I want. If you start Spyder without `--new-instance`, you can open files in Spyder from the console by doing:

    python bootstrap.py -- foo.py

Unfortunately, this is harder to do when `foo.py` is not inside the repo and (I think to remember), it doesn't work well with virtual/conda envs

[2015-04-24 20:50] ccordoba12 commented on #1096
@goanpeca, nop, I'm in review mode these days :-)

[2015-04-24 20:59] #2352 closed

[2015-04-24 21:03] Nodd commented on #1096
Then you can start reviewing #2362 !

[2015-04-25 16:16] d1manson commented on #2353
I've [done a bit more on the "compact" variable explorer](https://github.com/d1manson/spyder/compare/master...d1manson:compact-variable-explorer).  You can now toggle it on and off from the context menu...but I'm not going to discuss that any more for the time being.

But...back on the question of multiple consoles...is it possible to dock other stuff into the same list?  @Nodd mentioned docking a

[2015-04-25 16:49] ccordoba12 commented on #2353
As I said to @Nodd in another issue: it's not technically possible to show Python and IPython consoles in the same dockwidget, much less history, find in files and the internal console ;-)

Our dockwidgets are not only simple widget containers, but they also have supporting code to communicate between them. So trying to add everything in a single dockwidget would be a total mess, not only from the

[2015-04-25 16:50] goanpeca commented on #2353
Agree!

[2015-04-25 17:13] ccordoba12 commented on #478
The way to enter keyboard shortcuts is being reworked right now. When it's done, it'll be much easier to enter any kind of shortcuts.

[2015-04-25 17:14] ccordoba12 commented on #1940
This shouldn't be that hard to implement @blink1073 :-)

[2015-04-25 17:18] ccordoba12 commented on #2344
I just saw how things work in Matlab, and I have to agree this is a very good suggestion to improve usability.

Let's wait for @goanpeca to implement it ;-)

[2015-04-25 17:19] ccordoba12 commented on #2125
Just for you to notice it @blink1073 :-)

[2015-04-25 21:05] goanpeca commented on #2344
Can you post a acreenshot of how it looks in matlab¿

[2015-04-25 21:20] Nodd commented on #2344
You have it above: https://github.com/spyder-ide/spyder/issues/2344#issuecomment-95068569

[2015-04-25 22:21] chepyle opened #2363 "Spyder fails to start because of problems with lockfile"
Starting spyder from the windows command prompt by typing `spyder` results in the following error:

[code]

Despite un/reinstalling Anaconda, the problem persists

Anaconda 2.2.0 distribution/ Win7 64bit

[2015-04-25 22:28] Nodd commented on #2363
Try to reset spyder's preferences, you should have a shortcut for this action in the start menu.

[2015-04-25 22:49] chepyle commented on #2363
Thanks for the fast response, clicking the link in the start menu doesn't
resolve the issue, and manually typing in `python spyder-script.py --reset`
at the command prompt results in the same error message.

On Sat, Apr 25, 2015 at 6:28 PM, Joseph Martinot-Lagarde <
notifications@github.com> wrote:

[2015-04-25 23:02] d1manson commented on #2353
Ok.  I've got the compact variable explorer thing doing roughly what I was hoping for, namely it now gives you "lots" of information when you mouse-over a variable, including a thumbnail of 2D arrays...see the updated screenshot above.

It is still a little rough and ready, but I reckon it's worth pursuing...hope you guys agree!
(I haven't submitted a PR for this but you can see my branch - link u

[2015-04-25 23:10] Nodd commented on #2363
Strange, since this error is linked to a file stored in the spyder's preferences folder. I'm afraid I won't be able to help you any further, you'll have to wait for someone more knowledgeable....
As additional information, what python version do you use, and dou you to have Unicode characters in your username ?

[2015-04-25 23:16] chepyle commented on #2363
I'm using in python 2.7.9, and my user id has no Unicode characters.  Thanks again for looking into it so quickly, I'll continue to investigate on my end.

[2015-04-25 23:22] chepyle commented on #2363
Ha, the preferences reset wasn't working, but deleting the `spyder.lock` folder in my `.spyder2` user folder did the trick.  Thank you for identifying the preferences folder as the source of the problem!

[2015-04-25 23:30] Nodd commented on #2363
Good to see that your problem is solved !

Still, not resetting `.spyder2` is a bug on its own. When you ran it from the console, there was no error message ?

[2015-04-26 04:49] chepyle commented on #2363
Entering `python spyder-script.py --reset` in the cmd console gave the same error as trying to start spyder.

[2015-04-26 07:57] goanpeca commented on #2344
I mean a screenshot of matlab

[2015-04-26 08:19] goanpeca commented on #2353
@d1manson  can you please open a new issue with your variable explorer enhancement and we can have a discusion there. Lets try to keep issues simple.

Thanks

[2015-04-26 09:52] Nodd commented on #2344
Doh, I was certain that it was from matlab, the look is really similar !

[2015-04-26 09:58] thewhitetulip opened #2364 "change Toggle comment shortcut"
The current keyboard binding for toggle comment is `ctrl+1`, it can be changed to `Ctrl+/` which is by far the most widely used toggle comment shortcut that I have seen

[2015-04-26 10:16] ccordoba12 commented on #2364
@blink1073 and @goanpeca, thoughts?

[2015-04-26 10:18] blink1073 commented on #2364
I never use the shortcut, but it is `Ctrl+/` in Sublime.  I can change it as part of #2217.

[2015-04-26 10:26] goanpeca commented on #2364
Well... to be honest I am used to Ctrl+1 after all this time.... and I am only using spyder now... or notepad++ on windows...

I guess to make an informed decision we should make a coparison (Wiki I guess) where we can have a table on the standard shortcuts used in other IDE/editors, for me is fine if it helps people come over to spyder.

[2015-04-26 10:34] thewhitetulip commented on #2364
Well, both Ctrl+1 and Ctrl+/ can co exist, I'll send a PR, I already have edited the local Spyder running on my machine

[2015-04-26 10:39] Nodd commented on #2364
when multiple shorcut presets are implemented, `ctrl+\` will be present in some of them, so we can keep `ctrl+1` as spyder's default (I'm used to it too)

[2015-04-26 10:41] blink1073 commented on #2364
Stockholm Syndrome is no excuse :smile:, existing users can easily edit it, but I think we should optimize the defaults for new users.

[2015-04-26 10:44] thewhitetulip commented on #2364
Can't we have both? Because I am aware of `ctrl+1` being used only in Spyder and Toad/sql developer, while `ctrl+/` is used in a wide range of apps including Eclipse, Geany, LightTable, Sublime etc