[2015-04-26 10:57] ccordoba12 commented on #2364
Yes, I don't see any problem with leaving both of them.

[2015-04-26 11:01] goanpeca commented on #2364
Sure we can have both, I am ok with it, I am all in for making the new user xp the best possible.

It means that both shortcuts should be fixed shortcuts? or...? does it mean one will be fixed and the other editable? or if both will be editable how will it work out?

[2015-04-26 11:02] thewhitetulip commented on #2364
Both should be ideally present, let the user use either.

[2015-04-26 11:03] thewhitetulip commented on #2364
'editor/toggle comment': "Ctrl+1",
+'editor/toggle comment': "Ctrl+/",

[2015-04-26 11:04] ccordoba12 commented on #2364
I think both should be fixed, and shown in the corresponding menu entry. There is no need to make them configurable :-)

[2015-04-26 11:05] goanpeca commented on #2364
:+1:

[2015-04-26 11:07] thewhitetulip commented on #2364
`'editor/toggle comment': "Ctrl+1",
'editor/toggle comment': "Ctrl+/",`

I made the above changes, but the second shortcut overrides the first one, I tried renaming the second one to

`'editor/toggle comment two': "Ctrl+/",`

it still didn't work. I want to submit my first PR to spyder :D

[2015-04-26 11:10] goanpeca commented on #2364
@thewhitetulip we should make them fixed not configurable... as @ccordoba12 suggest

[2015-04-26 11:18] thewhitetulip commented on #2364
:+1: , which file should I change?

[2015-04-26 11:34] goanpeca opened #2365 "Use Transifex as a translation platform"
So @ccordoba12 gave a little nudge to take a look at [transifex](transifex.com) for translations and I am adding it here so maybe there can be some questions/answers about it if any.

I already created an organization, and I think it could help improving outreach by having mor translations (which might also be part of the website eventually)

If you all @spyder-ide/core-developers consider this wo

[2015-04-26 12:46] goanpeca commented on #2365
@manipuladordedados can you join as well?

[2015-04-26 14:55] goanpeca commented on #2335
@SylvainCorlay and @blink1073?

[2015-04-26 15:00] blink1073 commented on #2335
I agree with all of @Nodd's suggestions.

[2015-04-26 15:15] SylvainCorlay commented on #2335
I agree with normalizing things with the `.gitattributes`. Although, I would not go as far as @Nodd on forcibly coercing line length. I would rather keep it as a loose constraint.
I think that there are legitimate cases where having very long lines is the most elegant way.

[2015-04-26 16:04] Nodd commented on #2335
We could enforce that checks should be specifically disables for long line, to show that it's intentional. But I don't know how to to that other than by adding a comment at the end of the line, which would make it even longer... Anyway this point can be decided (and added) later, it is a detail.

[2015-04-26 17:39] SylvainCorlay commented on #2335
@nodd, agreed

Is it something we could do after the new icon theme gets in? My branch here has over 60 modified files. Rebasing after something like this is going to be very very long.

[2015-04-26 18:25] d1manson commented on #2353
@goanpeca  I've opened a PR (https://github.com/spyder-ide/spyder/pull/2368) for the compact variable explorer.

[2015-04-27 06:02] ssoloff commented on #1856
Finally got around to upgrading to the latest WinPython, which includes Spyder 2.3.4, and confirmed this is fixed.  Thank you, Carlos, for taking care of it!

[2015-04-27 07:03] wulmer commented on #1637
What steps would be needed to include [`numpydoc`](https://github.com/numpy/numpy/blob/master/doc/HOWTO_DOCUMENT.rst.txt) (or perhaps even [`napoleon`](http://sphinx-doc.org/ext/napoleon.html#module-sphinx.ext.napoleon)?) in Spyder?

Is it just to include `sphinx.ext.napoleon` in the configuration override in [`sphinxify.py`](https://github.com/spyder-ide/spyder/blob/1896cbc5ca169c2149168cbdae51a3

[2015-04-27 08:17] goyou commented on #2344
https://duckduckgo.com/?q=matlab+interface&t=canonical&iax=1&ia=images&iai=http%3A%2F%2Fetools.fernuni.ch%2Fmatlab%2Fmatlab2%2Fen%2Fimage%2Fgui.png

[2015-04-27 08:31] goyou commented on #2344
why not just adding a border to the title :
![05376476-e879-11e4-983e-cba228d698495](https://cloud.githubusercontent.com/assets/11740865/7344003/33980156-ecc8-11e4-8200-beb6d6ef3886.png)
or to the window :
![05376476-e879-11e4-983e-cba228d698496](https://cloud.githubusercontent.com/assets/11740865/7344010/3d8fb47e-ecc8-11e4-9b48-2902718a5817.png)
or both :
![05376476-e879-11e4-983e-cba228d698497](

[2015-04-27 09:20] Nodd commented on #2344
I find borders of the same colors not obvious enough.
Keep in mind that there is a discussion to give the possibility to hide the tockwidgets titles (see https://github.com/spyder-ide/spyder/pull/2345#issuecomment-96438578) so the highligh should also be visible without them. This rules out your first suggestion.

[2015-04-27 13:08] goanpeca commented on #564
Ok spyder fans, I have good news :-)

it is done :smile_cat: !

[2015-04-27 13:10] goanpeca commented on #564
Also, if you are interested, soon it will be also possible to rearrange the tabs in panes with multiple panes... (PR #2369)

[2015-04-27 14:19] goyou commented on #2344
Another possibility : change the background colour of the whole widget/pane.
This can also be an option where the user chooses if he wants that behaviour and chooses the colour of the background of the focused pane.

Let me summarize the possibilities until now :
1 - highlight one tab of the focused pane
2 - add a border to the focused pane
3 - colouring differently the background of the pane
and

[2015-04-27 15:26] chrisjcameron opened #2373 "Figure Save dialog looses focus."
## Description
- _What steps will reproduce the problem?_
- Set iPython graphics to "automatic"
- Create a matplotlib figure
- Choose Save Figure on figure viewer.
- Text for file name can be highlighted but typed characters go the the active spyder editor.
- _What is the expected output? What do you see instead?_
  Would expect to be able to type the name of the file in the save dialog
- _Please

[2015-04-27 15:38] goyou commented on #2353
Hello,
:+1: for the "hide all toolbars" option. (why not adding a button for this in the status bar ?)

In no-toolbar-mode, the user will need to keep an eye on the "current directory" while navigating through his files... The current directory path should be displayed somewhere I think, in the toolbar of the "file explorer" pane I suggest.

[2015-04-27 16:00] Nodd commented on #2353
I work fine without seeing the "current directory" because I use the option to always run from the directory of the file to be run. Maybe the file explorer should be synchronized the current directory (and the other way around). But it can be left for another PR: if you want to see the current drectory now, just don't hide all toolbars !

[2015-04-27 16:25] ccordoba12 commented on #1856
@ssoloff, you're welcome!

[2015-04-27 17:30] goyou commented on #2353
That's what I do !

[2015-04-28 02:08] manipuladordedados commented on #2365
@goanpeca yes, looks promising

[2015-04-28 02:16] blink1073 opened #2374 "Code completion enhancements"
Filter to only show current applicable items.
Add fuzzy matching using the following critera:

# look for files that contain the entered characters in order
matches = [f for f in files if re.match('.*'.join(input_text), f)]

Wait for #2371 to be merged.

[2015-04-28 04:11] mikofski opened #2375 "Release binaries as wheels"
The Windows installer binary distribution is deprecated. Please release Spyder as a [wheel](http://wheel.readthedocs.org/en/latest/). The only advantage of `bdist_wininst` is that it calls `spyder_win_post_install.py` and creates the variables used by it. The Windows post install file for Spyder creates the desktop and start menu items, but it also creates unnecessary registry entries whereas whee

[2015-04-28 04:34] ccordoba12 commented on #2375
There are several things here:

1. Windows installers are easy to run and provide a GUI to install. Wheels are installed only through pip using a terminal (yikes on Windows :-)
2. `spyder_win_post_install.py` **doesn't** create unnecessary registry entries. Those entries are necessary to open Python files through the Windows file explorer.
3. We could release wheels along with our current installe

[2015-04-28 04:41] ccordoba12 commented on #2374
I'm not sure about fuzzy matching. Two questions:

1. Do other IDEs have it?
2. I'll have to see it in action to check how intuitive is when used :-)

[2015-04-28 06:44] blink1073 commented on #2374
Sublime has it, and it is pretty awesome, as I hope you'll agree.

[2015-04-28 09:49] mikofski commented on #2188
Would it be okay to make [pywin32](http://sourceforge.net/projects/pywin32/) a depndency on Windows systems? maybe something else already depends on pywin32?

[2015-04-28 09:57] mikofski commented on #2375
Sorry for complaining. In retrospect, I don't think it's necessary to release Spyder as a wheel, since it has no binaries. Spyder can be installed with pip just as it is, but it would be nice if I can get #2188 done. I've started working on it, but I have a question whether or not PyWin32 can be used. I'll close this issue as unnecessary.

FYI on windows, most users will have to use pip or conda t

[2015-04-28 09:57] #2375 closed

[2015-04-28 09:59] goanpeca commented on #2375
We are trying to keep the user xp nice, so we have a GUI Conda Package manager that works as standalone and as a plugin inside Spyder itslef.

[2015-04-28 15:49] #2096 closed

[2015-04-28 16:33] drafter250 commented on #2341
drafter250

it happens with the decimal module if I alias decimal.Decimal

    import decimal
    D = decimal.Decimal

as soon as you type a second open parenthesis you get the regex error unbalanced parenthesis.

    (D( **kaboom!**

heres the traceback:

    Traceback (most recent call last):
      File "D:\Continuum\Anaconda\lib\site-packages\IPython\qt\base_frontend_mixin.py", line 138, in _di

[2015-04-28 17:09] SylvainCorlay opened #2376 "Rename Object Inspector plug-in"
I am not sure if Object Inspector is the right name for the inline help / documentation plug-in. What do you think?

[2015-04-28 19:05] ccordoba12 commented on #2376
Yes, I totally agree. I was thinking to rename it to *Help*. I haven't done it because I'm not sure if we should rename it in the code too.

What do you think? @goanpeca, @blink1073, @Nodd?

[2015-04-28 19:14] goanpeca commented on #2376
I would prefer renaming it in the code as well, it would be better in the long run...

[2015-04-28 19:43] ccordoba12 commented on #2374
Ok, I'd like to see it in action to give my final opinion

[2015-04-28 20:12] #2361 closed

[2015-04-28 20:49] blink1073 commented on #2376
*Help*, I need somebody!  *Help*, not just anybody!  *Heeeeeeeeeelp*.

(Yes, I agree)

[2015-04-28 20:51] goanpeca commented on #2376
Someone is happy...

[2015-04-28 21:17] Nodd commented on #2376
I agree on renaming UI and code !

[2015-04-29 01:25] 22csnyder opened #2378 "Spyder profiler uses wrong python when using virtualenv"
I have cross posted this from https://code.google.com/p/spyderlib/issues/detail?id=2209&thanks=2209&ts=1429797280

Spyder Version:  2.2.5
Python Version:  2.7.6
Qt Version    :  4.8.6, PyQt4 (API v2) 4.10.4 on Linux
pyflakes >=0.5.0:  0.8.1 (OK)
pep8 >=0.6      :  1.4.6 (OK)
IPython >=0.13  :  1.2.1 (OK)
rope >=0.9.2    :  0.10.2 (OK)
sphinx >=0.6.6  :  1.2.2 (OK)
matplotlib >=1.0:  1.3.1 (OK)
sym

[2015-04-29 06:07] bilderbuchi commented on #2376
"Documentation" may be more appropriate, becaus that's what it displays (docstrings, function signature).

[2015-04-29 06:47] fdev31 commented on #669
I would really like the VIM bindings in spyder (Pycharm have it, but it's too heavy for my work's desktop). As a Python developer, how can I help ?
I am NOT a Qt guy, but I tool a look into https://code.google.com/p/spyderlib/source/browse/spyderlib/plugins/shortcuts.py, I may need some doc/help around probably...

[2015-04-29 07:34] Nodd commented on #669
The problem with VIM bindings is not the shortcuts themselves, it is the managment of the view and edit mode. The editor plugin itself would have to be changed (and this part of the code is already quite complicated). Unfortunately you have to know Qt to do these changes.

There may be another way to do it, but I don't know if it would work well in practice: the idea is to have a specific widget t

[2015-04-29 08:32] goanpeca commented on #669
@Nodd, this is what I meant by states in some previous conversations... I think your approach would work quite nicely, and should not be that difficult to implement, but yes, @fdev31, you need quite some Qt knowledge...

[2015-04-29 11:52] techtonik commented on #2335
I am [against doing PEP8](https://www.python.org/dev/peps/pep-0008/#a-foolish-consistency-is-the-hobgoblin-of-little-minds) normalization all at once. The merge tools can ignore linefeed changes, but more changes can break the merges again.

Also, I haven't seen the answer on merge strategy and how are you merging stuff. Is it from stable to master? How do you handle linefeed differences ATM? I am

[2015-04-29 11:52] Nodd commented on #669
I gave it a go, it is relatively easy to do but I have one big problem: the editor doesn't have the focus anymore so the cursor is not displayed.

@fdev31 What are the most important vim commands that should be implemented ? I know just enough vim to edit config files...

[2015-04-29 12:01] goanpeca commented on #669
Ok, you could draw a cursor while in the widget (Just create a new cursor QCursor()?) , based on the cursor last known position and update it behind curtains?

[2015-04-29 12:16] Nodd commented on #2335
@ccordoba12 already explained the merge strategy before in this thread (https://github.com/spyder-ide/spyder/issues/2335#issuecomment-94197832). If you want more precisions you'll have to ask them more specifically.

About pep8 I agree that we shouldn't normalize everything everywhere at once, but currently in each PR the pep8 errors are left, so things will never improve this way. For example a n

[2015-04-29 13:04] Nodd commented on #669
Actually vim is better with a block cursor (for commands like `i` and `a` for example) so highlighting the character is maybe be the best.

[2015-04-29 14:15] Nodd commented on #669
I started a plugin for vim keybinds, it's in a very early stage but it is possible to test the principle with a QLineEdit dockwidget.
Only a few keys are (badly) implemented:
[code]
The plugin has the new structure to be used with #2362. To install it copy (or link) the `p_vim` directory to `$HOME/.spyder/userplugins`.

[2015-04-29 14:58] ccordoba12 commented on #669
@Nodd, that is really, really awesome!!

I'd only prefer to offer Vim support as a part of Spyder itself, given that now we are quite close to offer Emacs keybindings too ;-)

[2015-04-29 15:03] Nodd commented on #669
It can be integrated in spyder along pylint and others when we want, it's just a copy-paste of a directory. I can create a PR when it's more useful/complete.

[2015-04-29 15:54] 22csnyder opened #2379 "Spyder can't switch lines of code when those two lines are the last two in the file"
Spyder (Python2.7)

Should be an easy fix.

If you try to use alt+arrows to switch two lines of code in a .py file, the will not switch iff the two lines are the last two lines of code (counting empty lines)

-Chris

[2015-04-29 16:00] ccordoba12 commented on #669
Ok, cool!

[2015-04-29 16:01] ccordoba12 commented on #2378
@dhoegh, could you take a look at this problem when you have some time?

[2015-04-29 16:03] 22csnyder commented on #2378
I had a thought last night that it might have to do with whether --with-site-packages is allowed on the VirtualEnv or not. I haven't had a chance to dig into it though

[2015-04-29 16:05] ccordoba12 commented on #2379
@blink1073, could you take a look at this one?

[2015-04-29 16:06] blink1073 commented on #2379
On it.

[2015-04-29 16:29] s0r2637 opened #2380 "Are there commands that I can issue to restart a Python console from Spyder (I am using Spyder 2.3.4 on Ubuntu 14.04)"
Hi,

I want to, by default, restart the Python console whenever I run a Python script.  I want to do that in order clean the slate before running the code.  Currently I kill the current Python console and restart manually.  Is there a way I can implement the two actions successively through commands?  I appreciate your help in advance.

Srini

[2015-04-29 17:14] goanpeca commented on #2380
Are you running a script? why not press F6 and make spyder always use a new python interpreter?

[2015-04-29 17:25] s0r2637 commented on #2380
Yes.  How can I avoid manually pressing F6 and simply add an equivalent
command at the top of my script.

Srini
On Apr 29, 2015 12:14 PM, "Gonzalo Peña-Castellanos" <
notifications@github.com> wrote:

[2015-04-29 18:10] Nodd commented on #2380
F6 is for configuring the launch of your script. Here you can set the script to run in a dedicated console, restarted each time you run with F5.
Given what you said it's exactly what you need.

Also in spyder's setting you can set wich mode to use by default.

[2015-04-29 18:10] #2380 closed

[2015-04-29 18:39] s0r2637 commented on #2380
Thanks.

I see I can set  Python to run in a new console each time I issue F5.
However, the scientific startup script does not run when a new Python
console is run.  So I have to reload all the standard modules: scipy,
numpy, matplotlib, etc.

I hope you understand what I am talking about.

Srini

On Wed, Apr 29, 2015 at 1:10 PM, Joseph Martinot-Lagarde <
notifications@github.com> wrote:

[2015-04-29 18:40] Nodd commented on #2380
You should import them in your script then.

[2015-04-29 19:10] DaveBackus commented on #1702
Same issue, can't change path in Spyder.

1. change directory using dropdown menu
2. Click on button two to the right of menu with text "set as console's working directory"
3. Type "ls" in IPython console, which reveals old directory contents.

However, if I close Spyder and reopen, the new directory appears.

Spyder 2.3.4
Python 3.4.1 |Anaconda 2.1.0 (64-bit)| (default, Jun 11 2014, 17:27:11) [MS

[2015-04-29 20:21] Nodd opened #2381 "Disable post-crash popup in dev mode"
OK, I have this friend of mine who develops spyder and spyder plugins and sometimes this makes spyder crash. And this friend of mine is annoyed to have a popup reminding him of his previous failure, so he'd like to know if you would be in favor of disabling this in dev mode (when running `bootstrap.py`) ?
The actual problem is that it slows down testing and disrupts the coding flow.

[2015-04-29 21:34] goanpeca commented on #2381
hehe :+1:

[2015-04-29 23:49] blink1073 commented on #2381
:+1: gor my friend too

[2015-04-30 08:24] Nodd commented on #669
I added a few more keys:
[code]
I'll reuse most functions added by @blink1073 for emacs keybindings once his PRs are merged.

[2015-04-30 09:52] sdouwenga opened #2383 "Cannot open consoles or import scipy or numpy in spyder."
## Description

* *What steps will reproduce the problem?*

1. Install Python v3.4 & Anaconda, get academic license
2. Use Spyder a few days
3. Open spyder an try to open an iPython or Python console with spyder.

* *What is the expected output? What do you see instead?*

The console should open regularly as it did the previous days and allow me to import modules like scipy and numpy.

Instead I g

[2015-04-30 11:42] #2383 closed

[2015-04-30 12:54] Nodd opened #2384 "Cells should stop at end of block"
Cells are highlighted from start to the next cell marker. This doesn't work well with indented blocks, where the cell continues outside the block. Here is an example where I added comments to show where the cell begins and where it ends:

[code]

[2015-04-30 15:21] ccordoba12 commented on #2384
@SylvainCorlay?

[2015-04-30 16:06] SylvainCorlay commented on #2384
Hey, The behavior that I am seeing is the one I expect (I think that we agree it is not a bug).  At the moment cells are an arbitrary division of the code set by the user and are independent of semantic meaning of code (scope etc..).

@Nodd which kind of behavior would you want exactly?

[2015-04-30 16:26] Nodd opened #2385 "Can't report issue on master with PyQt5"
I get the traceback:
[code]
`addEncodedQueryItem` is obsolete: http://doc.qt.io/qt-5/qurl-obsolete.html. It should still be available though, I don't know why I don't have it.

This is with Qt and PyQt v5.4.1 and python 3.4.3 on arch linux.

[2015-04-30 16:29] Nodd opened #2386 "Error in Python console on startup"
On startup in the default python console I see:
[code]
I guess that the problem is at the top of the file:
[code]
If `QT_API` is not defined or not these values, it doesn't load Qt. I'm using Qt5 so it's not supported.

[2015-04-30 16:36] Nodd commented on #2384
I agree that it's not a bug, but I think it could be an improvement.

Actually I would like the cell to be defined only inside a bloc of code, So if it"s define in `class A` only code in `Class A` should be highlighted (same for functions...).
What I'm not sure yet is if it should follow the indentation of the code after the cell title or if it should use the title's indentation. It would be diffe

[2015-04-30 16:54] ccordoba12 commented on #2385
@goanpeca, could you investigate this given that you looked at it last time?

[2015-04-30 16:56] ccordoba12 commented on #2386
I see, I need to declare and use `pyqt5` there. Thanks for noticing it ;-)

[2015-04-30 17:00] ccordoba12 commented on #2381
It should be an easy fix, I'll do it this afternoon.

[2015-04-30 17:07] Nodd commented on #2385
Oh, I assigned you because I thought that you were the Qt5 guy.

[2015-04-30 17:12] GiGonzal opened #2387 "ipython kernel does not launch -- "connecting to the kernel" message , Yosemite"
## Description

Ipython kernel does not launch. There is a message: "connecting to the kernel" and Ipython does not pop up.
- _What steps will reproduce the problem?_
- Run spider from either terminal or the launcher
- Open an ipython console
- _What is the expected output? What do you see instead?_
  An ipython console is the expected output. However, I see a window with a message "connecting to

[2015-04-30 17:26] SylvainCorlay commented on #2384
I see.
- Although this would require more parsing, and only be valid for Python (we might want to cover Julia at some points)
- Besides, the former Matlab users that I see around me tend to keep around (along with their source code) some long scripts that are more some kind of *block-notes* than actual run-able scripts. (Almost like a paste bin). This is where they use the "run cell" feature. I fe

[2015-04-30 18:25] Nodd commented on #2384
Right, I only thought about python, it won't work as well in other languages. Still, cells could stop on brackets or `end` keywords as well.

If users use cells as block notes to run a cell it is necessary that it stops at the end of the block, otherwise it would (and will) do many unhealthy things:

[code]
If you run `Bad cell`, what is the expected behavior ?

[2015-04-30 19:24] SylvainCorlay commented on #2384
Hum, indentation error I guess.

[2015-04-30 19:48] ccordoba12 commented on #2384
I'm -1 about adding new rules to decide when to end a cell.

I think what we have now is quite clear: you need to put cell dividers to decide where a cell starts and where it ends.

Further logic would mean to define a kind of heuristics that for some people can be reasonable, but not so much for others.

[2015-04-30 20:26] Nodd commented on #2384
Alright, it was just a suggestion !

[2015-04-30 20:26] #2384 closed

[2015-04-30 20:43] #2381 closed

[2015-04-30 20:44] ccordoba12 commented on #2381
Done when you start Spyder with `boostrap.py` :-)

[2015-04-30 20:47] ccordoba12 commented on #2384
It's fine :-) It just would things much more complex and most probably not all people would discover our hidden heuristics ;-)

[2015-04-30 21:00] Nodd commented on #2384
This kind of things could be added by plugins but I think it would require monkeypatching or at least heavily depend on spyder's internals, on both case that's not very healthy.
Currently cells work like in Matlab, this is good enough.

[2015-04-30 21:01] Nodd commented on #2381
My friend says thank you!

[2015-05-01 16:05] Nodd opened #2388 "Refactoring with Jedi ?"
I just saw this in gmane.comp.python.code-quality:

analysis library for your own stuff. If you want to build a
refactoring or a linter library for Python you should just be using
Jedi, it's doing all the work for you.

the way how Jedi is structured. In the past Jedi had one objective
only: Autocompletion.

The static analysis capabilities are really good, but it's hard to
describe what it does e

[2015-05-01 21:08] ccordoba12 commented on #2388
@blink1073?

[2015-05-01 22:49] Nodd commented on #2256
I encountered this problem, and I found where it comes from.
The problem is [here](https://github.com/spyder-ide/spyder/blob/master/spyderlib/widgets/sourcecode/base.py#L291), the order of `.items()` is not determined. so depending on the order some highlights will be above others. This bug is random, that's why it can appear to be fixed.

To fix this it is necessary to determinate a fixed order o

[2015-05-02 08:18] goanpeca opened #2389 "Move helper widgets to helperwidgets.py"
Refactor the code in charge of the [Check for updates PR](#2321), to move the CheckMessageBox to `helperwidgets.py` file.

Refactor code from the [arraybuilder ](https://bitbucket.org/spyder-ide/spyderlib/pull-request/98/add-array-matrix-helper-in-editor-and)  to move the ToolTip to `helperwidgets.py` file.

[2015-05-02 08:35] goanpeca commented on #2335
So, we all agreed on this right @spyder-ide/core-developers?, now... the more time we let pass by... the more forks will be made and the harder it will become to make changes.

On my side I will finish with the corrections on my active PRs and stop making new ones, until this situation is solved.

Can we all agree on this?

[2015-05-02 09:59] filippomandu commented on #986
Had same issue on Ubuntu 14.04, Spyder 2.3.4

Solved following anmolj's suggestion:
in Tools\Preferences\General:
set QT Window style to GTK+
![screenshot from 2015-05-02 11 58 27](https://cloud.githubusercontent.com/assets/11250564/7440673/a465ec74-f0c2-11e4-80f0-c8c789a19c8a.png)

[2015-05-02 13:01] carlosloslas commented on #2323
Hola Carlos,

Sorry for the late reply I handed in my dissertation yesterday I have had incredibly busy days for the past two weeks.
Unfortunately I am not able to isolate the error, since it was happening when I was running one of the  functions in my dissertation project, and my knowledge on Spyder is limited... : S
I just wanted to  notify it here and in the event of somebody encountering somet

[2015-05-02 13:43] blink1073 commented on #2335
Sounds good to me.

[2015-05-02 14:13] blink1073 commented on #2388
I've been following the Jedi refactoring updates.
It supports:

- rename
- extract variable
- inline variable

http://jedi.readthedocs.org/en/latest/docs/development.html#module-jedi.refactoring

It does look interesting, but not something I've got the time or inclination to work on any time soon.

[2015-05-02 19:39] ccordoba12 opened #2390 "Code completion is failing on Python consoles"
The introduction of icons for completions on the Editor broke completions in our Python consoles.

For example, after running

    import <Tab>

I'm getting this traceback on the internal console

[code]

@blink1073, could you take a look at it?

[2015-05-02 19:43] ccordoba12 commented on #2389
+1 from me :-)

[2015-05-02 19:45] ccordoba12 commented on #2342
@goanpeca, what's you final decision about this one? It's ok if you prefer to leave `qtpy` as the package name :-)

[2015-05-02 19:52] ccordoba12 commented on #986
Thanks for letting us know about it @filippomandu, we'll see what we can do about it.

I'm closing this issue because it's a duplicate of issue #2036.

[2015-05-02 19:52] #986 closed

[2015-05-02 19:53] ccordoba12 commented on #1428
Closing as duplicate of issue #2036.

[2015-05-02 19:53] #1428 closed

[2015-05-02 19:58] goanpeca commented on #2389
Yep, this was a reminder ;-), from me to me hehe

[2015-05-02 20:00] goanpeca commented on #2342
qtpy it is :-), should I transfer the ownership ?

[2015-05-02 20:00] ccordoba12 commented on #1724
Closing because this issue is solved according to the OP.

[2015-05-02 20:00] #1724 closed

[2015-05-02 20:02] ccordoba12 commented on #1722
Closing because of lack of feedback.

[2015-05-02 20:02] #1722 closed

[2015-05-02 20:05] ccordoba12 commented on #1125
We can't really do anything about it. You need to reconfigure your shortcuts (either in Unity or Spyder) to make things work :-)

[2015-05-02 20:05] #1125 closed

[2015-05-02 20:14] ccordoba12 commented on #2323
It will be, that's for sure!! There are already several minor but cool improvements, and more important things are in the making ;-)

Take a look at

https://github.com/spyder-ide/spyder/wiki/Beta-version-changelog

from time to time to read about them.

----

Y finalmente, felicitaciones por tu tesis!!

[2015-05-02 21:18] #2390 closed

[2015-05-02 21:41] ccordoba12 commented on #2342
Ok, the repo is up and ready. I'd prefer if you transfer the ownership to the Spyder development team, but for that I'd like to follow first what project Jupyter does, as stated in

https://github.com/jupyter/jupyter_notebook/blob/master/COPYING.md

**Note**: Please close this issue when you finish the transfer

[2015-05-02 22:01] ccordoba12 commented on #2188
@mikofski, unfortunately nothing else depends on `pywin32` :-(

[2015-05-02 22:08] mikofski commented on #2188
Does this mean that it can't be pulled? We can do it without pywin32, by using ctypes on ole32.dll and shell32.dll, which are both part of standard library, but it's modicum more work and I think most Windows users will already have Mark Hammond's pywin32 package.

[2015-05-02 22:14] ccordoba12 commented on #2188
Your pull request can be merged without problems because you added a message about `pywin32` being required to run our post install script.

So if it's not found, the script will fail but people will know why :-)

[2015-05-02 22:20] ssoloff opened #2392 "Current EOL status is displayed incorrectly after changing it"
## Description

After changing the EOL for a file, both the associated menu item and status bar panel do not correctly display the new EOL.
- _What steps will reproduce the problem?_
  1. Open a file with Windows EOL.  (This bug can be reproduced with any initial EOL.  I simply chose one to make the reproduction steps concrete.)
  2. Select **Source > Convert end-of-line characters > Line feed (UN

[2015-05-02 22:24] ssoloff commented on #2392
Created PR #2393 for this issue.  Please see my comments in part (3) of the commit message regarding the quality of that portion of this fix.  I'm sure there's a better way to do it.

[2015-05-02 22:33] ccordoba12 commented on #2347
I think moving to next and previous **empty** lines are that not that useful, but moving to next and previous lines are going to be implemented as part of PR #2217.

[2015-05-02 22:38] ccordoba12 commented on #1833
Just for your consideration @blink1073 :-)

@SylvainCorlay, does Matlab have this functionality? And, what shortcuts do you think it'd be good to use in this case?

[2015-05-02 22:39] ccordoba12 commented on #1352
@blink1073, another one for you :-)

[2015-05-02 23:44] blink1073 commented on #1833
I say leave this and #1352 for separate PRs, #2217 is pretty huge already.

[2015-05-03 10:06] cheneave opened #2394 "Failed to launch when multiple version python installed and not using the default python"
Well, it's a very minor issue.
I have installed both python2 and python3, and I'm using python2 as the default python.
The bat file to launch spyder is

    python "%~dpn0" %*

It will try to use python2 to run the spyder.

[2015-05-03 11:13] cheneave opened #2395 "Can not show exception information correctly in IPython Console"
I'm using the dev version of Spyder, and ipython v3.1.0
When a ipython console is first started, it shows exception information correctly. For example, if I type in a undefined name, it shows a NameError.
But after I run a source file, even an empty source file, the console will only show

Traceback (most recent call last):

  File "D:\Python\Python34\lib\site-packages\IPython\core\interactiveshel

[2015-05-03 12:15] DediGadot opened #2396 "Variable explorer causes a significant slow down while debugging"
## Description
If debugging while 'Variable Explorer' is visible, there is a significant slowdown in spyder, i.e. pressing ctrl+f10 results in ~5-10 seconds of freeze, and only then the line get executed.

If, on the other hand, one debugs while only the 'object explorer' or 'file explorer' is visible, no such phenomena occurs.

 * *What steps will reproduce the problem?*
1. Create a python script

[2015-05-03 12:55] cheneave commented on #2395
I have found a very dirty workaround, just insert

    self.custom_exceptions = tuple(
            [e for e in self.custom_exceptions if issubclass(type(e),BaseException)])

to line 3031 of Python34\lib\site-packages\IPython\core\interactiveshell.py

[2015-05-03 14:15] ccordoba12 commented on #1833
Sure! I was reviewing what open issues we have about shortcuts yesterday, and decided to assign you to them before I forgot about it :-)

[2015-05-03 18:38] Nodd commented on #2335
I agree for waiting before creating more PRs (except if they are very simple), but what about pep8 corrections ?

[2015-05-03 18:43] goanpeca commented on #2335
I think we should do the gitattributes thing first, then after that is done, remove trailing spaces and empty lines and then we can start fixing pep8 little by little...

[2015-05-03 19:08] Nodd commented on #2396
What happens if you try to disable the variable explorer auto-update ?

[2015-05-03 19:19] goanpeca commented on #2342
@ccordoba12 sure no prob, but, you want me to change the license to include something ... or ???

[2015-05-04 02:19] febtree opened #2397 "Editor line number font size does not increase as you increase the code font size on Mac system"
## Description

* *What steps will reproduce the problem?*
1. Increase the code editor font size on preference panel -> Editor -> Font

* *What is the expected output? What do you see instead?*
Code font size will increase, and line number size should increase at the same time.
but it doesn't, which leads to the result that the line number and the corresponding line don't match.

* *Please provide

[2015-05-04 07:07] techtonik commented on #2335
There are reports that automatic linefeeds can corrupt binary files if detects them incorrectly. http://stackoverflow.com/questions/170961/whats-the-best-crlf-carriage-return-line-feed-handling-strategy-with-git I tend to agree that it is not a job of version control system to mess with the content. I'd prefer that Spyder repository just had a hook script so that people were aware of linefeed prob

[2015-05-04 07:29] Nodd commented on #2335
Yes it can, but we're using only very common binary files that are recognized without any problem by git (.png, .mo, ...). We can also activate this for .py, .rst and .txt files only to be on the safe side.

[2015-05-04 07:51] techtonik commented on #2335
This brings additional complexity to the issue. I'd better use http://editorconfig.org/ to control new files and convert old ones manually, because it is more explicit and less magical. Also, add a Travis to detect linefeeds problem, which may be a problem with Spyder itself.

Also, the link above says that Eclipse and alternative Git implementations (hg-git / dulwich) may not support this feature

[2015-05-04 08:20] goanpeca commented on #2385
Sure i think it should be easy to solve

[2015-05-04 08:41] goanpeca commented on #1886
@d1mason your work on the compact variable explorer could help

[2015-05-04 09:00] Nodd commented on #2335
We can also add a Travis test in case someone uses an alternative git implementation to be on the safe side. But for those who use vanilla git, line edings are manages automatically and they don't have to worry about it at all, while Travis just warns you afterwards. Why should we do something manually if it can be automated ?
Also a `.gitattribute` file is quite explicit.

[2015-05-04 09:13] goanpeca commented on #2335
I think the decision on using `gitattributes` is already made, it will offer way more advantages than disadvantages, it is explicit and will care for most of Spyder devs/maintainers needs.

The travis check can be added as a safety net for those corner cases.

I prefer to have a couple of disgruntled spyder users because something does not work in their specific setup, that having to tell the user

[2015-05-04 09:43] Nodd commented on #1165
Consoles now show the filename on the tab, and the full path in the title of the dockwidget. I don't know when it was fixed, but it is !

[2015-05-04 09:57] goanpeca opened #2398 "Enhancement: Change hand icon when reordering a tab to an invalid positio"
Just a minor enhancement to be consistent when reordering tabified dockwidget plugins (panes). The hand grip should change when moving to an invalid place to correctly hint the user that reordering is only allowed in the dockwidget location and not between dockwidgets at different locations.

[2015-05-04 11:08] techtonik commented on #2335
Because you're writing editor, and the line ending should be controlled be editor, and not by your version control system.

Well, I am not a developer anymore, but I disagree with you. It is implicit, the advantages/disadvantages are not completely clear, and in context of editor development, the editorconfig alternative is not even addressed.

[2015-05-04 11:26] techtonik commented on #2335
Anyway, I probably don't need to be so interested in long-term maintenance. =) I am just interested that you fix the repository so that merge of https://github.com/spyder-ide/spyder/pull/2400 from 2.3 to master is possible.

[2015-05-04 11:45] goanpeca commented on #2335
`gitattributes` will only affect the Spyder repo... When Spyder supports git via a plugin, each repo and each user will decide what they wish to do with their personal/public repos and git.

This change will make spyder development and maintenance easier in the long run cause it will remove both a burden on the developer and the maintainer.

[2015-05-04 11:54] goanpeca commented on #2272
@fordanic actually I managed to get the floating dockwidgets as you indicated, so it is doable, now @spyder-ide/core-developers should decide if this is something you would like to see implemented.

[2015-05-04 11:56] Nodd commented on #2335
For reference:
* Mercurial has the same problem and the same kind of fix (via an extension):
http://mercurial.selenic.com/wiki/FAQ#FAQ.2FTechnicalDetails.What_about_Windows_line_endings_vs._Unix_line_endings.3F
* SVN has `svn:eol-style `: http://svnbook.red-bean.com/en/1.7/svn.advanced.props.file-portability.html

Supporting EditorConfig would be nice, but this is a separate issue. Not all spyder

[2015-05-04 12:00] Nodd commented on #2272
What *something* ? @fordanic's proposal or the maximize button one ?

[2015-05-04 12:08] goanpeca commented on #2272
@spyder-ide/core-developers , do you think this is useful to do?

Example look (variable explorer) to get the idea. Floating panes (dockwidgets) would behave as independent windows, so that they can be fitted to the screen (in windows so far using `Wndows Meta + Arrows`)

![image](https://cloud.githubusercontent.com/assets/3627835/7453154/9482b792-f266-11e4-80d1-4d199b02a496.png)

[2015-05-04 12:39] techtonik commented on #2339
Well, as an author of original Signal Tracer idea in #881and #1421, my vision was that it is hidden in a Help menu near "About Spyder.." to make it clear that it is some internal stuff. It should be named after the word "Internal Stuff", but not "Development", because Development is too abstract.

The menu items "Optional dependencies.." and "Report issue.." should also go there, as well as docume

[2015-05-04 12:47] techtonik commented on #1421
@goanpeca the proof of concept is cool. Took some time to read the code to note that it requires global DEV flag to be set. Is that something from Spyder Hacking Guide?

Do you have a branch for it to track? Maybe a SEP needed to document different approaches and questions, like performance overhead and feasibility to make it an optional wiretapping tool that can be activated on run-time without o

[2015-05-04 13:18] goanpeca commented on #1421
@techtonik well the idea is that this would be used only when running from bootstrap.py, so having that  check made sense.

No branch, at the moment, it was an afternoon project that I left with the code I attached already.

The thing is the lack of information provided by signals is a feature by design of Qt.

http://doc.qt.io/qt-4.8/signalsandslots.html

For your questions...
1. I have no idea..

[2015-05-04 13:22] techtonik commented on #1421
I'd like to see this in some branch against stable to be able to comment directly inside the source code and play how to use it with the signals that I need to track right now.

[2015-05-04 14:13] fordanic commented on #2272
Nice!

[2015-05-04 14:29] Nodd commented on #2272
Are you sure that you can put the redock icon on the windows titlebar ?

[2015-05-04 14:54] goanpeca commented on #2272
Hmm no I think not possible, in that case I hide the title bar and use the DokWidget QTitleBar...

[2015-05-04 15:33] ccordoba12 commented on #2272
+1 from me! I think treating undocked panes as proper windows would be really useful :-)

[2015-05-04 16:24] ccordoba12 commented on #2342
I think you should move it as it is now. Then we should add something like that Jupyter file to all projects under the Spyder organization :-)

[2015-05-04 16:32] goanpeca commented on #2342
Moved

[2015-05-04 16:43] dezember opened #2401 "Unable to reset settings from the Main Window"
Hi,

I have tried reseting the User interface i.e. windows layout from view but I cannot get back to original.
I have removed the Spyder-Py2.app and reinstalled it but it doesn't restore to default. Also, I have tried using Anaconda but still the same problem.
![screen shot 2015-05-04 at 6 39 11 pm](https://cloud.githubusercontent.com/assets/10142508/7457520/59bcde9a-f28d-11e4-8195-37f2049c153e.pn

[2015-05-04 16:45] goanpeca commented on #2401
Have you tried running from a console

`spyder --reset`

?

[2015-05-04 17:49] SylvainCorlay commented on #2342
Great! Do you guys want to use qtpy in Spyder rather than duplicating it?

[2015-05-04 18:41] thewhitetulip commented on #2272
Can't we have both? meaning a maximise, minimize, fullscreen trio?
maximize : will maximize within spyder's main window
minimize: will minimize within sypder's main window
full screen: will create an independent window out of spyder's main window.

While programming or at least while python programming, I rarely ever just go on writing code, so the `alt +  tab` feature albeit it is good when we ha

[2015-05-04 18:41] dezember commented on #2401
Yes, I did give a try from iPython console and python console and termina,.

It states, 'name spyder not defined.'

[2015-05-04 18:41] mikofski commented on #2188
Great, let me know if there's anything else you need.

[2015-05-04 18:45] Nodd commented on #2401
It should be run from a shell, not from python. Alternatively you can delete manually `~/.spyder`, this is exactly what the command above does.

[2015-05-04 18:52] goanpeca commented on #2342
I can make the move if you agree

[2015-05-04 18:53] dezember commented on #2401
Thanks @Nodd .

rm -f ~/.spyder worked perfectly.

[2015-05-04 19:05] s0r2637 opened #2402 "Spyder is not displaying Matplotlib 3d plots in its Python consoles"
I tried the following set of commands in the Spyder-2.3.4 console and it doesn't display a 3d plot.  It works fine when I run it outside Sypder-2.3.4.  Your help is highly appreciated.

[code]

[2015-05-04 21:24] ccordoba12 commented on #2342
I wouldn't like to depend on an external dependency, especially for this. I mean, if it's not installed Spyder wouldn't even start!

But I'd like to use `qtpy` internally. What if we copy `qtpy` contents to `spyderlib/qt` and update them every time a new `qtpy` version is released?

[2015-05-04 21:29] ccordoba12 commented on #2272
Having a minimize button would be really nice too. But on Rstudio it works for all panes that are tabbed next to each other.

@goanpeca, what do you think? Is it doable?

[2015-05-04 22:39] #2305 closed

[2015-05-04 23:15] ccordoba12 commented on #2402
What console are you using? Python or IPython?

[2015-05-04 23:16] s0r2637 commented on #2402
Python.

Srini
On May 4, 2015 6:15 PM, "Carlos Cordoba" <notifications@github.com> wrote:

[2015-05-04 23:20] ccordoba12 commented on #2401
This is a complaint I've heard several times lately, so I think it's something we should solve for 3.0.

The idea is to provide a menu entry (under `Tools`?) to let users easily come back to factory settings after a restart.

@goanpeca, would you mind to take a look at it?

[2015-05-04 23:22] ccordoba12 commented on #1165
@Nodd, the idea is **not** to show the full path, but only the filename :-)

[2015-05-04 23:24] ccordoba12 commented on #2397
@goanpeca, would you mind to take a look at this one, given that you were the last one to work with the line number area?

[2015-05-04 23:25] ccordoba12 commented on #2396
@DediGadot, we need a reproducible example to test things in our side :-)

[2015-05-04 23:27] ccordoba12 commented on #2395
@cheneave, could you provide a step by step guide to reproduce this error?

[2015-05-04 23:29] ccordoba12 commented on #2394
I think there's no `python3` executable on Windows :-)

[2015-05-04 23:31] ccordoba12 commented on #2402
For next time, please the *Report bug* menu entry, under the *Help* menu :-)

Are you using Python 2 or Python 3?

[2015-05-04 23:49] s0r2637 commented on #2402
Sure. I will do that.  I am using Python 2.7

Srini
On May 4, 2015 6:31 PM, "Carlos Cordoba" <notifications@github.com> wrote:

[2015-05-05 03:58] cclauss opened #2403 "Monospaced unicode output on Spyder-Py2 Windows"
We are building a cross-platform chess game and we want to take advantages of unicode chess characters to show the user a text representation of the game...
[code]
On a Mac, selecting the "Menlo" font in `Preferences-->Console-->Display-->Font` allows the unicode board to appear with proper monospacing. Of the 10 console fonts available in Spyder-Py2 on the Mac, only Menlo displayed the unicode bo

[2015-05-05 04:33] cheneave commented on #2395
1. Create a empty script
2. run it by pressing F5
3. type any function with left parenthesis such as print( then the error will occor

My version of  python and ipython is

Python 3.4.3 (v3.4.3:9b73f1c3e601, Feb 24 2015, 22:44:40) [MSC v.1600 64 bit (AMD64)]
IPython 3.1.0 -- An enhanced Interactive Python.

Other packages required by spyder are all the latest version from pip3

[2015-05-05 04:47] cheneave opened #2404 "Code completion raise exception when the editor widget is floating"
I'm using dual monitor and the editor widget is floating so I can put it in another monitor.
When the editor widget is floating, the code completion  will raise an exception

    Traceback (most recent call last):
    File "d:\spyder\spyderlib\utils\introspection\plugin_manager.py", line 402, in _introspection_complete
      self._handle_pending()
    File "d:\spyder\spyderlib\utils\introspection\

[2015-05-05 05:02] cheneave commented on #2394
Is the bat created by setup.py ? I think we can write distutils.sysconfig.PREFIX to the bat when creating it.

[2015-05-05 05:53] Nodd commented on #1165
yes, that's what they do ?

[2015-05-05 09:02] goanpeca commented on #2401
Sure :+1:

[2015-05-05 14:29] ccordoba12 commented on #2394
Please take a look at it and send us a pull request when you find how to improve things :-)

[2015-05-05 14:34] ccordoba12 commented on #2403
It seems (as you found) that that depends on the font used. We don't ship with any fonts included in our installers.

[2015-05-05 14:53] ccordoba12 commented on #1165
Not at the moment. That's why the console title can be too wide, and the idea is to fix that ;-)

[2015-05-05 15:18] goanpeca commented on #2401
So... the plan would be.

The restart method in `spyder.py` should have a named parameter by default `reset=False`, so that it can pass an extra argument to `restart_app.py` where we can first reset and then restart spyder.

Also I think we could have a soft reset and a hard reset, because some people cannot get spyder fixed when running reset, sometimes they need to fully erase `.spyder`

[2015-05-05 15:21] ccordoba12 commented on #2401
+1

Nop, the problem @dezember was having is that he couldn't call `spyder --reset` because our Mac app can't be called from the console like that. So he needed to remove `~/.spyder2`by hand.

[2015-05-05 15:22] goanpeca commented on #2401
ok

[2015-05-05 15:24] Nodd commented on #1165
Are we speaking about the same thing ?
I see the full path in the console title (and I think it's fine), and I see the filename only in the tab (and that's fine too). The title width does not limit the dockwidget's size (I tested by making it floating instead of docked).
![spydertabs](https://cloud.githubusercontent.com/assets/506348/7475999/3383b046-f34b-11e4-9b81-f6dc540be3e5.png)

[2015-05-05 15:24] goanpeca commented on #2401
I would really like to start working on some PRs, but I really would like to get the gitattributes issue solved soon....

[2015-05-05 15:25] ccordoba12 commented on #2401
We're basically waiting for @SylvainCorlay, who asked to not do it before we merge the FontAwesome PR :-)

[2015-05-05 15:29] ccordoba12 commented on #1165
Sorry for not being clear enough :-)

When our Python Console is tabbed next to other panes (e.g. History Log or IPython Console), then it's tab title is too big because it uses the full filename path. The idea is to use a shorter title ;-)

[2015-05-05 15:33] Nodd commented on #1165
Ooooooh, the title of the dockwidget is used for the dockwidget's tab title ! Now I get it.
I need to update my telepathy package !

[2015-05-05 15:35] goanpeca commented on #1165
Well... I have access to the tabs now since the dockwidget tab reordering PR, so I could just make sure it is always a fixed value :-)

[2015-05-05 15:41] thewhitetulip commented on #2272
Personally I don't like the `alt+tab` concept, because not every Spyder user will have multiple screens for that feature, and I don't feel that goes well with the way python programming is done normally.

[2015-05-05 15:59] ccordoba12 commented on #1165
Even better!! Thanks :-)

[2015-05-05 16:41] Nodd commented on #2272
A user can still use docked widgets on a single monitor.

[2015-05-05 16:59] thewhitetulip commented on #2272
Actually if you want only the fullscreen behaviour as to get more screen for your code to rest, then I feel the maximize inside the spyder feature is the perfect solution.

Making the core docks as alt+tab `windows` or whatever is the proper name for them is an overkill actually, I started this issue only because there was no minimize button for each pane.

I don't ever use the variable explorer a

[2015-05-05 17:34] goanpeca commented on #2272
@thewhitetulip I think you got lost or misunderstood something:

Things that will be implemented
1.) Dockwidget titlebars can be hidden optionally, when locked if the user selects this options in the preferences. If the Pane title is hidden then the options will most likely move to the context menu of the tabs and/or to the menu of the Pane (the icon to the right... in most of the actual panes)
2.

[2015-05-06 00:47] #2404 closed

[2015-05-06 00:52] ccordoba12 commented on #2404
@cheneave, we just committed a fix for the problem you reported, but when the Editor is undocked, the completion widget is not shown above it. That is an old bug we don't know how to fix.

So the solution to use the Editor in another screen is **not** to undock it, but to generate a new Editor window. This can be done by clicking the Editor options menu (the one to the right of all tabs), and sele

[2015-05-06 01:00] ccordoba12 commented on #2392
Thanks for the bug report and the pull request. I hope to review it soon :-)

[2015-05-06 01:34] cheneave commented on #2404
Thank you, It works.

[2015-05-06 08:19] penenkel opened #2406 "File explorer enhancements"
# Description

I have some suggestions on how to enhance the spyder file explorer panel:

At the moment if a file-type/content is supported by the spyder editor, it has an context action "Edit", otherwise it has the somewhat ubiquitous entry "Open" which delegates to the OS. This also results in folders having an "Open" command that opens the OS file explorer at that position.

I came up with thes

[2015-05-06 08:58] MarcusAllen opened #2407 "very slow auto completion with pandas"
Hi,
I'm using the latest version of spyder 2.3.4 and pandas 16.0 , both installed with conda.
Python 3.4.3 64bits, Qt 4.8.6, PyQt4 (API v2) 4.11.3 on Linux

The auto completion works fine on ipython console but in script editor it is extremly slow. Here is an example

import pandas as pd

pd. #<-- this will work fine

df=pd.read_csv('myfile.csv') #<- this will work fine too

df. #<- this would fre

[2015-05-06 14:31] Nodd opened #2408 "Exception on autocomplete in the internal console"
## Description

* *What steps will reproduce the problem?*

1. Press `Ctrl+Esc` in the internal console without any text

* *What is the expected output? What do you see instead?*
This traceback shows up:

[code]

* *Please provide any additional information below*

## Version and main components

* Spyder Version:  3.0.0dev
* Python Version:  3.4.3
* Qt Version    :  4.8.6, PyQt4 (API v2) 4.11.3

[2015-05-06 19:21] ccordoba12 commented on #2408
@Nodd, what is `Ctrl+Esc` supposed to do?

Also, I can't reproduce this error :-)

[2015-05-06 19:27] Nodd commented on #2408
It's a typo for `Ctrl+Space` (autocompletion), sorry.

[2015-05-06 19:56] #2408 closed

[2015-05-06 20:07] ccordoba12 commented on #2403
We really can't do anything about this one, sorry.

[2015-05-06 20:07] #2403 closed

[2015-05-06 20:17] ccordoba12 commented on #2407
@MarcusAllen, you're basically lucky to get any completions at all :-)

We're trying to develop a better method to get completions on assignations, like the one you're using

    df = pd.read_csv('myfile.csv')

and the issue we're discussing this is #2162, so I'm marking this one as duplicate of that one.

[2015-05-06 20:37] Nodd commented on #2407
About speed, it seems that the autocompletion blocks the main thread instead of being done in the background. Did you notice that @blink1073 ?
So I don't think it's a duplicate as it is about speed and not about results.

[2015-05-06 20:40] ccordoba12 commented on #2407
@Nodd, I'm not getting any completions, and usually Jedi nor Rope can't get completions on assignations.

Could you tell @blink1073 where exactly the blocking is happening?

[2015-05-06 20:50] Nodd commented on #2407
I didn't test with this example, it's just something I notice from time to time. Since usually it's very fast it's not visible, but from time to time I see small freezes with autocompletion (I use it almost exclusively in the editor, I don't know about consoles). It may be due to the machine itself which is occupied so I don't know for sure (that's why I didn't report it yet).

[2015-05-06 23:34] ccordoba12 commented on #2402
I can confirm this problem. We'll see what we can do about it :-)

[2015-05-07 05:07] Garrett-R opened #2413 "Don't ask to confirm exit on default untitled files"
This is certainly debatable, but I don't think Spyder should ask you for confirmation before closing a default new file that hasn't even been edited.

If you open Spyder, hit New File, then immediately close it, you get:

![modified](https://cloud.githubusercontent.com/assets/6614695/7508818/fbac96be-f43b-11e4-8809-70272e4508aa.png)

But this message is almost certainly not helpful.   This propose

[2015-05-07 05:24] Garrett-R opened #2414 "Split panel causes multiple "jumps" of same file when checking out different git branch"
When using `git checkout` to get to different branches, the same file in a panel sometimes "jumps" (i.e. moves slider position) a few times.

To reproduce this:
- Create two long files (long enough that you have to scroll down to see the bottom), say `file1.py` and `file2.py`.
- Now use git to have two branches, each branch with a slightly different version of each file.
- Create a split view with

[2015-05-07 05:26] Garrett-R opened #2415 "Add shortcut to open last closed tab"
Ok, I'm being a bit spoiled with this feature request and Spyder is already insanely awesome.

It would be nice to have a keyboard shortcut to re-open the last tab(s) you just closed.  This would be like Firefox or Chromium where you just hit CTL+SHIFT+T a couple times when you mistakenly close some tabs.

[2015-05-07 05:32] Garrett-R opened #2416 "After enter to get hanging indent, you need 2 undos"
Type `my_func(x=5,` and the press <kbd>ENTER </kbd>.

Spyder very awesomely puts you at the correct indentation level.

If you hit <kbd>Ctrl</kbd>+<kbd>Z</kbd>, you expect it to undo the <kbd>ENTER</kbd> but it actually take 2 undos.  It kind of throws off your flow...

(I'm on Ubuntu 14.04 if that matters)

[2015-05-07 06:28] Garrett-R opened #2417 "Panels should be split 50/50 when a second one is opened"
Enhancement request: is it possible to split the panels so they both get equal screen real estate.  Here's what it looks like when I hit "Split horizontally"  (I closed the console to make the effect more apparent)

![split_panels](https://cloud.githubusercontent.com/assets/6614695/7509593/7ce280bc-f447-11e4-926b-6748bb3a3b7c.png)

I always have to resize after opening a panel...

[2015-05-07 06:34] Garrett-R opened #2418 "Less real estate for line number column"
This is a nitpick so feel free to close.

I think the line number column on the left should get less real estate on the screen.  That column seems to be sized to fit a two digit number when we only have single digit line numbers and it gets resized to fit a 3 digit number when we have 2 digit line numbers.

![single_digit](https://cloud.githubusercontent.com/assets/6614695/7509646/42726cac-f448-11

[2015-05-07 06:38] Garrett-R opened #2419 "Shortcuts for splitting and closing panels"
Another kind of spoiled feature request from a huge Spyder fan:  it would be nice to have shortcuts to split the panel in the editor instead of having to hit the `Options` button, then `Split horizontally` each time.

And also a shortcut for closing the panel.

[2015-05-07 06:43] Garrett-R opened #2420 "Zoom should not be associated with a file"
Currently, the zoom level in the editor is not a global zoom level or even a panel zoom level, but rather each zoom level is associated with a file.

Say you have 10 tabs open you're working with.  And you decide you'd like bigger font, so you hit <kbd>Ctrl</kbd><kbd>+</kbd> a few times, but then you switch files and suddenly the font is small again.  You have to do this for all 10 files.

I think

[2015-05-07 07:36] Nodd commented on #2413
We don't want you to leave spyder, that's all ! :smile:
:+1:

[2015-05-07 07:41] Nodd commented on #2417
I always found splitters in Qt to behave a bit strangely, but this could be achieved by using something like
[code]

[2015-05-07 07:42] Nodd commented on #2418
The additional column is for breakpoints, warning  and TODO markers.

[2015-05-07 07:45] Nodd commented on #2419
Be more than a fan: become a contributor ! :wink:

I rarely use splitted editor, but why not.

[2015-05-07 07:47] Nodd commented on #2420
:+1: for a global zoom.
By "panel zoom levels", you mean when the editor is splitted ?

[2015-05-07 08:00] picca opened #2421 "Qt4's WebKit removal in Debian/Ubuntu"
Hello guyes,

since the unfreeze of Debian :), we started to prepare the next release.
I just got this bug report [1] of pyqt4 removal.

can you tell me if spyder is qt5 ready ?

thanks a lot

[1] https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=784613

[2015-05-07 08:12] Nodd commented on #2421
The master branch has Qt5 support (feel free to try it!), but we're still finding little bugs here and here. It should be ready for the next debian version.

[2015-05-07 08:15] picca commented on #2421
thanks for the informatin.
have you done something for guidata and guiqwt ?

[2015-05-07 08:59] macjas opened #2422 "Selecting line numbers from the side areas with pointer potentially buggy?"
I'm not sure if this is a bug or just something broken in my local install. But every time, I try to select a line from the editor's side areas, it randomly selects a few line numbers above.

To elaborate, if I select line 13, line 9 gets highlighted, selecting line 20 highlights line 13. I know this is a minor issue but somewhat frustrating as I am so used to using my mouse pointer to select line

[2015-05-07 09:14] Nodd commented on #2422
I can't reproduce this problem (Linux, Qt5)

@goanpeca I think  you did this, any idea ?

[2015-05-07 09:14] goanpeca commented on #2422
Me neither :s .... no idea what might be happening...

[2015-05-07 09:18] Nodd commented on #2421
I think that [guidata](https://github.com/PierreRaybaut/guidata) and [guiqwt](https://github.com/PierreRaybaut/guiqwt) are not maintained anymore. :(

[2015-05-07 09:42] MarcusAllen commented on #2407
I do have completions after the freeze.
Sorry i'll try to be for more precise: right after writing the dot in "df." the system starts to freeze and five seconds later the tab of completions appears.

i repost my config

## Version and main components

* Spyder Version:  2.3.4
* Python Version:  3.4.3
* Qt Version    :  4.8.6, PyQt4 (API v2) 4.11.3 on Linux

## Optional dependencies

pyflakes >=0.6

[2015-05-07 09:43] techtonik commented on #2335
@Nodd let me see..

[2015-05-07 09:49] macjas commented on #2422
Hmmm maybe its my local environment then. Strange.... I even tried re-installing the entire Anaconda repo.

[2015-05-07 09:51] goanpeca commented on #2422
Can you try running from the master and see if the behavior is in master as well in your config?

[2015-05-07 09:52] macjas commented on #2422
Sorry, how do I do that? :) I'm really very new to Sypder and Python in general!

[2015-05-07 09:55] goanpeca commented on #2422
Ah ok, can you take a look in the wiki [here](https://github.com/spyder-ide/spyder/wiki/Dev%3A-Github-Workflow) and read the users part?

You need to have git installed. [Look here ](http://git-scm.com/book/en/v2/Getting-Started-Installing-Git)

And you need to work in the command line/shell (windows/unix)

[2015-05-07 09:55] techtonik opened #2424 "Test for mixed line ending changes in Travis"
To fix #2335 one of proposed solutions is to automagically convert linefeeds to LF. http://adaptivepatchwork.com/2012/03/01/mind-the-end-of-your-line/ This is bad for two reasons:

1. git may mistake
2. Spyder may lose control over linefeeds and mess them up badly

So, an alternative solution would be to add a Travis check for Windows linefeeds.

1. All files for CRLF (commits to master)
2. Only m

[2015-05-07 09:58] goanpeca commented on #2424
@techtonik, the automatic conversion will be implemented, this will be an extra check not an alternative.

[2015-05-07 09:59] macjas commented on #2422
Actually, I just noticed that the problem disappears when I open a new blank file. However, on a medium sized file (around 200 lines), the problem re-appears :).

Okay, give me sometime to go through the users part on the Spyder wiki and I'll get back to you..

[2015-05-07 10:00] techtonik commented on #2424
@goanpeca, you are free to do what you want. I just haven't seen the argument that could change my own opinion.

[2015-05-07 10:05] goanpeca commented on #2424
Everyone is entitled to his/her opinion and I am not trying to change yours. I am informing you of what will happen.

[2015-05-07 10:06] goanpeca commented on #2422
:+1:

[2015-05-07 10:10] goanpeca commented on #2417
I can take a look at this

[2015-05-07 10:11] goanpeca commented on #2420
I can take a look at this... should be an easy fix.

[2015-05-07 10:14] goanpeca commented on #2418
I do not think we are really doing any fix here as @Nodd points out this extra space serves an specific purpose.

What we could do is add an option in the preferences to show/hide the breakpoints section of the lines numbers, if the user chooses to. Right now there is only an option for Show/hide line numbers

[2015-05-07 10:16] techtonik commented on #2424
The closes I can find on getting the diff http://stackoverflow.com/questions/25071579/list-all-files-changed-in-a-pull-request-in-git-github The remaining problem is to test that it works, and determine current branch for commits to 2.3 etc.

[2015-05-07 10:20] techtonik commented on #2424
Another awesome concept - https://linthub.io/

[2015-05-07 10:36] macjas commented on #2422
Okay, so I installed Spyder using one of the installers on the master fork. It seems to have solved the problem. Not sure if there was some incompatibility with my laptop system from installing Spyder from Conda vs from here. In any case, I'm happy!

[2015-05-07 10:55] goanpeca commented on #2422
:+1:

[2015-05-07 10:55] #2422 closed

[2015-05-07 11:13] Nodd commented on #2424
1. If git makes mistakes on this, we will have bigger problems. I mean, it's git's job to manage files, it it can't filter by extension or doesn't regognize between CRLF and LF, we're all doomed. Git won't make more mistakes than Travis...
2. This change will impact spyder's own codebase only. In what way would it mess up with other products ?

Now for Travis, my plan would be:
1. Remove all CRLF

[2015-05-07 11:15] Nodd commented on #2418
Yeah, we could add an option for the magin.

[2015-05-07 12:05] thewhitetulip commented on #2272
Okay, sounds great :+1: I got lost and confused :smile:

[2015-05-07 12:22] goanpeca commented on #2272
There is no minimize concept for a panes, so what do you suggest?

[2015-05-07 17:02] Garrett-R commented on #2419
Haha, good point!  Well, I contribute to Pandas which I believe is upstream of Spyder...

[2015-05-07 17:10] Garrett-R commented on #2420
@Nodd, exactly.  I also added a screenshot to clarify.  Not sure if that panel-zoom is more useful to others than a global-zoom, but just an idea.

[2015-05-07 17:12] Garrett-R commented on #2418
Right, sorry, I totally forgot about those...

[2015-05-07 18:35] pijyoi opened #2427 "can't find pylint installed as python3-pylint"
Under Fedora, package python3-pylint installs itself as /usr/bin/python3-pylint.
Spyder 2.3.4 however only looks for "pylint" in PYLINT_PATH and get_pylint_version().

[2015-05-07 19:02] goanpeca commented on #2427
Seems like an easy fix @pijyoi, want to give it a try?

[2015-05-07 19:13] goanpeca commented on #2419
@Garrett-R you should give it a try

[2015-05-07 19:37] goanpeca commented on #2420
@ccordoba12 you agree with this?

[2015-05-07 19:42] goanpeca commented on #2420
@Nodd I think the per "panel" will be harder cause we do not keep track of splits, and splits are done recursively one on top of each subsequent spliter. Maybe we should keep track of this...

[2015-05-07 19:56] goanpeca commented on #2420
@Garrett-R we can implement all options, per editor, per panel, or global... now the question @spyder-ide/core-developers is if we should add options to control this behavior?

We could have:

- [ ] Use global zoom for all editor stacks
- [ ] Use zoom per split stack

[2015-05-07 20:08] ccordoba12 commented on #2420
I **don't** agree with this. `Ctrl++` and `Ctrl+-` work like in browsers, i.e. they are temporary and they work on a per page (file, in our case) basis.

If you want to increase the font size of every file, that's very easy: just go to

    Preferences > Editor

and select a bigger point for your current font :-)

[2015-05-07 20:11] #2420 closed

[2015-05-07 20:14] goanpeca commented on #2418
@ccordoba12 should we add an option for this?

[2015-05-07 20:15] ccordoba12 commented on #2420
@goanpeca, thanks for understanding :-) We don't need to add option after option for these kind of things, just tell users how things work in Spyder.

[2015-05-07 20:16] goanpeca commented on #2420
True, I completely forgot about the font size :smile:

[2015-05-07 20:20] ccordoba12 commented on #2418
Nop, I don't think so. This is the first request of this kind I've seen in all my time with Spyder, so we'll be essentially adding an option for one person :-)

[2015-05-07 20:20] #2418 closed

[2015-05-07 20:22] goanpeca commented on #2418
:+1:

[2015-05-07 21:04] ccordoba12 commented on #2419
+1 from me, both to add shortcuts for those actions and to receive a PR from @Garrett-R ;-)

[2015-05-07 21:07] ccordoba12 commented on #2427
@pijyoi, are you sure that the executable is called `python3-pylint` and not `pylint3`?

[2015-05-07 21:09] ccordoba12 commented on #2427
Don't worry, I verified that's the case :-)

[2015-05-07 21:19] #2427 closed

[2015-05-07 21:21] ccordoba12 commented on #2427
This fix will be released as part of Spyder 3.0, in a couple of months. Thanks for reporting :-)

[2015-05-07 21:23] ccordoba12 commented on #2272
See my https://github.com/spyder-ide/spyder/issues/2272#issuecomment-98854023 above :-)

[2015-05-07 21:25] ccordoba12 commented on #2424
@techtonik, there won't be more releases for 2.3, so there's no need to touch that branch :-)

[2015-05-07 21:27] ccordoba12 commented on #2422
@macjas, I think you were just using an old Spyder version :-)

[2015-05-07 21:29] ccordoba12 commented on #2407
@MarcusAllen, as I say, I don't understand how you're getting completions in this case. But this is a problem we're trying to solve in a different way.

[2015-05-07 21:30] ccordoba12 commented on #2407
In any case, the delay is not Spyder's fault but of the libraries it uses to get completions in the Editor, i.e. rope and jedi :-)

[2015-05-07 21:32] ccordoba12 commented on #2421
@picca, why QtWebkit is going to be removed for Qt4?

[2015-05-07 21:35] ccordoba12 commented on #2421
This is not a proper issue, so I'm closing it.

I think this should have gone in our mailing list because it's just asking for info :-)

[2015-05-07 21:35] #2421 closed

[2015-05-07 21:37] ccordoba12 commented on #2413
It seems @goanpeca is going to solve this issue :-)

[2015-05-07 21:48] goanpeca commented on #2413
Well now that I am working with the editor, it made sense...

[2015-05-07 23:13] Nodd commented on #2272
What does it do ? Only show the titlebar ? (which can be hidden in spyder...)

[2015-05-07 23:47] ccordoba12 commented on #2272
The minimize button in RStudio collapses all panes tabbed together and only shows their titlles in a simple tabbar.

I don't know if that can be done in Qt :-)

[2015-05-07 23:52] dougthor42 opened #2428 "Add option/plugin to sort import statements, perhaps via **isort**"
I think a nice refactoring feature would be organization of import statements.

I found this nifty package called [**isort**](https://github.com/timothycrosley/isort) which I think would be a good addition to Spyder. It appears to be actively maintained and supports Python 2.6 to 3.4. It's also under the MIT licence.

The example shown on Timothy's page explains things quite nicely:

**Before isor

[2015-05-07 23:54] ccordoba12 commented on #968
This is related to #2162

[2015-05-08 04:22] bo92wen opened #2429 "Left Parenthesis in Ipython console result in kernel closing"
## Description

* *What steps will reproduce the problem?*
1.Open the Spyder
2.Type in a left parenthesis( '(' ) in the IPython console

* *What is the expected output? What do you see instead?*
I expected to see a left parenthesis shown in the IPython console. I jumped to the internal console immediately and see the following information:

Traceback (most recent call last):
  File "/Applications/

[2015-05-08 05:40] Garrett-R commented on #2420
I know the issues already closed and I don't want to waste your guys' time, so feel free to just ignore my rebuttal here. :stuck_out_tongue_winking_eye:

Actually, I was aware of the ability to set global zoom through `preferences`.  It just seemed like surprising behavior when I use CTL+mousewheel to zoom in (say I'm leaning back fruther from the screen, or I've gone down to a single panel), and

[2015-05-08 05:45] Garrett-R commented on #2419
Uh oh, sorry to let you guys down, but I don't think I'm going to, even though I know it's lame to ask for all this stuff, then not help out. :worried:  I just think I can contribute to the free software movement more efficiently by working on Pandas which is more similar to what I do at work.  They also have a whopping 1200+ issues!

[2015-05-08 07:04] goanpeca commented on #2428
This could work better as a contextual helper :)

[2015-05-08 07:12] goanpeca commented on #2419
This is an easy fix so you should really give it atry

[2015-05-08 07:55] thewhitetulip commented on #2272
As @ccordoba12 said that can be done, but if a minimize button is added we would need to show some indicator like eclipse or Rstudio do

[2015-05-08 16:17] cornelius80 commented on #2387
I too am encountering the same problem of python failing to launch.
I have the same hardware and OS specifications as stated by GiGonzal except for the fact that I am running my codes in a virtual environment with python version 3.4.

[2015-05-09 00:04] thewhitetulip opened #2430 "Easy way to collapse code"
While browsing through a really long code it would be awesome to be able to collapse code with a button, and also a collapse all function feature if it doesn't exist, I am not aware if it does

[2015-05-09 00:26] goanpeca commented on #2430
You mean code folding? there is work on way and this is then a duplicate if so...

[2015-05-09 17:26] thewhitetulip commented on #2430
Yes, having a small plus icon on the place where we show line numbers

[2015-05-09 19:23] #2430 closed

[2015-05-09 19:33] #2379 closed

[2015-05-10 04:28] jwu72 opened #2432 "Argument cannot work in Spyder 2.3.4"
Hi:

I have some problems about argument after I installed spyder 2.3.4. I used Python 3.4 and Ubuntu 14.04

For example, if I create a function as below:

def f(x, alpha = 3, beta =2):
    return 3*x + beta

Previously in Spyder 2.3.1, when I type f( in ipython console or editor, spyder will automatically showed argument "(x, alpha =, beta =2)". However, in Spyder 2.3.4, the argument only showed

[2015-05-10 04:54] #2432 closed

[2015-05-10 04:56] jwu72 opened #2433 "Argument cannot work in Spyder 2.3.4"
## Description

I have some problems about argument after I installed spyder 2.3.4. The argument in console cannot work when you type function or create objective.

* *What steps will reproduce the problem?*

For example, if I create a function as below:

[code]

* *What is the expected output? What do you see instead?*

Expected: Previously in Spyder 2.3.1, when I type f( in ipython console or ed

[2015-05-10 08:05] techtonik commented on #2424
@ccordoba12 I don't agree on this policy. The `master` didn't work for me several days ago. There should always be a stable branch where people can fix bugs and use.

[2015-05-10 08:46] techtonik commented on #2424
2. @Nodd I suspect that Spyder currently messes with linefeeds and it affects others.

I have a script that checks for linefeeds, but.. Spyder already has linter tools. Can it exposed through command-line?

[2015-05-11 12:37] Nodd commented on #2419
I totally understand that you can't contribute to every software you use! The fix itself may not be complicated but understanding how and where it should be done, following the code style, updating the PR after each comment, all this takes time.
Go go pandas Go !

[2015-05-11 17:02] Garrett-R commented on #2419
:+1:

[2015-05-11 18:47] goanpeca commented on #2272
@ccordoba12 @thewhitetulip the minimize button concept may work... but I think it is not really worth it. We have custom layouts so the users can organize the panels as they want and switch between this layouts.

I would say it is too much unnecessary work to make sure everything works as it should.

So I am :-1: on minimize functionality

[2015-05-11 19:54] dmd opened #2435 "crash with "unknown string format" editing in-place in variable explorer"
Start Spyder. Enable preferences > variable explorer > display > always edit in-place.

In a console:
[code]
In variable explorer, double-click the value of x and make an edit. Spyder will crash.

[2015-05-11 21:51] thewhitetulip commented on #2272
Okay, I don't have any experience building GUI based applications so can't really comment on functionality, as far as designing webapps is concerned, it isn't a big deal to add one more button, if it is too much unnecessary work then your call.

[2015-05-11 22:13] ccordoba12 commented on #2433
I think what you're seeing is the same problem as reported in issue #2036. Could you confirm it?

[2015-05-11 23:06] ccordoba12 commented on #2435
I don't know what Spyder version you're using, but `Always edit in-place` is not available anymore (I think since Spyder 2.3.2).

However, your report help to fix a problem with dates in master :-)

[2015-05-11 23:06] #2435 closed

[2015-05-11 23:24] #729 closed

[2015-05-11 23:24] #1212 closed

[2015-05-11 23:24] #2047 closed

[2015-05-11 23:24] #2347 closed

[2015-05-11 23:31] dmd commented on #2435
Sorry, I was using the version that's in the Ubuntu 14.04 repo.

[2015-05-11 23:38] ccordoba12 commented on #2435
No biggie ;-) Ubuntu versions are always outdated.

[2015-05-11 23:45] ccordoba12 commented on #2424
@techtonik, there is a stable branch, and you can move to it by doing

    git checkout 2.3

I maintained it by 9 months, but I simply don't have the time to maintain it forever. So now everything goes to master.

[2015-05-12 00:08] jwu72 commented on #2433
Hi:

I think it's similar. My problem is the function argument disappeared.

![screenshot from 2015-05-11 19 04 36](https://cloud.githubusercontent.com/assets/12377903/7577701/1b84ff84-f811-11e4-8575-f6d9855d4c3a.png)

[2015-05-12 06:04] cheneave commented on #2250
@ccordoba12 Same problem occurs on my computer.
If I use the master brunch on git hub and run it with python bootstrap.py, everything is OK. But if I use "python setup.py install" command to install it to python path then run it with spyder.bat, the problem occurs.

[2015-05-12 07:40] cmeeren opened #2436 "Background coloring in array view (variable explorer) doesn't work if array contains nans"
## Description

It seems that the background coloring in the array view (in the variable explorer) doesn't work if the array contains nans.

* *What steps will reproduce the problem?*
1. Make an array with nans and an array without nans, e.g. [1, 2, 3] and [1, nan, 3]
2. Open them in the variable editor, make sure "Background color" is checked
3. Observe that the array without nans is properly col

[2015-05-12 11:20] goanpeca commented on #2272
@thewhitetulip the thing is that Spyder allows too much freedom for users on how to organize their windows by docking and undocking things and this flexibility provides for most user needs. The problem with having a minimize function is that...

1. What is the use, if you can define your layout, maximize and close panes already?

1. There is no concept for minimizing a pane that is alone, meaning

[2015-05-12 11:42] thewhitetulip commented on #2272
In this case it would be besides the point to add a minimize button, the thing is the trio of minimize, maximize and close go hand in hand from the UX point of view, but as you said, spyder already provides the user with extensive options as to organizing the desktop, then it would be of little use to provide a minimize button considering that even maximize isn't provided by Qt, as you rightly sai

[2015-05-12 14:46] bilderbuchi commented on #2429
sounds similar to #2341

[2015-05-12 15:55] ccordoba12 commented on #2429
@bo92wen, why are lines (on your error report) that start with this?

    /Library/Python/2.7/site-packages

To me this indicates that: a) you're using an external interpreter, and b) there's a mismatch between your IPython versions in your interpreter and the one that comes with the Spyder app.

[2015-05-12 17:37] dougthor42 opened #2437 "Change or allow custom characters for ShowTabsAndSpaces"
Summary:
-------------
Change or allow custom characters for ShowTabsAndSpaces - the current ones are too visually distracting.

Details:
---------
The default characters for ShowTabsAndSpaces are middle dot ``·`` 0x00B7 and rightwards arrow ``→`` 0x2192. These are somewhat visually distracting because they (speficially middle dot) are too big. It would be nice to be able to change this character.

[2015-05-13 07:09] Nodd commented on #2424
@techtonik Spyder has an option to normalize line endings. You can desactivate it if you find that it messes things up.

AFAIK Spyder's linter tools are external tools like pep8, flake or pylint, they all have a command line interface.

[2015-05-13 15:26] kigawas opened #2438 "Use a single font for all panes"
![image](https://cloud.githubusercontent.com/assets/4182346/7614120/53c58622-f9c7-11e4-8033-7b63248ca13f.png)

Just like the image above, I want to change the font in the right side to some better fonts( now it is hard to read), how should I do that?

[2015-05-13 15:47] Nodd commented on #2438
AFAIK the font comes from the Qt theme.
Are you on widows, Linux, Mac ? Which spyder version ? You can create a bug report with these informations automatically by using the Help menu, and copy-paste the content here.

[2015-05-13 19:29] #2436 closed

[2015-05-13 20:52] ccordoba12 commented on #2438
Just go to the **Editor** entry on the left to select a different font. You can configure a different font for every pane, but perhaps that's too much :-)

@Nodd, @goanpeca, what do you think?

[2015-05-13 20:56] ccordoba12 commented on #2438
I mean, should we use a single font for all panes?

[2015-05-13 21:02] ccordoba12 commented on #2433
Yes, it's exactly the same problem. The only solution right now is to change your windows style in

    Tools > Preferences > General > Qt windows style

and choosing a different option than the default one, which is **GTK+**

----

I'm closing this issue as duplicate of #2036

[2015-05-13 21:02] #2433 closed

[2015-05-13 22:13] #2385 closed

[2015-05-14 03:36] babykiss4ever commented on #2438
@Nodd @ccordoba12
I use Spyder's latest version on **Windows 8.1 with Anaconda**.

I had a experience in developing Qt application so I can recognize that is the default Qt font( which perhaps use the **default font for plain text** on the responding platform ).

So in next versions could there be a setting to configure the IDE's GUI font just like IDEA?

[2015-05-14 13:25] ccordoba12 commented on #2334
It seems there's nothing else we can do here. Dynamics docstrings are hard to get by our completion libraries, so @masasin, I think you'll be better by avoiding them.

[2015-05-14 13:25] #2334 closed

[2015-05-14 21:51] dougthor42 opened #2439 "Rope not autocompleting when *args or **kwargs are present in function definition"
### Summary

~~Jedi~~ Rope autocompletion does not work when `*args` or `**kwargs` are present in a function definition.

### Steps to Reproduce
1. Open up a new python file.
2. Type the following:

[code]

3. After typing `my_v`, press <kbd>Tab</kbd>. Notice that no autocompletion happens
4. Replace `*args` with `**dict_of_args`.
5. Press <kbd>Tab</kbd> in the same location as before. Again, auto

[2015-05-15 23:00] ccordoba12 commented on #1957
@statmobile, I updated our instructions to create the app on Mac 10.9+. Please try to follow them to see if you can create the app now.

About the error you mentioned in https://github.com/spyder-ide/spyder/issues/1957#issuecomment-94995055, just look for the faulty line mentioned in the traceback and change it from

    loader=loader.filename

to

    loader_path=loader.filename

See this bug rep

[2015-05-16 21:01] SylvainCorlay commented on #2342
Or use a submodule, and update the commit number of qtpy when qtpy is released.

[2015-05-18 08:45] j-chacon opened #2440 "Error evaluating cells with empty lines"
Hey im having some issues while evaluating cells if there is an empty line just before the else statement. When this occurs, I get an unexpected indentation error.

[code]

Now if the blank line before the else is removed, then it works fine.

Can anyone fix this? :)

Greetings!
Juan

[2015-05-18 10:27] bikong2 opened #2441 "Error: Socket can't be open"
## Description

When i star spyder, Problems occur.

[code]

[2015-05-18 15:49] ccordoba12 commented on #2441
This problem is caused because we can't open a socket (i.e. an internal IP address) in your computer for communication between several Spyder components.

The cause could be your antivirus and/or firewall, which is too restrictive and doesn't let us do that operation.

Try to deactivate them for a while and start Spyder again to see if that fixes your problem.

[2015-05-18 16:02] ccordoba12 commented on #2440
This only happens in our Python Console, not in our IPython one. That's because our Python Console can't handle multiline statements but the IPython ones can.

So for now you can use our IPython consoles to keep working :-)

----

@SylvainCorlay, could you take a look at this one? It shouldn't be that hard to solve because this only requires removing blank lines present in a cell before sending it

[2015-05-18 17:37] dougthor42 commented on #2439
Opps, I thought that you guys were using Jedi as the default. According to #2206, Spyder was switched back to Rope (at least for now).

So this issue is actually with **rope_py3k**. I've edited the OP to reflect this.

[2015-05-18 21:37] SylvainCorlay commented on #2440
Ok I will fix this sometimes this week.
Cheers
S.
On May 18, 2015 12:02 PM, "Carlos Cordoba" <notifications@github.com> wrote:

[2015-05-19 01:21] blink1073 commented on #2439
We use rope if available and fall back on Jedi, so that means neither one is working in this case.

[2015-05-19 07:03] j-chacon commented on #2440
Awesome guys!

Thanks a lot

[2015-05-19 15:05] s0r2637 opened #2442 "Spyder does not make global constants declared in a module accessible when importing the module"
## Description

* *What steps will reproduce the problem?*

1. I created a module with a few definitions and a few constants as global variables
2. when I import the module, I can only access the definitions but none of the constants I defined
3. When I go to Python interpreter in Ubuntu, the constants are accessible through the module.

 What is Spyder doing on top of the Python intepreter is bey

[2015-05-19 21:21] dougthor42 commented on #2439
I checked Jedi via direct calls and it seems to be OK.

[code]

(you can see a bit more info in the Jedi Issue that i mistakenly submitted).

I've tried doing the same thing with `rope-py3k v0.9.4.post1` but I've so far been unable to figure out the API - too much extra stuff for projects and refactoring.

[2015-05-19 21:40] dougthor42 commented on #2439
Oh well not that I take a second look, I was able to replicate the problem with direct Rope calls.

Without any argument unpacking (no *args or **kwargs), it works just fine:
[code]

However, once we add unpacking, it goes kaboom:
[code]

Sadly it doesn't look like there's any more active development on the [rope_py3k project](https://bitbucket.org/zjes/rope_py3k/overview) over on BitBucket.

[2015-05-20 01:54] blink1073 commented on #2439
I tested this on 2.3.4 and was able to reproduce.  However, it is already fixed in the current master.  @dougthor42, you can install the latest  `pip install git+https://github.com/spyder-ide/spyder`, or wait for the next official release.

[2015-05-20 10:41] Nodd commented on #2442
What exactly do you mean by "access"? autocompetion? execution in a python console?

[2015-05-20 10:52] s0r2637 commented on #2442
What I mean by access is that is that I cannot use the usual dot (.)
convention to access a global constant defined inside a module.  The dot
(.) convention only works for a subroutine defined inside that module.
Hope this helps.

Srini
On May 20, 2015 5:41 AM, "Joseph Martinot-Lagarde" <notifications@github.com>
wrote:

[2015-05-20 15:25] bikong2 commented on #2441
Thks, i've fixed the problem.

Xihua Li
Baidu Corporation
Baidu Campus, No. 10, Shangdi 10th, Haidian District, Beijing, China
TEL: 15810540336
Email: lixihua9@126.com
--------------------------------------------------------
北京市海淀区上地十街10号百度大厦
百度公司商务搜索部
李习华

From: Carlos Cordoba
Date: 2015-05-18 23:49
To: spyder-ide/spyder
CC: 李习华
Subject: Re: [spyder] Error: Socket can't be open (#2441)
This probl

[2015-05-20 16:38] Nodd commented on #2441
This issue pops from time to time. The exception should be catched and replaced by a friendly error dialog with some explanations on how to fix it.

[2015-05-20 18:24] mcleung opened #2443 "AttributeError: 'module' object has no attribute 'has'"
Hi!

Perhaps someone can give me a hand here. I can not launch Spyder anymore.
I am using Anaconda with Python 2.7.8, Build 0. Spyder version I have is 2.3.4. I am running Windows 8.1 Pro, 32 Bit.

I have iPython-Notebook and iPython-QTConsole installed, version 3.1.0 (Installed through Anaconda)

When I try to run spyder, I get the following error (This was obtained using cmd, and running ''spyde

[2015-05-20 18:38] ccordoba12 commented on #2443
Please close Spyder, the IPython notebook and any other process Python process that can be importing a Python module.

Then run this command

    conda install -f pyzmq

That should fix your problem :-)

[2015-05-20 18:38] #2443 closed

[2015-05-20 18:41] ccordoba12 commented on #2442
Please provide a simple example module that is showing the error you're describing, so we can test it and fix it in our side :-)

[2015-05-20 19:49] j9ac9k commented on #2350
Something like that would be amazing.  I am far from experienced enough of a coder to implement something like this, but if there is any testing I can do or help in any other way, please let me know.

[2015-05-20 20:30] dougthor42 commented on #2439
I cloned the master branch just now (~11:45am PDT 2015-05-20) and bootstrapped into Spyder and I still get the same issue.

I tried direct function calls again and Rope still fails, while Jedi still works. So to me it *seems* like the fallback on Jedi is not working, but I may not completely understand the fallback logic.

So I decided to hack it into Spyder myself. I've edited `get_completions` i

[2015-05-20 21:34] perezmeyer commented on #2421
Qt4's QtWebkit will be removed in Debian Stretch, yes.

[2015-05-21 00:02] takluyver commented on #2265
Sorry for the delay responding to this. There are two approaches you could look at:

1. Making the completer popup adapt to the width of the things listed. The completion widget code is here: https://github.com/jupyter/qtconsole/blob/master/qtconsole/completion_widget.py

2.  Making the completions only include the part after the last dot, instead of the whole qualified name. This might be trickie

[2015-05-21 02:14] bikong2 commented on #2441
Hi,

I start my spyder again, but it failed the same.
So i tried many times, sometimes it work but others not.

so what's the problem?

thks

Xihua Li
Baidu Corporation
Baidu Campus, No. 10, Shangdi 10th, Haidian District, Beijing, China
TEL: 15810540336
Email: lixihua9@126.com
--------------------------------------------------------
北京市海淀区上地十街10号百度大厦
百度公司商务搜索部
李习华

From: Carlos Cordoba
Date: 2015

[2015-05-21 09:45] babykiss4ever opened #2444 "Unable to open IPython console in Spyder"
## Description

* *What steps will reproduce the problem?*

1. Install Elementary OS(the latest version)
2. Install Anaconda
3. Type `spyder` in terminal to open the IDE

* *What is the expected output? What do you see instead?*
Expected: Open the IPython console
Error message in the panel:
[code]

* *Please provide any additional information below*

PS.
I can open the kernel by running `python st

[2015-05-21 19:26] ccordoba12 commented on #2441
I think the problem is with your antivirus or firewall. Have you tried to run Spyder with the deactivated already?

[2015-05-21 19:33] ccordoba12 commented on #2444
This seems an installation error with Anaconda. My suggestion would be to:

1. Remove your current installation.
2. Download Anaconda again.
3. Reinstall and try to run Spyder again.

[2015-05-21 21:30] blink1073 commented on #2439
@dougthor42, can you try running as `python bootstrap.py --debug`, and paste the the console output when you attempt the completion?

[2015-05-21 21:41] dougthor42 commented on #2439
Here ya go, with some light formatting to make it a bit easier to read.
[code]

This was run using the same example code as I posted in the original report.

[2015-05-21 21:51] blink1073 commented on #2439
Shucks, the Jedi API changed from 0.8.1 -> 0.9.0, I'll have to paper around it.

[2015-05-21 21:52] dougthor42 commented on #2439
Always tricky when APIs change.

Thanks for looking into it.

[2015-05-22 01:44] bikong2 commented on #2441
hi, i turn off my antivirus and firewall, the same problem occurs.

so, is there any other ways to fixed the problem.

[2015-05-22 01:48] blink1073 commented on #2439
@dougthor42, see my change in #2445, that should do the trick.

[2015-05-22 01:59] amitvakula opened #2446 "When importing putting two periods in a row produces an error in a Python console"
I'm trying to import a library called Dipy. When importing if I type
[code]
It crashes the Spyder terminal

[2015-05-22 08:51] cordman opened #2447 "Ubuntu 14.04 + Spyder 2.3.4 + Python 3.4: IPython not available"
I have just installed Spyder 2.3.4. on my Ubuntu 14.04 x64 machine using "pip3 install" since I am not using anaconda. In former versions I was working with Python 2.7 and had the option to start an IPython shell on the startup. But I can't find this option in the newest version anymore.

At first, I thought my question is related to this question (http://stackoverflow.com/questions/21936277/ipyth

[2015-05-22 16:31] dougthor42 commented on #2439
Confirmed working with #2445.

Thanks!

[2015-05-22 18:01] kekel opened #2448 "Spyder crashes using Variable Explorer with BeautifulSoup"
I am suspecting that the IDE crashes due to Variable Explorer trying to show an object of class 'bs4.element.NavigableString' derived from a "fairly" large HTML document. See reproducible example below. When the last line of code executes, the IDE freezes and needs to "force quit"/killed and restarted. However, commenting out the last line, it executes fine.

I further suspect that it can have som

[2015-05-22 19:09] ccordoba12 commented on #2447
You need to go to the menu

    View > Panes

and select the

    IPython terminal

entry to activate it. Maybe it's just hidden :-)

[2015-05-22 19:13] ccordoba12 commented on #2446
You're right, this is a bug. We'll fix it in our next release.

[2015-05-22 19:47] ccordoba12 commented on #2439
@dougthor42, please leave this issue open so that Github can autoclose it when we merge #2445 :-)

[2015-05-22 19:51] dougthor42 commented on #2439
Whoops, my bad. I'll keep that in mind for next time :-)

[2015-05-23 03:29] babykiss4ever commented on #2444
@ccordoba12

I tried to reinstall, yet it didn't work.
By googling the error message, this bug may result from 'circular import', but it's hard to troubleshoot the critical line in those files.

[2015-05-23 04:10] ccordoba12 commented on #2444
Then try to run

    conda install -f matplotlib
    conda install -f pandas

and try again. maybe that fixes your problem :-)

[2015-05-23 20:02] eflister opened #2449 "can't run stuff i can run fine from terminal"
installed py-spyder-2.3.4 from macports, but it can't run stuff that i can run fine from terminal:

[code]

[2015-05-23 20:03] eflister opened #2450 "frequent import errors that are resolved by restarting spyder"
previously thought it was a winpython issue, but now think it might be spyder itself:

https://github.com/winpython/winpython/issues/96

[2015-05-23 20:30] Argentan commented on #2407
I had been using Winpython 2.7.9.4 and I came across a very similar issue after updating to 3.4.3.3 (equivalent release in 2.7 is 2.7.9.5). After reading this, I notice that this release of winpython included jedi for the first time, the jedi version is 0.8.1. I solved the problem updating jedi to 0.9.0.
I had to uninstall 0.8.1 too, somehow both versions coexisted. I don't know if this is Winpyto

[2015-05-23 21:32] MarcusAllen commented on #2407
I agree it's totally a jedi related issue.
I removed jedi and now everything is smooth. However i still have auto completion in editor except for the "df." thing.

[2015-05-24 02:43] babykiss4ever commented on #2444
@ccordoba12

It didn't work :(. The error message shows that `sitecustomize.py` is not correct, but the top of the trace stack is `start_ipython_kernel.py`.
However, by running it independently no error messages occur.

//-----------------------
I just fixed this bug by *commenting* line 217 - line 220:
[code]

Yet it may cause issue #2257 according to the comments,
so maybe we can detect the vers

[2015-05-24 10:28] leonsuetfeld commented on #2284
Unfortunately I don't think 2.3.4 fixes it.

I'm using a Retina MBP, OSX 10.10.3 and python 2.7. When I used Spyder 2.3.2 it would always take very varying amounts of time, say between 10 and 120 minutes, to start up Spyder.

I then switched to 2.3.4 and the problem SEEMED fixed, so it always started up within a few seconds. However, after a crash it all went bad again, now showing the exact same

[2015-05-24 11:56] myeomans commented on #2284
Agreed with leonsuetfeld, the problem is back...

[2015-05-24 12:10] cordman commented on #2447
It is not available in my menu. Any hints?

Cheers
Cord

Am 22.05.2015 um 21:09 schrieb Carlos Cordoba:

[2015-05-24 13:26] techtonik commented on #2424
I'd say that there could be a problem with maintenance process and the frequency of releases. From that I've seen in the master, some changes could (should) be applied to 2.3 and then merged back to master.

[2015-05-25 18:05] ccordoba12 commented on #2407
@blink1073, could you take a quick look at this one?

Have Jedi improved its support to complete assignments?

[2015-05-25 18:22] ccordoba12 commented on #2284
Hi,

I need a reproducible test to fix this problem because I'm not seen it
myself :-) For now you can try to run in a terminal

      spyder --reset

or

     rm -Rf ~/.spyder2

to see if that fixes the problem.

@leonsuetfeld: what variable were you seeing when using the variable
explorer?

Cheers,
Carlos

El 24/05/15 a las 06:56, myeomans escribió:

[2015-05-25 18:26] ccordoba12 commented on #2447
The other possibility is that you don't have it installed on your system. To have it on Ubuntu and Python 3, you need to install this package:

    sudo apt-get install ipython3-qtconsole

[2015-05-25 18:27] ccordoba12 commented on #2284
@blink1073, are you seeing this problem in your machine?

[2015-05-25 18:30] blink1073 commented on #2284
I am not. 

—
Sent from Mailbox

On Mon, May 25, 2015 at 1:27 PM, Carlos Cordoba <notifications@github.com>
wrote:

[2015-05-25 18:38] ccordoba12 commented on #2424
The problem is that we moved to the new (pythonic) style for signals and slots in master (to make Spyder compatible with PyQt5), so that makes really hard to work with both branches.

In any case, there are not major issues with 2.3. If you encounter important problems (other than this one with line endings, which doesn't help to solve any bug), please report them to consider releasing a new bugfi

[2015-05-25 18:41] ccordoba12 commented on #2444
The problem seems to be with Pandas, not with Matplotlib, as your traceback clearly shows.

I don't know why this is happening, but we protected Spyder against this problem in master. However, the frequency of this problem seems to justify releasing **2.3.5**

[2015-05-25 18:55] ccordoba12 commented on #2450
You said in your WinPython report:

So if things worked correctly without a second WinPython installation, I don't understand how this is a Spyder bug :-)

I mean, if things haven't worked initially then I'd say this could be our problem. But that's not the case, so this seems to be a problem with WinPython and/or the sima package.

[2015-05-25 19:01] ccordoba12 commented on #2449
This line (and the following in your traceback)

    File "sima/__init__.py", line 7, in <module>

seem to indicate that you have the `sima` package (or a package called `sima`) in the same directory as your `workflow.py` example.

That seems to be the most probable cause of your problem because it seems that `sima` dir doesn't contain everything to be expected in the real sima package.

[2015-05-25 22:47] blink1073 commented on #2407
@ccordoba12, the reason they were seeing no completions is that completions are broken with Jedi 0.9 pending #2445.  This is related to an open issue in Jedi: https://github.com/davidhalter/jedi/issues/520.  Also, the overall slowdown of our editor is most likely due to the fact that the Introspection is run in a thread, so it is contending with the main thread for resources.

[2015-05-26 07:36] cordman commented on #2447
This was the missing link. Now it works!

I only had "ipython3" installed and did not know that it has to be
"ipython3-qtconsole". Is this mentioned somewhere?

Thanks anyway!!

Am 25.05.2015 um 20:26 schrieb Carlos Cordoba:

[2015-05-26 13:27] pitrou opened #2451 "Let third-party libraries disable UMR"
Some libraries do not work well with the User Module Reloader. Numba is one of those (see https://github.com/numba/numba/issues/1179). It would be nice to let them self-blacklist from reloading. For example, it would be neat if the ``numba`` module could set a ``__umr__`` attribute indicating that the whole package should be blacklisted.

[2015-05-26 15:28] ccordoba12 commented on #2447
You're welcome ;-)

[2015-05-26 15:28] #2447 closed

[2015-05-26 16:30] ccordoba12 commented on #2451
I like this suggestion. It's very simple to implement. We could do that for all Continuum packages (like Blaze and Bokeh)

@pitrou, should I proceed or should I wait for the corresponding feature to be added at least to Numba?

[2015-05-26 16:45] leonsuetfeld commented on #2284
What folder would I have to be in to execute the commands you suggest?

I think just re-installing the dmg file of spyder 2.3.4. may have done the trick. At least start-up time is back to what it should be (<10s), for now. So there probably is something that can go wrong after some time (or a spyder crash possibly), that can be fixed by re-installing spyder 2.3.4.

About the variable explorer: If

[2015-05-26 16:49] ccordoba12 commented on #2447
Sorry, I forgot to answer to this:

Yes, it's mentioned in our installation docs here:

http://pythonhosted.org/spyder/installation.html#recommended-modules

[2015-05-26 16:53] ccordoba12 commented on #2284
@leonsuetfeld, if you're using our dmg, you can't run `spyder --reset` (you'll be able to since Spyder 3.0 :-), but you can run `rm -Rf ~/.spyder2` on any folder (using Terminal.app of course).

Glad to hear that your problem was fixed :-)

[2015-05-26 17:04] pitrou commented on #2451
Glad to know you like it :) You can proceed with the feature, just tell me exactly which syntax you chose!

[2015-05-26 20:37] ccordoba12 commented on #1957
I uploaded a new app for **Python 3** but only to our Bitbucket page.

@statmobile and @blink1073, could you quickly test the app to see if everything is working as expected for you?

@blink1073, the main issue with this app has been it's inability to start Python and IPython consoles, so that should be the main thing to look at :-)

[2015-05-26 20:38] ccordoba12 commented on #1957
Another thing I forgot to mention: this new app requires 10.9+ (i.e. it doesn't work on older Mac versions).

[2015-05-26 21:03] statmobile commented on #1957
I had to change my security settings because it doesn't fit the "identified developers" condition to open non app store downloads on OS X.  Other than that, the console opens up to ipython 3.4 perfectly!!!  Thanks @ccordoba12!!!  I wish I could have done more to help.

[2015-05-26 21:18] ccordoba12 commented on #1957
@statmobile, you did enough by pinging me from time to time to solve this issue!! The main thing I changed was moving to 10.9 to create the app, and problem solved!!

Now I have to see how to sign the app to avoid the error you mention. For that I'm going to remove the app for now and I upload it again when it's ready :-)

[2015-05-26 23:29] ccordoba12 commented on #1957
No way, singing apps costs $99 per year, so it's a no go :-) I'll re-upload the same dmg again.

@blink1073, please give it a simple test to see if it works for you too ;-)

[2015-05-26 23:57] statmobile commented on #1957
Hmm, we could try to raise the money, because as I'm looking into it there doesn't seem to be any exclusions for open source projects (typical Apple).

Now that I think about it, I don't think I've seen any links for contributions to the Spyder project.  Once I start my next job I'd be more than happy to throw some money to the overall project and you. :-)

[2015-05-26 23:59] ccordoba12 commented on #1957
Thanks for your offer @statmobile!! :-) We're trying to setup the right channels to accept donations.

We plan to have that ready next month.

[2015-05-27 01:11] blink1073 commented on #1957
@ccordoba12, I wasn't able to install the app, even when allowing Apps from "Anywhere".  However, when I launch the App, I can import numpy and get completions in both terminals.

[2015-05-27 07:07] jondo commented on #1525
A coworker (WinPython newbie) just got caught by this.

[2015-05-27 07:17] jondo opened #2452 "os.system causes TypeError in Python 3"
Here's my test case:
[code]

When I run this in WinPython-64bit-3.4.3.3, Spyder's "Internal console" opens and displays
[code]

[Switching back](https://github.com/spyder-ide/spyder/issues/1525) to the IPython console, I see that the response `0` has been printed correctly, though.

In WinPython-64bit-2.7.9.4, the test case runs without error.

[2015-05-27 10:02] Nodd commented on #1525
I thought that showing the internal console on error was disabled by default ? Did he change the settings ?

[2015-05-27 10:05] Nodd commented on #2452
I can't reproduce it with master branch on Linux.

[2015-05-27 10:25] jondo commented on #1525
Who is "he"? Maybe @stonebig, the WinPython maintainer?

[2015-05-27 10:33] jondo commented on #2452
@stonebig - can you reproduce this on Windows?

[2015-05-27 11:15] Nodd commented on #1525
I meant your coworker.
In any case I agree that the internal console should be hidden to "standard" users.

[2015-05-27 12:37] jondo commented on #1525
No, my coworker didn't. Where is such a setting? I don't find it in Tools->Preferences.

[2015-05-27 16:56] ccordoba12 commented on #1525
@Nodd, the option to show the Internal Console on errors is **on** by default. And I think we should leave it like that because else @jondo wouldn't have reported issue #2452.

@jondo, to deactivate the option you need to go to

    Tools > Preferences > General > Debugging

and look for the option called

    Pop up internal console when internal errors appear

[2015-05-27 17:25] stonebig commented on #2452
Winpython3.4.3.3-64bit/Spyder2.3.4/French windows:

[code]

[2015-05-27 18:47] Nodd commented on #2452
What if you create a script and run it in the current IPython console ?

[2015-05-27 19:11] Nodd commented on #1525
In that case the warning should always be displayed in a Qlabel over the internal console instead of inside the console (it gets pushed to the top quickly in case of traceback).

[2015-05-27 19:19] ccordoba12 commented on #1957
@blink1073, what do you mean by this?

To install the app you only need to drag and drop it to the `/Applications` folder.

By the way, it's really good to know that both consoles are working for you too!!

[2015-05-27 19:23] blink1073 commented on #1957
In the dialogue that comes up, there is a Spyder icon and an Applications folder icon.  When I try and drag the Spyder icon onto the the other, I get a cursor showing me it is not allowed, and it refuses to move/install.  I ran it by just double-clickibg on the Spyder icon. 

—
Sent from Mailbox

On Wed, May 27, 2015 at 2:19 PM, Carlos Cordoba <notifications@github.com>
wrote:

[2015-05-27 19:23] SylvainCorlay commented on #2308
Similar problem here: the python interpreter crashes on any code execution.

[2015-05-27 19:31] ccordoba12 commented on #1957
Maybe your account doesn't have admin permissions. But thanks for the clarification :-)

[2015-05-27 19:32] ccordoba12 commented on #2308
@SylvainCorlay, on which platform, Qt and Python versions?

[2015-05-27 19:42] ccordoba12 commented on #2452
@jondo, maybe your coworker is using an old Spyder version. We fixed a lot of unicode bugs for the Python console in 2.3.2.

[2015-05-27 19:44] ccordoba12 commented on #1525
Ideally we should show a `QMessageBox` with the traceback and the option to report the bug on Github or deactivate showing errors during the current session.

That's the purpose of this issue. @goanpeca, would you mind to take a look at this one?

[2015-05-27 19:48] ccordoba12 commented on #1957
@statmobile, thanks a lot for the clarification. Then we definitely need to sign the app.

[2015-05-27 19:51] goanpeca commented on #1525
Sure @ccordoba12, I can take a look, BUT you have to merge the language PR :smile_cat:

[2015-05-27 19:52] ccordoba12 commented on #1525
Ok, looking into it right now ;-)

[2015-05-27 20:53] SylvainCorlay commented on #2308
## Version and main components

* Spyder Version: 3.0.0dev 47daafb
* Python Version: 2.7.9
* Qt Versions: 4.8.6, PyQt4 (API v2) 4.11.3 on Linux

## Optional dependencies
[code]

[2015-05-28 01:07] #2439 closed

[2015-05-28 06:41] jondo commented on #2452
I have now found out that I can only reliably reproduce this bug when I use
[code]
instead.

I am using German Windows 7,64 bit, and I now did a fresh install of the current `WinPython-64bit-3.4.3.3.exe` (with Spyder 2.3.4) into a new directory, without any additional packages. Neither disk nor memory are full.
The code is in a script file, which I run in the default IPython console or plain Pytho

[2015-05-28 16:19] stonebig commented on #2452
ok, now I have an error message too:
[code]

[2015-05-28 16:28] stonebig commented on #2452
so, the ping result give some non-ascii character, in French So I assume In German too:
[code]
If I replace your command:
-  per `"echo é ping -n 1 127.0.0.1"` I get no error
-  per `"echo é ping -n 1 127.0.0.1"` I get the error

==> I guess the `output` of the console, not the return message, is given as "latin" or "german" code page,  but improperly handled by Spyder console

[2015-05-28 16:39] stonebig commented on #2452
as a bit of fun, this works perfectly on the Ipython Qtconsole of spyder:
[code]

[2015-05-28 23:38] Success2014 opened #2453 "Spyder dies when running code while debugging"
This happened many times while I was debugging using Spyder.
Sometimes I can type in code in the IPython Console above the ipdb> arrow, then everything seems to be frozen.
Nothing got printed out. After that, I can still type in codes. However, nothing can be executed.
I tried enter button, exit debug button, run button, etc. I could only type in codes.
At last, the only thing I could do is restar

[2015-05-29 07:15] jondo commented on #2452
Yes, I can also reproduce this with
[code]

And the German ping output has a non-ascii character:
[code]

The reason for my originally wrong test case was that the error "sticks" until Spyder is restarted: When the error has appeared once, it also appears on `os.system("echo x")`.

[2015-05-29 07:35] Nodd commented on #2452
I guess that the error sticks because the output buffer is not emptied on error and still contains non-ascii chars.

[2015-05-29 15:16] ccordoba12 commented on #2453
Ideally, you shouldn't use `ipdb` to enter code, just debug commands (like `b` or `c`). That's because `ipdb` doesn't accept arbitrary Python code.

[2015-05-29 21:06] Success2014 commented on #2453
Same thing happened just now. Check the attached pictures.

![capture](https://cloud.githubusercontent.com/assets/7728287/7892747/a49923f4-061c-11e5-96ca-1b3d5f1bcd05.PNG)
![capture1](https://cloud.githubusercontent.com/assets/7728287/7892748/a499ad2e-061c-11e5-8758-e1ee918ca1d0.PNG)

[2015-05-29 22:51] ccordoba12 commented on #2453
Could you post an example of the code you're trying to debug that is causing this error?

[2015-05-29 23:45] #1001 closed

[2015-05-30 02:15] Houinside opened #2454 "spyder does not intelligent indent at the second comma"
## Description

* *What steps will reproduce the problem?*
It do happen when type in the follow block in spyder editor.
[code]

* *What is the expected output? What do you see instead?*
Well, the expected output is
[code]

## Version and main components

* Spyder Version:  2.3.4
* Python Version:  2.7.3
* Qt Version    :  4.8.1, PyQt4 (API v2) 4.9.1 on Linux

## Optional dependencies

pyflakes >=0

[2015-05-30 10:17] blink1073 commented on #2454
@Houinside, where are you hitting `Return`.  If it paste this and hit `Return` between the last two lists, they are aligned (on the latest development version).

[code]

[code]

[2015-05-30 22:06] ccordoba12 commented on #2407
I merged #2245, so now we have to wait for a fix in Jedi ;-)

[2015-05-30 22:29] blink1073 commented on #2407
@ccordoba12, I think you mean #2445.  :stuck_out_tongue_winking_eye:

[2015-05-30 22:31] ccordoba12 commented on #2407
Yep, busted here!! ;-)

[2015-05-30 22:37] ccordoba12 commented on #2341
I can confirm this bug, and I think I know how to fix it :-)

[2015-05-31 02:06] yw5aj opened #2455 "A bug in ctrl+shift+i when a new window is opened?"
Environment: Windows 7 64 bit, Python 3.4 64 bit, Spyder 2.3.4

To repeat:
1) Start Spyder, open a new file, open IPython console.
2) Right click on the tab of a file, and click "New Window".
3) In the new window, I cannot use ctrl+shift+i to switch to the ipython console.

This looks like a bug to me... Anyone can repeat this?

Shawn

[2015-05-31 08:55] Linruixp opened #2456 "Launching IPython console fails because of errors importing Pandas or Matplotlib"
## Description

* *What steps will reproduce the problem?*
1. I want to Open an IPython Console, but fails.

* *What is the expected output? What do you see instead?*
The expected output is an open IPython Console, But I get error message like below:

[code]

* *Please provide any additional information below*

## Version and main components

* Spyder Version:  2.3.4
* Python Version:  2.7.9
* Qt

[2015-05-31 15:11] ccordoba12 commented on #2455
@goanpeca, do you think this could be fixed? i mean, how we could make shortcuts to work across windows?

[2015-05-31 15:14] goanpeca commented on #2455
I would not call it a bug, it is a feature that would need to be implemented.

I can take a look

[2015-05-31 15:16] ccordoba12 commented on #2455
Ok, thanks :-)

[2015-05-31 15:20] ccordoba12 commented on #2456
Thanks for reporting.This will be fixed in our next version.

[2015-05-31 19:48] yw5aj commented on #2455
Thanks for taking a look at this guys!

Shawn

[2015-06-01 03:29] #2341 closed

[2015-06-01 03:29] #2456 closed

[2015-06-01 14:31] ccordoba12 commented on #2444
This is a duplicate of issue #2456, and a fix for it will be released on 2.3.5

[2015-06-01 14:31] #2444 closed

[2015-06-01 14:37] ccordoba12 commented on #2397
@goanpeca, please try to solve this soon. I'd like to include it in 2.3.5 (to be ready in two weeks or so :-)

[2015-06-01 14:45] goanpeca commented on #2397
Hmmm this is going to be tricky cause at this point it seems to be a Mac related issue and hmm I do not have a mac!

[2015-06-01 14:48] ccordoba12 commented on #2397
Right, this is not an issue with fonts. It's just a duplicate of issue #2296.

[2015-06-01 14:48] #2397 closed

[2015-06-01 15:04] ccordoba12 commented on #2228
Thanks for reporting. I know what you mean now :-)

I'll fix it in 2.3.5

[2015-06-01 15:56] ccordoba12 commented on #2387
Could you focus the *Python* console, look for a tab called **Kernel** and see if there are any errors printed there?

[2015-06-01 15:59] ccordoba12 commented on #1957
I'd say this issue if (finally) solved. One last thing for @statmobile

Should we need to sign our Python **2** app too? Or that is not necessary?

[2015-06-01 15:59] #1957 closed

[2015-06-01 16:02] ccordoba12 commented on #1148
Closing because it has shown very little interest.

[2015-06-01 16:02] #1148 closed

[2015-06-01 16:06] ccordoba12 commented on #1615
I think this is solved now, but I'll verify it for our next release.

[2015-06-01 17:32] GiGonzal commented on #2387
When I open a Python console (on Spyder), the Kernel tab shows the following info, but there is no a clear error printed there - as far as I can tell.

Message:

NOTE: When using the `ipython kernel` entry point, Ctrl-C will not work.
To exit, you will have to explicitly quit this process, by either sending
"quit" from a client, or using Ctrl-\ in UNIX-like environments.

To read more about this,

[2015-06-01 20:44] dougthor42 commented on #2192
I would love to have this for ReStructuredText in addition to Markdown.

What I currently do it write my rst in the docstring of a dummy function and then inspect it with <kbd>Ctrl</kbd>+<kbd>I</kbd>. After I'm done formatting, I'll copy the rst into my readme.rst file (or wherever) and be done.

The other way I'll write rst files is with [restview](https://pypi.python.org/pypi/restview) - it open

[2015-06-01 23:23] rsmaior opened #2458 "Search from Online help freezes Spyder"
Spyder Version:  2.3.0
Python Version:  3.4.0
Qt Version    :  4.8.6, PyQt4 (API v2) 4.10.4 on Linux
pyflakes >=0.6.0:  0.8.1 (OK)
pep8 >=0.6      :  1.4.6 (OK)
IPython >=0.13  :  1.2.1 (OK)
pygments >=1.6  :  1.6 (OK)
sphinx >=0.6.6  :  1.2.2 (OK)
psutil >=0.3    :  1.2.1 (OK)
rope >=0.9.2    :  None (NOK)
matplotlib >=1.0:  1.3.1 (OK)
sympy >=0.7.0   :  None (NOK)
pylint >=0.25   :  1.1.0 (OK)

[2015-06-01 23:27] rudregues opened #2459 "Report issue... redirecting to code.google"
Spyder Version:  2.3.0
Python Version:  3.4.0
Qt Version    :  4.8.6, PyQt4 (API v2) 4.10.4 on Linux
pyflakes >=0.6.0:  0.8.1 (OK)
pep8 >=0.6      :  1.4.6 (OK)
IPython >=0.13  :  1.2.1 (OK)
pygments >=1.6  :  1.6 (OK)
sphinx >=0.6.6  :  1.2.2 (OK)
psutil >=0.3    :  1.2.1 (OK)
rope >=0.9.2    :  None (NOK)
matplotlib >=1.0:  1.3.1 (OK)
sympy >=0.7.0   :  None (NOK)
pylint >=0.25   :  1.1.0 (OK)

[2015-06-01 23:46] ccordoba12 commented on #2459
Please update to our latest Spyder version (**2.3.4**), which has a fix for this problem.

[2015-06-01 23:46] #2459 closed

[2015-06-01 23:47] ccordoba12 commented on #2458
Thanks for reporting. I'll take a look at this error for our next release.

[2015-06-01 23:56] ccordoba12 commented on #2171
We moved to 10.9 as the base to create our apps, so I'm confident this bug will be fixed when we release 2.3.5.

[2015-06-01 23:56] #2171 closed

[2015-06-02 00:20] ccordoba12 opened #2460 "Design for Projects in 3.0"
I'm opening this issue to discuss how our Projects support should be improved in 3.0.

My main idea is to follow how RStudio handles projects, i.e.

1. Projects are **not** mandatory, as in other IDEs. Spyder must work without the need to create a project, i.e. as it works right now.
2. Projects save the state of open files in the Editor. In future versions we can add the ability to restore the st

[2015-06-02 00:21] ccordoba12 commented on #2460
Pinging @goanpeca for discussion. I don't know if other @spyder-ide/core-developers want to join in ;-)

[2015-06-02 00:43] ccordoba12 commented on #2460
For reference, this is the doc page where RStudio projects are described

https://support.rstudio.com/hc/en-us/articles/200526207-Using-Projects

[2015-06-02 00:51] ccordoba12 commented on #2338
Closing because of lack of respone

[2015-06-02 00:51] #2338 closed

[2015-06-02 00:59] ccordoba12 opened #2461 "Plugin: Make a terminal plugin for use on Linux with Terminado"
This is a request I received at SciPy Latin America.

Having a terminal as part of an IDE is quite handy, for example to do git commits or start/stop OS services. Projects like Geany have one, and it was mentioned to me that that's one of the main reasons people prefer it over Spyder :-)

We should try to use an external project (e.g. [qbash](https://github.com/olitheolix/qbash)) to do this, proba

[2015-06-02 07:07] FredJames32 opened #2462 "When Preferences/IPython console/Graphics/Backend/Inline fails and the solution"
Mac OSX.  Spyder IPython console initially did inline graphics. But after I checked "Preferences/IPython console/Advanced Settings/Use symbolic math", whenever I launched Spyder anew, plots were in separate window. So, I had to a "% matplotlib inline" if I wanted inline charts. This was the case even though "Preferences/IPython console/Graphics/Backend/Inline" was set. Then, I realized that if I u

[2015-06-02 07:12] goanpeca commented on #2460
Hi @ccordoba12, good, this way is better so I can start a PR with some milestones ;)

On your points:
1.) Agree
2.) Agree
3.) Hmm here I am not so sure a toolbar would be the best solution... We could also consider a statusbar widget that would work as a combo box for this?, some people disables toolbars (although some people disables the status bar as well)
4.) It is true that it would make our l

[2015-06-02 07:15] goanpeca commented on #306
@thewhitetulip this is something you are still willing to go for?

[2015-06-02 07:15] FredJames32 opened #2463 "Failure to preserve Matplotlib backend when using symbolic math"
## Description

Mac OSX. Spyder IPython console initially did inline graphics. But after I checked "Preferences/IPython console/Advanced Settings/Use symbolic math", whenever I launched Spyder anew, plots were in separate window. So, I had to a "% matplotlib inline" if I wanted inline charts. This was the case even though "Preferences/IPython console/Graphics/Backend/Inline" was set. Then, I reali

[2015-06-02 07:18] #2462 closed

[2015-06-02 07:31] goanpeca commented on #2460
I forgot to mention....

We can add support for http://editorconfig.org/, I would like to see the spyder logo in there! http://editorconfig.org/#download

Things to agree on...
1.) The format to store information. I guess we can keep using .ini file as the rest of the spyder infrastructure.
2.) I want to use a project folder (.spyproject) to store any projects related config. We could use a single

[2015-06-02 07:32] goanpeca commented on #2461
@thewhitetulip this is something you are still willing to go for?

[2015-06-02 08:02] bilderbuchi commented on #2460
Some points:
* Please consider moving the project/workspace files away from a binary format, towards a textual format - this would make sane handling in a version control system possible.
* When designating contents for your project folders, please separate (semi)permanent data files (e.g. run configuration) from files with ephemereal/often-changing content (e.g. window/tab positions, timestamps,.

[2015-06-02 08:13] goanpeca commented on #2460
@bilderbuchi

Thanks for the input,

To your points:
- We are moving to text based only *.ini which is what spyder uses internally
- That is the main reason I am in favor of having a folder with several files as opposed to a single file, so thumbs up!
- The idea is to include by default gitignore/hgignore files by default when creating projects (and using vcs) to only track files that make sense t

[2015-06-02 08:46] Nodd commented on #2192
For information I use [ReText](http://sourceforge.net/p/retext/home/ReText/) to edit Rest or markdown files. It can display a rendering in realtime.
The only limitation I found for my use is that it doesn"t understand the sphinx additions to rst.

[2015-06-02 08:53] goanpeca commented on #2192
I think we will add this as a native thing in spyder, so hopefully @Nodd wont need to go to ReText ;-)

[2015-06-02 09:12] goanpeca commented on #2460
![image](https://cloud.githubusercontent.com/assets/3627835/7932380/294a0660-0918-11e5-89fd-fcddfa49616a.png)

Not much, but getting things in motion

[2015-06-02 10:59] thewhitetulip commented on #2461
Yes, I am, but I am not getting time out of work. I can squeeze some time in later this month though.

[2015-06-02 11:02] thewhitetulip commented on #306
Yes, I am. But I am not getting free time. I think I can start at this month end. Actually I feel we should improve the documentation of Spyder's code. Any thoughts about it?

Because the last time I was reading the source code, I really didn't understand the architecture and the overall structure.

[2015-06-02 11:10] goanpeca commented on #306
I am aware of the doc limitations myself, I was there not so long ago, so if you have questions ask we will be happy to help. We can improve the docs in the process of working.

We started a (wiki page)[https://github.com/spyder-ide/spyder/wiki/Dev%3A-Spyder-Internals] to address this issue but it is a work in progress.

[2015-06-02 11:35] goanpeca opened #2464 "Add support for .editorconfig"
I think it would be a good idea to add native support for editor config using the already existing [python module](https://github.com/editorconfig/editorconfig-core-py). We could bundle the module within spyder in the `external-py...` dirs

I know we could add this as a plugin for spyder, but I think having built-in support would  give Spyder more visibility perhaps?

http://editorconfig.org/#down

[2015-06-02 12:02] thewhitetulip commented on #306
yes, for sure. I will ask questions when I am stuck on gitter.im +1

[2015-06-02 12:16] ufechner7 opened #2465 "Images are not rendered by the Help pane on Windows"
Simple example:

[code]

Save this code in a file like test.py. Save any small picture in as picture.png in the same folder.

Put the cursor in front of the class name "test" and press < ctrl >< i >.

The object inspector displays:

class test(object)

diagram

and an empty box instead of the picture.

This should be fixed. I like the object inspector, and I like to add diagrams to some of my meth

[2015-06-02 12:19] goanpeca commented on #2465
@blink1073 did you look at this at some point if I am not mistaken?

[2015-06-02 13:26] ccordoba12 commented on #2465
I think this is solved in master, and @blink1073 did it :-)

[2015-06-02 13:27] ccordoba12 commented on #2464
I think @techtonik was interested on this too.

[2015-06-02 13:39] #2446 closed

[2015-06-02 13:48] ccordoba12 commented on #2463
Thanks for reporting. I'll take a look at it to see what we can do about it.

[2015-06-02 13:51] ufechner7 commented on #2465
Does someone know the commit or the pull request? Perhaps I can apply that to my local spyder version.

[2015-06-02 15:02] Nodd commented on #2460
@bilderbuchi :+1: That's exactly what I was going to write.

Also about opening only one project at the same time, I think it's OK *if* it is possible to open another project in another spyder window, and if it's easy to do (like right-click on a project's name > open in a new window).

[2015-06-02 15:13] ccordoba12 commented on #2460
@goanpeca, great start! Keep the good work up! :-)

About my initial points:

3.) Let's go then for a main menu entry to start with, i.e. a *Projects* menu, next to *Consoles* and before *Tools*.
4.) Let's go simple on a first implementation, i.e. only show one project per session. But, as you said, we should try to design things to make it easier to add multiple projects later on. Also, if that's

[2015-06-02 15:30] ccordoba12 commented on #2363
This is a problem I've seen several times on Windows, so we need to fix it.

I work on it for 2.3.5.

[2015-06-02 15:33] ccordoba12 commented on #1995
This is a duplicate of issue #2363

[2015-06-02 15:36] ccordoba12 commented on #1640
Let's mark this one as a duplicate of issue #2363 to investigate the suggestion provided in the second comment.

[2015-06-02 15:38] ccordoba12 commented on #1453
Also related to issue #2363

[2015-06-02 16:01] jpiersol opened #2466 "No Notification of Running Instance"
If spyder is already running in single instance mode, attempting to run "spyder" again just terminates the new process without notification. A simple notification, "Spyder is already running," would be helpful for troubleshooting (consider running spyder locally, then trying to open it in VNC, and not being able to understand why the process is terminating).
____________________________________

M

[2015-06-02 17:11] goanpeca commented on #2460
Ok, I will add the menu and create a new preferences dialogue for projects based on the existing general preferences dialog @ccordoba12.

I have to do some tweaking with the UserConfig to generalize it and make it usable also for this case.

[2015-06-02 17:14] goanpeca commented on #2460
About multiple projects, not sure how other IDEs handle it, but from a Spyder point of view, we could think of adding some color to the editos tabs to distinguish between project files and non project files.

I could open 2 projects at the same time and a random python script. Individual files will behave according to the project they belong to. This would require that projects cannot be nested.

[2015-06-02 17:16] goanpeca commented on #2460
Having a new Spyder Editor will not work, cause all files between editors are in sync so they have to display the same files. The "easier" solution would be, in case a project is open and one wants to open in a new one, then a new (and independent) spyder instance should launch.

[2015-06-02 17:23] dougthor42 opened #2467 "Outline widget should be able to parse Markdown and reStructuredText for headings"
#### Summary:
The Outline widget should be able to parse Markdown and reStructuredText for headings.

#### Details:
I tend to use Spyder for pretty much everything related to a Python project: .py files of course, but also YAML files for continuous integration services and markdown or reStructuredText for README files. Right now, when editing a .md or .rst file, the Outline Explorer is greyed out

[2015-06-02 17:30] goanpeca commented on #2467
@dougthor42 great idea :-)

[2015-06-02 17:32] bilderbuchi commented on #2460
Personally, that would be too much "magic" for my taste. Hiding irrelevant stuff by default (e.g. `.git` directory, `~` backup files) is alright most of the time, but creating virtual file structures would be too much imo. if the user wants a directory structure, why not create it herself?

[2015-06-02 19:00] eflister commented on #2450
as described, things work for a while, but then i start getting those import errors.  restarting spyder resolves it for a while.  this applies to each installation -- my original impression that new installations broke old ones was wrong.

[2015-06-02 19:08] eflister commented on #2449
the situation is that i have a pip-installed sima, but they neglected to include their examples directory in that distribution, so i also have a git repository clone in order to have workflow.py.  that sima directory definitely includes everything.  outside of spyder, it works fine.
[code]

[2015-06-02 19:30] ccordoba12 commented on #2460
@goanpeca said:

Ok, but be very careful with that. We have a lot of logic in UserConfig to deal with several updates and changes to our config files and dir during the years.

That's where things get complicated quite easily. So multi-projects should be left for a future PR.

----

@bilderbuchi said:

Ok, it's just an idea, and it could be implemented in an optional way. It's quite useful in C/C+

[2015-06-02 19:35] goanpeca commented on #2460
@ccordoba12 sure, I am being extra careful. I added just an extra check so that a custom filename can be used instead of the default filename method, which assumes a lot of things and renamed the `__` methods to `_` so that I can inherit and have a `ProjectsConfig(UserConfig)`.

Multiprojects: yes that was just some random thought, I am assuming single-projects for now.

[2015-06-02 19:41] michaelstepner opened #2468 "'Connect to existing kernel' fails if json file not in PWD"
I'm using Spyder 2.3.4 on OS X, trying to connect to an existing (remote) IPython kernel.  I successfully connected to the kernel using

    ipython qtconsole --existing /path/to/json/file/kernel-4957.json

but get an error **Unable to connect to IPython kernel-4957.json** when attempting to connect via Spyder.

I was eventually able to connect by moving the kernel-4957.json file to my home direct

[2015-06-02 19:42] goanpeca commented on #2468
@SylvainCorlay ?

[2015-06-02 19:48] ccordoba12 commented on #2466
You're right, and I've thinking to add a warning for a long time :-)

I'll try to address it for 2.3.5.

[2015-06-02 19:50] ccordoba12 commented on #2467
It shouldn't be hard to do because the Outline Explorer uses regular expressions to parse the file.

[2015-06-02 19:58] ccordoba12 commented on #2468
If your kernel file is not in

    ~/.ipython/profile_default/security

then it won't automatically be detected by us. I mean, if you only write `kernel-4957.json` or just `4957` in the *Connect info* field of our *Connect to an existing kernel* dialog, and the kernel file is not in that dir, then we can't connect to it.

But for kernel files in other places, that dialog has a *Browse* button to b

[2015-06-02 20:08] SylvainCorlay commented on #2468
It is not required for the JSON file to be in current workind directory.

-If you only type the *name* of the file in the dialog, it is going to look into your security directory and the current working directory.
-If your connection file is elsewhere, you must specify the full path. Using the Browse button would allow you to set this up.

[2015-06-02 20:09] goanpeca commented on #2467
I have been thinking for a long time about revamping the source code editor to generalize it to many other formats, as soon as that is done, making this sort of adjustments is going to be easy. After projects this is the next on my bucket list

[2015-06-02 20:25] goanpeca commented on #2460
@ccordoba12 what do you think of adding a statusbar widget that displays the current project, or none if no project?

[2015-06-02 20:26] michaelstepner commented on #2468
When I use the *Browse* button to navigate to the json file, the Connection Info field is successfully filled with the full path `/path/to/json/file/kernel-4957.json`.  But when I hit OK, I get the error **Unable to connect to IPython kernel-4957.json**.

If I then copy the `kernel-4957.json` file to my home directory, I can repeat the process and successfully connect.  Once it's in my home direct

[2015-06-02 20:28] ccordoba12 commented on #2460
I think the project name should be shown in the title bar. I find it more appropriate there :-)

[2015-06-02 20:28] goanpeca commented on #2460
You mean Spyder 3.0.0 (Python 2.7) - Project: Name

[2015-06-02 20:29] ccordoba12 commented on #2460
Yep. Too crowded?

[2015-06-02 20:31] goanpeca commented on #2460
Hmmm, nope, I think is ok

[2015-06-02 20:31] ccordoba12 commented on #2460
:+1:

[2015-06-02 21:33] SylvainCorlay commented on #2468
Thanks for detailing. This would require me to test on a mac because I am not reproducing your issue.

Is the original location of the connection file special in that
- the path would have special characters, spaces
- it is a network drive
Does it only work in your home directory.

Another question: is the connection filename actually `kernel-4957.json`?

[2015-06-02 21:36] SylvainCorlay commented on #2468
@ccordoba12 looking at the current master code for `_create_client_for_kernel`, I see
[code]
while IPython's `find_connection_file` already makes that addition. (This was added in https://github.com/spyder-ide/spyder/commit/b2496c67f6eb829ca71a70647a5f98539a46b424).

I think we would only need the last line.

[2015-06-02 21:53] michaelstepner commented on #2468
@SylvainCorlay Thanks for looking into this!  Answering your questions:

* The full path has no special characters: `/Users/michael/Documents/git_dssg/kernel-4957.json`
* It's a local directory.
* I have only successfully connected to the kernel when the `kernel-4957.json` file is in my home directory. But when it is in my home directory, I can also connect to the kernel by using the json connecti

[2015-06-02 23:58] statmobile commented on #1957
Sorry for the delay, that new job I mentioned entails me moving to a new location so I'll be off and on over the next couple of weeks lining that up.

I just installed Spyder-Py2, which oddly did just let me drag it into my Applications folder, but it looks like it's the same issue with the latest OS X release (10.10.3).  It won't let me open an unsigned app unless I change that security setting I

[2015-06-03 00:41] blink1073 commented on #2465
@ufechner7, https://bitbucket.org/spyder-ide/spyderlib/pull-request/12/add-ability-to-re-trigger-docstring-while/diff.

If using absolute paths, they must must be URIs, in this case: file:///path/to/picture.png. See http://en.wikipedia.org/wiki/File_URI_scheme.

[2015-06-03 02:22] techtonik commented on #2464
Duplicate of #2336. =)

[2015-06-03 02:50] FredJames32 commented on #2463
I further noticed that if you are in inline plot mode and import sympy and call sympy.init_session() from IPython console, then you loose the inline mode and plots pop up in separate windows.

[2015-06-03 02:51] FredJames32 commented on #2463
I further noticed that if you are in inline plot mode and import sympy and call sympy.init_session() from IPython console, then you loose the inline mode and plots pop up in separate windows. 
      From: Carlos Cordoba <notifications@github.com>
 To: spyder-ide/spyder <spyder@noreply.github.com>
Cc: FredJames32 <faratra2@yahoo.com>
 Sent: Tuesday, June 2, 2015 6:48 AM
 Subject: Re: [spyder] failu

[2015-06-03 06:49] Nodd commented on #2464
I think it fits well as a core functionnality, more than a plugin.
Closing since it's a duplicate.

[2015-06-03 06:49] #2464 closed

[2015-06-03 06:57] goanpeca commented on #2336
:+1:

[2015-06-03 09:01] Nodd commented on #2192
I was just providing a possible alternative in the meantime, that's all !
I rarely edit rst files actually, these days I tend to create them automatically to show computation results (python powa!)

[2015-06-03 09:44] Nodd commented on #2461
It would fit nicely as a plugin, as it's just a widget with a few connections to spyder internals.

[2015-06-03 10:01] techtonik commented on #2424
I don't see why new signal slot could not be released as 2.4 if it is still not Python 3 ready and 2.x compatible.

[2015-06-03 10:08] techtonik commented on #2424
I couldn't find test for mixed linefeeds in existing linter tools. Need to ask explicitly. Please help me and update this post with new information.

* [ ] pep8 (asked - no, prooflink - no)
* [ ] flake (asked - no, prooflink - no)
* [ ] pylint (asked - no, prooflink - no)
* [ ] jedi (asked - no, prooflink - no)

[2015-06-03 11:48] thewhitetulip commented on #2461
Yes, @Nodd also another thing that makes it more suitable as a plugin is that the project this is going to be based on is a GPL2 licensed, so we can't really use it in spyder directly. I will ask for assistance when I start working on it, probably this month end.

[2015-06-03 14:37] Nodd commented on #2424
Your link is a 404 error.
How about reading all files in binary and checking if `\r` is in it ? It's quite easy to do with path.py which is included in `spyderlib/utils/exernal`.
I know it's bad to reinvent the wheel but in that case it looks like the wheel doesn't exist...

[2015-06-03 21:47] techtonik commented on #2424
@Nodd fixed the link. The fact needs to be validated. `pep8` guys say it doesn't belong there. I can argue, but it looks like a there is a technical problem with that.

[2015-06-03 21:48] ccordoba12 commented on #2458
I can't reproduce this error. It takes some time until a search is done, but it returns the expected result.

Please update to 2.3.4 and try again :-)

[2015-06-03 21:51] #2463 closed

[2015-06-03 21:51] #2466 closed

[2015-06-04 00:12] #2452 closed

[2015-06-04 14:26] Nodd commented on #2424
From your link it exists in pylint:
`pylint a.py -rn --expected-line-ending-format=LF`

[2015-06-04 18:00] techtonik opened #2469 "Release 2.4"
Because it is hard to backport stable changes (that people need to use in their workflow right away) from 2.3 to master, I propose to cut 2.4. It will solve the broken merge problem with linefeeds and new signal/slot mechanism.

[2015-06-04 18:06] techtonik commented on #2335
Instead of messing with linefeeds in 2.3, it is better to #2469

[2015-06-04 18:50] techtonik commented on #2424
Ready for review - https://github.com/spyder-ide/spyder/pull/2470

I feel really bad that so many files are wrong. I'd reimport the stuff into Git again, but I guess there no such option. Who is gonna recommit the files? Should I add them to PR?

[2015-06-04 20:42] ccordoba12 commented on #2469
I think this is not doable, not at this moment. It could have been possible 8 months ago (after merging the new signals and slots PR), but not now. There is a lot of work on master, some of which is pending on future PRs, so it's not ready for a new release.

Besides, you haven't mentioned exactly which are those stable changes that we should backport. Right now I'm working on a new bugfix release

[2015-06-04 21:02] techtonik commented on #2469
I need my find and replace module in 2.3. Also, I will be working on stable branch and committing it there. As I said, master didn't work for me, and I don't have time to deal with it.

[2015-06-04 21:04] techtonik commented on #2469
It all started with this one https://github.com/spyder-ide/spyder/pull/2400

[2015-06-04 22:14] ccordoba12 commented on #2469
Why don't you submit a PR with your find and replace module against our 2.3 branch? That way I could judge its importance and see if we can merge it for 2.3.5. I could also deal with merging it with master.

I advise you not to work on 2.3 (at least if you're adding new features) because that's essentially a maintenance branch. Instead, please help us to solve the problems you have with master.

[2015-06-04 22:31] Nodd commented on #2469
I work with the master branch on a daily basis without major problems (and minor problems are very rare).
I totally understand why a bugfix release is needed, but not why we should do a half stable release.

[2015-06-04 22:55] rudregues commented on #2458
@ccordoba12 , even after updating 2.3.4 the bug remains. Bellow is the output generated by 2.3.4 "Report issue..." wizard:

pyflakes >=0.6.0:  0.8.1 (OK)
pep8 >=0.6      :  1.4.6 (OK)
IPython >=1.0   :  1.2.1 (OK)
zmq >=2.1.11    :  14.0.1 (OK)
pygments >=1.6  :  1.6 (OK)
pandas >=0.13.1 :  None (NOK)
sphinx >=0.6.6  :  1.2.2 (OK)
psutil >=0.3    :  1.2.1 (OK)
rope >=0.9.2    :  None (NOK)
jedi >=

[2015-06-04 23:26] ccordoba12 commented on #2458
Thanks for posting this error. It means we need to update our installer :-) But it doesn't have anything to do with your problem.

Besides that, I'm using the exact same configuration as you are, but I'm unable to reproduce it.

@picca, could you help to take a look at this problem using the official Ubuntu packages? Thanks :-)

[2015-06-05 06:29] techtonik commented on #2469
@ccordoba12 #2400 is a already a PR for 2.3.

I don't know why you've chosen this strategy, but it is broken. My prediction is that there won't be any stable 3.0 release of Spyder until 2017, and I don't want to teach users master version that breaks weekly.

[2015-06-05 06:34] techtonik commented on #2469
The common strategy is `release often`. There is also optional add-ons `early` and `fast`. But when dealing with long term support of stable stuff, it is better to keep versions as close as possible so that bug fixes from the old ones can be ported upward without much trouble.

[2015-06-05 06:35] techtonik commented on #2469
And release major version like 2.4 that require breaking some things.

[2015-06-05 06:38] techtonik commented on #2469
If you were more experienced in distributed projects, I believe you could port compatible changes to stable branch and prevent "half stable release" vs "nightmare ports" problem.

[2015-06-05 11:26] blink1073 commented on #2469
@techtonik, please remember that we are *volunteers* and that badgering us is not going to solve anything.

[2015-06-05 13:22] anderwm opened #2471 "Matplotlib Gtk backend is broken in Python consoles"
Starting with 10312, the standard console starts with warning :
(process:4958): Gtk-WARNING **: Locale not supported by C library.
	Using the fallback 'C' locale.
Pressing enter gets me the prompt, but none of my keystrokes appear.  Also, there is no option for Ipython console (which was available before 10312).  Am I the only one seeing these kinds of problems?  I am on Ubuntu 15.04

[2015-06-05 14:10] ccordoba12 commented on #2469
@techtonik, my answers:

Right, I didn't notice it, sorry. Given that it's a very small change, we can have it for 2.3.5. Just follow the suggestions I gave to you in the PR :-)

We can't continue adding new features to the maintenance branch. I don't understand what's broken with that strategy :-)

I did add several new features after 2.3.0 because they were almost ready, and I considered that th

[2015-06-05 14:20] ccordoba12 commented on #2471
There's no revision **10311**, I mean that don't correspond to any git hash. Please report the right revision.

Besides, master has moved to support only IPython version 3 or higher. That's probably the reason you're not seeing it.

[2015-06-05 14:45] anderwm commented on #2471
Sorry Carlos, I still use mercurial on my machine and pull with hg-git, I forgot the revision numbers are all changed.
You are right, it is the master branch that presents my issue.  I understand the IPython version restriction, but the internal console still seems like a bug.  Or at least some dependence that has changed from the 2.3 branch.  The console is not usable, as it seems the keystrokes

[2015-06-05 15:37] anderwm commented on #2471
The Locale not supported warning isn't related and begins on Merge pull request #2349 from goanpeca/language: Add support for language selection in preferences
commit 79242c45406bac02ffa0ae41066248903a0a691e

The console problem begins with
Python Console: Fix plotting with the Qt4 backend
Fixes #2231
commit 6bbd031d2b5714923a2322c7fe5aeaae41e3307c

[2015-06-05 16:46] goanpeca commented on #2471
Hmm, ok I will take a look

[2015-06-05 17:02] ccordoba12 commented on #2471
@goanpeca, the problem is `en` is not recognized as a valid locale. I think you need to set as a default `en_US`. See this post for more info:

http://askubuntu.com/questions/359753/gtk-warning-locale-not-supported-by-c-library-when-starting-apps-from-th

[2015-06-05 17:03] ccordoba12 commented on #2471
And according to @anderwm, the problem is in the **Python** console, with the `GtkAgg` mpl backend

[2015-06-05 17:15] anderwm commented on #2471
I now believe it is 2 unrelated issues.  The warning from goanpeca/language goes away before his merge, but the python console problem remains until before commit 6bbd031d2b5714923a2322c7fe5aeaae41e3307c

[2015-06-05 17:22] ccordoba12 commented on #2471
Ok, thanks. I'll take care of the second problem then :-)

[2015-06-05 17:25] goanpeca commented on #2471
I was aware of the warning, but it seem harmeless so I ignored it :smile_cat:, but I can make a fix to get rid of it.

[2015-06-05 17:37] ccordoba12 commented on #2471
@goanpeca, please do :-) This is too visible and so something please will keep complaining about.

[2015-06-05 17:50] dougthor42 opened #2472 "Style Analysis via pep8 appears to no longer work in v2.3.4"
### Summary:
Style analysis via pep8 appears to no longer work in Spyder 2.3.4.

----
### Steps to Reproduce:

1. Open a new blank python file in Spyder 2.3.4.
2. Verify the following settings in Editor -> Code Introspection/Analysis -> Analysis:
  1. Code analysis (pyflakes) is **un**checked
  2. Style analysis (pep8) is **checked**
  3. Radio button "Perform analysis when saving file and every 2

[2015-06-05 18:07] dougthor42 commented on #2472
Oh, I just checked it in Spyder 3.0.0dev, pulled 2015-06-05 18:06 UTC (11:06am PDT). Everything appears to be work fine.

I guess I should have checked that before posting. Sorry!

[2015-06-05 18:17] ccordoba12 commented on #2472
@Nodd, this mean we need to update pep8 on 2.3 too?

[2015-06-06 09:02] goanpeca commented on #2419
I understand it as well :-), no pressure there @Garrett-R

I will put this in my bucket list, this means I will probably take care of it anywhere between a week or a couple of months....

[2015-06-06 09:18] goanpeca commented on #2467
Related to #312

[2015-06-06 14:58] Nodd commented on #2467
I think this is typically the kind of feature that is really nice but we shouldn't focus on it until after the release of 3.0.
That doesn't mean that we don't accept PRs, but maybe the review will have to wait.

[2015-06-06 16:28] holmesb commented on #43
Any roadmap for this?  Ctrl-tab in horizontal order is useless IMO.  MRU would make a massive difference to Editor productivity.

[2015-06-06 17:03] ccordoba12 commented on #43
@blink1073, could you take a look at this one?

[2015-06-06 17:46] Garrett-R commented on #2419
Cool, thanks!

[2015-06-07 01:53] blink1073 commented on #43
Sure, seems feasible to at least provide the MRU capability.

[2015-06-07 22:05] ccordoba12 commented on #2402
This is not an error in Spyder. You just need to use

    plt.draw()

instead of

    plt.show()

as the last line of your example to make the plot appear.

Here is an explanation of the difference between the two:

http://stackoverflow.com/a/23141491/438386

Given that in interactive mode (i.e. introducing each command at a time), you generate an empty figure first (with `hf = plt.figure()`), I t

[2015-06-07 22:05] #2402 closed

[2015-06-07 22:29] #2448 closed

[2015-06-07 22:29] s0r2637 commented on #2402
Thanks!  I will look into this.

Srini

On Sun, Jun 7, 2015 at 6:05 PM, Carlos Cordoba <notifications@github.com>
wrote:

[2015-06-07 22:59] ccordoba12 commented on #2472
I can't reproduce this error on the stable branch. Things are working just fine :-)

[2015-06-07 22:59] #2472 closed

[2015-06-07 23:24] dougthor42 commented on #2472
Interesting... I'll try to see if there's something else going on (if I remember to :-P ). I was checking it with a pretty clean install of WinPython and Spyder, but there may have been something I missed.

[2015-06-08 07:39] techtonik commented on #2469
@blink1073 are you sure that none of us gets paid for working on Spyder? Me, for example, would welcome such opportunity, because it is normal. But I accept your point about lowering my expectations is valid. In the end we all people and even serious professional can't do all things.

[2015-06-08 08:06] ccordoba12 commented on #2469
I don't see this discussion going anywhere @techtonik. You're discussing things just in general terms and without providing concrete examples of what important things we need to backport.

Can we close this issue then?

[2015-06-08 08:17] ccordoba12 commented on #2440
To solve this correctly we need to create new `run` functions (or extend `runfile`) to run only portions of a file. They will only be necessary for the Python console.

IEP has something like this functionality already.

[2015-06-08 08:19] ccordoba12 commented on #2440
I mean, these functions will avoid the need to evaluate a cell line by line, which is the current approach.

This is brittle and prone to fail, as this bug shows.

[2015-06-08 08:29] techtonik commented on #2469
The broken stuff that features should come in a stream of small package. Not one big lump of new features that breaks everything. Take a look for Chromium, for example. It doesn't build new major version with tons of features for several years. Short iteration cycle means that features are tested early and could be fixed in time.

Why didn't you release 2.4.0?

I would bet a cask on beer that it w

[2015-06-08 08:31] techtonik commented on #2469
The new signal/slot switch is a big thing that should come with 2.4 so that people could port their extensions without bothering about Python 3 yet.

[2015-06-08 12:26] Nodd commented on #2469
Python3 is enabled since v2.3, and has nothing to do with new kind of signal/slots (which are still compatible with old style ones).
Also, where are those people and their extensions ? I would gladly use them or help upgrade them.

It's being worked on: #2362
It's not complete but at least functional.

That's not on ubuntu only, and it's an upstream bug.

You're the only one wanting that, isn't it

[2015-06-08 16:53] goanpeca commented on #2460
I have a working version now of the project preferences that is linked to the individual files storing the info. I just used the values from R for the general options (so don't take them too seriously)

![image](https://cloud.githubusercontent.com/assets/3627835/8039909/11c50a54-0e0d-11e5-9402-46ab31659ef1.png)

I would like to hear some input of what should be the configurable options for the pro

[2015-06-08 20:20] Nodd commented on #2460
This is what I meant by a new window, I think it's fine.

About settings, maybe the version control and environments settings can be left for later. Those are new things compared to the current version of spyder. The first step is to adapt the current features to projects. I guess it will be a gigantic PR already !

For options, you can add:
* Python executable
* Working directory

[2015-06-08 22:25] jessimekirk opened #2474 "String generated by file.readline() gives list options when using tab-complete"
## Description

* *What steps will reproduce the problem?*
1. Open new file in Spyder.
2. Write a line to open a text file: my_file = open("path/text.txt", "r")
3. Read first line of file with: first_line = my_file.readline()
4. Search through string methods by: first_line. *hit tab button here*

* *What is the expected output? What do you see instead?*
A drop-down menu should appear including opt

[2015-06-08 23:05] #2363 closed

[2015-06-09 00:21] ccordoba12 commented on #2395
This is an IPython upstream problem, not an Spyder problem. I'll see what I can do about it.

[2015-06-09 00:34] dougthor42 commented on #2460
Will having items inside a project allow for project-wide refactoring a-la PyCharm?

For example: have a project open, press F2 on your method definition and hit Rename. All references to that method within the project are then changed to the new name.

Or is that kind of feature outside the scope of this PR?

[2015-06-09 01:05] dougthor42 opened #2475 "Allow sorting by column of Keyboard Shortcuts."
It would be convenient if we could sort the Keyboard Shortcuts by column.

It would make it a lot easier to see if a given key is already used. For example, I could see all the items that are bound to F12 just by scrolling down to F12.

It was pretty easy to add, only having to change the plugins/shortcut.py module. I'll submit a PR soon, once I figure out how to do it... :-P

[2015-06-09 07:16] goanpeca commented on #2460
Projects will allow for that. But refactoring feature will be another PR

[2015-06-09 13:40] ccordoba12 commented on #2474
@blink1073, could you take a look at this one?

[2015-06-09 13:42] blink1073 commented on #2474
This looks like a case where Rope is wrong but doesn't know it.  I don't know that we can prevent that from happening.

[2015-06-09 15:31] Nodd commented on #2474
Apart from giving priority to jedi, which brings other inconsistencies ?

[2015-06-09 15:33] blink1073 commented on #2474
Right, we just need an AI on top of both, no problem...

[2015-06-09 20:38] tjhendrickson opened #2477 "Spyder and Psychopy"
Hello,

I am trying to get psychopy (a python based stimulus presentation program) working along with spyder. I read that I should add the psychopy path to the pythonpath manager in spyder. This has worked for me previously, however it no longer works. This the error code that I get. Any help would be excellent!
![2015-06-09 15_37_01-spyder python 2 7](https://cloud.githubusercontent.com/assets/74

[2015-06-09 20:59] ccordoba12 commented on #2477
It seems you need to update IPython or pyzmq to make things work again.

[2015-06-09 21:04] tjhendrickson commented on #2477
And how would I do that on a windows machine?

[2015-06-09 21:28] ccordoba12 commented on #2302
I invested a couple of hours trying to preserve panel distribution after closing all files, but I couldn't make it work reliably. So I'm sorry to say we're not going to be implement that feature.

I just implemented the simplest thing, which is opening a new empty file after closing all files. This way the Editor will never be empty again.

Since projects are going to revamped in 3.0, and will let

[2015-06-09 21:29] ccordoba12 commented on #2302
@Garrett-R, please don't forget to mention it in issue #2460.

[2015-06-09 21:56] ccordoba12 commented on #2477
How did you install Spyder and IPython?

[2015-06-09 22:11] #2302 closed

[2015-06-09 22:11] #2356 closed

[2015-06-10 02:29] JimHokanson commented on #1459
I'm using Windows 7. I encountered this problem after installing Anaconda for Python 2.7 after having Python 3.4 installed (via Anaconda). I ended up not needing Python 2.7 so I switched the spyder shortcut back to Python 3.4 and things work fine.

[2015-06-10 13:07] pitrou opened #2478 "Automatic indentation for C files"
Currently Spyder only seems to have automatic identation support for Python source files. It would be nice to have indentation support for other languages, such as C.
(minimal support would be at least to keep the previous line's indentation...)

[2015-06-10 14:32] ccordoba12 commented on #2478
@goanpeca, this one seems for you after you refactor the Editor to make it more extensible.

[2015-06-10 14:34] goanpeca commented on #2478
yep

[2015-06-10 15:42] goanpeca commented on #2478
@ccordoba12, maybe e can start making the 3.1 milestone and add this one to it ?

[2015-06-10 16:08] goanpeca commented on #2475
@dougthor42 do you think that sorting is still needed taking into account that now there will be the ability to search?

![image](https://cloud.githubusercontent.com/assets/3627835/7842178/ce2deffa-04a1-11e5-903e-85229702e279.png)

[2015-06-10 16:24] goanpeca commented on #2474
so, wont'fix then?

[2015-06-10 18:20] Nodd commented on #2474
I guess we could report the bug to rope ?

[2015-06-10 18:42] Nodd commented on #2475
Looking at the screenshot, I'd put the search bar below the table (but over the reset button). Most important things should be first.

[2015-06-10 18:45] goanpeca commented on #2475
:+1:

[2015-06-10 20:43] SylvainCorlay opened #2479 "Action icons are not visible in context menus and menubar when using anaconda python"
This problem appeared with the latest version of Anaconda on Ubuntu. My system's python or older versions of anaconda do not have this issue. It is not related to the recent icon PR.

[2015-06-10 20:45] ccordoba12 commented on #2479
What do you mean by *Action icons*?

[2015-06-10 21:14] ccordoba12 commented on #2478
@goanpeca, I think this should go to 4.0. I plan to use 3.1, 3.2, etc to do bugfix releases, which shouldn't include new features or big refactors, such as this one.

[2015-06-10 21:16] goanpeca commented on #2478
4.0 ? that seems so far away !!

[2015-06-10 21:22] ccordoba12 commented on #2478
I know! ;-) But 3.0 already has a lot of new things, and we need to work hard to stabilize it. I've received a lot of complaints lately about Spyder not being stable enough and still crashing too much.

So if you don't have this planned for 3.0 (which is totally fine for me because it seems to touch too much code :-), we need to leave it for our next major release. In any case, we can merge your w

[2015-06-10 21:24] goanpeca commented on #2478
Ok :+1:

[2015-06-10 21:49] SylvainCorlay commented on #2479
The icons in the items in the main toolbar menus (File, Edit, etc...) created with the `create_action` function

[2015-06-10 23:16] dougthor42 commented on #2475
Having the search will be a big help, but I'm not sure if it will remove the need for sorting.

I'll wait and see if I like it without sorting. If I don't, I'll figure to a way to add it. :-)

Also, :+1: for search bar below table.

[2015-06-11 04:29] Garrett-R commented on #2302
Thanks, @ccordoba12!

[2015-06-11 13:22] tjhendrickson commented on #2477
I installed it through Python(x,y).

[2015-06-11 14:06] kekel commented on #2448
Thank you so much for the fast fix @ccordoba12 !

[2015-06-11 14:33] goanpeca opened #2481 "Align boxes for different lines in preferences dialog"
The following image displays the look of the preferences dialog (master). The idea is to use a QGridLayout to align for example, the first three options that include comboboxes.

![image](https://cloud.githubusercontent.com/assets/3627835/8109515/70e78326-1057-11e5-811f-952093682e23.png)

[2015-06-11 14:36] ccordoba12 commented on #2448
No problem ;-) Freezes and crashes are very serious issues for us!

[2015-06-11 14:39] SylvainCorlay commented on #2481
:+1:

[2015-06-11 15:25] Nodd commented on #2481
`QFormLayout` is more appropriate, but the difference is subtle: on some platforms the labels are left aligned and on others the label are right aligned, and `QFormLayout` takes care of it.
I know 2 problems with this layout: it is limited to 2 columns, and keeps the margins for hidden widgets, which creates lines of unequal heights. But neither should be a problem here.

[2015-06-11 15:26] anoronha opened #2482 "spyder crashing"

[2015-06-11 16:31] blink1073 commented on #2474
Or maybe we should defer to jedi on completions and rope for docs?

—
Sent from Mailbox

On Wed, Jun 10, 2015 at 1:20 PM, Joseph Martinot-Lagarde
<notifications@github.com> wrote:

[2015-06-11 17:23] #2482 closed

[2015-06-11 19:25] ccordoba12 commented on #2299
This will be fixed in Spyder 2.3.5 (to be released in one week :-). Thanks for your patience.

[2015-06-11 21:22] #2298 closed

[2015-06-11 21:22] #2299 closed

[2015-06-11 21:22] #2314 closed

[2015-06-11 22:16] pburns001 opened #2483 "Configure memory usage"
## Description can't determine how to configure memory spyder can use

* *What steps will reproduce the problem?*
1.
2.
3.

* *What is the expected output? What do you see instead?*

* *Please provide any additional information below*

## Version and main components

* Spyder Version:  2.3.4
* Python Version:  2.7.9
* Qt Version    :  4.8.6, PyQt4 (API v2) 4.10.4 on Windows

## Optional dependenci

[2015-06-11 22:20] ccordoba12 commented on #2481
+1 from me too.

[2015-06-12 10:06] goanpeca commented on #2481
@Nodd thanks for pointing me to that layout, but I think that it would look weird to have some things alignes to the left and some others to the right. Since many of these options involve several widgets to the right, I will stick to the GridLayout.

Should be a fast fix, it really bugs me how it looks... it looks ugly!!!

[2015-06-12 12:35] goanpeca commented on #2478
How much time before alpha or beta is released @ccordoba12     ?

I will try next week to rearrange the editor, if nothing seems to be broken we can try to squueze it in 3.0 so that work in supporting C, Md and rst can be placed in 3.1 and 3.2 ?

I know we need stability but this is a crucial set of features needed and 4.0 seems like a year away or more already :-(

[2015-06-12 14:18] Nodd commented on #2478
I know you like developing new features and use them, But i agree with @ccordoba12 that we should wait a bit for this one.
There is still lots of things to do for 3.0, we don't need another big thing. Also spyder is a python editor, not a C editor, so while it will be very nice to better support more languages, i don't see it as a high priority (for example I use geany to edit the C files I use wi

[2015-06-12 14:28] pitrou commented on #2478
Well, using a separate editor per programming language is not extremely practical ;) As I said the language doesn't need to be very integrated, but basic (sane) auto-indent would still be better than no identation at all.
(as a data point, I'm not a Spyder user, since editing C - and possible other languages - is one of the required features for me)

[2015-06-12 15:44] goanpeca commented on #2478
@Nodd  what I meant was: I want to refactor the code as to have a base implementation so that the language specific things can be implemented in 3.1 3.2 etc. (as it would not require a major code change) I know that there is a risk that bugs are introduced by doing the refactor, but since apparently we want to adhere to the major minor convention (major features, bug fixes) waiting for 4.0 seems t

[2015-06-12 21:40] #2228 closed

[2015-06-13 07:59] goanpeca commented on #2471
@ccordoba12 for the language fix there are two ways...

1.) Either rename the locale folders to valid names... (and from now on make sure translations are places in a correctly named directory) or

2.) to make a mapping inside baseconfig so that when en is loaded it turns to en_US.

The first one would make it more future proof so I would prefer that one... but the gettext script would have to be

[2015-06-13 12:36] narunask opened #2485 "Connecting to kernel + kernel died unexpectedly because of zeromq 4.0.6"
I was successfully running **Spyder** on *Archlinux*:

    $ uname -mrs
    Linux 4.0.5-1-ARCH x86_64
    $ python2 --version
    Python 2.7.10
    $ ipython2 --version
    3.1.0

But recently all of a sudden I'm getting following message:

    It seems the kernel died unexpectedly. Use 'Restart kernel' to continue using this console.

I removed system package and installed from source, but that m

[2015-06-13 14:04] ccordoba12 commented on #2485
Are you trying to run Spyder using PyQt5?

[2015-06-13 14:06] ccordoba12 commented on #2485
My only advice (for now) is to switch back to our stable branch and see if things are working correctly there.

[2015-06-13 14:10] ccordoba12 commented on #2477
Then please report this problem with them. I think for Python(x,y) you need to uninstall your current version and install its latest one.

Sorry for not being of more help, but this is clearly an installation problem instead of a Spyder one.

[2015-06-13 14:10] #2477 closed

[2015-06-13 14:32] narunask commented on #2485
Yes, I was trying to run it with PyQt5.

Anyways, I just removed *dev* version and reinstalled *Archlinux* package. Currently I have:

    Spyder 2.3.4
    Python 2.7.10 64bits, Qt 4.8.7, PyQt4 (API v2) 4.11.4 on Linux.

Problem persists, *ipython* `kernel dies unexpectedly` after ~5 sec.. And I have *python2* burning at 100%.

Please advice how to debug.

[2015-06-13 14:43] ccordoba12 commented on #2485
Maybe it's a problem with a very recent version of `pyzmq` or `zeromq`, given that you seem to be living in the bleeding edge.

Please install a previous version, like `zeromq` **4.0.4** or less than that. There were some reports about problems with **4.0.6** that could be affecting Spyder. And **4.0.6** seems to be the current `zeromq` Arch version, at least according to this page

https://www.ar

[2015-06-13 14:51] narunask commented on #2485
# pacman -Qi python2-pyzmq | sed 's/^/    /'
    Name           : python2-pyzmq
    Version        : 14.6.0-1
    Description    : Python2 bindings for zeromq, written in Cython
    Architecture   : x86_64
    URL            : http://www.zeromq.org/bindings:python
    Licences       : LGPL
    Groups         : None
    Provides       : None
    Depends On     : zeromq  python2
    Optional Deps  :

[2015-06-13 14:56] ccordoba12 commented on #2485
Yeah, sorry about the confusion. `pyzmq` and `zeromq` are two different packages. The one you need to downgrade is `zeromq`, not `pyzmq` (I say it because you're showing me your `pyzmq` info).

And yes, by checking our `2.3` git branch, you're using our stable version. But as I said, I doubt this is a Spyder problem, but a problem with `zeromq`.

[2015-06-13 15:44] narunask commented on #2485
Indeed, downgrading `zeromq` to version ***4.0.5-1*** has solved my problem.

Thank you for your time :)

[2015-06-13 15:52] ccordoba12 commented on #2485
Ok, really good to know! Please leave this issue open in case someone else report this problem.

[2015-06-13 16:05] ccordoba12 commented on #2483
This doesn't have any relevant info. Closing.

[2015-06-13 16:05] #2483 closed

[2015-06-13 17:54] ztq56 commented on #2485
confirm, and some additional information: (spyder 2.3.4 python 2.7.10, Qt 4.8.6, PyQt4 4.11.3)
and IPython 3.1.0, zeromq 4.0.6-1(arch linux x86_64)
it prints the message repeatly

every 1-2s.
but it seems having no affect to run command in ipython console (I mean, everything but the annoying message), the ipython REPL in spyder can run functionally (by using shift+enter in editor and then run in R

[2015-06-13 18:27] minrk commented on #2485
This is a bug in zeromq-4.0.6 and 4.1.1. It's been fixed in the maintenance branches of zeromq, which will have releases with the fix as 4.0.7 and 4.1.2, respectively. Prompted by this, the recommended implementation of heartbeat on the kernel is changed, and some kernels have been updated to use an implementation not vulnerable to the bug (IPython, IJulia, IPerl, at least).

I don't think there's

[2015-06-13 19:40] ccordoba12 commented on #2485
Thanks @minrk. I read your post on the IPython mailing list, and that's why I knew about this problem with zeromq.

[2015-06-13 19:47] ccordoba12 commented on #1615
Ok, I tested things with the lastest Canopy, and everything seems to be working correctly now.

[2015-06-13 19:47] #1615 closed

[2015-06-13 20:39] #2468 closed

[2015-06-13 21:14] bilderbuchi commented on #2460
regarding the line ending setting - this could be a bit complex, as this typically depends on the platform you use spyder on (so could change continually if several people share a project, or you share one betwen machines). also, line endings are ideally handled by your VCS in a sane way (e.g. only commit LF endings into a repo, but be transparent to the user, the way git offers with .gitattribute

[2015-06-13 22:26] #2285 closed

[2015-06-14 17:16] Hananel-Hazan commented on #679
I have the same issue (Running windows 8.1 and Spyder 2.3.4).

Adding  os.environ['LANG'] = 'en'  to spyder.py didnt change any thing

Is there any solution?

[2015-06-15 18:40] #1844 closed

[2015-06-15 18:41] ccordoba12 commented on #1844
The fix for this problem is going to be released in Spyder **2.3.5**

[2015-06-15 19:16] cle1109 commented on #1844
Great! Looking forward to this release!

[2015-06-15 19:24] ccordoba12 commented on #679
@goanpeca, would you mind to take a look at this one? Maybe we can do something about it for 3.0

[2015-06-15 21:03] goanpeca commented on #2481
@spyder-ide/core-developers

So, I thought it was simpler, cause the helpers for comboboxes already create inside the label, so I added a couple of arguments, to pass along the related labels and any intermediate additional space. I could also, potentially pass the options in comboboxes of related comboboxes so that the width of the actual combobox is also uniform (to the maximum content). So far

[2015-06-15 21:05] goanpeca commented on #2481
Or we could just stretch the comboboxes, so all comboboxes reach the same place.

[code]

[2015-06-16 07:42] goanpeca commented on #2481
I can also make it look something like this....

![image](https://cloud.githubusercontent.com/assets/3627835/8178140/f7fd881c-140b-11e5-92b6-9826debc689c.png)

@Nodd, @SylvainCorlay?

[2015-06-16 10:18] Nodd opened #2487 "{{{ }}} as cell delimiters"
Enhancement idea: add `# {{{` and `# }}}` as cell delimiters.
These markers are sometimes used in a language agnostic way to mark blocks of code. I encountered it in pyopencl for example.

[2015-06-16 10:23] goanpeca commented on #2487
@SylvainCorlay ?

[2015-06-16 12:05] ccordoba12 commented on #2487
I don't have a problem with this, but right now separators need to be associated to a specific file type.

Look how this is implemented in the `CELL_LANGUAGES` variable of `utils/sourcecode.py`.

[2015-06-16 12:11] goanpeca commented on #2487
This will most likely change with the source code refactoring, as each new language will define some class variables (I assume) like.

[code]

[2015-06-16 12:19] Nodd commented on #2481
2nd one looks better !

[2015-06-16 12:25] Nodd commented on #2487
you wouldn't need `CELLS_ENABLED`, an empty `CELLS_DELIMITERS` should be fine.

[2015-06-16 12:40] goanpeca commented on #2487
Sure, something like that :-)  (early brainstorming)

[2015-06-16 13:05] SylvainCorlay commented on #2481
+1 for the second screenshot.

[2015-06-16 15:51] cherlihy commented on #2228
Great; thanks !

[2015-06-16 15:55] ccordoba12 commented on #2228
No problem. Just to clarify, now `Ctrl+Enter` works to run cells, but also `Cmd+Enter` does it. I couldn't remove it, hope it's fine for you ;-)

[2015-06-16 17:44] goanpeca opened #2490 "Improve Spyder 3 theme"
We can start listing any improvements that need to be done to the current Spyder 3 theme using QtAwesome icons.

Here my concerns.

The following icons should be filled icons and not contour ones. Most of the interface uses filled icons and we should strive for coherence and unity (besides it looks better)
- New File
- Save
- Save as

Other comments
- Maximize/Unmaximize icon: This icons are not v

[2015-06-16 18:34] ccordoba12 commented on #2490
My main concerns (for now) are:

1. *Run cell* and *Run cell and advance*. I gave @SylvainCorlay some suggestions on how to make them simpler.
2. IPython console: I really think we should start using the Jupyter icon instead of the current one.
3. Python Console: The *Spyder 3* icon is misleading because it's using the one commonly associated to operating system terminals. I think we should contin

[2015-06-16 19:54] SylvainCorlay commented on #2490
- Regarding the run-cell icons, I am totally +1, as well as the font bearing adjustments for the alignment issues.

- Regarding the filled versions of the font-awesome icons, I am not sure it is my place to provide them. Please vote up on the font-awesome issues. https://github.com/FortAwesome/Font-Awesome/issues/1405

- For the file explorer, tab-minimize/maximize icons, these are native icons, a

[2015-06-16 20:14] SylvainCorlay commented on #2487
@Nodd , would you want this to match like parentheses, for nested cells?
[code]

[2015-06-17 14:03] muellerth opened #2491 "Spyder crashes when displaying DataFrames with duplicate column names in the Variable Explorer"
Hi,
I have the problem that Spyder crashes when I try do display a Pandas DataFrame in the Spyder variable explorer. The problem only occurs, if there are duplicate columns in the DataFrame. Example:

![2015-06-17 15_50_05-spyder python 2 7](https://cloud.githubusercontent.com/assets/12936726/8208575/9a5a8f86-1508-11e5-962c-fec6a2f8ccfe.png)

Now, double clicking on the variable "new_df" in the va

[2015-06-17 21:11] ccordoba12 opened #2493 "Windows Python 3 installers are not creating Start Menu entries nor desktop shortcut"
After almost two days of long debugging hours, I just found that this is caused by these Python bugs:

* http://bugs.python.org/issue22103
* http://bugs.python.org/issue21354

So we'll have to wait until a new Python 3 version is released.

Pinging @humitos, who reported this problem to me through Twitter.

[2015-06-17 21:14] ccordoba12 commented on #2493
I'll try to include the patch present in the second bug in Anaconda, so I can fix these installers for our next release.

[2015-06-18 00:08] BeAntares commented on #2485
I have the same problem, I use Linux Manjaro, and upgraded zeromq to version 4.0.6-1. I don't know how to downgrade to version 4.0.5-1. Can anyone help me?

Thanks in advance.

[2015-06-18 03:18] minrk commented on #2485
zeromq-4.0.7 is out and fixes this problem. Hopefully it will come through soon.

[2015-06-18 20:07] narunask commented on #2485
In *Archlinux* we already have `zeromq 4.1.2-1` which puts things back to normal. Manjaro apparently is based on *Archlinux*? If so, you should upgrade your system, chances are you will get this package too.

[2015-06-19 18:49] ilevkivskyi opened #2494 "Crash on opening bracket"
What steps will reproduce the problem?

1. Edit a script in editor
2. Press open bracket '(' and close bracket ')' keys quickly at a position right after another opening bracket
3. First Spyder freezes for few seconds and then crashes silently, without any error message. This however happens not every time, sometimes it just freezes for 3-4 seconds.

What version of the product are you using? On w

[2015-06-20 00:14] mikofski commented on #1900
this is apparently an issue for me as well.

python 2.7.9
spyder 2.3.4

[2015-06-20 00:36] ccordoba12 commented on #1900
@mikofski, what's your IPython version?

[2015-06-20 02:02] joshburnett opened #2495 "Can't use apostrophe in a keyboard shortcut"
## Description

*Steps to reproduce the problem:*

1. Open up preferences
2. Go to the Keyboard Shortcuts section
3. Set 'Editor: Toggle comment' to Cmd + Apostrophe
4. Click OK
5. Go to the editor, press Cmd+Apostrophe

The line with the cursor should toggle between commented and un-commented status.  Instead, nothing happens.

With the default keyboard shortcut of Cmd+1, the desired behavior occ

[2015-06-20 02:10] joshburnett commented on #2364
Looks like issue #478 needs to be fixed first.

[2015-06-20 02:11] joshburnett commented on #2495
Looks like issue #478 needs to be fixed first.

[2015-06-20 11:17] skidzo opened #2496 "Spyder crashes trying to edit a DataFrame (needs reproducible example)"
## Description

* *What steps will reproduce the problem?*
1. click on values of DataFrame object in Variable explorer
2. loading slow like hell
3. when i click ok to get rid of this spyder crashes, see below...

* *What is the expected output? What do you see instead?*

Expecting to see the relatively small sized array, with its values, rows/indexes and columns/header

* *Please provide any addit

[2015-06-20 11:21] blink1073 commented on #2494
@ilevkivskyi, this appears to be working in the latest development version of Spyder.  You can either install from [source](https://pythonhosted.org/spyder/installation.html#installing-or-running-directly-from-source) or wait for the impending 2.3.5 release.

[2015-06-20 11:22] ilevkivskyi commented on #2494
OK, thank you for good news.

[2015-06-20 11:22] #2494 closed

[2015-06-20 19:38] #2028 closed

[2015-06-20 19:59] ccordoba12 commented on #2496
A couple of comments:

1. Please give us a reproducible example, i.e. a code snippet that we can test in our side to debug your problem.
2. Did you append your `~/.xsession-errors` file? That's not helpful either because, as you can see, there are Firefox errors and warnings in your report that don't help us to fix your problem :-)

[2015-06-20 22:57] mikofski commented on #1900
ipython 3.1.0

## background
I have a python extension that runs the MATLAB Common Runtime in a child process using multiprocessing. This is convenient because it lets me run the MCR multiple times, whereas from the main process I can only run the MCR once - because the MCR must be initialized and can only be initialized and terminated once per process. Leaving it running for a long time is risky

[2015-06-21 15:50] #2188 closed

[2015-06-21 20:48] BeAntares commented on #2485
Yes, Manjaro is based on Archlinux, although the new version of zeromq is not available yet. I guess I'll have to wait. Thanks for answering.

[2015-06-22 04:02] #2481 closed

[2015-06-22 20:52] elvierde opened #2497 "No such file or directory: '/usr/local/lib/python2.7/site-packages/spyderlib/mac_stylesheet.qss'"
After successfully upgrading to spyder-2.3.5 using pip, spyder will not start and complain about the missing file.
Tried with the --reset option: no change.
Current solution: copy the `mac_stylesheet.qss` file from the git repository into the `/usr/local/lib/python2.7/site-packages/spyderlib/ directory`. After copying the file, spyder is fully functional.

OS X Yosemite 10.10.3
python 2.7.10

[2015-06-23 02:06] ccordoba12 commented on #2497
Thanks for reporting. I'll make a new release to fix ASAP.

[2015-06-23 04:04] #2497 closed

[2015-06-23 04:05] Owojori opened #2498 "NotImplementedError: Writing as Excel with a MultiIndex is not yet implemented."
## Description
I get the following error: when I run the example in the

 raise NotImplementedError("Writing as Excel with a MultiIndex is "
NotImplementedError: Writing as Excel with a MultiIndex is

* *What steps will reproduce the problem?*
1.temp_df = table.xs(manager, level=0)

2.temp_df.to_excel(writer,manager)
3.

* *What is the expected output? What do you see instead?*
I expect to see it

[2015-06-23 04:12] ccordoba12 commented on #2498
This is not a Spyder error, it seems to be a Pandas one. Please open a new issue here

https://github.com/pydata/pandas/issues

[2015-06-23 04:12] #2498 closed

[2015-06-23 09:47] hugobuddel commented on #670
Could the dots to highlight the spaces perhaps have a lighter color?

Currently it seems to have the 'Normal text' color, which is a bit to dark and makes the code hard to read. The attached gedit screenshot and the eclipse one from duplicate #1478 are easier to read.

[2015-06-23 09:54] Nodd commented on #670
This has been reported in #2175. It should be doable with the syntax highlighter.

[2015-06-23 09:55] Nodd commented on #2175
FYI, I think it's possible to enable vim shortcuts without  having two editors, see https://github.com/Nodd/spyderplugins.vim

[2015-06-23 12:17] jalumley opened #2499 "Run command does not execute current script when using unittest"
Consider the two below files using unittest:
## test1.py

[code]
## test2.py

[code]

If I load both files into Spyder then make test1.py the active window, I can execute the test via the 'run' button or f5. This will give the following output:

runfile('C:/Users/YE91224/Desktop/test2.py', wdir='C:/Users/YE91224/Desktop')
.test = test1.py

---

Ran 1 test in 0.000s

OK

In [11]:

If I then switch

[2015-06-23 12:26] ccordoba12 commented on #670
@hugobuddel, that doesn't depend on us, sorry :-(

[2015-06-23 12:57] ForeverTangent opened #2500 "matplotlib gives import error after update."
## Description

* *What steps will reproduce the problem?*
1.  Update Anaconda
2.  Load Python/Spyder script using mathplotlib
3.  Run Script

* *What is the expected output? What do you see instead?*
Expected:
Mathplotlib to load and run without issue.

Actual:
Get the following:

  File "//anaconda/lib/python3.4/site-packages/matplotlib/mathtext.py", line 63, in <module>
    import matplotlib._p

[2015-06-23 13:14] hugobuddel commented on #2175
A brighter color or different glyph for the spaces would indeed be nice. Apparently more Spyder users are interested: https://bugreports.qt.io/browse/QTBUG-46072

There are several different syntax coloring groups already. Would it be possible to add a 'space' syntax group and assign a specific color to that?

With respect to the last suggestion, I like to see all my spaces, especially the trailin

[2015-06-23 13:21] ccordoba12 commented on #2175
The problem is we don't have access to the dots that represent blank spaces to give them a different color. They are not real dots, they are just added by Qt and have the same color than regular text.

[2015-06-23 13:57] Nodd commented on #2175
But we should be able to change the color of the regular text for the spaces (or tabs), right ? (Even if we can't change the dots themselves).

[2015-06-23 13:59] Nodd commented on #2500
You have to update libpng and/or matplotlib in anaconda.
(Btw this is not a spyder problem at all).

[2015-06-23 14:06] goanpeca commented on #2500
Then we should close it @Nodd (dont be shy ;-) )

[2015-06-23 14:07] Nodd commented on #2500
Yeah, but I always find that "not my problem, closing" is a bit harsh to newcomers. I'm too kind for my own good !

[2015-06-23 14:11] goanpeca commented on #2500
Hahaha, fine!

[2015-06-23 14:11] hugobuddel commented on #2175
Yes it is possible:
![syntaxhighlighter](https://cloud.githubusercontent.com/assets/1306453/8307858/521392fa-19c1-11e5-9501-a0d0c52547e1.png)

I've taken [some syntax highlighter example code](https://github.com/PySide/Examples/blob/master/examples/richtext/syntaxhighlighter.py) and modified it such that it shows and highlights spaces by adding a rule for a single space.

In `MainWindow.setupEdito

[2015-06-23 14:29] Nodd commented on #2500
I reported it to anaconda, now I can close it. @ForeverTangent if you still have any problem with this please use the link above.

[2015-06-23 14:29] #2500 closed

[2015-06-23 15:15] hugobuddel commented on #2175
A first attempt that works well enough for me: https://github.com/hugobuddel/spyder/commit/8704814eb4055c7c7fa268ac52e2235642ffb3e1

It simply assigns the `comment` color to the new `space` pattern. The default comment color is a bit lighter than main text, which was my immediate goal. The spaces within colored texts, e.g. within a string, retain the surrounding color. The space pattern has to be

[2015-06-23 15:57] ccordoba12 commented on #2175
@hugobuddel, it's really great that you've found a way to do this!! Kudos to you! :-)

But please, please make a pull request so we can better discuss not only your code but the colors assigned to spaces.

[2015-06-23 19:43] hugobuddel commented on #2175
Done @ccordoba12 !
Pull request made, with different code. I'll add some screenshots to the pull request.

[2015-06-23 23:11] durack1 opened #2502 "Update Roadmap page"
It seems that https://github.com/spyder-ide/spyder/wiki/Roadmap appears to be a little behind - I wonder if this requires a spring clean to update things relevant to the current release 2.3.5.2?

[2015-06-24 03:33] bikong2 commented on #2441
我解决了这个问题，方法如下：

解决步骤：
①在防火墙，杀毒软件当中添加程序白名单；
②更改：
D:\Program Files (x86)\Anaconda\Lib\site-packages\spyderlib\widgets\externalshell\introspection.py
文件中的62行为：
for loopCount in range(600, 0, -1):
            try:
                sock.bind( ("localhost", self.port) )
                break
            except OSError:
                if DEBUG:
                    logging.debug('Notification server: Bind

[2015-06-24 06:54] Nodd commented on #2502
I updated the page so that at least the status is correct. I don't know if there are any highlight to add to 2.3.4 and 2.3.5, those are mostly for bug fixes.

[2015-06-24 15:38] durack1 commented on #2502
@Nodd great, thanks for this!

[2015-06-24 22:34] jingpengwu commented on #2387
I have the same issue. Due to this issue, I can not launch spyder. But I can use ipython in terminal!

[2015-06-25 09:37] guyverthree commented on #2375
Hey Guys, I'm wrapping spyder up into a wheel for my own purposes (basically I'm looking to create wheels of many packages and use them for really fast installation in requirements.txt) so far this has just been a change in the setup.py to use setup tools since Wheel just packages this into a image for installation later as far as i am aware, once installed is there a set of unit tests that I can

[2015-06-25 18:26] mikofski commented on #2375
@guyverthree you can use [wheel's `convert` command](https://wheel.readthedocs.org/en/latest/index.html#usage) to convert a bdist_wininst to a wheel:

    me@computer ~/Downloads $ wheel convert spyder-2.3.5.2.win-amd64-py3.4.exe

See [my post on NumPy wheels](http://poquitopicante.blogspot.com/2014/10/numpy-in-virtualenv-on-windows-x64-with.html).

[2015-06-26 15:27] Temmplar opened #2503 "decoding Unicode is not supported'"
return self.dispatch_line(frame)
  File "/home/george/anaconda/lib/python2.7/bdb.py", line 67, in dispatch_line
    self.user_line(frame)
  File "/home/george/anaconda/lib/python2.7/pdb.py", line 158, in user_line
    self.interaction(frame, None)
  File "/home/george/anaconda/lib/python2.7/site-packages/spyderlib/widgets/externalshell/sitecustomize.py", line 492, in interaction
    self.notify_sp

[2015-06-26 21:05] dougthor42 commented on #670
For a little more info, see the details of #2437. Basically, the dot characters are set by Qt. You can help out by commenting on or voting for https://bugreports.qt.io/browse/QTBUG-46072

[2015-06-28 02:39] choupachupss opened #2505 "mac 10.8.5 crash when start spyder"
Hi,

With dmg 2.3.5.2 for py2.7
Try
- launch with spyder.app
- ```spyder --reset``` and remove folder ```.spyder2```

I have a crash.

With terminal way, i have that return :
```Illegal instruction: 4```

Sound like a compilation problem.

Best regards.

[2015-06-28 13:35] stevenokimbrough opened #2506 "disappearance of pylab"
## Description

**What steps will reproduce the problem?**

1. import matplotlib.pylab
2.
3.

**What is the expected output? What do you see instead?**
I expect the import will work and make the module available. In Spyder I get:
import matplotlib.pylab
Traceback (most recent call last):

  File "<ipython-input-2-1d30b9aee20b>", line 1, in <module>
    import matplotlib.pylab

  File "/Application

[2015-06-28 14:50] ccordoba12 commented on #2505
Sorry, but we stopped supporting versions less than Mac 10.9 in our app. That's the cause of your problem.

All Python scientific packages (or wheels) are compiled in Mavericks, and that makes our job of creating the app far more easier than what it was before. So we had to move on to only support Mavericks or Yosemite.

I added a note about it in our installations docs:

http://pythonhosted.org/s

[2015-06-28 14:50] #2505 closed

[2015-06-28 14:52] ccordoba12 commented on #2506
This is not a Spyder problem. To fix it you need to run

    conda update qt
    conda update matplotlib

[2015-06-28 14:52] #2506 closed

[2015-06-28 15:07] choupachupss commented on #2505
ok.

I need compile your app with 10.8.5 with 2.5.2 for have the fix of this issue [#2157](https://github.com/spyder-ide/spyder/issues/2157).

This issue was not fix in 2.3.4.

How can i do that ?

[2015-06-28 15:12] stevenokimbrough commented on #2506
Thanks! It worked.

Do I need to run conda update routinely?

On Sun, Jun 28, 2015 at 10:52 AM, Carlos Cordoba <notifications@github.com>
wrote:

--
Steven O. Kimbrough, Professor
University of Pennsylvania
The Wharton School
565 Jon M. Huntsman Hall
3730 Walnut Street
Philadelphia, PA  19104-6340 USA
Tel: 215-898-5133
Fax: 215-898-3664
Home page at Wharton:
  Official page: https://opimweb.wharto

[2015-06-28 17:41] ccordoba12 commented on #2485
This is issue was already fixed upstream, so I'm closing it.

[2015-06-28 17:41] #2485 closed

[2015-06-28 17:42] ccordoba12 commented on #2157
I think this is closely related to issue #1880 (on Windows platforms)

[2015-06-28 17:49] ccordoba12 commented on #2505
I really don't understand what's causing issue #2157 on Mac, so it's probably not solved on 2.3.5.2 (if it continues to appear).

The instructions to create the app are here: https://github.com/spyder-ide/mac-application, but they are tailored to work on Mac 10.9 or higher.

I'm sorry to say that If you want to create the app in Mac 10.8, you're on your own. I don't have time to help you with that

[2015-06-28 17:52] ccordoba12 commented on #2506
Well, conda update doesn't update all packages. The problem you reported
was generated because Continuum updated a core library (libpng) that
affected several other important ones (like qt). But it's quite uncommon
for these problems to appear on Anaconda.

El 28/06/15 a las 10:12, stevenokimbrough escribió:

[2015-06-28 17:55] stevenokimbrough commented on #2506
Again, thanks so much. Very helpful.

On Sun, Jun 28, 2015 at 1:52 PM, Carlos Cordoba <notifications@github.com>
wrote:

--
Steven O. Kimbrough, Professor
University of Pennsylvania
The Wharton School
565 Jon M. Huntsman Hall
3730 Walnut Street
Philadelphia, PA  19104-6340 USA
Tel: 215-898-5133
Fax: 215-898-3664
Home page at Wharton:
  Official page: https://opimweb.wharton.upenn.edu/profile/36/

[2015-06-28 20:45] j9ac9k opened #2507 "Spyder Crashes on Windows During Remote Kernel Connection"
This issue occurs for me on both spyder 2.3.4 and 2.3.5.2.  I am running Windows 8.1 (x64), with Python 3.4.3 installed.

SSH keys are configured such that no password is needed to connect to server

From Git-Bash
[code]
I can confirm a connection with Paramiko (note I had to apply some commits from a fork due to a known_hosts issue here: https://github.com/paramiko/paramiko/pull/473

[code]

Gene

[2015-06-28 21:29] ccordoba12 commented on #2507
@SylvainCorlay, could you help me with this one?

[2015-06-28 21:30] ccordoba12 commented on #2503
What's your Spyder version?

[2015-06-28 21:31] ccordoba12 commented on #2503
I think this was fixed in **2.3.5.2**. Could you update and confirm?

[2015-06-28 22:47] choupachupss commented on #2505
It's mysterious, yes.

Just :
hombrew install
python2.7.9
ipython3 with all dependency
all spyder depency

Download
Spyder dmg app

And just link ipython, python and python site packages
for replace python and ipython in spyder
create that issue.

So even i upgrade my mac to 10.9 and try spyder 2.5.2, i will have the same issue ?
So even i succes create mac app to 10.8.5 and try spyder 2.5.2, i wi

[2015-06-30 13:34] bilderbuchi commented on #2359
FYI, pep8 offers an API interface, so pep8 checking could also be done via an API, like it is done for pyflakes [currently](https://github.com/spyder-ide/spyder/blob/df0b2ec50e3981c7157592eaec2b866f1c9c6b86/spyderlib/utils/codeanalysis.py#L134-L136). The API can also [check for config](https://pep8.readthedocs.org/en/latest/api.html#pep8.read_config), including local configuration files.

[2015-06-30 17:40] stonebig commented on #2507
maybe should you try to update pyzmq to latest version (or update to latest winpython).
I suspect the newest version of pyzmq solves some bugs

[2015-06-30 17:45] j9ac9k commented on #2507
Will try this when I get home, however I'm pretty sure I have the latest version of pyzmq that is available through conda:

At my work PC
[code]

According to their [changelog](https://pyzmq.readthedocs.org/en/latest/changelog.html), that is the latest version

[2015-06-30 17:57] stonebig commented on #2507
in the mean time, I read your server is on the linux side, and pyzmq is rather on the server side, so my suggestion was not pertinent. sorry.

[2015-06-30 18:02] j9ac9k commented on #2507
I am able to ssh into my server from work
[code]

Thanks for chiming in, I'm far from an expert here (trying to get remote development working for when I start school this Fall).

[2015-06-30 18:07] stonebig commented on #2507
Could it be that you  have to tune your ssh client to let the ipython protocol get through ?

[2015-06-30 18:13] j9ac9k commented on #2507
I don't see how, you just specify a port to connect over ssh (22 in my case) ...the remainder ports are specified by the json file, and I have no firewall acting between the server and the client (it's all on a LAN and even if it wasn't, my router does allow for a range of ports that ipython may use through).

I should point out, I've never been able to get ipython to automatically setup the ssh p

[2015-06-30 18:16] stonebig commented on #2507
Spyder gracefully falling on bugs ?

[2015-06-30 21:43] ccordoba12 commented on #2359
@bilderbuchi, would you like to submit a PR about it?

[2015-07-01 06:17] bilderbuchi commented on #2359
I'm not yet familiar enough with the codebase, and currently don't have the free time to do it, unfortunately. :-( I just wanted to record what I found in case it's useful for whoever picks this up in the future.

[2015-07-01 10:18] shendric opened #2509 ""Go to definition" not working"
Using "go to definition" in right-click menu does not jump to the selected code though it is resolved. It neither works for a class/function in the same or an external file.

This issue occurs for me in version 2.5.3.2, previous installation 2.3.4 does not have this problem.

My system:
Windows 7 64bit
Python 2.7 64bit (WinPython 2.7.9.1)
Python 2.5.3.2 manually installed with Windows executable.

[2015-07-01 14:24] blink1073 commented on #2509
Hi @shendric, would you mind selecting `Help -> Optional dependencies...`, then click `Copy to clipboard` and post here?

[2015-07-01 14:38] shendric commented on #2509
IPython >=1.0   :  2.3.1 (OK)
jedi >=0.8.1    :  None (NOK)
matplotlib >=1.0:  1.4.2 (OK)
pandas >=0.13.1 :  0.16.1 (OK)
pep8 >=0.6      :  1.5.7 (OK)
pyflakes >=0.5.0:  0.8.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pylint >=0.25   :  1.4.0 (OK)
rope >=0.9.2    :  0.9.4-1 (OK)
sphinx >=0.6.6  :  1.2.3 (OK)
sympy >=0.7.3   :  0.7.6 (OK)
zmq >=2.1.11    :  14.4.1 (OK)

[2015-07-01 14:40] blink1073 commented on #2509
Hmm, I can't reproduce, but I'm OSX.

[2015-07-01 14:52] shendric commented on #2509
For me it was also an issue in 2.3.3, but 2.3.4 fixed it.

[2015-07-01 15:02] shendric commented on #2509
I also installed jedi 0.9 (which was missing) but no change for the "go to definition".

[2015-07-02 03:12] ccordoba12 commented on #2509
@shendric, so what you're saying is that this is a regression in **2.3.5.2** against **2.3.4**?

[2015-07-02 05:20] scls19fr opened #2510 "Pandas Panel(s) are not supported in the Variable Explorer"
Hello,

try in IPython inside Spyder

[code]

This panel doesn't appears in variables explorer.

[code]

`df_adj_close` appears in variables explorer.

Kind regards

[2015-07-02 07:54] mickeydonkey commented on #2465
@ccordoba12 I tried the master branch, but images are still missing.
![image](https://cloud.githubusercontent.com/assets/12562760/8472275/648936c0-20d2-11e5-973c-d4028d3e56c5.png)

[2015-07-02 13:53] shendric commented on #2509
@ccordoba12, yes it is a regression

[2015-07-02 18:07] SylvainCorlay commented on #2490
Ok, I addressed the alignment issues and the run-cells.

[2015-07-02 20:08] ccordoba12 commented on #2510
We don't have support for panels, just DataFrames and Series.

@dhoegh, how hard would it be to add support for them? Could you help us with that?

[2015-07-02 20:20] dhoegh commented on #2510
I haven't worked worked with panels, so I don't know. I do not have time for looking into the issue. By looking in the documentation panel is described as a three dimensional container, see:http://pandas.pydata.org/pandas-docs/stable/dsintro.html. This means it is not straight forward and some inspiration from the three dimensional array viewer could probably be used.

[2015-07-02 20:26] scls19fr commented on #2510
Maybe you should consider to display "slice" of Panel (ie DataFrame)

    panel.loc[:, :, "MSFT"]

    panel.loc["Adj Close", :, :]

    panel.loc[:, "2015-07-01", :]

see http://pandas.pydata.org/pandas-docs/stable/indexing.html

    panel.loc[item_indexer,major_indexer,minor_indexer]

Ideally panel editor should provide a way to define if slice are given as item, major_index or minor_index