[2020-07-09 15:55] dalthviz commented on #13220
Hi @dsmaciel and @leavor sorry to hear that. I think some improvements to that situation where fixed for our next release (4.1.4) right @ccordoba12 ?

[2020-07-09 16:30] sahasransu-kar opened #13234 "console is not fitting the"
## Description

### What steps will reproduce the problem?

the console is not fitting to my screen what should i do

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-09 18:33] ccordoba12 commented on #12680
This should be fixed when we update to a more recent version of Qt/PyQt. For now there's nothing to do, sorry.

[2020-07-09 21:23] dalthviz opened #13235 "Unable to restart spyder from bootstrap.py"
Restarting Spyder (running it from the bootstrap script) is raising an error (this is also happening in master and 4.x):

[code]

A way to trigger a restart is to change an appearance preference (like changing the theme to light)

_Originally posted by @dalthviz in https://github.com/spyder-ide/spyder/pull/12793#issuecomment-655125635_

[2020-07-10 00:30] vencentinus opened #13236 "The bug is that the issue reporter is constantly nagging me"
## Description

### What steps will reproduce the problem?

Just keep doing my work. Extremely annoying that it just can't keep quiet.

### Traceback
[code]

## Versions

* Spyder version: 4.1.2
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-10 00:30] #13236 closed

[2020-07-10 00:54] andfoy commented on #13234
Hi @sahasransu-kar, thanks for opening this issue. Are you referring to the IPython console or spyder-terminal?

[2020-07-10 02:04] tylerdurden1313 opened #13237 "Python is not responding..IDE HANGS"
<!---   *** BEFORE SUBMITTING: PASTE CLIPBOARD HERE TO COMPLETE YOUR REPORT ***   ---!>
As i imported Pygame in my spyder and when i run it the pygame window shows "python is not responding".

[2020-07-10 02:31] happykid92 commented on #4245
Hello
AM getting while running the code on spyder
runfile('/Users/macbookair/untitled6.py', wdir='/Users/macbookair')
mport logging
import os
import pandas as pd
import re
import scrapy
from scrapy.crawler import CrawlerProcess
from scrapy.linkextractors.lxmlhtml import LxmlLinkExtractor
from googlesearch import search
logging.getLogger('scrapy').propagate = False
def get_urls(tag, n, language):

[2020-07-10 02:36] happykid92 opened #13238 "Spyder no output"
Hello
AM getting while running the code on spyder
runfile('/Users/macbookair/untitled6.py', wdir='/Users/macbookair')
mport logging
import os
import pandas as pd
import re
import scrapy
from scrapy.crawler import CrawlerProcess
from scrapy.linkextractors.lxmlhtml import LxmlLinkExtractor
from googlesearch import search
logging.getLogger('scrapy').propagate = False
def get_urls(tag, n, language):
u

[2020-07-10 02:37] nranthony commented on #13230
I'm sorry, I can't recreate.  I don't know what caused it at this point.  The auto submit popped up and I added as much as I could recall.

[2020-07-10 03:54] pythonwood commented on #669
optionally, right click open file  and click menu "open in other editor" to open vim editor .... ok?

[2020-07-10 04:25] #13205 closed

[2020-07-10 04:47] CAM-Gerlach opened #13239 "Add Tutorial Videos item to Spyder Help menu"
## Problem Description

Now that we have our tutorial video series, we should consider adding a link to the playlist as an item in the Help menu, like we have the Spyder website, docs, Troubleshooting Guide, Google Group, and various other doc sites. Maybe not right away, but hopefully for 4.2 when they are more complete.

[2020-07-10 05:31] #13172 closed

[2020-07-10 05:48] juanis2112 opened #13240 "Fix Introduction tour"
## Problem Description

- [x] Add final message to point people to more help and letting them know the tour is over

- [x] Fix dialog bugs. (Some dialogs of the tour are appearing outside of Spyde'rs window)

- [x] Fix dropdown bug. (Clicking the dropdown reloads the dialog and doesn't show the dropdown)

- [x] Add panes that are missing (The tour only has the first 6 plugins so we should add the

[2020-07-10 05:49] CAM-Gerlach commented on #13185
That would be a great option to have. I do think though that especially if we are going to make on the fly completion require tab instead of enter to complete, it would still be a good idea to do the same here since users may still want to generate full docstrings on demand, but just don't want it interfering with their workflow on the fly. But idk.

[2020-07-10 05:52] juanis2112 opened #13241 "Improvements to the help pane"
## Problem Description

- [x] Add Home button  to for getting back the home screen of the pane and being able to open the tutorial. back
- [x] Change background color for the help pane home screen to the same blue in the top bar of the tutorial
- [x] In the home screen links should be green not underlined.

[2020-07-10 07:16] jithik18 opened #13243 "while openining spyder i get this issue in python console can someone please help me on how to fix this issue"
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-07-10 08:30] kashyapm94 opened #13244 "Internal error at start"
## Description

### What steps will reproduce the problem?

After installing anaconda navigator for linux, I tried launching spyder and it shows this error

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.12.9
* PyQt5 version: 5.12.3
* Operating System: Linux 5.3.0-62-generic

### Dependencies

[code]

[2020-07-10 08:30] #13244 closed

[2020-07-10 09:01] RoqueBelda commented on #3323
Hello, I have a similar issue, and I have some questions...  I'm trying to configure ipython kernel server on a remote VM Instance in Google Cloud,

Is it necessary to open the port that use the kernel to connect with the client? If yes, How can I configure the port to avoid that these were randomly configured?

I have tried to connect several times from Spyder on Windows10 (client) with an SSH ke

[2020-07-10 12:49] razorree opened #13245 "Spyder doesn't recognise my Windows10 language correctly and installs with Spanish lang."
Spyder doesn't recognise my Windows10 language correctly and installs with Spanish lang.

My notebook is from Spanish distribution, however during Windows configuration i chose english language,
and my region is set to 'UK'.

Why Spyder installed Spanish language by default?  which Windows setting is responsible for that ?

[2020-07-10 14:21] toufraita opened #13246 "Problem with debug mode"
Hello.

I looked in other issues but could find the answer to this problem. I hop I'm giving enough information...

## Problem Description

The debug mode is not working properly : the debug buttons in the toolbars do not work, as well as the keyboard short cuts. Breakpoints are not recognized, such that the debug run is stuck on first line. In the ipython console, commands run properly (for insta

[2020-07-10 14:26] ccordoba12 commented on #13243
Please remove or rename this file

    /home/hp/decorator.py

to fix your problem.

[2020-07-10 14:26] #13243 closed

[2020-07-10 14:40] ccordoba12 commented on #13246
Are you using conda-forge to install our 4.1.3 version?

[2020-07-10 14:57] toufraita commented on #13246
Yas I am.

Just to make sure, I tried again `conda create -n tmp -c conda-forge spyder=4.1.3`, and the result is the same.

[2020-07-10 15:08] rachave7 opened #13247 "I had an issue trying to close the extra window"
## Description

### What steps will reproduce the problem?

I had the console up in the editor window and in a seperate window. Then I tried to close the other window will undocking the editor paired witht the console.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[cod

[2020-07-10 15:10] rachave7 opened #13248 "RuntimeError when trying to detect if completion widget is visible after closing editor window"
## Description

### What steps will reproduce the problem?

I had two editors open, one in spyder another that was seperated. I tried to close the extra one that was seperated.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-10 15:57] toufraita commented on #13246
For some reason, the problem seems to be solved, though I'm not sure what I did... When I run again conda create `-n tmp spyder 4.1.3`, the resulting environnement works fine, with the same configuartion as the environement that did not work previously, aprat from :

- Qt version: 5.12.5
-PyQt version: 5.12.3

but I may have  inverted the verion numbers in my first post. I played a little bit arou

[2020-07-10 15:58] dalthviz commented on #13230
Don't worry @nranthony thanks for the feedback !

There isn't much that we can do with out a way to reproduce the issue for the moment. However, if you manage to figure out a way to reproduce this let us know :)

[2020-07-10 16:17] DiegoF90 opened #13250 "Spyder 4 launching from anaconda prompt but not from shortcut nor .exe"
## Problem Description

I have a just installed fresh version of spyder in a local anaconda env using:

`conda create -n my_env python=3 spyder=4`

Starting spyder from the prompt (after `activate my_env`) works fine and starts Spyder4.

However, when opening using the shortcut Spyder does not open. To figure out what was happening I manually ran:

`C:\Users\MyUser\AppData\Local\conda\conda\envs\g

[2020-07-10 16:40] ccordoba12 commented on #13191
Reopening because this was not really fixed by PR #13203.

[2020-07-10 16:46] #13191 closed

[2020-07-10 17:03] ardunster commented on #13185
Maybe an option in settings as to what kind of docstring you want to generate when you hit tab to complete?

[2020-07-10 17:18] drammock opened #13252 "Can't set custom interpreters in Preferences on macOS"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-07-10 18:07] drammock commented on #13252
Note that this problem does *not* occur under Windows or Linux; I have successfully set up the "modular approach" on both of those OSes in the last couple of weeks; in both cases Spyder was installed in an environment running Python 3.7, and I was able to set the console to use Python 3.8 from a different environment.

I'm also somewhat puzzled because the following snippet works in a macOS python

[2020-07-10 18:16] tkorach commented on #12827
That would be  a great enhancement. I think that the best implementation of this feature is by Atom IDE: simple configuration (JSON), does not tie the remote server to the current session/project (as VSCode does) and does not require copying files from the notebook server.

[2020-07-10 20:38] sahasransu-kar commented on #13234
spyder-terminal

[2020-07-10 21:13] AnacondaDontWantNone opened #13253 "Error on startup"
## Description

### What steps will reproduce the problem?

I opened Anaconda Navigator. Then I clicked on Launch for Spyder. I saw the window open. It took a long time to try to open the kernel. Then I saw this error message.

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependenci

[2020-07-10 21:13] #13253 closed

[2020-07-11 03:35] ccordoba12 commented on #5352
We don't plan to implement this, sorry.

[2020-07-11 03:35] #5352 closed

[2020-07-11 03:36] ccordoba12 commented on #2487
We don't plan to implement this, sorry.

[2020-07-11 03:36] #2487 closed

[2020-07-11 03:40] #12671 closed

[2020-07-11 03:41] CAM-Gerlach commented on #13185
@ardunster So you mean separating the option for the dcostring type when hitting tab and the one when right-clicking a function name? I'm not sure if that's really a common enough usecase to justify the extra complexity of two very similar options, but idk.

[2020-07-11 04:03] ccordoba12 commented on #11429
This should be fixed now that 4.1.4 is released. Please post a comment here if that's not the case.

[2020-07-11 04:03] #11429 closed

[2020-07-11 04:16] ccordoba12 commented on #11032
Closing because there's not enough info to fix this, sorry.

[2020-07-11 04:16] #11032 closed

[2020-07-11 04:22] ccordoba12 commented on #10719
This should be fixed now.

[2020-07-11 04:22] #10719 closed

[2020-07-11 04:23] ccordoba12 commented on #10336
This should be fixed now.

[2020-07-11 04:23] #10336 closed

[2020-07-11 04:24] ccordoba12 commented on #10566
Is this still a bug for you @impact27?

[2020-07-11 04:25] ccordoba12 commented on #6018
Closing because this hasn't been reported in a long time,

[2020-07-11 04:25] #6018 closed

[2020-07-11 04:26] eafpres opened #13254 "Add (0) to first image stored when saving all images from IDE"
## Problem Description

When saving a group of images from the plot pane in the IDE, the first file has no (#) suffix, and is therefore sorted incorrectly by some file systems and text sorting.

### What steps reproduce the problem?

1. Generate multiple plots in the IDE
2. Use the button to "save all plots"
3. First file name is like Figure 2020-07-10 221755.png, subsequent are Figure 2020-07-10

[2020-07-11 04:27] ccordoba12 commented on #3526
This is too old to be applicable now.

[2020-07-11 04:27] #3526 closed

[2020-07-11 04:33] ardunster commented on #13185
No, I must have misunderstood something :)  Maybe there's an option in place that I don't know about, or you were discussing a possibly planned option. I would expect the same behavior from 'Generate Docstring' whether I used tab to complete or right clicked on something to do so. I was just thinking that it would be nice to have options in preferences as to what kind of docstring would generate w

[2020-07-11 04:38] ccordoba12 commented on #13230
Although perhaps there's no easy way to reproduce this, it can still happen because #11310 added a try/except around `_highlight_runner`, but there are other calls to `_highlight_block` in `codefolding.py` that are not protected by that.

@steff456, please add a try/except KeyError around those other calls to `_highlight_block` in that file.

[2020-07-11 04:40] ccordoba12 commented on #13254
You're right. We'll work on this for 4.2

[2020-07-11 04:42] ccordoba12 commented on #13246
Mixing channels is not a good idea in general. And I'm glad you solved the issue.

If you find a clear way to reproduce it, please let us know about it.

[2020-07-11 04:42] #13246 closed

[2020-07-11 04:43] ccordoba12 commented on #13247
Duplicate of #13248.

[2020-07-11 04:43] #13247 closed

[2020-07-11 04:43] ccordoba12 commented on #13248
Thanks for reporting. We'll fix this in our next version.

[2020-07-11 06:06] impact27 commented on #10566
nope it works now

[2020-07-11 06:06] #10566 closed

[2020-07-11 06:09] impact27 commented on #4931
works now

[2020-07-11 06:09] #4931 closed

[2020-07-11 06:32] OverLordGoldDragon commented on #12705
Exactly same deal with 4.1.3 with a fresh Anaconda reinstall; reopened for maintainers' awareness. Close anytime.

[2020-07-11 10:34] harithzulfaizal commented on #3040
This worked! I don't know why, but it does. Thanks!

[2020-07-11 11:40] Zay-Nab opened #13255 "AssertionError: Some tests have failed."
### Issue Report Checklist

* [ *] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ *] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ *] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not

[2020-07-11 13:29] jayanta-banik opened #13256 "Kernel Not connecting"
## Description

**What steps will reproduce the problem?**

1. opening spyder

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\Users\JOY\Anaconda3\envs\Tensorflow\lib\site-packages\spyder\plugins\__init__.py", line 511, in <lambda>
    toggled=lambda checked: self.toggle_view(checked),
  File "C:\Users\JOY\Anaconda3\envs\Te

[2020-07-11 14:24] sitadrost commented on #3713
Hi all,

I'm facing the same issue: incorrect key mapping in Spyder when running through VNC (TightVNC on the server side, RealVNC on the client side). I've installed Spyder4 (with Python 3.7) under Miniconda3, on Ubuntu 20.04. Other applications work fine.

Should I switch to a different VNC-server? And if so, which one would you recommend?
Or should I try this Xconfig->Default Profile->Propertie

[2020-07-11 15:12] ccordoba12 commented on #13255
This seems to be a problem with the code you're trying to run in Spyder rather than with the code itself. Is `verde` a package we can install with conda or pip so we can give you a hand with it?

[2020-07-11 15:15] nranthony commented on #13230
Cool, thanks for your time on these things.  I'll convey anything that happens that might be helpful.

[2020-07-11 15:20] nranthony opened #13257 "Feature Request: Variable Inspect Window Size Recall"
Would it be possible for the variable inspection windows to remember their size and location?  I have a triple monitor setup that's essentially one screen for gaming (6144 x 1152 px) and each time I inspect variables I have to resize the really wide windows that spans three monitors.

It would be great to have it just repeat the size it was last time I did it.

Thanks

[2020-07-11 15:50] Zay-Nab commented on #13255
I installed verde using anaconda prompt..is that differ than installing by conda?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Carlos Cordoba <notifications@github.com>
Sent: Saturday, July 11, 2020 5:12:46 PM
To: spyder-ide/spyder <spyder@noreply.github.com>
Cc: Zay-Nab <slb_2020@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [spyder-ide/s

[2020-07-11 18:39] hafez-ahmad opened #13258 "cannot install spyder"
I am trying to install in anaconda's virtual environment. I am currently using python 3.7.

## Problem Description

conda install -c anaconda spyder
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.

when I tried with pip

pip install spyder

Traceback (most recent call last):
  File "C:\Users\hafez\anacon

[2020-07-11 23:17] CAM-Gerlach commented on #13185
@ardunster Oh, sorry about that! There is currently an option "Docstring Type" under `Preferences > Editor > Advanced settings > Docstring type` that lets you choose between Numpydoc, Googledoc and Sphinx for the autogenerated docstring. @ok97465 was proposing adding `Plain` to that list, which would just add the beginning and ending triple quotes to give you a simple docstring, as you want.

![im

[2020-07-12 01:44] ardunster commented on #13185
Oh, yeah, gotcha. I'd seen that preference but completely forgot because it didn't have the option I was looking for.... Oops. I definitely think the Tab to complete is the best most important thing to change in regards to this thread.

[2020-07-12 02:39] juanis2112 commented on #13252
Hi @drammock thanks for reporting this. That was actually a bug that we fixed in our latest version 4.1.4. It is not yet in the Anaconda defaults channel, but it should be in a few days.

However, if you don't want to wait, you can get it from Conda-forge on a new environment using:

[code]

The problem with this is that if you want to change your python interpreter for that of a new environment u

[2020-07-12 02:43] juanis2112 commented on #13250
@CAM-Gerlach can you take a look at this?

[2020-07-12 02:53] juanis2112 commented on #13258
Hi @hafez-ahmad thanks for opening this. Please try:
[code]

If this doesn't work, it might be because using pip might have broken your packages in your base environment. We don't recommend mixing pip and conda package installation in the same environment. This video can help you figure out any issues you might run into:

https://youtu.be/Ul79ihg41Rs

[2020-07-12 05:04] drammock commented on #13252
Thanks! Could you tell me specifically which version of spyder-kernels is required? And will that version of spyder-kernels also be hitting the defaults channel in a few days?

[2020-07-12 08:33] asmajaved opened #13261 "the error came when i run the file in spyder"
TThis is the error come on the spyder Console:

 Python 3.7.6 (default, Jan  8 2020, 16:21:45) [MSC v.1916 32 bit (Intel)]
Type "copyright", "credits" or "license" for more information.

IPython 7.12.0 -- An enhanced Interactive Python.

runfile('C:/Users/ashar/Downloads/intr 2 AI with Python/lecture 1/projects/minesweeper/minesweeper/minesweeper.py', wdir='C:/Users/ashar/Downloads/intr 2 AI with

[2020-07-12 08:33] AnirudhKumaran opened #13262 "Variable explorer"
## Description

### What steps will reproduce the problem?

when i try to see the values in variable explorer.

### Traceback
[code]

## Versions

* Spyder version: 3.3.1
* Python version: 3.7.0
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-12 08:33] #13262 closed

[2020-07-12 09:24] mohanasrujana opened #13263 "error starting the kernel"
## Description

### What steps will reproduce the problem?

it shows kernel died restarting when i tried to restart
and if i try to open a new console it shows unable to connect to kerne;

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.4
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-12 09:25] #13263 closed

[2020-07-12 10:13] jmoraispk opened #13264 "'Maintain focus on Editor' option doesn't work when Editor pane is undocked"
## Description

### What steps will reproduce the problem?

When the Editor pane is undocked and one 'runs a cell', the focus is changed to the console, and I think this shouldn't happen when the option 'Maintain focus in the Editor after running cells or selectoions' is enabled in the Run Code section of the Editor Preferences.

This option works as intended if the Editor is docked.

Thank you.

[2020-07-12 10:54] soocrash opened #13265 "spyder cant start properly"
## Description

### What steps will reproduce the problem?

- install chatterbot==0.8.7 using pip install
- launch spyder
- spyder cant start properly and the console gets stuck on 'connecting to kernel'

### Traceback
[code]

## Versions

* Spyder version: 4.1.2
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-12 10:54] #13265 closed

[2020-07-12 11:42] soocrash opened #13266 "spyder cannot start properly"
## Description

### What steps will reproduce the problem?

- create a new conda env and install chatterbot=0.8.7 using pip
- launch spyder
- spyder cannot start properly and the console gets stuck 'connecting to kernel'

### Traceback
[code]

## Versions

* Spyder version: 3.3.6
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[c

[2020-07-12 11:42] #13266 closed

[2020-07-12 13:04] rlloretb opened #13267 "I cannot install Spyder 4.1.4"
(default) localhost:~ user$ conda install spyder=4.1.4
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.

PackagesNotFoundError: The following packages are not available fr

[2020-07-12 13:35] ccordoba12 commented on #13266
This is probably interfering with Spyder and making it crash. Please [our video](https://www.youtube.com/watch?v=Ul79ihg41Rs) to learn to how get Spyder back to life.

[2020-07-12 15:40] ccordoba12 commented on #13267
@rlloretb, Anaconda takes a few days (usually not more than a week) to upload packages for a new Spyder version. Please be patient.

[2020-07-12 15:40] #13267 closed

[2020-07-12 17:37] SUNNYDUT2018 commented on #4245
What Wrong with this code ?
Output showing like this- runfile('C:/Users/Administrator/.spyder-py3/new.py', wdir='C:/Users/Administrator/.spyder-py3')

#%%
def hello():
    print("Hello, world!")

#%%
def myname():
    print("My name is Bill")

#%%
def ourschool():
    print("Coursera is our school")

#%%

[2020-07-12 22:45] MooersLab commented on #588
### Support for PyMOL code snippets

It was great to discuss today  via the SciPy2020 sprint-spyder your plans for accommodating libraries of code snippets. I have a library of about 200 code snippets in pml for PyMOL, called [pymolsnips](http://github.com/MooersLab/pymolsnips), that I would like to make available to the users of spyder.

[2020-07-12 23:28] ashura1 opened #13270 "Spyder cannot launch: Access denied"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-07-13 01:02] benji972 commented on #12258
Same for me - Same configuration :-(

[2020-07-13 02:02] coder-wangzhen opened #13272 "When I use a non-default python interpreter in spyder, the debug button in spyder does not respond."
### Issue Report Checklist

* [ *] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ *] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [* ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not

[2020-07-13 05:07] CAM-Gerlach commented on #13250
Hey, not sure what's going on; running Spyder on Windows myself I haven't run into this specific issue. Just to confirm, have you ever used `pip` to install Python packages on this machine? Just in case, you'll want to complete Part 1, Step 3 of our [tutorial video on troubleshooting issues with Spyder, Pip and Conda](https://www.youtube.com/watch?v=Ul79ihg41Rs). You can also try running the follo

[2020-07-13 05:23] johnellissenburton opened #13273 "Restart kernel hangs"
## Description

### What steps will reproduce the problem?

When I click 'Restart kernel', the kernel begins to re-start but hangs and does not bring up the [1] prompt.

MacOS Catalina after clean re-boot.

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 19.5.0

### Dependencies

[code]

[2020-07-13 10:43] benji972 opened #13274 "Variables Viewer"
## Description

### What steps will reproduce the problem?

It display very badly variables on mac.
I will downgrade to previous version

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 19.5.0

### Dependencies

[code]

[2020-07-13 10:45] suzannejb commented on #6955
My own problem is that I have to restart the kernel after every execution. What can I do to avoid this, or, the automatic restart would be useful.

[2020-07-13 14:09] pchristian4481 opened #13275 "QSocketNotifier: Multiple socket notifiers for same socket and type Read"
## Description

### What steps will reproduce the problem?

url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/wine.csv'
df = read_csv(url, header=None)

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-13 14:29] senlin198 opened #13276 "Creation time be changed"
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-07-13 14:55] david-cortes opened #13277 "Keyboard shortcut Shift + Enter ignored when reassigned"
**Steps to reproduce:**
* Go to `Tools` -> `Preferences` -> `Keyboard shortcuts`.
* Assign `Shift` + `Enter` (default: `Run cell and advance`) to `Run selection` (default: F9).
* When it prompts you about re-assigning this key combination from its current action, select Ok.
* Write some code in the editor.
* Select said code and press `Shift` + `Enter`.

**Expected behavior:** should execute selec

[2020-07-13 15:56] pddiste commented on #12487
Thanks!
   Piero

[2020-07-13 16:20] ccordoba12 commented on #6955
@suzannejb, why do you need to do that?

[2020-07-13 17:55] suzannejb commented on #6955
I will have to get a bit of code to show, but basically, the script runs a first time, then the second time it errors out. I then have to restart kernel before I can get the script to run successfully.

[2020-07-13 18:19] CAM-Gerlach commented on #6955
@suzannejb Hey, have you tried the option `Remove all variables before execution` under `Run > Configuration per file`? This clears the console namespace and is equivalent to restarting the console but much faster, except for that it doesn't re-import modules unless they are changed (which shouldn't be an issue aside from incorrectly written or otherwise very tricky module code), and there is a sl

[2020-07-13 21:06] ccordoba12 commented on #13274
This is fixed in our 4.1.4, to be released this week in Anaconda.

[2020-07-13 21:06] #13274 closed

[2020-07-13 23:50] drammock commented on #13252
I can confirm that the following works:

[code]

However, I still would like to know when we can expect suitable versions of `spyder` and `spyder-kernels` to both be available on the `defaults` channel. Or at least, what is the minimum version of spyder-kernels that will be compatible with spyder 4.1.4 (which I think is the version that has this fix)?

[2020-07-13 23:58] juanis2112 commented on #13252
The minimum version of spyder-kernels required for spyder 4.1.4 is 1.9.2.
It actually doesn't depend on us how long does it take for the new releases to be available in the Anaconda defaults channel. It usually takes about a week so hopefully by the end of this week it will be available. You can take a look at this page https://anaconda.org/anaconda/spyder to keep track it.

[2020-07-14 00:03] #13230 closed

[2020-07-14 00:32] ccordoba12 commented on #13252
@drammock, please wait until 4.1.4 is available in Anaconda to try again. We did some improvements to the way we detect a valid Python interpreter, which could help in this case.

[2020-07-14 00:57] isabela-pf commented on #13181
Here are some early drafts showcasing a few different possible directions we could refine. Each draws from a different aspect of Spyder as inspiration. Each direction is presented as a full color, one color, and mockup as a favicon (to give an example of the logo at a small size).

Because all these directions have such different form from the current logo, I decided to stick with red as the main

[2020-07-14 00:58] drammock commented on #13252
@ccordoba12 That's all I can do, really. Many people who use MNE-Python like to use Spyder, but we often have dependency conflicts between MNE-Python and Spyder, so we recently changed our installation instructions to use your "modular approach"... but it broke things for Catalina users (we had tested it only on older versions of macOS). It is important that users migrating from MATLAB / users who

[2020-07-14 08:13] Maques64 opened #13283 "Can't terminate debugging session"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-07-14 08:55] geograz commented on #12199
I have the same problem, but this trick surprisingly helps. Thanks!

[2020-07-14 09:31] sayankumardas2 opened #13284 "IPython console stuck at "Connecting to kernel...""
## Description

### What steps will reproduce the problem?

Just opening the spyder ide from desktop shortcut as well as anaconda navigator.

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-14 09:32] #13284 closed

[2020-07-14 10:15] quamobrem commented on #5613
@JonB451 That would also be a more than acceptable workaround. Could you explain to me how to restart the LSP server from the status bar? Does this require Kite to be installed? Thanks.

[2020-07-14 12:40] goanpeca commented on #13256
Hi @jayanta-banik, thanks for the report. It seems you are using and old and unsupported version of Spyder (Spyder Version: 3.2.4)

Please update to the latest version 4.1.4.

Cheers!

[2020-07-14 12:40] #13256 closed

[2020-07-14 12:42] goanpeca commented on #13277
Hi @david-cortes, thanks for the report. Question, on restart the problem persists?

Thanks

[2020-07-14 12:44] goanpeca commented on #13276
Hi @senlin198, thanks for your report. It seems that has already been fixed at https://github.com/spyder-ide/spyder/pull/11443.

Cheers!

----

@andfoy could you please check if this is a regression?

Thanks

[2020-07-14 12:46] goanpeca commented on #13257
Hi @nranthony, thanks for the report.

We can indeed try to keep this information for the next call.

@dalthviz what do you think?

[2020-07-14 12:47] goanpeca commented on #13261
Hello @asmajaved, thanks for the report. Could you please fill in the complete template that was there when you first opened the issue?

Without that information, we will not be able to provide more feedback.

Cheers!

[2020-07-14 12:48] goanpeca commented on #13264
Hi @jmoraispk, thanks for the report. We will take a look in a future version.

[2020-07-14 13:04] goanpeca opened #13285 "Add dependency injection to register method and change plugin NAME to ID"
- `NAME` is a bit misleading, it is actually and `ID` so it is better to use `ID` as it conveys the right usage.

Currently, plugins need to "manually" call a plugin before its usage on the register method. This can get annoying after a while  and we already have this information from REQUIRES and OPTIONAL, so we can just use inject them

so something like:

[code]

This way the plugins are ready

[2020-07-14 13:09] goanpeca commented on #13270
Hi @ashura1, thanks for the report. How did you install Spyder?

[2020-07-14 13:10] goanpeca commented on #13272
Hi @coder-wangzhen, thanks for the report.

@impact27 are you able to reproduce this?

[2020-07-14 13:24] goanpeca opened #13286 "Inform the user about the current project type somewhere on the UI"
With the work in https://github.com/spyder-ide/spyder/pull/13280, now developers can register custom project types to enhance the capabilities of Spyder.

@nerohmot thinks it would be a good idea to display the current type of the project somewhere in the UI.

Some options include:

- Title bar (Red)
- Project Pane toolbar (Green)
- Status bar (Blue)

![image](https://user-images.githubusercontent

[2020-07-14 13:31] goanpeca commented on #13273
Hi @johnellissenburton, thanks for the report.

Could you update to the latest version and check if the problem persists?

Do do this, open a terminal and type:

[code]

[2020-07-14 13:39] goanpeca commented on #13275
Hi @pchristian4481, thanks for the report.

Where are you seeing these messages/errors? Could you paste the full traceback and provide some context?

Thanks!

[2020-07-14 13:43] JonB451 commented on #5613
Hi @quamobrem I don't have Kite installed. In the status bar at the bottom of Spyder, amongst other statuses, is the "LSP Python" status. If you clik on it then you a pop up gives you the option to "Restart Python Language Server".  That's it :-) Hope it works for you.

[2020-07-14 13:47] Nikita11042001 opened #13287 "kernel died restarting"
## Description

### What steps will reproduce the problem?

i did a program on socket and then this happened.i am not able to work in spyder

## Versions

* Spyder version: 3.3.6
* Python version: 3.7.4
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-14 13:55] jitseniesen commented on #13286
It is not clear to me how important the project type is. What can the new project types do? I assume that the project type determines which files the project is populated with originally, but are there any other effects?

[2020-07-14 14:03] goanpeca commented on #13286
A project type for now defines `open` `close` and `create` actions, open and close could add new items on different places of the UI.

[2020-07-14 14:09] senlin198 commented on #13276
Thanks! Cheers!

[2020-07-14 14:14] dalthviz commented on #13257
Sure it looks like something useful :+1: maybe this could help: https://doc.qt.io/qt-5/restoring-geometry.html

[2020-07-14 14:59] steff456 commented on #13283
Hi @Maques64,

Can you please upload a gif where we can see the behavior and the file which is causing you this problem?

[2020-07-14 15:00] steff456 commented on #13287
Hi @Nikita11042001,

What is the error you are encountering in spyder?

[2020-07-14 15:17] Nikita11042001 commented on #13287
I remember, sometime before I did a program using import socket then after
that I am not able to use spyder .Also I reinstalled it but still I am not
able to use kernel..it is showing kernel died restarting

On Tue, Jul 14, 2020, 8:30 PM Stephannie Jimenez Gacha <
notifications@github.com> wrote:

[2020-07-14 15:31] steff456 commented on #13287
Have you tried updating to the latest version of Spyder?

[2020-07-14 15:36] nerohmot opened #13288 "TimeoutError: Timeout while waiting for comm port."
### Issue Report Checklist

* [X] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [X] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-07-14 15:37] goanpeca commented on #13288
This issue seems to still be happenning.

[2020-07-14 15:41] nerohmot commented on #13288
the spyder-bot is hefty!

[2020-07-14 15:54] Nikita11042001 commented on #13287
Is this the problem?

On Tue, Jul 14, 2020, 9:01 PM Stephannie Jimenez Gacha <
notifications@github.com> wrote:

[2020-07-14 16:09] steff456 commented on #13287
Please upload the code you generated to see if we can understand your problem.

[2020-07-14 16:40] ccordoba12 commented on #13288
spyder-kernels            1.9.1                    py37_0

Hey @nerohmot, you're using Spyder 4.1.3 and spyder-kernels 1.9.1, not 4.1.4 and 1.9.2, where this error should be fixed. Please update and try again.

[2020-07-14 16:42] mikeiz opened #13289 "os.system not opening DOS CMD console"
## Description

### What steps will reproduce the problem?

Before I  upgraded to 4.x this command would open a DOS command widnow and execute cmd. Now it executes and no window opens.
os.system(cmd)

## Versions

* Spyder version: 4.1.3
* Python version: 3.6.10
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-14 16:46] ccordoba12 commented on #13288
I don't understand why this step doesn't give you 4.1.4. However, I tried locally by running

    conda create -n foo -c conda-forge python=3.7 spyder

and I've got 4.1.4 (as expected). So, even if you're using miniforge, you probably need to set the channel priority to get packages from conda-forge instead of from the defaults channel.

Could you post the output of

    conda list

to see the cha

[2020-07-14 16:47] Nikita11042001 commented on #13287
Thank you for your cooperation my problem is solved .

On Tue, Jul 14, 2020, 9:39 PM Stephannie Jimenez Gacha <
notifications@github.com> wrote:

[2020-07-14 16:52] david-cortes commented on #13277
Not sure if it works after just a spyder restart, but tested it again today on 2 computers (which have undergone some full restarts since changing the configuration) and it worked.

[2020-07-14 19:01] ccordoba12 commented on #13276
@goanpeca, there's a test for this.

@senlin198, you need to provide us a reproducible use case to see in what circumstances this error is still happening.

[2020-07-14 19:04] ccordoba12 commented on #13286
Could you expand on this by giving a concrete example?

[2020-07-14 19:07] #13287 closed

[2020-07-14 19:13] steff456 commented on #13289
Hi @mikeiz,

You can go to `Tools > Preferences > IPython Console > Advanced settings > Windows` and deactivate the option `Hide command line output windows generated by the subprocess module`. Please let me know if that works for you

[2020-07-14 19:42] ldoyle opened #13291 "Internal Python Language Server error when keywords occur in auto-complete string"
## Description

### What steps will reproduce the problem?

Running `spyder --debug-info verbose`, open a new file and type
[code]
(attempting to write `np.isscalar`).
Wait for a moment (no Tab character necessary, but Tab also breaks it I think) -> crash of language server.
Same happens for
[code]
(should yield `.format` among others), so this seems to be related to any highlighted keyword.

If n

[2020-07-14 20:23] ldoyle commented on #12649
I seem to remember a similar error message when uninstalling a package which contained `.dll`s while a console was still open that had imported the package. I.e. the file was still open by the python/IPython console in the eyes of Windows, thus denying the deletion when I uninstall the pacakge.
Maybe in your case the overwriting of the compiled `.dll`/`.pyd` while it is still loaded raises the sam

[2020-07-14 21:12] goanpeca opened #13292 "IPyConsole API Extension ideas"
The IPyConsole is currently completely tied to Help, Plots, and VariableExplorer.

If any of these plugins were external plugins it would not have been possible to extend, since changes to the core were needed. IPyConsole use Mixins instead of Extensions registry points. This is one option

[code]

[2020-07-14 21:25] ashura1 commented on #13270
Hi,I used Pip and there are no failed messages. I had been using it for quite sometimes but it suddenly stopped working with access denied message. This is what annoyed me. I still can launch Python directly with no issue so I can say Python and folders access are fine. I have local admin rights on my laptop too.Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: Gonzal

[2020-07-14 22:25] CAM-Gerlach commented on #13181
Thanks so much for sharing, @isabela-pf ! I definitely prefer the darker red. I'm not sure I have a strong opinion of the design directions as of yet, but I do have some impressions:

## Option 1-1

This option was bold, unique and kept more continuity with the previous logo than most of the others, but I personally found it rather confusing and hard to understand the symbology, and to me the over

[2020-07-14 22:27] #12189 closed

[2020-07-15 00:16] johnellissenburton commented on #13273
Still requires a kernel re-start after running a PyQt5 app, but not hanging any more. I had to add conda-forge to my channels first:

conda config --add channels conda-forge
conda install spyder=4.1.4

Thanks!

[2020-07-15 02:32] minatt-y opened #13296 "Spyder (copy and rename jpg file)"
I'm new in Python, and what I'm trying to do is to copy a jpg file on the Desktop of my MacBook and rename it. I followed every step expect in the directory because I'm using my MacBook to program and the explaining was in windows.
I think there's something wrong with my directory address but I don't know how to fix it.
Here's the code I'm trying to run.
<img width="1440" alt="Screen Shot 2020-07-

[2020-07-15 03:19] steff456 commented on #13291
Hi @ldoyle,

This issue should be fixed in the release that we will be doing at the end of the week. Please keep posted in our channels so you can update as soon as it is published.
Thanks for reporting!

[2020-07-15 03:19] #13291 closed

[2020-07-15 03:27] steff456 commented on #13296
Hi @minatt-y,

This isn't a spyder error and we are closing this issue, but I'm happy to help you fix your error. The first lines of your code you are including a python instruction in the string, it will be fixed if you wrote it the following way,
[code]
Please note that there's a lot of cool python libraries that can help you read/write/process images in a readable format.
Hope this helps, and t

[2020-07-15 03:27] #13296 closed

[2020-07-15 04:29] ccordoba12 commented on #13273
Great to know!

[2020-07-15 04:29] #13273 closed

[2020-07-15 04:54] ccordoba12 commented on #13252
@juanis2112, thanks for helping @drammock with his problem. You did a great job guiding him to check that this bug was effectively fixed in our 4.1.4 version. Sorry for stepping in without reading the whole context of this issue.

Then you'll be happy to hear that we're working on our own installers for Windows and macOS for 4.2.0 (to be released in September).

[2020-07-15 05:21] senlin198 commented on #13276
I just saved my python file then it happening

[2020-07-15 06:27] impact27 commented on #13272
I can't reproduce this. It should be noted that nothing will be printed to the console if you use the buttons, so maybe you mistook that for the buttons not working?

[2020-07-15 06:56] Maques64 commented on #13283
![issue](https://user-images.githubusercontent.com/68271700/87512798-8f88d400-c66f-11ea-98f8-a8fd82767165.jpg)

Attached an image of the problem, with a very simple Python script.

Script debugging was started with CTRL+F5 then CTRL+F12.  At that point debugging couldn't be stopped (CTRL+SHFT+F12 did nothing, and the stop button in the top right of the console pane is greyed-out).

One workaround

[2020-07-15 07:31] coder-wangzhen commented on #13272
@impact27 Thank you for your reply. Did you click the “Restart Kernel” in the IPython window after changing the python interpreter？
![image](https://user-images.githubusercontent.com/38872958/87516080-625c1600-c6af-11ea-99a1-321b0bdf74f9.png)
If you did not restart the kernel, you still execute the program in the default python interpreter.

[2020-07-15 07:52] PY123-png opened #13297 "TypeError when hovering in the editor"
## Description

### What steps will reproduce the problem?

1. go to anaconda
2. open spyder console
3. go to new file to add

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-15 07:52] hugh211 opened #13298 "fsldfjlsdajlflsdaflasdfa"
## Description

### What steps will reproduce the problem?

fsdaflsdjfljsalfjasljflasjflsdajlfjlsajlfjlsajdlfsdaf

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 19.5.0

### Dependencies

[code]

[2020-07-15 08:21] nerohmot commented on #13286
Until now we have only one project type, I call it "python un-managed".
  - Python = the language (now that LSP is extended others can follow)
  - un-managed = one populates the project as one likes

Together with Gonzalo I am implementing the "ATE plugin" that provides the "ATE Project" type, it is what I would call "python ATE managed"
  - Python = the language
  - ATE managed = one populates/ma

[2020-07-15 08:54] raphaelquast commented on #13275
I've just installed Spyder 4.1.4 and now i've run into the same warning...

After some checking the quickest way to reproduce it on my side is the following:
... simply execute the following lines in a fresh console (e.g. select all + F9 )

[code]

[2020-07-15 09:01] jitseniesen commented on #13181
Very nice, well done! These are my thoughts:

1-1: I really like the idea of combining the spider web and the python. However, if I am honest, I like the idea more than the actual logo. I agree with CAM that the actual logo is difficult to understand. That's not necessarily a problem; perhaps you can stylize it more and get a visually appealing logo with a hidden meaning. Or perhaps colours will h

[2020-07-15 09:09] raphaelquast commented on #13275
ok... I've just realized that there's an even simpler way...
(e.g. it also popps up during normal operations)

![spyder_socket_issue - Copy](https://user-images.githubusercontent.com/22773387/87526605-58282080-c68b-11ea-8258-1892b054a1a1.gif)

start a new console, type `1` and hit enter

[2020-07-15 10:35] DiegoF90 commented on #13250
Hi @CAM-Gerlach,
No I have not used pip. This is a new fresh installation. I have also forced install spyder and menuinst with no change.
Is there anything else I should try?
Any additional information I can provide you so that you can replicate?

[2020-07-15 11:12] jitseniesen commented on #13286
Thanks for your explanation. As I understand it, having an ATE Project open will be a considerable change in how Spyder is used, in that users should not add files willy-nilly to the project but instead use the wizards provided by the ATE plugin. Therefore you want to have an indicator of the project type. I guess the ATE pane itself indicates that an ATE project is open, but it may be hidden. So

[2020-07-15 11:16] impact27 commented on #13292
These plugins and any plugin that wants to do something related to the shell needs to do 3 things. I think these should be signals emitted  from the ipython plugin. All methods I refer to are in `spyder/plugins/ipythonconsole/plugin.py`:

 - Detect a new connection (in `connect_external_kernel` and `process_started`)
 - Detect when the widget tab is switched (`refresh_plugin`)
 - Detect when a tab

[2020-07-15 13:12] goanpeca commented on #13275
@impact27 @dalthviz can you reproduce this?

[2020-07-15 13:48] impact27 commented on #13275
maybe related to https://github.com/vispy/vispy/issues/1787

[2020-07-15 14:00] raphaelquast commented on #13275
no, vispy is definitely not part of the environment I'm currently using

by the way... the warning is cumulative... so after 5 minutes I end up having my console flooded with
the same message on and on again...

Can you think of a possible quick-fix?  (e.g. can i somehow turn off those warnings?)
(I'd really like to keep using v4.1.4 since it fixes the code-cell issue on separate windows which I t

[2020-07-15 14:05] AndreiTech90 opened #13300 "Unable to remove variables."
## Description

### What steps will reproduce the problem?

Run some python code, maybe it is important to have multiple cells and try to delete a variable or restart kernel.

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-15 14:59] galtech opened #13301 "An error ocurred while starting the kernel following standard Anaconda installation"
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-07-15 14:59] #13301 closed

[2020-07-15 15:15] OverLordGoldDragon opened #13302 "Linter stays half-dead on Windows (again?)"
[Original](https://github.com/spyder-ide/spyder/issues/11506); with the [patch](https://github.com/spyder-ide/spyder/pull/12771) applied, I get [this](https://puu.sh/G7nsU/2a829e2956.mp4):

[code]

[2020-07-15 15:16] #13302 closed

[2020-07-15 15:18] OverLordGoldDragon commented on #13302
@ccordoba12 This is the first time I've seen this error message - unsure if 4.14 will address it, but the patch didn't.

And nice bot.

[2020-07-15 15:20] ccordoba12 commented on #13302
The error you reported here is unrelated to the linter staying dead, and it was fixed in 4.1.4. Please wait until it's released in Anaconda and try again.

[2020-07-15 15:22] OverLordGoldDragon commented on #13302
@ccordoba12 It has the same trigger (dot `__getattr__`), though admittedly I didn't check if it "stayed dead" (didn't seem to). We'll see in 4.14.

[2020-07-15 15:24] ccordoba12 commented on #13300
This is already fixed and it'll be available in our 4.1.4 version, to be available later this week in Anaconda.

[2020-07-15 15:24] #13300 closed

[2020-07-15 15:33] galtech commented on #13301
I tried these steps, result is same issue, same error.

[2020-07-15 15:34] impact27 commented on #13275
I would use https://python.readthedocs.io/en/latest/library/warnings.html#the-warnings-filter to raise the warning as errors. This would hopefully help us by showing where the warning is raised from.

[2020-07-15 15:36] galtech opened #13303 "An error ocurred while starting the kernel following standard Anaconda installation"
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-07-15 15:37] #13303 closed

[2020-07-15 15:37] galtech commented on #13303
Doesn't work

[2020-07-15 15:44] ccordoba12 commented on #13275
This is probably a bug that happens on Windows only. I'm taking a look at it right now.

[2020-07-15 16:08] galtech opened #13304 "PermissionError raised from .ipython/.matplotlib/folders when starting the kernel/using the IPython Console"
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-07-15 16:14] dalthviz commented on #13275
Maybe this is related jupyter/qtconsole#332 but now some how the message is being printed in the actual console?

[2020-07-15 16:31] bcolsen commented on #13181
@isabela-pf Thank you for working on this. It something we have been in need of for sometime. I like the color and the font.

This is only my option of course, but I think that currently Spyder strongest current branding element comes from the spider web pattern. I agree with @CAM-Gerlach that spiders and snakes don't have the best connotations for most people. I also think that there are plans in

[2020-07-15 16:42] steff456 commented on #13283
Hi @Maques64,

Please remember that for using the debugger you need to create a breakpoint in the pane next to the number of rows. In that way, the debugger will stop your program in that line. Additionally, please remember that the stop button in the IPythonConsole pane is for stopping execution in the kernel, so it will be activated when you are in the middle of the execution of some code.

![im

[2020-07-15 16:48] dalthviz commented on #13304
Hi @galtech sorry to hear that, seems like in the past the issue your are experiencing was fixed by running:

[code]

However, seems like in your case this doesn't work. Did you install Anaconda as an Administrator or only for the current user?  From the traceback in #13303 seems like you are facing a `PermissionError` while the profile of IPython in being loaded. Some actions to understand better

[2020-07-15 16:53] dalthviz commented on #13297
Hi @PY123-png could you try to update Spyder and see if you can replicate the issue with the updated version?

To update Spyder you need to run `conda install spyder=4.1.3` from the Anaconda prompt. Thanks!

[2020-07-15 16:59] #13298 closed

[2020-07-15 17:00] dalthviz commented on #13054
Closing as no further info was provided

[2020-07-15 17:00] #13054 closed

[2020-07-15 17:01] dalthviz commented on #12994
Closing as no more info was provided

[2020-07-15 17:01] #12994 closed

[2020-07-15 17:07] jeremymatt opened #13305 "error spliting editor window"
## Description

### What steps will reproduce the problem?

Tried to split the editor window vertically.  This is the first time this has happened

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-15 17:09] CAM-Gerlach commented on #13250
Hey, really sorry for the trouble. Once I fixed the formatting of your environment list (which I should have done before, sorry), I noticed that like `prompt_toolkit` in your previous issue #13228 , `importlib-metadata` is included twice (once with dash and once with underscore, and with the same version but different build codes), though I'm not sure if that is actually an issue given one of my S

[2020-07-15 17:09] jeremymatt opened #13306 "Error splitting window horizontally"
## Description

### What steps will reproduce the problem?

This window popped up after I tried to split the window horizontally.  It appears to ahve split fine and the spyder didn't crash.  I have not tried restarting or anything like that as I'm in the middle of working.  Was able to close the previous split-vertically pane that caused a previous issue I reported.

### Traceback
[code]

## Versi

[2020-07-15 17:13] galtech commented on #13304
Hi @dalthviz
Thank you for the reply. I have tried running the update conda and install jupyter commands and the issue remains.

I did install Anaconda for my own user only. Should I have installed for all users instead?

There is no error or problem with the kernel when running Spyder as an administrator.

Dependencies:
[code]

[2020-07-15 17:15] jimfoo88 opened #13307 "crash after a few hours of using"
## Description

### What steps will reproduce the problem?

1. create a new .py file
2. do some coding
3. alt tab to other programs like browser
4. alt tab back to coding
5. about 1 - 2 hrs later, crash

## Versions

* Spyder version: 4.0.1
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Linux 5.3.0-62-generic

### Dependencies

[code]

[2020-07-15 17:19] CAM-Gerlach commented on #12956
Hey @statixx , sorry for the long delay before replying; I just happened to notice this issue while helping a user with another. It appears the problem is due to something with your Anaconda install outside of Spyder's control. Please try the steps listed in the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ), specifically the [Basic First Ai

[2020-07-15 17:26] pchristian4481 commented on #13275
Thank you.

*From:* Carlos Cordoba <notifications@github.com>
*Sent:* Wednesday, July 15, 2020 11:07 AM
*To:* spyder-ide/spyder <spyder@noreply.github.com>
*Cc:* pchristian4481 <pchristian@prc-hsv.com>; Mention <
mention@noreply.github.com>
*Subject:* Re: [spyder-ide/spyder] QSocketNotifier: Multiple socket
notifiers for same socket 1960 and type Read (#13275)

This is probably a bug that happens

[2020-07-15 17:34] CAM-Gerlach commented on #13286
I agree with @jitseniesen . If and when custom project types are more common, we can reconsider, but given we estimate Spyder is used by somewhere on the order of 10^5 and 10^6 worldwide, and the currently sole proposed plugin, still under development, that implements a non-default project type will likely be in use by 10^1-10^2 users, adding extra visual clutter to the remaining 99.9-99.999% of S

[2020-07-15 17:56] goanpeca commented on #13286
Spyder5 will already include a SpyderProject Plugin (based on cookie-cutter) so let's assume for this discussion that there will be more than one project type for sure.

[2020-07-15 17:58] CAM-Gerlach commented on #13181
I like @bcolsen 's design ideas; I think they combine some of the strongest elements of the designs we've liked so far—a bold and recognizable appearance, a relatively simple and easily scaled design, visual continuity with our previous branding, a better balance between "polished"/"corperate" and "fun"/"unprofessional", avoiding elements that might bother, distract or restrict us going forward, a

[2020-07-15 18:07] CAM-Gerlach commented on #13286
Thanks for the quickly reply, @goanpeca !

True, though the percentage of users using Spyder to develop a Spyder plugin is also likely to be a very small fraction of the total userbase. As more project types are added that will hopefully change, but a large fraction if not the majority of users are likely to be still using the default project, as many if not most Spyder users today don't even use

[2020-07-15 18:10] goanpeca commented on #13286
open/close are actions to perform when a project that has been created already is loaded. Close is similar.

In the example, opening a project will do a lot of stuff under the hood to display things in the extra Panel + show or hide some toolbars or panes. Closing would probably just hide the panel and extra toolbar.

[2020-07-15 18:12] dalthviz commented on #13304
Thanks for the info @galtech there should be no need for you to install Anaconda as an administrator.

Taking into account the info, could you try to change the permissions over the `.ipython` folder under your user home directory and content in order for your user to edit the content and check again if running spyder without admin rights is possible?

[2020-07-15 18:22] steff456 commented on #13283
Yes

You have a point, we are going to review if we can do something to enhance this behavior.
Also, now can reproduce the error if I don't put any breakpoint, run the code and then give continue to the debugger. For now, you can stop the execution by hitting `Ctrl+C` in the console.

[2020-07-15 18:22] CAM-Gerlach commented on #13286
Okay, thanks. Its clear now; my confusion was over the unclear object of the actions (a file vs. the project). Similarly, I'm guessing the the `create` action refers to creation of the whole project (e.g. setting up a custom cookiecutter), as opposed to creating a new files within a project (via a custom wizard/individual file cookiecutter)?

[2020-07-15 18:25] bcolsen commented on #13181
The cube effect could be enhanced by using 3 slightly different shades of red for the faces. It would then look like a set of unset  boxes that would be a cool metaphor for bring different software packages together. Boxes in a web if will.

[2020-07-15 18:29] colinww commented on #13020
Do you have suggestions on how to profile an existing running spyder? I notice the editor becomes very very slow after a day of use. At that point I just have to restart. I actually don't mind this (the cpython program I'm working on crashes spyder much more frequently than that) but perhaps it would be useful for development to get insight into why this happens.

[2020-07-15 18:29] dalthviz commented on #13305
Hi @jeremymatt thanks for the feedback! We will be checking this for a future release. Also, are you debugging the file while doing the split? Any new info in order to understand better the source of the error/a way to replicate it is greatly appreciated :)

[2020-07-15 18:29] dalthviz commented on #13306
Closing as duplicate of #13305

[2020-07-15 18:29] #13306 closed

[2020-07-15 18:33] saathvikpd opened #13308 "failed pandas import"
## Description

### What steps will reproduce the problem?

failed import of pandas after installation of sweetviz

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 18.7.0

### Dependencies

[code]

[2020-07-15 18:33] goanpeca commented on #13286
Correct.

A new project type could be a DjangoProject using a Cookiecutter under the hood to use the well known templates out there + maybe specifying (eventually) HTML/CSS/JS/Python Language servers.

[2020-07-15 18:34] dalthviz commented on #13307
Hi @jimfoo88 could you try to update spyder? If you are using Anaconda you could try `conda install spyder=4.1.*`. If you use pip something like `pip install -U spyder` should make the update.

[2020-07-15 18:35] ccordoba12 commented on #13275
I found this was an error in the `ipykernel` package and submitted ipython/ipykernel#525 to fix it.

@dalthviz, could you test that change locally and let us know if it fixes the problem on your side? Thanks!

[2020-07-15 18:36] steff456 commented on #13283
@ccordoba12 can you please take a look at this one?

[2020-07-15 18:43] ccordoba12 commented on #13020
I already submitted pull request #13281 with a possible fix for this.

[2020-07-15 18:47] dalthviz commented on #13308
Hi @saathvikpd seems like your pandas installation got corrupted when installing the package you mention. Please follow our [Troubleshooting guide & FAQ](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) to see if can find a solution.

Also, you could try to reinstall pandas to check if that fixes the problem however I think there is not much in our side that we can do to he

[2020-07-15 18:47] #13308 closed

[2020-07-15 18:59] ccordoba12 commented on #13114
Pinging @impact27 again about this one.

[2020-07-15 19:02] dalthviz commented on #13275
@ccordoba12 I was not able to reproduce this in the first place so I'm unsure if checking on my side would have any confirmation effect

[2020-07-15 19:05] ccordoba12 commented on #13286
I agree with @jitseniesen that the best place to put the project should be the status bar.

[2020-07-15 19:07] ccordoba12 commented on #13275
Sorry, I thought you were. The steps to do it are

1. Running `%gui qt`
2. Entering continually `1` in the console (as shown above by @raphaelquast).

[2020-07-15 19:14] ccordoba12 commented on #13255
Sorry but this a problem with the `verde` package (not with Spyder) and we don't have time to help you with it.

[2020-07-15 19:14] #13255 closed

[2020-07-15 19:15] ccordoba12 commented on #12705
You need to run

    conda update anaconda

and then

    conda install spyder=4.1.3

after a fresh Anaconda install.

[2020-07-15 19:15] #12705 closed

[2020-07-15 19:18] ramprasadbe opened #13309 "Error at startup"
## Description

### What steps will reproduce the problem?

Opened Spyder:
TImeout at startup
Details:
raise TimeoutError(timeout_msg)
TimeoutError: Timeout while waiting for comm port

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.4
* Qt version: 5.12.8
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-15 19:18] #13309 closed

[2020-07-15 19:20] CAM-Gerlach commented on #13286
@ccordoba12 As I understand it, @jitseniesen 's main point was that the project type _shouldn't_ be shown on the status bar unless it is actually distinct from the default, which doesn't do anything special. As far as I've gathered, it seems we all mostly agree agree that if there is a project with a specialized project type open, the status bar is probably the best all-around place to show it, bu

[2020-07-15 19:24] goanpeca commented on #13286
I do not consider that there will be a "default project". We had an empty project as a simple thing but it is pretty much useless and I foresee that Spyder 5 will already include more than just an empty or a Spyder Plugin one, so I do not see any value if giving the very lacking "Empty Project" any special treatment. I see all projects equal and I would not special case showing one or not. The que

[2020-07-15 20:20] dalthviz opened #13310 "Traceback from the Files pane (AttributeError: 'FindInFilesWidget' object has no attribute 'extras_toolbar')"
There is an error in the console regarding the Files pane (running with master):
[code]

_Originally posted by @dalthviz in https://github.com/spyder-ide/spyder/pull/12196#issuecomment-658977813_

[2020-07-15 20:33] dalthviz commented on #13275
@ccordoba12 the fix works :+1:

[2020-07-15 20:50] goanpeca commented on #13292
Hi @impact27 thanks for the input!

To clarify some things. There is currently a `debugging`, `help`, `namespace`, `figurebrowser` widgets files living in the IPython plugin. They all have different needs (maybe debugging is a special case) and there should be a cleaner way of extending things by exposing the messages via signals or some methods to do "stuff", instead of creating a new widget mixi

[2020-07-15 20:53] jitseniesen commented on #13286
The problem is, I have no idea what a project type is supposed to do, except for what is explained for the ATE managed project type. If a project type only sets up some files when creating the project and does not do anything else (which is what I imagine you mean with projects based on cookiecutter), then I see no need to display the project type.

[2020-07-15 21:01] nerohmot commented on #13288
(/home/nerohmot/my-envs/s4) nerohmot@THOR:~/Desktop/Repos/nerohmot/Semi-ATE$ conda env export -n s4
name: s4
channels:
  - conda-forge
  - https://conda.anaconda.org/conda-forge
dependencies:
  - _libgcc_mutex=0.1=conda_forge
  - _openmp_mutex=4.5=0_gnu
  - alabaster=0.7.12=py_0
  - argh=0.26.2=py37_1001
  - astroid=2.4.2=py37hc8dfbb8_0
  - atomicwrites=1.4.0=pyh9f0ad1d_0
  - attrs=19.3.0=py_0
  -

[2020-07-15 21:39] CAM-Gerlach commented on #13286
Unfortunately, in my experience, most of the Spyder users I know don't use projects at all, and those IRL and on here that do, often report they just use them for their workspace/session-switching features or work on multiple related Python projects in one Spyder project (including myself at times), and many if not most scientific Python users (unlike us) unfortunately mostly work interactively or

[2020-07-15 21:47] goanpeca commented on #13286
If no project is open why would we show a project type 🙃 ?

Not really radical.

[2020-07-15 21:50] nerohmot commented on #13286
Indeed : no project open, nothing to show, project open show the type :-)

[2020-07-15 23:57] CAM-Gerlach commented on #13114
Hey @dbischof90 , thanks for the further investigation. I'd personally suggest letting your IT people know to whitelist the files in that directory, or otherwise ask how they can mitigate the problem, since the issue appears to be, as you say, with your particular security software and not Spyder and I haven't seen this reported elsewhere, so I'm not sure how much sense it makes to do something ab

[2020-07-16 00:57] jimfoo88 commented on #13307
Hi Daniel, thanks for the speedy response, I'll try updating it.

On Thu, 16 Jul 2020, 02:34 Daniel Althviz Moré, <notifications@github.com>
wrote:

[2020-07-16 04:23] pythonwood opened #13312 "Enable hover hints runtime var (value) like pull 9191 (Maybe Ctrl + mouse hover)"
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-07-16 06:11] impact27 commented on #13292
The problem I see with that is that there is not a lot of abstraction you can really have between these plugins:
 - `debugging` is definitely part of the shell widget and is not really a different plugin.

Then, you have plugins that need tight integration with the __current__ shell widget:
 - `help` needs to send requests to the kernel for doc and get the reply back
 - `namespace` needs to receiv

[2020-07-16 06:17] impact27 commented on #13114
The home directory is `C:\xxx\yyy` and the spyder executable is probably `P:\xxx\yyy\Spyder`.  The folder `C:\xxx\yyy\.spyder-py3` is in the home directory and contains a bunch of things, among which:
 - The autosave of the files
 - The config files of spyder
 - The shell history
 - The `temp.py` file

It is important that spyder can access those files.

[2020-07-16 06:24] impact27 commented on #13114
This looks like a file created by the `tempfile` module. Looking through the spyder code I can see for example: https://github.com/spyder-ide/spyder/blob/2515fa78e8d8c20848d3fddc911e4f04f28d21d4/spyder/plugins/help/utils/sphinxify.py#L189

[2020-07-16 07:03] impact27 commented on #13292
Looking at `namespace` for example:

 - As with most other plugins, it sends many comm messages to the kernel (Should we implement kernel plugins?)

Two methods are modified. I think these should be replaced by signals:
 - `_handle_execute_reply` to kow when the kernel started
 - `_handle_status` to know that the kernel restarted

Then there is a signal to update the Variable Explorer after execut

[2020-07-16 07:31] galtech commented on #13304
Hi @dalthviz
Thank you for the tip. I amended the permissions of the ipython folder and when I open Spyder the kernel runs allowing me to run scripts. There is a traceback error at the top that mentions another permissions error (this does not appear to stop the kernel from running). Any advice would be greatly appreciated.
[code]

[2020-07-16 08:16] jitseniesen commented on #13292
The `spyder-notebook` external plugin also starts kernels. It would be great if the Variable Explorer can connect directly to a notebook kernel, instead of requiring the user to start an IPython console inside Spyder (see spyder-ide/spyder-notebook#76). There is also a request to connect Help to notebooks (spyder-ide/spyder-notebook#257). I don't know the architecture of the IPython Console plugin

[2020-07-16 08:24] raphaelquast commented on #13275
good news 👍    so the way to go is to revert back to v4.1.3 and wait for v4.1.5 ?

[2020-07-16 08:38] impact27 commented on #13292
The problem I would see with that is that the variable explorer uses spyder comms to communicate with the kernel. In that case we should implement a wrapper to either use the comms if the spyder kernel is connected, or some other methods for other kernels.

[2020-07-16 08:42] jitseniesen commented on #13286
I see the blank canvas of "Empty Project" as a feature :smile: In fact, I think it is exactly what I need for most of my use cases.

If we don't want to special case "Empty Project", then how about adding a field to the project type definition which specifies whether the project type should be displayed in the status bar? Based on what is said here, I don't see why the SpyderPlugin project type ne

[2020-07-16 09:29] jitseniesen commented on #13292
The notebook plugin starts all notebooks with the Spyder kernel, so that should be fine.

[2020-07-16 09:35] impact27 commented on #13292
That is cool :) then definitely we should find a way of integrating that.

[2020-07-16 09:38] Dodelo opened #13313 "Spyder crashes on startup"
## Description

### What steps will reproduce the problem?

Nothing, I just opened Spyder from the start menu

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-16 10:22] dbau commented on #12934
Hi,

Could we have a pre-release fix for this?

Thanks,
Davide

[2020-07-16 11:28] roteiro commented on #13275
@raphaelquast as a quick fix until the fix is delivered through the updates you can download the fixed file from here: https://github.com/ipython/ipykernel/blob/4a05435220c730605ab454001ac3ecc364299736/ipykernel/eventloops.py
and replace the current file eventloops.py under <pathToAnacondaInstallation>\envs\<yourEnvironment>\Lib\site-packages\ipykernel
Backup the current file just in case.
That so

[2020-07-16 11:37] shkm34 opened #13314 "Spyder has encountered a problem"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\Users\shkm1\anaconda3\envs\virtual_platform\lib\site-packages\spyder\app\mainwindow.py", line 2458, in execute_in_external_console
    console.execute_code(lines)
  File "C:\Users\shkm1\anaconda3\envs\virtua

[2020-07-16 11:37] #13314 closed

[2020-07-16 11:54] shkm34 commented on #13314
How can I fix it without updating Spyder

[2020-07-16 12:32] dbischof90 commented on #13114
Hey all, thanks for chipping in.
@CAM-Gerlach, yes, the problem "luckily" seems to be independent of Spyder and has to do with our IT management tools. It's now for me to understand what I have to tell IT to explain the problem and provide a viable solution, I'm not too certain right now that "just by default whitelist all these files in that folder" will go well.

@impact27 I see. Is it possible

[2020-07-16 12:53] MarcPozzo opened #13315 "No space left on device"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/usr/lib/python3/dist-packages/spyder/plugins/__init__.py", line 511, in <lambda>
    toggled=lambda checked: self.toggle_view(checked),
  File "/usr/lib/python3/dist-packages/spyder/plugins/ipythonconsole.py",

[2020-07-16 13:42] ccordoba12 commented on #13314
There's no way to do that, sorry.

[2020-07-16 14:13] manojbuddha commented on #12289
thanks, issue fixed after changing the spyder terminal to the source file directory.

[2020-07-16 14:26] impact27 commented on #13114
I am not sure if this is the correct line in the code. This would need to be investigated. The problem with moving the `.spyder` folder is that this folder contains the settings, so where do you store the setting of where the settings are?

[2020-07-16 14:44] DiegoF90 commented on #13250
Hi @CAM-Gerlach,

Thanks for your help. No this is not the same install as that of #13228 this is a new fresh install in a different PC. The env was set up simply by running the code posted above:
`conda create -n my_env python=3 spyder=4`
I am using Windows 10, I also tried all the above steps you suggest. There is another python install (3.6) which is the one the base Anaconda installation comes

[2020-07-16 14:49] milindsmart commented on #9139
So is there an environment *switcher* in Spyder or is there not? I can see the current environment, but cannot see any switcher... Manually changing python interpreter makes me nervous, I would much prefer something safer that can read conda environments.

[2020-07-16 14:53] goanpeca commented on #9139
@milindsmart no it is not yet implemented.

@mrclary could you open a new issue with your suggestion (follow and show the current console env)? Also could you open an issue for the environment switcher, I guess the idea would be to not use preferences at all for that, but provide a click on the env and display found envs plus an option to select an env right there?

Thanks!

[2020-07-16 15:17] steff456 commented on #12934
Hi @dbau,

We are planning to do the release today/tomorrow, at the end we found more critical bugs that delayed the release of 4.1.4, thanks for your patience and hope this will enhance your experience with Spyder :)

[2020-07-16 15:36] dalthviz commented on #13304
@galtech seems like you need to check the permissions for the folders in your home directory and their content (in this case `.matplolib`) and give your user (the one you are using to run Spyder) the appropriate access as you did with the `.ipython` folder.

[2020-07-16 15:52] mrclary opened #13318 "Feature Request: Upgrade Spyder's Environment Handling"
Currently Spyder provides a way to select the iPython environment of _new_ consoles in the preferences.
This works well as a "default" setting for new consoles but it would be very nice to be able to select environments for new consoles on the fly or change the environment of existing consoles.
I envision the following features:
* In the preferences, the default iPython environment for new console

[2020-07-16 15:53] mrclary commented on #9139
I created #13318

[2020-07-16 15:55] mrclary commented on #13318
This will be a very ambitious project; it is very interesting to me, though I don't know that I'll be very adept at it, since I have no experience (yet?) at GUI programming. I guess we'd be looking at this for version 5?

[2020-07-16 16:02] mrclary commented on #12200
Okay, just to recap and flesh out the idea a bit more...

Currently Spyder provides a way to select the iPython environment of new consoles in the preferences.
This works well as a "default" setting for new consoles but it would be very nice to be able to select environments for new consoles on the fly or change the environment of existing consoles.
I envision the following features:
* In the pref

[2020-07-16 16:03] mrclary commented on #13318
Actually, I've already created #12200, closing this issue

[2020-07-16 16:03] #13318 closed

[2020-07-16 16:04] mrclary commented on #9139
Actually, I already opened #12200, closing #13318

[2020-07-16 16:15] goanpeca commented on #12200
@mrclary so some things could go to 4.2 if they are not too disruptive.

1. Being able to have the Environment status widget track the current console seems not that I would be in favor of adding to 4.2
2. Being able to select an environment by clicking on that widget is also something I would consider beneficial enough to go in 4.2

@spyder-ide/core-developers thoughts?

I can help and provide so

[2020-07-16 17:04] ccordoba12 commented on #13275
@raphaelquast, this is not a problem in Spyder but in one of our dependencies (`ipykernel`). I hope a new release with my fix will be out soon (we don't have control over that, sorry).

[2020-07-16 17:26] galtech commented on #13304
I've done that. It looks good now @dalthviz
Thank you for your help.

[2020-07-16 17:26] #13304 closed

[2020-07-16 17:28] ccordoba12 commented on #12200
That would require adding a handler in the kernel that can be called each time a console gains focus. @dalthviz can help with that because he knows how to do it very well.

This would require some library code to detect all venv/conda environments available. The conda part is rather easy (`conda env list --json`) but I have no idea how to do that for other venvs.

Once that info is collected, crea

[2020-07-16 17:55] mrclary commented on #12200
For other envs:
* Pyenv would be similar to conda but a bit more involved since it doesn't provide a convenient "json" output. Basically `pyenv versions --bare --skip-aliases` gives a list of all environments.
* venv environments would be difficult to automatically detect since they may be located anywhere in the filesystem.

[2020-07-16 17:59] ccordoba12 commented on #12200
Great! Then let's leave automatic detection of venv's out of picture. But if a user enters one in `Python interpreter`, then we should add it to the list.

[2020-07-16 18:13] raphaelquast commented on #13275
@roterio
... thanks for the suggestion, however I try to avoid manually changing files in the environment if not absolutely necessary
(and in this case v4.1.3 does it's job well enough 😊)

@ccordoba12
OK, thanks for your (always) awesome support, I'll be patient!

[2020-07-16 18:16] samratkar opened #13319 "error while startup"
## Description

### What steps will reproduce the problem?

issue found upon startup in ubuntu 20
I upgraded  the jedi and quick console too. no effect

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Linux 5.4.0-40-generic

### Dependencies

[code]

[2020-07-16 20:27] dalthviz commented on #13312
Hi @pythonwood thanks for the feedback! I'm unsure what do you mean by this, could you elaborate a little bit more? Maybe an step by step example using a code snippet could help :)

[2020-07-16 20:38] mrclary commented on #12200
Is it that difficult to add the drop-down selection to the preferences window as well? Then it seems that all of the bullets could be included. Though, maybe the end of August will be too ambitous...maybe 4.3?

[2020-07-16 20:55] goanpeca commented on #12200
Not really but it is easier to tackle these things in steps. Smaller steps are more likely to succeed in this case were clear tasks can be defined.

[2020-07-16 22:31] drammock commented on #13252
I noticed that spyder 4.1.4 and spyder-kernels 1.9.2 dropped on the defaults channel today.  So I tested them and, if anything, the results are now slightly *worse* than before. Here is confirmation that I'm using the correct versions:

[code]
Now, when I launch Spyder from the `base` environment (the only env where it's installed) and try to set the python executable, I get this error:

I also ge

[2020-07-16 22:38] andfoy commented on #13315
Hi @MarcPozzo, thanks for opening this issue. It seems that your machine has no space left in the disk, we recommend you to free space on your disk in order to fix this issue. Also, you are using a very old version of Spyder (3.2.6), which we don't maintain, we recommend you to update to the latest Spyder 4 release (4.1.4)

[2020-07-16 22:38] #13315 closed

[2020-07-16 22:40] andfoy commented on #13319
Hi @samratkar, it seems that you are using an old version of `qtconsole`. According to your dependency stack, Spyder reports an incompatibility with the detected qtconsole version:  ``qtconsole >=4.6.0            :  4.4.3 (NOK)``. Please update your version of qtconsole and Spyder using:

[code]

[2020-07-16 22:40] #13319 closed

[2020-07-16 22:45] andfoy commented on #13313
Hi @Dodelo, thanks for opening this issue. Could you please reset your Spyder configurations using `spyder --reset` and see if the error does not appear again?

[2020-07-16 23:24] ccordoba12 commented on #13252
It's a probably an issue with the code in our side that validates if an executable is a Python interpreter. And it appears to happen only on macOS and for Python 3.8 (it works fine for me on Linux).

Unfortunately, there's nothing to do about it for now. We'll try to fix it in our next release.

[2020-07-16 23:53] drammock commented on #13252
Yes, it works fine for me on Linux too, and in a Windows VM (as I mentioned above).

Can you point me to the issue or pull request where it was *thought* that this was fixed?  And describe or point me to the way you test this functionality?  Getting this working is a priority for me so I'd like to look and see if I can figure out what's wrong.

[2020-07-17 00:27] ccordoba12 commented on #13252
The error should be here:

https://github.com/spyder-ide/spyder/blob/fa478437ba402c3caa63dba0deb8ee8719aebbc0/spyder/utils/programs.py#L909-L938

And our tests for that function are here:

https://github.com/spyder-ide/spyder/blob/fa478437ba402c3caa63dba0deb8ee8719aebbc0/spyder/utils/tests/test_programs.py#L145-L148

[2020-07-17 00:28] coder-wangzhen commented on #13272
@goanpeca @impact27 are you able to reproduce this after clicking the “Restart Kernel” in the IPython window ?

[2020-07-17 01:52] ccordoba12 commented on #13272
@coder-wangzhen, please update to 4.1.4 and try again. I think your problem is fixed in that version (after a kernel restart).

[2020-07-17 02:07] pythonwood commented on #13312
sometime there ara many variable in the variable manager windows that I use more than 8 seconds to  find the varible and get the runtime value.

and I had  searched and found   [9191](https://github.com/spyder-ide/spyder/pull/9191)

so My idea is :
 (when hover hint a word in source)
if it is a runtime time **variable**:  then show the  value of it
if it is a **class/fuction**:  then show the doc

[2020-07-17 02:42] coder-wangzhen commented on #13272
@ccordoba12 yes, it works after I update spyder to 4.1.4 and update spyder-kernels in another virtual environment to 1.9.2. Thank you for your help ! @ccordoba12 @goanpeca @impact27

[2020-07-17 02:42] #13272 closed

[2020-07-17 02:46] dalthviz commented on #13312
Thanks @pythonwood for the clarification! @spyder-ide/core-developers what do you guys think?

[2020-07-17 03:24] ccordoba12 commented on #13272
No problem. Glad to know this bug is already fixed.

[2020-07-17 06:52] dbischof90 commented on #13114
That's true - what about a possibility in the settings to modify the location those files get created? I didn't find any by browsing the config files I could find in the folder. Is there some non-default setting that could be changed here?

[2020-07-17 06:54] sureshd2020 opened #13321 "Console unusable after a system error requires a restart of kernel"
Steps to reproduce the problem:
1.  Insert an error in your code,  x = 10, y=0, z= x/y

2.  run your app without debug or breakpoint

3.  Console shows error and hangs up

At this point the STOP button does not work.
You have to restart the kernel.

  File "c:\program files\python37-32\lib\site-packages\qtconsole\base_frontend_mixin.py", line 138, in _dispatch
    handler(msg)
  File "c:\program f

[2020-07-17 06:55] #13321 closed

[2020-07-17 08:16] jitseniesen commented on #13312
I think it will be useful. However, I also think we have to be careful about scope which makes it not straightforward to implement this idea.

[2020-07-17 12:05] shkm34 opened #13322 "Error while running Spyder shell. Where could I find caffe2_nvrtc.dll file."
FileNotFoundError: Could not find module 'C:\Users\shkm1\anaconda3\envs\virtual_platform\lib\site-packages\torch\lib\caffe2_nvrtc.dll' (or one of its dependencies). Try using the full path with constructor syntax.

[2020-07-17 12:16] nerohmot opened #13323 "latest release mismatch"
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-07-17 13:25] jimfoo88 commented on #13307
Update: I've used `conda update spyder` to update spyder to ver 4.1.4 and now I'm able to code and run my program for more than 8hrs without crashing, I would say it's very stable now.

Once again, thanks a lot for your help.

[2020-07-17 13:25] #13307 closed

[2020-07-17 13:48] ccordoba12 commented on #13321
@sureshd2020, please update to our 4.1.4 version. Your problem should be fixed on that version.

[2020-07-17 14:04] goanpeca opened #13324 "Scan conda environment for available executables and display in file association dialog"
So some Conda packages install executables on tools (like QTDesigner) and it would be nice to find them for the users when adding file associations, (maybe attaching the env in parenthesis or similar) so that adding a new file association does not require digging into the Anaconda folder

![image](https://user-images.githubusercontent.com/3627835/87793998-a19f7980-c80b-11ea-9bec-f6d5bda59178.png)

[2020-07-17 14:23] goanpeca opened #13325 "Check links to file in the editor are working"
Check the tilde implementation!

[2020-07-17 15:04] dalthviz commented on #13312
Yep that's what I was thinking too, thanks @jitseniesen for the feedback! :+1:

[2020-07-17 15:35] ccordoba12 commented on #13323
Fixed now. I always wait until Anaconda releases new packages in defaults and that just happened yesterday.

[2020-07-17 15:35] #13323 closed

[2020-07-17 16:12] ccordoba12 commented on #13288
I can't reproduce your error in Kubuntu 19.10 with the exact same packages. However, I didn't install the pip packages you have listed at the end:

    - pyqt5-sip==4.19.18
    - pyqtchart==5.12
    - pyqtwebengine==5.12.1

because they interfere with the conda-forge PyQt5 package. So please recreate your environment without those packages and try again.

The way you can do that is by running the

[2020-07-17 16:50] ccordoba12 commented on #13023
Closing this one because it exists a solution for it.

[2020-07-17 16:51] ccordoba12 commented on #13114
There's no way to adjust the location of our preferences directory, sorry. Given that this is a very narrow use case, please consider to tell your company to fund that work through a Quansight Labs [Community Work Order](https://labs.quansight.org/blog/2019/05/community-driven-opensource-funded-development/). That's basically a contract between a company and Spyder (mediated by Quansight Labs) to

[2020-07-17 18:09] #12182 closed

[2020-07-17 19:40] #13310 closed

[2020-07-17 20:10] #13275 closed

[2020-07-17 22:12] drammock commented on #13252
I tried some line-by-line tests of `is_python_interpreter`, `run_program`, `is_text_file`, and `is_binary_string`.  All seem to give the correct behavior when run interactively and given the executable path I'm trying to set (`/Users/drmccloy/opt/anaconda3/envs/test/bin/python3.8`)

So next I set up a new environment running dev versions of spyder and spyder kernels:

[code]
Then I installed the d

[2020-07-17 22:16] CAM-Gerlach commented on #13114
@dbischof90 There is currently work being done to enable setting a custom config path in issue #4150 , which is useful for a variety of users beyond just your specific situation. Given Spyder is developed by and for the community thanks to uses like you, we'd welcome your contributions there!

Alternately, I imagine the way to do it would be overriding the config directory location via an environm

[2020-07-17 22:17] CAM-Gerlach commented on #13114
@dbischof90 There is currently work being done to enable setting a custom config path in issue #4150 , which is useful for a variety of users beyond just your specific situation. Given Spyder is developed by and for the community thanks to uses like you, we'd welcome your contributions there!

Alternately, I imagine the way to do it would be overriding the config directory location via an environm

[2020-07-17 23:10] CAM-Gerlach commented on #12200
Adding a submenu to the IPython console options and context menus to launch a console in the selected environment (like we currently have for launching "special" consoles) is also a relatively small but very impactful change we should fast-track, IMO; I've been wanting to do it for some time just with the existing saved environments and it should be relatively straightforward, while hugely improvi

[2020-07-17 23:21] ccordoba12 commented on #13114
I'd like to clarify that I mentioned the option of funding this work through Quansight Labs because we don't have plans to implement it soon ourselves. As @CAM-Gerlach said, it'd be useful to have but it's very low priority for us.

[2020-07-18 00:23] CAM-Gerlach commented on #13312
To be pedantic. in in Python parlance, (per the [official reference](https://docs.python.org/3/reference/), there isn't a strictly defined concept for what a "variable" is per say, as there is in C/++. Everything (including functions, methods, classes, builtin types, instances, etc) is an _object_ in memory, and this is distinct from the _name(s)_ for those objects (which is what is directly shown

[2020-07-18 00:31] icannotdothecode opened #13326 "keyboard shortcuts (in manjaro/arch linux)"
## Description

### What steps will reproduce the problem?

pressing keyboard shortcuts causes Spyder to encounter an internal error.

### Traceback
[code]

## Versions

* Spyder version: 3.3.6
* Python version: 3.8.3
* Qt version: 5.15.0
* PyQt5 version: 5.15.0
* Operating System: Linux 5.6.16-1-MANJARO

### Dependencies

[code]

[2020-07-18 00:46] CAM-Gerlach commented on #13250
Hey, thanks for your detailed followup, and for your patience. It has essentially ruled out the great majority of potential issues with your environment; aside from something esoteric, the remaining likely possibilities are some unpredictable failure when installing Anaconda, or security software on your machine interfering with the install, shortcut or startup process. Does the same behavior occu

[2020-07-18 00:52] CAM-Gerlach commented on #13114
Just to clarify as well, by "work being done" I meant by community volunteers and not the core Spyder team. Funding it is an option (and would probably not involve too much of an outlay, especially compared to the benefit for your specific case), and so is contributing the feature yourself; as you presumably are relatively experienced with Python it shouldn't be too difficult following the example

[2020-07-18 10:49] OverLordGoldDragon opened #13329 "How to downgrade Spyder after `conda install anaconda`?"
I've ran `conda install anaconda` in the base environment, so now every virtual environment has Spyder 4.1.4, but there are a few bugs I wish to confirm are due to 4.1.4 and not something else, for which I need 4.1.3. Above is the only command I ran in `base` after a fresh Anaconda install - then:

[code]
This fails, and generates a long list of package conflicts (which is strange; why would "batt

[2020-07-18 16:23] OverLordGoldDragon opened #13330 "configparser.NoOptionError: No option 'custom-0/background' in section: 'appearance'"
Started after a computer reboot; Spyder was working before it. This is with Spyder 4.1.4 via `conda update anaconda`.

[code]

[2020-07-18 17:17] ccordoba12 commented on #13252
Yes, that change was included in 4.1.4

I'll take a look at it later today.

[2020-07-18 18:44] seamusglynn opened #13331 "error on startup"
## Description

### What steps will reproduce the problem?

at startup I get the following error in the Issue reporter pop up window

TimeoutError(timeout_msg)
TimeoutError: Timeout while waiting for comm port.

The full message is below:
 File "C:\Anaconda3\lib\site-packages\spyder\plugins\ipythonconsole\comms\kernelcomm.py", line 89, in comm_channel_manager
    timeout)
  File "C:\Anaconda3\lib\

[2020-07-18 18:44] #13331 closed

[2020-07-18 18:51] donet3088 opened #13332 "I need help on this please"
Traceback (most recent call last):
  File "/Users/user/opt/anaconda3/envs/mytfenv/bin/spyder", line 7, in <module>
    from spyder.app.start import main
  File "/Users/user/opt/anaconda3/envs/mytfenv/lib/python3.7/site-packages/spyder/app/start.py", line 35, in <module>
    from spyder.config.manager import CONF
  File "/Users/user/opt/anaconda3/envs/mytfenv/lib/python3.7/site-packages/spyder/conf

[2020-07-18 19:02] OverLordGoldDragon commented on #13330
Same error in a _different_ virtual env which still has 4.1.3 installed ... this isn't how Anaconda should work

[2020-07-18 19:56] juanis2112 commented on #13322
Hi @shkm34, I think this issue is not related to Spyder. However, I suggest uninstalling and installing PyTorch again with conda which might help you solve this issue.

[2020-07-18 20:35] juanis2112 commented on #13326
Hi @icannotdothecode, this bug was solved in Spyder4. Please run the following commands in your command line:
[code]

[2020-07-18 20:41] OverLordGoldDragon commented on #13330
I've ran a reinstall of Anaconda following instructions [here](https://docs.anaconda.com/anaconda/install/uninstall/), and the error _still persists_, in base environment with Spyder 4.0.1, no additional package installed. No clue what's going on.

[2020-07-18 20:45] juanis2112 commented on #13322
You can fin instructions of how to do this here:

https://pytorch.org/get-started/locally/

[2020-07-18 21:08] Phillip-M-Feldman opened #13335 "I typed the command `spyder`."
## Description

### What steps will reproduce the problem?

Issue the command `spyder` from an Anaconda command prompt.

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-18 21:09] texadactyl commented on #13332
What version of Spyder?  If it is less than 4.1.14 (latest), you might try an update.  You could also try using ```conda``` to update its dependencies.

[2020-07-18 21:36] Phillip-M-Feldman commented on #13313
I'm seeing the same issue with Spyder 4.1.4.  And, I still see it after doing `spyder --reset`.

The exact error message is "Spyder has encountered an internal problem!" No other information is provided.

[2020-07-19 02:29] icannotdothecode commented on #13326
That fixed it, thanks!

[2020-07-19 02:29] #13326 closed

[2020-07-19 04:48] samshadali commented on #5393
open spyder > tools > install kite engine.  >
dOWNLOAD WILL START AUTOMATICALLY
LET IT COMPLETE.. AND ENJOY...

[2020-07-19 09:04] nerohmot commented on #13323
I see :+1:

[2020-07-19 10:32] OverLordGoldDragon commented on #13330
Finally did it, with a thorough uninstall; I suspect the most important steps were deleting `.anaconda_backup`, `.spyder`, and `.spyder-py3`, but I'll still include everything I did:

 1. Delete `Anaconda/envs` and `Anaconda/pkgs`
 2. Run `Uninstall-Anaconda3.exe`
 3. `Start -> Run -> regedit`, delete:
    - HKEY_CURRENT_USER -> Software -> Python
    - HKEY_LOCAL_MACHINE_USER -> SOFTWARE -> Pytho

[2020-07-19 11:20] OverLordGoldDragon commented on #13330
... aand just found the culprit: `config`. No idea what exactly - [attached](https://puu.sh/G8GFF/3d1d44ca2a.zip).

[2020-07-19 15:31] OverLordGoldDragon opened #13336 "Kernel not restarting sometimes"
`import tensorflow` is one way to reproduce: [clip](https://puu.sh/G8JDR/1f888759cb.mp4). Further, 4.1.4 prints INFO-level messages (also shown), which didn't occur in 4.1.3, now needing manually setting `os.environ['TF_CPP_MIN_LOG_LEVEL'] = '1'` to disable.

It also doesn't _always_ reproduce; still unsure how it works exactly.

[2020-07-19 18:22] donet3088 commented on #13332
I’m running the latest version of spyder, that is 4.1.4

[2020-07-19 18:28] texadactyl commented on #13332
Did you try ```conda update --all``` but still get the same results afterwards?

[2020-07-19 18:29] donet3088 commented on #13332
Yes please I did but to no avail. Pycharm and jupyter notebook works but spyder doesn’t

[2020-07-19 18:36] texadactyl commented on #13332
You didn't say what OS you are using.  If it is Linux or Unix, I would try renaming ```/Users/user/.spyder-py3``` to something else like ```/Users/user/HOLD.spyder-py3```.  See if it helps for spyder to recreate the config.  I suggest this because it looks like the existing ```transient.ini``` has been mangled.

Alternatively, you could share the contents of ```/Users/user/.spyder-py3/config/trans

[2020-07-19 18:38] donet3088 commented on #13332
I’m using Unix but I’m finding it difficult to locate the file .spyder

[2020-07-19 18:39] texadactyl commented on #13332
My Xubuntu Linux system stores that file in ```$HOME/.config/spyder-py3/config```.

[2020-07-19 18:41] texadactyl commented on #13332
The top of the .config tree is a hidden directory.  I know that this can be confusing.

In a terminal window, do this:
[code]
Then you will see the spyder config file

[2020-07-19 18:41] donet3088 commented on #13332
I’m finding it difficult to locate it

[2020-07-19 18:44] texadactyl commented on #13332
When you executed the above ```cd``` command, what PRECISELY did you see on the terminal?

[2020-07-19 18:46] texadactyl commented on #13332
Also, which Unix are you using?

[2020-07-19 18:47] donet3088 commented on #13332
Ok now o get 4 files
Backups, defaults, spyder.ini, transient.ini

[2020-07-19 18:48] donet3088 commented on #13332
What do I do next please?

[2020-07-19 18:49] texadactyl commented on #13332
The traceback is telling you that something did not parse in transient.ini.
Try renaming it to transient.ini.HOLD and relaunch spyder.

[2020-07-19 18:53] texadactyl commented on #13332
That should work around the transient.ini issue.  I just did it successfully.

[2020-07-19 18:54] donet3088 commented on #13332
So to rename in terminal, I should do mv transient.ini.Hold transient.ini

[2020-07-19 18:55] texadactyl commented on #13332
yes

[2020-07-19 18:55] texadactyl commented on #13332
New to Unix?

[2020-07-19 18:55] texadactyl commented on #13332
Oops, just the reverse:

[2020-07-19 18:56] texadactyl commented on #13332
```mv transient.ini transient.ini.HOLD```

[2020-07-19 18:57] donet3088 commented on #13332
Yes I did that. I want to relunch spyder from anaconda and then see if that works

[2020-07-19 18:57] texadactyl commented on #13332
Processing for all commands is left to right

[2020-07-19 18:58] texadactyl commented on #13332
I do not know what your Unix/Linux experience level is

[2020-07-19 18:59] texadactyl commented on #13332
I hope that you do not expect to use Spyder with Fortran source (E.g. seismic_cpml).  That won't work.

[2020-07-19 18:59] donet3088 commented on #13332
I refer as and when I need to do anything in terminal 😃

[2020-07-19 19:00] donet3088 commented on #13332
No not at all.

[2020-07-19 19:01] texadactyl commented on #13332
Did it launch?

[2020-07-19 19:06] texadactyl commented on #13332
If that does not work, try using Anaconda to uninstall and then reinstall spyder.

[2020-07-19 19:09] donet3088 commented on #13332
It didn’t work. I will try to uninstall and then reinstall to see if that will work

[2020-07-19 19:10] texadactyl commented on #13332
What happened when it launched?
Details please.

[2020-07-19 19:11] texadactyl commented on #13332
"It didn't work" is not descriptive.

[2020-07-19 19:11] donet3088 commented on #13332
Nothing happened when lunched from anaconda

[2020-07-19 19:18] texadactyl commented on #13332
It might be a launcher in your desktop start menu.
You could also try launching from a terminal window ("spyder" or "spyder3").

[2020-07-19 20:30] donet3088 commented on #13332
Now it lunches successfully. Thanks for the assistance

[2020-07-19 20:31] texadactyl commented on #13332
Your are welcome.  So, re-installing solved it?

Please close this issue.

[2020-07-19 20:33] donet3088 commented on #13332
I didn’t reinstall. Renaming the transient.ini solved the issue. I just needed to be patient for spyder to lunch

[2020-07-19 20:33] #13332 closed

[2020-07-19 20:39] texadactyl commented on #13332
In the future, please keep in mind that detailed feedback is important to someone who is trying to help you while flying blind (cannot see your screen or what you have done).  You can provide screenshots or copy/paste of terminal window or Anaconda GUI segments or something else if that is relevant.

[2020-07-19 20:40] donet3088 commented on #13332
Well noted Sir

[2020-07-19 20:54] texadactyl commented on #13336
I have the same symptom in the IDE.
Now, when I try it interactively with python3, I see this (Linux):
[code]

Tensorflow is HUGE.  My RAM is limited to 8GB.  Also, there might be something going on in the tensorflow package.  In any case, this is not a Spyder bug.  I realize that this is not the reply you hoped for.

How much RAM do you have?  What is your OS?

[2020-07-19 20:56] texadactyl commented on #13336
Have a look here: https://github.com/tensorflow/tensorflow/issues

[2020-07-19 20:59] texadactyl commented on #13336
Also, you could try this in case pypi is out of date:
```pip3 install git+https://github.com/tensorflow/tensorflow```

I am doing it myself.

[2020-07-19 21:31] OverLordGoldDragon commented on #13336
@texadactyl It's not a TensorFlow bug; this didn't occur in Spyder 4.1.3. So it's either Spyder or its dependencies. And TensorFlow doesn't eat much RAM from simply being imported.

[2020-07-19 21:33] texadactyl commented on #13336
How do you explain crashing in python3 when Spyder is not involved?

[2020-07-19 21:40] OverLordGoldDragon commented on #13336
@texadactyl Bad install or dependencies, most likely. My Task Manager shows a 120MB increase in RAM usage from it - so unless your device can't afford it, `import tensorflow` alone shouldn't fail.

[2020-07-19 21:42] texadactyl commented on #13336
Have you tried running python3 interactively in a terminal window.
Just do this:
```import tensorflow```

What happens?

[2020-07-19 21:44] texadactyl commented on #13336
This issue looks similar to yours:  https://github.com/spyder-ide/spyder/issues/12768

[2020-07-19 21:46] texadactyl commented on #13336
Also, have you tried this in a Jupyter notebook?

[2020-07-19 21:58] OverLordGoldDragon commented on #13336
@texadactyl My RAM figure is from running Python in Anaconda Powershell Prompt. The linked issue has an unrelated exception (I don't have any exception). Jupyter works fine.

[2020-07-19 22:02] texadactyl commented on #13336
So, ```import tensorflow``` works fine in Juypter.  Also, it works fine from a DOS command line.
You could try this:  In Anaconda, uninstall Spyder then reinstall it.

[2020-07-19 22:02] NaderNazemi commented on #13275
Can't wait for a fix - thank you very much everyone :)

[2020-07-20 06:24] juanis2112 commented on #13258
Closing for no response

[2020-07-20 06:24] #13258 closed

[2020-07-20 11:32] dbischof90 commented on #13114
Okay, understood - so there is currently no way to modify the location (or at least parametrize the file itself) for these temporary files. I think the chances are quite slim for this to be honest but I'll check.

Were those temporary files also created under Spyder 3.x? We work with Spyder for over three years and only had troubles after the upgrade to Spyder 4.

[2020-07-20 13:19] YwEwanHuang opened #13337 "SAVE automatically creates a tmp file"
I just updated Spyder to version 4.1.4.

I found that every time I modify and save a .py file, there would be a file with prefix **tmp** generated automatically in the same directory, e.g., **tmp_1wsn3oj** and **tmpg_3kfhp4**. The **tmp** file contains the same source code as the original .py file.

I am just wondering if there is an option to prevent this as when I noticed this issue, I already g

[2020-07-20 14:55] goanpeca commented on #13335
Hi @Phillip-M-Feldman could you update to the latest version and try again?

Thanks!

[2020-07-20 14:56] goanpeca commented on #13337
Hi @YwEwanHuang thanks for the report.

@jitseniesen is this related to the autosave?

[2020-07-20 14:59] kaleb-keny opened #13338 "Open Project Error"
## Description

### What steps will reproduce the problem?

Doing Projects > Open Project Automatically triggers this error.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.4
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-20 15:10] aviallon commented on #13114
I can confirm this bug on Archlinux with spyder 4.1.3 (https://termbin.com/exl9)

[2020-07-20 15:12] kaleb-keny commented on #13338
Interesting I restarted my pc, and I don't have a problem anymore, but basically how I triggered it is that I just press on "projects" then press "Open Project" and the report github message is triggered... I even tried earlier closing and opening spyder back up, but the problem persisted... However, the restart seems to have done the trick.. I'll post an update with an animation if this issue sho

[2020-07-20 15:14] goanpeca commented on #13338
Ok, thanks for the heads up. Cheers.

[2020-07-20 15:29] nondarloavedere opened #13339 "Closing error on dash"
## Description

### What steps will reproduce the problem?

I closed without stopping dash running. No worry guys.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-20 15:31] goanpeca commented on #13339
Hi @nondarloavedere, thanks for the report.

@impact27 thoughts on this?

Thanks!

[2020-07-20 15:43] impact27 commented on #13339
I don’t know how kernel_client.comm_manager can be none. The correct thing here would be to show an error message in the shell widget along the line of : can’t restart console

[2020-07-20 15:45] goanpeca commented on #13339
Should we check it is not None `kernel_client.comm_manager`?   Or ?

[2020-07-20 15:47] jitseniesen commented on #13337
I think this is related to atomic writes, it looks like issue #13041. @YwEwanHuang are you perhaps using Dropbox or a similar program?

[2020-07-20 16:06] YwEwanHuang commented on #13337
Hi @jitseniesen, yep, I am using Dropbox. I've read the issue #13041 and I don't see any **tmp** files if I work outside Dropbox.

Thanks for the heads up!

[2020-07-20 16:10] ben050228 opened #13340 "Spyder and Pyspark Issue, python worker cannot connect back in time"
Hi there,

I have a dataframe generated from pyspark.sql.SparkSession locally. When I tried to save it as parquet format using the following code:

from pyspark.sql import SparkSession
spark = SparkSession.builder.getorCreate()

orig_dat = spark.read.parquet("my_orig_dat")
mydata = myfun(orig_dat)
mydata.write.mode('overwrite').parquet("file:///mypath/master")

The myfun is the pyspark code that I

[2020-07-20 16:18] ben050228 commented on #13340
@goanpeca Thank you for your reply. I am very new to Github and Pyspark as well so I ask the question here. I did not use any other IDE to run the code and not sure whether it should refer the Spark or Spyder problem. Any opinion?

[2020-07-20 16:21] goanpeca commented on #13340
Well, can you try to run the code directly on your Command Prompt/Terminal and see if it runs successfully or not?

If it does run, then it may be a sPyder issue.
If it does not run, then it is not a Spyder issue per se, and we recommend you visit other places or internet sources for asking about your issue, which seems specific to PySpark.

Cheers

[2020-07-20 16:43] Phillip-M-Feldman commented on #13313
The startup crashes appear to have stopped, even though I did have one after upgrading to version 4.1.4.  Strange!

[2020-07-20 17:20] DiegoF90 commented on #11033
Hi, is there any update on how to ignore code analysis warnings?
I also used to ignore those with "# analysis:ignore (Dict)" but since upgrading to Spyder 4 it does not seem to work any longer.

Also, I do not know if this would be the appropriate channel to raise this, but it would be great if the first line:
`# -*- coding: utf-8 -*-`
Does not raise a pydocstyle D400 issue.

[2020-07-20 17:30] cri-fri opened #13341 "Deleting Obsolete DataFrames"
## Description

### What steps will reproduce the problem?

Reloaded dataframes with different csvs/xlsx - different names, removed existing dataframes and attempted to remove final obsolete dataframe and ran into this crash.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 19.3.0

### Dependen

[2020-07-20 17:34] goanpeca commented on #13341
Hi @cri-fri, this has been already reported and fixed https://github.com/spyder-ide/spyder/issues/6975

Could you please update to the latest version of Spyder (4.1.4) to get the fixes?

Cheers!

[2020-07-20 17:34] #13341 closed

[2020-07-20 18:08] dasdebashish17 opened #13342 "IndexError in Code Analysis prevents Spyder from getting launched"
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-07-20 18:14] goanpeca commented on #13342
Hi @dasdebashish17, thanks for the report.

Could you provide the missing information?

[code]

you can open the Anaconda Prompt and type

[code]

And paste the output here as text.

Cheers!

[2020-07-20 18:26] DanCodigaMWRA commented on #13297
Happenning for me today with Spyder 4.1.4 on Windows.

[2020-07-20 18:30] shllybkwrm commented on #11026
I have just updated to Spyder 4.1.4 via conda (I also tried conda remove and then reinstalling).  I never saw the popup about code completion and linting before, but now I get it constantly within a minute or two of launching Spyder.  As the error doesn't seem to be fixed for me, anything else I should try?

[2020-07-20 18:32] impact27 commented on #13339
Sure but if it is None then what? That shouldn’t be the case so I don’t really see how to recover from that error

[2020-07-20 19:40] dalthviz commented on #13297
Hi @DanCodigaMWRA could you give us more info about this behavior? Maybe you can provide your installed dependencies and a code snippet to reproduce this? Maybe a .GIF to understand the way this error is being triggered could be worthy too. Thanks!

[2020-07-20 20:22] DanCodigaMWRA commented on #13297
Oh thanks for the quick attention to this.

More info, sure-- apologies, I should have been more complete in the first place. I am using conda (after updating to the latest conda) and I just created a new virtual environment with Spyder 4.1.4. Windows 10, 64-bit, Python 3.6.10 (default, Mar  5 2020, 10:17:47) [MSC v.1900 64 bit (AMD64)], lots of packages, see list below (at bottom).

As far as wha

[2020-07-20 20:29] ccordoba12 commented on #11026
@shllybkwrm, you probably have installation issues. Please open a new issue about your problem, so we can take a look at them.

[2020-07-20 20:35] bwllc opened #13343 "I don't know what I did to cause this problem, I was just typing."
## Description

### What steps will reproduce the problem?

Steps to reproduce the problem are unknown, I was just editing a program, not running anything.

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.4
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 7

### Dependencies

[code]

[2020-07-20 20:35] #13343 closed

[2020-07-20 20:46] DanCodigaMWRA commented on #11033
I have been staying with Spyder 3 until now, because of this issue. With Spyder 3, adding "# analysis:ignore" (to the end of a line for which the linter causes a warning) works to suppress the warning. This means I can benefit from linting, but also suppress those few warnings the linter sends me for parts of my code for which I have a good reason not to change the code in response to the warning.

[2020-07-20 20:47] shllybkwrm commented on #11026
Will do.  In the meantime I rolled back to 4.1.3 (following a recommendation earlier in the thread, <conda install parso=0.5.2>) and the popup has gone away as far as I can tell.

[2020-07-20 20:53] ccordoba12 commented on #13114
No, they weren't. That's a new feature in Spyder 4.

[2020-07-21 04:18] ccordoba12 commented on #13336
@OverLordGoldDragon, please share with us the specs of your conda environment, so I can try to reproduce this problem on my side.

For that, please run the following command from the Anaconda prompt:

    conda env export -n my-env > env.txt

replacing `my-env` with your env name. Afterwards, please upload the file called `env.txt` here, which should have been created in the same directory where y

[2020-07-21 04:21] ccordoba12 commented on #11033
@DanCodigaMWRA, we'll see if we can switch to flake8 from pyflakes for 4.2.0, which provides this functionality.

[2020-07-21 04:23] dalthviz commented on #13297
Thank for the info @DanCodigaMWRA , I tried creating an env using conda-forge channel and updating conda to 4.8.3 in my base env but I'm unable to trigger the error :/

However hover hints were not working and also in the internal console I could see this message:

[code]

This is what I used to create the env: `conda create -n cforge python=3.6.10 spyder=4.1.4`

Just in case this is the conda lis

[2020-07-21 04:56] #13254 closed

[2020-07-21 04:59] ccordoba12 commented on #13343
This is fixed in our 4.1.4 version. Please update with

    conda update anaconda
    conda install spyder=4.1.4

[2020-07-21 05:01] ccordoba12 commented on #13337
@YwEwanHuang, we'll solve this issue in our next version. For now the only workaround is to save your files out of Dropbox.

We're very sorry for the inconvenience.

[2020-07-21 05:01] #13337 closed

[2020-07-21 05:08] ccordoba12 commented on #13297
This could be caused by Jedi not working well in Python 3.6. Unfortunately, all our tests run in Python 3.7.

@dalthviz, what happens if you create a Python 3.7 environment using conda-forge packages?

[2020-07-21 06:22] Santoshreddy01 opened #13344 "pyspark module"
## Description

### What steps will reproduce the problem?

I already installed pyspark but pyspark module is not found, please fix this

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-21 08:23] skjerns opened #13345 "[Feature Idea] Make search&replace a popup"
The search&replace functionality in Spyder is quite minimalistic. On the one side this keeps it non-distracting, on the other side I often find myself typing in it without realizing, as I forgot to close/unfocus the small status bar at the bottom.

Would it be an idea to make the search&replace have its own popup, like e.g. in Notepad++ (including transparency etc)?

Advantages:
- easier switch fr

[2020-07-21 08:39] dasdebashish17 commented on #13342
Hello Team,

I tried reinstalling, again the same issue.
Steps followed:

- Uninstall Anaconda
- Install latest Python 3.7 64-bit
- Launch Spyder (it works)
- Run `conda update anaconda`
- Run `conda install spyder=4.1.4`. Syder no longer works

Regards,
Debashish

[2020-07-21 08:49] andreiionutdamian opened #13346 "TypeError when opening a project"
## Description

### What steps will reproduce the problem?

While in a project opened at Spyder start-up I try to click Projects->Open Project and I receive this error

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-21 09:48] milindsmart commented on #2378
Same behaviour with Spyder 4.1.4.

[2020-07-21 14:28] DanCodigaMWRA commented on #13297
"all our tests run in Python 3.7."

This sure is good to know. Long ago I chose to stay at 3.6 because some of the packages I was using weren't available yet in 3.7. It seems like it is time for me to go to 3.7 now. I will try creating my virtual environment using 3.7. If all goes well that may get me past these issues.

Thank you.

[2020-07-21 14:52] Dwingkak commented on #13346
I have the same issues. After reverting back to 4.1.3, I can open project again. So, it should be something wrong with 4.1.4.

[2020-07-21 15:25] texadactyl opened #13347 "Clicking an item in Analyze pane does nothing but return to post-scan initial state"
Environment: Xubuntu 20.0.4 up-to-date.
sudo apt update, sudo apt dist-upgrade
I followed the checklist!
Also, I deleted the pip cache and reinstalled spyder and all of its dependencies.

## Problem Description
After analysis has completed, the Analyze pane shows the results correctly.  But, it seems non-functional / buggy in terms of the mouse interface.

### What steps reproduce the problem?
1.

[2020-07-21 15:38] OverLordGoldDragon commented on #13336
@ccordoba12 Better yet, I'll give the exact steps for recreating the environment; `base` is unchanged from a fresh Anaconda install with `Anaconda3-2020.02-Windows-x86_64.exe`. To note, this _isn't_ reproduced with TensorFlow 1.14.0, but 2.2.0 isn't installed with `conda`; regardless, it was a non-issue with Spyder 4.1.3.

[code]
Run `spyder`, then `import tensorflow`, and try to restart kernel. M

[2020-07-21 15:43] texadactyl commented on #13347
Actually, any mouse click in any pane closes the opened categories in the Analyze pane.

[2020-07-21 15:53] AndrewAmmerlaan opened #13348 "Matplotlib plot window unresponsive when shown through spyder"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-07-21 15:59] steff456 commented on #13344
Hi @Santoshreddy01,
How did you try to install the pyspark module? Did you use conda or pip?

[2020-07-21 16:10] steff456 commented on #13347
Hi @texadactyl,
Thanks for reporting, I can reproduce this issue. We will work on fixing this for our next release!

[2020-07-21 16:17] texadactyl commented on #13347
@steff456 Can you recommend the last stable version before 4.1.4?  I need this feature while reviewing VERY UGLY project code.

[2020-07-21 16:20] DanCodigaMWRA commented on #11033
Thank you Carlos for considering ways to enable a fix for this in 4.2.0, including switching away from flake8 if that is what it takes.

However, at the flake8 github site, it claims to be "a wrapper around PyFlakes, pycodestyle, and Ned Batchelder's McCabe script", so I'm unsure if flake8 can just be replaced by pyflakes.

Should the failure of #analysis:ignore or #noqa to work be posted as an is

[2020-07-21 16:26] steff456 commented on #13347
You can try in older versions of Spyder 4, I'm not sure when this feature started to fail.

[2020-07-21 16:27] steff456 commented on #13348
Hi @AndrewAmmerlaan,
Can you please send me the snippet of code which is causing you trouble? I tried to reproduce this with simple plots and it is not presenting any error.

[2020-07-21 16:28] texadactyl commented on #13347
I was hoping for a precise version number.  Anyone nearby you using an older Spyder version or is everyone using 4.1.4?

[2020-07-21 16:35] #13250 closed

[2020-07-21 16:46] dalthviz commented on #13297
@ccordoba12 @DanCodigaMWRA checking with Python 3.7.6 and conda-forge packages the hover hints worked. Just in case the packages list of the testing env created are:

<details>

[code]

</details>

[2020-07-21 17:00] steff456 commented on #13345
Hi @skjerns,
Right now we are working hard with a designer to improve a lot of the UI/UX for Spyder 5. We are taking feedback as well from users, so please feel free to open a PR with your ideas, if you could include some mockups of a minimalistic design will be great!

[2020-07-21 17:02] AndrewAmmerlaan commented on #13348
[simil-deltaomega.zip](https://github.com/spyder-ide/spyder/files/4954978/simil-deltaomega.zip)

This is rather large, sorry about that. I've experienced this issue both with `plotter2` and `plotter3`. It also occurs when I comment out the 3d plots.

This is a simulation of the quantum oscillations in InSb and the effect they have on the frequency, phase and amplitude of a oscillating cantilever.

[2020-07-21 17:07] steff456 commented on #13210
@riodda, sorry to hear that you lost some of your environments, I thought I was explicit enough in the comment above. You will need to add the channels from which you want to download the versions of each package, please remember to don't mix pip and conda because you can get your spyder broken again. I'm going to share with you this video, https://www.youtube.com/watch?v=Ul79ihg41Rs&t=1s, that ho

[2020-07-21 17:07] #13210 closed

[2020-07-21 17:08] steff456 commented on #13289
I'm closing this issue because there was no follow up response after a week.

[2020-07-21 17:08] #13289 closed

[2020-07-21 17:10] steff456 commented on #13347
@ccordoba12 please take a look at this one :)

[2020-07-21 17:13] ccordoba12 commented on #11033
Sorry if I was not clear enough in my previous answer. Right now we're using Pyflakes for linting, which doesn't support the `#noqa` convention (as far as we know). So that's why we're considering to switch to Flake8 for 4.2.

[2020-07-21 17:17] texadactyl commented on #13347
Fell back to 4.0.1.
No worries.

[2020-07-21 17:17] #13144 closed

[2020-07-21 17:25] ccordoba12 commented on #13336
This is not correct because you're mixing pip and conda packages, and that's what's probably making the kernel crash. Please create a new environment, install tensorflow with conda and try again.

[2020-07-21 17:35] steff456 commented on #13348
I'm seeing that your script is generating 8 plots, I generate them using multiple configurations of the backend of spyder and the command line, and all of them are laggy. I will recommend you to only generate and visualize one plot at the time for now, 3d plots are tricky to generate and visualize. Also, please report this issue in matplotlib, https://github.com/matplotlib/matplotlib, to see if th

[2020-07-21 17:35] #13348 closed

[2020-07-21 17:44] AndrewAmmerlaan commented on #13348
I understand that the plots are rather resource heavy, but the thing is that this is laggy *only* when running it with spyder for me. There is a *significant* performance difference between running the script through spyder, and running the script directly from a terminal. Have you tried running the script from a terminal? Did you notice a difference? Are you able to save a plot through the plotti

[2020-07-21 17:49] ccordoba12 commented on #13346
I can't reproduce this on Linux. @dalthviz, could you try it on Windows?

[2020-07-21 17:50] DanCodigaMWRA commented on #11033
Ok yes d'oh! You wrote it correctly, I read it backwards (and had forgotten the title of this entire issue), sorry.

So it would be a switch to flake8 from pyflakes. I'm not knowledgeable about linters (let alone linters that spyder could integrate) but some quick superficial searching suggests that if pylint was an option it might be worth considering too. Thanks again.

[2020-07-21 17:51] ccordoba12 commented on #13348
@AndrewAmmerlaan, I think your problem is related to https://github.com/ipython/ipykernel/issues/528. We're looking into it right now.

[2020-07-21 17:52] DanCodigaMWRA commented on #13297
Yes I created my environment using 3.7 this time instead of 3.6, no other changes, and found that so far I am not getting the hover hints error in Spyder 4.1.4. That's progress for me. Thank you.

[2020-07-21 17:56] OverLordGoldDragon commented on #13336
@ccordoba12 I understand it's not recommended to do so, but some necessary packages are unavailable with Anaconda and I've been using pip for a long time; currently conda supports only up to TF 2.1.0 on Windows. This same install (and much more pip's) worked fine with Spyder 4.1.3. I'm fine downgrading, but [unsure how](https://github.com/spyder-ide/spyder/issues/13329).

[2020-07-21 18:01] AndrewAmmerlaan commented on #13348
@ccordoba12 Thank You, downgrading to ipykernel-5.3.2 fixed my problems :smile:

[2020-07-21 18:03] ccordoba12 commented on #11033
We're also considering to add support for Pylint, but as an advanced linter because it usually requires a config file to be usable (it lints way too many stuff).

[2020-07-21 18:07] ccordoba12 commented on #13297
@dalthviz, could you check what happens if you use Python 3.6 and Spyder 4.1.3?

[2020-07-21 18:10] ccordoba12 commented on #13336
You can create a new env with

    conda create -n my-env spyder=4.1.3

[2020-07-21 18:12] CAM-Gerlach commented on #13250
Hey @DiegoF90 , did you manage to resolve your problem? Just checking in, thanks!

[2020-07-21 18:17] #7844 closed

[2020-07-21 18:18] jorsolis opened #13349 "_start_server() missing 1 required positional argument: 'port'"
## Description

### What steps will reproduce the problem?

I don't know, i just close the program once and it started again like this

### Traceback
[code]

## Versions

* Spyder version: 3.3.1
* Python version: 3.7.0
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Linux 4.15.0-99-generic

### Dependencies

[code]

[2020-07-21 18:18] #13349 closed

[2020-07-21 18:28] dalthviz commented on #13346
I was unable to reproduce this, however seems like some how the empty path send when calling the open action is being use to respond to the notification of the workspace change, maybe @andfoy could have an idea of what this could be happening? (maybe is some sort of race condition?)

Also, seems like this a duplicate of #13338 and #12967 . In the case of #13338 a restart helped

[2020-07-21 18:44] gussmith commented on #8952
Thus, what is the installation to follow with conda?
Only pip installation is provided, yet I cannot seem to find a conda install.

[2020-07-21 18:47] dalthviz commented on #13297
Checking with Python 3.6.10 and Spyder 4.1.3 the hover hints work. Just in case the env was created with `conda create -n cforge36 -c conda-forge python=3.6 spyder=4.1.3` and the installed packages are the following:

<details>

[code]

</details>

[2020-07-21 18:47] ccordoba12 commented on #13338
Closing as a duplicate of #13346.

[2020-07-21 18:47] #13338 closed

[2020-07-21 18:49] ccordoba12 commented on #12967
Closing as a duplicate of #13346.

[2020-07-21 18:49] #12967 closed

[2020-07-21 18:51] dineshbvadhia opened #13350 "Sliding bar for multiple open files"
ENHANCEMENT REQUEST

"Fast Switch Between Files" and "Browser Tabs" are available for navigating across multiple open files but both options require a mouse touch to list the open files and then a select mouse touch on the required file.

A thin sliding bar across the editor window below the multiple open files will make it much easier to navigate to the required file.

[2020-07-21 18:52] CAM-Gerlach commented on #13347
@texadactyl thanks for your help and diligence troubleshooting and reporting this issue, and sorry no one else answered your repeated question. This behavior appears to be a side effect of a number of recent improvements to the Code Analsyis for 4.1.4, so downgrading to 4.1.3 for now should resolve it. I use Code Analysis extensively in that version and previous, and have never run into this issue

[2020-07-21 18:55] ccordoba12 commented on #13346
Thanks @dalthviz for the feedback. I have two comments about this:

1. Issue #12967 shows that the problem was present before 4.1.4.
2. Although we can't reproduce this on our side, the solution is simply validating that the project's path is not None when trying to open a project.

[2020-07-21 19:00] ccordoba12 commented on #13297
Ok, thanks @dalthviz for the confirmation. I think I know what's happening in this case.

[2020-07-21 19:08] texadactyl commented on #13347
and fell forward to 4.1.3!  (=:

If you want a guinea pig for a testing branch, let me know.

[2020-07-21 19:10] texadactyl commented on #13347
@CAM-Gerlach  Hey its all good.  I'm a developer too and have been on the perpetrator side and the victim side of bugs for decades.  It's all part of the excitement.

[2020-07-21 19:19] mrclary opened #13351 "Some issues with Spyder projects and the workspace functionality in the PyLS"
## Problem Description

When launching Spyder with a previously open project, jedi settings are not passed to the python language server workspace. This may result in incomplete or failed command completions.

### What steps reproduce the problem?

1. launch Spyder (bootstrap) with a previously open project from an environment without a desired package (e.g. matplotlib) but have a different iPytho

[2020-07-21 19:33] gussmith commented on #8952
@ccordoba12

Thus, what is the installation to follow with conda?
Only pip installation is provided, yet I cannot seem to find a conda install for PyQTWebEngine.
Please advise.Thank you!

[2020-07-21 20:09] mouslm01 opened #13352 "An error ocurred while starting the kernel"
## Description

### What steps will reproduce the problem?

run spyder3 in Terminal

In Kernel console:

The error is:

Traceback (most recent call last):
File "/home/majed/.local/lib/python3.8/site‑packages/spyder/plugins/ipythonconsole/plugin.py", line 1223, in create_kernel_manager_and_kernel_client
kernel_manager.start_kernel(stderr=stderr_handle)
File "/home/majed/.local/lib/python3.8/site‑pa

[2020-07-21 20:18] mouslm01 commented on #13352
Still the problem not solve

[2020-07-21 23:50] cri-fri commented on #13341
Yes, thanks Gonzalo!

Best,
C.

On Mon, Jul 20, 2020 at 10:34 AM Gonzalo Peña-Castellanos <
notifications@github.com> wrote:

[2020-07-21 23:53] steff456 commented on #13350
Hi @dineshbvadhia,
Can you please open a PR with a mockup of your idea? In that way we can discuss it and see if it will be a good fit for Spyder 5.

[2020-07-21 23:55] gussmith commented on #6990
@JDYG

Thanks for the post, I had been looking for a solution to run Spyder inside a docker container based on NVIDIA Pytorch.
Unfortunately I followed all the steps listed, including downloading the docker pytorch/pytorch image, and I still get the error,
in addition to a missing library, which I will search:

$ spyder
Traceback (most recent call last):
  File "/opt/conda/lib/python3.7/site-packa

[2020-07-22 01:17] nicklandreth73 commented on #4409
How is this not already a feature? Why even design an IDE without autosave?

[2020-07-22 01:20] seamusglynn opened #13353 "problem on start up of spyder from anaconda navigator"
## Description

### What steps will reproduce the problem?

happened on start up of program of spyder from anaconda navigator

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-22 01:20] #13353 closed

[2020-07-22 02:02] ccordoba12 commented on #4409
This is already solved in Spyder 4. Please update.

[2020-07-22 04:58] qedseung opened #13354 "annoying popup"
## Description

### What steps will reproduce the problem?

this popped up when dragging and dropping a file into spyder.
But keeps popping up after closing the issue reporter, even when completely idle.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.6.5
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-22 07:10] dasdebashish17 commented on #13342
Hi,

Awaiting your reply.

Thanks & Regards,
Debashish

[2020-07-22 07:59] likenji opened #13355 "FATAL BUG: Pasting a certain code snippet into Spyder would crash the IDE."
### Issue Report Checklist

* [ T] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ T] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [T ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not

[2020-07-22 08:34] aliaxonbaig opened #13356 "Can't open different files in different split panels"
## Description

### What steps will reproduce the problem?

Unable to open different files in different horizontal or virtrical editor panels, they act as connected mirrors, Do one operations in one pannel, same is replicated in second and vice versa.

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Depende

[2020-07-22 08:39] Marouf20 opened #13357 "Breaking Installation"
## Description

### What steps will reproduce the problem?

Previous Spyder installation is breaked after using pip command to install pydot and graphviz

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.6.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-22 08:39] #13357 closed

[2020-07-22 09:24] gussmith commented on #11538
Same here.
I updated to latest conda and latest spyder (spyder-4.1.4). I can run local files onto a remote kernel, here a docker container (NVIDIA PyTorch).
The Variables Explorer shows the variables when using the local IPython console, but not when using the remote console on the docker container. Real bummer, that functionality is really useful. Thanks.

[2020-07-22 11:47] liavassif opened #13358 "Go to definition not working on local packages"
### Issue Report Checklist
* [X ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [X] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [X] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-07-22 12:31] Santoshreddy01 commented on #13344
Hi
I installed using pip install pyspark

On Tue, Jul 21, 2020 at 9:29 PM Stephannie Jimenez Gacha <
notifications@github.com> wrote:

[2020-07-22 13:35] DiegoF90 commented on #13250
Hi @CAM-Gerlach, many thanks for your support and not giving up on the issue. I actually did not manage to make it work but just decided to build my own shortcut as a workaround.
For completeness to address your questions above:

- The Spyder shortcut from root runs without problems. I also saw realized that it is not an Spyder 4 issue since installing a new env with Spyder 3 has the same issue.
-

[2020-07-22 14:52] danhamill commented on #12367
I also have this problem on windows 10.0.17134 Build 17134

[code]

[2020-07-22 15:37] ccordoba12 commented on #13357
Please see [our video](https://www.youtube.com/watch?v=Ul79ihg41Rs) to understand how to fix your problem due to mixing pip and conda.

[2020-07-22 15:44] #12795 closed

[2020-07-22 16:09] #13356 closed

[2020-07-22 16:10] aliaxonbaig commented on #13356
Maybe its default behavior to move files in all panels. I realized same behavior is there in the latest version of Spyder.
Thanks

[2020-07-22 16:42] dalthviz commented on #13358
Hi @liavassif thanks for the feedback. I was unable to reproduce this using Python 3.7. As a workaround, if you want to use Spyder 4.1.4, could you try to install Spyder in an env with Python 3.7?

I think that this could be caused do to the update to jedi 0.17 in our dependencies (I think it doesn't totally support python 3.6 well). What do you think @ccordoba12 ?

[2020-07-22 16:46] dalthviz commented on #13355
Hi @likenji could you try to update to our latest version and try again? Seems like you are using Spyder 4.0.1, the latest version is 4.1.4. You can do this by running:

* If you are using Conda; `conda install spyder=4.1.4`
* If you are using Pip : `pip install -U spyder`

I checked with our latest version and I was unable to reproduce this.

Let us know if the update helps. Thanks!

[2020-07-22 16:55] dalthviz commented on #13354
Hi @qedseung seems like this is a duplicate of #13297 I'm closing this one but I think I managed to replicate this! As a work around please disable Kite completions from the preferences dialog (`Tools > Preferences > Completion and linting > Advanced > Enable Kite`)

[2020-07-22 16:55] #13354 closed

[2020-07-22 16:57] dalthviz commented on #13297
Checking a little bit more seems like disabling Kite completions from the preferences dialog (`Tools > Preferences > Completion and linting > Advanced > Enable Kite`) prevents triggering the error.

[2020-07-22 17:37] ccordoba12 commented on #13350
Or posting an image of what you have in mind would be fine too.

[2020-07-22 17:47] ccordoba12 commented on #13352
Hey @mouslm01, did you install Spyder in the Windows Subsystem for Linux?

[2020-07-22 18:06] dalthviz commented on #13352
Also, @mouslm01 seems like you have a mixed installation of pip (--user installed) packages and anaconda. Probably you will need to remove the local packages installed at `/home/majed/.local/lib/python3.8/site‑packages/` to prevent mixing them with the conda env your trying to setup.

Let us know if that help :)

[2020-07-22 18:16] ccordoba12 commented on #13297
Thanks a lot @dalthviz for finding the cause of this! What do you think we could do to solve it?

[2020-07-22 18:24] dalthviz commented on #13297
Probably we need to add handling to the Kite response for hovers (maybe there was a change and now they are returning a list?). Also, just in case, the Kite version I'm using is `1.2020.720.0`

[2020-07-22 19:41] steff456 commented on #13344
Please check if you installed the package in the correct environment. Also you can try to install pyspark with conda via the conda-forge channel, `conda install -c conda-forge pyspark`. Let me know if that works for you

[2020-07-22 21:06] ccordoba12 commented on #13297
Yeah, I was thinking the same.

[2020-07-22 21:09] CAM-Gerlach commented on #13250
That was actually what I was about to suggest, if all else failed, since given your technical skill level I figured it would be a pretty easy task for you even without my help.

Its possible that a later version of conda/menuinst/etc fixes this, if you can get it updated; I know there have been some improvements on this in the past couple years. Not sure how old your environment is.

Me neither, I

[2020-07-22 21:10] CAM-Gerlach commented on #13347
Hahaha yeah, it certainly gives some some perspective working both! Even as a Spyder developer but also a heavy Spyder user I see both sides of it, heh.

We'd be happy to have your help! @steff456 @ccordoba12 make sure you tag both of us on the PR, as I'd like to do the same. Thanks!

[2020-07-22 21:15] texadactyl commented on #13347
As a *tester*, yes.  I am up to my eyeballs in SETI development projects.

On Wed, Jul 22, 2020 at 4:11 PM CAM Gerlach <notifications@github.com>
wrote:

[2020-07-22 21:50] CAM-Gerlach commented on #13347
@texadactyl Yep, that's the plan.

Sounds like some really cool work you're doing, by the way!

[2020-07-23 02:51] arteagac commented on #7196
Hi @bcolsen and @ccordoba12,
I could give this one a try if you guys agree.

[2020-07-23 04:57] isabela-pf commented on #13181
Thanks everyone for the great feedback! I'm always glad to see people analyzing the strengths and weaknesses of a design and offering more ideas. I look forward to hearing what you have to say next.

Following the focus of option 3-1, this next round of logos are centered around spider webs and (I really like what @CAM-Gerlach  said about them) and Spyder’s emphasis on panes. Because panes are rec

[2020-07-23 06:36] liavassif commented on #13358
I've tried a new env with Python 3.7.7. Still does not work.
I'm not using any project in Spyder. Could this be relevant?

## Versions

* Spyder version:  4.1.4
* Python version: 3.7.7
* Qt version: 5.9.7
* PyQt version: 5.9.2
* Operating System name/version: Linux 3.10.0

### Dependencies
[code]

[2020-07-23 09:12] colt18 opened #13361 "Drag drop a pickle file to variable explorer"
## Description

### What steps will reproduce the problem?

Dragging and dropping a previously saved pickle file to variable explorer throws this error. I don't know even if spyder allows us to do like drag and drop files to variable explorer as in matlab.

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating Syst

[2020-07-23 09:15] 33RoboTcan opened #13362 "The arrow indicates indent？"
## Problem Description
After i make the Indent Line visible

My tab is "...",but the code that i copy is "->"，if i want to make some change,it must be "...",and consle will show "IndentationError: unindent does not match any outer indentation level".
So I want to know if spyder have any function can change "->" to "..."

Thank you!

### What steps reproduce the problem?

maybe this code can have "

[2020-07-23 09:57] Lucurus commented on #13342
Hi team, I have the same `IndexError: pop index out of range` error. If I can help with providing any additional information, feel free to reach out.

Downgrading spyder to 4.1.3 solves the error.

[2020-07-23 10:56] impact27 opened #13363 "Profiler doesn't sort by time"
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-07-23 13:29] mouslm01 commented on #13352
Hi @ccordoba12. I am install spyder and Anaconda in the Ubuntu20.

[2020-07-23 13:33] mouslm01 commented on #13352
Do you mean to remove the whole packages installed at link above?
I tried to remove it by typing:
$ sudo rm /home/majed/.local/lib/python3.8/site‑packages/

but it does not work

rm: cannot remove '/home/majed/.local/lib/python3.8/site‑packages/': No such file or directory

Thanks

Majed

[2020-07-23 13:52] sebassands opened #13364 "Variable do not open"
## Description

### What steps will reproduce the problem?

create the variables

Store the variables

Try to open the variables

### Traceback
[code]

## Versions

* Spyder version: 3.3.2
* Python version: 3.7.1
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-23 13:52] #13364 closed

[2020-07-23 13:53] Tunneller opened #13365 "When Undefined isnt undefined....."
### Issue Report Checklist

* [X] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [X] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [X] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-07-23 16:55] CAM-Gerlach commented on #7196
@arteagac We're always happy for some help! Feel free to go ahead with a PR, and let us know if you have questions. Thanks!

[2020-07-23 17:11] arteagac commented on #7196
Awesome! I'll work on it.

[2020-07-23 17:25] jgrooviest opened #13366 "Crash when switching closing one project and opening another"
## Description

### What steps will reproduce the problem?

Right after closing one project, I tried to open another in a different workspace, and Spyder crashed. I did not have my project view open.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.3
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-23 17:27] jgrooviest commented on #13366
Seems to be the same as Issue #13346

[2020-07-23 17:59] ccordoba12 commented on #13366
Yes, it is. Thanks for noticing it.

[2020-07-23 17:59] #13366 closed

[2020-07-23 18:05] dalthviz commented on #13352
@mouslm01 I think you need to run the `rm` command with the `-r` flag. Also, since you are under your home dir, I think you should not need to run the command with `sudo`. Something like this should work: `rm -r /home/majed/.local/lib/python3.8/site‑packages/`

[2020-07-23 18:12] ccordoba12 commented on #13363
I think this was caused by @juanis2112 changing the symbol for microseconds in 4.1.4.

@juanis2112, please take a look at this one.

[2020-07-23 18:18] dalthviz commented on #13358
Thanks for the response @liavassif actually checking again I'm being able to reproduce this. We will be checking this for a future release :+1:

[2020-07-23 18:28] dalthviz commented on #13358
Note: @liavassif as a workaround you will need to wrap your code base as a project (using the `New Project... > Existing directory`)

[2020-07-23 18:31] dalthviz commented on #13346
Just in case, I was able to reproduce this:

![p](https://user-images.githubusercontent.com/16781833/88324035-b8047400-cce8-11ea-9baf-61a362477f00.gif)

[2020-07-23 19:17] CAM-Gerlach commented on #13181
Hey @isabela-pf , thanks for the additional batch of great logo ideas as well as the kind words! My thoughts on this one are much clearer than that last.

### Option 3-2

I like the web motif and its strong, recognizable and scales well. However, I'm not sure the idea of the square shape being the corner of a pane really comes across clearly even after reading the description, and I didn't even re

[2020-07-23 19:27] eervin123 commented on #8051
Hello all.  I'm not sure if any resolution was made on this. I love the Spyder and everything you all are doing.  I'm a noob so forgive me if I'm cluttering up the message board, but I am experiencing similar issues with this and I thought I could at least share the results in order to help you diagnose the problem.  For reference, I am working with dash (which ultimately runs a flask app).

I'm n

[2020-07-23 19:34] liavassif commented on #13358
This works. Thanks!

[2020-07-23 21:27] bwllc commented on #13343
Thank you @ccordoba12 , that appears to work.

[2020-07-23 22:22] mrclary commented on #12984
@goanpeca would [docrep](https://docrep.readthedocs.io/en/latest/) be useful here?

[2020-07-23 22:24] goanpeca commented on #12984
Hi @mrclary maybe 🙃

[2020-07-23 23:32] bcolsen commented on #7196
@arteagac This is a Spyder wide problem that will happen with every save dialogue on linux not just with the data explorer.  The qt file picker(only used in linux) doesn't support adding extensions to files based on the extension.

To fix it we could:

1. Contribute the feature upstream to qt https://bugreports.qt.io/plugins/servlet/mobile#issue/QTBUG-27186

2. Write a wrapper around the save file

[2020-07-24 00:33] arteagac commented on #7196
Hi @bcolsen, Thank you for such a detailed description of potential fixes for the bug. I think I will start exploring the options 2 and 3 you mentioned and I will let you know how it goes. Thanks again.

[2020-07-24 02:51] CrimsonNightZero opened #13368 "LSP Python broke"
## Description

### What steps will reproduce the problem?

LSP Python keep restarting.LSP Python keep restarting.

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.7
* Qt version: 5.12.9
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-24 03:00] hailin-du commented on #4714
It is been like two years, is the issue resolve yet? Thanks!

[2020-07-24 03:45] andfoy commented on #13368
Hi @CrimsonNightZero, some initialization errors with the PyLS were fixed on Spyder 4.1.4, please update your Spyder using

[code]

Please report here if your errors were fixed

[2020-07-24 03:50] andfoy commented on #13365
Hi @Tunneller, thanks for contacting us. It seems that you have activated the option ``Run in console's namespace instead of an empty one``, found under the menu ``Run -> Configuration per file``. Please make sure to deactivate that option in order to prevent variable mixing across multiple runs.

[2020-07-24 03:54] andfoy commented on #13362
Hi @33RoboTcan, from your screenshots, it seems that your are mixing Tabs (shown as ``→``) with Spaces, which is not allowed in any Python file (even outside Spyder). If you want to use Tabs instead of spaces to indent your code, you can set the option ``Tabulations`` in ``Preferences  → Editor → Source Code → Indentation characters``, otherwise, you'll need to convert your tabs into spaces.

[2020-07-24 03:54] #13362 closed

[2020-07-24 03:56] andfoy commented on #13361
Hi @colt18, thanks for reaching out. Could you please update your Spyder version to 4.1.4 by executing the following instructions:

[code]

After updating, please comment if updating fixes your issue

[2020-07-24 03:58] andfoy commented on #13313
Hi @Phillip-M-Feldman, thanks for commenting back, given that your errors were fixed in 4.1.4 and also by resetting Spyder, I'm going to close this one. Feel free to reopen if the error appears again

[2020-07-24 03:58] #13313 closed

[2020-07-24 04:30] virati opened #13370 "I have no idea what the problem is?"
## Description

### What steps will reproduce the problem?

I don't even realize there's an error, but it says so

### Traceback
[code]

## Versions

* Spyder version: 4.0.0
* Python version: 3.8.3
* Qt version: 5.12.9
* PyQt5 version: 5.12.3
* Operating System: Linux 5.7.9-arch1-1

### Dependencies

[code]

[2020-07-24 04:31] #13370 closed

[2020-07-24 08:17] dpturibio opened #13371 "ENH: add "Insert above/below" options for lists in variable explorer"
## Problem Description

My team works on Spyder integrating our system as a plugin, and we edit some variables using Variable Explorer(specifically lists). Would be very useful to have the option "insert bellow" when you right click on an item, because the "insert" option, inserts the item in the current position. So if you click in the last item and choose insert, variable explorer inserts it in

[2020-07-24 10:11] AZippelius opened #13372 "Error in Ipython console when specifing the Python interpreter for Spyder in the base enviroment"
### Issue Report Checklist

* [ x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not u

[2020-07-24 12:12] Abdou137 opened #13373 "spder encountered a problem"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/usr/lib/python2.7/dist-packages/spyder/widgets/ipythonconsole/client.py", line 259, in stop_button_click_handler
    self.interrupt_kernel()
  File "/usr/lib/python2.7/dist-packages/spyder/widgets/ipythonconso

[2020-07-24 16:18] durack1 commented on #3291
@ccordoba12 @goanpeca thanks folks, 4.1.4 works a treat!
![Screen Shot 2020-07-24 at 9 17 37 AM](https://user-images.githubusercontent.com/3229632/88412528-96f65e80-cd8e-11ea-8cab-77b57e1234d9.png)

[2020-07-24 18:09] rochakjain361 opened #13374 "Assertion Error while opening Spyder."
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\Users\Rochak Roopesh Jain\new\anaconda3\envs\venv\lib\site-packages\spyder\plugins\__init__.py", line 511, in <lambda>
    toggled=lambda checked: self.toggle_view(checked),
  File "C:\Users\Rochak Roopesh J

[2020-07-24 18:29] juanis2112 commented on #13371
Thanks for opening this issue @dpturibio! It sounds like a great idea. Would you be interested in opening a pull request with these changes o would you want someone from the team to do it?

[2020-07-24 18:44] juanis2112 commented on #13373
Hi @Abdou137, thanks for opening this. I will need more information in order to provide assistance. Can you let me know what steps reproduce this problem?
However, I noticed you are using an old version of Spyder. You can upgrade to our last version using:
[code]

[2020-07-24 18:52] juanis2112 commented on #13374
Hi @rochakjain361. You are using an old version of Spyder. Please upgrade to our last version typing in your anaconda prompt:
[code]

[2020-07-24 20:31] lorenzznerol commented on #10993
Hi @ccordoba12, the linting still does not work in version 4.1.4, see
https://stackoverflow.com/questions/59250636/how-to-turn-on-off-code-analysis-features-in-spyder-4/62519212#62519212 again for some screenshots. Code completion works.

[2020-07-24 20:33] matheger commented on #13342
Same problem here.

spyder 4.1.4
python 3.83
qt 5.9.7
pyqt 5.9.2

[2020-07-25 00:35] dpturibio commented on #13371
Thank you for the prompt reply @juanis2112 , I will open a pull request and link with this issue.

[2020-07-25 02:05] ccordoba12 opened #13378 "Some problems with the Find plugin in master"
After merging PR #13376 I found the following problems with the Find plugin in master:

* The `Find in Files` action in the `Search` menu does nothing when Spyder is started with clean settings. That's because now it's associated to the `Search` button in its toolbar:

    ![Selección_005](https://user-images.githubusercontent.com/365293/88446283-4d3d6080-cdee-11ea-8a9d-40e992ccaf48.png)

   So it

[2020-07-25 03:01] ccordoba12 commented on #10993
@lorenzznerol, I saw that you said it happens after a long time. That seems really hard to reproduce, and you have to restart the Language Server from the status bar to get things back to life.

So unless you give us a way to reproduce the bug, I'm afraid there's nothing we can do about that, sorry.

[2020-07-25 04:21] athompson673 commented on #13158
@ccordoba12 I ended up having to add a little bit to make the tests all pass for the PR. Hopefully this can get added to 4.2.0 :)
also don't mind the duplicate account. IDK how that happened, but I need to figure out how to delete the extra one.

[2020-07-25 04:57] impact27 commented on #1941
Is this still a bug? I never noticed that and am unable to reproduce.

[2020-07-25 05:51] lorenzznerol commented on #10993
@ccordoba12 yes, the issue appeared after quite some time in the one file - call it file1, but I was working on file2 all the time. I had not done anything more than changing slightly 3 lines here, commenting out 2 of them:

[code]
I commented 2 code lines during some testing, and then only the errors appeared. That is why it may be reproducible.

The strange thing is that the comment signs were s

[2020-07-25 07:30] lorenzznerol opened #13381 "Spyder 4.1.4: Linting not working, intentation bug"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-07-25 07:32] lorenzznerol commented on #10993
I have opened a new issue only for version 4.1.4, as the code completion works now and it seems to be a different problem now with indentation toggling ctrl+1.
https://github.com/spyder-ide/spyder/issues/13381

[2020-07-25 07:57] bouillonbaptiste opened #13382 "having troubles with "Restart kernel" in IPython console"
## Description

### What steps will reproduce the problem?

Just upgraded from `spyder 4.1.3` to `spyder 4.1.4`

## case 1

[code]

right click `Console 1/A` in IPython console then `Restart kernel`.
It's working (indeed much slower than with `spyder 4.1.3`)

## case 2

[code]
right click `Console 1/A` in IPython console then `Restart kernel`.
It's not working anymore, even after waiting 10 mins.

[2020-07-25 08:39] hashPhoeNiX opened #13383 "Opening notebook"
## Description

### What steps will reproduce the problem?

* Right clicked on the Notebook page
* Click **Open**
* Select a notebook from the file explorer

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Linux 4.15.0-72-generic

### Dependencies

[code]

[2020-07-25 11:28] hpfmn commented on #12990
Same problems here on Linux. Spyder messes with my custom set environment variables and destroys Qt's per screen scaling. It works as expected if commenting out this code:
https://github.com/spyder-ide/spyder/blob/bbefcebd48a93cd08f2f17be86d3ce7478e5130f/spyder/app/start.py#L98

It should probably check if the enviroment variables are set before overwriting them. I could create a PR for that.

[2020-07-25 11:32] rds1712 opened #13384 "trouble opening up the application"
## Description

### What steps will reproduce the problem?

Installing the latest version of spyder
caused errors while launching the application. I had to downgrade to previous version for Spyder

### Traceback
[code]

## Versions

* Spyder version: 4.0.0
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 19.5.0

### Dependencies

[code]

[2020-07-25 11:58] CrimsonNightZero commented on #13368
Already update Spyder.

Error message:

(base) C:\Users\micke>spyder
Traceback (most recent call last):
  File "C:\Users\micke\anaconda3\Scripts\spyder-script.py", line 10, in <module>
    sys.exit(main())
  File "C:\Users\micke\anaconda3\lib\site-packages\spyder\app\start.py", line 205, in main
    mainwindow.main()
  File "C:\Users\micke\anaconda3\lib\site-packages\spyder\app\mainwindow.py", lin

[2020-07-25 14:50] nerohmot commented on #13288
Ok, it is confirmed that there is no feedstock of `pyqt5-sip`, `pyqtchart` or `pyqtwebengine`.
It is also confirmed that `conda`, when he doesn't find the packages in the available channels (in my case only `conda-forge`) it **will** try to pull them in from `PyPi` !!!

<details>

[code]

</details>

So, some dependencies of spyder=4.1.4 require these packages (no idea how to check which one).
It

[2020-07-25 16:09] dalthviz commented on #12990
Hi @hpfmn thanks for the feedback! we set the env vars using the values in the preferences

![image](https://user-images.githubusercontent.com/16781833/88461223-528ac180-ce67-11ea-8d85-c29f836b941b.png)

but maybe, as you suggest, we need to handle the case where these values are being set outside Spyder, @ccordoba12 what do you think?

[2020-07-25 17:13] ben050228 commented on #13340
@goanpeca Yeah I have checked that the problem is not a Spyder issue, it may be something wrong about the Pyspark. Thank you for your feedback.

[2020-07-25 19:06] mshariful opened #13385 "spyder 4.1.4 does not stat"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-07-25 21:49] zhzft opened #13386 "aaaaaaaaaaaaaaa"
## Description

### What steps will reproduce the problem?

aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

### Traceback
[code]

## Versions

* Spyder version: 3.3.1
* Python version: 3.7.0
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-25 21:50] #13386 closed

[2020-07-25 21:54] hsauro commented on #10893
The bug is still present in spyder Spyder 4.1.3. Go to tool->preference->appearance and change the font size under plain text, hit apply button and the following error appears (running on Windows 10)

  File "C:\Tellurium-Winpython-3.7\python-3.7.7.amd64\lib\site-packages\spyder\preferences\configdialog.py", line 236, in button_clicked
    configpage.apply_changes()
  File "C:\Tellurium-Winpython-

[2020-07-25 22:43] kaleb-keny opened #13387 "Error When Hovering"
## Description

### What steps will reproduce the problem?

Usually when I hover over a certain word in the code I tend to get this often. Although I am not sure what piece of code as it just appears out of nowhere.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.4
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-26 00:17] kai3341 commented on #12934
Has the same error. Rebuilding `venv` solved it.

[2020-07-26 01:46] #13340 closed

[2020-07-26 01:48] goanpeca commented on #13340
Hi @ben050228, hope you can solve the issue. Cheers!

[2020-07-26 03:06] jsh9 commented on #11150
I upgraded Spyder to 4.1.4, and this issue is solved.  Thank you, Spyder developers!

[2020-07-26 04:08] jnsebgosselin commented on #10893
I think this is not the same bug as the one originally reported in this Issue. Please open a new bug report.

[2020-07-26 07:00] dbau-igenomix commented on #12934
Hi @steff456,

Great work! Problem fixed now :)

Thanks a lot,
Davide

[2020-07-26 07:59] robwarm opened #13388 "BrokenPipeError when trying to connect to the Pydoc server"
## Description

### What steps will reproduce the problem?

Went into preferences-> appearance to incresae font size. changed from 9 to 10, pressed apply. ok. changed from 10 to 11, pressed apply. got this issue reporter screen

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.15.0
* PyQt5 version: 5.13.2
* Operating System: Linux 5.7.9-1-default

[2020-07-26 10:20] dknm commented on #9302
it's still an issue with Spyder 4.1.4

your code worked a treat - thanks @Christian-Moore

[2020-07-26 10:37] TieuMinhChau opened #13389 "Plot Windows slowly respond"
## Description

### What steps will reproduce the problem?

1. Set Graphics Backend to Automatic
2. Plot any figure, for example, run this script

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

fig, ax = plt.subplots()
ax.plot([1, 2, 3, 4], [1, 4, 2, 3])
ax.plot([1, 2, 3, 4], [1, 2, 3, 4])

3. The plotted figure window slowly responds. Try to drag the window, click any but

[2020-07-26 11:03] nerohmot commented on #13288
Let me correct myself, we **don't need** feedstocks for those 3 packages ... (cfr: https://github.com/conda-forge/staged-recipes/pull/12219#)

[2020-07-26 13:27] MBBarden opened #13390 "Timeout while waiting for comm port"
## Description

### What steps will reproduce the problem?

This seems to occur whenever I launch spyder from anaconda

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.0
* Qt version: 5.12.5
* PyQt5 version: 5.12.3
* Operating System: Darwin 19.5.0

### Dependencies

[code]

[2020-07-26 13:27] #13390 closed

[2020-07-26 14:46] ccordoba12 commented on #11150
I'm really glad to hear this issue is finally solved for you.

[2020-07-26 15:35] ccordoba12 commented on #13389
Please update to ipykernel **5.3.4**. Your problem should have been fixed in that version.

[2020-07-26 15:45] ccordoba12 commented on #13288
@nerohmot, could you post a detailed, step-by-step description of how you're creating your s4 environment? Please start from the very beginning, i.e. from the exact Miniforge you're downloading and installing.

[2020-07-26 15:50] ccordoba12 commented on #9302
I'm very sorry for jus answering to your question now. I just missed your message. I'm still not sure, but probably there won't be because your change only applies to Spyder.

[2020-07-26 15:54] ccordoba12 commented on #9302
@steff456, please create a pull request with @Christian-Moore's suggestion on this feedstock: https://github.com/conda-forge/python.app-feedstock (don't forget to ping on it too).

Then we'll inform the Anaconda team that they need to apply that patch to their `python.app` package as well.

[2020-07-26 15:58] ccordoba12 commented on #12990
If you're referring to add a check in the `else` part of the code you referenced above, then I agree with add a check to see if those variables are set before overwriting them.

[2020-07-26 16:29] ocroquette opened #13391 "Qt libraries (DLLs) always loaded in IPython"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-07-26 16:29] ccordoba12 commented on #13387
@kaleb-keny, thanks for reporting. This is a duplicate of #13297.

[2020-07-26 16:29] #13387 closed

[2020-07-26 16:33] ccordoba12 commented on #13368
Please close Spyder, open the Anaconda Prompt and run there

    spyder --reset

and try again. That should fix your problem.

[2020-07-26 16:38] ccordoba12 commented on #13385
@mshariful, thanks for reporting. It seems your Anaconda installation became corrupted after you tried to update to Spyder 4.1.4.

Please see [our video](https://www.youtube.com/watch?v=Ul79ihg41Rs) on how you can fix that problem.

[2020-07-26 16:38] #13385 closed

[2020-07-26 16:57] ccordoba12 commented on #13391
This happens because we are patching `QApplication` in order to allow people to run Qt apps multiple times in our consoles:

https://github.com/spyder-ide/spyder-kernels/blob/46e2c1b583f7cd8190795f8d189be58da7f6667e/spyder_kernels/customize/spydercustomize.py#L147-L183

I really don't get this part. How is your component supposed to work if it doesn't import the PyQt libraries present in the Pytho

[2020-07-26 17:00] stonebig commented on #12829
In waiting for this to happen, could you suppress the constaint "pyqt5<5.13", for pip users ?

[2020-07-26 17:07] ccordoba12 commented on #13391
@impact27, I think @ocroquette expectations are correct in the sense that if "Activate support" is off, we should not patch `QApplication` on our side. Otherwise, use cases like his are not feasible in Spyder.

What do you think?

[2020-07-26 17:17] mingwandroid commented on #12829
It's quite a big job but I'm working on it. Not for the next few days though, I'm celebrating... Anyone is welcome to help out. The work is happening on AnacondaRecipes qt-feedstock in the master branch. A great deal of things build. Windows is nearly complete, for example and webengine compiles to a large extent on other platforms.

[2020-07-26 19:33] rochakjain361 commented on #13374
I tried both commands. But it was not working still, so built a new environment and then manually installed all the packages now it is working fine. Thanks for the response @juanis2112

[2020-07-26 19:33] #13374 closed

[2020-07-26 20:53] mrclary commented on #13351
I've noticed some other idiosyncrasies:
* After closing a project, the class and function selector in the editor stops working, requiring closing and reopening a document.
* When adding a split window in the editor, the class and function selector does not work in the second pane, requiring closing and reopening the document.
* The completion of supposedly preloaded modules is still slow, particul

[2020-07-26 21:01] viniciusbrei opened #13394 "How to render markdown files in Spyder 4? I have not found any instructions."
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-07-26 21:06] ocroquette commented on #13391
Thanks for the quick feedback.

The 3rd party component is not using PyQt. Actually it doesn't have anything to do with Python. I am loading it with ctypes.

[2020-07-26 21:10] ccordoba12 commented on #13394
We don't render markdown files in Spyder at the moment, sorry.

[2020-07-26 21:10] #13394 closed

[2020-07-26 22:12] CrimsonNightZero commented on #13368
Spyder --reset is work.
LSP Python status is down.

<img width="252" alt="擷取" src="https://user-images.githubusercontent.com/31186669/88490714-1f177680-cfd0-11ea-9988-4e71b3bed30e.PNG">

[2020-07-27 00:16] ccordoba12 commented on #13368
That's most probably caused by installation issues on your side. Please see [our video](https://www.youtube.com/watch?v=Ul79ihg41Rs) to learn how to fix them.

[2020-07-27 00:44] ccordoba12 commented on #13351
Thanks for your help @mrclary! At least all the bugs you found have a workaround in the current version.

[2020-07-27 00:48] ccordoba12 commented on #13374
@rochakjain361, glad you were able to solve your problem. For next time, please consider taking a look at [our video](https://www.youtube.com/watch?v=Ul79ihg41Rs) to learn how to solve these issues.

[2020-07-27 01:26] TieuMinhChau commented on #13389
Thanks! I re-installed Spyder. This perhaps made the ipykernel updated. My problem has been fixed.

[2020-07-27 01:26] #13389 closed

[2020-07-27 06:18] nerohmot commented on #13288
Ok, so I thought : "let's remove these 3 'pip' packages, and see what else is removed"

<details>

[code]

</details>

no such luck ... apparently the 3 packages are not installed in the first place ... :angry: I don't get what `conda` is doing !

OK, next idea: "I `pip install` the 3 packages, and then `conda remove` them and see what else (the guilty packages) is removed.

[code]
what is it now,

[2020-07-27 06:21] impact27 commented on #13391
Sounds reasonable, but this is not related to matplotlib support, so either we disable the patching entirely, or we add another option.

[2020-07-27 06:27] rochakjain361 commented on #13374
@ccordoba12 Thanks a lot. I will surely refer this before reporting error directly.

[2020-07-27 07:42] mshariful commented on #13385
Thank you so much for your support. I removed spyder ( using conda remove ) and then I conda update --all
It solved the problem. :-)
Have a nice day! Ciao, Sharif

[2020-07-27 08:50] wwxixi opened #13397 "error"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "D:\Anaconda\envs\tensorflow\lib\site-packages\spyder\widgets\variableexplorer\collectionseditor.py", line 455, in createEditor
    if not editor.setup_and_check(value, title=key, readonly=readonly):
  File "D:\

[2020-07-27 08:50] #13397 closed

[2020-07-27 11:44] OverLordGoldDragon commented on #13329
No straightforward way to do it, as suggested by a maintainer's [comment](https://github.com/spyder-ide/spyder/issues/13336#issuecomment-662022370). Install in a fresh env, or uninstall enough packages until conda allows you to install 4.1.3 (not easy).

[2020-07-27 11:44] #13329 closed

[2020-07-27 14:58] ccordoba12 commented on #13381
@lorenzznerol, thank you for all the detail, but (as I mentioned in StackOverflow and also on issue #10993), we need a simple and reproducible way to generate your problem. That's what (after many months of going in circles) @OverLordGoldDragon did for us two months ago, which led to a lot of improvements in linting and code completion in 4.1.4.

In the meantime, please select the entry shown afte

[2020-07-27 16:52] goanpeca commented on #13378
See https://github.com/spyder-ide/spyder/pull/13398

See https://github.com/spyder-ide/spyder/pull/13398

That is how Qt works and is meant to be used. See https://doc.qt.io/qt-5/qaction.html

I would not recommend it. Doing the way it is now, reduces work everywhere for users and developers. Anyway, see https://github.com/spyder-ide/spyder/pull/13398 which already fixes the issue.

[2020-07-27 16:54] ccordoba12 commented on #13391
Ok, what name do you have in mind for another option? And where should we put it?

[2020-07-27 16:55] jaxankey opened #13399 "Very slow qt widgets in Spyder ipython console."
## Problem Description

Today, after a conda update (and then a full Anaconda reinstall), my QtWidgets have become incredibly slow when launching from the spyder ipython console, taking a second or so to update when I click around. This never was the case before. By contrast, executing in a system terminal with the default python (or ipython), it is all the usual level of fast and responsive.

###

[2020-07-27 17:06] ccordoba12 commented on #13399
Hi @jaxankey, thanks for reporting. Please update to ipykernel 5.3.4, that should fix your error.

If that version is not yet available in Anaconda, please downgrade to 5.3.2.

[2020-07-27 17:25] jaxankey commented on #13399
Perfect, thank you! I hope someone is leaning on Conda about this...

[2020-07-27 17:25] #13399 closed

[2020-07-27 17:37] ropinheiro commented on #13024
I noticed that this also happens when I execute this:

`conda install pytorch torchvision cpuonly -c pytorch`

So maybe this is an Anaconda issue, not a Spyder one?

What is the best way to "move" this issue to the Anaconda's Github?

[2020-07-27 18:14] ccordoba12 commented on #13024
@ropinheiro, thanks for the insights. I also think that's most probably the issue.

@andfoy, any insights on this one?

[2020-07-27 18:32] ccordoba12 commented on #1941
This is very old and probably no longer applies.

[2020-07-27 18:32] #1941 closed

[2020-07-27 18:33] ccordoba12 commented on #13382
Hey @bouillonbaptiste, thanks for reporting. This is a duplicate of #13336 and it appears to happen only with tensorflow.

[2020-07-27 18:33] #13382 closed

[2020-07-27 19:25] #13158 closed

[2020-07-27 19:38] lorenzznerol commented on #13381
I found out the reason for my errors. They are caused by myself, the version 4.1.4 works. I had changed the tabs to be 4 spaces, while still also having real tabs somewhere, and some spaces followed by smaller tabs sometimes. I do not understand what has happened there, must be something that happened during testing the linting in earlier versions when I replaced tabs with spaces and back using Re

[2020-07-27 19:38] #13381 closed

[2020-07-27 20:13] bcolsen commented on #13181
I really like the 3-3 option

[2020-07-27 21:03] jitseniesen commented on #13181
I also like the 3-3 design best, with 3-2 being a close second.

[2020-07-27 21:05] goanpeca opened #13401 "TEST ISSUE HELLO"
## Description

### What steps will reproduce the problem?

asdasdadadsasdasdddd asdasdadadsasdasdddd asdasdadadsasdasdddd asdasdadadsasdasdddd

## Versions

* Spyder version: 5.0.0.dev0 af499d579
* Python version: 3.6.10
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 19.4.0

### Dependencies

[code]

[2020-07-27 21:06] #13401 closed

[2020-07-27 21:07] goanpeca opened #13402 "repo, repo, repo, repo,"
### What steps will reproduce the problem?

repo, repo, repo, repo, repo, repo, repo, repo, repo, repo, repo, repo,

[2020-07-27 21:07] #13402 closed

[2020-07-27 22:42] jamesdgessel commented on #7846
Also hoping for this feature!!! Would be amazing.

[2020-07-28 00:38] ccordoba12 commented on #13381
Hey @lorenzznerol, I'm really glad you found the cause of your linting issues, and even more to read our linter bugs seem to be a thing of the past.

I hope you really using Spyder from now on.

[2020-07-28 01:33] ccordoba12 commented on #7846
I think this is going to be solved in 4.2, thanks to the work @andfoy is doing in PR #13109.

[2020-07-28 03:31] dalthviz commented on #13181
3-3 :+1:

[2020-07-28 05:54] ocroquette commented on #13391
Is it possible to avoid an additional option and instead detecting at runtime automatically if the patch is necessary ? For instance, using an import hook like in sys.path_hooks (https://docs.python.org/3/reference/import.html)

[2020-07-28 06:55] lorenzznerol commented on #13381
Yes it is good that this was wrong alarm. At the moment, I am fine with it, must be partly the funny reason that I can run a selection / line just with F9 instead of three buttons on PyCharm ;). And I am not the one to change the shortcuts. vscode is unusable since a month, it cannot run a selection / line at all. Spider has also a colourful and nice default editor and editor structure, keep up th

[2020-07-28 09:25] robert99 commented on #13342
Same problem 4.1.4 did work for a while then would not start giving similar error message.
Downgrading to 4.1.3 works perfectly.

[2020-07-28 10:39] MrMoke opened #13404 "Installing Kite extension"
## Description

### What steps will reproduce the problem?

Installing Kite, left it running and had this error dialog when I came back to it.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Linux 5.4.0-39-generic

### Dependencies

[code]

[2020-07-28 13:15] PanderMusubi opened #13405 "Autocomplete "from aaa " with "import ""
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-07-28 13:54] ccordoba12 commented on #13381
Thanks for your kind words @lorenzznerol, we'll do!

[2020-07-28 15:38] CrimsonNightZero commented on #13368
[spyder-debug.log](https://github.com/spyder-ide/spyder/files/4989404/spyder-debug.log)

[2020-07-28 16:51] b846 opened #13406 "import TensorFlow"
## Description

### What steps will reproduce the problem?

I have installed TensorFlow on Fedora with
"sudo pip install tensorflow"
The installation is sucessful

I have then tried to import TensorFlow on Spyder with
"import tensorflow" as tf

And then it has crashed

### Traceback
[code]

## Versions

* Spyder version: 3.3.6
* Python version: 3.8.3
* Qt version: 5.14.2
* PyQt5 version: 5.14.2
*

[2020-07-28 17:03] steff456 commented on #13384
Hi @rds1712,
How did you update to the latest version of Spyder?
We recommend doing it with conda with the following commands:

[code]

Please let me know if that works for you

[2020-07-28 17:11] jamesdgessel commented on #13335
I am having this same error. Is there a fix?

[2020-07-28 17:13] steff456 commented on #13388
Hi @robwarm,
I'm not able to reproduce this, can you please upload a gif with the error?
Are you changing `rich text` or `plain text` in the appearance pane and do you have something open in the `online help` pane?

[2020-07-28 17:17] steff456 commented on #13404
Hi @MrMoke,
Can you please upgrade to the latest version of Spyder with the following commands:

[code]

We've been working a lot on the completion engine so please let me know if by updating this error is solved

[2020-07-28 17:25] steff456 commented on #13405
Hi @PanderMusubi,
This is a difficult case, after multiple changes we decided that the autocompletion will not be triggered after a space because it can be really invasive specially when writing a lot. The fastest way for Spyder to write the `import` is by pressing `Ctrl+space` and `enter` selecting the first option, if you want a more automatic way of introducing this you can try using Kite compl

[2020-07-28 17:25] #13405 closed

[2020-07-28 17:30] steff456 commented on #13406
Hi @b846,

It seems that you broke your environment by installing tensorflow with `sudo pip install tensorflow`. Please remember that the recommended way to install packages is using conda. I also strongly recommend you to update your spyder to the latest release as well.
This video, https://www.youtube.com/watch?v=Ul79ihg41Rs&t=1s, will help you to fix your environment and also it will help you u

[2020-07-28 17:30] #13406 closed

[2020-07-28 17:31] steff456 commented on #13344
I'm closing this issue because there wasn't a follow-up response after a week.

[2020-07-28 17:31] #13344 closed

[2020-07-28 17:34] steff456 commented on #13372
Hi @AZippelius,

We already fix this error in our latest release of spyder, please update with the following commands:
[code]

Thanks for reporting!

[2020-07-28 17:34] #13372 closed

[2020-07-28 17:44] PanderMusubi commented on #13405
Thanks

[2020-07-28 18:41] robwarm commented on #13388
Hi @steff456 ,
thanks for the response. I can reproduce the behaviour changing the plain text twice (fe. increase by 1, apply increase by 1, apply). The message appears after the text in the main window is updated to the new size. Changing the rich text size works fine.
Regarding the help plane... I don't pay attention to what's in there, but the error stil appears if I close that pane before chan

[2020-07-28 18:59] ccordoba12 commented on #13388
@robwarm, thanks for reporting! This looks like a legitimate error, but not directly related to applying a font size change.

We'll fix it in our next version, to be released in a couple of months.

[2020-07-28 20:38] ccordoba12 commented on #13335
@jamesdgessel, for now please uninstall Kite. We're investigating how to solve this.

@dalthviz, any ideas about this one?

[2020-07-28 20:41] ccordoba12 commented on #13368
@CrimsonNightZero, did you uninstall and reinstall Anaconda following the instructions in our video?

[2020-07-28 22:17] ccordoba12 commented on #13342
To all people that have posted here: please close Spyder, open the Anaconda Prompt, run there

    spyder --reset

and try again.

[2020-07-28 23:37] matheger commented on #13342
`spyder --reset` worked for me.

Before running that command, I made a backup of my .spyder-py3 folder to copy the old files back and see what might have caused the problem. Initially it seemed as if the `pylint.results` file might have been the culprit, but now I can't reproduce it. Maybe someone could try to simply delete that file and see if that solves things.

[2020-07-29 00:16] viniciusbrei commented on #13394
Thank you for your answer.
Just one more question: Isn't Spyder-Reports (shown in https://www.spyder-ide.org) a way of rendering markdown files?
Thank you

[2020-07-29 00:20] dalthviz commented on #13335
@ccordoba12 this is a duplicate of #13121

[2020-07-29 02:31] ccordoba12 commented on #13394
Yes, but unfortunately Spyder-Reports is broken and unmaintained at the moment. We're looking for funding to make it work again.

[2020-07-29 02:32] ccordoba12 commented on #13342
Yes. that's the culprit.

[2020-07-29 03:00] alexhu21 opened #13409 "LSP Python stays at starting status after opening Spyder"
## Description

### What steps will reproduce the problem?

1. Start Spyder
2. Wait
3. This internal problem pops up

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-29 03:00] #13388 closed

[2020-07-29 03:06] ccordoba12 commented on #13335
You're totally right. Closing then.

Well try to fix this in our next release.

[2020-07-29 03:06] #13335 closed

[2020-07-29 06:45] pawansutar commented on #3005
run command spyder - - reset on anaconda prompt

[2020-07-29 07:53] BriacLEGUILLOU commented on #13406
Hi steff456
Thank you very much for your help
I will try to fix the issue
have a nice day

[2020-07-29 08:08] impact27 opened #13410 ".java file syntax highlighter is off by 1"
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-07-29 08:31] bastianshi829 opened #13411 "Operation not allowed"
## Description

### What steps will reproduce the problem?

Error occurs when the sqlalchemy package is imported

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.1
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Darwin 19.6.0

### Dependencies

[code]

[2020-07-29 10:54] nerohmot commented on #13288
@ccordoba12 : https://github.com/conda-forge/pyqt-feedstock/issues/77

[2020-07-29 11:25] basslerfish commented on #12171
Just wanted to say that the error does not occur anymore with 4.1.4. Thanks again for taking care of this!

[2020-07-29 11:26] #12171 closed

[2020-07-29 11:57] milindsmart commented on #1110
Thanks, this works, but I am unable to trust what it shows, because it has no refresh button. So I never know what it is comparing to. I think the profiler should allow loading of a cProfile Result without forcing users to "compare", and along with it also allow users to "reload from file". That should be a quick enough fix.

[2020-07-29 13:58] ccordoba12 commented on #12171
@basslerfish, great news! Thanks for the confirmation!

[2020-07-29 14:28] sergionovi commented on #3601
I am having the same problem

[2020-07-29 14:28] riley011235 opened #13412 "Can't open tools > preferences"
## Description

### What steps will reproduce the problem?

I selected tools > preferences
then I got his Issue reporter window pop up.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-29 14:29] fberks opened #13413 "Spyder 4.1.4 Starting the Kernel Error"
I checked other pages and tried everything that I could find but I couldn't resolve the issue.

### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advi

[2020-07-29 15:58] mczakk commented on #12303
HI @ccordoba12, I read this post with interest as i can't seem to get spyder 4 to work on my linux machine. I am also having issues getting anaconda to work as detailed here : [https://github.com/conda/conda/issues/10103](url)
i appreciate that using conda is the preferred method, but how am i supposed to do tha if conda doesnt work?

[2020-07-29 16:20] dalthviz commented on #3601
Hi @sergionovi sorry to hear that. Are you using the latest version of Spyder (4.1.4)?

[2020-07-29 16:24] dalthviz commented on #13410
Thanks for the feedback @impact27 ! @ccordoba12 @andfoy you guys have an idea of what is going on here?

[2020-07-29 16:30] ccordoba12 commented on #12303
@mczakk, I left you a comment in conda/conda#10103. Hope that helps.

[2020-07-29 16:34] ccordoba12 commented on #13409
@alexhu21, thanks for reporting. This is a duplicate of #13297.

The only workaround (until we fix this) is to uninstall Kite.

[2020-07-29 16:34] #13409 closed

[2020-07-29 16:49] dalthviz commented on #13413
Hi @fberks seems like the package causing this is `jupyter_core` (see https://github.com/jupyter/jupyter_client/issues/481 and https://github.com/jupyter/jupyter_core/pull/183). Maybe you could try updating/installing `jupyter_core` 4.6.3 (running something like `conda install jupyter_core=4.6.3`). Also, you could try to create another env.

Hopefully this info will let you fix your env, but there

[2020-07-29 16:49] #13413 closed

[2020-07-29 16:54] ccordoba12 commented on #13410
It looks like a bug with the Pygments syntax highlighter for Java. If that's the case, we should report it upstream.

[2020-07-29 17:07] ccordoba12 commented on #13378
Ok, no problem. Thanks for the detailed explanation!

[2020-07-29 17:43] sergionovi commented on #3601
Hi @dalthviz I was using version 3.7. Now I am trying to update it to 4.1.4. I will let you know if the updating solves the problem.

[2020-07-29 18:20] dalthviz commented on #13412
Hi @riley011235 you can reproduce this issue consistently? I was unable to reproduce this :/
Could you try to check our [troubleshooting guide and FAQ](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ)?

Do you have any clue about this one @ccordoba12 ? maybe we aren't handing correctly the sort of singleton we are implementing for the dialog, but I'm unsure.

[2020-07-29 18:25] riley011235 commented on #13412
I think it was due to a custom color theme. I ended up doing spyder --reset to reset my personal preferences and it seems to have fixed it.

[2020-07-29 18:26] dalthviz commented on #13411
Hi @bastianshi829 seems like there is a permission error over the directory you are working on. Could you ensure that you have access to the working directory? Also, is this happening only when importing `sqlalchemy` ? What happens is you try to run the following in the IPython Console: `get_ipython().kernel.get_cwd()`?

Any new info to reproduce the issue is greatly appreciated :)

[2020-07-29 18:30] dalthviz commented on #13412
Thanks for the info @riley011235 ! I'm closing this one for now then

[2020-07-29 18:30] #13412 closed

[2020-07-29 19:06] bsierieb1 opened #13415 "An internal problem error message shows up every few seconds"
## Description

### What steps will reproduce the problem?

This happens every time I start spyder. Nothing seems to be affected, but it is annoying.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.0
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 18.7.0

### Dependencies

[code]

[2020-07-29 19:14] nikhil-08 opened #13416 "Error for creating new file"
<!---   *** BEFORE SUBMITTING: PASTE CLIPBOARD HERE TO COMPLETE YOUR REPORT ***   ---!>

[2020-07-29 19:14] #13416 closed

[2020-07-29 19:30] aznpooface opened #13417 "Error in Spyder tutorial"
## Description

### What steps will reproduce the problem?

Tools > Preferences > Editor > Code Introspection/Analysis

This was the old way of enabling pep 8 auto-correction. It is still currently written in the tutorial as such.

Tools > Preferences > Completion and linting > Code style

This is what should be written.

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.6
* Qt version: 5

[2020-07-29 19:53] jesuspasaje opened #13418 "The console doesn't run the file, stays in "Connecting to kernel...""
## Description

### What steps will reproduce the problem?

I launched Anaconda Navigator, then I launched Spyder. I tried to run a Python file and the console shows "Connecting to kernel...".

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-07-29 20:18] dalthviz commented on #13417
Hi @aznpooface thanks for the feedback! You're totally right, we need to update this :+1:

Just in case you want to further help us, the change to update this needs to be done in this file https://github.com/spyder-ide/spyder/blob/master/spyder/plugins/help/utils/tutorial.rst in the line 313. Also, here you can check the steps to do the contribution: https://github.com/spyder-ide/spyder/blob/maste

[2020-07-29 20:20] dalthviz commented on #13415
Hi @bsierieb1 could you try to update Spyder to the latest version (4.1.4) and check again? You can update by running something like `conda install spyder=4.1.4`. Thanks!

[2020-07-29 20:24] dalthviz commented on #13418
Hi @jesuspasaje do you see any other message (the report error dialog or maybe in the internal console)? what happens if you try to open a new console? Any new info that you could provide us is greatly appreciated. Thanks!

[2020-07-29 20:51] bsierieb1 commented on #13415
I was not able to update spyder as I kept getting `'setuptools' is a dependency of conda and cannot be removed from conda's operating environment` error. Instead, I updated conda by executing `conda update --force conda` (it did not work without the `--force` flag), and the issue has been solved. Thanks, @dalthviz