[2019-11-14 19:49] jnsebgosselin commented on #10686
Yes, it is working fine on latest master.

[2019-11-14 19:51] goanpeca commented on #10686
Hmm ok, :-p trying out some things. I will work on this @jnsebgosselin no worries ;-)

[2019-11-14 19:52] ccordoba12 commented on #10699
@rotemgb, yes, this an improvement we added for Spyder 4. I'd like to know (from a user perspective), what's your opinion about it? Do you think it's easier to understand and use?

[2019-11-14 19:55] ccordoba12 commented on #10710
Thanks for reporting @rotemgb. This is a duplicate of issue #10650 and it'll be fixed in release candidate 2.

[2019-11-14 19:55] #10710 closed

[2019-11-14 19:56] jnsebgosselin commented on #10686
Excellent, thank you very much! I was afraid to see this feature go.

Updating the python paths through the `Windows Environment Variables` manager is a pain. It was significantly improved in Windows 10 compared to 7, but it is still way more easy to do it with Spyder.

[2019-11-14 20:16] goanpeca commented on #10686
It was just a temporary disable ;-), no worries

[2019-11-14 20:28] eafpres commented on #10702
@ccordoba12 I will update and then add more information here.

[2019-11-14 20:29] bcolsen commented on #10709
This problem was mentioned in #10702 as well

[2019-11-14 20:38] jnsebgosselin commented on #10686
I just realized, last week Spyder stopped working for me too after updating it on master. I tried a bunch of stuff and ended up reinstalling it in a new conda environment.

So I don't know when the last time you logged into you Windows VM, but maybe the same thing is happening to you.

[2019-11-14 20:42] goanpeca commented on #10686
I had to do the same thing!

[2019-11-14 21:12] ccordoba12 commented on #10702
Great, thanks!

[2019-11-14 21:15] ccordoba12 commented on #10686
Nice to know that that's another of the hidden gems Spyder users find very valuable!

[2019-11-14 23:06] rotemgb opened #10712 "Add a clock to the statusbar"
## Description
I usually work in a fullscreen mode, and I find having a clock on the statusbar help the workflow.

![Screenshot from 2019-11-14 13-35-41_edited](https://user-images.githubusercontent.com/35784524/68903428-f83e3c00-06ef-11ea-87e9-e717c2f8ea9f.png)

I am willing to open a PR for that if you find it a useful widget to add.

[2019-11-15 02:18] JohnCanty commented on #10703
from phue import Bridge
Brightness = 254

b = Bridge('10.10.11.2', 'APIKEY')

# If the app is not registered and the button is not pressed, press the button and call connect() (this only needs to be run a single time)
b.connect()

# Get the bridge state (This returns the full dictionary that you can explore)
b.get_api()

# Get the light information from the bridge and store it in a dictionary base

[2019-11-15 02:20] JohnCanty commented on #10703
This executes fine. But if I use the variable explorer to check out the dictionary that is created called 'lights'. The non-color changing lights in the dictionary cause this error.

[2019-11-15 04:33] mrclary commented on #9139
I realize this issue is closed, but I thought I'd report one issue and relevant information for a "switcher". For reference, this feature was added in #9778 for 4.0.0b4.
* As of 4.0.0b5 the status bar does not update to reflect a change in the conda environment when switching python interpreters in the preferences.
* Also, I don't know if it's possible to have the status bar reflect the conda envi

[2019-11-15 04:54] mluerig commented on #10681
in retrospect, I'm not sure if this is error or expected behavior. anyways, assume following module:

[code]

`base.py` contains

[code]

Now, when I do

[code]
`tm.` already shows result, although it has not yet been "created" through `method1`. would it make sense to be able to hide this?

In general, during development, I am assuming that my users will use spyder. Being able to see or control w

[2019-11-15 09:22] Khalilsqu commented on #10702
I can reproduce somehow a similar bug.

Here is an example.

Suppose there are 4 variables named,

a = 9,
b = 3,
c = 4,
d = 'k'.

If you right-click and delete b, the variable b will be removed correctly, however, if you delete b and re-run the script. The next time you try to delete b variable c will be deleted.

In the second delete after clicking run, `self.source_model.keys[idx_row]` give valu

[2019-11-15 11:15] naveenkumarcm commented on #10400
I am getting the same error. Tried update jupyter_client jupyter_core
Uninstalled all python installations and did a clean install of Anaconda. Still facing the same issue.
Although running spyder as an 'Administrator' works fine without error! I hope that gives some idea to fix this issue.

______________________________________________________________________________________________________
An e

[2019-11-15 12:16] moux233 opened #10716 ""physical-quantities" crash in variable explorer"
## Description

### What steps will reproduce the problem?

1/ create 2d array from "physical quantities" package
2/ double-click on variable name in Spyder variable explorer

### Traceback
[code]

## Versions

* Spyder version: 3.3.6
* Python version: 3.7.4
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2019-11-15 12:22] moux233 commented on #10716
Same as issue #10366

[2019-11-15 13:14] AxelMKlein commented on #10700
I'm affected with the same effects.

[2019-11-15 13:23] johnsonbunny23 opened #10717 "Problem importing keras on Spyder 3.2.3(python 3.5)"
## Problem Description

I'm getting an error while importing keras on spyder in ANN program. I've posted the error in the Q&A session but there is no update, please help.

### What steps reproduce the problem?

1.  When I type "import keras" in spyder it is giving me the error below. I'm not sure what is the issue. I've installed Keras and tensorflow with the following codes

conda install -c cond

[2019-11-15 13:31] pranavtare opened #10718 "Look for and remove a directory called `.ipython` in your Users directory."
i have same error problem as above . i have removed .ipython but sill have that error

[2019-11-15 13:54] ccordoba12 commented on #10400
The solution is to open the Anaconda prompt and run there

    conda update --all

[2019-11-15 14:46] kai3341 opened #10719 "Internal Python Language Server error"
## Description

### What steps will reproduce the problem?

Fail after adding kwarg:
`self.celery_task=self.celery_task,`
Then planned to change this line to
`celery_task=self.celery_task,`

### Traceback
[code]

## Versions

* Spyder version: 4.0.0rc1
* Python version: 3.7.3
* Qt version: 5.12.4
* PyQt5 version: 5.12.3
* Operating System: Linux 4.19.0-6-amd64

### Dependencies

[code]

[2019-11-15 14:49] lululukas commented on #10680
Excuse late reply.

`conda install` of spyder 4.0.0rc1 automatically downgraded jedi.

To be clear, this only happens when choosing a different interpreter than the one of the env in which Spyder is installed.

[2019-11-15 15:49] ccordoba12 commented on #10681
@mluerig, thanks! Could you upload the contents of `testmod` in a zip file so we don't have to recreate ourselves?

[2019-11-15 15:50] mluerig commented on #10681
[testmod.zip](https://github.com/spyder-ide/spyder/files/3852220/testmod.zip)

[2019-11-15 15:52] #10686 closed

[2019-11-15 15:54] ccordoba12 commented on #10718
Sorry but we don't generate this error. Please report it here

https://github.com/ipython/ipython

to see if you can get help about it.

[2019-11-15 15:54] #10718 closed

[2019-11-15 15:54] ccordoba12 commented on #10717
This is fixed in our latest version. Please update by opening the Anaconda Prompt and running there

    conda install spyder=3.3.6

[2019-11-15 15:54] #10717 closed

[2019-11-15 15:59] ccordoba12 commented on #10702
Thanks @Khalilsqu for the reproducible example! However, that seems more related to issue #10709 than this one.

[2019-11-15 16:01] sochtends opened #10721 "Make configurable the default directory for Open Project"
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2019-11-15 16:03] goanpeca opened #10722 "Move creation of actions and shortcuts to the plugin API"
Currently the creation of shortcuts is done by calling CONF.config_shortcut etc...

We should move these methods to the plugin API so that creating actions and shortcuts is part of the API. This work will also allow to decouple widgets from shortcut and action creation, which should probably be handled at the plugin level and not the widget level.

[2019-11-15 16:08] #3254 closed

[2019-11-15 16:08] #3321 closed

[2019-11-15 16:11] goanpeca opened #10723 "Create plugins for core features of spyder"
Currently the main window is doing a lot of work and assumptions based on the core plugins.

To make the workflow more extendable are clean for external plugins and internal plugins, we should aim to use the them exactly the same way. In this context the main window is a "thin" wrapper that coordinates how all plugins should load but the actual work should be moved to the plugins and out of the ma

[2019-11-15 16:11] ccordoba12 commented on #10721
@sochtends, thanks for reporting this issue!

I think we should the current working directory shown in our toolbar. @goanpeca, what do you think?

[2019-11-15 16:12] ccordoba12 commented on #10680
Sure, I understand that.

[2019-11-15 16:14] ccordoba12 commented on #10719
Thanks for reporting. We'll try to fix it in a future release.

[2019-11-15 16:15] ccordoba12 commented on #10703
Thanks for the code @JohnCanty! We'll try to fix this after we release Spyder 4.

[2019-11-15 16:17] ccordoba12 commented on #10716
Ok, I'm closing this one in favor of #10366. Please don't report this problem anymore.

[2019-11-15 16:17] #10716 closed

[2019-11-15 16:18] ccordoba12 commented on #10366
@moux233, we'll try to fix this after we release Spyder 4.

[2019-11-15 16:26] justinditrani opened #10724 "Cannot open variables in variable explorer"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/usr/lib/python3/dist-packages/spyder/widgets/variableexplorer/collectionseditor.py", line 449, in createEditor
    if not editor.setup_and_check(value, title=key, readonly=readonly):
  File "/usr/lib/python3/d

[2019-11-15 16:27] ccordoba12 commented on #10712
I think it'd be very valuable to a have a clock for this use case.

@goanpeca, what do you think?

[2019-11-15 16:29] goanpeca commented on #10712
Sounds good :-) !

[2019-11-15 16:35] goanpeca commented on #10721
I don't follow 🙃

[2019-11-15 16:36] goanpeca commented on #10724
Please update to spyder 3.3.6

[2019-11-15 16:36] #10724 closed

[2019-11-15 16:42] ccordoba12 commented on #10712
Please go for it @rotemgb!

[2019-11-15 16:45] ccordoba12 commented on #10700
This is not a problem in our code. Please report it here:

https://github.com/jupyter/jupyter_client

[2019-11-15 16:45] #10700 closed

[2019-11-15 17:04] naveenkumarcm commented on #10400
@ccordoba12 Thanks a bunch, it worked! Assumed fresh installation of Anaconda would have the same effect as updating all, oh boy I was so wrong! My OCD was raising exponentially for the past 3 days!

[2019-11-15 17:16] rotemgb commented on #10699
After some time getting use to,I found it useful in most cases. The only times it was slowing me down was when it autocomplete parameters which I don't necessarily need. For example, the 'start' parameter in range(), which is not needed in some case.
The other thing is when I want to import a function from a module. Although I notice I can import it as text, and then it doesn't autocomplete the pa

[2019-11-15 17:30] johnsonbunny23 commented on #10717
Thank you so much Carlos :) It's working now.

[2019-11-15 18:59] jnsebgosselin opened #10726 "Toolbar tooltips are not updated correctly after a change is made to the shortcuts"
## Problem Description

### What steps reproduce the problem?

1.  Change a shortcut in the `Keyboard shortcuts preferences` and click `Apply`
2. The new shortcut is appended to the tooltip, without removing the old shortcut

![shortcut_tooltips](https://user-images.githubusercontent.com/10170372/68968170-f0de6780-07af-11ea-807b-32c6ac986a36.gif)

## Versions

* Spyder 4.0.0.dev0 (Commit: c88697d5

[2019-11-15 19:54] jnsebgosselin opened #10728 "Some propositions to improve the GUI and text of the PYTHONPATH manager"
### Issue Report Checklist

1. I would remove the window context help button because it doesn't do anything.
2. I would keep the 'Ok' button enabled even when no change was made. I mean, there is no drawback if the user press 'Ok' without having done any change. I think disabling the button send a message that something is wrong or missing (I was confuse, a little,  by this when testing previously

[2019-11-15 19:58] goanpeca commented on #10728
I like 1 and 3 but I think 2 serves a clear purpose. If things have not chabged there should not be the possibility to “apply” anything

[2019-11-15 20:13] jnsebgosselin commented on #10728
Yes exactly, but it's not an `Apply` button, it is an `Ok` button.  I would be ok with this reasoning if we used an `Appy` and `Close` buttons instead of an `Ok` and `Cancel` buttons. Besides, what is the real drawback if the user clicks on `Ok` while no change were made?

While testing the synchronize button, I started up with all paths checked. Then I unchecked and checked some paths while testi

[2019-11-15 20:30] sentier1 commented on #10700
Nice and helpful reply...Thahks(+34) 6 3031 2442

    On Friday, 15 November 2019, 17:45:37 CET, Carlos Cordoba <notifications@github.com> wrote:

This is not a problem in our code. Please report it here:

https://github.com/jupyter/jupyter_client

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-11-15 21:28] m-leal commented on #4530
I have confirmed the same behavior when attempting to use clear, %clear, and cls on my work Windows machine. The "Path not specified" error appears when I try to work on a project stored/located in a directory on my organization's network.

If I change my working directory to a location on my local machine, then I am able to use the clear commands again.

Just for reference, I am not using an anac

[2019-11-15 22:14] ccordoba12 commented on #10721
The thing is that right now when users go to the menu

    Projects > Open project

we always show the user home directory in the "Select directory" dialog because it's hard-coded in our code like that.

What @sochtends would like to see is that we either:

1. Add an option to change that so that users can set the default directory for opening projects.
2. At least use the current working director

[2019-11-15 22:15] jnsebgosselin commented on #10728
Another argument in favor of keeping the `Ok` button enabled would be for Ux consistency with the `Preferences dialog`.

[2019-11-15 22:15] ccordoba12 commented on #10699
Thanks for your feedback @rotemgb!

What do you mean exactly by this?

[2019-11-15 23:12] #10696 closed

[2019-11-16 00:41] #10726 closed

[2019-11-16 01:18] #10709 closed

[2019-11-16 04:19] Khalilsqu commented on #10709
@dalthviz
A similar error also exists for the function rename.
![rename](https://user-images.githubusercontent.com/22060413/68987975-795d1680-0849-11ea-8853-ad44583f3e7b.gif)

commit = [c8ea0afa0](https://github.com/spyder-ide/spyder/commit/c8ea0afa0)

[2019-11-16 04:21] ccordoba12 commented on #10709
@Khalilsqu, please open a new issue about that.

[2019-11-16 04:45] Khalilsqu opened #10735 "Rename in (variable explorer) is not working properly"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2019-11-16 08:14] RuslanBergenov commented on #4530
Yes, I

Yes, exactly! I'm having the same issue, but I wasn't able to open an issue yet.

[2019-11-16 08:57] Lo-Srt opened #10736 "runfile changes the current tab in the editor"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Completed the **Problem Description**, **Steps to Reproduce** and **Version** sections below

## Problem Description

First of all, I guess this is more of an inconvenience than a real problem. Since Spyder 4.0.0b7, calling `runfile("someFile.py")` in the

[2019-11-16 10:48] sochtends commented on #10721
@ccordoba12 @goanpeca I see the following possibility:
To add an extra input menu in Tools > Preferences > Current working directory. A good place seems to be just under the frame with Console directory, where another frame "Project directory" comes. It can be either a single input field like it is done in Console directory frame in "the following directory:" or a frame with radio buttons: 1) reme

[2019-11-16 12:41] ccordoba12 commented on #10735
@dalthviz, please take a look at this one.

[2019-11-16 12:44] ccordoba12 commented on #4530
@RuslanBergenov, please open a new issue about it.

[2019-11-16 13:27] stavna commented on #10604
UPDATE
I was able to reproduce the problem on a different machine with CentOS 7.4
when running on CentOS 7.6 all worked fine

will keep updating if any good fix will come up

[2019-11-16 16:31] ccordoba12 commented on #10604
Ok, thanks for letting us know about it.

[2019-11-16 17:42] adills opened #10737 "changed py path"
## Description

### What steps will reproduce the problem?

I used steps here:

https://github.com/spyder-ide/spyder/wiki/Working-with-packages-and-environments-in-Spyder

so that I can run a specific pipenv environment.

### Traceback
[code]

## Versions

* Spyder version: 3.3.6
* Python version: 3.7.5
* Qt version: 5.12.4
* PyQt5 version: 5.12.3
* Operating System: Darwin 19.0.0

### Dependencie

[2019-11-16 19:13] #10712 closed

[2019-11-16 20:27] #10634 closed

[2019-11-16 22:12] #10534 closed

[2019-11-16 22:12] #10674 closed

[2019-11-17 09:16] Fred-Wu opened #10740 "Online Help is not working"
## Problem Description

Online help is not working. I shoud say it never worked.

1.  Always show "Unable to load page" by clicking on module or package name.
2. Always show "Error, XXX.html, pydoc.ErrorDuringImport: problem in xxx - RuntimeError: implement_array_function method already has a docstring"  when search module or package.

### What is the expected output? What do you see instead?

Exp

[2019-11-17 17:01] dray89 opened #10741 "TypeError: 'NoneType' object is not subscriptable"
## Description

### What steps will reproduce the problem?

TypeError: 'NoneType' object is not subscriptable

### Traceback
[code]

## Versions

* Spyder version: 4.0.0b4
* Python version: 3.7.1
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2019-11-17 17:02] dray89 opened #10742 "Created a New Project"
## Description

### What steps will reproduce the problem?

TypeError: 'NoneType' object is not subscriptable
WARNING:traitlets:kernel died: 18.001763105392456

### Traceback
[code]

## Versions

* Spyder version: 4.0.0b4
* Python version: 3.7.1
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2019-11-17 17:03] dray89 opened #10743 "TypeError: 'NoneType' object is not subscriptable WARNING:traitlets:kernel died: 18.001763105392456"
## Description

### What steps will reproduce the problem?

TypeError: 'NoneType' object is not subscriptable
WARNING:traitlets:kernel died: 18.001763105392456
Created a new project and this error came up.

### Traceback
[code]

## Versions

* Spyder version: 4.0.0b4
* Python version: 3.7.1
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2019-11-17 18:56] #10692 closed

[2019-11-17 19:16] jsh9 opened #10744 "Difficulty updating to Spyder 4.0.0rc1"
I installed Anaconda 3 (with Spyder 3.3.6), and I wanted to upgrade to Spyder 4.0.0rc1, so I ran
[code]
But dependency solving took a long time finally `conda` told me the conflict was too much.

So I used `conda uninstall spyder` to try to uninstall 3.3.6, but it turned out that lots of the packages (such as numpy, matplotlib, etc) got uninstalled together.

Is there an easier way to upgrade to S

[2019-11-17 19:20] jsh9 opened #10745 "Variable explorer viewers too small on high DPI"
On both Spyder 3.3.6 and Spyder 4.0.0rc1, when I tried to view some variable by double-clicking a variable from the variable explorer, I found the popup window is too small (in terms of the proportion to the whole screen).

I am using Ubuntu 18.04 on a 4k monitor, with a system-wide 200% zoom.

I tried to play with Spyder's high DPI scaling options (setting it to auto, or to manual 1.5, or to manu

[2019-11-17 19:23] ccordoba12 commented on #10744
Yes, please create a new conda env for it instead of trying to install it in the base env or a previous env you have.

[2019-11-17 19:23] #10744 closed

[2019-11-17 19:29] ccordoba12 commented on #10745
I think our viewers have a fixed size, and that was adjusted for non-high resolution monitors.

This is a very low priority issue for us, so maybe you or someone else in the community would like to tackle it.

[2019-11-17 19:31] ccordoba12 commented on #10742
Duplicate of #10743

[2019-11-17 19:31] #10742 closed

[2019-11-17 19:32] ccordoba12 commented on #10742
Please **do not** report the same issue several times in the future. That's just a waste of time for us.

[2019-11-17 19:32] ccordoba12 commented on #10743
Duplicate of #10741

[2019-11-17 19:32] #10743 closed

[2019-11-17 19:34] ccordoba12 commented on #10741
Yoou're using a very old beta. This bug was fixed months ago, so please update to our latest version, which is `4.0.0rc1.`

[2019-11-17 19:34] #10741 closed

[2019-11-17 19:35] #10735 closed

[2019-11-17 19:38] ccordoba12 commented on #10740
@dalthviz, please take a look at this one.

[2019-11-17 19:56] ccordoba12 commented on #4938
This no longer applies.

[2019-11-17 19:56] #4938 closed

[2019-11-17 19:58] ccordoba12 commented on #2630
This is very old and was reported afterwards.

[2019-11-17 19:58] #2630 closed

[2019-11-17 19:59] ccordoba12 commented on #1535
This could be implemented as a PyLS plugin now.

[2019-11-17 19:59] #1535 closed

[2019-11-17 19:59] ccordoba12 commented on #1547
This is very old and no longer applies.

[2019-11-17 19:59] #1547 closed

[2019-11-17 20:00] ccordoba12 commented on #4832
Most of these error will be fixed in Spyder 4.

[2019-11-17 20:00] #4832 closed

[2019-11-17 20:57] eafpres commented on #10702
After updating to rc1 this appears fixed.  Thank you!

[2019-11-17 21:12] ccordoba12 commented on #10702
Thanks a lot for the great news!!

[2019-11-17 21:14] ccordoba12 commented on #10737
You need to have spyder-kernels 0.5.2 in your external interpreter. Please verify that that's the case and try again.

[2019-11-17 21:15] ccordoba12 commented on #10643
Closing due to lack of response.

Thanks @dalthviz for your help here.

[2019-11-17 21:15] #10643 closed

[2019-11-17 21:16] ccordoba12 commented on #10625
Closing due to lack of response.

[2019-11-17 21:16] #10625 closed

[2019-11-17 22:20] jsh9 opened #10746 "Hitting "Enter" not always work in ipython console"
In the IPython console of Spyder, usually we type some command, such as `a = [1, 2, 3]`, and hit "Enter" to execute it.

I've found that sometimes hitting "Enter" won't execute the command, the cursor only goes to a new line (same behavior as "ctrl + enter"). I have to use "shift + enter" to actually execute it.

This happens sporadically and on both Spyder 3.3.x and Spyder 4.0.x. There is no pred

[2019-11-17 22:21] jsh9 commented on #10745
Could you point me to the place in the code base? I may try to fix it, but I need some pointers first :)

Thanks!

[2019-11-17 22:41] ccordoba12 commented on #10745
Our viewers are placed here

https://github.com/spyder-ide/spyder/tree/master/spyder/plugins/variableexplorer/widgets

[2019-11-17 23:36] mnaidoo01 commented on #4714
Thank you. Will you release this in soon? Odd problem as we can see the h2o dataframe in the Anaconda command line interface (Python 3.7.5) but not in Spyder 3 or in Spyder 4 (beta).   I've even run this after 'conda update -all', and still have the same problem.
The only way to view the data is by appending  "as_data_frame()" the the h2o dataframe, as mentioned by iutboy earlier on this thread.

[2019-11-17 23:39] #1004 closed

[2019-11-17 23:39] #10299 closed

[2019-11-17 23:39] #10646 closed

[2019-11-18 00:18] ccordoba12 commented on #10746
Yes, it is. I should be fixed in qtconsole **4.6.0**, just released today. Conda packages should be available shortly.

[2019-11-18 00:18] #10746 closed

[2019-11-18 02:29] pbower commented on #8103
This happens constantly in IPython 9 and Spyder 4. It is impossible to submit commands through the console??

[2019-11-18 04:25] #8715 closed

[2019-11-18 08:57] evemilano commented on #2705
Same problem for 64 bit version.
Holy shit a ide that has problem with copy-paste...

[2019-11-18 08:59] evemilano commented on #8206
Fixed? I don't think so. in 64 bit I still have this embarrassing problem...

[2019-11-18 09:16] 1731lin opened #10748 "new environment in anaconda,conda install spyder,open the spyder occur the problem."
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

AttributeError: module 'dateutil.tz' has no attribute 'UTC'
AttributeError: module 'dateutil.tz' has no attribute 'UTC'
AttributeError: module 'dateutil.tz' has no attribute 'UTC'

## Version and main components

* Spy

[2019-11-18 10:25] navi1172000 opened #10749 "cannot set WRITEABLE flag to True of this array"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\Users\naveen\Anaconda3\lib\site-packages\spyder\widgets\variableexplorer\collectionseditor.py", line 449, in createEditor
    if not editor.setup_and_check(value, title=key, readonly=readonly):
  File "C:\Us

[2019-11-18 10:29] navi1172000 commented on #10749
help to remove this error

[2019-11-18 11:40] tovogt commented on #5345
I suggest using `self.process.setWorkingDirectory(getcwd_or_home())` in https://github.com/spyder-ide/spyder/blob/master/spyder/plugins/pylint/widgets/pylintgui.py#L320 and specifying the full path to the file in https://github.com/spyder-ide/spyder/blob/master/spyder/plugins/pylint/widgets/pylintgui.py#L341 and https://github.com/spyder-ide/spyder/blob/master/spyder/plugins/pylint/widgets/pylintg

[2019-11-18 13:56] msbel5 opened #10750 "Automatic error report"
<!---   *** BEFORE SUBMITTING: PASTE CLIPBOARD HERE TO COMPLETE YOUR REPORT ***   ---!>

[2019-11-18 14:12] #10750 closed

[2019-11-18 14:56] ccordoba12 commented on #5345
@tovogt, thanks for your suggestions. We were thinking to implement something similar with @goanpeca.

@goanpeca, what do you think?

[2019-11-18 15:15] ccordoba12 commented on #10749
This is fixed in our latest version. Please update by opening the Anaconda Prompt and running there

    conda install spyder=3.3.6

[2019-11-18 15:15] #10749 closed

[2019-11-18 15:15] ccordoba12 commented on #10748
This version is very old. Please update to a newer version and try again.

[2019-11-18 15:44] goanpeca commented on #5345
Yes, indeed this is in out to do list. I prefer the option that does not add any extra options for the user and does "the right thing"

Is there an actual use case where a user might be with a project open and wants to use a different pylint? like the global one? if this is the case then indeed we might have to add an option to select between global pylint config and current project config (if a p

[2019-11-18 16:28] tovogt commented on #5345
You could have a `.pylintrc` in the project's root and additional `.pylintrc` files in subdirectories that are supposed to apply only to the files in the subdirectories. This as open issue with pylint, see https://github.com/PyCQA/pylint/issues/618.

[2019-11-18 17:30] #10528 closed

[2019-11-18 18:15] plungg commented on #10647
@andfoy has this been fixed for RC2, or do we expect it in by 4.0 release?

[2019-11-18 18:32] ccordoba12 commented on #10647
This will be fixed for the final release.

[2019-11-18 19:09] sergeyFlakon opened #10752 "Spyder encounters internal error on hover (TypeError / ValueError)"
## Problem Description
Internal error happens upon clicking one of functions

### What steps reproduce the problem?
1. Launch Spyder.exe
2.  Open Copilot and enable docs to follow cursor (if it's not)
3. Open **kite_tutorial.py**
3. Put cursor to **pretty_print(obj, indent=4)**

### What is the expected output? What do you see instead?
Expected to see no error

### Traceback/Error
[code]

## Versi

[2019-11-18 20:32] ccordoba12 commented on #10752
@dalthviz, please take a look at this one.

[2019-11-18 21:10] eafpres commented on #10702
Unfortunately, today I again see the behavior.  I will continue working on  reproducible example.  The code I'm running where this occurs often is fairly big and uses a lot of stuff, but I don't think it is a dependency.

Question, I have this issue:
[code]

And I've been unable to resolve it.  It is possible this is causing issues with the GUI?

[2019-11-18 22:12] ccordoba12 commented on #10702
I don't think so.

[2019-11-18 22:42] ccordoba12 commented on #10752
Thanks for reporting. This is very serious and we'll try to fix ASAP.

[2019-11-19 00:47] johnnyofoco opened #10753 "Acess Value in Variable explorer"
## Description

### What steps will reproduce the problem?

I try access the Value of type int64 or float64, in variable explorer.

Warning: Utilizing method iloc of pandas for create the variable.

### Traceback
[code]

## Versions

* Spyder version: 3.3.1
* Python version: 3.7.0
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2019-11-19 01:04] CAM-Gerlach commented on #10740
@ccordoba12 FYI, this appears to be a duplicate of #5533 first reported in 2017 on Spyder 3.2.4, and the subsequant #8743 and  #9070 which we closed as duplicates.

[2019-11-19 01:10] CAM-Gerlach commented on #10753
@johnnyofoco Already reported #8582 , fixed in #8632 and released in Spyder 3.3.3. Your version of Spyder is very old (almost a year and a half); please update to the latest version to fix this. Thanks.

[2019-11-19 01:19] CAM-Gerlach opened #10754 "Make Spyder display a clear/user-friendly error when used with a too-old Spyder-Kernels version"
## Description

### What steps will reproduce the problem?

When I updated to Spyder 4.0 rc2, I updated Spyder-Kernels to 1.8.0 (which doesn't actually appear to be a release on Github, just on the Spyder-IDE conda channel--@ccordoba12 did the release tag not get pushed to upstream?) for both my Spyder env and my main working envs. However, I had happened to have a different env selected where I h

[2019-11-19 01:47] #10753 closed

[2019-11-19 02:12] #10660 closed

[2019-11-19 02:15] #10740 closed

[2019-11-19 02:35] dalthviz commented on #10740
@Fred-Wu about the second error: `Error, XXX.html, pydoc.ErrorDuringImport: problem in xxx - RuntimeError: implement_array_function method already has a docstring` is a error from `pydoc` itself as far as I can tell (the error page is generated by `pydoc`). Also it seems some how related with `numpy` but I'm unsure (https://github.com/numpy/numpy/issues?q=is%3Aissue+RuntimeError%3A+implement_array

[2019-11-19 03:00] CAM-Gerlach commented on #10752
Simply hovering over any callable results in the error; hovering over objects and modules appears not to. In normal usage, this typically occurs once every 60 seconds or more even without intending to hover. FYI, for users reading this issue, you can temporarily disable hover hints in `Completion and Linting` ---> `Introspection` ---> `Enable hover hints` in Spyder's preferences, which prevents th

[2019-11-19 03:00] Priyansh2001here opened #10756 "Error Generation while clicking on snnipet"
## Description

### What steps will reproduce the problem?

i just double tapped on choice in ln.random and it generated error

### Traceback
[code]

## Versions

* Spyder version: 4.0.0rc2
* Python version: 3.7.4
* Qt version: 5.11.2
* PyQt5 version: 5.11.3
* Operating System: Windows 10

### Dependencies

[code]

[2019-11-19 03:04] goanpeca commented on #10756
Duplicate of https://github.com/spyder-ide/spyder/issues/10752

[2019-11-19 03:04] #10756 closed

[2019-11-19 04:49] Fred-Wu commented on #10740
Does Online Help work at your end?

If the purpose of Online Help is to provide a convenient mechanism to search for the help, but it never works, should it be removed from Spyder?

[2019-11-19 04:50] ccordoba12 commented on #10740
There's a bug in Spyder (which we'll fix before Spyder 4 is released), and a bug in `pydoc` itself, for which we'll have to submit a patch to Python.

That's the best we can do about it.

[2019-11-19 05:01] Fred-Wu commented on #10740
Thanks @ccordoba12 . Glad to hear you are going to take care of this. Looking forward to using the final release.

[2019-11-19 05:34] dalthviz commented on #10740
@Fred-Wu a fix for the issues listed here can be found in PR #10755 :)

[2019-11-19 06:46] pranavtare opened #10758 "Error occured while starting the kernel in spyder"
I have tried to reset spyder to default setting , but problem has not been solved.
Also i have updated ipkernel and tried all solutions on github. But still its not working.
Please help if anyone know how to solve this problem, and how this  problem  occures??

[2019-11-19 06:47] pranavtare commented on #10758
![kernelIssue](https://user-images.githubusercontent.com/54949647/69123098-80448d00-0ac6-11ea-8a11-b8fcbedb993a.png)

[2019-11-19 07:32] zysNLP opened #10759 "ubuntu16.04 right click on keyboard causes quit"
## Problem Description

### What steps reproduce the problem?

**1. Use spyder in ubuntu16.04, when I click the right-click button on keyboard, it makes spyder quit. Seemed when install spyder on a new ubuntu, so came the problem. When use right-click button on there app in computer, there is no problem, but got crazy on spyder. When coding, quit, god!!!**

### What is the expected output? What do

[2019-11-19 08:43] QuestionLock opened #10760 "problem of spyder running"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

    plugin = mod.PLUGIN_CLASS(self)
AttributeError: '_ModuleMock' object has no attribute 'PLUGIN_CLASS'
WARNING:traitlets:kernel restarted
WARNING:traitlets:kernel restarted
WARNING:traitlets:kernel restarted

## Vers

[2019-11-19 08:50] raphaelquast commented on #9956
this seems to be persistent in V4.0rc2

... simple example that does not fold correctly after installing V4.0rc2:

[code]

[2019-11-19 09:37] impact27 opened #10761 "Complete fails with SyntaxError"
## Description

### What steps will reproduce the problem?

 1. In the editor, type:
[code]
 2. Select one of the options with `<tab>`
 3. `logica` dissapear but `logical_not` fails to appear, and the error is shown

### Traceback
[code]

## Versions

* Spyder version: 4.0.0.dev0 19a9520ed
* Python version: 3.7.5
* Qt version: 5.12.4
* PyQt5 version: 5.12.3
* Operating System: Darwin 17.7.0

### D

[2019-11-19 09:40] impact27 commented on #10761
My settings:
![Screen Shot 2019-11-19 at 09 39 29](https://user-images.githubusercontent.com/6740194/69135161-8def1800-0ab0-11ea-9b12-91a498ab713f.png)
![Screen Shot 2019-11-19 at 09 39 21](https://user-images.githubusercontent.com/6740194/69135162-8def1800-0ab0-11ea-9401-1b3b7d945d0d.png)

[2019-11-19 10:52] Alex-np opened #10762 "Clear Console not working on Windows"
## Description

### What steps will reproduce the problem?

%clear
The system cannot find the path specified.

## Versions

* Spyder version: 4.0.0b5
* Python version: 3.7.3
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2019-11-19 11:57] ccordoba12 commented on #10758
The error is not complete. Please copy the full text of it and paste it here.

[2019-11-19 11:59] ccordoba12 commented on #10759
If you're using Anaconda, please update PyQt and try again.

[2019-11-19 12:00] ccordoba12 commented on #10759
And for that please open a terminal and run

    conda update qt pyqt

[2019-11-19 12:03] ccordoba12 commented on #10761
@steff456, please take a look at this one.

[2019-11-19 12:05] ccordoba12 commented on #10760
This is fixed in our latest version (3.3.6). Please update.

[2019-11-19 12:05] #10760 closed

[2019-11-19 12:42] jcafhe opened #10763 "Fails to install Spyder4.0.0rc2 on Windows due to ujson dependency"
## Problem Description
First of all, this is a dependency issue so it may be not solved by the Spyder-team but I thought that you may want to know about it.

Spyder 4.0.0rc2 actually fails to install (via pip) on Windows if MSVC compiler is not installed. This is related to the fact that some dependencies depend on `ujson` package, which require MSVC 14 as shown in the log below.

So the dependenc

[2019-11-19 14:40] steff456 commented on #10761
It seems that this is an error of PyLS when it constructs the snippet using the `/` character. I will fix it on the PyLS repo !

[2019-11-19 16:03] dalthviz commented on #10622
Note: `Ctrl+Alt+S` is used for the `Save All` action

[2019-11-19 16:12] ccordoba12 commented on #10763
Sorry but ujson increases a lot the responsiveness of code completion and linting in our editor.

Besides, we only support Anaconda, so it seems this will really make people move to it.

[2019-11-19 16:16] ccordoba12 commented on #10763
By this I mean that even if we provide wheels and give people the ability to use pip to install Spyder, we really don't have the time to support it, so we'd prefer most of our users to switch to Anaconda instead.

[2019-11-19 16:28] goanpeca commented on #10622
`Note: Ctrl+Alt+S is used for the Save All action`

Hmmm ok we need a different one :-p

[2019-11-19 16:53] ccordoba12 commented on #10584
@dalthviz, please try to replicate this one to see if it's still an error in master. It's weird because I could replicate it as soon as it came up.

[2019-11-19 17:12] dalthviz commented on #10584
@ccordoba12 I couldn't reproduce this neither. However another error seems present (when trying to paste `1` for the code snippet of `plot([x], [y], label=[str])`, visible at the end of the following gif):

![sn](https://user-images.githubusercontent.com/16781833/69168774-4aeb6f80-0ac5-11ea-8afa-1982c745a798.gif)

[2019-11-19 17:15] ccordoba12 commented on #10584
Ok, please take a look at that error instead.

[2019-11-19 17:32] jcafhe commented on #10763
Ok, thanks for your clarification.

[2019-11-19 17:41] ccordoba12 commented on #10763
On a second thought, we're going to address this because members of our team are also suffering from it. Sorry if I sounded harsh before.

[2019-11-20 00:30] #9956 closed

[2019-11-20 01:04] zysNLP commented on #10759
@ccordoba12 Thank  you, but it seemed not work. I update qt to 5.9.6 and pyqt to 5.9.2, when start spyder in a new Terminal, right-click on keyboard still make spyder quit.

[2019-11-20 01:15] zysNLP commented on #10759
After the spyder was closed with the right-click button, a line of "Segmentation fault (core dumped)" appeared in the Terminal.

[2019-11-20 02:17] CAM-Gerlach commented on #8864
@ccordoba12 @andfoy I installed PyLS 0.31 and pulled the latest master. Spyder launches fine and the code folding arrows now display. However, when I enable Indent Guides from the Source menu, the entire Spyder UI stops functioning correctly and starts flickering in and out as if in a movie "hacking" scene, and I get continuous error dialogs and a continual series of messages in the console. This

[2019-11-20 02:43] CAM-Gerlach opened #10766 "Enabling or disabling "Show blank spaces" causes Spyder to perma-hang"
## Description

### What steps will reproduce the problem?

"Show blank spaces" works fine when already enabled or disabled at startup, and I am able to enable and disable it with minimal lag with a single 50 line file open. However, if I e.g. have even just `mainwindow.py` open and nothing else and enable/disable it, either from the Source menu or from Spyder's preferences, Spyder becomes complet

[2019-11-20 03:35] ccordoba12 commented on #10759
What do you mean by this?

[2019-11-20 03:42] #10761 closed

[2019-11-20 06:03] guanyonglai opened #10768 "Automatic error repoit should be more reminder, like pycharm, and it should be convenient to set a breakpoint to debuggingrt"
<!---   *** BEFORE SUBMITTING: PASTE CLIPBOARD HERE TO COMPLETE YOUR REPORT ***   ---!>

[2019-11-20 08:29] pranavtare commented on #10758
Traceback (most recent call last):
File "C:\Users\tarep\Anaconda3\lib\runpy.py", line 193, in _run_module_as_main
"__main__", mod_spec)
File "C:\Users\tarep\Anaconda3\lib\runpy.py", line 85, in _run_code
exec(code, run_globals)
File "C:\Users\tarep\Anaconda3\lib\site‑packages\spyder_kernels\console\__main__.py", line 11, in
start.main()
File "C:\Users\tarep\Anaconda3\lib\site‑packages\spyder_kerne

[2019-11-20 08:32] pranavtare commented on #10758
This is the all error i have copied here...please help...I have tried all that you have suggested to all who got this kind of error but it will not work.
please provide solution to it as early as possible and how this happens??
so further i can take care of it....please help

[2019-11-20 08:46] Alegalo opened #10769 "Error when reloading csv after removing it using the variable explorer"
## Description

### What steps will reproduce the problem?

1. Load a csv file with pandas using read_csv().
2. Using the variable explorer to remove the loaded file (right click on variable and choose remove from the context menu).
3. Repeat loading the same file with the same name using pandas with read_csv().
4. Error pops up.

Note: The file is still loaded and everything works, but this error

[2019-11-20 09:25] jsh9 opened #10770 "Debugger console doesn't allow editing command"
When I'm in the debugging mode, I can use the debugger console to view variables, for example:

[code]

And I can also use the up/down arrow key to select previous commands.

However, when I use the up arrow key to select a previous command (for example, `print(a)`), I cannot use left/right arrow keys or Backspace to edit `print(a)`. I have to type everything manually all over again.

Is this a bu

[2019-11-20 09:35] zysNLP commented on #10759
@ccordoba12 A button on our computer keyboard. It's to the left of CTRL, to the right of ALT or Fn

[2019-11-20 10:44] kai3341 opened #10772 "click on __import__()"
## Description

### What steps will reproduce the problem?

Code:
[code]

### Traceback
[code]

## Versions

* Spyder version: 4.0.0rc2
* Python version: 3.7.3
* Qt version: 5.12.4
* PyQt5 version: 5.12.3
* Operating System: Linux 4.19.0-6-amd64

### Dependencies

[code]

[2019-11-20 10:47] GPoloVera opened #10773 "Ipython console not starting with interpreter from another environment"
### Issue Report Checklist

* [X] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [X] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [X] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2019-11-20 11:36] pranavtare commented on #10758
my problem has been solved ....i have saved 2 programs namely calendar and datetime name respectively...
so interpreter causing clash with it...because they are also modules in it...
so just deleted those files and problem has been solved

[2019-11-20 11:43] aiac7676 opened #10774 "just importing datasets from sklearn and printing then"
## Description

### What steps will reproduce the problem?

from sklearn import datasets

house_price = datasets.load_boston()
print(house_price.data)

### Traceback
[code]

## Versions

* Spyder version: 4.0.0rc2
* Python version: 3.7.4
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2019-11-20 12:36] kai3341 opened #10775 "TypeError: can only concatenate tuple (not "str") to tuple"
## Description

### What steps will reproduce the problem?

no actions. It happens without any action
Sometimes empty description is enough

### Traceback
[code]

## Versions

* Spyder version: 4.0.0rc2
* Python version: 3.7.3
* Qt version: 5.12.4
* PyQt5 version: 5.12.3
* Operating System: Linux 4.19.0-6-amd64

### Dependencies

[code]

[2019-11-20 12:38] kai3341 commented on #10772
Duplicate #10775

[2019-11-20 12:38] #10772 closed

[2019-11-20 13:02] piceaSILC opened #10776 "Error after installation.."
## Description

### What steps will reproduce the problem?

The error is:

Traceback (most recent call last):
File "D:\Python\Anaconda\lib\site‑packages\spyder\plugins\ipythonconsole.py", line 1572, in create_kernel_manager_and_kernel_client
kernel_manager.start_kernel(stderr=stderr_handle)
File "D:\Python\Anaconda\lib\site‑packages\jupyter_client\manager.py", line 240, in start_kernel
self.write_

[2019-11-20 15:03] ccordoba12 commented on #10775
Duplicate of #10752

[2019-11-20 15:03] #10775 closed

[2019-11-20 15:03] ccordoba12 commented on #10774
Duplicate of #10752

[2019-11-20 15:03] #10774 closed

[2019-11-20 15:04] ccordoba12 commented on #10758
Yes, that was the problem.

[2019-11-20 15:04] #10758 closed

[2019-11-20 15:06] ccordoba12 commented on #10776
Please open the Anaconda Prompt and run there

    conda update --all

[2019-11-20 15:06] #10776 closed

[2019-11-20 15:06] madphysicist commented on #6642
@PoissonChasseur. Your suggestion (`conda update --all`) worked for me, but only after I deleted the `~/.ipython` directory. That seems to be relevant.

[2019-11-20 15:08] #10521 closed

[2019-11-20 15:10] ccordoba12 commented on #10770
Please upload a video (animated gif) to better understand what's happening here.

[2019-11-20 15:11] ccordoba12 commented on #10769
Duplicate of #10752

[2019-11-20 15:11] #10769 closed

[2019-11-20 15:11] madphysicist commented on #6627
In addition to updating everything with `conda update --all`, I had to delete the `~/.ipython` and `~/.spyder-py3` directories. Not sure which one was the issue at this point, and whether the update was even necessary.

[2019-11-20 15:11] ccordoba12 commented on #10768
That's your opinion, but thanks for the suggestion.

[2019-11-20 15:11] #10768 closed

[2019-11-20 15:12] ccordoba12 commented on #10759
I'm sorry but I have no more advice for you.

[2019-11-20 15:12] #10759 closed

[2019-11-20 15:13] ccordoba12 commented on #10759
Please try Spyder 4 when it comes up. Maybe that fixes your problem.

[2019-11-20 15:43] piceaSILC commented on #10776
Thanks…fixed

From: Carlos Cordoba <notifications@github.com>
Sent: Wednesday, November 20, 2019 10:06 AM
To: spyder-ide/spyder <spyder@noreply.github.com>
Cc: Ian Prior <iprior@sevenislands.com>; Author <author@noreply.github.com>
Subject: Re: [spyder-ide/spyder] Error after installation.. (#10776)

Please open the Anaconda Prompt and run there

conda update --all

—
You are receiving this becaus

[2019-11-20 16:17] jnsebgosselin commented on #10622
Would it be possible to add a little timer for the popup too? This is very annoying because I end up very often adding a full automatic docstring by mistake when I only want to do a simple one-liner docstring.

![autodocstrings](https://user-images.githubusercontent.com/10170372/69256278-38d20580-0b87-11ea-88fa-5da0876cbb4b.gif)

[2019-11-20 16:24] ccordoba12 commented on #8864
@CAM-Gerlach, please install `python-language-server` 0.31.1, which is available in our channel and try again.

@dalthviz, please test how indent guides are working on Windows to see if you can reproduce @CAM-Gerlach's error there.

[2019-11-20 16:36] #10766 closed

[2019-11-20 16:42] ccordoba12 opened #10777 "KeyError when removing syntax error in editor"
## Description

### What steps will reproduce the problem?

This error is generated when a syntax error is removed quickly in the editor. It seems caused by the new folding functionality.

### Traceback
[code]

## Versions

* Spyder version: 4.0.0.dev0 ddaf309bd
* Python version: 3.7.5
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Linux 4.13.16-041316-generic

### Dependencies

[c

[2019-11-20 16:44] ccordoba12 commented on #10777
@andfoy, please take a look at this one. Worst case, we could simply catch that KeyError and pass on it (folding seems fine after that), as we talked about.

[2019-11-20 17:03] navi1172000 opened #10778 "File "C:\Users\naveen\Anaconda3\lib\site-packages\spyder\widgets\variableexplorer\collectionseditor.py", line 449, in createEditor if not editor.setup_and_check(value, title=key, readonly=readonly): File "C:\Users\naveen\Anaconda3\lib\site-packages\spyder\widgets\variableexplorer\arrayeditor.py", line 619, in setup_and_check self.data.flags.writeable = True ValueError: cannot set WRITEABLE flag to True of this array"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\Users\naveen\Anaconda3\lib\site-packages\spyder\widgets\variableexplorer\collectionseditor.py", line 449, in createEditor
    if not editor.setup_and_check(value, title=key, readonly=readonly):
  File "C:\Us

[2019-11-20 17:03] navi1172000 commented on #10778
solve it

[2019-11-20 17:04] #10778 closed

[2019-11-20 17:24] ok97465 commented on #8864
I installed python-language-server 0.31.1. I had the KeyError problem.
I can reproduce this problem in manajro and windows 10.

![indent_guide](https://user-images.githubusercontent.com/22970578/69261835-a7ee3f00-0c05-11ea-9435-24399eb51b8a.gif)

cloudpickle >=0.5.0          :  1.2.2 (OK)
pygments >=2.0               :  2.4.2 (OK)
qtconsole >=4.6.0            :  4.6.0 (OK)
nbconvert >=4.0

[2019-11-20 18:10] brandonloong opened #10779 "Double clicking "print" throws error"
## Description

### What steps will reproduce the problem?

I just had the code:
print(something)

and used my cursor to double click print and see what Kite info it would show, then it threw this error.

### Traceback
[code]

## Versions

* Spyder version: 4.0.0rc2
* Python version: 3.7.0
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 19.0.0

### Dependencies

[code]

[2019-11-20 19:17] Christian-Moore commented on #9302
Hello! I encountered the very same issue, and have found what so far seems to be an effective resolution. Just add the following in the info.plist folder inside of the Python app within the Anaconda folder:
`<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>`
I've so far found it to work perfectly. I'll say otherwise if that stops being the case.
Here's an informational image:
<img width="61

[2019-11-20 19:18] Christian-Moore commented on #9302
Make sure to put a newline between the true part and the Anaconda part.

[2019-11-20 19:34] Christian-Moore commented on #9302
@eagene Does this work?
@ccordoba12 Are there any potential issues I could be missing here?

[2019-11-20 20:13] eagene commented on #9302
I only tried a single quick test, but it seems to work!

Thanks so much, Christian.

Elizabeth

[2019-11-20 20:16] ccordoba12 commented on #10779
Duplicate of #10752

[2019-11-20 20:16] #10779 closed

[2019-11-20 20:57] lwbaqueros opened #10780 "Spyder 4: Error when splitting the window"
## Description

### What steps will reproduce the problem?

When I clic in a file for splitting in a vertical panel, it split in horizontal panel.

So, i select slipt in horizontal (for having vertical split) and it crash syder

### Traceback
[code]

## Versions

* Spyder version: 4.0.0b2
* Python version: 3.7.5
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Depende

[2019-11-20 21:10] goanpeca commented on #10780
@lwbaqueros could you update to Spyder 4.0.0rc2 and check again?

[2019-11-20 22:41] #10209 closed

[2019-11-20 23:18] #10754 closed

[2019-11-21 01:01] its-dhung opened #10783 "Autocompletions should not be triggered when inserting a newline"
## Problem Description
Autocompletions are triggered when inserting a newline. In many cases, the user just wants to move a line of code to the next line instead of editing the source code.

### What steps reproduce the problem?

1. Start with the file
[code]
2. Position your cursor in front of `f` on the first line.
3. Hit enter to move the line to the next line.

### What is the expected output?

[2019-11-21 07:28] CAM-Gerlach commented on #8864
@ccordoba12 I can confirm 0.31.1 also makes no difference, sorry; I still get the error.

[2019-11-21 07:35] impact27 commented on #9403
Solved with https://github.com/spyder-ide/spyder-kernels/pull/169

[2019-11-21 07:35] #9403 closed

[2019-11-21 08:18] jsh9 commented on #10770
Please take a look:

![debug](https://user-images.githubusercontent.com/25124332/69319656-76b94300-0bf4-11ea-9504-4862f93c4f8a.gif)

[2019-11-21 08:34] impact27 opened #10784 "Slow find next"
## Description

### What steps will reproduce the problem?

Fill the editor with some repeting text, for example the output of:
[code]
Search for "aaa" and click rapidely on "find next".
Going to the next results takes almost 1s. If I want to rapidely iterate over the results this is annoying.

Note that the problem only occus when using the down arrow button in the search widget, not when using t

[2019-11-21 08:44] aradorm opened #10785 "Can't change dir to network drive in console"
## Description

### What steps will reproduce the problem?

ust installed spyder 4.0. this error is coming up when i access a folder or a file.

### Traceback
[code]

## Versions

* Spyder version: 4.0.0rc2
* Python version: 3.6.8
* Qt version: 5.11.2
* PyQt5 version: 5.11.3
* Operating System: Windows 10

### Dependencies

[code]

[2019-11-21 08:47] MrFuppes commented on #10752
just ran the current dev version in debug mode and reached the same point. Variable _inspect_word_ seems to have changed from being a `string` to now being a `tuple`.
My current work-around is that I added a type-check in `...\spyder-master\spyder\widgets\mixins.py`, line 473 ff::
[code]
seems to do fine.

[2019-11-21 08:53] gerazov opened #10786 "Alt+Space shortcut cannot be set in Spyder 4"
Moved to Spyder 4 RC2 - awesome work guys! The dark theme is super slick!

I miss something from previouos Spyders  though - I cannot set the `Alt+Space` shortcut anymore. I had this for delete line (and have it in all my other editors).

So if it's fixable I would appreciate if you can bring it back : )

[2019-11-21 08:54] Ing-sn commented on #3903
I do not have admin rights at my work space and I cant uninstall the dell backup and recovery. What shall I do? I am facing the same problem and tried all the stuff mentioned here.

[2019-11-21 09:04] gerazov opened #10787 "Multiple keyboard shortcuts support per command"
Moved to Spyder 4 RC2 - awesome work guys! The dark theme is awesome!

I miss something from previous Spyders  though - `run cell` used to work with both the main big `Return`, and the small `Enter` at the corner of the `NumPad`, i.e. both of them mapped to the same `Return` key in previous Spyders. But now they're differentiated.

It's more convenient to be able to use both shortcuts for the same

[2019-11-21 09:05] jsh9 opened #10788 "Spyder 4.0.0rc2 bug"
I can't really describe what this bug is, so I have to use this vague title, but I know how to reproduce it.

Use this code snippet:

[code]

Paste it into the editor, save as a .py file, and then run it.

After running it, go to the IPython console, type these exact characters:
[code]

As soon as I enter the `(` character, the "Issue reporter" opens up, and the error details are as follows:
[code

[2019-11-21 09:06] aradorm opened #10789 "i dont know what this error is about"
## Description

### What steps will reproduce the problem?

just installed spyder 4.0. i dont know what this error is about. i didnt notice any failure.

### Traceback
[code]

## Versions

* Spyder version: 4.0.0rc2
* Python version: 3.6.8
* Qt version: 5.11.2
* PyQt5 version: 5.11.3
* Operating System: Windows 10

### Dependencies

[code]

[2019-11-21 09:17] jsh9 opened #10790 "Spyder 4.0.0rc2 cursor hover bug"
Code to reproduce this issue:
[code]

Save this as script. You don't even need to run it. Just use your mouse to hover over `MyException`, and "Issue reporter" shows up.

The detailed message is:

[code]

[2019-11-21 10:34] impact27 opened #10791 "Internal Python Language Server error"
## Description

### What steps will reproduce the problem?

Write the result of
[code]
in a file, the replace spaces by return.
Press "Replace/find next" as quickly as possible.

### Traceback
[code]

## Versions

* Spyder version: 4.0.0.dev0 195065831
* Python version: 3.7.5
* Qt version: 5.12.4
* PyQt5 version: 5.12.3
* Operating System: Darwin 17.7.0

### Dependencies

[code]

[2019-11-21 10:36] czatom opened #10792 "Mouse over function name for half sec"
## Description

### What steps will reproduce the problem?

Mouse over function name for half sec is causing some internal problems.

### Traceback
[code]

## Versions

* Spyder version: 4.0.0rc2
* Python version: 3.7.5
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2019-11-21 13:33] MrFuppes commented on #10790
related? https://github.com/spyder-ide/spyder/issues/10752

[2019-11-21 13:34] MrFuppes commented on #10788
maybe related? https://github.com/spyder-ide/spyder/issues/10752

[2019-11-21 13:42] MrFuppes commented on #10792
related? https://github.com/spyder-ide/spyder/issues/10752

[2019-11-21 13:44] MrFuppes commented on #10789
issues related to a variable named `inspect_word` seem to appear quite frequently at the moment, see e.g. https://github.com/spyder-ide/spyder/issues/10752

[2019-11-21 13:59] ccordoba12 commented on #10790
Duplicate of #10752

[2019-11-21 13:59] #10790 closed

[2019-11-21 13:59] ccordoba12 commented on #10788
Duplicate of #10752

[2019-11-21 13:59] #10788 closed

[2019-11-21 13:59] ccordoba12 commented on #10792
Duplicate of #10752

[2019-11-21 13:59] #10792 closed

[2019-11-21 13:59] ccordoba12 commented on #10789
Duplicate of #10752

[2019-11-21 13:59] #10789 closed

[2019-11-21 14:01] ccordoba12 commented on #10785
Are you trying to access a network folder?

[2019-11-21 14:03] ccordoba12 commented on #8864
Yeah, it'll be fixed by PR #10782.

[2019-11-21 14:04] ccordoba12 commented on #10770
@impact27, could you take a look at this one?

[2019-11-21 15:03] anabeatrizzz opened #10793 "issue"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/usr/lib/python3/dist-packages/spyder/widgets/helperwidgets.py", line 127, in paint
    textRect = style.subElementRect(QStyle.SE_ItemViewItemText, options)
TypeError: subElementRect(self, QStyle.SubElement, QS

[2019-11-21 15:07] ccordoba12 commented on #10793
Thanks for reporting. This will be fixed in Spyder 4, to be released later this month.

[2019-11-21 15:07] #10793 closed

[2019-11-21 15:17] ccordoba12 commented on #3903
Sorry, there's nothing else to do about it.

[2019-11-21 15:18] aradorm commented on #10785
Nope. a normal folder

On Thu, Nov 21, 2019, 16:01 Carlos Cordoba <notifications@github.com> wrote:

[2019-11-21 15:20] ccordoba12 commented on #10785
It doesn't look like, because the error shows

and that doesn't start with `C:\` or `D:\`.

Please share a screenshot that shows the path to that folder.

[2019-11-21 15:33] ma-sadeghi opened #10794 "Bug in Spyder rc2"
## Description

### What steps will reproduce the problem?

I don't really know what happened, I just opened up Spyder and probably hovered my mouse over something.

### Traceback
[code]

## Versions

* Spyder version: 4.0.0rc2
* Python version: 3.7.5
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Linux 5.3.0-22-generic

### Dependencies

[code]

[2019-11-21 15:33] colinww opened #10795 "Hovering over function definitions causes this message."
## Description

### What steps will reproduce the problem?

Just setup Spyder 4 with Kite, and hovering over all the function definitions causes this crash.

### Traceback
[code]

## Versions

* Spyder version: 4.0.0rc2
* Python version: 3.7.0
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 19.0.0

### Dependencies

[code]

[2019-11-21 15:35] colinww commented on #10795
In the preferences, Disabling "Completion and linting->Introspection->Enable hover hints" makes this go away.

[2019-11-21 15:38] ma-sadeghi opened #10796 "(Similar) bug in Spyder rc2"
## Description

### What steps will reproduce the problem?

I think this is similar to the one I just reported a few minutes ago: it happened when I clicked on a class method, and started renaming it.

### Traceback
[code]

## Versions

* Spyder version: 4.0.0rc2
* Python version: 3.7.5
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Linux 5.3.0-22-generic

### Dependencies

[code]

[2019-11-21 15:38] ccordoba12 commented on #10796
Duplicate of #10752

[2019-11-21 15:38] #10796 closed

[2019-11-21 15:38] ccordoba12 commented on #10796
Please don't report it anymore.

[2019-11-21 15:39] ccordoba12 commented on #10794
Duplicate of #10752

[2019-11-21 15:39] #10794 closed

[2019-11-21 15:48] ccordoba12 commented on #10795
Duplicate of #10752.

[2019-11-21 15:48] #10795 closed

[2019-11-21 15:50] ccordoba12 commented on #10787
Thanks for noticing this small regression. We'll fix it after we release Spyder 4.

[2019-11-21 15:52] impact27 commented on #10770
This looks like a bug with an old version of qtconsole. Could you update qtconsole and report back?

[2019-11-21 15:53] ccordoba12 commented on #10786
Ok, we'll take a look at it in the future.

[2019-11-21 15:54] impact27 commented on #10770
For reference: https://github.com/jupyter/qtconsole/pull/331

[2019-11-21 16:04] aradorm commented on #10785
You're right... My mistake, it is a network folder

On Thu, Nov 21, 2019, 17:20 Carlos Cordoba <notifications@github.com> wrote:

[2019-11-21 16:33] ccordoba12 commented on #10785
We'll fix this in a future version. For now, please use a regular directory.

[2019-11-21 17:06] its-dhung opened #10797 "Autocompletions should not be triggered by backspace"
## Problem Description
Autocompletions are triggered when deleting a character. In many cases, the user is strictly trying to delete text instead of inserting any new characters so showing autocompletions, which would insert new characters, is counterproductive.

### What steps reproduce the problem?

There are a couple of manifestations of this problem.

__Case 1: User is deleting a newline to mo

[2019-11-21 17:11] its-dhung opened #10798 "Completions sometimes insert extraneous text"
## Problem Description
When using a completion, sometimes extraneous text is inserted into the buffer.

### What steps reproduce the problem?
See the video below:

![spyder-bad-insert](https://user-images.githubusercontent.com/3752225/69360018-a1c88480-0c3e-11ea-88e3-2701a02093a2.gif)

### What is the expected output? What do you see instead?
__Expected:__ `this_message` should be inserted into th

[2019-11-21 19:07] matssnaps opened #10799 "all the data disappeared"
## Description

### What steps will reproduce the problem?

All my data including python scripts and data was removed when I tried to remove just one file through file explorer!!!

### Traceback
[code]

## Versions

* Spyder version: 3.3.6
* Python version: 3.7.0
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 19.0.0

### Dependencies

[code]

[2019-11-21 19:55] nikhil561997 commented on #5704
I am also facing the same issue. Please help on how I can install Anaconda in D Drive.

[2019-11-21 23:03] ccordoba12 commented on #10799
We're very sorry but this looks like a problem with Catalina and not with Spyder. Catalina has several permission problems like the one you posted above, that were not present in previous versions.

Besides, if you didn't have your code and data under version control (git or mercurial), there's nothing we can do to help you.

[2019-11-21 23:03] #10799 closed

[2019-11-21 23:13] KaterinaTik opened #10800 "macOS, Spyder: Text selecting throwing Spyder error"
When I trying to select some text (sometimes it is reproducible at first attempt) ,Spyder throws an error

Here is the recording

Here are logs:
 File "//anaconda3/lib/python3.7/site-packages/spyder/plugins/editor/widgets/codeeditor.py", line 1217, in handle_hover_response
    at_point=self._last_point)
  File "//anaconda3/lib/python3.7/site-packages/spyder/widgets/mixins.py", line 634, in show_hi

[2019-11-21 23:15] ccordoba12 commented on #10800
Duplicate of #10752

[2019-11-21 23:15] #10800 closed

[2019-11-22 00:11] CAM-Gerlach commented on #5704
@nikhil561997 If you're having trouble installing Anaconda, please open an issue with Anaconda instead; the Spyder developers on this repo don't have any direct control over their install process, sorry. Best of luck.

[2019-11-22 02:28] #5533 closed

[2019-11-22 04:43] andfoy commented on #10798
Thanks for reporting this one @its-dhung , however, as you mention this issue is difficult to reproduce; at least I couldn't reproduce it on my machine by trying the aforementioned completion scenario

[2019-11-22 04:44] andfoy commented on #10798
What do you think about this one @ccordoba12

[2019-11-22 10:17] impact27 opened #10803 "Faulthandler crash report"
## Description

### What steps will reproduce the problem?

C traceback:

[code]

### Traceback
[code]

## Versions

* Spyder version: 4.0.0.dev0 195065831
* Python version: 3.7.5
* Qt version: 5.12.4
* PyQt5 version: 5.12.3
* Operating System: Darwin 17.7.0

### Dependencies

[code]

[2019-11-22 12:36] ianhinder commented on #1741
Is this still unavailable on macOS in Spyder 3.3.6?  So if I have two editor tabs open and want to quickly switch between them, I have to use the touchpad rather than the keyboard?  The macOS shortcuts for this are shift-command-[ and shift-command-], but neither of these seem to do anything.  Ctrl-PageUp and Ctrl-PageDown don't work.  Ctrl-Tab and Ctrl-Shift-Tab don't work.  There also doesn't se

[2019-11-22 13:57] impact27 opened #10805 "Faulthandler crash report"
## Description

### What steps will reproduce the problem?

### Traceback
[code]

## Versions

* Spyder version: 4.0.0.dev0 3f7fce74e
* Python version: 3.7.5
* Qt version: 5.12.4
* PyQt5 version: 5.12.3
* Operating System: Darwin 17.7.0

### Dependencies

[code]

[2019-11-22 14:20] impact27 opened #10806 "Faulthandler crash report"
## Description

### What steps will reproduce the problem?

C traceback:
[code]

### Traceback
[code]

## Versions

* Spyder version: 4.0.0.dev0 3f7fce74e
* Python version: 3.7.5
* Qt version: 5.12.4
* PyQt5 version: 5.12.3
* Operating System: Darwin 17.7.0

### Dependencies

[code]

[2019-11-22 16:01] richy330 opened #10807 "Indent guides missaligning when sidescrolling"
## Problem Description

Not a serious issue, but the indent guides in the Editor missalign when sidescrolling. They seem to move about twice the speed as the rest of the code in the Editor. They are resetted to the proper location when scrolling to the initiall position(scrolling to the left end in the editor)

### What steps reproduce the problem?

1. Write code with loops and activate indentatio

[2019-11-22 16:33] jnsebgosselin commented on #10787
I can take care of that one if you wish.

[2019-11-22 16:33] goanpeca commented on #10787
Please go ahead @jnsebgosselin (side note, I will upload the translations tonight, sorry for the delays!)

[2019-11-22 16:44] jnsebgosselin commented on #10787
I can think of two options to solve this:

1. We hardcode `Ctrl+Enter` and `Shift+Return` as shortcut for `run cell` and `run cell and advance`.
2. We add the possibility to define 2 shortcuts per action in the `Keyboard shortcuts` preference.

Or maybe there is another option. Any thoughts?

[2019-11-22 16:45] goanpeca commented on #10787
We will do this for Spyder 5, which is something we wanted to do for some time now.

We should probably do this for now to avoid the regression. Thoughts @ccordoba12 ?

[2019-11-22 17:14] ilayn commented on #10763
I encountered this and I don't understand this response at all. If this is going to be an Anaconda product, then please put a disclaimer on it in caps-lock.

If you fix only problems that your team members encounter then probably it is time for me to move away from this project.

[2019-11-22 18:08] jnsebgosselin opened #10808 "The content of the keyboard shortcuts table is not painted correctly"
## Problem Description

When the size of section `Name` is reduced, the text is painted beyond the size of the section.

![keyboard_pref_paint](https://user-images.githubusercontent.com/10170372/69449113-162b2280-0d28-11ea-9709-af0974fdf9c2.gif)

## Versions

* Spyder 4.0.0.dev0 (Commit: 51a29bb3a)
* Python 3.7.3 64-bit | Qt 5.9.6 | PyQt5 5.9.2 | Windows 10

[2019-11-22 18:20] jnsebgosselin commented on #10808
So this problem arises because we paint the content of section `Name` with `HTMLDelegate`

A solution would be to set correctly the rectangle on which the text is painted in the `HTMLDelegate` paint method with:

`painter.setClipRect(textRect.adjusted(0, 0, -self._margin, 0))`

However, this doesn't look perfect because the text is not elided like it is for the other two columns. I think eliding t

[2019-11-22 18:32] jnsebgosselin commented on #10786
Please see https://github.com/spyder-ide/spyder/issues/7981, it is closely related to the issue reported here.

[2019-11-22 18:32] jnsebgosselin commented on #10786
Also, @gerazov, what is your operating system? Thanks!

[2019-11-22 19:25] ccordoba12 commented on #10808
Ok, I agree with this. Thanks for taking a look at it this @jnsebgosselin!

[2019-11-22 19:28] ccordoba12 commented on #10807
Thanks for reporting. We'll take a look at this in a future release.

[2019-11-22 19:39] ccordoba12 commented on #10763
There is not, but we're going to integrate even further with Anaconda in the future.

That's your choice.

[2019-11-22 19:45] ccordoba12 commented on #10805
This is going to be fixed by PR #10782

[2019-11-22 19:45] #10805 closed

[2019-11-22 19:47] ccordoba12 commented on #10806
This looks the same as #10803.

[2019-11-22 19:47] #10806 closed

[2019-11-22 20:29] tstreibl commented on #10763
I like spyder and I like winpython. Therefore, I hope spyder doesn’t become incompatible to standard python distributions when it integrates further with Anaconda. In this sense, I would be happy to see all the nice new spyder 4 capabilities coming sooner or later to winpython, too. You have a large winpython fanbase out there!

[2019-11-22 20:33] ccordoba12 commented on #10763
It won't. We just plan to add more functionality based on conda (like environment management).

Ok, thanks for letting us know about it! We didn't know, so we're leaned towards Anaconda.

In any case, this is an easy to fix error and @dalthviz already created two PRs for it.

[2019-11-22 21:01] ccordoba12 commented on #10803
This looks very similar to #10777. Please don't report more of these errors.

[2019-11-22 21:01] #10803 closed

[2019-11-22 21:20] ccordoba12 commented on #9775
This was fixed already.

[2019-11-22 21:20] #9775 closed

[2019-11-22 22:29] goanpeca commented on #10787
@jnsebgosselin we talked a bit with @ccordoba12. Do you think you could work on this by adding an extra column to the shortcuts section on the preferences pane?

The rationale is that having more than 2 shortcuts/aliases is too much so we can keep the interface simple by adding an extra column.

We would also need to make the entries on the configuration lists and handle this appropriately.

Thoug

[2019-11-22 22:59] bcolsen commented on #10797
@andfoy How about not activating autocomplete for spaces and tabs as well? This is especially annoying when fixing line indents.

[2019-11-22 23:39] jnsebgosselin commented on #10787
Yes, I agree with this, from my experience, having 2 configurable shortcuts per action seems to be the norm.

I will start working on this 👍

[2019-11-22 23:44] goanpeca commented on #10787
Great! thanks a lot :-)

[2019-11-23 00:47] ccordoba12 commented on #10126
This was fixed already and it'll be part of Spyder 4.

[2019-11-23 00:47] #10126 closed

[2019-11-23 02:11] jonschwenk opened #10814 "Feature request: include environment when initializing new script"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2019-11-23 02:18] ccordoba12 commented on #10814
Thanks for the suggestion, but instead of doing this, we plan to allow users to associate a conda env with a project.

[2019-11-23 02:18] #10814 closed

[2019-11-23 02:23] ccordoba12 opened #10815 "Add "Copy absolute/relative path" actions to the editor"
When you do right click on a tab in the editor, you get the following menu

![Selección_039](https://user-images.githubusercontent.com/365293/69462451-01aa5280-0d47-11ea-9216-1136fa47e6fc.png)

What I'd like to see on it are the same options present in Files called "Copy Absolute/Relative Path"

![Selección_038](https://user-images.githubusercontent.com/365293/69471462-2f09f700-0d6d-11ea-9c0d-d57f

[2019-11-23 02:24] ccordoba12 commented on #10815
Also, please add the same keyboard shortcuts present in Files to those actions in the editor.

[2019-11-23 02:35] ccordoba12 commented on #10672
Hi everyone, we decided to delay the final release one more week due to some nasty bugs that appeared in our second release candidate. So now you have time to upload your translations until November 30 at 00:00 am UTC.

To give you an additional hand with that, @goanpeca created PRs for those who have not yet submitted one, with the help of Google translator.

We really hope you find time to revie

[2019-11-23 02:40] ccordoba12 commented on #10148
@juanis2112, please take a look at this one. To reproduce this problem, please copy this code as is

[code]

paste it in the editor and write `:` after the `else`. Then you'll see this code after that:

[code]

Please find what part of our code is doing that (most probably in `spyder/plugins/editor/widgets/codeeditor.py`) and remove it, so that automatic auto-indentation doesn't happen anymore.

[2019-11-23 02:48] ccordoba12 commented on #10721
@sochtends, we don't like to add too much configurability in Spyder, and what you're proposing is too much only for your use case. So for now we're going to use the current working directory.

[2019-11-23 02:49] ccordoba12 commented on #10721
@juanis2112, please make that the directory that it's open when you go to the menu `File > Open Project...`

![Selección_041](https://user-images.githubusercontent.com/365293/69471800-9cb82200-0d71-11ea-891c-3bfb3fbe09ea.png)

be the directory shown in the working directory toolbar:

![Selección_042](https://user-images.githubusercontent.com/365293/69471824-c113fe80-0d71-11ea-8ee6-d763c2e33f88.png

[2019-11-23 02:56] JohnRobson commented on #4600
I'm using Spyder 4.0.0.dev0 and Code Folding Disappeared...

[2019-11-23 03:12] JohnRobson commented on #9956
V4.0.0.dev0 has no code folding.

[2019-11-23 06:07] JohnRobson opened #10816 "No Code Folding"
I'm using version 4.0.0.dev0 and there is no Code Folding.  Should I enable or install something?

![2019-11-23 01:03:28](https://user-images.githubusercontent.com/378523/69474309-8d46d200-0d8d-11ea-9cd6-3a0c4171f3aa.png)

[2019-11-23 09:28] gerazov commented on #10786
Yeah, I saw #7981 but most of it was about Emacs support, I just wanted my shortcut back :smile:
I'm on Manjaro 18.1.2 with KDE running on kernel 5.3.8-3.

[2019-11-23 13:37] jnsebgosselin commented on #10786
What happens when you try to set the shortcut with `Alt + Space`?

[2019-11-23 15:02] andfoy commented on #10797
What do you think about this @ccordoba12

[2019-11-23 15:17] ccordoba12 commented on #10798
I'm leaving this for 4.1.0 to try to find a reproducible use case.

[2019-11-23 15:28] sanyala opened #10817 "/System/Library/Frameworks/Python.framework/Versions/2.7/Resources/Python.app/Contents/MacOS/Python: No module named spyder_kernels"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2019-11-23 16:01] DebalB opened #10818 "Facing TesseractNotFoundError using Spyder IDE but working in Python CLI (Anaconda)"
## Description

### What steps will reproduce the problem?

I have installed Tesseract and Pytesseract on Windows 10 (Anaconda).
I have added the path to Tesseract installation folder in the PATH System Environment Variables.
When running my script, I am facing the following error:
"TesseractNotFoundError: tesseract is not installed or it's not in your path"

Following is an example scirpt which c

[2019-11-23 16:03] ccordoba12 commented on #10818
Please read our guide

https://github.com/spyder-ide/spyder/wiki/Working-with-packages-and-environments-in-Spyder

to understand how to fix this problem.

[2019-11-23 16:03] #10818 closed

[2019-11-23 16:05] ccordoba12 commented on #10817
If you want to use your system Python to run code (really not advisable because you shouldn't touch your system Python at all), you need to install spyder-kernels on it.

Also, please read our guide

https://github.com/spyder-ide/spyder/wiki/Working-with-packages-and-environments-in-Spyder

to understand how to do that.

[2019-11-23 16:05] #10817 closed

[2019-11-23 16:11] ccordoba12 commented on #10816
Code folding now depends on the latest version of the Python language server. Please update to it or wait until rc3 is out, which will have the right dependencies for the new code folding implementation.

[2019-11-23 16:11] #10816 closed

[2019-11-23 16:16] ccordoba12 commented on #10277
We decided to leave this one for 4.1.0 because we'd like to come up with a good UX for it. @andfoy implemented it but found that a naive UX is really cumbersome, so we need to think more carefull about it.

[2019-11-23 16:37] ccordoba12 commented on #10797
@andfoy is going to change the current behavior, so fallback completions are requested only on demand. That should fix most if not all of these annoying issues.

[2019-11-23 17:08] lwbaqueros opened #10819 "I only install spyder-notebook"
## Description

### What steps will reproduce the problem?

I only intall spyder-notebook by conda console, and then open again spyder from the console

## Versions

* Spyder version: 4.0.0b2
* Python version: 3.7.5
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2019-11-23 17:48] JohnRobson commented on #10816
Spyder requires "pyls >=0.31.0;<0.32.0", I'm using "0.31.0-1", still not working, still complaining "pyls >=0.31.0" and now shows this message:

"Completion and linting in the editor for Python files will not work during the current session, or stopped working.

To fix this, please verify that your firewall or antivirus allows Python processes to open ports in your system, or restart Spyder."

I d

[2019-11-23 17:50] JohnRobson commented on #10816
I'm using this one:  [https://www.archlinux.org/packages/community/any/python-language-server/](https://www.archlinux.org/packages/community/any/python-language-server/)

[2019-11-23 18:03] ccordoba12 commented on #10816
To fix this, please verify that your firewall or antivirus allows Python processes to open ports in your system, or restart Spyder."

Sorry but the message is quite clear. We can't do anything about that, so you need to figure it out why ports are blocked in your system and unblock them.

Now (in master, I mean) folding is provided by the same server that gives completion and linting, and that's w

[2019-11-23 18:29] sanjanasri opened #10821 "unable to see variable popup window"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/usr/lib/python3/dist-packages/spyder/widgets/variableexplorer/collectionseditor.py", line 449, in createEditor
    if not editor.setup_and_check(value, title=key, readonly=readonly):
  File "/usr/lib/python3/d

[2019-11-23 18:30] goanpeca commented on #10821
Please update to version 3.3.6

[2019-11-23 18:50] Jeroendevr opened #10822 "Typing python code in a script"
## Description

### What steps will reproduce the problem?

No exact guide to reproduce this problem. Just running development version on macOS using PIP.

### Traceback
[code]

## Versions

* Spyder version: 4.0.0.dev0 51a29bb3a
* Python version: 3.7.4
* Qt version: 5.12.4
* PyQt5 version: 5.12.3
* Operating System: Darwin 19.0.0

### Dependencies

[code]

[2019-11-23 18:54] lindseyjne opened #10823 "Error message when launching Spyder"
When launching Spyder, I'm getting the following error and I'm not sure how to solve this.

AttributeError: module 'dateutil.tz' has no attribute 'UTC'
AttributeError: module 'dateutil.tz' has no attribute 'UTC'
AttributeError: module 'dateutil.tz' has no attribute 'UTC'

## Version and main components

* Spyder Version: 3.2.3
* Python Version: 3.6.0
* Qt Versions: 5.6.2, PyQt5 5.6 on Windows

##

[2019-11-23 22:46] lwbaqueros opened #10824 "After upgrade to the second release candidate, I lose the spyder-notebook plugin."
## Description

### What steps will reproduce the problem?

I upgrade from a previous reeleasee spyder beta to the last candidate.

Then the spyder-notebook was disable and did not work anymore.

when I do conda list, I can see the package there, I uninstall the package and installa againg, but it did not work.

Then I download and copy the plugin in to the folder home/user/.spyder/plugin and then

[2019-11-23 23:05] JohnRobson commented on #10816
I disabled the firewall. There are no ports blocking. Please, how can I enable this linting?

[2019-11-23 23:32] ccordoba12 commented on #10816
You can have a corrupted `/etc/hosts` file. Please see the last comments of issue #10209 for a possible solution.

[2019-11-23 23:45] #10797 closed

[2019-11-23 23:51] lwbaqueros commented on #10824
I installed in a new environment with spyder= **4.0.0b2** version, and then installed the spyder-notebook  pluging = **it works perfectly.**

Then, I repeated with another new environment + spyder=**4.0.0rc2** + spyder-notebook installation  = **It doesn't Work**

In the release candidate 2, it seems this plugin doesn't work. I tried to install it manually, and somehow it could appear in the spyde

[2019-11-24 07:31] jsh9 commented on #10770
I upgraded `qtconsole` to the newest version, and the problem was resolved.

[2019-11-24 07:31] #10770 closed

[2019-11-24 07:40] lwbaqueros commented on #10780
Buenas Buenas!!!
The release candidate 2 works perfectly with splitting edit pane. However, when I installed this version, plugins like spyder-notepad and spyder-terminal doesn't work.

I open another issue for the plugins mentioned.

Thank you

[2019-11-24 10:52] jitseniesen commented on #10824
You are right, the notebook plugin (and all other plugins) do not work with the release candidate versions of Spyder because of some changes in the plugin API. We have made the necessary changes to the notebook plugin and some other plugins but not yet released new versions. If you want to run spyder 4.0.0rc2 and the notebook plugin, then you have to install the development version of the notebook

[2019-11-24 11:00] jitseniesen commented on #10824
For the record, this was fixed in spyder-ide/spyder-notebook#218 .

[2019-11-24 11:00] #10824 closed

[2019-11-24 13:31] ccordoba12 commented on #10819
Closing because this was already solved.

[2019-11-24 13:31] #10819 closed

[2019-11-24 14:26] #10780 closed

[2019-11-24 15:39] RIM-LLC opened #10827 "Spyder 4: "Issue reporter" window pops up randomly when working on Editor window"
## Problem Description

When working on the Editor window of Spyder 4, the Issue Reporter window keeps popping up. Usually, it happens when I select a variable. However, it pops up even without any selection. If I close the window, everything works normally. Below the window that pops up.

The error message on "details":

  File "C:\Users\danil\Anaconda3\lib\site-packages\spyder\plugins\editor\wid

[2019-11-24 16:12] #10752 closed

[2019-11-24 16:16] dcasasor opened #10828 "Unidentified error"
## Description

### What steps will reproduce the problem?

I just opened Spyder and an error screen popped up.

### Traceback
[code]

## Versions

* Spyder version: 4.0.0rc2
* Python version: 3.7.5
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Linux 4.15.0-70-generic

### Dependencies

[code]

[2019-11-24 16:16] ccordoba12 commented on #10827
Duplicate of #10752

[2019-11-24 16:16] #10827 closed

[2019-11-24 16:17] ccordoba12 commented on #10828
Duplicate of #10752

[2019-11-24 16:17] #10828 closed

[2019-11-24 16:17] ccordoba12 commented on #10828
Please don't report this issue anymore.

[2019-11-24 16:17] ccordoba12 commented on #10828
I mean, it'll be fixed in our next release candidate, to be released today or tomorrow.

[2019-11-24 16:18] ccordoba12 commented on #10780
They are in the process of being updated to work with Spyder 4.

[2019-11-24 16:19] ccordoba12 commented on #10822
Duplicate of #10752

[2019-11-24 16:19] #10822 closed

[2019-11-24 16:19] ccordoba12 commented on #10822
It'll be fixed in our next release candidate.

[2019-11-24 16:21] ccordoba12 commented on #10821
This error is fixed in that version.

[2019-11-24 16:21] #10821 closed

[2019-11-24 16:27] ccordoba12 commented on #10823
This is not a problem with Spyder. Please an Anaconda Prompt and run there

    conda update --all

That should solve it.

[2019-11-24 16:27] #10823 closed

[2019-11-24 17:00] jnsebgosselin commented on #10787
@ccordoba12 @goanpeca
What is the strategy you would like to use to store the key sequences in the configs, now that we can have two key sequence assigned per shortcut?

Would it be ok to store them using a list of strings? This would make it very convenient for assigning shortcuts to `QAction`.

[2019-11-24 17:02] ccordoba12 commented on #10787
That's fine for me and what I was about to suggest.

[2019-11-24 17:43] lindseyjne commented on #10823
I did try that numerous times without success.  The only thing that worked was uninstalling Anaconda completely and reinstalling.

[2019-11-24 17:45] ccordoba12 commented on #10823
I was about to suggest that too. Sorry that you had to do that.

[2019-11-24 17:47] tom-forbes opened #10829 "Upgrading to catalina"
## Description

### What steps will reproduce the problem?

Had to reinstall anaconda distribution upon upgrading os to Catalina

### Traceback
[code]

## Versions

* Spyder version: 3.3.6
* Python version: 3.7.0
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 19.0.0

### Dependencies

[code]

[2019-11-24 19:39] sanjanasri commented on #10821
Thank you for your response

On Sun 24 Nov, 2019, 9:51 PM Carlos Cordoba, <notifications@github.com>
wrote:

[2019-11-24 20:06] ccordoba12 commented on #10829
This is not something we can help you with. I think you need to uninstall Anaconda and install it in our Users directory, but I'm not sure.

[2019-11-24 20:06] #10829 closed

[2019-11-25 04:29] NK308 opened #10830 "Outline View collpases files when selecting editor."
## Problem Description

While multiple modules are opened simultaneously in the editor, setting the focus to the editor collapses all other modules in the outline view.

### What steps reproduce the problem?

1. Open multiple modules (from same package) simultaneously in the editor in spyder.
2. Show outline view in spyder.
3. Set the outline view to show all files.
4. Expand arbitrary parts of th

[2019-11-25 05:11] eafpres commented on #10702
I do not have a reproducible example yet.  I can reproduce it in a project I'm working but that has lots of  code, data, etc.  Every time I try something smaller, I cannot reproduce.

I wanted to pass along an observation.  When a variable disappears from the Variable Explorer, sorting by name, scrolling all the way to the end, sorting the opposite way (i.e. clicking the name column heading again)

[2019-11-25 09:04] gerazov commented on #10786
Nothing happens - like I didn't press anything, but `Alt+x` gets registered fine.

[2019-11-25 12:39] FabianHofmann commented on #10786
Hey, I'm having the same issue using Ubuntu 18.04

[2019-11-25 13:25] Peshangh opened #10831 "Calculation Error in Spider!!!"
## Description

### What steps will reproduce the problem?

I think everyone of you can understand what is the output of the following code:
`
   for j, F in zip(range(1000), [(x/1000)+0.001 for x in range(1000)]):
   print ("j = ",j, "==========", "F = ", F )
`
should be 0.001.....1.0
    but instead in spider I get 0.502 .....1.0. Only half of the numbers, I am using the same code in Jupiter the

[2019-11-25 14:07] lindseyjne commented on #10823
No worries - it was an easy process.

[2019-11-25 14:16] ccordoba12 commented on #10831
Not all numbers are printed in Spyder, just the last 500 for efficiency reasons.

[2019-11-25 14:16] #10831 closed

[2019-11-25 14:52] Peshangh commented on #10831
Thank you very much I tested my numbers and it's counting all but for printing not all numbers are shown!

[2019-11-25 15:19] ccordoba12 commented on #10830
This will be fixed in Spyder 4. Now the outline doesn't collapse when you move from editor to another.

[2019-11-25 15:19] #10830 closed

[2019-11-25 15:21] ccordoba12 commented on #10786
@FabianHofmann, those kind of comments are not helpful. For next time please leave an emoji reaction on the issue description.

[2019-11-25 15:28] jnsebgosselin commented on #10786
Ok thanks. I don't understand why it is not registered because we are not blocking it. So if the OS is not eating the event, it should be passed to the shortcut editor dialog.

When you press `Alt + Space` in the Editor, is this registered as a normal space? Sorry, but I don't have access to your OS, so I'm trying to guess where the problem is from your inputs.

[2019-11-25 15:35] goanpeca commented on #10786
I could create a VM later and try to see what the issue is. On Mac `alt+space` is registered fine.

[2019-11-25 15:37] goanpeca commented on #10786
This is close enough, right?
https://osdn.net/projects/manjaro/storage/kde/18.1.3/manjaro-kde-18.1.3-191114-linux53.iso/ @gerazov ?

[2019-11-25 15:38] jnsebgosselin commented on #10786
Cool thanks! On Windows, I haven't found a way yet to override without some dirty hack the `open the window menu`  that is triggered by `Alt + Space`.

[2019-11-25 15:38] goanpeca commented on #10808
@jnsebgosselin also in dark mode we are not changing the color of the text, I think we could also fix the HTML delegate to take this into account

[2019-11-25 15:42] goanpeca commented on #10786
We will probably need to do this anyway even if to notify the user this is not a suitable shortcut on windows as it interferes with the OS

[2019-11-25 15:51] ccordoba12 commented on #10702
@eafpres, if it's possible for you to share your code privately with us, that'd be great to debug this problem. We can promise you total confidentiality about it.

[2019-11-25 15:52] gerazov commented on #10786
@jnsebgosselin yeah `Alt+space` adds spaces in the editor. KDE does define this is a shortcut to `krunner` but I've disabled that in the System Settings.

I have Spyder 3 still installed in a different `conda` environment and the shortcut is working fine and does register in the keyboard settings.

@goanpeca that's the one.

[2019-11-25 16:50] jnsebgosselin commented on #10787
Here is a POC where I added an extra column to the shortcuts section on the preferences pane and represented each shortcut by a button. Any thoughts?

![keyboard_pref_wip](https://user-images.githubusercontent.com/10170372/69560271-7e247780-0f79-11ea-9f3a-3db785e890e9.gif)

[2019-11-25 16:51] goanpeca commented on #10787
@jnsebgosselin that looks awesome !

Is it possible to trigger the shortcut editor with the keyboard also? (instead of mouse click?)

Please open a PR :-)

[2019-11-25 17:08] jnsebgosselin commented on #10787
Yes, it is still possible to trigger the shortcut editor with the keyboard when the table has focus.

However, It was previously possible to navigate the table and trigger the shortcut editor while the search line edit had focus. I'm not sure how to handle that case with this design though. I don't know if it's a big deal, since returning the focus to the table can easily be done with a simple Shi

[2019-11-25 17:09] goanpeca commented on #10787
(imple Shift-Tab. yeah thats ok!)

[2019-11-25 17:19] ccordoba12 commented on #10787
It looks pretty neat, thanks @jnsebgosselin!

[2019-11-25 17:44] gerazov opened #10833 "Autocomplete should not triger on writing numbers"
I'm not sure if it's solved by PR: Prevent automatic completions on backspace and return #10802, so I'll add it just in case.

In Spyder 4.0.0rc2 if you start typing a number in the Editor, after three numbers the autocomplete triggers as so:

![image](https://user-images.githubusercontent.com/15214418/69564796-f0b24900-0fb3-11ea-9111-8a7f9977d443.png)

[2019-11-25 17:45] goanpeca commented on #10833
@gerazov could you provide a example?

[2019-11-25 17:46] impact27 opened #10834 "Keyboard events leak from console to editor while debugging"
## Description

### What steps will reproduce the problem?

create a file `tmp.py`:
[code]
And a file `tmp2.py`:
[code]
 1. Run tmp2.py
 2. type in the console `%debug`
 3. Type `u+<Return>` and close `tmp.py`
 4. Type `d` without return
 5. Press return as many times and as quickly as possible.

I see 1-2 new lines being added to `tmp2.py` before `tmp.py` has time to load and the focus returns to

[2019-11-25 17:48] dk-raghu commented on #3138
## Experience installing Anaconda
* I did several trials of install and un-install Anaconda (I was just interested in launching Spyder) as a novice user of Python
* Browsed internet over and over again
* Used "conda" and "pip" several times
* Finally I un-installed the anti-virus software on my Laptop
* Un-installed Anaconda and re-installed it again and then launced Spyder FINALLY !!!!
* Works no

[2019-11-25 17:52] ccordoba12 commented on #3138
This was (most probably) the critical step.

[2019-11-25 18:31] goanpeca commented on #588
Should we close this @ccordoba12 @andfoy ?

[2019-11-25 18:34] goanpeca commented on #1686
This should probably be closed @ccordoba12

[2019-11-25 18:36] goanpeca commented on #1621
<img width="870" alt="Screen Shot 2019-11-25 at 13 35 39" src="https://user-images.githubusercontent.com/3627835/69567921-87691080-0f88-11ea-9166-0f98a6b64e8b.png">

I do not think this applies anymore

Closing @ccordoba12 ?

[2019-11-25 18:37] goanpeca commented on #1726
What does this mean?

[2019-11-25 18:41] goanpeca commented on #2114
I don't think this applies anymore @ccordoba12

[2019-11-25 18:44] goanpeca commented on #2458
I do not think this is relevant anymore @ccordoba12

[2019-11-25 18:50] goanpeca commented on #2863
@impact27 could you help us with this one :-)

[2019-11-25 18:53] goanpeca commented on #2992
I think this is solved by Kite but not Jedi, should we open an issue on Jedi @ccordoba12 ?

[2019-11-25 18:53] goanpeca commented on #2966
@jnsebgosselin could you give us a hand with this one?

[2019-11-25 18:56] goanpeca commented on #2901
This is still an issue, we should probably fix this for 4.1 @ccordoba12

[2019-11-25 18:57] jnsebgosselin commented on #2966
Yes, sure, I'll assign it to me.

[2019-11-25 18:58] goanpeca commented on #3350
This does not apply anymore. Closing.

[2019-11-25 18:58] #3350 closed

[2019-11-25 19:00] goanpeca commented on #3182
Is this something we still want to provide @ccordoba12 ?

<img width="492" alt="Screen Shot 2019-11-25 at 14 00 17" src="https://user-images.githubusercontent.com/3627835/69569589-f3994380-0f8b-11ea-8891-30baec3e87ca.png">

[2019-11-25 19:02] goanpeca commented on #3082
@andfoy is this something that should/could be supported with the LSP ?

[2019-11-25 19:05] metalogical commented on #2992
Kite provides completions specifically for dictionary keys, but there are some deficiencies in our current parser, so we only provide completions if there is a matching `']` (e.g. in `samp['hex|']`, where `|` is the cursor).

We are tracking an issue to improve our parsing, but work will only start in Q1 2020.

[2019-11-25 19:06] goanpeca commented on #3527
I think this has been already solved @ccordoba12 ?

[2019-11-25 19:06] goanpeca commented on #3409
@jnsebgosselin I think this could be an interesting issue to work on for you, of course if you have time ;-)

Also maybe brainstorm about other possibilities.

[2019-11-25 19:07] impact27 commented on #2863
I'll try to have a look, but I am not really familliar with the variable explorer architecture. I mostly know about the interactions with ipythonconsole.

[2019-11-25 19:11] goanpeca commented on #4432
I think we should close this, as now this functionality is deferred to language servers  @ccordoba12

[2019-11-25 19:13] eafpres commented on #10702
I have a reproducible example!

## Problem Description
Variables intermittently disappear from Variable Explorer
Running the attached code from a clean start of Spyder 4 populates Variable Explorer with a range of variables
If you scroll down _carefully_ you will see that the 'e' variables are initially missing (**important**: you need to stop scrolling 1-2 lines past the 'd' vars, or the display

[2019-11-25 19:13] goanpeca commented on #4416
This is actually an issue for a loong time, I thought it had to do with something I changed on my system, but setting another shortcut does work, so looking into this.

[2019-11-25 19:14] impact27 commented on #10833
1. Make sure "Show completions on the fly" is activated
 2. write in the editor: `a = 123`
 3. Wait 300ms for the completion on the fly to appear

[2019-11-25 19:15] goanpeca commented on #10833
Aha, yes, this is not desirable.

[2019-11-25 19:16] goanpeca commented on #4416
<img width="728" alt="Screen Shot 2019-11-25 at 14 16 35" src="https://user-images.githubusercontent.com/3627835/69570657-38be7500-0f8e-11ea-813f-2a4fdc9760a3.png">

Zoom in 1
Zoom in 2

@ccordoba12 ?

[2019-11-25 19:20] goanpeca commented on #4295
I do not think this applies anymore. Closing

[2019-11-25 19:20] #4295 closed

[2019-11-25 19:21] goanpeca commented on #4551
@jnsebgosselin this is probably related to your work

[2019-11-25 19:22] ccordoba12 commented on #10702
@impact27, could you take a look at the reproducible example provided by @eafpres above?

[2019-11-25 19:23] goanpeca commented on #4578
Does not apply anymore for 4.0.0

<img width="479" alt="Screen Shot 2019-11-25 at 14 23 17" src="https://user-images.githubusercontent.com/3627835/69571048-28f36080-0f8f-11ea-97df-9273dff3d6e0.png">

Closing

[2019-11-25 19:23] #4578 closed

[2019-11-25 19:24] #10777 closed

[2019-11-25 19:26] ccordoba12 commented on #4432
Agreed.

[2019-11-25 19:26] #4432 closed

[2019-11-25 19:27] ccordoba12 commented on #4416
Yeah, closing.

[2019-11-25 19:28] goanpeca commented on #5066
Still an issue on 4.0.0 and py2

[2019-11-25 19:28] goanpeca commented on #4416
This is still an issue :-|

[2019-11-25 19:29] ccordoba12 commented on #3527
Yes, I think so.

[2019-11-25 19:29] #3527 closed

[2019-11-25 19:30] ccordoba12 commented on #3082
There's a PR open in the PyLS that will tackle precisely this.

[2019-11-25 19:30] #3182 closed

[2019-11-25 19:33] ccordoba12 commented on #2458
Right, it was fixed by @dalthviz.

[2019-11-25 19:33] #2458 closed

[2019-11-25 19:33] #2114 closed

[2019-11-25 19:34] ccordoba12 commented on #1726
I don't think this is critical and no one requested it after the OP here.

[2019-11-25 19:34] #1726 closed

[2019-11-25 19:34] ccordoba12 commented on #1621
Sure.

[2019-11-25 19:34] #1621 closed

[2019-11-25 19:34] #1686 closed

[2019-11-25 19:35] ccordoba12 commented on #588
We still have to implement code snippets (right now we only have completion snippets).

[2019-11-25 19:36] ccordoba12 commented on #10783
@andfoy, what do you think about this one?

[2019-11-25 19:37] ccordoba12 commented on #10762
This happens when your current working directory is a network mount. So avoid that until we fix it.

[2019-11-25 19:38] ccordoba12 commented on #5580
This no longer applies.

[2019-11-25 19:38] #5580 closed

[2019-11-25 19:40] ccordoba12 commented on #10736
@impact27, could you take a look at this one?

[2019-11-25 19:43] impact27 commented on #10736
How about `runcell`? Should runcell switch to the tab? I think it makes sense for runcell at least.

[2019-11-25 19:45] ccordoba12 commented on #10704
@goanpeca, are you able to reproduce this one in macOS?

[2019-11-25 19:54] bcolsen commented on #10833
I think that these are the fallback completions.

In issue #10797 @ccordoba12 said:

That should fix this as issue well as issues where spaces make completions like this:

![Autocomplete_space](https://user-images.githubusercontent.com/10513354/69572302-183bee00-0f81-11ea-8e8d-480a7f6f9b2b.gif)

![Autocomplete_space_middle](https://user-images.githubusercontent.com/10513354/69572328-28ec6400-0f81-

[2019-11-25 20:36] bcolsen opened #10835 "Hover tips interfere with editor text selection"
### Issue Report Checklist

* [X] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [X] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [X] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2019-11-25 21:11] jnsebgosselin commented on #10786
Ok thanks, that is useful. I can reproduce this on Windows with `Ctrl+Space`.

I think I have found a way to fix that, I'll submit a PR.

[2019-11-25 21:17] goanpeca commented on #10704
No, closing the outline explorer closes the window and redocks it

<img width="715" alt="Screen Shot 2019-11-25 at 14 27 50" src="https://user-images.githubusercontent.com/3627835/69578711-0c5f2480-0f9f-11ea-9d33-cba5de42e1fb.png">

[2019-11-25 21:21] goanpeca commented on #4416
My question was more why we have

[code]

[2019-11-26 00:36] goanpeca commented on #10786
On KDE alt+space has already meaning so I dont think there ismuch we can do about it

<img width="366" alt="Screen Shot 2019-11-25 at 19 36 15" src="https://user-images.githubusercontent.com/3627835/69589669-e0519c80-0fba-11ea-957c-0a4cf68fdbc3.png">

[2019-11-26 00:37] goanpeca commented on #10786
<img width="620" alt="Screen Shot 2019-11-25 at 19 35 43" src="https://user-images.githubusercontent.com/3627835/69589694-f3fd0300-0fba-11ea-83c0-76d3960debae.png">

[2019-11-26 00:40] jnsebgosselin commented on #10786
Yes but, if you disable it through the system settings, like @gerazov did, is it working after the change I'm proposing in PR #10836?

[2019-11-26 00:44] goanpeca commented on #10786
<img width="1042" alt="Screen Shot 2019-11-25 at 19 43 58" src="https://user-images.githubusercontent.com/3627835/69589977-f6ac2800-0fbb-11ea-86e8-3cf8a08a7c3b.png">

Yep it does work @jnsebgosselin

[2019-11-26 01:32] goanpeca commented on #7280
@dalthviz was this fixed by your work?

[2019-11-26 01:32] goanpeca commented on #8432
@dalthviz is this fixed by your work?

[2019-11-26 01:33] ccordoba12 commented on #7280
Yeah, I think so.

[2019-11-26 01:33] #7280 closed

[2019-11-26 01:33] goanpeca commented on #6131
@dalthviz is this fixed by your work?

[2019-11-26 01:36] ccordoba12 commented on #6131
Yep, should be fixed now.

[2019-11-26 01:36] #6131 closed

[2019-11-26 01:36] #8432 closed

[2019-11-26 01:52] #10624 closed

[2019-11-26 02:02] CAM-Gerlach commented on #8864
@ccordoba12 Pulling the latest master with #10782 applied and running PyLS 0.31.1, the latest available, the lag is still very bad with indent guides on, being only able to type 3.2 characters per second sustained even with one key on repeat over a 80 character, 0-indented line (300 ms per character), and there's around a 1000 ms interaction lag on the first character or any other changes.  When I

[2019-11-26 02:49] #10647 closed

[2019-11-26 03:09] ccordoba12 commented on #10773
This is the problem (I think): You can't mix conda and pip packages.

[2019-11-26 03:09] #10773 closed

[2019-11-26 03:11] ccordoba12 commented on #10783
I think this was fixed by PR #10802.

[2019-11-26 03:11] #10783 closed

[2019-11-26 08:07] gerazov commented on #10786
ok great - thanks! :smile:

[2019-11-26 08:07] impact27 commented on #10704
I could reproduce on two different macs:
![crash](https://user-images.githubusercontent.com/6740194/69610474-ce581400-1023-11ea-8748-48d91d5dfca7.gif)

[2019-11-26 08:33] impact27 commented on #10702
First, `os.system('cls')` doesn't work on mac, so I got rid of that.

I can not reproduce it, but I see a similar behaviour:
It looks like not all vars are loaded until the screen is scrolled down. Therefore, when scrolling down, I see several jumps.
![var](https://user-images.githubusercontent.com/6740194/69612200-204e6900-1027-11ea-877f-3eae519bbcb3.gif)

[2019-11-26 08:46] akshay4malik opened #10841 "Spyder file open problems"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/usr/lib/python3/dist-packages/spyder/plugins/editor.py", line 1853, in load
    self.edit_filetypes = get_edit_filetypes()
  File "/usr/lib/python3/dist-packages/spyder/config/utils.py", line 124, in get_edit_

[2019-11-26 08:51] impact27 opened #10842 "Calltip has unbound local error"
## Description

### What steps will reproduce the problem?

I was writing in the console:
`a[sorted(a.keys(|)]` where `|` is the cursor. The crash happened just after typing `(`.

### Traceback
[code]

## Versions

* Spyder version: 4.0.0.dev0 cd9e760fa
* Python version: 3.7.5
* Qt version: 5.12.6
* PyQt5 version: 5.12.3
* Operating System: Darwin 19.0.0

### Dependencies

[code]

[2019-11-26 09:16] impact27 opened #10844 "Can't open file with non unicode name by drag and drop"
## Description

### What steps will reproduce the problem?

create a file with the following code:
[code]
Try opening the file by drag and drop.

## Versions

* Spyder version: 4.0.0.dev0 c09d6ca84
* Python version: 3.7.5
* Qt version: 5.12.6
* PyQt5 version: 5.12.3
* Operating System: Darwin 19.0.0

### Dependencies

[code]

[2019-11-26 12:10] GPoloVera commented on #10773
I dont think this is the only problem.
Just to give more information, if you create an environment with the same version of the one you want Spyder to use its interpreter everithing works fine:
`$conda create --name spyder_env python=3.6 spyder`
So now, bot environments (the conda one and the virtualenv one) have the Python version 3.6. Doing so everything works fine and Spyder is running like wit

[2019-11-26 12:37] goanpeca commented on #10704
Oops I pasted the wrong screenshot! Hmmm not sure what might be causing this, but this type of segfaults are usually an unpareted widget 🤷‍♂  that was collected/deleted on  C++ ?

[2019-11-26 13:14] impact27 commented on #10704
I am not sure about that, It looks like the code is not called from python, so I don't think this is caused by an empty wrapper.

[2019-11-26 14:56] ccordoba12 commented on #10704
I can't reproduce this on Linux with PyQt 5.9

[2019-11-26 15:05] ma-sadeghi opened #10849 "Images in docstrings don't render in Help window"
## Problem Description
The images in my project's docstrings are not rendered in Spyder "Help" window.

### What steps reproduce the problem?
Here's a piece of the docstring in my code:
[code]

### What is the expected output? What do you see instead?
1. What I got:
![image](https://user-images.githubusercontent.com/14086031/69645164-b9837c80-1033-11ea-8109-3f252c50a158.png)
2. What I expected:
![

[2019-11-26 15:26] jnsebgosselin commented on #4416
On my keyboard, `Ctrl++` and `Ctrl+=` are actually on the same key. To reach `Ctrl++`  I need to actually do `Ctrl+Shift++`, while `-` can be accessed directly with `Ctrl+-` and `=` with `Ctrl+=`.

![image](https://user-images.githubusercontent.com/10170372/69647214-159bd000-1037-11ea-99e9-debd368864fb.png)

So maybe the second keybind for zoom in was added to make the keybinds between zoom in and

[2019-11-26 15:29] goanpeca commented on #4416
Maybe, but o my mac `Commad+=` which is the normal zoom command on every program is busted and I am not sure why...

[2019-11-26 15:31] jnsebgosselin commented on #4416
`Commad+=` is supposed to make the text increase or decrease?

[2019-11-26 15:34] goanpeca commented on #4416
Zoom in (so increase)

But all my apps (including browsers) dont work, I have no idea what the issue is... 🤷‍♂

[2019-11-26 15:35] ccordoba12 commented on #10841
This is pretty clear: please solve the package conflict reported in that message to have Spyder working again.

If you don't understand how to do it, we really recommend you to switch to Anaconda.

[2019-11-26 15:35] #10841 closed

[2019-11-26 15:43] jnsebgosselin commented on #4416
Ok I understand.

I think I can help with that one. I'll try to take a look at it after the french translation is done.

[2019-11-26 15:59] ccordoba12 commented on #10849
I think you can't use relative paths for your images, just absolute ones. Please try that to see if it fixes your problem.

[2019-11-26 16:01] impact27 opened #10851 "Pdb switch code editor tabs without reason"
## Description

### What steps will reproduce the problem?

1. create a file with `print(0)`
2. Debug this file and step into `print`. This brings you to `iostream.py`
3. Click on the original file tab in the editor
4. type in the debugger: `test = 0`

This will bring the editor back to `iostream.py`. This is desirable when stepping through the code but not on any input.

## Versions

* Spyder ver

[2019-11-26 16:11] liuyigh commented on #10835
I also have this issue.

Another problem is that hover tips crash on 4.0.0rc2+MacOS 10.11.6. The crash does not affect Spyder, only hover tip itself.

[2019-11-26 16:39] ma-sadeghi commented on #10849
I tried both absolute wrt my own computer, and relative to the top folder of the project, and neither worked.

[2019-11-26 17:25] tjhallum commented on #3270
+1, as I'm running into this too!

[2019-11-26 17:31] bcolsen commented on #10835
@liuyigh please write a separate issue for this with an error traceback and a reproducible code example so we can keep track of the error.

[2019-11-26 17:45] liuyigh opened #10852 "Hover tips crash itself"
### Issue Report Checklist

* [X] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [X] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [X] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2019-11-26 17:46] liuyigh commented on #10835
#10852 issue submitted. Thanks!

[2019-11-26 17:54] marianux opened #10853 "just opened spyder and crashed"
## Description

### What steps will reproduce the problem?

just opened spyder and crashed :(

Maybe  I configured some visualization preferences  .. don't know

### Traceback
[code]

## Versions

* Spyder version: 4.0.0rc2
* Python version: 3.6.8
* Qt version: 5.12.4
* PyQt5 version: 5.12.3
* Operating System: Linux 5.0.0-32-generic

### Dependencies

[code]

[2019-11-26 17:56] bcolsen commented on #8720
This error could be solved with #9725 by having the runfile queued and having the console checking it's queue first thing when ready.

[2019-11-26 18:16] bcolsen commented on #10852
Thanks for the error report!

I'm closing this error as a duplicate of #10757, please see that report.

[2019-11-26 18:16] #10852 closed

[2019-11-26 18:37] bcolsen commented on #10736
I could see that someone might make a cell in a different file that processes or displays data from the current file kind of like a using a function. If people are running things from the console it might be because they don't want the editor to change.

[2019-11-26 18:46] impact27 commented on #10736
Agreed, I updated the PR.

[2019-11-26 19:23] liuyigh commented on #10852
Thanks. Apparently I didn't do a thorough search. Sorry about it.

[2019-11-26 22:02] #10842 closed

[2019-11-26 22:08] ccordoba12 commented on #10853
Duplicate of #10752

[2019-11-26 22:08] #10853 closed

[2019-11-26 22:09] ccordoba12 commented on #10835
@goanpeca, what do you think we could do about this one?

[2019-11-26 22:12] goanpeca commented on #10835
I agree that the hover should probably disappear on any key press. This should be a very easy fix.

[2019-11-26 22:20] goanpeca opened #10854 "Default shortcuts for mac"
On a macbook pro some of the default keyboard shortcuts of Spyder collide with "normal" functions on OSX.

Home/End (<kbd>Command+Up</kbd>, <kbd>Command+Down</kbd>) are taken by Move to previous/next cell.

Also, moving to the start and end of a file (<kbd>Command+Left</kbd>, <kbd>Command+Right</kbd>) is taken by move to next/previous word, which on Mac make more sense to use <kbd>Alt+Left</kbd>,

[2019-11-26 22:54] bcolsen commented on #5459
This was irritating me today. It is very difficult to work on two documents with the tabs moving around so I looked up some options.

I seems to happen whenever the title of the tab changes. This is the worst when adding or removing  the "*" on changing or saving the document.

## Option 1
I thought we could see if changing the text color would force a redraw. Yellow for modified, red for read onl

[2019-11-26 22:55] bcolsen commented on #5459
## Option 3
Let it move and move it back. Can we control the view at all?

[2019-11-26 23:09] bcolsen commented on #10835
@goanpeca I forgot to mention that the hover is also activated while the mouse button is held down as well. See my second gif.

Would it be possible to disable hovers tips while the mouse button is depressed as well?

[2019-11-26 23:11] goanpeca commented on #10835
Absolutely! that is a silly UX :-p this one is probably on me 😆

[2019-11-27 00:24] goanpeca commented on #8708
This is probably no longer relevant

[2019-11-27 00:56] #8708 closed

[2019-11-27 01:41] ccordoba12 commented on #5459
@jnsebgosselin, we could use your input here. What do you think about @bcolsen's ideas?

[2019-11-27 01:43] ccordoba12 commented on #10854
I think this depends on the second set of shortcuts @jnsebgosselin is working on, right?

Or do you prefer to have the shortcuts above as the primary ones in macOS?

[2019-11-27 01:43] jnsebgosselin commented on #5459
I agree this is irritating for me too. I will take a look at it again with a fresh eye and see if I can find a solution.

[2019-11-27 01:44] goanpeca commented on #10854
I think they should be the primary one, because the point is to have the "normal" mac commands first. Also having an additional set of shortcuts would not help as they are currently colliding with the default Mac actions.

Any thoughts here @impact27 ?

[2019-11-27 01:44] jnsebgosselin commented on #5459
And if I can't find a solution, I think option 2 is the one I prefer.

[2019-11-27 01:45] goanpeca commented on #10854
As in it is very annoying not being able to move to the start or end of file with <kbd>Cmd+Up/Cmd+Down</kbd> as in any other IDE/TexteEditor on mac

[2019-11-27 02:14] goanpeca commented on #5459
It seems not much to do in that area

https://code.woboq.org/qt5/qtbase/src/widgets/widgets/qtabbar.cpp.html#_ZN14QTabBarPrivate7refreshEv
[code]

[2019-11-27 02:25] goanpeca commented on #5459
I think we can;t... :-\

[2019-11-27 02:35] YiFan-Zheng opened #10857 "Some variables in Variable Explorer cannot show"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "D:\Anaconda3\envs\tensorflow\lib\site-packages\spyder\widgets\variableexplorer\collectionseditor.py", line 455, in createEditor
    if not editor.setup_and_check(value, title=key, readonly=readonly):
  File "D:

[2019-11-27 04:10] jnsebgosselin commented on #5459
For the sake of documenting this Issue, here are some relevant links:
https://bugreports.qt.io/browse/QTBUG-2360
https://bugreports.qt.io/browse/QTBUG-45381
https://stackoverflow.com/questions/32211741/qtabbar-to-preserve-tab-position
https://github.com/qutebrowser/qutebrowser/issues/3579

[2019-11-27 04:44] bcolsen commented on #5459
The more I think about it adding the "*"s actually the the work around for gui tool kits that don't allow icons on their tabs. I think that a simple small colored dot icon could convey as much meaning as a "*"

[2019-11-27 07:18] impact27 commented on #10854
I agree that we should follow the guidlines for shortcuts (https://developer.apple.com/design/human-interface-guidelines/macos/user-interaction/keyboard/) and user expectations as a default. The Windows shortcuts should be an option.

For example, from the guidelines for Up arrow:

Shift-Control-Up arrow | ● | Extend selection upward in the next semantic unit, typically the beginning of the docume

[2019-11-27 08:33] WoodyBryant opened #10858 "dfdssddddddddddddddddddddddddddddddd"
## Description

### What steps will reproduce the problem?

dddddsssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss

### Traceback
[code]

## Versions

* Spyder version: 3.3.1
* Python version: 3.7.0
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2019-11-27 08:55] jsh9 commented on #10745
Hi @ccordoba12 , I found the hard-coded window sizes in this folder. Those numbers were written down 10 years ago, when the mainstream screen resolution was around 1024 x 768. That's why the variable explorer windows look so small on today's monitors.

I can manually increase the window sizes and submit a pull request.

One question: I also found that some dialog box (such as "Open file...") to be

[2019-11-27 10:36] gerazov opened #10860 "Variable explorer shows NumPy arrays as objects"
Spyder 4.0.0rc3

Kudos guys for the new object explorer! However, when you open a NumPy array from the Variable Explorer it now opens it as an object.

Steps to reproduce:
1. In the IPython console write:
[code]
2. Now double click on `a` in Variable explorer and you get the object explorer window.
![image](https://user-images.githubusercontent.com/15214418/69716289-06d21d80-110a-11ea-8666-efe19c0

[2019-11-27 12:51] goanpeca commented on #10858
Please update to spyder 3.3.6

[2019-11-27 12:51] #10858 closed

[2019-11-27 12:52] goanpeca commented on #10857
Please update to Spyder 3.3.6

[2019-11-27 12:52] #10857 closed

[2019-11-27 13:49] ccordoba12 commented on #10858
@WoodyBryant, please don't fill non-sense in our error dialog for next time or you won't receive feedback.

[2019-11-27 14:57] ccordoba12 commented on #10854
Ok, then I agree with this. @goanpeca, please evaluate if we can do this for 4.1 or we should leave it for 5.

[2019-11-27 14:57] gerazov opened #10861 "Indent after deindented comment"
Spyder 4.0.0rc3

Indenting doesn't take into account indentation of comments. I don't know if it's desirable to do it though ... If comments are correctly indented though, it should be taken into account.

Steps to reproduce:
1. Write the following code in the Editor:
[code]
2. At the end of the comment line press Enter.

Observed behaviour:
This will make a new line with the indent of the `print`

[2019-11-27 15:16] catruck opened #10862 "How to install spyder offline"
Hello,

Company I work for is blocking all traffic so I can't install normally. How can I install offline with command like **conda install _" downloaded file location" _ ** this work fine with .tar.gz file extension

Thanks in advance

[2019-11-27 15:21] catruck commented on #10862
I find it on anaconda org

[2019-11-27 15:21] #10862 closed

[2019-11-27 15:32] gerazov commented on #9367
Another issue that could be fixed is for the Plots pane to remember the last folder for saving, so you don't have to navigate down the same path on every save. Currently it opens the current working directory.

[2019-11-27 15:34] goanpeca commented on #9367
You are right! @gerazov could you open a new issue with this suggestion?

Makes it easier to track and fix :-)

[2019-11-27 15:35] gerazov commented on #9367
Sure :smile: I wanted to - but then found this misc thread ...

[2019-11-27 15:35] goanpeca commented on #7362
@dalthviz is this still relevant? could you check :-)

[2019-11-27 15:37] gerazov opened #10863 "Plots should remember last saved path"
Python 4.0.0rc3

I really like the Plots pane - chasing down open figures was a lot of hassle ...

It would be nice if the Plot pane remembers the last folder for saving - just so you don't have to navigate down the same path on every save. Currently it opens the current working directory.

[2019-11-27 15:52] gerazov commented on #10860
Ok, this was fixed on restart, and I'm not able to reproduce. Should I close it?

[2019-11-27 15:54] RIM-LLC commented on #9367
@gerazov - would you mind adding on the suggestions, something like the following:

Generate a date/time-based filename (so we don't need to rename each picture we want to save if saving multiple figures).  Look at the picture below to see how Snip & Sketch generates a date/time-based file name:

![Annotation 2019-11-27 105138](https://user-images.githubusercontent.com/57544001/69738377-046cc500-1

[2019-11-27 16:04] goanpeca commented on #5443
This has already been implemented for Spyder 4.0.0

[2019-11-27 16:04] #5443 closed

[2019-11-27 16:42] goanpeca commented on #791
I think the easiest way to do this would be to make the status widget clickable (it already is) so that a QMenu is displayed and the option can be changed there.

<img width="796" alt="Screen Shot 2019-11-27 at 11 41 37" src="https://user-images.githubusercontent.com/3627835/69742548-fc645380-110a-11ea-8007-5a5ad4d13788.png">

[2019-11-27 16:43] goanpeca commented on #968
This should be solved on the PyLS/Kite side of things. No @ccordoba12 ?

[2019-11-27 16:45] goanpeca commented on #990
Anyone interested in working on this ping me for pointers :-)

[2019-11-27 16:47] goanpeca commented on #1354
This is still an issue

Thoughts on how to solve this @spyder-ide/core-developers ?

[2019-11-27 16:52] ccordoba12 commented on #10745
Well, perhaps we should detect if the window is high resolution or not and adjust the sizes accordingly. I say it because the current sizes are still fine for me in regular screens.

Is not that defined by the operating system? How does that dialog look in other applications?

[2019-11-27 16:53] gerazov commented on #9367
I like the idea - but @goanpeca should this be a new issue?

[2019-11-27 16:54] goanpeca commented on #2417
This should be a easy fix

[2019-11-27 16:55] goanpeca commented on #9367
Yes, I would make it a new issue

[2019-11-27 16:56] goanpeca commented on #10860
Yep, closing

[2019-11-27 16:56] #10860 closed

[2019-11-27 16:57] RIM-LLC commented on #9367
OK - I will open a new issue. Tks

[2019-11-27 16:57] goanpeca commented on #9189
@CAM-Gerlach is this still an issue?

[2019-11-27 17:01] Rational-IM opened #10864 "Date/time-based filename (when saving) for figures on Plots pane"
Generate a date/time-based filename (so we don't need to rename each picture we want to save if saving multiple figures). Look at the picture below to see how Snip & Sketch generates a date/time-based file name:

![Annotation 2019-11-27 105138](https://user-images.githubusercontent.com/57544001/69744084-844b5d00-110d-11ea-9451-af2e2338e3f1.jpg)

[2019-11-27 17:01] goanpeca commented on #7775
We did not get any reply here, closing @ccordoba12 ?

[2019-11-27 17:04] dalthviz commented on #7362
@goanpeca checking this with Spyder 3.3.6 and Python 3 I think the behavior is that when typing `:` you enter the 'go to line mode' and after `:` the only valid characters to type are numbers. In Spyder 4, when typing `:` you also enter to the 'go to line mode' but in this case the input isn't limited to numbers.

However, testing with Python 2 an exception is raised when trying to open the Switch

[2019-11-27 17:16] dalthviz commented on #7362
@goanpeca should only fix the issue for Spyder 4? this issue is also present in Spyder 3.3.6 with Python 2

[2019-11-27 17:24] goanpeca commented on #7362
Yes, only 4

[2019-11-27 17:24] goanpeca commented on #10864
Thoughts on this @jnsebgosselin ?

[2019-11-27 17:40] goanpeca commented on #7699
This is still an issue o Spyder 4.0

[2019-11-27 17:51] ccordoba12 commented on #10860
This happens if you don't have numpy installed on the same env that Spyder is installed, you install it afterwards but didn't restart Spyder.

[2019-11-27 18:17] HassnaIrzan commented on #9951
Had the same issue. @ccordoba12 your solution worked for me. Thanks

[2019-11-27 18:21] jnsebgosselin commented on #10864
Its a good idea to add the date.

From the screenshot above, it seems that the first 6 characters of a uuid is also added at the end to ensure uniqueness of the filename. Do you think we should do that also?

[2019-11-27 18:28] RIM-LLC commented on #10864
The last 6 characters represent the time in the format "hhmmss", which is great when one is saving a series of charts on the same day.

[2019-11-27 18:30] jnsebgosselin commented on #10864
Ah I see! ahah Thanks for the clarification.

I can implement that if the feature is accepted.

[2019-11-27 19:02] gerazov commented on #10860
Makes sense! I was resetting my conda environment and wanted to try out rc3 before I got to installing numpy :smile:

I love how you can open NumPy arrays from object properties - awesome stuff :clap:

[2019-11-27 19:03] goanpeca commented on #10864
I like it :-) @ccordoba12 ?

[2019-11-27 19:03] goanpeca commented on #10863
We could add this to the CONF and stored the last saved dir @jnsebgosselin ?

[2019-11-27 19:12] CAM-Gerlach commented on #9189
@goanpeca Testing in work now...

[2019-11-27 19:17] goanpeca commented on #5241
This seems no longer relevant with Spyder 4

[2019-11-27 19:17] #5241 closed

[2019-11-27 19:19] CAM-Gerlach commented on #9189
@goanpeca I can confirm I now get the full calltip, with the full signature and text on rc3 and 0.31.1, so it would appear this issue is resolved. However, I had a lot of trouble verifying this since I could not get the calltip to actually appear with any reliability by typing the opening parent or the function name as before; it would seemingly randomly appear some times and not others. However,

[2019-11-27 19:20] goanpeca commented on #4516
Cannot reproduce this with master. Closing

[2019-11-27 19:20] #4516 closed

[2019-11-27 19:21] #9189 closed

[2019-11-27 19:26] goanpeca commented on #2041
Duplicate of https://github.com/spyder-ide/spyder/issues/10429

[2019-11-27 19:26] #2041 closed

[2019-11-27 19:31] goanpeca commented on #1464
@dalthviz is this related to the work you started on this front? Can we close as duplicate?

[2019-11-27 19:34] goanpeca commented on #2467
Could we use something like this @ccordoba12 @andfoy ?

[2019-11-27 19:38] goanpeca commented on #1981
@jnsebgosselin since you worked on something similar

What do you think about adding this option to the Variable Explorer remove?

[2019-11-27 19:46] jnsebgosselin commented on #1981
I agree this option should be added.

I also think we should get rid of our custom 'checkbox-augmented-dialog' since adding a checkbox to a dialog is now a feature that is part of Qt5, so we could use this as an opportunity to clean the code.

[2019-11-27 20:11] jnsebgosselin commented on #10863
Yes, I will add this, this is a good idea.

Thanks for the suggestion @gerazov

[2019-11-27 20:33] ccordoba12 commented on #2162
This can't be closed yet because we could a new completion client that uses an IPython kernel behind the scenes.

[2019-11-27 20:59] goanpeca commented on #1981
Please do!

[2019-11-27 21:03] dalthviz commented on #1464
@goanpeca yep I think it could be closed as duplicated of #10538

[2019-11-27 21:04] #1464 closed

[2019-11-27 21:09] goanpeca commented on #7457
No follow up message was received. Closing.

[2019-11-27 21:09] #7457 closed

[2019-11-27 21:17] ccordoba12 commented on #2467
Sure, once we migrate to the outline explorer to use the LSP, then this feature will depend on the server itself.

[2019-11-27 22:04] goanpeca opened #10867 "Refactor the Outline Explorer code to use the LSP Symbols request"
The Outline explorer currently uses information from the syntax highlighter which parses the code and saves some info to be used by the OE.

We could simplify the syntax highlighters so that it only needs to worry about syntax and simplify the Outline Explorer so that it can use the information provided by the symbols request.

https://github.com/palantir/python-language-server/blob/develop/pyls/p

[2019-11-27 22:06] goanpeca commented on #1357
Could we use the segfault handler here @impact27 to save these files?

[2019-11-27 22:07] goanpeca commented on #1391
Should we use the `QFileDialog::DontUseNativeDialog` for these systems?

[2019-11-27 22:08] goanpeca commented on #1455
Is this still relevant?

[2019-11-27 22:14] goanpeca commented on #1773
[code]

I tried this as a script and directly on the console as suggested in the original post and I do not see this behavior described with master. Closing

[2019-11-27 22:14] #1773 closed

[2019-11-27 22:15] goanpeca commented on #1872
@jnsebgosselin do you have some ideas to fix this?

[2019-11-27 22:17] goanpeca commented on #2135
No longer an issue

<img width="1165" alt="Screen Shot 2019-11-27 at 17 17 06" src="https://user-images.githubusercontent.com/3627835/69762968-c25e7600-1139-11ea-93a1-abf1abb5c3b2.png">

Closing

[2019-11-27 22:17] #2135 closed

[2019-11-27 22:18] goanpeca commented on #2116
@jnsebgosselin could you take a look at this one?

[2019-11-27 22:23] goanpeca commented on #1983
Thoughts on this @dalthviz ?

[2019-11-27 22:29] goanpeca commented on #2145
Try testing this, but blaze seems to be broken due to some changes

[code]

Can anyone check this issue @spyder-ide/core-developers ?

[2019-11-27 22:32] goanpeca commented on #3346
This seems no longer valid

<img width="598" alt="Screen Shot 2019-11-27 at 17 31 53" src="https://user-images.githubusercontent.com/3627835/69763642-d4d9af00-113b-11ea-97b8-2581482188a5.png">

Closing.

[2019-11-27 22:32] #3346 closed

[2019-11-27 22:35] goanpeca commented on #2256
This now refers to https://github.com/spyder-ide/spyder/blob/master/spyder/plugins/editor/widgets/base.py#L173

Could we use an OrderedDict or use sorting to fix this?

[2019-11-27 22:39] goanpeca commented on #2373
If I try to set this to automatic, no figure viewer pops up. Thoughts @jnsebgosselin ?

[2019-11-27 22:40] goanpeca commented on #2618
This is no longer relevant. Closing

[2019-11-27 22:40] #2618 closed

[2019-11-27 22:50] goanpeca commented on #3152
[code]

I tried with this and it works

[2019-11-27 22:51] #3152 closed

[2019-11-27 22:59] goanpeca commented on #3117
We have not received more input on this issue. I would close this @ccordoba12

[2019-11-27 23:01] goanpeca commented on #2842
Is this still relevant @ccordoba12 ?

[2019-11-27 23:02] jnsebgosselin commented on #2373
It does for me. The figure pops up in a matplotlib figure manager and not in the plots plugin.

You need to restart the console for the change to take effect though.

[2019-11-27 23:03] ccordoba12 commented on #2842
I don't think so. No one else reported something like this afterwards.

[2019-11-27 23:03] #2842 closed

[2019-11-27 23:03] #3117 closed

[2019-11-27 23:04] ccordoba12 commented on #2373
This is not something we can solve here.

[2019-11-27 23:04] #2373 closed

[2019-11-27 23:04] goanpeca commented on #2373
Ahhhh ok :-p

Can you replicate this issue?

[2019-11-27 23:06] ccordoba12 commented on #2145
Yeah, we can offer help with this one anymore.

[2019-11-27 23:06] #2145 closed

[2019-11-27 23:08] goanpeca commented on #7197
No one else has reported this issue. I would close this.

[2019-11-27 23:08] ccordoba12 commented on #1455
Probably, I don't know.

[2019-11-27 23:09] ccordoba12 commented on #1357
I'd say this is solved by the new auto-save functionality.

[2019-11-27 23:09] #1357 closed

[2019-11-27 23:11] ccordoba12 commented on #7197
This was solved by using the software OpenGL renderer in Qt by default.

[2019-11-27 23:11] #7197 closed

[2019-11-27 23:12] ccordoba12 commented on #1391
That would be a nice solution, yes.

[2019-11-27 23:13] ccordoba12 commented on #10864
Sure. it'd be nice to have in Spyder 5.

[2019-11-27 23:14] #7775 closed

[2019-11-27 23:16] ccordoba12 commented on #968
Yeah, it's not something we can solve here.

[2019-11-27 23:16] #968 closed

[2019-11-27 23:18] goanpeca commented on #7553
Is this still relevant for Spyder 4 @dalthviz ?

[2019-11-27 23:25] goanpeca commented on #7387
I cannot reproduce this. Closing.

![lines](https://user-images.githubusercontent.com/3627835/69765762-4701c200-1143-11ea-8b21-ad387cb443a2.gif)

[2019-11-27 23:25] #7387 closed

[2019-11-27 23:28] goanpeca commented on #6976
I cannot reproduce this either. Closing

[2019-11-27 23:28] #6976 closed

[2019-11-27 23:30] jnsebgosselin commented on #2373
If I understand the issue correctly, it is working as expected for me.

![save_figure](https://user-images.githubusercontent.com/10170372/69765928-d9a26100-1143-11ea-9fc0-d0436235b0e3.gif)

[2019-11-28 00:10] ccordoba12 commented on #7553
I'm sure Pytorch arrays are still not supported by us.

[2019-11-28 00:20] goanpeca commented on #6818
@cocoaaa Qt has been updated for some time now. Do you still have the issue?

Thanks!

[2019-11-28 01:00] goanpeca commented on #7179
No loner an issue on master. Closing.

[2019-11-28 01:00] #7179 closed

[2019-11-28 01:05] goanpeca commented on #6560
I cannot reproduce this behavior.

<img width="691" alt="Screen Shot 2019-11-27 at 20 05 16" src="https://user-images.githubusercontent.com/3627835/69769076-41ab7400-1151-11ea-99f1-5a7a210642f2.png">

Closing.

[2019-11-28 01:05] #6560 closed

[2019-11-28 01:09] goanpeca commented on #6181
This is still a problem as the completion widget is not growing.

See:

<img width="1126" alt="Screen Shot 2019-11-27 at 20 08 34" src="https://user-images.githubusercontent.com/3627835/69769174-c72f2400-1151-11ea-85ea-773c0ec8089b.png">

[2019-11-28 01:09] goanpeca commented on #6181
This should be a simple fix, so I added it to 4.1

[2019-11-28 01:16] goanpeca commented on #5607
@impact27 is this fixed with any of the work you did on the debugger?

[2019-11-28 01:20] goanpeca commented on #5185
@jnsebgosselin would you like to give us a hand with this one?

[2019-11-28 01:27] goanpeca commented on #4270
@jitseniesen could you elaborate on this issue, I am not sure I follow what the problem is 🙃

[2019-11-28 01:32] goanpeca commented on #2905
<img width="344" alt="Screen Shot 2019-11-27 at 20 31 28" src="https://user-images.githubusercontent.com/3627835/69769910-ebd8cb00-1154-11ea-9668-f7e5ead40156.png">

We should be probably using something like this.

Do you have some insight on why it is being set like that on windows @ccordoba12?

[2019-11-28 01:33] goanpeca commented on #3969
This seems to no longer apply. Closing.

[2019-11-28 01:33] #3969 closed

[2019-11-28 01:54] goanpeca commented on #2970
Should we add some logic to check for `QApplication` imports and give a warning and "change the code" as needed?

We should probably not run this code as it will indeed block the console.

@impact27 do you have some ideas?

[2019-11-28 01:58] goanpeca commented on #2635
We no longer support sessions. Closing

[2019-11-28 01:58] #2635 closed

[2019-11-28 01:59] goanpeca commented on #3088
I do not think this is relevant

[2019-11-28 01:59] #3088 closed

[2019-11-28 02:03] goanpeca commented on #2521
I see a different issue (on mac at least)

<img width="814" alt="Screen Shot 2019-11-27 at 21 03 09" src="https://user-images.githubusercontent.com/3627835/69771038-568c0580-1159-11ea-8a53-23eec6cc055e.png">

The text color is white so it is not visible.

[2019-11-28 02:07] goanpeca commented on #2530
![macplot](https://user-images.githubusercontent.com/3627835/69771184-e7fb7780-1159-11ea-925a-59ebf96517e9.gif)

I cannot reproduce this on latest master on mac. Closing

[2019-11-28 02:07] #2530 closed

[2019-11-28 02:08] goanpeca commented on #1575
Since we will work on conda env support and not really virtual env support I suggest we close this.

[2019-11-28 02:08] #1575 closed

[2019-11-28 02:09] goanpeca commented on #2538
@dalthviz could you check if you can reproduce this on win?

[2019-11-28 02:14] goanpeca commented on #1650
This is not really an Spyder issue.

[2019-11-28 02:14] #1650 closed

[2019-11-28 02:39] goanpeca commented on #2675
Indeed this is not working for `replace` or for `replace all`

<img width="702" alt="Screen Shot 2019-11-27 at 21 38 28" src="https://user-images.githubusercontent.com/3627835/69772568-46c2f000-115e-11ea-8656-3c6407185695.png">

[2019-11-28 02:42] dinodipyo opened #10871 "Somehow this windows pop up when I'm trying to open a variable"
## Description

### What steps will reproduce the problem?

I'm just trying to open a variable in the variable explorer, and this windows pop up. In the previous version (before conda update) I think I can open the variable just fine

### Traceback
[code]

## Versions

* Spyder version: 3.3.1
* Python version: 3.5.3
* Qt version: 5.6.2
* PyQt5 version: 5.6
* Operating System: Windows 10

### Depen

[2019-11-28 02:44] goanpeca commented on #10871
Please update to Spyder 3.3.6.

[2019-11-28 02:44] #10871 closed

[2019-11-28 03:10] dinodipyo commented on #10871
Thanks~

On Thu, Nov 28, 2019 at 9:44 AM Gonzalo Peña-Castellanos <
notifications@github.com> wrote:

[2019-11-28 03:25] goanpeca commented on #1896
I cannot reproduce this. Closing

[2019-11-28 03:25] #1896 closed

[2019-11-28 03:28] goanpeca commented on #2054
We have already implemented this as part of Spyder 4.0 to be released in a week. Closing

[2019-11-28 03:28] #2054 closed

[2019-11-28 03:29] #1875 closed

[2019-11-28 03:32] goanpeca commented on #1687
Cannot reproduce this:
[code]
Closing.

[2019-11-28 03:32] #1687 closed

[2019-11-28 03:33] goanpeca commented on #1673
<img width="331" alt="Screen Shot 2019-11-27 at 21 15 53" src="https://user-images.githubusercontent.com/3627835/69771519-1ded2b80-115b-11ea-9b8d-6bb3805eea15.png">

Seems to be an issue on the console as well

<img width="278" alt="Screen Shot 2019-11-27 at 21 16 26" src="https://user-images.githubusercontent.com/3627835/69771553-34938280-115b-11ea-8d11-20cc7654b21c.png">

[2019-11-28 03:55] CAM-Gerlach commented on #1357
@ccordoba12 Now that we are at rc3 and the final release to users is neigh, was the regression implemented in #9660 silently disabling autosave as a "temporary stop gap" per @jitseniesen when single instance mode was disabled ever resolved as @jitseniesen indicated it would be? I can't find anything referencing or even documented that.

If it still isn't fixed, was it made clear and explicit in th

[2019-11-28 05:06] jnsebgosselin commented on #5459
This would work and my vote goes to this option.

It also takes less horizontal space, so this is an additional benefit.

![tabs_moving](https://user-images.githubusercontent.com/10170372/69778503-8562a580-1172-11ea-9e1e-d75caa53106b.gif)

![tabs_moving_color](https://user-images.githubusercontent.com/10170372/69778514-8bf11d00-1172-11ea-9212-cb65861c4f77.gif)

[2019-11-28 06:54] impact27 commented on #5607
Well as the code changed significantly since this issue I would say we can close it.

[2019-11-28 07:05] impact27 commented on #2970
I can't reproduce by running this code:
[code]
So either it was fixed upstream or I am missing something.
One thing I noticed is that a python icon appears in the macOS dock that is related to the kernel. If you right click + force quit, this will quit the kernel. But this is expected as the kernel process just showed an image, macOS classifies it as a GUI app.

[2019-11-28 08:40] gerazov commented on #10863
np guys - keep up the good work! :clap:

[2019-11-28 10:21] doogra opened #10874 "Autocomplete not working for standard modules on 4.0.0rc3 without Kite"
## Description

### What steps will reproduce the problem?

Prerequisite: Kite is NOT installed

Launch Python 4rc3. Attempt to invoke autocomplete by typing "table=pd.". This should provide a set of pandas autocomplete options as pandas is listed in the default modules to be loaded in Spyder4. Spyder should be falling back to jedi or other valid autocomplete options if Kite is not installed on th

[2019-11-28 11:42] jitseniesen commented on #1357
PR #10077, specifically commit c1e8053745cdac076802f0ba845cde4f5f60dd5f, reverted the stop gap. Autosave is enabled and works (as far as I know), whether or not you run Spyder in single-instance mode.

[2019-11-28 11:43] ccordoba12 commented on #1357
That was fixed on issue #10077

[2019-11-28 11:43] CAM-Gerlach commented on #1357
Excellent, thanks @jitseniesen and @ccordoba12 !

[2019-11-28 12:28] silvestre125 opened #10875 "Spyder crashes 0xc0000005 windows's error code and the affected file is pythonw.exe and Qt5Gui.dll"
## Problem Description
I'm dealing with a repetitive error that crashes Spyder randomly. The only info about the error is that the problem has 0xc0000005 windows's error code and the affected file is pythonw.exe and Qt5Gui.dll

### What steps reproduce the problem?

1. Randomly

### Versions

* Spyder version: 3.3.6
* Python version: 3.7.3
* IPython: 7.6.1
* Operating System name/version: Windows

[2019-11-28 12:52] mdevasish opened #10876 "Automatic error report"
<!---   *** BEFORE SUBMITTING: PASTE CLIPBOARD HERE TO COMPLETE YOUR REPORT ***   ---!>

[2019-11-28 13:12] goanpeca commented on #2970
I can reproduce it if I run it several times. The first time it might run, the rest it wont or blocks the kernel or you get a mesaage  saying an qap is already running.

[2019-11-28 13:15] #5607 closed

[2019-11-28 13:26] goanpeca commented on #5459
This is awesome news @jnsebgosselin !

Could you post a version for the dark theme to see how it looks?

[2019-11-28 13:59] #10876 closed

[2019-11-28 14:07] goanpeca commented on #2809
I don't think this still applies. Closing.

[2019-11-28 14:07] #2809 closed

[2019-11-28 14:08] goanpeca commented on #1918
Any thoughts on this one @impact27 ?

[2019-11-28 14:09] goanpeca commented on #1853
Any @spyder-ide/core-developers who has used this and can check?

[2019-11-28 14:13] goanpeca commented on #1900
This works fine on latest Master and Mac

@dalthviz or @jnsebgosselin, could you guys check on Win ?

[code]

[2019-11-28 14:34] dalthviz commented on #1900
@goanpeca it hangs for me on Windows

[2019-11-28 14:36] jnsebgosselin commented on #1900
This is a problem specific to Windows OS.

[2019-11-28 14:47] goanpeca commented on #1900
Indeed.

Some reference material: https://medium.com/@grvsinghal/speed-up-your-python-code-using-multiprocessing-on-windows-and-jupyter-or-ipython-2714b49d6fac

Any ideas on how we could detect this and warn the user?

[2019-11-28 14:49] goanpeca commented on #2817
I think this specific problem no longe applies, however we do need to profile the codeeditor code to make sure we are doing the least amount of unnecessary processing on the main thread and move any heavy calculations to a separate thread.

[2019-11-28 14:49] #2817 closed

[2019-11-28 14:55] goanpeca commented on #9773
I do not think we will be updating the Spyder2 theme anymore and suggest we remove it from Spyder 5. Closing @ccordoba12?

[2019-11-28 14:57] #6818 closed

[2019-11-28 14:57] jnsebgosselin commented on #5459
Ah well... of course it doesn't work for qdarkstyle.

It seems like [QTabBar.setTabTextColor](https://doc.qt.io/qt-5/qtabbar.html#setTabTextColor) has no effect, probably because it is ignored by qdarkstyle during the painting.

[2019-11-28 14:58] goanpeca commented on #9717
@jnsebgosselin if you could give us a hand with this one, that would be great!

Thanks :-)

[2019-11-28 15:00] jnsebgosselin commented on #5459
@goanpeca Do you think this would be relevant to open an issue on qdarkstyle repo?

[2019-11-28 15:01] goanpeca commented on #5459
I think we need to solve this on the Spyder side, but fear not, this is relatively easy, I know how to. Give me some minutes and I will add an example for you.

[2019-11-28 15:01] jnsebgosselin commented on #5459
Excellent! thanks

[2019-11-28 15:13] ccordoba12 commented on #9773
We really need a fallback theme in case there are problems loading web fonts. I'd say we could remove the Spyder 2 theme when we switch to the SVG based KDE theme in Spyder 5 or 6.

[2019-11-28 15:14] ccordoba12 commented on #1853
We're using autoreload by default now in our kernel, so this no longer applies.

[2019-11-28 15:14] #1853 closed

[2019-11-28 15:15] goanpeca commented on #5459
Ok, found an article that explains this @jnsebgosselin

https://wiki.qt.io/Dynamic_Properties_and_Stylesheets

We could  define a property like `'dirty'` or `'unsaved'` and add this custom stylesheet. We could then  override the setTabTextColor to do the style()polish calls etc... if on darkstyle.

[2019-11-28 15:17] ccordoba12 commented on #10875
Sorry but this is not something we can solve here. Please try to find if there are more `Qt5Gui.dll` in your system and remove them. That's the only advice we can give you.

[2019-11-28 15:17] #10875 closed

[2019-11-28 15:19] dalthviz commented on #2538
This is what I'm getting:

### Using Spyder:

![image](https://user-images.githubusercontent.com/16781833/69817181-06985780-11c8-11ea-8e19-3e903050e8bd.png)

[code]

### Using the command line

![image](https://user-images.githubusercontent.com/16781833/69816915-67736000-11c7-11ea-83fb-dbb007eb7fef.png)

[code]

So I think some cleaning its being done while using Spyder

[2019-11-28 15:19] ccordoba12 commented on #10874
How did you install Spyder?

[2019-11-28 15:22] goanpeca commented on #2538
So, should we close?

[2019-11-28 15:22] ccordoba12 commented on #2538
This is very old, let's close it.

[2019-11-28 15:22] #2538 closed

[2019-11-28 15:24] impact27 commented on #1918
Solved in https://github.com/spyder-ide/spyder-kernels/pull/187

[2019-11-28 15:24] goanpeca commented on #1918
Awesome! thanks :-)

[2019-11-28 15:29] jnsebgosselin commented on #5459
Thank you, but I don't understand how we can apply this to each tab of the QTabBar individually. I don't see a way to access the tabs from the public API.

[2019-11-28 15:29] impact27 commented on #2970
I just ran the code five times in the same kernel without issue. I reinstalled python and all the packages last week.

[2019-11-28 15:35] impact27 commented on #6270
I think this is the expected behaviour. The file in which the exception occured is colored differently to separate it from the stack files.

[2019-11-28 15:40] doogra commented on #10874
Hi,

I did it per the webpage instructions here:

https://github.com/spyder-ide/spyder/releases

pip install --pre -U spyder

Doug

On Thu., Nov. 28, 2019, 4:19 p.m. Carlos Cordoba, <notifications@github.com>
wrote:

[2019-11-28 15:41] goanpeca commented on #5459
You are absolutely right, tabs are not widgets... internally structs that hold info so this will not work :-\

We should probably remove any Style that QdarkStyle applies to text color and see if that way we can still control the color with the method. Otherwise we would need to reimplement the paint method.

https://code.woboq.org/qt5/qtbase/src/widgets/widgets/qtabbar.cpp.html#_ZN7QTabBar10paint

[2019-11-28 15:43] goanpeca commented on #6270
So should we close?

[2019-11-28 15:43] goanpeca commented on #2970
Hmmm this is weird :-\

[2019-11-28 15:48] jnsebgosselin commented on #5459
I have try that already but failed. I will try harder and see if I can make it work lol

That would be though though, especially since we support dragging and moving... I say we should try to avoid doing this if we can help it.

My favorite option would be to fix this upstream in qdarkstyle, but I don't know if this is possible.

[2019-11-28 15:49] goanpeca commented on #5459
I can have a look at it too :-)

[2019-11-28 15:51] jnsebgosselin commented on #5459
Oh yes, please do, that would be greatly appreciated, thanks.

[2019-11-28 15:57] goanpeca commented on #5459
Ok, yes we need to disable a change on QDark and this should work:

[code]
As soon as we set `color` css property, we override the method.
'''

[2019-11-28 15:59] goanpeca commented on #5459
@jnsebgosselin please open an issue so I can track it! thanks :-)

[2019-11-28 16:01] jnsebgosselin commented on #5459
Excellent, thank you! I will open an issue on qdark about this then with a MWE.

[2019-11-28 16:50] dan-ai-rgus opened #10877 "Shortcut to switch between screens in split-screen mode"
## Problem Description

I cannot find a keyboard shortcut that will allow me to switch between screens of code in split-screen mode. So if I am in split-screen horizontal mode and I see file1.py on the left and file2.py on the right, I would like to have a keyboard shortcut to switch between file1 & file2 without using the mouse. Is this possible??

## Versions

* Spyder version: 3.3.1
* Python ve

[2019-11-28 16:51] goanpeca commented on #4220
@CAM-Gerlach when you have some time could you helps us see if you can reproduce this? Thanks!

[2019-11-28 16:53] goanpeca commented on #10877
I do not think this is possible at the moment but we should definitely add something.

On mac a "common" way is to use <kbd>Cmd+1</kbd>, <kbd>Cmd+2</kbd> etc...

Thoughts @ccordoba12 @jnsebgosselin @impact27 @CAM-Gerlach ?

[2019-11-28 16:58] goanpeca commented on #2899
Tried with

[code]

And I get

<img width="237" alt="Screen Shot 2019-11-28 at 11 57 56" src="https://user-images.githubusercontent.com/3627835/69823258-5d0c9280-11d6-11ea-928e-0c4ce3217ead.png">

Which looks ok. Closing.

[2019-11-28 16:58] #2899 closed

[2019-11-28 17:02] goanpeca commented on #4075
I cannot reproduce this. Closing

[2019-11-28 17:02] #4075 closed

[2019-11-28 17:19] impact27 commented on #10877
Shouldn't Cmd+1, Cmd+2 be for tabs?

[2019-11-28 17:25] dan-ai-rgus commented on #10877
In Windows this typically done with Ctrl+Tab, which works in spyder too. This lets you cycle through tabs but within the _same_ view. I was hoping there was a way to go from view to view in the split screen.

[2019-11-28 18:46] jnsebgosselin commented on #5459
The relevant issue in qdarstyle is here: https://github.com/ColinDuquesnoy/QDarkStyleSheet/issues/212

[2019-11-28 20:51] ccordoba12 commented on #2970
@dalthviz, can you reproduce this on Windows?

[2019-11-28 20:55] ccordoba12 commented on #10877
I think this makes little sense: how should we cycle among split editor panes? Left to right and then top to bottom? Or the other way around? No one would be pleased and some would find courter-intuitive.

So I'd say we should close this as "Not fix".

[2019-11-28 20:58] ccordoba12 commented on #10874
Ok, I'm very sorry but we don't have enough resources to support custom installations (i.e. not Anaconda ones). They are basically for expert users who are able to debug and solve these kind of issues.

If you don't know how to do that, please download and use Anaconda instead.

[2019-11-28 20:58] #10874 closed

[2019-11-28 21:13] doogra commented on #10874
Ok cool. Thanks.

Doug

On Thu., Nov. 28, 2019, 9:58 p.m. Carlos Cordoba, <notifications@github.com>
wrote:

[2019-11-28 21:35] dalthviz opened #10878 "Internal Python Language Server error"
## Description

### What steps will reproduce the problem?

When typing:

[code]

And then doing  `Ctrl + Space` (trying to get completions)

### Traceback
[code]

## Versions

* Spyder version: 4.0.0.dev0 1ab2a173a
* Python version: 3.7.3
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2019-11-28 21:57] dalthviz commented on #2970
@ccordoba12 testing this on Windows, Python 3.7.3/Anaconda:

### Code versions that work:

[code]
![image](https://user-images.githubusercontent.com/16781833/69832408-13cf3980-11fc-11ea-9017-d5a920b7b9e2.png)

[code]
![image](https://user-images.githubusercontent.com/16781833/69832815-5a259800-11fe-11ea-94ad-91aaea046041.png)

### Code version with strange behaviors:

Running the following code fr

[2019-11-28 22:00] ccordoba12 commented on #10878
I can reproduce this error on Linux too. However, it doesn't appear if you use `qtpy` instead of `PyQt5`.

@dalthviz, please open a PR in the PyLS catching this `AttributeError` and looking for the string `CompiledObject` on it to pass on it. Specifically, you need to do that around this line (line 48 according to the error)

    definitions = document.jedi_script(position).completions()

in `pyls

[2019-11-28 22:20] bcolsen commented on #2521
Same results here on linux.

![image](https://user-images.githubusercontent.com/10513354/69833644-78859680-11f2-11ea-9024-a1e2b9d43a2b.png)

[2019-11-28 22:48] RuslanBergenov opened #10879 "When using a network drive at work: 1) %clear generates this error: The system cannot find the path specified. 2) Spyder project explorer is blank."
## Problem Description

I'm having this issue on at work, not at home. I'm only observing it when my Spyder project is located on a drive different from where Anaconda is installed (That's my understanding).

C:\Users\MYNAME\AppData\Local\Continuum\anaconda3\Scripts\anaconda.exe - this is my local drive. This is where Anaconda is installed. I CANNOT access these the files in this directory from an

[2019-11-28 22:51] RuslanBergenov commented on #4530
Done! https://github.com/spyder-ide/spyder/issues/10879

[2019-11-28 23:04] ccordoba12 commented on #10879
Thanks, but someone else reported the same these days. So I'm closing this one as a duplicate of #10762.

[2019-11-28 23:04] #10879 closed

[2019-11-28 23:23] goanpeca commented on #10877
Cycling in order of creation.

Command numbers on is what vscode provides. I beleive it is a real issue that needs fixing.

[2019-11-28 23:24] ccordoba12 commented on #10877
Ok, but IMHO we have way more important things to fix, so I'd say we should move this to our "Wishlist" milestone in any case.

[2019-11-28 23:25] ccordoba12 commented on #6270
If this something that IPython does, then we can't solve it here.

[2019-11-28 23:25] #6270 closed

[2019-11-28 23:32] ccordoba12 commented on #2970
@dalthviz, so what's your conclusion? I mean, when do things work and when do they fail?

[2019-11-29 00:29] CAM-Gerlach commented on #4220
I do this all the time multiple times a day with Spyder (4) open with multiple different monitors and display changes, for years, and I've never seen this effect at least not on Spyder 4. However, that's on 8.1 and 10, not 7. I don't have a readily available 7 machine to test on anymore with 7 being almost EoL.

[2019-11-29 00:31] CAM-Gerlach commented on #4220
I would guess this is fixed either with newer Qt/PyQt/QtPy, newer OS, newer Spyder (e.g. opengl rendering options changes) or was something specific to a particular GPU/driver/etc. that can't be easily reprod.

[2019-11-29 00:35] #4220 closed

[2019-11-29 00:41] CAM-Gerlach commented on #10877
This would be very handy, saving a lot of time when switching between files, and is important for keyboard-only accessibility. It isn't quite as simple as it might initially appear since Spyder can have arbitrary numbers of split panes, split multiple ways, so we need to have some defined order (ideally, MRU order) to switch between them in. But for by far the most common case and the one that @da

[2019-11-29 01:35] goanpeca commented on #3922
I can confirm this bug with turtle.

[2019-11-29 01:36] goanpeca commented on #3761
I cannot reproduce this. Closing

[2019-11-29 01:36] #3761 closed

[2019-11-29 01:39] goanpeca commented on #3751
After 3 year and python 2.7 support coming to an end soon, this is probably not relevant anymore. Closing.

[2019-11-29 01:39] #3751 closed

[2019-11-29 01:40] goanpeca commented on #2521
@bcolsen what do you think is a reasonable behavior here?

[2019-11-29 01:45] goanpeca commented on #9335
@xanatzar if you disable automatic rotation on your laptop and configure this manually, the problem still persists?

[2019-11-29 01:55] goanpeca commented on #6444
@bcolsen, @jnsebgosselin what are your thoughts on how this should flow?

<img width="761" alt="Screen Shot 2019-11-28 at 20 55 32" src="https://user-images.githubusercontent.com/3627835/69838411-74bd3880-1221-11ea-9e80-d8b0ba2cb80a.png">

[2019-11-29 01:59] goanpeca commented on #7978
With the new plots viewer, I believe this should no longer be an issue. Closing.

[2019-11-29 01:59] #7978 closed

[2019-11-29 02:01] goanpeca commented on #7215
@jitseniesen how do you think we could handle this case?

[2019-11-29 02:02] goanpeca commented on #5597
@dalthviz could you check if you can reproduce this issue?

[2019-11-29 02:04] goanpeca commented on #4606
I cannot reproduce this issue. Closing.

[2019-11-29 02:04] #4606 closed

[2019-11-29 02:19] CAM-Gerlach commented on #7215
@goanpeca This is presumably (one of) the cause(s) of the originally reported issues where Spyder truncated users files to 0 bytes if saving failed. However, the fix was already implemented a year ago as I proposed in #8237 and @dalthviz implemented in #8347 by using `atomicwrites` to overwrite files atomically and robustly at the filesystem/OS level, so it shouldn't be possible for this to happen

[2019-11-29 02:19] #7215 closed

[2019-11-29 03:30] jsh9 commented on #10745
Could you tell me how we can detect screen resolution? Are there any Python libraries?
  A few things we need to consider:
- Cross platform
- Real time detection? (If I have two monitors with different resolutions, and I could potentially more Spyder from one monitor to another any time.)

If we don't want to dynamically adjust the variable explorer window size, we can use some hard-coded window s

[2019-11-29 04:20] ccordoba12 commented on #10745
That's when things get complex. @dalthviz, please give @jsh9 a hand on how to detect the resolution of the screen in which Spyder is running.

I don't think you could find a size that goes with both high and regular screens. Besides, very few in our team have screens with such resolutions (I certainly don't), so you have to submit a PR that works for us too.

[2019-11-29 04:21] ccordoba12 commented on #5597
This was probably caused by the old MathJax version we were using until some months ago. Now this should be fixed.

[2019-11-29 04:21] #5597 closed

[2019-11-29 04:22] ccordoba12 commented on #3922
Did you follow our guide to run Turtle code? You can find it in our wiki.

[2019-11-29 04:25] jsh9 commented on #10745
Are all of your screen resolutions between HD (1920 x 1080) and 4k (3840 x 2160)? If so, then the static numbers that I have in mind will work fine for you.

Detecting screen resolutions seems a bit of an overkill: current Spyder doesn't do it for variable explorer windows, so there isn't really a big reason for us to suddenly start doing so. All I think is necessary is to upgrade the size to to a

[2019-11-29 04:27] ccordoba12 commented on #10745
No, they aren't, they are smaller. That was my point precisely.

[2019-11-29 04:28] jsh9 commented on #10745
Do you know how much smaller?

[2019-11-29 04:32] ccordoba12 commented on #10745
Whatever number I can give would be arbitrary, i.e. there could still be people using Spyder with 1366x768 screens.

Look, you're not going to get away with a fixed size, sorry to put it plain and simple. As I said, you need to detect the screen resolution and generate the size dynamically.

[2019-11-29 04:46] jsh9 commented on #10745
Please see this from my previous reply. I don't plan to go above 760 pixels in height.

The current implementation in Spyder can get away with a fixed size, so I don't see why the proposed new plan has to use a dynamic size. Do you have some special considerations?

[2019-11-29 06:31] jsh9 commented on #10745
In any case, I'll wait for @dalthviz 's input on how to detect screen resolution, and I'll push two versions (fixed size vs dynamic size) for you all to take a look.

[2019-11-29 07:08] dan-ai-rgus commented on #10877
Thanks for the thoughtful and prompt consideration to this issue!

@ccordoba12 I agree that if you consider cycling automatically through every tab in every screen separately this could get out of hand.

@CAM-Gerlach because of @ccordoba12 concern of it being counter-intuitive to cycle (and I agree), perhaps we can split the problem into two: (1) addressing panes individually (new functionality) a

[2019-11-29 07:18] impact27 commented on #2970
I can reproduce if I paste the code in the console directly. I get a segfault when creating the widget:
[code]
Without the widget:
[code]

Without executing: (Crashes)
[code]

Without an app: (Crashes)
[code]

But I can reproduce that in qtconsole and in ipython and in python:
[code]

[2019-11-29 07:33] impact27 commented on #2970
My guess is the following: when `QtWidgets.QApplication([])` is called, a new python wrapper is created, but it wraps a singleton. So when the second time `app = QtWidgets.QApplication([])` is called:
 - python has an old `app` object that is losing its name, so it must be destroyed because:
 - A new python object is taking the `app` name
But the new python object is really a wrapper around the sa

[2019-11-29 07:40] Hejinzefinance opened #10881 "Automatic error report"
<!---   *** BEFORE SUBMITTING: PASTE CLIPBOARD HERE TO COMPLETE YOUR REPORT ***   ---!>
When I double click the variable of numpy.arrays, of which the size is (100,10), in the Variable explorer of Spyder, not only can't I view my matrix variable in the form of 2-dimensional numpy.arrays, but also I will encounter the internal error in Spyder.

[2019-11-29 08:04] impact27 commented on #2970
Could you try https://github.com/spyder-ide/spyder-kernels/pull/189 to see if this fixes it?

[2019-11-29 08:56] MuellerSeb opened #10883 "Show hidden files in the project explorer"
Is it possible to show hidden files like ``.travis.yml`` or ``.coveragerc`` in the project explorer?

There is an option called "Show all files" under ``Preferences -> Files -> General``, but this doesn't make these files show up.

If it's not my fault by missing a checkbox, I think it's quite inconvenient that accessing necessary files for a python project is not possible through the project expl

[2019-11-29 09:34] CAM-Gerlach commented on #10877
@dan-ai-rgus I'm not sure I understand what you are proposing (or recommending against) here. As I understood it, your original request and the followup discussion has only been about switching between panes, and you even mentioned that Spyder already fully supports tab switching. I'm certainly not suggesting that Spyder make any fundamental changes around including tabs from other panes in the ta

[2019-11-29 11:22] suokunlong opened #10884 "String "Run in console's namespace instead of an empty one" translated but still show English on UI"
## Problem Description

The following string is translated in PO files, but on UI it still shows in English.

spyder/preferences/runconfig.py:46":
msgid "Run in consoleâs namespace instead of an empty one"

It seems to be related to the special characters. In PO files it is:
msgid "Run in consoleâs namespace instead of an empty one"
but in source file it is:
CONSOLE_NAMESPACE = _("Run in conso

[2019-11-29 15:43] ccordoba12 commented on #10881
This is fixed in our latest version. Please update by opening the Anaconda Prompt and running there

    conda install spyder=3.3.6

[2019-11-29 15:43] #10881 closed

[2019-11-29 15:47] #10834 closed

[2019-11-29 15:56] #10736 closed

[2019-11-29 16:33] goanpeca commented on #10884
We will look into it! thanks

[2019-11-29 16:35] goanpeca commented on #10883
@MuellerSeb you are correct, we will fix this for V4.1 !

[2019-11-29 16:37] goanpeca commented on #2970
Will take a look @impact27 thanks!

[2019-11-29 17:01] dan-ai-rgus commented on #10877
If you make a list of all the tabs in every pane and let me cycle through them, that would be sufficient. A specific example:
I usually have open: (1) file explorer (2) find in files (3) interpreter (4) 7 tabs of code in split view 1 (5) 7 tabs of code in split view 2

If I can switch between these numbered panes, in any order really, as in my example (and then use existing shortcuts to cycle thro

[2019-11-29 17:10] goanpeca commented on #10877
@dan-ai-rgus I think you are mixing too many things.

Panes already have shortcuts:

<img width="456" alt="Screen Shot 2019-11-29 at 12 10 39" src="https://user-images.githubusercontent.com/3627835/69883247-45e6a700-12a1-11ea-9ec5-05c35dec2ead.png">

So that is a completely separate discussion

This issue is about split panels within the Editor pane.

[2019-11-29 17:31] bcolsen commented on #2521
## Option 1
I think that we either always default to spyder light syntax highlighting for printing

## Option 2
We could make a separate print highlighter setting in preferences

##Option 3
If that's not easy to change highlighting for just printing then we could remove printing all together. I couldn't find a print option on vscode.

[2019-11-29 17:44] goanpeca commented on #2521
Thanks for the input, I will see what we can do

[2019-11-29 17:56] bcolsen commented on #6444
I didn't even realize that you could make comparisons. I thought that you could just save and load data to see it again later. Maybe `Load Comparison Data` or something. Also being able to just compare to the previous result without saving would be great.

Sorry side tracked. As for this issue I don't see why I shouldn't be able to clear a comparison, load data or save data while the profiler is r

[2019-11-29 18:08] dalthviz commented on #2970
@impact27 I left a review at spyder-ide/spyder-kernels#189 . Thanks! :)

[2019-11-29 18:18] dan-ai-rgus commented on #10877
You are right. I am not familiar with all the terms so my apologies and the other comments confused me. (though, I notice that when I am in split screen mode, using the shortcut to move from editor to interpreter does not work, but that is a separate issue).

I am speaking specifically about the editor pane, in split screen view. If there is a way to cycle through the split views (in any order...)

[2019-11-29 18:36] goanpeca commented on #10877
Will try to address this :-)

[2019-11-29 18:37] goanpeca commented on #6444
Thanks for the input and the suggestion! We need to work a bit on the profiler to update with other panes. This one is a bit orphaned. :-)

[2019-11-29 18:38] goanpeca commented on #6444
I think it is already done if you keep running the profiler

[2019-11-29 21:15] dalthviz commented on #10745
Hi @jsh9 just in case [here](https://github.com/spyder-ide/spyder/pull/10880#issuecomment-559881109) is the comment about a possible way to set the dialog size dynamically

[2019-11-29 22:00] #10851 closed

[2019-11-30 00:00] CAM-Gerlach commented on #10877
Even though I myself had been big on standardizing and using consistent terminology for Spyder's UI and documentation, I've inadvertently made that conflation myself still.

[2019-11-30 00:24] goanpeca commented on #3103
[code]

This seems to work fine. Closing

[2019-11-30 00:24] #3103 closed

[2019-11-30 00:29] goanpeca commented on #2970
@dalthviz does it work for you with the fix?

[2019-11-30 00:38] goanpeca commented on #5061
If I try to import without numpy installed, the options are no longer available:

<img width="542" alt="Screen Shot 2019-11-29 at 19 38 22" src="https://user-images.githubusercontent.com/3627835/69893477-dd6aea80-12df-11ea-9af7-4b4c7663e467.png">

Closing.

[2019-11-30 00:38] #5061 closed

[2019-11-30 00:54] #10884 closed

[2019-11-30 00:56] ccordoba12 commented on #10884
@suokunlong, you need to submit a new PR for that string because I removed the non-ascii character it contained.

[2019-11-30 02:03] goanpeca commented on #2970
Works like a charm on Mac @impact27 !

[code]

[2019-11-30 02:05] goanpeca commented on #7220
I don't think this is an issue. Closing

[2019-11-30 02:05] #7220 closed

[2019-11-30 02:06] goanpeca commented on #1900
Do you think we could do something here for windows as well @impact27 ?

[2019-11-30 02:08] goanpeca commented on #3194
I think this has been solved already @ccordoba12 ?

[2019-11-30 02:09] goanpeca commented on #4673
Closing as duplicate of https://github.com/spyder-ide/spyder/issues/5459

[2019-11-30 02:09] #4673 closed

[2019-11-30 02:11] goanpeca commented on #5394
It seems this is no longer an issue. Closing.

[2019-11-30 02:11] #5394 closed

[2019-11-30 02:16] goanpeca commented on #7849
Seems to be working fine:

<img width="636" alt="Screen Shot 2019-11-29 at 21 16 08" src="https://user-images.githubusercontent.com/3627835/69894415-7bb17d00-12ed-11ea-938c-9c9ecfa9bea8.png">

Closing.

[2019-11-30 02:16] #7849 closed

[2019-11-30 02:22] ccordoba12 commented on #3194
Yeah, this problem only applied to the old Python console.

[2019-11-30 02:22] #3194 closed

[2019-11-30 02:38] CAM-Gerlach commented on #7220
Yeah, this doesn't really seem within scope to fix in the forseeable future.

[2019-11-30 02:54] goanpeca commented on #1052
Closing as duplicate of https://github.com/spyder-ide/spyder/issues/2943

[2019-11-30 03:15] goanpeca commented on #4416
Update on this issue. It works if I press `Cmd+=` and then release the `Cmd` button while holding the `=`. If I do it like this it works.

[2019-11-30 03:15] #4416 closed

[2019-11-30 03:37] goanpeca commented on #1264
With a month left for Python 2 official support I would say this is a won't fix. Closing @ccordoba12 ?

[2019-11-30 03:41] goanpeca commented on #4833
With a month to go with official Python 2 support I would say this is a won't fix. Closing @ccordoba12 ?

[2019-11-30 03:44] #2449 closed

[2019-11-30 03:52] goanpeca commented on #7626
This is not a Spyder issue. It is (was) a [Qt Bug](https://bugreports.qt.io/browse/QTBUG-60513?page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel&showAll=true)

[2019-11-30 03:52] #7626 closed

[2019-11-30 03:58] goanpeca commented on #5037
We would need then to mark all untitled files as needing to open the save as dialog? Thoughts @CAM-Gerlach @jnsebgosselin ?

[2019-11-30 04:12] goanpeca commented on #3922
Even with the guide, after turtle runs a new blank screen appears and is there until de kernel is restarted.

[2019-11-30 04:18] hasakura511 opened #10888 "pasted code block"
## Description

### What steps will reproduce the problem?

pasted code intoo scriptpasted code intoo scriptpasted code intoo scriptpasted code intoo scriptpasted code intoo scriptpasted code intoo scriptpasted code intoo script
pasted code intoo scriptpasted code intoo scriptpasted code intoo scriptpasted code intoo scriptpasted code intoo script

### Traceback
[code]

## Versions

* Spyder versi

[2019-11-30 04:19] hasakura511 opened #10889 "Another KeyError when computing folding"
## Description

### What steps will reproduce the problem?

it keeps popping up

### Traceback
[code]

## Versions

* Spyder version: 4.0.0rc3
* Python version: 3.7.0
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 17.7.0

### Dependencies

[code]

[2019-11-30 04:30] ccordoba12 commented on #10889
Please don't write non-sense in our error report dialog for next time. Instead, please try to describe what's causing the problem.

[2019-11-30 04:31] ccordoba12 commented on #10888
Duplicate of #10889

[2019-11-30 04:31] #10888 closed

[2019-11-30 04:32] ccordoba12 commented on #10888
Please don't open more issues about the same problem.

[2019-11-30 04:32] goanpeca commented on #4625
I tested this on https://pythex.org/

It does not work there either. I don't think this is a Spyder issue.

<img width="916" alt="Screen Shot 2019-11-29 at 23 31 40" src="https://user-images.githubusercontent.com/3627835/69895572-6d209100-1300-11ea-9547-2d1cef31f4c3.png">

[2019-11-30 04:32] #4625 closed

[2019-11-30 04:32] ccordoba12 commented on #10888
Also, please paste on issue #10889 the code you pasted in the editor that generated this error.

[2019-11-30 04:47] goanpeca commented on #7009
@impact27 is this still an issue?

[2019-11-30 05:20] hasakura511 commented on #10888
was so tired, i was clicking close and the report window just kept on
pooping out, wouldn't close, even if i clicked on close button, so i tried
to submit it to see if it would close so i can just save my script, but
that didnt work either.  So i had to quit spyder to make it go away.
thanks for your patience.

On Sat, Nov 30, 2019 at 12:32 PM Carlos Cordoba <notifications@github.com>
wrote:

[2019-11-30 06:26] bcolsen commented on #10877
@goanpeca said:

I think it would be pretty intuitive to use the editor pane shortcut (ctrl+shilf+E..strangely not listed in the pane menu) to switch between editor sub-panes. As far as I can see it currently does nothing when you are already on the editor pane.

[2019-11-30 06:43] CAM-Gerlach commented on #10877
That could work, I guess. It only goes in one direction, and when triggered when the Editor is not active, it would need to work as it does now, going to the last active editor panel, so its probably more a little more complex/error-prone to implement. The major advantage is discoverability, especially if a significant number of users already use the switch to editor shortcut (otherwise, it would

[2019-11-30 06:48] impact27 commented on #7009
No I can't reproduce anymore, I will reopen it if I see it again.

[2019-11-30 06:48] #7009 closed

[2019-11-30 07:01] impact27 commented on #1900
The easiest way would be to subclass `Pool()` in spydercustomize to print a warning when created on windows. And add an option to silence the warning. Like:
[code]

[2019-11-30 07:15] VividyYang opened #10890 "IPython console output converts tabs to spaces"
## Description

### What steps will reproduce the problem?

Execute a simple print with tabs, e.g.
   print("string a", "\t", "string b")
The output in IPython converts tabs to spaces.

IPyhon console should not pretend to be smart to do conversion for users. I cannot find settings to overwrite it.
I need to tabs for excel to parse them correctly.

## Versions

* Spyder version: 3.3.6
* Python ver

[2019-11-30 08:48] Hejinzefinance commented on #10881
Thank you!!! It works!

[2019-11-30 09:51] hasakura511 commented on #10888
I dont have the code that I pasted, but I do have what was printed in the
console multiple times.

QPainter::begin: A paint device can only be painted by one painter at a
time.

QPainter::setCompositionMode: Painter not active

QPainter::begin: A paint device can only be painted by one painter at a
time.

QPainter::setCompositionMode: Painter not active

QWidget::repaint: Recursive repaint detecte

[2019-11-30 14:47] novaya commented on #9001
I can work on creation of git-cola plugin for spyder if nobody is working on it.

[2019-11-30 14:47] goanpeca commented on #9689
@spyder-ide/core-developers I think that we should enable highlight of find results by default and remove the highlight button which seems redundant.

Thoughts ?

[2019-11-30 14:49] ccordoba12 commented on #10888
pooping out, wouldn't close, even if i clicked on close button

Ok, no problem. I understand this error can be very annoying.

If you see this error again, please post the code that generated it on issue #10889, as I advised you above.

[2019-11-30 14:50] ccordoba12 commented on #9001
We're going to take care of that for Spyder 5, but thanks a lot for your offer.

[2019-11-30 14:56] ccordoba12 commented on #10890
Thanks for reporting. However, we can't solve this problem here. Instead, please report it in this repo:

https://github.com/jupyter/qtconsole

[2019-11-30 14:56] #10890 closed

[2019-11-30 15:06] ccordoba12 commented on #4833
We can catch the UnicodeEncodeError thrown by this kind of error and show the message I mentioned above.

[2019-11-30 16:48] ccordoba12 commented on #1900
@impact27, that's a good compromise, but how can we detect if `Pool()` is being called inside `__main__` or not?

[2019-11-30 17:29] piyushy1 opened #10891 "Spyder ID getting crashed"
Hi, I am using Spyder IDE under conda environment in windows 10. Everytime I launch my spyder I get the following exception. Sometimes the ide works while sometimes it does not launch.

**Please provide any additional information below**

    plugin.register_plugin()
    self.create_new_client(give_focus=False)
    server_info = nbopen(filename)
    server_info = find_best_server(filename)
    ser

[2019-11-30 18:29] ccordoba12 commented on #10891
This is an error with spyder-notebook and we don't know why it happens. Please uninstall it to not see this error.

[2019-11-30 18:29] #10891 closed

[2019-11-30 18:41] impact27 commented on #1900
I don’t think we can, unless we do code analysis, so I would just print the warning in any case. (which is why it should be disabled by an option)

[2019-11-30 19:47] aster94 commented on #9001
I guess that Spyder 5 is not near to come, is it? I would love to have a plugin for it on spyder 4

[2019-11-30 21:59] ccordoba12 commented on #9001
Well, a plugin based on git-cola needs to be developed outside of this repo, because git-cola is GPL licensed and we're MIT. So it could be developed for both Spyder 4 and then adjusted for 5 when the time comes.

So, if you're very interested on this, we could setup a Google hangout to talk about it and let you know more in detail our what are our plans for it.

[2019-11-30 23:46] jnsebgosselin opened #10893 "Spyder closes unexpectedly when trying to change plain text font"
## Problem Description

Trying to change plain text font make Spyder crash.

### What steps reproduce the problem?

1. Try to change plain text font
2. Wait for Spyder to crash

![spyder_crash](https://user-images.githubusercontent.com/10170372/69907320-4a928480-13a1-11ea-8045-d872b6647953.gif)

### Paste Traceback/Error Below (if applicable)

This is what is written in my Windows Terminal.
[code]

[2019-12-01 00:29] goanpeca commented on #10429
Using the unmatched braces color with a bit of alpha or this.

[2019-12-01 05:32] camilomarino opened #10895 "ipdb set_trace() is not working properly in spyder"
## Problem Description

When I write (at any script):
import ipdb; ipdb.set_trace()

Always when I press n the program send me to "interactiveshell"

    --Return--
    None

          6
    ----> 7 import ipdb; ipdb.set_trace()
          8

    ipdb> n

       3328                 # Reset our crash handler in place
    -> 3329                 sys.excepthook = old_excepthook
       3330         ex

[2019-12-01 11:03] impact27 commented on #2943
I think this is a bug with ipython ` %xmode plain` and should be fixed upstream:
ipython:
[code]
python:
[code]

[2019-12-01 11:17] impact27 commented on #2943
I opened an issue upstream: https://github.com/ipython/ipython/issues/11995

[2019-12-01 14:12] ccordoba12 commented on #2943
@impact27, thanks for doing that. Could you help the IPython guys with that bug?

[2019-12-01 15:46] ccordoba12 commented on #10895
Please try this next week after we release Spyder 4 to see if the error still persists there.

[2019-12-01 15:56] ccordoba12 commented on #10893
I can't reproduce this on Windows 7. @CAM-Gerlach, are you able to reproduce this error?

[2019-12-01 16:16] jnsebgosselin commented on #10893
I can reproduce this bug also by adding a `print` in the code of Spyder. If the `print` is called at some critical time during runtime, Spyder crash.

[2019-12-01 16:16] shahzaibaziz6 opened #10896 "pyder has encountered a problem. Sorry for the inconvenience. You can automatically submit this error to our Github issues tracker. Note: You need a Github account for that"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/Users/shahzaibaziz/opt/anaconda3/envs/oldspyder/lib/python3.6/site-packages/spyder/widgets/variableexplorer/collectionseditor.py", line 519, in createEditor
    readonly=readonly)
  File "/Users/shahzaibaziz/o

[2019-12-01 16:20] jnsebgosselin commented on #10893
So basically, I think this is not a bug with the preferences, but with the internal console. Anything that send a message to the internal console  during runtime can possibly cause this bug

[2019-12-01 17:18] RIM-LLC opened #10897 "Blank line printed on console for each chart plotted"
Small issue: an extra blank line is printed on the console every time I print a chart. You can see below on the Plots pane that I have plotted a few charts. Although there is no "print"  function on the section of the code that prints the charts, a new blank line is printed every time I new chart is plotted. Again, not a big issue but it messes up with the console formatting if the code prints som

[2019-12-01 17:25] jwa5426 opened #10898 "Cannot connect to remote existing kernel on macOS Catalina"
### Issue Report Checklist

* [X] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [X] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [X] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2019-12-01 18:38] ccordoba12 commented on #10896
This is an error in Pandas. Please close Spyder, open Terminal.app and run there

    conda update pandas spyder

[2019-12-01 18:41] ccordoba12 commented on #10898
Sorry but we don't the means to debug this. If the IPython recipe is working for you, then you'll have to use that instead.

[2019-12-01 18:41] #10898 closed

[2019-12-01 18:47] jwa5426 commented on #10898
Feel free to keep this closed if you want but I think you’re ignoring a sign of broken functionality. If I have to use a console outside of the IDE to run my code why use Spyder at all?

[2019-12-01 18:49] CAM-Gerlach commented on #10893
I couldn't repro this either on 8.1 and Qt/PyQt 5.9.7/5.9.2; I can load the font menu and switch fonts fine. It would seem your system may have a problem font that triggers the interaction with the internal console that then in turn causes the error.

[2019-12-01 18:50] ccordoba12 commented on #10897
This is not a problem in Spyder but in your code. To verify it, you can simply do

[code]

and you'll see that no new line is printed.

[2019-12-01 18:54] ccordoba12 commented on #10898
That's your choice. The functionality of running in remote kernels runs well in most cases, but we can't cover all OS host/guest combinations.

[2019-12-01 18:55] ccordoba12 commented on #10893
@CAM-Gerlach, but did you add a print that can be triggered while changing fonts takes effect?

[2019-12-01 19:14] CAM-Gerlach commented on #10888
@hasakura511 Was there a reason you didn't just click the `Don't show again` checkbox in the error dialog? That's exactly what its there for, so the error dialog won't keep popping up again and again.

[2019-12-01 19:15] RIM-LLC commented on #10897
Maybe it is the plt.show() function that triggers it? Look below at what I get when running the code below:

import matplotlib.pyplot as plt

for x in range(10):
    print ("Plot #{0:0f}:".format(x))
    plt.plot(range(2*x+2))
    plt.show()

The line between the figure numbers shouldn't be there, correct?

![Annotation 2019-12-01 141358](https://user-images.githubusercontent.com/57544001/69918863

[2019-12-01 19:18] ccordoba12 commented on #10897
Yes, that's it. You don't need that command when running your code in Spyder.

[2019-12-01 19:24] CAM-Gerlach commented on #10893
No, I just tested in my currently running that I'm working in right now. I guess it was unclear from the above, but what I meant was that presumably @jnsebgosselin 's system has some front that triggers (A) the Qt error, which then triggers (B) the print to the internal console, which then triggers (C) the error as he explained. Given B, I presume C can be reproduced reliably; I was simply confirm

[2019-12-01 19:30] CAM-Gerlach opened #10900 "Regression: Indent guides broken in any Editor split panel except the first"
As requested by @ccordoba12 . This is a serious regression in a major new feature that's been present since Beta 1, so it should presumably be fixed before the final release.

PR #10782 adds a new system for indent guides, but they are broken (don't appear at all) in any split Editor panel that isn't the first, leading me to initially think that they weren't working at all until I could get them t

[2019-12-01 19:41] RIM-LLC commented on #10897
It is definitively the plt.show() command. However, if I eliminate the plt.show() command, I only see the last plot, correct? I.e. see below what I get on the Plots pane without / with the plt.show() command on the simple test code.

I also plot various charts with subplots - and I guess the only way to show them is, at the end of the code, use plt.show(). Maybe there is another way to show the va

[2019-12-01 19:47] jnsebgosselin commented on #10893
I will find a place in the code where to put the print that trigger the error consistently and report back. I have encountered this issue recently while working on the keyboard shortcuts preferences.

[2019-12-01 20:45] ccordoba12 commented on #10897
Well, as you said, this is a very minor and not even something we can fix here, sorry.

[2019-12-01 22:39] ccordoba12 commented on #10900
@dalthviz, please take a look at this one.

[2019-12-01 23:16] hasakura511 commented on #10888
im not sure that worked either ,  don’t remember exactly however

[2019-12-02 00:07] CAM-Gerlach commented on #10888
@hasakura511 If that didn't work either, then its another bug that would need to be fixed. At least running Spyder 4.0.0rc3 and `master`, I could not reproduce this issue; if I manually triggered an error in the Internal Console, checking the box would make the dialog stop re-appearing. If you can reliably reproduce it and its not already reported here, please file an issue with all the details. T

[2019-12-02 00:12] RIM-LLC commented on #10897
Totally agree - the issue is a minor one. I wish we had a "character" we could use in Python, in general, that would allow us to move the cursor up one line. That would make the console a much more user-friendly window.

[2019-12-02 03:46] jnsebgosselin commented on #10893
Ok, adding a print after `painter = QPainter(self)` trigger the crash 100% of the time for me when `Show indent guide` is checked.

https://github.com/spyder-ide/spyder/blob/2d5d450fdcef232fb7f38e7fefc27f0e7f704c9a/spyder/plugins/editor/panels/indentationguides.py#L40-L47

As for the case I reported in the OP, I also get the following error:

[code]
I have encountered this issue a couple of time w

[2019-12-02 03:56] jnsebgosselin commented on #10893
To prevent the crash, I need to remove the call to `QCoreApplication.processEvents()` and replace `repaint` by `update` in the internal console.

https://github.com/spyder-ide/spyder/blob/73f958425ecc0d79788a413ce4c13fad5b29146e/spyder/plugins/console/widgets/shell.py#L561-L566

[2019-12-02 05:11] CAM-Gerlach commented on #10893
@jnsebgosselin Confirmed, if I add the print I get very similar behavior to when indent guides weren't working, and the same two messages in the system console, except a full on crash instead of the UI just going crazy.

[2019-12-02 10:03] alexschw opened #10904 "Feature Idea: Dock the Kite copilot in Spyder"
### Issue Report Checklist
* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports

### Feature Description
It might be a nice feature to dock the Kite window into a new pane in the Spyder window. It bothers me a bit to always put it on top of the maximized window and cover parts of the Editor. Maybe [this](https://stackoverflow.com/questions/

[2019-12-02 10:05] TengfeiFeng opened #10905 "Can't open Value"
## Description

### What steps will reproduce the problem?

It encounters errors when I want see values of the variables in the variable explore.

### Traceback
[code]

## Versions

* Spyder version: 3.3.1
* Python version: 3.5.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2019-12-02 11:59] flipflop22 opened #10906 "Cannot open variable list"
## Description

### What steps will reproduce the problem?

Encode categorical data using LabelEncoder, once finished use OneHotEncoder to create dummy variables. The variable that contain the encoded categorical data cannot be opened

### Traceback
[code]

## Versions

* Spyder version: 3.3.1
* Python version: 3.5.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 18.7.0

###

[2019-12-02 12:02] flipflop22 opened #10907 "Cannot open float type data"
## Description

### What steps will reproduce the problem?

convert all data from object to change it into float numbers. double click on data in variable explorer tab

### Traceback
[code]

## Versions

* Spyder version: 3.3.1
* Python version: 3.5.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 18.7.0

### Dependencies

[code]

[2019-12-02 12:33] draj99 opened #10908 "Cant execute fl"
## Description

### What steps will reproduce the problem?

i am not able to execute the code the file is already saved but Syder is asking to save the file and the code is not compiled even after the file is saved again

### Traceback
[code]

## Versions

* Spyder version: 3.3.6
* Python version: 3.7.4
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[c

[2019-12-02 13:00] goanpeca commented on #10906
Please update to Spyder 3.3.6 or install spyder 4.0.0 in a few days when it is officially  released.

[2019-12-02 13:00] #10906 closed

[2019-12-02 13:01] goanpeca commented on #10905
Please update to Spyder 3.3.6 or install spyder 4.0.0 in a few days when it is officially released.

[2019-12-02 13:01] #10905 closed

[2019-12-02 13:01] goanpeca commented on #10907
Please update to Spyder 3.3.6 or install spyder 4.0.0 in a few days when it is officially released.

[2019-12-02 13:01] #10907 closed

[2019-12-02 13:35] ccordoba12 commented on #10908
This should be fixed in Spyder 4, to be released in a few days.

[2019-12-02 13:35] #10908 closed

[2019-12-02 14:36] ccordoba12 commented on #1264
I think this doesn't apply anymore, but we'll have to test it.

[2019-12-02 14:43] ccordoba12 commented on #10904
I think something like that only works on Linux.

Would you prefer to disable the Kite Copilot? Or to only show it on demand?

[2019-12-02 15:36] jnsebgosselin commented on #10897
Actually, yes a new line is printed when I run the code above. There is two blank lines instead of one.

[2019-12-02 15:55] jnsebgosselin commented on #10897
@ccordoba12 I think this can be fixed on our end. This happens because of the `mute_inline_plotting` option. I can take a look at it if you want.

[2019-12-02 16:11] ccordoba12 commented on #10897
On Linux I only see a an extra line the first time a plot is generated. After that I see none.

So maybe this is a Windows only issue?

[2019-12-02 16:29] jnsebgosselin commented on #10897
hmmm maybe, but I really don't understand why... The extra line is added in the qtconsole at the end of `_handle_display_data`  with `self._append_plain_text(u'\n', True)`:

https://github.com/jupyter/qtconsole/blob/2379cb7903730de343a917ceb91edf8bfde2659e/qtconsole/jupyter_widget.py#L275-L290

Ususally, the rich jupyter widget eats the messages when there is an image in the data.

https://github.

[2019-12-02 16:31] jnsebgosselin commented on #10897
I'll submit a PR with a proposed fix and we can discuss it over there if you want.

[2019-12-02 17:01] #10878 closed

[2019-12-02 17:13] #10763 closed

[2019-12-02 17:43] Travis-Barton commented on #5613
Taking a look at the release notes I see several quality of life features that I am exited about! I can't wait to start using it!

[2019-12-02 21:19] steff456 opened #10911 "Change theme settings in external plugins is not possible"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2019-12-02 23:27] goanpeca commented on #10911
@ccordoba12 we could add a signal for this specific issue or generalize all plugins to receive all changed options and act accordingly?

[2019-12-02 23:28] Travis-Barton opened #10912 "When plotting new plot, plot pane does automatically scroll down to newest plot."
I'm using 4.0.0rc3.

The plot displays the last made plot, but the scroll bar on the right does not default to its lowest scroll point. Not a huge deal, just notifying the Spyder team that I'm seeing it!

Also, I LOVE the new update from 3.6 -> 4.0!! Great work!

[2019-12-03 01:16] Travis-Barton opened #10913 "command + arrow takes moves by character level, not line level"
Not a huge deal, just letting the team know.
command + any arrow moves me to the end of a word, like control arrow should.

Im using mac 10.15

[2019-12-03 03:18] ccordoba12 commented on #10911
This sounds better to me, to not have a similar issue in the future related to another option.

[2019-12-03 08:20] hkncl commented on #2765
I had the same issue. I downgraded the spyder version then I installed to comply with anaconda and python version.  It worked for me.

[2019-12-03 08:26] Krisanu029 commented on #5596
An error ocurred while starting the kernel
The error is:

Traceback (most recent call last):
File "C:\ProgramData\Anaconda3\lib\site‑packages\spyder\plugins\ipythonconsole.py", line 1572, in create_kernel_manager_and_kernel_client
kernel_manager.start_kernel(stderr=stderr_handle)
File "C:\ProgramData\Anaconda3\lib\site‑packages\jupyter_client\manager.py", line 240, in start_kernel
self.write_conne

[2019-12-03 08:36] mutlualkan opened #10915 "cannot set WRITEABLE flag to True of this array"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/usr/lib/python3/dist-packages/spyder/widgets/variableexplorer/collectionseditor.py", line 449, in createEditor
    if not editor.setup_and_check(value, title=key, readonly=readonly):
  File "/usr/lib/python3/d

[2019-12-03 08:53] Krisanu029 opened #10916 "Spyder console screen error"
An error ocurred while starting the kernel
The error is:

Traceback (most recent call last):
File "C:\ProgramData\Anaconda3\lib\site‑packages\spyder\plugins\ipythonconsole.py", line 1572, in create_kernel_manager_and_kernel_client
kernel_manager.start_kernel(stderr=stderr_handle)
File "C:\ProgramData\Anaconda3\lib\site‑packages\jupyter_client\manager.py", line 240, in start_kernel
self.write_conne

[2019-12-03 09:19] gerazov opened #10917 "No plotting available for some variables in Variable Explorer"
Spyder 4.0.0rc3

There's no plotting available for some of the variables in Variable Explorer. Neither on the pane's toolbar or on right click:

<img src="https://user-images.githubusercontent.com/15214418/70036433-14c5e980-15b5-11ea-87a0-f385132e2da0.png" width="500"/>

For most of the others it works:
<img src="https://user-images.githubusercontent.com/15214418/70036663-830aac00-15b5-11ea-9e25-3

[2019-12-03 09:22] hasakura511 opened #10918 "KeyError when drawing folding regions"
## Description

### What steps will reproduce the problem?

[code]

pasted above code into open script.
console showing following
QPainter::begin: A paint device can only be painted by one painter at a time.
QPainter::setCompositionMode: Painter not active
QBackingStore::endPaint() called with active painter on backingstore paint device
QBackingStore::endPaint() called with active painter on backi

[2019-12-03 10:10] skyblue9097 opened #10919 "Automatic error report"
<!---   *** BEFORE SUBMITTING: PASTE CLIPBOARD HERE TO COMPLETE YOUR REPORT ***   ---!>

[2019-12-03 10:56] impact27 commented on #10895
Please also use `pdb` instead of `ipdb` with Spyder 4.

[2019-12-03 11:12] alexschw commented on #10904
Neither. I thought that the kite copilot might be included in a pane. If this is only possible on Linux, I guess I'll stick to putting it on top of the help pane.

[2019-12-03 14:48] goanpeca commented on #10915
Please update to Spyder 3.3.6 (which fixes the issue) or update by the end of this week (official release) to Spyder 4.0.0.

[2019-12-03 14:48] #10915 closed

[2019-12-03 14:50] goanpeca commented on #10904
We could eventually add the content of copilot within the help pane (it is a web rendering widget) if kite can send it 🤷‍♂