[2020-08-26 10:26] shrisant opened #13630 "RuntimeError: Failed to process string with tex because latex could not be found"
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-08-26 10:28] shrisant commented on #13630
import pylab
import numpy as np

x = np.linspace(0, 20)
y = np.sin(np.pi/10 * x)
xticks = [0, 10, 20]
xtickslabel = ['$0$', '$\pi$', '$2\pi$']
pylab.plot(x, 2.0 * y, 'r-', label ='Voltage')
pylab.stem(x, y, linefmt ='g--', markerfmt ='gD', label ='Current')
pylab.xlabel("xval", size = 20)
pylab.ylabel("yval", size = 20)
pylab.xticks(xticks, xtickslabel)
pylab.legend(loc = "upper right")
#pylab.yli

[2020-08-26 11:24] 21436587 opened #13631 "comm_msg \ comm.handle_msg(msg)"
## Description

### What steps will reproduce the problem?

Error in
File "C:\Users\EVGENY\anaconda3\lib\site-packages\qtconsole\comms.py", line 177, in comm_msg
    comm.handle_msg(msg)
  File "C:\Users\EVGENY\anaconda3\lib\site-packages\qtconsole\comms.py", line 265, in handle_msg
    return self._msg_callback(msg)
  File "C:\Users\EVGENY\anaconda3\lib\site-packages\spyder_kernels\comms\commbase

[2020-08-26 11:24] #13631 closed

[2020-08-26 11:32] quokka79 opened #13632 "Cannot use imported modules with joblib"
## Description

### What steps will reproduce the problem?

Run joblib with an imported local function. This will generate an error "ModuleNotFoundError: No module named 'MyOwnModule' ending up with 'BrokenProcessPool: A task has failed to un-serialize. Please ensure that the arguments of the function are all picklable.'

For example, save:

    import time

    def slow_mean(data, sl):
        ""

[2020-08-26 11:43] quokka79 commented on #13632
As I said, I still get this error in v4.1.4, which is the latest release. It also occurs in 5.0.0a1. I have installed these using pip; I am not using Anaconda.

[2020-08-26 11:51] mostafa808 opened #13633 "spyder console does not view the full text"
## Description

### What steps will reproduce the problem?

when I try running this code:
'import tkinter
 help(tkinter)
'
the spyder console does not show the full text as it shows the last part of text
why console does not show the full text or at least give us the ability to copy text if it is too large such as python standard IDLE

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
*

[2020-08-26 13:44] impact27 commented on #13580
So for some reason the kernel appears to crash when handling a keyboard interrupt. I think you should update ipykernel. This might fix this problem

[2020-08-26 13:50] impact27 commented on #13623
I am thinking something like:

https://github.com/spyder-ide/spyder/pull/13634
https://github.com/spyder-ide/spyder-kernels/pull/242

Same solution for https://github.com/spyder-ide/spyder/issues/13582

[2020-08-26 14:47] mrclary commented on #13625
@ccordoba12, thanks for tipping me off! The issue was, indeed, the Jedi version, however 0.17.2 _is okay_ and the problem is with 0.17.2dev0. In my testing I had forgotten that I installed the latest Jedi from source (beyond the official 0.17.2).

To be clear, the official release of Jedi 0.17.2 works fine.

@steff456, sorry for the trouble; I'll close this issue.

[2020-08-26 15:42] ccordoba12 commented on #13625
Oh yeah, master of Jedi doesn't work with the latest Python Language Server because (I think) they switched from strings to Path objects for paths.

[2020-08-26 15:42] #13625 closed

[2020-08-26 16:24] ccordoba12 commented on #13632
@quokka79, thanks for reporting and the reproducible example as well. I managed to run your main script by going to the menu `Run > Configuration per file` and selecting the option called `Run in console's namespace instead of an empty one`:

![Selección_053](https://user-images.githubusercontent.com/365293/91329902-570c0800-e78e-11ea-9439-29b058d864bd.png)

That was added in Spyder 4 to prevent p

[2020-08-26 16:26] Akshaykushawaha commented on #13580
yeah sure will try and inform you if it works.

[2020-08-26 17:48] mrclary opened #13635 "Update spyder-kernels subrepo"
Is there a reason why the spyder-kernels subrepo has not been updated?
I see that we have an official release of 1.9.3, but it appears that the subrepo in spyder is still 1.9.2.

spyder/external-deps/spyder-kernels/.gitrepo
[code]
``adbc02`` occurred back on July 6, and ``1a9d44`` is just before the spyder-kernels 1.9.2 tag

[2020-08-26 18:01] dalthviz commented on #13635
Hi @mrclary thanks for the feedback! yep I think the subrepo should be updated, right @ccordoba12 ?

[2020-08-26 18:30] dalthviz commented on #13633
Hi @mostafa808 to show more of the text that `help` gives you, you can increase the buffer size of the IPython Console. For that go to `Tools > Preferences > IPython Console > Display > Source Code > Buffer`. The default value is 500 (that's why you see the help text truncated up to 500 lines):

![image](https://user-images.githubusercontent.com/16781833/91340760-2764fc00-e79e-11ea-8f84-ffc00c2f51

[2020-08-26 18:35] dalthviz commented on #13630
Hi @shrisant I think you don't have Latex installed. If you type in your cmd `latex` you get it as a valid command?

Checking a little bit, maybe this could help: https://stackoverflow.com/questions/58121461/runtimeerror-failed-to-process-string-with-tex-because-latex-could-not-be-found

Since seems like this isn't Spyder related I'm closing it but hopefully the info above can help you :)

[2020-08-26 18:35] #13630 closed

[2020-08-26 22:19] ccordoba12 commented on #13633
Yes, that's correct. We only show a max number of lines at any time in the console to avoid blocking Spyder when a large amount of text comes from the kernel.

[2020-08-26 22:22] ccordoba12 commented on #13635
Yeah, it should. We haven't done it yet because there's no significant difference between 1.9.2 and 1.9.3 (1.9.3 only added a new dependency to `setup.py` that was required to run a test on non-conda based systems).

[2020-08-26 22:24] ccordoba12 commented on #13635
@steff456, please take care of this one. The instructions on how to do that are present in our contributing guide.

[2020-08-27 00:40] dalthviz commented on #13633
So we should close this one @ccordoba12 ?

[2020-08-27 01:03] ccordoba12 commented on #13633
Sure, let's close it.

@mostafa808, I hope you know by now how to increase the buffer size of our consoles.

[2020-08-27 01:03] #13633 closed

[2020-08-27 01:58] AkashShanmugaraj opened #13636 "Kernel Error always"
## Description

### What steps will reproduce the problem?

I first installed anaconda in one user in my pc then I uninstalled it improperly. Then I intalled it again but it always showed import error.
Then I created another user in my PC and reinstalled anaconda and everything came right.
After migrating to the new user, I deleted the old Account and kept it's files in my Desktop.
Then only this

[2020-08-27 04:03] seyeeet commented on #10561
@nishant2k  how to clear the indentation? it does not work for me

[2020-08-27 04:57] dalthviz commented on #13636
Hi @AkashShanmugaraj seems like you have some installation issue on your side and it goes out of the scope of Spyder itself. However maybe checking our [Troubelshooting Guide & FAQ](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) could help. Also, maybe taking a look to the [Anaconda docs](https://docs.anaconda.com/anaconda/install/uninstall/) regarding the install/uninsta

[2020-08-27 04:58] #13636 closed

[2020-08-27 08:25] quokka79 commented on #13632
@ccordoba12 thanks for looking into this!

I have just tried the 'Configuration per file' option using the console's namespace (in v4.1.4) but it still gives the error as before.

If I restart 'Console 1/A' kernel or if I choose 'Execute in a dedicated console' then it runs without any problems.

[2020-08-27 08:36] Candrasa opened #13637 "Internal problem"
## Description

### What steps will reproduce the problem?

I dont know what happens the Issue Reporter is showing by itself,

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-27 08:37] #13637 closed

[2020-08-27 09:23] Ranj1tha commented on #8262
Even am facing same issue, can anyone got any solution?

[2020-08-27 11:49] Hessilt93 opened #13638 "Handle remote call"
## Description

### What steps will reproduce the problem?

Apparently, I got the following when I updated spyder via conda update spyder in a anaconda prompt:     msg_dict, buffer)
TypeError: _handle_remote_call_reply() missing 1 required positional argument: 'load_exception'
It occurred when I reopened python via Spyder.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python versio

[2020-08-27 11:49] #13638 closed

[2020-08-27 14:27] digrks commented on #8952
I have the same issue but can only install pyqtwebengine > 5.13

[2020-08-27 16:46] crux26 opened #13639 "print function in __getattribute__ method prints forever."
### Issue Report Checklist

* [v] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [v] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [v] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-08-27 16:50] Candrasa opened #13640 "automatic generation of issue reporter"
## Description

### What steps will reproduce the problem?

I have uninstalled kite, is it possible that my avast antivirus delete some of python file? (python.exe)

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-27 16:50] #13640 closed

[2020-08-27 18:26] kvnlwlls opened #13641 "Error: Attempting to open a project, immediately after closing a project"
## Description

### What steps will reproduce the problem?

Closed a project.

Attempted to open up a new project.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Linux 5.3.0-64-generic

### Dependencies

[code]

[2020-08-27 18:26] #13641 closed

[2020-08-27 19:19] PatBalz commented on #10240
@woodywei
Thank you for your comment.
Unfortunately I have to say, that I am still facing this issue.
The mentioned solutions are just not working in my setup. I also followed the advice given in this issue "connecting spyder to remote server via ssh #13133".
This also does not help. So even if I start a kernel on the server, then quit this kernel, restart it via python -m spyder_kernels.console -

[2020-08-27 19:35] seyeeet opened #13642 "How to Add a path to the Environment Variables of a project in Spyder"
I would like to add an Environment Variables and path to my  Environment Variables for a project in spyder.

 can I do it? if so how?
If I open spyder from the terminal the project runs fine. but if I just open spyder (not from the terminal) it shows me that `Please add the following line to .bashrc:`. I do have the path already added to `.bashrc`. I also tried to do  `conda-develop /mypath/`, but

[2020-08-27 20:13] PatBalz commented on #10240
Now it finally worked.
I think the issue was, that I always missed some python processes in the background (I originally used `top | grep python &` to find the processes). So the procedure that works for me goes as follows (explanation on my on newbie level of understanding):

1. Start the kernel on the server (I am using putty for this) and copy the name of the json-file (for example: kernel-1525

[2020-08-27 20:33] mostafa808 commented on #13633
Many thanks

[2020-08-28 01:15] notuntoward opened #13643 "Auto high DPI scaling doesn't work, nor does manual setting"
The Screen Resolution preferences don't work for me in Windows on a Surface Book 2.

Under:

the "enable auto high DPI" setting gets the icons and the code window right, but text in the Spyder UI is too small to read.  If click "set a custom high DPI setting," and type in a number, there's no number where all text and icons are correctly scaled.  Text everywhere in Spyder should get the same scali

[2020-08-28 04:22] chrismaliszewski opened #13644 "Can't restart kernel after seeing a TensorFlow message"
## Problem Description
I encountered a major problem with Spyder. I'm not able to restart kernel after seeing any kind of TensorFlow message, i.e.:
_Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX AVX2_
_"I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library cudart64_101.dll"_
The problem has started to appear af

[2020-08-28 08:49] Keke921 opened #13645 "Why spyter always shows issue reporter"
## Description

### What steps will reproduce the problem?

  self._request_hover_clicked)
TypeError: CodeEditor.sig_display_object_info[str, bool].emit(): argument 1 has unexpected type 'list'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "D:\Program File\Anaconda3\envs\pytorch\lib\logging\__init__.py", line 994, in emit
    msg =

[2020-08-28 08:49] #13645 closed

[2020-08-28 11:50] Nilton2018 opened #13646 "Spyder upgrade from 3 to 4"
## Description

### What steps will reproduce the problem?

I have upgraded spyder from 3 to 4 using pip3:

pip3 install --upgrade spyder

It seems that the upgrade has been done. Nevertheless, the icon shows spyder3 yet. In the field 'About' shows 4.1 and when it is openning also indicates 4. When I list the packages instaleed via pip (pip3 list) it shows version 4 too. I think the problem is onl

[2020-08-28 13:55] MichelangeloConserva commented on #13264
The same problem appears in Ubuntu 20 as well.

[2020-08-28 16:24] goanpeca commented on #13629
This will be fixed on https://github.com/spyder-ide/spyder/pull/13479

[2020-08-28 17:52] andfoy commented on #13642
@seyeeet, thanks for suggesting this feature, we will take it into account for Spyder 5. In the meantime, you can modify the launcher of Spyder (.desktop) in order to add your variables to it: https://askubuntu.com/questions/144968/set-variable-in-desktop-file, that should enable your variables from the launcher of Spyder directly.

[2020-08-28 17:56] andfoy commented on #13639
@crux26, thanks for reporting this issue, I was able to reproduce it also. @dalthviz, do you know if the variable explorer calls `__getattr__` many times?

[2020-08-28 17:57] seyeeet commented on #13642
@andfoy Thank you, the linked that you shared solved my problem
Yeah, would be great if also add this to spyder

[2020-08-28 17:58] andfoy commented on #13644
Hi @chrismaliszewski, thanks for opening this issue. Have you tried to install tensorflow in a separate environment different from the one that Spyder uses? Also, does this issue also happens on a standard python interpreter?

[2020-08-28 18:02] andfoy commented on #13646
Hi @Nilton2018, thanks for reaching out. We don't recommend using pip to install Spyder, we recommend using conda instead. In this case, we recommend you to install spyder on a clean environment, such that there are no package and dependency clashes

[2020-08-28 18:02] #13646 closed

[2020-08-28 18:07] andfoy commented on #13643
Hi @notuntoward, thanks for opening this issue. @CAM-Gerlach, could you please give us a hand here testing if the setting is applied in a high DPI screen on Windows?

[2020-08-28 19:30] dalthviz commented on #13639
@andfoy maybe this is caused for the object explorer? I think that we recursively get the attributes of the objects there

[2020-08-28 21:17] Nilton2018 commented on #13646
Do you know what file should I edit and what modification should I do? It
seems that if the proper editions are made, the icon will be proper defined?
Best regards,
Nilton

Em sex., 28 de ago. de 2020 às 15:02, Edgar Andrés Margffoy Tuay <
notifications@github.com> escreveu:

[2020-08-28 21:24] seyeeet commented on #13642
@andfoy thanks for your suggestion. I tried that link but I guess due to lack of my knowledge i could not solve the problem.
In details here is what is happening
when I run the code from spyder (when spyder is not opened from the terminal) it shows me:

[code]

but I already have it in my `.bashrc` and when I open spyder from the terminal it works fine.

So I tried to add it using ` Exec=env LD_LI

[2020-08-28 23:43] chrismaliszewski commented on #13644
Hi @andfoy. Not sure how I should do what you wrote.
1. How can I import a module (TF) if it's not installed in an env with Spyder?
2. How can I restart a standard python interpreter?

[2020-08-29 01:34] matthiaskwek opened #13647 "Linting errors"
## Description

### What steps will reproduce the problem?

I have no clue. It just happens randomly. All i do to recover it is to restart spyder

### Traceback
[code]

## Versions

* Spyder version: 4.1.1
* Python version: 3.6.10
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-29 01:37] songwrite opened #13648 "The editor don't type chinese."
## Description

### What steps will reproduce the problem?

In deepin v20 operation system,the spyder4 editor don't type chinese.

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.5
* Qt version: 5.14.0
* PyQt5 version: 5.14.0
* Operating System: Linux 5.4.50-amd64-desktop

### Dependencies

[code]

[2020-08-29 02:47] seyeeet opened #13649 "low resolution problem"
does anyone know why the resolution for the font at the bottom bar are so big? tried to reset spyder but they are still lower than what they should be
![image](https://user-images.githubusercontent.com/62394093/91626841-7d919500-e980-11ea-8106-0405c6942b35.png)

[2020-08-29 04:14] fx99-D opened #13650 "Error when trying to change the project"
## Description

### What steps will reproduce the problem?

Whenever I try to change the project via the menue, I will get this error.
It is independent of whatever project I choose.
I can temporyrily get around the problem by creating a "new" project in an existing project folder

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 versio

[2020-08-29 04:14] #13650 closed

[2020-08-29 15:55] seyeeet commented on #13649
how can I remove the history of spyder completely? maybe that helps. spyder reset did not help with graphic problem

[2020-08-30 01:04] jsh9 commented on #10946
Just curious: RStudio Cloud is a browser-based RStudio -- the front end is elements (such as buttons, scroll bars, etc) that are rendered in the browser, and the back end is the R kernel on the server side.

Is it possible for Spyder to do something similar?  I don't know enough about Spyder's front end to know the feasibility.

I know the scope of this issue is only limited to connecting to a rem

[2020-08-30 01:08] jsh9 commented on #13606
Thank you!

[2020-08-30 03:27] jmarcedwards opened #13651 "Trying to close Jupyter Notebook"
## Description

### What steps will reproduce the problem?

I am new to Spyder & the Jupyter plugin.  I was just trying to close a notebook, and this error window popped up.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.6
* Qt version: 5.12.9
* PyQt5 version: 5.12.3
* Operating System: Darwin 19.6.0

### Dependencies

[code]

[2020-08-30 03:47] ccordoba12 commented on #10946
No, it's not possible, sorry.

[2020-08-30 03:55] ccordoba12 commented on #13646
We use the spyder3 name when installing with pip to signal that that's a Spyder version that works with Python 3. It has nothing to do with the Spyder version (3 or 4) itself.

It's been like that for a very long time (5 years now, I think) but we plan to change it to just spyder in our 4.2 version, which will only support Python 3 (so there's no ambiguity between the executables for Python 2 and

[2020-08-30 04:18] CAM-Gerlach commented on #10946
To expand a bit on @ccordoba12 's response, it is _possible_, but only in the sense that it would be a completely new frontend, sharing only the Spyder name (and perhaps some backend elements, but those are mostly lower in the stack anyway). It was possible for Rstudio because it was built on a web framework (just like VSCode is based on Electron), so it was relatively easy to port it to the web (

[2020-08-30 04:21] CAM-Gerlach commented on #13643
Hey @andfoy , unfortunately I don't have access to any high-DPI screens on Windows (at least here at home), sorry. The highest I have are my 24 inch 1920 x 1200 monitors. I can use manual DPI scaling (as I often do for screenshots), but that rather defeats the point of testing this particular problem with auto DPI scaling. Hope you can find someone else to test this!

[2020-08-30 05:33] jsh9 commented on #10946
Thanks for both your answers @ccordoba12 @CAM-Gerlach .

I didn't know that Jupyter is better funded than Spyder.  If I had known, I probably would have gone there and ask them: "can Jupyter implement a good variable explorer and a proper debugger, just like what they do in Spyder?"  I'm surprised that they still don't (have a variable explorer or a debugger), after this many years.

I would say t

[2020-08-30 06:55] CAM-Gerlach commented on #10946
They get $100 000s or millions from large companies and foundations, I'm not entirely certain where all that money goes, vs. Spyder is developed and in large part crowdfunded by the international community of its users, although it has attracted a rapidly increasing amount of grant money and corporate donations in the past couple years, mostly to implement the most-requested features by users (the

[2020-08-30 07:40] jkinya opened #13652 "Can anyone help me to to fix this problem?"
An error ocurred while starting the kernel
Traceback (most recent call last):
File "C:\Users\ABDUL JALEEL\anaconda3\lib\runpy.py", line 193, in _run_module_as_main
"__main__", mod_spec)
File "C:\Users\ABDUL JALEEL\anaconda3\lib\runpy.py", line 85, in _run_code
exec(code, run_globals)
File "C:\Users\ABDUL JALEEL\anaconda3\lib\site‑packages\spyder_kernels\console\__main__.py", line 23, in
start.main

[2020-08-30 07:46] juanis2112 commented on #13647
Hi @matthiaskwek, can you update to the latest spyder version. This was fixed lately. In your Anaconda Prompt run:
[code]

[2020-08-30 07:51] juanis2112 commented on #13651
Hi @jmarcedwards thanks for reporting this. @jitseniesen can you take a look at this?

[2020-08-30 07:54] juanis2112 commented on #13652
@jkinya thanks for reporting this. Can you check if you created a file called "string.py" in your home directory, your project directory or your working directory? If that's the case, you need to change the name because there is a standard library module that has the same name.

[2020-08-30 07:58] juanis2112 commented on #13649
Hi @seyeeet thanks for reporting this. Can you try enabling auto high DPI scaling to see if that fixes the issue?
![Screen Shot 2020-08-30 at 2 57 00 AM](https://user-images.githubusercontent.com/18587879/91654213-97a8a180-ea6c-11ea-869e-84d0f9352b6d.png)

[2020-08-30 08:02] juanis2112 commented on #13648
Hi @songwrite thanks for opening this. The problem is that chinese characters are introduced with special libraries (called input method libraries, I think). Since there's no such library in Anaconda or conda-forge (I'm not 100% about the last one), there's no way to do that.
The only way to "solve" that problem is by installing the Spyder version provided by the package manager of your distro. Ta

[2020-08-30 08:08] jkinya commented on #13652
@juanis2112   just now i installed anaconda,  while opening spyder it showing the error above i posted

[2020-08-30 08:49] juanis2112 commented on #13652
Yeah, but if you created this file (even if it was before the installation) it can conflict with spyder. Take a look at https://docs.spyder-ide.org/current/common-illnesses.html#attributeerror-importerror

[2020-08-30 09:00] jkinya commented on #13652
@juanis2112 I had created a string.py  for pycharm project,  now i  changed a file name
so  my problem  is solved.
Thank you .

[2020-08-30 10:15] Jennie41 opened #13653 "Error ocurred while starting the kernel"
## Description

### What steps will reproduce the problem?

while opening the anaconda software, unable to open have to use windows search function to open for spyder.

### Traceback

<details>

[code]

</details>

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-30 12:02] bvilmann opened #13654 "Spyder application window does appear"
## Problem Description
Can't launch Spyder application.

I also tried from console:
spyder --reset    => This results in same problem.
spyder --new-instance => Console hanging in process.

I have tried to without luck:
restart computer
reinstall spyder
reinstall anaconda

### What steps reproduce the problem?
1. Launch Anaconda
2. Launch Spyder from Anaconda
3. Spyder loads
4. Spyder icon appearin

[2020-08-30 12:23] lit-sk-localadmin opened #13655 "namespace from PYTHONSTARTUP undefined in Editor"
## Description

### What steps will reproduce the problem?

I created a simple python script that loads some libraries, for example:

import our_stuff.library1 as liba
import our_stuff.library2 as libb
import their_stuff as libc
import narsort
import numpy as np

and set-up environment variable PYTHONSTARTUP that is pointing to it.

("our_stuff", "their_stuff" is defined in the python path).

It i

[2020-08-30 14:01] Nilton2018 commented on #13646
Ok. But i think it is possible to change this configuration myself.
Anyway, thank you for your support.
Best regards,
Nilton

Em dom, 30 de ago de 2020 00:55, Carlos Cordoba <notifications@github.com>
escreveu:

[2020-08-30 15:49] juanis2112 commented on #13652
You're welcome. I'm glad you solved it!

[2020-08-30 15:49] #13652 closed

[2020-08-30 17:45] #13654 closed

[2020-08-30 20:10] seyeeet commented on #13649
@juanis2112 Unfortuanately, it did not help:
![image](https://user-images.githubusercontent.com/62394093/91668503-3a980480-eadb-11ea-8779-e83d89d81d73.png)

Is there a folder that the graphic setting for spyder is saved? maybe I can delete that folder and reinstall it to see if it helps?

[2020-08-30 20:26] seyeeet commented on #13649
hmmm this also did not help :(
[code]

[2020-08-31 03:24] Akshaykushawaha commented on #13580
Hey guys i tried updating the ipykernel but there is no update available , i had updated it i think almost 2-3 months back and everything was fine.
also can someone tell me why is python only opening in run as administrator mode.

[2020-08-31 04:00] SeGoyalAmit opened #13656 "While creating a file"
## Description

### What steps will reproduce the problem?

I try to create a __init__.py and got this exception.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-31 04:00] #13656 closed

[2020-08-31 06:03] impact27 commented on #13580
Sounds like you have some permission problems. I would just uninstall everything and reinstall

[2020-08-31 11:07] jontis commented on #8980
Just chiming in here for others that encounter the problem. I use conda in a virtual env, and for some reason, it refused to update spyder from 4.0 to the available 4.1.4
Conda had the 4.1.4 package in the channel, and it was shown in search but did not update through the normal conda update --all or through conda update spyder.
I had to use conda install spyder=4.1.4 to get the update. Probably a

[2020-08-31 14:14] kdl0013 commented on #10081
I do not know if this is the same issue as the one in the original post, but whenever I changed directories in spyder using the os.chdir function, my spyder freezes all the time.

[2020-08-31 14:57] Akshaykushawaha commented on #13580
yeah sure ,lets try that as well.

[2020-08-31 16:59] steff456 commented on #13655
Hi @lit-sk-localadmin,

I believe that in our completions engine we are not sending the environment variable and that's why you are getting those errors. We will work on adding this feature to our next release.

Thanks for reporting!

[2020-08-31 17:00] steff456 commented on #13655
@andfoy please take a look at this one

[2020-08-31 17:48] steff456 commented on #13653
Hi @Jennie41,

Can you please update to Spyder 4.1.4 with the following commands,
[code]

And tell me if this fixes the error?

[2020-08-31 18:28] dalthviz opened #13657 "Find pane issues and details"
Some issues and details that needed to be worked out in the Find pane

- [ ] The hamburger menu is not the same as in 4.x (some actions are not being listed)
- [ ] The label of the directory was changed (from `Search in:` to `Location`).
- [ ] A label that says `Search` was added to the combobox used to type search terms but the button already says `Search` on the right (so it is kind of redundant

[2020-08-31 18:29] dalthviz commented on #13657
@goanpeca could you look into the listed elements? Thanks!

[2020-08-31 18:32] lit-sk-localadmin commented on #13655
Hi Stephannie, thanks for looking into that. I hope my comment is useful and that it will make into a nice feature of spyder!
Thanks,Bartosz

[2020-08-31 18:32] dalthviz opened #13658 "Cycle the Find pane results using arrows"
Arrow Up and Arrow Down should cycle on the find results, not on the Editor

[2020-08-31 18:45] ccordoba12 commented on #13655
I'm sorry but PYTHONSTARTUP is only used to configure the Python interpreter at startup, according to the [Python docs](https://docs.python.org/3/using/cmdline.html#envvar-PYTHONSTARTUP):

    If this is the name of a readable file, the Python commands in that file are executed before the first prompt is displayed in interactive mode. The file is executed in the same namespace where interactive co

[2020-08-31 18:49] dalthviz opened #13659 "Plots pane issues and details"
- [ ] Thumbnails scrollbar by default appears too big and plot size too small:
<details>

#### Master
![image](https://user-images.githubusercontent.com/16781833/91754350-e189a880-eb8e-11ea-8662-f017ee99d876.png)

#### 4.x
![image](https://user-images.githubusercontent.com/16781833/91754414-f9612c80-eb8e-11ea-8c40-0a542b22ee41.png)

</details>

- [ ] Shortcuts Toolbar:
    - [ ] Save all plots (Cm

[2020-08-31 18:50] dalthviz commented on #13659
@goanpeca could you look into this please? Thanks!

[2020-08-31 18:53] ccordoba12 commented on #13649
That's not controlled by Spyder but by the fonts you're using in your operating system. So, if you want to change the font size of our status bar, you need to decrease the font size used by all Ubuntu applications, using its own preferences system. [Here](https://vitux.com/how-to-change-text-size-in-ubuntu/) you can read how to do that.

[2020-08-31 18:53] ccordoba12 commented on #13649
What do you mean by this?

[2020-08-31 18:54] dalthviz opened #13660 "Improve clarity of the dialog used by the Plot pane to save all the plots"
Save-all dialog is showing “Open” instead “Save” in MacOS:

![image](https://user-images.githubusercontent.com/16781833/91755839-607fe080-eb91-11ea-8f1c-35e703b1ceba.png)

[2020-08-31 18:59] seyeeet commented on #13649
@ccordoba12 I dont think that the font of my system is changed at all because all the fonts for other apps or even for the different part of spyder is the same as they used to be. The only inconvenience is the status bar font, as you can see it does not match with the rest.
I installed spyder on a completely similar system and the problem was gone. but for some reason whatever the status bar resol

[2020-08-31 19:40] ccordoba12 commented on #13649
What do you mean by "the rest" here?

[2020-08-31 19:48] ccordoba12 commented on #10946
I'd like to clarify that this is possible *in theory*, but we haven't considered to follow that direction at all. So, in practical terms, you're not going to see a purely web-based Spyder in the future.

However, Spyder can run on [Binder](https://mybinder.org/v2/gh/spyder-ide/spyder/master?urlpath=%2Fdesktop). That's the closest you'll get to "run Spyder inside my browser" from us.

[2020-08-31 19:59] ccordoba12 commented on #13642
Thanks for reporting @seyeeet. This is a duplicate of issue #3891.

[2020-08-31 19:59] #13642 closed

[2020-08-31 20:02] ccordoba12 commented on #13643
Perhaps this is not an issue in newer Qt/PyQt versions. We'll see when we update our requirements on those versions.

[2020-08-31 20:05] ccordoba12 commented on #13632
Yes, it's very strange. Things don't work for the first console created by Spyder, but they do for any other console or after restarting the kernel.

@impact27, any ideas about this?

[2020-08-31 20:22] goanpeca commented on #13659
Thanks for the feedback @dalthviz, will work on the fixes.

[2020-08-31 20:32] goanpeca commented on #13657
Thanks for the feedback @dalthviz, will work on the fixes.

However for this one:

It cannot be fixed to behave as 4.x, since on 4.x it is merging 2 different actions under the same shortcut and the new API does not allow for these hacks to work. It is not a matter of the new API not being able to do something and more of a case that things in 4.x (and before since this probably goes back to 2.x .

[2020-08-31 21:28] steff456 opened #13661 "The history pane text is highlighted as soon as I switch"
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-08-31 21:31] MarioRoque opened #13662 "Error trying to remove a NoneType from Variable explorer"
## Description

### What steps will reproduce the problem?

Create a None type variable, along with other variables, on the Variable explorer, select all with ctr+a, press the delete key, the noneType will not be deleted, then delete it by selecting manually an pressing delete once more on the keyboard.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt versio

[2020-08-31 21:33] steff456 opened #13663 "Maximum entries in History pane is not working"
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-08-31 21:40] steff456 opened #13664 "Help pane layout overflows"
## Problem Description

If I reduce the size of the help pane, then the text will overflow.

![image](https://user-images.githubusercontent.com/20992645/91771352-751ba300-eba8-11ea-8707-68dce5c45696.png)

In 4.x, we have a minimum width for all the panes in the right side so this issue doesn't happen,

![image](https://user-images.githubusercontent.com/20992645/91771388-8a90cd00-eba8-11ea-8a43-272

[2020-08-31 21:48] steff456 opened #13665 "Spyder crashes with `select all` + `copy all` in the help pane"
## Problem Description
If I use the options of the context menu `select all` and then `copy` Spyder crashes in Windows and throws an error in macOS and Linux.

![image22](https://user-images.githubusercontent.com/20992645/91772020-a2b51c00-eba9-11ea-89f4-d57ad32ebf86.png)

![image12](https://user-images.githubusercontent.com/20992645/91772032-a8aafd00-eba9-11ea-9e45-8c8fc6371037.png)

### What ste

[2020-08-31 21:54] andfoy opened #13666 "Internal console inserts unwanted background highlighting on left parenthesis"
## Problem Description

If I type left parenthesis on the internal console, then close it and press backspace, the console remains with a green background.

![imagen](https://user-images.githubusercontent.com/1878982/91772338-51595c80-ebaa-11ea-9602-c2404086f958.png)

### What steps reproduce the problem?

1. Type left parenthesis <kbd>(</kbd>
2. Type right parenthesis <kbd>)</kbd>
3. Press Backsp

[2020-08-31 21:54] bsun94 opened #13667 "When cancelling save/close"
## Description

### What steps will reproduce the problem?

Accidentally pressed saved as button, then cancelled it, then cancelled a file close.

### Traceback
[code]

## Versions

* Spyder version: 4.0.0
* Python version: 3.7.1
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-08-31 21:57] andfoy opened #13668 "Internal console inserts unwanted red highlighting on background"
## Problem Description
When inserting multiple backspaces on an unclosed parenthesis and then closing it, the internal console remains with an unwanted red background.

![imagen](https://user-images.githubusercontent.com/1878982/91772636-e3616500-ebaa-11ea-9865-256d40a0e7c6.png)

### What steps reproduce the problem?

1. Insert left parenthesis <kbd>(</kbd>
2. Insert multiple backspaces
3. Insert

[2020-08-31 22:00] andfoy opened #13669 "ls system command is not working on the internal console"
## Problem Description
Spyder raises an exception when inserting the shorthand `!ls` in the internal console.

![imagen](https://user-images.githubusercontent.com/1878982/91772932-6f738c80-ebab-11ea-8ecb-4e736f2cc13b.png)

### What steps reproduce the problem?

1. Open the internal console
2. Type `!ls`

### What is the expected output? What do you see instead?
Spyder should display the output of

[2020-08-31 22:01] steff456 opened #13670 "Breakpoint's hamburger menu has duplicated options than in context menu"
## Problem Description

Options in the hamburger menu should be removed because they are duplicated in the context menu.

**Master**
![image](https://user-images.githubusercontent.com/20992645/91772933-6f738c80-ebab-11ea-926b-4590b12fbc88.png)

**4.x**
![image](https://user-images.githubusercontent.com/20992645/91772983-81edc600-ebab-11ea-80f8-737c4927ef30.png)

### What steps reproduce the proble

[2020-08-31 22:05] andfoy opened #13671 "Internal console buffer is dropped when the total number of lines to display is limited"
## Problem Description
Increasing the buffer limit on the internal console after reducing it drops the lines that were displayed before limiting it

### What steps reproduce the problem?

1. Open the internal console and execute multiple commands
2. Press the option `Set buffer limit` under the hamburger menu
3. Decrease the total number of lines to display and press `Ok`
4. Increase the limit aga

[2020-08-31 22:14] steff456 commented on #13662
Hi @MarioRoque,

I was unable to reproduce your issue in the latest release of spyder. Please update your spyder using the following commands,

[code]

Please try again and let me know if the error persists

[2020-08-31 22:22] steff456 commented on #13667
Hi @bsun94,

I'm unable to reproduce your issue in the latest release. Please update your spyder with the following commands,

[code]

Afterwards, please try again and let me know if the error persists

[2020-08-31 22:29] seyeeet commented on #13649
The folder, the scrips, the stuff in the console.
Everything is normal. but the font of the status bar is ridiculously large.
![image](https://user-images.githubusercontent.com/62394093/91774932-eb73d180-ebb7-11ea-8100-3fc80d4783ee.png)

[2020-08-31 22:29] goanpeca commented on #13670
Thanks for the feedback @steff456.

Fixed on https://github.com/spyder-ide/spyder/pull/13672

[2020-08-31 22:38] goanpeca commented on #13664
Thanks for the feedback @steff456.

Fixed on https://github.com/spyder-ide/spyder/pull/13673

[2020-09-01 01:48] #13197 closed

[2020-09-01 01:48] #13635 closed

[2020-09-01 02:37] Fizz04 commented on #13611
I posted the issue in the Anaconda Navigator, as you advised.  But i've seen no replies yet.  What else can i do?

-Fizz

[2020-09-01 03:04] zhang-chao-zhi opened #13678 "spyder problem"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "D:\Program Files (x86)\anaconda\lib\site-packages\spyder\plugins\editor.py", line 1711, in new
    text, enc = encoding.read(self.TEMPLATE_PATH)
  File "D:\Program Files (x86)\anaconda\lib\site-packages\spyder\

[2020-09-01 03:17] #13346 closed

[2020-09-01 07:58] scosoli commented on #8980
I am having the same issue here. I have successfully updated from ver.4.0.1 on my imac using  pip install --upgrade spyder, but I am having issues when updating from ver.3.3.6 on my MBP regardless of the way I am doing it (using pip, pip3, conda). it simply refuses to upgrade, despite downloading all the necessary packages and showing up on the list of available versions on anaconda.
EDIT: in the

[2020-09-01 09:22] rohangray33 opened #13680 "an error occured while sarting the kernel"
## Description

### What steps will reproduce the problem?

just started anaconda and opened the spyder app to find the above mentioned error in spyder console

## Versions

* Spyder version: 3.3.6
* Python version: 3.7.4
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-01 09:43] domuhe commented on #8323
Is this simple auto-backup feature going to be implemented any time soon? I really miss the option to quickly go back one version.

[2020-09-01 10:35] Analytics-Matin opened #13681 "Open a project folder"
## Description

### What steps will reproduce the problem?

I can't open a project's folder from Projects menu bar.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-01 10:35] #13681 closed

[2020-09-01 15:22] paolosanchez opened #13682 "Unable to visualize Dataframe spyder virtual environment"
## Description

### What steps will reproduce the problem?

On spyder installed in a virtual environment, when I try to open a DataFrame, using the variable explorer the issue occurs.
Can not visualize the Dataframe. The Dataframe is saved correctly when run on the console.

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.3
* Qt version: 5.9.6
* PyQt5 version: 5.9.

[2020-09-01 16:08] lit-sk-localadmin commented on #13655
Hi Carlos, OK, then it seems it is indeed the expected behavior. I was simply a little confused since I saw the namespace being known in the console (and there the code completion is working).
The proper ways you are suggesting are indeed the better ways of approaching the problem.
I think you can consider the issue solved and please close it.
Thanks,
Bartosz

[2020-09-01 17:10] steff456 commented on #13678
Hi @zhang-chao-zhi,

It seems there's something wrong with the installation of Spyder, I will recommend to you to upgrade to our latest Spyder version 4.1.4 with the following commands,

[code]

Please try it and let me know if that fixes your error

[2020-09-01 17:13] steff456 commented on #13680
Hi @rohangray33,

Can you please upload the error?

[2020-09-01 17:16] steff456 commented on #13682
Hi @paolosanchez,

This is a duplicate of #13620, please go to this thread and verify if your virtualenv pandas version matches with the spyder-kernels pandas version.

Thanks for reporting!

[2020-09-01 17:27] steff456 commented on #13455
Hi @jsh9,

We are going to take your suggestion and work in it for our next release.

Thanks for reporting!

[2020-09-01 17:46] steff456 commented on #13510
I'm glad to know that the migration of the code is in progress!

ERROR: spyder-kernels 1.9.3 has requirement ipykernel>=5.1.3; python_version > "2", but you'll have ipykernel 4.10.1 which is incompatible.

In my py2 environment I have the same dependencies that you report of spyder-kernels and ipykernel. I believe I had the same error when I installed, but when I run Spyder I don't have the same b

[2020-09-01 17:49] steff456 commented on #13610
I'm closing this issue because there wasn't a follow-up response after more than a week. If your error persists please re-open this issue and reply with the requested information.

Thanks for reporting!

[2020-09-01 17:49] #13610 closed

[2020-09-01 17:51] paolosanchez commented on #13682
Hi @steff456,
still having issues. How can I check the spyder-kernels pandas version?
When I check the version of the library, in and outside Spyder is the same '1.1.1'.
Also just reinstalled spyder-kernels-1.9.4. Can you walk me through a little bit to solve it?

[2020-09-01 17:59] steff456 commented on #13611
Hi @Fizz04,

This is a warning we added so people that don't know what's happening know that there's been an important change that may break things in Spyder. As long as you understand that your the kernel in the ipython console will be running in your newly py2 environment you can use it as I instructed before

There's nothing more that I can do, the response in the issue tracker vary a lot among

[2020-09-01 20:40] #13659 closed

[2020-09-01 20:45] steff456 opened #13683 "The icon of internal console settings disappeared"
## Problem Description
The icon of the internal console settings under the hamburger menu disappeared

**Master**
![image](https://user-images.githubusercontent.com/20992645/91904142-099a0a00-ec6a-11ea-9f36-e454650cacc3.png)

**4.x**
![image](https://user-images.githubusercontent.com/20992645/91904161-14549f00-ec6a-11ea-9075-7cfcca637c55.png)

### What steps reproduce the problem?

1. Open the int

[2020-09-01 20:55] steff456 opened #13684 "Differences in online help pane toolbar"
## Problem Description
The toolbar of the Online Help pane has some differences in master and 4.x,

1. First the buttons are in a complete different order
**Master**
![image](https://user-images.githubusercontent.com/20992645/91904898-4ca8ad00-ec6b-11ea-8f97-719f08dd7428.png)

**4.x**
![image](https://user-images.githubusercontent.com/20992645/91904918-5500e800-ec6b-11ea-96e4-c9aac469935c.png)

2.

[2020-09-01 20:59] steff456 opened #13685 "The copy functionality in the online help is not working"
## Problem Description
When you try to copy in the online help, an error appears

![image](https://user-images.githubusercontent.com/20992645/91905345-03a52880-ec6c-11ea-913b-ca2483b0de00.png)

### What steps reproduce the problem?

1. Go to Online Help pane
2. Use the context menu option to `Select all`
3. Use the context menu option to `Copy`

### What is the expected output? What do you see ins

[2020-09-01 21:03] goanpeca commented on #13684
Hi, @steff456 thanks for the feedback.

This was a deliberate change and goes in line with the change in the `Find in Files` plugin where the button for starting and stopping is the same since those actions are mutually exclusive.

Browsers (Like Chrome and Firefox) provide that interface, where the stop and refresh button are one and the same. Since this plugin is basically a "specialized" browse

[2020-09-01 21:05] goanpeca commented on #13685
Thanks for the feedback @steff456

This is a duplicate of https://github.com/spyder-ide/spyder/issues/13665 and has already been fixed on https://github.com/spyder-ide/spyder/pull/13676

[2020-09-01 21:05] #13685 closed

[2020-09-01 21:18] corymasterman opened #13687 "Spyder failed to start because no Qt platform plugin could be initialized."
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-09-01 21:24] ardunster opened #13688 "error possibly related to Pyside2 autocomplete"
## Description

### What steps will reproduce the problem?

Was typing a `self.` entry in a PySide2.QtWidgets.QMainWindow class and got this error immediately after typing `.`

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.8.1
* Qt version: 5.12.5
* PyQt5 version: 5.12.3
* Operating System: Darwin 19.5.0

### Dependencies

[code]

[2020-09-01 21:24] #13688 closed

[2020-09-02 02:55] steff456 commented on #13684
Ok, we can keep the change of the order in the toolbar. Maybe we can unify the refresh button with the stop one, as the changes you already made in the `Find in files` and `Pylint` plugin.

Thanks!

Please take into account that for this plugin migration the idea is to maintain as closely as we can the interface so then we can make the changes we are studying in meetings with Isabella and that's w

[2020-09-02 03:00] steff456 commented on #13687
Hi @corymasterman,

If you open your terminal and type `spyder` do you see the same error?

[2020-09-02 03:19] ccordoba12 commented on #13684
We discussed your proposed changes with the rest of team and agreed that they make sense.

However, please do not introduce any additional changes to the UX/UI of the plugins that have not been migrated yet to the new API. You're conflating the migration process with those changes, which are unrelated tasks.

Besides, you're introducing a lot of changes without discussing them with anyone else in

[2020-09-02 03:49] sebasmos opened #13690 "logger.error('%', 1, stack_info=True) Message: '%' Arguments: (1,)"
## Description

### What steps will reproduce the problem?

Aparently there is a problem with the logger or may be its sth with tensorflow and keras 2.4

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-02 03:49] #13690 closed

[2020-09-02 04:18] steff456 commented on #13682
Hi @paolosanchez,

Are you using just one conda environment in your machine? If not, did you change the python executable in the configurations of Spyder?

[2020-09-02 07:04] mohanasrujana opened #13691 "Kernel restarted"
## Description

### What steps will reproduce the problem?

Ipython console is showing an error occured while restarting the kernel

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-02 07:04] #13691 closed

[2020-09-02 09:09] vipinsiriah-git opened #13692 "Connecting to Kernel message is persistant in Ipythone Console Window"
## Description

### What steps will reproduce the problem?

Connecting to Kernel message is persistant in Ipythone Console Window

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-02 09:11] vipinsiriah-git commented on #13692
![image](https://user-images.githubusercontent.com/55827262/91962590-59d8a100-ed2a-11ea-873b-f3328b688533.png)

[2020-09-02 09:14] paolosanchez commented on #13682
Hi Stephannie,

I am not using just one conda environment, yet I did  change the python
executable in the configurations of Spyder to the environment python.exe,
and activate the environment every time.

Paolo

El mié., 2 sept. 2020 a las 5:18, Stephannie Jimenez Gacha (<
notifications@github.com>) escribió:

[2020-09-02 13:09] goanpeca commented on #13684
Hi @steff456 thanks for the feedback.

Thanks for the understanding, but to clarify the unifying of the Search/Stop, Find/Stop buttons is something @ccordoba12 agreed from the beginning.

I just took a decision based on a similar change. Unifying buttons, moving the button was a necessary change because it would not have made much sense leaving the button to the far right, so that was just a conse

[2020-09-02 13:53] ccordoba12 commented on #13684
@goanpeca, we agreed with the rest of the team that for the next PRs on queue in the new API migration process (starting with the Pylint one) you need to leave their layout and UI/UX as close as possible, or even better the same, as the one currently displayed in 4.x.

In case that's not possible, you need to clearly justify the technical reasons that don't allow you to do that. As I said above, i

[2020-09-02 14:02] goanpeca commented on #13684
Sounds good.

I have always technically justified why changes are needed and will continue to do so.

[2020-09-02 15:48] AnthonnyAG opened #13694 "Why is it crashing?"
## Description

### What steps will reproduce the problem?

I don't know what the problem is. First I wouldn't let me type the following character:

^

Instead, it was cloning the panel I was on and adding the "^" character at the beggining of the document.

I worked it around by copying the character from a notepad, but then, the "spyder has encountered an internal problem!" message popped up eve

[2020-09-02 15:48] #13694 closed

[2020-09-02 16:00] corymasterman commented on #13687
@steff456 If I try opening in the terminal, neither are recognized. I get the following error "'spyder' is not recognized as an internal or external command, operable program or batch file."

[2020-09-02 16:07] ccordoba12 commented on #13655
Great! I'm glad you consider my suggestions useful for your use case.

[2020-09-02 16:07] #13655 closed

[2020-09-02 16:12] ccordoba12 commented on #13687
Please see [our video](https://www.youtube.com/watch?v=Ul79ihg41Rs) to understand how to solve this issue. It has a lot of detailed and careful instructions that can help you to get Spyder back to life again.

You can also check our [this page](http://docs.spyder-ide.org/current/emergency-cpr.html) in our documentation for that.

[2020-09-02 17:23] corymasterman commented on #13687
@ccordoba12 I followed the steps in the video as well as the documentation page but still receive errors.

When creating a new environment for spyder, upon the "conda install -y spyder" command, these error lines pop up
"Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry with next rep

[2020-09-02 17:26] tryfonch commented on #13358
Same experience for python 3.8.5. Does the latest release (spyder  4.1.5) possibly address this issue?

Updated to it and still can't show local packages in the editor when i "go to definition". To be fair in the changelog there is no referrence to the current issue # but was wondering whether there is a change in settings that is necessary.

[2020-09-02 17:56] dalthviz commented on #13358
Hi @tryfonch there is not a fix for this yet, sorry :/ when someone submits a fix this issue will get referenced in the respective PR and closed after the merge of the fix.

However, now that I think in this maybe what is happening is that the path where you are doing your local package needs to be added to the `PYTHONPATH`. For that, you can go to `Tools > PYTHONPATH manager` and there you can ad

[2020-09-02 18:07] steff456 commented on #13687
@corymasterman, can you re-install anaconda, please make sure to completely uninstall the current version you have and tell us if the error persists

[2020-09-02 18:41] corymasterman commented on #13687
I uninstalled and removed all related folders in the AppData folder. I get the same error after re-installing.

[2020-09-02 18:49] tryfonch commented on #13358
@dalthviz when i go to `Tools > PYTHONPATH manager` what i get is an empty box:

![Capture](https://user-images.githubusercontent.com/29928641/92023238-7ecd1400-ed2a-11ea-9ff5-24435024ebb5.PNG)

However my local path is already added to PYTHONPATH and whenever i import files that exist in those path they run fine in the kernel.

![Capture](https://user-images.githubusercontent.com/29928641/9202369

[2020-09-02 18:57] rohangray33 commented on #13680
Thnks for your concerns but my problem solved by running annaconda as
administrator....

On Tue, Sep 1, 2020, 10:43 PM Stephannie Jimenez Gacha <
notifications@github.com> wrote:

[2020-09-02 19:20] steff456 commented on #13687
Did you clear as well all the environment variables before installing?

[2020-09-02 19:26] dalthviz commented on #13358
Thanks @liavassif for the feedback! Surely this new info will help us to implement a fix for this :+1:

[2020-09-02 19:37] corymasterman commented on #13687
Yes, still getting the error "qtpy.PythonQtError: No Qt bindings could be found" when trying to open anaconda-navigator from the Anaconda prompt.

[2020-09-02 19:50] dalthviz opened #13695 "[API] Support adding icons to menus"
Update the `create_menu` method to support adding icons

_Originally posted by @dalthviz in https://github.com/spyder-ide/spyder/pull/13689#discussion_r482332011_

[2020-09-02 19:51] #13684 closed

[2020-09-02 20:13] #13680 closed

[2020-09-02 20:21] dalthviz commented on #13681
Hi @Analytics-Matin try using our latest version `4.1.5` you can update using something like `conda install spyder=4.1.5`

[2020-09-02 20:25] dalthviz commented on #13692
Hi @vipinsiriah-git what happens is you open a new console? do you see any traceback in the internal console?

Any new info in order to understand the cause of this is really appreciated :)

[2020-09-02 22:22] steff456 commented on #13687
And if you add conda to the path and type `conda` in your terminal does it exists?

[2020-09-02 22:31] CAM-Gerlach commented on #13643
Spyder works with Qt 5.12 when installed from Conda-Forge, and there have been a number of improvements in that regard. Maybe @notuntoward could try that with:

[code]

[2020-09-02 22:31] steff456 commented on #13682
Can you please see that the version of pandas is the same in the environment you are launching it vs the environment that you have under the python executable?

You can verify that via `conda list` after activating the environment and searching in the list for `pandas`.

Please let me know if they are the same or if they don't match

[2020-09-02 23:15] steff456 commented on #13643
Hi @notuntoward and @andfoy,

I wasn't able to reproduce this both in macOS and Windows. In my side the text scaling works as expected :/

[2020-09-02 23:45] corymasterman commented on #13687
Yes, conda is recognized in the terminal. I think the problem is coming from the pyqt package. I am unable to install it and the pyqt package is what contains pyside which is the main error that I get when trying to open anaconda-navigator.

[2020-09-02 23:48] notuntoward commented on #13643
@steff456, what screen resolutions were you testing?  On a Surface Book, where I saw the problem, it's 3240 x 2160, and 260 DPI

[2020-09-03 01:41] leavor opened #13696 "After upgrading to 4.1.5, code completion and syntax inspection are invalid"
## Problem Description
After upgrading to 4.1.5, code completion and linting are invalid.
Restart spyder or LSP，the problem still exists.

The status of the LSP in the status bar is "down", and the following pop-up box appears.
![2FFADC47-2AC2-492c-8ADF-C3BB98A7FB63](https://user-images.githubusercontent.com/1759365/92061695-82fc3e80-edc9-11ea-8ec9-d9760112e922.png)

### What steps reproduce the p

[2020-09-03 01:56] nickmendez24 opened #13697 "Project doesn't open"
## Description

### What steps will reproduce the problem?

I attempted openinig a project that I'd worked on before but it simply brought me here to this issue reporter.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-03 01:56] #13697 closed

[2020-09-03 02:00] leavor commented on #13696
After uninstalling spyder, reinstall, the problem is solved.Use the following command:

conda uninstall spyder
conda install spyder=4.1.5

[2020-09-03 02:54] ccordoba12 commented on #13696
Glad you find how to solve this problem.

[2020-09-03 02:54] #13696 closed

[2020-09-03 03:04] #13371 closed

[2020-09-03 03:19] ccordoba12 commented on #13692
Another thing that could help in cases like this is to open the Anaconda Prompt and running there:

    python -m spyder_kernels.console

That should show any errors generated when starting the kernel.

[2020-09-03 03:45] ccordoba12 commented on #13653
This seems an issue with the latest Trailets version (a dependency of one of our dependencies), according to https://github.com/ipython/ipykernel/issues/543.

@Jennie41, could you open the Anaconda prompt, run there `conda list` and post its output here? Thanks!

[2020-09-03 04:16] ccordoba12 commented on #13649
Looks fine to me (on Linux/Kubuntu):

![Selección_083](https://user-images.githubusercontent.com/365293/92069094-291a5b00-ed6e-11ea-9219-79c326cb6dda.png)

That's a matter of opinion (they look a bit large, but fine to me). Since this is highly dependent on people's operating systems and opinions, I think it's a bit too much to try fix this (besides, no one else has complained about it).

@juanis2

[2020-09-03 04:30] ccordoba12 commented on #13358
Note: To make this work, we probably need to add the current document path to `sys.path` here:

https://github.com/palantir/python-language-server/blob/464663300754708e4a557c036c753ee8aea7def4/pyls/workspace.py#L242

[2020-09-03 05:24] juanis2112 opened #13698 "Profiler pane issues and details"
## Problem Description

1. In the toolbar menu there’s a lot of changes:

- [ ] The icons no longer have text next to them
- [ ] In macOS icons don’t have tooltips.
- [ ] The combobox in master is really small and it truncates the whole path of the file.

<Details>

Master MacOS:

![pasted image 0](https://user-images.githubusercontent.com/18587879/92073474-57516800-ed79-11ea-9c81-704374a3d31f.png

[2020-09-03 05:25] juanis2112 commented on #13698
@goanpeca can you take care of this one please?

[2020-09-03 06:25] deepak539 commented on #4805
i was facing this issue but then i uninstalled it and tried to install it in diffrent ways and it worked for me....

[2020-09-03 07:04] dasandovalEU opened #13699 "command is not recognized"
## Description

### What steps will reproduce the problem?

When I run any script saved on partition D, I got the "command is not recognized as an internal or external command, operable program or batch file" error. Ipython broke down and I have to close and reload Spyder.

## Versions

* Spyder version: 4.1.5
* Python version: 3.7.8
* Qt version: 5.12.5
* PyQt5 version: 5.12.3
* Operating System:

[2020-09-03 07:22] dasandovalEU opened #13700 "no multiple plot calls"
## Description

### What steps will reproduce the problem?

Hi, I use to use Spyder since version 3. Now with version 4 I got several issues, but for now the version 4.0.1 got me the fewer problem (only that the deleted variables don't desappear on variable list).
For this Issue, I load some spyderdata. Then I plot 5 times at once and I got the error. I use Qt5 for configuration. On previous versi

[2020-09-03 07:22] danisuar3z commented on #11767
I use fullscreen mode in various apps and I like to gain that extra space while being able to switch between windows.
I think it would be a nice feature to consider.
Thanks in advance.

[2020-09-03 07:25] #13699 closed

[2020-09-03 08:28] jontis opened #13701 "variable explorer enhancement: color code boolean"
I think it would bring a better overview if the variable explorer color coded boolean data, just as it does numeric
Spyder 4.1.4

[2020-09-03 10:28] akkiteja opened #13702 "not able to update!!!!"
I am not able to update spyder!!!

[2020-09-03 10:39] danieltomasz opened #13703 "Newly opened Object Explorer is hidden under other windows"
### Issue Report Checklist

* [x ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not

[2020-09-03 10:59] greg500 opened #13704 "Plot window freezes when choosing qt5agg with matplotlib.use method under spyder 4.1.4"
## Problem Description

When  choosing matplotlib backend with the 'use' function from matplotlib the pop up window freezes.
The problem won't show up when using %matplotlib magic command with an ipy file.
I am not encountering the issue inside jupyter or QTconsole.

### What steps reproduce the problem?

Select inline as graph output in spyder  preferences

`import matplotlib.pyplot as plt`
`from

[2020-09-03 11:06] #13704 closed

[2020-09-03 11:11] Jpacnath opened #13705 "Spyder still freezes occasionally"
## Description

### What steps will reproduce the problem?

Although Carlos said this has been fixed in 4.1.2., random freezing without recovery still happens to me at least once a day. It seems to be related to scrolling.

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-03 12:55] everetr opened #13706 "Cannot use Python interpreter in hidden/dot folder (selection menu doesn't display dot folders)"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-09-03 12:59] aaronsmith328 opened #13707 "error on startup"
## Description

### What steps will reproduce the problem?

This error has occured multiple times when I restart spyder.  The context of this instance was after I completely restarted my machine.  I have also see this issue when I close spyder and just restart the application.

### Traceback
[code]

## Versions

* Spyder version: 4.1.5
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5

[2020-09-03 12:59] #13707 closed

[2020-09-03 13:09] Rational-IM opened #13708 "Variable explorer not ordering index / background color grayed-out"
I noticed the following issues a couple of days ago:
1) Variable explorer doesn't sort the index if sorting done in any of its columns; there is also a miss-formating after sorting
2) The "background color" check-box is grayed-out

For issue #1, look at the DataFrame below (pre-sorting):
![image](https://user-images.githubusercontent.com/57544001/92117982-e2efe680-edc3-11ea-90e5-783021e31faf.png)

[2020-09-03 13:39] rhkarls commented on #13708
I have the same sorting issue on 4.1.5, testing on a simple dataframe:

    df = pd.DataFrame(index=[1,2,3], data={'col1':[1,2,3],'col2':[10,20,30],'col3':[100,200,300]})

The sorting works for the columns, even sorting on index, but the index column does not update visually.
I don't see any formatting issue, but perhaps due to the simple format of the data and keys.

[2020-09-03 14:06] kevinttl opened #13710 "tools preferences"
tools -> preferences
pops out this dialogue.
dono what happened.

### Traceback
[code]

## Versions

* Spyder version: 4.1.5
* Python version: 2.7.17
* Qt version: 5.9.5
* PyQt5 version: 5.10.1
* Operating System: Linux 5.3.0-7648-generic

### Dependencies

[code]

[2020-09-03 15:06] ccordoba12 commented on #13708
@rhkarls, thanks for reporting. This is a duplicate of issue #13544 and we'll try to fix it in a future release.

[2020-09-03 15:06] #13708 closed

[2020-09-03 15:11] ccordoba12 commented on #13238
Hey @happykid92, sorry for the late reply. It's unclear what kind of output you're expecting from your code and how this is related to a Spyder problem (this place is only meant to report Spyder bugs).

Since this seems a general Python question, we kindly ask you to open a question about in StackOverflow:

https://stackoverflow.com/

[2020-09-03 15:11] #13238 closed

[2020-09-03 15:18] ccordoba12 commented on #13705
Hey @Jpacnath, thanks for reporting. There are still some freezes, but not as bad as before. Yours could be the same as the one reported on issue #13020.

Please try to provide us with a simple and reproducible use case that we can use to debug and solve your problem. If you're unable to do that, I'm afraid I'll close this issue for lack of clear feedback.

Thanks for understanding.

[2020-09-03 15:21] ccordoba12 commented on #13582
Closing as a duplicate of #13623.

[2020-09-03 15:21] #13582 closed

[2020-09-03 15:22] ccordoba12 commented on #13582
@buster47, we'll try to fix this problem in our next release.

[2020-09-03 15:23] ccordoba12 commented on #13623
Thanks @impact27 for your help with this! It look like a good compromise to avoid these spurious errors.

[2020-09-03 15:25] #13695 closed

[2020-09-03 15:27] ccordoba12 commented on #13593
Thanks for the feedback. I think this is duplicate of issue #13620. Please be sure of having installed Pandas 1.1.0 or higher. That could solve your problem.

[2020-09-03 15:41] #13665 closed

[2020-09-03 15:51] superb44 opened #13712 "just popping error in between programming:spyder has encountered an internal prolem"
## Description

### What steps will reproduce the problem?

I don't know just a message pop out again and again during my programming that 'spyder has encountered an  internal problem'.
what should I do ?I don't wanna reinstall this now ,cause I have some important files to done for my assesment .

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9

[2020-09-03 15:51] #13712 closed

[2020-09-03 16:31] eafpres opened #13713 ""Unable to create cache" when using spyder --new-instance"
## Problem Description

Launch Spyder from minconda with >spyder --new-instance
The application launches fine, but the error messages are given:
"Unable to create cache" is the last message before launch

### What steps reproduce the problem?

1.  Launch miniconda as normal
2.  Activate appropriate environment; typically the SAME as a running instance
3.  Application launches, but errors appear as

[2020-09-03 16:45] Akshaykushawaha commented on #13580
Everything is fine with my system ,like it works great , no problem with installation(did it many times),but the problem dosen't seem to resolve so i think i might be better off restarting kernel and running it in administrator mode rather than causing anymore trouble to you guys.
Thanks a lot guys for for your time and effort! ,i really mean it thanks again.

[2020-09-03 16:45] #13580 closed

[2020-09-03 16:54] mazalgarab-git opened #13714 "Kite installation on Spyder would require a note on restrictions"
## Description

### What steps will reproduce the problem?

When initiating Spyder for the first time, one can opt to install Kite (www.kite.com). The issue is that Kite is cost-free but also a priced package; the cost-free version is restricted. One can infer that the restrictions of Kite would restrict the Spyder features (v.gr. Larger ML models or Multi-Line Completions generated by deep learni

[2020-09-03 17:36] #13683 closed

[2020-09-03 18:35] andfoy commented on #13702
Hi @akkiteja, could you please provide more information about the error that you are getting?

[2020-09-03 18:36] seyeeet commented on #13649
Sure if you think it is not an issue please close the issue.
Thanks

[2020-09-03 18:37] andfoy commented on #13714
Hi @mazalgarab-git, thanks for your suggestion. @ccordoba12, what do you think about this?

[2020-09-03 18:44] andfoy commented on #13710
Hi @kevinttl, thanks for opening this issue. It seems that you are using a deprecated version of Python (2.7), which is not supported by Spyder anymore, we recommend to upgrade your code to Python 3 if possible, if not, please check the alternatives to run Python 2 code on Spyder 4.1.5 in this issue: https://github.com/spyder-ide/spyder/issues/13510

[2020-09-03 18:44] #13710 closed

[2020-09-03 18:48] andfoy commented on #13703
Hi @danieltomasz, thanks for opening this issue. @steff456 was able to reproduce it, and therefore we can confirm it. We will take a look at this one for the next release of Spyder

[2020-09-03 18:53] andfoy commented on #13713
Hi @eafpres, thanks for opening this issue. It seems that these are warnings shown by Qt: https://bugreports.qt.io/browse/QTBUG-66014. As long as this does not interfere with the normal operation of Spyder, they can be taken as warnings and can be ignored

[2020-09-03 18:53] #13713 closed

[2020-09-03 19:50] danieltomasz commented on #13703
Also other windows, like "About Spyder" appear hidden under Object Explorer window

[2020-09-03 23:12] mmahdavian opened #13715 "TypeError: handle_get_file_code() got an unexpected keyword argument 'save_all'"
I get following error when I want to run any code in spyder in Anaconda.Do you know how can I resolve this?!:

[code]
Anaconda

## Versions
* Spyder version: 4.1.3
* Python version: 3.6.9
* Qt version: 5.9.7
* Operating System name/version: Ubuntu

[2020-09-04 00:44] Captain-Squiggles opened #13716 "Numbers on sidebar gone, unable to add lines"
## Description

### What steps will reproduce the problem?

I was using spyder on a laptop that was connected to a dock, then i removed the laptop from the dock and now spyder is unusable, the numbers on the left side are gone and i cannot add lines by pressing enter. I have tried resettig spyder to factory settings and reinstalling, but nothing fixes it. this message appears on anaconda when i la

[2020-09-04 03:29] juanis2112 commented on #13649
I don't really see a way of fixing it without being able to reproduce it @ccordoba12. Did you try decreasing the font size in your OS settings @seyeeet ?

[2020-09-04 03:29] juanis2112 commented on #13647
Closing for no response.

[2020-09-04 03:29] #13647 closed

[2020-09-04 03:29] juanis2112 commented on #13648
Closing for no response.

[2020-09-04 03:29] #13648 closed

[2020-09-04 03:30] #13649 closed

[2020-09-04 04:54] ccordoba12 commented on #13715
Hey @mmahdavian, please update to Spyder 4.1.5 and try again. That should fix your problem.

[2020-09-04 04:58] luismiguells commented on #13702
I have the same problem. I'm using Anaconda Navigator in macOS and when I use the the command ```conda update spyder```  it tells me:

[code]

[2020-09-04 05:04] ccordoba12 commented on #13714
We already mention that Kite is not open source in the initial dialog that it's displayed about it.

We have no idea what those restrictions are, but we provide a link to Kite's website, so users can inform about them.

Also, those restrictions could change in the future, so asking us to keep track of them is too much work, sorry.

[2020-09-04 05:04] #13714 closed

[2020-09-04 05:14] ccordoba12 commented on #13702
@akkiteja, @luismiguells, please open the Anaconda prompt and run there

    conda update anaconda
    conda update spyder

That should work.

[2020-09-04 05:26] luismiguells commented on #13702
@ccordoba12 there is not Anaconda prompt in macOS.

[2020-09-04 05:33] ccordoba12 commented on #13702
Then ue `Terminal.app`.

[2020-09-04 06:16] akkiteja commented on #13702
Thanks. Can I invite any of you members to my organization?????

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Carlos Cordoba<mailto:notifications@github.com>
Sent: Friday, September 4, 2020 11:03 AM
To: spyder-ide/spyder<mailto:spyder@noreply.github.com>
Cc: akkiteja<mailto:akkiteja@outlook.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [spyde

[2020-09-04 07:44] windengineer0 commented on #13453
I am experiencing the same problem, in Spyder 4.1.5:

![image](https://user-images.githubusercontent.com/32761710/92212828-d9817f80-ee92-11ea-82e3-125fe545dd0b.png)

I think it could be related to the iPython kernel.

[2020-09-04 07:53] akkiteja commented on #13702
K

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Luis Miguel López Santamaría<mailto:notifications@github.com>
Sent: Friday, September 4, 2020 10:28 AM
To: spyder-ide/spyder<mailto:spyder@noreply.github.com>
Cc: akkiteja<mailto:akkiteja@outlook.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [spyder-ide/spyder] not able to update!!!! (#13702)

I

[2020-09-04 08:03] chengjon opened #13718 "error on startup"
## Description

### What steps will reproduce the problem?

when i run spyder, it takes a long time, i don't know why, but it's really slow. after the main interface appear, the question report come out and said there's an error.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Windows 7

### Dependen

[2020-09-04 08:04] #13718 closed

[2020-09-04 09:22] capitanevs commented on #11061
Hello Everyone.

I know this is a closed issue, but I would like to add to the voice of those who thinks that totally removing the IPython Magics from spyder could be a great mistake, and induce many people to stop upgrading, unless they will be really forced to.

The reason of that, in my view is simple: the ecosystem of programming is wide and broad. There are engineers, professionals, hobbysts,

[2020-09-04 09:31] impact27 commented on #11061
Hi, thanks for your feedback. We definitely don't want to remove IPython magics from spyder. The problem is with executing a python file with something that is not python. In my opinion, asking the user to save the file as an `.ipy` rather than as a `.py` is an acceptable compromise, so it is clear that the code contains ipython-only syntax. The syntax highlighter will be fixed when #11101  is mer

[2020-09-04 13:34] algent-al opened #13719 "IPython.core.inputtransformer2 is only present in IPython >= 7.0"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-09-04 13:43] DanielIAvila commented on #13453
Hey @windengineer0 ,

Maybe it is a library you are using, or the installation went wrong. In any case, I solved the problem like this:

1. With the `conda shell` create a new environment.
2. Install everything in this new `environment` with `conda install`. If this does not work, use `conda forge XX`, where `XX` is the library you want to use.
3. In the new environment install `spyder`, `kernels`

[2020-09-04 13:45] PrinceBlueberry commented on #13702
I believe I am having a similar issue.  When I run the commands you suggested, I am told:
[code]
Then
[code]
FYI:
[code]
On Windows 10.

[2020-09-04 14:47] saksh007 opened #13720 "Spyder unable to read Doc"
## Description

### What steps will reproduce the problem?

Spyder is unable to read the path where the file comes from

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.12.9
* PyQt5 version: 5.12.3
* Operating System: Windows 7

### Dependencies

[code]

[2020-09-04 15:26] ccordoba12 commented on #13702
@PrinceBlueberry, please run

    conda install spyder=4.1.5

to see if it works for you.

[2020-09-04 16:32] ccordoba12 commented on #13719
Hey @algent-al, thanks for reporting. We do support older IPython versions, but we are not importing that module correctly. We'll fix that in our next version.

[2020-09-04 16:43] PrinceBlueberry commented on #13702
@ccordoba12 after about 30 minutes of run time (and thousands of debug lines), `conda install spyder=4.1.5` decided:
[code]
and then listed a bunch of things like `python-dateutil -> python[version='>=3.8,<3.9.0a0']`.  I'm assuming that means the version of python that I have insalled (v3.7) is not compatible with Spyder v4+?

By the way, one of the debug messages was:
[code]
So if someone did wan

[2020-09-04 17:08] ccordoba12 commented on #13702
It seems you'd need to reinstall Anaconda to avoid that issue. If you don't want to do that, then you need to install Spyder in a different environment.

For that, please use this command:

    conda create -n spyder-4 spyder=4.1.5 python=3.7

[2020-09-04 17:09] luismiguells commented on #13702
I use the command in the ```Terminal.app``` in macOS 10.15.6 and it doesn't update, throws me the following:
![Captura de Pantalla 2020-09-04 a la(s) 12 07 02](https://user-images.githubusercontent.com/25065697/92268035-4a329700-eea7-11ea-8b0e-9e917311d16f.png)

[2020-09-04 17:34] #13719 closed

[2020-09-04 17:37] ccordoba12 commented on #13702
@luismiguells, It hasn't finished. Please wait for it to finish.

[2020-09-04 17:48] luismiguells commented on #13702
After using the command ```conda install spyder=4.1.5``` suggested by @ccordoba12, Spyder is updated. The problem is that when I use  ```conda update --all``` command  it downgraded the version. I atttach the picture.
![Captura de Pantalla 2020-09-04 a la(s) 12 44 05](https://user-images.githubusercontent.com/25065697/92270987-a6e48080-eeac-11ea-84da-9736dcf1fc84.png)

[2020-09-04 18:10] ccordoba12 commented on #13702
Then don't use that command (it's really not recommended).

[2020-09-04 18:58] texadactyl commented on #13347
Tried Spyder 4.1.5.  This problem still exists.  Fell back to 4.1.3.

[2020-09-04 19:30] corymasterman commented on #13687
So I found the root of the problem. I did not have the most current version of Microsoft Visual C++ installed on my machine, the latest version I had was from 2013. Once I downloaded the most current version of Microsoft Visual C++, I was able to reinstall and everything seems to be functioning normally.

[2020-09-04 22:55] #13687 closed

[2020-09-04 23:56] capitanevs commented on #11061
Hi Quentin,

thank you for the reply.

Sorry for having used the coarse expression "removing IPython Magics", which is clearly what you do not want to do:-)

However my  opinion still stays there: Spyder definition is "The Scientific Python Development Environment ", so that science shall be pivotal. And science is research, evolution, purpuseful discovery. You may know with what you start, but no

[2020-09-05 04:51] juanis2112 commented on #13720
Can you please update to the latest version of Spyder and let us know if this solves your issue. To do this, in your anaconda prompt run:
[code]

[2020-09-05 05:23] impact27 commented on #11061
`#%%` is not ipython magics, it's just a comment that happens to be interpreted by the editor in a certain way, so you can use it wherever you want. If you use a real ipython magic, say `%matplotlib qt5`, in a library, you might have other problems:
Let's say someone wants to use your library. It's a python library so they try to use python. This would result in an error because `%matplotlib qt5`

[2020-09-05 05:25] juanis2112 commented on #13716
Hi @Captain-Squiggles. Thanks for opening this issue. I'm not sure what's causing this issue, but here are some things you can try (in order):

* Try ``conda update qt pyqt qtconsole spyder spyder-kernels qtpy sip`` at the Anaconda prompt
* Update your OS and GPU drivers
* Install PyOpenGL with ``conda install pyopengl``
* Try starting Spyder in different opengl modes, with ``spyder --opengl=softw

[2020-09-05 07:56] capitanevs commented on #11061
Great news to me, so...sorry for the inappropriate advocacy ;-)

However, when I try to run a cell, I get this error (which lead me to this topic):
![immagine](https://user-images.githubusercontent.com/13431660/92300753-ae179700-ef5d-11ea-9cab-238a2f29c773.png)

So I guess the problem is not "magics" but something else... flexible indentation perhaps? :-)

This is how my code looks like
![immagine

[2020-09-05 07:58] impact27 commented on #11061
Ha yes this is the flexible indentation. See https://github.com/spyder-ide/spyder/issues/12651

[2020-09-05 08:33] impact27 commented on #12651
Fixed by https://github.com/spyder-ide/spyder-kernels/pull/243

[2020-09-05 10:04] marekkolman opened #13722 "Spyder doesn't create a new folder in project explorer"
## Problem Description
Creating a new folder using project explorer doesn't work in Spyder (4.1.5).

### What steps reproduce the problem?
![spyder_issue](https://user-images.githubusercontent.com/25546774/92302788-1753d600-ef6f-11ea-977e-724a219fa9f2.gif)

### What is the expected output? What do you see instead?
Expected outcome is a new folder created. I'm getting an error message instead.

###

[2020-09-05 10:06] capitanevs commented on #11061
Thanks, I'll migrate my comments there!

[2020-09-05 13:02] Chrystalkey opened #13723 "Brackets in Strings are matched with outside Brackets"
## Description

### What steps will reproduce the problem?

For curly, round and square brackets, the match highlighting in the text editor is applied even if the matching counterpart is in a string:

`01234567`
`["["]"]"`
`("(")")"`
`{"{"}"}"`

0 is matched to 6, 2 to 4.

Whereas correctly 0 should be matched to 4 and 2 and 6 should not be touched at all.

This does of course not affect the funct

[2020-09-05 17:03] RobertDabbler commented on #13715
Updating to 4.1.5 is what *caused* the problem, for me.  And it isn't fixed by downgrading back to 4.1.3 where I was before.

[2020-09-05 17:40] sound-fx opened #13724 "Resuming from Sleep with a changed display resolution"
## Description

### What steps will reproduce the problem?

Spyder still running on a laptop connected to an external monitor and a network, when I put the laptop to Sleep. I disconnected the external monitor and unplugged the machine from the network. Upon waking the laptop from Sleep, this error message appeared.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 2.7.1

[2020-09-05 17:47] vnum commented on #12254
Imputer is deprecated.
Try this: `from sklearn.impute import SimpleImputer`

[2020-09-06 01:02] wired4life4 commented on #13715
This happened to three of my computers as well. I fixed it by [completely uninstalling anaconda](https://docs.anaconda.com/anaconda/install/uninstall/) and reinstalling the latest version. Not a great solution but it worked for me.

[2020-09-06 05:14] #13702 closed

[2020-09-06 05:14] akkiteja commented on #13702
hi

[2020-09-06 06:36] fiyutech opened #13725 "Not respondingError"
## Description

### What steps will reproduce the problem?

Created a New project,post IDE became unresponsive

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-06 06:36] #13725 closed

[2020-09-06 16:17] jmoraispk opened #13726 "Collapse Code Arrows disappear on second Panel"
## Description

### What steps will reproduce the problem?

Steps to reproduce:
1- Go to Editor Pane;
2- In the top right corner options, sellect: split horizontally.

Notice that the second editor panel won't have the arrows for code collapsing.

## Versions

* Spyder version: 4.1.5
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[2020-09-07 07:25] albertfang0926 opened #13727 "can not open a new project"
## Description

### What steps will reproduce the problem?

When a want to switch a project to another using `project->open project`, the error will come up.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-07 07:25] #13727 closed

[2020-09-07 09:22] zailushang2006 opened #13728 "spyder has encounted a problem"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "d:\Anaconda3\envs\lgd\lib\site-packages\spyder\plugins\__init__.py", line 511, in <lambda>
    toggled=lambda checked: self.toggle_view(checked),
  File "d:\Anaconda3\envs\lgd\lib\site-packages\spyder\plugins\i

[2020-09-07 09:22] #13728 closed

[2020-09-07 09:40] PRATIKSHIRBHATE opened #13729 "crashing again and again"
## Description

### What steps will reproduce the problem?

crashing again and again, happening after installing kite

### Traceback
[code]

## Versions

* Spyder version: 4.0.0
* Python version: 3.7.3
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-07 09:41] #13729 closed

[2020-09-07 10:22] minrk commented on #13653
I'd actually be a little surprised if this particular error were caused by traitlets 5. This seems like Can you try:

[code]

and post the output, including any errors? genutils is identifying the default codepage encoding as cp1252, a common default on Windows, but this is somehow not available. I'm not sure how that could happen.

[2020-09-07 11:38] akshaye1 opened #13730 "I am unable to open Anaconda navigator. conda info also get me error."
(base) C:\Users\HP>conda info

# >>>>>>>>>>>>>>>>>>>>>> ERROR REPORT <<<<<<<<<<<<<<<<<<<<<<

    Traceback (most recent call last):
      File "C:\Users\HP\anaconda3\lib\site-packages\conda\exceptions.py", line 1079, in __call__
        return func(*args, **kwargs)
      File "C:\Users\HP\anaconda3\lib\site-packages\conda\cli\main.py", line 84, in _main
        exit_code = do_call(args, p)
      F

[2020-09-07 11:47] simaoafonso-pwt commented on #13715
This sounds related to #13679 .

I was hit by this, and was able to fix it by installing `spyder-kernels==1.9.3`. I'm on `spyder==4.1.2`.

[2020-09-07 12:57] MasterKavi-24 opened #13731 "Console is not opening..."
## Description

### What steps will reproduce the problem?

I just don't know why this field is here for... But I gotta say, my console box is not opening. Please help me... :(

### Traceback
[code]

## Versions

* Spyder version: 4.1.5
* Python version: 3.8.3
* Qt version: 5.12.9
* PyQt5 version: 5.12.3
* Operating System: Windows 7

### Dependencies

[code]

[2020-09-07 13:31] ccordoba12 commented on #13715
This problem is solved by running

    conda install spyder-kernels 1.9.4

[2020-09-07 13:33] matkaa94 opened #13732 "IPython console freezes sometimes"
Hello everyone,

since I know there are some related issues with freezing console, mine is somehow different.

## Problem Description
The console freezes only at some specific commands. I am writing a tensorflow-based program on it and have some problems, due to installing different version of tf. However I tried for example to uninstall tensorflow and it doesnt do anything.

pip uninstall tensorf

[2020-09-07 13:38] Lucurus commented on #13342
I can confirm that only deleting the `pylint.results` file solves the error so there is no need for the `spyder --reset` command in case someone wants to keep their preferences.

[2020-09-07 14:01] ccordoba12 commented on #13732
You can't mix pip and conda packages as you're doing now because that causes problems like the ones you're experiencing.

Please see our video

https://m.youtube.com/watch?v=Ul79ihg41Rs

to understand how to avoid that problem. That could help you with your issue.

[2020-09-07 14:05] ccordoba12 commented on #13731
Please read our

http://docs.spyder-ide.org/current/first-steps.html

If you are unable to fix the problem after that, please install Anaconda instead. Unfortunately, we don't have the resources nor the time to help people with custom installations, so it's up to you to figure this one out.

This is because custom installations are for experts or very knowledgeable people who really know what they

[2020-09-07 14:05] #13731 closed

[2020-09-07 14:13] ccordoba12 commented on #13730
Hey @akshaye1, thanks for reporting. Unfortunately, this is not an error with Spyder but with conda.

Since it seems pretty serious, our only recommendation is to remove and reinstall Anaconda again. Please see our video to learn how to do that

https://www.youtube.com/watch?v=Ul79ihg41Rs

If the problem persists, please report it here

https://github.com/ContinuumIO/anaconda-issues

[2020-09-07 14:13] #13730 closed

[2020-09-07 14:17] ccordoba12 commented on #13724
Hey @sound-fx, thanks for reporting. This problem should be fixed in our latest version. To update please open the Anaconda prompt and run there

    conda update anaconda
    conda install spyder=4.1.5

Please let us know if it works for you.

[2020-09-07 14:18] ccordoba12 commented on #13723
Hey @Chrystalkey, thanks a lot for reporting. This is known issue and we'll try to fix it in a future release.

[2020-09-07 14:18] #13723 closed

[2020-09-07 14:21] ccordoba12 commented on #13722
Hey @marekkolman, thanks for reporting. This is definitely a bug and we'll fix it in our next version.

[2020-09-07 14:52] ccordoba12 commented on #13700
Hey @dasandovalEU, thanks for reporting. That's simply a warning, not an error, so you can just ignore it.

[2020-09-07 14:52] #13700 closed

[2020-09-07 15:30] matkaa94 commented on #13732
Thank you I just created a new environment and deleted the old one. On the new one i dont have these problems

[2020-09-07 15:30] #13732 closed

[2020-09-07 15:43] texadactyl commented on #13715
Same thing happened to me in a pip3 environment.  Reinstalling spyder-kernels worked for me (1.9.4 is the latest on pypi).

[2020-09-07 16:27] ccordoba12 commented on #13662
Closing due to lack of response.

[2020-09-07 16:27] #13662 closed

[2020-09-07 16:27] ccordoba12 commented on #13667
Closing due to lack of response.

[2020-09-07 16:27] #13667 closed

[2020-09-07 17:21] steff456 commented on #13726
Hi @jmoraispk,

I was able to reproduce your error, we will work in this for our next release of Spyder

Thanks for reporting!

[2020-09-07 17:22] steff456 commented on #13726
@andfoy please take a look at this one

[2020-09-08 00:03] akwasigroch commented on #13722
The cause of the problem is first element of `level_list`. It should only contain drive letter on Windows, however it looks like this:
`OS (C:)` . Because of this, `os.mdkir()` function throws an exception
https://github.com/spyder-ide/spyder/blob/1a1c67a2c92750b2d34aab613192b53713a5eefd/spyder/plugins/explorer/widgets/explorer.py#L434-L452

[2020-09-08 00:07] ccordoba12 commented on #13722
@akwasigroch, thanks a lot for giving us a hand with this! Would you like to submit a pull request to fix it?

If you do, please read our [Contributing guide](https://github.com/spyder-ide/spyder/blob/master/CONTRIBUTING.md) before doing it.

[2020-09-08 00:32] ccordoba12 commented on #13342
@steff456, please take a look at this one to prevent it from happening (it's a very serious bug).

[2020-09-08 00:49] #13531 closed

[2020-09-08 01:06] ccordoba12 commented on #13347
@texadactyl, we'll try to fix this issue in our next release. We know it's important but we haven't had time to do it.

Also, please check the status of the issue for next time. If it's still open, it means it hasn't been fixed yet. I'm mentioning it because this kind of questions (i.e. "when my bug is going to be fixed?") put an unnecessary pressure for (free) support on maintainers and are not v

[2020-09-08 02:00] ccordoba12 commented on #13706
This doesn't depend on Spyder but on the open dialog used in your operating system. In KDE you can simply do right-mouse click on that dialog to show your hide files:

![Selección_095](https://user-images.githubusercontent.com/365293/92425488-0bbe0600-f14d-11ea-97f0-f4410f0dd0ad.png)

Please try that and let us know if it works for you.

[2020-09-08 03:58] leavor opened #13733 "variable type and size are out of order"
## Problem Description

Variable explorer problem, variable type and size are out of order

## Test Code
[code]

### What steps reproduce the problem?

![spyder4 1 5变量查看bug](https://user-images.githubusercontent.com/1759365/92431101-2f269680-f1c9-11ea-8d01-dd5895297a5a.gif)

The type and size of the algName and desSta variables in ret are out of order

## Versions

* Spyder version: 4.1.5
* Python

[2020-09-08 05:49] Jakob-Bach opened #13734 "Line length option ignored on startup"
## Problem Description

Under "Preferences" > "Completion and linting" > "Code style", I have ticked "Enable code style linting". Also, I have changed the option "Maximum allowed line length" by increasing the allowed line length. Whenever I start Spyder, this line length option is ignored and I get lots of warnings in the editor of violating the (default) line length of 79 characters. I need to o

[2020-09-08 06:07] nunobbrandao commented on #13715
I have got the issue but this solution did not solve the problem

[2020-09-08 08:07] robert99 commented on #13342
My problem is that I reverted back to Spyder 4.1.3.
My Anaconda will not allow any upgrade to 4.1.4 so that I can try the suggested workarounds.
It tells me there is an upgrade available but when run it just finishes without upgrading to 4.1.4.

[2020-09-08 09:25] simaoafonso-pwt commented on #13715
Note that the workaround for `spyder==4.1.2` is downgrading to this specific version.

[2020-09-08 10:13] glefebvr commented on #5708
I meet exactly the same problem with Spyder 4.1.2 with Python 3.7.3 on Windows 10.

Note that the problem also happens when I switch from a project to another.

[2020-09-08 10:37] greg500 opened #13735 "Plot window freezes when choosing qt5agg with matplotlib.use method under spyder 4.1.4"
## Problem Description
When choosing matplotlib backend with the 'use' function from matplotlib the pop up window freezes.
The problem won't show up when using %matplotlib magic command with an ipy file.
I have edited the ipython kernel config file so it runs a QT event loop( c.InteractiveShellApp.gui = 'qt5'), that
solved the problem in QT console but not in spyder.

### What steps reproduce the

[2020-09-08 10:54] theinexorable commented on #13715
Spyder: 4.1.4
spyder-kernels: 1.9.4
Python 3.7.7 64-bit | Qt 5.9.6 | PyQt5 5.9.2 | Windows 10

So I'm trying to debug a file. With F9 (Run selection) it runs, but with F5 (Run file) or Ctrl+F5 (Debug file) the same error occurs. Now reading these comments I'm not sure whether I should downgrade spyder-kernels or Spyder.

[2020-09-08 11:20] ccordoba12 commented on #13715
@theinexorable, Spyder 4.1.4 works with spyder-kernels 1.9.3, not with 1.9.4

[2020-09-08 11:23] ccordoba12 commented on #5708
This problem no longer applies because it was related to the Python console, removed a long time ago.

[2020-09-08 11:23] #5708 closed

[2020-09-08 11:49] glefebvr commented on #5708
Python console or IPython console ?

As the initial post, I speak about IPython console. IPython 7.13.0 precisely for my case.

[2020-09-08 12:04] MasterKavi-24 commented on #13731
I did not install Spyder with Anaconda Navigator. Instead I used pip
install spyder to install spyder.... Maybe is it due to that !?!?!

On Mon, Sep 7, 2020 at 7:35 PM Carlos Cordoba <notifications@github.com>
wrote:

[2020-09-08 12:46] everetr commented on #13706
Works. Sorry about that. I've only ever used Ctrl+H.

[2020-09-08 12:46] #13706 closed

[2020-09-08 12:47] ccordoba12 commented on #5708
The initial post talks about a script that we no longer distribute because it made part of the Python console.

That's why this issue is not valid anymore.

[2020-09-08 12:50] ccordoba12 commented on #13731
As I said, we don't have the resources to support people with pip installations.

[2020-09-08 12:58] ccordoba12 commented on #13735
Hey @greg500, thanks for reporting. To set the Matplolib backend in Spyder you need to go to the menu

    Tools > Preferences > IPython console > Graphics > Backend

and select there either Automatic or Qt5.

[2020-09-08 12:58] #13735 closed

[2020-09-08 13:00] ccordoba12 commented on #13733
Hey @leavor, thanks for reporting. This error was probably introduced in PR #13558.

@skjerns, could you take a look at this one? Thanks!

[2020-09-08 13:06] texadactyl commented on #13347
@ccordoba12
I was under the mistaken impression that this issue was slated for fix in 4.1.5.  When I saw it wasn't, my intention was to simply inquire and give the project some feedback.  As an open source developer, I appreciate the time and effort put into this project.

[2020-09-08 13:18] OverLordGoldDragon opened #13736 ""Save to default" feature"
Often I wish to run / edit a code snippet in a fresh file, and not lose it - but don't seek to save it in any particular directory, especially not the project / previous file's directory. It'd help to have a settable "default" directory, just like a default file title (Untitled), to which one could save with a dedicated command - thus not having to manually search for one (and bypassing any select

[2020-09-08 13:32] greg500 commented on #13735
Thank you for your reply. I know how to configure the default backend behavior. I have set inline by default because I had event loop conflicts with some of my scripts when enabling 'automatic' backend. This is why I need a custom behavior. Matplotlib 'use' method to select the backend used to work in previous versions of spyder.

[2020-09-08 13:51] Captain-Squiggles commented on #13716
Thank you for answering @juanis2112 !
I tried all the suggestions you gave, but nothing seems to fix the issue :/
I tried to manually delete all related files that i could find and reinstall anaconda, but the problem still appears.
![image](https://user-images.githubusercontent.com/70731237/92485392-2ba40700-f1eb-11ea-8d83-20fe90ef761f.png)

[2020-09-08 15:34] glefebvr commented on #5708
Ok, just let me reformulate.
Because, even if spyder does no longer distribute this kind of script, it is now possible to define its own script. And this functionality contains a bug.

Detailed step to reproduce the bug :
I create a file (E:/pythonstartup.py), that contains, for instance just this line :
`print('PythonStartup file was executed')`
Now, I go in Preferences > IPython console > Startu

[2020-09-08 15:37] ccordoba12 commented on #5708
@glefebvr, thanks for the detailed explanation. Could you open a new issue about it? Thanks!

[2020-09-08 15:57] glefebvr commented on #5708
@ccordoba12: Yes. Thanks to you, for the spent time to understand the problematic.

[2020-09-08 15:58] KRiD999 opened #13737 "Code style ignore not working"
## Description

### What steps will reproduce the problem?

In Spyder Preferences>Code Style I have E501 (line too long) specified to ignore.  When I start Spyder this is not recognized and my long lines are flagged.  If I go into Preferences and re-apply the ignores then it works.

## Versions

* Spyder version: 4.1.5
* Python version: 3.8.5
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating

[2020-09-08 16:15] glefebvr opened #13738 "PYTHONSTARTUP user defined script not launched"
### Problem Description
When spyder is configured to run an user defined pythonstartup script, this script is not run in 2 cases :
- at the start of spyder
- after switching project
However, the user defined pythonstartup script is correctly launched after restart the kernel in IPython.

### Steps to reproduce the problem

1. I create a file (E:/pythonstartup.py), that contains, for instance just

[2020-09-08 16:25] KBC1997 commented on #7364
Have installed the tensarflow environment in anaconda... but spyder is not getting launched
Its only working under base environment...
please share the solution

[2020-09-08 16:31] steff456 commented on #13734
Hi @Jakob-Bach,

I was unable to reproduce this issue with the steps you wrote. Can you please upload a gif with the behavior you are having?

[2020-09-08 16:34] steff456 commented on #13736
Hi @OverLordGoldDragon,

We need to discuss the importance of this feature request with the rest of the team. I'll let you know what we decide.

[2020-09-08 16:39] steff456 commented on #13737
Hi @KRiD999,

I wasn't able to reproduce this issue, so can you walk me through your settings under `Preferences>Code Style` with a screenshot? And please upload a gif with the behavior you are having

[2020-09-08 16:43] KRiD999 commented on #13737
I was able to reproduce the issue by 1) setting the ignore codes, 2)
closing and reopening.

See the second picture and the results

[image: image.png]
[image: image.png]

On Tue, Sep 8, 2020 at 9:39 AM Stephannie Jimenez Gacha <
notifications@github.com> wrote:

[2020-09-08 16:46] steff456 commented on #13737
@KRiD999 can you please upload the images directly to github? The attachments in the mail doesn't render :(

[2020-09-08 16:49] steff456 commented on #13701
Hi @jontis,

Can you please create a sketch of your idea so we can understand it better?

[2020-09-08 16:52] KRiD999 commented on #13737
![image1](https://user-images.githubusercontent.com/60403255/92505430-eebf1c80-f1b8-11ea-89a4-ad179dac7d4c.png)
![image2](https://user-images.githubusercontent.com/60403255/92505433-ef57b300-f1b8-11ea-83a6-2b282f108bcd.png)

[2020-09-08 17:21] mazalgarab-git opened #13739 "Spyder demands issue report but it seems to run well."
## Description

### What steps will reproduce the problem?

Spyder requires a report due to an internal problem. I do not experience anything irregular excepting the intempestive widows that requires a report. I just restart Spyder.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Depe

[2020-09-08 17:22] #13739 closed

[2020-09-08 17:25] sound-fx commented on #13724
Thank you.
Alas, it will be some time before I can confirm whether that fixes it, as conda can't update Spyder in either of my two virtual environments.
One virt-env uses Python 2, but Spyder 4.1.5 requires 3.x.
The other virt-env installed from anaconda 2020.07, and `conda install spyder=4.1.5` finds many conflicts before giving up.
I'll probably need to switch to miniconda, or possibly roll back

[2020-09-08 17:35] steff456 commented on #13738
Hi @glefebvr,

I was able to reproduce your behavior, as soon as I open a project the kernel doesn't print the message. But after I restart the kernel it appears. We will work into this issue to solve it for our next release, thanks for reporting!

@impact27, do you have some insight on what is happening in here?

[2020-09-08 17:46] steff456 commented on #13736
Hi @OverLordGoldDragon,

Can you please provide us a concrete example of this functionality? Like the user cases you'll like to add

Thanks!

[2020-09-08 17:53] #13715 closed

[2020-09-08 17:59] KRiD999 commented on #13737
Have you been able to reproduce the problem?  If not, then there is
something weird going on on my end.  I just recently updated to Spyder
4.1.5 but did see the problem in the previous release.  I think I remember
the problem showing up in that previous release.  Prior to that it was
working fine.

On Tue, Sep 8, 2020 at 9:46 AM Stephannie Jimenez Gacha <
notifications@github.com> wrote:

[2020-09-08 18:24] OverLordGoldDragon commented on #13736
@steff456 Sure; [demo](https://puu.sh/GqysB/0fbe01b2dd.mp4):

  1. Pasted code snippet into a fresh tab
  2. Edited it, and let's pretend I did stuff with it
  3. Would like to save it, but am prompted to select a save directory
  4. Spyder automatically suggests the folder of the previous file (`main.py`), which is undesired

So instead, there could be an extra option to save to a default directo

[2020-09-08 20:40] steff456 commented on #13737
Hi @KRiD999,

I'm not able to reproduce this in macOS, Linux or Windows in Spyder 4.1.5 with the same configuration you have. I know it is not the best, but can you reset your Spyder's configuration and see if that fixes the issue?

For resetting the configuration please type in your console `spyder --reset` and try to put them again and see if it works or the error still persists.

[2020-09-08 21:21] KRiD999 commented on #13737
The reset worked.  Something must have been corrupted along the way.
Thanks so much for your time and quick response.

-Dirk

On Tue, Sep 8, 2020 at 1:40 PM Stephannie Jimenez Gacha <
notifications@github.com> wrote:

[2020-09-08 22:20] jafetgado commented on #13620
Downgrading spyder-kernels to 1.9.1 and pandas to 1.0.5 solved it for me.

[2020-09-08 22:49] juanis2112 opened #13741 "Fix PYTHONPATH manager tooltip to match the title of the dialog window it triggers"
## Problem Description

The PYTHONPATH Manager tooltip in the toolbar says "Python Path Manager" which doesn't match the title of the dialog it triggers.

### What steps reproduce the problem?

1. Hover over PYTHONPATH manager button to see tooltip

<img width="306" alt="Screenshot 2020-09-18 at 1 27 10 PM" src="https://user-images.githubusercontent.com/18587879/93632727-6e1bcf80-f9b3-11ea-9765-74

[2020-09-09 00:25] juanis2112 commented on #13465
@steff456 can you take care of this one please?

[2020-09-09 02:40] steff456 commented on #13737
I'm glad your issue is fixed, I'm going to go ahead and close this issue.

Thanks for reporting!

[2020-09-09 02:40] #13737 closed

[2020-09-09 05:27] Schira4396 opened #13742 "Completion of spyder4"
When the code is completed, the font in the candidate area is very small, and it does not look as comfortable as the code font. I don't know what's going on? Sorry I cannot take a screenshot when the candidate box appears

[2020-09-09 06:04] yashram96 opened #13743 "An error ocurred while starting the kernel"
## Description

### What steps will reproduce the problem?

Traceback (most recent call last):
File "C:\Users\rampr\anaconda3\lib\runpy.py", line 193, in _run_module_as_main
"__main__", mod_spec)
File "C:\Users\rampr\anaconda3\lib\runpy.py", line 85, in _run_code
exec(code, run_globals)
File "C:\Users\rampr\anaconda3\lib\site‑packages\spyder_kernels\console\__main__.py", line 11, in
start.main()
F

[2020-09-09 06:05] steff456 commented on #13742
Hi @ChaoYangDongYongGuaiGe,

Can you please upload a gif with the behavior you are having?

[2020-09-09 06:08] steff456 commented on #13743
Hi @yashram96,

It seems this is a duplicate of #13652, please take a look in that thread to see how to fix your problem.

Thanks for reporting!

[2020-09-09 06:08] #13743 closed

[2020-09-09 06:14] ChaoYangDongYongGuaiGe commented on #13742
![mNrQmF5hvm](https://user-images.githubusercontent.com/57404930/92561260-7a62a700-f2a6-11ea-8e87-04610702313f.gif)
Look at this, the font of the completion candidate area is different from the font of the code editing area, which makes me very uncomfortable. Is this a bug or is it the case?

[2020-09-09 08:02] glefebvr commented on #13738
Great, thanks. This functionality will be very helpfull for me.

[2020-09-09 09:29] peterzsj6 opened #13744 "runfile issue, spyder return runcell(0, 'D:/anaconda_files/s2s/mindspore/test1.py') instead of the output"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-09-09 16:47] kdl0013 opened #13745 "Spyder will not save in Box Drive"
## Description

### What steps will reproduce the problem?

Open file.  Save the file in same location path.

### Traceback
[code]

## Versions

* Spyder version: 4.1.5
* Python version: 3.6.4
* Qt version: 5.12.5
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-09 17:08] adrienchaton opened #13746 "Spyder 4.1.5 not showing yellow/red warning marks"
Hello,

I updated to Spyder 4.1.5 and now I cannot have yellow warning marks, such as when a variable has not been declared inside a function.

I run it inside a virtual environment, with Python 3.7.9 and IPython 7.18.1, with previous Spyder it worked and stopped working with the new version .. I tried to change the checked options in the "source" tab or to change settings but I cannot get back th

[2020-09-09 17:40] sweettyler opened #13747 "Can we have a better package?"
When I tried to install the latest Spyder 4.1.5 I got the following message:

================================================
...
The following NEW packages will be INSTALLED:

  _anaconda_depends  pkgs/main/linux-64::_anaconda_depends-2020.07-py38_0

The following packages will be UPDATED:

  ca-certificates                               2020.6.24-0 --> 2020.7.22-0
  spyder

[2020-09-09 17:48] steff456 commented on #13742
What I can see in your gif, is that it is the same font that you have in the complete path and the filename. Did you set this font in your Windows?

[2020-09-09 18:11] ccordoba12 commented on #13747
Hey @sweettyler, thanks for reporting. You said

Spyder doesn't depend on those packages directly, but I think they are dependencies of our dependencies (with the exception of Python, of course).

As far as I know, that's not possible because Anaconda releases every three months or so with the available versions at that moment.

However, that's not something we can solve here. Please report it on

[2020-09-09 18:13] ccordoba12 commented on #13747
Since this issue is not directly related to Spyder,  but to installation shortcomings with conda (which we don't control, as I said above), I'm going to close it.

[2020-09-09 18:13] #13747 closed

[2020-09-09 18:17] ccordoba12 commented on #13620
@jafetgado, thanks for the feedback. However, I think this is not an issue with spyder-kernels but it's caused a mismatch between the Pandas version used in Spyder and the one used by the kernel.

[2020-09-09 18:28] ccordoba12 commented on #13742
@steff456, I think we are not using the editor font but the one used by other elements in the operating system. Could you confirm?

[2020-09-09 18:37] ccordoba12 commented on #13735
Then please deactivate the Matplotplib integration support in our preferences so you defer the event loop integration to Matplotlib itself.

[2020-09-09 19:17] steff456 commented on #13620
@ccordoba12 I was able to reproduce this error by creating a new environment with the latest version of pandas

[2020-09-09 19:27] hsauro opened #13748 "Changing appearance font size in Preferences results in a crash."
## Description

### What steps will reproduce the problem?

With fresh install on Windows 10, selected Tools->Preferences->Appearance, then increase font size to 14, select apply, spyder crashes.

When spyder is restated the new font size that was selected before the crash is being used.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.7.7
* Qt version: 5.12.9
* PyQt

[2020-09-09 20:00] dalthviz commented on #13746
Hi @adrienchaton checking this in an env with Python 3.7.9, IPython 7.18.1 and Spyder 4.1.5 on Windows I was able to see the warning marks (although in the case of the example you describe what I see is a red error mark):

![warnings](https://user-images.githubusercontent.com/16781833/92646448-12af5a80-f2ac-11ea-9263-f475d6f449a8.png)

Just in case this is the list of packages in my testing env:

[2020-09-09 20:21] dalthviz commented on #13745
Hi @kdl0013 thanks for the feedback. Do you know if Box Drive does something to the path files? Seems like this is related with the check of existence of the path. We will be looking to fix this in a future release :+1:

[2020-09-09 20:27] dalthviz commented on #13745
Note: Just for reference a closed Python issue https://bugs.python.org/issue29042 (interestingly enough resolved as not a bug)

[2020-09-09 20:35] steff456 commented on #13612
I tried to reproduce it macOS, and when I remove the environment outside Spyder and try to create a new console then it creates one in the base environment.

![image](https://user-images.githubusercontent.com/20992645/92650351-fd3d2f00-f2b1-11ea-9c87-1556e054229f.png)

[2020-09-09 20:40] adrienchaton commented on #13746
Hi @dalthviz

Thank you for checking up and answering.

I had enabled "Enable basic linting".
I tried reseting spyder and updating its dependencies as proposed in the first aid.
Restarting spyder, and still the error marks yellow or red don't appear.

I just do the same code as you, on purpose calling undeclared variables. Running the script naturally throws the error, though the warning marks don

[2020-09-09 20:41] sweettyler commented on #13747
"Since this issue is not directly related to Spyder,..."

I am curious what kind of changes in the latest 4.1.5 triggered the new requirement of package dependencies. If there is just small changes compared to 4.1.4, then there is no need to change any dependency.

[2020-09-09 21:45] dalthviz commented on #13739
Hi @mazalgarab-git this was fixed in Spyder 4.1.5, please update to that version with something like `conda install spyder=4.1.5`

[2020-09-09 21:59] anthonynoyes16 opened #13749 "Internal Error while updating python"
## Description

### What steps will reproduce the problem?

Never gotten an error before, but this occurred after updating spyder to 1.15. It says I have a TimeoutError which occurred while waiting for comm port.

### Traceback
[code]

## Versions

* Spyder version: 4.1.5
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-09 21:59] #13749 closed

[2020-09-09 22:10] dalthviz commented on #13746
Thanks for the info @adrienchaton that's quite strange, are you being able to see any side panel in the Editor (line numbers, debug, etc?) Maybe some how Qt is not rendering the side panels of the Editor? Could you try to create an env with only Spyder to see if the behavior persists?

[2020-09-09 22:16] dalthviz commented on #13748
Hi @hsauro could you try to reset your Spyder preferences and try again? Thanks!

[2020-09-09 22:24] dalthviz commented on #13744
Hi @peterzsj6 to enable such output you need to enable the option `Copy full cell contents to the console when running code cells`. You can find it in `Preferences > Editor > Run code > Copy full cell contents to the console when running code cells`

![image](https://user-images.githubusercontent.com/16781833/92660995-316c1c00-f2c1-11ea-8a0b-be6d95bf19a8.png)

Let us know if the info above helps :

[2020-09-09 23:34] ccordoba12 commented on #13747
The only dependency we changed is spyder-kernels.

We don't know (and can't fix) the wayconda computes dependencies, so please talk with the Anaconda guys to see what feedback they can give you about that.

[2020-09-10 00:03] jsh9 opened #13751 "Spyder editor very slow (macOS)"
- Spyder version: 4.1.4
- OS: macOS Catalina

The code editor in my Spyder is quite slow: there is a significant lag when typing.  If I type faster than ~3 characters per second, the characters show up in the editor later than my typing.

I don't have code folding enabled, nor Kite, nor indent guide.  My mac computer is fast enough -- system resources should not be an issue.

Can any of the develo

[2020-09-10 00:21] ccordoba12 commented on #13751
Hey @jsh9, thanks for reporting. This is a know problem (see for instance all the comments on issue #13020) and we're working to fix that in our next release.

[2020-09-10 00:21] #13751 closed

[2020-09-10 00:59] laurence-lin opened #13752 "Spyder shows up 'Spyder has encountered an internal problem!'"
## Description

### What steps will reproduce the problem?

Yesterday my Spyder works normally, today when I open it shows up the issure reporter "Spyder has encountered an internal problem!"

I don't know what happened to the Sypder. Yerterday I'd installed some tools on Windows, like WSL 2: Linux on Windows and some python packages.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* P

[2020-09-10 01:03] ccordoba12 commented on #13748
You can do that by going to the menu `Tools > Reset Spyder to factory defaults`.

[2020-09-10 01:08] ccordoba12 commented on #13612
Closing as a duplicate of #13731, where I told @MasterKavi-24 to use Anaconda instead of pip.

@MasterKavi-24, please don't report this problem anymore unless you're able to reproduce it with Anaconda.

[2020-09-10 01:08] #13612 closed

[2020-09-10 01:09] ccordoba12 commented on #13745
@dalthviz, do you think we could fix this somehow in our side?

[2020-09-10 01:11] hsauro commented on #13748
I reset spyder using reset to factory defaults, and I confirm that fonts
went back to the original size.

I then tried to change the editor and console fonts using
Tools->Preferences-> Appearance->Fonts->Plain text Change to 14 pt, hit Ok
or Apply buttons

There is a delay of about 5 seconds then the Issue reporter comes up with
details:

update_margins
    self._default_margins = layout.getConten

[2020-09-10 01:12] ccordoba12 commented on #13746
The problem is with this version. Please downgrade to version 0.3.4 of that package and try again.

On a side note. this is why we *strongly* recommend to use Anaconda instead of pip, i.e. because Anaconda packages are more curated than pip ones. So unless you have a strong reason to not use Anaconda, you should definitely switch to it.

[2020-09-10 01:14] ccordoba12 commented on #13748
@dalthviz, please try to reproduce this problem on Windows with a pip environment.

[2020-09-10 01:14] kdl0013 commented on #13745
Good evening,

I would have very little knowledge about the path files with Box.  I’m just not getting into Data Science but only for Climate Data so I am fairly unaware of most computer science topics.  I just know that I have been using Spyder now for about 2 months and up until today, I was able to save in Box.

It may just be my computer being dumb for a while.  I did downgrade my Spyder to 3.

[2020-09-10 02:29] ccordoba12 commented on #13620
@steff456, please use `cloudpickle` to serialize a dataframe with Pandas 1.1.1 and try to deserialize it with Pandas 1.0.5 to see if you get the same error. Examples of how to do that can be found here

https://github.com/cloudpipe/cloudpickle#examples

That's basically what we do when asking the kernel to send us a value to display it in our dataframe viewer.

If you're able to do that, we could

[2020-09-10 02:50] juanis2112 opened #13754 "Change colors for IPython console error message"
## Problem Description

Make style of IPython error message similar to the one in PR #13750

![Screenshot 2020-09-09 at 9 49 33 PM](https://user-images.githubusercontent.com/18587879/92676093-7b1b2d80-f2e6-11ea-8878-87e520ec8342.png)

[2020-09-10 02:56] Dan-Patterson opened #13755 "Rich text format for help topics"
I am looking for any configuration file that controls the visual output of the help pane.
I use numpydoc formatting and the Plain Text is visually fine, but the Rich Text output seems to add extra space/indentation and extra lines.  This is visually distracting (for me at least).  I presume that there is some configuration file or something that controls the output.  What is it ? or Where is it? s

[2020-09-10 04:08] dalthviz commented on #13745
Thanks for the info @kdl0013! Any new info in order to reproduce this is greatly appreciated.

@ccordoba12 maybe we could try to capture the error but I'm unsure if there are other alternatives. Also, I think that validation is done to prevent an error when writing the file.

[2020-09-10 04:30] dalthviz commented on #13752
Hi @laurence-lin seems like the installation of the packages could have messed up the version of an indirect dependency of Spyder? What packages did you install? Also, could you try to get a full traceback of the error? (seems like the one posted is truncated)

From what the traceback says seems like could be some kind of issue with the numpy version. Maybe you could try to update numpy? (you can

[2020-09-10 04:42] dalthviz commented on #13755
Hi @Dan-Patterson for the feedback! Probably the files you want to change are the `.css` that we use to give styles to the docs.

Here is the dir of the files: https://github.com/spyder-ide/spyder/tree/4.x/spyder/plugins/help/utils/static

There you can find some `.css` files:

* `base_css/base.css`: has a style to fix a separation of the parameters when using sphinx >=2.x to render a separator
*

[2020-09-10 04:43] #13722 closed

[2020-09-10 04:59] #13241 closed

[2020-09-10 05:05] laurence-lin commented on #13752
The message don't show up now, after I'd download and upgrade some packages via pip in command line.
It may be some problem that the older version of packages installed mess up with the Spyder dependency. Thank you.

[2020-09-10 05:07] peterzsj6 commented on #13744
LOL, it works. Thank you! I knew I was missing something obvious.

[2020-09-10 08:04] adrienchaton commented on #13746
Thank you @ccordoba12 and @dalthviz !

Downgrading to python-jsonrpc-server==0.3.4 fixed the issue, now warnings are shown on the side of the editor.
Besides this issue with upgrading spyder, I am very satisfied with virtualenv so I would like to keep it.

And good job for version 4, the ipython console is much faster, the black appearance is good too !

[2020-09-10 09:50] Dan-Patterson commented on #13755
@dalthviz .... just in case it matters, here are the sphinx related files
[code]

[2020-09-10 09:54] mmarei1 opened #13757 "Version conflict"
## Description

### What steps will reproduce the problem?

Installed a new version of Anaconda 3 to replace older version that didn't work.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-10 09:54] #13757 closed

[2020-09-10 10:25] roarny opened #13758 "Crashing on win10 when idle"
## Description

### What steps will reproduce the problem?

Start Anaconda navigator, start spyder 4.1.5, wait about half an hour. Spyder will have closed. (Crashing without error message). When started again, it offers to restore unsaved work. Have performed the usual steps of updating and resetting.

## Versions

* Spyder version: 4.1.5
* Python version: 3.8.5
* Qt version: 5.9.7
* PyQt5 version

[2020-09-10 11:50] CatNofishing opened #13759 "The pyqt5 module does not have automatic completion"
I cannot get any intelisese  for the ptqt5 module, no autocompletiong ，please add support for pyqt5！

[2020-09-10 12:14] ccordoba12 commented on #13746
Thanks for your kind words @adrienchaton!

I'm closing this issue since your problem is fixed now.

[2020-09-10 12:14] #13746 closed

[2020-09-10 13:58] kdl0013 commented on #13745
Good morning,

So yes the issues is indeed having me trying to save scripts from anaconda environment containing Python 3.6.4 into a Box drive.  It will also not save in a new folder within Box drive.  I can however save files to my Desktop.

When I switch my environment back to base anaconda (with Python 3.8) the script will save normally and it will save into other Box directories and also Deskt

[2020-09-10 14:21] #13744 closed

[2020-09-10 14:24] dalthviz commented on #13752
Thanks for the info @laurence-lin glad is working now. I'm closing this one then :+1:

[2020-09-10 14:24] #13752 closed

[2020-09-10 14:59] dalthviz commented on #13664
Note: Instead of a minimum width, the page being shown in the Help pane should handle some grade of responsiveness to be able to show the documentation even when the pane width is reduced.

[2020-09-10 15:33] dalthviz commented on #13748
@ccordoba12 I tried reproducing this with this env:

<details>

[code]

</details>

But I was unable to reproduce the error, although the change takes sometime (even the `Preferences` dialog has the `(No response)` for a bit). Also seems like the installation was done using WinPython.

[2020-09-10 15:50] dalthviz commented on #13538
Also the latest SymPy version seems tobe 1.6.2 (that's the one I used to do the testing)

[2020-09-10 16:19] dalthviz commented on #13755
Thanks @Dan-Patterson for the new info, checking a little bit seems like to rendered the docs without the space you can use Sphinx 1.8.5 (the version available before Sphinx 2.x). This is what I'm getting using that version (and the dark theme):

![image](https://user-images.githubusercontent.com/16781833/92761413-472c2080-f357-11ea-8e00-df9e19b41709.png)

Maybe to suit your needs you could try do

[2020-09-10 18:07] PraveenTumma commented on #12988
Hello Guys, I have the same issue: Auto Completion does not work in Anaconda-Spyder 4.0.1
Also if I press Tab nothing shows up now but it worked fine for sometime with some issues though. Not sure what happened all of sudden.

As suggested in this thread, I ran this command: `spyder --debug-info verbose --new-instance`, as it suggested me to run with new instance since there was an existing spyder

[2020-09-10 18:12] dalthviz commented on #12988
Hi @PraveenTumma could you try to update to Spyder 4.1.5 and check again? Thanks!

[2020-09-10 19:21] ccordoba12 commented on #13755
Sorry but other than the solution proposed by @dalthviz I don't know what other thing we could do here.

[2020-09-10 20:00] christian-ruf commented on #836
this is still happening

[2020-09-10 20:02] Dan-Patterson commented on #13755
Sadly that leaves me tracking down and undoing what happened between sphinx 1.8.5 and now.
Thanks for your attention anyway

[2020-09-10 20:57] Dan-Patterson commented on #13755
After a bit of searching, I have come full circle
https://github.com/spyder-ide/spyder/pull/11270
So I am not sure where to go now.  The 1.8.5 to 2.0 issue related to html4 vs html5.
Still looking for that elusive flag to toggle

[2020-09-10 21:39] ccordoba12 commented on #13748
Ok, thanks @dalthviz for your help. Closing because we were not able to reproduce it, sorry.

Please report this problem to the WinPython guys:

https://github.com/winpython/winpython

[2020-09-10 21:39] #13748 closed

[2020-09-10 21:42] ccordoba12 commented on #13538
Thanks @dalthviz for your help!

I'm closing this issue because we were not able to reproduce this problem. @update-freak, most probably the Latex binaries (latex.exe and dvipng.exe) are not in your PATH.

[2020-09-10 21:42] #13538 closed

[2020-09-10 21:48] hsauro commented on #13748
I understand. We're currently on 4.1.4, once 4.1.5 is out we'll move to
that to see if it helps.

Thanks for great tool.

Herbert Sauro

On Thu, Sep 10, 2020 at 2:40 PM Carlos Cordoba <notifications@github.com>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2020-09-10 22:08] mazalgarab-git opened #13760 "Console does not process command lines"
## Description

### What steps will reproduce the problem?

The console does not process all the command lines; reset Spyder to factory default does not solve the issue.

## Versions

* Spyder version: 4.1.5
* Python version: 3.8.5
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-10 22:38] mazalgarab-git commented on #13760
It was not a console issue. It was on a programming issue; the input command management. The variable productTypeSelection should apply the int command so that the remain code can be ran.

# Code: Select Product Type

print("=========================================")
print("Product Type Selection")
print("=========================================")
productTypeSelection = input("Insert the number

[2020-09-10 23:34] andfoy commented on #13760
Hi @mazalgarab-git, since you managed to find the error on your code and it is not Spyder-related, I will proceed to close this issue.

[2020-09-10 23:34] #13760 closed

[2020-09-10 23:36] andfoy commented on #13759
Hi @CatNofishing, PyQt is a binary library, i.e., it does contain code in C or other languages, therefore completions are complicated to obtain. Nowadays, libraries can include mypy typing stubs in the form of pyi files, thus the creation of such files depend on the library authors and it is beyond the scope of Spyder.

[2020-09-10 23:36] #13759 closed

[2020-09-10 23:39] andfoy commented on #13758
Hi @roarny, could you please provide a complete description of the state of Spyder before it crashes? Also, does your computer enters sleep or hibernation?

[2020-09-11 00:55] HigorAnjos commented on #9962
Thanks!

[2020-09-11 01:18] #13342 closed

[2020-09-11 01:53] isabela-pf commented on #13181
Because it seems like I got more unsure feedback last round, I tried branching focusing in on the elements that have gotten some of the strongest positive feedback across these iterations, namely the web combined with simple shapes.
## Option 3-11
Since 3-1 was a strong favorite, this is a cleaned up version of that direction minus the overlapping panes. It's simple, but that can be a strength at

[2020-09-11 02:06] W-xl-zbc opened #13761 "emm"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

AttributeError: module 'dateutil.tz' has no attribute 'UTC'
AttributeError: module 'dateutil.tz' has no attribute 'UTC'
AttributeError: module 'dateutil.tz' has no attribute 'UTC'

## Version and main components

* Spy

[2020-09-11 02:06] #13761 closed

[2020-09-11 02:37] ccordoba12 commented on #13736
This looks very confusing and I don't think we'll add something like that.

I understand your idea of having scratchpad kind of files, but we'd need to come up with a better user experience for that concept.

[2020-09-11 07:09] roarny commented on #13758
@andfoy Spyder 4.1.5 64bit has a few files open, but the crash can happen before any script have been run. No spyder plugins installed. The Spyder settings should differ from the factory defaults only in that a different "main interface" has been selected under "appearance". Saw this problem frequently in 4.1.4 too.
I've seen it close unexpectedly when I'm working in other programs, so the PC was

[2020-09-11 07:58] PraveenTumma commented on #12988
Hi @dalthviz, thanks for that fix. Yes, it worked. I was testing it multiple ways, like closing & opening all sessions, anaconda, exporting and importing variable data, etc., It is working as expected. Thanks!!

[2020-09-11 08:51] OverLordGoldDragon commented on #13736
@ccordoba12 The idea is to have a one shortcut/click save of a file to a user-defined "default" directory; doesn't seem more confusing than configuring the working directory or startup script.

One _could_ simplify to saving it to `.spyder-py3/defaultsave`, just like `/autosave`, with maybe some notification of where the save went to, and "You can configure this directory in Preferences", with the

[2020-09-11 09:02] cjh9 opened #13762 "Highlighting word when there is only one occurence"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-09-11 10:26] cjh9 opened #13763 "Expand / Shrink selection"
# Feature request
I didnt find any possibility to do expand/shrink selection. This is available in both pycharm and VScode, highly useful.

https://code.visualstudio.com/docs/editor/codebasics#_shrinkexpand-selection

Is there any plans to include it in spyder?

[2020-09-11 10:32] Jakob-Bach commented on #13734
Hi @steff456, I created a gif. I also noticed that this problem only occurs if Spyder automatically opens a project on startup (though this does not apply to one specific project, but all my projects). If I finished the last Spyder session without an open project and then start Spyder, the problem does not occur (even if I then directly open a project after startup).

![Spyder](https://user-images

[2020-09-11 11:19] thamilthedal opened #13764 "Removing Variables"
## Description

### What steps will reproduce the problem?

I tried to remove around ten imported variables from csv files. And Here I am.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-11 14:30] dalthviz commented on #12988
Awesome @PraveenTumma glad is working now for you :+1: . Just in case, @dasdebashish17 could you try to update Spyder too and check if this keeps being an issue? Thanks!

[2020-09-12 02:48] ccordoba12 commented on #13734
Thanks @Jakob-Bach for the gif. This clarifies your problem a lot.

I think this is a duplicate of issue #13351, so I'm closing this issue in favor of that. There you can find a workaround for this, until we properly fix it.

[2020-09-12 02:48] #13734 closed

[2020-09-12 03:55] venehsoftw opened #13766 "Frozen Interfaz Spyder"
## Description

### What steps will reproduce the problem?

On the moment to generate a new Project, the interfaz was frozen by almost minutes

### Traceback
[code]

## Versions

* Spyder version: 4.1.5
* Python version: 3.8.2
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Linux 5.4.0-47-generic

### Dependencies

[code]

[2020-09-12 03:55] #13766 closed

[2020-09-12 08:39] Anindya007 opened #13767 "Calltip related issue"
## Description

### What steps will reproduce the problem?

File "C:\Users\user\Anaconda3\lib\site-packages\spyder\widgets\calltip.py", line 565, in _cursor_position_changed
    if position <= self._start_position:
AttributeError: 'CallTipWidget' object has no attribute '_start_position'

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5

[2020-09-12 16:59] ccordoba12 commented on #13767
Hey @Anindya007, thanks for reporting. This is fixed in our latest version. Please update by opening the Anaconda Prompt and running there

    conda update anaconda
    conda install spyder=4.1.5

[2020-09-12 16:59] #13767 closed

[2020-09-12 18:34] RsMayank opened #13768 "Spyder Internal Problem Error?"
## Description

### What steps will reproduce the problem?

 I did pip --reset but still getting this error. How to resolve this error.
 plugin = mod.PLUGIN_CLASS(self)
TypeError: 'bool' object is not callable
why I am getting this ?

### Traceback
[code]

## Versions

* Spyder version: 4.1.5
* Python version: 3.7.4
* Qt version: 5.12.4
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### D

[2020-09-12 20:15] aamailhot opened #13769 "Goto Def issue with Spyder"
## Description

### What steps will reproduce the problem?

I manually added a path to the pythonpathmanager for my project, then restarted spyder.

### Traceback
[code]

## Versions

* Spyder version: 4.1.5
* Python version: 3.6.10
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Linux 5.4.0-47-generic

### Dependencies

[code]

[2020-09-12 20:15] #13769 closed

[2020-09-13 05:32] RsMayank commented on #13768
Got a mail stating that its a bug  and will fixed in next update .
Check Issue[https://github.com/spyder-ide/spyder/issues/13769](url)

@spyder-bot

[2020-09-13 05:32] #13768 closed

[2020-09-13 05:57] saumyaborwankar opened #13770 "Spyder stops working automatically"
## Description

### What steps will reproduce the problem?

from selenium import webdriver
import time
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import matplotlib.pyplot as plt

chrome_options = webdriver.ChromeOptions()
prefs = {"profile.default_content_setting_values.notifications" : 2}
chrome_options.add_experimental_option("prefs",prefs)

from selenium import

[2020-09-13 10:08] hdino commented on #13537
@juanis2112 I came across a similar situation when I tried to add the Python packages of [ROS 2 (Robot Operating System)](https://www.ros.org/) to PYTHONPATH. ROS' default installation path looks like this: `/opt/ros/foxy/lib/python3.8/site-packages`

Spyder's path manager will reject such paths, see [pathmanager.py:294-302](https://github.com/spyder-ide/spyder/blob/master/spyder/widgets/pathmanag

[2020-09-13 11:25] marekkolman opened #13771 "Code doesn't fold in Spyder 4.1.5"
## Problem Description
Code folding doesn't work at all in my Spyder 4.1.5. I know there have been these issues in the prev versions of Spyder but to me it happens with the latest version.

I assume this _might have something to do_ with the fact that I use working PC, where some Spyder elements might not be available:
![error](https://user-images.githubusercontent.com/25546774/93016813-2ddbdc00-f

[2020-09-13 12:17] dixita26 opened #13772 "unupdate spyder"
## Description

### What steps will reproduce the problem?

I'm upadated this spyder 3 times but still unapdate

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-13 12:17] #13772 closed

[2020-09-13 13:23] sudhi9sharma opened #13773 "not accepting charachters"
## Description

### What steps will reproduce the problem?

i was trying to import some data but instead it shows which i am not aware what is it about

### Traceback
[code]

## Versions

* Spyder version: 3.3.6
* Python version: 3.7.4
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-13 14:42] ccordoba12 commented on #13537
@hdino, sorry but adding those packages would definitely break our console. That's why we decided to not allow it.

The right solution is to install spyder-kernels in your Python interpreter and make Spyder use it by going to

    Tools > Preferences > Main interpreter

[2020-09-13 14:50] NitinSaini18 opened #13774 "ERROR conda.core.link:_execute(698): An error occurred while installing package 'defaults::icu-58.2-ha925a31_3'"
## Description

### What steps will reproduce the problem?

it is giving me this error while installing
spyder in new enviornment with python version 5.3.4 and tensorflow = 1.0.0
please help me to solve this error.

## Versions

* Spyder version: 4.1.5
* Python version: 3.6.12
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-13 15:37] ccordoba12 commented on #13773
Hey @sudhi9sharma, thanks for reporting. Please update to our latest version by opening the Anaconda Prompt and running there

    conda update anaconda
    conda install spyder=4.1.5

Perhaps your error is fixed in that version.

[2020-09-13 15:40] ccordoba12 commented on #13705
Closing due to lack of response.

[2020-09-13 15:40] #13705 closed

[2020-09-13 15:42] ccordoba12 commented on #13705
I'm working to fix that on pull request #13281.

[2020-09-13 15:43] ccordoba12 commented on #13593
Closing as a duplicate of issue #13620.

[2020-09-13 15:43] #13593 closed

[2020-09-13 15:47] ccordoba12 commented on #13771
This is the problem, i.e. you don't have this package installed and that's what's causing this issue.

To fix that, please close Spyder, open the Anaconda Prompt, run there

    conda install python-language-server

and try again.

[2020-09-13 15:48] ccordoba12 commented on #13774
Hey @NitinSaini18, thanks for reporting. Unfortunately this is not an issue with Spyder but with Anaconda.

Please report it here

https://github.com/ContinuumIO/anaconda-issues/issues/

to get support about that.

[2020-09-13 15:48] #13774 closed

[2020-09-13 15:52] ccordoba12 commented on #13770
Hey @saumyaborwankar, thanks for reporting. This is fixed in our latest version. Please update by closing Spyder, opening the Anaconda Prompt and running there

    conda update anaconda
    conda install spyder=4.1.5

[2020-09-13 17:21] marekkolman commented on #13771
Thank you. I had the package installed, so I removed and installed again. After reinstall Spyder saw that package in dependencies but it still didn't work. What I did is that I enabled this:
![spyder_issue](https://user-images.githubusercontent.com/25546774/93024325-f71eb980-f5f5-11ea-9946-6ea3c35635be.GIF)
Not sure exactly what it does but now all runs fine. It might have something to do with the

[2020-09-13 20:22] jmoraispk commented on #12485
@shalinshal I also believe that's what @Valemos meant. At least that's exactly what's happening in my case.

[2020-09-13 22:23] ccordoba12 commented on #13771
Great to know!

Probably. That option sets a particular port for the completion and linting server to run on (yes, we use a server to provide those services, along with folding and many other things in the editor).

[2020-09-13 22:23] ccordoba12 commented on #13771
I'm going to close this issue for everything is working for you now. Thanks for using Spyder!

[2020-09-13 22:23] #13771 closed

[2020-09-13 23:30] ccordoba12 commented on #13710
Just a small clarification to what @andfoy said: we still try to support Python 2 (even if it's deprecated), but it's getting harder and harder due to several of our dependencies not supporting it anymore.

Therefore, we recommend you to start using Spyder with Python 3, which is much better supported.

[2020-09-13 23:48] GuiiFerrari opened #13775 "Unknow error after installing numba"
## Description

### What steps will reproduce the problem?

I installed the package numba and after that the spyder has started to crash

### Traceback
[code]

## Versions

* Spyder version: 4.1.3
* Python version: 3.6.10
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-13 23:49] #13775 closed

[2020-09-14 02:49] juanis2112 commented on #13764
Hi @thamilthedal can you please update to the latest version of Spyder and let us know if the issue persists?
In your anaconda prompt run:
[code]

[2020-09-14 06:28] NitinSaini18 opened #13776 "Preparing transaction: done Verifying transaction: done Executing transaction: failed ERROR conda.core.link:_execute(481): An error occurred while installing package 'defaults::ipykernel-4.10.0-py35_0'. LinkError: post-link script failed for package defaults::ipykernel-4.10.0-py35_0 running your command again with `-v` will provide additional information location of failed script: C:\Users\Lenovo\Anaconda3\envs\Chatbot\Scripts\.ipykernel-post-link.bat ==> script messages <== <None>"
## Description

### What steps will reproduce the problem?

When i created new environment with python=3.5.0 version and tensorflow = 1.0.0
after the when i tried to install Spyder using *conda install Spyder* but then it is showing me this error :
Preparing transaction: done
Verifying transaction: done
Executing transaction: failed
ERROR conda.core.link:_execute(481): An error occurred while inst

[2020-09-14 08:42] ehsanrs2 commented on #12621
update to new version, its work for me
`conda install spyder=4.1.5`

[2020-09-14 08:54] ehsanrs2 commented on #13715
update to the new version, its work for me
conda install spyder=4.1.5

[2020-09-14 11:04] NitinSaini18 opened #13777 "Encounter to error While installing Spyder"
## Description

### What steps will reproduce the problem?

I was installing spyder on new environment of python==3.5 and then i installed tensorflow=1.0.0 After when i try to install Spyder using * conda install Spyder * then it gives me this error
 *conda.core.link:_execute(481): an error occurred while installing package 'defaults::ipykernel-4.10.0-py35_0'.
linkerror: post-link script failed fo

[2020-09-14 11:07] nfmbang opened #13778 "Conda Spyder Update issues"
## Description

### What steps will reproduce the problem?

Tried updating Spyder to the lastets version using anaconda.
In the conda promt: conda update spyder

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.4
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-14 11:07] #13778 closed

[2020-09-14 11:57] marco-music opened #13779 "Crash while folding code block/function"
## Description

### What steps will reproduce the problem?

1. fold an entire code block/function
2. delete comments in between the just hidden code block and a following code block.
3. try folding the very next code block

-> crashes

### Traceback
[code]

## Versions

* Spyder version: 4.1.5
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### De

[2020-09-14 12:36] hdnh2006 opened #13780 "Is there a command to restart the plot window in the new version of spyder?"
## Problem Description
Hello!

I am plotting several figures using `matplotlib` in spyder. With the new version (4.1.3) the plots are now shown inside a the IDE like is done in R for example (which is awesome!), but now I want to close all the windows plotted with just a simple command or pressing any shortcut.

Is there a way to do that?

### What steps reproduce the problem?
[code]
![image](http

[2020-09-14 12:37] jesp1506 commented on #2765
Desintalé PqQt5
update conda
update conda anaconda-navigator

anaconda-navigator
funcionó muy bien !
Gracias !

[2020-09-14 12:50] ccordoba12 commented on #13776
@NitinSaini18, as I told you yesterday, these are conda installation issues, not bugs in Spyder.

Therefore, we can't solve them here. Instead, please report them in this repo

https://github.com/ContinuumIO/anaconda-issues

[2020-09-14 12:50] #13776 closed

[2020-09-14 12:53] ccordoba12 commented on #13777
Closing as a duplicate of #13776

@NitinSaini18, please stop reporting these bugs here and instead report them in the Anaconda repo I told you about

https://github.com/ContinuumIO/anaconda-issues

[2020-09-14 12:53] #13777 closed

[2020-09-14 12:57] NitinSaini18 commented on #13777
I reported error there also but i do not have any response from there.
Please can you suggest me some other solution.

On Mon, 14 Sep 2020 18:23 Carlos Cordoba, <notifications@github.com> wrote:

[2020-09-14 13:00] ccordoba12 commented on #13777
I'm sorry to hear that. Unfortunately, I don't have other suggestions.

[2020-09-14 13:31] NitinSaini18 commented on #13777
Okay, let me tell you  my actual problem : when I create a new environment with python 3.7 and tensorflow 2.3 the spyder install perfectly and runs very smoothly and when run my code of Chatbot.py it gives me error :
AttributeError: module 'tensorflow.contrib.seq2seq' has no attribute 'prepare_attention' I know that prepare_attention no longer is available in tensorflow lastest version rather this

[2020-09-14 13:37] bwegge commented on #13632
I have the same issue/observation. Is it possible that the current working directory (initially set to the user's home folder) or some search path is not properly updated to the script/project directory when the script is first run on the first console?

[2020-09-14 15:01] I-Goel opened #13781 "I have no clue."
## Description

### What steps will reproduce the problem?

I was trying to open a file and then this happened.

### Traceback
[code]

## Versions

* Spyder version: 3.3.3
* Python version: 3.7.0
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 18.2.0

### Dependencies

[code]

[2020-09-14 15:02] #13781 closed

[2020-09-14 16:08] amedinae opened #13782 "IPython console throw an error: "An error ocurred while starting the kernel""
I have an error similar to [10400](https://github.com/spyder-ide/spyder/issues/10400), but any of the solutions showed there works for me. My spyder version is 4.1.5 and the error is:

Traceback (most recent call last):
File "D:\Programas\Anaconda3\lib\site‑packages\spyder\plugins\ipythonconsole\plugin.py", line 1223, in create_kernel_manager_and_kernel_client
kernel_manager.start_kernel(stderr=st

[2020-09-14 16:45] ccordoba12 commented on #13782
Hey @amedinae, thanks for reporting. Please remove this directory:

    C:\Users\Andres Medina\AppData\Roaming\Python

and try again. That should fix your problem.

[2020-09-14 16:49] ccordoba12 commented on #13781
This could also be caused by some permission errors in the latest macOS versions. Please take a look at this

https://stackoverflow.com/questions/58372768/file-permissions-issue-with-python-spyder-anaconda-after-upgrading-mac-to-catali

for a possible fix.

[2020-09-14 16:53] amedinae commented on #13782
Muchas gracias!!!, Tenia semanas estancado con eso. Pense que habia eliminado totalmente mi anterior instalación de python pero como que se me paso esa carpeta.

[2020-09-14 16:53] #13782 closed

[2020-09-14 17:00] ccordoba12 commented on #13777
@NitinSaini18, thanks for details. What you need to do to solve this problem is to create a conda environment, then use pip to install Tensorflow 1.0, spyder-kernels and the other packages you need to run your code. Finally, you need to connect Spyder to the Python interpreter of that environment by going to the menu

    Tools > Preferences > Main Interpreter

and selecting it as your custom inte

[2020-09-14 17:08] ccordoba12 commented on #13782
Me alegra que hayas podido resolver tu problema. Si tienes más problemas de ese tipo en el futuro, te recomendamos ver nuestro video al respecto:

https://www.youtube.com/watch?v=Ul79ihg41Rs

[2020-09-14 17:30] steff456 commented on #13779
Hi @marco-music,

We are working on improving the new code folding for our next release. This issue will be fixed by the PR #13783

Thanks for reporting!

[2020-09-14 17:31] steff456 commented on #13779
@andfoy please take into account this case as well

[2020-09-14 17:32] texadactyl opened #13784 "Bootstrap.py fails in version 4.x"
## Problem Description

While trying to install PyLS locally, bootstrap.py is unable to create the required directory spyder-4.x/external-deps/python-language-server/.installation-dir.

### What steps reproduce the problem?

I followed the instructions "To start Spyder directly from your clone": https://github.com/spyder-ide/spyder/blob/master/CONTRIBUTING.md

### What is the expected output? What

[2020-09-14 17:35] texadactyl commented on #13784
Almost forgot the log of success.  From stdout:
[code]

[2020-09-14 17:37] steff456 commented on #13780
Hi @hdnh2006,

I'm glad that you like our plots feature, it is great! If you want to erase all the plots you generated, you can go ahead and click the highlighted icon in red,

<img width="618" alt="Captura de Pantalla 2020-09-14 a la(s) 12 33 46 p  m" src="https://user-images.githubusercontent.com/20992645/93118910-99867d80-f686-11ea-97d1-1327d8faa1df.png">

For further information please note th

[2020-09-14 17:37] #13780 closed

[2020-09-14 17:40] steff456 commented on #13784
Hi @texadactyl,

Can you check that you have the right permissions on the folder?

[2020-09-14 17:45] texadactyl commented on #13784
The folder does not exist.
Precisely what I did:
- Downloaded ZIP file.
- Unzipped.
- cd into spyder folder.
- python3 bootstrap.py

Made the indicated changes in bootstrap.py and it works fine.

[2020-09-14 17:46] texadactyl commented on #13784
If I had a permissions issue, it would not have run no matter what I edited.

[2020-09-14 17:51] texadactyl commented on #13784
If you are in folder A and you need to create A.B.C, Path.mkdir will not only create C but also B  too.

[2020-09-14 18:10] texadactyl commented on #13784
It might be useful if the _pyls_installation_dir_ variable could be overwritten via a argparse.ArgumentParser optional argument.  That could be an alternate solution.

[2020-09-14 18:12] ccordoba12 commented on #13784
What folder doesn't exist?

According to our [contributing guide](https://github.com/spyder-ide/spyder/blob/master/CONTRIBUTING.md#setting-up-a-development-environment), you're expected to run `git clone`. And when you do that, things work just fine.

[2020-09-14 18:13] texadactyl commented on #13784
spyder-4.x/external-deps/python-language-server/.installation-dir

[2020-09-14 18:17] texadactyl commented on #13784
I tried to clone 4.x but this happened:
git clone https://github.com/spyder-ide/spyder/tree/4.x
Cloning into '4.x'...
fatal: repository 'https://github.com/spyder-ide/spyder/tree/4.x/' not found

So, I just went into https://github.com/spyder-ide/spyder/tree/4.x, downloaded the ZIP file, and unzipped.

[2020-09-14 18:26] texadactyl commented on #13784
Ok, this is the right way to clone 4.x:
git clone https://github.com/spyder-ide/spyder -b 4.x

[2020-09-14 18:28] michal01473 commented on #4307
We still can't use ALT+s (ś) in Spyder.

[2020-09-14 18:29] texadactyl commented on #13784
But, it still fails until one fixes bootstrap.py in some manner (my suggestion or other):
[code]

[2020-09-14 18:34] steff456 commented on #13784
Did you prepare a conda environment as the contributing guide suggests?

[2020-09-14 18:44] texadactyl commented on #13784
No, I did not.  Unfortunately, the SETI Institute Breakthrough Listen department does not use Anaconda.  Most of my Python work lately has been with them.  Hence, I have been using python3-pip which seems to be in good health.  I have done maintenance in pypi/pip before so I can handle this environment.

This issue is not critical for me.  Feel free to prioritize other issues and enhancements.  I

[2020-09-15 00:51] Cemalbc commented on #3005
I met the same problem. I use command in anaconda prompt: spyder --new-instance. Hope this problem will be fixed.

[2020-09-15 04:02] isabela-pf commented on #13736
Hey @OverLordGoldDragon, thanks for taking the time to post this issue and giving insight into a part of how you work in Spyder! I want to make sure I’m understanding the problem well and that we look into a solution that will resolve the root of the problem, so I have a few clarifying questions.
1. Could you tell me more about when you want to save a code snippet in a fresh file without keeping i

[2020-09-15 06:54] NitinSaini18 commented on #13777
@ccordoba12 I was facing this problem from the past 3 days and you are the only one who solved my issue. Thank you so much!!!

[2020-09-15 06:59] mrclary commented on #12664
This issue is obsolete. Closing.

[2020-09-15 06:59] #12664 closed

[2020-09-15 08:16] OverLordGoldDragon commented on #13736
@isabela-pf Thanks for taking interest.

  1. It's to not have to open a fresh new Spyder, with its own project (or lack of). Example: I'm unit-testing a package, and someone shares an unrelated code I awaited. I need to edit the code several times and re-run it with a fresh namespace; also rather not lose it by accident. This requires saving.

  2. The user most likely won't know how the feature

[2020-09-15 11:06] vmussa opened #13785 "Console kernel seems to malfunction while working with Projects"
## Description

### What steps will reproduce the problem?

1. Open spyder through Anaconda Prompt by selectir a working directory: `spyder -w .`
2. Create a Project in that same directory.
3. Console Kernel opens but seems to crash and open again and see `In [1]` print two times in the Console.

I get this error running Spyder and Python Anaconda in Windows. My Anaconda version is the 2020.07 and

[2020-09-15 11:06] #13785 closed

[2020-09-15 11:13] mauricio-fernandez-l commented on #2162
Please forgive me, if I am in the wrong issue or if my question is trivially solved. I do not understand how I can activate default autocompletion of local project modules. Autocompletion works fine in the console, once a module is imported, but not in the editor. I found a workaround by using
[code]
Do I always need to append the local project folder with `sys.path.append('.')` in order to allow

[2020-09-15 12:24] impact27 commented on #13632
This issue is not easily resolved. I think `multiprocessing` doesn't conserve the current working directory.
It looks like the cwd of the process is actually the initial cwd where python was launched.
You can recreate the issure by:
 - launch spyder, the console cwd is home
 - test joblib -> doesn't work, but change the CWD to the current folder
 - restart the console. The console CWD is now the f

[2020-09-15 13:31] musicinmybrain opened #13786 "A generic icon is shown in gnome-shell in a Wayland session"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-09-15 14:17] impact27 commented on #13632
To fix it, if you are willing to modify standard libraries, in `multiprocessing/spawn.py`, remove:
[code]

[2020-09-15 14:21] impact27 commented on #13632
To fix it, add this to your code:

[code]

[2020-09-15 14:35] ccordoba12 commented on #13777
I'm really glad to know @NitinSaini18!

[2020-09-15 16:06] musicinmybrain commented on #13786
I’ve prepared a PR, #13787, for the `4.x` branch. The same fix should work for `master`.

Also dropping a link to the downstream Fedora bug report, [RHBZ#1832579](https://bugzilla.redhat.com/show_bug.cgi?id=1832579).

[2020-09-15 17:14] ccordoba12 commented on #13632
Thanks for your help @impact27! Any chance to make this fix work automatically in `spyder-kernels`?

[2020-09-15 17:34] steff456 commented on #13786
Hi @musicinmybrain,

Thanks for reporting and opening the PR, we will review it during the week :)

[2020-09-15 17:43] steff456 commented on #13762
Hi @cjh9,

I could reproduce this issue, we will work in this for our next release.

Thanks for reporting!

[2020-09-15 17:48] steff456 commented on #13763
Hi @cjh9,

Thanks for the suggestion, can you please give us a more detailed use case of the feature you will like?

[2020-09-15 20:13] impact27 commented on #13632
https://github.com/spyder-ide/spyder-kernels/pull/244

[2020-09-15 21:24] btglau opened #13788 "Request: Start of line shortcut to go to start of TEXT, not start of LINE"
## Problem Description
When I press Control + A to go to the start of the line, the cursor moves to the true start of the line, including all tabs. This behaviour is frustrating especially as a pressing enter to get a new line will automatically indent, making copy-pastes of code have the wrong tab structure.

I am on MacOS.

I believe this issue has probably been addressed, but I have not been ab

[2020-09-15 22:31] steff456 commented on #13788
Hi @btglau,

I can reproduce this issue in macOS and Linux, I think that the `go to start of line` should move the cursor taking into account the indentation level. For now, in macOS you can achieve the expected behavior by pressing `fn + left arrow`, this is the "home" button of the OS.

We will work in fixing this for our next release. Thanks for reporting!

[2020-09-16 02:15] steff456 commented on #13788
@juanis2112 please take a look at this one

[2020-09-16 02:44] ccordoba12 commented on #13181
@spyder-ide/core-developers, although Isabella's proposals have some interesting ideas, I was thinking that she could help us to go in a new direction too: a redesign of the current logo, perhaps also reshaping the snake to display an S instead.

What do you think about that?

[2020-09-16 09:34] Sue-Fwl commented on #2430
Collapsing blocks of comments and regions/cells is something very essential, which I hope we seen soon in the next release!

[2020-09-16 14:42] ccordoba12 commented on #2430
This was already implemented in Spyder 4 and it's been available since December 2019.

However, code folding markers are hidden by default due to performance reasons (this is the same in VSCode). To show them you need to hover the mouse to the left of your code, as is shown below.

### Default view

![Selección_100](https://user-images.githubusercontent.com/365293/93352673-b47cfd00-f800-11ea-9c8b-

[2020-09-16 15:33] jacobfister opened #13790 "eternal error popup"
## Description

### What steps will reproduce the problem?

literally just opened the program. if I close the dialogue box it just opens again as soon as I click somewhere in the editor

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-16 16:01] skjerns commented on #13733
should work now! :)

[2020-09-16 17:00] gelango65 opened #13792 "dataset not opened in variable explorer"
## Description

### What steps will reproduce the problem?

The dataset in not opened in the dataframe of the variable explorer.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-16 17:47] Maxfooo opened #13793 "Pressed "Fast switch between files" button"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/usr/lib/python3/dist-packages/spyder/widgets/helperwidgets.py", line 127, in paint
    textRect = style.subElementRect(QStyle.SE_ItemViewItemText, options)
TypeError: subElementRect(self, QStyle.SubElement, QS

[2020-09-16 17:48] #13793 closed

[2020-09-16 18:46] jeremywood-ai opened #13794 "Right Click on Variable Name"
## Description

### What steps will reproduce the problem?

`Right-click` on *Variable Explorer* --> *Name* resulted in an internal problem.

Steps:

1. Went to `Options`
2. Turned off `Exclude Private References`
3. Realized I didn't want that --> Turned on `Exclude Private References`
4. `_` is the first entry in the *Name* column, `right-clicked` and errored.

### Traceback
[code]

## Versions

[2020-09-16 20:07] blyles2 opened #13795 "Trouble restarting kernel"
<!---   *** BEFORE SUBMITTING: PASTE CLIPBOARD HERE TO COMPLETE YOUR REPORT ***   ---!>

[2020-09-16 20:08] blyles2 commented on #13795
An error ocurred while starting the kernel
Traceback (most recent call last):
File "C:\Users\brian\anaconda3\lib\runpy.py", line 194, in _run_module_as_main
return _run_code(code, main_globals, None,
File "C:\Users\brian\anaconda3\lib\runpy.py", line 87, in _run_code
exec(code, run_globals)
File "C:\Users\brian\anaconda3\lib\site‑packages\spyder_kernels\console\__main__.py", line 23, in
start.main

[2020-09-16 20:14] #13786 closed

[2020-09-16 22:22] dalthviz commented on #13795
Hi @blyles2 could you provide a description of the circumstances where the error happens? Maybe a way step by step to reproduce this as well as the OS you are working, Spyder and Python versions and dependencies version you have in your installation?

Without more information we can't help you. Please check our [Basic first aid guide](https://docs.spyder-ide.org/current/basic-first-aid.html) to se

[2020-09-16 22:45] dalthviz commented on #13794
Hi @jeremywood-ai for the feedback, I was able to reproduce this! For now, as a workaround, you can trigger manually a refresh of the Variable Explorer using the refresh button. We will be checking this for a future release :+1:

Any new info or a way to fix this is greatly appreciated :)

[2020-09-16 22:55] dalthviz commented on #13792
Hi @gelango65 could you provide some example code that triggers this error? Also, could you try to update to our latest version (4.1.5) an check again? Thanks!

Note: Seems like this kind of error was posted before in #4999 but no further way to reproduce it was given :/

[2020-09-16 23:06] dalthviz commented on #13790
Hi @jacobfister this is a duplicate of #13121 for know you can try to disable Kite and/or try to reinstall Kite (maybe your Kite installation got corrupted). If you have more info about this issue feel free to post it in the mentioned issue :)

[2020-09-16 23:06] #13790 closed

[2020-09-16 23:36] blyles2 commented on #13795
I was saving a program I completed for a class, and as I was trying to restart the kernel, an error occurred. I have python installed on my surface pro, Windows 10 Home. I can't run a program now due to the error that happened and I'm not sure how to fix it.

Best,

Brianna
________________________________
From: Daniel Althviz Moré <notifications@github.com>
Sent: Wednesday, September 16, 2020 6:2

[2020-09-16 23:40] #13585 closed

[2020-09-17 03:35] avp1510 opened #13797 "no qt bindings could be found"
C:\Users\91988>anaconda-navigator
Traceback (most recent call last):
  File "D:\user\lib\site-packages\qtpy\__init__.py", line 204, in <module>
    from PySide import __version__ as PYSIDE_VERSION  # analysis:ignore
ModuleNotFoundError: No module named 'PySide'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "D:\user\Scripts\anaconda-

[2020-09-17 03:50] azyslzp opened #13798 "error"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "e:\anaconda3\lib\site-packages\spyder\widgets\variableexplorer\collectionseditor.py", line 449, in createEditor
    if not editor.setup_and_check(value, title=key, readonly=readonly):
  File "e:\anaconda3\lib\s

[2020-09-17 03:51] #13798 closed

[2020-09-17 04:21] MonkieDein opened #13799 "The issue reporter keep poping up"
## Description

### What steps will reproduce the problem?

FOR some reason I dont see any problem of spyder but the issue reporter keep poping up

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-17 04:21] #13799 closed

[2020-09-17 04:59] dalthviz commented on #13797
Hi @avp1510 seems like you have some installation issues but those are unrelated with Spyder (seems like you are running Anaconda Navigator and trying to use PyCharm?). Probably your environment got corrupted so a clean install of Anaconda could help also check if you have `pyqt` installed.

Since this is unrelated with Spyder I'm closing it but hopefully the info above could help you :)

[2020-09-17 04:59] #13797 closed

[2020-09-17 05:10] dalthviz commented on #13795
Hi @blyles2 maybe try resetting your preferences to default values (`Tools > Reset Spyder to factory defaults`) and be sure that you are using the latest Spyder available (version 4.1.5). Also, maybe your code ended up with some syntax error? (seems like a triple quoted string literal is causing the issue), something like leaving `"""` without closing the triple quotes.

Without more info to be ab

[2020-09-17 10:27] puruBHU opened #13800 "unable to restart kernel"
## Description

### What steps will reproduce the problem?

ctrl + . to restart the kernel is not working in Spyder Version 4.1.5

## Versions

* Spyder version: 4.1.5
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-17 13:02] bwinsto2 opened #13801 "Changing color of object in f-strings"
## Problem Description
I have a very simple issue that I haven't found an answer for here or online. Apologies if it exists somewhere.
Inside of f-strings, I'm wondering if there is a way to change the color of the object. For example in, `f'hello my name is {name}'`, I'm wondering if there is a way in spyder to set the color scheme such that {name} appears a different color than the rest of the s

[2020-09-17 14:15] mmagnuski commented on #13595
The same problem returned just now although I did not delete anything from Dropbox.

[2020-09-17 16:24] colt18 opened #13802 "Incorrect size shown after appending new key to the dictionary"
## Description

### What steps will reproduce the problem?

We have following dictionary with keys, values and sizes shown correctly.
![resim](https://user-images.githubusercontent.com/26602153/93499351-8b9d5a80-f91b-11ea-87e0-9c3329e5b9e4.png)

Then we add final key 'openTest_11.png' and poof. As the key is not appended to the end but inserted into mid(due to sorting keys), sizes are shown incorr

[2020-09-17 17:22] andfoy commented on #13801
Hi @bwinsto2, we are working in improving the syntax highlighting support for Spyder 5. The improvements include better support for semantic highlighting for Python as well as supporting more languages.

[2020-09-17 17:24] bwinsto2 commented on #13801
Ok--thanks.

[2020-09-17 17:24] #13801 closed

[2020-09-17 17:39] andfoy commented on #13800
Hi @puruBHU, thanks for opening this issue, however I wasn't able to reproduce it. Have you tried to reset your Spyder setttings by executing `spyder --reset`?

[2020-09-17 20:27] ccordoba12 commented on #13802
Hey @colt18, thanks for reporting. Sorry, this was a regression introduced in our 4.1.5 version (see issue #13733), but it was just fixed (see pull request #13791).

The fix will be available in our next version.

[2020-09-17 20:27] #13802 closed

[2020-09-17 20:42] #13733 closed

[2020-09-17 21:09] ccordoba12 commented on #13784
I think the problem here has to with either the lack of `setuptools` in your environment (which is needed to run `python setup.py develop`) or an old version of it. I'm mentioning that because `pyls_installation_dir` is created automatically in a conda env and it's removed when you exit `bootstrap.py`.

In any case, your solution is not the right one and (unfortunately) we don't have time to take

[2020-09-17 21:09] #13784 closed

[2020-09-17 21:11] ccordoba12 commented on #13784
Still no fix for that one, sorry too. But I plan to work on it next week.

[2020-09-17 21:25] texadactyl commented on #13784
My setuptools: 45.2.0.
I always keep all of the pypi-based packages up-to-date, just like my xubuntu 20.04.

I appreciate what you're saying about using Anaconda.  I am encouraging scientist users to migrate desktops ASAP.  Of course, servers and github/Travis processes will stay pip-oriented.

Not trying to put a load on you folks.  I already went back to the latest spyder.  I can wait on #13347.

[2020-09-17 21:29] texadactyl commented on #13784
One tactic that seems to work:
(1) Install and use Anaconda as much as possible.
(2) For packages that are not Anaconda-ready, operate in a separate virtual machine.  Don't mix with the local Anaconda repository.

[2020-09-17 21:59] kurt-rhee commented on #11041
I have this issue.  Spyder in the base environment works fine with spyder kernels in a virtual environment.  It does not work with spyder kernels in a different virtual environment.

[2020-09-18 02:34] whitehat007 opened #13803 "List of ignored linting warnings/errors not applied after app restart"
## Description

### What steps will reproduce the problem?

Every time I launch Spyder, the linting engine will fail to respect the list of ignored warnings/errors I set in preferences. Modifying the list in some way (say, add a space then delete) and then pressing Apply fixes the issue for the current session.

## Versions

* Spyder version: 4.1.5
* Python version: 3.8.1
* Qt version: 5.9.7
* PyQ

[2020-09-18 07:41] puruBHU commented on #13800
I did reset from `Tools-->Reset` Spyder to Factory default`.
It worked initially. But after some time the same problem recurred.

[2020-09-18 09:14] Z-chan opened #13804 "Spyder encounter issue"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "D:\Anaconda\envs\py35\lib\site-packages\spyder\plugins\ipythonconsole.py", line 890, in run_script
    self.execute_code(line, current_client, clear_variables)
  File "D:\Anaconda\envs\py35\lib\site-packages\sp

[2020-09-18 09:15] #13804 closed

[2020-09-18 12:21] ccordoba12 commented on #13800
@puruBHU, are you using Tensorflow in your code?

[2020-09-18 12:24] ccordoba12 commented on #13803
Hey @whitehat007, thanks for reporting. Do you start Spyder with an open project?

[2020-09-18 12:29] whitehat007 commented on #13803
Yes I do, and if I have multiple files open, the problem is with all of them (though I only need to do the workaround once).

[2020-09-18 14:40] trollodel commented on #816
Hi VCS folks.

One month ago, I started working to a VCS integration (PR #13562) and now it is complete enough to provide a simple pane to manage your repository (further details can be found in the PR).

I am writing here to ask anyone here to give me some advices or wishes that I should take in account.
If interested, I also create a [repository](https://gitlab.com/trollodel/spyder-vcs/) for tra

[2020-09-18 14:51] puruBHU commented on #13800
Yes, Tensorflow with Keras

[2020-09-18 14:54] ccordoba12 commented on #13803
That's what I imagined. This is a duplicate of issue #13351 and we'll try to fix it in our next release.

In the meantime, you can restart the Python language server by clicking on the `LSP Python` entry in our status bar to correctly apply your settings after Spyder starts:

![Selección_104](https://user-images.githubusercontent.com/365293/93612158-c68fa480-f994-11ea-9933-eb6a65d5d052.png)

[2020-09-18 14:54] #13803 closed

[2020-09-18 16:42] suzannejb opened #13805 "view dataframe with more than 700 columns"
## Description

### What steps will reproduce the problem?

--read json
--normalize it into a dataframe
--see the dataframe in the variable explorer
--double-click on the dataframe name

### Traceback
[code]

## Versions

* Spyder version: 3.3.6
* Python version: 3.7.6
* Qt version: 5.12.5
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-18 18:26] #13764 closed

[2020-09-18 20:35] PhysicsGuyBrian opened #13806 "object.[tab] causes internal error in IPython console"
## Description

### What steps will reproduce the problem?

In IPthon console...
import html as H
H.(tab) i.e. hitting tab for info after period results in internal error

Also, there is no automatic usage info displayed once I enter "dot", H.

UPDATE: This occurs NO MATTER what module.object I import.

### Traceback
[code]

## Versions

* Spyder version: 4.1.5
* Python version: 3.7.6
* Qt version

[2020-09-18 23:24] BenZickel opened #13807 ""Go to definition" causes error in Spyder 4.1.5 on Windows"
## Description

### What steps will reproduce the problem?

Any use of "Go to definition" in Windows with Spyder 4.1.5 raises this error.

### Traceback
[code]

## Versions

* Spyder version: 4.1.5
* Python version: 3.6.4
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-19 01:43] hemantbhai100 opened #13808 "please support VS keyboard shortcuts"
Any way of getting visual studio key bindings? F10 = step over, F5 = debug etc.

[2020-09-19 02:20] gorkagl opened #13809 "SVM Parameter Optimization Error"
## Description

### What steps will reproduce the problem?

IPython 7.13.0 -- An enhanced Interactive Python.

Restarting kernel...

 Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\Gorka\anaconda3\envs\deeplearning\lib\tkinter\__init__.py", line 1705, in __call__
    return self.func(*args)
  File "C:\Geophysics\Python\SYNAPSE-1D\MPT_Main.py", line 2324, in func_

[2020-09-19 02:28] DTIV opened #13810 "not showing drop down menu"
## Description

### What steps will reproduce the problem?

spyder is not showing drop down menu for modules and functions

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.7
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-19 05:10] pracplayopen opened #13811 "segmentation fault w/fresh spyder install"
### Issue Report Checklist

* [x ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not

[2020-09-19 06:34] pracplayopen commented on #13811
as a work around, was able to get dev version installed from github to a clean conda environment (per: https://github.com/spyder-ide/spyder/blob/master/CONTRIBUTING.md)

The only differences between stable install and spyder github dev are:

1. github instructions use a spyder channel to install conda packages  (not conda-forge)
1. github instructions pin to versions, tho all the versions seem to

[2020-09-19 08:55] ctmalan opened #13812 "Error in tutorial"
## Description

### What steps will reproduce the problem?

"If you prefer to inspect your program at a specific point, you need to insert a breakpoint by pressing F12 on the line on which you want to stop, or double-clicking to the left of the line number. A red dot in this position indicates a breakpoint; it can be removed by repeating the same procedure."

should read:

"If you prefer to inspec

[2020-09-19 09:27] kaleb-keny opened #13813 "Trying to Open Project"
## Description

### What steps will reproduce the problem?

Just pressing on Project, Open Project gives this error.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-19 09:27] #13813 closed

[2020-09-19 13:12] bnavigator commented on #13806
Not a spyder bug. Same will occur in jupyter qtconsole. Update to qtconsole 4.7.7
https://github.com/jupyter/qtconsole/issues/437

[2020-09-19 14:04] mmagnuski commented on #13595
I have reset Spyder again, but the next day the problem returned.

[2020-09-19 14:09] ma-sadeghi commented on #10849
Thanks for looking into this. Actually, by "project" I meant the "library".

From the conversations in this thread, I gather that what I want is currently not possible. Is that right?

The reason I ask for this feature is that the way I use Spyder projects is for personal projects in which I use different public libraries. In this case, it's super handy to access the documentation of those librari

[2020-09-19 15:05] ccordoba12 commented on #10849
Could you provide an example of those libraries?

[2020-09-19 15:07] ccordoba12 commented on #13808
Hey @hemantbhai100, thanks for reporting. You adjust our keyboard shortcuts to your preferences by going to the menu

    Tools > Preferences > Keyboard shortcuts

[2020-09-19 15:07] #13808 closed

[2020-09-19 15:09] ccordoba12 commented on #13807
Hey @BenZickel, thanks for reporting. Could you provide a source code example that it's generating this error?

Otherwise it's won't be possible for us to come up with a solution for it.

[2020-09-19 15:12] ccordoba12 commented on #13805
Hey @suzannejb, thanks for reporting. Unfortunately we don't support Spyder 3 anymore.

Please update to our latest version by opening the Anaconda prompt and running the following commands

    conda update anaconda
    conda install spyder=4.1.5

That could solve your issue.

[2020-09-19 15:20] ccordoba12 commented on #13806
Thanks for pointing out the cause @bnavigator.

@steff456, since this is a very serious error, let's increase our minimal required version for qtconsole to `4.7.7`. You need to do that in the following files:

* setup.py
* spyder/dependencies.py
* requirements/conda.txt
* binder/environment.yml

[2020-09-19 15:22] BenZickel commented on #13807
In order to reproduce this just open a new file in the editor and put the below line in it:

from collections import namedtuple

Now try to select namedtuple and use "Go to definition" on it.

[2020-09-19 15:52] ccordoba12 commented on #13632
Thanks @impact27 for your help!

[2020-09-19 16:00] ccordoba12 commented on #13810
Hey @DTIV, thanks for reporting. This problem is fixed in our latest version. Please update by opening the Anaconda Prompt and running there

    conda update anaconda
    conda install spyder=4.1.5

[2020-09-19 16:00] #13810 closed

[2020-09-19 17:18] ccordoba12 commented on #13809
@gorkagl, thanks for reporting. This could be fixed in our latest version. Please update by opening the Anaconda Prompt and running there

    conda update anaconda
    conda install spyder=4.1.5

[2020-09-19 17:20] ccordoba12 commented on #13811
Hey @pracplayopen, thanks for reporting. This seems a problem in your system or conda-forge, and not in Spyder. You could try to install everything from `defaults` in a new environment.

Other than that, we don't have more recommendations for you, sorry.

[2020-09-19 17:20] #13811 closed

[2020-09-19 17:22] ccordoba12 commented on #13812
Hey @ctmalan, thanks for reporting. We'll take a look at this in a future version.

[2020-09-19 17:27] ccordoba12 commented on #13644
activate cpu
conda update --all
conda install spyder
conda install tensorflow
pip install pyfftw
pip install yattag
pip install tqdm
pip install hurry.filesize
pip install matplotlib
pip install Pillow
pip install sklearn

Please install everything (or the  most packages that you can) with conda. Mixing conda and pip usually leads to this kind of odd errors.

[2020-09-19 17:27] ccordoba12 commented on #13800
Thanks for the confirmation. Then this is a duplicate #13336 (we don't know why it happens, sorry).

[2020-09-19 17:27] #13800 closed

[2020-09-19 17:29] ccordoba12 commented on #12462
This looks like an installation issue and not related to Spyder.

[2020-09-19 17:29] #12462 closed

[2020-09-19 17:31] ccordoba12 commented on #13784
Thanks for understanding.

[2020-09-19 18:18] ccordoba12 commented on #13807
Maybe the issue is with Python 3.6.

@dalthviz, could you try to reproduce this on Windows?

[2020-09-19 19:22] ccordoba12 commented on #13762
@steff456, to solve this issue, please take a look at the `__mark_occurrences` method of `CodeEditor`. There we build the list of occurrences, which we can avoid if the length of that list is equal to one.

[2020-09-19 22:15] LudgerHentschel opened #13815 "Blocky monospaced fonts in Spyder Mac OS Catalina"
Spyder (4.1.5) displays monospaced fonts in a weird "bold" and blocky format under Mac OS Catalina. Other applications display the same monspaced fonts without this issue. (Proportionally spaced fonts in the Help pane in Spyder also look OK to me.)

These blocky monspaced fonts in Spyder materially reduce readability and seem undesirable to me. I recognize that this is partly a matter of personal

[2020-09-20 00:44] shankyemcee commented on #5819
I just recently installed spyder 4.0.1 and when i try to view a dataframe in my variable explorer it only shows the dataframe attributes. How can i see my data?
![image](https://user-images.githubusercontent.com/30503832/93691822-d86a6800-fab8-11ea-9409-e54278ce1b5d.png)

[2020-09-20 02:06] ccordoba12 commented on #13013
I hope this is solved by now (no else has reported this problem in the last couple of months).

If the problem persist, please let us know.

[2020-09-20 02:06] #13013 closed

[2020-09-20 02:28] ccordoba12 commented on #13252
Hey @drammock, sorry for the big delay in coming back to you. I finally got a change to test this and was unable to reproduce it.

The command I used were:

* `conda create -n test-stable python=3.7 spyder`to create a stable env with packages from `defaults` using Python 3.7 and Spyder.
* `conda create -n test-external-py38 python=3.8 spyder-kernels`to create an env with Python 3.8 and `spyder-ker

[2020-09-20 02:34] ccordoba12 commented on #13815
Hey @LudgerHentschel, thanks for reporting. I also think this is an issue with Qt, hence something we can't fix directly. We just need to wait until Anaconda publish packages for more recent Qt versions, sorry.

[2020-09-20 02:34] #13815 closed

[2020-09-20 02:37] CAM-Gerlach commented on #13784
@ccordoba12 I can reproduce the exact same error message (with some additional information) on Windows in my fully conda-installed Spyder dev environment (originally created via the steps in the contributing guide perhaps a few months back) when I run `python bootstrap.py` in my Spyder dev environment with PR #13281 checked out, after not having run it from some weeks (before you bumped the PyLS v

[2020-09-20 02:49] ccordoba12 commented on #13784
I'd really appreciate your help with this one.

I think @dalthviz also mentioned at some point that doing `git clean -xfdi` fixes this problem (perhaps because it removes the previous way we had to install the PyLS in development mode).

[2020-09-20 13:43] texadactyl commented on #13784
@CAM-Gerlach
Does my suggested fix solve your issue with an Anaconda environment on Windows?  I would guess so.

[2020-09-20 16:53] CAM-Gerlach commented on #13784
@ccordoba12 @texadactyl I can give both a shot, assuming I can reliably repro it. Your fix looks fine, apart from some semantic improvements. If a later version of `setuptools` fixes this, it seems it lies between (45.2.0, 49.6.0] since I had an older version than you previously (42.x).

[2020-09-20 17:34] dalthviz commented on #13807
@ccordoba12 testing with Python 3.6.4 seems like `Go to definition` isn't working (although no error is raised for me). Just in case this is the env used for the testing:

<details>

[code]

</details>

[2020-09-20 19:07] debortolin opened #13819 "File Won't Open"
## Description

### What steps will reproduce the problem?

My file wont open. I just want to open it but I think I need to do this first.

### Traceback
[code]

## Versions

* Spyder version: 3.3.6
* Python version: 3.7.0
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 19.0.0

### Dependencies

[code]

[2020-09-20 19:15] DOH-Manada opened #13820 "How to configure Spyder preferences to behave like other terminals with respect to absolute and relative imports?"
### Issue Report Checklist

* [X] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [X] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [X] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-09-20 19:34] debortolin opened #13821 "Oh my Good god i"
## Description

### What steps will reproduce the problem?

Hello I want to use my program and I cannot do it. Okay!

### Traceback
[code]

## Versions

* Spyder version: 3.3.6
* Python version: 3.7.0
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 19.0.0

### Dependencies

[code]

[2020-09-20 19:48] SandeepShaw2017 commented on #10081
Facing similar problem ... have upgraded to 4.1.15 ... still facing the same problem ... console freezes when os.chdir to a folder having large number of files ....

[2020-09-20 20:20] yomoko opened #13822 "Index column not showing correctly in variable explorer for 4.1.5"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-09-20 23:26] ccordoba12 commented on #13807
Could you update python-jsonrpc-server to 0.3.4 and try again?

I don't think that will make much of a difference, but just in case.

[2020-09-20 23:34] newbiestudies opened #13823 "sympify deprecated"
## Description

### What steps will reproduce the problem?

I'm just trying to fix that sym won't solve for sqrt in my function. Tried def var locally but I've only been coding for a week so I have no idea what else to do :(

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[2020-09-20 23:34] #13823 closed

[2020-09-21 00:30] ccordoba12 commented on #13821
Hey @debortolin, thanks for reporting. This is not a problem with Spyder but with macOS Catalina.

For a possible fix, please visit this link:

https://stackoverflow.com/questions/58372768/file-permissions-issue-with-python-spyder-anaconda-after-upgrading-mac-to-catali

[2020-09-21 00:30] #13821 closed

[2020-09-21 01:17] evasmere opened #13824 "Spyder Stopped Responding"
## Description

### What steps will reproduce the problem?

I was writing code and Spyder stopped responding unexpectedly.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 19.6.0

### Dependencies

[code]

[2020-09-21 01:33] ccordoba12 commented on #13822
Hey @yomoko, thanks for reporting. This is a duplicate of issue #13544.

We'll try to fix it in a future release.

[2020-09-21 01:33] #13822 closed

[2020-09-21 01:35] ccordoba12 commented on #13824
Hey @evasmere, thanks for reporting. We solved almost all freezes in our latest version. Please update by closing Spyder, opening Terminal.app and running there

    conda update anaconda
    conda install spyder=4.1.5

Let us know if that solves the problem for you.

[2020-09-21 01:38] ccordoba12 commented on #13819
Hey @debortolin, this is a duplicate of #13821.

[2020-09-21 01:38] #13819 closed

[2020-09-21 01:51] ccordoba12 commented on #13820
Hey @DOH-Manada, thanks for reporting. I think you need to use a [Spyder project](http://docs.spyder-ide.org/current/projects.html) in this case, which will add the directory you selected for your project to `sys.path`.

That will allow you to have statements in your code like `import get_data` (as long as `get_data.py` is in the root of your project). Please try it and let us know if it works for

[2020-09-21 01:52] ccordoba12 commented on #13773
Closing due to lack of response.

[2020-09-21 01:52] #13773 closed

[2020-09-21 01:53] ccordoba12 commented on #13770
Closing due to lack of response.

[2020-09-21 01:53] #13770 closed

[2020-09-21 03:12] chrismaliszewski commented on #13644
@ccordoba12, it isn't mixing conda and pip. The previous version of an env I had that was working find had the same installation instructions.

@andfoy, I think I found the reason for the problem. I simply needed to turn warning/logs/info off. I may have done it in the past looong time ago in the env itself so I didn't need to do that in my code and I forgot about this when creating a new env. Aft

[2020-09-21 03:52] ccordoba12 commented on #13644
You're clearly installing some packages with pip and others with conda. It doesn't matter if your previous env was working, that mix always causes strange errors. So please don't report issues with that kind of setup again, in case you want to keep it.

That's good to know.

[2020-09-21 04:04] chrismaliszewski commented on #13644
@ccordoba12, I'm not saying it doesn't cause strange errors just **it isn't the cause of the problem** since everything worked before and a new kind of issue appeared causing the problem.

[2020-09-21 04:04] chrismaliszewski commented on #13644
It looks like you're threating you'll delete an issue if you don't like it. I'm shocked. In my personal opinion, you shouldn't be involved with the community with your attitude because you may cause more harm/don't help at all instead of helping others. I don't have anything else to say to that...

[2020-09-21 04:06] #13644 closed

[2020-09-21 05:02] bcolsen commented on #13181
I like the new red. I would like to see also like to see 3-6 with the new red.

I also really like 3-13. I think the hexagon captures enough of the original logo idea to still be recognizable.

I think the original "y" gave it a nice edge. For some reason the new one make the "spy" part stand out. I could be the curve.

I'm not sure that we need a snake on the logo, aren't we looking to include mo

[2020-09-21 05:30] ccordoba12 commented on #13644
Issues are not deleted. My comment was directed to clarify that we simply can't offer more support if you want to ignore our advice and keep mixing pip and conda packages in the way you're doing it now, even when it's known it causes tons of problems and odd bugs. For instance, the pip and conda Numpy packages are totally incompatible on Windows, so using a conda installed Spyder with a pip Numpy

[2020-09-21 09:57] annukkaa opened #13825 "Can't open dataframes in variable explorer"
### Issue Report Checklist

* [ x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not

[2020-09-21 10:34] annukkaa commented on #13792
I'm facing a similar problem [here](https://github.com/spyder-ide/spyder/issues/13825#issue-705452755)

[2020-09-21 11:45] wangzhenassd opened #13826 "Bug by opening a dict with string and tuple as keys in variable explorer"
## Description

### What steps will reproduce the problem?

a = {"a": 1, ("b", 2):23}
By create a python dictionary with string and tuple as keys, spyder failed to open it in the variable explorer

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-21 13:39] newbiestudies opened #13827 "Trying to learn code"
## Description

### What steps will reproduce the problem?

I'm redefining variables in deferential equations. I have no idea why it keeps throwing errors.

### Traceback
[code]

## Versions

* Spyder version: 4.1.4
* Python version: 3.8.3
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-09-21 13:39] #13827 closed

[2020-09-21 14:30] DOH-Manada commented on #13820
@ccordoba12  Yes, it did. I set my project's directory to folder_name/src, and I can change the working directory to folder_name in the run command
[code]
Which gives me the same behaviour as `python3 src/script_name.py` in the terminal (from folder_name).

Thank you. You may close this.

[2020-09-21 14:31] ccordoba12 commented on #13181
Right, that's a good point. But my suggestion is to show an S on top of the spider's web.

[2020-09-21 15:17] dalthviz commented on #13807
Checking that didn't work, however if I change my interpreter to one I have with python 3.7.9 the go to definition works as expected (event if Spyder was started from the Python 3.6.4 env).

Something else is that the hover tooltips doesn't work either . Checking a little bit more, seems like the problem is the PyLS and Jedi versions with Python 3.6. If I change Jedi to 0.15.2 and python-language-