[2015-07-02 20:29] dhoegh commented on #2510
This is exactly how the 3d array viewer works does a slice always produced a dataframe?

[2015-07-02 20:31] scls19fr commented on #2510
I think so but maybe @jreback or @wesm can confirm or infirm this.

[2015-07-02 20:40] scls19fr opened #2512 "Index column of Pandas DataFrame should be visible all the time"
Hello,

Index of Pandas DataFrame should be in a frozen pane in variable explorer

![capture d ecran 2015-07-02 a 22 36 20](https://cloud.githubusercontent.com/assets/109167/8487256/20e02cec-210b-11e5-853e-b1cc924f66de.png)
![capture d ecran 2015-07-02 a 22 36 30](https://cloud.githubusercontent.com/assets/109167/8487259/226be470-210b-11e5-8ad5-8cedc575288a.png)

Kind regards

[2015-07-02 20:49] scls19fr opened #2513 "Better display of Pandas DataFrame with multiindex"
Hello,

Here is some code to make a Pandas DataFrame with multiindex

[code]

It will be nice to improve display of Pandas DataFrame with multiindex.

![capture d ecran 2015-07-02 a 22 43 30](https://cloud.githubusercontent.com/assets/109167/8487417/443d2e28-210c-11e5-9ff2-33c4eb5eef76.png)

Sorry for this other issue / enhancement request.
That's probably a hard one.

Kind regards

[2015-07-02 21:12] jreback commented on #2510
``Panels`` can be easily converted to multi-index frames. This is a flattened version of a ``Panel``.

[code]

If you want to slice, then ``Panel``s follow the same semantics, e.g. if you specifiy for an indexer a scalar value then you would get a ``DataFrame``

e.g.

[code]

multi-indexers / lists will produce a shape based on what you are sub-selecting, e.g.

[code]

note that these are all cons

[2015-07-02 21:33] Temmplar commented on #2503
2.3.4. O.K. I will update then, and inform you if I found this issue again. Thank you for your help.

[2015-07-02 21:44] kapoost opened #2514 "DataFrames with headers that contain BOM utf-8 data are freezing/crashing Spyder (in Python 2)"
I've found that reason of Variable explorer crashes might be BOM gibberish (for example: '\xef\xbb\xbf') that appears at beginning of first column name. It is invisible for df.columns but appears when I call df.columns[0]. For some reason pd.read_csv() doesn't strip this.

**Workaround is always check name using df.columns[0] & changing it before using Variable explorer**

[2015-07-02 21:46] ccordoba12 commented on #2513
I don't know how easy this could be to do.

@dhoegh, would you mind to take a look at it?

[2015-07-02 21:48] ccordoba12 commented on #2512
I can take a look at this one. Don't know if it's possible in Qt though :-)

[2015-07-03 08:15] bilderbuchi commented on #2512
also, why are the columns so unnecessarily wide? seems to waste an awful lot of space :-/

[2015-07-03 09:25] hofingermarkus opened #2515 "Spyder debugger experience - jump to code line/Move current debug position"
Hi guys,

I really think Spyder is awesome and I would like to make a suggestion for an even further enhancement :)

It would be great if Spyder provided some graphical representation for pdb's "j(ump) lineno" command, that allows to set the next line that will be executed during debugging.
This is such a powerful debugging tool, as it allows to skip over malfunction code or to go back if you miss

[2015-07-03 11:22] markushartmann opened #2516 "Spyder 2.3.5.2 Mac, Preferences window does not open"
Hello,

up to now I used Spyder 2.2.5 on my Mac with Yosemite, I like to update to Spyder 2.3.5.2.. In the new version when I try to open the preference window this error occurs:

    File "/Applications/Spyder-Py2.app/Contents/Resources/lib/python2.7/spyderlib/spyder.py", line     2005, in edit_preferences
      widget.initialize()
    File "/Applications/Spyder-Py2.app/Contents/Resources/lib/pyt

[2015-07-03 17:26] ccordoba12 commented on #2514
@kapoost, thanks for creating this issue. On question: what do you mean exactly by

How do we need to change it?

[2015-07-03 17:28] ccordoba12 commented on #2515
Thanks for the suggestion, it's very intersting! We'll see what we can do about it.

[2015-07-03 17:30] ccordoba12 commented on #2516
Please run

    rm -R ~/.spyder2

in a terminal and try again.

[2015-07-03 19:25] kapoost commented on #2514
As I've mentioned - it is only workaround so basically I'm doing it like this:
[code]
this gives me DataFrame without faulty name of first column so  Spyder don't crashes when I'm opening Variable explorer and browsing data in visual mode :)

I think that simplest solution would be correcting read_csv() But I've found that it is old unresolved issue: https://github.com/pydata/pandas/issues/4793

[2015-07-04 16:37] geancarlo opened #2517 "Variable explorer auto-refreshes after kernel restarts"
Hi,
this issue is similar to #1958 .

I have disabled Spyder's autorefresh feature but the variable explorer still refreshes automatically. The IDE is unusable when I have series of loops and complicated nested data structures because the variable explorer freezes the execution of my code frequently, causing it to take much longer to complete than when executed on an ipython console.

I'm using Sp

[2015-07-04 18:14] ccordoba12 commented on #2517
Refreshing should only occur at the end of a given computation. The auto-refresh option means that refreshing is done at a certain amount of time, but that's disabled for IPython consoles.

So, please post a reproducible example to see what's happening in this case :-)

[2015-07-04 18:45] geancarlo commented on #2517
Thanks for the quick reply.
First, I have disabled the autorefresh by unticking the checkbox. When I run the following simple script (F5/runfile(...)), I can see in the variable explorer the value of n being updated.

In particular:
* If I have the refresh interval set to 4000ms, I see the value being incremented in steps of four (with approx. +-1 variations)
* If I have the refresh interval set t

[2015-07-05 12:39] Temmplar opened #2518 "debug - breakpoints inconvenience"
Spyder is in debug mode.
I have set several breakpoint in my script.
When I start the debugging, spyder automatically run to the first breakpoint not allowing me to do anything before. If I want to make some step before, I have to remove all the breakpoints, start the debugging, set the breakpoints back and then it makes steps properly. Is there any way to avoid this function?

[2015-07-05 13:44] ccordoba12 commented on #2518
It was a very common complaint that Spyder didn't move to the first breakpoint automatically. and instead remained at the beginning of the file. That's why we added this functionality a couple of releases ago.

However, there's an easier way to make Spyder stop before your first breakpoint: just add another breakpoint before it, preferably on the first line of your file that's not empty or has a c

[2015-07-05 13:44] #2518 closed

[2015-07-05 14:07] igordsm commented on #2354
I have just sent a PR for this.

[2015-07-05 16:48] #2342 closed

[2015-07-05 21:31] markushartmann commented on #2516
Thank you very very much, thats it, not sure how many hours I searched for this error.

[2015-07-05 21:39] ccordoba12 commented on #2516
Great! In Spyder 3.0 there's going to be an option to do this from our interface.

[2015-07-05 21:39] #2516 closed

[2015-07-05 21:40] ccordoba12 commented on #2516
I mean, a menu entry.

[2015-07-06 07:11] Garrett-R opened #2520 "Code analysis underlines all matches of "unused local variable""
In the code below the editor correctly underlines `result` since it's assigned to, but never used.  It incorrectly underlines part of `get_result()`.

![wrong_underlining](https://cloud.githubusercontent.com/assets/6614695/8517235/872b1ca4-2373-11e5-9448-50f4d450174f.png)

[2015-07-06 08:05] goanpeca commented on #2520
Hi @Garrett-R, thanks for reporting this, indeed a small visual bug, we need to improve(or implement?) the regex.

Cheers

[2015-07-06 11:09] Temmplar commented on #2518
Well if the crowd is so divided regarding this function, may consider a debug config option.

[2015-07-06 16:06] jhconning opened #2521 "Printing from the editor shows dark background or blank text"
I've set the Editor syntax/color theme to Spyder/Dark which works fine.  The problem is that the dark background is now also being applied to the printed page (and print preview) which does not seem right and wastes ink.  I'm using Spyder 2.3.5.2 and do not recall having this problem before. Here is a screenshot of print-preview and that's how it came out on the printer.
![image](https://cloud.git

[2015-07-06 16:54] ccordoba12 commented on #2521
Thanks for reporting. We barely use the print functionality so we weren't aware of this problem.

I'll try to fix it for our next version.

[2015-07-06 19:06] AlanZZhao opened #2522 "Documentation for beginners?"
I'll preface by saying I'm not sure if this is the right place to ask, but is there any available documentation for beginners?

I've been using Spyder for a few weeks now and loving it, but I still feel like I'm scratching the surface of what's possible, even at a beginner level. Are there any good resources out there that provide a comprehensive intro to the features and use?

The current documen

[2015-07-06 22:14] goanpeca commented on #2522
Thanks @AlanZZhao for your comments, the spyder development team tries hard to develop new features and fix bugs, but it is true that we could use a hand in the documentation department.

The PyCharm Quickstart guide could serve as a template for a new documentation. The projects capabilities are being worked at this moment for the release of version 3.0, so hopefully we will have a better tutoria

[2015-07-06 23:16] ccordoba12 commented on #2520
I think `pyflakes` (the library we use to provide this functionality) is not able to tell what's the unassigned variable in lines like the one you provided.

We'll have to see if that has changed in later versions, or use a replacement for it :-)

[2015-07-08 18:18] #478 closed

[2015-07-08 18:18] #494 closed

[2015-07-08 18:18] #1940 closed

[2015-07-08 18:18] #2125 closed

[2015-07-08 22:48] ccordoba12 commented on #2036
Just for the record, the only solution right now is to use the `Gtk` Qt theme. Any other theme shows this problem.

[2015-07-09 21:20] dougthor42 opened #2524 "Add ability to move around words via Alt+LeftArrow or Alt+RightArrow"
Just brainstorming here...

We have the ability to move lines up and down with <kbd>Alt</kbd>+<kbd>↑</kbd> and <kbd>Alt</kbd>+<kbd>↓</kbd>. **What if we had the ability to move *words* left and right with <kbd>Alt</kbd>+<kbd>←</kbd> and <kbd>Alt</kbd>+<kbd>→</kbd>?**

I ran into this thought when I was refactoring a function. I want to change
[code]
to
[code]

-----
### The usage could be as follo

[2015-07-10 00:01] DSLituiev opened #2525 "python3.4 console dies after first command"
installed latest dev version. [ debugging is hardly possible with `ipython`](https://github.com/spyder-ide/spyder/issues/2395). and unfortunately the plain python console dies after first command, e.g.

    print('hello')

[2015-07-10 00:03] DSLituiev commented on #2525
the same with the `python2.7.6`
installed with `pip3`

[2015-07-10 12:23] ccordoba12 commented on #2525
What operating system are you using?

[2015-07-10 12:24] ccordoba12 commented on #2525
Closing because this is a duplicate of issue #2308.

[2015-07-10 12:24] #2525 closed

[2015-07-10 12:26] ccordoba12 commented on #2524
It seems an interesting idea but (most) probably hard to get it right on all situations.

I don't know if one of the @spyder-ide/core-developers is willing to implement it ;-)

[2015-07-10 12:28] goanpeca commented on #2524
It is indeed interesting, I could see myself using it :-), not a priority, but seems like a "fun" project

[2015-07-10 15:56] dougthor42 commented on #2524
and

I was thinking the same thing.

[2015-07-11 17:24] ccordoba12 opened #2527 "More suggestions for the "Spyder 3" icon theme"
Discussed with @SylvainCorlay in person:

In Preferences:
- [x] Use a keyboard icon for *Keyboard shortcuts* entry
- [x] Use a palette icon for *Syntax coloring*
- [x] Use the Python icon for *Console*
- [x] Use `question-circle` for the *Object Inspector*

Other suggestions:
* Add a menu entry to our main contextual menu so that people can decide the size of icons in toolbars. Suggested options:

[2015-07-11 20:53] borisroosevelt opened #2528 "Crash on start in OS/X 10.9.5 / spyder 2.7"
Process:         Spyder-Py2 [402]
Path:            /Applications/Spyder-Py2.app/Contents/MacOS/Spyder-Py2
Identifier:      org.spyder-ide
Version:         2.3.5.2 (0.0.0)
Code Type:       X86-64 (Native)
Parent Process:  launchd [177]
Responsible:     Spyder-Py2 [402]
User ID:         501

Date/Time:       2015-07-11 13:47:40.677 -0700
OS Version:      Mac OS X 10.9.5 (13F1096)
Report Version:  11

[2015-07-12 15:31] #2308 closed

[2015-07-12 19:01] ccordoba12 commented on #2348
I'm going to solve this one as part of solving #2471 (by limiting the number of backends we support).

[2015-07-12 19:31] kvico opened #2529 "Spyder 2.3.5.2 crashes on OS X 10.10.4"
Spyder 2.3.4 without problems on OS X 10.10.4. But Spyder 2.3.5.2 crashes, see crash log
https://gist.github.com/9adaafa42060db42f268

Any idea to prevent this?

[2015-07-12 19:49] ghost opened #2530 "Matplotlib windows are not shown in front of Spyder on OS X"
I updated to Anaconda 2.3.0 (OS X 64 bit, Python 2.7) with Spyder 2.3.5.2. I configured Spyder with interactive graphics but then no graphic window is shown. Only inline graphics work.

I deleted the Anaconda installation and the Anaconda configuration folders with `rm -rf .conda/ .spyder2/ .ipython/ .matplotlib/` and installed Anaconda 2.3.0 again. But that didn't help.

Any idea how to get inter

[2015-07-12 20:57] ccordoba12 commented on #1221
Let's hope this is solved after the move to PyQt5.

[2015-07-12 20:57] #1221 closed

[2015-07-12 20:59] ccordoba12 commented on #2529
Please post your dump in a gist so it can be easily readable

[2015-07-12 21:01] ccordoba12 commented on #2530
Questions:
1. What's the exact name of the option you're using to set interactive graphics?
2. Are you doing it for Python or IPython consoles?

[2015-07-12 21:02] ccordoba12 commented on #2061
This was solved in PR #2226.

[2015-07-12 21:02] #2061 closed

[2015-07-12 22:30] ccordoba12 commented on #2495
This is basically a duplicate of issue #478, which was already solved :-)

[2015-07-12 22:31] #2495 closed

[2015-07-12 22:35] ccordoba12 commented on #2475
I think there's no much need for sorting now, but if you want to do it @dougthor42 (again ;-), you're welcome to.

[2015-07-13 04:48] ccordoba12 commented on #1880
@gb119, any confirmation on this one? Was it fixed by the latest pyzmq?

[2015-07-13 04:57] ccordoba12 commented on #1744
Closing as duplicate of issue #1860

[2015-07-13 04:57] #1744 closed

[2015-07-13 05:02] ccordoba12 commented on #1704
This is related to Projects, so assigning @goanpeca to solve it :-)

[2015-07-13 05:08] ccordoba12 commented on #1625
This was solved in 2.3.5.2

[2015-07-13 05:08] #1625 closed

[2015-07-13 05:12] ccordoba12 commented on #1503
Another project issue for @goanpeca :-)

[2015-07-13 05:16] ccordoba12 commented on #1433
Closing as duplicate of issue #1704

[2015-07-13 05:16] #1433 closed

[2015-07-13 05:18] ccordoba12 commented on #1415
We need to tackle this one once the new projects arrive.

[2015-07-13 05:19] ccordoba12 commented on #1404
@goanpeca, is this still an issue for after your work on layouts was merged?

[2015-07-13 05:20] ccordoba12 commented on #1394
This was solved by PR #2349.

[2015-07-13 05:20] #1394 closed

[2015-07-13 05:25] ccordoba12 commented on #1365
This is an old issue. Closing :-)

[2015-07-13 05:25] #1365 closed

[2015-07-13 05:27] ccordoba12 commented on #1346
This is an old issue. Closing.

[2015-07-13 05:27] #1346 closed

[2015-07-13 05:28] ccordoba12 commented on #1274
Closing because we were never able to confirm this issue.

[2015-07-13 05:28] #1274 closed

[2015-07-13 05:39] ccordoba12 commented on #1203
Closing as duplicate of issue #1431.

[2015-07-13 05:39] #1203 closed

[2015-07-13 05:39] ccordoba12 commented on #1658
Closing as duplicate of issue #1431.

[2015-07-13 05:39] #1658 closed

[2015-07-13 05:43] ccordoba12 commented on #1164
This is basically session management. So closing as duplicate of #1704

[2015-07-13 05:43] #1164 closed

[2015-07-13 05:45] ccordoba12 commented on #1154
Closing as duplicate of #1431

[2015-07-13 05:45] #1154 closed

[2015-07-13 05:49] ccordoba12 commented on #1053
Closing as duplicate of #1860

[2015-07-13 05:49] #1053 closed

[2015-07-13 06:00] ccordoba12 commented on #656
Maybe as part of the new projects stuff, but leaving it for later.

[2015-07-13 06:01] ccordoba12 commented on #265
This is not needed now :-)

[2015-07-13 06:01] #265 closed

[2015-07-13 06:10] goanpeca commented on #1404
Yes it is but is a bit random... So not sure how to fix it

[2015-07-13 06:20] sonofeft opened #2531 "In findreplace, if nothing is highlighted, use word under cursor"
exporting patch:
# HG changeset patch
# User Charlie Taylor <cet@appliedpython.com>
# Date 1436767842 25200
#      Sun Jul 12 23:10:42 2015 -0700
# Node ID 5d95a37d1309aac2ec4ea7451655edd8bfdcfd27
# Parent  47db1814fe30fb34a299e732d21c6a0ef8d60617
If no text is highlighted for search, use whatever word is under the cursor

diff -r 47db1814fe30 -r 5d95a37d1309 spyderlib/widgets/findreplace.py
--- a

[2015-07-13 06:24] #2531 closed

[2015-07-13 08:08] gb119 commented on #1880
Yes - sorry forgot to report it all seemed good now. Thanks for fixing !

[2015-07-13 08:32] kvico commented on #2529
Gist with Spyder 2.3.5.2 crash log https://gist.github.com/9adaafa42060db42f268.git

[2015-07-13 08:54] kvico commented on #2530
Steps to reproduce:

1.) Start Spyder 2.3.5.2 from Anaconda Launcher
2.) Go to preferences -> IPython console -> Graphics -> Backend: changed to "Automatic"
3.) Select "Apply" and close preferences
3.) Restart IPython kernel
4.) Show simple graphic like sin(x)
=>  No interactive window pops up or is open in the background

Also quit Spyder and restart after change in preferences didn't shows the i

[2015-07-13 11:35] kvico commented on #2529
Added gist link to my initial comment.

[2015-07-13 23:37] kyleellefsen opened #2534 "Must press Enter multiple times for interpreter to execute command"
This bug exists in spyder 2.3.5.2 and in spyder 3.0.0.dev0, which I installed from the github source code today.  I'm running Python 3 (the bug is not as bad in python 2, but still exists) and Windows 7.  If I run the following code in a new python interpreter inside Spyder by highlighting the code and pressing F9, I have to press Enter multiple times for a plot to be displayed.

[code]

However,

[2015-07-14 01:46] JimHokanson opened #2535 "Unable to open traceback links in the editor"
I'm using Spyder 2.3.4, Python 3.4.3 64 bit

When I run a file and get an error some files are printed in the traceback as File "..\path\to\file.py"

The first one is usually the full path and subsequent files have this abbreviation (the '..').

Clicking on the abbreviated file paths does not open the editor to the file from which that error was thrown.

[2015-07-14 05:48] ccordoba12 commented on #2534
We are aware of this bug, it's a duplicate of issue #1831, so I'm closing this one

I've spent at least 40 hours trying to fix it, but it's very, very tricky to do it. For now, please use the IPython console, which doesn't have this problem

[2015-07-14 05:48] #2534 closed

[2015-07-14 05:50] ccordoba12 commented on #2535
Please give us a reproducible example that we can use to test and solve this problem in our side.

[2015-07-14 05:51] ccordoba12 commented on #2496
Closing because of lack of further info

[2015-07-14 05:51] #2496 closed

[2015-07-14 06:17] ccordoba12 commented on #2522
@AlanZZhao, there's a tutorial for beginners, under the menu

    Help > Spyder tutorial

[2015-07-14 06:28] ccordoba12 commented on #2503
I'm sure this was fixed in 2.3.5.2. Closing :-)

[2015-07-14 06:28] #2503 closed

[2015-07-14 06:31] ccordoba12 commented on #2469
Closing because we're not going to release 2.4

[2015-07-14 06:31] #2469 closed

[2015-07-14 06:51] ccordoba12 commented on #2454
Closing because of lack of response

[2015-07-14 06:51] #2454 closed

[2015-07-14 06:53] ccordoba12 commented on #2450
Sorry for not being able to give you more help :-(

[2015-07-14 06:53] #2450 closed

[2015-07-14 06:53] ccordoba12 commented on #2449
Closing because it doesn't seem a Spyder problem

[2015-07-14 06:55] ccordoba12 commented on #2429
Closing because of lack of further info

[2015-07-14 06:55] #2429 closed

[2015-07-14 06:56] techtonik commented on #2469
Looks like a maintenance failure. =) The reasons are Python complexity and incompatibilities between versions that are too huge to track automatically.

[2015-07-14 06:57] ccordoba12 commented on #2396
Closing because of lack of further info

[2015-07-14 06:57] #2396 closed

[2015-07-14 07:07] ccordoba12 commented on #2210
This was fixed by PR #2260

[2015-07-14 07:07] #2210 closed

[2015-07-14 07:09] ccordoba12 commented on #2178
This is not relevant anymore, now that we moved to support only API#2

[2015-07-14 07:09] #2178 closed

[2015-07-14 07:10] ccordoba12 commented on #2174
Closing because of lack of further info

[2015-07-14 07:10] #2174 closed

[2015-07-14 09:22] flying-sheep opened #2536 "fontawesome.ttf not found"
I installed it normally via setuup.py.

After selecting the Spyder 3 icon theme, it crashes on start:

[code]

and indeed, `/usr/lib/python3.4/site-packages/spyderlib/external/qtawesome/` only contains the json files.

[2015-07-14 12:31] grg2rsr commented on #1955
Experiencing the same with a fresh spyder install 2.3.5.2 on linux mint 17, installed from repository.

[2015-07-14 12:45] #2536 closed

[2015-07-14 15:09] ccordoba12 commented on #2471
I'm sorry but I'm going to remove support for the Gtk backend in our **Python** Consoles for Spyder 3. You can still use it without problems in our IPython ones :-)

I tried to make it work as expected for several hours this weekend and couldn't do it. It seems to be caused by a tricky interaction between Qt and Gtk event loops.

Since this backend doesn't provide any additional functionality over

[2015-07-14 15:19] JimHokanson commented on #2535
It turns out that this problem comes from adding relative paths to the Python path.

We frequently have the following directory structure:
[code]

In the examples we have scripts that do:
[code]

Although I've had discussions with others as to whether or not this is the best practice ...
Regardless, it seems like the issue could be solved by calling os.path.abspath on the file link (I think ...)

[2015-07-14 17:52] mpu-creare opened #2538 "Matplotlib Figures not cleaned up during loop"
It seems like while generating plots in a loop, the memory grows over time when running the script in spyder.

I have a funny use-case where I'm making a lot of large plots, and then when I'm done I like to interactively look at the last plot that was generated.

To reproduce using this little script:

[code]

From the command-line

[code]

From spyder, running in a dedicated terminal with interac

[2015-07-14 18:30] kyleellefsen commented on #2534
I can't use the IPython console because I need to run the

[code]
command to allow my PyQt4 GUI event loop to run while leaving the interpreter open.  The command doesn't freeze my interpreter in the regular python console inside Spyder.  When I run a PyQt4 app in ipython outside of spyder, it runs the PyQt4 event loop fine without that line.  It's only inside Spyder, inside ipython where I need t

[2015-07-14 23:12] eflister commented on #2449
what makes you say that?  it works fine in terminal, and doesn't work in spyder.

[2015-07-15 01:16] ccordoba12 commented on #2449
It's probably because you're using Spyder Python Path manager to add the sima directory (which doesn't contain the sima package) to `sys.path`. Or something like that, I don't know.

Sorry, but this seems a problem that only occurs with your setup.

[2015-07-15 04:15] ccordoba12 commented on #2538
What's your Spyder version?

[2015-07-15 04:30] JimHokanson opened #2539 "Code not executing in new console and problem plotting figure"
I just installed a fresh version of Anaconda with Spyder 2.3.5.2 and Python 3.4.3 64 bits, Qt 4.8.6, PyQt4 (API v2) 4.10.4 on Windows

When I first ran a script it prompted me for console settings which I accidentally accepted right away. I then went into the settings and changed the run settings to "execute in a new dedicated Python console"

This seemed to have no effect.

I then ran my code in

[2015-07-15 04:34] ccordoba12 commented on #2539
Sorry, it's not possible to show plots in our Python or IPython consoles while debugging. We hope to solve this problem next year when some improvements are made to Jupyter.

For a workaround see https://github.com/spyder-ide/spyder/issues/620#issuecomment-74596841.

Closing as a duplicate of issue #620 itself :-)

[2015-07-15 04:34] #2539 closed

[2015-07-15 05:16] eflister commented on #2449
i just installed stuff with pip in a terminal.  if it works in terminal, shouldn't it work in spyder?

[2015-07-15 05:34] JimHokanson commented on #2539
Oops, I shouldn't have thrown two issues together. What about the execution settings? This seems to not function properly. Let me know if I should open a separate issue.

[2015-07-15 09:43] JimHokanson opened #2540 "Preferences for which console to use for script execution not working"
I just installed a fresh version of Anaconda with Spyder 2.3.5.2 and Python 3.4.3 64 bits, Qt 4.8.6, PyQt4 (API v2) 4.10.4 on Windows

When I first ran a script it prompted me for console settings which I accidentally accepted right away. I then went into the settings and changed the run settings (preferences -> run) to "execute in a new dedicated Python console"

This seemed to have no effect.

A

[2015-07-15 09:43] JimHokanson commented on #2539
I rewrote just the preferences portion in #2540

[2015-07-15 11:18] smbergman opened #2541 "Behaviour of load_matlab (scipy.utils.iofuncs) differs between windows and linux versions"
Hi. I reported this issue using the built-in functionality in Spyder (Help -> Report Issue) and was eventually told to report it again here.

I have encountered an inconsistency between the Windows and Ubuntu Linux versions of Spyder2 in the implementation of the load_matlab function inside spyderlib.utils.iofuncs module.

Spyder Version:  2.3.0
Python Version:  3.4.0
Qt Version    :  4.8.6, PyQt4

[2015-07-15 11:23] smbergman opened #2542 "Incorrect link embedded in the "Report Bug" feature"
Hello,

In Spyder2, if you use the Help -> Report a Bug feature, you are still taken to the code.google.com...... website.

Should it not be Reporting the bug directly at
https://github.com/spyder-ide/spyder/issues/new
??

[2015-07-15 12:10] mpu-creare commented on #2538
Spyder version 2.3.5.2 . (btw, loved the docrepr talk at scipy).

[2015-07-15 12:13] bilderbuchi commented on #2542
Can't reproduce this, on Spyder 2.3.5.2, that menu item takes me to this issue tracker.

[2015-07-15 13:52] ccordoba12 commented on #2542
@smbergman, please update your Spyder version. This was fixed in 2.3.3 if I recall correctly, so you have to be running an older version.

[2015-07-15 13:53] #2542 closed

[2015-07-15 13:54] ccordoba12 commented on #2541
@blink1073, can you take a look at this one?

[2015-07-15 13:55] taylorsansom opened #2543 "Problems changing working directory in spyder and ipython"
I have some shared libraries (*.so) that were created from old Fortran subroutines using f2py. I would like to import these libraries in either the spyder ide or ipython but I cannot change my working directory.

I have tried

and manually navigating to the folder and clicking 'Set as current console's working directory. When I type pwd it shows me the correct path but when I %ls it shows me the c

[2015-07-15 13:56] ccordoba12 commented on #2540
This seems a very serious bug. Thanks for reporting, we'll try to fix it for our next version.

[2015-07-15 14:37] ccordoba12 commented on #2449
Ok, then tell us a step by step procedure to test this, starting with `pip install <the package you're using>` and ending with a reproducible example of the code you're trying to run in Spyder.

[2015-07-15 16:54] stonebig opened #2545 "PyQt5 is less nicely detected per Spyder than by IPython"
testing PyQt5, I discovered that Ipython qtconsole detected it without problem, when Spyder was still trying to load PyQt4.

proposal here: https://github.com/spyder-ide/spyder/pull/2544

[2015-07-15 19:30] anderwm commented on #2471
I may be missing something as I don't fully understand how all the backend systems hook in.  However, I am using Qt4Agg as the matplotlib backend as selected in console settings under preferences.  I am not sure how we got onto gtk, except that was the warning message for the locale problem.

[2015-07-15 19:47] anderwm commented on #2471
The problem I was having was resolved, according to bisect:

The first good revision is:
changeset:   fbd66cbc1a0734bfef51467e9fbe0c16f3cf167e
user:        Carlos Cordoba <ccordoba12@gmail.com>
date:        Sun Jul 12 10:19:33 2015 -0500
summary:     Python Console: Fix crash after first execution

[2015-07-16 02:43] blink1073 commented on #2541
I tried it with Octave 3.2 on Ubuntu 12.04, and it works as expected.  We're never going to get mat files 100% right.

[2015-07-16 03:47] cnolanAU opened #2546 "Next file / previous file keyboard shortcuts"
## Description

In Spyder under OS X I attempt to redefine keyboard shortcuts to move between open files in the editor to "Cmd-shift-BracketLeft" and "Cmd-shift-BracketRight". This redefinition has no effect, and despite the shortcut not appearing at all in the list, "Cmd-PgUp" and "Cmd-PgDn" switch between editors.

**What steps will reproduce the problem?**

1. Open Preferences | Keyboard shortc

[2015-07-16 12:21] ccordoba12 commented on #2546
You need to press `Enter` after each key change you do when defining your new shortcut.

That's an unpleasant limitation that's already fixed in master because we have now a new and easier way to change shortcuts.

Sorry for the current inconvenience :-)

[2015-07-16 12:21] #2546 closed

[2015-07-16 12:23] ccordoba12 commented on #2541
@smbergman, please update Spyder and Octave to have this right :-)

@blink1073, did you use `master` or `2.3`?

[2015-07-16 12:23] #2541 closed

[2015-07-16 16:16] durack1 commented on #2529
@ccordoba12 @kvico I've just tested `spyder 2.3.5.2` on `OS X 10.10.4` and everything works fine for me..

[2015-07-16 20:17] ccordoba12 commented on #2529
@durack1, are you using the app that comes with our dmg installer? Because that's the problem here :-)

[2015-07-16 20:22] ccordoba12 commented on #2471
@anderwm, sorry, I thought you were using the `GtkAgg` backend because of the Gtk error message you also reported. But I'm glad to hear the error is fixed for you now ;-)

I already referenced this issue from a commit that I'm about to push, so let's leave it like this in case someone else looks for us dropping `GtkAgg` in the future :-)

[2015-07-16 20:29] durack1 commented on #2529
@ccordoba12, yep that's exactly what I'm using..

[2015-07-16 21:03] ccordoba12 commented on #2529
@durack1, good to know!

@kvico, I don't see anything relevant in your gist, sorry. It seems to be a threading issue with sip, but I haven't seen this error before :-(

[2015-07-17 00:43] cnolanAU commented on #2546
Thanks for the response Carlos. I've tried going in to each element of the
shortcut (both modifiers and the key selection itself), scroll to the
modifier / key I want and press enter, then press apply and ok. The key
combination still doesn't work.

But not a big deal if this is fixed in the next release anyway.

On Thu, Jul 16, 2015 at 10:21 PM, Carlos Cordoba <notifications@github.com>
wrote:

[2015-07-17 18:02] naught101 opened #2548 "Pweave support?"
http://www.mpastell.com/pweave/ - Pweave is a literate programming tool, like Knitr or Sweave - basically it lets you write a latex/rst/markdown file, and embed python snippets within the file, and then compile the file into a document that includes content generated from the python snippets.

It'd be really cool to have Pweave support in Spyder - in a similar way to how RStudio has Knitr support.

[2015-07-17 19:51] goanpeca opened #2549 "Improve the default layout"
Spyder should include the outline explorer pane by default on restart and perhaps it should go in the left, instead of the right, as many other IDEs are doing!

[2015-07-17 19:51] #2401 closed

[2015-07-17 20:05] naught101 opened #2550 "Dock matplotlib figures"
I don't use inline plotting, because you lose the zoom functions, which are really useful for me. But it'd be nice to have matplotlib windows docked into the spyder UI, so that I don't need to switch back and forth between the two windows.

[2015-07-17 20:13] goanpeca opened #2551 "Refactor code to handle light mode as a separate class"
Currently the code inside `spyder.py` is a bit convoluted because `if not light` appears in a lot of places.

This change would make the code easier to read and maintain, and still keep the light mode in case there is people still using it.

[2015-07-18 02:08] ccordoba12 commented on #2550
Sorry, but I think this is not so easy to do :-)

[2015-07-18 03:16] #2395 closed

[2015-07-18 07:09] cheneave opened #2552 "An bug in editor with multiple line list comprehensions"
For example,

    lst = [some_function_with_long_name_for_i(i)
                     for i in range(5)]

After pressing enter, an colon will be inserted by mistake

[2015-07-20 08:05] scls19fr opened #2553 "Share code with gtabview"
Hello,

I'm looking for a way to use variable editor as a standalone viewer (or editor) for Numpy Arrays and Pandas DataFrame.
Like https://github.com/wavexx/gtabview
Is there a way to do it ?

Kind regards

See also: https://github.com/wavexx/gtabview/issues/7

[2015-07-20 15:16] alexcordover opened #2554 "Spyder keeps crashing after pip package install"
I tried to install the yahoo-finance package via pip. It successfully installed, but Spyder now crashes every time before it is opened. I tried resetting settings etc to no avail. Additionally, I am unable to uninstall the yahoo-finance package. It returns UTF-8 encoding errors that it can't decode certain bytes. I've not had problems with other implementations of Python with this package.

[2015-07-20 21:49] naught101 commented on #669
There is a Qt port of vim: https://bitbucket.org/equalsraf/vim-qt

It would be nice if that interface could be abstracted and used in spyder - see: https://bitbucket.org/equalsraf/vim-qt/issues/121/implement-as-a-kpart

[2015-07-20 21:53] ccordoba12 commented on #669
@naught101, there's no chance we're going yo take that route. We'd provide a simple set of Vim keybindings in 3.0, and that's all :-)

[2015-07-20 21:54] ccordoba12 commented on #2554
This doesn't seem to be a Spyder problem but an installation one. I don't know how we could help here.

[2015-07-20 22:00] ccordoba12 commented on #2553
Not at the moment, sorry.

[2015-07-21 21:52] ccordoba12 commented on #2551
We should put a date to this one. I'd prefer to have it for 3.0, to test things very well and don't add possibly disruptive changes in 3.1.

Thoughts @goanpeca?

[2015-07-21 22:17] goanpeca commented on #2551
I will add this to my todo list, should be quite fast to do, so I will do it tonight, so we can move on with fast things first. We still have a pending hangout to go over projects, let me know when ;-)

[2015-07-21 22:22] ccordoba12 commented on #2554
I'm sorry but I'm going to close this one. It really seems an installation problem.

[2015-07-21 22:22] #2554 closed

[2015-07-21 22:29] ccordoba12 opened #2555 "Main window is bigger than screen size, after a first start in Mac and KDE"
This is the issue we discussed in person. Just as a reminder for you @goanpeca :-) I'm almost sure this was introduced after the new layouts PR.

This is how it looks for me in KDE, which is really bad.

![seleccion_002](https://cloud.githubusercontent.com/assets/365293/8814025/bfe2c81a-2fcd-11e5-8a97-ec1e736f5882.png)

Please take a look at this one ASAP because I want this fixed for beta1 ;-)

Y

[2015-07-21 22:34] ccordoba12 commented on #2551
Yep, I know, but please focus first on issue #2555, so we can release beta1.

[2015-07-21 22:39] alexcordover commented on #2554
I believe it was. I did a clean install and spyder (and the installation of
the package) worked as expected.
On Jul 21, 2015 5:22 PM, "Carlos Cordoba" <notifications@github.com> wrote:

[2015-07-21 22:51] goanpeca commented on #2555
Is this also happening on win/linux?

[2015-07-21 23:31] #2348 closed

[2015-07-21 23:31] #2386 closed

[2015-07-21 23:31] #2471 closed

[2015-07-22 00:01] otoonas opened #2556 "3D plots are crashing the Python Console"
I'm trying to create a 3D line plot from a data file I have generated.
Using the following code:

[code]

Rather than produce a figure, the error "python.exe has stopped working" flashes up, and the code crashes. I have tried it with both plt.draw() and plt.show(), and I'm using the Python console.

Any help is greatly appreciated!

## Version and main components

* Spyder Version: 2.3.5.2
* Pytho

[2015-07-22 01:49] ccordoba12 commented on #2556
Closing as duplicate of issue #2402. Please see what I mentioned in that issue.

[2015-07-22 01:50] ccordoba12 commented on #2556
Also, please the IPython console instead, it has much better support for this kind of things

[2015-07-22 01:54] ccordoba12 commented on #2556
Sorry, I didn't noticed that your bug report is about 3d plots crashing the console.

[2015-07-22 01:57] ccordoba12 commented on #2556
To test this, please give us a reproducible example, i.e. a sample code we can run in our side to test what's happening.

The code you posted is fine, but we don't have `data.txt` here :-)

[2015-07-22 02:09] otoonas commented on #2556
Yeah I tried everything in that thread, and it didn't work, hence this thread!

It's not letting me attach the original data file, so here's 20 lines from that txt file:

-1.72187E+11	26778156067	2993221937
-1.72187E+11	26778155661	2993221914
-1.72187E+11	26778152002	2993221704
-1.72187E+11	26778119073	2993219813
-1.72187E+11	26777822718	2993202797
-1.72186E+11	26775155518	2993049647
-1.72177E+11

[2015-07-22 13:55] twd000 opened #2557 "Viewing variables in debug mode with the Variable Explorer is crashing Spyder"
I'm having a problem in Spyder 2.2.5 (Python 2.7)
Using Anaconda distribution

When I try to view/edit any variable type in the Variable Explorer that opens a separate window, that window immediately reports (Not Responding).  I have to kill the process and start over.
[code]

I can view/edit sDog in the Variable Explorer, but any attempt to open/edit/view lDog or tDog opens the separate window th

[2015-07-22 14:11] goanpeca commented on #2557
@twd000 spyder is currently in version 2.3.5, can you please update and check if the problems still persists in the newest version?

Cheers

[2015-07-22 14:14] twd000 commented on #2557
Unfortunately 2.2.5 is the latest distribution that is approved/available on my corporate network.  If I can point to a bugfix that corrects this error, I could make an argument to our IT department to make 2.3.5 available to us.  Is there a bugfix/change list I can search?  Thanks

[2015-07-22 14:20] twd000 commented on #2557
I found this changelog https://github.com/spyder-ide/spyder/blob/2.3/CHANGELOG.md, but any issue I click takes me to a 404 error page.  Is there another location to link detailed descriptions of the changes?

[2015-07-22 14:52] ccordoba12 commented on #2557
@twd000, I fixed the links to issues and PRs in our Changelog. It seems Github changed the way they handle internal markdown links, so that's why those links were broken.

Also, didn't you post this problem to StackOverflow? There you mentioned that trying to view tuples was crashing Spyder only on **debugging**. Is this the case with this problem too?

Finally, 2.2.5 is more than two years old an

[2015-07-22 15:04] twd000 commented on #2557
Thanks for fixing the links; it works now.

I have only tested this feature using debugging mode.  I need to be able to view the contents of large tuples and lists during code execution.

I have a Help Ticket in to my IT Dept to update Anaconda/Spyder

[2015-07-22 15:23] ilrico opened #2558 "add option "don't check line <79 chars" in "check PEP8 compliance" in Preferences"
PEP8 rule "line < 80 char" shouldn't be so strict (a line 82 is ok/better in most situation)
so we should be able do turn off PEP8 line-length check if needed

[2015-07-22 15:55] twd000 commented on #2557
I confirmed that this issue only occurs in debug mode.  If I pass the variables out from a function, I can view tuples and view/edit lists just fine via the pop-up windows in Variable Explorer.

[2015-07-22 18:59] ccordoba12 commented on #2555
@goanpeca, it doesn't happen in Ubuntu, but the size of the Object Inspector is about 3/4 of the vertical screen size, so the IPython console looks too small.

[2015-07-22 19:19] ccordoba12 commented on #2555
Windows shows the same problem as Ubuntu: the vertical size of our Python and IPython consoles is really small after a fresh start:

![seleccion_001](https://cloud.githubusercontent.com/assets/365293/8834828/4e60aebe-307c-11e5-9948-2186cdda0872.png)

I think the problems are related to the ones with KDE and Mac, except that (most probably) Windows and Ubuntu window managers prevent the window to o

[2015-07-23 07:34] bilderbuchi commented on #2558
related: #2359

[2015-07-23 12:09] ccordoba12 commented on #2558
Oh yeah! Closing as duplicate of issue #2359

[2015-07-23 12:09] #2558 closed

[2015-07-23 13:35] goanpeca commented on #2555
I found the bug and is fixed in  #2559

[2015-07-23 15:27] a-seyler opened #2560 "List of pandas dataframes in variable explorer slows down Spyder"
Hello,

I'm loading a list of pandas dataframes into the workspace. When the variable explorer is open and contains this list as a variable, spyder gets really slow (It then takes several seconds to switch from editor to the ipython console by clicking into it for example). When I switch to the file explorer or the object inspector and the variable explorer is not visible, everything works fine an

[2015-07-23 16:33] ccordoba12 commented on #2560
Thanks a lot for reporting, I'll see what's happening for our next release

[2015-07-23 16:52] nbonacchi commented on #1955
Same issue here:

Spyder Version:  2.3.2
Python Version:  3.4.3
Qt Version    :  4.8.6, PyQt4 (API v2) 4.10.4 on Linux
pyflakes >=0.6.0:  0.8.1 (OK)
pep8 >=0.6      :  1.4.6 (OK)
IPython >=0.13  :  2.4.0 (OK)
zmq >=2.1.11    :  14.0.1 (OK)
pygments >=1.6  :  1.6 (OK)
pandas >=0.13.1 :  0.13.1 (OK)
sphinx >=0.6.6  :  1.2.2 (OK)
psutil >=0.3    :  1.2.1 (OK)
rope >=0.9.2    :  0.9.4-1 (OK)
matplotli

[2015-07-23 18:03] rikeijin opened #2561 "dmg installer on OSX 10.10.4"
Dear Sir,
     The dmg installer does not work on my system. When drag the spyder icon over the application icon it showed prohibited sign. Thank you very much for listening this feedback.

[2015-07-23 21:04] Travis42 opened #2562 "Python console is not handling raw_input correctly on Windows"
Command Window causes raw_input() to malfunction

**What steps will reproduce the problem?**
1. program contains x = raw_input('> ')
   print 'You typed ', x
2. execution from command window produces nothing, user presses enter
3. output is >You typed
   (exits)

**What is the expected output? What do you see instead?**
In Powershell, the program works as it should, but in Command Window within Sp

[2015-07-23 21:13] ccordoba12 commented on #2562
Thanks for reporting. Please try to use an IPython console to see if things work as expected there.

[2015-07-23 21:15] ccordoba12 commented on #2561
You need to authorize non-signed apps to be installed in your system.

Please see here https://support.apple.com/kb/PH11436 or google a bit for it.

[2015-07-23 21:15] #2561 closed

[2015-07-24 00:07] #680 closed

[2015-07-24 00:19] #2560 closed

[2015-07-24 23:25] ccordoba12 commented on #2557
I ran your example code (present in your first comment) on debug mode, and using our latest stable version (i.e. 2.3.5.2) with Anaconda.

For me everything is working as expected, i.e. you can open and inspect tuples in a new window without problems.

So the only thing you need to do is to update Spyder. One thing that you perhaps are not aware of is that you **don't** need admin privileges to ins

[2015-07-24 23:25] #2557 closed

[2015-07-24 23:46] ccordoba12 commented on #2556
I'm sorry but I can't reproduce your bug, using your exact same configuration and the code you gave us.

Please run this command in a terminal (i.e. `cmd.exe`)

    spyder --reset

to reset Spyder settings and try again. Perhaps that will solve your problem.

[2015-07-24 23:58] ccordoba12 commented on #2540
This is working as expected for me. I have a question: are you using a user name with non-ascii letters on it? I mean, letters that are not used in English, like á, ñ, or something like that?

[2015-07-25 00:00] ccordoba12 commented on #2540
We have problems saving configuration options on Windows accounts that have those characters, so that could be the problem in this case.

[2015-07-25 00:57] Travis42 commented on #2562
I will...right after I figure out how to import data/commands from the
command line (argv).  I've looked for how to do this for hours.  I realize
that Spyder is designed for best use with ipython, but I'm just a beginner
user at the moment, doing pre-defined lessons.

Travis

On Fri, Jul 24, 2015 at 6:14 AM, Carlos Cordoba <notifications@github.com>
wrote:

[2015-07-25 02:08] JimHokanson commented on #2540
Well I tried it again today and for a second I thought everything was ok.

Then I played around with the system some more and somehow managed to break it again.

Regarding your question, my username is Jim so everything is in:
C:\Users\Jim\.spyder2-py3

The visual settings (preferences editor) are modifiying spyder.ini

The actual (internal) settings seem to be running off of sypder_cur.ini

I hav

[2015-07-25 03:20] otoonas commented on #2556
Yes that fixed it! Not sure how, as I tried resetting it using the .exe in the anaconda folder, and even uninstalled and reinstalled it before starting this thread! Thank you!

[2015-07-25 03:23] ccordoba12 commented on #2556
Great! I'm glad this is solved for you :-)

[2015-07-25 03:23] #2556 closed

[2015-07-25 03:46] ccordoba12 commented on #2315
The name is not shown for DataFrames only, so it seems a simple fix :-)

[2015-07-25 04:10] #2315 closed

[2015-07-25 04:18] ccordoba12 commented on #2514
@kapoost, I'm using the file mentioned in this comment: https://github.com/pydata/pandas/issues/4793#issuecomment-25310750 to test this problem. I can reproduce it in Python 2 but not in Python 3 (in case you're interested).

I think I know how to fix it :-)

[2015-07-25 15:25] scls19fr commented on #2510
Just some code to create a sample Panel without relying on `pandas_datareader`

    items = ['Open', 'High', 'Low', 'Close']
    minor_axis = ['AAAA', 'BBBB', 'CCCC']
    periods = 5
    panel = pd.Panel(np.random.random((len(items), periods, len(minor_axis))), items=items,
        major_axis=pd.date_range('1/1/2000', periods=periods),
        minor_axis=minor_axis)

Panel4D can be construct using

[2015-07-25 15:41] stsievert opened #2563 "Enhancement: add option to "clear all" variables before running script"
I can define a variable in the console and have that same variable be available in script; the equivalence of Matlab's `clear all` isn't an option in preferences.

That is, at the IPython prompt I can define `a = 10`. Then if my script contains one line,

[code]

It'd certainly be nice to disable that behavior. Other interpreters (e.g., default Python, IPython's `%run`) don't have this behavior en

[2015-07-25 18:39] ccordoba12 commented on #2563
Two things:

1. You can clean your namespace quite easily in IPython by running the `%reset` magic.
2. The option called `Execute in a new dedicated Python console` (which you can get when pressing F6) always run your code in a clean interpreter, every time.

Do we need to offer our users something else than that? I mean, when you run your code in the current Python or IPython console, it's assume

[2015-07-25 19:38] scottsievert commented on #2563
When I'm developing mathematical algorithms, I like to run my script (clearing all variables beforehand) and then using the console to interactively explore the variables I defined. For example, if I have the script

[code]

I like to make sure I'm clearing all variables beforehand *and* interactively explore my data by typing `plot(x, x**3); show()` at the IPython prompt. This behavior is the def

[2015-07-25 20:41] #2514 closed

[2015-07-25 21:02] ccordoba12 commented on #2517
I'm not able to reproduce your bug when both the variable explorer and the IPython console are focused, and I wait until the computation is over.

Please be sure that the *Auto-refresh button* is not pressed in the Variable Explorer either, i.e. this button:

![seleccion_001](https://cloud.githubusercontent.com/assets/365293/8891212/0f7b99ea-32e6-11e5-9b07-fc08739ab4fe.png)

There are two situatio

[2015-07-25 21:16] ccordoba12 commented on #1880
This was not an issue in Spyder itself, but I'm glad it's fixed now.

[2015-07-25 21:16] #1880 closed

[2015-07-26 02:23] ccordoba12 commented on #2491
A simpler example to test

[code]

[2015-07-26 02:37] #2491 closed

[2015-07-26 02:56] ccordoba12 commented on #2276
This is working fine for me :-) Please reopen if you find the cause.

[2015-07-26 02:56] #2276 closed

[2015-07-26 12:59] stonebig opened #2564 "QT_API keywords seem not tested the same way per Matplotlib"
hi,

playing with PyQt5 and `gr`, I discover some issues with Matplotlib:
- they check QT_API='PyQt5'
- Spyder checks QT_API='pyqt5'.

https://github.com/matplotlib/matplotlib/blob/714d18788320325d0bff75184f62d472f67ceb91/lib/matplotlib/backends/qt_compat.py

==> Would it be possible to align on  Matplotlib ?

(or testing `QT_API.lower()`)

[2015-07-26 13:13] ccordoba12 commented on #2564
I don't know what you mean by `gr`, but in the top file you referenced you can find this

[code]

[2015-07-26 13:15] ccordoba12 commented on #2564
So the env variable is called `pyqt5`, not `PyQt5`, which means that we're using the right variable. Besides, we selected that variable because it's the same one used by IPython.

[2015-07-26 13:26] stonebig commented on #2564
hum, ok, I understand better.
But I don't find where you use the API_NAME dictionnary to transform `os.environ['QT_API'] in spyder code base
 `QT_API = API_NAME[QT_API_ENV]`

[2015-07-26 13:37] stonebig commented on #2564
ok stupid me, at the end of the dico...  closing

[2015-07-26 13:37] #2564 closed

[2015-07-26 13:42] ccordoba12 commented on #2564
Just for the record, this is done in Spyder here

https://github.com/spyder-ide/spyder/blob/master/spyderlib/qt/__init__.py#L16

[2015-07-26 13:46] stonebig commented on #2564
Yes, my eyes missed the characters `[API]` the end of the line.
Sorry for the noise, it's not easy for me to guess which part is not playing well with PyQt5.

[2015-07-27 21:07] #2475 closed

[2015-07-27 21:37] geancarlo commented on #2517
I've looked at this issue again and it seems like the variable editor starts acting funny after restarting the ipython console kernel.
If it is not too much trouble, please watch this screen recording https://www.youtube.com/watch?v=VKRvX8C3IgE

This video shows how:
1. it behaves correctly right after starting spyder, but for some reason the auto-refresh button is disabled
2. after restarting the

[2015-07-28 09:03] JGoutin opened #2566 "Spyder crash on launch with Babel 2.0/Python 3.4"
Hello,

Babel was updated to 2.0, unfortunately, Spyder crash with this version. I gone back to 1.3 to fix that problem.

spyder_crash.log :

[code]

[2015-07-28 14:52] aleksandaratanasov opened #2567 "[master] Launching preferences in a bootstrapped Spyder crashes the IDE"
Hi!

I have the latest version of Spyder (master branch) and I'm starting it via the bootstrap.py script. My setup is Ubuntu 14.04 (64bit) with 3.13.0 kernel, up-to-date software.

Reproduce:
 - start Spyder (in my case via bootstrap.py)
 - click on the Preference item in the main menu

What is expected to happen:
  Opens Spyder's preferences window

What happens:
  Spyder crashes with segmentatio

[2015-07-28 15:10] ccordoba12 commented on #2566
Thanks for reporting, we'll try to fix it ASAP :-)

[2015-07-28 15:11] ccordoba12 commented on #2567
Please try to run

    spyder --reset

and try again. That should solve the problem.

[2015-07-28 15:53] aleksandaratanasov commented on #2567
Thanks for the fast reply. I can't run spyder just like this because it cannot find the spyderlib. That is why I'm using the bootstrap.py in the first place. ;)

I would have installed it but my user is not part of the sudo group so I have to deal with the bootstrapping thing. Any ideas how to go around it?

[2015-07-28 17:41] pakwah opened #2568 "IPython kernel crashes after some plotting in pylab mode"
Error message:

It seems the kernel died unexpectedly. Use 'Restart kernel' to continue using this console.

This happens irregularly and I am not sure about the reason. It usually happens when I've plotted multiple plots in different windows/figures and start closing some of them. I've tried plotting a lot of graphs one by one, closing the interactive window every time and the crash does not occu

[2015-07-28 19:17] israelyk opened #2569 "Spyper cannot read yahoo stock price"
I recently installed Spyder, however, I cannot fetch stock price from Yahoo using IPhython console.
However, when I use separate IPhython console, I could do it successfully.

**What steps will reproduce the problem?**

1. in Spyder's IPythone console
run the folowing scripts:

[code]

3. Here is the information:

[code]

**What is the expected output? What do you see instead?**
when I use separat

[2015-07-28 19:19] israelyk commented on #2569
I debug it, the code analysis says:
pandas imported but unused

[2015-07-28 19:30] ccordoba12 commented on #2567
Sorry, I didn't notice that you mentioned you're using bootstrap :-)

In that case you need to run

    python bootstrap.py -- --reset

to reset your preferences.

[2015-07-28 19:30] ccordoba12 commented on #2567
Sorry, I didn't notice that you mentioned you're using bootstrap :-)

In that case you need to run

    python bootstrap.py -- --reset

to reset your preferences.

[2015-07-28 19:38] ccordoba12 commented on #2569
I don't understand. How exactly did you debug this problem? And what can we do to solve it?

[2015-07-28 19:40] ccordoba12 commented on #2568
Sorry, no idea :-( But please let us know your:

1. Python version
2. IPython version
3. Operating system
4. Spyder version
5. Matplotlib version

[2015-07-28 20:01] israelyk commented on #2569
in the Spyder screen, I click the debug and click run the file which
contains these commands, it showed a tiny red triangle mark, put the mouse
on it, it says code analysis:
Pandas imported but unused

I installed Spyder through installation of Anaconda, should I reinstalled
Spyder again?

On Tue, Jul 28, 2015 at 2:38 PM, Carlos Cordoba <notifications@github.com>
wrote:

[2015-07-28 20:26] israelyk commented on #2569
When I run the same command lines at Wakari IPython console it works very
well

On Tue, Jul 28, 2015 at 2:38 PM, Carlos Cordoba <notifications@github.com>
wrote:

[2015-07-28 20:28] israelyk commented on #2569
I believe some thing wrong with the Spyder IPython Console

On Tue, Jul 28, 2015 at 3:26 PM, Israel Kang <kangisrael@gmail.com> wrote:

[2015-07-28 22:58] JimHokanson commented on #2569
The failure comes from a http request. I'd be surprised if this was due to the Spyder console. Can you make the request on your browser?
http://ichart.finance.yahoo.com/table.csv?s=IBM&a=0&b=1&c=2014&d=11&e=31&f=2014&g=d&ignore=.csv

Also, does the code still not work in Spyder? It's not uncommon for some sites to occasionally not work and for the requests to go through at later times (due to a te

[2015-07-29 13:24] pakwah commented on #2568
Python 3.4.3.amd64
Ipython 3.2.0
Windows 8.1 Enterprise
Spyder 2.3.5.2
Matplotlib 1.4.3

Thanks

[2015-07-29 13:43] elwood168 opened #2570 "Can't search and replace some characters."
I wanted to change a whole series of lists into tuples. I could not find and replace [ and ] to ( and ) respectively "square brackets and curly brackets". In the end, I copied it into Word and replaced them, and then pasted back.

[2015-07-29 20:31] pidefrem opened #2572 "logging library doesn't seem to work with spyder"
Hello,

I'm trying to run a script using python standard library 'logging'. This script works fine from the command line but when run from Spyder, no log is printed.

My configuration is:
Windows 7
Python 2.7.10 :: Anaconda 2.3.0 (64-bit)
spyder-app 2.3.5.2

The script is:

[code]

[2015-07-29 21:20] israelyk commented on #2569
Hi Jim,

I click on the link
http://ichart.finance.yahoo.com/table.csv?s=IBM&a=0&b=1&c=2014&d=11&e=31&f=2014&g=d&ignore=.csv
it starts to download the csv file to my computer.

It still does not work from Spyder Ipython console. Thanks for the comment
regarding the pandas.

It could possibly my company's server block me accessing the data from
Yahoo.

Do you have any ways to suggest me to verify t

[2015-07-30 10:32] aleksandaratanasov commented on #2567
Sorry for the late reply but I didn't have access to the machine where I have this problem on. I tried your suggestion, it reset the settings yet Spyder **still crashes**. Btw I have this error message all the time while the IDE is running:

    X Error: BadCursor (invalid Cursor parameter) 6
      Major opcode: 2 (X_ChangeWindowAttributes)
      Resource id: 0x3

When I load something the opcode

[2015-07-30 17:57] kyleellefsen commented on #2534
I figured out a fix to the frozen interpreter.  In Spyder, if you go to Tools->Preferences->IPython console->Graphics->Graphics backend->backend and change from 'Inline' to 'Automatic', the console no longer tries to display Qt apps inline and everything works perfectly.

I wish I had known this years ago...

[2015-07-30 18:15] stonebig opened #2573 "Spyder is crashing with PyQt5.5.0 on Windows / Python 3.4"
Hi dear Spyder team,

When I try to start Spyder 3.0.0dev of this morning :
- first time is ok,
- second time I get a crash, which requires a spyder --reset.

Any idea if it's me/Pyqt5/spyder problem ?

[code]
A wild guess seems maybe when I close spyder something doesn't close/cleanup: the "restart" option fails too

[2015-07-30 19:37] ccordoba12 commented on #2534
Great!! we're going to change this setting for our next version :-)

[2015-07-30 19:38] ccordoba12 commented on #2573
No idea what can be happening here. Any ideas @goanpeca?

@stonebig, if it was working before, could you use `git bisect` ot `git blame` to detect the faulty commit?

[2015-07-30 19:42] markushartmann commented on #2171
Hello,

unfortunately I have the same bug in Version 2.3.5.2 at the moment, is there any log I can provide to find the issue?

[2015-07-30 19:44] ccordoba12 commented on #2171
@markushartmann, I don't know what could be happening to be honest. I tested our app in 10.9.0 and 10.10.2 and it's working just fine.

[2015-07-30 20:10] markushartmann commented on #2171
as already mentioned by the other users it happens when spyder crashes anytime. After a crash is shows this very long startup issue. Reinstalling helps to fix this issue, but reinstalling after every crash is also a time consuming procedure. I try to find anything reproduceable to crash spyder to trigger the bug.

[2015-07-30 20:53] goanpeca commented on #2573
Hmmmm, maybe it is a Qt5 issue, @ccordoba12 can you check on python 3.4 with Qt5 ?

[2015-07-30 21:30] stonebig commented on #2573
hi again,

Apparently, I have no issue when downgrading to PyQt5.4.1. So the issue seems related to PyQt5.5.0, but I'm not expert enough even to fomulate the issue on PyQt Mailing list.

[2015-07-30 21:33] goanpeca commented on #2573
@stonebig, I think we can tackle the issue with the info you provide :-)

Cheers

[2015-07-30 21:43] stonebig commented on #2573
My two wired bugs are suddenly gone when I downgrade to PyQt5.4.1 https://github.com/winpython/winpython/issues/34#issuecomment-126021578

[2015-07-30 23:56] #2555 closed

[2015-07-31 16:40] stonebig opened #2574 "Create wheels for Spyder"
I would like to be able to create a wheel from spyder master git.

It should be possible, as Christoph Gohlke does it (http://www.lfd.uci.edu/~gohlke/pythonlibs/#spyder)

Unfortunately, the default spyder tree doesn't permit.

[code]

[2015-07-31 16:44] stonebig commented on #2573
update: rechecking myself, maybe I used the July 22nd tree for my test and not July 30th.

[2015-07-31 18:59] ccordoba12 commented on #2573
So master on July 30th is working fine?

[2015-07-31 19:10] ccordoba12 commented on #2574
Maybe that's because we're using `distutils` instead of `setuptools` in `setup.py`. I'll look into it.

[2015-07-31 19:49] auerbacs commented on #2407
I've never heard of Jedi, but I similarly get this lag after typing a period following a dataframe that was loaded from a csv. It's obviously the autocompletion, as turning off autocompletion fixes the issue. Do I have Jedi and I just don't know about it, or is it something else. I'm just using Anaconda and Spyder (though I know a lot is rolled into Anaconda).

[2015-07-31 19:53] ccordoba12 commented on #2407
If you're using the latest Anaconda (2.3), or updated to the latest
Spyder (2.3.5.2), then yes, you're using Jedi :-)

El 31/07/15 a las 14:49, auerbacs escribió:

[2015-07-31 19:57] stonebig commented on #2573
I didn't try that yet, as in the mean time I found that only PyQt5.4.1 was fixing my others issues.

[2015-07-31 20:09] auerbacs commented on #2407
Indeed I am, so that explains it. Thanks @ccordoba12 .

[2015-07-31 20:16] stonebig commented on #2573
ok, it's still crashing with July 30th, but differently (maybe my fault ?):
[code]

[2015-07-31 20:31] stonebig commented on #2573
and back to PyQt5.4, I just switched to babel 2.0, and it seems babel 2.0 is causing troubles to Spyder
[code]

[2015-07-31 20:38] stonebig commented on #2574
thanks.

[2015-08-01 00:51] ccordoba12 commented on #2566
I can confirm the error, but it seems a problem with `babel`, not with Spyder, at least according to

http://stackoverflow.com/questions/31708355/python-flask-typeerror-an-integer-is-required-got-type-str

[2015-08-01 05:17] stonebig commented on #2573
hi,

Now it looks much more stable on python3.4 64 / windows 7: still no crash after 4 start and stop.

[2015-08-01 21:47] jlutgen opened #2578 "segfault when unmaximizing editor pane"
## Description
- _What steps will reproduce the problem?_
1. Start Spyder with default settings. Note that the outline pane is not visible.
2. Click in editor pane to give it the focus.
3. Maximize current pane (editor) using toolbar or keyboard shortcut.
4. Now both the editor pane AND the outline pane are visible. This is interesting, but OK. (Note that in the View->Panes menu, "Outline" is not

[2015-08-01 23:49] ccordoba12 commented on #2578
Thanks for the detailed bug report. This seems a bug in Qt, the graphical library we use to build Spyder.

We'll see what we can do about it.

[2015-08-02 01:20] JimHokanson commented on #2569
If you use a browser on the same computer from which you are running Spyder, that should be a good enough check. If the browser works then it is something in the way that the call is being made. I would recommend debugging at the call point and seeing what the actual http response is, not the cleaned up error that pandas is providing.

[2015-08-02 02:31] #2573 closed

[2015-08-02 14:57] scls19fr opened #2580 "Blaze support"
Hello,

it will be nice if variables explorer could support Blaze `blaze.interactive.InteractiveSymbol`

    import blaze as bz
    table_uri = 'dialect+driver://user:password@host:port/databasename::tablename'
    dat = bz.Data(table_uri)

http://blaze.pydata.org
http://blaze.pydata.org/en/latest/rosetta-pandas.html
http://blaze.pydata.org/en/latest/uri.html

with such a feature it will become po

[2015-08-02 15:40] goanpeca commented on #2580
Cool :-), @ccordoba12 I already have some work in the QTableQuick widget to handle the numpy and pandas cases (of not loading the whole array), and it seems to work fine :-),  (beta 4 most likely)

[2015-08-02 15:42] ccordoba12 commented on #2580
Cool! But beta 4? Remember that we're going to have three betas for new features, and that release candidate is meant for bug fixes only.

[2015-08-02 15:46] goanpeca opened #2581 "Autoparens appear when autocompleting in the import section"
Autoparens is a great addition, but it should not be applied everywhere, such as whem importing something....

For example if I have this and then press `Tab` in this case (* denotes cursor location)

[code]

We get

[code]

Which is not very helpful....

Any thoughts @blink1073?

[2015-08-02 15:52] goanpeca commented on #2580
Oops, beta 3 I meant then....

[2015-08-02 16:04] ccordoba12 commented on #2580
I'm going to mark this one as duplicate of issue #2553, to consolidate everything in one place.

[2015-08-02 16:04] #2580 closed

[2015-08-02 16:06] ccordoba12 commented on #2580
@scls19fr, please don't open more issues about things supported by `gtabview` that we don't support.

Instead of that, we should try to see how to use `gtabview` as a library.

[2015-08-02 16:11] scls19fr commented on #2580
Glad to know. Thank you in advance for your help!

[2015-08-02 16:26] blink1073 commented on #2581
Hmm, that's a tricky one.  What if we only apply it if there is an `=` sign in the line?

[2015-08-02 17:25] goanpeca commented on #2581
I would rather make some helper function in the order of...

`is_import_statement()`

So you would know you are inside an import statement..?

[2015-08-02 17:26] goanpeca commented on #2581
This would be very useful for other cases, like auto formatting import statements

[2015-08-02 21:55] blink1073 commented on #2581
I'm not sure how to do that for import continuation lines like:

[code]

[2015-08-02 23:37] goanpeca commented on #2581
can we do a lookup of the `import` word in the previous lines?

[2015-08-03 00:22] blink1073 commented on #2581
Oh, duh, we're already checking for imports, this is actually simple then.

—
Sent from Mailbox

On Sun, Aug 2, 2015 at 6:37 PM, Gonzalo Peña-Castellanos
<notifications@github.com> wrote:

[2015-08-03 01:46] goanpeca commented on #2581
:+:

[2015-08-03 02:14] breedlun opened #2586 "Feature Request: command + arrow keys"
In the editor, when the user presses command (on a mac) and one of the arrow keys, the cursor goes to the far left, far right, top, or bottom of the document.  This is common among mac applications, and I presume you get the same behavior on Linux and Windows if you use the control key.

In the python console, on the other hand, when the user presses command (on a mac) and one of the arrow keys, t

[2015-08-03 02:19] goanpeca commented on #2586
Hi @Stretch97, you mean the python console or the ipython console, or borh?

[2015-08-03 02:19] SandboChang opened #2588 "Run cell and advance doesn't work on 2.3, Object inspector doesn't work on 2.2 (Both solved)"
Hi, first sorry for the long post. I am new to Python and Spyder, it would be great if I can get some insights about some maybe easy to solve problems I am facing before I can move on to learn more.

Just started to use Python on Fedora Scientific 22, got Spyder running and really like it.
However, on trying to switch to Python 3.4 (it used 2.7 by default) there were two problems.

1. Run cell and

[2015-08-03 02:20] goanpeca commented on #2588
@SandboChang thanks for reporting.

@SylvainCorlay can ypu take a look?

[2015-08-03 13:50] ccordoba12 commented on #2588
Thing are working fine here, both on Windows and Linux. Cells are working with `Shift+Enter` and the Object Inspector is returning help for local functions.

@SandboChang, please run in a terminal:

    spyder --reset

and try again to see if that helps.

[2015-08-03 13:54] SandboChang commented on #2588
Thanks for the check, I shall be doing the reset on both. Both were however having unaltered setting as they a clean install.

I shall return to report for the updates.

On Aug 3, 2015 9:50 AM, Carlos Cordoba <notifications@github.com> wrote:
Thing are working fine here, both on Windows and Linux. Cells are working with `Shift+Enter` and the Object Inspector is returning help for local functions.

[2015-08-03 20:22] durack1 commented on #706
@goanpeca @ccordoba12 is this issue (#706) and cold folding likely to make it into the V3.0 release? It seems like it's not listed in the [3.0 dev beta](https://github.com/spyder-ide/spyder/wiki/Beta-version-changelog) changelog..

[2015-08-03 20:29] goanpeca commented on #706
It will come in Beta3 :-)

[2015-08-03 20:31] durack1 commented on #706
@goanpeca excellent, looking forward to giving it a try!

[2015-08-03 20:36] goanpeca commented on #706
:+1:

[2015-08-03 22:16] SandboChang commented on #2588
I tried the reset, plus trying to install WinPython with Spyder one yet another computer.
Then I wiped my Linux machine (still testing distros) and put on a plain Fedora Workstation.
Installing Spyder 2.2 everything works, then I went to the bitbucket, install the 2.3 by running
[code]sudo python setup.pu install[/code]
It runs the installation, I opened again the Spyder it became 2.3, but then sh

[2015-08-04 02:26] SandboChang commented on #2588
I think I finally found one reason............

In 2.3.5.x, I have to HIGHLIGHT the comments I want to run before hitting shift-enter.
In 2.2, it wasn't necessary and shift-enter runs everything.
So I call this solved (or is there a way to make 2.3 behave like 2.2 for this?)

[2015-08-04 16:59] Diti24 opened #2593 "Having a lof of data in the Variable explorer slows down Spyder considerably"
## Description
The variable explorer slows down the spyder IDE, when big data is present in the workspace.
Activating the "Truncate values" option and disabling the min/max option does not improve the situation (as expected from documentation). Is there a way out? Closing the variable explorer/ or switching on another tab removes the problem.

* *What steps will reproduce the problem?*

1. Create

[2015-08-04 18:37] ccordoba12 commented on #2593
Please post how you're creating your *big big data array*.

[2015-08-04 20:57] israelyk commented on #2569
How exactly I should debug at the call point? I am new to Python.

[2015-08-05 12:17] Diti24 commented on #2593
Hi,
I extracted part of the code in order to be able to reproduce it.

=====================================================================
import numpy as np
from pandas import DataFrame

aa = dict()
for i in range(0,222):
    key = "%04i" %(i)

    bufData = np.concatenate((np.random.rand(10000, 1), np.random.rand(10000, 1), np.random.rand(10000, 1), np.random.rand(10000, 1), np.random.rand(100

[2015-08-05 13:09] kapinga commented on #2010
I just ran into the same issue. I am attempting to run a script that takes in a list of arguments parsed by argparse.ArgumentParser. Some of the arguments take an additional file path parameter. Using runfile() results in an error for any paths with spaces because each space in the path is considered to represent a separate number. This is regardless of the presence of slashes or quotes.

A little

[2015-08-05 21:10] #2389 closed

[2015-08-05 22:08] ktritz opened #2595 "Spyder project renames/creates folders by removing first letter of imported directories"
## Description

**What steps will reproduce the problem?**

1. Right-click in project explorer, import existing directory 'test'
2. Close Spyder
3. Reopen Spyder

**What is the expected output? What do you see instead?**
Expect to see the 'test' directory in the project explorer.
Instead, see 'est' in the project explorer and 'est' folder created in the parent directory.

**Please provide any addi

[2015-08-05 22:37] ccordoba12 commented on #2595
Thanks for reporting. Projects are going to be completely rewritten in our next version.

[2015-08-06 19:02] cy18 opened #2596 "Call tips and auto completion tips go out of screen on a second monitor"
![1](https://cloud.githubusercontent.com/assets/13564252/9120711/ec261c9e-3c4b-11e5-963d-38a58a399936.png)
![2](https://cloud.githubusercontent.com/assets/13564252/9120712/ec29b304-3c4b-11e5-9dc8-9898002f4abb.png)
I have two monitors and it only happens when the window is in the second monitor.

[2015-08-06 20:44] stonebig commented on #2574
The "basic" wheel method suggested by Christoph Gohlke is to add an `import setuptools` at beginning.

the wheel creation nevertheless fails on my Windows because of über-tricky colorama error messages in "\ansitowin32.py".

Spyder-ide project providing a wheel on its betas would definitely help

[2015-08-07 01:01] joshburnett opened #2597 "new icon theme broken on OSX"
The new icon theme looks fine on Windows (tested earlier today on Windows 7), but all of the icons are broken on OSX.  On 10.7.5 I get the results shown below, and I just confirmed that I get the same results on 10.10.4.  Both machines are running Python 2.7.10, from Anaconda 2.2.0 or 2.3.0.

![image](https://cloud.githubusercontent.com/assets/12973799/9126525/f82f81d0-3c7b-11e5-8073-58710b6768c1.

[2015-08-07 01:41] SylvainCorlay commented on #2597
@joshburnett thanks for reporting. Do you see any error message in the internal console?

[2015-08-07 02:19] joshburnett opened #2598 "Cannot change between UI tabs on OSX"
## Description

**What steps will reproduce the problem?**

1. Start Spyder via python bootstrap.py
2. Try to change between Console, History Log, IPython Console, Object Inspector, Variable Explorer, etc.
3. The tab selectors now look like this:
![image](https://cloud.githubusercontent.com/assets/12973799/9127414/9b1b2ef6-3c88-11e5-87e4-1e9523b6b623.png)
...and the tabs have not changed state.
4.

[2015-08-07 02:29] joshburnett commented on #2597
Not sure which console you're referring to.  The Console tab in Spyder shows nothing unusual.
The OSX Console shows the following text after I open Spyder:

8/6/15 10:20:36.734 PM python: _GetISImageRefFromIconRefInternal: could not retain image ref 0x28ba0002 (err=-2580)
8/6/15 10:20:36.735 PM python: _GetISImageRefFromIconRefInternal: could not retain image ref 0x28ba0002 (err=-2580)
8/6/15 10:2

[2015-08-07 02:52] SylvainCorlay commented on #2597
Spyder has an "internal console" tab which can be enable with `View->Panes->Internal console`. It generally contains internal error messages from Spyder which are useful for debugging.

I don't have a Mac to test at the moment, but this might give us some clues.

[2015-08-07 03:34] thewhitetulip commented on #2415
@ccordoba12 @goanpeca I would like to work on this!

[2015-08-07 03:41] thewhitetulip opened #2599 "Autocomplete as soon as we type"
The current autocomplete is triggered when we hit ctrl + space if I am not wrong, it would be awesome to have autocomplete like atom has which doesn't need a keyboard trigger and suggests as soon as we start typing

[2015-08-07 03:56] naught101 opened #2600 "UnboundLocalError: local variable 'prevline' referenced before assignment"
Spyder 3.0.0-beta1, on python 3.4, you can check my install via https://binstar.org/naught101/spyder/files

I get this on startup:

[code]

[2015-08-07 04:35] scottsievert commented on #2563
IPython has `%run <file>`, a feature which allows script/prompt variables to work like Matlab's `clear all` was inserted at the top of the script. I would much appreciate a preference to enable `%run` and know others would as well.

If we included a preference for `%run`, we'd be closer to emulating the Matlab experience with `clear all`. We would also be closer to emulating how IPython works in t

[2015-08-07 04:40] Garrett-R commented on #2415
Heyo!

[2015-08-07 05:05] goanpeca commented on #2415
@thewhitetulip cool, need some pointers?  @Garrett-R, how far in the history you had in mind? I guess the limit will be the same as we currently store in the last opened files?

[2015-08-07 06:24] thewhitetulip commented on #2415
Yes, I need some pointers..

[2015-08-07 13:21] blink1073 commented on #2598
I see the same thing.  @goanpeca:

[code]

[2015-08-07 13:24] blink1073 commented on #2597
@SylvainCorlay, I have OSX and I'm seeing the same problem when running from bootstrap.  Nothing is printed to the console or the terminal.

[2015-08-07 14:06] goanpeca commented on #2598
Hmmm ... I need a mac! :s

[2015-08-07 14:25] SylvainCorlay commented on #2597
@blink1073 thanks for the info. I will be getting a mac by the end of the month, and I should be able to troubleshoot.

[2015-08-07 23:09] jingpengwu commented on #1976
I really like the spyder IDE especially the Variable Explorer. It make me productive. I am considering migrating to Julia, which lacks a simple powerful IDE. Anyone have a technical clue to implement julia support of Spyder?

[2015-08-07 23:30] goanpeca commented on #1976
In the current state is not straightforward, but the idea would be to implement additional language possibilities via plugins, so a hypothetical `spyplugin.julia` could add:

1. Code completion/introspection
2. An interface to the variable explorer
3. an iJulia console

However this framework would most likely come (if it does) with spyder 4.0 ...

[2015-08-08 04:46] thewhitetulip commented on #2415
What I have in mind is that there will be a function which is triggered when we click the close button, I can get the tab object and store it somewhere, maybe a sqlite file or a plain file and then open a new tab with the same file name, that way we can open the tab even after spyder is closed and opened again. I don't know where to start though

[2015-08-08 07:37] stonebig commented on #2574
another associated problem is that spyder wheel cannot be prepared on a Windows Python3.4 environment.

step to reproduce
- be on windows
- be either in Python 3 or in Python 2
- add `import setuptools' at beginning of setup.py file (to allow wheel creation)
- then run `python setup.py sdist bdist_wheel`:
  - success on Python 2.7
  - failure on Python 3.4, with obscure messages in colorama (a pyt

[2015-08-08 13:13] ccordoba12 commented on #2574
As I said, we need to move from `distutils` to `setuptools` for this to work correctly. And that is not only a matter of adding

    import setuptools

to our `setup.py` script. What it really means is to rewrite `setup.py` in terms of `setuptools`.

However, I think you can use `pip` to auto-generate a wheel when you do

    pip install .

(at least that gives me a wheel on Linux).

[2015-08-08 13:37] goanpeca commented on #2490
Ok so... I really dislike the current cell icons... they do not fit in the theme (they are 3D) and they have too much stuff going on... that is not the point of the font awesome style, which should be more like:
- Clean
- Flat
- Simple

Also I have stressed this point many times before and I will do it again, we need to be consistent in the use of filled icons (vs contour icons). `New File`, `Save

[2015-08-08 14:05] thewhitetulip opened #2601 "Shortcut to toggle case"
Ctrl + U = convert selected case to upper
Ctrl + shift + u = covert selected case to lower

[2015-08-08 15:07] ccordoba12 commented on #2601
Someone will have to implement it :-)

[2015-08-08 15:09] ccordoba12 commented on #2597
This is really bad. Let's hope @SylvainCorlay can fix it for beta2.

[2015-08-08 15:10] ccordoba12 commented on #2598
I thought that was the case too. @goanpeca, this needs to be fixed for beta2.

[2015-08-08 15:12] ccordoba12 commented on #2600
Please try to run

    spyder --reset

and try again. Maybe that helps :-)

[2015-08-08 15:14] ccordoba12 commented on #2596
I don't know how Qt handle other monitors. Seems tricky to fix.

[2015-08-08 15:15] ccordoba12 commented on #2599
Closing as a duplicate of issue #1914. We're considering to implement this for 3.0 or 3.1.

[2015-08-08 15:15] #2599 closed

[2015-08-08 15:17] ccordoba12 commented on #2588
You don't need to select a cell to run it, so that's odd.

I'm closing this because you said both problems are solved.

[2015-08-08 15:17] #2588 closed

[2015-08-08 15:22] goanpeca commented on #1914
If we are doing this, would it make sense to also add fuzzy matching, perhaps as an option?

[2015-08-08 15:50] cy18 commented on #2596
@ccordoba12 I tried to fix it but I can not even found where the call tips is handled. It seems they are handled in https://github.com/spyder-ide/spyder/blob/df0b2ec50e3981c7157592eaec2b866f1c9c6b86/spyderlib/widgets/calltip.py#L194?
But nothing is printed after I added print(screen_rect) or debug_print(screen_rect). I added a raise Exception() after here and there are no exception raised.
What is

[2015-08-08 16:13] ccordoba12 commented on #2593
Thanks for the example. I'll look into it for 3.0

[2015-08-08 16:49] blink1073 commented on #1914
That was the plan :smile:

[2015-08-08 20:00] ccordoba12 commented on #1914
@blink1073, is this planned for beta2 or beta3?

[2015-08-08 21:02] blink1073 commented on #1914
Beta3.

[2015-08-09 02:57] Stretch97 commented on #2586
I was referring to the plain python console, as I don't use the iPython console much, but I suppose it would not hurt to add it to the iPython console too.

[2015-08-09 07:30] thewhitetulip commented on #2601
I can implement but I just can't understand how spyder works, I went through the entire codebase, I want to also work on the issue about reopening last tabs, if @goanpeca or you can guide me, I'll submit a PR as soon as possible.

[2015-08-09 15:48] SylvainCorlay commented on #2597
Yeah, I should be able to test thoroughly on a mac soon. Also, running the tests of qtawesome on a mac could be useful.

[2015-08-09 15:49] SylvainCorlay commented on #2597
@blink1073 has it ever worked on your mac, or did it just stop working?

[2015-08-09 16:00] blink1073 commented on #2597
I tried doing a `git bisect`, but there were a ton of broken commits and eventually I chose `git bisect bad` instead of `git bisect skip` by accident and gave up.

[2015-08-09 16:03] blink1073 commented on #2597
I cloned the repo and ran `example.py`:

<img width="206" alt="screen shot 2015-08-09 at 11 03 01 am" src="https://cloud.githubusercontent.com/assets/2096628/9155712/427b9308-3e86-11e5-9c04-b5969b5f61a0.png">

[2015-08-09 18:59] paulogrady opened #2603 "Import issue running bootstrap.py from Spyder console"
Hi,

I've recently forked Spyder and would like to make some mods locally etc. I've tried running `bootstrap.py` from Spyder in a console but I run into import issues (I've tried both *current* and *dedicated* interpreters). In particular, the Spyder console fails to load the development version of `spyderlib` even after including the dev version's path in `os.path` (as `bootstrap.py` does) and ch

[2015-08-09 22:38] ccordoba12 commented on #2603
Please use a regular (operating system) terminal to run `bootstrap.py`. That's how all core developers run Spyder from the git repo.

We don't have time, nor we are interested, in making `bootstrap.py` work inside Spyder. I hope you understand.

[2015-08-09 22:38] #2603 closed

[2015-08-09 23:20] sho-87 commented on #2563
This would be extremely useful, and I miss the clear all feature from matlab when working in spyder.

I find that when I'm iterating through a script and making changes to it, code bugs can creep in where it retains old values and uses them for a new run of the program. Most of the time I just want to clear the entire namespace every time I run my script so it can start fresh, and I know that any

[2015-08-09 23:37] barrosv opened #2604 "%matplotlib in iPython console"
I'm getting "invalid syntax" error when trying to use "%matplotlib inline" when using the Spyder editor and it shows up when trying to execute the editor in an iPython console.

I know %matplotlib and other %magic subcommands are installed; I can execute the code just fine when using the iPython gtconsole, but it won't execute in Spyder.

Any thoughts? Thanks.
![screen shot 2015-08-09 at 7 32 35 p

[2015-08-10 00:05] SylvainCorlay commented on #2604
`%matplotlib inline` is an IPython magic and is not valid Python syntax.

If you ran this code by selecting the code and running it into the IPython console (using F9-run selection for example) it would run , however the "run" and "debug" buttons use a expect valid Python code.

[2015-08-10 00:56] #2604 closed

[2015-08-10 06:19] Garrett-R commented on #2415
@goanpeca, good question.  Maybe imitate Firefox?  The default limit seems to be 10 tabs.  I'd guess it would be very rare for someone to need the 11th closed tab.

I also think the history can be flushed between sessions as in Firefox.

[2015-08-10 06:43] naught101 commented on #2600
Yep, that did sort it out, thanks.

[2015-08-10 06:43] #2600 closed

[2015-08-10 09:40] thewhitetulip commented on #2415
we can keep unlimited last closed tabs as well :D

[2015-08-10 15:16] PlokavianNerveGas opened #2605 "Spyder will not load due to utf8 encoding problem"
Hi,
I am unable to get spyder to load. I am running windows 7, 64 bit.

I have installed  Anaconda-2.3.0 64 bit and have attempted to run the bundled spyder.
I have also tried the latest separate spyder build and encoutered the exact same issue.

When running spyder via cmd I recieve the following error message:

[code]

Is there some way to fix this?
Thanks

[2015-08-10 15:41] johnml1135 opened #2606 "Panels not dragging in 3.0.0 dev"
When working in Spyder 3.0.0 dev, I when I drag the panels from either the top bar or the bottom tab nothing happens.  To move them I have to undock them with the resize (double-box) button and then I can move them.  There is no visual feedback when the panel would snap into the proper location.  Basically, there are work-arounds, but it is pretty unintuitive.

System:
-Windows 7
-WinPython-64bit-

[2015-08-10 23:17] ccordoba12 commented on #2606
You can move panes that are tabbed next to each other by dragging and dropping their tabs to the left or to the right. Unfortunately, this doesn't work for panes placed in different tabs.

@goanpeca, do you think there's something we can do to improve the situation? Like grabbing from a pane tittle to move to another position?

[2015-08-10 23:20] ccordoba12 commented on #2605
The easiest solution is to change your user name so that it doesn't have non-ascii letters.

[2015-08-11 01:37] goanpeca commented on #2606
This should be working, but I guess the user did not realized that panes are `locked` by default?

[2015-08-11 01:37] ccordoba12 commented on #680
We finally decided not to do this because it's really hard to determine in which situations auto-adding parens is an improvement and when it's a disadvantage.

See PR #2602 for the final decision.

[2015-08-11 01:39] #2581 closed

[2015-08-11 01:49] ccordoba12 commented on #2563
@blink1073, could you add some light here? How exactly `clear all` in Matlab works? Sorry, but I was (mostly) a Mathematica user before moving to Python ;-)

[2015-08-11 01:56] ccordoba12 commented on #2606
Oh yeah! I forgot that! ;-)

@johnml1135, you just need to go to

    View > Lock panes

to unlock them, and then reorganize them as you want.

We decided to lock panes by default to avoid accidental mouse dragging's, which was quite frequent and annoying.

[2015-08-11 01:56] #2606 closed

[2015-08-11 02:07] blink1073 commented on #2563
I have no light to shed, sorry.  I have forgotten as much about Matlab as I can.

—
Sent from Mailbox

On Mon, Aug 10, 2015 at 8:49 PM, Carlos Cordoba <notifications@github.com>
wrote:

[2015-08-11 04:17] scottsievert commented on #2563
I can shed some light!

In essence, Matlab's `clear all` clears the namespace before running a script. By default, when a Matlab script is run it can pull variables previously defined from the variable explorer. `clear all` clears the variable explorer and deletes all variables previously defined by the user (but keeps global default functions/variables).

By contrast, `%run` runs a script in a cl

[2015-08-11 12:14] johnml1135 commented on #2606
Thanks for the explanation.  It makes sense now.

[2015-08-11 13:58] goanpeca commented on #2606
And we need to put this clear in `UPPERCASE` somewhere in the docs ;-) ! cause it might come and bite us again in the future

[2015-08-11 15:14] mickeydonkey opened #2607 "python crashes while switching the windows layouts with 'Lock panes' on"
e.g. Spyder crashes when i tried to use Matlab layouts. currently I bypass this problems by unselecting 'Lock panes' first, then change the layouts.

[2015-08-11 16:49] ccordoba12 commented on #2607
Questions:
1. What's your Python version?
2. What operating system are you using?
3. How did you install Spyder?

For next time, please use the menu entry under

     Help > Report issue...

to report a bug. That entry gives us all this information (and more) as part of the report.

----

@goanpeca, this one is yours ;-)

[2015-08-11 19:59] goanpeca commented on #2607
Got it

[2015-08-12 08:06] dyngts opened #2608 "Crash after update IPython to 4.0"
Hi guys,

I'm just updating my ipython 3.2.1 to 4.0. But, problem appears when i tried to opening Spyder using command

[code]

And suddenly throwing this following errors:

[code]

FYI, i'm completely using anaconda packages with:
- Python 2.7.10
- Spyder 2.3.5.2
- IPython/Jupyer 4.0

Thanks Guys!!!

[2015-08-12 14:19] johnml1135 opened #2609 "Inline images copied from IPython can't be pasted in Word"
I made a plot in the IPython console and when I right click and select "Copy Image," I cannot then paste it into a Word doc.  I can work around it by saving the image and then placing it in the Word doc.

Code sample:
import matplotlib.pylab as plt
plt.plot([1,2,3,2])

System:
Windows 7
WinPython-64bit-3.4.3.5Qt5.exe
Spyder 3.0.0dev

[2015-08-12 16:33] ccordoba12 commented on #2608
I can't reproduce your error, using a clean virtualenv.

I ran:

    pip install qtconsole
    pip install spyder

and everything is working fine for me.

I imagine you used pip to do the update in Anaconda. Let's wait until there are proper Anaconda packages to see if the error still shows up.

[2015-08-12 16:52] ccordoba12 commented on #2609
We'll see what we can do about it

[2015-08-12 16:56] ccordoba12 commented on #2609
We'll see what we can do about it

[2015-08-12 17:06] thewhitetulip commented on #2415
Submitted a pull request: https://github.com/spyder-ide/spyder/pull/2610

[2015-08-12 17:13] thewhitetulip commented on #1669
@goanpeca I would like to work on this one now..

[2015-08-13 00:12] jrminter commented on #2566
I confirm the problem and the fix listed above did not work

[2015-08-13 00:44] jrminter commented on #2566
The problem is indeed with Babel. I ended up downloading babel from github and building from source. Then I build spyder from github. all works now.

[2015-08-13 02:04] dyngts commented on #2608
Hi @ccordoba12 ,

Yes, everything update action were did in Anaconda and i were already ran all your commands, but still not working. What do you think about this bug? is this because newer version of IPython not backward compatible with older version, so the Spyder configuration doesn't run well with newer IPython?

Thanks for your response!!

[2015-08-13 08:59] flying-sheep opened #2612 "Fix version detection on the Dependencies dialog"
The optional dependencies pane tells me that `rope==0.9.4-1` is installed, and that this wouldn’t satisfy `rope>=0.9.4`.

That’s wrong, so please fix your version comparison function.

[2015-08-13 09:01] ccordoba12 commented on #2566
Yes, the solution is really to downgrade to babel 1.3

[2015-08-13 09:03] ccordoba12 commented on #2612
You're totally right, this is a bug.

[2015-08-13 09:10] ccordoba12 commented on #2608
Jupyter 4 is compatible with Spyder. I just confirmed it before posting my previous comment. For this to work you need to uninstall IPython from Anaconda, and run the command above:

     pip install qtconsole

not just

    pip install ipython

I think the problem is that you (most probably) only ran the last one.

[2015-08-13 09:15] flying-sheep opened #2613 "Use $XDG_CONFIG_HOME"
do not create dotfiles in my `$HOME`, but instead use [`appdirs`](https://pypi.python.org/pypi/appdirs/1.4.0) to get the proper config file location.

[2015-08-13 09:22] ccordoba12 commented on #2613
We already have discussed this with you, and we told you already we're not going to follow the XDG standard.

[2015-08-13 09:22] #2613 closed

[2015-08-13 09:56] dyngts commented on #2608
Hi @ccordoba12 ,

I were already following all your commands:
1. Uninstall IPython
2. Installing Both packages (qtconsole & IPython) in ordering steps and pip said already up-to-date.
3. Then, run Spyder again. But still not working.

Then, i came up with the following solution: **Uninstalling IPython only**. The spyder run very well, but without ipython console. Then, I'm trying to install IPytho

[2015-08-13 11:05] procha79 commented on #2608
I actually have the exact same problem. I believe the issue has to do with the pygments_patch file in the spyderlib folder but I am not sure and I don't know how to fix it. I am running Python (x,y)

Python 2.7.6
Spyder 2.3.5.2
IPython/Jupyter 4.0

Thanks,

[2015-08-13 11:15] flying-sheep commented on #2613
oh we did? sorry!

i searched, but i didn’t find it.

[2015-08-13 11:20] flying-sheep commented on #2613
hmm, could you give me a link? i can’t find it!

[2015-08-13 12:31] Beta-Alf opened #2614 "Indenting at the first position in file fails/crashes"
This happens under Spyder 3.0.0-dev (from winpython) as well as Spyder 2.3.5.2 (from Arch Repos).
Under windows it simply crashes the application, under Linux I get a nice traceback:
[code]
The problem is clear: there is no previous line

[2015-08-13 12:33] Beta-Alf commented on #2614
I am trying to fix this, but I am unsure whether to do this in intelligent_tab (checking for cursor position) or in fix_indent (making sure that no codepath ever hits this problem again). It should probably be the latter.

[2015-08-13 12:51] blink1073 commented on #2613
https://github.com/spyder-ide/spyder/issues/2230

[2015-08-13 16:04] ccordoba12 commented on #2596
All `print`'s are redirected to the Internal console, so please take a look there.

[2015-08-13 16:45] goanpeca commented on #2596
@cy18 Inside Spyder go to `View` menu `panes` and then `Internal console`

[2015-08-13 16:47] ccordoba12 commented on #2608
@dyngts, packages for Anaconda will be available in a couple of days, so let's wait until then. In general it's not good to mix conda and pip packages.

@procha79, as you can see from the error posted by @dyngts, the problem is `pygments_highlighter` is not part of IPython, not a problem with Spyder. This clearly points to an installation problem in your side. There's no need to fix any imports in

[2015-08-13 17:12] gq9545 commented on #2605
I got a similar issue. I ran a file in Spyder but it encounters the _UnicodeDecodeError_. However, it works when I ran it in command line. Some details are as follows.

I downloaded a Python [module](http://www.daimi.au.dk/~mailund/suffix_tree.html) that wraps a C implementation of a suffix tree. After built, it was ran in Spyder but I got the following error:

This error appears right after I imp

[2015-08-13 17:55] thewhitetulip opened #2616 "ipython update breaks spyder"
/usr/local/lib/python2.7/dist-packages/IPython/qt.py:13: ShimWarning: The `IPython.qt` package has been deprecated. You should import from qtconsole instead.

  "You should import from qtconsole instead.", ShimWarning)

Traceback (most recent call last):
  File "/home/thewhitetulip/code/spyder_work/spyder/spyderlib/spyder.py", line 3103, in main
    mainwindow = run_spyder(app, options, args)

  F

[2015-08-13 18:04] flying-sheep commented on #2613
ah, thanks! quite the tangent there huh?

but re-reading it all, i still only saw one argument:

which i replied to with

and got no response. so i assumed i convinced you :wink:

and to add to that: it’s really not difficult to say “if you’re on linux, go to `~/.config/spyderlib/`, if you’re on windows go to `%appdata%\spyderlib\`, and if you’re on OSX, go to `~/Library/Application Support/spyder

[2015-08-13 18:19] BlackZ commented on #2162
As far as I know, the jedi devs are currently working on the exact same thing (https://github.com/davidhalter/jedi/issues/372). Therefore this issue might solve itself with the next release of jedi.

[2015-08-13 19:21] ccordoba12 commented on #2616
You need to install the qtconsole package for Spyder to work, with

    pip install qtconsole

Closing as duplicate of issue #2608, to consolidate everything in one place.

[2015-08-13 19:21] #2616 closed

[2015-08-14 01:46] dyngts commented on #2608
@ccordoba12 : Okay, let's wait then. Actually i'm using pip inside on Anaconda package, not pip for desktop environment. So that's must not be a problem.

[2015-08-14 09:32] Phlya commented on #2608
Got the same problem. Spyder was working fine, then I updated the IPython stack (sudo pip install jupyter). Now spyder doesn't start with the same error. I'm not using Anaconda.

[2015-08-14 09:33] mhemeryck commented on #2608
Same issue on mac; not using Anaconda.

[2015-08-14 14:34] NazBen commented on #2608
Same issue for me, on both debian and windows and only since I update to ipython 4.0. I'm note using Anaconda.

Spyder can launch only if ipython is uninstalled, like @dyngts already suggests.

[2015-08-14 15:31] ccordoba12 commented on #2608
@Phlya, @mhemeryck, @NazBen, what is the error you're seeing? The same one reported by @dyngts?

I say it because I can't reproduce this problem. IPython has a compatibility module that should prevent this problem.

Besides, remember that now one thing is IPython and a different one is Jupyter. If just update IPython and don't install Jupyter (or qtconsole) then things are going to fail for sure.

[2015-08-14 16:12] NazBen commented on #2608
Yes, the exact same one:
[code]
I tried to uninstall and reinstall the packages using pip, but nothing changed.

All the dependencies seem up to date:
[code]

I got back to IPython 3.0 and everything is working now :)

[2015-08-14 16:26] ccordoba12 commented on #2608
Thanks @NazBen. Could you give the entire output of `pip freeze` so I can recreate a virtualenv that matches yours?

This way I could start to understand what's happening in this case.

[2015-08-14 16:32] silicium14 opened #2618 "Cell execution fails when second cell line is comment and has accents"
I use spyder 2.3.5.2 on windows 8.1 64bit

I can execute a cell like this :

[code]

I can't execute a cell like this :

[code]

[2015-08-14 16:33] NazBen commented on #2608
Of course:

[code]

Thank you.

[2015-08-14 17:33] stonebig commented on #2608
I see babel 2.0, which may be still a problem ?

[2015-08-14 17:40] NazBen commented on #2608
@stonebig, I downgraded babel to 1.3 considering #2566, but it made no change.

[2015-08-14 17:56] stonebig commented on #2608
I think I had the issue, because I forgot to include qtconsole at first.
comparing to you:
- I'm Python3.4, which may receive better treatment from Jupyter team now
- I'm still with jupyter_core-4.0.2 (so previous from you, will try the new soon)

[2015-08-14 18:14] SylvainCorlay commented on #2608
@ccordoba12 this actually show that we cannot just check that IPython is present anymore but that we need to check for qtconsole etc.. The big split makes optional dependency checks a bit more complicated than before.

[2015-08-14 18:39] stonebig commented on #2608
my current 'Ipython4' list is at least:
[code]
... a big split they said

[2015-08-14 19:15] ccordoba12 commented on #2608
So @stonebig, are you seeing this issue or not? But please use the `2.3` branch to test and not `master` because `master` shouldn't have this problem.

[2015-08-14 19:17] ccordoba12 commented on #2608
@SylvainCorlay, I understand now we need to depend on the `qtconsole` package. But what I'm trying to figure out here is if we need to do a new stable release to fix this problem.

Since I've been unable to reproduce this issue, I haven't taken any further steps.

[2015-08-14 19:29] stonebig commented on #2608
Hi @ccordoba12

Sorry, I'm currently focussed on having a working Python 3.4 / Qt 5.5.0 / Spyder 3.0.0dev / Jupyter 4.0.0 combination
I'll try other combinations when that one will work great.

Reading you, do you mean it's better tested to use Spyder 3.0.0dev than Spyder 2.3.5.2, for Ipython 4 ?

[2015-08-14 19:32] ccordoba12 commented on #2608
@stonebig, the thing is I removed support for old IPython versions in `master` (i.e. versions less than IPython 3.0). That's why master should be safer at this point than 2.3, for this particular case.

[2015-08-14 20:24] stonebig commented on #2618
@silicium14 : you may add a screenshot or copy/paste of the error, to help resolution.

Which Python version do you use ? I don't see your error, if I understood it well, on Python 3.4

![spyder_accent](https://cloud.githubusercontent.com/assets/4312421/9283321/27d6dcf0-42d3-11e5-9182-e08376683d89.GIF)

[2015-08-14 20:58] ccordoba12 commented on #2608
Well, I can confirm the error (using one of my Ubuntu VMs). I was hiding behind *it works on my machine* ;-)

The fix is simple, but it's not where most of you have guessed. We just need to set PyQt APi to version 2, and the error goes away.

I'll start to prepare **2.3.6** right away. I hope to release it by Monday at most. Thanks for your patience :-)

[2015-08-15 00:45] #2608 closed

[2015-08-15 00:56] ccordoba12 commented on #2545
Closing, given that #2544 was closed too.

[2015-08-15 00:56] #2545 closed

[2015-08-15 00:57] ccordoba12 commented on #2543
This was fixed in 2.3.5, so closing.

[2015-08-15 00:57] #2543 closed

[2015-08-15 00:58] ccordoba12 commented on #2528
No idea why this could be happening, sorry.

[2015-08-15 00:58] #2528 closed

[2015-08-15 00:59] ccordoba12 commented on #2528
Someone mentioned that it could help to uninstall and install the app again.

[2015-08-15 09:37] stonebig commented on #2608
Hi this monring, filming the spyder start with a smartphone, I saw also the message

[code]

on spyder-3.0.0dev (and PyQt5.5.0)

but it doesn't fail and spyder starts

[2015-08-15 09:50] stonebig commented on #2608
Unfortunately, it creates a bug:
[code]

[2015-08-15 10:07] stonebig opened #2619 "Spyder fails to start on light mode because of check_updates code"
when launching spyder_light on Python3.4/PyQt5.5.0/Jupyter4/spyder-3.0.0dev, i get this strange error:

[code]

on a side-note, I would be happy if the check_update was disabled per default

[2015-08-15 10:16] stonebig commented on #2619
the problem goes away if I un-clicked the "check for updates" via a Spyder normal session

[2015-08-15 11:08] silicium14 commented on #2618
Hi @stonebig
Here is a screenshot of my spyder window.
![image](https://cloud.githubusercontent.com/assets/13800015/9288559/bbdd5c02-434c-11e5-8d66-4b7f2c9c72f2.png)

When I hit CTRL+Enter (or use menu to execute cell) on the first cell, the cell is executed. When I put the text cursor on the second cell  an hit CTRL+Enter (or use menu to execute cell), nothing happens. There is no error message d

[2015-08-15 12:30] stonebig commented on #2618
ok, the good news is that:
- it works ok under Spyder-3.0.0b1
- Carlos apparently knows what the bug is

![spyder3_accent](https://cloud.githubusercontent.com/assets/4312421/9288787/db69d7dc-4359-11e5-95c6-8eee842c4f53.GIF)

[2015-08-15 14:07] NazBen commented on #2608
Same for me @stonebig. With spyder-3.0.0dev installed on my windows, the message appears but spyder launched and works fine.

I'll try with the 3.0. Monday on Linux.

Thanks for the help.

[2015-08-15 15:00] ccordoba12 commented on #2608
@stonebig and @NazBen, that warning comes from IPython compatibility module. It's just a warning, so don't worry about it. We'll remove it on beta2.

Perhaps I wasn't clear enough, but this issue is **not** a bug in `master`, just on the stable branch (i.e. `2.3`). That's why I need to do a new stable release to fix it.

[2015-08-15 15:03] ccordoba12 commented on #2618
I'll take a look at this one for our next stable release. Thanks for the screenshots, by the way.

[2015-08-15 15:05] ccordoba12 commented on #2619
@goanpeca, please take a look at this one. It should be an easy fix :-)

[2015-08-15 15:08] silicium14 commented on #2618
Ok, good news :)

I just downloaded WinPython and I have the same behaviour as you @stonebig  with WinPython's spyder 2.3.5.2: no problem with accent.

If it may help, here are the versions displayed at the bottom of "About spyder" window in both cases (screenshot).
* WinPython 3.4.3.5

![image](https://cloud.githubusercontent.com/assets/13800015/9289420/682ed78e-436f-11e5-9582-937009fd85fe.png)

[2015-08-15 15:19] stonebig commented on #2608
my fault: you were clear but I misinterpreted the github web interface.

[2015-08-15 16:53] ccordoba12 commented on #2608
@SylvainCorlay, I added `qtconsole` as an optional dependency. We're also now checking for its presence to decide if we can show the *IPython Console* plugin or not.

I think this completes the work needed to support Jupyter 4.0+.

[2015-08-15 18:11] DaBosc opened #2620 "Problem when launching Spyder"
Hello,

I am working on Mac, and I did install Python 3.4, and Anaconda 3, in order to work with Spyder.
Everything was working great, but I did something wrong and I did uninstall Anaconda. Therefore, I have installed Anaconda again, but now I cannot launch Spyder anymore.
I did also try to launch it directly from the bin directory, but it gives the following error message:
" configparser.Duplica

[2015-08-15 18:36] ccordoba12 commented on #2620
@DaBosc, just open a terminal and run this command

    spyder --reset

That should fix your problem :-)

[2015-08-15 22:46] goanpeca commented on #2619
Will do!

@stonebig I understand, but the idea of the check for updates is to drive the community into the newest version possible, we receive a lot of questions from people still in 2.2.x ....

Disabling it by default really does not help in this direction.

[2015-08-15 22:51] ccordoba12 commented on #2619
I agree with @goanpeca, but I also understand @stonebig, given that he is a packager. Let's leave for another issue though.

[2015-08-15 22:56] goanpeca commented on #2619
ok

[2015-08-15 22:58] goanpeca commented on #2578
I think it may be a bit more convoluted... because of the way we handle the maximize/unmaximize of docks...

[2015-08-15 23:00] ccordoba12 commented on #2578
Ok, thanks for the info. Let's leave it for 3.0 then.

[2015-08-15 23:02] goanpeca commented on #2578
I can take a look at this one... and it would be a good place to discuss the way it is done, cause I think we can make it less error prone.

[2015-08-15 23:07] ccordoba12 commented on #2578
Ok, thanks ;-)

[2015-08-16 05:49] stonebig commented on #2619
can you pinpoint me the line of code to change if iI want to have the other default initial behavior in my case ? it's not clear to me.

[2015-08-16 13:22] goanpeca commented on #2619
Should be this one

https://github.com/spyder-ide/spyder/blob/master/spyderlib/config/main.py#L199

[2015-08-16 13:51] stonebig commented on #2619
thanks!

[2015-08-16 16:13] goanpeca commented on #2619
:+1:

[2015-08-16 16:39] goanpeca opened #2621 "Spyder should start using six + any custom Qt/Py2/Py3 compatibility layer."
Currently spyder uses its own [compatibility layer](https://github.com/spyder-ide/spyder/blob/master/spyderlib/py3compat.py) for Py2 and Py3.

It would be a good idea to make use of [six](https://bitbucket.org/gutworth/six) which is a more standard way of handling this compatibility + any specific functions needed to handle PyQt/Py2/Py3 issues.

@spyder-ide/core-developers?

[2015-08-16 18:02] ccordoba12 commented on #2621
I really prefer our own module, it's simple and light weight. Last time I checked, `six` supported up to Python 2.4, which is just too much. IPython also has its own compat module too, so that's a less compelling reason to do the move.

Besides (and I'm not going to get tired of repeating it), *if it's not broken, please don't fix it* ;-) We don't know what bugs we could introduce by doing this sw

[2015-08-17 14:05] flying-sheep opened #2622 "spyder broken with IPython 4"
I get

and then consequently:

[code]

/edit: ah, the arch packages just didn’t include qtconsole up until now.

it works, but we should still heed the deprecation warning and try importing from `qtconsole` first.

[2015-08-17 15:02] goanpeca commented on #2622
Spyder will move to the new convention in the upcoming release, and there might be also a minor release to handle this imports coming soon...

[2015-08-17 17:58] shamidreza opened #2623 "does not type all the characters when I type fast"
The editor does not type all characters when I type fast. Even at a slower type rate it does not follow my characters. This "always" happens, even if the memory is empty and there is no other apps running.
OsX 10.7, Python 2.7

[2015-08-17 17:58] ccordoba12 commented on #2622
Closing as duplicate of issue #2608 (which is already solved for the stable branch).

`qtconsole` will be added as a hard dependency for 3.0 beta2. This problem is also solved in the latest master (i.e. Spyder doesn't crash if it can find `qtconsole`).

[2015-08-17 17:59] #2622 closed

[2015-08-17 18:02] ccordoba12 commented on #2620
Closing because that should definitely fixed the problem.

[2015-08-17 18:02] #2620 closed

[2015-08-17 18:03] ccordoba12 commented on #2623
Closing as duplicate of issue #1508.

[2015-08-17 18:03] #2623 closed

[2015-08-17 18:03] ccordoba12 commented on #1508
@blink1073, are you able to reproduce this problem in 10.10?

[2015-08-17 18:12] blink1073 commented on #1508
No, I can type repeating characters as fast as I can with no lost characters.

[code]

[2015-08-17 19:55] flying-sheep commented on #2622
great, thank you!

[2015-08-18 02:21] naught101 opened #2624 "Variable Explorer is seriously affecting Spyder performance"
Currently using 3.0.0dev from git a week or so ago. Performance is really variable. Sometimes it's fine, and I don't notice anything, other times it slows down to unusable (e.g. takes 1 second to type a single character, or just freezes completely for 15 seconds). I am *not* on a slow computer (kubuntu 15.04, intel core i7 vPro, 16GB RAM, SSD for OS, normal HDD for the files I'm editing).

I'm not

[2015-08-18 02:28] goanpeca commented on #2624
@blink1073 could this be a jedi issue?

[2015-08-18 03:06] naught101 commented on #2624
I also tried turning off "automatic code completion", because as far as I can see it mostly happens while typing existing variable names. No change.

[2015-08-18 03:55] ccordoba12 commented on #2624
@goanpeca and me always use Spyder to develop Spyder, so we'd already have noticed a problem like this :-)

Maybe the problem is with the Variable Explorer (as reported in issue #2593). Please close it and try to see if that helps.

Else, please use `git bisect` to detect the problematic commit :-)

[2015-08-18 04:14] naught101 commented on #2624
Hrm.. So, that does seem to fix the problem, but automatic completion doesn't work without the variable explorer enabled. Removes a lot of the benefit of using spyder over vim in the first place..

Note: I already had automatic variable explorer refresh disabled.

[2015-08-18 08:28] naught101 commented on #2624
No, actually, I sometime even have the problem with the variable explorer closed.

[2015-08-18 15:54] H0R5E opened #2625 "Multiple untitled files generate at close"
Hi, I'm running version 2.3.5.2 using Anaconda Py27 for windows 7 64bit.

I have a problem where when I close spyder I get a long (possibly infinite) chain of untitled windows to close. Basically, each time I say I don't want to save it a new one appears.

I seem to be able to get round it by pressing cancel and then closing again, but its a bit annoying.

[2015-08-18 16:17] selahlynch opened #2626 "Can't run Spyder with Ipython on Ubuntu 14.04 installed via pip"
Hi,
I am trying to get Spyder with Ipython working on Ubuntu 14.04 but have not succeeded.

I tried both methods from the installation documents, but I will focus on the pip installation here:

I ran the following commands:
`sudo apt-get install python-qt4 python-sphinx`
`sudo pip install spyder`

However I had two issues when running spyder.
1) Can't bring up an ipython console
2) Can't step thro

[2015-08-18 16:57] ccordoba12 commented on #2626
Closing as duplicate of issue #2608. We're preparing a new stable release to fix this problem.

About the debugging issue: You need to press first the debugging button (i.e. the play and pause button) to enter debug mode. Then you could step through your code using the other buttons :-)

[2015-08-18 16:57] #2626 closed

[2015-08-18 16:59] ccordoba12 commented on #2626
Another thing you probably are not aware of: several IPython components were renamed to Jupyter, including qtconsole. To install it you need to run

    pip install qtconsole

and to start it you need to run

    jupyter qtconsole

[2015-08-18 18:10] selahlynch commented on #2626
Thanks!  Sorry I missed the duplicate ticket.

On Tue, Aug 18, 2015 at 1:00 PM, Carlos Cordoba <notifications@github.com>
wrote:

[2015-08-19 00:27] ccordoba12 commented on #2626
@selahlynch, don't worry about it ;-)

[2015-08-19 19:01] dougthor42 opened #2627 "Add optional display of current class/function that you're in."
# Summary:

Sometimes you end up having classes with a lot of different methods, or functions that are too long.

When editing these situations, it can be pretty easy to forget which class you're in (especially if the class has a lot of override methods...).
# Proposal:

Add a small display (2 lines) at the top of the editor which shows the class and function/method definition line of the block th

[2015-08-19 19:24] goanpeca commented on #2627
Hi @dougthor42 :-)!

Pretty interesting and cool idea, but I am afraid would be quite tough to implement....

[2015-08-19 20:11] dougthor42 commented on #2627
What makes you say that? We already have the line number info from the outline widget (though that only updates on save...) and there already are hooks in qt to change the background for a given line. I guess the hard part would be the overlay?

I'm not trying to be argumentative, just trying to understand what the potential issues will be.

[2015-08-19 20:12] goanpeca commented on #2627
Correct, the overlay, cause the only doable way (I can think of right now) would be to hide the lines in between and keep that logic in sync could be annoying (specially with code folding coming)

[2015-08-19 20:15] dougthor42 commented on #2627
Ah ok. Well I'll look into it some and see if there's a different way. If I find anything, I'll report back.

[2015-08-20 10:35] naught101 opened #2628 "Show current file in file browser"
It would be nice to have a menu item to show the current file in the file explorer (move to directory, select file), ideally in the context menu.

[2015-08-20 11:55] naught101 opened #2629 "Use XDG_CONFIG_HOME for config directory on Linux"
According to: http://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html

use `$XDG_CONFIG_HOME`, or if that is not set, use `~/.config/` as the base directory (e.g. `~/.config/spyder`)

[2015-08-20 14:56] ccordoba12 commented on #2628
Good suggestion.

[2015-08-20 15:17] goanpeca commented on #2629
We will be implementing this for Spyder 3.0

@flying-sheep

[2015-08-20 15:45] #2141 closed

[2015-08-20 15:45] #2340 closed

[2015-08-20 18:24] jlutgen opened #2630 "Garbage characters in file list when "sort files according to full path" is off."
## Description

When "sort files according to full path" is turned off (Preferences->Editor->Display->Interface), garbage characters appear in the drop-down file list in the editor pane and in the tooltips that pop up when hovering over editor tabs.

Confirmed on Windows, Mac, and Linux. The garbage characters are somewhat more numerous in Linux.

On Mac and Windows, I'm seeing something like this

[2015-08-20 18:55] dougthor42 commented on #2627
I think I've come up with two possible ways to do this:

### 1: Use a painter to paint over the top two rows
I've played with this a tiny bit and was able to paint a black box by adding stuff to the paintEvent of codeeditor.CodeEditor. However, I can't seem to get the box to be *over* the text - right now, it's between the background and the text:
![image](https://cloud.githubusercontent.com/asset

[2015-08-20 19:41] goanpeca commented on #2630
Thanks for reporting! will look into it

[2015-08-20 20:11] flying-sheep commented on #2629
oh great! out of curiosity: what changed your opinion?

compare also #2613

[2015-08-20 20:15] goanpeca commented on #2629
We changed our mind ?

[2015-08-20 20:16] ccordoba12 commented on #2629
We took a vote among @spyder-ide/core-developers and I was the only one wanting to keep things as they were.

[2015-08-20 20:38] flying-sheep commented on #2629
i hope my arguments in #2613 are sufficient to convince you after the fact :smile:

[2015-08-20 23:47] #2614 closed

[2015-08-21 00:17] #2566 closed

[2015-08-21 00:22] #2596 closed

[2015-08-21 02:53] naught101 commented on #978
I don't know about real time, that could get distracting, but it would be nice to have a menu item/shortcut for "show the object under the cursor in the object inspector"

[2015-08-21 02:54] naught101 commented on #2624
Possibly related to #2517

[2015-08-21 03:40] wqshen opened #2631 "Spyder interface font can't show (linux system)"
![fff](https://cloud.githubusercontent.com/assets/12339722/9400987/eb377f02-47fa-11e5-817f-898c4dbe97f4.PNG)

I install anaconda 2.3 in the Red Hat. And then when i launch spyder in the xshell,
the font can not show, and some info appeared in the xshell,
     QFont::setPointSize: Point size <= 0 (-2), must be greater than 0

How to fix it ?

Thank you

[2015-08-21 13:31] ccordoba12 commented on #978
I think that's what `Ctrl+I` is used for, isn't it?

[2015-08-21 13:32] ccordoba12 commented on #2631
I've never seen this bug. It seems a problem with the fonts you have selected in your system.

[2015-08-21 13:33] ccordoba12 commented on #2631
Maybe running in a terminal

    spyder --reset

and trying again could help.

[2015-08-21 22:11] stonebig commented on #2566
Hi. I'm not sure. Is Babel 2.0 ok and functional with Spyder under Python 3.4 now ?

[2015-08-21 23:21] ccordoba12 commented on #2566
If a `TypeError` is generated by Babel, then the Rich mode of the Object Inspector is deactivated.

The advantage is to avoid a crash at Spyder startup.

[2015-08-22 00:54] naught101 commented on #978
Ah, cool, yep, that works. But there's no corresponding menu item, so there's no easy way to discover that.

[2015-08-22 04:30] zach-morris commented on #2171
I had this same issue.  After a random crash of the app, every time I started Spyder-Py2 it became slower and slower to start.  Eventually it took around 10 minutes.  After showing the app contents, I sorted the files by last modified and saw a file named 'pep8' that was very large (around 1GB).  I deleted it and restarted Spyder-Py2 and it started up normally.  Whatever this file is doing was the

[2015-08-22 06:10] stonebig commented on #2566
ok. It looks better to stay on Babel 1.3, for Python 3.4 users.

[2015-08-22 12:54] ryscet commented on #2560
I have the exact same problem. I store a lot of pandas dataframes (2D gaze signal slices) in a list. When this list is exposed in variable explorer switching between it and the console takes significant amount of time (couple of seconds on Mac os, 24 GB ram, 3.46 Ghz processor). I would really appreciate a fix.

    for idx in range(0, len(Events)):
        inference.append(FindSlices(EyeData[idx]

[2015-08-22 15:19] ccordoba12 commented on #978
Please read the *Usage* message shown in the Object Inspector every time Spyder is started.

What we could do is adding an entry in the context menu of both the Editor and the Consoles called *Show help for the current object* that has the same effect. What about that?

[2015-08-22 22:51] StefanD986 opened #2632 "Dragging a file into the editor (drageEnterEvent) throws TypeError"
When I drag a file from the Finder (the OSX file browser) into the spyder window the Internal Console pops up and throws:

[code]

Maybe related to issue #2032 (closed no too long ago)?

My configuration:
Spyder 3.0.0dev
Mac OSX 10.10.5

[2015-08-23 00:09] ccordoba12 commented on #2560
@ryscet, a fix will be released in **2.3.6**, which I plan to release next week.

[2015-08-23 00:50] ccordoba12 commented on #2624
Closing as duplicate of issue #2593

[2015-08-23 00:50] #2624 closed

[2015-08-23 00:52] ccordoba12 commented on #2593
This problem was partially addressed on issue #2560, but I have another idea to improve the situation.

[2015-08-23 05:18] ccordoba12 commented on #2517
@geancarlo, thanks for the video and for narrowing down this problem. Now I can reproduce it on my side and I know how to fix it.

This will part of **2.3.6**, to be released next week.

[2015-08-23 05:32] #2517 closed

[2015-08-23 05:32] #2593 closed

[2015-08-23 06:34] naught101 commented on #978
Heh. I never noticed that :P

Yeah, context menu would be great. It might also go well in the 'source' menu.

[2015-08-23 08:54] Sarwat-Fatima opened #2633 "Spyder in Windows 10 is not working correctly"
I am trying to open the editor in Windows 10 but every time it crashes and the Spyder reset settings is also not solving this problem! Any solutions?

[2015-08-23 13:11] vchollati commented on #2633
Same problem here on Windows 7.

[2015-08-23 13:19] insolor commented on #2633
Windows 10, Python 3.4, Sypder works without any problems, both Spyder 2.3.5.2 and Spyder 3.0.0 beta1.

[2015-08-23 13:55] PierreRaybaut opened #2634 "Untitled file won't close annoying bug"
Hi there,

As a simple user, I'm reporting an annoying bug :)

How to reproduce it with Spyder v2.3.5.2 on Windows (10):
1. Close all opened files.
2. Restart Spyder: there should be only the "temp.py" file, as expected.
3. Leave the temp.py file opened.
4. Open 3 or 4 files.
5. Close all files (Ctrl+Shift+W).
==> The temp.py file is renamed "untitled0.py" and Spyder ask if it should be saved befo

[2015-08-23 14:21] vchollati commented on #2633
@insolor how did you install the 3.0.0 beta?

[2015-08-23 14:49] insolor commented on #2633
@vchollati,
1. Download spyder-3.0.0b1.zip archive from [Releases](https://github.com/spyder-ide/spyder/releases)
2. Unpack
3. Run command `python setup.py install`
4. Run python\scripts\spyder.bat
Note: it also needs PyQt to be installed.
![spyder3 0 0b1](https://cloud.githubusercontent.com/assets/2442833/9428673/2069feaa-49bf-11e5-99c3-9a64d82d2b29.png)

[2015-08-23 15:08] ccordoba12 commented on #2633
@Sarwat-Fatima, if you're using Anaconda, then you'll have to wait until I update PyQt4 on Windows for it.

I say it because the PyQt4 version available in Anaconda is really old and it could be the culprit of these problems on Windows 10.

[2015-08-23 15:11] ccordoba12 commented on #2634
Hey @PierreRaybaut!! Good to see you're still using Spyder :-)

This is a duplicate of issue #2625. I'll fix it on **2.3.6**.

[2015-08-23 15:11] #2634 closed

[2015-08-23 15:13] ccordoba12 commented on #2634
Sorry, I forgot to mention that **2.3.6** will be released next week. It's main purpose is making Spyder compatible with IPython/Jupyter 4.0.

[2015-08-23 15:15] vchollati commented on #2633
@ccordoba12 thanks for the update, same problem using anaconda on windows 7.

[2015-08-23 15:16] ccordoba12 commented on #2633
Windows 7 shouldn't be a problem. Please open a terminal (i.e. `cmd.exe`) and run

    spyder --reset

then start Spyder again to see if that helps.

[2015-08-23 15:17] PierreRaybaut commented on #2634
Yep. Still using it :)

[2015-08-23 15:22] vchollati commented on #2633
![image](https://cloud.githubusercontent.com/assets/6666812/9428812/369a1f10-4989-11e5-85f2-17de74f066cc.png)

still doesn't work, sorry

[2015-08-23 21:12] jlutgen opened #2635 "Extra "PYTHONPATH manager" menu item after loading saved session"
On Mac, a duplicate "PYTHONPATH manager" menu entry is created each time you load
a saved session (Spyder 2.3.5.2 and 3.0.0b1).

This does not happen on Windows or Linux.

<img width="269" alt="screen shot 2015-08-23 at 1 55 03 pm" src="https://cloud.githubusercontent.com/assets/6889876/9430182/58b393a8-49a0-11e5-9df9-e9ddc8765b5d.png">
## Version and main components
- Spyder Version: 2.3.5.2
- Py

[2015-08-23 21:55] jlutgen opened #2636 "Problems with filename extension for saved sessions"
A couple of issues with the default filename presented to the user when doing "Save session and quit...":

### Mac (Yosemite, 10.10.5)

Spyder 2.3.5.2: the default is `Untitled.session.tar.session.tar.session.tar.session.tar.session.tar`.

Spyder 3.0.0b1: the default is `Untitled.session.tar.session.tar`.

Also, if I accept the default and click "Save", I am presented with a rather confusing Mac O

[2015-08-24 02:28] nad2000 opened #2637 "After restarting spyder the PYTHONPATHs entries get replaced with path-s relative to the project location"
Behaviour observe with Spyder 2.3.5.2
Not  with 2.2.5

Steps to reproduce:
0. a project located in **baseA/dirA**
1. add a path using PYTHONPATH manager: **baseB/dirB**
![screenshot from 2015-08-24 14 14 02](https://cloud.githubusercontent.com/assets/177266/9431719/7bbc3c58-4a6b-11e5-9754-657847213e4b.png)
2. close and reopen spyder
3. open PYTHONPATH manager. The path got replaced with **baseA/di

[2015-08-24 02:36] nad2000 commented on #2637
I have tried to create the environment under the project  base directory **baseA**: **baseA/testenv27**. After restarting spyder that resulted in an unpredictable substitution: **baseA/dirA/v27/...**
![screenshot from 2015-08-24 14 31 24](https://cloud.githubusercontent.com/assets/177266/9431852/70bd9534-4a6d-11e5-8740-fa1b7d6ed704.png)

[2015-08-24 07:54] rbrackney commented on #2608
Hello, I'm receiving the same, or similar error on a fresh install of Ubuntu 15.04 with ipython 4.0, and Python 2.7.9 and Spyder. Specifically, it gives me the following error and crashes on start up:
<pre><code>
/home/ryan/.local/lib/python2.7/site-packages/IPython/qt.py:13: ShimWarning: The `IPython.qt` package has been deprecated. You should import from qtconsole instead.
  "You should import f

[2015-08-24 12:25] ccordoba12 commented on #2608
@rbrackney, sorry for the delay. I'm still fixing other bugs before releasing **2.3.6**. In the mean please downgrade to IPython 3.2.1.

[2015-08-24 14:52] gaschlabgit opened #2640 "No code hints for standard library objects"
## Description

**What steps will reproduce the problem?**

1. Anytime I am using spyder with standard libs, code hint do not show argument information
2.
3.

**What is the expected output? What do you see instead?**
I see a little yellow box, that says arguments, with empty brackets

**Please provide any additional information below**

## Version and main components

* Spyder Version: 2.3.5.2
* P

[2015-08-24 15:55] ccordoba12 commented on #2640
Could you follow the advice in this comment: https://github.com/spyder-ide/spyder/issues/986#issuecomment-98342587 to see if that fixes your problem?

[2015-08-24 16:09] #2413 closed

[2015-08-24 16:09] #2625 closed

[2015-08-24 16:25] ccordoba12 commented on #2637
Thanks for reporting, we'll see what we can do about it.

[2015-08-24 16:29] ccordoba12 commented on #2636
Right now this functionality is not that good (as you're already noticed), but we don't consider important to fix it because it'll be completely changed in Spyder 3.0.

Sessions will be vastly improved when our new projects facilities have the ability to automatically save and restore them.

[2015-08-24 16:37] ccordoba12 commented on #2618
This seems to be an issue with PyQt4. It'll probably get fixed after we update it in Anaconda to its latest stable version.

[2015-08-24 16:53] goanpeca commented on #2635
Hehe, thats a funny bug...

[2015-08-24 16:54] goanpeca commented on #2635
Are we deprecated sessions in favour of projects... or are we leaving both options... in case you want a session to be selfcontained in a single session file @ccordoba12.

I see use cases for both options (projects and sessions)

[2015-08-24 16:57] ccordoba12 commented on #2635
For now we're going to leave only projects, which will save and restore sessions by default. So all menu entries for sessions must be removed.

[2015-08-24 17:00] goanpeca commented on #2635
But what if I am am working on a version control project and I am working on several branches at a time, having different sessions for different branches would be helpful as a single project dir would not cover this case... (same project dir but many branches..)

On Branch 1 (session 1) I have X files open and on Branch 2 (session 2) I have another set of files....

[2015-08-24 17:03] ccordoba12 commented on #2530
I can reproduce this issue and I'll fix it in 2.3.6

The problem with the automatic backend on Mac is that new plot windows are generated behind Spyder, and no new entries are shown in the Dock to select them. So the only way to see those windows is by minimizing Spyder.

I'm going to change that so that at least a new entry is generated in the dock (by using a different backend), although new win

[2015-08-24 17:07] ccordoba12 commented on #2635
Let's start with the simplest thing first, i.e. projects are equivalent to sessions. Later we can see if sessions can be restored or not.

However, having these two similar concepts as part of Spyder can be really confusing for people (even if valuable for power users).

Besides, I haven't seen other IDEs using both sessions and projects.

[2015-08-24 17:18] ccordoba12 commented on #2530
Sorry, I just found out that I can't do the fix I mentioned because it won't work for external Python interpreters.

@kvico, the only solution for now is for you to select the Qt backend instead of the Automatic one.

[2015-08-24 17:22] ccordoba12 commented on #2530
This is related to issue #2085 and #2054.

[2015-08-24 17:41] stonebig commented on #2633
@vchollati you may be more precise on the versions you try to use:
- Python (2.7 or 3.4)
- Ipython 3.0.0 or 3.2.1 or Jupyter 4.0.3 or ...
- Spyder 2.3.5.2 or 3.0.0.b1 or ...
- Anaconda or ...

[2015-08-24 17:44] ccordoba12 commented on #2509
I can't reproduce this problem with Anaconda on Windows, so maybe this is a problem with your installation or with WinPython.

[2015-08-24 17:44] #2509 closed

[2015-08-24 18:36] vchollati commented on #2633
@stonebig-
Anaconda distro, python 2.7.8, jupyter 4.0 and spyder 2.3.* but tried the 3.0 beta as well to no avail.

[2015-08-24 19:14] stonebig commented on #2633
The Jupyter4.0  team mentioned in their last week web video meeting, that they had a lot of:
- Python2.7 bugs,
- Windows bugs.

You may stay on Ipython 3.2.1 a few more days.

[2015-08-24 19:16] ccordoba12 commented on #2633
Besides, at this point Spyder 2.3.5.2 is not compatible with Jupyter 4 (but 2.3.6 will be).

@vchollati, please stop stealing this bug. You mentioned you were on Windows 7, and this bug is about Windows 10. So, please open a new bug about your problem.

[2015-08-24 19:37] timmie opened #2641 "Enhancement: insert filename as compatible path"
Enhancement idea:

# Rationale:
When doing data analysis, I often struggle with the way path names are defiend in python & windows.

Due to spaces and backslashes in the file names the scipts often return errors because they cannot find the files.

# Suggestion:

A context-menu entry for the file explorer or file picker with:

* `insert with absolute path here`
* `insert as relative path here`

an

[2015-08-24 21:08] ccordoba12 commented on #2641
@goanpeca, I think we could add an *Insert file path here* dialog, with the right back slashes and all on Windows.

[2015-08-24 22:41] vchollati commented on #2633
@ccordoba12 sorry, that was not my intention. First time reporting a bug and was just answering questions. Apologies.

[2015-08-25 00:32] zach-morris commented on #2284
I put the same comment in a different thread of a similar problem, but I had this same exact issue.  After a random crash of the application, it would take up to 10 minutes to start up.  After looking at the Package Contents, I noticed that a file name 'pep8' was getting very large (over 1GB).  After I deleted that file, my slow startup issue went away completely.

[2015-08-25 00:51] rhjmoore commented on #1900
This is definitely a problem on my Windows machines. I haven't had the same problem on Linux.

[2015-08-25 02:00] ccordoba12 commented on #1900
Multiprocessing is know to not work well with the IPython console, but I think that's beyond Spyder.

[2015-08-25 02:03] ccordoba12 commented on #2633
@vchollati, don't worry. Just open a new issue for your problem :-)

Truth is I use Spyder on Windows 7 on a regular basis and I haven't seen any problem there, so we need to get deeper with what's happening in your case.

[2015-08-25 02:41] endolith commented on #2087
I have this too, with Python 2.7.10, IPython 2.4.1, Spyder 2.3.5.2, installed using Python(x,y)-2.7.10.0.  If I open IPython QT or IPython shortcuts, it loads future division, for instance, but the IPython window inside Spyder doesn't load any of my config.

[2015-08-25 03:30] vchollati opened #2642 "Spyder crashes because of an incomplete psutil installation"
Crash log-
Traceback (most recent call last):
  File "C:\Anaconda\lib\site-packages\spyderlib\spyder.py", line 3103, in main
    mainwindow = run_spyder(app, options, args)
  File "C:\Anaconda\lib\site-packages\spyderlib\spyder.py", line 2989, in run_spyder
    main.setup()
  File "C:\Anaconda\lib\site-packages\spyderlib\spyder.py", line 1111, in setup
    self.cpu_status = CPUStatus(self, status)

[2015-08-25 08:09] mhemeryck commented on #2608
:+1:

[2015-08-26 13:52] joshburnett opened #2644 "Editor: Popup showing function arguments only displayed for 3 seconds"
## Description

In the editor, when I type the name of a function and a left parenthesis, Spyder displays a helpful popup showing the function's arguments.  Unfortunately, this is only displayed for 3 seconds, and then disappears.  It would be helpful if this popup stayed visible for longer, possibly until I type the closing parenthesis or move the text cursor off of the line.

**What steps will r

[2015-08-26 15:24] ccordoba12 commented on #2644
If you put the mouse over the popup before it disappears, it will remain visible until you do a right-click over the popup or move the mouse somewhere else.

[2015-08-26 15:34] joshburnett commented on #2644
So the user is happily typing away, and has to move their hands to the mouse and put it over the popup in the next three seconds, or the helpful info goes away?  That seems less than ideal.

I would argue that it should be treated the same as the code completion popup, which gets left in place indefinitely, unless the user dismisses it by hitting ESC.

Finally, if the info is not going to be left

[2015-08-26 18:23] foobarbecue commented on #783
This is a crucial part of my ipython workflow. I probably press control-r three times as often as I type a new command, because most new commands are variants of something I've written at some point in the past. I've been trying to get into using Spyder and the lack of this feature is the major thing keeping me away at the moment.

[2015-08-26 19:32] kvico commented on #2530
@ccordoba12 thanks for your investigation and workaround!

[2015-08-26 23:35] ccordoba12 commented on #783
@foobarbecue, this is not our fault. It's just not implemented in the Jupyter qtconsole, someone will have to do it :-)

[2015-08-27 00:17] foobarbecue commented on #783
Ah. I see. I'd never actually used the qtconsole outside of Spyder so I figured it was part of Spyder.

[2015-08-27 00:20] ccordoba12 commented on #783
Nop, it isn't :-) It lives here:

https://github.com/jupyter/qtconsole

[2015-08-27 01:38] Rojj opened #2645 "Spyder keeps crashing on Mac Yosemite"
## Description

I am simply trying to write in the editor

Cheers

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

###############SCRIPT#############
import os
import numpy as np
import pandas as pd
from scipy.spatial import cKDTree as KDTree
from scipy.interpolate import Rbf
from

[2015-08-27 03:17] ccordoba12 commented on #2645
Could you try our Mac native app (using our dmg installer) to see if it also has this problem? You can find it in

https://github.com/spyder-ide/spyder/releases

----

@blink1073, are you on 10.10.5? If so, are you seeing this problem?

[2015-08-27 06:24] Rojj commented on #2645
Thanks Carlos. It seems to work with the native app. Will keep testing.

On 27 August 2015 at 11:17, Carlos Cordoba <notifications@github.com> wrote:

[2015-08-27 09:39] Nodd opened #2646 "Scrolling fast breaks scrolling"
## Description

**What steps will reproduce the problem?**
1. Scroll rapidly with the mouse wheel

**What is the expected output? What do you see instead?**
My code is flickering up and down, and the overall movement is going in the opposite direction !

**Please provide any additional information below**
I tried in another Qt5 app (retext) just in case and had no problem.
## Version and main comp

[2015-08-27 09:41] Nodd opened #2647 "Version comparison broken"
## Description

**What steps will reproduce the problem?**

1. I have rope 0.9.4-1 installed (I guess that the `-1` is an arch linux thing)

**What is the expected output? What do you see instead?**
rope is shown as NOK in the list below and in spyder's dialog.

**Please provide any additional information below**
I guess that `-1` is breaking the comparison.

## Version and main components

* Spyd

[2015-08-27 10:10] Nodd commented on #2621
`six` is widely used but it makes python3 code compatible with python2. Now http://python-future.org/ does the reverse: you write python3 code which is compatible with python2, which is better on the long run.

That said I agree with @ccordoba12 that it should not be touched now. This compatibility layer includes touchy things like bytes/strings compatibility, it's quite easy to break things. Exte

[2015-08-27 10:12] Nodd commented on #2647
Oops, duplicate of #2612

[2015-08-27 10:12] #2647 closed

[2015-08-27 10:42] viviancamacho commented on #2608
having also the same issue with python 4.0.0. How can I downgrade to IPYTHON 3.2.1 to have spyder working?

[2015-08-27 11:35] techtonik opened #2648 "Create self-contained Windows Installers"
After installing Spyder from `spyder-2.3.6.win32-py2.7.exe` it still fails to run without PySide or PyQt4 installed.

![image](https://cloud.githubusercontent.com/assets/515889/9519598/a93f08ea-4cc8-11e5-889d-e752ffb81e24.png)

It would be nice if instead of this window, Spyder could fetch and install PySide wheel locally.

[2015-08-27 11:56] techtonik opened #2649 "PySide can not be used on 2.3"
If PyQt4 is not installed, `sip` is also unavailable, so import fails earlier that a try/except block that sets PySide as a fallback.

[2015-08-27 12:06] Nodd commented on #2646
Also when dragging the scrollbar vertically the text moves quite slowly. I don't know if it's linked to the main problem, but it looks like the painting is a bit slow and that creates problems.

[2015-08-27 13:27] picca opened #2651 "spyder 2.3.6 broke guidata and guiqwt"
Hello, when I try to run guidata-test and guiqwt-test I got this error message.

com-sixs@sixs7:~/Fitnxs$ guidata-tests
Traceback (most recent call last):
  File "/usr/bin/guidata-tests", line 3, in <module>
    tests.run()
  File "/usr/lib/python2.7/dist-packages/guidata/tests/__init__.py", line 16, in run
    from guidata.guitest import run_testlauncher
  File "/usr/lib/python2.7/dist-packages/g

[2015-08-27 13:42] ccordoba12 commented on #2648
I think this doesn't belong on the Spyder side of things, it's a packaging issue.

[2015-08-27 13:46] ccordoba12 commented on #2646
Could you deactivate cell highlighting and try again? Maybe that's causing the problem.

[2015-08-27 14:01] ccordoba12 commented on #2651
@picca, I'm sorry, but we don't maintain guidata and guiqwt. Since @PierreRaybaut seems to be back in action, please ask him to update them to use API `#2`.

They live here now:

https://github.com/PierreRaybaut/guiqwt
https://github.com/PierreRaybaut/guidata

----

I really understand that, but I had to do this change for two reasons:

1. Jupyter didn't leave us any other alternative. I don't kno

[2015-08-27 14:01] #2651 closed

[2015-08-27 14:12] ccordoba12 commented on #2649
This bug has been present for a long time. The exact same code is in `master` and nobody has noticed it before :-)

I guess very few people is using Spyder with PySide then.

[2015-08-27 14:21] picca commented on #2651
ok, I already fill a bug against guiqwt. Now I will fille and RC bug in order to avoid spyder migration in Debian and Ubuntu.

Thanks

Fred

[2015-08-27 14:26] ccordoba12 commented on #2651
What do you mean by that? Please don't do it. I can help you patch guiqwt and guidata if you want, but 2.3.6 has several important bugs to prevent freezes with DataFrames in the Variable Explorer.

So please don't block it in Ubuntu just because those packages don't work in Spyder. I mean, unfortunately Pierre almost left them abandoned until last week, so I don't see why Spyder will have to be im

[2015-08-27 14:26] procha79 opened #2652 "Parsing a pandas ExcelFile object crashes Spyder 2.3.6"
I just upgraded Spyder to 2.3.6 (from 2.3.5.2) and I am having issues when trying to parse a pandas ExcelFile object. Spyder basically crashes (I have to force-quit Spyder: I am running Windows 7). I am using pandas 0.16.2 and IPython 4.0. The issue is not present if I downgrade to Spyder 2.3.5.2 and IPython 3.2.1

Thanks

[2015-08-27 14:29] ccordoba12 commented on #2652
Please post a sample code that generates your crash. We need that to test and fix your problem in our side.

[2015-08-27 14:33] picca commented on #2651
I need to avoid this migration because other packages using spyder will be broken.
python-guiqwt
python-guidata
python-taurus
python-sardana

which are used by others. this API 1 et 2 is a big move...

the next Ubuntu version is for 15.10.

So for now and to avoid breaking things, I need to freeze the process until we find a solution which does not break already uploaded packages.

taurus use spyd

[2015-08-27 14:38] procha79 commented on #2652
I type the following 2 statements one at a time in the console and everything is fine.
import pandas as pd
XL = pd.ExcelFile("Import Export Data.xlsx", encoding="utf-8")

Then I type the following statement and Spyder 2.3.6 crashes as described above
exports = XL.parse('Exports')

When I do the same in 2.3.5.2, everything is fine.

[2015-08-27 14:45] ccordoba12 commented on #2621
Thanks for the wise words @Nodd. I really missed them during your time away from the project!! :-)

That's my main concern really: that moving to another compatibility library could introduce or re-introduce subtle unicode/bytes bugs that usually take me hours or days to fix.

I also suggested Pierre to use `six` when we were about to move to Python 3, but he decided against it and instead created

[2015-08-27 14:45] #2621 closed

[2015-08-27 14:48] ccordoba12 commented on #2652
And `Import Export Data.xlsx` is a simple Excel file? Or does it have something relevant we should know about?

[2015-08-27 14:58] ccordoba12 commented on #2651
I know, sorry for that :-) I was keeping it for 3.0 but those constant breakages introduced by IPython/Jupyer are really annoying!!

Since there are lots of users also having Spyder from Anaconda and pip, I needed to move really fast to fix our incompatibility with Jupyter 4.0.

I understand your decision, too bad for Ubuntu/Debian users...

[2015-08-27 15:02] picca commented on #2651
The important point is not to break already available pacakges.
This is something pip/python is not really good at :). you can not compile all your software and garanties that it breaks nothing.

Maybe type hinting will help for this

[2015-08-27 15:03] procha79 commented on #2652
Yes. It is just a simple Excel file. Actually, it happens also with the *xls file in this waterfall example posted here: http://tooblippe.github.io/waterfall/

In the case of that file I get the error when I type
datos= XL.parse('Sheet1')

[2015-08-27 15:07] ccordoba12 commented on #2651
I wish there would be a simpler solution too. At the end that's why I think Anaconda is also useful in Linux too :-) I mean, it let us distribute the latest version of our packages as fast as possible :-)

[2015-08-27 15:10] ccordoba12 commented on #2652
Ok, thanks. I'll start to take a look at this problem right away.

[2015-08-27 15:12] blink1073 commented on #2645
@ccordoba12, there is no tag for v2.3.6, FYI.
I can't fully test without the source dataset.  @Rojj, can you put the dataset in a gist?

[2015-08-27 15:12] blink1073 commented on #2645
Also, I'm using 10.10.4, FWIW.

[2015-08-27 15:14] ccordoba12 commented on #2642
This seems a problem with your installation. Please close Spyder, the IPython notebook, and every other program that uses Python. Then run these commands

    conda install -f conda
    conda install -f psutil
    conda install -f jupyter

That should fix your problem.

[2015-08-27 15:18] ccordoba12 commented on #2645
@blink1073, what do you mean by no tag?

![seleccion_001](https://cloud.githubusercontent.com/assets/365293/9524496/e52ff87e-4ca4-11e5-8efb-da576f89dddb.png)

[2015-08-27 15:20] blink1073 commented on #2645
Ah, I needed to add a `--tag` to my `pull`.  Stupid `git`.

[2015-08-27 15:36] goanpeca commented on #2621
Sure, but I will open it again eventually :smirk:

[2015-08-27 15:41] goanpeca commented on #2645
hehehe I have had that issue a million times! for pushing and pulling tags!

[2015-08-27 15:55] Nodd commented on #2649
In Linux at least, lots of packages depends on python-pyqt4, si it tends to be installed along pyside. And in Anaconda PySide is not supported anymore (but still installable if I recall correctly).
So even people using pyside have pyqt and sip installed.

[2015-08-27 16:00] Nodd commented on #2646
Nope, I see no difference. Also there is no cell in the file I currently use.
It could be due to the new additions to highlighting maybe, about the blank space. Note: I don't display them.
While doing this the CPU gets up to 90% (for spyder only), so something is really happening.

[2015-08-27 16:03] Nodd commented on #2621
You're welcome ! It's nice to hear that my answers are appreciated.

I can't say I'm completely back. I can file or comment a few issues from work, but I can't do actual programming at home right now.

[2015-08-27 16:20] goanpeca commented on #2621
Hehe, we are really glad you can jump in on the issues!, do not worry about the work at this point, we got your back covered!

[2015-08-27 16:21] goanpeca commented on #2646
Ok I will dive into this and comment some line in the source code editor and check what can be causing this.

[2015-08-27 16:25] ccordoba12 commented on #2621
+1 to what @goanpeca said. Please continue contributing in our discussions. As I said, that's very well received :-)

[2015-08-27 16:38] picca commented on #2651
For pure python it is ok, but once it comes to extensions... you need to packages also third-party libraries.
So at the end I prefer e fully integrated distribution, instead of specialize distributions.

Cheers

[2015-08-27 16:40] abhayap opened #2653 "IPython console crashes when starting Spyder 2.3.6"
My IPython console crashes after updating my anaconda distribution. This is the error I get:

[code]

[2015-08-27 17:01] ccordoba12 commented on #2653
Could you run

    spyder --reset

and try again?

[2015-08-27 17:20] abhayap commented on #2653
I just tried that and it still crashed.

[2015-08-27 17:30] techtonik commented on #2649
@ccordoba12 majority of people who are trying Spyder, don't know how to report bugs for it. And nobody would care to go through Github registration to report bug in a product they couldn't even start. These are all Windows users, who are not in open source at all.

I am reporting it only because I obscured this behavior in a class of students who are still using IDLE to learn Python.

[2015-08-27 17:39] techtonik commented on #2648
@ccordoba12 if Spyder aim is to provide a better UX that IDLE, then bootstrap process is also part of that experience. Take a look at how NLTK resolved that UX issue with `nltk.download()`.

[2015-08-27 19:28] chemnteach commented on #2653
I am running into a similar issue.  I have looked in various places and none of the fixes have helped.  I am using Spyder 2.3.5.2 in an Anaconda build.  It has worked great until today.  I ran an Anaconda update but that did not help.  Traceback is as follows:

Traceback (most recent call last):
  File "C:\Users\cdbrown\AppData\Local\Continuum\Anaconda\lib\site.py", line 498, in execsitecustomize

[2015-08-28 01:48] vchollati commented on #2642
first conda install failed with error [WindowsError: [Error 5] Access is denied: u'C:\\Anaconda\\pkgs\\conda-3.16.0-py27_0\\Scripts\\conda.exe'].
next 2 commands succeeded and it works now. Thanks a lot :+1:

[2015-08-28 01:48] #2642 closed

[2015-08-28 08:51] Zaharid commented on #2653
This can be worked around by upgrading to IPython 4.0.

[2015-08-28 10:13] Nodd commented on #2648
The minimum would be to add a link to PyQt or PySide next to the exe download. It's true that on windows it's very uncommon to install dependencies separately. (It only happened to me once with gtk.)
It could also be an option in the installer.

[2015-08-28 10:49] techtonik commented on #2648
I downloaded the standard installer for Python packages and I am not sure it can be patched to add such option.

[2015-08-28 11:12] Nodd commented on #2648
I meant spyder's installer.

[2015-08-28 12:03] ccordoba12 commented on #2642
You're welcome!

[2015-08-28 13:40] mshashanka opened #2654 "Creating DataFrames in Python or IPython consoles make Spyder 2.3.6 to hang"
This is similar to https://github.com/spyder-ide/spyder/issues/2652.

I just upgraded to spyder 2.3.6. I am using pandas 0.16.2 and IPython 4.0 on OS X Yosemite. Spyder essentially crashes (it hangs and I have to force quit the application) when I try to run a code snippet like the one below in the spyder ipython console. The same code works just fine if I open ipython in a terminal window and run

[2015-08-28 16:13] ccordoba12 commented on #2654
Thanks for reporting. I'll try to fix it ASAP.

Question: was this working for you in Spyder **2.3.5.2**?

[2015-08-28 16:17] mshashanka commented on #2654
Thanks! Yes, it works fine in 2.3.5.2, that's what I'm using now.

M Shashanka

On Fri, Aug 28, 2015 at 9:13 AM -0700, "Carlos Cordoba" <notifications@github.com> wrote:

Thanks for reporting. I'll try to fix it ASAP.

Question: was this working for you in Spyder 2.3.5.2?

—
Reply to this email directly or view it on GitHub.

[2015-08-28 18:24] ProfEaston commented on #2608
Just wasted a whole bunch of time figuring out how to downgrade to ipython 3.2.1. It is, of course, simple. You install the version number you want as follows:

conda install ipython=3.2.1

This does also remove the later version. And it fixed the spyder problem for me.

[2015-08-28 19:02] ccordoba12 commented on #2608
@ProfEaston, there is necessary to run only a single command to make Spyder work with the latest IPython:

    conda update spyder

That will update IPython and install the new necessary Jupyter components for Spyder.

[2015-08-28 19:02] ccordoba12 commented on #2608
And, of course, it'll also update Spyder to 2.3.6

[2015-08-28 19:19] ProfEaston commented on #2608
I gather from your comment that the problem with iPython 4.0 is solved?

Using "conda update spyder" did not solve the problem. Nor did "conda update anaconda" followed by "conda update spyder" nor any other of  many variations. However, your recommendation of changing the version of iPython worked like a charm.

[2015-08-28 20:30] ccordoba12 commented on #2608
@ProfEaston, are you working on Windows with Python 3.4?

[2015-08-29 18:18] alibeyram commented on #2653
I have exactly the same problem. This happened after I upgraded my IPython to version 4.0.
BTW, I do not have any problem when I am using spyder with Python3 .

[2015-08-29 22:28] ProfEaston commented on #2608
I am working on Windows 7 with Python 2.7.

For me, the problem came up yesterday when I activated an environment that I created some time ago (but had never installed spyder), and then installed spyder. The conda program was used for all of this (not pip or virtualenv), so the command that appeared to get me in trouble was (executed within the environment):

conda install spyder

However, rolling

[2015-08-30 17:08] #2649 closed

[2015-08-30 18:34] rkresch commented on #2605
Got the precisely same issue as PlokavianNerveGas, and my username is in ASCII. Appreciate any help.

[2015-08-31 09:00] techtonik opened #2657 "ImportError: No module named `conda_api_q` with 2.3.6"
#2248 should be backported to 2.3.7 - there is the same trace in internal console.

[2015-08-31 18:43] sush80 opened #2658 "Spyder 2.3.6 crash on startup on OS X 10.10.5"
Spyder permanently crashes on startup, no successful run up to now.
I also installed the Anaconda Package afterwards, that works with same spyder version.

Process:               Spyder-Py2 [7101]
Path:                  /Applications/Spyder-Py2.app/Contents/MacOS/Spyder-Py2
Identifier:            org.spyder-ide
Version:               2.3.6 (0.0.0)
Code Type:             X86-64 (Native)
Parent Proc

[2015-08-31 18:45] abhayap commented on #2653
Anaconda upgraded to IPython 4.0 so the crash has gone away now.

[2015-08-31 19:18] chrisjcameron opened #2659 "Crash while getting completions of DataFrames on the Editor because of Jedi 0.9"
## Description
Crash while editing files

**What steps will reproduce the problem?**
1. Type in editor, crashes after a few moments.
2. It happened in particular when I am trying to type the groupby() command from pandas on a pandas data frame called p_data.
3. from_grp = p_data.groupb<crash>
4. Does not seem to happen when I turn off introspection-related features in the Editor preferences.

**Wh

[2015-08-31 23:44] chrisjcameron opened #2660 "Saving documents in the editor does not always write changes to disk."
## Description
Changes to document are not saved to disk when document is saved (Especially when Spyder crashes)

**What steps will reproduce the problem?**

1. Make changes to python script.
2. Save document.
3. Kill Spyder (to simulate a crash)
4. Reopen document, note missing changes that were not written to disk.

**What is the expected output? What do you see instead?**

**Please provide any

[2015-09-01 01:34] cwhits commented on #2653
same problem in Anaconda with python 2.7.10, spyder 2.3.6, ipython 4.0 and ipython-qtconsole 4.0.1.

same with spyder 2.3.6, and ipython 3.2.1

[code]

[2015-09-01 04:43] techtonik opened #2661 "Conda package manager is packed in 2.3.6 win32 distribution leading to errors"
https://bitbucket.org/spyder-ide/spyderlib/downloads/spyder-2.3.6.win32-py2.7.exe contains p_condapackages.py which leads to the error #2657.

@ccordoba12 how do you build the package?

[2015-09-02 20:05] ccordoba12 commented on #2661
This is probably cause by an stalled file in my working directory. I'll fix it in 2.3.7.

[2015-09-02 20:16] ccordoba12 commented on #2648
PySide is just the minimal thing to have Spyder working. But that doesn't give code completion, the IPython/Jupyter console, PyFlakes warnings, etc, etc. So it's not a real solution.

What we need is to create fully self-contained Windows installer. For that we could use this project:

https://github.com/takluyver/pynsist

@techtonik, if you want to contribute a `cfg` file for Spyder, that'd be gr

[2015-09-02 20:24] ccordoba12 commented on #2645
@Rojj, I'm closing for now. Please report again if the error reappears.

Maybe the error is generated because some problem we introduced in 2.3.6 regarding DataFrames

[2015-09-02 20:24] #2645 closed

[2015-09-02 20:29] ccordoba12 commented on #2658
Several people have reported problems in 10.10.5. Unfortunately we don't have access to that specific version, but it's been reported that things are working correctly on 10.10.4.

Please open a terminal (i.e. `Terminal.app`) and run

    /Applications/Spyder-Py2.app/Contents/MacOS/Spyder-Py2

and report what's printed there (if anything) before the crash.

[2015-09-02 20:37] ccordoba12 commented on #2659
Thanks for reporting. Does this error happens with any DataFrame you're working on on the Editor?

[2015-09-02 20:39] ccordoba12 commented on #2659
Another question: did this happen in our previous version? I mean, with 2.3.5.2?

[2015-09-02 20:40] ccordoba12 commented on #2660
One question: If Spyder is closed correctly, is the file saved correctly?

[2015-09-02 20:55] chrisjcameron commented on #2659
I did not notice this issue before and I have done quite a bit of work with pandas data frames before.

[2015-09-02 21:37] chrisjcameron commented on #2660
I can't reproduce this today. I will keep an eye on this behavior and reopen if I have any more detail. It saves fine normally. I can verify that changes are made to files immediately by inspecting with another editor, so I don't see why there should be any issue with saved data loss from crashing.

[2015-09-02 21:37] #2660 closed

[2015-09-03 02:30] ccordoba12 commented on #2653
@cwhits, it seems your installation is in an inconsistent state. Could you run

    conda install jupyter

and then

    spyder --reset

to see if that fixes your problem?

[2015-09-03 02:31] ccordoba12 commented on #2653
@alibeyram, what problem exactly?

[2015-09-03 02:34] ccordoba12 commented on #2653
@chemnteach, try to remove

    C:\Users\cdbrown\AppData\Local\Continuum\Anaconda\Lib\site-packages\spyderlib\qt\QtCore.pyc

to see if that helps

[2015-09-03 02:44] alibeyram commented on #2653
I am using arch linux and spyder 2.3.5.2 ipython 4.
when I run spyder under python 2.7 I get a crash in the ipython console
This is the error:

Spyder Internal Console

This console is used to report application
internal errors and to inspect Spyder
internals with the following commands:
  spy.app, spy.window, dir(spy)

Please don't use it to run your code

  "You should import from nbformat inste

[2015-09-03 03:04] ccordoba12 commented on #2653
@alibeyram, **2.3.5.2** is not compatible with Jupyter/IPython 4.0, so I don't understand how you're seeing this error with that version.

**2.3.6** is compatible with Jupyter 4.0, but I can't reproduce this error. Could you run

    spyder --reset

and try again, to see if that fixes the problem?

[2015-09-03 03:10] chrisjcameron commented on #2659
It happens with different data sets as well. Here is an example that uses a data set from the web:

# cd '~/Downloads'
# http://bconnelly.net/assets/data/TradeoffData.csv

    import pandas

    # Load the data into a DataFrame
    data = pandas.read_csv('TradeoffData.csv')

    data.head(n=10)

    # Turn on code introspection features.
    # Start typing this line. Stop after data.gr.. notice gr

[2015-09-03 03:14] ccordoba12 commented on #2659
Thanks for the reproducible example. That would make much easier to fix this problem :-)

I think it was caused by me, trying to fix issue #2514. There are other bug reports that seem to suggest the same.

[2015-09-03 03:18] alibeyram commented on #2653
How can I use --reset option while using bootstrap? If I cannot I will install the 2.3.6 from the source.
2.3.6 is not available in arch linux repository.

[2015-09-03 03:19] ccordoba12 commented on #2653
It's like this:

     python bootstrap.py -- --reset

[2015-09-03 03:21] alibeyram commented on #2653
Same error happens

[2015-09-03 03:22] ccordoba12 commented on #2653
How did you update IPython/Jupyter? By using `pip` or `pacman`?

[2015-09-03 03:22] alibeyram commented on #2653
pacman

[2015-09-03 03:23] ccordoba12 commented on #2653
What command did you run? I mean, this seems to be caused by an installation problem...

[2015-09-03 03:27] alibeyram commented on #2653
In the first place I just update/upgrade with pacman -Syu
But I did remove and install both ipython, Jupyter, and Spyder too.
I think something is wrong with ipython2-notebook package because that does not run either.

[2015-09-03 03:33] ccordoba12 commented on #2653
Ok, good to know! :-) So my guess seems to be right.

I'll leave this open, but as @abhayap pointed out, once the installation is correct, the error seems to go away.

[2015-09-03 04:00] sush80 commented on #2658
I had to export the locale: (otherwise there is a different error: "ValueError: unknown locale: UTF-8")

[code]

And here's the Output after the start:
[code]

[2015-09-03 07:29] rthouvenin commented on #295
Yet, I also think the request does make sense. When reading code, if I am looking for a string I don't want my attention to be caught by docstrings, and vice-versa. Wouldn't it be possible to flag strings that are docstrings (a longstring that starts at the beginning of a line) and assign them a color scheme?

[2015-09-03 08:03] NazBen commented on #2608
Everything works fine now with the last update. Thank you.

[2015-09-03 11:15] techtonik commented on #2661
If the packaging procedure could be done by a separate script from a clean checkout, it is possible to test the build from CI.

[2015-09-03 12:34] goanpeca commented on #295
Even though I agree with Pierre in that docstings are just strings, it would not be that hard to add an extra color for them... but we need volunteers.. as this is low priority right now.

Cheers

[2015-09-03 14:14] rthouvenin commented on #295
Thanks for acknowledging! I am not a python expert, but I happen to have some free time right now and it could be a good exercise. I'll see if I can give it a shot.

[2015-09-03 15:19] goanpeca commented on #295
We can have a chat in [gitter](https://gitter.im/spyder-ide/public) later today... and I can give you some pointers

[2015-09-03 16:55] msweier commented on #2654
Am also running spyder 2.3.6 w/ pandas 0.16.2 and ipython 4.0.1 on OS X Yosemite and have the same issue when using the pandas pivot function. This can be avoided by shutting variable explorer panel.

[2015-09-03 16:55] chemnteach commented on #2653
I apologize for the delay in my response.  I did a full update of my Anaconda build, which included IPython 4.0 and the issue was fixed.  Thank you very much for your support!

[2015-09-03 19:12] ccordoba12 commented on #2653
@chemnteach, thanks for letting us know about it :-)

[2015-09-03 19:30] ccordoba12 commented on #2653
I found what's causing this problem a couple of hours ago. The error all of you are reporting is generated when you have:

1. An **IPython** (not Jupyter, just IPython) version less than 4.0, e.g. 3.2.1, which was the last one before the [Big Split](http://blog.jupyter.org/2015/04/15/the-big-split/) of IPython packages into the Jupyter ones.
2. The new **qtconsole** package, i.e. the one generated

[2015-09-03 19:30] #2653 closed

[2015-09-03 19:33] ccordoba12 commented on #2654
@msweier, this error will be fixed in 2.3.7. Sorry for the inconvenience :-)

[2015-09-03 19:43] msweier commented on #2654
No problem thanks!

[2015-09-03 19:44] mcaccia commented on #2659
I have the same problem. It would be amazing if this could be fixed

[2015-09-04 09:19] sphh opened #2662 "Elastic tabstops"
Hi,

Would it be possible to add support for elastic tabstops to spyder?

http://nickgravgaard.com/elastic-tabstops/

Thanks,
Stephan

[2015-09-04 09:25] rthouvenin commented on #295
I opened [pull request 2663](https://github.com/spyder-ide/spyder/pull/2663)

[2015-09-04 11:39] goanpeca commented on #2662
Hi @sphh, interesting suggestion, but I am afraid I am :-1: on this as it would actually involve mixing space and tabs in a file..

[2015-09-04 12:30] sphh commented on #2662
Hi @goanpeca,

I can see your point...

What if we name the idea "elastic whitespace"? It could work as follows:
1. An inline comment is added after the statement (by pressing the tab key and `#` to separate it).
2. When pressing the tab key In the following (or previous) line, the cursor will be aligned with the `#` character.
3. Whenever any of the comments in this particular block moves, all ot

[2015-09-04 12:53] goanpeca commented on #2662
Ok, that could be done I guess...

@blink1073 thoughts?

*(Not a priority right now... so if you have some time we can point you in the right direction ;-) )*

[2015-09-04 13:05] blink1073 commented on #2662
I think it would be jarring for a programmer, who is used to writing in monospace fonts and having tabs either be *tabs* or a fixed number of spaces.  I am :-1:.

[2015-09-04 13:54] goanpeca commented on #2662
@blink1073 I think what he meant is the following...

[code]

Would somehow turn into this (automagically when typing) the comment in the second line into

[code]

The same idea would apply to definitions using parentheses etc... updating the variable name would adjust the indentation to match.

And if you changed the name of the variable it would also include any adjacent lines with comment, whic

[2015-09-04 13:59] sphh commented on #2662
Thanks @goanpeca, that's exactly what I meant!

It would make a nice feature which would set Spyder further ahead of other IDEs!

[2015-09-04 14:07] blink1073 commented on #2662
Fair enough, but it sounds like quite a mind-bender to implement properly.

[2015-09-04 14:13] goanpeca commented on #2662
Indeed!

[2015-09-05 09:57] cvanheer opened #2664 "Variable explorer does not show variables and crashes when buttons on side pressed"
## Description

**What steps will reproduce the problem?**

1. Changing the variable explorer preferences in the spyder preferences
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**
When I change any settings in the variable explorer Spyder crashes. When I run any script I cannot see any of the variables in the environment. It is

[2015-09-05 15:27] ccordoba12 commented on #2662
I'm -1 on this too. Too much hassle for such a little gain.

[2015-09-05 17:27] ahbushnell opened #2667 "Icons are very small on a laptop"
## Description
On a laptop with very high resolution screen in windows 10 the icons are very small in the development system.  the text font size is ok.  Also the launcher is all screwed up.  it's very small and I can't read anything.  I can just see where the launch icon for spyder is so I can start the GUI.

Thanks

**Please provide any additional information below**

## Version and main compone

[2015-09-05 18:14] rbrackney opened #2668 "Ubuntu doesn't recognize that there's a new version of Spyder"
Hello,

I've been trying to upgrade Spyder to 2.3.6 in Ubuntu 15.04, however, when I run
    <pre><code>apt-get install --only-upgrade spyder</pre></code>

It tells me that spyder is already up to date, although the version is listed as "2.3.2+dfsg-1ubuntu1"

Can someone tell me how to get it to upgrade Spyder to 2.3.6?

Sorry if there's something basic I'm missing. I'm still fairly new to Linux.

[2015-09-05 19:34] ccordoba12 commented on #2667
This is a duplicate of issue #2210, and it's already fixed in Spyder 3.0 beta1.

The final version of Spyder 3 will be released at the end of the year :-)

[2015-09-05 19:34] #2667 closed

[2015-09-06 05:57] greenorca commented on #2668
Hi there,
uninstall spyder with apt-get remove spyder, download from this page and extract the zip-file. The process is described in README.md file.

Cheers
:-)

[2015-09-06 14:11] ccordoba12 commented on #2668
The problem is Linux packages (especially in Ubuntu and Debian) are (usually) not updated as new versions appear in already released distributions (even if they are bugfix versions, like all the ones in the 2.3 series).

So, you have two options:

1. Use `pip` (the Python package manager) to update Spyder (after removing the Ubuntu version, as described by @greenorca). For that you need to use thi

[2015-09-06 14:11] #2668 closed

[2015-09-06 17:06] xguse commented on #2112
I SOO want to switch to Sypder from sublime text / pycharm but multiple select/editing has become ingrained in my workflow and I find myself unable to remain for long in an editor that can't do this.  PLEASE consider this.

[2015-09-06 17:29] ccordoba12 commented on #2112
Ok, we'll explore it for 3.1 :-)

[2015-09-06 17:31] rthouvenin opened #2672 "Autocomplete does not insert correct word when requested with Ctrl+Space"
To reproduce: in a python editor, start typing something and when the word is long enough so that there should be only one auto-complete suggestion, invoke it with <kbd>Ctrl</kbd>+<kbd>Space</kbd>. For example, type `enume` and invoke the auto-completion. Because there is only one suggestion, the word is automatically completed. However the auto-complete menu opens anyway, and if I press <kbd>Ente

[2015-09-06 17:31] goanpeca commented on #2112
I will look into it for 3.1

[2015-09-06 17:39] ccordoba12 commented on #2672
@blink1073, this one seems for you :-)

[2015-09-06 17:42] goanpeca commented on #2672
Yes I have noticed this behavior and I can confirm, please @blink1073 take a look :-p

[2015-09-07 01:09] durack1 opened #2674 "Add run cell (and run cell advance) to right click prompt"
Please consider adding the right click "run cell" and "run cell and advance" prompt to Spyder 3.0 - it's something I'm really missing in the current beta1!

[2015-09-07 03:49] ccordoba12 commented on #2674
Will do for beta2 :-)

[2015-09-07 10:01] Nodd commented on #2662
I don't know if it could work as an external plugin.

Also from your link:

This is exactly what we would implement ! But the author seems to be pedantic on this one: the important thing is to keep the comments lined up visually.

[2015-09-07 10:07] Nodd commented on #2112
Alt + drag works in qtcreator 3.5.0

[2015-09-07 14:35] gb119 opened #2675 "Multiline search and replace doesn't replace"
## Description

**What steps will reproduce the problem?**
1. Activate search & replace widget
2. With regular expression mode engaged, search for a multiline pattern (e.g. \n\n\n)
3. Enter some text to replace the expression, hit replace/find button.

**What is the expected output? What do you see instead?**

You would expect the multiline search pattern to be replaced with the replacement text.

[2015-09-07 14:40] gb119 opened #2676 "Allow space character 'placeholders' to be coloured separately"
In the editor's syntax colouring, it would be nice if the various 'placeholder' characters for whitespace (e.g. space and tabs) could be separately so that, e.g. they could be in a light grey font whilst normal text was in black. In 2.3.6, the white space place holder characters are classed as normal text.

[2015-09-07 15:25] ccordoba12 commented on #2676
This has been improved a little bit in master (by assigning a lighter color to the dots that represent white sapces), but there isn't much more we can do about it.

We are limited here by what Qt (the GUI toolkit used by Spyder) offers about this.

[2015-09-07 15:26] ccordoba12 commented on #2675
We'll take a look about this one after releasing 3.0 because it's not too critical :-)

[2015-09-07 17:59] gb119 commented on #2676
Ok thanks - it's not exactly a showstopper !

[2015-09-07 18:02] gb119 opened #2677 "Autocomplete for working directory widget"
As well as changing colour to show when the input is a valid directory, it would be nice if the working directory input also had autocomplete to speed navigating to directory.

[2015-09-07 18:06] goanpeca commented on #2677
I am :+1: on this one

[2015-09-08 02:17] durack1 commented on #2674
Great! Oh and while I'm pushing my luck, what are the chances code folding will be in beta2??

[2015-09-08 06:52] stedeck commented on #2659
It's the same for me... I've also tested it with older version, but the error still occurs.

[2015-09-08 10:18] eendebakpt opened #2678 "Slow execution of blocks in the Python console"
The script below runs in about 0.05 seconds when executed with F5 or from the command line. If I run the script using CTRL-ENTER or I select the code and use F9 the running time is about 4 seconds.

[code]

[2015-09-08 15:53] ccordoba12 commented on #2678
What's your Spyder version?

[2015-09-08 16:06] eendebakpt commented on #2678
I have just tested with spyder 2.3.6 (python3). The problem is still present, although less severe. In the code below the first block takes much more time when executed with ctrl-enter then the second block.

[code]

[2015-09-08 16:10] Diti24 opened #2679 "New IPython consoles or restart of kernel not working because of pkg_resources error"
## Description

**What steps will reproduce the problem?**

1. Stat spyder
2. try to create a new ipython console (in Consoles-> Open an IPython console

**What is the expected output? What do you see instead?**
A new console should appear but the new console immediately stops with the following error:

[code]

**Please provide any additional information below**

## Version and main components

*

[2015-09-08 16:33] Diti24 opened #2680 ""Close all files" hangs Spyder"
## Description

**What steps will reproduce the problem?**

1. Try file close all

**What is the expected output? What do you see instead?**
Close all files but spyder hangs

**Please provide any additional information below**

## Version and main components

* Spyder Version: 2.3.6
* Python Version: 3.4.3
* Qt Versions:  4.8.6, PyQt4 (API v2) 4.11.3 on Linux

## Optional dependencies
[code]

[2015-09-08 17:04] d1manson commented on #2654
I'm having the same issue, even just doing `x = pd.DataFrame(np.ones(10))` causes a crash when the variable explorer is open.
..a quick dig around in variable explorer code didn't seem to reveal much - it's quite complicated down there!

[2015-09-08 17:07] Diti24 opened #2681 "Strange editor autocompletion"
## Description

**What steps will reproduce the problem?**
1. Create a dummy package like this just to have something simple to play with, all listed files can be empty:
   myPackage/
   myPackage/util2
   myPackage/util2/util3File.py
   myPackage/util2/util2File.py
   myPackage/util2/**init**.py
   myPackage/util2/util1File.py
   myPackage/util1
   myPackage/util1/util3File.py
   myPackage/util1/

[2015-09-08 17:24] goanpeca commented on #2681
@blink1073?

[2015-09-08 19:06] ccordoba12 commented on #2679
This clearly seems an issue with pyzo, not with Spyder, so please report this error with them.

[2015-09-08 19:17] ccordoba12 commented on #2680
According to what you reported on issue #2679, it seems you're using pyzo to run Spyder, and that's most probably what's causing the error.

Please use a more standard distribution, like Anaconda:

http://continuum.io/downloads.html

[2015-09-08 19:46] sho-87 commented on #2633
I'm having the same problem. Spyder isn't useable on windows 10 because it only launches about 10% of the time. The rest of the time I get the error above

I'm using the latest release of anaconda, python 2.7, 32bit

[2015-09-08 20:43] amnona opened #2682 "Figures don't show when using qt backend on Mac"
When trying to use the qt backend for ipython (select via preferences), matplotlib figures don't show.
They work fine when using the "Automatic" backend instead.
This is not a general qt problem since calling "PyQt4.QtGui.QInputDialog.getInt(None,'a','b')" works.
The problem seems to be that figures are opened in the background but do not respond to events. When i call figure() and then plot(rand[

[2015-09-08 20:49] amnona opened #2683 "IPython kernel crashes when using Qt dialogs in IPython Automatic backend in Mac"
When using the automatic backend mode for the ipython console, opening a qt dialogue crashes the console.
steps:

[code]

and I get a "python quit unexpectedly." window with Ignore/Report/Reopen
(this also happens with a custom Qt GUI i'm working on instead of getInt)

(working on max OS X Yosemite 10.10.4
## Version and main components

* Spyder Version: 2.3.6
* Python Version: 2.7.10
* Qt Versio

[2015-09-09 00:40] ccordoba12 commented on #2682
How did you install Spyder?

[2015-09-09 02:25] amnona commented on #2682
Via anaconda
On Sep 8, 2015 5:40 PM, "Carlos Cordoba" <notifications@github.com> wrote:

[2015-09-09 07:39] Diti24 commented on #2679
Hi, I just installed anaconda from skretch as suggested in #2680. Right after installation it worked.
Than I made a conda update --all (so getting ipython 4.0.0 and spyder 2.3.6) and i got the same behaviour as with pyzo.
This is the update process I made, maybe here this can help to understand which package is causing the probel?:
 ./conda update --all
Fetching package metadata: ....
Solving pack

[2015-09-09 08:20] sphh commented on #2662
As an inventor Nick Gravgaard (who invented Elastic Tabstops) has every right on his side to be pendantic ;-) And he might have a point in an ideal world where every editor implements his idea. But as @goanpeca rightly pointed out it's never a good idea to mix spaces and tabs in python files, so the creative adaption of this idea would be a big step forward to make better readable python code in l

[2015-09-09 16:14] ccordoba12 commented on #2157
I'm closing this as a duplicate of issue #1880.

[2015-09-09 16:14] #2157 closed

[2015-09-09 18:18] durack1 opened #2684 "Applications directory link is broken in Spyder 2.3.6 dmg's"
As noted above - the executable works great, just the installer/dmg needs a tweak

[2015-09-09 20:24] ccordoba12 commented on #2684
What tweak? Sorry, I don't understand :-s

Also, what version of Mac are you using?

[2015-09-09 20:43] durack1 commented on #2684
Sorry I should have been more clear..

`OS X version: 10.10.5`

So the `Applications` icon within the installer is not correctly linked to `/Applications` on the machine, and consequently when trying to "install" spyder using the mounted `*.dmg` it doesn't work as expected.

And this is what I get:
![spyder2 3 6_dmg-applicationsdirissue](https://cloud.githubusercontent.com/assets/3229632/9773680/8

[2015-09-09 20:52] ccordoba12 commented on #2684
Ok, I see what you mean. I'll try to fix it for 2.3.7.

[2015-09-10 20:41] durack1 opened #2685 ""unable to connect to the internet" nag screen in 3.0.0b1"
When loading the current `3.0.0b1` release, I get an "unable to connect to the internet" nag screen as below even though the machine has an active web connection:
![spyder3 0 0b1-interneterror](https://cloud.githubusercontent.com/assets/3229632/9800359/65226252-57c1-11e5-9411-93965bad438b.jpg)

For completeness here is the version info - it's a `redhat 6.7 x64` machine:
![spyder3 0 0b1-versioninfo

[2015-09-10 21:05] goanpeca commented on #2685
Hmmm will take a look :-)

[2015-09-10 21:08] durack1 commented on #2685
This could be due to a firewall issue.. So let me know if you want any more specific machine diagnostics..

[2015-09-10 21:17] goanpeca commented on #2685
For the moment you can disable the check for updates on startup while I check ok? (Preferences general, last option)

[2015-09-10 21:42] durack1 opened #2686 "Incorrect dependency reporting for iPython in 3.0.0b1"
I've got `iPython 3.0.0` installed, and it says that `3.0` is the minimum required, but it's flagged as a problem in the screengrab..
![spyder3 0 0b1-invalidoptionaldependencyreports](https://cloud.githubusercontent.com/assets/3229632/9801781/2c12a4c8-57ca-11e5-8856-f48d79442d38.png)

[2015-09-10 22:03] goanpeca commented on #2685
@durack1 can you try to run this code and let me know what happens?

[code]

This is the basic call in the check updates func... lets see what happens

[2015-09-10 22:07] durack1 commented on #2685
@goanpeca yep, looks like the firewall is the problem ' the `SSL: CERTIFICATE_VERIFY_FAILED` gives it away:

[code]

[2015-09-10 22:12] goanpeca commented on #2685
Suggestions ?

[2015-09-10 22:15] durack1 commented on #2685
@goanpeca I think this is a fringe case, not sure many other folks would have the same firewall issues as this..

You could trap this error and replace the text in the dialog that pops up indicating that `"Spyder is unable to check for updates"` and if the dialog starts to repeatedly nag then `"to suppress update checks, you can turn off automatic checking in the Spyder Preferences Console (Prefer

[2015-09-10 22:16] goanpeca commented on #2685
How about this?

[code]

[2015-09-10 22:18] durack1 commented on #2685
@goanpeca ok, I think you've sorted it:
[code]

[2015-09-10 22:19] goanpeca commented on #2685
Ok I will submit a PR on this, so for the next beta it should be solved...

Thanks for teporting :+1:

[2015-09-10 22:19] durack1 commented on #2685
@goanpeca no problem - thanks for the lightning fast fix!

[2015-09-10 22:21] goanpeca commented on #2685
Glad to be of help

[2015-09-10 22:21] ccordoba12 commented on #2686
This is a duplicate of issue #2612.

@goanpeca you introduced this bug when you changed the way we detect package versions in `utils/programs.py` to check for Spyder updates.

[2015-09-10 22:21] #2686 closed

[2015-09-10 22:24] durack1 commented on #2685
@goanpeca I'll try a provide you with as quick (and hopefully useful) feedback on the code folding too :wink:

[2015-09-11 04:50] achand11 opened #2688 "pulp package"
## Description

**What steps will reproduce the problem?**

1. import pulp
x=pulp.LpVariable("x",lowBound=0)
y=pulp.LpVariable("y",lowBound=0)
problem=pulp.LpProblem("A simple maximization objective",pulp.LpMaximize)
problem+=3*x+2*y,"Objective function"
problem+=2*x+y <=100,"1st Constraint"
problem +=x+y<=80,"Second Constraint"
problem +=x<=40,"Third Constraint"
problem.solve()

2.
3.

**What is

[2015-09-11 04:50] achand11 commented on #2688
I get error pulp package not available. Please let me know how I can install Pulp for spyder

[2015-09-11 07:06] ccordoba12 commented on #2688
I'm sorry but this is not a Spyder bug. I haven't heard of that package, but according to his website, all you need to do is

    pip install pulp

in a terminal (i.e. `cmd.exe`)

[2015-09-11 07:06] #2688 closed

[2015-09-11 13:18] blink1073 commented on #2681
I can't reproduce with the master branch:

<img width="516" alt="screen shot 2015-09-11 at 8 17 51 am" src="https://cloud.githubusercontent.com/assets/2096628/9815694/a49304cc-585d-11e5-9857-e83d40262596.png">

[2015-09-11 13:19] blink1073 commented on #2681
Note this only works because these files are imported in the `__init__` files in the subpackage.

[2015-09-11 13:56] stephenjshaw commented on #2659
Same for me.  One example: it crashes  as soon as I type  "sum()" to sum up values in a pandas Dataframe column...   This is really hampering my coding.

[2015-09-11 14:59] chrisjcameron commented on #2659
For people suffering from this bug:
As a temporary workaround, you can disable the introspection features. It is not ideal but it is more workable than crashing constantly.

[2015-09-11 16:58] ccordoba12 commented on #2659
@blink1073, this seems a problem with Jedi because Rope can introspect DatafFrames.

Could you take a look at it?

[2015-09-11 23:11] Franck-Dernoncourt opened #2689 ""Resize" button in variable explorer chops off the array"
"Resize" in variable explorer chops off the array.

---

Example:

Demo: https://youtu.be/SKJXy2zE-nQ

Screenshots:

The np.array `confusion_matrix` of shape (88, 88):

![image](https://cloud.githubusercontent.com/assets/15331/9828109/391828ee-58b7-11e5-880c-21c9e145b828.png)

becomes 88*40 when resized:

![image](https://cloud.githubusercontent.com/assets/15331/9828092/233ec10e-58b7-11e5-8486-f12

[2015-09-12 01:41] IM312 opened #2690 "IPython Console Error"
## Description

**What steps will reproduce the problem?**

1. starting Spyder from Anaconda Launcher
2. opening an IPython Console
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

## Version and main components

* Spyder Version: 2.3.6
* Python Version: 2.7.8
* Qt Versions:  4.8.6, PyQt4 (API v2) 4.10.4 on Windows

## Optional dep

[2015-09-12 15:52] blink1073 commented on #2659
I can't reproduce the error on master, I tried it with `groupby()` and `sum()` and it works fine.

[code]
pyflakes >=0.5.0:  0.5.0 (OK)
pep8 >=0.6      :  1.6.2 (OK)
pygments >=1.6  :  2.0.2 (OK)
IPython >=3.0   :  3.2.1 (OK)
zmq >=13.0.0    :  14.7.0 (OK)
pandas >=0.13.1 :  0.16.1 (OK)
sphinx >=0.6.6  :  1.3.1 (OK)
psutil >=0.3    :  None (NOK)
rope >=0.9.4    :  0.10.2 (OK)
jedi >=0.8.1    :  0.

[2015-09-12 15:55] blink1073 commented on #2659
Also worked with 2.3.5.2.

[2015-09-12 15:57] blink1073 commented on #2659
Aha, the crash occurs when I update to Jedi 0.9, I'll investigate further.

[2015-09-12 22:54] ccordoba12 commented on #2690
Please run (after closing Spyder and the IPython notebook) this command:

    conda update ipython

to fix this error.

[2015-09-12 22:54] #2690 closed

[2015-09-13 00:31] blink1073 commented on #2659
This is some strange interaction between the QThread and Jedi, because I printed out the function call and ran it in IPython and it comes out fine:

[code]

The error does not occur in Python 3.  I'm afraid switching to `QProcess` may be our only way out of this one...

[2015-09-13 00:32] goanpeca commented on #2659
One more reason to get to work ;-)

[2015-09-13 05:28] chrisjcameron commented on #1910
In my experience, BeautifulSoup can have different behaviors based on how the dependencies are satisfied. In the past I have had the best behavior with the lxml library installed. BS4 automatically uses the library if installed but uses an alternative parser if not. It is a little hard to track down the behavior because it is all automatic and transparent to the user.

Without xlml installed, I ha

[2015-09-13 05:50] chrisjcameron commented on #2054
A third option might be to wrap the plots a separate, docked window as part of the spyder UI( like the object inspector, etc). This would be similar to RStudio with the added ability to un-dock and resize the plot window. The present inline system often makes oversized plots with only the bottom corner of the image visible (laptop) and the automatic mode creates plots in windows behind the full sc

[2015-09-13 12:27] goanpeca commented on #2685
@d1manson can you do me a favor?

Can you check in python3 if the bug is present, and if so, if the solution proposed works as well?

Take into account that in Py3 the snippet is:

[code]

Thanks

[2015-09-14 02:59] #2672 closed

[2015-09-14 06:03] goanpeca commented on #2350
This was a one liner (using https://github.com/ColinDuquesnoy/QDarkStyleSheet)!

![darkstyle](https://cloud.githubusercontent.com/assets/3627835/9843057/32ab099c-5a7c-11e5-8159-38d8de4f3d7d.png)

It would need a bit of tweaking to get it to work with the rest ... but what do you guys think?

@ccordoba12, @blink1073, @Nodd, @SylvainCorlay?

[2015-09-14 08:20] mauro3 opened #2693 "README should link to manual"
The readme should prominently link to the manual.  Also a link in the tag-line would be good.  Last, a screenshot in the "Overview" section would be cool.

This is just from my first quick impression landing here.

[2015-09-14 08:52] cheny8907 opened #2694 "When use pandas command "pd.read_table" with "header=None" ,spyder will crash when run it"
## Description

**What steps will reproduce the problem?**

1. import pandas as pd
2. x=pd.read_table('a file path',header=None)
3. run it

**What is the expected output? What do you see instead?**
whenever run this command with "header=None",spyder will crash

**Please provide any additional information below**
I test the same command in the Ipython QTconsole ,it works OK.
so I wonder it may be a

[2015-09-14 09:18] Diti24 commented on #2681
You are right if you use some other packages like skimage or numpy it seems to work.
I tried to add the following initializations to my "dummy" package into the
myPackage/__init__.py file:
from . import util
from . import util1
from . import util2
from . import util3

but this doesn't help. So I suppose my dummy package is wrong, since numpy, skimage and others work as expected.
On the otherhand i

[2015-09-14 13:06] blink1073 commented on #2681
The IPython console has the advantage of being able to evaluate everything, and in general can offer better introspection.

[2015-09-14 13:06] blink1073 commented on #2350
:+1:

[2015-09-14 13:46] ccordoba12 commented on #2350
I really like it and I'm also +1 for it, but:

1. First we need to unify syntax highlighting schemes under a single entry in Preferences.
2. We need to define a dark scheme for the Object Inspector.
3. We need to integrate it with our (FontAwesome) theme.
4. We need to decide if we want to fork QDarkStyleSheet as part of the spyder-ide org to maintain it for the rest of time! :-p I mean, if we add

[2015-09-14 13:47] ccordoba12 commented on #2350
It seems like too much work for 3.0. Maybe for 3.1 if @goanpeca wants to tackle it?

[2015-09-14 13:51] ccordoba12 commented on #2693
Thanks for the suggestion. It's an easy fix :-)

[2015-09-14 14:54] goanpeca commented on #2350
@ccordoba12:

I agree with all the todos but:

1. I can do this, if we agree on what is the desired functionality.
2. @ccordoba12 has to take care of this
3. @SylvainCorlay  has to take care of this
4. It is an external project, why do we need to maintain it?, we can depend on it (either implicitly or explicitly)

[2015-09-14 14:56] ccordoba12 commented on #2350
(4.) Because it can become unmaintained at any time :-) Well, we'll fork it when that happens :-p

[2015-09-14 16:56] ptthompsonzul opened #2695 "autocomplete of pandas DataFrames filled by .from_csv() causes crash on OS X"
On my mac mini (Macmini6,1) with OS X 10.10.5, using autocomplete on a pandas DataFrame object which has been filled with the pandas.DataFrame.from_csv() method, Spyder crashes to desktop.  Following code provides reliable crash reproduction on my system:

import pandas as pd
a = pd.DataFrame()
a = pd.DataFrame.from_csv('test.csv')
b = a.

As soon as the . is typed following 'b = a', spyder begins

[2015-09-14 17:03] ccordoba12 commented on #2695
Does this happen in the Editor or the Python/IPython console?

[2015-09-14 17:04] ptthompsonzul commented on #2695
Occurs in the editor.  Haven't tried it in the iPython console.

[2015-09-14 17:06] ccordoba12 commented on #2695
Please downgrade Jedi to 0.8.1 with this command:

    conda install jedi==0.8.1

to temporarily fix this problem.

[2015-09-14 17:08] ccordoba12 commented on #2659
@blink1073, is there something we can about this to avoid the crash in our stable branch?

This is very serious :-)

[2015-09-14 17:09] goanpeca commented on #2659
At least some try except so that spyder does not crash?

[2015-09-14 17:10] ccordoba12 commented on #2695
Closing as duplicate of #2659

[2015-09-14 17:10] #2695 closed

[2015-09-14 17:12] ccordoba12 commented on #2659
Nop, it just occurred to me a simpler solution: forbid Jedi 0.9 as an accepted version, and only use 0.8.1 instead (if present) :-)

[2015-09-14 17:12] goanpeca commented on #2659
Or that

[2015-09-14 17:13] ccordoba12 commented on #2659
Yep, I'll do it for 2.3.7 ;-)

[2015-09-14 17:15] blink1073 commented on #2659
Yeah, I think that is the only way.  There is nothing to "catch" because it is a segfault.

[2015-09-14 17:15] blink1073 commented on #2659
Once it is a separate process, it should work fine, but if it crashes, we just restart it.

[2015-09-14 17:15] ccordoba12 commented on #2694
Thanks for reporting. This is a duplicate of issue #2654.

[2015-09-14 17:15] #2694 closed

[2015-09-14 17:17] ptthompsonzul commented on #2695
Confirming, downgrade to jedi 0.8.1 does prevent crash. There IS a noticeable delay before the autocomplete list shows up though (on the order of 5-10 seconds).  Thanks for the work around. :)

[2015-09-14 17:18] ccordoba12 commented on #2679
I really don't understand why you're getting the same error as the pyzo one, if pyzo is not part of Anaconda :-)

[2015-09-14 17:24] ccordoba12 commented on #2640
Closing because of lack of response.

[2015-09-14 17:24] #2640 closed

[2015-09-14 17:45] durack1 commented on #2685
@goanpeca I don't currently have a `python3` install to test.. I'll try and get to it later in the week..

[2015-09-15 09:51] ccordoba12 commented on #2679
Please post the exact error you're getting with Anaconda :-)

[2015-09-15 15:08] Diti24 commented on #2679
Hi

Error in sitecustomize; set PYTHONVERBOSE for traceback:
TypeError: 'NoneType' object is not callable
Traceback (most recent call last):
File "/mnt/disk2/opt/anaconda3/lib/python3.4/site‑packages/spyderlib/widgets/externalshell/start_ipython_kernel.py", line 175, in
from IPython.kernel.zmq.kernelapp import IPKernelApp
File "/mnt/disk2/opt/anaconda3/lib/python3.4/site‑packages/IPython/__init__.

[2015-09-15 15:35] ccordoba12 commented on #2679
I really don't know what's happening, sorry.

Couldn't you stay on Anaconda 2.3 for the moment? I mean, if that's working for you, you should stay there :-)

[2015-09-15 18:19] dougthor42 commented on #2676
There's a bit more info in #2437.

Also go over and vote for the [Qt Issue #46072](https://bugreports.qt.io/browse/QTBUG-46072) to give it more of a chance of being added.

[2015-09-15 19:15] Diti24 commented on #2679
I was just interested in spyder 2.3.6 instead of 2.3.5.2 because it fixed this
issue https://github.com/spyder-ide/spyder/issues/2593.
But of course I can wait for the moment.
Thanks anyway

[2015-09-15 19:51] ccordoba12 commented on #2679
Then please run

    conda update spyder

to only update Spyder :-)

[2015-09-16 08:27] H0R5E commented on #2680
I'm have the same problem using the same version packaged with Anacoda, Python 2.7.

[2015-09-16 08:51] Diti24 commented on #2679
So first I did
./conda update spyder and I got same problems, probably because of these dependencies
The following NEW packages will be INSTALLED:

    ipykernel:        4.0.3-py34_0
    ipython_genutils: 0.1.0-py34_0
    jupyter_client:   4.0.0-py34_0
    jupyter_core:     4.0.4-py34_0
    nbconvert:        4.0.0-py34_0
    nbformat:         4.0.0-py34_0
    path.py:          7.6.1-py34_0
    pex

[2015-09-16 10:07] derDavidT opened #2696 "Enter in the IPython console inserts new line instead of executing current line after kernel restart"
Recently I updated my anaconda package, which installed

    ipython 4.0.0
    ipython-qtconsole 4.0.1
    spyder 2.3.6

After that, whenever I restart the ipython kernel in the qt-console (using `ctrl + .`), the console will not execute any command, e.g.:

    Python 2.7.10 |Anaconda 2.3.0 (64-bit)| (default, May 28 2015, 16:44:52) [MSC v.1500 64 bit (AMD64)]
    Type "copyright", "credits" or "l

[2015-09-16 12:55] bordingj commented on #2696
Same behavior here (Python 3.4.3, Anaconda 2.3, Ubuntu 14.04)

[2015-09-16 12:59] petebachant commented on #2696
I'm getting the same behavior on Windows 10 x64, Python 3.

[2015-09-16 13:20] pichaio opened #2697 "Can't restart kernel or open a new console from spider"
## Description

**What steps will reproduce the problem?**

1. On IPython console, select restart kernel or open a new console.

**What is the expected output? What do you see instead?**
Kernel restarted or a new ipython console opened. Instead the following error appears.

Error in sitecustomize; set PYTHONVERBOSE for traceback:
TypeError: 'NoneType' object is not callable
Traceback (most recent

[2015-09-16 15:15] ccordoba12 commented on #2696
Thanks for reporting. I'll try to fix it for 2.3.7

[2015-09-16 15:16] ccordoba12 commented on #2697
This is the same problem as issue #2679, so I'm closing this one as a duplicate.

[2015-09-16 15:16] #2697 closed

[2015-09-16 15:19] ccordoba12 commented on #2679
I'm glad to know that you were able to workaround this problem :-) I'll take a closer look at this issue and I'll try to fix for 2.3.7

[2015-09-16 15:21] ccordoba12 commented on #2680
I'll see what's happening about this one for 2.3.7

[2015-09-17 21:21] durack1 commented on #2685
@goanpeca so it seems to work great with `Python 3.5.0` too:
[code]

[2015-09-17 23:12] j-hoss opened #2698 "Spyder won't launch when installed with Anaconda 2.3.0"
- Install on a win 7 64 bit laptop.
- Python works and ipython works.
- When i try to launch Spyder, when it gets to "loading file history" it close and says that python.exe (or sometime pythonw.exe) has stopped working.

I tried uninstall and re-install with no luck.

I was able to use the 32 bit version ...

Help?

[2015-09-17 23:42] ccordoba12 commented on #2685
@goanpeca, should I merge your PR then?

[2015-09-17 23:43] ccordoba12 commented on #2698
Please a terminal (i.e. `cmd.exe`) and run

    spyder --reset

then try to start Spyder again. That should fix your problem :-)

[2015-09-17 23:51] j-hoss commented on #2698
I launched spyder and observed the issue.
I ran the reset script.
I re-launched Spyder and saw the exact same issue.

[2015-09-17 23:56] ccordoba12 commented on #2698
Does your user name has some non-ascii characters on it?

[2015-09-17 23:56] ccordoba12 commented on #2698
Like á, ñ, etc?

[2015-09-18 01:38] j-hoss commented on #2698
I do not have any non-ascii characters in my user name.

[2015-09-18 02:32] goanpeca commented on #2685
Yes :-)

[2015-09-18 14:59] j-hoss commented on #2698
I'll stick with the 32 bit install until the issue is fixed.  It is the same issue described by multiple people in "Spyder in Windows 10 is not working correctly #2633"

[2015-09-18 16:04] Stretch97 opened #2699 "Spyder 2.3.6 says PySide 1.2.0+ is required, but I have PySide 1.2.2 installed"
## Description

**What steps will reproduce the problem?**

1. Use pip to install Spyder 2.3.6
2. Start up Spyder from the command line

**What is the expected output? What do you see instead?**
I expect Spyder to launch, but instead I get the following error:
"Please check Spyder installation requirements: PyQt4 4.6+ (or PySide 1.2.0+) is required."

**Please provide any additional information be