[2015-02-17 23:32] spyder-issues-migrator commented on #2120
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-08T10:55:26Z_

Thanks for your interest in improving Spyder.

Please report this issue with the Anaconda guys. We can't do anything about it.

**Status:** Invalid

[2015-02-17 23:32] #2120 closed

[2015-02-17 23:32] spyder-issues-migrator opened #2121 "hitting control + c after starting typing does not give a fresh line (i.e. clear whatever typed)"
_From [sad...@gmail.com](https://code.google.com/u/113705236299871724793/) on 2015-01-16T21:47:07Z_

Spyder Version:  2.3.2
Python Version:  2.7.9
Qt Version    :  4.8.6, PyQt4 (API v2) 4.11.3 on Windows
pyflakes >=0.5.0:  0.8.1 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=0.13  :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.15.2 (OK)
sphinx >=0.6.6

[2015-02-17 23:32] spyder-issues-migrator commented on #2121
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-08T10:54:22Z_

The keyboard shortcut to clean a line is Shift+Esc. This shortcut is fixed.

Ctrl+C is already used for two things:

1. Interrupt computations (as you mentioned).

2. Paste text.

**Status:** WontFix

[2015-02-17 23:32] #2121 closed

[2015-02-17 23:32] spyder-bot opened #2122 "QSyntaxHighlighter and Pygments do not properly interoperate, leading to occasional mis-highlighting"
_From [randy.he...@clockworklab.net](https://code.google.com/u/109438186339045640625/) on 2015-01-18T11:36:30Z_

As noted in my recent pull request [1], certain filetypes will not highlight well when using Pygments.  This is because the base class, QSyntaxHighlighter [2] breaks text into blocks (individual lines) and tries to highlight them one at a time [3], whereas Pygments is set up to highligh

[2015-02-17 23:32] spyder-issues-migrator commented on #2122
_From [contrebasse](https://code.google.com/u/contrebasse/) on 2015-01-18T16:02:07Z_

I don't understands the details, but it seems to me that QSyntaxHighlighter has a way to manage blocks bigger than one line since it highlights multiline strings just fine ?

[2015-02-17 23:32] spyder-issues-migrator commented on #2122
_From [randy.he...@clockworklab.net](https://code.google.com/u/109438186339045640625/) on 2015-01-18T18:30:21Z_

Sorry, I forgot to mention that.  QSyntaxHighlighter has a method for setting state from one block to the next.  So if a block starts a multi-line comment, the next block knows that it is currently inside a multi-line comment and can be highlighted accordingly.  But there's no (easy) wa

[2015-02-17 23:32] spyder-issues-migrator commented on #2122
_From [contrebasse](https://code.google.com/u/contrebasse/) on 2015-01-19T02:29:40Z_

I understand now, thanks.

[2015-02-17 23:32] spyder-issues-migrator commented on #2122
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T13:56:48Z_

**Status:** Accepted
  **Labels:** Cat-Editor MS-v2.4

[2015-02-17 23:32] spyder-issues-migrator opened #2123 "Add an option to move focus to console after pressing F5"
_From [wshch...@gmail.com](https://code.google.com/u/115493182235056598870/) on 2015-01-18T16:50:49Z_

Spyder Version:  2.3.2
Python Version:  2.7.9
Qt Version    :  4.8.6, PyQt4 (API v2) 4.11.3 on Windows
pyflakes >=0.5.0:  0.8.1 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=0.13  :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.15.2 (OK)
sphinx >=0.6

[2015-02-17 23:32] spyder-issues-migrator commented on #2123
_From [wshch...@gmail.com](https://code.google.com/u/115493182235056598870/) on 2015-01-18T16:13:02Z_

Ok, I maybe figured this out. I must run it in the console by 'runfile' command, then I can get focus on easygui window. But when I edit in the editor and hit the RUN button, the focus will be back to editor.

[2015-02-17 23:32] spyder-issues-migrator commented on #2123
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T13:56:09Z_

**Summary:** Add an option to move focus to console after pressing F5  \<span class="oldvalue"> (was: window lose focus for easygui &amp; tkinter at running) \</span>
  **Status:** Accepted
  **Labels:** Cat-Editor MS-v2.4

[2015-02-17 23:32] spyder-issues-migrator commented on #2123
_From [dufferZa...@gmail.com](https://code.google.com/u/114486706940806179286/) on 2015-02-08T09:24:12Z_

Hey! I am trying to fix this, but being new to the dev process I don't have an idea as to how I should go about this. I think I have located the part of code that I need to modify but can't think of the best way to provide the option. Should I provide a checkbox in Preferences under "Run" tab

[2015-02-17 23:32] spyder-issues-migrator commented on #2123
_From [wshch...@gmail.com](https://code.google.com/u/115493182235056598870/) on 2015-02-08T10:15:43Z_

Well, I think there might be a misunderstanding. I need the focus on the GUI window, which is created by my own code, but not editor nor console. So I thought there should be three options: focus console, focus editor and focus GUI window created by code.

Hope that's make sense.

[2015-02-17 23:32] spyder-issues-migrator commented on #2123
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-08T11:30:36Z_

@-wshchzhq, there is no way we can give focus to an external window, sorry. That's the task of the operating system window manager.

[2015-02-17 23:32] spyder-issues-migrator commented on #2123
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-08T11:32:47Z_

@-dufferZafar0, yes, I think adding an option to the Run options is the best option. Thanks for looking into this one.

[2015-02-17 23:32] spyder-issues-migrator commented on #2123
_From [wshch...@gmail.com](https://code.google.com/u/115493182235056598870/) on 2015-02-08T11:52:56Z_

@-ccordoba12, Yes, thanks for the reply. But is it possible to not add any re-focus command in spyder, so the focusing will move automatically to external window? Because in original IDLE, focus will move to external window (created by code) after execution.

[2015-02-17 23:32] spyder-issues-migrator commented on #2123
_From [dufferZa...@gmail.com](https://code.google.com/u/114486706940806179286/) on 2015-02-09T06:40:04Z_

@-ccordoba12, While going through the code, I found that there's already a function similar to focusing the console termed as "Interact with the Python console after execution" but it is only enabled when the code is executed in a new dedicated Python Console. Rather than adding an entirely ne

[2015-02-17 23:32] spyder-issues-migrator commented on #2123
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-12T08:38:09Z_

Yes, I forgot about that one! You're right, I think it's better to unify everything under that option.

Please go ahead and do that :-)

[2015-02-17 23:32] spyder-issues-migrator opened #2124 "I do not have documanation which should be in the right up-hand side of spyder"
_From [eghar...@asu.edu](https://code.google.com/u/105962157516457902105/) on 2015-01-19T12:16:30Z_

Spyder Version:  2.3.0
Python Version:  2.7.8
Qt Version    :  4.8.6, PyQt4 (API v2) 4.11.2 on Linux
pyflakes >=0.5.0:  0.8.1 (OK)
pep8 >=0.6      :  1.5.6 (OK)
IPython >=0.13  :  2.3.0 (OK)
pygments >=1.6  :  1.6 (OK)
sphinx >=0.6.6  :  1.2.2 (OK)
psutil >=0.3    :  2.1.1 (OK)
rope >=0.9.2    :  0

[2015-02-17 23:32] spyder-issues-migrator commented on #2124
_From [eghar...@asu.edu](https://code.google.com/u/105962157516457902105/) on 2015-01-19T09:17:10Z_

I do not have documanation which should be in the right up-hand side of spyder

[2015-02-17 23:32] spyder-issues-migrator commented on #2124
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T13:58:09Z_

Not all documentation can be displayed, unfortunately.

What documentation are you trying to show? I mean, for what object?

[2015-02-17 23:32] spyder-issues-migrator commented on #2124
_From [eghar...@asu.edu](https://code.google.com/u/105962157516457902105/) on 2015-01-30T14:36:13Z_

For example, when I am writing *np.append()* or any other commends, I
expected the doc side(in the right-hand side) to display those capable
options that I might choose.

[2015-02-17 23:32] spyder-issues-migrator commented on #2124
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T15:08:53Z_

Documentation is not displayed automatically after 2.3.0.

You need to press Ctrl+I next to an object to get its documentation. For example:

    np.append<Ctrl+I>

or you can restore the old behavior by going to

    Preferences > Object Inspector > Automatic connections

and checking "Editor"

**Status:** WontFix

[2015-02-17 23:32] #2124 closed

[2015-02-17 23:32] spyder-issues-migrator opened #2125 "Removal of keyboard shortcut causes errors to be thrown"
_From [thevp...@gmail.com](https://code.google.com/u/114967603654191624717/) on 2015-01-20T23:56:05Z_

Spyder Version:  2.3.2
Python Version:  3.4.1
Qt Version    :  4.8.6, PyQt4 (API v2) 4.10.4 on Windows
pyflakes >=0.6.0:  0.8.1 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=0.13  :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.14.0 (OK)
sphinx >=0.6

[2015-02-17 23:32] spyder-issues-migrator commented on #2125
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T14:04:00Z_

**Labels:** MS-v2.3.4 Cat-Settings

[2015-02-17 23:32] spyder-issues-migrator opened #2126 "iPython console rendering of pandas.DataFrame._repr_html_() note in changelog"
_From [laurence...@gmail.com](https://code.google.com/u/118195665176369502249/) on 2015-01-21T04:40:48Z_

Spyder Version:  2.3.2
Python Version:  2.7.7
Qt Version    :  4.8.6, PyQt4 (API v2) 4.10.4 on Windows
pyflakes >=0.5.0:  0.8.1 (OK)
pep8 >=0.6      :  1.5.6 (OK)
IPython >=0.13  :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.15.2 (OK)
sphinx >=

[2015-02-17 23:32] spyder-issues-migrator commented on #2126
_From [laurence...@gmail.com](https://code.google.com/u/118195665176369502249/) on 2015-01-21T01:56:29Z_

possibly linked with this issue https://code.google.com/p/spyderlib/issues/detail?id=2015

[2015-02-17 23:32] spyder-issues-migrator commented on #2126
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-23T08:53:53Z_

Thanks, I'll add a note to our next release changelog because I doubt people read old changelogs

**Labels:** MS-v2.3.3 Cat-IPythonConsole

[2015-02-17 23:32] spyder-issues-migrator commented on #2126
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T13:50:29Z_

I fixed this in our the changelog we mantain as part of our wiki

**Status:** Fixed

[2015-02-17 23:32] #2126 closed

[2015-02-17 23:32] spyder-issues-migrator opened #2127 "Line and line number context menus should have an entry "Set/Clear Breakpoint F12""
_From [robert.p...@mykolab.com](https://code.google.com/u/113841535926527526275/) on 2015-01-21T07:13:18Z_

Setting/clearing a breakpoint via double click on the line number is difficult to discover. So there should also be a corresponding context menu entry.

(I am using Spyder 2.3.2 via WinPython.)

_Original issue: http://code.google.com/p/spyderlib/issues/detail?id=2127_

[2015-02-17 23:32] spyder-issues-migrator commented on #2127
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T14:05:25Z_

**Status:** Accepted
  **Labels:** Cat-Debugger MS-v2.3.4

[2015-02-17 23:32] spyder-issues-migrator opened #2128 "Dose Editor have Source Code collapse/expand function?"
_From [4given...@gmail.com](https://code.google.com/u/106802519610178334840/) on 2015-01-22T01:09:11Z_

Hello,
I can't find the collapse/expand in Editor.
Dose Editor have Source Code collapse/expand function?

If it did, can Spyder add this function..

thanks.

_Original issue: http://code.google.com/p/spyderlib/issues/detail?id=2128_

[2015-02-17 23:32] spyder-issues-migrator commented on #2128
_From [contrebasse](https://code.google.com/u/contrebasse/) on 2015-01-22T07:25:24Z_

There already is an opened report for this: https://code.google.com/p/spyderlib/issues/detail?id=706 Also, this is currentluy the most-wanted feature in spyder, as you can see here: https://code.google.com/p/spyderlib/issues/list?can=2&q=&sort=-stars&colspec=ID%20MS%20Stars%20Priority%20Modified%20Cat%20Type%20St

[2015-02-17 23:32] spyder-issues-migrator commented on #2128
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T14:08:04Z_

**Status:** Duplicate
  **Mergedinto:** 706

[2015-02-17 23:32] #2128 closed

[2015-02-17 23:32] spyder-issues-migrator opened #2129 "task bar icon not correct"
_From [hsingh...@gmail.com](https://code.google.com/u/116907747441728969316/) on 2015-01-23T00:35:29Z_

Spyder Version:  2.3.1
Python Version:  2.7.8
Qt Version    :  4.8.6, PyQt4 (API v2) 4.10.4 on Windows
pyflakes >=0.5.0:  0.8.1 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=0.13  :  2.2.0 (OK)
pygments >=1.6  :  1.6 (OK)
pandas >=0.13.1 :  0.14.1 (OK)
sphinx >=0.6.6  :  1.2.3 (OK)
rope >=0.9.2

[2015-02-17 23:32] spyder-issues-migrator commented on #2129
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T14:10:06Z_

This is a problem with Anaconda, not with Spyder.

Let's hope the next version of Anaconda (to be released by the end of March) will fix this problem.

**Status:** WontFix

[2015-02-17 23:32] #2129 closed

[2015-02-17 23:32] spyder-issues-migrator opened #2130 "Conda manager: merge install/remove columns"
_From [contrebasse](https://code.google.com/u/contrebasse/) on 2015-01-23T03:53:04Z_

Spyder Version:  2.4.0dev (4711+: rb5a5ef2bb4d5 )
Python Version:  3.4.2
Qt Version    :  4.8.6, PyQt4 (API v2) 4.11.3 on Linux
pyflakes >=0.6.0:  0.7.3 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=1.0   :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.15.2 (OK)
sphi

[2015-02-17 23:32] spyder-issues-migrator commented on #2130
_From [goanp...@gmail.com](https://code.google.com/u/114799823853069473860/) on 2015-01-23T01:50:08Z_

Hi,

So if I understand correctly, you say there should only be 3 columns, so that when there is a package that is installable it should  display the install button, but if it is install the button should be to remove?

\# not installed package
name | description | R | U | D |

\# installed packa

[2015-02-17 23:32] spyder-issues-migrator commented on #2130
_From [contrebasse](https://code.google.com/u/contrebasse/) on 2015-01-23T02:07:29Z_

Yes exactly !

[2015-02-17 23:32] spyder-issues-migrator commented on #2130
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T14:11:13Z_

**Labels:** MS-v2.4 Cat-Miscelleneous

[2015-02-17 23:32] spyder-issues-migrator opened #2131 "Conda manager: Closing spyder while installing packages"
_From [contrebasse](https://code.google.com/u/contrebasse/) on 2015-01-23T03:56:04Z_

Spyder Version:  2.4.0dev (4711+: rb5a5ef2bb4d5 )
Python Version:  3.4.2
Qt Version    :  4.8.6, PyQt4 (API v2) 4.11.3 on Linux
pyflakes >=0.6.0:  0.7.3 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=1.0   :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.15.2 (OK)
sphi

[2015-02-17 23:32] spyder-issues-migrator commented on #2131
_From [goanp...@gmail.com](https://code.google.com/u/114799823853069473860/) on 2015-01-23T01:51:42Z_

True, I should add a warning asking if they want to leave.

I do not thinks it is likely that anything will be broken, because the package is only listed as correctly installed at the end, so if something went wrong in the middle is like it has not been installed at all (I have had this situation

[2015-02-17 23:32] spyder-issues-migrator commented on #2131
_From [contrebasse](https://code.google.com/u/contrebasse/) on 2015-01-23T02:11:15Z_

What about updates then ? At some point conda has to remove the old one and put the new one instead, so if it stops here the package might be broken. I admit these are only suppositions here, but somehow it doesn't look safe...

[2015-02-17 23:32] spyder-issues-migrator commented on #2131
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T14:12:00Z_

**Labels:** Cat-Miscelleneous MS-v2.4

[2015-02-17 23:32] spyder-issues-migrator opened #2132 "Conda manager: Installing multiple packages"
_From [contrebasse](https://code.google.com/u/contrebasse/) on 2015-01-23T04:00:26Z_

Spyder Version:  2.4.0dev (4711+: rb5a5ef2bb4d5 )
Python Version:  3.4.2
Qt Version    :  4.8.6, PyQt4 (API v2) 4.11.3 on Linux
pyflakes >=0.6.0:  0.7.3 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=1.0   :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.15.2 (OK)
sphi

[2015-02-17 23:32] spyder-issues-migrator commented on #2132
_From [goanp...@gmail.com](https://code.google.com/u/114799823853069473860/) on 2015-01-23T01:56:40Z_

Hi again,

Yes, this has been considered as well, but for this first iteration was left out as it would raise too many maintenance issues.I think that mixing actions would be too much, I would rather have a select button at the beginning of each row and a apply to all workflow (remove all, instal

[2015-02-17 23:32] spyder-issues-migrator commented on #2132
_From [contrebasse](https://code.google.com/u/contrebasse/) on 2015-01-23T02:15:44Z_

About mixed actions, another option is to disable uninstalls if an install button has been pressed, and vice-versa. A checkbox could be simpler though.

About dependancies, when using the command line you can ask to install or update many packages in one command, and conda checks the new state as a whole. It shou

[2015-02-17 23:32] spyder-issues-migrator commented on #2132
_From [goanp...@gmail.com](https://code.google.com/u/114799823853069473860/) on 2015-01-23T02:20:14Z_

About dependencies, not sure if conda is smart enough... for instance

conda install package_1=1.1, package_2=2.3

if package_2 has as dependency package_1=1.0, then I do not know what will happen here... package_1 is not installed, or it is and then it gets downgraded so package_2 works?

[2015-02-17 23:32] spyder-issues-migrator commented on #2132
_From [goanp...@gmail.com](https://code.google.com/u/114799823853069473860/) on 2015-01-23T02:21:34Z_

Binstar recipes WILL be easily discoverable, because the Spyder Binstar channel will be  active by default, so you will be able to see the recipes right away, and of course tutorial and other stuff might help on this. do you have a general setup in mind for an specific branch?

[2015-02-17 23:32] spyder-issues-migrator commented on #2132
_From [contrebasse](https://code.google.com/u/contrebasse/) on 2015-01-23T03:44:45Z_

By optional dependencies I meant stuff like rope, pep8, flake, jedi, sphinx, sympy...

Other than that I guess that the default install in anaconda already coverts most needs.

[2015-02-17 23:33] spyder-issues-migrator commented on #2132
_From [goanp...@gmail.com](https://code.google.com/u/114799823853069473860/) on 2015-01-23T04:32:23Z_

I think in this case it would work much better if we included it as a Spyder specific recipe, which would get listed in the CondaPackageManager... similar to how anaconda gets listed. We can call it additional-spyder ... so it gets listed on the first packages

[2015-02-17 23:33] spyder-issues-migrator commented on #2132
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-23T18:27:07Z_

**Labels:** MS-v2.4 Cat-SpyderGUI

[2015-02-17 23:33] spyder-issues-migrator commented on #2132
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T14:12:26Z_

**Labels:** -Cat-SpyderGUI Cat-Miscelleneous

[2015-02-17 23:33] spyder-issues-migrator opened #2133 "Conda manager: confirmation popup"
_From [contrebasse](https://code.google.com/u/contrebasse/) on 2015-01-23T04:03:31Z_

Spyder Version:  2.4.0dev (4711+: rb5a5ef2bb4d5 )
Python Version:  3.4.2
Qt Version    :  4.8.6, PyQt4 (API v2) 4.11.3 on Linux
pyflakes >=0.6.0:  0.7.3 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=1.0   :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.15.2 (OK)
sphi

[2015-02-17 23:33] spyder-issues-migrator commented on #2133
_From [goanp...@gmail.com](https://code.google.com/u/114799823853069473860/) on 2015-01-23T01:57:38Z_

Agreed, good idea :), will put it on my todo list

[2015-02-17 23:33] spyder-issues-migrator commented on #2133
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T14:13:00Z_

**Labels:** MS-v2.4 Cat-Miscelleneous

[2015-02-17 23:33] spyder-issues-migrator opened #2134 "Winpython new new frontpage"
_From [stonebi...@gmail.com](https://code.google.com/u/116068254323340012360/) on 2015-01-23T12:57:02Z_

Hi Carlos,

Would it be possible to update the winpython link of https://code.google.com/p/spyderlib/ to winpython.github.io ?

Regards,
Stonebig

_Original issue: http://code.google.com/p/spyderlib/issues/detail?id=2134_

[2015-02-17 23:33] spyder-issues-migrator commented on #2134
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-25T21:33:52Z_

Done!

**Status:** Fixed
  **Labels:** -Type-Defect Type-Task

[2015-02-17 23:33] spyder-issues-migrator commented on #2134
_From [stonebi...@gmail.com](https://code.google.com/u/116068254323340012360/) on 2015-01-26T08:54:24Z_

Thanks, Carlos !

[2015-02-17 23:33] #2134 closed

[2015-02-17 23:33] spyder-bot opened #2135 "outline does not update when file is saved in different Spyder window"
_From [clima...@gmail.com](https://code.google.com/u/105278454966050061610/) on 2015-01-23T15:23:04Z_

Spyder Version:  2.3.2
Python Version:  2.7.8
Qt Version    :  4.8.6, PyQt4 (API v2) 4.10.4 on Windows
pyflakes >=0.5.0:  0.8.1 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=0.13  :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.14.1 (OK)
sphinx >=0.6

[2015-02-17 23:33] spyder-issues-migrator commented on #2135
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T14:13:58Z_

**Labels:** Cat-Editor MS-v2.3.4

[2015-02-17 23:33] spyder-issues-migrator opened #2136 "Spyder takes about 45 minutes to launch!"
_From [Mansoury...@gmail.com](https://code.google.com/u/117071467901468441490/) on 2015-01-24T18:46:24Z_

Spyder Version:  2.3.1
Python Version:  2.7.8
Qt Version    :  4.8.6, PyQt4 (API v2) 4.11.1 on Darwin
pyflakes >=0.5.0:  0.8.1 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=0.13  :  2.2.0 (OK)
pygments >=1.6  :  1.6 (OK)
pandas >=0.13.1 :  0.14.1 (OK)
sphinx >=0.6.6  :  1.2.2 (OK)
psutil >=0.3

[2015-02-17 23:33] spyder-issues-migrator commented on #2136
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T14:16:30Z_

This is most probably an error with your installation, or with you configured Spyder.

Please open a terminal and run

    spyder --reset

or, if that command fails, just do

    rm -R ~/.spyder2

That should fix your problem for sure.

**Status:** WontFix

[2015-02-17 23:33] #2136 closed

[2015-02-17 23:33] spyder-issues-migrator opened #2137 "Errors when running a file in PyQt API #1"
_From [vuribe1...@gmail.com](https://code.google.com/u/108827072894102038659/) on 2015-01-25T13:22:46Z_

Spyder Version:  2.2.5
Python Version:  2.7.6
Qt Version    :  4.8.6, PyQt4 (API v1) 4.10.4 on Linux
pyflakes >=0.5.0:  None (NOK)
pep8 >=0.6      :  None (NOK)
IPython >=0.13  :  1.2.1 (OK)
rope >=0.9.2    :  None (NOK)
sphinx >=0.6.6  :  None (NOK)
matplotlib >=1.0:  None (NOK)
pylint >=0.25

[2015-02-17 23:33] spyder-issues-migrator commented on #2137
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-25T21:39:09Z_

Please update to Spyder 2.3.2 and try again. The 2.2 series is now unsupported.

**Summary:** Errors when running a file in PyQt API `#1`  \<span class="oldvalue"> (was: Traceback line 121 and 696) \</span>
  **Labels:** Cat-Console

[2015-02-17 23:33] spyder-issues-migrator commented on #2137
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T14:17:37Z_

Closing because of lack of response. I hope your error is fixed after updating :-)

**Status:** WontFix

[2015-02-17 23:33] #2137 closed

[2015-02-17 23:33] spyder-issues-migrator opened #2138 "Can not reach Preferences window"
_From [vuribe1...@gmail.com](https://code.google.com/u/108827072894102038659/) on 2015-01-25T13:29:40Z_

Spyder Version:  2.2.5
Python Version:  2.7.6
Qt Version    :  4.8.6, PyQt4 (API v1) 4.10.4 on Linux
pyflakes >=0.5.0:  None (NOK)
pep8 >=0.6      :  None (NOK)
IPython >=0.13  :  1.2.1 (OK)
rope >=0.9.2    :  None (NOK)
sphinx >=0.6.6  :  None (NOK)
matplotlib >=1.0:  None (NOK)
pylint >=0.25

[2015-02-17 23:33] spyder-issues-migrator commented on #2138
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-08T11:18:37Z_

No idea what you did ;-) But you can fix it by running in a console:

    spyder --reset

and then you'll be happy again!

**Status:** WontFix

[2015-02-17 23:33] #2138 closed

[2015-02-17 23:33] spyder-issues-migrator opened #2139 "Small typo in Help : Plotting examples"
_From [laur...@laurentroger.com](https://code.google.com/u/112341471159472376007/) on 2015-01-26T04:18:39Z_

Spyder Version:  2.3.2
Python Version:  2.7.8
Qt Version    :  4.8.6, PyQt4 (API v2) 4.11.1 on Darwin
pyflakes >=0.5.0:  0.8.1 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=0.13  :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.15.2 (OK)
sphinx

[2015-02-17 23:33] spyder-issues-migrator commented on #2139
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T14:18:58Z_

Thanks for the report and for your interest in Spyder.

We'll fix this error in our next release.

**Labels:** Cat-ObjectInspector MS-v2.3.3

[2015-02-17 23:33] spyder-issues-migrator commented on #2139
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T20:28:51Z_

This issue was closed by revision 021ab147bfc6 .

**Status:** Fixed

[2015-02-17 23:33] #2139 closed

[2015-02-17 23:33] spyder-issues-migrator opened #2140 "Some shortcuts are not working"
_From [mgili...@gmail.com](https://code.google.com/u/100252948182499758458/) on 2015-01-26T04:29:06Z_

Spyder Version:  2.3.2
Python Version:  2.7.6
Qt Version    :  4.8.6, PyQt4 (API v2) 4.10.4 on Linux
pyflakes >=0.5.0:  0.8.1 (OK)
pep8 >=0.6      :  1.4.6 (OK)
IPython >=0.13  :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  None (NOK)
sphinx >=0.6.6

[2015-02-17 23:33] spyder-issues-migrator commented on #2140
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T14:19:55Z_

**Summary:** Some shortcuts are not working  \<span class="oldvalue"> (was: some shortcut doesn't work) \</span>
  **Labels:** MS-v2.3.4 Cat-Settings

[2015-02-17 23:33] spyder-issues-migrator opened #2141 "File list management broken in master"
_From [christop...@gmail.com](https://code.google.com/u/105753816054647931594/) on 2015-01-26T11:31:23Z_

Spyder Version:  2.4.0dev
Python Version:  2.7.6
Qt Version    :  4.8.6, PyQt4 (API v2) 4.11.3 on Darwin
pyflakes >=0.5.0:  0.5.0 (OK)
pep8 >=0.6      :  None (NOK)
IPython >=1.0   :  3.0.0-dev (OK)
zmq >=2.1.11    :  14.0.1 (OK)
pygments >=1.6  :  1.6 (OK)
pandas >=0.13.1 :  None (NOK)
sphinx

[2015-02-17 23:33] spyder-issues-migrator commented on #2141
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T14:24:36Z_

Thanks for the report and for the patch. I'll add it as soon as I can to the tree :-)

**Labels:** Cat-Editor MS-v2.4

[2015-02-17 23:33] spyder-bot opened #2142 "Use an ipdb kernel for the debugger"
_From [rans1...@gmail.com](https://code.google.com/u/105353857294075732681/) on 2015-01-27T07:48:23Z_

The command line part of winpdb, rpdb2, might work better than pdb for Spyder's built in debugging.

See: https://code.google.com/p/editra-plugins/source/browse/trunk/PyStudio/PyStudio/Debugger/RpdbDebugger.py That was the main interface to rpdb2 that I made as part of a debugger plugin for the t

[2015-02-17 23:33] spyder-issues-migrator commented on #2142
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T14:27:52Z_

It seems very good but I really don't have time to work on explore this option.

If you have time to open a pull request using rpdb2 that'd be great :-)

**Summary:** Use rpdb2 instead of pdb for internal debugger  \<span class="oldvalue"> (was: rpdb2 instead of pdb for internal debugger) \</span>
  **Status:** Hel

[2015-02-17 23:33] spyder-issues-migrator opened #2143 "Closing takes a long time with Python 3.4"
_From [petebach...@gmail.com](https://code.google.com/u/111208198532108641429/) on 2015-01-27T15:59:19Z_

Spyder Version:  2.3.2
Python Version:  3.4.2
Qt Version    :  4.8.6, PyQt4 (API v2) 4.11.3 on Windows
pyflakes >=0.6.0:  0.8.1 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=0.13  :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.15.2 (OK)
sphinx >=

[2015-02-17 23:33] spyder-issues-migrator commented on #2143
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T14:28:54Z_

Thanks for reporting, we'll fix it in 2.3.3

**Labels:** MS-v2.3.3 OpSys-Windows Cat-SpyderGUI

[2015-02-17 23:33] spyder-issues-migrator commented on #2143
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T20:28:51Z_

This issue was closed by revision 6abe97ceb2b8 .

**Status:** Fixed

[2015-02-17 23:33] #2143 closed

[2015-02-17 23:33] spyder-issues-migrator opened #2144 "Add support for running DocTest"
_From [doug.t...@gmail.com](https://code.google.com/u/107157864673511712940/) on 2015-01-27T19:21:34Z_

Doctest is a useful built-in library in Python.

I would find it very useful if Spyder could run doctest on the active editor file.

_Original issue: http://code.google.com/p/spyderlib/issues/detail?id=2144_

[2015-02-17 23:33] spyder-issues-migrator commented on #2144
_From [doug.t...@gmail.com](https://code.google.com/u/107157864673511712940/) on 2015-01-27T16:26:29Z_

I've actually already started making a plugin for this. It can be found at: https://github.com/dougthor42/spyder-doctest-plugin It's still pretty basic, but it works for the most part. I think it has issues if the code has to wait for user input at any point, but it's a start.

You can take a lo

[2015-02-17 23:33] spyder-issues-migrator commented on #2144
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T14:32:31Z_

I think this is too specialized to belong to Spyder properly, but it's just fine for a third party plugin.

We are going to improve how to install this kind of plugins in 2.4.

I'll let you know when that happens, so you can distribute your plugin more easily.

**Summary:** Add support for running DocTest  \<span c

[2015-02-17 23:33] spyder-issues-migrator commented on #2144
_From [doug.t...@gmail.com](https://code.google.com/u/107157864673511712940/) on 2015-02-03T12:47:01Z_

Thanks Carlos, that sounds good to me.

[2015-02-17 23:33] spyder-bot opened #2145 "Blaze does not work in the IPython console"
_From [fionabu...@gmail.com](https://code.google.com/u/112129968720954687576/) on 2015-01-28T00:28:42Z_

Spyder Version:  2.3.1
Python Version:  3.4.1
Qt Version    :  4.8.6, PyQt4 (API v2) 4.10.4 on Windows
pyflakes >=0.6.0:  0.8.1 (OK)
pep8 >=0.6      :  None (NOK)
IPython >=0.13  :  2.2.0 (OK)
pygments >=1.6  :  1.6 (OK)
pandas >=0.13.1 :  0.15.2 (OK)
sphinx >=0.6.6  :  1.2.3 (OK)
rope >=0.9.2

[2015-02-17 23:33] spyder-issues-migrator commented on #2145
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T14:33:52Z_

Thanks for reporting, we'll see what we can do about it.

**Summary:** Blaze does not work in the IPython console  \<span class="oldvalue"> (was: Blaze does not work) \</span>
  **Labels:** Cat-IPythonConsole MS-v2.3.4

[2015-02-17 23:33] spyder-issues-migrator opened #2146 "Special character "!" is not processed correctly when debugging in Python consoles"
_From [lopezdep...@gmail.com](https://code.google.com/u/100924577744570135262/) on 2015-01-29T16:55:25Z_

Spyder Version:  2.2.1
Python Version:  2.7.6
Qt Version:      4.8.5, PyQt4 (API v1) 4.11 on Windows

Python's Spyder IDE, v.2.3, offers debugging mode using the pdb library: https://pythonhosted.org/spyder/debugging.html Looking at that library's documentation, section 26.3 states:

"Commands

[2015-02-17 23:33] spyder-issues-migrator commented on #2146
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T14:40:07Z_

Thanks for reporting. I know where this error is coming from.

In the mean time you can use the IPython console to do debugging because it doesn't have this error.

**Summary:** Special character "!" is not processed correctly when debugging in Python consoles  \<span class="oldvalue"> (was: pdb debugger: (!) speci

[2015-02-17 23:33] spyder-bot opened #2147 "Spyder incorrectly requires encoding information when using Python 3."
_From [andre.ro...@gmail.com](https://code.google.com/u/103006433735164333713/) on 2015-01-30T09:13:33Z_

Please note that reporting bugs from Spyder's help menu ("?" > "Report
issue...") will fill version details for Spyder, Python and Qt in this description for you.

What steps will reproduce the problem?
1. Use a Python 3 version
2. Enter a comment containing non-ascii characters at the top of

[2015-02-17 23:33] spyder-issues-migrator commented on #2147
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T14:47:17Z_

This is (most probably) a bug in Pyflakes, the library we use to report this kind of errors.

Could you check what Pyflakes are you using in "Help > Optional Dependencies"?

**Labels:** Cat-Editor MS-v2.3.4

[2015-02-17 23:33] spyder-issues-migrator commented on #2147
_From [andre.ro...@gmail.com](https://code.google.com/u/103006433735164333713/) on 2015-01-30T14:49:14Z_

Pyflakes 0.8.1   I do not have pep8 installed; I wonder if it would make a difference.

[2015-02-17 23:33] spyder-issues-migrator commented on #2147
_From [andre.ro...@gmail.com](https://code.google.com/u/103006433735164333713/) on 2015-01-30T14:54:50Z_

I just did a few additional tests.  As long as I do not have non-ascii characters in the very first line (e.g. moving the word "fenêtre" to the second line), there is no syntax error flagged.

Installing pep8 did not change the behaviour.

[2015-02-17 23:33] spyder-issues-migrator commented on #2147
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-01-30T15:10:07Z_

Pep8 only checks for style, so it shouldn't matter in this case.

We'll have to investigate further to see what's happening.

[2015-02-17 23:33] spyder-issues-migrator opened #2148 "Pandas 0.15 is not working with Spyder on Windows"
_From [Chana...@gmail.com](https://code.google.com/u/103791044127940926669/) on 2015-02-02T14:07:09Z_

Spyder Version:  2.3.2
Python Version:  3.4.1
Qt Version    :  4.8.6, PyQt4 (API v2) 4.10.4 on Windows
pyflakes >=0.6.0:  0.8.1 (OK)
pep8 >=0.6      :  None (NOK)
IPython >=0.13  :  2.3.1 (OK)
zmq >=2.1.11    :  14.5.0 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.14.1 (OK)
sphinx >=0.6

[2015-02-17 23:33] spyder-issues-migrator commented on #2148
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-02T12:12:20Z_

Ok, there are two things here:

1. Printing DataFrames as html tables was removed in 2.3.2 due to issue #2015 . Furthermore, it won't work anymore when IPython 3 is released, because IPython guys removed that functionality and there's nothing we can do about it.

2. How is that Spyder is not working with Pandas 0.1

[2015-02-17 23:33] spyder-issues-migrator commented on #2148
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-02T12:12:27Z_

**Labels:** MS-v2.3.4

[2015-02-17 23:33] spyder-issues-migrator commented on #2148
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-08T11:05:17Z_

I think I help you solve this problem somewhere else (StackOverflow or Anaconda :-)

**Status:** WontFix

[2015-02-17 23:33] #2148 closed

[2015-02-17 23:33] spyder-issues-migrator opened #2149 "logic error, not executing"
_From [skajtas...@gmail.com](https://code.google.com/u/103154387469889849564/) on 2015-02-02T23:57:17Z_

Spyder Version:  2.3.2
Python Version:  2.7.9
Qt Version    :  4.8.4, PyQt4 (API v1) 4.9.6 on Windows
pyflakes >=0.5.0:  0.8.1 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=0.13  :  None (NOK)
zmq >=2.1.11    :  None (NOK)
pygments >=1.6  :  None (NOK)
pandas >=0.13.1 :  None (NOK)
sphinx >=0.6.

[2015-02-17 23:33] spyder-issues-migrator commented on #2149
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-03T12:12:16Z_

Please provide more information about the problem you're having with Spyder.

Or at least an example of the code you're trying to run :-)

[2015-02-17 23:33] spyder-issues-migrator commented on #2149
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-08T10:32:36Z_

Closing because of lack of response.

**Status:** Invalid

[2015-02-17 23:33] #2149 closed

[2015-02-17 23:33] spyder-issues-migrator opened #2150 "Pinning Spyder to taskbar in Windows 7 and clicking on it adds another Spyder icon to taskbar"
_From [cmee...@gmail.com](https://code.google.com/u/104521158352818840125/) on 2015-02-03T03:44:12Z_

Spyder Version:  2.3.2
Python Version:  2.7.6
Qt Version    :  4.8.6, PyQt4 (API v2) 4.10.4 on Windows
pyflakes >=0.5.0:  0.8.1 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=0.13  :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.15.2 (OK)
sphinx >=0.6.

[2015-02-17 23:33] spyder-issues-migrator commented on #2150
_From [cmee...@gmail.com](https://code.google.com/u/104521158352818840125/) on 2015-02-03T00:50:51Z_

Note that I'm using the Anaconda Python distribution.

[2015-02-17 23:33] spyder-issues-migrator commented on #2150
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-03T12:14:23Z_

We'll see what we can do about it for our next release.

**Summary:** Pinning Spyder to taskbar in Windows 7 and clicking on it adds another Spyder icon to taskbar  \<span class="oldvalue"> (was: Win7 pinning Spyder to taskbar and opening adds another Spyder icon to taskbar) \</span>
  **Labels:** Cat-SpyderGUI OpS

[2015-02-17 23:33] spyder-issues-migrator commented on #2150
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-08T11:24:19Z_

**Status:** Duplicate
  **Mergedinto:** 1983

[2015-02-17 23:33] #2150 closed

[2015-02-17 23:33] spyder-issues-migrator opened #2151 "Long NumPy arrays throw off errors"
_From [cmee...@gmail.com](https://code.google.com/u/104521158352818840125/) on 2015-02-03T04:41:40Z_

Spyder Version:  2.3.2
Python Version:  2.7.6
Qt Version    :  4.8.6, PyQt4 (API v2) 4.10.4 on Windows
pyflakes >=0.5.0:  0.8.1 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=0.13  :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.15.2 (OK)
sphinx >=0.6.

[2015-02-17 23:33] spyder-issues-migrator commented on #2151
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-03T08:22:42Z_

The behavior you observed about loading a few hundred rows, and then loading some more after reaching the bottom, is intentional. We can't load so much data without blocking the entire application, so we just load a small amount and load the rest on demand.

I'll investigate what happens with the errors you report.

[2015-02-17 23:33] spyder-issues-migrator opened #2152 "Continuation with parentheses not handled properly"
_From [cmee...@gmail.com](https://code.google.com/u/104521158352818840125/) on 2015-02-03T05:43:59Z_

Spyder Version:  2.3.2
Python Version:  2.7.6
Qt Version    :  4.8.6, PyQt4 (API v2) 4.10.4 on Windows
pyflakes >=0.5.0:  0.8.1 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=0.13  :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.15.2 (OK)
sphinx >=0.6.

[2015-02-17 23:33] spyder-issues-migrator commented on #2152
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-03T12:15:44Z_

**Status:** Duplicate
  **Mergedinto:** 887

[2015-02-17 23:33] #2152 closed

[2015-02-17 23:33] spyder-issues-migrator opened #2153 "Indentation error when splitting conditions over multiple lines"
_From [cmee...@gmail.com](https://code.google.com/u/104521158352818840125/) on 2015-02-03T05:48:51Z_

Spyder Version:  2.3.2
Python Version:  2.7.6
Qt Version    :  4.8.6, PyQt4 (API v2) 4.10.4 on Windows
pyflakes >=0.5.0:  0.8.1 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=0.13  :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.15.2 (OK)
sphinx >=0.6.

[2015-02-17 23:33] spyder-issues-migrator commented on #2153
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-03T12:16:20Z_

**Status:** Duplicate
  **Mergedinto:** 887

[2015-02-17 23:33] #2153 closed

[2015-02-17 23:33] spyder-issues-migrator opened #2154 "Spyder does not properly outdent after multi-line parenthesis"
_From [cmee...@gmail.com](https://code.google.com/u/104521158352818840125/) on 2015-02-03T06:11:47Z_

Spyder Version:  2.3.2
Python Version:  2.7.6
Qt Version    :  4.8.6, PyQt4 (API v2) 4.10.4 on Windows
pyflakes >=0.5.0:  0.8.1 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=0.13  :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.15.2 (OK)
sphinx >=0.6.

[2015-02-17 23:33] spyder-issues-migrator commented on #2154
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-03T12:16:56Z_

**Status:** Duplicate
  **Mergedinto:** 887

[2015-02-17 23:33] #2154 closed

[2015-02-17 23:33] spyder-issues-migrator opened #2155 "De-indenting blocks of code when everything is indented by some non-standard amount of spaces"
_From [cmee...@gmail.com](https://code.google.com/u/104521158352818840125/) on 2015-02-03T06:17:31Z_

Spyder Version:  2.3.2
Python Version:  2.7.6
Qt Version    :  4.8.6, PyQt4 (API v2) 4.10.4 on Windows
pyflakes >=0.5.0:  0.8.1 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=0.13  :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.15.2 (OK)
sphinx >=0.6.

[2015-02-17 23:33] spyder-issues-migrator commented on #2155
_From [cmee...@gmail.com](https://code.google.com/u/104521158352818840125/) on 2015-02-03T03:19:48Z_

Note: In the second de-indentation, the function body is de-indented four spaces. Further attemts at de-indenting the whole block the remaining 1 space does not work. The only thing to do is to delete the space manually on all lines.

[2015-02-17 23:33] spyder-issues-migrator commented on #2155
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-03T12:17:25Z_

**Status:** Duplicate
  **Mergedinto:** 887

[2015-02-17 23:33] #2155 closed

[2015-02-17 23:33] spyder-issues-migrator opened #2156 "Auto-indentation of multiline argument list not handled properly when using arguments with parentheses"
_From [cmee...@gmail.com](https://code.google.com/u/104521158352818840125/) on 2015-02-03T08:17:59Z_

Spyder Version:  2.3.2
Python Version:  2.7.6
Qt Version    :  4.8.6, PyQt4 (API v2) 4.10.4 on Windows
pyflakes >=0.5.0:  0.8.1 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=0.13  :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.15.2 (OK)
sphinx >=0.6.

[2015-02-17 23:33] spyder-issues-migrator commented on #2156
_From [cmee...@gmail.com](https://code.google.com/u/104521158352818840125/) on 2015-02-03T05:19:29Z_

Note that this seems only to occur when pressing Enter on the line with the parenthesis argument. If I write

a = b(1, 2, 3,
      (4, 5), 6,
      7, 8, 9

and press Enter, it is correctly auto-indented.

[2015-02-17 23:33] spyder-issues-migrator commented on #2156
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-03T12:17:59Z_

**Status:** Duplicate
  **Mergedinto:** 887

[2015-02-17 23:33] #2156 closed

[2015-02-17 23:33] spyder-issues-migrator opened #2157 "IPython consoles are not shown because they can't pass of the "Connecting to kernel" step"
_From [RyanA1...@gmail.com](https://code.google.com/u/100274756805842908075/) on 2015-02-04T13:08:31Z_

Spyder Version:  2.3.2
Python Version:  2.7.8
Qt Version    :  4.8.6, PyQt4 (API v2) 4.10.4 on Windows
pyflakes >=0.5.0:  0.8.1 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=0.13  :  2.2.0 (OK)
zmq >=2.1.11    :  14.3.1 (OK)
pygments >=1.6  :  1.6 (OK)
pandas >=0.13.1 :  0.14.1 (OK)
sphinx >=0.6.

[2015-02-17 23:33] spyder-issues-migrator commented on #2157
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-04T10:25:29Z_

It could be a number of things. To start, please give focus to the Python console, look for a tab called "Kernel" and see if there's an error reported there.

**Labels:** Cat-IPythonConsole MS-v2.3.4

[2015-02-17 23:34] spyder-issues-migrator commented on #2157
_From [RyanA1...@gmail.com](https://code.google.com/u/100274756805842908075/) on 2015-02-04T13:05:17Z_

Thanks for the quick response!

On the kernel tab, this is what I see (doesn't look like an error...):
"NOTE: When using the `ipython kernel` entry point, Ctrl-C will not work.

To exit, you will have to explicitly quit this process, by either sending
"quit" from a client, or using Ctrl-\ in UNI

[2015-02-17 23:34] spyder-issues-migrator commented on #2157
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-04T14:58:05Z_

Mmmhh. A couple of people have reported this error. The problem is I don't know how to fix it because I don't know the cause :-(

The thing is this doesn't always occur. It's just for some configurations or setups.

Could you try to deactivate your antivirus or firewall and try again?

**Labels:** -MS-v2.3.4 MS-v2.

[2015-02-17 23:34] spyder-issues-migrator commented on #2157
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-08T10:34:59Z_

**Summary:** IPython consoles are not shown because they can't pass of the "Connecting to kernel" step  \<span class="oldvalue"> (was: Cannot connect to kernel) \</span>

[2015-02-17 23:34] spyder-issues-migrator commented on #2157
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-08T11:27:46Z_

issue #1950 has been merged into this issue.

[2015-02-17 23:34] spyder-issues-migrator commented on #2157
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-08T18:44:33Z_

issue #2094 has been merged into this issue.

[2015-02-17 23:34] spyder-issues-migrator commented on #2157
_From [RyanA1...@gmail.com](https://code.google.com/u/100274756805842908075/) on 2015-02-09T08:21:57Z_

Sorry, I can't deactivate antivirus or firewall: I am using a work computer that prevents me from doing that. Let me know if there is anything else I can try to help with this issue.

In the meantime I am using an earlier version of Spyder (2.2.5) that is working well.

[2015-02-17 23:34] spyder-issues-migrator commented on #2157
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-12T08:41:08Z_

I'm going to redesign the way we start IPython consoles in 2.4 because right now the process is very fragile.

That's why I marked this issue for that version.

[2015-02-17 23:34] spyder-issues-migrator opened #2158 "runfile with path containing apostrophes (quotes) will not work"
_From [mt.bo...@hotmail.com](https://code.google.com/u/112633889236229880690/) on 2015-02-04T15:53:30Z_

Please note that reporting bugs from Spyder's help menu ("?" > "Report
issue...") will fill version details for Spyder, Python and Qt in this description for you.

What steps will reproduce the problem?

 1. When running a file in the spyder python console, it calls runfile('file location') (if

[2015-02-17 23:34] spyder-issues-migrator commented on #2158
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-04T14:12:07Z_

Thanks for reporting. I think we need to either:

1. Escape apostrophes

2. Change to use double apostrophes (") in runfile

**Labels:** Cat-Editor MS-v2.3.4

[2015-02-17 23:34] spyder-issues-migrator commented on #2158
_From [mt.bo...@hotmail.com](https://code.google.com/u/112633889236229880690/) on 2015-02-04T20:56:30Z_

I think what bothered me most was that the error message and debugging didn't help me pinpoint the issue whatsoever. If it had given me a message like "error: file location could not be found" instead pf just "invalid syntax" I wouldn't have spent so much time trying to figure out what was wron

[2015-02-17 23:34] spyder-issues-migrator commented on #2158
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-05T07:40:06Z_

Sorry for the inconvenience. We didn't expect this corner case, so we didn't take any counter measures about it.

[2015-02-17 23:34] spyder-issues-migrator commented on #2158
_From [ZFreeman...@gmail.com](https://code.google.com/u/106815743208677702871/) on 2015-02-05T19:34:53Z_

Correct me if i'm wrong, but solving the problem with solution 2 may not work, in that the double apostrophe character can also be used in filepaths.

[2015-02-17 23:34] spyder-issues-migrator opened #2159 "Built-in 'print' statement is displayed as two different colors depending on indentation"
_From [doug.t...@gmail.com](https://code.google.com/u/107157864673511712940/) on 2015-02-05T17:05:42Z_

Summary:
The built-in 'print' statement is displayed as two different colors (in Spyder/Dark theme: blue, purple) depending on indentation. It appears that the issue is because "print" belongs to both keywords.kwlist and dir(__builtins__)

Spyder Version:  2.3.2
Python Version:  2.7.6
Qt Version

[2015-02-17 23:34] spyder-issues-migrator commented on #2159
_From [doug.t...@gmail.com](https://code.google.com/u/107157864673511712940/) on 2015-02-05T14:11:55Z_

In Python 3.4.2, "print" is only listed in dir(__builtins__), so this issue doesn't appear.

However, other items, such as True, False, None, exec, are incorrectly colored. Some are colored as builtins while others are colored as keywords.

For True, False, and None, this might be because these

[2015-02-17 23:34] spyder-issues-migrator commented on #2159
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-05T14:20:14Z_

Thanks for reporting. We'll see what we can do about it for 2.3.4

**Status:** Accepted
  **Labels:** Cat-Editor MS-v2.3.4

[2015-02-17 23:34] spyder-issues-migrator opened #2160 "UnicodeDecodeError when inspecting pandas DataFrame in ipython console"
_From [seanc...@gmail.com](https://code.google.com/u/106884618540915815948/) on 2015-02-05T20:27:24Z_

Spyder Version:  2.3.2
Python Version:  2.7.8
Qt Version    :  4.8.6, PyQt4 (API v2) 4.10.4 on Windows
pyflakes >=0.5.0:  0.8.1 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=0.13  :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.15.2 (OK)
sphinx >=0.6

[2015-02-17 23:34] spyder-issues-migrator commented on #2160
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-08T10:47:17Z_

Thanks for your interest in Spyder and for your detailed and comprehensive bug report.

This bug was already fixed. The fix will be available in our 2.3.3 version.

**Status:** Fixed
  **Labels:** MS-v2.3.3 Cat-IPythonConsole

[2015-02-17 23:34] #2160 closed

[2015-02-17 23:34] spyder-issues-migrator opened #2161 "Code completion with TAB in Editor, when used with remote ipython kernel"
_From [se...@aplazame.com](https://code.google.com/u/111165178987022975853/) on 2015-02-06T07:13:55Z_

Hi,

maybe this is rather a conf problem than an issue...

So, I am using Spyderlib with a remote ipython kernel running on a Vagrant VM.

While the code completion using TAB works fine in the console, it is not working in the Editor. I suppose it is because the Editor is looking at the packages

[2015-02-17 23:34] spyder-issues-migrator commented on #2161
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-08T09:42:02Z_

Yes, code completion on the Editor works only with local modules.

We're investigating if can use an IPython kernel to do code completion on the Editor, although we still don't know if that's possible or not.

**Labels:** Cat-Editor MS-v2.4

[2015-02-17 23:34] spyder-issues-migrator commented on #2161
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-08T11:47:21Z_

Sorry, we discussed this with another developer and right now is essentially not possible for us to provide completions for remote python modules.

**Status:** WontFix
  **Labels:** -MS-v2.4

[2015-02-17 23:34] #2161 closed

[2015-02-17 23:34] spyder-bot opened #2162 "Code completion in the Editor doesn't work properly, unlike in the IPython console"
_From [marushk...@gmail.com](https://code.google.com/u/112862186956031011891/) on 2015-02-06T08:44:55Z_

Spyder Version:  2.4.0dev
Python Version:  3.4.1
Qt Version    :  4.8.6, PyQt4 (API v2) 4.10.4 on Windows
pyflakes >=0.6.0:  0.7.3 (OK)
pep8 >=0.6      :  1.4.6 (OK)
IPython >=1.0   :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.14.1 (OK)
sphinx

[2015-02-17 23:34] spyder-issues-migrator commented on #2162
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-08T09:36:09Z_

Steven, do you think we can do something about this? I see two options here:

1. See if Jedi supports something like type hinting that can help us in this case.

2. I did a bit of research on the Canopy's architecture and noticed its Editor seems to do code completions using an IPython kernel in the background. Of

[2015-02-17 23:34] spyder-issues-migrator commented on #2162
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-08T09:43:05Z_

issue #1816 has been merged into this issue.

[2015-02-17 23:34] spyder-issues-migrator commented on #2162
_From [steven.s...@gmail.com](https://code.google.com/u/118403364018775626054/) on 2015-02-08T10:20:18Z_

This is a really tough one, because it is a compiled module, the best I can suggest is to try docstring typehinting: http://jedi.jedidjah.ch/en/latest/docs/features.html#type-hinting .

[2015-02-17 23:34] spyder-issues-migrator commented on #2162
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-08T11:14:02Z_

I see, but that wouldn't help for the code reported by the OP, would it?

And what do you think about option 2? Is it feasible?

[2015-02-17 23:34] spyder-issues-migrator commented on #2162
_From [steven.s...@gmail.com](https://code.google.com/u/118403364018775626054/) on 2015-02-08T11:19:39Z_

Ah, I missed the `numpy.array` part.  There is an open issue for that: https://github.com/davidhalter/jedi/issues/372 .

As far as IPython goes, I don't think it makes sense, because you don't want your code executing behind your back.  What if it is creating/deleting files or doing long-runni

[2015-02-17 23:34] spyder-issues-migrator commented on #2162
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-08T11:52:28Z_

Oh yeah! I missed that one, a crucial point.

Another idea then: does Jedi support a hooks concept for completions? I mean, if jedi knows an object's type (for example, that arr's is a numpy.array), we could add a hook to show completions for it, either by passing the completion widget a list (saved somewhere in ou

[2015-02-17 23:34] spyder-issues-migrator commented on #2162
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-08T12:12:12Z_

Well, according to this SO answer http://stackoverflow.com/a/14710037/438386 Jedi does give completions for np.arrays, but it seems to have problems in virtualenvs. Steven, can you test it in your side?

[2015-02-17 23:34] spyder-issues-migrator commented on #2162
_From [steven.s...@gmail.com](https://code.google.com/u/118403364018775626054/) on 2015-02-08T18:47:38Z_

I tried the following from IPython (Anaconda Python 3.4) and got an empty list:

`import jedi; jedi.Script('import numpy; a = numpy.array().m').completions()`

[2015-02-17 23:34] spyder-issues-migrator commented on #2162
_From [steven.s...@gmail.com](https://code.google.com/u/118403364018775626054/) on 2015-02-09T08:10:11Z_

Carlos, we could back-track to the object definition, then load that in IPython, but there is a snag: `np.array` is a function, not a class.  It also requires an object as its first parameter.  We could special case for `np.array` since it it used so often...

d = jedi.Script('import numpy; a

[2015-02-17 23:34] spyder-issues-migrator commented on #2162
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-12T08:43:41Z_

Yes, I was thinking exactly that. Could we make this mechanism extendable? I mean, we don't just need np.array, but also pyplot.figure, pd.groupby, and who knows how many others :-)

[2015-02-17 23:34] spyder-issues-migrator commented on #2162
_From [steven.s...@gmail.com](https://code.google.com/u/118403364018775626054/) on 2015-02-12T16:40:53Z_

Yes, I suppose we could keep a list of `(name, module_name, args)` tuples.

[2015-02-17 23:34] spyder-issues-migrator commented on #2162
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-13T12:15:15Z_

Great!! I promise (really promise) to move to GH this weekend so you can start to work on this :-)

[2015-02-17 23:34] spyder-issues-migrator opened #2163 "matplotlib plots only appear inline"
_From [ja...@get.it](https://code.google.com/u/108711460352964009752/) on 2015-02-06T15:18:23Z_

Spyder Version:  2.3.2
Python Version:  3.4.2
Qt Version    :  4.8.6, PyQt4 (API v2) 4.10.4 on Darwin
pyflakes >=0.6.0:  0.8.1 (OK)
pep8 >=0.6      :  None (NOK)
IPython >=0.13  :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.14.1 (OK)
sphinx >=0.6.6  :

[2015-02-17 23:34] spyder-issues-migrator commented on #2163
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-06T18:20:54Z_

You need to restart the kernel, or close the current console and open a new one for the changes to take effect.

Does that fix your problem?

[2015-02-17 23:34] spyder-issues-migrator commented on #2163
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-08T10:30:09Z_

I'm almost sure the problem is what I mentioned, so I'm closing this one. Thanks for your interest in Spyder.

Another way to change backens is using the matplotlib magic, e.g.

    %matplotlib inline

**Status:** Invalid

[2015-02-17 23:34] #2163 closed

[2015-02-17 23:34] spyder-issues-migrator opened #2164 ""Go to definition" appears grayed out."
_From [uid89...@gmail.com](https://code.google.com/u/111510492571066754511/) on 2015-02-06T19:43:19Z_

Spyder Version:  2.3.2
Python Version:  2.7.6
Qt Version    :  4.8.6, PyQt4 (API v1) 4.10.4 on Linux
IPython >=0.13  :  None (NOK)
matplotlib >=1.0:  1.3.1 (OK)
pandas >=0.13.1 :  0.15.2 (OK)
pep8 >=0.6      :  1.5.7 (OK)
psutil >=0.3    :  2.2.0 (OK)
pyflakes >=0.5.0:  0.8.1 (OK)
pygments >=1.6

[2015-02-17 23:34] spyder-issues-migrator commented on #2164
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-06T18:19:21Z_

**Status:** Duplicate
  **Mergedinto:** 2109

[2015-02-17 23:34] spyder-issues-migrator commented on #2164
_From [uid89...@gmail.com](https://code.google.com/u/111510492571066754511/) on 2015-02-06T19:39:25Z_

I can confirm that Revision: d7b4362980f7 https://code.google.com/p/spyderlib/source/detail?r=d7b4362980f7 resolves this. Thanks!

[2015-02-17 23:34] #2164 closed

[2015-02-17 23:34] spyder-issues-migrator opened #2165 "Spyder can't find Python in the registry"
_From [android....@gmail.com](https://code.google.com/u/100864648954163226526/) on 2015-02-07T07:28:50Z_

Please note that reporting bugs from Spyder's help menu ("?" > "Report
issue...") will fill version details for Spyder, Python and Qt in this description for you.

What steps will reproduce the problem?

 1.Install python 3.4.2 AMD 64
2.Install sypder 2.3.2 AMD 64 3.

What is the expected outp

[2015-02-17 23:34] spyder-issues-migrator commented on #2165
_From [android....@gmail.com](https://code.google.com/u/100864648954163226526/) on 2015-02-07T04:33:22Z_

Uninstalling and reinstalling python 3.4.2 did not work either. Spyder 2.3.2
is a fresh install.

[2015-02-17 23:34] spyder-issues-migrator commented on #2165
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-07T16:02:34Z_

We don't do anything special with our installers, so I don't know what could be causing this error.

In any case, just installing Spyder after Python won't get you too far. Spyder depends in a lot of other Python modules to be really usable.

I'd sincerely recommend you to use a Scientific Python distribution, inst

[2015-02-17 23:34] spyder-issues-migrator opened #2166 "Spyder interprets other keys as down arrow"
_From [jdjen...@eng.ucsd.edu](https://code.google.com/u/118134596718107831597/) on 2015-02-07T15:57:56Z_

Spyder Version:  2.3.1
Python Version:  2.7.9
Qt Version    :  4.8.5, PyQt4 (API v2) 4.10.4 on Linux
pyflakes >=0.5.0:  0.8.1 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=0.13  :  2.3.0 (OK)
pygments >=1.6  :  2.0.2 (OK)
pandas >=0.13.1 :  0.14.1 (OK)
sphinx >=0.6.6  :  1.2.3 (OK)
psutil >=0.3

[2015-02-17 23:34] spyder-issues-migrator commented on #2166
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-07T15:57:02Z_

I use Spyder daily to develop Spyder itself, and I haven't seen something like this error.

Perhaps it's related to the program or programs you're running in Spyder, I don't know :-)

[2015-02-17 23:34] spyder-issues-migrator commented on #2166
_From [jdjen...@eng.ucsd.edu](https://code.google.com/u/118134596718107831597/) on 2015-02-07T16:15:42Z_

The only program I run within Spyder, as far as I know, is the IPython console. And this is an issue with the entire application, including the main editing window; it's not just within the IPython console.

[2015-02-17 23:34] spyder-issues-migrator commented on #2166
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-07T17:29:22Z_

I meant the source code you evaluate in Spyder :-)

[2015-02-17 23:34] spyder-issues-migrator opened #2167 "my working environment is not working"
_From [u14052...@tuks.co.za](https://code.google.com/u/103432673300438187761/) on 2015-02-07T19:41:51Z_

Spyder Version:  2.3.2
Python Version:  2.7.9
Qt Version    :  4.8.4, PyQt4 (API v2) 4.9.6 on Windows
pyflakes >=0.5.0:  0.8.1 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=0.13  :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.15.2 (OK)
sphinx >=0.

[2015-02-17 23:34] spyder-issues-migrator commented on #2167
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-08T10:34:10Z_

Please post your problem in our mailing list because it doesn't seem related to a bug in Spyder

**Status:** Invalid

[2015-02-17 23:34] #2167 closed

[2015-02-17 23:34] spyder-issues-migrator opened #2168 "Editor: number of lines and lines position are not matching"
_From [mauric...@gmail.com](https://code.google.com/u/116590549482682789218/) on 2015-02-08T05:15:40Z_

Spyder Version:  2.3.2
Python Version:  2.7.9
Qt Version    :  4.8.6, PyQt4 (API v2) 4.10.4 on Darwin
pyflakes >=0.5.0:  0.8.1 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=0.13  :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.14.1 (OK)
sphinx >=0.6

[2015-02-17 23:34] spyder-issues-migrator commented on #2168
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-08T10:50:20Z_

Thanks for reporting, we'll see what we can do about it for 2.3.4

**Summary:** Editor: number of lines and lines position are not matching  \<span class="oldvalue"> (was: GUI problem: number of lines and lines not matching) \</span>
  **Labels:** Cat-Editor MS-v2.3.4

[2015-02-17 23:34] spyder-issues-migrator opened #2169 "save window vanishes in 1 second without my control."
_From [nicholas...@gmail.com](https://code.google.com/u/105693397974692930573/) on 2015-02-08T21:24:03Z_

Spyder Version:  2.3.2
Python Version:  2.7.8
Qt Version    :  4.8.6, PyQt4 (API v2) 4.11.1 on Darwin
pyflakes >=0.5.0:  0.8.1 (OK)
pep8 >=0.6      :  1.5.7 (OK)
IPython >=0.13  :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.15.2 (OK)
sphinx >=0

[2015-02-17 23:34] spyder-issues-migrator opened #2170 "can variable explorer support a monkey-patched pandas DataFrame, Series?"
_From [jerryzhu...@gmail.com](https://code.google.com/u/101034642668512230440/) on 2015-02-09T23:55:35Z_

I have a monkey-patched pandas module (called kungfu, pip install kungfu).  If I create a DataFrame, instead of showing as pandas.DataFrame, it shows as kungfu.kungfu.DataFrame.  Therefore it cannot be displayed by the variable explorer, but it is indeed a dataframe.

Is there a way to work ar

[2015-02-17 23:34] spyder-issues-migrator commented on #2170
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-12T08:52:00Z_

Not right now, unless you're willing to patch our source code in several places :-)

I think the best we could offer is providing a table to map subclasses of our supported types to user defined ones.

**Labels:** Cat-VariableExplorer MS-v2.4

[2015-02-17 23:34] spyder-issues-migrator opened #2171 "Spyder Mac apps (for Python 2 and 3) hang on startup with OSX 10.9.5"
_From [andy.som...@gmail.com](https://code.google.com/u/112830236860820112250/) on 2015-02-12T10:42:20Z_

Spyder 2.3.2, Python 2.7 will not start correctly on OSX 10.9 (Mavericks)

The app will start, then CPU usage will peg at 100&#37; for about 5-10 minutes, then the app will finally display the splash screen and start normally.

I have verified this issue on 3 different Mavericks machines.

Ste

[2015-02-17 23:34] spyder-issues-migrator commented on #2171
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-12T10:21:07Z_

I'm very sorry to hear that. Right now I'm creating and testing the app in 10.7, and it works well for me.

I've also tested it a couple of times in Mavericks and Yosemite (from friends) and found it works well there too. So I don't know what could be happening in this case.

To get more info, please open Terminal.

[2015-02-17 23:34] spyder-issues-migrator commented on #2171
_From [andy.som...@gmail.com](https://code.google.com/u/112830236860820112250/) on 2015-02-12T10:52:09Z_

It works fine for me also on 10.7, I think this is likely a PyQt issue, Qt's OSX support has always been pretty grim. I've not heard of any issues from people with 10.10 either.

The odd thing is that after 2 or 3 hung launches (waiting 5 min each time), after that it seems to work OK.

So, at

[2015-02-17 23:34] spyder-issues-migrator commented on #2171
_From [hsa...@gmail.com](https://code.google.com/u/103229502451759870663/) on 2015-02-16T10:54:02Z_

I can confirm this too on at least 3 machines from other users. In one case I observed it myself, it took literally 8 minutes to startup. Running on OS X 10.9.5

[2015-02-17 23:34] spyder-issues-migrator commented on #2171
_From [andy.som...@gmail.com](https://code.google.com/u/112830236860820112250/) on 2015-02-16T11:13:28Z_

I can confirm that disabling AppNap has NO effect on this issue.

Also, deleting the .spyder config in the home directory, and a clean boot has no effect either.

Looking at the crash logs, it seems to be hung very deep in some Python code, and it looks like it might be trying to do some file

[2015-02-17 23:34] spyder-issues-migrator commented on #2171
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-16T11:55:28Z_

Thanks for the logs. Unfortunately, I can't see anything important in there, just that it seems to be a threading issue.

What happens when you run

    /Applications/Spyder.app/Contents/MacOS/Spyder

from a terminal? Perhaps that's more helpful.

The only thing that occurs to me is to create an app for each MacOS

[2015-02-17 23:34] spyder-issues-migrator commented on #2171
_From [andy.som...@gmail.com](https://code.google.com/u/112830236860820112250/) on 2015-02-16T12:00:33Z_

If I run directly from the console, it just hangs, pegs the CPU at 100% and no console output.

[2015-02-17 23:34] spyder-issues-migrator commented on #2171
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-16T12:08:18Z_

Too bad. I'll release 2.3.3 later today or tomorrow, let's hope it fixes this by updating Python and its deps.

[2015-02-17 23:34] spyder-issues-migrator commented on #2171
_From [andy.som...@gmail.com](https://code.google.com/u/112830236860820112250/) on 2015-02-16T12:36:05Z_

I started trying to track this down, looks like it hangs when it creates a new QApplication.

There are no problems at all with the packaged python or any dependencies, they start perfectly fine when run by themselves. The problem is in QT.

If you upgrade to a newer QT, that will likely fix t

[2015-02-17 23:34] spyder-issues-migrator commented on #2171
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-16T16:01:45Z_

**Labels:** -MS-v2.3.3 MS-v2.3.4

[2015-02-17 23:34] spyder-bot opened #2172 "Add option to support Semantic Highlighting"
_From [doug.t...@gmail.com](https://code.google.com/u/107157864673511712940/) on 2015-02-12T15:45:36Z_

Feature Request:
As mentioned by @-contrebasse in Issue `#1500` ( https://code.google.com/p/spyderlib/issues/detail?id=1500#c13 ), Semantic Highlighting is becoming a more and more popular way of visualizing source code.

Semantic highlighting is the coloring of the _variables_ of the source cod

[2015-02-17 23:34] spyder-issues-migrator commented on #2172
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-13T12:00:44Z_

As long as there is a Python library for job and someone wants to implement it, I'm all for it :-)

**Status:** HelpNeeded
  **Labels:** -Type-Defect Type-Enh Cat-Editor

[2015-02-17 23:34] spyder-issues-migrator opened #2173 "Internal Console does not maintain Show/Hide state across sessions"
_From [doug.t...@gmail.com](https://code.google.com/u/107157864673511712940/) on 2015-02-12T18:30:31Z_

Summary:
\--------
The internal console does not maintain its show/hide state upon startup.

Spyder Version:  2.3.2
Python Version:  2.7.6
Qt Version    :  4.8.4, PyQt4 (API v2) 4.9.6 on Windows
pyflakes >=0.5.0:  0.7.3 (OK)
pep8 >=0.6      :  1.4.6 (OK)
IPython >=0.13  :  1.1.0 (OK)
zmq >=2.1.1

[2015-02-17 23:34] spyder-issues-migrator commented on #2173
_From [goanp...@gmail.com](https://code.google.com/u/114799823853069473860/) on 2015-02-13T09:39:07Z_

Hi Doug,

I have noticed this behavior before, and I think It might have gotten fixed in the development version.

Can you check for this?

Install mercurial (hg) and run

`hg clone https://goanpeca@bitbucket.org/spyder-ide/spyderlib spyder`

got to the folder after download

`cd spyder`

and the

[2015-02-17 23:34] spyder-issues-migrator commented on #2173
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-13T12:12:51Z_

This is not a bug, it's a decision I took before 3.0 based on feedback I received during SciPy 2013.

This was what people told me:

1. They were sent to the Internal Console because of an internal bug.

2. That console remained opened and focused from then onwards.

3. People used that console to evaluate code, wh

[2015-02-17 23:34] spyder-issues-migrator commented on #2173
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-13T12:13:16Z_

Sorry, I decided this before 2.3.0

[2015-02-17 23:34] spyder-issues-migrator commented on #2173
_From [doug.t...@gmail.com](https://code.google.com/u/107157864673511712940/) on 2015-02-13T12:16:18Z_

Ok cool, intentional behavior.

So then the bug is that the Menu Item "View -> Panes -> Internal Console" remains checked even though the console is intentionally hidden on restart.

[2015-02-17 23:34] spyder-issues-migrator commented on #2173
_From [goanp...@gmail.com](https://code.google.com/u/114799823853069473860/) on 2015-02-13T12:36:28Z_

Exactly!, that is why I suggested you check this with the dev version.

I noticed this behavior not only with the internal console, but with all the dockwidgets (panels) after setting a custom layouts.

[2015-02-17 23:34] spyder-issues-migrator opened #2174 "Editor pop-up menu unreadable black background"
_From [cstark...@gmail.com](https://code.google.com/u/108904972813835652563/) on 2015-02-14T12:10:20Z_

Please note that reporting bugs from Spyder's help menu ("?" > "Report
issue...") will fill version details for Spyder, Python and Qt in this description for you.

What steps will reproduce the problem?

 1. Modify Spyder editor syntax coloring prefs 2. 3.

What is the expected output? What do y

[2015-02-17 23:34] spyder-issues-migrator commented on #2174
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-15T15:20:15Z_

Could you post a screenshot please? I really don't understand what you mean.

[2015-02-17 23:34] spyder-issues-migrator opened #2175 "Editor - Show blank spaces suggestions"
_From [goanp...@gmail.com](https://code.google.com/u/114799823853069473860/) on 2015-02-14T12:29:43Z_

Spyder Version:  2.4.0dev (4931: r1ff46f376d07 )
Python Version:  2.7.9
Qt Version    :  4.8.5, PySide 1.2.1 on Linux
pyflakes >=0.5.0:  0.5.0 (OK)
pep8 >=0.6      :  1.4.6 (OK)
IPython >=1.0   :  2.3.1 (OK)
zmq >=2.1.11    :  14.4.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.15.2 (O

[2015-02-17 23:34] spyder-issues-migrator commented on #2175
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-15T15:18:53Z_

Good suggestions. About them:

1. No idea how that could be done. I just activated a Qt option to show blank spaces in QPlainTextEdit widgets. So I don't know how dots color is selected.

2. Vertical bars can be activated too, but that's not related to blank spaces, that's a different issue. So please open a new on

[2015-02-17 23:34] spyder-issues-migrator opened #2176 "Spyder crashing after computer restart on Linux"
_From [amal.vin...@gmail.com](https://code.google.com/u/110297415377425765696/) on 2015-02-15T03:10:56Z_

Please note that reporting bugs from Spyder's help menu ("?" > "Report
issue...") will fill version details for Spyder, Python and Qt in this description for you.

What steps will reproduce the problem?

 1.applying spyder --reset does fix the problem temporarily but, the issue returns after c

[2015-02-17 23:34] spyder-issues-migrator commented on #2176
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-15T15:13:51Z_

Please start Spyder in a terminal and post here the errors printer there.

I also have a question for you: how did you install Spyder?

**Summary:** Spyder crashing after computer restart on Linux  \<span class="oldvalue"> (was: spyder crashing after compluter restart) \</span>
  **Labels:** Cat-SpyderGUI OpSys-Lin

[2015-02-17 23:34] spyder-issues-migrator commented on #2176
_From [amal.vin...@gmail.com](https://code.google.com/u/110297415377425765696/) on 2015-02-15T22:35:41Z_

I installed spyder with anaconda from the website of anaconda, now I reinstalled spyder from software center of linux, it fixed the problem, will this have any problems on other materials in anaconda

[2015-02-17 23:34] spyder-issues-migrator commented on #2176
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-16T06:52:34Z_

Don't worry, that won't give you problems with the other Anaconda packages. But if you want to use them, you need to change your Python interpreter in

Tools > Preferences > Console > Advanced settings > Python executable > Use the following interpreter

to point to the Anaconda one.

**Status:** Invalid

[2015-02-17 23:34] spyder-issues-migrator commented on #2176
_From [amal.vin...@gmail.com](https://code.google.com/u/110297415377425765696/) on 2015-02-16T07:01:38Z_

Thanks sir, what do you think was actually the problem, I am still not able to fix the problem for matlab.

[2015-02-17 23:34] spyder-issues-migrator commented on #2176
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-16T11:30:46Z_

The problem with Spyder most probably has to do with the fact that you installed Octave. That's because Octave comes now with a graphical interface that uses Qt libraries and those interfere with the ones that come with Anaconda.

Perhaps Matlab is built with Qt too.

[2015-02-17 23:34] #2176 closed

[2015-02-17 23:34] spyder-bot opened #2177 "Add template docstrings for functions and methods"
_From [Chana...@gmail.com](https://code.google.com/u/103791044127940926669/) on 2015-02-16T11:46:01Z_

I would love if spyder could help docstring-ing a module by passing through the code and suggesting template

before:
#

def f(x,y):
z=x&y
return(z)
after:
#

def f(x,y = 2):
# TODO: f takes x and y and return z
# parameters
# ----------
# x - TODO: describe what x is
# y - TOOD: describe what y

[2015-02-17 23:34] spyder-issues-migrator commented on #2177
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-16T11:36:14Z_

Good idea. But someone would need to step up and implement it :-)

**Summary:** Add template docstrings for functions and methods  \<span class="oldvalue"> (was: feature request: docstrings automation) \</span>
  **Status:** HelpNeeded
  **Labels:** -Type-Defect Type-Enh Cat-Editor

[2015-02-17 23:34] spyder-issues-migrator opened #2178 "When using the scientific_startup, module QtCore.QString is not found"
_From [MattBRow...@gmail.com](https://code.google.com/u/117210463431928454928/) on 2015-02-16T11:47:03Z_

Spyder Version:  2.2.5
Python Version:  2.7.6
Qt Version    :  4.8.6, PyQt4 (API v1) 4.10.4 on Linux
pyflakes >=0.5.0:  None (NOK)
pep8 >=0.6      :  None (NOK)
IPython >=0.13  :  1.2.1 (OK)
rope >=0.9.2    :  0.9.2 (OK)
sphinx >=0.6.6  :  None (NOK)
matplotlib >=1.0:  1.3.1 (OK)
pylint >=0.25

[2015-02-17 23:35] spyder-issues-migrator commented on #2178
_From [MattBRow...@gmail.com](https://code.google.com/u/117210463431928454928/) on 2015-02-16T08:48:52Z_

By the way, using the default python startup is no problem for me, so my workflow is not really affected by this. Spyder is a great product, thanks for developing it!

[2015-02-17 23:35] spyder-issues-migrator commented on #2178
_From [MattBRow...@gmail.com](https://code.google.com/u/117210463431928454928/) on 2015-02-16T11:07:38Z_

I have now learned that the QString module doesn't exist in python 3, and this is likely related to my problem. Note that the python version Spyder uses for me is 2.7.6, and I haven't installed some python3 versions of other libraries that I use in my program. So, it seems that the 2.7 librari

[2015-02-17 23:35] spyder-issues-migrator commented on #2178
_From [ccordoba12](https://code.google.com/u/ccordoba12/) on 2015-02-16T11:37:48Z_

Could you update to Spyder 2.3.2 and test again? 2.2.5 is unmaintained now.

**Summary:** When using the scientific_startup, module QtCore.QString is not found  \<span class="oldvalue"> (was: when using the scientific_startup, module QtCore.QString is not found) \</span>
  **Labels:** Cat-Console

[2015-02-17 23:35] spyder-issues-migrator commented on #2178
_From [MattBRow...@gmail.com](https://code.google.com/u/117210463431928454928/) on 2015-02-16T14:10:48Z_

I upgraded to 2.3.2, but get the same behavior

[2015-02-17 23:35] spyder-bot opened #2179 "Breakpoint doesn't appear in gui (red circle) but is listed in Debug > Breakpoints > List breakpoints"
_From [Chana...@gmail.com](https://code.google.com/u/103791044127940926669/) on 2015-02-17T07:04:02Z_

Spyder Version:  2.3.2
Python Version:  3.4.1
Qt Version    :  4.8.6, PyQt4 (API v2) 4.10.4 on Windows
pyflakes >=0.6.0:  0.8.1 (OK)
pep8 >=0.6      :  None (NOK)
IPython >=0.13  :  2.3.1 (OK)
zmq >=2.1.11    :  14.5.0 (OK)
pygments >=1.6  :  2.0.1 (OK)
pandas >=0.13.1 :  0.14.1 (OK)
sphinx >=0.6

[2015-02-18 02:28] Tempel commented on #2122
Also see [my unfinished pull request](https://bitbucket.org/spyder-ide/spyderlib/pull-request/103/issue-2122-make-pygments-work-correctly/diff) in relation to this issue.

[2015-02-18 04:43] Stretch97 commented on #1277
I thought I would post an update on this issue.  Now that Enthought provides a free version of 64bit Canopy, I installed it, and downloaded the DMG for Spyder 2.3.2.  I fired up Spyder, pointed the "Path to Python Interpreter Executable Binary" to ~/Library/Enthought/Canopy_64bit/User/bin/python, and turned off the scientific startup script.  I restarted Spyder and the Console window just stays bl

[2015-02-18 08:40] goanpeca commented on #2133
Working on this from next week!

[2015-02-18 08:40] goanpeca commented on #2132
Working on this from next week!

[2015-02-18 08:40] goanpeca commented on #2131
Working on this from next week!

[2015-02-18 08:40] goanpeca commented on #2130
Working on this from next week!

[2015-02-18 08:41] goanpeca commented on #706
Working on this from next month

[2015-02-18 15:12] RafiKueng commented on #1845
comment to get updates, I'm the reporters of this bug (two msgs up)
I'm here for further questions..

[2015-02-18 15:52] spyder-issues-migrator commented on #1529
_From [jcbretz@sym....com](http://code.google.com/u/115430633681747940486/) on 2013-08-22T08:20:45Z_

I am also having this problem - any fix in the works?

[2015-02-18 16:23] awan1 commented on #1880
^ this works on my win8.1 64bit laptop, thanks!

[2015-02-19 06:00] HamsterHuey commented on #1948
I think this is still a valid bug. It does not have anything to do with whether there is a print statement or not. At least on my install of latest version of Spyder 2.3.2, I either have a startup file containing:
    import numpy as np
    import pandas as pd
etc.

None of these imports are actually reflected in the iPython console once Spyder has started. Similarly, if I don't use a startup file

[2015-02-19 18:13] ccordoba12 commented on #1948
Ok, thanks for pointing out. Reopen it then to investigate it further.

[2015-02-19 22:01] dougthor42 commented on #2144
Adding comment so that I get notifications and so that I can find my issues/comments more easily.

[2015-02-19 22:01] dougthor42 commented on #1543
Adding comment so that I get notifications and so that I can find my issues/comments more easily.

[2015-02-19 22:01] dougthor42 commented on #706
Adding comment so that I get notifications and so that I can find my issues/comments more easily.

[2015-02-19 22:02] dougthor42 commented on #2173
Adding comment so that I get notifications and so that I can find my issues/comments more easily.

[2015-02-19 22:02] dougthor42 commented on #2172
Adding comment so that I get notifications and so that I can find my issues/comments more easily.

[2015-02-19 22:02] dougthor42 commented on #2159
Adding comment so that I get notifications and so that I can find my issues/comments more easily.

[2015-02-19 22:02] dougthor42 commented on #2096
Adding comment so that I get notifications and so that I can find my issues/comments more easily.

[2015-02-19 22:03] dougthor42 commented on #1568
Adding comment so that I get notifications and so that I can find my issues/comments more easily.

[2015-02-19 22:03] dougthor42 commented on #1500
Adding comment so that I get notifications and so that I can find my issues/comments more easily.

[2015-02-19 22:19] cmeeren commented on #706
@dougthor42 You know you can just click "subscribe" in the column to the right, right?

[2015-02-20 23:09] ccordoba12 commented on #1911
This has been done, as you can see ;-)

[2015-02-20 23:12] ccordoba12 commented on #1529
I'll take a look at it for our next release

[2015-02-20 23:14] spyder-issues-migrator commented on #1609
This a duplicate of issue #1926

[2015-02-20 23:14] #1609 closed

[2015-02-20 23:17] spyder-issues-migrator commented on #2002
_From [ccordoba12](http://code.google.com/u/ccordoba12/) on 2014-11-18T12:17:53Z_

You need to change your interpreter to get it detected. See this post on how to do it:

http://stackoverflow.com/questions/19795469/importing-arcpy-module-into-anacondas-spyder/19813292#19813292

[2015-02-20 23:17] #2002 closed

[2015-02-20 23:19] #1911 closed

[2015-02-20 23:21] spyder-issues-migrator commented on #2101
This issue is a duplicate of issue #1366

[2015-02-20 23:21] #2101 closed

[2015-02-21 02:26] kandel3 opened #2183 "sys.exit(0) is a false error"
sys.exit(0) can be used to indicate successful completion, in contrast to, for example, sys.exit(1)

Spyder 2.3.2 shows this an error (see attached screenshot)

![Screenshot](https://cloud.githubusercontent.com/assets/1521589/6312452/97972d5c-b93e-11e4-96ec-eb703417aec8.png)

[2015-02-21 11:44] Amal-Vincent opened #2187 "IPython crash because of problems with pyzmq"
![screenshot from 2015-02-20 18 39 43](https://cloud.githubusercontent.com/assets/11134381/6313981/0a6e84e8-b9ed-11e4-9181-ead734742aae.png)

[2015-02-21 14:41] ccordoba12 commented on #2183
But the error is not reported by our code, so I don't understand where *our* error is.

[2015-02-21 14:44] ccordoba12 commented on #2187
Please go to

    Help > Optional dependencies

press the button called *Copy to clipboard* and paste its contents here

[2015-02-21 14:45] ccordoba12 commented on #2187
I also need to know what Spyder version you're using.

[2015-02-21 14:50] SylvainCorlay commented on #1911
Oh yeah. Thank you so much for this. New contributions coming soon.

[2015-02-21 15:02] ccordoba12 commented on #1911
@SylvainCorlay really great to know!!

[2015-02-21 17:20] Amal-Vincent commented on #2187
IPython >=0.13  :  2.4.1 (OK)
matplotlib >=1.0:  1.4.0 (OK)
pandas >=0.13.1 :  0.14.1 (OK)
pep8 >=0.6      :  1.5.7 (OK)
psutil >=0.3    :  2.1.1 (OK)
pyflakes >=0.5.0:  0.8.1 (OK)
pygments >=1.6  :  2.0.1 (OK)
pylint >=0.25   :  None (NOK)
rope >=0.9.2    :  0.9.4 (OK)
sphinx >=0.6.6  :  1.2.3 (OK)
sympy >=0.7.0   :  0.7.5 (OK)
zmq >=2.1.11    :  14.5.0 (OK)

[2015-02-21 17:21] Amal-Vincent commented on #2187
version 2.3.2, thanks for helping me out again, I was the guy who had the issue after octave installation

[2015-02-21 17:30] SylvainCorlay commented on #2187
The reason is that the path to the zmq module changed between IPython 1.0 and 2.0. Now zmq is its own separate package.

We already take this into account in `ipythonconsole.py`
[code]

We should do the same with `start_ipython_kernel`.

[2015-02-21 17:42] SylvainCorlay commented on #2187
Hum this is weird. I am surprised by your zmq version number. It might be a flaw in the way dependencies are detected. You probably don't have python zmq installed.

If you are running on the ubuntu packages, try installing the `python-zmq` package:

[code]

[2015-02-21 18:06] Amal-Vincent commented on #2187
nope still the same problem, should I restart after this?

[2015-02-21 18:07] Amal-Vincent commented on #2187
resetting spyder  does fix it, but that is a temporary solution, the problem return after a restart, or when I run a python file

[2015-02-21 18:24] SylvainCorlay commented on #2187
I don't think that you need to restart your system.
You did not specify whether you were using the ubuntu packages or some distribution like Anaconda?

If you are still having the issue, printing the exception message could help troubleshooting.

(Whatever is in the `except` statement is to support IPython 0.13 and is not expected to work for you, hence you could print the exception that is raised

[2015-02-21 18:52] dallasmasters commented on #1948
Confirm similar behavior, but I only get this for import numpy or import matplotlib or import pandas (not saying there aren't others). Other modules are loaded if put in a startup file or on the "run lines" directive.

[2015-02-21 19:08] Amal-Vincent commented on #2187
I am using it from anaconda

[2015-02-21 19:36] SylvainCorlay commented on #2187
Then the deb package we just installed is just useless.

[2015-02-22 07:38] mikofski opened #2188 "can't run win_post_install from pip"
please add this snippet to spyder_win_post_install.py to mimic bdist_wininst. I cribbed it from pywin32_post_install.py. Thanks!

    try:
        # When this script is run from inside the bdist_wininst installer,
        # file_created() and directory_created() are additional builtin
        # functions which write lines to Python23\pywin32-install.log. This is
        # a list of actions for the

[2015-02-22 20:00] ccordoba12 commented on #2188
I'm afraid you're going to need to create a pull request, because this *snippet* is too big and somethings seem to be repeated with our code.

[2015-02-22 20:02] ccordoba12 opened #2190 "Update French translations for 2.3.3"
@SylvainCorlay or @Nodd, can you help me with this one? The sooner it'd be the better because this is the last thing to do before releasing 2.3.3

Please remember to submit the PR against the **2.3** branch, and not against master.

[2015-02-22 20:19] #2117 closed

[2015-02-23 08:05] phsdv opened #2191 "Spyder Report bug does not link to github"
Spyder Version:  2.3.2
Python Version:  3.4.0
Qt Version    :  4.8.6, PyQt4 (API v2) 4.11.3 on Windows
pyflakes >=0.6.0:  0.8.1 (OK)
pep8 >=0.6      :  1.6.2 (OK)
IPython >=0.13  :  2.4.1 (OK)
zmq >=2.1.11    :  None (NOK)
pygments >=1.6  :  2.0.2 (OK)
pandas >=0.13.1 :  0.15.2 (OK)
sphinx >=0.6.6  :  1.2.3 (OK)
rope >=0.9.2    :  None (NOK)
matplotlib >=1.0:  1.4.2 (OK)
pylint >=0.25   :  1.4.1 (

[2015-02-23 08:10] goanpeca commented on #2191
Hi @phsdv, thanks for reporting this, but it has been fixed already on #2182 and will be updated on the next release of spyder.

If you want to try this for yourself you can download the development version and run it like

[code]

Cheers

[2015-02-23 10:10] goanpeca commented on #903
Hi @ccordoba12 , I think we can make the milestone for this 2.4 so I can focus on the other pending PRs.

I still have some things to figure out, and I am really considering switching over to [mkdocs](http://www.mkdocs.org/) as it would unify all documentation efforts (The website content, comments in issues and PRs, Wiki pages and documentation of Spyder to a single language, Markdown).

The main

[2015-02-23 10:23] goanpeca opened #2192 "Enhancement: "Run" markdown files and display the result in the object inspector"
It would be great to generalize the functionality in the Run menu for "Running/Parsing" source files besides Python scripts.

I am finding myself more often than not, wanting to see how something written in markdown looks rendered, and since the Object Inspector seems to already provide for this functionality, we could make the "Run" behaviour/command more general so that for specific extensions,

[2015-02-23 15:01] ccordoba12 commented on #2192
Yes, it would be really, really cool. But for this we would need to add a dependency in [mistune](https://github.com/lepture/mistune) and generalize how the Object Inspector works.

[2015-02-23 15:10] ccordoba12 commented on #2191
Yes, we can change things on past releases :-)

[2015-02-23 15:10] #2191 closed

[2015-02-23 15:11] goanpeca commented on #2192
Is this something that you think would be better as a plugin as well? or is something that could belong to the core?

Is mistune currently being used?

[2015-02-23 15:12] ccordoba12 commented on #2190
Hey guys, any update on this one? I need to release as soon as possible so that 2.3.3 can be included in Ubuntu 15.04.

[2015-02-23 15:19] ccordoba12 commented on #2192
We don't use mistune but IPython will since 3.0.

I don't know how this could be developed as a third-party plugin because
it tries to extend a core plugin. So it should belong to the core.

The problem I see with this approach is that we will (probably) need to
also extend our Projects support to cover documentation projects (like a
Sphinx or mkdocs project only). So things get tricky quite fast

[2015-02-23 15:24] goanpeca commented on #2192
That is precisely my point, maybe Spyder should allow for plugins to extend the core of Spyder as well.

It would be too hard to handle all the possibilities that may arise from here. The basic core Widget (panel...) should handle the most important case. From then on any additional case should be extendable through a plugin. Lets say that my projects plugin handles Python Packages and thats it, w

[2015-02-23 15:30] ccordoba12 commented on #2192
You're right, that's the best approach in theory. In practice, I don't
even know where to start to make that a reality for all plugins (or at
least for the most important ones).

That would be a ton of work that we should carefully plan before
starting. But sure it'd be interesting to do not only for the Object
Inspector but also for the Editor and the Variable Explorer (for
starters :-)

El 23/02

[2015-02-23 15:40] goanpeca commented on #2192
"Nobody said it was easyyyyyyy...." haha

Not saying it has to be done at once and for all plugins, so we could use this as an opportunity to add the behavior (an extendable simple API) to the object inspector and see how it goes or could go for other plugins.

I already have in mind how to split the editor widget. The editor widget is hard wired for python so I want to split it into a base editor

[2015-02-23 16:18] 671620616 opened #2193 "Can't delete files"
I am unable to delete a file using `os.remove()`.  It throws the following exception:

[code]

even though my user is an admin and Spyder has been run as an admin.
The directory 'Tools_' is in the current working directory, is a Spyder project, and not passworded.

Computer specs:
Windows 8.1
Intel Celeron CPU 900@2.20GHz
2GB RAM
x64bit, x32 spyder & Anaconda install (64 bit install was causing pr

[2015-02-23 16:42] Amal-Vincent commented on #2187
k so what do u suggest

[2015-02-23 16:43] shidehnaderi opened #2194 "Spyder Crashed and is not restarting"
Got the good old 'Spyder crashed during last session' error, while I was trying to multi thread.
Tried  'python -c "from spyderlib.spyder import main; main()" --reset'
but it doesn't appear to be working. Gives the same error again. Tried manually removing stuff from .Spyder, still no result.
![error](https://cloud.githubusercontent.com/assets/5849423/6332063/f823de04-bb37-11e4-80c9-7c596ef97df3.p

[2015-02-23 17:45] 671620616 commented on #2194
Happened to me some time ago-
I went into the source and had to comment out some bit of code (naturally I can't remember which) but it had been creating a temporary file in the .Spyder directory and not deleting it, causing problems on startup.

[2015-02-23 17:46] shidehnaderi commented on #2194
I can't access the code to make changes though.

[2015-02-23 17:55] stonebig commented on #2193
could you check via `os.listdir('Tools_')` that you are looking at the right absolute path ?

[2015-02-23 17:58] stuppie commented on #1253
I had the same issue with ipython3 version 1.2.1 and Spyder 2.3.2
Installing ipython3-qtconsole fixed it

[2015-02-23 17:58] stonebig commented on #2194
maybe try a reboot first ?

[2015-02-23 18:05] shidehnaderi commented on #2194
Didn't find a fix so I re-installed anaconda but before that I removed EVERYTHING Spyder related. Did a re-install before hand without completely cleaning Spyder left-overs, didn't work. '
All works now.

[2015-02-23 18:10] #2194 closed

[2015-02-23 18:10] 671620616 commented on #2193
`os.listdir('Tools_')` returned `['.spyderproject', 'cmd_schedule.py']` which is correct.  I'm fairly sure I have the right absolute path.
Also I noticed that I can't delete anything at all while Spyder is open - not even from the Windows file explorer.

[2015-02-23 18:19] ccordoba12 commented on #2193
This is not an Spyder error. `os.remove` doesn't let you remove directories, just files, as can be read in [its help](https://docs.python.org/2/library/os.html#os.remove).

Just use `os.rmdir` or `os.removedirs`

[2015-02-23 18:19] #2193 closed

[2015-02-23 18:22] ccordoba12 commented on #1253
@stuppie Yes, that's mentioned in our docs

http://pythonhosted.org/spyder/installation.html#recommended-modules

[2015-02-23 18:26] 671620616 commented on #2193
Even with `os.rmdir` I get the same error:

[code]

[2015-02-23 18:27] SylvainCorlay commented on #2190
No worries I can do it tonight. Unless Joseph jumps in earlier!

[2015-02-23 18:33] ccordoba12 commented on #2193
Sorry to hear it, maybe `os.removedirs` or [shutil.rmtree](https://docs.python.org/2/library/shutil.html#shutil.rmtree) can help.

But as I said before, this is not a Spyder bug, so we can't help you any further.

[2015-02-23 18:37] 671620616 commented on #2193
Ok - I'll try with `shutil`.  Thanks for the help!

[2015-02-23 18:38] ccordoba12 commented on #2190
Great, thanks Sylvain!

El 23/02/15 a las 13:27, Sylvain Corlay escribió:

[2015-02-23 19:51] ccordoba12 commented on #2192
1. Starting with the Object Inspector for a public APi is a great idea because it's perhaps the easiest plugin.

2. It'd be really cool to adapt our Editor to work with R.

[2015-02-24 07:38] goanpeca commented on #2192
Ok, I haven't looked at the object inspector, so far, so I will take a look at it to get familiar with how it works and think of how it could be made extendable.

[2015-02-24 09:52] vtraag commented on #1749
Related to this, Ctrl+(Shift+)Tab cycles through tabs in order of usage, while Ctrl+PageUp/PageDown cycles through tabs in order of appearance. Cycling through tabs in order of usage is not really useful it seems (you get apparently inexplicable jumps from one tab to another, until you realize it cycles in order of usage).

[2015-02-24 13:40] blink1073 commented on #1749
@vtraag, I disagree that the cycling is not intuitive.  Ideally, the tabs would automatically reorder to preserve "most-recentness", similar to what you get when you hit `Alt+Tab` for most recent processes.  However, I'd argue that most times people are toggling back and forth between two files, regardless of the order they were opened in.  For what its worth, we have the same behaviour as the Sub

[2015-02-24 14:30] zaroth opened #2196 "Add a way of changing and converting EOL characters between different standards independent of OS"
As in title, I find myself moving files between different operating systems quite frequently (or even between cygwin-noncygwin environment in windows). I try to enforce unix EOL standard across all my projects, IDEs and OSes, and spyder doesn't let me do that.

Besides changing and converting EOL style of a single file (a nice implementation of this could be seen in Notepad++), a per-project setti

[2015-02-24 14:44] vtraag commented on #1749
Indeed I'm often switching between two files, and then it's useful. The problem starts when you are searching for another file among the ones you have open... Anyway, I'm now just resorting to Ctrl+PageUp/PageDown, which works fine for my purposes.

[2015-02-24 15:07] goanpeca commented on #2175
Well a direct way of doing it is not available on the Qt side, but there is a way but seems to convoluted just for this.... but it is something like this:

An editor would be in reality two, the one that is displayed and the one that holds the information, the one that is displayed will have the characters replaced but whatever our needs and the one that is on the "background"  will hold the origi

[2015-02-24 15:07] ccordoba12 commented on #2196
That's right. Spyder enfornces EOLs according to the operating system under which is running.

[2015-02-24 15:10] ccordoba12 commented on #2175
@goanpeca Yes, there is: Vim support :-) We need to Editors for Vim support: one in command mode and in edit mode.

But it's true, it's too much work...

[2015-02-24 16:06] SylvainCorlay opened #2197 "IPython consoles are not named correctly when connecting to existing kernels and passing the full kernel path"
It seems that ipython console names don't contain the kernel number anymore, making it more difficult to connect multiple consoles to the same kernel. This is true in both the `2.3` and the master `branch`.

[2015-02-24 17:08] #2190 closed

[2015-02-24 17:13] ccordoba12 commented on #2197
I know, I decided to remove that *feature*. I think very few people understood what those numbers meant.

We could revert that in 2.3.4, by letting people adding the feature to rename each console. But I'm not sure about it.

[2015-02-24 17:20] SylvainCorlay commented on #2197
Gotcha.
Another issue then is that the when you *still* connect to the same console via the connection file, the number used for the console name is now different (and therefore the suffix letter in the console name is unnecessary).

[2015-02-24 19:42] goanpeca commented on #2175
Hmmm, just out of curiosity I will give it a quick go (just to see if it can work) but I will not go in depth in keeping the rest functional.... completio etc... just to see if it can work or not..

[2015-02-24 20:12] goanpeca commented on #2192
Now that I think about it, I guess you could draw the dots and lines (2 or 4 spaces) on top and not mess with 2 editors.

[2015-02-25 08:53] rilut commented on #1932
I have the same problem too
I have Python 3.4.0 and spyder-2.3.2.amd64-py3.4

[2015-02-25 09:33] goanpeca commented on #2192
Ok I have been looking at the run thinguie in the editor plugin (never had before...) wow... that is a big monster :)!

I have some ideas but we need to figure out how these plugins (the installable ones I mean) should be incorporated. Should each dockwidget plugin has some machinery to look for plugins that extend its functionality? or should Spyder as a final step of setup go through all install

[2015-02-25 13:35] jondo commented on #2183
Maybe this is another case where Spyder could try to catch an exception thrown by `exit`, as in issue #1974?

[2015-02-25 14:06] jondo opened #2199 "Feature: Reorder tabs per drag-and-drop"

[2015-02-25 14:09] goanpeca commented on #2199
No description?

Is the same as #564 what you propose?

[2015-02-25 14:11] jondo commented on #2199
Yes, sorry for the duplicate.

[2015-02-25 14:11] #2199 closed

[2015-02-25 14:14] goanpeca commented on #2199
No problem :), just be sure to check with previous issues next time :+1:

[2015-02-25 14:20] jondo commented on #1749
+1 to the patch.

I think this _would_ be useful, but for me this also just cycles  in order of appearance (in Spyder 2.3.1 from WinPython-64bit-3.4.2.2.exe).

No! Sometimes I want to define the order by myself, (see #564).

[2015-02-25 14:28] jondo commented on #1741
Isn't this already available via Ctrl+PageUp?

[2015-02-25 15:27] ccordoba12 commented on #1932
@stonebig could you check this one please? I don't know if it's a problem with our installers...

[2015-02-25 15:37] goanpeca commented on #2177
this sound like something for a plugin :)

[2015-02-25 15:47] ccordoba12 commented on #2192
I don't like too much your proposal. Why not go simple at first and just define a new `run_markdown` function, that would be called by F5 when the file type is `markdown`?

I mean, what else is needed to be added in the *Run* menu that justifies the type of abstraction you're suggesting?

Also pinging @blink1073 for his opinion because he has worked a lot with `codeeditor` too.

[2015-02-25 15:57] goanpeca commented on #2192
My proposal is aiming to have a more generic way of handling different language filetypes.

Adding a run_markdown  function in the object inspector is just what I propose, but I was suggesting trying to generalize the use plugins to extend functionality (in the editor in this case), otherwise we will keep adding special cases.

Also my proposal was to add this as an external plugin, to "ease the b

[2015-02-25 15:59] CDorian opened #2200 "Cant start spyder"
I have just installed through Python(x,y) and can't even start spyder. It opens a console window then it quickly closes then does nothing else.

I am on Windows 8.1, 64bit..

[2015-02-25 16:13] SylvainCorlay commented on #2200
If you try starting spyder from the command line (first start `cmd` and then type `spyder`), the console window will not close and you should be able to give us a meaningful error message.

[2015-02-25 16:19] SylvainCorlay commented on #2187
Sorry for the late reply. I cannot reproduce your problem hence a good way to troubleshoot would be to get the (first) exception error message.

In `start_ipython_kernel.py` please replace
[code]
with
[code]
and report the error message that you get in Spyder. (The first version with the try-catch is meant to support IPython 0.13 anyway.)

[2015-02-25 17:01] CDorian commented on #2200
I didnt get a chance to do that, but I uninstalled everything including all python installs and I reinstalled Python(x,y) and now it seems to work.

Thanks for getting back to me, Its all working now

[2015-02-25 17:01] #2200 closed

[2015-02-25 18:37] ccordoba12 commented on #2192
About the use cases you propose:

* C: It could be interesting, but more interesting would be to run Fortran files
* Cython: Definitely, several people have been asking for it.
* R:  With the new IPython kernel spec, it's possible to open an R console inside Spyder with an R kernel. Using it we can also create Ruby, Perl, FSharp, etc, etc, consoles.
* HTML: Mmmh, that's what browsers are for ;-)

[2015-02-25 18:40] goanpeca commented on #2192
Fair enough I need to polish the details, but before anything, we need to address how Spyder will handle normal Plugins, how it will autodetect them and how they will be installed.

Do you have an idea on that already?

[2015-02-25 18:59] stonebig commented on #1932
Hi @rilut

Looking at your  description of your configuration:

You are double bleeding edge installation: 3.4.3rc1 + Windows 10

# Checking if the SPyder installer is the issue
You must try the same thing with Christoph Gohlke similar installer:
- download the 64 bit packages of Winpython 2014-12 release:
http://sourceforge.net/projects/stonebig.u/files/Do_It_Yourself/Winpython_2014-12/basedir34/

[2015-02-25 20:25] stonebig commented on #1932
Python 3.4.3 final is out.

[2015-02-25 21:31] blink1073 commented on #2192
I think we just need to provide a way to extend plugins by name. For example, we allow other plugins to provide a "run" target tied to the run plugin.   We collect the extensions at startup, then if a file is opened, we check our list of registered extensions.  If one is available, the Run option becomes available, and the registered function is called when the user presses F5.

[2015-02-25 21:33] blink1073 commented on #2192
I think we could allow users to keep plugins and extensions in their ~/.spyder directory, similar to how IPython does it.

[2015-02-25 21:34] goanpeca commented on #2192
I think it would be better to make plugins pip/conda installable

[2015-02-25 21:35] blink1073 commented on #2192
The nice thing about the IPython way is that they are all in one place and not cluttering up `site-packages`.

[2015-02-25 21:36] goanpeca commented on #2192
How is that benefiting the end user?

[2015-02-25 21:36] blink1073 commented on #2192
Namespace and separation of concerns.  IPython extensions/kernels are still pip installable, they just get sent to the .ipython folder.

[2015-02-25 21:41] goanpeca commented on #2192
Ok, not sure about the details of where a package/plugin will get stored. I think that where they get stored is besides the point, as long as they can be installed via pip (or conda).

Maybe for us (developers) it is nicer to keep them in one place, that I agree, but for the end user will be irrelevant, so if the can be installed in  `.spyder/plugins` great!

@blink1073 , what do you think of reor

[2015-02-25 21:50] blink1073 commented on #2192
My opinion is that Spyder should be language agnostic as much as possible.   Even folks that primarily use Python also use C / Octave / Markdown / etc.  I agree your approach.  However, I think we should concentrate on the Scientific Python parts of that equation while allowing for outside contributions.

[2015-02-25 21:51] goanpeca commented on #2192
Good :)

Sorry what do you mean by this "concentrate on the Scientific Python parts of that equation" ?

[2015-02-25 21:53] blink1073 commented on #2192
Namely Python and Cython :)

[2015-02-25 21:54] goanpeca commented on #2192
ahhhhhhhh sure :)

[2015-02-25 21:56] blink1073 commented on #1749
@jondo, by that I mean *ideally for me*.

[2015-02-25 23:04] zbyna opened #2203 "Code completion issue with Jedi"
Spyder 2.3.3  Python 3.4.0 64bits, Qt 4.8.6, PyQt4 (API v2) 4.10.4 on Linux

With **rope** (jedi uninstalled):
**Okno.ui.Tlacitko.pressed.**
shows:
[code]

with **jedi** installed (rope too)  these are omitted.

Main.py
[code]
Ui_Formular.py
[code]

[2015-02-25 23:07] cjrh opened #2204 "Windows: something is preventing "File" and "Edit" menus being clicked"
See this screencast:

![spyder-menu-bug](https://cloud.githubusercontent.com/assets/480395/6382695/94666c0e-bd96-11e4-8dc1-94d9d8166e8a.gif)

When hovering over the File and Edit menu items (and the left half of the Search menu item), the item does not raise, and clicking on it doesn't open the menu. However, once opening the menu items further to the right, by hovering over left the File and Edit

[2015-02-26 01:01] blink1073 commented on #2204
@cjrh, are you using any third party plugins?

[2015-02-26 01:07] cjrh commented on #2204
Nope, this is raw HEAD.

[2015-02-26 01:10] cjrh commented on #2204
It would be good to know whether this happens on another Windows machine or not.  Apparently (according to the link I posted) Mac and linux are unaffected by the parenting issue.

[2015-02-26 01:19] cjrh commented on #2204
I checked Spyder 2.3.2: this **does not occur**. So it is def introduced recently as I suspected.

[2015-02-26 01:20] ccordoba12 commented on #2203
@blink1073 if you find how to solve this problem, please submit a PR against the 2.3 branch.

[2015-02-26 01:24] ccordoba12 commented on #2204
It's probably a problem with our new use of signals and slots. Are you using PySide or PyQt4?

[2015-02-26 02:28] cjrh commented on #2204
Both. I'm working though the history on master now.  I'll find the commit eventually.

[2015-02-26 02:48] cjrh commented on #2204
The problem first occurs in the master branch in 29c927df7d96a8fd3d891e4bb7011894cd414010

[2015-02-26 02:58] blink1073 commented on #2204
I'd guess `self.tour = tour.AnimatedTour(self)` is the offending [line](https://github.com/spyder-ide/spyder/commit/29c927df7d96a8fd3d891e4bb7011894cd414010#diff-e13742a2ff2d16fb2f96574ff7b24a5cR919).

[2015-02-26 03:24] cjrh commented on #2204
In `tour.py` if we change this:

[code]
to this
[code]
The menu problem is resolved.  We can't just pass in `None`, because the mainwindow (parent) *is still required* inside `AnimatedTour` further down for some signal stuff.

[2015-02-26 03:35] blink1073 commented on #2204
Shouldn't the tour be a Dialog or a Dock?

[2015-02-26 03:41] cjrh commented on #2204
I don't know Qt well enough to comment on that.

[2015-02-26 03:56] blink1073 commented on #2204
That was more of a question for Carlos  :smile:

[2015-02-26 04:05] blink1073 commented on #2203
@ccordoba12, this happens because Jedi is given preference and in this case returns a valid, but incomplete result.  This may be a reason to keep Rope as the default, and only use Jedi if rope fails to find something.  When I reverse the order of the preferred plugins, I get the desired behaviour in this case.

[2015-02-26 04:11] blink1073 commented on #2204
Oh and I do see this behaviour on Linux.

[2015-02-26 04:58] cjrh commented on #2204
Ok interesting.   Good to know.  I was too lazy to check 😴

[2015-02-26 06:19] goanpeca commented on #2204
Oops, this one is on me. I will try to get this fixed.

[2015-02-26 06:54] rilut commented on #1932
@stonebig Thanks, I updated to 3.4.3 final

![spyder-github](https://cloud.githubusercontent.com/assets/1331389/6387466/24c368ca-bdbe-11e4-938d-e1cbfea95860.PNG)
The github installer failed to install

![spyder-zip](https://cloud.githubusercontent.com/assets/1331389/6387467/24d4d89e-bdbe-11e4-965c-abd56f6136ca.PNG)
The zip one installed successfully (yes, I haven't get Spyder to run because I hadn

[2015-02-26 08:33] TWAC commented on #1983
Could you try setting the Shortcuts AppUserModelID to "spyderlib.Spyder" using https://code.google.com/p/win7appid/ ?

[2015-02-26 08:48] cmeeren commented on #1983
@TWAC I tried that and it didn't work. Here's my version info:

[code]

[2015-02-26 12:06] goanpeca commented on #1492
@ccordoba12 I think this is very important and part of something that I was looking when making the website.

Should a Spyder Software Foundation be constituted? I guess that is how generally these things work, no? Any tip from the guys in IPython?

@SylvainCorlay, you are in US so maybe it would be worth checking opening an Foundation?

Cheers

[2015-02-26 12:08] goanpeca commented on #1340
@blink1073, you have been working with completion right? Tou think you could tackle this?

[2015-02-26 13:26] goanpeca commented on #2204
@cjrh can you add this to the `def __init__ ` of the `AnimatedTour` class?

I just want to check that it works in windows before making the PR

`self.setAttribute(Qt.WA_TransparentForMouseEvents)`

[2015-02-26 13:38] ccordoba12 commented on #1492
The right way to do this is through Numfocus. Last year I started conversations with them but I got busy and couldn't finish the process to be able to receive donations through them.

I'll restart that as soon as I can.

[2015-02-26 13:43] ccordoba12 commented on #2203
@blink1073 It makes sense, given that the main use case for Jedi is to provide completions for compiled modules.

But perhaps a better decision criteria would be to compute completions with both libraries, compute the (set) union of both, and show that. What do you think?

[2015-02-26 13:51] blink1073 commented on #2203
@ccordoba12, my concern there is that we'd have to wait a period of time as opposed to giving the user results as soon as they are available.

[2015-02-26 13:59] blink1073 commented on #1340
As is stands we are only invoking completion after a `.` or if the user hits `TAB`.  This is related to #1914.  I'd say we need to add another option called something like "autocomplete while typing" that is invoked for `s` at the start of a word and after three characters are typed.

[2015-02-26 14:01] goanpeca commented on #1340
Yes you are right, I misread. Still, can you take a look at it eventually?

[2015-02-26 14:02] blink1073 commented on #397
This is related to #1914.

[2015-02-26 14:09] blink1073 commented on #1340
Yep, self-assigned.

[2015-02-26 14:12] ccordoba12 commented on #2203
Yes, I was thinking that too. Then please go ahead and make Rope the default (in any case it seems to be faster too :-)

[2015-02-26 14:55] rubenvb opened #2207 "Spyder's WM_CLASS is empty, resulting in unexpected behavior for task managers"
I experience unwanted behavior from KDE's icon-only task manager, which groups the Spyder window with Mathematica for some reason. There is definitely a bug on their end, but the fact that WM_CLASS for the Spyder window is empty is also not good and giving this property a decent value may very well work around the issue.

Link to KDE bug report containing more information: https://bugs.kde.org/sho

[2015-02-26 15:37] eikehein commented on #2207
I'm the upstream KDE developer who's handling the above ticket. It looks like WM_CLASS winds up empty when Spyder is run against Python 3; the Python 2-powered Fedora package puts "Spyder" and is fine. Current GitHub against Python 3.4: Not so.

[2015-02-26 15:40] rubenvb commented on #2207
For Arch packages at least, both Spyder under Python 2.7 and 3.4 have empty WM_CLASS. It seems Fedora fixes it in their package.

[2015-02-26 15:44] eikehein commented on #2207
There's no relevant patch in their package tree at least: http://pkgs.fedoraproject.org/cgit/spyder.git/tree/

But this is a pretty complex matrix of Spyder version, Python version, PyQt version and Qt version. E.g. regardless of whether Spyder is running against Python 2 or 3, it could be using either PyQt 4 or 5 to use Qt 4 or 5 - so the bug could also be in PyQt, or, albeit unlikely, even in Qt

[2015-02-26 18:02] ccordoba12 commented on #2207
Ok, no problem. What do we need to do to set WM_CLASS?

[2015-02-26 18:05] eikehein commented on #2207
Qt should fill it in for you for the app's main window from the QApplication metadata. Can you look into whether you have forking codepaths in Spyder somewhere where something like setApplicationName (or similar) might wind up forgotten, or the window is created differently, ...?

[2015-02-26 20:29] ccordoba12 commented on #2207
We are not using setApplicationName when creating the window, so that should be the cause of this problem ;-) I'll fix it for our next bugfix release.

[2015-02-26 20:37] eikehein commented on #2207
Thanks! If you mention the commit in this ticket I'll test on this end.

[2015-02-26 20:42] ccordoba12 commented on #2207
Sure, I'll do that!

[2015-02-26 21:20] cjrh commented on #2204
That works 👍

[2015-02-26 21:24] goanpeca commented on #2204
Cool thanks for checking, will make the PR

[2015-02-26 22:14] zbyna commented on #1558
I may be wrong but I think it is not **sys.exit()** related issue. I have nearly the same problem, means I have to restart kernel for ipython after each running this PyQt based application  (please see: https://github.com/spyder-ide/spyder/issues/2203 for code ) and solution proposed here: http://stackoverflow.com/questions/10888045/simple-ipython-example-raises-exception-on-sys-exit  solve it. It

[2015-02-27 01:01] 0u812 opened #2209 "Unable to Build Mac OS X Application"
I'm trying to build a self-contained Mac app by following these instructions:
https://bitbucket.org/spyder-ide/spyder-mac-app/src/8678bee94f6632753089949f165926164dadc8a0/Howto%20build%20the%20app.md?at=default
For the purposes of this issue, I'm using the official Spyder master branch at a67dfc900a579d13149cd2f5fe186d9fe4700b38. Basically, I am interested in how the official Spyder dmg is current

[2015-02-27 02:24] wigging opened #2210 "Icons as vector graphics to support retina displays"
Is it possible to replace the toolbar icons and other icons in Spyder with vector graphics?  This would allow the icons to be independent of screen resolution.  Such icons would look great on high resolution displays as well as standard displays.  The current icons are png which do not scale with screen resolution so they don't look good on high-res screens found on the iMac and MacBook Pro.  I ca

[2015-02-27 14:21] zaroth opened #2211 "Disable warnings for unused imports in files named __init__.py"
Files named `__init__.py` are usually used for providing a cleaner interface of a Python module to end user. Therefore warning about unused imports in these files doesn't serve much purpose except confusion.

[2015-02-27 14:53] zbyna commented on #2183
@jondo I had problem with kernel quitting but it was not caused by sys.exit.
This helped me:
[code]
For details please see: #1558

[2015-02-27 18:22] ccordoba12 commented on #2210
Pinging @goanpeca because he is very interested on this

[2015-02-27 18:25] ccordoba12 commented on #2211
Thanks for reporting. We will need to (somehow) blacklist `__init__.py` files to avoid this problem.

[2015-02-27 18:34] goanpeca commented on #2210
True, I am very interested in this :), in theory Qt supports svg BUT depending on the distribution used, compiled versions might not support SVG (I think anaconda has some issues on this area)

@SylvainCorlay you were looking at font awesome... what happened with that?

@wigging you had already made some progress on this area? there was some work started in #950

any ideas plans suggestions we can

[2015-02-27 18:43] ccordoba12 commented on #397
Are you sure that fixing #1914 will solve this? They seem two different issues.

[2015-02-27 19:01] ccordoba12 commented on #2209
What version of py2app are you using?

[2015-02-27 19:57] dougthor42 commented on #706
@cmeeren Yes, but GitHub does not have a way to view all issues that I've subscribed to. To my workaround was to `@mention` myself in a comment. That way, I can use the filter `mentions:dougthor42` and find all the ones I submitted or commented on back when they were on Google Code.

[2015-02-27 21:05] 0u812 commented on #2209
I'm using 0.9 (output of `pip show py2app`):
[code]

[2015-02-27 21:36] dougthor42 opened #2212 "Add Drag-and-Drop in Outline widget - Allows for easy organization of code"
I think it would be a handy feature if you could move blocks of code using the Outline widget.

This would allow for some simple code organization. It would be the user's responsibility to make sure that dependencies are taken care of - Spyder would only take the code and plop it somewhere else. It would also take care of indenting for the block. For example, if you're moving a toplevel function i

[2015-02-27 21:40] goanpeca commented on #2212
@dougthor42 cool idea :), I like it, do you want to work on it?

A minor comment, the indentation should be whatever the user has the setting to (could be 2, 4 or tabs)

[2015-02-27 21:46] jondo commented on #1974
@zbyna Here [your advice](https://github.com/spyder-ide/spyder/issues/2183#issuecomment-76406158) does not work, because your `app` is a `QApplication`, which I don't have.

[2015-02-27 21:53] goanpeca commented on #2204
@ccordoba12 should the tour (lets call it widget) be a dockwidget/plugin? I guess the idea of having a plugin is to set some preferences for it. Any preference that we would want to set in the tours that you can think of?

[2015-02-27 21:57] dougthor42 commented on #2212
@goanpeca RE indentation: Oh yes of course. It was assumed but not stated. (but it should provide like 50 warnings if the user is using tabs :-P)

I can try working on it, but I won't be able to for the next couple weeks. When I have free time I'll try to remember to look into it.

[2015-02-27 22:24] goanpeca commented on #2212
No rush :), looking forward to it!

[2015-02-27 22:33] zbyna commented on #1974
So sorry, I thought that the matter could be  that script was not finished correctly (as in my case with QApp) and the kernel died b/c of attempt to run the script twice. I have tried simple script and exit(0)
closes console, but when I add
[code]
console is not closed. From my python beginner's point of view it is strange :smile:

[2015-02-27 23:13] blink1073 commented on #397
This works with Jedi.  #1914 would just make the autocomplete pop up after the first three characters are typed.

[2015-02-27 23:13] blink1073 commented on #397
Tested in master with `import numpy as np; np.ones(1, dt<TAB>`  completes `dtype`.

[2015-02-27 23:14] ccordoba12 commented on #397
But this issue is for the Python console, not for the Editor :-)

El 27/02/15 a las 18:13, Steven Silvester escribió:

[2015-02-27 23:16] blink1073 commented on #397
Ah, it looks like we need a Jedi assist on the Console.  :smile:

[2015-02-28 00:19] nicoguaro opened #2213 "Show absolute and relative (to the current file in Editor) images in Object inspector"
First, congratulations for the excellent job done with spyder.

The ``Object inspector`` is really useful when you want to see the documentation of some functions. It would be really useful if one can show images (as sphinx does) in it.

[2015-02-28 01:24] SylvainCorlay commented on #2210
@goanpeca , yes I started playing with this.

My plan for a PR was to create a new theme where I would
- only use bitmaps, for the reasons you explained earlier.
- mostly generate these bitmaps from font-awesome (and font-mfizz for things like the python language logo.)
- and follow the rule of having only monochromatic icons (no shadow, or gradient etc...)
As some people will want to keep the old

[2015-02-28 03:35] wigging commented on #2210
I would like to emphasize the use of vector graphics so the icons will look sharp on high resolution monitors.  If you use Spyder on these displays, the icons look fuzzy and unprofessional.  You can provide new icons as bitmaps, but you're still going to have the issues I mentioned earlier.  I'm more familiar with designing iOS and Mac apps, where if you don't use vector assets then you can provid

[2015-02-28 03:52] SylvainCorlay commented on #2210
Actually, by using the font-awesome font itself, we could get around the limitation of qt with vector graphics.

I just came across https://github.com/gamecreature/QtAwesome/blob/master/QtAwesome/QtAwesome.h.

We could use this as an inspiration.

[2015-02-28 10:56] goanpeca commented on #2210
Hey this is pretty cool, and would be just as easy to port to PyQt... :) :+1:

[2015-02-28 19:37] ccordoba12 commented on #2213
@blink1073 I think you solved this one in one of the last PRs merged on Bitbucket, right?

[2015-02-28 19:38] ccordoba12 commented on #2210
Yes!! and it's also MIT licensed, so we won't have problems with that too :-)

[2015-02-28 19:55] masasin opened #2215 "rope breaks object inspector?"
After doing `sudo pip3 install rope_py3k`, the editor object inspector no longer shows any headings.

Without doing this, the editor object inspector simply does not work.

I am on Ubuntu 14.10, using Spyder 2.3.0 under Python 3.4.2 and IPython 3.

[2015-02-28 20:11] ccordoba12 commented on #2215
Please update to Spyder 2.3.3. We fixed this problem a long time ago.

[2015-02-28 20:11] #2215 closed

[2015-02-28 20:24] goanpeca commented on #2210
OK will do the port next week

[2015-02-28 20:40] wigging commented on #2210
I agree with @SylvainCorlay with the Font Awesome approach.  It would look great on retina screens.  I've used it for websites with no issues.  The only problem is when you need a custom icon that isn't available on Font Awesome.  For that, you can use IcoMoon https://icomoon.io to import your own vectors to make a custom font.

[2015-02-28 22:20] #2203 closed

[2015-02-28 22:29] SylvainCorlay commented on #2210
@goanpeca I already started playing with it. Although it is likely I will not complete the whole thing this week. Let me know what you prefer.

[2015-02-28 22:33] goanpeca commented on #2210
Well if you already started then maybe you should continue and finish :), I have not looked at it yet ;), I was planning on making it a module and uploading it to PyPi

[2015-02-28 22:34] ccordoba12 commented on #2204
@goanpeca I can't think of any preferences right now. Let's leave it as widget until someone asks for Preferences :-)

[2015-02-28 22:41] goanpeca commented on #2204
Ok

[2015-03-01 01:55] blink1073 commented on #2213
Yep, in this [PR](https://bitbucket.org/spyder-ide/spyderlib/pull-request/12/add-ability-to-re-trigger-docstring-while/diff) we added the ability to view images in the current directory.  I'm pretty sure absolute paths to images always worked.

[2015-03-01 17:11] #2207 closed

[2015-03-01 17:16] ccordoba12 commented on #2207
@eikehein I used `xprop` to verify that our WM_CLASS is set correctly now. Please test it yourself to see if everything is right :-)

[2015-03-01 17:20] ccordoba12 commented on #2183
@kandel3, what is the expected behavior for Spyder in this case?

[2015-03-01 17:24] ccordoba12 commented on #2197
I think it's working as expected. I get

* Terminal 1/A
* Terminal 1/B
* Ternimal 1/C

when I connect several consoles to the kernel of Terminal 1. That's how it worked before and what I'm seeing on Linux in master.

[2015-03-01 17:24] ccordoba12 commented on #2197
Could you post an screenshot of what you're seeing?

[2015-03-01 17:27] ccordoba12 commented on #2209
I'm using py2app 0.8 to build the app right now because I encountered this error myself (or something similar, I don't remember exactly ;-).

[2015-03-01 17:43] SylvainCorlay commented on #2197
I get
- Terminal 1/A
- Terminal 2/A
while I am connected to the same kernel in both consoles. See the screenshots bellow.

![console1a](https://cloud.githubusercontent.com/assets/2397974/6431999/21a6e6b8-c010-11e4-8b8e-f1da9d083146.png)
![console2a](https://cloud.githubusercontent.com/assets/2397974/6432002/2a5dfd32-c010-11e4-9a49-11f62bcbb41b.png)

[2015-03-01 17:53] vasilysmirnov commented on #2081
I have exactly the same issue (Anaconda 2.1 distribution, Windows 7 32 bit, Python 2.7.4, Spyder 2.3.1).
The user name on my PC, and thus USERHOME directory both contain non-ascii characters (Russian).
This caused issues with python itself in Anaconda which I could workaround.
However, when I start Spyder from cmd.exe (or in any other way), the splash window appears and soon (after 1-2 sec) spyder

[2015-03-02 01:36] kandel3 commented on #2183
sys.exit(0) should not display an error message. I don't like the red text and Traceback.

[2015-03-02 01:36] ufechner7 commented on #2192
Dont't forget Julia.

[2015-03-02 03:14] ccordoba12 commented on #2081
@vasily-smirnov thanks for your interest in helping us solve this problem. Your patch seems to touch parts of the Python `os` module, that we really can't touch.

Is it possible or you to try to come up with a solution that only touches Spyder code? Also, please open a pull request for this :-)

[2015-03-02 03:14] 0u812 commented on #2209
Thanks, but unfortunately I got the same error even after downgrading to py2app 0.8. I was able to get past the recursion limit by adding
[code]
to `setup.py`, but now I'm running into the following error (with py2app 0.8):
[code]
Any idea what the problem could be?

[2015-03-02 03:18] ccordoba12 commented on #2209
I think you need to use the exact modulegraph and other py2app
dependency versions required by 0.8 when it was released. I'll let you
know what versions I'm using tomorrow (because I don't have my Mac here :-)

El 01/03/15 a las 22:14, Kyle Medley escribió:

[2015-03-02 03:22] 0u812 commented on #2209
Okay thanks!

[2015-03-02 06:31] nicoguaro commented on #2213
I just tried _absolute paths_ to images. It worked for images from internet but not locally, at least in Windows. I tried different ways of giving the absolute path... but didn't succeed.

[code]

[2015-03-02 07:31] vasily-smirnov commented on #2081
Ok, thanks for the input regarding os module.
I will open a pull request for spyderlib\userconfig.py only - the changes seem failsafe and worth doing.

[2015-03-02 12:38] ccordoba12 commented on #2081
Thanks a lot Vasily! Really waiting for it :-)

El 02/03/15 a las 02:31, vasily-smirnov escribió:

[2015-03-02 14:54] vasily-smirnov commented on #2081
I submitted a pull request, however because I use github for the first time, please confirm that you received it and I did it ok.

[2015-03-02 18:53] blink1073 commented on #2213
@nicoguaro, absolute paths must be URIs, in this case:  `file:///D:/lena512.png`.  See http://en.wikipedia.org/wiki/File_URI_scheme.

[2015-03-02 19:17] nicoguaro commented on #2213
@blink1073, it works, thanks!! I couldn't find that information in the documentation of Sphinx, though :-/.  I will be waiting for the option of relative paths then :).

[2015-03-02 21:24] #2204 closed

[2015-03-02 22:22] #1749 closed

[2015-03-02 22:54] goanpeca commented on #2159
Hi @ccordoba12 what do you think we should do in this case?

[2015-03-02 22:57] goanpeca commented on #2159
on the syntaxhighlighter file we have

[code]

So we could turn the list into sets and define what has precedence with some set operations? or just hard code in this function which should be taken as kw and which as builtins

[2015-03-02 23:01] goanpeca commented on #2096
I already had this worked out.

@ccordoba12 agrees on putting this option under the `close current pane` in the View menu? and adding this off by default?

[2015-03-02 23:16] goanpeca commented on #259
Have been thinking about this lately, now with the works on projects I think we could really minimize the friction of the packaging system by including a Spyder pulgin template that already handled the creation of a setup.py and needed stuff.

[2015-03-02 23:23] goanpeca commented on #82
I think this is a cool idea to implement

[2015-03-02 23:53] s0r2637 opened #2220 "Trying to install Spyder 2.3.3 on Ubuntu 14.04.2 LTS for Python 3.4.x"
Hi,
I am trying to install Spyder 2.3.3 on Ubuntu 14.04.2 LTS for Python 3.4.x.  I try to build/install from the source in GitHub through the following steps:

1) git clone https://github.com/spyder-ide/spyder
2) cd ~/spyder
3) sudo python3 setup.py install

I get the following message:

**WARNING: unable to build documentation because Sphinx is not installed
running install
running build
running

[2015-03-03 00:59] s0r2637 commented on #2220
Sorry I misled on my previous statement that PyQt4 was installed.  It was installed, but only for Python2.7.x.  I went and installed it for Python3.4.x.  Now Spyder3 works fine.

[2015-03-03 00:59] #2220 closed

[2015-03-03 08:53] Amal-Vincent commented on #2187
5b96aece304a1422224f9a41b228416028f9ba26b0d1058f400200f06a589949
Traceback (most recent call last):
File "/home/amal/anaconda/lib/python2.7/site‑packages/spyderlib/widgets/externalshell/start_ipython_kernel.py", line 183, in
from IPython.kernel.zmq.kernelapp import IPKernelApp
File "/home/amal/anaconda/lib/python2.7/site‑packages/IPython/kernel/__init__.py", line 4, in
from . import zmq
File "/hom

[2015-03-03 14:33] vasily-smirnov commented on #2081
The first change was failing in case Spyder config INI did not exist. I fixed it in the second commit

[2015-03-03 15:55] s0r2637 opened #2221 "Unable to get Spyder render in Rich Text"
Hi ,

I installed Spyder from source in Ubuntu 14.04.2 LTS.  I get the following message:

**WARNING: unable to build documentation because Sphinx is not installed
running install
running build
running build_py
running build_scripts
running install_lib
running install_scripts
changing mode of /usr/local/bin/spyder3 to 755
changing mode of /usr/local/bin/spyder_win_post_install.py to 775
running in

[2015-03-03 18:44] 0u812 commented on #2209
Any word on the correct versions?

[2015-03-03 20:37] ccordoba12 commented on #2209
* altgraph 0.11
* modulegraph 0.11.1
* macholib 1.6

[2015-03-03 21:13] 0u812 commented on #2209
Thanks, but I still run into the error below (and I still need to add `sys.setrecursionlimit(2000)` to setup.py to prevent hitting the maximum recursion depth). I'm using brew-installed Python 2.7.9. Could it be a Python version mismatch? Also, I did `git pull` to update Spyder to 9ae469c411b04f68588ae83b0fb24f1d0f86b85e.
[code]

[2015-03-03 21:38] ccordoba12 commented on #2209
No idea, I'm creating the app on 10.7 and it works fine there

[2015-03-03 22:23] BlackZ opened #2223 "Spyder2.3.3 Code completion breaks"
Hi everyone,

first of all, a big thank you for developing this great spyder IDE. It is by far my weapon of choice and I enjoyed diving into python a lot more thanks to it.

Now to my problem, which I am assuming is on my machine, but I cannot figure it out so I hope you guys can help me:

I just installed spyder 2.3.3 on a fresh ubuntu trusty installation and also installed jedi and rope with pip

[2015-03-03 23:38] 0u812 commented on #2209
Oh well, thanks for your help anyway! Just one question before I close this - can you say which Python version you're using to run create_app.py and if it is installed via homebrew?

[2015-03-04 15:26] blink1073 commented on #2223
Hi @BlackZ, can you try changing that line in the file to `self._threads[str(name)].wait()`?

[2015-03-04 15:58] santjaqo commented on #2006
Hi Carlos,
I am now in Yosemite, same brewed python, but using the brand new Spyder 2.3.3 version, installed from the github dmg. I still cannot use Spyder with my brewed /usr/local/bin/python nor any other python in virtualenv's. Could you please help me out to set Spyder to work in my Mac?

[2015-03-04 16:33] BlackZ commented on #2223
Hi @blink1073, I just tested it and it seems to work when I add the str conversion to the following line (result=..) as well:

        self._threads[str(name)].wait()
        if self.result:
            return
        result = self._threads[str(name)].result

Thanks a lot! Is this a general bug or is something fishy with my python installation?

[2015-03-04 20:00] ccordoba12 commented on #2223
@blink1073 do you want to do a PR based on what @BlackZ reported?

[2015-03-04 20:01] ccordoba12 commented on #2006
@santjaqo, are you getting this same error? or something else?

[2015-03-04 20:05] ccordoba12 commented on #2221
That's not the right command to install sphinx, it is

    sudo apt-get install python-sphinx

or

    sudo apt-get install python3-sphinx

In any case, if sphinx is not found in your system, the installation doesn't fail (as your error message proves). It just doesn't build our documentation.

[2015-03-04 20:05] #2221 closed

[2015-03-04 20:10] blink1073 commented on #2223
Yep, forthcoming.

[2015-03-04 20:19] ccordoba12 commented on #2209
I'm using Python 2.7.8 at the moment. But please don't close this issue, I'll try to simplify this whole process by using Anaconda instead of Homebrew.

[2015-03-04 20:23] ccordoba12 commented on #2213
Ok, I think this is solved in master.

[2015-03-04 20:23] #2213 closed

[2015-03-04 20:38] #2223 closed

[2015-03-04 20:45] blink1073 commented on #2223
@BlackZ, there was nothing weird about your setup, other than the fact that `PyQt4` was not converting the `QString` values to `str` for you in your particular version.

[2015-03-04 20:46] BlackZ commented on #2223
@blink1073 thanks a lot, that is good to know. Hope the report was of help, keep up the good work!

[2015-03-04 20:46] blink1073 commented on #2223
It was, and thanks!

[2015-03-05 10:09] santjaqo commented on #2006
Dear Carlos, thanks for your quick answer.

The message is different but the situation is the same: the IPython console
does not load. The message I get is 'An error ocurred while starting the
kernel'.

Regards, Santiago

On 4 March 2015 at 21:01, Carlos Cordoba <notifications@github.com> wrote:

[2015-03-05 16:19] ccordoba12 commented on #2006
You're right. Please open a new issue so that I don't forget to solve it
for 2.3.4.

El 05/03/15 a las 05:09, santjaqo escribió:

[2015-03-05 20:13] ccordoba12 commented on #1554
@goanpeca you need to take care of this one when working on the new Projects support

[2015-03-05 20:38] goanpeca commented on #1554
Ok, I have been assigning to myself anything that looks related to the project explorer so if you find something related please assign me, so I keep track and tackle these issues from the start

[2015-03-06 13:39] santjaqo opened #2227 "IPython does not work with brewed or virtualenv Python(s) in MacOSX"
I am using a brewed 2.7 Python in Yosemite. I installed the new Spyder 2.3.3 version from the github dmg. I cannot use IPython in Spyder when I point to the executable of the brewed Python in Preferences>Console>Advanced Settings>Python executable. The following is the path I am using:

/usr/local/bin/python

Pointing to an activated virtualenv Python executable does not work either. The IPython c

[2015-03-06 13:41] santjaqo commented on #2006
Hi Carlos. I just did so. The issue number is 2227.

[2015-03-06 19:23] ccordoba12 commented on #2009
Closing because of lack of response.

[2015-03-06 19:23] #2009 closed

[2015-03-06 20:17] #1359 closed

[2015-03-06 20:17] #1321 closed

[2015-03-06 20:17] #2227 closed

[2015-03-07 07:02] ralexx commented on #2157
I experienced this issue (originally #2094) in 2.3.2 under OS X 10.10, now in 2.3.3 seeing "An error ocurred while starting the kernel" in the iPython console window when Preferences/Console/Advanced settings/Python executable is NOT set to Default.

* *What steps will reproduce the problem?*
1. Specify a custom Python interpreter under Preferences/Console/Advanced settings/Python executable, e.g.

[2015-03-07 20:55] ccordoba12 commented on #2183
This is not an error generated by Spyder (as can be clearly seen in your screenshot).

To run this code without errors, you need to press F6 and select

    Execute in an external System terminal

There `sys.exit(0)` will have the effect you expect.

[2015-03-07 20:55] #2183 closed

[2015-03-07 20:59] ccordoba12 commented on #2140
`Ctrl+5` is used to remove block comments, i.e. comments of the form

    #==============================================================================
    #
    #==============================================================================

`Ctrl+1` is used to comment *and* uncomment a line, so there is no problem here. The other shortcuts you suggest are going to be added in pull request #221

[2015-03-07 20:59] #2140 closed

[2015-03-07 21:01] ccordoba12 commented on #2127
@goanpeca, could you take care of this one? I mean, given that you've worked with the line number area :-)

[2015-03-07 21:11] #2056 closed

[2015-03-07 21:15] ccordoba12 commented on #2001
@blink1073, could you take a look at this one? I think you worked on something like this for the last of your PRs merged on bitbucket.

[2015-03-07 21:23] blink1073 commented on #2001
On it.

[2015-03-07 21:26] ccordoba12 commented on #1947
Projects are being reworked right now by @goanpeca, so we are leaving this for our next major release.

[2015-03-07 21:30] ccordoba12 commented on #1641
This doesn't make sense now that we are on Github.

[2015-03-07 21:30] #1641 closed

[2015-03-07 21:31] blink1073 commented on #2001
Actually I think I already fixed this one, I did a few experiments in the editor and it has the desired behavior.

[2015-03-07 21:32] blink1073 commented on #2001
Case in point:

[code]

[2015-03-07 21:34] ccordoba12 commented on #1151
@blink1073, could you test if this is still a problem on Windows?

[2015-03-07 21:40] blink1073 commented on #1151
Works for me.

[2015-03-08 15:58] ccordoba12 commented on #1151
Ok, thanks for the confirmation. I don't know when this was fixed, so let's say it was in this release.

[2015-03-08 15:58] #1151 closed

[2015-03-08 17:47] goanpeca commented on #2127
Got it!

[2015-03-08 18:23] ccordoba12 commented on #2157
@ralexx The bug you mention was already reported in #2227 and will be fixed in 2.3.4.

[2015-03-09 02:54] fizyxnrd commented on #1955
On Spyder 2.3.2, python 3.4, I am getting the same issue.
I concur with the console not connecting to the Object Inspector on startup.
I also concur with the IPython console functioning correctly with the object inspector.

However, I have observed that once a package has been imported in the IPython console, the python console successfully connects to the object inspector for objects within the i

[2015-03-09 09:14] flying-sheep commented on #950
i have another proposal: research the names used in common icon themes and use [`QIcon.fromTheme`](http://doc.qt.io/qt-5/qicon.html#fromTheme) instead (example from docs):

[code]

as you can see, you can fallback to provided icons, but we can use those delicious breeze icons on Plasma 5.

[2015-03-09 15:22] ccordoba12 commented on #950
@flying-sheep that's a good idea but it's not multiplatform :-)

Right now @SylvainCorlay is working on creating a theme based on Font Awesome.

[2015-03-09 16:06] flying-sheep commented on #950
sure is, it’ll fall back to the second argument.

also it will try the [themePaths](http://doc.qt.io/qt-5/qicon.html#themeSearchPaths), which one can use to supply a freedesktop-compatible icon theme for all platforms.

[2015-03-09 16:16] #2197 closed

[2015-03-09 16:21] ccordoba12 commented on #950
I'd really prefer that Spyder looked the same in all platforms (I, for
one, move between all platforms all the time :-)

El 09/03/15 a las 11:06, flying-sheep escribió:

[2015-03-09 19:57] ccordoba12 commented on #1957
@statmobile, I uploaded a new Python 3 dmg (for Spyder 2.3.3) to our downloads site:

https://bitbucket.org/spyder-ide/spyderlib/downloads

Would you mind to test it in your side to see if this one fixes the problems the previous one had?

[2015-03-09 20:11] statmobile commented on #1957
Hey Carlos, I just downloaded it and it still hangs saying "Connecting to kernel" in the IPython console.  If you want, I can try to build the code from source on my machine again and see what happens.  I had some notes on steps I needed to do in order to compile it on top of your notes.  I'm currently running OS X 10.10.2 on my computer.

[2015-03-09 20:15] ccordoba12 commented on #2209
@0u812 I uploaded new dmg for Python 2 and Python 3 to our download site

https://bitbucket.org/spyder-ide/spyderlib/downloads

Would you mind to test if any of them work on 10.9.5? Thanks :-)

[2015-03-09 20:19] ccordoba12 commented on #1957
Damn! I thought this time it was going to work :-(

I'd really appreciate your help to build a workable Python 3 app, thanks!! Please keep posted here or on issue #2089. I'll be more responsive this time (sorry for last time, I was really busy ;-)

[2015-03-09 20:46] statmobile commented on #1957
No need to apologize, I'm more than happy to help you now.  I'll start working on building it tonight and keep you updated on this issue report unless you prefer to move to the discussion to the other one.

[2015-03-09 22:32] ccordoba12 commented on #2151
I can't reproduce this error. I think this was fixed in 2.3.3 because `columnCount` doesn't return `self._data.shape[1]` anymore.

[2015-03-09 22:32] #2151 closed

[2015-03-09 23:42] ccordoba12 commented on #1957
Please report progress here, thanks :-)

[2015-03-09 23:46] ccordoba12 commented on #2089
Let's merge this one with #2171

[2015-03-09 23:46] #2089 closed

[2015-03-09 23:51] ccordoba12 commented on #2171
Hey @AndySomogyi, I hope you're the same one as in Google Code. Let's continue the discussion here :-)

[2015-03-09 23:58] ccordoba12 commented on #1955
@fizyxnrd the Python and IPython consoles are independent, so this is very strange.

Besides, I can't reproduce this issue at all, neither on Windows or Linux, so I don't know what to do.

[2015-03-10 00:08] ccordoba12 commented on #1529
This is not an error anymore. It seemed a problem just with guiqwt, so please report the problem with its maintainers.

[2015-03-10 00:08] #1529 closed

[2015-03-10 00:25] SylvainCorlay commented on #2210
@wigging, you can already take a look at https://github.com/spyder-ide/pyqtawesome (and the provided example), it enables any font-based icon set, and currently embeds [Font Awesome](http://fortawesome.github.io/Font-Awesome/) and [Elusive Icons](http://elusiveicons.com/). It is very easy to dynamically load other iconic fonts, hence I will probably create a custom font with spyder-specific things

[2015-03-10 00:47] SylvainCorlay commented on #950
@flying-sheep I am looking at the `QIcon.fromTheme` API which is quite nice. Even if we don't use it *per se*, we could follow that Qt idiom to handle themes, or even third-party themes and fallback icons.

How about we continue this discussion in Issue #2210 ? (will close this issue if everyone is ok.)

[2015-03-10 00:48] SylvainCorlay commented on #1116
Closing to the benefit of #2210.

[2015-03-10 00:48] #1116 closed

[2015-03-10 02:23] cherlihy opened #2228 "Shortcut to run cells on Mac is not working"
for running a snipet of code, it seems the mac version is not working.
ctrl + enter deletes the code in mac. and thats what software suggests. Am I am missing something? or there is not hot key for mac.
Thanks,
C.

[2015-03-10 04:01] Tyrn opened #2229 "Shift+Tab is not present"
Neither Shift+Tab nor its functionality (show function signature?) is present. In Preferences->Keyboard shortcuts there are just Shift+Ctrl+Tab and Ctrl+Tab, nothing else. Reset to default values applied.

Spyder 2.3.2
Python 3.4.3 64bits, Qt 4.8.6, PyQt4 (API v2) 4.11.3 on Linux

[2015-03-10 08:39] flying-sheep commented on #950
ok, let’s discuss elsewhere

[2015-03-10 08:46] flying-sheep opened #2230 "Use QIcon.fromTheme() for icons"
like discussed in #950, #2210 advances the icons.

so let’s do it right and use `QIcon.fromTheme`. we’ll have to simply
1. put the icons into a freedesktop icon theme spec compatible directory (e.g. [like here](https://projects.kde.org/projects/kde/workspace/breeze/repository/revisions/master/show/icons)), and bundle this directory as QResources in `':/icons'`.
2. anywhere we want to use an icon,

[2015-03-10 13:02] 0u812 commented on #2209
Sure thing! But I'm traveling right now and have intermittent internet
access. Can't seem to get through to the downloads. I'll try again later.

On 3/9/15 9:15 PM, Carlos Cordoba wrote:

[2015-03-10 13:28] wigging commented on #2210
@SylvainCorlay Can you provide instructions in the PyQtAwesome README on how to run the example?  I'm not familiar with PyQt, most of my Python work deals with numerical computations and data analysis.

[2015-03-10 14:18] Nodd commented on #1851
Additional information: the "segmentation fault" message is actually printed by the shell executing the program, not by the program itself, that's why redirecting stdout and stderr is not enough. Spyder has to check the return status of the command to know what the error was, and print a message accordingly.

What I still don't know is how to differentiate a program exiting with a segfault or an e

[2015-03-10 14:48] ccordoba12 commented on #2228
Please report at least your Spyder version. Besides, what does it mean *what the software suggests*?

[2015-03-10 14:52] ccordoba12 commented on #2228
Another question: have you tried to use `Cmd+Enter` instead of `Ctrl+Enter`?

[2015-03-10 14:58] ccordoba12 commented on #2229
@Tyrn, there are two things I'd like to say:

1. `Shift+Tab` is not part of `Preferences > Keyboard Shortcurs` because it's a fixed shortcut (i.e. it can't be changed).
2. What's exactly the function of which you can't the signature?

@blink1073, could you check this one (given that you created the `Shift+Tab` functionality)?

[2015-03-10 15:01] ccordoba12 commented on #2230
But this would be useful only for Linux, right?

[2015-03-10 15:07] ccordoba12 commented on #1948
I know what's the problem with this one. I'll fix it for 2.3.4

Thanks for insisting with it :-)

[2015-03-10 15:31] blink1073 commented on #2229
I can confirm that introspection is not working with Spyder 2.3.3 Python 3.4.3 64bit using Anaconda on Linux.  I'll take this one.

[2015-03-10 15:37] ccordoba12 commented on #2229
Great!! Thanks a lot ;-)

[2015-03-10 15:42] goanpeca commented on #2210
@wigging, you just need to open the example from wthin Spyder and run it. Assuming you have installed Qt4, then it should display a QWidget with some buttons already using the icons.

[2015-03-10 15:43] blink1073 commented on #2229
It works fine in the latest master using the same setup.

[2015-03-10 15:43] blink1073 commented on #2229
I tested with:

[code]

[2015-03-10 15:46] ccordoba12 commented on #2229
I don’t remember to have changed anything about it. Maybe |git bisect|
(or is it |git blame|?) can help here.

El 10/03/15 a las 10:43, Steven Silvester escribió:

​

[2015-03-10 15:58] blink1073 commented on #2229
The ability to use Shift+Tab was a PR on Bitbucket and might not have been in the 2.3.2 release. https://bitbucket.org/spyder-ide/spyderlib/pull-request/12/add-ability-to-re-trigger-docstring-while/diff#chg-spyderlib/plugins/inspector.py.

[2015-03-10 16:09] flying-sheep commented on #2230
it would be most useful for linux at first yes.

but we can also allow the user to specify a theme name, and append more theme directories to the theme search path.

note that i was wrong: the last item in `themeSearchPaths` already is `':/icons'`, so if we bundle our icons as qresources in this resource folder, we don’t have to do *anything*, just call `QIcon.fromTheme('iconname')`. awesome! we j

[2015-03-10 16:18] HamsterHuey commented on #1948
Glad to hear that! Thanks for all the hard work on Spyder! :)

[2015-03-10 16:22] flying-sheep commented on #2210
hey guys, you’ve missed something. there already is a standard mechanism for icons in Qt.

i describe the advantages in #2230.

it should be easy to use the SVG version of the fontawesome icons as freedesktop-style icon theme (aka give them certain names and throw them into a directory), bundle them in the QResource folder `':/icons'`, and be done.

[2015-03-10 16:41] ccordoba12 commented on #2230
My thoughts:

1. It's cool that Spyder could blend with the default appearance in KDE or Gnome. The problem with this is that we would (probably) need to provide native versions for icons not present in breeze or faenza but needed in Spyder. This seems like too much work.

2. I'll leave it to @SylvainCorlay to decide if we want to support this. I've to say that I'm -1 on this. I think it's better

[2015-03-10 17:06] flying-sheep commented on #2230
1. no we wouln’t. in those cases the system would automatically fall back to the bundled icons. it’s a really simple algo. it simply tries all  paths, the last of which being the qresource path i mentioned (aka bundled icons). it creates and uses the first found icon
2. > I think it's better to make Spyder to look the same on all platforms

   sorry, but not accepted. that’s appropriate for a webs

[2015-03-10 17:21] AndySomogyi commented on #2171
Hi, yes thats me.

However, after evaluation of a number of other python applications built with PyQT, we have decided that Python is unfortunately not a viable alternative to MATLAB, and have decided to move back to MATLAB.

[2015-03-10 18:30] ccordoba12 commented on #2171
Too bad to hear it. Would you mind to share what were your reasons to finally decide against Python?

[2015-03-10 18:35] ccordoba12 commented on #2230
1. Exactly my point. It's not possible for our set of icons to go well with all other sets out there. That would make Spyder look even uglier, in my opinion.

2. Please tone down your comments. So far nobody has asked that Spyder should use the same icons as those used by the operating system, so I don't regard this as a so touchy issue.

3. We'll see, that's to be decided among the core devs.

[2015-03-10 19:58] s0r2637 opened #2231 "Master has issues when plotting graphs through matplotlib in Python consoles"
Hi,

I recently downloaded Spyder 2.4.0dev from GitHub and I am seeing the following problem.

import numpy as np
import matplotlib.pyplot as plt
x = np.linspace(0,90,10)
y = np.sin(x)
plt.figure()
plt.plot(x,y,'o')
plt.show()

I don't see the plot.  It seems like it never created it.

Best Regards

[2015-03-10 20:05] ccordoba12 commented on #2229
Upsy daisy, I didn't remember that ;-) I didn't backport that pull request to the 2.3 branch, so this functionality won't be available until our next major release (i.e. 2.4).

Sorry for directing you in the wrong direction @Tyrn.

[2015-03-10 20:09] ccordoba12 commented on #2229
No, wait. I just saw the Changelog for **2.3.0** and there is a mention to `Shift+Tab`, so if it's not working on 2.3.3 is a regression.

[2015-03-10 20:10] ccordoba12 commented on #2229
Can you confirm @blink1073?

[2015-03-10 20:36] AndySomogyi commented on #2171
95% of the problem was PyQt. Maybe its OK on Windows, but I'm sorry, its train wreck on OSX. It does such a bad job of emulating the native tool kit, that I had to change it to use another skin like CDE or Windows. Combine that with random crashes, and this issue that Spyder takes 30 minutes to start on OSX.

As a language, I don't have any major issues with Python, well other that the global inte

[2015-03-10 20:47] #1380 closed

[2015-03-10 20:47] #1948 closed

[2015-03-10 20:47] #1952 closed

[2015-03-10 20:47] #2158 closed

[2015-03-10 21:53] #2081 closed

[2015-03-10 22:08] ccordoba12 commented on #2231
Are you using the Python or the IPython console?

[2015-03-10 22:15] s0r2637 commented on #2231
I am using the Python console.

Srini
On Mar 10, 2015 5:08 PM, "Carlos Cordoba" <notifications@github.com> wrote:

[2015-03-10 22:22] ccordoba12 commented on #2231
What platform you're working on? What's your matplotlib backend?

[2015-03-10 22:25] s0r2637 commented on #2231
I am running on Ubuntu 14.04. Matplotlib backend is 1.3.1.

Srini
On Mar 10, 2015 5:22 PM, "Carlos Cordoba" <notifications@github.com> wrote:

[2015-03-10 23:43] flying-sheep commented on #2230
I just wanted to stress that this is important.

a cross platform application should behave well on all platforms.

and on Linux this means:

1. don't use your own notifications, use the Staten service
2. use the XDG spec for your config and cache files.
3. use the system widget set and colors
4. use the system icon theme

[2015-03-11 00:58] blink1073 commented on #2229
What am I confirming?  It works in the latest master and not in 2.3.3, if that's what you mean.

[2015-03-11 08:24] goanpeca commented on #2230
I agree with @ccordoba12,

1. Having some icons use the native theme, but the other icons (on fallback) using the spyder "native" theme would make the GUI look really unprofessional and ugly.

1. Even if having a single icon set in a cross platform application will inevitably result in mixing of the overall look of a GUI (native widgets) plus non native icons (spyder icons), it would still look be

[2015-03-11 10:12] flying-sheep commented on #2230
my point is that with my approach, we leverage a built-in mechanism that can do everything you two want:

1. support high-DPI images
2. allow clean code without direct references to resource names

and on top of that also allows using the native icon theme without extra effort (what every linux user wants)

PS: did you have a look at breeze?

the action icons (i.e. what is used in a application to

[2015-03-11 11:00] goanpeca commented on #2230
As I said earlier, there is no problem with using Theme approach (the dev team is aware of this), still it would result in mixing icons from whatever theme is on the OS and breeze icons + customs icons (in case the OS theme does not have the icon).

How would this look good in all the different theme options available in Mac, Windows, and Linux?

[2015-03-11 14:23] flying-sheep commented on #2230
github isn’t the big part of its story.

the icons are now a part of KDE, where they’ll be used to provide icons for [many of those applications](http://en.wikipedia.org/wiki/List_of_KDE_applications).

look e.g. into [this directory](https://github.com/NitruxSA/plasma-next-icons/tree/master/Breeze/actions/toolbar). here’s the list of icons that start with “document”, “edit”, “debug”, “code”, “go”

[2015-03-11 15:03] ccordoba12 commented on #2230
Ok, we are not going to maintain this discussion forever. This is my final take on this:

1. If @SylvainCorlay and @goanpeca want to support native themes, then we'll have it. If not, too bad.

2. Native themes (if supported) are *not* going to be the default. If people wants them, then they'll have to:

    a. Opt in to them.
    b. Put up the ugly mix of native and our own icons.

3. XDG is *not

[2015-03-11 15:09] ccordoba12 commented on #2230
One final thing: if someone else (besides @SylvainCorlay and @goanpeca) wants to implement native themes, she is welcome to make a pull request to make it happen, as long as she abides the conditions mentioned above.

[2015-03-11 15:40] sbyrnes321 opened #2232 "Editor raises TypeError"
This error occurs in the Ubuntu 14.10 repository versions of Spyder, both Python 2 and Python 3, i.e.

Spyder version 2.3.0
Python 3.4.2 64bits, Qt 4.8.6, PyQt4 (API v2) 4.11.2 on Linux --- or --- Python 2.7.8 64bits, Qt 4.8.6, PyQt4 (API v2) 4.11.2 on Linux

Steps to reproduce:

* Open a blank file in the editor
* Copy the following two lines into the editor
[code]
* On the next line, type ``fn()

[2015-03-11 16:09] mikofski commented on #2188
This snippet checks if spyder is being installed from a bdist_wininst .exe archive on a Windows machine or something from else, eg pip. It checks for several attributes that are available when using bdist_wininst ie `file_created`, `create_shortcut()` and `get_special_folder_path()` and if it doesn't find them, creates dummy functions that do the same thing.

[2015-03-11 16:52] flying-sheep commented on #2230
please don’t take this as personal attack, but i really don’t understand your decision making.

if you follow some other person’s/project’s lead then you need to make sure the situations and problems are comparable.

they did it because they are dependent on users manually finding and editing the files. ipython consists of multiple parts that all draw from the same configuration. some are TUI, som

[2015-03-11 17:40] ccordoba12 commented on #2188
I understand now, but please do a pull request for this.

[2015-03-11 17:46] ccordoba12 commented on #2230
Don't worry, I know you're not attacking us :-)

Another reason for IPython to finally not go with XDG (and the most important one for me) is that is harder to point people to where configuration files reside, in a simple and multi-platform way.

I think that's a valid reason, and why I decided to not follow XDG.

[2015-03-11 19:22] ccordoba12 commented on #2104
I really don't know how to solve this one for our Python consoles because we don't have a way to know if the interpreter is waiting for input or not.

[2015-03-11 20:10] flying-sheep commented on #2230
yes, i know! my point is that it’s a valid point for *them*, as they actually do have to point people to the config file on a regular basis, unlike us who point people to the settings dialog instead.

[2015-03-11 20:21] ccordoba12 commented on #1860
I plan to solve this in the right way in 2.4. If we'd try to do it now, it'd be quite hacky.

[2015-03-11 20:26] #2058 closed

[2015-03-11 20:26] #2146 closed

[2015-03-11 20:26] #1568 closed

[2015-03-11 20:38] #1845 closed

[2015-03-11 20:47] ccordoba12 commented on #2232
I think this was fixed in 2.3.1 or 2.3.2. Please update and test again.

[2015-03-11 21:16] ccordoba12 opened #2234 "Object Inspector is not showing "No documentation available" for objects without docstring"
It seems Jedi returns `<no docstring>` instead of an empty string for objects without docstring. This prevents the Object Inspector to show the *No documentation available* warning page.

[2015-03-11 21:16] ccordoba12 commented on #2234
@blink1073, can you take a look at it?

[2015-03-11 21:19] ccordoba12 commented on #2232
I tested your example and this is not a problem in 2.3.3.

[2015-03-11 21:19] #2232 closed

[2015-03-12 00:17] sbyrnes321 commented on #2232
Thank you!!

[2015-03-12 00:39] ccordoba12 commented on #2232
You're welcome :-)

[2015-03-12 00:53] #1856 closed

[2015-03-12 00:59] ccordoba12 commented on #2229
Sorry @blink1073, you're right. I misunderstood you :-)

@Tyrn, you need to press `Shift+Tab` as @blink1073 pointed in an example above, i.e. after a comma or in blank space. That will give the signature again at any moment while writing the args of function or method.

[2015-03-12 01:00] #2229 closed

[2015-03-12 01:02] ccordoba12 commented on #2231
I don't know what can be happening, but please try to use the IPython console instead. It has much better support for matplotlib.

[2015-03-12 01:04] s0r2637 commented on #2231
I wanted to know first if you see the same problem.  Also, Spider 2.2.5
works fine.

Srini
On Mar 11, 2015 8:02 PM, "Carlos Cordoba" <notifications@github.com> wrote:

[2015-03-12 01:06] ccordoba12 commented on #2187
This seems to be (very strange) problem with zmq, according to your last error report. So I'm closing this because it's not a Spyder error.

[2015-03-12 01:06] #2187 closed

[2015-03-12 01:08] ccordoba12 commented on #2188
Could you also comment what's the exact problem that your snippet solves? Is it that you can't install Spyder on Windows using pip because of the lack of it?

[2015-03-12 01:10] ccordoba12 commented on #2166
Closing because of lack of response.

[2015-03-12 01:10] #2166 closed

[2015-03-12 01:17] ccordoba12 commented on #2231
Yes, you're right!! This is a real bug :-)

[2015-03-12 03:45] mikofski commented on #2188
On Windows, if user installs spyder using pip, then tries to run the win_post_install script, to add the start menu shortcuts which are quite nice, especially for less savvy, terminal-phobic users which spyder is a good choice for (ie: MATLAB converts), the user will get a nasty traceback because some of the module level attributes are only available when this script is part of a bdist_wininst

[2015-03-12 14:03] eikehein commented on #2207
Tested (sorry for the long wait), looks fine now!

[2015-03-12 14:41] ccordoba12 commented on #2207
Great!!

El 12/03/15 a las 09:03, eikehein escribió:

[2015-03-12 15:11] dhirschfeld opened #2235 "Error when running Spyder with Python 2 and PyQt5"
My PyCharm complains loudly about [this](https://github.com/spyder-ide/spyder/blob/master/spyderlib/plugins/__init__.py#L164) line.

I don't have PyQt5 so this doesn't affect me but I thought I'd nevertheless bring it to attention.

[2015-03-12 15:23] ccordoba12 commented on #2235
What does PyCharm says about it? That is not Python 3 compatible?

[2015-03-12 15:48] petebachant opened #2236 "Add option to open external command prompt from file explorer"
Since the internal consoles can't do SSH it seems, it would be nice to have the option open an external cmd or Bash window. A Git Bash (if applicable) would nice too.

[2015-03-12 15:57] ccordoba12 commented on #2236
It's not that hard to do but we are really busy right now :-)

[2015-03-12 16:23] goanpeca commented on #2127
@ccordoba12

[2015-03-12 16:24] goanpeca commented on #2127
@ccordoba12

In what part do you think it would be best to introduce the breakpoint context? On top? or?

![image](https://cloud.githubusercontent.com/assets/3627835/6622370/82b1a838-c8dc-11e4-9433-bc286246f40e.png)

[2015-03-12 16:38] RafiKueng opened #2238 "Preserve size in status bar widgets"
this is only a very minor visual bug, that is most probably not important for other people, but it really distracts me..

could you make the status bar (bottom bar) have fixed field sizes? my cpu usage usually hovers around 8-12%, always jumping between one and two digit, making the whole status bar move a little bit to the left.. and catching my attention.. changing numbers are ok, shifting layou

[2015-03-12 16:58] petebachant commented on #2236
I will give it a shot when I have some time!

[2015-03-12 20:50] #950 closed

[2015-03-12 21:05] SylvainCorlay commented on #2230
Ok, here are the different reasons for our choices so far:

- I think that everyone agrees that vector icons are the way to go,especially since people were complaining that png icons were ugly on retina display.
- SVG is not well supported in PySide and PyQt4, which we still support
- Even on platforms where SVGs are supported, and even when SVGs will be supported everywhere, they are much more ge

[2015-03-12 21:13] SylvainCorlay commented on #2230
Keeping this one open for now since there has been a lot of discussions here. Will probably close when some new icon set lands into Spyder.

[2015-03-12 21:53] ccordoba12 commented on #2238
If you could look at this one, the better ;-)

[2015-03-13 11:17] Arfrever opened #2239 "SyntaxErrors with Python 3.2"
[code]

[2015-03-13 12:20] flying-sheep commented on #2230
good points, but i disagree about performance:

Qt renders the SVG icons *once* for every used size, and caches them. that hardly makes any impact.

also the restrictiveness with one color isn’t a good thing. when you look at the (sparingly used) color in the breeze icon set, you’ll see that it draws attention to the right things and is an improvement in terms of usability (especially for user ove

[2015-03-13 13:37] blink1073 commented on #2234
Here's what I see (which was part of my last PR on Bitbucket), which I think is preferable since it at least shows some information about the function.

![screenshot from 2015-03-13 08 35 55](https://cloud.githubusercontent.com/assets/2096628/6639240/fed9bd40-c95b-11e4-98eb-6afa254acb5d.png)

[2015-03-13 17:04] statmobile commented on #1957
Hey Carlos,
I'm getting ready to jump back in to compiling Spyder for Python 3 on OS X.  A couple things just to confirm:

* Since you've moved to github, is the following still relevant from bitbucket, or is there an updated file in the new repo:
https://bitbucket.org/spyder-ide/spyder-mac-app/src/8678bee94f6632753089949f165926164dadc8a0/Howto%20build%20the%20app.md?at=default
* You said to compi

[2015-03-13 17:29] mayouf opened #2240 "How do we add a "Ctrl+enter" shortcut for F9 (W7 - anaconda)"
Any idea how to set "Ctrl+enter" instead of F9 to run the current line cursor ?

When I try to set it in "preference"

[2015-03-13 17:32] mayouf commented on #2240
When I try to set it, it just proposes the Alt, Shift and Ctrl keys separately for shorcuts.

To replace F9, the same, only one key is proposed ? What if I want to set a shortcut like this: Ctrl+A+Enter" ???

Sorry if my question seems stupid, It's been a while im trying to figure it out !!!

thanks,

![spyder shorcut](https://cloud.githubusercontent.com/assets/5865600/6643722/faecca6c-c9ae-11e4-8

[2015-03-13 18:02] mayouf opened #2241 "autocompletion editor"
Can someone help me pls ??

Is it possible to use the autocompletion in the editor ? the console works fine.

Spyder is amazing, and im sure this functionality is here but i cant find it !!

![autocompletion here](https://cloud.githubusercontent.com/assets/5865600/6644336/49ffc902-c9b3-11e4-83e8-1082042b8bd5.png)

[2015-03-13 18:04] petebachant commented on #2236
Did a little work on this. Any idea where the code for `self.parent_widget.open_terminal` etc is located?

[code]

[2015-03-13 18:33] blink1073 commented on #2241
Hi @mayouf.  The editor does not know about variables in the console.  You must define the variable in the editor to get completion on it.

[2015-03-13 19:45] Nodd commented on #2234
Maybe ```No documentation available.``` would be better than ```<no docstring>``` which looks too computer-y. A full sentence (even without a verb) is nicer than an html opening tag...

[2015-03-13 20:07] Nodd commented on #2230
I arrive a bit late in the discussion, sorry. I won't go against current conclusions, but I think it would be a good idea to at least follow the standard name for icons that exists, and find non-clashing names for the others, so that it's easier to go either way if we want to change our minds later. I don't know if it is (or can be made) compatible with Font Awesome, however.
@flying-sheep since y

[2015-03-13 20:16] Nodd commented on #2127
"Go to line..." should stay first, I'd put the breakpoint options right after it.

I'm not sure if the other options are that useful here, but there is no harm in keeping them since the menu is quite short.

[2015-03-13 20:21] blink1073 commented on #2234
<fine>

[2015-03-13 20:24] Nodd commented on #1952
Hey, thanks for fixing this !

[2015-03-13 20:45] ccordoba12 commented on #1952
You're welcome :-)

[2015-03-13 20:54] ccordoba12 commented on #2241
Of course. If you write

    a = "kjb"

in the Editor, before writing

print a.

you'll get the same completions as in the console.

[2015-03-13 20:54] #2241 closed

[2015-03-13 20:57] ccordoba12 commented on #2240
This is not possible. `Ctrl+Enter` is a fixed shortcut, and it's used to evaluate a cell, which is a portion of a file defined between comments of the form `#%%`. Something like

    #%%
    print("a")

    #%%

[2015-03-13 20:57] #2240 closed

[2015-03-13 20:58] ccordoba12 commented on #2239
Are these all errors you found?

[2015-03-13 21:00] blink1073 commented on #2239
The unicode literal was added in 3.3:  https://www.python.org/dev/peps/pep-0414/

[2015-03-13 21:43] flying-sheep commented on #2230
[i like helping](https://github.com/takluyver/IRkernel/issues/5#event-252348142), but only if there’s a future to the work. as it looks now i’d like to have confirmation that using native icon themes will be an option before i do something pointless.

KDevelop uses native icons only.

that’s only if you use SVGs created for big resolutions. breeze aligns their icons according to a pixel grid of a

[2015-03-13 22:23] goanpeca commented on #2127
:+1:

[2015-03-13 22:49] Nodd commented on #2239
The first one should be ``` if not to_text_string(text):```

[2015-03-14 03:10] ccordoba12 commented on #2239
I'll fix the error in `pygments_patch` for *2.3.4*. The others were introduced by @goanpeca.

But I think we should just drop support for 3.2 for *2.4* because very few people are running Spyder there (that I know of).

@spyder-ide/core-developers, what do you think?

[2015-03-14 03:14] blink1073 commented on #2239
I say dump it!  Matplotlib dropped 3.2 support recently.  I've been trying to get scikit-image to drop it...

[2015-03-14 06:33] s0r2637 commented on #2231
Hi,

Did you get a chance to figure out the problem?  If not, I wanted to know
if I can install Spyder 2.3.3 from GitHub.  If so, how do I clone Spyder
2.3.3 version in particular?

Best Regards,
Srini

On Wed, Mar 11, 2015 at 9:17 PM, Carlos Cordoba <notifications@github.com>
wrote:

[2015-03-14 08:17] yuxiaorui opened #2244 "ValueError: numpy.dtype has the wrong size, try recompiling"
root@bogon:~/Desktop# spyder
Traceback (most recent call last):
  File "/usr/local/bin/spyder", line 4, in <module>
    __import__('pkg_resources').run_script('spyder==2.3.3', 'spyder')
  File "/usr/local/lib/python2.7/dist-packages/setuptools-14.0-py2.7.egg/pkg_resources/__init__.py", line 698, in run_script
    self.require(requires)[0].run_script(script_name, ns)
  File "/usr/local/lib/python2.

[2015-03-14 08:23] goanpeca commented on #2239
I am :+1: on dumping it!

[2015-03-14 08:28] goanpeca commented on #2239
But I will fix it nevertheless. The package manager has some issues right now besides that, and will get fixed soon. I am normally only testin py2.7 and py3.4 on linux and 3.3 on win (what i can get install with anaconda)

[2015-03-14 09:03] stonebig commented on #2239
anaconda can't get install 3.4 on win ?

[2015-03-14 10:23] goanpeca commented on #2239
I rephrase... I normally use: Lin (2.7, 3.4) and on win (2.7, 3.3, 3.4)

[2015-03-14 21:19] ccordoba12 commented on #2244
This is not a Spyder error, as can be seen from the entire traceback. It seems you have compiled numpy and scipy by hand, so you have to figure it our what you've done wrong.

I'm sorry but we don't have time to help you with that. I'd recommend you to use [Anaconda](http://continuum.io/downloads.html) which won't give you these problems.

[2015-03-14 21:19] #2244 closed

[2015-03-14 21:26] Stretch97 opened #2245 "Importing a module with debugger causes "TypeError: decoding Unicode is not supported""
## Description

* *What steps will reproduce the problem?*
1. Create a module with nothing in it except "print 'It worked!'"
2. Double click the line number in the module with the print statement to create a breakpoint.
3. Create a script that does nothing besides import the module
4. Run the script with the debugger.

* *What is the expected output? What do you see instead?*

Expected output: 'It

[2015-03-14 21:39] Stretch97 opened #2246 "Cannot import Scipy modules"
## Description

* *What steps will reproduce the problem?*
1. Run a script with "import scipy.optimize", or any other scipy module.

* *What is the expected output? What do you see instead?*

Expected output: quiet import without any error messages

Observed output:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/(username)/Library/Enthought/Canopy_64bit/Us

[2015-03-14 22:22] #2239 closed

[2015-03-14 22:28] ccordoba12 commented on #2239
@goanpeca, don't worry about it. I'm going to follow @blink1073 advice and drop support for Python 3.2 (and 2.6 too) in our next major release. Since your contributions are planned for that release, you don't need to fix those `u'` cases.

It doesn't make sense to try to support versions which we are not able to test easily, but thanks @Arfrever for letting us know about the problem in `pygments_p

[2015-03-14 22:43] ccordoba12 commented on #2036
I don't know what that theme is. I only can confirm that using the default Ubuntu themes (Ambiance and Radiance), this is not a problem.

[2015-03-14 22:50] ccordoba12 commented on #2245
Sorry for the problem. I introduced this bug when trying to fix debugging of non-ascii files on Windows. I'll fix it in 2.3.4

[2015-03-14 22:52] ccordoba12 commented on #2246
Really weird issue. i don't know what can be happening in this case.

[2015-03-14 22:58] ccordoba12 commented on #1955
Until I've been able to reproduce this issue, or someone tells me how to do it, I'm afraid I couldn't solve it.

@Thav or @fizyxnrd , are you using an external Python interpreter or anything different from a regular setup?

[2015-03-14 23:01] ccordoba12 commented on #1831
@divenex, after many hours spent on this issue, I can say that it's very tricky and far from trivial to fix on Windows.

I'll consult some friends to try to solve it for 2.4. Sorry for the bad news.

[2015-03-14 23:19] ccordoba12 commented on #2145
We'll see what we can do about it for our next major release.

[2015-03-14 23:24] ccordoba12 commented on #1992
@blink1073 and @goanpeca, what do you think about this one? This is an issue for people that comes from Matlab and are accustomed to press **Run** and enter in debug mode if there are breakpoints present.

But if we'd follow that path, how we'd let people to run a file in a different console without entering debugging? The easy thing with Matlab is that it has only one console (I think) but we can

[2015-03-14 23:26] ccordoba12 commented on #1992
One middle point could be to show a modal dialog asking people if they want to run or debug, but usually people discards modal dialogs without reading them.

So the key with modal dialogs is to offer good defaults.

[2015-03-14 23:28] blink1073 commented on #1992
Crazy thought - if using an existing console, add set_trace on those lines with proper indent.

[2015-03-14 23:37] ccordoba12 commented on #1992
Which would be equivalent to use `keyboard`'s in Matlab, right? Mmmh, I don't know. I think we should create our own `keyboard` functionality (by adding it to `builtins` as `runfile`) but leave breakpoints as they are to not confuse things.

[2015-03-14 23:49] blink1073 commented on #1992
My idea is to use `sys.set_trace` and add listeners for the line numbers, then use `from IPython import embed; embed()`.

http://pymotw.com/2/sys/tracing.html

[2015-03-15 00:20] ccordoba12 commented on #1992
I almost sure that doesn't work on qtconsole. I have a plan for a workaround to this, as described in https://github.com/spyder-ide/spyder/issues/1864#issuecomment-74754306

[2015-03-15 02:52] blink1073 commented on #1992
That seems crazy enough to work!

[2015-03-15 06:43] stonebig commented on #1831
hi,

Going back to initial problem.
with spyder launching in the current python IDE style console

When it doesn't run, i go to the console, and I type <ENTER> one or twice.
Suprise, it works.

==> I Guess it's related to a return line issue:  <CRLF>, <LF>, or <CR> .

[2015-03-15 08:51] goanpeca commented on #1992
I am lost in this conversatin :s

[2015-03-15 14:30] ccordoba12 commented on #1992
@goanpeca, this issue is about using `debugfile` if the user press the **Run** button or **F5**, when there are breakpoints present in a file.

People thinks breakpoints are not working because **Run** doesn't enter debug as in Matlab.

[2015-03-15 14:32] fizyxnrd commented on #1955
I don't know that it helps reproduce, but here's an additional symptom:

# from the console
  Import numpy
  numpy.abs(  # produces documentation

  import numpy as np
  np.abs( #fails to produce documentation

Things still function normally once the package has been imported in ipython console; numpy must be imported as np in ipython console, however, or the `np.abs(` call still fails to produce

[2015-03-15 15:07] ccordoba12 commented on #2231
git checkout v2.3.3

El 14/03/15 a las 01:33, s0r2637 escribió:

[2015-03-15 23:56] Nodd opened #2248 "ImportError: No module named 'conda_api_q'"
## Description

* *What steps will reproduce the problem?*
1. Start spyder

* *What is the expected output? What do you see instead?*

I see the following traceback in the internal console:
[code]

* *Please provide any additional information below*

I don't have Anaconda on this computer.

## Version and main components

* Spyder Version:  2.4.0dev
* Python Version:  3.4.3
* Qt Version    :  4.8.

[2015-03-16 00:03] Nodd opened #2249 "TypeError: 'method' object is not connected: self.timer.timeout.disconnect(self.show_time)"
## Description

* *What steps will reproduce the problem?*
1. Run a program more than once

* *What is the expected output? What do you see instead?*
I see this traceback in the internal console:
[code]
* *Please provide any additional information below*

The error is not shown when I run the program the first time, and is then shown once for each additional run.
Each program are independant: if I

[2015-03-16 00:05] Nodd opened #2250 "IPython 3.0 is showing a deprecation warning in the Internal Console"
## Description

* *What steps will reproduce the problem?*
1. Start spyder

* *What is the expected output? What do you see instead?*
I see this warning in the internal console:
[code]
* *Please provide any additional information below*

Is it because I have IPython 3.0 ?

## Version and main components

* Spyder Version:  2.4.0dev
* Python Version:  3.4.3
* Qt Version    :  4.8.6, PyQt4 (API v2)

[2015-03-16 00:08] #2032 closed

[2015-03-16 00:08] #2245 closed

[2015-03-16 00:12] ccordoba12 commented on #2249
I'll check this error after I release 2.3.4. This is a consequence of moving to the new style for slots and signals, so the stable branch (2.3) is not affected by it.

[2015-03-16 00:12] Nodd commented on #2239
:+1: for dropping 2.6 and 3.2. It is coherent with the compatibility with Qt5, new-types signals... Spyder is getting some fresh air !

[2015-03-16 00:19] #2234 closed

[2015-03-16 00:28] Stretch97 commented on #2245
Great.  Thanks for the quick fix!

[2015-03-16 00:39] ccordoba12 commented on #2250
Thanks @Nodd. We'll fix it when updating the minimal required IPython to be **3.0+**

[2015-03-16 02:36] ccordoba12 commented on #1959
This is not an issue in PyQt4 either. The most probable cause is that you're mixing PySide and PyQt4 in your code.

[2015-03-16 02:36] #1959 closed

[2015-03-16 03:41] #1366 closed

[2015-03-16 03:49] SylvainCorlay commented on #1992
My 2 cents on this one: in the short period where I used Matlab, I found the behavior of Matlab with debug/run mode misleading.

[2015-03-16 05:53] ccordoba12 commented on #2034
@jondo, the best I could come up with is making the **Debug** button to continue until the first breakpoint when pressed. It's really hard to associate this functionality to the **Continue** button because I don't know how to tell (from a programmatic point of view) if a console is in debugging mode or not.

Of course, this will work if the user has set at least one breakpoint in the current file.

[2015-03-16 05:56] ccordoba12 commented on #2034
I'll push my fix for this one tomorrow.

[2015-03-16 09:19] michalgregor opened #2251 "Spyder crashing on very long output"
Spyder Version:  2.3.0rc
Python Version:  3.4.0
Qt Version    :  4.8.6, PyQt4 (API v2) 4.10.4 on Linux
pyflakes >=0.6.0:  0.8.1 (OK)
pep8 >=0.6      :  1.4.6 (OK)
IPython >=0.13  :  None (NOK)
pygments >=1.6  :  1.6 (OK)
sphinx >=0.6.6  :  1.2.3 (OK)
psutil >=0.3    :  1.2.1 (OK)
rope >=0.9.2    :  0.9.3 (OK)
matplotlib >=1.0:  1.4.3 (OK)
pylint >=0.25   :  1.1.0 (OK)

What steps will reproduce th

[2015-03-16 10:11] goanpeca commented on #2248
hmm thats funny... will take a look

[2015-03-16 14:55] ccordoba12 commented on #2251
@michalgregor, thanks a lot for taking the time to post your issue report here. Unfortunately, your patch is unreadable because you changed the end-of-lines of `baseshell.py`, and so the patch is equivalent to the entire file! :-)

Could you open a pull request with your changes so that it be easier for us to review and merge?

Besides, your links (i.e. *trace* and *patch*) are giving 404 errors o

[2015-03-16 14:56] ccordoba12 commented on #2054
This seems to require more discussion and implementation details to do it in a bugfix release.

[2015-03-16 15:00] ccordoba12 commented on #2054
@fangohr, I'd like to know your opinion about this issue (given that you've taught several courses with Spyder): do you think it'd better to change the default backend of our IPython consoles to Automatic, so that figures pop up in an external window instead of appearing inline?

Some people have complained about it, saying that that would be more intuitive for people coming from Matlab.

[2015-03-16 15:03] ccordoba12 commented on #2054
Pinging also @aroberge, who I think is also interested in this issue.

[2015-03-16 15:08] #2034 closed

[2015-03-16 15:22] aroberge commented on #2054
While I'm definitely interested, I can't claim to have enough experience to formulate a strong opinion one way or the other.

[2015-03-16 15:22] fangohr commented on #2054
Hi all, I'd prefer to stick to 'inline': this is the more logical way to do it as it documents how people change their code to change the figures (working towards the ipython notebook).

It is correct that Matlab works differently, and if the objective is to convince people that Spyder/Python is a bit like (or a better) Matlab, than the qt behaviour would be more natural.

Overall, I have a prefer

[2015-03-16 15:41] ccordoba12 opened #2252 "Update French translations for 2.3.4"
@SylvainCorlay or @Nodd, could you help me with this one? As always, please remember to do the PR against the **2.3** branch.

This is going to be the last release of the **2.3** branch. I was hoping **2.3.3** to be the last one, but we needed this release to fix a couple of issues with Jedi, and some bugs that I had had in my todo list for a long time :-)

[2015-03-16 21:18] jondo commented on #2034
This is still an improvement, thank you.

[2015-03-16 21:53] s0r2637 opened #2254 "How do I disable the 'runfile (...)' expression when running a python script from Spyder?"
Whenever I run a python script from Spyder (v2.2.5), I see the 'runfile(...)' expression.  How can I suppress this?  I am using Spyder 2.2.5 on Ubuntu 14.04.2 LTS

[2015-03-17 01:00] ccordoba12 commented on #2254
`runfile(...)` is the Python command that lets us run your file. It can't be suppressed because we need to evaluate it in our Python/IPython consoles to evaluate your file on them.

Why do you want to suppress it?

[2015-03-17 01:37] ccordoba12 commented on #2252
Hey guys, I really need your help here. Only three sentences need to be updated, so the amount of work is very small.

I need to release this ASAP because of the new Anaconda release that's going to happen really soon ;-)

[2015-03-17 01:40] SylvainCorlay commented on #2252
No worries. I will do this real quick.

[2015-03-17 01:41] ccordoba12 commented on #2252
Thanks man! Really appreciate it!

[2015-03-17 09:47] goanpeca commented on #2248
I rephrase... that is weird... `conda_api_q` is inside the `external-py3` and this is added to the path for python 3... so not sure what is going on

[2015-03-17 15:52] #2252 closed

[2015-03-18 00:20] Nodd commented on #2248
Externals are not added any more, it messed things up with old versions of pep8 and path.py. ```conda_api_q``` should be somewhere else than externals I guess.

[2015-03-18 01:18] SylvainCorlay opened #2256 "Current line coloring not working when there are cells in the file"
This bug was not present in the first cell-highlighting PR.

[2015-03-18 01:36] Thav commented on #1955
I have a number of people with essentially the same install (all from the same script, mostly pulling from pip on Windows) at work, and can try things on theirs and look for differences. Is there by any chance a way to invoke the object inspector sort of... more progamatically, so I could pipe the same output to a file in every case?

[2015-03-18 04:44] ccordoba12 commented on #2256
I reworked a lot of the logic about cells during the 2.3 series, so I'll take a look at this one :-)

[2015-03-18 05:01] petebachant opened #2257 "Cannot plot inline in IPython console on Linux"
Using 2.3.3 with Python 3.4.3 installed via Conda. Attempting to plot via matplotlib inline in the IPython console kills the kernel. I am not having this problem on Windows.

[2015-03-18 05:08] blink1073 commented on #2257
I can confirm:

[code]

[2015-03-18 05:10] blink1073 commented on #2257
Works fine with Py2.7.

[2015-03-18 05:12] blink1073 commented on #2257
...and it works fine from a standalone IPython QtConsole with Py3.4.

[2015-03-18 05:14] blink1073 commented on #2257
I used IPython 3.0.0 in both cases.

[2015-03-18 05:16] ccordoba12 commented on #2257
I was about to release 2.3.4 tomorrow but this seems pretty serious.

I can't reproduce it on my end with pip installed mpl 1.4.3 and Python 3.4.0. It seems to be an issue with mpl or Anaconda or both.

[2015-03-18 05:18] ccordoba12 commented on #2257
Is `%matplotlib qt` working for you?

[2015-03-18 05:20] petebachant commented on #2257
`%matplotlib qt` does work for me.

[2015-03-18 05:21] blink1073 commented on #2257
Also for me.

[2015-03-18 05:21] ccordoba12 commented on #2257
What about mpl 1.4.2 and/or Python 3.4.2?

[2015-03-18 05:26] petebachant commented on #2257
Tried both (one at a time) and kernel is still dying.

[2015-03-18 05:27] blink1073 commented on #2257
Ditto.

[2015-03-18 05:31] ccordoba12 commented on #2257
@stonebig, have you seen this problem on WinPython?

This really seems a compilation bug to me. I don't understand what we can be doing to make the kernel crash.

What if you try to use 2.3.4dev or 2.4dev? I made some changes to change how we set the mpl backend that could help in this case...

[2015-03-18 05:34] ccordoba12 commented on #2257
Checking older Spyder versions (in the 2.3 series) would be useful too :-)

[2015-03-18 05:36] petebachant commented on #2257
Works fine in 2.3.2.

[2015-03-18 05:38] ccordoba12 commented on #2257
@petebachant, great, some progress!! Could you use `git bisect` to detect the faulty commit?

[2015-03-18 05:49] petebachant commented on #2257
I don't know how to do that; sorry! I did, however get the console to plot SVGs, and noticed this commit: https://github.com/spyder-ide/spyder/commit/ac52a4adb046ba8a9a13e5b70f436165bdc8be3b. Maybe the dpi for PNGs is being set incorrectly?

[2015-03-18 05:51] petebachant commented on #2257
I just noticed that spinbox does not work in 2.3.3.

[2015-03-18 05:52] ccordoba12 commented on #2257
I'll take a look at that tomorrow. Thanks a lot for the feedback @petebachant, perfect timing!

[2015-03-18 08:20] goanpeca commented on #2248
Well.... then that is why... can you try adding the file inside `conda_api_q` file inside external-py2 (or 3) into the widgets folder of the spyderplugins folder.... just to check?

[2015-03-18 17:21] stonebig commented on #2257
Well, I don't see the problem on winpython with  python3.4.3 32 bit + Spyder 2.3.3 + windows 7 64bit.
(+all wheel packages prepared by Christoph Gohlke)

![spyder233_check](https://cloud.githubusercontent.com/assets/4312421/6714889/1b8dd69a-cd9b-11e4-9055-74687929b749.GIF)

[2015-03-18 18:18] tjhendrickson opened #2258 "Cannot get Spyder to start"
Hello,

I installed Spyder (via Anaconda) approximately 2 weeks ago without much trouble. Just recently I attempted to open Spyder, but have had extreme difficulties opening it. Each time it appears as if it will load and then it doesn't do anything. When I attempt opening it again I get a message recommending that I perform the command "spyder --reset" do reset thing. I have done and the error st

[2015-03-18 19:29] divenex commented on #1831
@ccordoba12 thanks for trying.

[2015-03-18 20:13] petebachant commented on #2257
I also do not have the problem on Windows, and have tried on multiple systems with different graphics drivers. An IPython Qt console can plot inline externally without a problem. I think this is a Spyder issue.

[2015-03-18 20:19] ccordoba12 commented on #2257
So this is on Linux? It's true that the issue title says it, but the description mentions Windows. That's why I asked @stonebig about it.

@petebachant, are you using Kubuntu, or KDE as your main desktop, by any chance?

[2015-03-18 20:20] petebachant commented on #2257
This is on Linux only (for me anyway). I have had the problem on both XFCE and Cinnamon desktops.

[2015-03-18 20:24] ccordoba12 commented on #2257
Could you create a new conda environment and install the new PyQt packages I'm working on? For that you need to run this command after creating the env:

    conda install -c ccordoba12 pyqt

Then you need to install IPython and Spyder with

    conda install pygments ipython
    conda install --no-deps spyder

Try to see if this error happens in that env too

[2015-03-18 20:47] ccordoba12 commented on #2258
It seems you have PsychoPy2, which is messing with your Anaconda installation. My recommendation would be to uninstall it and your problems should go away.

[2015-03-18 21:30] tjhendrickson commented on #2258
That did the trick. Thanks!

[2015-03-18 21:44] petebachant commented on #2257
I gave that a try. Could not load Spyder without some additional dependencies. Once I got to that point I didn't have the IPython Qt console, which wants to downgrade Qt to install.

[2015-03-18 22:25] #2258 closed

[2015-03-18 23:07] ccordoba12 commented on #2257
@blink1073, help me out here, please. Since you're able to reproduce this error, could you run `git bisect` or `git blame` to locate the faulty commit between 2.3.2 and 2.3.3?

[2015-03-18 23:55] mikofski opened #2259 "spyder crashes if ipython installed but not pygments"
Spyder 2.3.3
IPython 3

without pygments, spyder causes python to crash on windows,
hard for user to know what the issue is since there is no feedback,
and crash windows have strong negative association.
Spyder dialog says to use `spyder --reset`,
but that doesn't work since it's not the issue

please either
* make pygments required during installation
or
* handle ImportError gracefully
  - fall b

[2015-03-19 00:35] ccordoba12 commented on #2259
Please post the traceback you're seeing so we can understand how to fix it

[2015-03-19 00:36] ccordoba12 commented on #2259
I'm almost sure this an IPython error rather than a Spyder one, but we can fix it in our own code.

[2015-03-19 00:40] ccordoba12 commented on #2257
Ok, I fixed the problem with the inability to change our dpi value. This will be part of 2.3.4

[2015-03-19 00:50] mikofski commented on #2259
I'm sure it is IPython too, but it will turn away users from Spyder. The exception is `ImportError: No module named Pygments`

    Traceback (most recent call last):
      File "<xxx>", line X, in <module: xxx>
    ImportError: No module named Pygments

I was setting up python for a new engineer, and I forgot to install Pygments when setting up Python, and we started getting weird crashes everytim

[2015-03-19 00:59] Stretch97 commented on #2246
Can you (or anyone else) reproduce this issue?  I have the problem on both my home computer and work computer.  Both of them are macs with Enthought Canopy.

[2015-03-19 01:27] blink1073 commented on #2257
Sorry Carlos, I was travelling today.

[2015-03-19 01:42] blink1073 commented on #2257
Found it:

[code]

[2015-03-19 01:45] blink1073 commented on #2257
Quicklink: https://github.com/spyder-ide/spyder/commit/08596df5a484cce6852e193a7b938e5c200aec43

[2015-03-19 18:44] 0u812 commented on #2209
I'm finally back from traveling and I was able to test the new dmgs (sorry it took so long). I'm running 10.10 (Yosemite) now, and here's what I found:

* Spyder with Python 3.4 works well except the IPython console. It just displays the "Connecting to kernel..." message with the spinning throbber. I let it go for about 10 min and it still didn't connect. Also tried opening new IPython console, re

[2015-03-21 20:29] #2257 closed

[2015-03-21 20:29] #2259 closed

[2015-03-21 20:31] ccordoba12 commented on #2257
Thanks @blink1073! It was easier to narrow down the problem after that :-)

[2015-03-21 20:58] mikofski commented on #2259
Thanks carlos you're a coding god ; -)
now if we can just get the win_post_install script to run from pip on windows, spyder will be the defacto ide for engineers! BTW I think my snippets probably require pywin32, can't remember

[2015-03-21 22:32] indranilsinharoy commented on #2250
I think this needs to be fixed ASAP (I don't mean to be demanding, rather I just wanted to emphasize that this bug is crippling my ability to work in Spyder). In my case, it is becoming a big problem to use the IPython console. Every time I try to use/write a the first parenthesis of a Python function in the IPython console within Spyder, the control switches to the "Spyder Internal Console" that

[2015-03-21 23:39] goanpeca commented on #2250
@indranilsinharoy, you are using the development version?

[2015-03-22 02:05] indranilsinharoy commented on #2250
Hi @goanpeca thanks very much for your response. No, I am pretty sure I am not using a development version. I downloaded the Spyder version 2.3.4 (spyder-2.3.4.win-amd64-py2.7.exe) from https://github.com/spyder-ide/spyder/releases. I updated IPython to 3.0 later on.

Thanks.

[2015-03-22 08:49] stonebig commented on #2250
I confirm the issue, but it is apparently there also on a spyder2.3.3.
Spyder2.3.3, Python 2.7.9 64 bit windows, Qt 4.8.6, PyQt (APIv2) 4.11.3, numpy 1.9.2, pandas 0.16.rc1

[2015-03-22 08:58] stonebig commented on #2250
same on python3.3

[2015-03-22 09:03] stonebig commented on #2250
same on my yesterday winpython beta build, which was not with spyder 2.3.3:
[code]

[code]

[2015-03-22 09:03] stonebig commented on #2250
I must add:
- spyder interna l console is showing trash, but spyder Ipython qt console seems to work

[2015-03-22 09:18] stonebig commented on #2250
curiosity, now I retry to blow up on my latest beta, and all is ok.....
Just before I tried
[code]

[2015-03-22 09:22] stonebig commented on #2250
@indranilsinharoy  can you try the same procedure as in my picture ?

[2015-03-22 16:43] indranilsinharoy commented on #2250
@stonebig @goanpeca I uninstalled spyder-2.3.3, restarted my machine and installed spyder 2.3.4. However, I am still seeing the problem.

[code]

Not sure why it is looking for conda packages!

Quite interestingly, in a different machine in which I am using Anaconda distribution with Spyder 2.3.3 and IPython 3.0, I don't see the error!

[2015-03-22 17:05] stonebig commented on #2250
There seems to be a parameter file left by your former `Anaconda` installation, that your Ipython in `C:\Python27` is trying to rely on.
maybe have a look on parameter files:
-  in `C:\ProgramData\jupyter`
- or in a `.ipython` directory somewhere in `c:\users`

[2015-03-22 17:16] stonebig commented on #2250
Reading the code in `https://github.com/spyder-ide/spyder/blob/master/spyderlib/otherplugins.py`.

Did you share a same default 'my personal python programs`directory between spyder for Python 2.7 and a former Anaconda spyder ?

[2015-03-22 19:06] indranilsinharoy commented on #2250
@stonebig Thanks for the response. I had installed Anaconda once in this machine. However I had uninstalled it long time back.

"Did you share a same default 'my personal python programs`directory between spyder for Python 2.7 and a former Anaconda spyder ?"

I don't think so. However, I will try to find out based on your clues.

"There seems to be a parameter file left by your former Anaconda ins