[2020-01-17 14:04] impact27 commented on #11324
This looks like a segmentation fault in my opinion. It looks like #10553 could help.

[2020-01-17 14:25] ccordoba12 commented on #11324
I agree. My plan is to add support for sending crash tracebacks in 4.1, but using a command line option to activate that functionality.

[2020-01-17 14:34] hongyi-zhao commented on #11335
Thanks.

[2020-01-17 14:34] pilotjoe commented on #11324
I've never seen the message or dialog as discussed in #10553 - Spyder just comes up normally when I start it again.

[2020-01-17 14:37] ccordoba12 commented on #11333
In your video you have this option enabled (as it can be clearly seen in minute 0:29). When you uncheck it, you'll see a handle on top of each plugin, like this:

![Selección_089](https://user-images.githubusercontent.com/365293/72618108-6b3e7b80-3908-11ea-8038-350e72c34124.png)

So to create a custom layout you need to drag the pane from that handle and drop it in your preferred location, like th

[2020-01-17 14:37] #11333 closed

[2020-01-17 14:44] ccordoba12 commented on #11324
That'ss because it hasn't been merged.

[2020-01-17 14:50] pilotjoe commented on #11324
Understood.  Perhaps I should just always launch Spyder from the terminal as described until V4.1 is released?  If there's any other way I can get diagnostic information for you running Spyder directly (double clicking the icon), I'd be happy to.

[2020-01-17 16:19] ccordoba12 commented on #11324
No, there isn't.

[2020-01-17 16:26] ab-5860 commented on #11331
[Data.xlsx](https://github.com/spyder-ide/spyder/files/4077705/Data.xlsx)

[2020-01-17 16:44] shyok0 commented on #8090
Code folding still includes the comment too. And is there a way to change the background color of the folded code? Is that same as text_background color? I'll try meanwhile!

[2020-01-17 18:11] #7699 closed

[2020-01-17 20:36] dalthviz commented on #11106
Hi @david-cortes I was unable to reproduce this, did you change anything else besides the screen resolution, like the scale for example? If you changed the scale maybe this could be related with #6181 and the solving PR #11322

This is what I'm getting by just changing the resolution:

* From 1360x768 to 800x600
![resolution](https://user-images.githubusercontent.com/16781833/72643455-b70b1800-393

[2020-01-17 20:58] #11082 closed

[2020-01-17 22:24] pilotjoe commented on #11324
I guess I spoke too soon - Spyder disappeared several times today, particularly when I moved between different WiFi networks (I'm not sure that had anything to do with it).  The terminal log didn't show anything unusual, just an "Autosave triggered" message that it shows every so often.

[2020-01-18 00:38] Jireh-Jam opened #11336 "sypder fault"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

AttributeError: module 'dateutil.tz' has no attribute 'UTC'

## Version and main components

* Spyder Version: 3.2.3
* Python Version: 3.5.0
* Qt Versions: 4.8.7, PyQt4 (API v2) 4.11.4 on Linux

## Dependencies
[code]

[2020-01-18 01:00] Jireh-Jam opened #11337 "sypder not working"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

AttributeError: module 'dateutil.tz' has no attribute 'UTC'

## Version and main components

* Spyder Version: 3.2.3
* Python Version: 3.5.0
* Qt Versions: 4.8.7, PyQt4 (API v2) 4.11.4 on Linux

## Dependencies
[code]

[2020-01-18 04:11] OverLordGoldDragon commented on #11333
Oh, so it should be dragged BY the new handle - alright, great

Thanks

[2020-01-18 05:04] aflapan opened #11338 "What is going on?"
## Description

### What steps will reproduce the problem?

I deleted a bunch of my code in a file I was practicing Python with. I have no idea why there should have been an error.

### Traceback
[code]

## Versions

* Spyder version: 4.0.0
* Python version: 3.7.4
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-01-18 05:08] phn409 opened #11339 "Automatic error report"
<!---   *** BEFORE SUBMITTING: PASTE CLIPBOARD HERE TO COMPLETE YOUR REPORT ***   ---!>
I get this error message everytime I start up Spyder. It goes by the following:
    plugin = mod.PLUGIN_CLASS(self)
AttributeError: '_ModuleMock' object has no attribute 'PLUGIN_CLASS'

[2020-01-18 05:45] surbhisinha2811 opened #11340 "Spyder on opening shows an error on starting the kernel"
An error ocurred while starting the kernel
The error is:

Traceback (most recent call last):
File "C:\Users\Surbhi\Anaconda3\lib\site‑packages\spyder\plugins\ipythonconsole.py", line 1572, in create_kernel_manager_and_kernel_client
kernel_manager.start_kernel(stderr=stderr_handle)
File "C:\Users\Surbhi\Anaconda3\lib\site‑packages\jupyter_client\manager.py", line 240, in start_kernel
self.write_con

[2020-01-18 06:57] m-bouville opened #11341 "[Feature Request] Protection against involuntary (and implausible) collapse"
I sometimes collapse something by clicking too close to the edge. But in some cases this folds a class making up almost the entire file. I am very unlikely to want to collapse everything and see nothing left. There could be a cut-off triggering a message: "You are about to fold 90% of the file. Confirm?"

[2020-01-18 08:07] david-cortes commented on #11106
I think in windows 10 sometimes the zoom changes automatically along with the resolution, but I no longer have access to the computer in which this used to happen, so cannot confirm it. Perhaps it could have been due to an automatic zoom change

[2020-01-18 13:38] dalthviz commented on #11106
Thanks for the feedback @david-cortes ! For now I will close this one. The fix I mentioned will be available with Spyder 4.0.2,

[2020-01-18 13:38] #11106 closed

[2020-01-18 17:05] ccordoba12 commented on #11341
Sorry but that this is very specific, so we don't plan to implement it. Besides, you can very easily unfold what you folded before.

[2020-01-18 17:05] #11341 closed

[2020-01-18 17:06] ccordoba12 commented on #11340
To fix this you need to open the Anaconda Prompt and run there

    conda update anaconda
    conda update jupyter_client

[2020-01-18 17:06] #11340 closed

[2020-01-18 17:06] ccordoba12 commented on #11339
This is fixed in our latest Spyder 3 version. Please update by opening the Anaconda Prompt and running there

    conda install spyder=3.3.6

[2020-01-18 17:06] #11339 closed

[2020-01-18 17:07] ccordoba12 commented on #11338
This is fixed in our latest version. Please update by opening the Anaconda Prompt and running there

    conda install spyder=4.0.1

[2020-01-18 17:07] #11338 closed

[2020-01-18 17:07] ccordoba12 commented on #11337
Duplicate of #11336

[2020-01-18 17:07] #11337 closed

[2020-01-18 17:07] ccordoba12 commented on #11337
Please **do not** open several issues for the same problem for next time.

[2020-01-18 17:13] ccordoba12 commented on #11336
You're using very old versions of Spyder, Qt and PyQt. Please update using Anaconda (recommended) or pip in a virtualenv.

[2020-01-18 17:13] #11336 closed

[2020-01-18 17:27] baletercero opened #11342 "Load data into spyder 4"
## Description

### What steps will reproduce the problem?

Hit import data in Variable explorer , select the file , get error

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-01-18 17:48] ccordoba12 commented on #11342
This error means that you don't have the `nltk` package installed in the console you're trying to import your file.

Are you able to run

[code]

on it?

[2020-01-18 18:06] ccordoba12 commented on #4374
Hi,

This problem will be fixed in our next version (4.0.2), to be released
in a couple of weeks.

Cheers,
Carlos

El 9/01/20 a las 4:32 a. m., hsllo escribió:

[2020-01-18 18:14] Kahuna-flipper opened #11343 "Spyder was not connecting to IPython kernel which was a >7 version. Connected and works when downgraded to 6. Is this a common bug?"
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-01-18 18:22] ccordoba12 commented on #11343
No, but I'm glad that's working with IPython 6. Without further info there's nothing else we can do about this one, so I'm closing it.

[2020-01-18 18:22] #11343 closed

[2020-01-19 11:40] OverLordGoldDragon opened #11344 "Execution stops, unable to interrupt [Spyder 4]"
Keras-TensorFlow training stops some time after launch, and am unable to KeyboardInterrupt execution; unsure, but it may also have occurred in a context outside of TensorFlow. [Demo](https://www.dropbox.com/s/z7mvic529hej2xo/hang_demo.mp4?dl=0); it's out of frame, but I also click the red square after Ctrl + C to stop execution - it just turns gray, nothing happens. I tried waiting 5+ mins (not in

[2020-01-19 12:33] Chun-614 opened #11345 "Kernel connection"
## Description

### What steps will reproduce the problem?

Anaconda could not launch Spyder. Then I reinstalled Anaconda, Spyder can be launched now, but the IPython console displays "Connecting to kernel" all the time and could not run any command.

### Traceback
[code]

## Versions

* Spyder version: 3.3.6
* Python version: 3.7.0
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Da

[2020-01-19 15:50] talkaminker opened #11346 "Don't show "No documentation available" tooltip on hover"
## Problem Description

hold the mouse cursor over almost anything in the editor. a "No ducumentation available" tooltip will appear. which is extremely distracting and sometomes the tooltip will appear over other windows.

example code:
  ``` a = "Asd" ```
  hold cursor over the "Asd". the tooltip will appear.
This is not a helpfull tooltip, It appears all the time just by having the mouse cursor

[2020-01-19 16:06] ccordoba12 commented on #11345
Please run in Terminal.app

    spyder --reset

and try again.

[2020-01-19 16:08] ccordoba12 commented on #11344
Please try to run your code in the Jupyter notebook to see what happens there. If you get the same effect, then it's not Spyder fault.

[2020-01-19 16:15] ccordoba12 commented on #11346
I agree with your suggestion. @goanpeca, please take a look at this one.

[2020-01-19 17:13] OverLordGoldDragon commented on #11344
Reproduced it on a simple pandas operation:

[code]
`df` has 300000 rows, 3 columns, all integers - so no memory problem. I don't use Jupyter, but if I find something reproducible I'll try it on it also - but I doubt it's a pandas problem here.

[2020-01-19 17:33] ccordoba12 commented on #11344
@dalthviz, please try to reproduce this one.

[2020-01-19 17:44] OverLordGoldDragon commented on #11344
Here we go:

[code]
... but this also occurs in Jupyter. Though I'm unsure it's a useful comparison, as I found Jupyter less reliable than Spyder in interrupts - so it may be even worse off. Nonetheless, no longer reproducible if changing the `randint` range to something smaller - so it might be a memory issue after all, though strange with 20+ GB RAM available; [demo](https://www.dropbox.com/s/xt

[2020-01-19 19:20] Chun-614 commented on #11345
The reset worked. Thank you!!

[2020-01-19 21:01] colt18 opened #11348 "renaming a py file"
## Description

### What steps will reproduce the problem?

Had a "mobilenetv2.py" file. Renamed it via rightclick rename procedure. Typed new file name as "MobileNetV2.py". Spyder asks "do  you want to rename and replace the file". Accepted --> Crash --> Send the bug--> Profit!

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.3
* Qt version: 5.9.6
* PyQt5 version:

[2020-01-19 22:57] #11345 closed

[2020-01-19 23:16] ccordoba12 commented on #11344
Thanks for the reproducible example. It tried it on terminal IPython and it's not possible to interrupt it even there. So It's Spyder's fault.

I think you're doing things in a very inefficient way (I don't understand why you're trying to create a single string with all elements of that dataframe one after the other), and you need to find a better one.

[2020-01-19 23:16] #11344 closed

[2020-01-19 23:19] ccordoba12 commented on #11348
I think file names on Windows, so there's no difference between `mobilenetv2.py` and `MobileNetV2.py`, and that's why the error appears.

@jitseniesen, could you take a look at this one?

[2020-01-20 02:41] OverLordGoldDragon commented on #11344
@ccordoba12 Not quite what's happening; the operations are row-wise, so at most 12 characters are being concatenated per row - that'd make it at most 3,600,000 characters in one column distributed among 300,000 rows.

... or that's what I _thought_ I was doing; totally forgot to specify `axis=0` - now it executes instantly. My bad

The TensorFlow hanging was also in a context of stacked CuDNNLSTMs

[2020-01-20 11:05] shivendra90 opened #11351 "Spyder showing Kite: unsupported on status bar"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-01-20 11:32] Fred-Wu opened #11352 "Why spyder-notebook's autocomplete is better than spyder editor and native jupyter notebook?"
I am working with Spyder 4.01 on Ubuntu 18.04.

For the curiosity, I dowloaded and tried spyder-notebook with Spyder IDE.
I found out that the autocompletion works better in this spyder-notebook, and every `.<Tab>` shows function suggestions. This is not even the case for native jupyter notebook or jupyterlab.

Normally, for pandas, the spyder editor doesn't show anything without Kite or very very

[2020-01-20 11:51] jitseniesen commented on #11348
Well spotted!

Will do.

[2020-01-20 12:26] Dschoni commented on #5409
@ccordoba12 right now, the error seems to be back in Spyder 4.0.1

[code]
leads to an unresponsive image widget. If `%gui qt5` is given, the content is shown and the image becomes responsive. Setting the graphics backend to `Automatic` does not solve the problem in this case.

spyder 4.0.1
pyqtgraph 0.10.0
pyqt 5.9.2
qt 5.9.7

fresh conda install.

[2020-01-20 12:31] ricardobarriosp opened #11353 "Dropdowns in the wrong display"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-01-20 13:46] Dschoni commented on #5409
Some more research: I could not reproduce this across systems (i.e. running the exact same conda environment on another laptop did not have this problem).  However, on the problematic system, the behaviour is consistent over different combinations of python + qt + pyqtgraph + spyder. So I assume, that my Spyder startup is somehow different than it was before. `spyder --reset` did not change anythi

[2020-01-20 14:09] ccordoba12 commented on #11351
Thanks for reporting. Could you be more specific about this?

I mean, what auto completions are not working?

[2020-01-20 14:10] ccordoba12 commented on #11351
@metalogical, when could it occur that Kite becomes unsupported?

[2020-01-20 14:11] ricardobarriosp commented on #11237
I also can report having the same problem in Spyder 4.0.1. In the code below.

I tried the  simple code below. Instead of getting the proper function signature after accepting the suggestion, I also got some unwanted text.
[code]

[2020-01-20 14:23] ccordoba12 commented on #11353
Thanks for reporting.

@dalthviz, could you verify this one?

[2020-01-20 14:23] ccordoba12 commented on #11280
Closing due to lack of response.

[2020-01-20 14:23] #11280 closed

[2020-01-20 14:24] ccordoba12 commented on #11314
Closing due to lack of response.

[2020-01-20 14:24] #11314 closed

[2020-01-20 14:49] shivendra90 commented on #11351
Here's a screenshot I took:
![kite_error](https://user-images.githubusercontent.com/9760865/72735367-b33bf780-3bc1-11ea-8cff-8fd50dcdaea9.png)

First Kite shows 'Ready' for maybe 5 seconds and then transforming into the one shown above. As for the auto completions, it seems the worst affected are for the plotting classes. For example:
[code]
The above snippet should display some options but I thin

[2020-01-20 14:50] ccordoba12 commented on #10924
Duplicate of #11237

[2020-01-20 14:50] #10924 closed

[2020-01-20 14:51] ccordoba12 commented on #11237
@andfoy, please take a look at this one.

[2020-01-20 14:52] ccordoba12 commented on #5409
Thanks for reporting. We'll improve how we handle PyQt apps in 4.0.2, so this could be solved in that version.

[2020-01-20 15:03] jitseniesen commented on #11348
I am trying to understand the traceback, which led me to the File Explorer, in particular line 904-908:

https://github.com/spyder-ide/spyder/blob/6b8c3f1dae50be1c49ecbe3424cc22965d9f9a44/spyder/plugins/explorer/widgets/explorer.py#L904-L908

I wonder whether the second line above should have `path` instead of `fname`, so that it reads
[code]
After the `rename_file`, the file `fname` is renamed to

[2020-01-20 15:28] #11092 closed

[2020-01-20 15:36] bcaddy opened #11354 ""Help" pane not automatically opening docs from editor"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [X] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [X] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-01-20 15:38] ccordoba12 commented on #11348
@goanpeca, please help @jitseniesen with that.

[2020-01-20 15:38] dalthviz opened #11355 "Editor: wrong tooltip position when undocking"
The tooltips are being placed incorrectly after a docking or undocking of the Editor:

![tooltipe](https://user-images.githubusercontent.com/16781833/72756502-66ddc100-3b9b-11ea-8bfd-dedd2434cd37.gif)

As discussed with @ccordoba12

[2020-01-20 15:39] ccordoba12 commented on #11354
Duplicate of #10671

[2020-01-20 15:39] #11354 closed

[2020-01-20 15:42] dalthviz opened #11356 "Completion: pyls improvements for snippets handling"
* [x] Don't show snippets for single argument
* [x] Don't complete error classes with arguments or parenthesis
* [x] Don´t show snippets for multi-line import statements

Note: To be done over the pyls side

As discussed with @ccordoba12

[2020-01-20 15:47] dalthviz opened #11357 "IPython Console: Improvements for preferences application"
* [x] Add validations for custom consoles dependencies (SymPy, Matplotlib, Cython)
* [x] Improve preferences handling for the IPython Console (for example, if the preference requires a restart of the console, show a message).

As discussed with @ccordoba12

[2020-01-20 15:47] goanpeca commented on #11348
Will do!

[2020-01-20 16:02] dalthviz opened #11358 "Don't restart automatically Spyder when a monitor scale change is detected"
Ask the user if he wants to restart instead.

Improves the changes done at PR #11322

As discussed with @ccordoba12

[2020-01-20 17:45] EnderWiggin14 opened #11360 "Code Folding Occasionally Breaks"
## Description

### What steps will reproduce the problem?

The problem is that, occasionally, the arrow for code folding collapse and expansion disappears. This renders the code there inaccessible from the editor. The editor still grays out the function name, but it will not be expandable. The arrow only seems to disappear after collapsing a code block/function/class. This doesn't happen everytim

[2020-01-20 19:21] goanpeca commented on #11360
Could you please provide a video/animation of this with Licecap?

[2020-01-20 20:07] EnderWiggin14 commented on #11360
I will try to do this. I won’t be able to demonstrate the process of it breaking, but I can demonstrate it’s broken state once it happens again.

Sent from my iPhone

[2020-01-20 20:10] goanpeca commented on #11360
Please do! thanks

[2020-01-20 23:04] akdor1154 opened #11362 "Feature request: per-project Python interpreter"
Related issues:
#9804 (project settings, you guys are considering Conda envs which is a similar usecase)
#1014 (exactly this, imported from google code and seemingly abandoned)

Currently interpreters are a global setting. It would be great to have a Python interpreter selectable as a project-level preference instead.

In #9804 it looks like you are considering allowing project-level Conda, but I

[2020-01-20 23:05] RTMaloney commented on #5425
It worked perfectly for me on Windows :)

[2020-01-21 02:12] #11355 closed

[2020-01-21 02:14] ccordoba12 commented on #5425
Yep, we fixed that a long time ago.

[2020-01-21 02:47] patrick984 commented on #11314
Adjusting custom margin for panes can compensate for the lack of padding on the top of panes but adds unwanted spacing between panes also, see yellow highlight:

Spyder 3:
![spyder3](https://user-images.githubusercontent.com/12247036/72771258-72d98980-3c54-11ea-9ba5-a5fb64e53e95.png)

Spyder 4 (with custom margin set to 3px):
![spyder4](https://user-images.githubusercontent.com/12247036/72771266-7

[2020-01-21 03:21] goanpeca commented on #11346
I canot reproduce this @ccordoba12

[2020-01-21 03:29] akdor1154 opened #11363 "Feature request: implicitly create project when launched with a folder path as argument"
It would be really nice if I could load Spyder from the CLI when I am in a directory, with the contents of that directory, by running `spyder .` (or `spyder /home/akdor1154/src/project`, etc). AFAICT wiith Spyder's project model, this would require Spyder to
 - check if a project exists for that directory (i guess this already happens)
 - if not, create a new one
 - open said project.

I guess an

[2020-01-21 08:13] dasandovalEU opened #11366 "globals__ delete"
## Description

### What steps will reproduce the problem?

import a mat file and erase the globals__ variable.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.12.5
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### Dependencies

[code]

[2020-01-21 10:18] nuinattapon opened #11367 "I can't select JetBrains Mono as a default font for the editor"
## Description

### What steps will reproduce the problem?

From top menu -> Tools -> Preferences -> Appearance, I can't find 'JetBrains Mono' font in Plain Text drop down list.

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.3
* Qt version: 5.12.6
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### Dependencies

[code]

[2020-01-21 10:33] m-bouville opened #11368 "Find in files: excluding comments and strings"
I was looking for all places where I used of a certain variable in my code. But Find in files found a lot of commented-out code and of cases where I just printed the value of the variable. The lines where the variable was actually used were thus mixed with false positives.

As far as I can tell, "exclude" only excludes files, not types of content within the files. A possible enhancement would be a

[2020-01-21 10:39] hetfmt opened #11369 "Project on network drive"
### Issue Report Checklist

* [+] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [+] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [+] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-01-21 11:47] sbitzer opened #11370 "Issue reporter due to disconnected network drive after wakeup"
## Description

### What steps will reproduce the problem?

1. Open file in Spyder that is located on network drive
2. sleep PC
3. wake up

My Windows (7) disconnects the network drives at 2., or 3. and reconnects automatically after wakeup. As long as I don't interact with Spyder, there shouldn't be an issue, but as of version 4.0 Spyder prompts for opening an issue. Can this be prevented?

### T

[2020-01-21 12:30] wangminshu opened #11371 "Icon cannot be started"
## Description

### What steps will reproduce the problem?

Windows
Icon cannot be started
I use cmd and then imput spyder, the spyder can be started

### Traceback
[code]

## Versions

* Spyder version: 3.3.1
* Python version: 3.6.3
* Qt version: 5.6.2
* PyQt5 version: 5.6
* Operating System: Windows 7

### Dependencies

[code]

[2020-01-21 13:18] immanuvel151 opened #11372 "kernel not even working"
## Description

### What steps will reproduce the problem?

please repair it now
very very very very urgent
please fix this now

## Versions

* Spyder version: 4.0.0
* Python version: 3.7.3
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 7

### Dependencies

[code]

[2020-01-21 13:26] ccordoba12 commented on #11372
Closing because there's no information about the problem we can work with, sorry.

[2020-01-21 13:26] #11372 closed

[2020-01-21 13:28] ccordoba12 commented on #11371
Please close Spyder, open the Anaconda prompt and run this command

    spyder - - reset

That should fix your error.

[2020-01-21 13:28] #11371 closed

[2020-01-21 13:54] ccordoba12 commented on #11366
Duplicate of #11001

[2020-01-21 13:54] #11366 closed

[2020-01-21 13:56] ccordoba12 commented on #11370
@andfoy, please take a look at this one. I think it shouldn't be hard to catch and pass on this error.

[2020-01-21 14:01] ccordoba12 commented on #11346
@talkaminker, please post a screenshot of what you're seeing.

@dalthviz, can you reproduce this one on Windows?

[2020-01-21 14:02] ccordoba12 commented on #11367
I'm sorry but we're not in control of this, but Qt (the graphical toolkit on top of which Spyder is built).

[2020-01-21 14:02] #11367 closed

[2020-01-21 14:04] ccordoba12 commented on #11363
Sorry but explicit is way better than implicit: I guess many users will be surprised if Spyder creates automatically a project if they make a mistake and pass a directory instead of a file to it.

[2020-01-21 14:06] ccordoba12 commented on #11369
Duplicate of #10785

[2020-01-21 14:06] #11369 closed

[2020-01-21 14:06] ccordoba12 commented on #11369
Until we fix that bug, please don't use network drives, sorry.

[2020-01-21 14:21] dalthviz commented on #11346
@ccordoba12 I can't reproduce this. Maybe something else, besides the `a = "Asd"`, is needed?:

![hover](https://user-images.githubusercontent.com/16781833/72812258-30518600-3c2f-11ea-81d4-eb1ac519d61f.gif)

[2020-01-21 15:12] ccordoba12 commented on #11346
But there's the case of `paren_example` in your screenshot above, whose hover shouldn't be displayed because it's pointless.

@goanpeca, please take care of those cases for now.

[2020-01-21 15:14] natewagner10 opened #11373 "hhghhghghghghghgh"
## Description

### What steps will reproduce the problem?

jhghghghghhjdfhdjhfdjhfjdhfjdhfjdfhjdfhjdhfdjfhdjfhjd

### Traceback
[code]

## Versions

* Spyder version: 3.3.6
* Python version: 3.7.0
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 19.0.0

### Dependencies

[code]

[2020-01-21 15:16] ccordoba12 commented on #11368
Well, it's easy to detect if a line starts with a specific character (e.g. `#` or `"`), but we couldn't easily detect inline comments or strings. So that's the best we could provide.

Is that ok for you?

[2020-01-21 15:17] ccordoba12 commented on #11373
We decline to give feedback to users that don't care to fill a proper bug report, sorry.

[2020-01-21 15:17] #11373 closed

[2020-01-21 15:18] pgeorgis opened #11374 "Problem reporting"

[2020-01-21 15:18] goanpeca commented on #11368
I would say that the user could use a regex for this?

[2020-01-21 15:19] ccordoba12 commented on #11374
That's is a problem with macOS Catalina. Please see here

https://stackoverflow.com/questions/58372768/file-permissions-issue-with-python-spyder-anaconda-after-upgrading-mac-to-catali

to learn how to fix it.

[2020-01-21 15:19] #11374 closed

[2020-01-21 15:21] ccordoba12 commented on #11368
That's true too. @goanpeca, could share a Licecap video to show the OP how to do that?

[2020-01-21 15:34] hmaarrfk opened #11375 "Corrupt autosave files don't get reset"
[code]

Using
[code]
didn't work

After manually removing
[code]

Things started to work again.
## Versions
[code]

[2020-01-21 15:59] goanpeca commented on #11375
@jitseniesen could you take a look at this one :-) ?

[2020-01-21 17:12] akdor1154 commented on #11363
imo I have been explicit though, I've passed a directory to Spyder as its argument. The only thing I could possibly want to do is open Spyder with a view of that directory. (What else might a user expect from the action of running `spyder /home/akdor1154/src/python-project` ?) Currently I am surprised because the explicit action I have taken to open this directory in Spyder appears to have no effe

[2020-01-21 17:39] athibaul opened #11376 "Infinite loop when "gl-N" (with a single digit) appears in multiline docstring"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-01-21 17:55] goanpeca commented on #11346
Fixed!

[2020-01-21 17:57] goanpeca commented on #11376
I can reproduce, working on a fix!

[2020-01-21 18:17] GeraldWiseman commented on #11360
I just wanted to come here to double down on this bug report.  I'm having the identical issue.

It happened to me multiple times within 30 minutes.  I was writing functions, each with their own multi-line doc strings, and I would collapse the doc strings in on themselves.  Then I would flesh out the function and collapse it when I moved onto the next func.

Spyder seems to indicate a collapsed cod

[2020-01-21 18:24] goanpeca commented on #11360
Could you please provide a video/animation of this with Licecap and/or screenshots?

[2020-01-21 18:44] goanpeca commented on #11368
@m-bouville if you had something like this

[code]

Using the find with a regex like

[code]

Would yield:

<img width="745" alt="Screen Shot 2020-01-21 at 13 44 11" src="https://user-images.githubusercontent.com/3627835/72833123-22fac280-3c54-11ea-96a7-f29d1d07ae04.png">

[2020-01-21 18:44] GeraldWiseman commented on #11360
![documentation](https://user-images.githubusercontent.com/60125364/72833137-2a21d080-3c54-11ea-9a54-28d93ee140ef.png)

Took a screenshot.  This process can be reliably replicated.

[2020-01-21 18:46] goanpeca commented on #11360
@andfoy could you take a look a t this one?

[2020-01-21 19:10] shepherdia commented on #4587
I wish Rstudio team could develop a PyStudio to totally replace Spyder.

[2020-01-21 19:12] shepherdia commented on #4587
As an R user I always felt very disappointed with Spyder. I often wish RStudio team could develop a PyStudio to totally replace Spyder.

[2020-01-21 19:51] vankunte opened #11379 "missing dependencies rtee>0.8.3 while starting"
## Description

### What steps will reproduce the problem?

Ipython consol is not starting, showing error missing dependencies rtee>0.8.3  while opening spyder 4.0

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.3
* Qt version: 5.12.6
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### Dependencies

[code]

[2020-01-21 19:53] vankunte commented on #11379
![spyder error](https://user-images.githubusercontent.com/51944090/72838146-c3350380-3cb5-11ea-8985-bb3d9435c096.PNG)

[2020-01-21 19:53] vankunte commented on #11379
error message

[2020-01-21 20:30] ccordoba12 commented on #11368
Closing because (although hard) using regexps is the way to go to have more fine grained results.

[2020-01-21 20:30] #11368 closed

[2020-01-21 20:35] ccordoba12 commented on #11363
We simply don't open directories (as stated `spyder --help`)

[2020-01-21 20:57] goanpeca commented on #11368
We could maybe add this to the website FAQ 🤷‍♂ ?

[2020-01-21 21:11] dinosg opened #11380 "spyder 4.01 VERY slow on startup (within conda or directly from command line) on ubuntu 16.04 LTS"
### Issue Report Checklist

* [ X] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ X] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not

[2020-01-21 21:12] dinosg commented on #11380
note that Kite is NOT installed in the environment (said CPU was not compatible)

[2020-01-21 21:32] ccordoba12 commented on #11368
Please open an issue in our docs repo so @juanis2112 can add an example for this when describing the Find pane.

[2020-01-21 21:32] ccordoba12 commented on #11380
Please open a terminal, run

    spyder --reset

and try again.

[2020-01-21 22:00] andfoy commented on #11360
I think the "errors" are due to our syntax error-based folding, it makes best effort folding detection, rather than provide a full solution for such cases

[2020-01-21 22:10] ccordoba12 commented on #11360
@andfoy, that's not the problem. The problem is that when the user has folded regions in the editor and introduces new changes to it, it's not possible to correctly unfold those regions afterwards.

We haven't considered this case before. I think ti requires to maintain in sync what's folded in the editor and new folding info coming from the PyLS.

[2020-01-21 22:35] andfoy commented on #11360
Actually, that's the case in https://github.com/spyder-ide/spyder/blob/48540b37fd2a27fbbbdd73b3ab8b1000b9c68e20/spyder/plugins/editor/panels/codefolding.py#L207

[2020-01-21 22:44] ccordoba12 commented on #11360
@GeraldWiseman, please upload of video because I don't understand why in your third screenshot func_B is in line 2, while in your second one is present on line 13.

[2020-01-21 23:21] GeraldWiseman commented on #11360
The specific lines were just happenstance.  I could have placed it at any line above 6.  Just happened to stop at 2.

I hope this clears things up.  If you're still unsure of my reasonings, I left doc line at the bottom of each screenshot detailing the shot itself.  As far as uploading a video, I'd have to download some capture software.  If you still feel like a video is absolutely necessary I wi

[2020-01-21 23:22] EnderWiggin14 commented on #11360
I would like to point out that this doesn’t persist after restarting Spyder. At least, it didn’t for me. I don’t know if that means anything in the context of error handling.

Sent from my iPhone

[2020-01-21 23:50] akdor1154 commented on #11363
You do though, from the user's perspective - but to do so, they have to go Project -> Create Project, then Open that project, manually. This issue is a suggestion to make that workflow easier. I commonly work with tens of new small Python projects in a single day, and having to manually Create Project for all of them is a bit of a pain. In other IDEs/editors, VSCode, Sublime, I can just open direc

[2020-01-22 02:02] ccordoba12 commented on #11363
Creating a project per opened directory would also create an `.spyproject` hidden directory in each of them, which I really don't find useful

Instead, you can use the `-w/--workdir` cli option to set the working directory to the one you like. That makes the Files pane to show that directory instead of your home one, and the IPython console and editor will also use that directory by default.

[cod

[2020-01-22 02:33] dinosg commented on #11380
Yes, I tried that - it just wiped out my preferences but otherwise no change

[2020-01-22 02:37] ccordoba12 commented on #11380
Please start Spyder with this command:

    spyder --debug-info verbose

and report back the point where Spyder gets stuck.

[2020-01-22 02:59] dinosg commented on #11380
just got:
Usage: spyder [options] files

$
don't see these options in the documentation:
https://docs.spyder-ide.org/options.html#
what am i missing?

[2020-01-22 03:05] ccordoba12 commented on #11380
That option is part of Spyder 4

[code]

[2020-01-22 03:21] dinosg commented on #11380
invoking spyder from the command line starts version 3.x  not 4.0.1

[2020-01-22 03:42] ccordoba12 commented on #11380
Please fix that to start with.

[2020-01-22 06:11] shivanshsoni622 opened #11381 "OPENING PROBLEM"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "C:\ProgramData\Anaconda3\lib\site-packages\spyder\plugins\editor.py", line 1724, in new
    text, enc = encoding.read(self.TEMPLATE_PATH)
  File "C:\ProgramData\Anaconda3\lib\site-packages\spyder\utils\encoding

[2020-01-22 07:50] hetfmt commented on #11369
Hi Carlos,
Thank you for your fast response.
I just want to add a comment to #10785 (something that I didn’t try before I created #11369):

  1.  I have no problem changing to a network drive in the console:
os.chdir(r'\\<server_name>\<folder_name>\<folder_name>\<folder_name>\<project_parent_folder>’)
  2.  If I try to change to the same folder using the “folder navigation” on the Spyder “icon-bar

[2020-01-22 08:10] Dschoni commented on #5409
Again, it's not about an PyQt App, it seems to be a problem with the graphical backend not being loaded correctly inside Spyder, but if that's solved in 4.0.2 I'm happy ;)

[2020-01-22 08:15] Dschoni commented on #5409
I would also be happy on a hint on how to start the qt event loop automatically on each console start (i.e. without the need to type in %gui qt5) as a temporary workaround.

[2020-01-22 08:39] Dschoni commented on #5409
I installed matplotlib, switched off inline-plotting inside the plot-manager window and magically it started working again. Even if I switch back to the original settings, all plots are now working without the need to start the event loop.

[2020-01-22 08:39] #5409 closed

[2020-01-22 11:21] jitseniesen commented on #11363
The `-p` / `--project` option opens a project if that is what you want, and I think it creates a new project if necessary.

[2020-01-22 12:08] openmindednewby opened #11382 "Unable to open the produced variable frame in Variable Explorer"
## Description

### What steps will reproduce the problem?

# run this code

[code]

'''
What you might be looking for is to create a 'Region of Interest(ROI)' using OpenCV Python.

You can do so in your code as shown:

(x, y, w, h) = cv2.boundingRect(c)
cv2.rectangle(frame, (x,y), (x+w, y+h), (0, 255, 0), 2)
roi = frame[y:y+h, x:x+w]

Note that (x,y) corresponds to the top-left point of your rect

[2020-01-22 13:36] gerazov opened #11383 "Make Profiler save data in a readable format"
This is a feature request connected to an old closed issue #1544.

The `Profiler` is really useful, but it would be great to be able to visualise its output. The data can be saved but there is no documentation on its formatting.

It would be nice to know how to read it, e.g. `pkl` or `csv`, and it would be great if it's in something that allows easy plotting, e.g. a `pandas` dataframe.

[2020-01-22 13:54] ccordoba12 commented on #5409
Good to know!

[2020-01-22 13:55] ccordoba12 commented on #11369
Ok, then it's an error in our side.

[2020-01-22 13:56] ccordoba12 commented on #11381
This is fixed in our latest Spyder 3 version. Please update by opening the Anaconda Prompt and running there

    conda install spyder=3.3.6

[2020-01-22 13:56] #11381 closed

[2020-01-22 14:03] ChrisIdema opened #11384 "crash when switching to working directory on shared network location"
## Description

### What steps will reproduce the problem?

* Windows 10 1909
* Open Spyder 4.0.1
* click on folder icon in top right corner
* select a folder that is shared from a different profile ( \\\\pc_name\Users\other_user_name\\*)

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.1
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

##

[2020-01-22 14:25] timhughes opened #11385 "TypeError in configdialog.py caused by external plugins not defining CONF_DEFAULTS"
## Description

### What steps will reproduce the problem?

I saved some preferences. Appears to be the same as https://github.com/spyder-ide/spyder/issues/11302

hughest@argon [0] $ pip freeze
alabaster==0.7.12
argh==0.26.2
astroid==2.3.3
asttokens==2.0.3
atomicwrites==1.3.0
attrs==19.3.0
autopep8==1.5
Babel==2.8.0
backcall==0.1.0
bleach==3.1.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
clou

[2020-01-22 14:30] dalthviz commented on #11385
Hi @timhughes, do you have installed any plugin with Spyder? if that's the case, you are probably correct and this is a duplicated of #11302

[2020-01-22 16:59] ccordoba12 commented on #11384
Duplicate of #10785

[2020-01-22 16:59] #11384 closed

[2020-01-22 17:00] ccordoba12 commented on #10785
@dalthviz, please take a look at this one.

[2020-01-22 17:04] #11318 closed

[2020-01-22 17:06] ccordoba12 commented on #11382
This is fixed in our latest version Spyder 3. Please update by opening the Anaconda Prompt and running there

    conda install spyder=3.3.6

[2020-01-22 17:06] #11382 closed

[2020-01-22 17:09] ccordoba12 commented on #11383
@gerazov, just to clarify: you want to see the Profiler results in plain text format?

@steff456, please take a look at this one.

[2020-01-22 17:30] #11376 closed

[2020-01-22 17:49] #11358 closed

[2020-01-22 17:58] ortsed opened #11386 "Asks twice to save a file"
## Description

### What steps will reproduce the problem?

Try and save a new file, and it asks to save again. Maybe I accidentally hit another button?

### Traceback
[code]

## Versions

* Spyder version: 3.3.6
* Python version: 3.7.3
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-01-22 18:01] suzannejb commented on #11235
I am afraid it can't be run on that machine. I didn't see any http status code within all of the error/forbidden messages.

[2020-01-22 19:57] LrdKgb opened #11388 "The get() and and insert() method aren't working when using Tkinter in Spyder, yet it worked in other codes I made in past not using Tkinter"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-01-22 21:34] bcolsen commented on #11380
@dinosg Run this first `source <path to conda>/bin/activate` if you put it in the default location this should work: `source anaconda3/bin/activate`

[2020-01-22 21:48] dinosg commented on #11380
nope. When I do that I still get spyder v3.7 not 4.0.1.
Have tried 20 times
conda activate spyder  (to get a separate environment for that version)
conda install spyder=4.0.1

installs....  but still the 3.7 version ugh

[2020-01-22 21:49] dinosg commented on #11380
and the spyder in anaconda3/bin
as well as in
anaconda3/envs/spyder/bin
is still 3.7 no matter what :-(

[2020-01-22 22:03] jfprieur opened #11390 "Spyder 4.01 hangs at "loading main screen""
### Issue Report Checklist

* [X] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [X] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [X] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-01-22 22:16] ccordoba12 commented on #11380
That's the Python version, not the Spyder version. The Spyder version is reported in the menu

    Help > About Spyder

[2020-01-22 22:17] dinosg commented on #11380
you're right. Spyder version is 3.3.6. no matter what

[2020-01-22 22:17] dinosg commented on #11380
invites me to 'update' but when I follow instructions & install, spyder version still the same

[2020-01-22 22:22] ccordoba12 commented on #11380
I'm sorry but I'm going to close this one for now. When you figure it out how to run Spyder 4, and you can send us the debugging info we need to help you, then please post again here (no need to open a new issue).

[2020-01-22 22:22] #11380 closed

[2020-01-22 22:25] ccordoba12 commented on #11390
It seems there are still issues between Tornado and Pyzmq (which is what your error shows). So for now please use Python 3.7

[2020-01-22 22:25] #11390 closed

[2020-01-22 22:37] bcolsen commented on #11380
@dinosg what does  `which spyder` say.

[2020-01-22 22:37] ptoche commented on #8668
It just suddenly came back. Latest MacOS/Python/Spyder.

[2020-01-22 23:29] openmindednewby commented on #11382
Thank you for your response.

Kind regards，
Demetrios

On Wed, 22 Jan 2020, 17:06 Carlos Cordoba, <notifications@github.com> wrote:

[2020-01-23 01:23] akdor1154 commented on #10664
I've had a quick look at this and the lib you are using, `watchdog`, does not support this as-is (requested feature since 2014...). However, it might be possible to subclass one of watchdog's classes to implement this. Would you guys consider such a solution if it wasn't too ugly? Or would you insist that this is implemented in `watchdog` itself first?

[2020-01-23 01:48] ccordoba12 commented on #10664
No. If you're willing to submit a PR for this, we'd really appreciate it!

[2020-01-23 02:01] andfoy commented on #11033
I think pyflakes does not support noqa annotations, flake8 should be used instead: https://github.com/PyCQA/pyflakes/issues/431

[2020-01-23 02:02] akdor1154 commented on #11363
thanks for the suggestions guys. :)

The behaviour of -p is nearly workable for me - there are a couple of weird things which again I'd be happy to contribute fixes for if they'd be welcome.
 - `-p .` creates a project literally called `.` I guess it should be the absolute path to the directory instead? This one is probably not controversial.
 - `-p .` interprets `.` relative to my home directory,

[2020-01-23 08:49] gerazov commented on #11383
Yeah, whatever is easier for you that we can use for making a plot.

[2020-01-23 12:54] hamzahjodeh opened #11391 "we need to execute right"
## Description

### What steps will reproduce the problem?

we cant execute by enter and ctrl
and we need you to fix the plot proplem
you must update
thanks
hamzah jodeh

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.6.10
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-01-23 13:11] ccordoba12 commented on #11391
Duplicate of #11001

[2020-01-23 13:11] #11391 closed

[2020-01-23 13:11] ccordoba12 commented on #11391
We don't know why this error happens, sorry.

[2020-01-23 13:14] ccordoba12 commented on #11379
Please install rtree to fix this problem.

[2020-01-23 13:14] #11379 closed

[2020-01-23 13:51] timhughes commented on #11385
yeah i have the following. I can see if i can isolate which one
[code]

[2020-01-23 14:50] jitseniesen commented on #11385
This error is definitely present in those versions of spyder-line-profiler and spyder-memory-profiler, and fixed by PR spyder-ide/spyder-line-profiler#40 and spyder-ide/spyder-memory-profiler#24 respectively. Other plugins may have the same problem.

[2020-01-23 15:00] dinosg commented on #11380
OK, got spyder 4.0.1 installed... finally. By removing ALL prior instances of spyder then reinstalling, then invoking spyder from command line instead of from anaconda-navigator.

when executing
$ spyder --debug-info verbose

a pop-up window says:
:-( "Spyder (Python 3.7)[DEBUG MODE 3]" is not responding.

you may choose to wait a short while for it to continue or force the application to quit ent

[2020-01-23 15:04] dinosg commented on #11380
I can ignore the pop-up window
and it takes forever for spyder to become responsive, like 3 minutes
Note there is NO KITE on my system (CPU not comptabible)
with terminal output right before becoming responsive:
2020-01-23 10:03:33,557 [DEBUG] [urllib3.connectionpool] -> Starting new HTTP connection (7): 127.0.0.1:46624
2020-01-23 10:03:33,559 [DEBUG] [spyder.plugins.completion.kite.client] -> Per

[2020-01-23 15:06] dalthviz commented on #11385
I will check. Thanks @jitseniesen for the info :+1:

[2020-01-23 15:09] howdyDp opened #11392 "spyder keeps crashing"
Traceback (most recent call last):
File "E:\python\lib\site-packages\spyder\app\mainwindow.py", line 3285, in main
mainwindow = run_spyder(app, options, args)
File "E:\python\lib\site-packages\spyder\app\mainwindow.py", line 3140, in run_spyder
main.setup()
File "E:\python\lib\site-packages\spyder\app\mainwindow.py", line 832, in setup
self.help = Help(self)
File "E:\python\lib\site-packages\spyde

[2020-01-23 16:13] #10911 closed

[2020-01-23 16:29] ccordoba12 commented on #11392
Please read our

https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ

If you are unable to fix the problem after that, please install Anaconda instead. Unfortunately, we don't have the resources nor the time to help people with custom installations, so it's up to you to figure this one out.

This is because custom installations are for experts or very knowledgeable people who r

[2020-01-23 16:29] #11392 closed

[2020-01-23 16:42] ccordoba12 commented on #11380
It looks like an issue with your firewall, which seems to be blocking communications with some sockets we need to open in your system.

[2020-01-23 16:52] ccordoba12 commented on #11363
If VSCode and Sublime do the same as us, then I'd be happy a PR to add support to create a new project with `-p` if none is present in the directory passed to it.

[2020-01-23 17:32] dinosg commented on #11380
oh brother - there's a router together with a raspberry pi that blocks adware related sites via the DNS lookup but that's it. Any address I should whitelist for it?

[2020-01-23 17:40] ccordoba12 commented on #11380
`127.0.0.1` is the only one we need.

[2020-01-23 19:06] #10785 closed

[2020-01-23 21:33] fkloosterman commented on #10946
Related, it may nice for Spyder to work with the [Jupyter Enterprise Gateway](https://jupyter-enterprise-gateway.readthedocs.io/en/latest/) to launch and connect to kernels remotely?

[2020-01-23 21:59] dinosg commented on #11380
that's just localhost:    communicate w/ it all the time for vnc connections so puzzling it should be blocked. Pinging it, it responds clearly

[2020-01-23 22:00] camilomarino commented on #7850
I installed spyder-kernels on both computers, but the variable explorer does not work. I am using spyder 4, is it correct that this happens now?

I have Ubuntu 18.04 and spyder 4 on both PCs.

[2020-01-23 22:37] albertoRainieri opened #11394 "Strange problem with the kernel"
Hi guys. I downloaded Spyder, but as soon as I open the app I have a problem with the kernel. I tried all the possible updates I have seen from similar topics but I couldn't solve the problem. Can you please help me? Thanks.

An error ocurred while starting the kernel
The error is:

[code]

[2020-01-23 23:02] goanpeca commented on #11394
@albertoRainieri could you share the packages installed in your env?

On the anaconda prompt type:

conda list

[2020-01-23 23:43] albertoRainieri commented on #11394
# packages in environment at C:\Users\Alberto Rainieri\Anaconda3:
#
# Name                    Version                   Build  Channel
_anaconda_depends         2019.03                  py37_0
_ipyw_jlab_nb_ext_conf    0.1.0                    py37_0
alabaster                 0.7.12                   py37_0
anaconda                  custom                   py37_1
anaconda-client           1.7.2

[2020-01-23 23:46] goanpeca commented on #11394
Please update to spyder 4.0

`conda install spyder=4`

[2020-01-24 00:07] albertoRainieri commented on #11394
Ok I have Spyder 4 now, but I have the same problem.

An error ocurred while starting the kernel
The error is:

Traceback (most recent call last):
File "C:\Users\Alberto Rainieri\Anaconda3\lib\site‑packages\spyder\plugins\ipythonconsole\plugin.py", line 1173, in create_kernel_manager_and_kernel_client
kernel_manager.start_kernel(stderr=stderr_handle, **kwargs)
File "C:\Users\Alberto Rainieri\Anaco

[2020-01-24 00:08] goanpeca commented on #11394
Please provide the packages installed on your updated environment

[2020-01-24 00:09] albertoRainieri commented on #11394
# packages in environment at C:\Users\Alberto Rainieri\Anaconda3:
#
# Name                    Version                   Build  Channel
_anaconda_depends         2019.03                  py37_0
_ipyw_jlab_nb_ext_conf    0.1.0                    py37_0
alabaster                 0.7.12                   py37_0
anaconda                  custom                   py37_1
anaconda-client           1.7.2

[2020-01-24 00:14] goanpeca commented on #11394
Try runninig:

`conda install jupyter-client==5.3.1`

[2020-01-24 00:18] albertoRainieri commented on #11394
Same error :/

[2020-01-24 00:20] goanpeca commented on #11394
@ccordoba12 do you know what is going on?

[2020-01-24 03:09] dalthviz commented on #11353
@ccordoba12 I was not able to reproduce this one but seems like the restart message added in PRs #11322 and #11358 is being triggered when the disposition of displays changes. Also, while testing I found a error when the screen changes so I made PR #11395

[2020-01-24 04:15] ccordoba12 commented on #11394
Please run

    conda update jupyter_client jupyter_core

to see if that fixes the problem.

[2020-01-24 04:22] ccordoba12 commented on #11380
Then I don't know what it is, but it looks something particular to your setup.

[2020-01-24 04:25] ccordoba12 commented on #11380
Well, now that I remember, your problem looks similar to issue #10221. Are you starting a remote Xorg session through ssh to connect to your machine?

[2020-01-24 04:26] ccordoba12 commented on #10946
@fkloosterman, very nice suggestion! We'll see what we can do about it.

[2020-01-24 07:58] albertoRainieri commented on #11394
Sorry my bad! Yesterday, I didn't realize that by running "conda install jupyter-client==5.3.1" .  This was the result from the command prompt:

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retryin

[2020-01-24 08:24] paugier opened #11396 "Integration of automatic formatting tools: autopep8, yapf and black"
With the Python extension of Visual Studio Code, it is by default possible to format a file just by pressing keys. The same feature should be available in Spyder.

It is especially useful for students and new learners that just discover the PEP 8. But it is actually very useful for all Python developers...

This issue is similar to #9359 (which was closed after a very strange discussion about the

[2020-01-24 12:43] RayJohnson2 commented on #910
Are Spyder Bookmarks still in preparation?
Any idea when we might see them?
This is really the only feature that I miss on Spyder .....

[2020-01-24 14:15] ccordoba12 commented on #910
They'll be added in Spyder 5, to be released in a year or year and a half.

[2020-01-24 14:25] RayJohnson2 commented on #910
Thanks for your reply!

[2020-01-24 14:34] sindhuraks opened #11397 "Assertion Error"
## Description

### What steps will reproduce the problem?

AssertionError: AbstractConv2d Theano optimization failed: there is no implementation available supporting the requested options. Did you exclude both "conv_dnn" and "conv_gemm" from the optimizer? If on GPU, is cuDNN available and does the GPU support it? If on CPU, do you have a BLAS library installed Theano can link against?

The openb

[2020-01-24 14:50] ccordoba12 commented on #11397
That's a problem with your code, not with Spyder. Therefore, I'm closing this one, sorry.

[2020-01-24 14:50] #11397 closed

[2020-01-24 16:38] gerazov commented on #6695
:+1:  This would be really useful for debugging array variables.

[2020-01-24 16:44] MAlexGR opened #11398 "Antivirus stoped Spyder"
## Description

### What steps will reproduce the problem?

Avast antivirus marks pythonw.exe as infected by IDP.Generic

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-01-24 16:46] ccordoba12 commented on #11398
Then you have to whitelist pythonw.exe in Avast. There's nothing we can do about it in our side.

[2020-01-24 16:46] #11398 closed

[2020-01-24 17:39] ccordoba12 commented on #10798
@andfoy, please take a look at this one.

[2020-01-24 19:28] andfoy commented on #10798
I think this is a separate issue, which I can reproduce

[2020-01-24 20:19] andfoy opened #11399 "Snippets do not display when the text starts by underscore"
# Problem Description
Taken from a comment of user @melsophos on #10798

### What steps reproduce the problem?
1. Try to insert a completion whose text start by underscore

[2020-01-24 20:42] andfoy commented on #10798
@melsophos, PR #11400 should fix your aforementioned issue

[2020-01-24 20:46] andfoy commented on #10798
@its-dhung @ccordoba12  I'm still unable to reproduce this issue:
![Peek 24-01-2020 15-45](https://user-images.githubusercontent.com/1878982/73102774-9dc81580-3ec0-11ea-8f8e-2ae9ebd0af3f.gif)

[2020-01-24 21:35] ccordoba12 commented on #11353
Ok, closing then.

Great, thanks!

[2020-01-24 21:35] #11353 closed

[2020-01-24 21:36] Stargrazer82301 commented on #10671
I have the same issue, in Spyder3 and Spyder4, on MacOS High Sierra. Help never appears for functions in editor, despite this being enabled in preferences.

(Otherwise, loving all the improvements in Spyder4!)

[2020-01-24 21:43] ccordoba12 commented on #11388
@dalthviz, please take a look at this one.

[2020-01-24 21:48] ccordoba12 commented on #7579
Closing because this is very old now.

[2020-01-24 21:48] #7579 closed

[2020-01-24 21:59] LrdKgb commented on #11388
I've managed to solve this issue I thought it had something to do with the Spyder update I just did. It had something to do with another code that was in a different format. You may delete this thread. On that note the new version isn't as fast as it was even when tide is off. Thanks

[2020-01-24 21:59] #11388 closed

[2020-01-24 22:17] goanpeca commented on #6695
@impact27 could you take a look at this one?

[2020-01-24 22:18] goanpeca commented on #11396
@paugier we are in the process of migrating spyder-autopep8 to Spyder 4 and fixing this.

Thanks!

[2020-01-24 22:50] #11399 closed

[2020-01-24 22:52] ccordoba12 commented on #6695
The error is here:

https://github.com/spyder-ide/spyder-kernels/blob/2c5b36cdb797b8aba77bc406ca96f5e079c4aaca/spyder_kernels/console/start.py#L267

So we're not taking into account the current frame namespace when passing a variable to the `%varexp` magic.

[2020-01-25 09:07] m-bouville commented on #11341
I have this problem when I try to highlight a whole line.
- Is there a shortcut for selecting a line?
- Is there a way to increase the space between the arrows for collapsing and the main window (adding a no man's land)?

[2020-01-25 09:36] stevenyucode opened #11401 "An error ocurred while starting the kernel"
## Problem Description
After installing the Anaconda3 , open the Spyer then got the error under the right Console
"An error ocurred while starting the kernel"

### What steps reproduce the problem?

1. installing the Anaconda3
2. open the Spyer
3. got the error under the right Console

### Paste Traceback/Error Below (if applicable)
The error is:

Traceback (most recent call last):
File "C:\Users\

[2020-01-25 15:35] ccordoba12 commented on #11401
Please close Spyder, open the Anaconda prompt, run there

    conda update anaconda
    conda update jupyter_client

and then start Spyder again. That should fix your problem.

[2020-01-25 15:35] #11401 closed

[2020-01-25 15:37] ccordoba12 commented on #11386
Duplicate of #5996

[2020-01-25 15:37] #11386 closed

[2020-01-25 17:20] ccordoba12 commented on #11331
Sorry for not answering before. I think the problem is that Numpy arrays obtained like this

    X=dataset.iloc[:,:-1].values

are object arrays, and those are read-only by default.

[2020-01-25 17:23] ccordoba12 commented on #11331
@steff456, please verify if my assumption is correct. If that's the case, we need to change the window title of our array editor (see the screenshot in https://github.com/spyder-ide/spyder/issues/11331#issuecomment-575272837) from `NumPy array (read only)` to `NumPy object array (read only)`.

[2020-01-25 17:46] ab-5860 commented on #11331
Thanks for your help.
Yes your assumption is correct.

On Sat, 25 Jan 2020, 22:53 Carlos Cordoba, <notifications@github.com> wrote:

[2020-01-25 21:22] kdano commented on #10585
I am now on version 4.0.1 but the problem persists (with Anaconda).
Interestingly, there is no problem with Spyder installed via WinPython.

[2020-01-25 21:59] seyyidahmet commented on #2254
Hey,

I know that issue is closed but I found this helpful link https://stackoverflow.com/a/56778708/10864317 where you can hide the runfile command for good. May be there are still people who are annoyed by it.

[2020-01-26 07:45] Naman00 opened #11402 "an error occured while starting kernel"
## Description

### What steps will reproduce the problem?

i updated spyder to 4.01 and after it was showing no module name numpy or pandas or any libraries then i downgrade it to 3.01 then its showing an error occured while starting kernel

## Versions

* Spyder version: 3.3.6
* Python version: 3.7.4
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[co

[2020-01-26 09:42] senlin198 opened #11403 "Spyder 4 is not preserving files creation time"
Hello,Spyder developer，when i use Spyder 4.0.1 to edit my python file it change my file creation time. Spyder change my python file creation time to newest time but creation time is very important for me. Creation time is a important record for me so could your solve this issue？I am looking forward your reply . How can i recover my python file creation time? Creation time is important for me! my e

[2020-01-26 13:26] ccordoba12 commented on #11402
Because the kernel versions are incompatible between Spyder 3 and 4. Please be sure you have spyder-kernels version 0.5.2 installed.

[2020-01-26 13:26] #11402 closed

[2020-01-26 13:59] Naman00 commented on #11402
thanks

[2020-01-26 15:32] sindhuraks opened #11404 "error importing tensorflow"
## Description

### What steps will reproduce the problem?

Traceback (most recent call last):
  File "C:\Users\Sindhura\AppData\Roaming\Python\Python37\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\Sindhura\AppData\Roaming\Python\Python37\site-packages\tensorflow_core\python\pywrap_t

[2020-01-26 20:16] ccordoba12 commented on #11403
Thanks for reporting. We haven't noticed this before.

There's no way to recover that date, sorry. So I'm afraid you'll have to use another editor until we fix this in Spyder.

[2020-01-26 20:16] ccordoba12 commented on #11403
@andfoy, please take a look at this one. This probably happens because we're not preserving the creation date after doing an atomic write.

[2020-01-26 20:23] ccordoba12 commented on #11404
This happens because you're mixing packages installed with Anaconda with packages you installed with pip. To fix this error please remove this directory:

   C:\Users\Sindhura\AppData\Roaming\Python

and use conda to install tensorflow.

If you don't get the latest tensorflow version, you'll have to use the one that can be installed because using pip will cause this error again.

[2020-01-26 20:23] #11404 closed

[2020-01-27 06:36] senlin198 commented on #11403
It's too bad. Creation time is a important record for me, because it record beginning to program.

[2020-01-27 07:44] SandeepBhutani opened #11405 "Kited is using too much resources"
## Description

### What steps will reproduce the problem?

Hi,
Since I have upgraded to spyder 4.1 which uses kited, I am almost unable to use spyder. It takes too much memory and cpu. We moved from pycharm to spyder because it is lightweight. But now looks like we need to find other alternatives

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.3
* Qt version: 5.12.5
* PyQt5 version: 5

[2020-01-27 08:23] impact27 opened #11406 "Kernel dies silently and doesn't restart properly."
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-01-27 08:39] tokorhon opened #11407 "Spyder hangs on qthelpers.py (line 93: app = SpyderApplication(['Spyder']))"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-01-27 10:46] Psypher-x opened #11408 "Error after updating spyder to verson 4.0.1"
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-01-27 13:30] ccordoba12 commented on #11408
Please reinstall Anaconda because it seems it's broken, sorry.

[2020-01-27 13:30] #11408 closed

[2020-01-27 13:37] ccordoba12 commented on #11406
What do you suggest we should do? I mean, it seems more a problem in Jupyter than in Spyder, right?

[2020-01-27 14:05] impact27 commented on #11406
Not really, the kernel crashes because it asks for an unreasonable amount of memory. But spyder doesn’t show the “kernel died” message and doesn’t reopen the comm.

[2020-01-27 14:57] ccordoba12 commented on #11406
Creating a new kernel after the previous one dies is done by jupyter_client, not by Spyder.

Are you able to run code in qtconsole after the kernel dies and you have a new prompt?

[2020-01-27 15:01] ccordoba12 commented on #11405
Kite is an optional dependency, so you can uninstall it and keep working with Spyder without problems.

@metalogical, @its-dhung, we've heard before and also seen that Kite consumes too much RAM after some time. Do you know what could be happening? And is there something you could do to reduce memory consumption?

[2020-01-27 15:01] impact27 commented on #11406
In `qtconsole` I get a message that says "Kernel died, restarting" which I don't in `spyder`. Futhermore there is the problem with the disconnected comm.

[2020-01-27 15:03] ccordoba12 commented on #11407
This probably happens because another Qt5 installation that it's interfering with Anaconda and WinPython.

Please search for this pattern `Qt5*.dll` and uninstall/remove those files if they are placed outside Anaconda or WinPython.

[2020-01-27 15:03] impact27 commented on #11406
Easier way to reproduce the same issue:
[code]
Then open a terminal and type `kill <pid>` where `<pid>` is the number you got from the kernel.

[2020-01-27 15:05] impact27 commented on #11406
It looks like `client.py` `_restart_thread_end` is not called somehow

[2020-01-27 15:10] ccordoba12 commented on #11406
Is that code part of jupyter_client?

[2020-01-27 15:21] Mark531 opened #11409 "Low resolution in matplotlib graphs"
## Problem Description
The matplotlib graphs are created in low resolution. It's just a problem of display since the copy/paste of the image is good.

### What steps reproduce the problem?
1. Create a graph with matplotlib

### What is the expected output? What do you see instead?
I expect a correct resolution but I hardly see the labels and figures. I tried to change the configuration of backend

[2020-01-27 15:36] ccordoba12 commented on #11342
Closing due to lack of response.

[2020-01-27 15:36] #11342 closed

[2020-01-27 15:38] ccordoba12 commented on #11331
@ab-5860, thanks for confirming it! The thing is object arrays can't be edited because we don't know what kind of elements they contain (i.e. they can contain strings, numbers, lists, etc).

[2020-01-27 15:46] ccordoba12 commented on #11409
Duplicate of #9148

[2020-01-27 15:46] #11409 closed

[2020-01-27 15:46] ccordoba12 commented on #11409
We'll try to fix this in a future release.

[2020-01-27 15:58] #10745 closed

[2020-01-27 16:36] impact27 commented on #11406
I was looking at code from one of my PR. This is fixed there.

[2020-01-27 17:01] EnderWiggin14 commented on #11360
I tried to use LiceCap, but windows couldn't find the file that LiceCap
saved. Only LiceCap could find the file that it saved.

Here is a screenshot of my issue.

Additionally, as it is probably associated with this problem, sometimes the
folds continue to exist but are shifted down a line.

On Tue, Jan 21, 2020 at 6:22 PM Michael Vander Wal <vandermwal@gmail.com>
wrote:

[2020-01-27 17:03] ccordoba12 commented on #11360
@EnderWiggin14, screenshots can't be send via email. You need to post them here directly.

[2020-01-27 17:21] GregSal opened #11410 "Error message given selecting directory"
## Description

### What steps will reproduce the problem?

Error with server style path name:
\\dkphysicspv1\e$\Gregs_Work\Aria CCO Reporting\ARIA_Queries\Structures Query
Work arround: use mapped drive:
S:\Aria CCO Reporting\ARIA_Queries\Structures Query

Notes:
  Appeared with most recent update worked file in previous version
  Could be the "$" in the path name rather than the server style pat

[2020-01-27 17:29] ccordoba12 commented on #11410
Duplicate of #10785

[2020-01-27 17:29] #11410 closed

[2020-01-27 17:29] ccordoba12 commented on #11410
It'll be fixed in our next version.

[2020-01-27 17:50] rajku209 opened #11411 "while saving code in editor says no file found"
## Description

### What steps will reproduce the problem?

while saving code from editor,it says file not found at destination folder location

![Capture](https://user-images.githubusercontent.com/9960634/73200142-3a5a1400-415c-11ea-93c3-c067afd126cf.PNG)

## Versions

* Spyder version: 3.3.2
* Python version: 3.7.1
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### De

[2020-01-27 18:03] metalogical commented on #11405
Hi @SandeepBhutani

Please reach out directly to Kite with CPU & memory profiles, as well as your Kite client log: https://help.kite.com/article/96-contact-us-with-logs

[2020-01-27 18:21] ccordoba12 commented on #11411
Please update to Spyder 4 by opening the Anaconda Prompt and running the commands

    conda update anaconda
    conda update spyder

Then try again.

[2020-01-27 18:24] ccordoba12 commented on #11405
Thanks @metalogical for chiming in!

Closing then because this is not something we can address here.

[2020-01-27 18:24] #11405 closed

[2020-01-27 18:26] #11128 closed

[2020-01-27 18:55] 6884 commented on #5519
+1, would love to see this in spyder as well!

[2020-01-27 19:18] derekeden commented on #11126
any idea when the new release is coming? using 4.0.1 and this literally happens like every 20-30 minutes, makes it almost unusable

[2020-01-27 20:24] ccordoba12 commented on #11126
We'll try to release it i a two or three weeks.

[2020-01-27 20:33] durack1 opened #11412 "Spyder 4.0.1 editing *really* laggy"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-01-27 20:35] derekeden commented on #11126
thanks!

[2020-01-27 20:35] OverLordGoldDragon commented on #11126
@derekeden My current workaround is to run code in one Spyder instance, and do editing in `spyder --new-instance` - this way running code is never interrupted, and unsaved code can be usually recovered.

[2020-01-27 20:38] derekeden commented on #11126
@OverLordGoldDragon annoying :( but thanks for the suggestion! Will consider that.

[2020-01-27 20:41] ccordoba12 commented on #10833
Let's close this one as a duplicate of #10540.

[2020-01-27 20:41] #10833 closed

[2020-01-27 20:44] ccordoba12 commented on #10996
Closing as a duplicate of #10540.

[2020-01-27 20:44] #10996 closed

[2020-01-27 20:50] ccordoba12 commented on #11412
This problem should have been fixed in 4.0.1 (at least it was not reported again after that release).

@steff456, could you test how things are in Spyder 4.0.1 and macOS?

[2020-01-27 20:51] durack1 commented on #11412
@ccordoba12 @steff456 happy to provide some more diagnostic input if it's required. It's a bummer, I was looking forward to moving to the shiny new full release (from b4) and this happened :(

[2020-01-27 22:12] farznaj commented on #11126
Dealing with the same problem ... python 3.7; spyder 4.0.1 ; OS: linux ... soooooooo annoying ... what's the latest version of spyder that doesn't have this problem? perhaps we can go back to it? can you help with this? thanks.

[2020-01-27 23:12] ccordoba12 commented on #11126
@farznaj, Spyder 3.3.6 shouldn't have this problem.

Could you let us know under what circumstances this happens for you? According to our findings, this should only happen when you're editing big files (>1k lines of code) or making too many code completion requests in a very short amount of time (i.e. pressing the Tab key a lot of times).

[2020-01-27 23:19] derekeden commented on #11126
@ccordoba12 this happens to me several times an hour. Scripts ranging from 10 to 500 lines of code at most. I don't actually use tab completion very often at all. Seems to happen randomly but definitely can say it's happened a few times when I was backscaping or using the down arrow to go down lines

[2020-01-27 23:45] farznaj commented on #11126
It is not a big file. But I am using tensor flow and keras in the script that I am running. It is unbearably annoying ... happens quite often, and freezes for several loooonnnngggg seconds....

[2020-01-28 00:12] farznaj commented on #11126
Another quite annoying issue with spyder 4.0.1 is that it automatically opens a window with suggested words for completion, and the window keeps staying there on the editor! even though I don't want to use it!!!!! The biggest problem is that when, as a quite natural move, I try to move the cursor down, it moves down the "suggested words" window, instead of the editor ... this is very frustrating!!

[2020-01-28 00:20] goanpeca commented on #11126
Have you tried disabling automatic completions on the `Completion and linting` `Preferences`?

[2020-01-28 04:38] apremgeorge opened #11414 "Spyder IDE hangs (not responding) while copying when a process is running."
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-01-28 04:43] its-dhung commented on #10798
@andfoy I can reproduce this reliably.

![Jan-27-2020 20-41-37](https://user-images.githubusercontent.com/3752225/73235969-7afa6300-4145-11ea-9d21-2a16378987c1.gif)

In the video above, the first 2 usages of the completion `json` result in extra text being inserted. In the 3rd usage, the right text is inserted after moving the cursor around. Not sure if moving the cursor around has anything to do

[2020-01-28 04:58] akdor1154 commented on #11363
awesome, thanks for your consideration :)

[2020-01-28 07:17] tokorhon commented on #11407
Thanks for your reply. There are several Qt5*.dlls outside Anaconda and WinPython (like pgAdmin4, RStudio, FireShark) but none of those are in path. I also checked that there are no Qt5*.dlls loaded in memory using [ListDLLs](https://docs.microsoft.com/en-us/sysinternals/downloads/listdlls) utility.

Problem details in Windows error dialog is

Problem signature:
  Problem Event Name:	APPCRASH
  Ap

[2020-01-28 07:55] LeoWelter commented on #2625
I'm still seeing the same behaviour on Spyder 4.0.1, Python 3.6.7 64-bit | Qt 5.9.6 | PyQt5 5.9.2 | Linux 5.3.0-26-generic

[2020-01-28 07:59] LeoWelter commented on #11362
may I say "me too". I was kind of expecting this would be in. As new user of Spyder i'm kind of disappointed since virtual env support is in pycharm and eclipse for ages now.

[2020-01-28 08:43] abudden opened #11417 "Signature calltip doesn't work without automatic bracket completion (Kite example)"
### Issue Report Checklist

* [X] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [X] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [X] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-01-28 09:29] jayshreethakare opened #11418 "no output"
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-01-28 16:02] ccordoba12 commented on #11407
Ok, that's progress. So there's an incompatibility with your graphics card driver.

Please open a system prompt (cmd.exe), run there

    spyder --reset

and try again. That should fix the problem.

[2020-01-28 16:04] ccordoba12 commented on #11414
Please post a video (animated gif) of your problem with the Licecap program to better understand what's happening.

[2020-01-28 16:05] ccordoba12 commented on #11126
@farznaj:

Could you share your script with us? It'd really help us to debug this problem because none of us do machine learning so we don't use those kind of libraries.

If it contains private or sensitive information, you could send it to us via email.

That's called completion on the fly, and it was asked by several other users in past. However, if you dislike, you can deactivate it by going to

[2020-01-28 16:08] ccordoba12 commented on #11418
You need to add a `print` in your code if you want to see a result printed in the console. For example, in the code you posted above you can change the last line to be

    print(img)

instead of

    img

[2020-01-28 16:08] #11418 closed

[2020-01-28 16:09] ccordoba12 commented on #11417
@dalthviz, please take a look at this one.

[2020-01-28 16:47] ccordoba12 commented on #10798
@dalthviz, could you reproduce this one?

[2020-01-28 18:09] OverLordGoldDragon opened #11420 "%autoreload fails (Spyder 4)"
[demo](https://www.dropbox.com/s/1dhpbrm3nlxnakj/autoreload_demo.mp4?dl=0). Note how debugger shows the added line, even pointing to it as the source of failure - so `%autoreload` doesn't do nothing.

A rare occurrence, maybe the first for me - don't know how to reproduce, will share if found.

<hr>

**Update**: reproduced immediately after reloading kernel - but still not 'reproduce-friendly'.

[2020-01-28 18:48] gabrielclow commented on #11412
I was the original poster of this issue on Spyder 4.0.0 and I can comment that it is now usable for me but still not ideal. Still experience lag but I'd rather have the dark mode than go back to Spyder 3.

[2020-01-28 19:04] dalthviz commented on #10798
@ccordoba12 I was able to reproduce this by changing the number of characters for automatic completion to 1 and decreasing the show automatic completions keyboard idle to 50:

![image](https://user-images.githubusercontent.com/16781833/73295948-abd6a880-41d6-11ea-8bd4-a960f5a4266a.png)

![extra](https://user-images.githubusercontent.com/16781833/73296077-f7895200-41d6-11ea-9079-c6fc4a0e5403.gif)

[2020-01-28 19:17] IADSJohn opened #11421 "Automatic error report"
In Spyder, I double clicked on an array in the variable explorer. An error box came up asking me to submit a report. No array came up as before. This behavior started as soon as I installed Spyder 3.2.8, Anaconda 4.7.12 is the package.

[2020-01-28 19:36] ccordoba12 commented on #11421
This is fixed in our latest version Spyder 3. Please update by opening the Anaconda Prompt and running there

    conda install spyder=3.3.6

[2020-01-28 19:36] #11421 closed

[2020-01-28 19:48] ccordoba12 commented on #11412
Thanks for chiming in @gabrielclow! You said

I'm curious to know under what circumstances this still happens. Could you be more specific?

[2020-01-28 19:56] gabrielclow commented on #11412
It feels like there is still lag in the same situations as before. Adding lines seems to be the most affected, but I haven't tested much specifically. It is smoother than 4.0.0, though. I haven't experienced Spyder freezing because of this anymore, for instance.

[2020-01-28 20:14] ccordoba12 commented on #10798
Great work @dalthviz! So this is sort of a race condition in the completion widget.

I think the problem is that Spyder takes some time to display the completion widget, so the additional characters the user types are not passed to the widget. And until the widget appears, they are not passed to the editor either.

A possible solution would be to display the completion widget immediately when user

[2020-01-28 20:22] ccordoba12 commented on #11412
Do you use the Outline pane? This problem should not appear if that pane is not visible.

[2020-01-28 20:41] gabrielclow commented on #11412
I do use it. I just tested without and indeed the lag is much lower. But I just noticed something else: minimizing the outline pane on new editor windows does not eliminate the lag. It's as if the Outline pane is still open. Closing the Outline pane will only work in the original Editor pane or using it undocked (to be able to drag it to another display).

[2020-01-28 20:54] ccordoba12 commented on #11412
@bcolsen, could you take a look at this?

[2020-01-28 21:13] RollTime12 commented on #11351
I also have this issue. I first noticed it after a failed attempt to upgrade my anaconda to Python 3.8, could this have contributed to the issue?

[2020-01-28 22:30] ccordoba12 commented on #11351
@dalthviz, when does the "unsupported" message appears?

[2020-01-28 22:38] SystemsPatrick commented on #8952
pip3 install PyQtWebEngine

[2020-01-28 22:42] akdor1154 commented on #9987
@ccordoba12  would you accept a dependency on libresvg? It's a reasonably standalone (i.e. doesn't need to pull in Cairo) Rust SVG library. I can probably create Python bindings + prebuilt wheels for it if Spyder would consider using it.

[2020-01-28 22:53] dalthviz commented on #11351
The `unsupported` status is showed when the current file type isn't supported for Kite. For example, if I open and `.html` having Kite enabled it would say in the status bar `unsupported`:

![image](https://user-images.githubusercontent.com/16781833/73311865-7ee5be00-41f5-11ea-861a-0410fa6c8b9e.png)

Also, if you hover the status bar, a tooltip should appear with a little description of the curren

[2020-01-28 23:08] bcolsen commented on #11412
I can confirm that there is no way to "hide" the outliner in a new editor window. There needs to be an option for that in the editor window view menu.

[2020-01-29 02:08] IADSJohn commented on #11421
Thanks, Carlos

From: Carlos Cordoba <notifications@github.com>
Sent: Tuesday, January 28, 2020 11:36 AM
To: spyder-ide/spyder <spyder@noreply.github.com>
Cc: John Bretz <jcbretz@SYMVIONICS.com>; Author <author@noreply.github.com>
Subject: Re: [spyder-ide/spyder] Automatic error report (#11421)

Closed #11421<https://github.com/spyder-ide/spyder/issues/11421>.

—
You are receiving this because you

[2020-01-29 02:23] durack1 commented on #11412
This is potentially another issue, but is it by design that you can’t shrink/resize a window, so for e.g. expand the editor to take up 95% of the app screen real estate? When I’ve tried to do this in 4.0.1 I can only expand the editor to 50%, and the terminal/console (which I’m not using) just sits there taking up precious space.

[2020-01-29 02:51] ccordoba12 commented on #11351
@dalthviz, perhaps we should change this message to "unsupported file type" for clarity?

[2020-01-29 02:56] ccordoba12 commented on #9987
I think you'll need to add it to [qtconsole](https://github.com/jupyter/qtconsole) because we're not in charge of rendering plots directly. We just receive what qtconsole send us and display it in the Plots pane.

Besides, I don't understand how the interaction between that library and Qt would work.

[2020-01-29 02:58] ccordoba12 commented on #11412
That's true. The Outline pane is always visible in new windows.

[2020-01-29 03:20] goanpeca commented on #11351
That is too long, I disagree with that!

[2020-01-29 03:37] ccordoba12 commented on #11351
What do you propose?

[2020-01-29 03:39] goanpeca commented on #11351
Not changing it

[2020-01-29 03:44] dalthviz commented on #11351
I think that we get that status from Kite itself (when Kite is running, we request the status and the response has the status and a description which we put in the tooltip). Checking the issue, I'm unsure if there are other cases where such status is being retrieved (maybe if Kite is running, but not working as expected, Kite returns such status?)

[2020-01-29 04:05] ccordoba12 commented on #11351
The problem is that that message is not clear enough, as this issue shows.

[2020-01-29 04:14] goanpeca commented on #11351
Still, from what @dalthviz described, that comes from kite and it should be a single word (like the rest) not a full sentence. We could update the kite onboarding or the kite install screen to explain how you can get more information with hover tooltip, but then again that is “common” knowledge.

[2020-01-29 06:59] shivendra90 commented on #11351
Ok this is strange. I have a couple of .py files open in the editor pane. While for some Kite shows 'Ready' on the status bar, for others, it shows 'unsupported'. When hovering over the status bar for the unsupported file (which happens to be a .py file), it shows 'Kite only supports Python'. I took some screenshots.

For examplee, for the `lt_analysis.py` file, Kit shows 'unsupported' while for t

[2020-01-29 07:02] impact27 commented on #11420
To reproduce:
1 - create file with
[code]
run the file with F5 or the green arrow
in ipyconsole:
[code]
2 - Modify the file so it says:
[code]
3 - save but don't run it
in ipyconsole:
[code]

[2020-01-29 07:13] impact27 commented on #11420
This is an ipython error, not a spyder one:
[code]

[2020-01-29 07:30] impact27 commented on #11412
The best way to diagnose this in my opinion is to try to profile spyder:
 0 - Make sure you have the most up-to-date version of spyder
 1 - Disable "Single instance" in the preferences > general > advanced settings
 2 - Create a file with:
[code]
 3 - profile with: Run > Profile (Or F10)
 4 - Use the new spyder that appears. Try to use it for a short while (3 min or so) and only do what you think

[2020-01-29 09:20] mahaibiao opened #11423 "Code folding does not fold correctly when there is "except""
## Problem Description
When "except" in a function, the part of "except" codes are folded and a bug occurs.
code like this:
![1](https://user-images.githubusercontent.com/32011188/73342991-b2d6e700-42ba-11ea-847e-e9cb57c23d9c.png)

When try to fold the part of "except" codes, funB is folded unexpectedly.
![2](https://user-images.githubusercontent.com/32011188/73343044-d437d300-42ba-11ea-8d96-33194

[2020-01-29 11:06] Theeyeball opened #11424 "Issue after removin all variables"
## Description

### What steps will reproduce the problem?

If I want to remove all variables from variable explorer even by "remove all variables" button issue shows up.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.3
* Qt version: 5.12.5
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### Dependencies

[code]

[2020-01-29 14:26] ok97465 commented on #10798
If multiple requests occur before displaying a widget, how about displaying the widget only for the last request?

I'm not sure my code is the solution about this problem.
I changed ```send function of _maybe_send_locked of plugin.py of completion```  to my code.
I've been using the following code for months.
[code]

[2020-01-29 14:55] tokorhon commented on #11407
Unfortunately --reset did not fix the problem. Running spyder --reset produces the same Windows error dialog "Python has stopped working" with following information

Problem signature:
  Problem Event Name:	APPCRASH
  Application Name:	pythonw.exe
  Application Version:	3.8.150.1013
  Application Timestamp:	5da4ceda
  Fault Module Name:	ig9icd64.dll
  Fault Module Version:	21.20.16.4550
  Fault Mo

[2020-01-29 15:23] skjerns opened #11425 "Spyder randomly crashes"
### Issue Report Checklist

* [X] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [X] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [X] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-01-29 15:52] abudden opened #11426 "Section marks (#%%) not working as expected"
### Issue Report Checklist

* [X] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [X] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [X] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-01-29 16:19] ccordoba12 commented on #11407
I don't think so. This looks most probably related to an incompatibility between the Qt version you're using and the Intel driver version you have installed.

See

https://bugreports.qt.io/browse/QTBUG-71976
https://bugreports.qt.io/browse/QTBUG-66915

Since the first bug is closed, it seems this problem is fixed in Qt 5.12. However, we're not setting the right OpenGL implementation used by Qt in

[2020-01-29 16:19] #11407 closed

[2020-01-29 16:22] ccordoba12 commented on #11425
This looks like a duplicate of #11222, which is already fixed and it'll be part of our next release. If you encounter the same problem after 4.1.0 is released, please open a new issue.

[2020-01-29 16:22] #11425 closed

[2020-01-29 16:27] ccordoba12 commented on #11424
Duplicate of #11001

[2020-01-29 16:27] #11424 closed

[2020-01-29 16:28] ccordoba12 commented on #11424
Unfortunately, we've been unable to reproduce this error. So if you find to **always** reproduce it, please post it in the above issue.

[2020-01-29 16:43] dalthviz commented on #11351
@shivendra90 thanks for the screenshots and new info! I'm not totally sure but maybe the name of the file is causing some issues?

Seems like the file with the unsupported status has a `t` with an underline (`t͟ `) as part of its name, could you try to change the name of the file and see if you still get the `unsupported` status?

Also, could try running Spyder with the `--debug-info verbose` flag

[2020-01-29 16:54] ccordoba12 commented on #11420
Thanks @impact27 for taking a look at this one! Closing then.

[2020-01-29 16:54] #11420 closed

[2020-01-29 16:57] ccordoba12 commented on #11426
Thanks for the detailed report. Unfortunately this is very low priority to us, but you're welcome to send us a pull request to fix it.

[2020-01-29 17:10] ccordoba12 commented on #10798
That makes a lot of sense, thanks @ok97465!

@dalthviz, please take a look at @ok97465's patch to see if it solves this issue.

[2020-01-29 17:10] brandonloong opened #11427 "Spyder Notebook opening improper ipynb file problem"
## Description

### What steps will reproduce the problem?

I accidentally saved a normal python script as a .ipynb file and then tried to open it in the spyder-notebook pane and then it crashed.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.0
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 19.2.0

### Dependencies

[code]

[2020-01-29 17:13] metalogical commented on #11351
You can also try to directly `curl localhost:46624/clientapi/status?filename=...` to view Kite's status response for the given filetype. In theory, all Python files should be supported.

As @shivendra90 noted, Spyder already shows the "long" status in the hover tooltip, which seems like the right design to me.

[2020-01-29 17:27] rajku209 commented on #11411
Thanx. really helped in manyways

[2020-01-29 17:27] #11411 closed

[2020-01-29 19:09] Travis-Barton commented on #3882
Increasing the font size of the Files pane would be very helpful. If allowing us to change it ourselves cumbersome, it would be helpful if there were size differences or maybe color differences between folders and files. Or maybe color by file type? My eyes hurt after searching for a file too long.

[2020-01-29 20:00] MashhoodAhmad-251 opened #11428 "New File opened as same name as an old file. Saving the new file deleted code in old file."
## Description

### What steps will reproduce the problem?

I was doing work on a script that was named by default as 'untitled0.py'. I have done hours of work. When I clicked 'New file', instead of opening one named 'untitled1.py' or 'untitled2.py', Spyder does these things:

1 - Opens the new script file named 'untitled0.py-untitled0.py'

2 - Renames the previous script that you have been workin

[2020-01-29 20:27] ccordoba12 commented on #11428
This is fixed in our latest version. Please update by opening the Anaconda Prompt and running there

    conda install spyder=4.0.1

[2020-01-29 20:27] #11428 closed

[2020-01-29 20:53] bcolsen commented on #11426
This more or less a duplicate of this issue https://github.com/spyder-ide/spyder/issues/6379

The template function uses `%`'s to identify replacement fields in the template to they get stripped from code cell section makers `# %%`. I think that `{{username}}` could work but would interfere with nested dictionaries. `{%username%}` might be the best but users might think that it would allow code ex

[2020-01-29 21:26] pchristian4481 opened #11429 "Not showing errors"
## Description

### What steps will reproduce the problem?

import tensorflow as tf
    from tensorflow.keras.models import Sequential, Model
from tensorflow.keras.layers import Dropout, Dense
from tensorflow.keras.optimizers import Adam, Nadam

There is no indention error showing up

ae =e$ 4

Does not flag as an error as in Spyder 3.X

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6

[2020-01-29 21:35] PierreCeteaud commented on #11126
I have the same problem, on two different computers (Windows 7 and Windows 10)
The files are less than 1k long, but it happens often when going up or down with arrow auto-repetition.

I have also a small bug on both computers: sometimes a strange character is added to what I type  (a heart for example) not really annoying, but perhaps the reception of a non-legal character causes the freeze?

On b

[2020-01-29 22:01] ccordoba12 commented on #11429
I don't understand what you mean. Please post a screenshot about the problem.

[2020-01-29 22:02] ccordoba12 commented on #11426
Ok, closing then.

[2020-01-29 22:02] #11426 closed

[2020-01-29 22:03] ccordoba12 commented on #11324
Closing as a duplicate of #10536

[2020-01-29 22:03] #11324 closed

[2020-01-29 23:11] pchristian4481 commented on #11429
Carlos,

Here is the screenshot.  The  variable fgsdfg is not defined anywhere, but
Spyder is not showing it as an error?

*From:* Carlos Cordoba <notifications@github.com>
*Sent:* Wednesday, January 29, 2020 4:01 PM
*To:* spyder-ide/spyder <spyder@noreply.github.com>
*Cc:* pchristian4481 <pchristian@prc-hsv.com>; Author <
author@noreply.github.com>
*Subject:* Re: [spyder-ide/spyder] Not showing e

[2020-01-29 23:14] goanpeca commented on #11429
@pchristian4481 email does not support attachments so you needd to upload the screenshots in the issue on Github directly

Thanks

[2020-01-29 23:16] Christonikos commented on #7832
Restarting the Kernel works for me (Ctrl+D).

[2020-01-29 23:22] pchristian4481 commented on #11429
ok

*From:* Gonzalo Peña-Castellanos <notifications@github.com>
*Sent:* Wednesday, January 29, 2020 5:14 PM
*To:* spyder-ide/spyder <spyder@noreply.github.com>
*Cc:* pchristian4481 <pchristian@prc-hsv.com>; Mention <
mention@noreply.github.com>
*Subject:* Re: [spyder-ide/spyder] Not showing errors (#11429)

@pchristian4481 <https://github.com/pchristian4481> email does not support
attachments so y

[2020-01-29 23:22] Nate28 opened #11430 "Spyder 4 hangs indefinitely during startup and does not open (Win10 w. Conda)"
## Problem Description
When starting Spyder, the program hangs indefinitely upon trying to open the GUI.

### What steps reproduce the problem?

1. Create a fresh Conda environment and activate
[code]
2. Launch Spyder
[code]
3. The splash screen appears and goes through the motions of starting up Spyder, but the GUI window that appears does not respond or show anything other than a white window.

[2020-01-29 23:24] goanpeca commented on #11430
Duplicate of https://github.com/spyder-ide/spyder/issues/11227. Closing

[2020-01-29 23:24] #11430 closed

[2020-01-29 23:32] dalthviz commented on #10798
@ccordoba12 the patch of @ok97465 fixes the issue for me 🎉

@ok97465 could you open a PR with your patch, please? or if you prefer I could create the PR, whatever works best for you.

Again, thanks for the fix suggestion and feedback @ok97465 !

[2020-01-30 01:54] anurag0406 opened #11431 "Automatic error report"
<!---   *** BEFORE SUBMITTING: PASTE CLIPBOARD HERE TO COMPLETE YOUR REPORT ***   ---!>
    plugin = mod.PLUGIN_CLASS(self)
AttributeError: '_ModuleMock' object has no attribute 'PLUGIN_CLASS'

[2020-01-30 02:12] dalthviz commented on #11431
Hi @anurag0406 this is fixed in our latest Spyder 3 version. If you're using Anaconda, please update by opening the Anaconda Prompt and running there

    conda install spyder=3.3.6

[2020-01-30 02:12] #11431 closed

[2020-01-30 02:14] dalthviz commented on #9171
This is fixed in our latest Spyder 3 version. Please update by opening the Anaconda Prompt and running there

    conda install spyder=3.3.6

[2020-01-30 02:14] #9171 closed

[2020-01-30 05:17] JungChoungGyoon commented on #7252
감사합니다 Visual studio code에서 오류가 생겨 끙끙대었는데
가상환경에서 설치안된 모듈때문에 문제가 있었다는것을 이제 알았습니다.
없는 모듈을 pip install <모듈>로 설치하니 잘 작동 합니다

[2020-01-30 05:49] mradultiw commented on #9964
If you are using any proxy app like proxifier, than close it first and than try again, it'll work. I was also having exactly same issue.

[2020-01-30 05:54] CAM-Gerlach commented on #7252
@JungChoungGyoon Google Translate did a pretty good job with your message. However, this is the repository for the Spyder IDE, which has not relation whatsoever to Visual Studio Code, and as you can see in my comment directly above yours I warn extremely strongly against using `pip` to install anything Spyder-related due to the high chance of completely breaking your install. Thanks.

[2020-01-30 05:56] aneervan2000 opened #11433 "Kernel Error"
## Description

### What steps will reproduce the problem?

whenever i am opening spyder it is showing kernel error
i have installed and uninstalled anaconda for this thing many time but stil the problem exist

## Versions

* Spyder version: 3.3.6
* Python version: 3.7.4
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-01-30 07:39] shivendra90 commented on #11351
I renamed the file in question but Kite is still showing `unsupported`. These are the messages I get when running spyder in debug mode. They are very long and many but I think these messages are for the unsupported file:
[code]
Finally these are the message for the supported file:
[code]

[2020-01-30 08:15] skjerns opened #11435 "[Feature] Add sphinx/reStructuredText docstrings"
Is there a reason why Sphinx/reStructuredText annotation is not added to Spyder auto-doc?
It's a little more simplistic than numpy/google.

[2020-01-30 13:23] ccordoba12 commented on #11435
I don't understand what you mean. Please be more explicit.

[2020-01-30 13:30] skjerns commented on #11435
under settings->editor->advanced you can set a docstring format that is automatically introduced. Here it would be useful to have the option of reStructuredText, e.g.

[code]

[2020-01-30 13:31] Hogbobson opened #11436 "Internal Problem By Itself"
## Description

### What steps will reproduce the problem?

I'm not sure what the problem is, or why it happened. I simply have had Spyder open for a few days now - i was not actively using it when the problem occurred. Sorry.

### Traceback
[code]

## Versions

* Spyder version: 3.3.3
* Python version: 3.7.3
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Linux 5.0.0-37-generic

##

[2020-01-30 13:37] ccordoba12 commented on #11433
What's the error? Please post it here so we can really help you.

[2020-01-30 13:40] Nate28 commented on #11430
Thanks for identifying the issue so quickly.  So if I'm understanding correctly, you need to make sure that your Qt version is 5.9 for Spyder to load properly?

[2020-01-30 13:51] ccordoba12 commented on #11430
It could be, due to incompatibilities between your graphics driver and Qt.

[2020-01-30 13:53] ccordoba12 commented on #11436
This is a problem with our old code completion architecture, and it no longer applies to our new one (i.e. the one we added to Spyder 4).

So if you don't want to update to Spyder 4, please ignore this error and don't report it anymore.

[2020-01-30 13:53] #11436 closed

[2020-01-30 13:56] ccordoba12 commented on #11435
That feature was added by a volunteer contributor, and he decided to add support for Numpy and Google style docstrings only.

So it's up to you or the community to fill this gap if they want to see Sphinx/reStructuredText kind of auto-generated docstrings support.

[2020-01-30 14:04] ok97465 commented on #10798
@dalthviz Thank you for your review. I'll open a PR.

[2020-01-30 14:41] pchristian4481 commented on #11429
Here is an example:

Variables n3ed and n4ed are not declared.  er = n3ed was saved in the file and spyder restarted the error for n3ed shows up.  ex = n4ed was typed in an active session but showing no error?  Is the active error scanning turned off?  Could the Kite plugin be causing this?

![image](https://user-images.githubusercontent.com/27829554/73459174-fcb3e180-433b-11ea-91e6-a36aa3ea494b.p

[2020-01-30 15:06] dalthviz commented on #11351
Thanks for the logs @shivendra90 (indeed it can be quite difficult to navigate them) but I was able to replicate this. Basically the error is being caused for the `&` in the path of the file (in your case `/home/shivendra/Desktop/AnalyticsVidhya/L&T/ltfs_analysis.py`). As an example:

![image](https://user-images.githubusercontent.com/16781833/73460215-1bb77100-4346-11ea-8b31-908cf6171f11.png)

Ju

[2020-01-30 15:24] #10798 closed

[2020-01-30 15:30] ccordoba12 commented on #11429
@goanpeca, please take a look at this one.

[2020-01-30 15:30] csbrace commented on #4316
I also ran into this issue, but was able to fix it by following the advice of this person on Stack Overflow: https://stackoverflow.com/a/48141311/11627783
Would love it if this could be somehow integrated into Spyder! Very annoying.

[2020-01-30 15:32] csbrace commented on #3981
I know I'm a little late, but for me the issue seemed to be an issue with QT itself, which can only be fixed by mucking into the config file and telling it to ignore high DPI scaling. Do I know why? No. But if you ended up on this thread like me, here's the solution: https://stackoverflow.com/a/48141311/11627783

[2020-01-30 15:32] goanpeca commented on #11429
Will do!

[2020-01-30 15:34] ccordoba12 commented on #11351
@metalogical, I think this needs to be solved on the Kite side. Or maybe we need to escape the `&` when submitting the request to Kite. What do you think?

[2020-01-30 15:35] pchristian4481 commented on #11429
What am I looking for at @goanpeca <https://github.com/goanpeca> ?

*From:* Carlos Cordoba <notifications@github.com>
*Sent:* Thursday, January 30, 2020 9:30 AM
*To:* spyder-ide/spyder <spyder@noreply.github.com>
*Cc:* pchristian4481 <pchristian@prc-hsv.com>; Mention <
mention@noreply.github.com>
*Subject:* Re: [spyder-ide/spyder] Not showing errors (#11429)

@goanpeca <https://github.com/goanpeca

[2020-01-30 15:37] goanpeca commented on #11351
I think we need to escape it @ccordoba12 since we pass that as an uri, no?

[2020-01-30 15:48] goanpeca commented on #11429
@pchristian4481 there seems to be a bug and I am in charge of fixing it, so I will be posting updates here ;-)

Thanks for the feedback!

[2020-01-30 15:48] Shongololo commented on #11433
Hi. Is this not the issue generally known as 'win32security.GetFileSecurity kernel error'. I understand you need to deprecate your jupyter client and server as follows "conda install jupyterlab_server=1.0.0 jupyter_client=5.3.1". For this reason I can't seem to upgrade to 4.0.1. I will post another related to my problem.

[2020-01-30 15:49] pchristian4481 commented on #11429
Thanks for your help.

*From:* Gonzalo Peña-Castellanos <notifications@github.com>
*Sent:* Thursday, January 30, 2020 9:49 AM
*To:* spyder-ide/spyder <spyder@noreply.github.com>
*Cc:* pchristian4481 <pchristian@prc-hsv.com>; Mention <
mention@noreply.github.com>
*Subject:* Re: [spyder-ide/spyder] Not showing errors (#11429)

@pchristian4481 <https://github.com/pchristian4481> there seems to be a b

[2020-01-30 15:50] jcdives commented on #9828
That wasn't necessary! You don't have to be rude and condescending!

[2020-01-30 16:01] yousefoleyaei commented on #9828
I am sorry I don't know what you are talking about. That issue might send it to you what is generated by itself.

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: jcdives <notifications@github.com>
Sent: Thursday, January 30, 2020 10:50:19 AM
To: spyder-ide/spyder <spyder@noreply.github.com>
Cc: Seyyedyousef Oleyaeimotlagh <Seyyed@Knights.ucf.edu>; Author <auth

[2020-01-30 16:02] Shongololo opened #11438 "Spyder 4.0.1 won't run work with Jupyter Client=5.3.1 (to avoid the win32security.GetFileSecurity kernel error)"
#2842  Problem Description
Can't get Spyder 4.0.1 to run without getting the 'win32security.GetFileSecurity kernel error'
When I deprecate the jupyter server and client by running "conda install jupyterlab_server=1.0.0 jupyter_client=5.3.1" I automatically get dropped back to Spyder 3.3.6. This seems to be a co-dependancy between Spyder 4.0.1 and the latest jupyter builds.

### What steps reproduc

[2020-01-30 16:19] mjalnos2 opened #11439 "File Won't Open"
## Description

### What steps will reproduce the problem?

I went to File -> Open Recent, and clicked on the project I wanted to open. This Issue reporter screen appeared.

### Traceback
[code]

## Versions

* Spyder version: 3.3.6
* Python version: 3.7.0
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 19.2.0

### Dependencies

[code]

[2020-01-30 16:50] isalirezag opened #11440 "high CPU usage and system freezing even when spyder is idle"
Im using Spyder 4.0.1, Python 3.6.6 64-bit | Qt 5.9.6 | PyQt5 5.9.2 | Linux 4.15.0-76-generic .
My system is ubuntu 16.04

When I have spyde idle and just open I see cpu usage suddenly increases (Without doing anything else) and also the system freezes for a min or so.

Is there anything in the setting that I can change so it does not happen?

[2020-01-30 17:04] goanpeca commented on #11440
@isalirezag just to check. Spyder is idle and the cpu usage is up?

Or it is idle, and then you "wake it" and at that moment is that the CPU spikes?

Thanks!

[2020-01-30 17:13] metalogical commented on #11351
Yes, you need to properly encode the URL with functions from https://docs.python.org/3.8/library/urllib.parse.html

[2020-01-30 18:16] isalirezag commented on #11440
@goanpeca Spyder is idle and I am just drifting my mouse and cpu usage is up.
Not sure what do you mean by wake it up?

[2020-01-30 18:22] goanpeca commented on #11440
I meant if you have the windows of spyder open and you are moving inside spyder or if spyder is minimized and you are doing something else on another program. Or are you seeing this if you move the mouse inside the editor, if you do it on another part (console, help plugin) it does not spike?

[2020-01-30 18:32] isalirezag commented on #11440
@goanpeca I see, thanks for the clarification.
Spyder is minimized and I am just browsing my mouse, I see the system freeze time to time. If I close spyder it does not happened

[2020-01-30 18:34] goanpeca commented on #11440
Ok, thanks for the details. @andfoy @ccordoba12 can you reproduce this on your linux machines?

[2020-01-30 18:35] isalirezag commented on #11440
@goanpeca is there any option in tool that I can change to see if it will reduce the cpu/memory usage in general?

[2020-01-30 20:17] ccordoba12 commented on #11440
Please start Spyder from the command line with this option:

    spyder --debug-info verbose

and try to detect what messages are displayed when Spyder freezes your system.

[2020-01-30 20:44] ccordoba12 commented on #11438
Please create a separate conda env for Spyder instead of mixing JupyterLab and Spyder in the same env. If that solves the problem, please report back.

[2020-01-30 20:45] ccordoba12 commented on #11439
This is a problem with macOS Catalina. See here

https://stackoverflow.com/questions/58372768/file-permissions-issue-with-python-spyder-anaconda-after-upgrading-mac-to-catali

for a possible solution.

[2020-01-30 20:45] #11439 closed

[2020-01-30 20:47] ccordoba12 commented on #11433
@Shongololo, please don't setup in other users issues for next time.

[2020-01-30 21:21] durack1 commented on #11412
@impact27 the notes above (https://github.com/spyder-ide/spyder/issues/11412#issuecomment-579630720) look very windows-ish, can I assume this doesn't map directly to mac?

[2020-01-30 22:12] moonrox opened #11442 "Removing a frame created by pdconcat(frames, sort=False)"
## Description

### What steps will reproduce the problem?

[code]

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.4
* Qt version: 5.12.6
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### Dependencies

[code]

[2020-01-30 22:31] impact27 commented on #11412
I haven’t tried on windows but I would expect this to work on windows and Linux as well

[2020-01-31 00:02] durack1 commented on #11412
What profiler are you using? The F10 is not something that I thought would map on MacOS

[2020-01-31 03:35] ccordoba12 commented on #11442
You have no description about how this error is generated and from the traceback above it's clear that it's not caused by simply running the code you posted.

So please describe in detail how your error appears.

[2020-01-31 07:06] impact27 commented on #11412
The spyder profiler. You can find it under Run > Profile, or with a keyboard shortcut. The default keyboard shortcut if F10, which on mac is "fn" key + the "no sound" key on your keyboard (It should have a little "F10" on it as well.)

[2020-01-31 07:56] NicolasRanc opened #11445 "Automatic error report"
## Problem Description

### What steps will reproduce the problem?

Just starting Spyder after a full update of anaconda packages.

### Traceback
[code]

## Package Versions

* Spyder version: 3.2.8
* Python version: 3.6.7
* Qt version: 5.6.2
* PyQt5 version: 5.6
* Operating system: Windows 10

### Dependencies

[code]

[2020-01-31 09:14] VikneshSK commented on #2430
I have updated after the new release, now its really cool! right now, i have 4.0.1

[2020-01-31 09:30] VikneshSK commented on #8090
@wangbowenll yes, even i am expecting similar documentation. I need to do code folding myself.

[2020-01-31 10:55] sylvaticus commented on #7274
The comment of @CAM-Gerlach seems a bit inflammatory.

I landed on this page for the same reason as the op, wondering if Spyder could be used, either directly or wit minor hacking, as an IDE for Julia.

**Why Spyder ?** Because (a) it works with iPython, the specific Python Jupyter kernel, so, without knowing its internal, I suspected that may be not too difficult to use other Jupyter kernels as b

[2020-01-31 11:49] isalirezag commented on #11440
I will close it for now and reopen it when I find something then.

[2020-01-31 11:49] #11440 closed

[2020-01-31 13:08] solocazzimiei opened #11446 "for cycle & if conditions return EOF error"
I'm newer user of both python and Spyder, but since the begining in original conf of Spyder3 (now also Spyder4) from Anaconda, I noted such EOF error while stepping any for cycle or if statement !!  It's crazy.. you can't do almost anything....
Any solutions ???
thks

for param_seasonal in seasonal_pdq:
  File "<ipython-input-73-688ea650fd83>", line 1
    for param_seasonal in seasonal_pdq:

[2020-01-31 13:29] Shongololo commented on #11438
Hi. Firstly, many thanks for you help. I created a new conda environment with Python 3.7.4 and installed Spyder 4.0.1 successfully. When I launched Spyder 4 I then get the same kernel error:
Traceback (most recent call last):
File "C:\ProgramData\Anaconda3\envs\py37\lib\site‑packages\spyder\plugins\ipythonconsole\plugin.py", line 1173, in create_kernel_manager_and_kernel_client
kernel_manager.star

[2020-01-31 13:39] Shongololo commented on #11438
I tried removing jupyter_client via conda. This succeeded but I then lost spyder. I then reinstalled spyder 4.0.1 and got the same kernel error related to win32security. It seems that Spyder 4.0.1 has a dependency on Jupyter that I can't shake. Thanks again.

[2020-01-31 13:43] jitseniesen commented on #11348
After looking at it in more depth, I am quite certain that those lines need to be changed because I discovered a user-visible bug which can be reproduced as follows:

1. Make a directory with files `foo` and `foobar` (the important thing is that the first name is a prefix of the second name).
2. Open both files in the editor.
3. In the file explorer, rename `foo` to `ham`
4. Note that in the edito

[2020-01-31 13:51] ical10 commented on #2112
@ccordoba12 Do you have a release date already for Spyder 5 ? Would love to have this feature as well, I've only found this in VSCode for now!

[2020-01-31 14:17] Shongololo commented on #11438
So in short, Spyder 4.0.1. seems to be tied to the latest version of Jupyter (client = 5.3.4 and core 4.6.1). When I drop jupyter client = 5.3.1 then the issue goes away but I am then stuck with Spyder 3.3.6. Hope this helps...

[2020-01-31 14:17] goanpeca commented on #7274
Actually as part of Spyder 5 we will work toward making julia and more languages have support in spyder via plugins.

[2020-01-31 14:52] pj1989 opened #11447 ""Drag and drop" files from explorer does not work"
## Problem Description

Dragging any *.py from an Explorer window to the Editor panel, the cursor transforms into a "forbidden" symbol and the file does not open.

### What steps reproduce the problem?

1.  Create an empty aaa.py file
2.  Try drag and drop it onto Spyder

## Versions

* Spyder version:  4.0.1
* Python version:  3.7
* Qt version:  5.9.6
* PyQt version:  5.9.2
* Operating System nam

[2020-01-31 14:54] pj1989 commented on #11447
This is similar to [#10844](https://github.com/spyder-ide/spyder/issues/10844) but happens with **any** file.

This is somehow related to [10694](https://github.com/spyder-ide/spyder/issues/10694) but no error appears in the console

[2020-01-31 15:01] triggerhappy88 commented on #3868
help i also experience the same problem:

Traceback (most recent call last):
File "C:\Users\asus\Anaconda3\Scripts\spyder-script.py", line 10, in
sys.exit(main())
File "C:\Users\asus\Anaconda3\lib\site-packages\spyder\app\start.py", line 200, in main
from spyder.app import mainwindow
File "C:\Users\asus\Anaconda3\lib\site-packages\spyder\app\mainwindow.py", line 167, in
from spyder.utils.environ i

[2020-01-31 15:17] ccordoba12 commented on #3868
@triggerhappy88, please remove this directory

    C:\Users\asus\AppData\Roaming\Python

to fix your problem and **avoid** using pip to install packages that can be installed with conda in the future.

[2020-01-31 15:17] dalthviz commented on #11446
Hi @solocazzimiei could you provided a full code example of this happening and/or a .GIF showing the way you get the error (you can use something like LICECap for that)?

In general, please fill up all the info that the issue template describes (this is important to have a better understanding of the context where the issue is happening and replicate it if valid).

Furthermore, such a `SyntaxError

[2020-01-31 15:17] ccordoba12 commented on #11447
@dalthviz, please take a look at this one.

[2020-01-31 15:19] ccordoba12 commented on #2112
End of 2020 of first half of 2021

[2020-01-31 15:19] triggerhappy88 commented on #3868
im not really sure what im doing, im not really good with these things, sorry. i just uninstalled anaconda which includes the spyder and jupyter notebook.  im trying to reinstall anaconda

[2020-01-31 15:20] pj1989 commented on #11447
For other reasons, I just unistalled Anaconda and Python completely and re-installed everything, including Spyder 4.0.1
The error was present both before the clean-up and is still present in the new installation.

[2020-01-31 15:21] triggerhappy88 commented on #3868
![image](https://user-images.githubusercontent.com/60514321/73550876-59b8b000-4480-11ea-8b16-91abfb142625.png)

[2020-01-31 15:22] triggerhappy88 commented on #3868
i cant see any AppData in C:\Users\asus\

[2020-01-31 15:28] ccordoba12 commented on #11446
@solocazzimiei, it seems you're evaluating a for loop line by line using F9 or `Run > Run selection or current line`. Is that the case?

[2020-01-31 15:29] dalthviz commented on #11447
@ccordoba12 @pj1989 I tried to replicate this but the drag and drop is working for me:

![drag](https://user-images.githubusercontent.com/16781833/73551468-6f908b80-4414-11ea-947e-4a08f180f324.gif)

@pj1989 could you upload a GIF to understand better the way the issues is happening to you? Thanks!

[2020-01-31 15:30] ccordoba12 commented on #3868
It's probably a hidden directory on Windows. So you need to remove it using the command prompt (cmd.exe).

@dalthviz, what's the command to remove directories on Windows?

[2020-01-31 15:31] ccordoba12 commented on #11447
@dalthviz, could you try to drag and drop files from a directory with non-ascii (i.e. Chinese or Arabic) characters?

[2020-01-31 15:34] ccordoba12 commented on #11438
I'm sorry but we request jupyter_client >=5.3.4 precisely to force Windows users to automatically update to that version and avoid related security issues generated by previous versions of that package.

Since this is a new problem, please report it here:

https://github.com/jupyter/jupyter_client

so the Jupyter team can take a look at it and fix it.

[2020-01-31 15:34] #11438 closed

[2020-01-31 15:36] ccordoba12 commented on #11445
This is fixed in our latest version Spyder 3. Please update by opening the Anaconda Prompt and running there

    conda install spyder=3.3.6

[2020-01-31 15:36] #11445 closed

[2020-01-31 15:36] triggerhappy88 commented on #3868
![image](https://user-images.githubusercontent.com/60514321/73551983-5cb4a000-4482-11ea-9b59-35165a43f9aa.png)

[2020-01-31 15:37] triggerhappy88 commented on #3868
i saw this one, do you think should i follow the above suggestion? I am not really sure where to type those "pip install ipython", "pip install spyder" and "spyder --reset", is it on ANaconda prompt or command prompt? :(

[2020-01-31 15:43] pj1989 commented on #11447
![spyder_drag_and_drop](https://user-images.githubusercontent.com/7668531/73552579-65848200-4440-11ea-901d-2aa58bab9513.gif)

[2020-01-31 15:44] pj1989 commented on #11447
This is not my case, as I tried to show in the gif

[2020-01-31 15:50] dalthviz commented on #3868
@ccordoba12 I think the command using [`rd`](https://www.computerhope.com/rmdirhlp.htm) for a recursive use the flag is `\S`

[2020-01-31 16:00] ccordoba12 commented on #3868
No. Simply uninstall Anaconda, reinstall it and remove the directory I told you about with the command mentioned by @dalthviz in a command prompt, i.e.

    rd \S C:\Users\asus\AppData\Roaming\Python

[2020-01-31 16:14] ccordoba12 commented on #11447
@dalthviz, do we have logging messages that would allow us to debug this?

[2020-01-31 16:36] alessandroabr opened #11448 "saved session data scrambled(Save data as)"
* [x] Searched
* [x] Read
* [unapplicable] Reproduced the issue
* [un ] Could not reproduce
* [ un] Tried basic troubleshooting
* [x] Completed the **Problem Description**, **Steps to Reproduce** and **Version** sections below

## Problem Description
"save data as" in the variable explorer scrambled all the lists in my SPYDERDATA file. I have lists of array that are my data and indices of events r

[2020-01-31 16:48] dalthviz commented on #11447
I was checking but seems like we don't have any. Probably @pj1989 would need to add some print statements in [`CodeEditor`](https://github.com/spyder-ide/spyder/blob/1ea90c4565371cb79a45a4ae963075e88247268d/spyder/plugins/editor/widgets/codeeditor.py#L4348) and [`EditorStack`](https://github.com/spyder-ide/spyder/blob/1ea90c4565371cb79a45a4ae963075e88247268d/spyder/plugins/editor/widgets/editor.py

[2020-01-31 17:09] triggerhappy88 commented on #3868
i dont know how to insert that rd \S in the cmd, so i manually searched for that appdata roaming thing. it is working now, thank you very much for your help ,:D
i really appreciate it, i hope it will not crash again later because i have class

[2020-01-31 17:35] #10627 closed

[2020-01-31 17:50] goanpeca commented on #11348
Thanks @jitseniesen !

[2020-01-31 18:34] harshjp93 opened #11450 "Clearing variable in variable explorer"
## Description

### What steps will reproduce the problem?

When clearing vairables in the variable explorer, it doesn't clear all vairables. It keeps some of them and when trying to remove the remaining variables, it give an error and crashes.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.4
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows

[2020-01-31 19:23] moonrox opened #11451 "Select Multiple Rows to remove causes Crash (Using GUI)"
## Description

### What steps will reproduce the problem?

Create multiple DF's with lots of stuff.  Merge the columns together and then try to remove multiple rows using the right mouse to select.

then go back and try to delete 1 and you get the error when it can't delete.  Restarting Spyder clears error.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.4
* Qt v

[2020-01-31 19:28] ccordoba12 commented on #11450
Duplicate of #11001

[2020-01-31 19:28] #11450 closed

[2020-01-31 19:32] #11417 closed

[2020-01-31 19:34] ccordoba12 commented on #11447
@dalthviz, please add the messages we need to debug this as a first step. Then, after releasing 4.1.0, @pj1989 could send us those logs so we can fix this problem.

[2020-01-31 19:42] pbower commented on #8090
It is good but RStudio code folding is still a lot better. With a bunch of asterisk’s once can each separate / hide parts of their code so they don’t need to spend ages scrolling through things or hit the page up/down buttons.
In spyder, it’s not possible to manually add a code fold it only happens in certain situations, which is really annoying.

Get Outlook for iOS<https://aka.ms/o0ukef>
_______

[2020-01-31 20:29] goanpeca commented on #8090
@pbower

Have you tried using cells??
[code]

[2020-01-31 21:06] solocazzimiei commented on #11446
Thanks for feedback. Yes ccordoba12, F9 line by line debug. No dalthviz any LICECap
This is the listate I'm evaluating/adapting, but please consider same kind of error occur also on my own code on every : "if,else, elsif, try" statement, "for" loop and also on "def" function...its seams error happen when the debugger (line by line F9) find a jump call...practically I can work only without any cond

[2020-02-01 05:52] bcolsen commented on #8090
Code cell folding isn't implemented in Spyder yet. It's one of the suggestions and should mostly cover @pbower 's suggestions.

To navigate quickly through long code currently I'm using the outline panel with named code cells and code cell groups

[2020-02-01 06:13] bcolsen commented on #11446
F9 isn't a line by line debugging. It just copies the current line or selection to ipython console and executes it whether the current line or selection is valid code or not. Proper line by line debugging is done using `ctrl + F5`

It would be nice if `F9` was a bit smarter but that is covered in #4431. Closing as a duplicate

[2020-02-01 06:13] #11446 closed

[2020-02-01 11:45] ok97465 commented on #11435
@skjerns @ccordoba12 May I try to solve this issue?

[2020-02-01 11:48] skjerns commented on #11435
of course!

[2020-02-01 12:17] Theeyeball opened #11452 "Plotting in separated window"
## Description

### What steps will reproduce the problem?

Hello, I would like to plot my charts in separated window, not in the "Plots" window. I have tried to change all possible configuration by changing the backend to automatic, QT5, and so on but it is still displaying the plot in that window.

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.3
* Qt version: 5.12.5
* PyQt5 version:

[2020-02-01 13:39] Nate28 commented on #11430
Okay, I've got it working by forcing installation of Qt version 5.9 instead of the most up to date one. Thanks for your help!

[2020-02-01 17:04] gzhechu commented on #11165
sorry, I fogot how it happened, it's been a little time. but I think it might because I was upgrading system (which has some python dependency libraries) in anohter terminal window.

[2020-02-01 17:54] ccordoba12 commented on #11452
You need to restart the kernel or Spyder for that changes to take effect.

[2020-02-01 17:54] #11452 closed

[2020-02-01 17:58] #11363 closed

[2020-02-01 18:00] ccordoba12 commented on #11435
Sure, please go ahead.

[2020-02-01 18:04] ccordoba12 commented on #11442
Duplicate of #11451

[2020-02-01 18:04] #11442 closed

[2020-02-01 18:04] ccordoba12 commented on #11442
Please **do not** report the same issue several times. It's just a waste of time for us.

[2020-02-01 18:05] ccordoba12 commented on #11451
This is not reproducible at all. Please give a *simple*, *self-contained* code example that generates this problem.

[2020-02-01 21:00] ok97465 commented on #11435
Thank you :smile:!

@skjerns There's something I want to check.

The sphinx format of autodocsting of vscode is also long.
![Screenshot from 2020-02-02 05-50-24](https://user-images.githubusercontent.com/22970578/73598893-e6e32e00-4580-11ea-912b-d74cde71b5f6.png)

Is this the format you want?

[2020-02-02 02:35] Sam-Chu opened #11453 "the code cannot use scipy library and read file"
## Description

### What steps will reproduce the problem?

When it interpret "import scipy as sp" and "simdata = open("data_(0,0).txt","r")", error message occurs.

The error pops out is "[Errno 1] Operation not permitted"

### Traceback
[code]

## Versions

* Spyder version: 4.0.0
* Python version: 3.7.0
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 19.3.0

### Dependenci

[2020-02-02 09:21] jaosunitagithub opened #11454 "Se bloquea Spyder"
## Description

### What steps will reproduce the problem?

With some files opened with Spyder, Spyder goes slowly and then, crack.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.4
* Qt version: 5.12.5
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### Dependencies

[code]

[2020-02-02 12:16] ccordoba12 commented on #11454
Did you remove this file outside Spyder?

    numpy_08_matrices.py

[2020-02-02 13:34] jaosunitagithub commented on #11454
Yes, I removed it ! Spyder crashed when I was coding with "numpy_08_matrices.py".

[2020-02-02 14:16] talkaminker commented on #11346
![image](https://user-images.githubusercontent.com/13932998/73609541-6865ab00-45d7-11ea-975d-145408cd746a.png)

[2020-02-02 17:39] moonrox opened #11455 "Unable to delete multiple Variables in Variable Explorer"
## Description

### What steps will reproduce the problem?

Run the 2 lines of code.
# initialize list of lists
import pandas as pd

data = [['tom', 10], ['nick', 15], ['juli', 14]]

# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Name', 'Age'])

Then using Variable explorer try to "remove" both lines.

One line removes and the other does not.

Then try to remove the one that is

[2020-02-02 20:03] rahikalantari opened #11456 "Spyder 4.0 fails to connect to kernel"
### Issue Report Checklist

 [* ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
 [* ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
 [* ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-02-02 23:14] durack1 commented on #11412
@impact27 @ccordoba12 attached is the output of the profiler, I have no idea what I am looking at, so let me know if I'm not on the right track here
[200202_Spyder401Profile.Result.zip](https://github.com/spyder-ide/spyder/files/4145679/200202_Spyder401Profile.Result.zip)

[2020-02-03 03:24] rahikalantari commented on #11402
I have same issue  and my spyder-kernel is 0.5.2

An error ocurred while starting the kernel
Traceback (most recent call last):
File "/home/rahikalantari/anaconda3/lib/python3.7/runpy.py", line 193, in _run_module_as_main
"__main__", mod_spec)
File "/home/rahikalantari/anaconda3/lib/python3.7/runpy.py", line 85, in _run_code
exec(code, run_globals)
File "/home/rahikalantari/anaconda3/lib/python3.7

[2020-02-03 03:55] Naman00 commented on #11402
try this
conda update --all

[2020-02-03 03:57] rahikalantari commented on #11402
Thanks for reply, just tried  still same error
An error ocurred while starting the kernel
Traceback (most recent call last):
File "/home/rahikalantari/anaconda3/lib/python3.7/runpy.py", line 193, in _run_module_as_main
"__main__", mod_spec)
File "/home/rahikalantari/anaconda3/lib/python3.7/runpy.py", line 85, in _run_code
exec(code, run_globals)
File "/home/rahikalantari/anaconda3/lib/python3.7/si

[2020-02-03 06:21] injoinD0913 opened #11457 "Spyder_case_test"
## Description

### What steps will reproduce the problem?

https://github.com/injoinD0913

https://github.com/injoinD0913

## Versions

* Spyder version: 3.3.1
* Python version: 3.7.0
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-02-03 06:35] impact27 commented on #11412
@durack1 are you sure you are profiling spyder? It looks like you are profiling some file called `/sync/git/CMIP6_CVs/src/writeJson.py`.
You should:
 - Profile a file containing:
[code]
 - A new instance of spyder should appear when you click "Profile"
 - After using this new instance of spyder for a few 10s of seconds doing exclusively what you think takes too much time, close the new instance of

[2020-02-03 06:49] Arthur-PL opened #11458 "Spyder Crash: Spyder crashed during last session & Errno 1"
## Problem Description
Anaconda 1.9.7
Spyder 4.0.1

Hello, the problem is that I am unable to open Spyder from Anaconda Navigator. I browsed to solve the problem but I keep failing. Unfortunately, I don't understand why the command `spyder --reset` returns zsh: command not found : spyder. Nor for commands with `conda ` --> zsh: command not found: conda. I tried to copy the same commands recommende

[2020-02-03 09:49] Aakash71 opened #11459 "numpy not running"
## Description

### What steps will reproduce the problem?

im unable to import numpy,pandas to the spyder and im unable to fix the working directory on my mac

## Versions

* Spyder version: 4.0.1
* Python version: 3.8.0
* Qt version: 5.9.7
* PyQt5 version: 5.9.2
* Operating System: Darwin 19.2.0

### Dependencies

[code]

[2020-02-03 10:03] svso commented on #10024
I have the same problem. Spyder is often hanging when I am writing code, - I suspect it happens if I am typing too quickly. Maybe because the automatic syntax checking is not hanging on fast enough.

[2020-02-03 10:15] pj1989 commented on #11447
Happy to help you with the debug of this. Let me know if you want me to modify any code or to download a dev version.

[2020-02-03 12:08] saisandeep97 opened #11461 "Cannot run specific cell at a time. Whole code is running"
<!---   *** BEFORE SUBMITTING: PASTE CLIPBOARD HERE TO COMPLETE YOUR REPORT ***   ---!>
Selecting a line and then pressing on run current cell is running the whole code, not that particular line.

[2020-02-03 12:18] #11461 closed

[2020-02-03 12:33] MadsMohr commented on #7846
Also looking for this feature! would be very nice.

[2020-02-03 13:01] fblanc92 commented on #2111
Please add this functionality

[2020-02-03 14:35] rahikalantari commented on #11402
I have same issue and my spyder-kernel is 0.5.2
Spyder version: 3.3.6
Python version: 3.7.6
Qt version: 5.9.7
PyQt version: 5.9.2
Operating System: Ubuntu 18.04

can you please help ?
I reported the error above!

[2020-02-03 16:00] ccordoba12 commented on #11453
This is not a problem with Spyder but with macOS Catalina. Please see here

https://stackoverflow.com/questions/58372768/file-permissions-issue-with-python-spyder-anaconda-after-upgrading-mac-to-catali

to learn how to fix it.

[2020-02-03 16:00] #11453 closed

[2020-02-03 16:19] dalthviz commented on #11447
Thanks @pj1989 ! Could you try to run Spyder with the `--debug-info verbose` flag from the PR #11462 ?

You would need to checkout the branch I'm working in that PR and run from there with something like `python bootstrap.py -- --debug-info verbose`

Also @ccordoba12 seems like we reach a debug line that exists in a check if the file is binary when doing the `dragEnterEvent` (I notice it after add

[2020-02-03 16:40] Remunxy opened #11463 "directory error"
## Description

### What steps will reproduce the problem?

file_location = '/Users/ardjuna/Desktop/histdataaaa.xlsx'
os.chdir(file_location)

### Traceback
[code]

## Versions

* Spyder version: 4.0.0
* Python version: 3.7.0
* Qt version: 5.12.6
* PyQt5 version: 5.12.3
* Operating System: Darwin 19.0.0

### Dependencies

[code]

[2020-02-03 16:41] ccordoba12 commented on #2111
This is fixed in Spyder 4, please update.

[2020-02-03 16:44] ccordoba12 commented on #11402
Please remove or rename this file

    /home/rahikalantari/code.py

to fix this problem.

[2020-02-03 16:50] ccordoba12 commented on #11237
This was fixed by PR #11400.

[2020-02-03 16:50] #11237 closed

[2020-02-03 16:52] rahikalantari commented on #11402
Amazing, solved. Just it is amazing that does not cause issue in my python 2.7 spyder
Thanks

[2020-02-03 17:11] pj1989 commented on #11447
@dalthviz Could you advise me on how to install branch `dalthviz:debug_issue_11447` in a separate conda environment? I use spyder for other work-related tasks and I don't won't to corrupt the installation in the base environment.

PS; is it possible to have a private conversation on github? Is there anything like PMs?

[2020-02-03 17:11] DS-RaduC commented on #6571
Hi, I just had the similar issue with file going missing following a crash. The solution has been suggested as updating to Spyder 4. However, upon updating it through Anaconda, Spyder became unusable. Reverting back to a 3. version allowed me to continue working with Spyder though.

However, I'd still like to update to Spyder 4 -- any suggestions would be welcome. Thanks

[2020-02-03 17:12] ccordoba12 commented on #11463
Your error report is not clear. What did you do with this code?

    file_location = '/Users/ardjuna/Desktop/histdataaaa.xlsx'
    os.chdir(file_location)

[2020-02-03 17:21] ccordoba12 commented on #11459
Please read our guide

https://github.com/spyder-ide/spyder/wiki/Working-with-packages-and-environments-in-Spyder

to understand how to solve this problem.

This is a problem with macOS Catalina. Please see the link below to learn how to solve it

https://stackoverflow.com/questions/58372768/file-permissions-issue-with-python-spyder-anaconda-after-upgrading-mac-to-catali

[2020-02-03 17:21] #11459 closed

[2020-02-03 17:22] ccordoba12 commented on #11458
This is a problem with macOS Catalina. Please read this

https://stackoverflow.com/questions/58372768/file-permissions-issue-with-python-spyder-anaconda-after-upgrading-mac-to-catali

to learn how to solve it.

[2020-02-03 17:22] #11458 closed

[2020-02-03 17:27] ccordoba12 commented on #11457
This doesn't seem to have anything to do with Spyder.

[2020-02-03 17:27] #11457 closed

[2020-02-03 17:33] ccordoba12 commented on #11451
Duplicate of #11455

[2020-02-03 17:33] #11451 closed

[2020-02-03 17:41] ccordoba12 commented on #11456
Duplicate of #11402

[2020-02-03 17:41] #11456 closed

[2020-02-03 17:43] pchristian4481 commented on #11429
Any luck finding the issue?

[2020-02-03 17:52] #11403 closed

[2020-02-03 18:08] ccordoba12 commented on #11454
I can't reproduce this problem on Linux. @dalthviz, could you try this on Windows?

[2020-02-03 19:06] dalthviz opened #11464 "Error when renaming file in the open files dialog"
## Description

### What steps will reproduce the problem?

1. Rename the current file in the Editor with the open files dialog.
2. Select another file in the dialog.
3. A message indicating that the current file was change outside Spyder shows up. Click `yes`.
4. Error report dialog pops up.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
*

[2020-02-03 19:10] dalthviz commented on #11454
@ccordoba12 I'm also unable to reproduce this but, while I was trying, #11447 poped up

[2020-02-03 20:02] mortenholmjensen opened #11466 "Autocomplete in a cmd2.cmdloop()"
## Problem Description

Autocomplete is not working when running cmd2.cmdloop inside IPython console in spyder. Running the same program from an IPython terminal outside spyder (e.g. for windows cmd.exe) then autocompleting is working fine.

### What steps reproduce the problem?

1. Run the program for an IPython terminal outside spyder:
[code]
2. Type "he" and pres <TAB> and it will complete the

[2020-02-03 20:08] dalthviz commented on #11447
@pj1989 you don't need to install anything than could affect your conda environments, but you will need to know a little bit of `git` and have `git` installed of course.  Probably the simplest way to get the logs could be as follows:

1. Clone my fork running from an anaconda prompt `git clone https://github.com/dalthviz/spyder.git`
2. Change the current directory of the console to the repository

[2020-02-03 20:26] JoshCr opened #11467 "Don't close Terminal"
## Description

### What steps will reproduce the problem?

The second Terminal can't be closed, I push  for close the terminal and this can't response.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.4
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-02-03 20:27] JoshCr commented on #11467
I can't close the Terminal.

[2020-02-03 20:27] #11467 closed

[2020-02-03 20:38] CAM-Gerlach commented on #6571
Sorry you're having issues. In order for anyone to be able to provide you more specific help than that found in the Spyder Troubleshooting Guide, we'll need to know much more specifically what the actual problem(s) are that you are experiencing. Did Spyder crash or hang? Was there a specific bug? Was the UX bad? Was it simply too slow? Please search through the issues on our repo for keywords that

[2020-02-03 21:51] Rectangle opened #11468 "Another KeyError while autosaving"
## Description

### What steps will reproduce the problem?

I have no idea; this only happens while I'm typing, seemingly at random.

Also, there is a copy anaconda running and it will. not. stop. Task manager can't close it. Powershell in admin mode still doesn't have permission. I want to downgrade to a more stable version but I cannot without rebooting.

### Traceback
[code]

## Versions

* Spy

[2020-02-03 22:35] #11308 closed

[2020-02-03 22:49] ccordoba12 commented on #11454
Closing for now then.

@jaosunitagithub, please reopen if/when you can give us a simple and way to reproduce this.

[2020-02-03 22:49] #11454 closed

[2020-02-03 22:53] ccordoba12 commented on #11466
`cmd2` only works correctly in a system terminal (like xterm, Terminal.app or cmd.exe) because it uses readline to provide code completion, history, etc (our IPython console can't use readline, sorry).

[2020-02-03 22:53] #11466 closed

[2020-02-03 23:07] ccordoba12 commented on #11468
@jitseniesen, do you understand when this error can appear?

[2020-02-04 04:25] endolith opened #11469 "SyntaxError when buidling snippet ast"
## Description

### What steps will reproduce the problem?

type "from hypothesis import " and press Tab......

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.4
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-02-04 08:02] mortenholmjensen commented on #11466
Thanks for the reply. Do you have any suggestion of a cmd loop module that can be used inside spyder?

[2020-02-04 09:15] suokunlong commented on #10522
Just for the record, on Fedora 31 when I lunch Spyder after installing through pip, I get this error.
I solved this by:
`sudo dnf remove PyQt5`
and then
`pip3 install PyQt5`

It seems that the system PyQt5 conflicts with the pip one.

[2020-02-04 10:40] pj1989 commented on #11447
Hi @dalthviz

The problem persists in 4.1.0.dev0 (I'm not sure if you already changed something to fix it, but at least this allow us to debug it).

The bad news however is that during the drag-and-drop event, no line is written on the console.

Here I attach a new gif and the log
[debug_log.txt](https://github.com/spyder-ide/spyder/files/4152741/debug_log.txt)
![spyder_drag_and_drop](https://user

[2020-02-04 12:14] ajay0103 opened #11470 "run _getitem_"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/usr/lib/python3/dist-packages/spyder/widgets/variableexplorer/collectionseditor.py", line 449, in createEditor
    if not editor.setup_and_check(value, title=key, readonly=readonly):
  File "/usr/lib/python3/d

[2020-02-04 13:16] jitseniesen commented on #11468
Not immediately, but I think it means that the autosave file `C:\Users\joven\.spyder-py3\autosave\optpath.py` is open in the editor.

@Rectangle , is that correct? As a work around you can try closing that file.

I will need to think a bit about exactly what the problem could be.

[2020-02-04 13:32] BCArg commented on #7850
The variable explorer is not working for me either, although it works on my local spyder session.

I have successfully connected to the remote host according to the instructions on the [official documentation](http://docs.spyder-ide.org/ipythonconsole.html#connect-to-an-external-kernel).

I have launched the spyder kernel with `python -m spyder_kernels.console` on both remote and my local machine

[2020-02-04 14:31] dalthviz commented on #11447
Thanks @pj1989 for the feedback! I think I understand what's happening here and a way to reproduce this (basically running Spyder as an Administrator):

![drag](https://user-images.githubusercontent.com/16781833/73752965-d9b87180-472f-11ea-8def-db1c613efe25.gif)

Are you running Spyder as an Administrator? Seems like Windows prevents interactions between apps with different levels of privileges: h

[2020-02-04 14:35] PedroMat8 opened #11471 "Cannot open objects in variable explorer"
## Description

### What steps will reproduce the problem?

1. Define a class in another file
2. In a new file import the class file
3. create an object with that class

4. run the code. The code runs fine
5. try to explore the newly created object and get the following message

Spyder was unable to retrieve the value of this variable from the console.

The error message was:
'tuple' object has no

[2020-02-04 14:41] pj1989 commented on #11447
I'm not running it as Administrator. At least, not explicitly. I'm just using the shortcut in the start menu in the Anaconda folder. The issue was present also when running it from the anaconda prompt with `python bootstrap.py`.

Neither I'm running explorer as administrator.

Maybe some company security settings?

[2020-02-04 14:56] dalthviz commented on #11447
It could be possible that it is some security settings. Do you know how Anaconda was installed? Maybe it was installed with Administrator rights?

[2020-02-04 15:22] mariosgeo commented on #11126
I am report the same bug. Code is about 1k lines and now it freezes every 20min or so.

[2020-02-04 15:27] pj1989 commented on #11447
It shouldn't. I did a normal installation using the executable on their website.

I checked using the method described [here](https://superuser.com/questions/1213101/check-if-an-app-is-running-as-admin) if either Explorer or Anaconda were running with Administrator rights. But apparently neither of them does.

![image](https://user-images.githubusercontent.com/7668531/73758685-db4f5d00-4762-11ea-9

[2020-02-04 15:45] ccordoba12 commented on #11466
I don't think cmd's can be used inside Spyder, sorry.

[2020-02-04 15:51] ccordoba12 commented on #11470
This is fixed in our latest Spyder 3 version. Please update by opening the Anaconda Prompt and running there

    conda install spyder=3.3.6

[2020-02-04 15:51] #11470 closed

[2020-02-04 16:32] ccordoba12 commented on #11471
Please provide a simple and reproducible example we can use in our side to debug this problem.

[2020-02-04 16:34] #11423 closed

[2020-02-04 16:35] impact27 commented on #10704
What happens is:
 - the window is closed
 - while closing, spyder sets `self.plugin._undocked_window = None`
 - when the method returns, `self` is not referenced anywhere as far as python is concerned, so it destroys it.
 - Qt the continues processing the close event, and crashes because the window it was working with was destroyed.

[2020-02-04 16:41] ccordoba12 commented on #11469
@andfoy, please take a look at this one.

[2020-02-04 16:44] ccordoba12 commented on #11414
Closing due to lack of response.

[2020-02-04 16:44] #11414 closed

[2020-02-04 16:46] ccordoba12 commented on #11385
spyder-terminal==0.2.4

These plugins are incompatible with Spyder 4. Please uninstall them and update spyder-memory-profiler and spyder-line-profiler to their latest versions.

[2020-02-04 16:46] #11385 closed

[2020-02-04 16:53] #11435 closed

[2020-02-04 17:20] andfoy commented on #11469
Hi @endolith, thanks for submitting this issue report, however I'm unable to reproduce the failure case. An animated GIF or video of the actual reproduction would be useful here. To record it, you can use [licecap](https://www.cockos.com/licecap/)

[2020-02-04 18:12] endolith commented on #11469
It seemed pretty random, I don't know if it will reproduce

[2020-02-04 18:51] #10704 closed

[2020-02-04 19:32] #11370 closed

[2020-02-04 19:55] bhumika26 opened #11474 "Recurring issues in Spyder"
## Description

**What steps will reproduce the problem?**

1.  When I click on the "x" or "x_test" or "x_train" variables from the variable explorer in spyder

**What is the expected output? What do you see instead?**
Instead of displaying the values of the independent variable "x" and its sets,
  "ValueError: cannot set WRITEABLE flag to True of this array" this is shown and the app asks me to s

[2020-02-04 20:08] dalthviz commented on #11447
Maybe this [process explorer](https://docs.microsoft.com/en-us/sysinternals/downloads/process-explorer) could help to check the integrity level used by the `explorer.exe` and Spyder (`pythonw.exe`) (you need to activate the `Integrity` column):

When running Spyder as an Administrator (the way I manage to make drag&drop):
* `explorer.exe` -> ` Nivel obligatorio medio`  -> ` Medium integrity level`

[2020-02-04 20:12] ccordoba12 commented on #11474
This is fixed in our latest version Spyder 3. Please update by opening the Anaconda Prompt and running there

    conda install spyder=3.3.6

[2020-02-04 20:12] #11474 closed

[2020-02-04 20:26] csbrace commented on #1493
Are there any plans to implement color scheme import/export in 2020, now that v4 is out? This might be complicated by #5790, but the existence of [SO questions](https://stackoverflow.com/questions/47892039/how-to-import-export-syntax-coloring-scheme) and [this](https://github.com/joonro/Spyder-Color-Themes/issues) possibly defunct as of Spyder4 repo seem to indicate an ongoing desire for the featu

[2020-02-04 21:14] CAM-Gerlach commented on #1493
Thanks for asking. @ccordoba12 would know if there's any plans. It would definitely be a very useful feature; I planned to implement it myself at some point if someone else didn't but never got the time. However now that the Spyder 4 default theme is largely based on a combination of a refined version of my own custom theme I created and used previously, and the Atom theme which was incidentally v

[2020-02-04 23:34] Yavdhesh opened #11475 "module imports issue"
## Description

### What steps will reproduce the problem?

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Traceback
[code]

## Versions

* Spyder version: 3.3.6
* Python version: 3.6.10
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-02-05 01:12] ccordoba12 commented on #11475
It seems you install Numpy with pip, which breaks Anaconda. Please reinstall Anaconda because that should fix the problem.

[2020-02-05 01:12] #11475 closed

[2020-02-05 02:36] #9077 closed

[2020-02-05 07:11] OverLordGoldDragon opened #11477 "Imports hang after debugging (Spyder 4)"
[steps_to_reproduce.mp4](https://www.dropbox.com/s/v2ytdb6chj0g5gb/hang_steps.mp4?dl=0). Closing spyder and re-opening (again via Anaconda PowerShell Prompt) fixes the issue.

Unsure if this occurs if launching directly via `spyder` (not `--new-instance`), but currently running a TensorFlow session I rather not interrupt.

[2020-02-05 07:24] ccordoba12 commented on #11477
@impact27, could this be related to issue #11137?

[2020-02-05 08:47] impact27 commented on #11477
It looks like the kernel doesn't like to be restarted while debugging. Steps to reproduce:
 - debug a file
 - when the `ipdb>` prompt is present, restart the kernel
 - the kernel is now broken

workaround: close and open a new kernel instead of restarting it.

Question: Why do we have logic to restart the kernel when the logic could be: close the kernel, open a new one?

[2020-02-05 09:56] 123einhundert opened #11480 "Spydder Crashes regularly"
## Description

### What steps will reproduce the problem?

 I try to convert list of list's that i get from matlab import into pandas Dataframe. Spyder crashes randomly while editing the code.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-02-05 10:59] sylvaticus commented on #879
Hello, which is the situation for this feature request ? Coming from the Julia side, I can confirm it is really useful..

I can see that [the pull request for ipython](https://github.com/ipython/ipython/pull/6380) has been merged, but:
- in Spyder the shortener works only in the console, not in the main code editor
- even in the console, it works for greek letters (e.g. `\alpha`), but not for subs

[2020-02-05 15:12] Jaehoon-Cha opened #11481 "cannot open script"
## Description

### What steps will reproduce the problem?

When I try to open a file, I cannot open the file. It was okay wile ago. But it suddenlty failes

### Traceback
[code]

## Versions

* Spyder version: 3.3.6
* Python version: 3.6.4
* Qt version: 5.12.5
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### Dependencies

[code]

[2020-02-05 16:20] ccordoba12 commented on #11480
Please give us a simple and reproducible example that we can use in our side to understand how this error is generated.

[2020-02-05 17:08] skjerns commented on #11222
will updating my version to `master` fix this problem? I lost quite a bit of code due to this bug already.

[2020-02-05 17:13] ccordoba12 commented on #11222
Yes, this is fixed in master.

[2020-02-05 17:38] ccordoba12 commented on #11455
I finally could reproduce this, but for the second time: please **do not** open a new issue about this in case the error appears for you in the future. It's just a waste of time for me because I have to look for your older issue and close it.

I still don't know how to fix it though.

[2020-02-05 18:15] ccordoba12 commented on #11481
Please update to Spyder 4 and try again.

[2020-02-05 18:18] #11356 closed

[2020-02-05 18:26] goanpeca commented on #11477
Restart will use the same port, close and open will create a new (and different port)

[2020-02-05 18:46] bhumika26 opened #11482 "Recurring issue"
## Description

**What steps will reproduce the problem?**

1. error occurs whenever I want to see "x" variable or "x test" and "x train" variables

i used command " conda install spyder=3.3.6" in conda prompt, but that didnt work either and the version was not installed.

**What is the expected output? What do you see instead?**
instead of showing the variables, a dialog box pop ups everytime.

*

[2020-02-05 18:51] #11137 closed

[2020-02-05 18:51] #11406 closed

[2020-02-05 19:00] ccordoba12 commented on #11482
This is fixed in our latest version Spyder 3. Please update by opening the Anaconda Prompt and running there

    conda install spyder=3.3.6

[2020-02-05 19:00] #11482 closed

[2020-02-05 22:36] #11477 closed

[2020-02-05 22:59] timhughes commented on #11385
cheers , thanks

[2020-02-05 23:56] triggerhappy88 commented on #3868
Hi im desperate for some help 😭

[2020-02-05 23:57] triggerhappy88 commented on #3868
![CaseStudy](https://user-images.githubusercontent.com/60514321/73894064-452c4b80-48b6-11ea-87e9-6b8fb35ef62a.jpg)

[2020-02-05 23:59] triggerhappy88 commented on #3868
![Annotation 2020-02-06 075814](https://user-images.githubusercontent.com/60514321/73894160-8c1a4100-48b6-11ea-86e4-08a138fa02d5.jpg)

[2020-02-05 23:59] triggerhappy88 commented on #3868
Im left with only one item i cant figure out,  question 2.2.6.

[2020-02-06 00:01] triggerhappy88 commented on #3868
Im hoping you can help me determine the code to determine the average number of repeat calls please

[2020-02-06 03:07] AdityaSavara commented on #11412
Like others, I've had laggy behaviour with 4.0+ but not with 3.0+.
I am working on a file that is 5000+ lines.
My experience is that it was worst when I was editing that file in another editor (notepad++) and then saving it.  Spyder would reload the file (which is correct behaviour) but would be very slow in doing so. Also slow in letting me make edits after that.

I tried taking a quick profile a

[2020-02-06 03:55] Travis-Barton opened #11483 "autocomplete goes after cmd+enter"
I changed 'run current line' to cmd+enter, and now every time i do so, autocomplete tries to finish my sentence. Is there any way you all could make autocomplete only fire if I press enter (and only enter)?
I NEVER mean arithmaticerror XD

better yet, is there a way to turn off those types of autocompletion all together? I want it to finish a line, but at this point its a nuisance.

[2020-02-06 04:51] v2ancha opened #11484 "run cell ctrl+enter is not running i.e. run cell runs the whole script instead of part script"
## Description

### What steps will reproduce the problem?

run cell ctrl+enter is not running i.e. run cell runs the whole script instead of part script

If i select a part code and right click to run cell it should run only the part of script highlighted which was the case earlier but now it is not working and the whole script starts to get running...every time

## Versions

* Spyder version: 4.

[2020-02-06 07:03] jianjungki opened #11485 "some thing problem to open file"
## Description

### What steps will reproduce the problem?

when i open my python file, the dialog will show to me

### Traceback
[code]

## Versions

* Spyder version: 4.0.0
* Python version: 3.7.0
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 19.2.0

### Dependencies

[code]

[2020-02-06 07:33] impact27 commented on #11412
@AdityaSavara thank you for the profile file.

@ccordoba12 @bcolsen
I could see two things in the profile that looks like it takes too much time. Any ideas?
The `LSPRequestTypes.DOCUMENT_FOLDING_RANGE` process time is bad. (17 seconds for 27 events):
`spyder/plugins/editor/widgets/codeeditor.py::CodeEditor.handle_folding_range` (16.6s)
 -> `spyder/plugins/editor/panels/codefolding.py::FoldingPanel

[2020-02-06 07:40] impact27 commented on #11412
We should maybe add an option to disable folding ranges or process them in a thread?

@AdityaSavara one thing you can try is to locate in `C:\\Users\\fvs\\AppData\\Local\\Continuum\\anaconda3\\envs\\uncertainties\\lib\\site-packages\\spyder\\plugins\\editor\\widgets\\codeeditor.py`:

[code]
And add a return:
[code]
This will disable folding ranges, but might help with the lag. Could you let us kno

[2020-02-06 09:32] raphaelquast opened #11486 "Spyder freezes regularly"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-02-06 10:57] PedroMat8 commented on #11471
Please see attached the files to reproduce the error in spyder.The error occurs when running the script call_class.py. Below I report the code tree:debug/class_folder/pore_distribution.pydebug/class_folder/__init__.pydebug/main_folder/call_class.py I hope this will answer your question.Please let me know if you need further information  Sent from Mail for Windows 10 From: Carlos CordobaSent: 04 Fe

[2020-02-06 12:57] trueckel opened #11487 "pasted hex-character into json file and saved"
## Description

### What steps will reproduce the problem?

1) Opened json file in spyder.
2) Pasted hex character (copied as hex from notepad++ editor) into string within the json file.
3) Strg + S for saving
4) Crashed

### Traceback
[code]

## Versions

* Spyder version: 3.3.6
* Python version: 3.7.4
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[c

[2020-02-06 13:24] goanpeca commented on #11471
@PedroMat8 attached files do not work on emails you need to come to the actual issue an upload it

https://github.com/spyder-ide/spyder/issues/11471

Thanks

[2020-02-06 13:29] PedroMat8 commented on #11471
Please see attached the files to reproduce the error in spyder.
The error occurs when running the script call_class.py.

Below I report the code tree:
-	debug/class_folder/pore_distribution.py
-	debug/class_folder/__init__.py
-	debug/main_folder/call_class.py

[debug.zip](https://github.com/spyder-ide/spyder/files/4165314/debug.zip)

[2020-02-06 14:23] ccordoba12 commented on #11471
@dalthviz, please try to reproduce this one.

[2020-02-06 14:26] ccordoba12 commented on #11487
This could be fixed in our latest version. Please update by opening the Anaconda Prompt and running there

    conda update anaconda
    conda install spyder=4.0.1

And try again.

[2020-02-06 14:30] ccordoba12 commented on #11485
This is a problem with macOS Catalina and not with Spyder. Please see here

https://stackoverflow.com/questions/58372768/file-permissions-issue-with-python-spyder-anaconda-after-upgrading-mac-to-catali

for a solution.

[2020-02-06 14:30] #11485 closed

[2020-02-06 14:40] ccordoba12 commented on #11484
You need to remap the `Ctrl+Enter` shortcut to run a line or selection instead of the current cell by going to the menu

    Tools > Preferences > Keyboard shortcuts

and searching for

    run selection

[2020-02-06 14:40] #11484 closed

[2020-02-06 14:50] bclrk commented on #2430
I am running 4.0.1, downloaded through conda, and it's working well. However, I still cannot collapse cells! only loops.

[2020-02-06 14:55] ccordoba12 commented on #11486
Thanks for reporting. About your issues:

the spyder-project is located

Fixed already in #11473.

This is being tracked in #11412.

[2020-02-06 14:55] #11486 closed

[2020-02-06 15:01] raphaelquast commented on #11486
that's good news :-) thanks for the quick reply... can you tell when this fix is incorporated in a new release?

so this might solve the crashes as well?

[2020-02-06 15:07] ccordoba12 commented on #11483
This should be fixed in PR #11413.

You can do that by going to the menu

    Tools > Preferences > Completion and linting > Completion

and deactivating `Show completions on the fly`; or

    Tools > Preferences > Completion and linting > Advanced

and deactivating `Enable fallback completions`.

[2020-02-06 15:07] #11483 closed

[2020-02-06 16:41] ccordoba12 commented on #11486
These fixes will be available in 4.1.0, to be released in two or three weeks.

[2020-02-06 16:55] AdityaSavara commented on #11412
Thank you for your volunteered time and for taking this seriously since it does affect the user experience very much (at least, for some users)!

Attached is a new profile from playing around a bit.
a) I disabled the folding_range, a suggested. I believe the improvement was enough that I noticed it. I agree that a separate thread ( or turned off for long files) would be appropriate.

Another optio

[2020-02-06 17:43] raphaelquast commented on #11486
perfect, thanks! 👍

[2020-02-06 18:29] hughmurphy commented on #10406
I can no longer use Conda commands on a Mac OS Catalina. Think it may be something to do with the shell changing to bin/zsh. Having the same problem with anaconda and Spyder wonder if they are connected?

[2020-02-06 22:25] skytter opened #11489 "Copy file reference in variable explorer generates PicklingError"
## Description

### What steps will reproduce the problem?

on attempt to copy from "Variable viewer" cell corresponding to closed file reference ("TextIOWrapper object of _io module")

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.6.7
* Qt version: 5.12.5
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### Dependencies

[code]

[2020-02-07 00:03] zouluclara commented on #5314
I install Spyder 4 on my system , the file explorer is not refreshing when adding or deleting a file , this problem is not fixed

[2020-02-07 00:19] zouluclara opened #11490 "I donot know what is the problem but the internal problem box is opening up everytime I open the system"
<!---   *** BEFORE SUBMITTING: PASTE CLIPBOARD HERE TO COMPLETE YOUR REPORT ***   ---!>
The internal problem box opened up when I open the spyder

[2020-02-07 01:32] ccordoba12 commented on #11490
Please post the error you're getting here, else we can't help you.

[2020-02-07 01:38] Dan-Patterson opened #11491 "Sphinx issues continue"
The problem persists with Sphinx.  Anything not equal to 1.8.5 fouls up numpy docstrings.
Is it a Spyder issue? a numpydoc issue? But I do a lot of install/uninstall/repair work and this has been a nagging issue for months.  I would appreciate any workaround or timeline since I don't know what to repair on my own
Regards.

Spyder 4.0.1
Windows 10
The only thing that works is to
conda install sphin

[2020-02-07 01:41] ccordoba12 commented on #11489
Please post a simple code example that generates this kind of object.

[2020-02-07 01:43] ccordoba12 commented on #11491
It's a Sphinx issue and it'll be fixed in our next version (4.1.0), to be released in a couple of weeks.

[2020-02-07 01:43] #11491 closed

[2020-02-07 01:55] skytter commented on #11489
Not sure about code example (( Sorry, I am new to Pyhton
This happed in Spider 4.0.1 - within the "Variable viewer" right clicking on the reference name to already closed file, and trying to copy the value - caused this error.

What I mean by fie reference name:
[code]

So trying to copy value of "f" - fails

[2020-02-07 02:06] goanpeca commented on #11489
And what should be the value of `f`?

[2020-02-07 02:12] skytter commented on #11489
Apparently, no value (at least human-readable)
![изображение](https://user-images.githubusercontent.com/15016229/73994825-24680280-4957-11ea-9f97-aefedb52e0f9.png)
On the image: ZA and ZE are example of such kind

I was writing some note - and decided to copy/paste the "ZA" line - outcome is a bug on attempt to copy

[2020-02-07 02:14] goanpeca commented on #11489
Yes, but what do you expect to be the result of copying it?

If I do `a = [1, 2, 3]`and copy that and paste that on the editor I get

` [1, 2, 3]`, what do you expect to get from copying a closed file handle?!

[2020-02-07 02:20] skytter commented on #11489
I guess, you are right)) My guess, I was hoping just to copy text: "TextIOWrapper of ....."
But it just kicked in the Bug report form, which I submitted (top post).
Not sure if it will be useful for anyone.  Frankly, I was not expecting such prompt reaction from all of you.... I am sorry, if it is not important

[2020-02-07 02:24] goanpeca commented on #11489
Well, I am not seeing the report dialog. I see warning/error message. So probably the fix is that this should not trigger an error?

[2020-02-07 02:25] skytter commented on #11489
Good point - or remove copy option from context menu

[2020-02-07 03:46] Asgharzade commented on #3138
Thanks dude! I was about to lose my mind on this Spyder issue. You made my day!

[2020-02-07 04:37] victorcalado opened #11492 "toggle comment does not remove space when tab indent is present on commented line"
## Description

### What steps will reproduce the problem?

1) Initial tab indented line:
    A Tab indented line

2) toggle comment (which puts a hash # + a space in front):
#    A Tab indented line

3) then toggle comment again:
     A Tab indented line

4) The additonal space is not removed and obvisouly python gives errors then.

best regards,
Victor

## Versions

* Spyder version: 4.0.1
* Pyt

[2020-02-07 05:31] zengdabo commented on #11396
I think "code formating" should be integrate to IDE, not only a plugin. This is very easy to implement, and most mainstream IDE include this feature.

[2020-02-07 05:39] its-dhung opened #11493 "Make fallback completions respect prefix"
## Problem Description
It appears that fallback completions do not always respect the prefix underneath the user's cursor.

### What steps reproduce the problem?

1. Have fallback completions enabled.
2. Have the following buffer state:
[code]
3. Manually request completions.

### What is the expected output? What do you see instead?

In this case, I would expect no completions to be returned. Ins

[2020-02-07 07:02] anilm17 opened #11494 "Suggestion: Spyder Editor Horizontal splitter required to navigate code quickly"
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-02-07 09:23] impact27 opened #11495 "Flags are misaligned when scrolling if code is folded"
The scrolling behaviour is broken on master:
![broken_master](https://user-images.githubusercontent.com/6740194/74016980-a249ff00-4993-11ea-979b-57db775b0417.png)

_Originally posted by @impact27 in https://github.com/spyder-ide/spyder/pull/11488#issuecomment-583304164_

[2020-02-07 09:52] pj1989 commented on #11447
Amazing! Spot on!

Now, however, I have another question: why Spyder is launched as administrator? Did I do something wrong during the installation? Is there a setting that I need to change?

Thank you very much

![image](https://user-images.githubusercontent.com/7668531/74019328-5c8b3780-498f-11ea-9226-810247f84cf2.png)

[2020-02-07 10:06] pj1989 commented on #11447
The shortcut is not set to "Run as administrator".
I'm looking around, but I cannot find any useful setting
![image](https://user-images.githubusercontent.com/7668531/74020018-96a90900-4990-11ea-8670-75ae275083c4.png)

[2020-02-07 10:07] pj1989 commented on #11447
Sorry. I clicked the wrong button by mistake

[2020-02-07 10:46] AleksanderB commented on #11126
I am reporting the same bug. Code is spread in 6 different tabs, each tab around 350 lines.  It usually freezes when scrolling back quickly with arrows  in command history.

[2020-02-07 14:36] LuisLondon0 opened #11496 "Error deleting autosave file"
## Description

### What steps will reproduce the problem?

Whenever I save it, I get an error that the autosave file could not be deleted

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.3
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-02-07 16:44] jitseniesen commented on #11496
I don't understand why you see this exception; it should be caught:

https://github.com/spyder-ide/spyder/blob/d4b2975567958f01b13430a198a8818ea43cc9cc/spyder/plugins/editor/utils/autosave.py#L276-L282

[2020-02-07 23:57] OverLordGoldDragon commented on #8090
A workaround I figured: `if True:` at top of cell. Drawback: indentation.

[2020-02-08 06:47] Supltz opened #11497 "Spyder 4 cannot launch when Kite is installed"
## Description

### What steps will reproduce the problem?

Traceback (most recent call last):
File "F:\Anaconda\envs\tensorflow\lib\site-packages\spyder\app\mainwindow.py", line 3711, in main
mainwindow = run_spyder(app, options, args)
File "F:\Anaconda\envs\tensorflow\lib\site-packages\spyder\app\mainwindow.py", line 3552, in run_spyder
main.setup()
File "F:\Anaconda\envs\tensorflow\lib\site-pac

[2020-02-08 06:51] Supltz commented on #11497
Kite can not detect spyder either.

[2020-02-08 08:11] pbower commented on #8090
Code cell folding would definitely do it. Yes the folding need is especially for long code, doing ‘page up’ ‘page down’ is very difficult when everything you want to be folded can’t be.
Even split screen on different parts of the code - still hard to navigate.
Thanks for responses.
Cheers

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: OverLordGoldDragon <notific

[2020-02-08 10:16] molirun opened #11499 "SyntaxError when evaluating ast of autosave file"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-02-08 13:05] yucheng90 opened #11500 "code completion and go to definition function break down in editor"
## Problem Description
Code completion and go to definition function break down in editor in some cases.

### What steps reproduce the problem?

1. Use the script below
![image](https://user-images.githubusercontent.com/16459229/74084945-21802580-4aaf-11ea-98ca-3ce1fcd3a1dd.png)

2. When press 'tab' key or use keyboard shortcut for code completion after 'np.', the code completion function breaks d

[2020-02-08 16:14] matheger commented on #11346
Here's an example of the popup appearing over other windows. It was actually persistent too, I could move that explorer window around without the help note disappearing. Only went away after switching back to Spyder.

![popup](https://user-images.githubusercontent.com/34485360/74088356-f667e880-4a52-11ea-826e-357c05d23e3d.png)

Spyder 4.0.1, Python 3.7.6 64-bit | Qt 5.9.6 | PyQt5 5.9.2 | Windows 1

[2020-02-08 18:25] matheger opened #11501 "Internal Python Language Server error"
## Description

### What steps will reproduce the problem?

1. Create new Anaconda environment and install Spyder
2. Reset Spyder settings
3. Run Spyder with "--debug-info verbose"
4. In a new script file, add "import os" statement
5. Begin writing "os." on new line
6. Hit tab after "os."

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt

[2020-02-08 18:41] matheger commented on #11026
Version 4.0.1, but still happens to me too - seemingly every single time I use Spyder. No idea how to produce it on purpose, other than just coding away for a while. Only fix I have found so far is to restart Spyder.

[2020-02-08 19:06] matheger opened #11502 "Unintuitive behavior: Mouse wheel scrolling in editor steals keyboard focus"
## Problem Description

With keyboard focus in the internal console, hovering the mouse cursor over the editor window and scrolling through the code with the mouse wheel places keyboard focus back into the editor window instead of leaving it in the console. This feels very counterintuitive to me compared to the general behavior in Windows, where the mouse wheel can be used to scroll through backgr

[2020-02-08 23:21] pyZerrenner opened #11503 ""Maintain focus ..." option has no effect in Spyder4"
## Problem Description

### What steps reproduce the problem?

1.  Open `Tools > Preferences > Editor > Run Code` and disable the "Maintain focus in the Editor after running cells or selections" option.
2. Execute `Run > Run cell` (or `Crtl + Return`)

### What is the expected output? What do you see instead?

The cell is executed in the current/dedicated console as expected. However, the focus st

[2020-02-08 23:34] pyZerrenner commented on #7894
I second that.

I actually mistook the current way (Spyder4.0.1) of entering sequences of keys as a way to enter multiple separate shortcuts.

[2020-02-09 01:01] OverLordGoldDragon opened #11504 "Remember collapses"
It'd be nice for Spyder to remember which blocks of code I've collapsed when saving code, sparing repetitive manual work upon reopening a file. (Feature request)

[2020-02-09 04:38] luwil6man commented on #11412
I have experienced severe lagging since upgrading from Spyder 3 to Spyder 4 on ONLY 1 of 3 computers on which I frequently use Spyder. Hopefully some of the following information based on observation is of some use, let me know if any technical information is desired.

• All 3 computers are PCs and have Spyder 4.0.1 installed, and are used for the same tasks
• The highest performing PC is the one

[2020-02-09 09:34] rhkarls commented on #11026
I saw issue #11501 and #11500 which I guess is the same as this issue, and has some more details.

Running Spyder with "--debug-info verbose" I get a different error (EOFError vs. ValueError) than #11501. Also with this level of debug enabled appears the language server restarts. So code completion, linting, go to definition etc keeps working but continues to crash repeatedly when trying to code c

[2020-02-09 11:37] aqifilyaskhan commented on #8994
finally i found a solution, what a headache it was
i stopped using spyder because i thought it got corrupted

[2020-02-09 14:43] willois commented on #4124
Had a similar issue and fixed by changing langconfig in "C:\Users\YOUR NAME\.spyder-py3\langconfig" to "en"

[2020-02-09 15:34] ccordoba12 commented on #11501
Please run

    conda install parso=0.5.2

That should fix this problem.

[2020-02-09 15:34] #11501 closed

[2020-02-09 15:35] ccordoba12 commented on #11500
Please open the Anaconda Prompt and run there

    conda install parso=0.5.2

That should fix this problem.

[2020-02-09 15:35] #11500 closed

[2020-02-09 15:36] ccordoba12 commented on #11504
Nice suggestion! We'll try to implement it in a future version.

[2020-02-09 15:37] ccordoba12 commented on #11026
@rhkarls, please open the Anaconda prompt and run there

    conda install parso=0.5.2

That should fix your problem.

[2020-02-09 15:51] ccordoba12 commented on #11492
Thanks for reporting. We'll fix this in a future release.

[2020-02-09 15:53] ccordoba12 commented on #11493
@andfoy, please take a look at this one.

[2020-02-09 15:54] ccordoba12 commented on #11494
It's available here:

![Selección_108](https://user-images.githubusercontent.com/365293/74105297-8462d280-4b2a-11ea-81da-a4802d0a9c32.png)

[2020-02-09 15:54] #11494 closed

[2020-02-09 15:57] ccordoba12 commented on #11496
@jitseniesen, it seems @LuisLondon0 saved a file in the autosave directory itself (probably a case you haven't considered before).

[2020-02-09 16:03] ccordoba12 commented on #11503
@steff456, please take a look at this one.

[2020-02-09 16:04] ccordoba12 commented on #11499
@jitseniesen, maybe this happen for files whose paths have unicode characters.

[2020-02-09 16:08] ccordoba12 commented on #11497
@metalogical, any ideas of what can be happening here?

[2020-02-09 16:10] ccordoba12 commented on #11502
@dalthviz, please take a look at this one.

[2020-02-09 16:19] goanpeca commented on #11497
?

[2020-02-09 16:35] Supltz commented on #11497
![tw](https://user-images.githubusercontent.com/60577034/74105906-ce849c00-4b9c-11ea-8fde-303167b91baf.png)
is anything wrong in status.py ?

[2020-02-09 18:22] OverLordGoldDragon opened #11506 "Linter stays half-dead on Windows"
[demo.mp4](https://www.dropbox.com/s/2qkp7zd97fu49a0/deadlint_demo.mp4?dl=0) No clue how to reproduce, it's a first; other `spyder` instance is running a TensorFlow session. Linter does detect `#TODO` and unused imports, but not syntax errors, and code folding fails. Kernel restart, Spyder restart, Anaconda Powershell Prompt restart didn't help - didn't try restarting computer, but think it'll wor

[2020-02-09 18:27] tdbowman opened #11507 "Mac OSX Catalina Issue"
## Description

### What steps will reproduce the problem?

Just executing code in iPython console give me error on Mac OS X Catalina

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.0
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Darwin 19.3.0

### Dependencies

[code]

[2020-02-09 19:09] sliatecinos commented on #6783
Upgrading ipykernel in Anaconda worked for me, too:

`conda update ipykernel`

But the Spyder stopped worked ... So I needed to upgrade IPython:

`conda upgrade ipython`

[2020-02-09 19:14] ccordoba12 commented on #11507
This is probably due to a permissions problem introduced by Catalina. Please see this

https://stackoverflow.com/questions/58372768/file-permissions-issue-with-python-spyder-anaconda-after-upgrading-mac-to-catali

to understand how to solve it.

[2020-02-09 19:14] #11507 closed

[2020-02-09 21:26] matheger commented on #11501
It does!

[2020-02-10 01:46] derekeden commented on #11126
now freezes and must be killed every time I try to comment/uncomment a block a code..it's become unusable.. I sadly am going to have to switch to another IDE though I really do like spyder

[2020-02-10 04:11] OverLordGoldDragon commented on #11506
So, restarting computer did fix everything - though it seems to be a drastic measure where a powershell prompt restart should suffice.

[2020-02-10 04:46] qwang925 opened #11508 "Cannot launch Spyder in a new environment"
### Issue Report Checklist

* [ ] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [ ] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [ ] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-02-10 05:01] OverLordGoldDragon commented on #11506
Actually, nevermind; restarting after [this bug](https://www.dropbox.com/s/mzja7vnrcw9ikbo/deadlint_demo2.mp4?dl=0) (thinks vars are undefined when they are), linter's back to even more dead than it was (now it doesn't detect unused imports). This, though, is only on the `--new-instance` - though I doubt restarting both will fix it, as I tried that before I restarted computer.

Should I reinstall

[2020-02-10 05:27] OverLordGoldDragon commented on #11506
Reinstalled Spyder in both environments; the problems persist. Possible cause is many long files open at once; the lines sum to over 20,000. Restarting with only 2000, all problems vanish - but simply closing the files and leaving 2000 lines' worth did not suffice.

[2020-02-10 05:32] ajay0103 opened #11509 "error"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

  File "/usr/lib/python3/dist-packages/spyder/widgets/variableexplorer/collectionseditor.py", line 449, in createEditor
    if not editor.setup_and_check(value, title=key, readonly=readonly):
  File "/usr/lib/python3/d

[2020-02-10 05:40] Bigfoots opened #11510 "spyder 打不开"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

    plugin = mod.PLUGIN_CLASS(self)
AttributeError: '_ModuleMock' object has no attribute 'PLUGIN_CLASS'
WARNING:traitlets:kernel died: 6.005863189697266

## Version and main components

* Spyder Version: 3.2.3
* Pytho

[2020-02-10 05:40] Bigfoots opened #11511 "spyder 打不开"
## Description

**What steps will reproduce the problem?**

1.
2.
3.

**What is the expected output? What do you see instead?**

**Please provide any additional information below**

    plugin = mod.PLUGIN_CLASS(self)
AttributeError: '_ModuleMock' object has no attribute 'PLUGIN_CLASS'
WARNING:traitlets:kernel died: 6.005863189697266

## Version and main components

* Spyder Version: 3.2.3
* Pytho

[2020-02-10 05:44] AdityaSavara commented on #11412
@luwil6man
You wrote:

Do you mean that you tried disabled the folding pane by editing the source code, by adding a return statement as described in the comment up above by impact27? If not, can you try doing that?

[2020-02-10 07:57] rhkarls commented on #11026
Cheers @ccordoba12 ! I was already running with parso 0.5.2. I tried upgrading to 0.6, and I got the same ValueError as reported in #11501. I downgraded again to 0.5.2 and it appears to work now - at least it doesn't crash straight away. A lot of other packages were also down/upgraded in the process by conda, including jedi, the language server and spyder+kernels.

[2020-02-10 09:34] jontis opened #11512 "Unable to import streamlit 0.55"
I try to import streamlit 0.55 in spyder 4.0.1 & python 3.7.
It fails with "tornado autoreload ..."
Importing streamlit in the same environment in ipython works fine.

As streamlit involves several gui components, is this an extepted collision?
Should I expect them to not be compatible at all? Or is this an issue?

[2020-02-10 09:55] ahmad811 opened #11513 "running 3 loops each in range 1000 and do simple math"
## Description

### What steps will reproduce the problem?

x=y=z=1
r1=1
r2=100
result=4

def f(x,y,z):
    return x/(y+z)+y/(x+z)+z/(x+y)

for x in range(r1,r2):
    for y in range(r1,r2):
        for z in range(r1,r2):
            fxyz = f(x,y,z)
            ifxyz = int(fxyz)
            if fxyz==ifxyz and ifxyz==result:
                print("Found solution: ", x , ",",y,",",z)

### Traceback
[

[2020-02-10 10:23] jitseniesen commented on #11509
This is caused by incompatible versions of Spyder and NumPy and fixed in Spyder version 3.3.3, so please upgrade Spyder.

Duplicate of #8582

[2020-02-10 10:23] #11509 closed

[2020-02-10 10:25] jitseniesen commented on #11510
This is fixed in our latest version. Please update by opening the Anaconda Prompt and running there

    conda install spyder=3.3.6

PS: Please do not open multiple issues about the same thing, this wastes time for everybody.

[2020-02-10 10:25] #11510 closed

[2020-02-10 10:25] jitseniesen commented on #11511
This is fixed in our latest version. Please update by opening the Anaconda Prompt and running there

    conda install spyder=3.3.6

PS: Please do not open multiple issues about the same thing, this wastes time for everybody.

[2020-02-10 10:25] #11511 closed

[2020-02-10 14:47] PrinceFPF opened #11514 "Error when changing the Python interpreter to Python 2"
## Description

I want to change the python interpreter to python2.However, an error occurred after setting.Specific steps are as follows:
**step 1.choose 'Preference' -> 'Python interpreter'**
**step 2.change the python interpreter to python2 and click the button named 'Apply' or 'OK'**

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.4
* Qt version: 5.12.2
* PyQt

[2020-02-10 15:06] PrinceFPF commented on #11499
@molirun Hello，my dear brother, I encountered a problem similar to yours, please try to execute the following command to solve it.
[code]

[2020-02-10 16:14] molirun commented on #11499
It not work for me.

[2020-02-10 16:53] JamesCipparrone opened #11515 "Preferences window causes "an internal problem!" in Spyder 4.0.1"
## Description

### What steps will reproduce the problem?

**Steps to reproduce the problem**

1. Open "Preferences" (I use Ctrl + Alt + Shift + P).
2. Watch this "Issue reporter" dialog box appear.
3. Repeat this several times.
4. Write these steps for the Spyder dev team.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9

[2020-02-10 17:39] isalirezag opened #11516 "displaying pixel values in the plot window"
Spyder 4 is truly amazing.
this is just a suggestion for the future released.
in the plot, it would be great if user can see the pixel values of the display image by move the mouse on the image.

[2020-02-10 18:17] metalogical commented on #11497
The fact that Kite doesn't see Spyder is a red herring - Kite's detection logic can fail in many cases, but it shouldn't otherwise affect the behavior of the integration.

It looks like [`psutil==5.2.2`](https://github.com/giampaolo/psutil/releases/tag/release-5.2.2) doesn't support any arguments for [`process_iter`](https://github.com/giampaolo/psutil/blob/c54a0f4/psutil/__init__.py#L1454). I thi

[2020-02-10 20:44] goanpeca commented on #11508
@qwang925 yes, this issue was introduced by the latest tornado package form the Anaconda Default Channels. We have already notified about the issue and a new package should be built soon (within some days?)

In the meantime you either install another version python like 3.7,

[code]

or if you definitely need 3.6 you could instal your packages from the conda-forge channel with:

[code]

[2020-02-10 20:46] goanpeca commented on #11026
Glad to hear it was solved!

[2020-02-10 20:47] goanpeca commented on #11026
Glad to hear it was solved @rhkarls !

[2020-02-10 20:48] goanpeca commented on #11512
@jontis could you provide the rest of the information that was requested on the issue template (when you first opened the issue?) Otherwise it is very difficult for us to debug the problem.

[2020-02-10 20:50] goanpeca commented on #11516
@jnsebgosselin what do you think?

[2020-02-10 20:54] qwang925 commented on #11508
@goanpeca Thank you for the quick response. If a solution could be found relatively soon, I would rather wait because I need some specific version of packages which might even introduce more issues (i.e. headache). Do you know how long it might takes to update the package, one week, one month, etc.? Thanks a lot!!

[2020-02-10 20:58] goanpeca commented on #11508
Doing this would work right away

[code]

Usually a couple of days. A week at most I would say.

[2020-02-10 20:59] goanpeca commented on #11513
@ahmad811 Spyder version 3.x is no longer maintained. Could you please update to Spyder 4?

Thanks!

[2020-02-10 20:59] #11513 closed

[2020-02-10 21:01] goanpeca commented on #11514
@dalthviz can you reproduce this one?

[2020-02-10 21:16] qwang925 commented on #11508
@goanpeca That's great! How may we be notified when the tornado package is updated, so we use Spyder "normally"? ^_^

[2020-02-10 21:36] goanpeca commented on #11497
@Supltz  you need to update your `psutil` package

[code]

We will add constraints to our dependencies so newer versions of spyder do not incur in this error

[2020-02-10 22:12] qwang925 commented on #11508
@goanpeca never mind. I will simply try it again one week later. Thank you for your help!!

[2020-02-10 22:19] ashwin-miriyala opened #11518 "Preferences crash"
## Description

### What steps will reproduce the problem?

Accessing Tools > Preferences causes the error message

### Traceback
[code]

## Versions

* Spyder version: 3.3.2
* Python version: 2.7.13
* Qt version: 5.7.1
* PyQt5 version: 5.7
* Operating System: Linux 4.14.79-v7+

### Dependencies

[code]

[2020-02-10 22:49] OverLordGoldDragon opened #11519 "'Show calltips' shortcut [Feature request]"
It's often intrusive when automated, as I need to refer to lines of code above or below the current one, which gets blocked once I open parenthesis of a function call. Having a `Ctrl + Space` for calltips would be useful.

[2020-02-10 23:27] bcolsen commented on #11502
I can confirm this in Ubuntu. Only the editor seems to steal focus.

[2020-02-10 23:31] bcolsen commented on #11504
Saving code folding state is mentioned in #8090(code folding unofficial epic). I'm closing as duplicate of #8090.

[2020-02-10 23:34] bcolsen commented on #11504
Sorry didn't see that it was labelled 4.2. @ccordoba12 can close if you want.

[2020-02-10 23:44] OverLordGoldDragon commented on #11026
To note, I verified time and again that the more the total lines of code in all files opened, the sooner the linter's functionality degrades - worst-case, [immediately](https://github.com/spyder-ide/spyder/issues/11506)

[2020-02-11 01:01] wenjiaxiao opened #11520 "代码补正email.mime包中函数及类时出错"
## Description

### What steps will reproduce the problem?

initialize a MIMEMultipart object from email.mime.multipart, 在代码补正msg.attach(MIMEText)中的MIMEText时报错，显示发生内部错误

### Traceback
[code]

## Versions

* Spyder version: 4.0.0
* Python version: 3.6.10
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-02-11 02:33] ccordoba12 commented on #11520
This is fixed in our latest version. Please update by opening the Anaconda Prompt and running there

    conda install spyder=4.0.1

[2020-02-11 02:33] #11520 closed

[2020-02-11 02:35] ccordoba12 commented on #11026
@OverLordGoldDragon, please don't start to comment in unrelated issues about your errors. Thanks!

[2020-02-11 02:37] ccordoba12 commented on #11504
Sorry, I didn't know this was already mentioned on issue #8090.

[2020-02-11 02:37] #11504 closed

[2020-02-11 02:39] ccordoba12 commented on #11518
This is fixed in Spyder 4. Please update.

[2020-02-11 02:39] #11518 closed

[2020-02-11 02:39] ccordoba12 commented on #11508
Closing because this can't be solved by us directly.

[2020-02-11 02:39] #11508 closed

[2020-02-11 02:44] OverLordGoldDragon commented on #11026
@ccordoba12 The linked issue _is_ directly related, if not a near-duplicate - I'm just adding information to a more active thread.

[2020-02-11 02:45] ccordoba12 commented on #11515
You need to update any Spyder third-party plugin you have installed (like spyder-notebook or spyder-memory-profiler), in order to fix this.

[2020-02-11 02:45] #11515 closed

[2020-02-11 03:21] JamesCipparrone commented on #11515
Thank you, Carlos! I appreciate your quick response. I'll update any third-party plugins (and their dependencies).

[2020-02-11 05:43] Reinaldo64 opened #11521 "Variables explorator"
## Description

### What steps will reproduce the problem?

CTRL-C in variables explorator after mark all. I want to list every variables, and your contained, for documment the program.

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.3
* Qt version: 5.12.4
* PyQt5 version: 5.12.3
* Operating System: Windows 10

### Dependencies

[code]

[2020-02-11 09:13] RainyRen commented on #11499
Hi, I met the same problem

Attribute Qt::AA_UseSoftwareOpenGL must be set before QCoreApplication is created.
Traceback (most recent call last):
  File "C:\Software\Anaconda3\lib\site-packages\spyder\app\mainwindow.py", line 3718, in main
    mainwindow = run_spyder(app, options, args)
  File "C:\Software\Anaconda3\lib\site-packages\spyder\app\mainwindow.py", line 3559, in run_spyder
    main.set

[2020-02-11 09:27] bilaljaved811 opened #11522 "ipython console not shwing run command"
## Description

### What steps will reproduce the problem?

when a run a specific cell (e.g import libarary to check it is imported or not) the ipythone not showning the output.It is running for long time continueslly

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]

[2020-02-11 09:54] AdrienMau opened #11523 "Lost file at crash."
## Description

### What steps will reproduce the problem?

Spyder crashed, or my laptop shutted down.
When reopening spyder i get a warning message that spyder does not load and i may need to reset.
I go to spyder installation folder and click spyder-reset.
Then... on opening of spyder, i realize my script file is now completely empty and i have lost three days of work.

## Versions

* Spyder ver

[2020-02-11 10:22] georgeblck opened #11524 "Spyder cannot find dependencies with Python 3.7.6"
## Description

### What steps will reproduce the problem?

1. conda create -n test37 python=3.7
2. conda activate test37
3. conda install spyder
4. spyder

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.11.2
* PyQt5 version: 5.11.3
* Operating System: Linux 4.18.0-25-generic

### Dependencies

[code]

[2020-02-11 11:09] DanyEle opened #11525 "Spyder 4.0.1 crashing after 2-3 hours"
## Problem Description

I'm a great fan of the Spyder IDE, and I've been using it for over a year now.

Yesterday, I got a new computer at my office and installed the latest version of Spyder, and Spyder 4.0.1 was automatically installed with the command:

`pip install spyder`

I've been using Spyder for the whole day yesterday, and after about 2-3 hours of intense usage the IDE completely got stu

[2020-02-11 11:09] georgeblck commented on #11524
Solved. Spyder was using the pip-installed qtconsole and not the conda-installed.
Once I uninstalled with pip spyder4 was working perfectly.

[2020-02-11 11:09] #11524 closed

[2020-02-11 12:51] hlouzada opened #11526 "Autocomplete dict error"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2020-02-11 13:10] AdrienMau commented on #10993
Had same issue installing with Anaconda.
Using `spyder --debug-info verbose --debug-output file` worked !
Thanks :)

[2020-02-11 13:15] jitseniesen commented on #11523
Your version of Spyder is quite old. From version 4, Spyder includes an autosave mechanism which should be able to recover from crashes, so please upgrade.

[2020-02-11 13:15] #11523 closed

[2020-02-11 13:30] dalthviz commented on #11447
Hi @pj1989, maybe some how your Anaconda installation required Administrator rights (for example for the location of the installation) and now anything launched from Anaconda inherits such privileges (at least at the integrity level). Maybe, as a test, you could try to launch something else like `Anaconda Navigator` and check if the python related processes end up having a high level on integrity

[2020-02-11 13:45] Supltz commented on #11497
@goanpeca
![0](https://user-images.githubusercontent.com/60577034/74241744-99e91f80-4d17-11ea-954a-06cc28b13777.png)
![1](https://user-images.githubusercontent.com/60577034/74241745-9b1a4c80-4d17-11ea-8d0e-111639da1f18.png)

still fails to launch

[2020-02-11 14:13] Supltz commented on #11497
Problem solved. Thanks a lot

[2020-02-11 14:25] MAFiA303 opened #11527 "deleting ariables from variable explorer"
## Description

### What steps will reproduce the problem?

create variable
a = 'a'
go to variable explorer
delete variable

### Traceback
[code]

## Versions

* Spyder version: 4.0.1
* Python version: 3.7.6
* Qt version: 5.9.6
* PyQt5 version: 5.9.2
* Operating System: Windows 10

### Dependencies

[code]